[2021-11-29 14:36] davinchia opened #8302 "Replace the Airbyte Version as a global deployment start up condition in OSS with per database minimum flyway migration versions."
* Consolidate the jobs and config database env vars.
* Replace the airbyte version as a blocking start up condition in the server with the config database minimum flyway version.

[2021-11-29 14:36] davinchia opened #8303 "Create separate Bootloader application to replace Server set up operations."
* Shift all start up operations in the server to a newly created server controller application.
* This application should run on docker and kube. In all deployments, the server will block until this application is complete.

[2021-11-29 14:36] davinchia opened #8304 "Add per database minimum flyway migration versions for Cloud server start up condition."
* The cloud server requires both cloud database and config database minimum flyway migration vars.

[2021-11-29 14:36] davinchia opened #8305 "Add Postgres advisory locks to each start up application to guarantee exactly once execution."
See https://docs.google.com/document/d/1qKt5K_Qw-_uZ07ZytUTzcBcrqkWISNg7gEglwyE_CVc/edit#bookmark=id.bddgyzklt849

[2021-11-29 14:53] alafanechere opened #8307 "🐛 Source Confluence: missing seed files"
Source Confluence connector is not available for users because it's not listed in `./airbyte-config/init/src/main/resources/seed/source_definitions.yaml`

[2021-11-29 14:56] sherifnada commented on #8300
@ogirardot could you download the full logs from the Airbyte UI and share them here to help us understand the full context of the failure?

[2021-11-29 14:58] davinchia opened #8309 "Create cloud controller application and import current cloud database set up."
All cloud database migrations were manually run.

In addition to creating the application that will run set up operations for Cloud, also make sure the already run migrations are imported.

[2021-11-29 15:23] #7072 closed

[2021-11-29 15:23] #7351 closed

[2021-11-29 15:28] #6208 closed

[2021-11-29 15:29] jrhizor commented on #7643
Sounds good to me. Maybe could have the icons greyed out and still have the drop down at the top of the sidebar (just without anything selected)

[2021-11-29 15:37] jrhizor commented on #8276
@harshithmullapudi this means that all configs imports are not working on Kubernetes right now?

[2021-11-29 15:37] ChristopheDuong commented on #8286
I've been trying to reproduce this setup but was unable to reproduce it:

[code]
Find below logs from the first time the sync is run (with log messages stating that tables are created from scratch)
[logs.log](https://github.com/airbytehq/airbyte/files/7619233/logs.log)

Then when running in incremental, the rows are updated with new inserts:
[logs.log](https://github.com/airbytehq/airbyte/files/76

[2021-11-29 15:40] jrhizor commented on #8276
Is this a duplicate of https://github.com/airbytehq/airbyte/issues/8231?

[2021-11-29 15:46] #8033 closed

[2021-11-29 16:08] ogirardot commented on #8300
sure,
[logs-451-1.txt](https://github.com/airbytehq/airbyte/files/7619439/logs-451-1.txt)

[2021-11-29 16:13] davinchia commented on #6417
@htrueman I'm not able to reproduce this.

I set up Stripe and BQ in prod and all my syncs have been successful.
<img width="1946" alt="Screen Shot 2021-11-30 at 12 13 03 AM" src="https://user-images.githubusercontent.com/9772859/143903048-342a4956-9428-4042-b5ed-753332a9d4a1.png">

[2021-11-29 16:13] davinchia commented on #6417
Were you seeing this on all syncs?

[2021-11-29 16:14] harshithmullapudi commented on #8276
@jrhizor but it works when I try again. Is this expected that trying multiple times will make it work ?

[2021-11-29 16:15] jrhizor commented on #6417
I'd also be curious to know if you're hitting max RAM, CPU, or disk space usage during your tests.

[2021-11-29 16:16] htrueman opened #8312 "[EPIC] Fix source catalog if there is fields without data points"
## Tell us about the problem you're trying to solve
We need to update all sources where we have fields without data points.
See https://github.com/airbytehq/airbyte/pull/8272 for reference.

## Describe the solution you’d like
In some cases we'll need to update configured catalogs, SAT config, or update the test data sample.

## Describe the alternative you’ve considered or used
We have an option

[2021-11-29 16:18] vitaliizazmic opened #8313 "Source Google Sheets: refactor to use the CDK"
The Google Sheets connector currently uses an old pattern, we should migrate it to use the new CDK. It's part of #6164.

## Describe the solution you’d like
see #6164 for clearer instructions

[2021-11-29 16:20] jrhizor commented on #8231
A few questions:
1. Does it work if you retry it?
2. Are there any error logs in the webapp Chrome Dev Tools console?
3. Can you share the server log surrounding the attempted import?

[2021-11-29 16:21] igrankova commented on #6348
We postpone the implementation:
Public Apps could be installed as modules for the 7 and 8th versions of Drupal if the instance is published on the cloud. Actually they do not provide the web app, we need to build our instance of Drupal framework somewhere on the cloud, publish it, and only then provide oauth clients (separate for each Drupal version) and support it as well if I understand correctl

[2021-11-29 16:24] jrhizor commented on #8258
What does "We create an other EC2 instance to do this upgrade" mean?

[2021-11-29 16:29] vladimir-remar commented on #8258
@jrhizor Hi! Thanks for the answer. We recreate the same image into another instance to mess around with the upgrades, since we wont to do the upgrade in prod.

[2021-11-29 16:36] #8290 closed

[2021-11-29 17:01] ChristopheDuong commented on #8028
it would have been helpful to see what data was picked up in `stargazers__dbt_tmp210240814249` (the query building that intermediate table could be found in the `logs/dbt.log` file

That table could have given clues on what would be deleted and re-inserted by:
[code]

But I still don't quite understand how you would end up with empty tables...

[2021-11-29 17:10] #7898 closed

[2021-11-29 17:33] #8062 closed

[2021-11-29 18:13] lmossman commented on #8276
@harshithmullapudi I'm having trouble reproducing this issue. Would you be able to attach your configuration archive file to this issue (as long as it does not contain any sensitive secret information)?

Also, which pod were you seeing the following log from?
[code]

[2021-11-29 18:35] vitaliizazmic opened #8315 "Source Microsoft Teams: refactor to use the CDK"
The Microsoft Teams connector currently uses an old pattern, we should migrate it to use the new CDK. It's part of #6164.

## Describe the solution you’d like
see #6164 for clearer instructions

[2021-11-29 18:54] harshithmullapudi commented on #1977
Closing this as we have added deployment doc. #7192

[2021-11-29 18:54] #1977 closed

[2021-11-29 21:06] vitaliizazmic opened #8318 "Source Recurly: refactor to use the CDK"
The Recurly connector currently uses an old pattern, we should migrate it to use the new CDK. It's part of #6164.

## Describe the solution you’d like
see #6164 for clearer instructions

[2021-11-29 21:12] lmossman opened #8319 "Set resource limits on containers pods to avoid pod eviction"
## Tell us about the problem you're trying to solve
See original oncall issue for details: https://github.com/airbytehq/oncall/issues/1

This issue is that containers `main`, `remote-stdin`, `relay-stderr`, `relay-stdout`, and `call-heartbeat-server` all do not have any resource requests, so when the node that these pods are scheduled on runs low on resources, these pods get evicted as they are al

[2021-11-29 21:21] #7849 closed

[2021-11-29 21:58] jrhizor commented on #8319
This seems pretty high prio since it can result in quite a few number of "sync stability" bugs if we're hitting capacity limits.

[2021-11-29 21:58] grubberr commented on #7373
Hello, @Mohmmadhd thank you for logs!
I have looked on logs
it looks like all data was synced sucessfully this time - no backoffs

Could you try to catch backoffs using this temp docker image `airbyte/source-zendesk-support:20211125-1`?

I want to investigate problem case

[2021-11-29 22:26] sherifnada opened #8321 "Source mixpanel: discovery command takes a very long time"
## Tell us about the problem you're trying to solve
When running discover, mixpanel takes a very long time to run compared to other connectors. I suspect this is because we have self-imposed rate limiting on all API calls to mixpanel. This causes the discovery operation in the Ui to be very slow.

## Describe the solution you’d like
I would like self-throttling to be skipped when running discover

[2021-11-29 22:28] sherifnada commented on #7668
I suggest we use the dockerfile as the single source of truth. and btw we don't need to do this for the `.json` file as they are no longer needed

[2021-11-29 22:51] sherifnada commented on #7897
@WarayutPeem we're looking into this issue this week and will have an update by EOW

[2021-11-29 22:51] sherifnada commented on #7897
assigning to @alexandr-shegeda for triage

[2021-11-29 23:03] sherifnada opened #8322 "Periodically run connection checks on all connectors in a workspace and notify of failure"
## Tell us about the problem you're trying to solve
Let's say I'm a user who setup a connector e.g: postgres successfully using SSH authenticaiton. Then, I change my firewall settings and accidentally now the connector i setup is invalid. I would like to receive a notification informing me that the connection check is no longer succeeding (perhaps trying it 2 or 3 times if it is failing to make su

[2021-11-29 23:32] #2730 closed

[2021-11-30 00:16] hbd commented on #2017
I tried running Airbyte on my M1 immediately after the fix was released, and things worked well. However, I just tried running for the first time since then and am seeing segfaults from temporal in latest (`v0.32.8-alpha`):
[code]

[2021-11-30 00:50] yu-iskw commented on #8033
@spacecowboy Thank you for solving the issue.

[2021-11-30 01:36] sherifnada opened #8324 "[EPIC] Add `title` and `description` properties to each field in connectors specifications and order input fields appropriately"
## Context
Each connector declares a `specification`, a json object which describes the inputs that this connector can take as input in order to run a sync. For example:

[code]

indicates that a connector takes in a username string in order to run.

Additionally, the description of each property can be enriched with the `title` and `description` attributes to produce a more user friendly experien

[2021-11-30 01:49] h7kanna commented on #2017
@hbd you can try to build temporal on Mac M1 see if it stabilize the run

[code]

[2021-11-30 04:38] harshithmullapudi opened #8326 "Source Trello: Pull data only for configured board_ids"
Pull data only for those board_ids which are passed in the config,

[2021-11-30 04:54] PVMer commented on #7558
@sherifnada @avida @ChristopheDuong Here is the full sync log as requested.

[logs-2912-0 .txt](https://github.com/airbytehq/airbyte/files/7623029/logs-2912-0.txt)

[2021-11-30 04:56] danieldiamond commented on #8286
### first sync dbt.log
[code]

### second (incremental) sync dbt.log
[code]

<img width="762" alt="Screen Shot 2021-11-30 at 3 49 22 pm" src="https://user-images.githubusercontent.com/33811744/143987522-edde340f-4f34-4701-af2d-bdd351681031.png">

[2021-11-30 04:57] danieldiamond commented on #8286
@ChristopheDuong you can see in the logs i posted earlier the INSERT logs from dbt showing 0 records inserted

[2021-11-30 06:28] grubberr opened #8328 "🐛 Source Hubspot: remove 'skip_dynamic_fields' config param"
## Tell us about the problem you're trying to solve
In the current connector implementation, we have code logic that filters out ALL `hs_time_in_*` timestamp fields from connector output. This feature is only used to make Source Acceptance Tests - to pass. We use `spec.json` parameter `skip_dynamic_fields: true` to force the connector to filter out timestamp fields. In reality, we don't need all t

[2021-11-30 06:55] asyarif93 opened #8330 "🐛 Source Zendesk Support: [ticket stream] "via" fields not extracted properly after normalization"
## Enviroment
- **Airbyte version**:  0.30.20-alpha
- **OS Version / Instance**: Amazon Linux / EC2 t3a.large
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: Zendesk Support 0.1.8
- **Destination Connector and version**: Bigquery 0.4.1
- **Severity**: Medium
- **Step where error happened**: When Look table result

## Current Behavior
in table `tick

[2021-11-30 07:08] #6917 closed

[2021-11-30 08:09] andriikorotkov commented on #7897
@WarayutPeem, could you change the version of the mongodb source to the latest? 0.1.8 should work stably.

[2021-11-30 08:21] ChristopheDuong commented on #8286
yes, I saw that the final insert is processing 0 rows.

The question is then what is the content of intermediate queries or temporary tables `search_analytics_by_page__dbt_tmp215452545898` and `search_analytics_by_page__dbt_tmp215639087673` tables? (not the SQL query itself, but what data do they return?)

That's why I want to see a comparison of data in your raw tables vs final tables.

in your s

[2021-11-30 08:32] danieldiamond commented on #8286
just ran that above SQL
all CTEs work _except_ that final WHERE clause
i.e.
[code]
will cause that query to return nothing. guessing by looking at it that because `search_analytics_by_page` is empty, `_airbyte_emitted_at` > NULL = NULL

[2021-11-30 08:35] ChristopheDuong commented on #8286
I see, so if you delete completely the table `search_analytics_by_page` (by dropping it, not truncating it), your sync should work.

But if the table is empty, the incremental does not work because of `_airbyte_emitted_at > NULL = NULL`.
(unless we tweak the incremental clause to handle empty tables)

[2021-11-30 08:40] ChristopheDuong commented on #8286
Ok, I reproduced and confirmed it locally, I will make a PR to handle cases when the destination table already exists and is empty.

Workaround for the moment is to drop the final table in the meantime.

Thanks for your help!

[2021-11-30 08:43] danieldiamond commented on #8286
thank you! handling empty tables is definitely the right move but future work, I wonder if `reset` connector should be reconsidered as this situation reminds me of previous issues relating to SCD tables not being dropped i.e. https://github.com/airbytehq/airbyte/issues/5417

[2021-11-30 08:47] spacecowboy commented on #8231
1. Retried multiple times. Sometimes I drag n dropped, sometimes I browsed to the file. No difference
2. Couldn't see anything but I may not have looked in the right place
3. No I've already nuked it. The delay between actions because it needs to spin up new pods for every little thing made it completely unusable. I've since moved to a single dedicated GoogleCompute instance and that actually work

[2021-11-30 08:48] ChristopheDuong commented on #8286
Yes, you are right the reset implementation does introduce some edge cases here and there...

[2021-11-30 08:48] spacecowboy commented on #8033
Thanks ;D but it was actually @jrhizor that solved it.

[2021-11-30 08:49] spacecowboy commented on #8033
But I can confirm that the fix will work - it's what I did locally to workaround it

[2021-11-30 08:57] alafanechere commented on #8300
Thanks @ogirardot for opening the issue, I allowed myself to edit the issue a bit. @sherifnada I added this to GL Python Backlog, let me know if I should not do this.

[2021-11-30 09:05] harshithmullapudi commented on #8330
Hey @asyarif93 I think the problem here is because the schema doesn't have the ref https://github.com/airbytehq/airbyte/blob/c97fe680bf6c01e92755584ccb63d753014e2e51/airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/tickets.json#L119. The fix I think would be to provide the required object here.

[2021-11-30 09:07] ChristopheDuong commented on #8028
I am guessing, there was some "reset tables" involved in this scenario.

And so the issue boils down to the table being empty and breaking the incremental clause as discussed here https://github.com/airbytehq/airbyte/issues/8286#issuecomment-982402024

[2021-11-30 09:10] asyarif93 commented on #8330
I bit not understand, doesn't via have ref to [via_channel](https://github.com/airbytehq/airbyte/blob/c97fe680bf6c01e92755584ccb63d753014e2e51/airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/tickets.json#L120)? and there's via_channel file in `schema/shared`

[2021-11-30 09:34] arniwesth opened #8331 "Source Google Ads: Add network fields to Click View stream"
## Tell us about the problem you're trying to solve
Get more fields for `[Google Ads](https://docs.airbyte.io/integrations/sources/google-ads) Click View`

## Describe the solution you’d like
I need these additional fields in the `Google Ads Click View`:
[code]

## Describe the alternative you’ve considered or used
Making a custom `GAQL` does not seem to be a feasible solution as `click_view` requ

[2021-11-30 09:40] alafanechere commented on #8236
Hi @monai I add the `area/connectors` tag because I'd like to investigate to what extent this could be related to the connector implementation or if it comes from  the basic normalization process itself.

[2021-11-30 09:41] Jamakase commented on #8060
@sherifnada UI shouldn't exclude empty fields to be sent to the backend. It is a backend problem, where empty string is assumed as a not correct value. If we start to exclude empty strings - it may break some other connectors.

[2021-11-30 09:56] alafanechere commented on #8227
Hi @JD-V our source file connector nor S3 connector supports STS sessions. I'm not sure offering the user to fill a `aws_session_token` field would be the right approach as STS session are temporary and it will lead to a broken source if the user does not update the token manually. I'd suggest to ask for an enhancement on the S3 connector to make it support assume role mechanism as it is made in o

[2021-11-30 09:59] alafanechere commented on #8227
This is closely related to the following issue: https://github.com/airbytehq/airbyte/issues/5942

[2021-11-30 10:03] Jamakase commented on #8060
Actually it also looks like there is some issue on backend here: I tried to call it with the same schema and it looks like it passes validation step as with `end_date: ""` I get check_connection failure with `message: "Check Connection Failed!"
`

`2021-11-30 10:01:19 INFO TemporalAttemptExecution(get):116 - Executing worker wrapper. Airbyte version: 0.32.8-alpha-cloud`

[2021-11-30 10:10] harshithmullapudi commented on #8330
Oops my bad. Yeah I could see the file. I just tried reproducing this issue. When I tried this

1. Create new source - Zendesk support
2.  Create a new connection with bigquery as destination, tickets from the catalog and basic normalisation
3. I could see `tickets` and `tickets_via` tables created and I am able to see that data.

[2021-11-30 10:14] alafanechere commented on #5942
Just to add my knowledge around role propagation on EKS clusters: A mapping between a K8S Service account and an AWS role is possible by using OpenID Connect (OIDC) identity providers. AWS calls this IRSA (IAM role for Service Account). How to set this up is well documented [here](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html)

Users could add the `eks.amazon

[2021-11-30 10:22] asyarif93 commented on #8330
this is odd. I'll try to make separate connection. to replicate my issue

[2021-11-30 10:28] danieldiamond commented on #8326
All streams _expect_ the parent `board` stream pull the correctly filtered data associated with custom board_ids. It is the parent stream `board` that does not. This issue is to address the parent stream that still pulls _all_ boards

[2021-11-30 10:36] alafanechere commented on #8165
The source indeed returns a message from a stream `test-appstore-sales_report` which is not part of the destination catalog. @dbhagen does your problem persists when re-creating your connection?

[2021-11-30 11:02] salemsalleh opened #8333 "New Source: Personio"
## Tell us about the new connector you’d like to have
* Which source and which destination?
  * I would like to have a connector to the [Personio API](https://developer.personio.de/).
  * Any destination, e.g. Postgres

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
  * The most recent version.

## Describe t

[2021-11-30 11:08] harshithmullapudi commented on #8241
@alafanechere do you think this https://github.com/airbytehq/airbyte/issues/8330 is also same?

[2021-11-30 11:09] alafanechere commented on #3076
To add more details to @merlixo which who I add the opportunity to have a detailed discussion on [slack](https://airbytehq.slack.com/archives/C01MFR03D5W/p1637660475360200).

1. @merlixo wants the Airbyte's egress traffic to go through a custom proxy
2. He's set up the docker client (v20.10.11) to use an http proxy (docker config attached below)
3. He realized the `airbyte-server` egress traffic i

[2021-11-30 11:12] ChristopheDuong commented on #8236
This is probably related to https://github.com/airbytehq/airbyte/issues/8286#issuecomment-982402024

Please see the linked comment for workaround while waiting for a fix

[2021-11-30 11:16] ChristopheDuong commented on #8240
Sounds like this would need a bug fix on dbt repository

[2021-11-30 11:17] ChristopheDuong commented on #8241
we don't support $ref / $defs in airbyte json schema, so normalization does not support that either

The source should resolve and inline the full json into the catalog

[2021-11-30 11:47] ChristopheDuong opened #8334 "Include ref hints in normalization when un-nesting"
## Tell us about the problem you're trying to solve
When running normalization, we generate models and include some hints for dbt at the top of the file:
-- depends_on: {{ ref('plans_scd')

## Describe the solution you’d like
but it should also include
-- depends_on: {{ ref('plans') too
in that same model

## Describe the alternative you’ve considered or used
Use custom dbt transformation with add

[2021-11-30 12:02] #8241 closed

[2021-11-30 12:49] alexandertsukanov opened #8336 "Destination Snowflake and RedShift: Implement the Byte-buffered logic for splitting chunks"
## Tell us about the problem you're trying to solve
We need to implement **byte-based buffering** of records rather than **record-number-based buffering** for the Snowflake and RedShift in case `S3StreamCopier` or `GcsStreamCopier` is used. This makes the connector much more resilient to pathological data like very wide rows. This fix should be applied to both INSERT and Bulk sync mode if it is no

[2021-11-30 13:05] coquej commented on #7404
Hi, my case is exacty the same as @freesmith. Thanks!

[2021-11-30 13:06] avida commented on #8282
## This is investigation of Facebook marketing performance issue based on logs provided by customer.

Here is plot built based on amount of records produced through the running read operation:

![chart](https://user-images.githubusercontent.com/437607/144052665-75ca9731-2032-4d94-b12d-60ffb33187c4.png)
On x axis is the time of operation and on y axis is total record count. vertical dotted red line

[2021-11-30 13:17] ycherniaiev opened #8337 "Instagram Source Connector:Authenticate button does not work"
## Steps to reproduce:
Choose Instagram Source and press "Authenticate" button

## Current Behavior
Nothing happens.
Client ID is not added to config:
![image](https://user-images.githubusercontent.com/94798230/144054125-b463b751-fd5c-452a-b1c3-841b63aa1fe9.png)

## Expected Behavior
You are redirected to Consent Screen

[2021-11-30 13:20] #7965 closed

[2021-11-30 14:29] monai commented on #8241
Well, actually, Airbyte **does support** `$ref`'s to other files. Referenced schemas are inlined under and $`ref`s point to `/definitions/{filename}`.

See the documentation:
https://docs.airbyte.io/connector-development/cdk-python/schemas#static-schemas

[2021-11-30 15:01] jrhizor commented on #8322
Are alerts on sync failures insufficient for this purpose?

[2021-11-30 15:09] ChristopheDuong commented on #8090
related to https://github.com/airbytehq/airbyte/issues/3365

[2021-11-30 15:10] andriikorotkov commented on #7871
Liren added changes that fix this error in his pull request - https://github.com/airbytehq/airbyte/pull/8308

[2021-11-30 15:10] #7871 closed

[2021-11-30 16:02] #7674 closed

[2021-11-30 16:02] #8289 closed

[2021-11-30 16:43] nataliekwong opened #8339 "Airbyte-cancelled syncs show as successsful"
## Tell us about the problem you're trying to solve
A connection shows up as successful on the "Connections" page despite having never succeeded. This is misleading to the end user as it indicates that the connection is successful at a glance, but when looking into the sync history, it shows as never having been successful. This causes latency in raising issues with connectors.

## Describe the so

[2021-11-30 17:16] andriikorotkov commented on #6544
@JCWahoo, could you please provide more details so that we can improve this for you? Our team tested the new changes on multiple mongodb databases with multiple collections and different field types. At the moment, we see an acceleration of work at the moment of receiving collections and their fields. I provide a video on which you can see how fast it works. The test was carried out on a database

[2021-11-30 17:22] JCWahoo commented on #6544
Yes, I provided those stats previously. The database has around 40-50 collections, some of which have upwards of 100mm records. The old connector returns schema in ~60-90 seconds. The new connector returns schema in around 30 minutes if at all. When looking on the Mongo side the new connector appears to parse the entire collection for schema discovery as opposed to just a  10,000 record sample. I

[2021-11-30 17:39] jrhizor opened #8340 "horizontal scroll when viewing logs in the UI is jumpy while sync is running"
If the sync is running and you are scrolled to the right, when it refreshes it jumps back to the left.

Relatively minor bug but kind of annoying.

[2021-11-30 17:39] lmossman commented on #8258
Another user experiencing a similar issue: https://airbytehq.slack.com/archives/C01MFR03D5W/p1637706856376500

[2021-11-30 17:41] marcosmarxm commented on #8258
I request to @vladimir-remar to remove manually the custom connection and test again, to narrow down the problem.

[2021-11-30 17:50] lmossman commented on #8258
For both users, it looks like these are the last log lines before the server restarts:
[code]

[2021-11-30 18:09] #7656 closed

[2021-11-30 18:09] kyle-cheung commented on #7656
resolved with 0.32.8-alpha

[2021-11-30 18:22] #7967 closed

[2021-11-30 18:24] jrhizor opened #8341 "remove EntrypointEnvChecker"
In the connectors codebase, both the `AbstractSourceConnectorTest` and `DestinationAcceptanceTest` use the `EntrypointEnvChecker` to check if the docker image contains the correct entrypoint.

Absolutely zero of the logic in `EntrypointEnvChecker` is actually used in retrieving the env variable in production. This is also the only place where there is a dependency on the `ProcessFactory` in connec

[2021-11-30 18:41] nikhilalmeida commented on #6043
Just following up on this.

[2021-11-30 18:56] sherifnada commented on #8322
Good point. I guess the problem here is that the user hadn't setup alerting. I wonder if we should setup email alerting by default, at least on cloud.

[2021-11-30 21:15] sherifnada opened #8344 "Hubspot: Support incremental sync on all possible streams"
## Tell us about the problem you're trying to solve
The Hubspot API supports incremental sync for many more objects than we currently offer via our connector. Many streams (e.g: `products`) are using full refresh sync when they could be doing incremental.

## Describe the solution you’d like
1. Find which streams can support incremental sync
2. Support incremental sync for as many as possible

[2021-11-30 21:28] #8328 closed

[2021-11-30 21:43] nwayne94 opened #8346 "New Source: Google My Business"
## Tell us about the new connector you’d like to have
Google My Business --> S3 and/or Redshift

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data?
Our marketing team currently uses Google My Business to keep track of the various locations we service. This integration would allow us to pull My Business data into our data

[2021-11-30 21:54] nwayne94 opened #8347 "New Source: Quora Ads"
## Tell us about the new connector you’d like to have
* Which source and which destination?
Quora Ads --> S3 and/or Redshift

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data? This helps us understand the use case.
Our marketing team currently advertises on Quora, along with various other platforms. Each platform presen

[2021-11-30 22:07] nwayne94 opened #8348 "New Source: LinkedIn Pages"
## Tell us about the new connector you’d like to have
* Which source and which destination?
LinkedIn Pages --> S3 and/or Redshift

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data?
The current LinkedIn Ads connection appears to give us most of what we need, but does not appear to output a data stream for Page metrics. O

[2021-11-30 22:13] nwayne94 opened #8349 "New Source: Google AdSense"
## Tell us about the new connector you’d like to have
* Which source and which destination?
Google AdSense --> S3 and/or Redshift

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data?
Our marketing team currently uses Google AdSense along with various other platforms. Each platform presents its data through its own method

[2021-11-30 23:05] zestyping commented on #8274
Hi, thank you!  I did make a mistake in reporting the version number (because I had outstanding changes and got confused).  After upgrading, the issue is gone.  Apologies for taking your time!

[2021-11-30 23:05] #8274 closed

[2021-11-30 23:42] lmossman commented on #8258
@vladimir-remar we suspect that the issue here is that the size of the data in your jobs database is too large to upgrade. Could you verify for us the size of your job data? You can do this by exporting your config and checking the size of the file that is generated, or by counting the number/size of rows in your jobs database.

[2021-12-01 00:03] marcosmarxm opened #8353 "Source Shopify throw`AssertionError: Mismatched number of tables` during normalization"
## Enviroment
- **Airbyte version**:  0.32.8-alpha
- **OS Version / Instance**: macOs
- **Deployment**: Docker
- **Source Connector and version**: Shopify 0.1.24
- **Destination Connector and version**: Postgres 0.3.12
- **Severity**: Very Low / Low / Medium / **High** / Critical
- **Step where error happened**: Deploy / **Sync job** / Setup new connection / Update connector / Upgrade Airbyte

##

[2021-12-01 00:26] chriestensonb commented on #7286
@lazebnyi Apologies for the delay.  I have upgraded and used the (0.1.1-rc) for the Marketo connector.  The additional logs are very helpful.  This issue is about two things, so I have addressed both in different sets of logs.

1.  The original issue where we saw a KeyError, and believed it was related to hitting the daily limits on the API.  Now the logs show this `Export daily quota 500MB exceed

[2021-12-01 01:35] asyarif93 commented on #8330
<details>
<summary>Old Connections</summary>

[code]

</details>

[2021-12-01 01:42] asyarif93 commented on #8330
I tried to make new connection by creating new source, with same destination (different prefix). via fields is no longer null and tickets_via table is created. I'm still puzzled why in old connection it doesn't write query properly.

<details>
<summary>Old Connections Log</summary>

[code]

</details>

<details>
<summary>New Connections Log</summary>

[code]

</details>

[2021-12-01 01:52] asyarif93 commented on #8330
I think catalog.json created by source previous version might have been broken. solution might be updating schema. However in current ui, updating schema means sync from scratch (something I want to avoid)

[2021-12-01 04:06] davinchia opened #8358 "Modify Cloud builds to run tests against a live GKE cluster."
## Tell us about the problem you're trying to solve
Today we run tests against a local kube cluster. However this does not fully reproduce the cloud environment. This has lead to regressions when modifying helm vars.

This ticket is modifying the Cloud test set up to easily run against local and Cloud envs. Partially exploratory since I haven't put much thought into this yet.

[2021-12-01 06:30] akkisapra opened #8359 "NetSuite data connectors"
## Tell us about the new connector you’d like to have
* Which source and which destination?:
source: Netsuite, Destination: S3, Databricks

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
 Version 2021.2

## Describe the context around this new connector
* Why do you need this integration? How does your team i

[2021-12-01 07:13] igrankova opened #8361 "Update fields in source-connectors specifications: drift, harvest, hubspot, intercom, notion, monday, microsoft-teams, bing-ads, snapchat-marketing"
Add title and description properties to each field in source-connectors specifications:
source-drift
source-harvest
source-hubspot
source-intercom
source-snapchat-marketing
source-bing-ads
source-microsoft-teams
source-monday
**source-notion** - _tests do not work, will be processed separately_

[EPIC] Add title and description properties to each field in connectors specifications and order input

[2021-12-01 07:18] igrankova opened #8363 "Update fields in source-connectors specifications: smartsheets, square, strava, tiktok-marketing, typeform, zendesk-chat, clickhouse-strict-encrypt, zendesk-talk, airtable, amazon-seller-partner"
Add title and description properties to each field in source-connectors specifications:
source-smartsheets
source-square
source-strava
source-tiktok-marketing
source-typeform
source-zendesk-chat
source-clickhouse-strict-encrypt
**source-zendesk-talk** - _editing not needed_
**source-airtable** - _didn't appear in the source types list after the build_
**source-amazon-seller-partner** - _the title

[2021-12-01 07:22] igrankova opened #8364 "Update fields in source-connectors specifications: amplitude, apify-dataset, appstore-singer, aws-cloudtrail, azure-table, bigcommerce, bigquery, braintree, cart, chargebee"
Update fields in source-connectors specifications:

source-amplitude
source-apify-dataset
source-appstore-singer
source-aws-cloudtrail
source-azure-table
source-bigcommerce
source-bigquery
source-braintree
source-cart
source-chargebee

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2021-12-01 07:41] igrankova opened #8365 "Update fields in source-connectors specifications: cockroachdb-strict-encrypt, commercetools, confluence, db2, db2-strict-encrypt, delighted, dixa, e2e-test, exchange-rates, facebook-marketing"
Add title and description properties to each field in source-connectors specifications:
source-cockroachdb-strict-encrypt
source-commercetools
source-confluence
source-db2
source-db2-strict-encrypt
source-delighted
source-dixa
source-e2e-test
source-exchange-rates
source-facebook-marketing

[EPIC] Add title and description properties to each field in connectors specifications and order input field

[2021-12-01 07:45] igrankova opened #8366 "Update fields in source-connectors specifications: file, file-secure, freshdesk, github, google-directory, google-workspace-admin-reports, instagram, iterable, kafka, klaviyo"
Add title and description properties to each field in source-connectors specifications:
source-file
source-freshdesk
source-github
source-google-directory
source-google-workspace-admin-reports
**source-instagram** - _no changes needed_
source-iterable
source-kafka
**source-klaviyo** - _no changes needed_

[EPIC] Add title and description properties to each field in connectors specifications and or

[2021-12-01 07:54] igrankova opened #8367 "Update fields in source-connectors specifications: kustomer-singer, lemlist, linnworks, looker, marketo, mixpanel"
Add title and description properties to each field in source-connectors specifications:
source-kustomer-singer
source-lemlist
source-linnworks
source-looker
source-marketo
source-mixpanel

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2021-12-01 07:57] igrankova opened #8368 "Update fields in source-connectors specifications: mssql-strict-encrypt, mysql, mysql-strict-encrypt, onesignal, oracle, oracle-strict-encrypt, outreach, paystack, pipedrive, pokeapi"
Add title and description properties to each field in source-connectors specifications:
**source-mssql-strict-encrypt** - _java connector, should be updated separately_
source-mysql
**source-mysql-strict-encrypt** - _java connector, should be updated separately_
source-onesignal
source-oracle
**source-oracle-strict-encrypt** - _java connector, should be updated separately_
source-outreach
source-p

[2021-12-01 08:00] igrankova opened #8369 "Update fields in source-connectors specifications: postgres, postgres-strict-encrypt, posthog, recurly, redshift, relational-db, s3, salesforce, salesloft"
Add title and description properties to each field in source-connectors specifications:
source-postgres
**source-postgres-strict-encrypt** - _java connector, should be updated separately_
source-posthog
**source-recharge** - _should be updated separately_
source-recurly
source-redshift
**source-relational-db** - _java connector, should be updated separately_
**source-s3** - _no changes needed_
sou

[2021-12-01 08:03] igrankova opened #8370 "Update fields in source-connectors specifications: sentry, shortio, stripe, surveymonkey, tempo, trello, us-census, zenloop"
Add title and description properties to each field in source-connectors specifications:
source-sentry
source-shortio
source-stripe
source-surveymonkey
source-tempo
source-trello
source-us-census
source-zenloop

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2021-12-01 09:40] vladimir-remar commented on #8258
@lmossman quick update: the size of the `JOBS.yaml` is 185.2 MB
@marcosmarxm I'm removing the custom connectors now, so I need some time to make it work.

[2021-12-01 09:44] monai commented on #8236
I can confirm that workaround to remove the deduped table, and rerun sync works for me.

[2021-12-01 09:51] igrankova opened #8372 "Update fields in source-connectors specifications: quickbooks-singer"
Add title and description properties to each field in source-connectors specifications:
source-quickbooks-singer

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2021-12-01 09:53] igrankova opened #8373 "Update fields in source-connectors specifications: zendesk-sunshine, amazon-ads, amazon-sqs, appsflyer, appsflyer-singer, asana, bamboo-hr, close-com, cockroachdb, facebook-pages"
Add title and description properties to each field in source-connectors specifications:
source-zendesk-sunshine
source-amazon-ads
source-amazon-sqs
source-appsflyer
source-appsflyer-singer
source-asana
source-bamboo-hr
source-close-com
source-cockroachdb
source-facebook-pages

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriatel

[2021-12-01 09:56] #8236 closed

[2021-12-01 09:58] igrankova opened #8374 "Update fields in source-connectors specifications: freshsales"
Add title and description properties to each field in source-connectors specifications:
source-freshsales

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2021-12-01 10:00] igrankova opened #8375 "Update fields in source-connectors specifications: pardot, plaid, prestashop, python-http-tutorial, scaffold-java-jdbc, scaffold-source-http, scaffold-source-python, sendgrid, slack, stock-ticker-api-tutorial"
Add title and description properties to each field in source-connectors specifications:
source-pardot
source-plaid
source-prestashop
source-python-http-tutorial
source-scaffold-java-jdbc
source-scaffold-source-http
source-scaffold-source-python
source-sendgrid
source-slack
source-stock-ticker-api-tutorial

[EPIC] Add title and description properties to each field in connectors specifications and o

[2021-12-01 10:02] igrankova opened #8376 "Update fields in source-connectors specifications: twilio, woocommerce, youtube-analytics, zoom-singer, zuora"
Add title and description properties to each field in source-connectors specifications:
source-twilio
source-woocommerce
source-youtube-analytics
source-zoom-singer
source-zuora

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2021-12-01 10:09] schlattk opened #8377 "Add ability to change start date"
Currently once a source has been set up, changing the time from when the sync starts doesn't affect the sync process, without doing a complete data reset. It would be beneficial to have the ability to go back further in time without having to do that.

[2021-12-01 11:30] VitaliiMaltsev commented on #6871
Can not reproduce at the moment
I believe this issue was fixed in scope of https://github.com/airbytehq/airbyte/pull/7288
@tuliren please verify

[2021-12-01 11:35] ChristopheDuong opened #8379 "Forward dbt.log to airbyte's logs outputs when normalization fails"
## Tell us about the problem you're trying to solve
When normalization fails to complete successfully, we usually need to inspect more than the airbyte worker's logs (or normalization worker).

Depending on the errors, it might be useful to have a look at:
- the more detailed log file dbt.log
- the SQL model file that failed to compile or run by dbt / destination
- the catalog.json to see how norm

[2021-12-01 12:23] yurii-bidiuk commented on #5712
The following integration tests are failed on the normalization phase with error like: _invalid datetime '1/1/2021'_:
[code]
`MSSQLDestinatuionAcceptanceTest.testSyncWithNormalization `-> normalization returns `null` for values when value couldn't be normalized

These two tests are failed with the message like: _Invalid format: "20210101T0930" is malformed at "30"_. It should be fixed on  the Java

[2021-12-01 14:17] mkhokh-33 opened #8384 "[EPIC] Docker image version for testcontainers in integration tests"
## Tell us about the problem you're trying to solve
 Some integration tests create db test containers with specified version, like mysql for example : "mysql:8.0"
 Some of them no like cockroach "cockroachdb/cockroach" in this case the latest version were taken
  If the latest version will be taken we can face a situation when the latest changes will fail integration tests
 We need to check all co

[2021-12-01 15:18] heinhofman opened #8387 "Source Google Search Console: possibility to work with Domain Property"
## Tell us about the problem you're trying to solve
When using a [Domain Property](https://support.google.com/webmasters/answer/10431861) in Google Search Console I'm unable to add this to the configuration of the Airbyte Source Connector.

## Describe the solution you’d like
Instead of the possibility to only add [URL-prefix property](https://support.google.com/webmasters/answer/10432366), I woul

[2021-12-01 16:39] alafanechere opened #8389 "CI sandbox for Rockset"
We'd need an integration account for the [Rockset](https://rockset.com/) service which is a new destination added by https://github.com/airbytehq/airbyte/pull/8006

[2021-12-01 16:54] #8389 closed

[2021-12-01 16:58] htrueman commented on #6417
l the same as described above and still get the same error [logs-28-0.txt](https://github.com/airbytehq/airbyte/files/7635761/logs-28-0.txt). IDK, perhaps it's my local issue or smth.
I've used both stripe and bq creds from our LastPass acount.

[2021-12-01 17:00] connor-napster commented on #7900
Whats the best way to push this along?

[2021-12-01 17:34] davinchia opened #8393 "Explore replacing env vars with config files."
## Tell us about the problem you're trying to solve
As Airbyte configurability grows, it is becoming more and more unwieldy to use env vars.

The main issue here is that the env var file becomes a mess and it's tough to read/understand what is going on .

## Describe the solution you’d like
We should
- move to config files.
- with the option to override with env vars, if needed.

## Describe the a

[2021-12-01 17:37] sherifnada commented on #7558
appears to be the same issue as in #4975

[2021-12-01 17:37] sherifnada commented on #4975
same issue happening [here](https://github.com/airbytehq/airbyte/issues/7558) : [logs-2912-0 .txt](https://github.com/airbytehq/airbyte/files/7623029/logs-2912-0.txt)

[2021-12-01 17:39] sherifnada commented on #5989
@ChristopheDuong can this be closed?

[2021-12-01 17:41] sherifnada commented on #8061
wrote out some thoughts here. Next steps are to implement this functionality in a place and document its usage. https://docs.google.com/document/d/1HdsL6SZFzHmsvnW3OWN4dX7XMhnMjLACBtoaqeYAocQ/edit

[2021-12-01 17:48] ChristopheDuong opened #8396 "Improve tracking of sync failure to be more granular / explicit"
## Tell us about the problem you're trying to solve
we need better failure / success tracking.
When failing, we need more info on why it's happening in order to build a quality KPI dashboard (see https://github.com/airbytehq/airbyte/issues/8061)

[2021-12-01 17:52] benmoriceau opened #8397 "Make one test to use the new integration annotations"
## Tell us about the problem you're trying to solve
Move one acceptance test to the new annotations system.

@lmossman wrote [an acceptance test](https://github.com/pulls) that could be a good candidate to use the new integration test actions it needs:
- We need to check if we will need to run a docker compose up in prior to running the test or if the test itself can setup the needed test containe

[2021-12-01 17:54] #5989 closed

[2021-12-01 17:56] Phlair opened #8399 "Get Google Sheets connector on cloud"
High priority for availability on cloud.

Based on [priorities here](https://docs.google.com/spreadsheets/d/1JvWV7IAG6fgElO7zP3HyDgdPQLCAIqNcgT_JJJjdC7A/edit#gid=0), key targets are Google Sheets and Shopify. Other connectors will be benched for now.

[2021-12-01 18:04] #7423 closed

[2021-12-01 18:09] sherifnada opened #8400 "[EPIC] Metrics tracking for connectors"
Issues derived from google document: [Measuring Connector Reliability](https://docs.google.com/document/d/1HdsL6SZFzHmsvnW3OWN4dX7XMhnMjLACBtoaqeYAocQ/edit#)

## context
- [x] #8638

## Security

- [x] https://github.com/airbytehq/airbyte/issues/7881
- [ ] https://github.com/airbytehq/airbyte/issues/3513

## Data Integrity

- [ ] https://github.com/airbytehq/airbyte/issues/8587
- [ ] https://githu

[2021-12-01 18:09] #8061 closed

[2021-12-01 18:16] davinchia commented on #6417
@htrueman were you running this locally?

[2021-12-01 18:19] alafanechere opened #8401 "CI Sandbox My Hours"
We'd need an integration account for [MyHours](https://myhours.com/) to test this community contribution: https://github.com/airbytehq/airbyte/pull/8270

[2021-12-01 18:29] yevhenii-ldv commented on #6941
Hi @harshithmullapudi!
I investigated this issue and found that the error is not reproducible at this point in time (I used the `Iterable` connector version `0.1.13`).
In the older version (namely, the one that you indicated as used) for streams with the `email_` prefix, the Primary Key was indicated as `id`, but in version `0.1.9` this was fixed, and now there should not be a similar problem.
Cou

[2021-12-01 18:42] #8321 closed

[2021-12-01 18:50] marcosmarxm commented on #4938
I'll close this due inactivity, @chautran0608 if you still facing the issue please upgrade your Airbyte instance and connector to latest version.

[2021-12-01 18:50] #4938 closed

[2021-12-01 18:54] marcosmarxm commented on #2031
Closing this because HTTP Source is deprecated

[2021-12-01 18:54] #2031 closed

[2021-12-01 19:46] tuliren opened #8404 "Improve database usability by providing better feedback of invalid inputs"
Need scoping.

[2021-12-01 20:35] zestyping commented on #5165
Hey @sherifnada, I'm sorry I never got around to responding to your comment!

It turns out we are running into exactly the issue you predicted now, because we want to write a custom GAQL query on a table that happens not to have a `segments.date` field to use as a cursor.  Because `insert_segments_date_expr` always inserts some expressions involving `segments.date`, the GAQL query won't run in thi

[2021-12-01 21:15] #5277 closed

[2021-12-01 21:38] sherifnada opened #8406 "Enable staging GCS loads on the BigQuery denormalized destination"
## Tell us about the problem you're trying to solve
It's well known that GCS staging loads to bigquery are much more performant (10x or more at times) than `INSERT` statements. While our Bigquery destination supports this, our Denormalized BigQuery destination does not. This ticket is concerned with supporting GCS staging uploads for the BigQuery Denormalized destination.

## Acceptance Criteria
T

[2021-12-01 21:54] sherifnada commented on #8209
@zbrak for the second sync, I'm not seeing any exceptions in the logs? Could you say more about what you're seeing?

[2021-12-01 22:40] #8286 closed

[2021-12-01 22:40] #8028 closed

[2021-12-01 22:44] cgardens opened #8408 "Remove jobs database from import / export"
## Tell us about the problem you're trying to solve
It used to be that state was stored in the jobs table, so we needed to include jobs in the input / export API calls. That is no longer the case. State is stored in the config db. Based on that, it means we can remove jobs from the import and export endpoints in the API

This is worth doing, because it will simplify the story around manual import

[2021-12-01 23:03] misteryeo opened #8409 "Airbyte Cloud Demo Videos Incorrect"
## Tell us about the problem you're trying to solve
Both thumbnails on the Airbyte Cloud onboarding flow lead to the same demo video being loaded. The demo video refers to an OSS implementation and begins with the first frame using `docker compose`.

## Describe the solution you’d like
Left thumbnail should be a demo video - this video needs to be re-recorded to be for Airbyte Cloud, not OSS.
Righ

[2021-12-01 23:05] misteryeo commented on #8409
cc: @johnlafleur as promised - we'll likely need a new thumbnail design.

Does Abhi record the demo video for Cloud?

[2021-12-01 23:22] marcosmarxm opened #8410 "Source Typeform improve check connection method"
The method used to check connection is not improved for large accounts because make a full refresh and then after check if the `form_id` exists.

https://github.com/airbytehq/airbyte/blob/b424c1a0e78141fcaef61ba09caf9541772ea347/airbyte-integrations/connectors/source-typeform/source_typeform/source.py#L201-L214

I think should be more easy to validate if `form_id` exist, if failed raise the error:

[2021-12-01 23:39] misteryeo opened #8411 "Improve Documentation Sidesheet UI"
## Tell us about the problem you're trying to solve
Setup Guide sidesheet UI is difficult to parse and incorrectly formatted as well as having markdown / code exposed.

## Describe the solution you’d like
Fix the way this sidesheet renders so that tables are shown and the page break is rendered correctly similar to our actual docs site. This particular example is Amplitude but applies to any table

[2021-12-01 23:53] jrhizor opened #8412 "deleting sources/destinations/connections doesn't hide them until refreshing the page"

[2021-12-01 23:55] miguel-firebolt opened #8413 "New Source: AWS Cost Explorer"
## Tell us about the new connector you’d like to have
* Which source and which destination? new source for AWS Cost Explorer [API](https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Operations_AWS_Cost_Explorer_Service.html) [boto3](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ce.html)
* Do you need a specific version of the underlying data source

[2021-12-02 01:28] jrhizor opened #8415 "automatically push updates to the webapp"
For people that leave tabs open, it'd be a much better experience to automatically reload or indicate that they need to refresh. Otherwise they might run into strange issues.

[2021-12-02 01:29] jrhizor commented on #8415
see https://github.com/airbytehq/oncall/issues/42 for just one example of related issues

[2021-12-02 02:01] johnlafleur commented on #8409
It's actually an implementation bug.
The initial specs were the following: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=26178%3A387

So the 2nd thumbnail is wrong and should open https://demo.airbyte.io in a new tab.

[2021-12-02 04:38] #8221 closed

[2021-12-02 05:49] augan-rymkhan opened #8419 "Investigate Deprecating API Type parameter in Source Salesforce"
## Enviroment
- **Airbyte version**:
- **OS Version / Instance**:
- **Deployment**: *
- **Source Connector and version**: Salesforce
- **Destination Connector and version**: *
- **Severity**: Low
- **Step where error happened**:
## Current Behavior
*Tell us what happens.*

## Expected Behavior
Deprecate "API Type" parameter in Source Salesforce. This is an implementation detail that we should remo

[2021-12-02 07:37] htrueman commented on #6417
Yes. I don't have access to cloud to test it there

[2021-12-02 07:44] davinchia commented on #6417
Cool, can you give me details of how you set it up? And what kind of resources the cluster had? I might be able to reproduce it this way.

[2021-12-02 07:45] jgrinaveckis opened #8420 "Sync failure between Shopify and BigQuery (Denormalized)"
## Enviroment
- **Airbyte version**:  example is 0.32.8-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: Shopify 0.1.24
- **Destination Connector and version**: BigQuery (denormalized typed struct) 0.1.10
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: **Deploy** / Sync job / Setup new connection /

[2021-12-02 08:11] yevhenii-ldv opened #8421 "Source Zendesk Chat: refactor to use the CDK"
The Zendesk Chat connector currently uses an old pattern, we should migrate it to use the new CDK. It's part of #6164.

## Describe the solution you’d like
see #6164 for clearer instructions

[2021-12-02 08:18] htrueman commented on #6417
Well, I've got pretty simple setup:
- I've just ran the local docker env with `docker-compose up`.
- Then started the front end server `npm start`.
- Then I've created new connection with latest stripe and bq versions, using the creds from lastpass.
- Then I've started the sync, waited for some time and got the logs attached above.

[2021-12-02 08:20] jgrinaveckis commented on #8420
Check logging in bigquery, additional error message is: _Error while reading data, error message: JSON parsing error in row starting at position 0: Array specified for non-repeated field: line_items.value.properties._

[2021-12-02 08:20] yevhenii-ldv opened #8422 "Source Pokeapi: refactor to use the CDK"
The Pokeapi connector currently uses an old pattern, we should migrate it to use the new CDK. It's part of #6164.

## Describe the solution you’d like
see #6164 for clearer instructions

[2021-12-02 08:22] yevhenii-ldv opened #8423 "Source Python HTTP Tutorial: refactor to use the CDK"
The Python HTTP Tutorial connector currently uses an old pattern, we should migrate it to use the new CDK. It's part of #6164.

## Describe the solution you’d like
see #6164 for clearer instructions

[2021-12-02 08:40] cobobrien opened #8424 "Source Google Ads: Add `Geographic` and `Keyword` streams"
## Tell us about the new connector you’d like to have
* Which source and which destination?

_This is an enhancement to an existing source connector - Google Ads_

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

_No_

## Describe the context around this new connector
* Why do you need this integration? How do

[2021-12-02 10:18] pranavhegde4 opened #8427 "Source Mixpanel: Sync failure with high volume"
## Enviroment
- **Airbyte version**:  0.32.6-alpha
- **OS Version / Instance**: GCP e2-standard-4
- **Deployment**: Docker
- **Source Connector and version**: Mixpanel 0.1.5
- **Destination Connector and version**: BigQuery 0.5.0
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
When syncing large number of rows from mixpanel to bigquery, the sync just fails in be

[2021-12-02 12:17] #7206 closed

[2021-12-02 12:23] annalvova05 commented on #7206
@tinomerl @sherifnada this error was caused due to rate limits. Each account has quota limits for requests. Rate limits specify the maximum number of API calls that can be made in a 24 hour period. These limits reset at midnight UTC every day. You can find more information [here](https://docs.airbyte.io/integrations/sources/linkedin-ads). Also quotas and usage are [here](https://www.linkedin.com/d

[2021-12-02 12:30] karinakuz commented on #8401
Free trial account is created (Pro trial expires in 14 days) with the data. Credentials are added to the LastPass with 'MyHours' name. API tested for the next main streams:
- All Projects https://api2.myhours.com/api/Projects/getAll
- Project Details https://api2.myhours.com/api/Projects/1668471/overview
- All Clients https://api2.myhours.com/api/Clients
- All Team Members https://api2.myhours.com

[2021-12-02 12:35] eliziario commented on #6433
I was working on this one, but looking at the comments, it looks to me like https://github.com/airbytehq/airbyte/pull/6463 closes this ticket.

[2021-12-02 12:38] eliziario commented on #6433
already closed by https://github.com/airbytehq/airbyte/pull/6463

[2021-12-02 12:40] eliziario commented on #6433
Talked to Dmytro, he thinks it can get some more unit tests and documentation. Going to add those. Reopening

[2021-12-02 12:41] vladimir-remar commented on #8258
@jrhizor @marcosmarxm @lmossman Hi again!
I was able to upgrade Airbyte from 0.30.23-alpha to 0.32.0-alpha by doing the follows:
- Export config.
- Edit and remove the content from `ATTEMPTS.yaml` file, I do not edit the `JOBS.yaml` file.
- Import the new config.
The  problem here is I lost the `state` from all connections, I do not care about the logs, but lost the state it is a big issue indeed.

[2021-12-02 13:43] grubberr commented on #8300
According to logs, you got `null` byte character in your stream which crash python `cve` module with this exception `_csv.Error: line contains NUL`. I cannot reproduce this bug locally that why
I have generated temp docker image `airbyte/source-salesforce:20211201-1` (PR https://github.com/airbytehq/airbyte/pull/8405) which has to fix this problem.
@ogirardot can you please re-sync your data using

[2021-12-02 13:58] alafanechere commented on #8359
Hi @akkisapra thanks for the suggestion but this is a duplicate of an already existing issue https://github.com/airbytehq/airbyte/issues/3212 please subscribe to this one to receive updates on this topic!

[2021-12-02 13:58] #8359 closed

[2021-12-02 14:11] bruno-nirello commented on #8410
My suggestion is to remove the url `/response` from url because that way it returns only one response, improving performance even more

[2021-12-02 14:56] jgrinaveckis commented on #8420
I think schema for orders (not only I guess) needs to be updated - probably will submit a PR

[2021-12-02 15:08] alafanechere opened #8437 "🐛 Source Facebook Marketing: discover is broke when using valid breakdown value in a custom insight"
## Environment
- **Airbyte version**:   0.32.8-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: Facebook Marketing 0.2.26
- **Severity**: Critical
- **Step where error happened**: Discover schema

## Current Behavior
I reproduced a user's bug ([slack conv

[2021-12-02 15:10] subodh1810 opened #8438 "Implement Flyway migration to create and populate config tables"

[2021-12-02 15:11] subodh1810 opened #8439 "Implement new DatabaseConfigPersistence for normalized config tables"

[2021-12-02 15:12] alafanechere commented on #8377
Hi @schlattk thanks for this suggestion, could you tell for which connector you'd like this feature specifically?

[2021-12-02 15:13] jrhizor opened #8440 "decide on method to scale up Temporal"
Look at plugging in a HA version of Temporal into the OSS Helm and Cloud Helm versions of Airbyte.

We can't do this easily for non-Helm OSS Kube, so we'll keep that non-HA.
For OSS Helm we should add the option of plugging in a chart for https://github.com/temporalio/helm-charts so we can offer an HA option.
For Cloud Helm we could either take the same approach as OSS Helm. We should also investi

[2021-12-02 15:13] subodh1810 opened #8441 "Change Airbyte cloud to use the new DatabaseConfigPersistence"

[2021-12-02 15:14] subodh1810 opened #8442 "Implement support for Flyway migration in cloud"

[2021-12-02 15:14] jrhizor opened #8443 "separate different types of temporal workers on cloud into separate deployments for independent scaling"
We should separate workers on cloud into separate deployments so we can scale different kinds of workers independently.

[2021-12-02 15:15] subodh1810 opened #8444 "Implement Flyway migration to create and populate cloud config tables"

[2021-12-02 15:15] jrhizor opened #8445 "Sweep old scheduler code"
## What

Now that OSS has been migrated to the new temporal-based scheduler, the old scheduler code can be deleted as it is no longer used.

## How

The following is a (non-exhaustive) list of what should be covered by this change:
- Remove the `usesNewScheduler` feature flag, and all of its usages
  - This includes removing any conditional blocks that are executed when this flag is `false`
- Remo

[2021-12-02 15:16] subodh1810 opened #8446 "Use new DatabaseConfigPersistence in Airbyte cloud for cloud database"

[2021-12-02 15:17] jrhizor opened #8448 "move job history purge cron to temporal"

[2021-12-02 15:17] subodh1810 opened #8449 "Cleanup old DatabaseConfigPersistence from OSS and cloud"

[2021-12-02 15:17] jrhizor opened #8450 "move job cleaner cron to temporal"

[2021-12-02 15:18] subodh1810 opened #8451 "Replace custom logic of querying config/cloud DB with new SQL based approach for efficiency"

[2021-12-02 15:20] jrhizor opened #8452 "manage sync workflow state updates with new state persistence iface"

[2021-12-02 15:20] #7471 closed

[2021-12-02 15:20] jrhizor opened #8453 "remove heartbeating mechanism between WorkerApp and RunnerApp"

[2021-12-02 15:21] jrhizor opened #8454 "scale test scheduler2"

[2021-12-02 15:23] jrhizor opened #8455 "final cleanups for replicator-runner pr"

[2021-12-02 15:24] jrhizor opened #8456 "support replicator-runner in cloud (billing/labeling)"

[2021-12-02 15:25] jrhizor opened #8457 "release replicator runner prs (oss + cloud)"

[2021-12-02 15:26] jrhizor opened #8458 "make custom dbt use runner container"

[2021-12-02 15:27] jrhizor opened #8459 "make normalization use runner container"

[2021-12-02 15:29] jrhizor opened #8460 "scheduler failure case testing"

[2021-12-02 15:29] #7144 closed

[2021-12-02 15:36] #5992 closed

[2021-12-02 15:38] #6174 closed

[2021-12-02 15:39] cgardens commented on #7999
spec: https://docs.google.com/document/d/1WLr7Leaj5Iyy5bBEjr1TGhNL8HhSB_evbM_psEwKyAI/edit

[2021-12-02 15:40] #7999 closed

[2021-12-02 15:45] #7694 closed

[2021-12-02 15:46] lmossman opened #8463 "[EPIC] Integrate backend with billing vendor"
## Tell us about the problem you're trying to solve
Our current billing / credit management system was quickly hacked together in order to release Airbyte Cloud. It lacks features desired by our product team (e.g. adding/deducting credits for a user in a UI, automatic credit expiry, generating usage reports), and uses up valuable engineering time to maintain and improve. The bottom line is that Ai

[2021-12-02 15:53] cgardens commented on #8244
Will be a "first" issue for parker.

[2021-12-02 15:54] cgardens commented on #8276
@harshithmullapudi we are going to close it. let us know if you see it again and can reproduce.

[2021-12-02 15:54] #8276 closed

[2021-12-02 16:10] alafanechere commented on #8427
Another user declared having this bug on [slack](https://airbytehq.slack.com/archives/C01MFR03D5W/p1638459363276400)

[2021-12-02 16:21] augan-rymkhan commented on #8285
@sherifnada I reproduced this error on my local machine by setting `time.sleep(300)` # seconds. After awaking when we try to send request by resetting connection, get http.client.RemoteDisconnected error, because Github closes the connection without any response. _(log is provided below)_

![connection closed](https://user-images.githubusercontent.com/93112548/144459595-cdb0c7d7-c18a-4700-98fa-415

[2021-12-02 16:30] cgardens commented on #8231
duplicate https://github.com/airbytehq/airbyte/issues/8258

i'm going to mark this as a duplicate of https://github.com/airbytehq/airbyte/issues/8258. The other issue has a bit more context, so we will keep following up on that one.

[2021-12-02 16:30] #8231 closed

[2021-12-02 16:31] cgardens commented on #8258
next steps: We have struggled to reproduce this ourselves. @lmossman is going to try to work with someone in the community who is running into this problem so that we can better understand how to reproduce.

[2021-12-02 16:34] lmossman commented on #8258
@vladimir-remar do you still have the original unedited config export files?

If so, would you be willing to hop on a call with us so that we could go through those files with you and try to determine if there is any issue with your config files? If yes, then what time would work best for you? We are on Pacific time so if there is any good overlap between our timezones' working hours that would be

[2021-12-02 16:34] cgardens commented on #8185
put an update on the OC issue. It is going to be handled by the scheduler upgrade. Closing.

[2021-12-02 16:34] #8185 closed

[2021-12-02 16:38] jrhizor commented on #3076
For the original issue:
@kevinob11 0.20.0-alpha has more problems handling errors when accessing `AirbyteGIthubStore` than later versions.
In later versions, a `ConnectException` is logged but doesn't actually cause any failures without internet access.

For @merlixo's issue and @alafanechere:
It sounds like you have a workaround that's sufficient? From the logs it looks like it logs the errors bu

[2021-12-02 16:38] #3076 closed

[2021-12-02 17:20] sherifnada commented on #8285
@augan-rymkhan do you have an idea of how much it slows the sync by? what is the tradeoff in this choice?

[2021-12-02 17:33] augan-rymkhan commented on #8285
@sherifnada I can do researh on the performance for comparing. The tradeoff  is the connector does not face this error after long time sleep.

[2021-12-02 18:36] marcosmarxm opened #8471 "Import Config v0.29.21-alpha failed with ` AccessExclusiveLock on relation 16701 of database 16385; blocked by process 104.`"
## Environment
- **Airbyte version**:  0.29.21-alpha
- **OS Version / Instance**: GCP => local 16Gb / 300Gb reserved to Docker.
- **Deployment**: Docker
- **Source Connector and version**: N/A
- **Destination Connector and version**: N/A
- **Severity**: Very Low / **Low** / Medium / High / Critical
- **Step where error happened**: Migrate Config

## Current Behavior
I'm trying to debug some proble

[2021-12-02 18:54] marcosmarxm commented on #8471
@lmossman tried to import the same config and was able to.

[2021-12-02 18:56] #8471 closed

[2021-12-02 19:09] #7673 closed

[2021-12-02 19:29] merlixo commented on #3076
@kevinob11 , another issue of running Airbyte without internet access: it is not possible to add custom ressources (request will timeout). This problem was shared in Slack discussion (https://airbytehq.slack.com/archives/C01MFR03D5W/p1637660475360200) and can be reproduced very easily.

Not being able to add custom connectors without internet access means that Airbyte cannot run without internet a

[2021-12-02 19:34] kevinob11 commented on #3076
@merlixo thanks for the additional context. For now (for a few reasons) I've just fallen back to Foreign data wrappers because I have the convenience of my targeting being postgres and my sources being (mostly) MSSQL or Postgres. We still may use Airbyte for a few other external data sources that aren't as easy to handle in FDW, so I'll keep an eye on this.

[2021-12-02 19:38] cgardens commented on #8339
My guess it that the root cause is the same as this OC issue: https://github.com/airbytehq/oncall/issues/46 . All future updates will be on that issue until it is closed or until we realize it is a different root cause.

[2021-12-02 19:52] cgardens opened #8472 "No way to tell if sync was manually or auto canceled"
https://github.com/airbytehq/airbyte-cloud/issues/592

[2021-12-02 20:38] marcosmarxm opened #8473 "Source Jira: unnesting of issue.fields in normalization fails"
## Environment
- **Airbyte version**:  0.32.11-alpha
- **OS Version / Instance**: macOs
- **Deployment**: Docker
- **Source Connector and version**: Jira 0.2.15
- **Destination Connector and version**: Postgres 0.3.16
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Deploy / **Sync job** / Setup new connection / Update connector / Upgrade Airbyte

## C

[2021-12-02 20:39] marcosmarxm commented on #8473
Workaround: change the sync method to `full_refresh`.

Probably the solution for this problem is transform the data to unnest the cursor field value.
@ChristopheDuong what do you think?

[2021-12-02 20:48] incoventures opened #8474 "Exception on sync Salesforce with Portgres - Normalization Failed"
## Environment
- **Airbyte version**:  0.32.10-alpha
- **OS Version / Instance**: Windows 10 WSL2 Docker
- **Deployment**: Docker
- **Source Connector and version**:Salesforce
- **Destination Connector and version**: PostgreSQL
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
Initial sync of Salesforce source with PostgreSQL fails on data normalization

## Lo

[2021-12-02 20:52] marcosmarxm commented on #8474
@incoventures what version of connector are you using? Also can you share the complete logs? This is a local Postgres or a cloud instance?

[2021-12-02 20:55] marcosmarxm opened #8475 "Source Intercom: missing records from conversation stream"
## Environment
- Is this your first time deploying Airbyte: No
- OS Version / Instance:  Mac OS
- Memory / Disk: n/a
- Deployment:  n/a
- Airbyte Version: 0.30.20-alpha
- Source name/version: Intercom
- Destination name/version: Postgres
- Step: Syncing records from Intercom to Postgres
- Description: outbound conversations not getting sync'd, I am able to retrieve when I hit the Intercom API dire

[2021-12-02 20:55] incoventures commented on #8474
It's a local Postgres. How can I check the connector version?
[logs-3-0.txt](https://github.com/airbytehq/airbyte/files/7645022/logs-3-0.txt)

[2021-12-02 21:00] marcosmarxm commented on #8475
The Intercom connector has a logic to filter based on the cursor field, maybe this is causing the issue:
https://github.com/airbytehq/airbyte/blob/5ce83390c62377ac5e0b27619a8000df52c4bd7b/airbyte-integrations/connectors/source-intercom/source_intercom/source.py#L95-L103

[2021-12-02 21:12] marcosmarxm opened #8476 "CI Sandbox for Source Hellobaton"
## Tell us about the problem you're trying to solve
Need credentials to test community contribution for new source Hellobaton https://github.com/airbytehq/airbyte/pull/8461

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of

[2021-12-02 21:41] incoventures commented on #8474
it seems there was a problem with the db connection. closing the issue now. thanks

[2021-12-02 21:41] #8474 closed

[2021-12-02 23:18] JianhaoZhang opened #8477 "Source HubSpot: does not support "List Memberships" in contacts stream"
## Tell us about the problem you're trying to solve
The HubSpot contacts stream went with default &showListMemberships=false, so it cannot retrieve list memberships in the contact object. The list membership info is required to describe the relationship between contact and contact list (basically, which list/lists this contact is assigned to).
To know which list a contact resides in is rather impo

[2021-12-03 00:25] #7998 closed

[2021-12-03 00:34] lmossman opened #8478 "Invalidate connector specifications in the UI upon update"
## Tell us about the problem you're trying to solve
Currently, if a connector definition is updated to a new version and that update includes a change to the connector specification, then a source/destination is created using that definition _without_ refreshing the page, the UI will still show the old connector specification. Refreshing the page forces the UI to refetch the spec which solves the

[2021-12-03 03:06] WarayutPeem commented on #7897
@andriikorotkov , I changed the version of the mongodb source to 0.1.8 and tested it still got the same error.
![image](https://user-images.githubusercontent.com/93768994/144538012-e9214ec1-a51b-4fa4-ad4a-b64f10809a29.png)
![image](https://user-images.githubusercontent.com/93768994/144538036-04b7743a-9567-46dd-a51f-638650bff32c.png)

[2021-12-03 03:09] WarayutPeem commented on #7897
@andriikorotkov,  log file
[logs-efdf7887-ea84-4db2-8392-0b0f49c6a6ac-.txt](https://github.com/airbytehq/airbyte/files/7646548/logs-efdf7887-ea84-4db2-8392-0b0f49c6a6ac-.txt)
e

[2021-12-03 05:57] sherifnada opened #8480 "Create benchmark datasets to measure load speeds to destination warehouses"
## Tell us about the problem you're trying to solve
There are many published guides on how to optimize loading data to destination warehouses. For example

Snowflake:
https://www.snowflake.com/blog/how-to-load-terabytes-into-snowflake-speeds-feeds-and-techniques/
https://docs.snowflake.com/en/user-guide/data-load-considerations.html

Redshift
https://etl-sql.com/should-you-use-parquet-files-with-r

[2021-12-03 06:30] PVMer commented on #4975
@sherifnada any updates on this issue would be much appreciated.

[2021-12-03 07:49] sherifnada commented on #7958
@avida I see that Sentry does server side filtering, but in my opinion this is not sufficiently safe. As an Airbyte user, I would be pretty shocked if Airbyte sent my API keys to a 3rd party and let them handle the filtering. I would require that secrets are not sent at all. What are our options for implementing that? It seems like it might be difficult since each source would have to implement th

[2021-12-03 08:10] sherifnada commented on #8413
hey @miguel-firebolt , really interesting idea! thanks for creating the issue. we're currently focused on reliability and performance of existing connectors, so the fastest way to get this connector is via a PR. Otherwise stay tuned on this ticket for updates.

[2021-12-03 08:12] augan-rymkhan opened #8481 "SAT should verify data is coming from all streams except if the developer explicitly opts out"
## Tell us about the problem you're trying to solve
SAT should verify data is coming from all streams except if the developer explicitly opts out.

## Describe the solution you’d like
For example, if there are streams A and B and the user provides a configured catalog containing only A, the test should fail.
If the developer has to skip tests for some streams , there should be an option saying tha

[2021-12-03 08:22] sherifnada commented on #8419
@augan-rymkhan actually this is one of the very few cases where it _might_ not an implementation detail. Salesforce actually has two different account types: sandbox and production. They operate in different domains (my.salesfroce.com and test.salesforce.com). If you can find a way to identify reliably if the user should be using a sandbox account, great, let's do it. But I suspect it may be diffi

[2021-12-03 08:27] Dracyr commented on #8218
I'm a bit at the end of my abilities too look into this further, if you have any idea of something to try out or run, let me know.

[2021-12-03 08:32] tuliren commented on #4030
This option is already implemented for the Databricks destination:

Option:
https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json#L144

Code:
https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStre

[2021-12-03 08:38] #7847 closed

[2021-12-03 08:39] sherifnada commented on #8419
@augan-rymkhan I just realized why you created this issue, because of my comment on the other PR.

That comment was directed at the "API Type" parameter not the sandbox, apologies for putting it on the wrong line.

[2021-12-03 08:52] sherifnada commented on #4984
redundant now that we have type transformer

[2021-12-03 08:52] #4984 closed

[2021-12-03 09:00] sherifnada commented on #4571
oauth is now available

[2021-12-03 09:00] #4571 closed

[2021-12-03 09:03] sherifnada commented on #5359
@EdmonWales please use the new GA v4 connector, it should not have this issue

[2021-12-03 09:03] #5359 closed

[2021-12-03 09:05] sherifnada commented on #5495
closing as the v4 connector should not suffer from this issue

[2021-12-03 09:05] #5495 closed

[2021-12-03 09:05] sherifnada commented on #5401
closing as new GA v4 connector should not suffer from this issue

[2021-12-03 09:05] #5401 closed

[2021-12-03 09:25] #2629 closed

[2021-12-03 09:25] #2111 closed

[2021-12-03 09:26] #5762 closed

[2021-12-03 09:29] #1790 closed

[2021-12-03 09:30] sherifnada commented on #1751
solved

[2021-12-03 09:32] sherifnada commented on #8420
to fully understand the issue we should sync all streams to bq denormalized and debug the problems

[2021-12-03 09:32] #7955 closed

[2021-12-03 09:34] #4356 closed

[2021-12-03 09:42] augan-rymkhan commented on #8419
@sherifnada no worry, I have updated it.

[2021-12-03 09:44] sherifnada commented on #6246
moved into our sprint, I suspect this is going to require some investgation or research into snowflake

[2021-12-03 10:03] jgrinaveckis commented on #8420
I did this before creating this issue and it stops after encountering first error, as latest error in bigquery was: _"Error while reading data, error message: JSON parsing error in row starting at position 0: JSON object specified for non-record field: discount_codes.value"_

[2021-12-03 10:11] jgrinaveckis commented on #8420
I did this before creating this issue and errors are these:
_airbyte_tmp_dex_orders table:
_"Error while reading data, error message: JSON parsing error in row starting at position 0: JSON object specified for non-record field: discount_codes.value”_

_airbyte_tmp_bla_abandoned_checkouts table:
_"Error while reading data, error message: JSON parsing error in row starting at position 0: Array speci

[2021-12-03 10:18] sherifnada commented on #8420
@jgrinaveckis sorry this was a comment for the eng working on it 😅 didn't mean to say you should be doing this. But thanks for sharing the logs! this is helpful

[2021-12-03 11:23] #8174 closed

[2021-12-03 11:59] #7850 closed

[2021-12-03 11:59] #8049 closed

[2021-12-03 12:02] lazebnyi commented on #5439
Closed with #5712

[2021-12-03 12:02] #5439 closed

[2021-12-03 12:37] ChristopheDuong commented on #8240
If you take a look at this repository: https://github.com/airbytehq/testing_dbt/

You can find the exact scenario you are encountering here: https://github.com/airbytehq/testing_dbt/blob/2d8f87b721e13122dd5fd9fa8088ee7734f9017e/output/postgres-3-schema-change-FAILED-dbt.log#L1613

[2021-12-03 13:18] #8421 closed

[2021-12-03 13:29] #8423 closed

[2021-12-03 13:53] #8422 closed

[2021-12-03 14:11] ChristopheDuong commented on #8240
Blocked by https://github.com/dbt-labs/dbt-core/issues/4423

[2021-12-03 14:11] alafanechere opened #8487 "🐛 Source Shopify: slow orders_refunds read + InvalidChunkLength error"
## Environment
- **Airbyte version**:  0.30.33-alpha
- **OS Version / Instance**: GCP (Compute Engine) / n1-standard-2
- **Deployment**: Docker
- **Source Connector and version**: Shopify 0.1.24
- **Severity**: High
- **Step where error happened**:Sync job

## Current Behavior
A user reaching us on [slack](https://airbytehq.slack.com/archives/C01MFR03D5W/p1636807297009600) wants to perform an init

[2021-12-03 14:14] bendicethesecond opened #8488 "🐛 Source MongoDB: arm64 image is not available (Apple M1)"
## Environment
- **Airbyte version**:  0.32.11-alpha
- **OS Version / Instance**: macOS M1
- **Deployment**: docker-compose quickstart
- **Source Connector and version**: Mongodb 0.1.8
- **Severity**: Low
- **Step where error happened**: Setup new connection

## Current Behavior
When setting up a mongodb connector on an M1 when creating the connection it sits on the spinner on testing connection.

[2021-12-03 14:21] augan-rymkhan commented on #8285
Before configuring HTTPAdapter

[code]

Raised requests.exceptions.ConnectionError is handled by Default backoff handler, then we sleep 5 seconds.

After configuring HTTPAdapter described here: https://docs.python-requests.org/en/master/api/#requests.adapters.HTTPAdapter

In HttpStream __init__ method:

        self._session = requests.Session()

        # Test
        MAX_RETRIES = 3
        adap

[2021-12-03 14:21] miguel-firebolt commented on #8413
Thanks @sherifnada. Understood, I will see if we have the bandwidth to start on this connector and update here if we plan to work on it.

[2021-12-03 14:32] andriikorotkov commented on #7897
@WarayutPeem, Can you please tell me how many collections you are trying to work with and what is the approximate size of each of them? And also, I want to ask you for the structure of the collection document (with data types) so that I can create a test and reproduce this bug.

[2021-12-03 14:58] lazebnyi commented on #7286
@chriestensonb Thanks for your work! Your logs can help a lot!

1. Fixed in the new version of the connector.

2. Added a new logger. I think the problem with parsing CSV files.

The new version is 0.1.1-rc.1

[2021-12-03 15:23] #7456 closed

[2021-12-03 16:20] tuliren commented on #5712
Are we sure that all the valid formats listed here are actually valid? For example: `2021-1-1 01:01:01 +1` does not seem a legit string following `YYYY-M-D hh:mm:ss Z`. The `Z` stands for `offset-Z` that look like this: `+0000; -0800; -08:00;`, according to [Java DateTimeFormatter](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html).

When we add these datetime strin

[2021-12-03 16:55] JeroniMan commented on #7838
Hi! I have the same problem, when i try create connection with source MongoDB and destination BigQuery.

Enviroment:
- Airbyte version: 0.32.11-alpha
- OS Version / Instance: Ubuntu 20.04 LTS / GCP
- Deployment: Docker
- Source Connector and version: MongoDb 0.1.8
- Destination Connector and version: BigQuery 0.5.0

I find similar error in my server's logs:
`2021-12-02 23:16:18 ERROR () UncaughtEx

[2021-12-03 17:58] lmossman opened #8496 "Create customer in billing vendor upon CloudWorkspace creation for test billing user"
## Tell us about the problem you're trying to solve
This is a ticket within the [Integrate backend with billing vendor Epic](https://github.com/airbytehq/airbyte/issues/8463)

To start integrating with the billing vendor, we must first create customers in their platform so that we can start reporting credit usage for those customers.

## Describe the solution you’d like
Upon creation of a CloudWor

[2021-12-03 18:08] TSkrebe commented on #6544
+1. I didn't have an opportunity to try the old connector but the new one feels slow. it took around 10-15 mins to return the schema for a database with 10 collections and around 13MM docs.

[2021-12-03 18:11] #7194 closed

[2021-12-03 18:48] lmossman opened #8498 "Track credit usage in billing vendor for test billing user"
## Tell us about the problem you're trying to solve
This is a ticket within the [Integrate backend with billing vendor Epic](https://github.com/airbytehq/airbyte/issues/8463)

Now that the test billing user's workspaces have billing vendor customers created for them, we need to start tracking credit usage in the billing vendor.

## Describe the solution you’d like
**For the same test billing user

[2021-12-03 19:25] cgardens commented on #2781
@tuliren for visibility. i'm not sure what priority this should be against other db issues but just wanted to make sure you saw it.

[2021-12-03 19:31] cgardens commented on #5129
@tuanchris hiya, i don't have a clear idea of when this will happen yet. it is definitely something we will do but no timeline yet. if you can get some more :+1: on this issue that would help us understand how valuable it is to the community versus other priorities.

[2021-12-03 19:59] lmossman opened #8500 "Backfill and start tracking credits for all CloudWorkspaces in billing vendor"
## Tell us about the problem you're trying to solve
This is a ticket within the [Integrate backend with billing vendor Epic](https://github.com/airbytehq/airbyte/issues/8463)

Now that the test billing user's CloudWorkspace end-to-end flow has been tested in the billing vendor, we want to start tracking credits for _all_ CloudWorkspaces in the billing vendor.

## Describe the solution you’d like
B

[2021-12-03 20:56] sherifnada commented on #8285
great, let's go with this impl @augan-rymkhan . Thanks for the investigation!

[2021-12-03 22:41] tuanchris commented on #5129
Hi @cgardens, I'm happy to try working on a PR if you can help point me in the right direction. Our pain point using Airbyte at the moment is that we have to do a lot of manual type casting in dbt after integration whereas if we use tools like Stitch, Fivetran, we won't have to worry about converting data types.

[2021-12-03 23:04] Jamakase commented on #8136
@jrhizor actually that's not possible. We use a lib that uses `react-window` and it is main feature of it. What it actually does: doesn't render all the values. If we render all logs - we could face performance problems.

Right now there is no way to change the behavior and allow searching it with chrome, but we may enable searching with search control that is already implemented in the lib

![ima

[2021-12-03 23:05] sherifnada commented on #8487
I think I know the problem here. We're using the REST API, which fetches transactions by going order by order. The right way to fetch these nested resources would be to use the GraphQL API to fetch all orders in addition to their transactions in the same API call.

It'll take some time to PoC this and release, but we'll get on it asap.

[2021-12-03 23:12] sherifnada opened #8503 "Source Shopify: PoC performance improvement from using the GraphQL API."
## Tell us about the problem you're trying to solve
Context is available in #8487 . TL;DR the shopify source is incredibly slow when syncing transactions, which is a resource nested under `orders`. The current sync strategy is to read an order, then make another API class specifically to get the orders. This is incredibly slow. I expect we can get a literal 100x speedup on the transactions stream

[2021-12-03 23:34] #7915 closed

[2021-12-03 23:34] #7986 closed

[2021-12-03 23:59] lmossman opened #8504 "Creating billing resources in billing vendor"
## Tell us about the problem you're trying to solve
This is a ticket within the [Integrate backend with billing vendor Epic](https://github.com/airbytehq/airbyte/issues/8463)

In order to set up our customers in the billing vendor, the proper billing resources (i.e. billable metrics and plans) need to be created with billing logic matching the current logic in our CreditProcessingCronJob. This pla

[2021-12-04 00:45] lmossman opened #8505 "Simplify CreditProcessingCronJob queries and time windows"
## Tell us about the problem you're trying to solve
The implementation of the CreditProcessingCronJob queries and the time windows it uses are not ideal. It suffers from the following problems:

1. In order to fetch job attempts to process, it first performs a [query](https://github.com/airbytehq/airbyte/blob/5e4178e5b17901fb3979c8b6f12afe38c73137f6/airbyte-scheduler/persistence/src/main/java/io/a

[2021-12-04 01:04] lmossman opened #8506 "Compare billing vendor credit consumption to ours"
## Tell us about the problem you're trying to solve
This is a ticket within the [Integrate backend with billing vendor Epic](https://github.com/airbytehq/airbyte/issues/8463)

After a day or two of reporting usage from our CreditProcessingCronJob to the billing vendor, we need to validate that the credit balances in our database are equal to the credit balances in the billing vendor, and investiga

[2021-12-04 01:16] lmossman opened #8507 "Update the CloudWorkspaceHandler to retrieve credit balance from billing vendor"
## Tell us about the problem you're trying to solve
This is a ticket within the [Integrate backend with billing vendor Epic](https://github.com/airbytehq/airbyte/issues/8463)

At this point in the epic, we should be tracking credit usage within the billing vendor, and we should have validated that there are no inconsistencies between the balances in our system and the billing vendor's system.

The

[2021-12-04 01:31] lmossman opened #8508 "Sweep Airbyte's credit management logic and data"
## Tell us about the problem you're trying to solve
This is a ticket within the [Integrate backend with billing vendor Epic](https://github.com/airbytehq/airbyte/issues/8463)

At this point in the epic, we should have completely stopped using the credits that we store in our cloud db. Therefore, this data should be deleted and the logic for processing these credits should be swept.

## Describe th

[2021-12-04 01:48] lmossman opened #8509 "Update the CloudWorkspaceHandler to retrieve credit usage from billing vendor"
## Tell us about the problem you're trying to solve
This is a ticket within the Integrate backend with billing vendor Epic

At this point in the epic, we should be tracking credit usage within the billing vendor, and we should have validated that there are no inconsistencies between the balances in our system and the billing vendor's system.

Therefore, it is now time to make our Cloud UI retrieve

[2021-12-04 10:19] mohamagdy commented on #8318
@vitaliizazmic @sherifnada any work done to migrate Recurly to CDK yet? If not, I can work on it as we need an `incremental` sync mode for the Recurly source and it will make more sense to add the `incremental` sync mode after migrating to CDK and not extending the `base-python` Recurly connector, right?

[2021-12-04 23:33] sherifnada commented on #8318
hi @mohamagdy ! It should be moved soon -- vitalii is managing it. Afterwards we'd be more than happy to support a contribution!

[2021-12-05 01:43] cgardens commented on #8496
How do we handle the case if the vendor is "down"? Should we still be able to create new users / customers in airbyte, even if we can't create them in the billing vendor?

[2021-12-05 01:46] cgardens commented on #8506
Once we get to a place where we are not seeing discrepancies, how long should we continue running the test?

[2021-12-05 01:48] cgardens commented on #8509
I'm not sure I fully understand this. Don't we need all of that information for the UI to render?

[2021-12-05 05:12] prconstruct commented on #7587
I think this issue is with S3. In my case Mongodb is the source and s3(JSONL) is the destination.  Empty files are created when no records extracted. Could you please prioritize this?

[2021-12-05 10:05] mohamagdy commented on #8318
Hi @sherifnada,

Sounds like a plan. Looking forward to it. Thanks for the update.

[2021-12-05 11:39] haoranyu commented on #5741
It seems to be only one Jsons.serialize call in isValidData now. Is this issue still valid?

[2021-12-05 12:21] haoranyu commented on #8244
The pattern attribute is already removed by https://github.com/airbytehq/airbyte/commit/dae0d77cbbf03cee08de92736c66d3cc1efce4cd

The issue can be closed I guess.

[2021-12-05 15:01] WarayutPeem commented on #7897
@andriikorotkov, There are 18 collections in MongoDB. The minimum size is 2.0 KB and the maximum is 193.9 MB.

in the structure of the collection document, example in picture
![image](https://user-images.githubusercontent.com/93768994/144751886-e16c6219-4a75-49d4-a702-e847cf82a19e.png)
![image](https://user-images.githubusercontent.com/93768994/144751900-26cb017b-697d-475a-a263-f29c4c62da0d.png)
!

[2021-12-05 21:39] ogirardot commented on #8300
tested for 24 hours and no issue detected, the patch looks great

[2021-12-06 04:32] hbd commented on #2017
Thanks for the help @h7kanna. Unfortunately that has not fixed running Airbyte locally for me. I'm seeing error with `temporal`:
[code]

Steps to reproduce:
1. Follow your instructions
2. `docker compose up -d`

To confirm that it was using the right image, I updated `docker-compose.yaml` to use `temporalio/auto-setup:1.13.0`:
[code]

[2021-12-06 04:51] sherifnada commented on #8503
wrote a quick PoC. Pulling orders seems to be much faster

[code]

[2021-12-06 04:53] sherifnada commented on #8244
the problem is fixed for stripe but still present for any connector following the same pattern, so we should keep it open imo

[2021-12-06 05:44] asyarif93 opened #8519 "🐛 Source Zendesk Support: [ticket comment stream] stream doesn't pull all comments"
## Environment
- **Airbyte version**:  0.30.20-alpha
- **OS Version / Instance**: Amazon Linux / EC2 t3a.large
- **Deployment**: Docker
- **Source Connector and version**: Zendesk Support 0.1.8
- **Destination Connector and version**: Bigquery 0.4.1
- **Severity**: Critical
- **Step where error happened**: When Look table result

## Current Behavior
Stream only pull 1226 tickets with comments

##

[2021-12-06 05:52] asyarif93 commented on #8519
comparison with ticket audit is using this query
[code]

[2021-12-06 07:51] alafanechere commented on #8519
TLDR for the log:
* Connectors' stream slices found 15578 tickets with comments
* Sync reads 1815 records from `ticket_comments` stream

[2021-12-06 07:57] alafanechere commented on #8488
Just to add a bit of context: looks like the failure comes from the image used in `./airbyte-integrations/connectors/source-mongodb/Dockerfile.test`

[2021-12-06 07:58] kailashjoshi018 commented on #8258
Same for me while upgrading to 0.32.0-alpha from 0.31.0-alpha. Did a force update on airbyte_metdata table to change the airbyte_version to 0.32.0-alpha and it worked for me. Not sure, if this is the correct way, but at least solved my issue.

[2021-12-06 08:10] tinomerl commented on #7206
Hey @annalvova05 thanks for your comment. But the issue seems to be a different one. I upgraded to your connector version last week and tested it. It took about 2 Hours to replicate the data to postgres. This is the only source connector we have problems with. I also checked our quotas after you mentioned it. We don't run into any restrictions here either.

@sherifnada i attached the logs to the o

[2021-12-06 08:31] tuliren opened #8523 "Connector setup page does not show full field when the title is long"
## Environment
* **Airbyte version**:  0.32.2-alpha
* **OS Version / Instance**: K8S
* **Deployment**: Cloud
* **Source Connector and version**: any source connector
* **Destination Connector and version**: Snowflake 0.3.18
* **Severity**: Low
* **Step where error happened**: destination connector setup page

## Current Behavior
![](https://user-images.githubusercontent.com/1933157/144812661-bf3d9

[2021-12-06 08:31] tuliren commented on #8523
@jrhizor, FYI.

[2021-12-06 08:39] lizdeika commented on #8240
Sounds like `a fix is available in dbt` is the way to go

[2021-12-06 08:52] pranavhegde4 commented on #2170
+1, would help a lot in our ingestion pipeline if we could have more control over the scheduling

[2021-12-06 09:38] mid opened #8525 "🐛 Source Paypal Transaction: Unsupported nested cursor field transaction_info.transaction_initiation_date for stream transactions"
## Environment
- **Airbyte version**:  example is 0.32.11-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: 0.1.2
- **Destination Connector and version**: Postgres 0.3.12
- **Severity**: High
- **Step where error happened**:  Sync job

## Current Behavior
PayPal Transaction sync fails with:
[code]

## Expected Behavior

PayPal Transaction sync

[2021-12-06 09:40] VitaliiMaltsev opened #8526 ":bug: Source Mailchimp Failed to change version on UI"
## Current Behavior
During version changing in Settings Tab on UI an error persists

Logs
`airbyte-worker      | 2021-12-06 09:06:12 INFO i.a.w.p.DockerProcessFactory(create):127 - {job_log_path=/tmp/workspace/1dd9f984-cb13-4dea-8eec-6a65f12ead18/0/logs.log} - Preparing command: docker run --rm --init -i -v airbyte_workspace:/data -v /tmp/airbyte_local:/local -w /data/1dd9f984-cb13-4dea-8eec-6a65f

[2021-12-06 09:52] bashyroger commented on #2170
+1, the fact that this is (still) not supported now really makes scheduling cumbersome. This kind of functionality has always been there from the start in SAAS based El tools like **Fivetran** and **Stitch**. We now have to do 'extra work' to make this possible.

[2021-12-06 10:43] tuliren commented on #4370
@VitaliiMaltsev, actually we cannot remove the `Standard` loading method, because there are existing syncs using this method.

[code]

Need to either add this method back, or patch the connector to default the `Standard` loading method to the `Internal Staging`.

[2021-12-06 11:07] VitaliiMaltsev commented on #4370
@tuliren returned Standard Loading Method in https://github.com/airbytehq/airbyte/pull/8528. Please review

[2021-12-06 13:49] jrhizor commented on #8339
duplicate: https://github.com/airbytehq/airbyte/issues/6990

[2021-12-06 13:50] bazarnov commented on #8526
No need to be fixed.

[2021-12-06 13:50] #8526 closed

[2021-12-06 14:12] jrhizor opened #8532 "classify retriable vs non retriable exceptions in temporal workflows"
Classify exceptions as non-retriable (npes / deserialization errors) or retriable (almost everything else) and use this in various Temporal workflows. We can use this to adjust the retrying logic to ensure that retries are meaningful instead of guaranteed wasted work in some cases.

[2021-12-06 14:13] jrhizor opened #8533 "perform a major version bump to remove Temporal scheduler migration code"

[2021-12-06 14:14] jrhizor opened #8534 "feature flag removal of job scheduler/submitter/retrier"

[2021-12-06 14:15] jrhizor opened #8535 "Saga-based connection creation"

[2021-12-06 14:16] jrhizor opened #8536 "create Temporal test for continueAsNew and call sequences"

[2021-12-06 14:17] jrhizor opened #8537 "support updating connections / schedules"

[2021-12-06 14:17] jrhizor opened #8538 "connection deletion handling"

[2021-12-06 14:18] jrhizor opened #8539 "manual run handling"

[2021-12-06 14:19] jrhizor opened #8540 "migrate non-temporal schedules onto temporal in the server startup"

[2021-12-06 14:19] jrhizor opened #8541 "migration test check that we aren’t attempting to create for existing workflows"

[2021-12-06 14:20] jrhizor opened #8542 "parent workflows need to handle SyncWorkflow cancellation (signal parent workflow to cancel running workflow)"

[2021-12-06 14:20] jrhizor opened #8543 "manual run button click in the ui should query the workflow to see if it’s currently running and display an error if it is currently running"

[2021-12-06 14:20] jrhizor opened #8544 "ensure SyncWorkflow is updating attempt statuses correctly for cancellations, failures, and successes"

[2021-12-06 14:21] jrhizor opened #8545 "respect MAX_SYNC_JOB_ATTEMPTS retry policies"

[2021-12-06 14:21] jrhizor opened #8546 "handle scheduling syncs for imports (use migration-like method for connection imports)"

[2021-12-06 14:35] asyarif93 commented on #8519
I have found the main issue, I think the way ticket_comment state saved is wrong.
for example, we get data in this order.

first ticket (5281955)
| comment_id | created_at |
| - | - |
| 1964352564008 | 2021-12-04T02:19:51Z |
| 1126652017126 | 2021-12-04T02:19:23Z |
| 1126969758323 | 2021-12-04T02:16:22Z |
| 1126651030126 | 2021-12-04T02:16:15Z |
| 1126650834066 | 2021-12-04T02:15:39Z |

second tic

[2021-12-06 16:33] #7404 closed

[2021-12-06 17:01] edgao opened #8550 "Refactor destination-redshift to use S3CsvWriter"
## Tell us about the problem you're trying to solve
See https://github.com/airbytehq/airbyte/issues/4030 "Refactoring the redshift destination to use the S3 destination code" for full context

## Describe the solution you’d like
1. Extract S3 code from destination-jdbc into s3-base
2. Rename S3StreamCopier to LegacyS3StreamCopier; write LegacyS3StreamCopierTest to fully understand its behavior
3.

[2021-12-06 17:04] #8315 closed

[2021-12-06 17:13] edgao opened #8552 "Add a purge_staging_data flag to the redshift destination config"
## Tell us about the problem you're trying to solve
See https://github.com/airbytehq/airbyte/issues/4030 "Adding and leveraging the boolean flag" for full context. Requires https://github.com/airbytehq/airbyte/issues/8550

## Describe the solution you’d like
1. The config exists
2. Clean up underlying code to remove hidden assumptions around file paths

## Describe the alternative you’ve considere

[2021-12-06 17:17] darian-heede opened #8553 "🐛 Normalization fails due to ambiguous column name"
## Environment
- **Airbyte version**:  Latest version
- **OS Version / Instance**: Arch Linux 5.15.6-arch2-1
- **Deployment**: Docker
- **Source Connector and version**: Personio connector, we're building right now (please see [here](https://github.com/airbytehq/airbyte/issues/8333)).
- **Destination Connector and version**: Latest Postgres
- **Severity**: Medium
- **Step where error happened**: N

[2021-12-06 17:20] vmgustavo commented on #2170
Is there anything we could do as a temporary solution?

[2021-12-06 17:38] grubberr commented on #8300
@ogirardot
Can you please send you logs? (or maybe grep  yourselves, whatever is more convenient for you)
I want to check if you have pattern `Filter 'null' bytes from string, size reduced` in logs
Thanks!

[2021-12-06 17:54] #8318 closed

[2021-12-06 18:12] #8296 closed

[2021-12-06 18:19] marcosmarxm opened #8556 "CI Sandbox Rockset increase the number of collections in integration account"
## Tell us about the problem you're trying to solve
The Integration Test account is limited to 10 collections only, this won't allow us running the tests. We need to upgrade the plan to have more quota creating collections in Rockset.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative

[2021-12-06 18:31] malcolmtivelius opened #8557 "🐛 Source Postgres (CDC): Sync fails when records in Postgres are deleted for tables with non null constraint on columns"
## Environment
- **Airbyte version**:  v.30.39 **(upgraded to v.0.32.6)**
- **OS Version / Instance**: debian / GCP e2-medium
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.3.13 **(upgraded to 0.3.17)**
- **Destination Connector and version**: Bigquery 0.5.0
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Trying to setup CDC with postgre

[2021-12-06 18:59] #7906 closed

[2021-12-06 19:07] lmossman commented on #8506
I think a full week of no credit discrepancies would be a pretty solid indicator that we can move forward with the rest of the tickets

[2021-12-06 20:04] lmossman commented on #8509
@cgardens that comment was referring to the fact that the CloudWorkspaceHandler's `getWorkspaceUsage()` endpoint currently returns usage aggregated both by day, and separately [by connection](https://github.com/airbytehq/airbyte-cloud/blob/9bdd59f5495a8b8f743fd8a331214005ab4245ef/billing/src/main/java/io/airbyte/billing/BillingReader.java#L81), so I figured that we would need to support the same t

[2021-12-06 20:39] #4370 closed

[2021-12-06 21:17] mohamagdy commented on #1384
@sherifnada I can start working on this issue together with https://github.com/airbytehq/airbyte/issues/3816 after the successful migration of the Recurly connector to the CDK https://github.com/airbytehq/airbyte/pull/8468.

[2021-12-06 23:25] JeroniMan opened #8564 "Failed to fetch schema MondoDB Atlas"
## Environment
- **Airbyte version**:  0.33.4-alpha
- **OS Version / Instance**: Ubuntu 20.04 LTS on GCP
- **Deployment**: Docker
- **Source Connector and version**: airbyte/source-mongodb-v2:0.1.8
- **Destination Connector and version**:  airbyte/destination-bigquery:0.5.0
- **Severity**: High
- **Step where error happened**: Setup new connection

## Current Behavior
I created source (MongoDB) an

[2021-12-06 23:55] JeroniMan commented on #8564
I find similar case, but i don't know how it solve) May be it help.

https://jira.mongodb.org/browse/SERVER-57854

[2021-12-07 01:32] tehnorm commented on #8099
Also seeing this issue as well. Syncing from Smart Sheet to Postgres

### Smart Sheet Row

Job No | Name | Estimator | Entry Completed | Take Off Excel | CS Sheet Excel | CS Sheet Sub Sheet Name | Multiple Rows | Aggregate Project | Non-standard takeoff? | Take Off Type | Region | Specific Bldg Type | Structural Eng | Architect | Unit Count | Gross SQFT | Porch SQFT | Below Podium Wall Height | L1

[2021-12-07 01:36] tehnorm commented on #5520
Also seeing this with a postgres destination.

[2021-12-07 01:45] tehnorm commented on #5520
Wondering if this block might have something to do with it? https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-smartsheets/source_smartsheets/source.py#L27

Smart Sheet has a few additional column types that often need some special handling when pulling from their API. https://help.smartsheet.com/learning-track/level-1-get-started/columns

[2021-12-07 02:25] asyarif93 commented on #8519
My current propose is skip filtering stream ticket comments in `IncrementalUnsortedStream` and filter them inside ticket comments `parse_response`.

For ticket comments saving state, I think instead of using latest ticket end time, it's better to use each ticket end time to avoid missing tickets when failure happens.

[2021-12-07 05:03] asyarif93 commented on #8519
For ticket comment state I propose this way. I'll side load `generated_timestamp` from `stream_slice` to parsed response

[code]

and set `generated_timestamp` as `last_end_time` key

[code]

I'll make PR once all test is passed

[2021-12-07 07:27] alafanechere opened #8569 "🐛 Source Postgres: full refresh error when using UUID typed primary key"
## Environment
- **Airbyte version**:  0.32.5-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: Postgres 0.3.14
- **Destination Connector and version**: Redshift 0.3.4
- **Severity**: Medium
- **Step where error happened**: Sync job

**Reported following t

[2021-12-07 07:49] alafanechere opened #8570 "Source Google Analytics: Improve sampling awareness"
## Problem
The `window_in_days` parameters was removed from source Google Analytics specification to simplify configuration, it now defaults to 90 days. This decision comes from this issue https://github.com/airbytehq/airbyte/issues/7850 and was implemented in this PR https://github.com/airbytehq/airbyte/pull/8175.

This parameters could be used as a workaround to avoid Google Analytics API sampli

[2021-12-07 07:49] alafanechere commented on #8570
@nataliekwong what's your opinion on this?

[2021-12-07 08:17] alafanechere opened #8572 "🐛 Source Google Search Console: DefaultBackoffException while the rate limit is not reached in full refresh"
## Environment
- **Airbyte version**:  0.32.8-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker
- **Source Connector and version**:airbyte/source-google-search-console:0.1.7
- **Destination Connector and version**: airbyte/destination-postgres:0.3.12
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior

[I open this issue following this slack t

[2021-12-07 08:43] alafanechere commented on #8525
More details I found from the log:
* Incremental sync of transactions and balance stream
* ✅ Read 1383 records
* ❌ Normalization fails

I re-added the required credentials for this connector in our CI, it was missing and made build failed.

[2021-12-07 08:53] VitaliiMaltsev commented on #6871
@tuliren can we close this issue?

[2021-12-07 08:59] grkhr commented on #3520
Upvote. We have a large db and resyncing every time a new field is added to a small table is hell.

[2021-12-07 09:01] alafanechere commented on #8557
@malcolmtivelius could you upgrade your Postgres connector from 0.3.13 to 0.3.17 and tell us if the error persists?

[2021-12-07 09:13] alafanechere commented on #8553
@ChristopheDuong are you aware of this kind of problem and have a workaround suggestion.

[2021-12-07 09:26] alafanechere commented on #8564
Hi @JeroniMan, according to the Jira link you sent it looks like a bug on the latest Mongo query engine. I'm afraid that our current `discover` step relies on high level java client for Mongo and that the workaround suggested in Jira is too low level for our connector. This error seems to come from queries on document with empty keys : `"". I'd suggest you to wait for the release of the fix mentio

[2021-12-07 09:49] alafanechere opened #8575 "CI sandbox prod upgrade for Paypal transaction"
Our current credentials for Paypal Transaction API are using `sandbox = true`. Due to instability of the sandbox API declared in this issue : https://github.com/airbytehq/airbyte/issues/8012, could we have an a Paypal account to use prod (`sandbox = false`). Current CI builds of Paypal Transaction are [failing](https://github.com/airbytehq/airbyte/actions/runs/1544312066)  with the same error decl

[2021-12-07 10:10] keu opened #8576 "CDK: fix license headers and mypy errors"
## Current Behavior
We use pre-commit to validate python code locally, currently, CDK does not pass pre-commit checks, which makes it less usable if usable at all.

## Expected Behavior
The code in CDK is properly formatted and pre-commit checks are passed.

## Logs
[code]

[2021-12-07 10:30] ChristopheDuong commented on #8553
No, I am not sure why this is happening with a quick look at the catalog/sql.

Comparing to this https://github.com/airbytehq/airbyte/blob/fbe557f2d9cbf8ed4c9c15b363ce28a61a7925ae/airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_c___names_partition_data.sql#L

[2021-12-07 10:38] #8313 closed

[2021-12-07 13:02] malcolmtivelius commented on #8557
Hey I just upgraded Airbyte to v.0.32.6 and the Postgres connector to 0.3.17. Still running into the same issue when deleting a record! Let me know if you need anything else

[2021-12-07 13:41] TSkrebe opened #8581 "Make it possible to opt-out from cloud logging"
## Tell us about the problem you're trying to solve
It's not possible to opt-out from cloud logging.

## Describe the solution you’d like
I'd like to have configuration (through helm charts) to opt-out from cloud logging i.e. minio/gcp/aws when using k8s.

## Describe the alternative you’ve considered or used
There is no alternative at the moment.

## Additional context
When running k8s, all logs

[2021-12-07 13:45] #3764 closed

[2021-12-07 14:43] sergei-solonitcyn opened #8585 "Template for bug-fix PR"
Create a template for _bug-fixing_ pull requests.

The description has to cover following questions:
* What is the root cause of the issue?
* Were we able to reproduce this locally, or is this PR “guessing” at a solution?
* How does the code change in the PR fix the issue?

[2021-12-07 15:00] foogunlana commented on #8570
@nataliekwong @alafanechere FYI the documentation says that it samples when there are more than 500k "sessions" in the data, not "records". See [the doc I'm talking about here](https://support.google.com/analytics/answer/2637192?hl=en#thresholds&zippy=%2Cin-this-article).

The documentation might be wrong (or just not specific enough) though. If it's correct it's worth noting that it complicates t

[2021-12-07 15:01] TSkrebe opened #8586 "🐛 Destination BigQuery denormalized (MongoDB source): JSON table encountered too many errors, giving up."
## Environment
- **Airbyte version**:  0.33.5-alpha
- **OS Version / Instance**: Container-Optimized OS from Google
- **Deployment**: Kubernetes
- **Source Connector and version**: mongo v2 0.1.8
- **Destination Connector and version**: BigQuery Denormalized 0.1.10
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Sync fails with the error:
[code]

yet the sync is

[2021-12-07 15:37] ChristopheDuong opened #8588 "Implement dbt data tests on normalization outputs during sync"
## Tell us about the problem you're trying to solve
Some data tests on data integrity can be run at the end of the normalization process

## Describe the solution you’d like
Assert record counts in the different tables produced during a sync to verify integrity and report a more detailed snapshot of the sync state:
- compare raw vs final normalized tables count for example

[2021-12-07 15:49] ChristopheDuong opened #8590 "Include dbt summary into StandardSyncSummary"
## Tell us about the problem you're trying to solve
dbt outputs metadata after finishing its run: https://docs.getdbt.com/reference/artifacts/run-results-json

## Describe the solution you’d like
Sync Summary breakdown per stream can be forwarded from normalization to standard sync summary

[2021-12-07 15:50] ChristopheDuong opened #8591 "Analytics Enrich per sync metadata with historical context"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-12-07 16:04] #6172 closed

[2021-12-07 16:09] ChristopheDuong opened #8593 "Build a knowledge database of failures"
## Tell us about the problem you're trying to solve
Running diagnostic tests and looking at log outputs with exceptions, there should be a centralized database of knowledge of common issues.

## Describe the solution you’d like
Identify or facilitate failure reasons to emerge from the different outputs produced by a connector when sync fails.

[2021-12-07 16:11] ChristopheDuong opened #8594 "Diagnosis check: Determine remaining quota for a connector"
## Tell us about the problem you're trying to solve
When an API is limited with a quota, we should be able to determine the remaining quota for a connector

## Describe the solution you’d like
Diagnostic method to know how much quota there is left for a connector

[2021-12-07 16:12] ChristopheDuong commented on #3513
Created a separate issue https://github.com/airbytehq/airbyte/issues/8594

[2021-12-07 16:24] mkhokh-33 commented on #6425
CDC use binlog files to apply snapshot changes on db.  binlog files have a **retention policy**, time of living, during that time mysql server keeps them alive and available  for use.
This time can be configured

1. by user with certain privileges. See https://dev.mysql.com/doc/refman/8.0/en/replication-options-binary-log.html#sysvar_binlog_expire_logs_seconds.
2. there is possibility to remove bi

[2021-12-07 16:28] ChristopheDuong opened #8595 "Diagnosis check: Confirm oauth refresh_token & params validity"
## Tell us about the problem you're trying to solve
When a connector using oauth fails, we need to make sure that it's not an error coming from the credentials/refresh_token not being valid anymore

## Describe the solution you’d like
Being able to run a diagnosis check to confirm validity of oauth parameters

[2021-12-07 16:33] ChristopheDuong opened #8596 "Validate Airbyte Json Message against the declared catalog"
## Tell us about the problem you're trying to solve
When a source emits a record data, we should be able to make sure it validates against the JSON schema or downstream process expecting certain types for example may fail.

## Describe the solution you’d like
When writing a record to the destination, we should be able to validate the record and make sure it follows the specifications of the source

[2021-12-07 16:52] sashaNeshcheret commented on #6661
Previously we replaced all non alphanumeric characters with `_`, so everywhere we expect schema names without `/`. @sherifnada please clarify that for now we want to allow `/` in at least schema name(need to investigate tables and identifiers). If yes are we going to do it only for postgres or for all destination? Additionally for we need put "" around all names where we allow `/`, like "schema/na

[2021-12-07 17:20] #8300 closed

[2021-12-07 17:25] vbhamidipati commented on #837
+1 - this is an important security capability

[2021-12-07 17:35] jrhizor commented on #8581
There are a couple issues that we face with logging that made us go in the current direction:
1. Users usually want log histories for jobs longer than they want the pods around. If we're pulling the logs from k8s logging, we won't have the backed up history.
2. Connector pods output both records and logs to stdout. Our current wrapping of the source images reroutes all stdout to another pod that's

[2021-12-07 18:09] antixar commented on #7881
Follow up issue https://github.com/airbytehq/airbyte-cloud/issues/659.
This task has to close posible security variabilities in the future.
About the future SonarQube projects. The Airbyte repo is aggregation of several stacks, languages and services. And one project will be not enough. I propose to classify projects by language and functional target:
1. Airbyte Python Connectors
2. Airbyte Java C

[2021-12-07 18:15] davinchia commented on #8581
@TSkrebe logging to Cloud storage powers the Airbyte webapp UI, especially the live log stream in the Jobs panel. Are you planning to use the Webapp? If you are Cloud storage is required. There is no good way to pull logs from general logging solutions otherwise. Does that make sense?

[2021-12-07 18:18] lmossman commented on #8258
@kailashjoshi018 Are you able to share the full logs from when you tried to upgrade from 0.31.0 to 0.32.0?

[2021-12-07 18:42] TSkrebe commented on #8581
@davinchia yes, I somehow missed that you use Cloud for webapp UI.. Thanks for explaining guys.

It might be a controversial idea but what if it was configurable to put log to postgres? These logs don't to be indexed, so it could be dumped to TEXT or whatever. The reason i raised this ticket was purely from operational perspective. I'd rather maintain a single postgres than postgress + minio. I to

[2021-12-07 18:45] benmoriceau opened #8598 "Explore Spring IOC (also know as dependency ingestion)"
Getting an object and its dependencies is painful and anoying,

For example for creating the `DefaultSyncJobFactory`, you will need to create a `DefaultJobCreator` which needs a `JobPersistence`. Doing that everytime we need it is a pain that would be great to have spring or other DI framework to handle that for us.

This ticket aim to dedicate time for doing a POC of the improvement that dependen

[2021-12-07 19:28] alafanechere commented on #8557
@sherifnada I'll let you prioritize 😄

[2021-12-07 19:42] sherifnada opened #8602 "Zendesk Support: use cursor-based pagination"
## Tell us about the problem you're trying to solve
Zendesk [recently announced an improved pagination mechanism using cursors](https://support.zendesk.com/hc/en-us/articles/4408824785946-Announcing-API-rate-limits-for-Offset-based-Pagination) that we should use.

## Describe the solution you’d like
The connector should use cursor based pagination instead of offset based.

[2021-12-07 19:45] alafanechere commented on #8575
Thank you very much @karinakuz !!!

[2021-12-07 20:01] alafanechere commented on #8575
@karinakuz do you think we could create a transaction on the Paypal Live account, I think it will fix the following CI error:
`AssertionError: All streams should return some records, streams without records: ***'transactions'***`.

[2021-12-07 20:30] jrhizor opened #8604 "upgrade jooq to 3.15.5 or above"
I noticed that if you upgrade JOOQ to 3.15.5 and fix the `BigInteger` api change in `DefaultJobPersistence`, there are still a few test failures due to changes in how types are handled.

It's probably worth fixing this earlier rather than later so we don't get "stuck" on an old version.

[2021-12-07 20:35] jrhizor commented on #8604
confused this with a testcontainers change.

[2021-12-07 20:45] jrhizor commented on #8604
Actually a valid issue, just had the version wrong.

Specifically the toy database migrator test has a bunch of mismatched values post-jooq upgrade:
![Screen Shot 2021-12-07 at 12 44 52 PM](https://user-images.githubusercontent.com/120362/145103495-ce713b59-9c3b-47cc-a91a-ede5c96043ea.png)

[2021-12-07 21:30] sbaldwin-rs commented on #8556
The max number of collections for the testing organization has been bumped to 50.

[2021-12-07 22:10] qops1981 opened #8605 "🐛 Destination Snowflake: DBT found an approximate match, Instead of guessing, Failure."
## Environment
- **Airbyte version**:  example is 0.30.20-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.3.11
- **Destination Connector and version**: Snowflake 0.3.16
- **Severity**: Low
- **Step where error happened**: Sync job

## Current Behavior
Sync Job fails on `case` table.

## Expected Behavior
Sync job should sync the `c

[2021-12-07 23:15] tuliren commented on #6871
Yes, we can close. Sorry that I missed your comment.

[2021-12-07 23:15] #6871 closed

[2021-12-07 23:18] keu commented on #8400
I think integration with Sentry should be here as well

[2021-12-08 01:52] lmossman commented on #8258
An update here: we have been able to reproduce the issue, and we believe we have identified the root cause. We have implemented a fix and will be distributing it soon - I will post again on this issue once I have more information!

[2021-12-08 03:28] #8245 closed

[2021-12-08 05:37] jonstacks commented on #1868
When I originally set this up, I was roughly following what Apache [Airflow](https://github.com/apache/airflow/tree/main/chart) did for their helm chart. They keep it in the repo, but then create specific tags(ex: [helm-chart/1.3.0](https://github.com/apache/airflow/releases/tag/helm-chart%2F1.3.0)) for releases. I've seen keeping it both in the product repo and outside of the product repo work an

[2021-12-08 05:37] sherifnada commented on #6661
@sashaNeshcheret I believe it is required to also do this in normalization for it to work correctly. @ChristopheDuong do you mind taking point on this issue/on what are the steps required to implement this? Is it the below?
1. replace `/` with `_` in the DB connector
2. do the same in normalization

[2021-12-08 06:40] #8285 closed

[2021-12-08 08:24] alafanechere commented on #8581
I'm adding the area/documentation tag as @jrhizor and @davinchia comment are valuable and might help adding details to the [Cloud logging section](https://github.com/airbytehq/airbyte/issues/8581)

[2021-12-08 08:31] harshithmullapudi commented on #6941
Hey @yevhenii-ldv I tried it with latest and was not able to reproduce it anymore. Thanks for checking it out. 👍🏻 . I am closing this.

[2021-12-08 08:31] #6941 closed

[2021-12-08 08:33] alafanechere commented on #8586
Hi @TSkrebe could you share the full sync log + your source and destination catalogs so we can get a bit more insight on what's happening?

More information how to extract logs [here](https://docs.airbyte.io/operator-guides/browsing-output-logs#exploring-the-logs-folders)
[code]

[2021-12-08 08:45] alafanechere commented on #8605
Hi @qops1981 do you think the root cause could be that dbt is searching for a lower cased `case` relation while the one that exists is in uppercase:
[code]

[2021-12-08 09:45] foogunlana commented on #8570
Actually, instead of halving the batch size, we could `updated_batch_size = current_batch_size * sampleReadsCounts[i] / samplingSpaceSizes[i]`

[2021-12-08 09:49] davinchia commented on #8581
@TSkrebe my main concern with using postgres is the scalability. Iirc, the columns (or rows) are limited to 1GB size so we would need to use some sort of rotation for the server and scheduler logs. I don't want to say no, but it seems slightly strange to me. Will discuss more with Jared.

Operationally would it be easier to use a proper Cloud storage option e.g. AWS or S3? All you would need to se

[2021-12-08 09:59] ChristopheDuong commented on #6661
The problem reported here is that Airbyte does not allow special characters in the schema:

So if my destination settings are:
![Screenshot 2021-12-08 at 10 54 36](https://user-images.githubusercontent.com/7718175/145187654-aaca9591-373a-402a-9ad8-63c03d43b442.png)

and my connection settings are:
![Screenshot 2021-12-08 at 10 56 27](https://user-images.githubusercontent.com/7718175/145187924-5973

[2021-12-08 10:10] charbelrseif opened #8618 "Add Shopify Visits Data"
## Tell us about the problem you're trying to solve
Shopify provides details on session information and unique visits.  This allows you to understand conversion percentage.  How many unique visits in a day result in a sale. It is important to understand traffic to a storefront and has been absolutely necessary since iOS 14.

## Describe the solution you’d like
I would love to be able to pull this

[2021-12-08 10:16] ChristopheDuong commented on #6661
Making the following changes to the output of normalization:
- `dbt_project.yml`
- models files:
![Screenshot 2021-12-08 at 11 11 28](https://user-images.githubusercontent.com/7718175/145190190-8d3ad5b4-46b9-4565-858e-f6eb8c0ca164.png)

Would give the expected output:
![Screenshot 2021-12-08 at 11 09 47](https://user-images.githubusercontent.com/7718175/145190217-ebc59fe8-d569-4bc4-8eba-2d213a3e61

[2021-12-08 10:26] ChristopheDuong opened #8619 "UI does not tell the truth on connection page"
## Tell us about the problem you're trying to solve
in this issue, the user is using special characters in the target namespace/table name:
https://github.com/airbytehq/airbyte/issues/6661#issuecomment-988665278

The UI should tell the user what is really going to happen to their data once sync completes (before It actually runs)
But here, there are differences between what is shown in the UI and

[2021-12-08 10:37] ChristopheDuong commented on #6661
Or maybe it's time to revert this: https://github.com/airbytehq/airbyte/issues/1785 WDYT @sherifnada?

[2021-12-08 10:41] asyarif93 commented on #8602
I'll take this issue, I have working implementation for this in ticket metrics.

for a note. this cursor-based pagination have different mechanism compared to existing `IncrementalSortedPageStream`
in `ticket_audits docs`:

I think I'll make class for `IncrementalUnortedPageStream`, `IncrementalSortedPageStream` and put existing `IncrementalSortedPageStream` implementation into `TicketAudits`. Wdy

[2021-12-08 11:23] JeroniMan commented on #8564
@alafanechere thank you. I try again create connection, and now have other problem:

`airbyte-webapp      | 2021/12/08 11:14:14 [error] 40#40: *6 upstream timed out (110: Operation timed out) while reading response header from upstream, client: 109.252.113.81, server: localhost, request: "POST /api/v1/sources/discover_schema HTTP/1.1", upstream: "http://****:8001/api/v1/sources/discover_schema", h

[2021-12-08 11:46] sarunaskas commented on #6886
@yevhenii-ldv I am still stuck in the same situation. Maybe you have any ideas how to resolve this? Still can't get past the the schema fetch. Quite a big blocker for us. Maybe I should raise this as a separate issue?

[2021-12-08 11:55] #8475 closed

[2021-12-08 12:56] TSkrebe commented on #8586
attaching [logs.txt](https://github.com/airbytehq/airbyte/files/7676123/logs.txt)

[2021-12-08 13:17] ChristopheDuong opened #8624 "Analytics: compute Connector Release Phases"
## Tell us about the problem you're trying to solve
Based on discussions in https://docs.google.com/document/d/1q9ncTSja4pZFJYEEs_AQ6NKOJOrMzcWq7KSyHCx4lPw/edit#

Compute Alpha/Beta/General Availability phases for connectors

[2021-12-08 13:39] TSkrebe opened #8625 "🐛 Source Google Analytics to destination BigQuery: various failures"
## Environment
- **Airbyte version**:   0.33.5-alpha
- **OS Version / Instance**: Container-Optimized OS from Google
- **Deployment**: Kubernetes
- **Source Connector and version**: Google Analytics 0.1.12
- **Destination Connector and version**: BigQuery 0.5.0
- **Severity**: High
- **Step where error happened**: Sync Job

## Current Behavior
So I tried to run 3 times with basic normalization.
1.

[2021-12-08 13:48] mkhokh-33 commented on #8014
hi @jrhizor , @Jamakase, @misteryeo
This changes requires UI  changes. Here is document with some proposals - https://docs.google.com/document/d/1tANl8-KFRa_6ddP7akSeRTFpwPuKwL8CnAmWEH6YgwA/edit.
could you please have a look and provide me with possible requirements

[2021-12-08 13:52] TSkrebe commented on #8581
Sometimes using cloud is not an option due to circumstances.

So if i understand correctly, it's possible for a single attempt to produce 1GB of logs?

[2021-12-08 14:03] prconstruct commented on #7587
Hello @sherifnada , could you please let me know when we can expect this bug to be fixed? Also this related S3 destination connector. Whatever source it could be, it ends by creating empty files in S3 when no records are populated by the sync jobs.

[2021-12-08 14:05] leo-pragi opened #8626 "🐛 Source Facebook Pages: Test connection failing (nonexisting field: live_encoders)"
## Environment
- **Airbyte version**:  example is 0.29.17-alpha
- **OS Version / Instance**: Ubuntu 18.04 EC2
- **Deployment**: EKS
- **Source Connector and version**: Facebook Pages 0.1.5
- **Severity**: High
- **Step where error happened**: Setup new source

## Current Behavior
Creating Facebook pages source is failing with 400 Client Error in test connection page with 400 Client Error: Bad Requ

[2021-12-08 14:06] darian-heede opened #8627 "Destination Postgres: Support setting of database role"
## Tell us about the problem you're trying to solve
The `config.json` for destination-postgres and the normalization takes a username and password. All database objects that are then created by Airbyte are then owned by the username set in the config. In our datawarehouse we use _nologin_ roles for permissions management. This implies that a role needs to be owner of database objects and not a use

[2021-12-08 14:23] monai opened #8629 "String format validation fails irrecoverably in the source connector setup UI"
## Environment

- **Airbyte version**:  0.33.3-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: Linnworks 0.1.3
- **Destination Connector and version**: None
- **Severity**: Normal
- **Step where error happened**: Connector setup

## Current Behavior

Source connector setup UI fails with "Unknown error occurred" when value entered to spec field

[2021-12-08 14:55] monai opened #8630 "It's impossible to insert many array values simultaneously in the connector setup"
## Environment

- **Airbyte version**:  0.33.3-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: Amazon Ads 0.1.2
- **Destination Connector and version**: None
- **Severity**: Normal
- **Step where error happened**: Connector setup

## Current Behavior

Array value input is overly single-item-centric. As a result, it's impossible to insert many v

[2021-12-08 15:17] qops1981 commented on #8605
@alafanechere so that's the weird thing. The source table is `case`, the table that Airbyte creates in Snowflake is `CASE`. Most (if not all) of the tables that Airbyte created are ALL CAPS versions of their origins. I have tried dropping the `CASE` table, but it just recreates it and fails again. To be clear I see no `case` table in Snowflake, just `CASE` which Airybyte created from the `case` ta

[2021-12-08 16:53] jrhizor commented on #8581
We operate under the worst case assumption that attempts can produce a lot of log data. In theory, someone could have a custom connector that logs 100 lines per record and end up with a multi-gb log file. While we would strongly discourage implementing a connector like that, the platform needs to be robust to cases like this so any connector-level bugs don't take down the rest of the system by tak

[2021-12-08 17:15] #8399 closed

[2021-12-08 17:17] Phlair opened #8633 "Get Shopify connector on Cloud"
think the issue is that we need to redirect the user to {shop_id}.shopify.com for consent instead of whatever we do now, this was recently added as part of https://github.com/airbytehq/airbyte/issues/7796. So there will be a java component here as well and a python/connector component to modify the spec to use the new oauth spec

Based on [priorities here](https://docs.google.com/spreadsheets/d/1J

[2021-12-08 17:19] sherifnada commented on #7722
@vitaliizazmic the UI logic has been merged, this issue should no longer be blocked

[2021-12-08 17:24] marcosmarxm opened #8634 "Publish automatically `strict-encrypt` version of connectors after the normal version"
## Tell us about the problem you're trying to solve
There are some database connectors with strict-encrypt. The idea is to publish automatically the version of those connectors after publishing the normal version.
1. Have a workflow to publish automatically the connector;
2. Have tests to validate and fail built CI if it's published.

## Describe the solution you’d like
A clear and concise descrip

[2021-12-08 17:27] sherifnada opened #8635 "Finalize connector GA criteria and stack ranking"
## Tell us about the problem you're trying to solve
Placeholder for finalizing the following questions:
1. What is the criteria for promoting connectors between alpha/beta/GA?
2. Which connectors will be prioritized first?
3. Get ratification on the proposal from GTM

[2021-12-08 17:29] Phlair opened #8636 "Write up docs for Salesforce connector overhaul/improvements"
Salesforce has a complicated API, which has created unforeseen issues with the connector in the past.
- We want to have a solid place of reference for a developer to understand this complexity.
- We want to outline what an ideal salesforce connector would like look and how it would work, taking into account this complexity.
- We want to define how we get to ideal from our current iteration, focuss

[2021-12-08 17:58] mik-laj commented on #7196
@tuliren Have you had time to look at it?

[2021-12-08 18:04] alafanechere commented on #8605
@qops1981 I think that your first intuition is the right one. I think this is related to SQL compilation on the DBT side because the `case` keyword is a reserved one that their compiler might lowercase. I found great information in this [blog post](https://towardsdatascience.com/debugging-dbt-when-your-table-name-is-a-reserved-keyword-faf81ab6376b).
I'd see three solutions:
1. Rename your source t

[2021-12-08 18:05] tuliren commented on #7035
MVP baseline results:

<img width="693" alt="Screen Shot 2021-12-06 at 15 52 11" src="https://user-images.githubusercontent.com/1933157/145260339-df6104ab-9b8e-45c8-934e-98a98ffb5a36.png">

[2021-12-08 18:09] alafanechere commented on #8586
@TSkrebe thanks! The source and destination catalogs would be helpful too.

[2021-12-08 18:10] #8379 closed

[2021-12-08 18:11] sherifnada commented on #7796
@sherifnada to follow up w connector teams to implement new spec in connectors

[2021-12-08 18:13] alafanechere commented on #8570
Yes great suggestion @foogunlana , you're contribution is welcomed of course 😄

[2021-12-08 18:16] sherifnada opened #8638 "Setup analytics project for tracking metrics"
Discover the current state of the analytics stack at Airbyte and setup the initial repository to centralize the Airbyte warehouse construction

[2021-12-08 18:16] #8258 closed

[2021-12-08 18:20] tuliren opened #8639 "Debug OOME issue in database benchmark"

[2021-12-08 18:20] tuliren opened #8640 "Run database benchmarks in cloud"
- Depends on #8729.

[2021-12-08 18:21] tuliren opened #8641 "Control CPU and memory in benchmark database syncs"

[2021-12-08 18:21] alafanechere commented on #8564
Hi @JeroniMan, we improved the schema discovery performance for our mongodb connector with this PR https://github.com/airbytehq/airbyte/pull/8491 could you please upgrade to `0.1.9`

About you original problem are you aware of any action you or your team made to solve this?

[2021-12-08 18:22] tuliren opened #8642 "Enable profiling for database benchmarks"
- Depends on #8640.
- [x] Enable Sentry https://github.com/airbytehq/airbyte/issues/9328
- [ ] Enable Datadog
- [x] Make a decision on which one we want to support
- [ ] Next steps (if needed) for what platform changes are required to make it work (e.g: injecting env variables or something, do we want it in both OSS and Cloud, etc..)
- Relevant to #7956

[2021-12-08 18:23] TSkrebe commented on #8581
I agree with all your points. I'm not suggesting to change the default behavior, but rather make it possible to opt-in. Again, this is more of a wish than some make-or-break feature. Thanks for explaining current architectural design decisions!

[2021-12-08 18:39] ChristopheDuong commented on #8605
sounds good

[2021-12-08 19:00] jrhizor opened #8643 "add verification step to check that large files have been successfully copied onto kube pods"
We've seen some evidence that some large config files are partially copied or not copied at all when launching Kubernetes pods.

see https://airbytehq.slack.com/archives/C02E3KDDRQE/p1638963725102900 for more info

We should separately confirm that files are completely copied before setting the success file.

[2021-12-08 19:21] qops1981 commented on #8605
Ok, we will look into that. Our Analytics person wanted me to make sure to call out that this is a "standard" Salesforce table, so you might see this with other users. Thank you both for following up on this.

[2021-12-08 19:21] #8605 closed

[2021-12-08 21:04] sherifnada commented on #8602
Thanks @asyarif93 ! will take a look soon

@antixar can someone from teh team review the contribution

[2021-12-08 21:14] sherifnada commented on #6661
It feels like the "ideal" choice here is to allow special chars for destinations which allow it and disable for those that don't. But doing that correctly would require a destination to either declare the charset it supports in schema/table names (maybe via spec?), _or_ to run a connection check that creates a table in the target namespace to verify it can be done.

Both of those are not trivial c

[2021-12-08 21:42] misteryeo opened #8645 "Deeplink URL"
## Tell us about the problem you're trying to solve
Today, if the demand generation / content teams want to share any part of Airbyte Cloud app with a broad audience through emails or blog posts, with the implementation of https://github.com/airbytehq/airbyte/issues/5227, they would need to customize each individual URL with the unique workspace slug.

## Describe the solution you’d like
Insteada,

[2021-12-08 21:50] sherifnada commented on #7587
@prconstruct can you help me understand the impact of this on your workflow?

[2021-12-08 21:51] sherifnada commented on #1384
@mohamagdy i believe you should be ready to go

[2021-12-09 00:24] lmossman commented on #8258
@vladimir-remar @kailashjoshi018
We have released the fix for this issue. Please try upgrading to `v0.32.0-alpha-patch-1`, which includes the fix, and let us know if you have any other issues

[2021-12-09 00:30] #7652 closed

[2021-12-09 02:13] sherifnada commented on #8625
could be due to #8643

[2021-12-09 02:13] sherifnada commented on #8643
@jrhizor could this be due to https://github.com/airbytehq/airbyte/issues/8625 ?

[2021-12-09 02:24] #7038 closed

[2021-12-09 02:50] sherifnada commented on #3914
this was taken care of as part of the native salesforce connector rewrite

[2021-12-09 02:50] #3914 closed

[2021-12-09 02:51] sherifnada commented on #3390
@rdkrish-plivo this should have been fixed with the latest airbyte-native salesforce connector, could you upgrade to it and reopen the issue if the problem persists?

[2021-12-09 02:51] #3390 closed

[2021-12-09 04:04] jrhizor commented on #8456
job/attempt labels are propagated properly in https://github.com/airbytehq/airbyte/pull/8015

[2021-12-09 04:04] #8456 closed

[2021-12-09 05:29] rdkrish-plivo commented on #3390
Thank you @sherifnada!

[2021-12-09 06:09] jrhizor commented on #8643
Yeah, maybe.

[2021-12-09 06:16] PVMer opened #8651 "Source Sendgrid: Add legacy marketing campaigns information"
We need to bring in Legacy Marketing Information from API - GET /categories/stats.

Currently the Sendgrid connector does not support Legacy Marketing information.

[2021-12-09 07:02] TSkrebe commented on #8586
@alafanechere can you elaborate how to get those logs? i'm running kubernetes and commands provided in the documentation fail because, it's not possible to exec into completed pods.

[2021-12-09 07:13] prconstruct commented on #7587
@sherifnada : we have 200+ tables from different source connectors, loading to S3 using the S3 destination connector. The sync job is used to run as frequently as it could be, some are scheduled to run every minute. There are lambdas that get triggered based on S3 event notifications. If we could restrict these empty files, we could save the execution of lambda.

[2021-12-09 07:23] #8319 closed

[2021-12-09 08:36] alafanechere commented on #8626
It looks like our connectors tries to query the `live_encoders` field that is not accessible. Is it due to a FB API update or because of a custom page setup on your side @leo-pragi ?

[2021-12-09 08:43] alafanechere commented on #8629
Just to add a bit of details here's the specs of the Linnworks connector:

[code]

[2021-12-09 09:24] kirstenhipolito opened #8655 "KeyError('window_in_days') in Google Analytics Source Connector"
## Environment
- **Airbyte version**:  0.32.6-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Kubernetes
- **Source Connector and version**: Google Analytics 0.1.12
- **Severity**: Medium
- **Step where error happened**: Setup new connection

## Current Behavior
I'm trying to set up a new Google Analytics source, but I get `KeyError('window_in_days')`. It seems this is a parameter in

[2021-12-09 09:53] alafanechere commented on #8586
I'd suggest you to attach to the any airbyte pod that shares the workspace volume and cat the catalog at the path suggested in my commands.

[2021-12-09 10:36] shrodingers commented on #8557
Hi ! Just stumbled upon the same issue, and it seems that this is because of the way data is meant to be formatted when going out of the source, and in case of deletes, if REPLICA IDENTITY is set on the tables with DEFAULT value, we do not have information about the original data. A workaround i've find is to use REPLICA IDENTITY FULL in order to keep the previous data in cases of update / delete,

[2021-12-09 10:39] DoNotPanicUA commented on #8406
Implementing this as part of https://github.com/airbytehq/oncall/issues/27

[2021-12-09 10:52] annalvova05 commented on #6887
@skbalahere can you please send more information about:

- do you set basic normalization?
- which columns don't transform data to date-time? `ga_date` or some others?

[2021-12-09 11:41] TSkrebe commented on #8586
so i checked three containers: scheduler, server and worker, but none of them seem to have access to the volume you're referring.
[code]

[code]

[code]

i'm using default helm configuration. It would be great to be able to report such things without diving deep into underlying architecture.

[2021-12-09 11:42] mike-wax commented on #3107
Looks like this one is done, any idea when it'll be merged? Is there an easy way to use these ahead of GA, happy to help test.

[2021-12-09 11:59] sashaNeshcheret commented on #6661
@ChristopheDuong what do you think about the above-mentioned by Sherif?

[2021-12-09 12:49] harshithmullapudi commented on #8643
Hey small update here, to test this out I checked the code https://github.com/kubernetes-client/java/blob/f68f17720e153bf5ddca6e63df70477c776e765f/util/src/main/java/io/kubernetes/client/Copy.java#L329

This looks to be like they do async copy which wouldn't be good in this case as FINISHED_UPLOADING is of 0 bytes and was causing lot of intermittent issues. But ideal solution is to use https://git

[2021-12-09 12:56] ChristopheDuong commented on #6661
Yes, it would be nice to add in the spec of the connector the supported charset for identifiers (schema/table/column names)

We would then be able to refactor and retire this set of java classes:
https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/NamingConventionTransformer.java

The declared charset would make th

[2021-12-09 12:57] dcoueron commented on #6573
Hi, while trying to setup CDC on a MariaDB database I encountered the same issue with Airbyte 0.33.5.
@digital-thinking , @marcosmarxm , did you manage to solve this ?

[2021-12-09 13:07] mkstayalive commented on #3982
@davinchia @SanjeevSingla19 @bizzareus Airbyte currently doesn't support this use case and they don't have a milestone for this. Please check out Castled.io's Github repo (I'm a maintainer), it may fit your needs - https://github.com/castledio/castled

[2021-12-09 13:20] arjunnikhil03 opened #8662 "Can We Create HyperTable Using Postgres Connector"
Hello Team,

I am using a Postgres connector for a destination. The pipeline works properly. My only question is how I can create a hypertable using the Postgres destination connector. I am using TimescaleDB in cluster mode. I want to create a distributed table.

[2021-12-09 13:31] malcolmtivelius commented on #8557
Thanks for letting me know about this workaround! @shrodingers I just tried it out and my issue was resolved. But as you say, it would still be beneficial to only send the primary key (and not the entire row) if a record is deleted. Will follow this issue for further updates

[2021-12-09 13:57] bazarnov opened #8665 "🐛 Destination BigQuery-Denormalized: cannot format root of NULL with nested objects"
## Current Behavior
- During the sync, the connector outputs the complex data structure with a lot of nested objects/arrays with objects/ etc.
- If the `root` node == `null` and the `json schema` of the stream contains nested objects as expected by the destination, but data is not present - the destination fails with the error. (see the logs attached).

## Expected Behavior
- Sync finished success

[2021-12-09 13:58] bazarnov commented on #8665
Also, adding the sample of the expected data from `draft_orders` stream.
[code]

[2021-12-09 14:14] iberchid opened #8666 "Source Google Ads: Add end_date configuration"
## Tell us about the problem you're trying to solve
I would like to be able to specify and end date up to which the data needs to be fetched.

## Describe the solution you’d like
Add end_date field to spec and allow for setting the value of the date until which the data should be fetched.

## Are you willing to submit a PR?
Yes

[2021-12-09 14:33] #8303 closed

[2021-12-09 14:47] VitaliiMaltsev opened #8667 "Source Oracle: Update Docker image tag to 18.4.0 version"
## Current Behavior
Currently OracleDestinationAcceptanceTest used 18.4.0-slim version of Docker image, update SourceOracleAcceptaneTest to use this  image also

## Expected Behavior
Acceptance tests shold be successfull

[2021-12-09 15:00] longfellowone commented on #2017
Recieving the following on 33.5-alpha. New M1 Macbook Pro

`https://github.com/longfellowone/airbyteerr.git`
`docker-compose up`

MEILI_MASTER_KEY=key

[logs-3b6db45f-3a7a-400a-89bd-7c3878270768-.txt](https://github.com/airbytehq/airbyte/files/7686068/logs-3b6db45f-3a7a-400a-89bd-7c3878270768-.txt)

[logs-734ead8b-74b0-4649-9f3e-99bf7b2dcd41-.txt](https://github.com/airbytehq/airbyte/files/7686069

[2021-12-09 15:12] alafanechere commented on #8586
When you're using  the helm chart the worspace root is set to `/workspace`. According to the output you shared above you indeed have a `/workspace` folder on the server. Could you share the output of an `ls` on this folder, I think you'll find what you're looking for here.

[2021-12-09 15:29] TSkrebe commented on #8586
it's empty
[code]

[2021-12-09 15:30] annalvova05 commented on #6887
During investigation and sync with @skbalahere, discovered that the problem reproduces only for custom reports in the `ga_date` column.

[2021-12-09 15:36] #7244 closed

[2021-12-09 15:45] jrhizor commented on #8455
Finally got the build passing. Needs a final pass over once again in the reviews but it is releasable and deployable on cloud.

[2021-12-09 15:52] VitaliiMaltsev opened #8670 "MsSQL Source and Destination: failed integration tests in master branch"
## Current Behavior
Currently MsSqlDestinationAcceptanceTest failed during running in master branch

## Expected Behavior
Fix integration tests
[Optional] Update docker image to the stable one

[2021-12-09 15:53] VitaliiMaltsev opened #8671 "MeiliSearch Destination: failed integration tests in master branch"
## Current Behavior
Currently MeiliSearchDestinationAcceptanceTest failed during running in master branch

## Expected Behavior
Fix integration tests
Update docker image to the stable one and do not use latest tag in docker image

[2021-12-09 15:53] VitaliiMaltsev opened #8672 "MariaDB Destination: do not use latest image tag in integration tests for MariadbColumnstoreDestinationAcceptanceTest"

[2021-12-09 15:56] VitaliiMaltsev commented on #8384
In Acceptance tests currently used docker images:

**Destinations**
Cassandra → cassandra:3.11.11
Elasticsearch → docker.elastic.co/elasticsearch/elasticsearch:7.15.1
Postgres → postgres:13-alpine
Kafka → confluentinc/cp-kafka:6.2.0
Kinesis → localstack/localstack:0.12.20
MariaDB → mariadb/columnstore:latest
MeiliSearch → getmeili/meilisearch:latest
MongoDB → mongo:4.0.10
Mqtt → hivemq/hivemq-ce:2

[2021-12-09 16:06] #7474 closed

[2021-12-09 16:06] #7477 closed

[2021-12-09 16:06] #7472 closed

[2021-12-09 16:06] #7473 closed

[2021-12-09 16:07] #8534 closed

[2021-12-09 16:07] #8535 closed

[2021-12-09 16:07] #8537 closed

[2021-12-09 16:36] qops1981 commented on #8605
We found a quick work around. We just created a separate connection for just that table and added a "prefix" to the destination table. This got the data over successfully on the initial and following sync's.

[2021-12-09 16:42] sherifnada commented on #8655
@antixar @lazebnyi seems like this is related to the latest change to GA, mind taking a look?

[2021-12-09 16:43] longfellowone opened #8674 "🐛 Destination MeiliSearch: NullPointerException when getOrCreate index"
## Environment
- **Airbyte version**:   0.33.5-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: Docker
- **Source Connector and version**:  Postgres 0.3.17
- **Destination Connector and version**: MeiliSearch 0.2.10
- **Step where error happened**:  Sync job

## Current Behavior
Both connectors setup/test ok. Initial sync/refresh fails

## Expected Behavior
Sync/refresh ok

## Logs

[2021-12-09 16:44] #8198 closed

[2021-12-09 16:44] #8200 closed

[2021-12-09 17:02] jrhizor commented on #8643
The synchronous call should work. It looks like the later one allows async copying and then just checking the future. I'm not sure why that would be more robust. We can try upgrading the client (should be easy).

@harshithmullapudi were you doing something to run a bunch of small syncs quickly? Is there a script or something I can just steal for testing this?

[2021-12-09 17:15] jrhizor commented on #8619
I don't think this is really a frontend issue in isolation. For the stream name logic we should be retrieving that from the backend. Similarly, it would be better if much of the namespace logic was hidden behind an endpoint.

[2021-12-09 17:50] ChristopheDuong commented on #8619
on this other issue, we're also talking about changing the protocol to add some charset field support from the connector  spec that the platform & UI would have to refer to, to know what is going to be replaced by `_` or not:

https://github.com/airbytehq/airbyte/issues/6661#issuecomment-989200860

[2021-12-09 18:36] #7047 closed

[2021-12-09 18:37] annalvova05 commented on #7047
Hy, @bigdatawonders, @harshithmullapudi !
For incremental streams data is synced up to the previous day using your Google Ads account time zone. The reason is that Google Ads can filter data only by [date](https://developers.google.com/google-ads/api/fields/v8/ad_group_ad#segments.date) without time. Also, some reports cannot load data in real-time due to Google Ads [limitations](https://support.g

[2021-12-09 18:48] #8655 closed

[2021-12-09 18:57] JeroniMan commented on #8564
@alafanechere thank you.
We have not resolved the original problem. We thought about removing broken documents, but we are running on mongodb 4.4.10 and not 5. Should we be affected by that ?

[2021-12-09 19:12] #2354 closed

[2021-12-09 19:13] sherifnada commented on #3792
latest version uses v52

[2021-12-09 19:13] #3792 closed

[2021-12-09 19:18] sherifnada commented on #6021
@cgardens @jrhizor  based on marcos' comment above this strikes me as an issue with receiving large catalogs from the connector, rather than the connector not being able to output them at all.

@mhensley-cls how many streams/tables do you have in your SF account? this would help us recreate the issue

[2021-12-09 19:27] sherifnada commented on #7495
@Jamakase in edit mode there is no need to pass again

[2021-12-09 19:29] #1671 closed

[2021-12-09 20:46] sherifnada opened #8681 "Snowflake Destination: Write to permanent tables instead of transient/temporary tables"
## Tell us about the problem you're trying to solve
customer asked for writing to permanent tables to snowflake, today we write transient

need to do a cost/benefit analysis with a rough effort estimate.
TODO:
1. differences between permanent and transient tables?
2. make decision on whether permanent is feasible, maybe with effort estimate. scope what work is needed.

## Describe the solution you

[2021-12-09 23:02] marcosmarxm commented on #8674
thanks @longfellowone looks this a problem with the destination connector. I added your issue in the connector roadmap.

[2021-12-09 23:02] marcosmarxm commented on #8666
Thanks @iberchid looks you'd already submitted the code! Amazing.

[2021-12-09 23:05] marcosmarxm commented on #8662
It's not possible TimescaleDB is not supported as a connector at the moment. I'll close the issue

[2021-12-09 23:05] #8662 closed

[2021-12-09 23:10] #7974 closed

[2021-12-09 23:17] marcosmarxm commented on #2170
Use Manual Sync Frequency and trigger the sync using the API.

[2021-12-09 23:18] marcosmarxm commented on #7530
I'll close this in favor of https://github.com/airbytehq/airbyte/issues/2170 which solve the same problem with more flexibility.

[2021-12-09 23:18] #7530 closed

[2021-12-09 23:21] marcosmarxm commented on #7227
The sync for every source will output the same logs, if the logs is not the same probably the sync is still running.

[2021-12-09 23:30] #8585 closed

[2021-12-09 23:51] marcosmarxm commented on #4037
Closing this because is not a unit of request and need to break into each point. @dmdmishra  Feel free to open them invidually.

[2021-12-09 23:51] #4037 closed

[2021-12-09 23:52] marcosmarxm commented on #3066
Implemented https://github.com/airbytehq/airbyte/pull/7095

[2021-12-09 23:52] #3066 closed

[2021-12-10 00:31] chriestensonb commented on #7286
I have updated and run again.  It does looks like the problem is with the parsing of the csv.  The logs print out a lot of the data which contains some PII.  Here are the last 100 lines where I have redacted some of the values.
[code]

[2021-12-10 05:51] #7374 closed

[2021-12-10 05:52] sherifnada commented on #7414
removing from sprint until SP sandbox is fixed

[2021-12-10 06:02] sherifnada commented on #7012
solved in https://github.com/airbytehq/airbyte/pull/7058

[2021-12-10 06:02] #7012 closed

[2021-12-10 06:14] #6388 closed

[2021-12-10 07:22] sherifnada commented on #6225
The right way to do this might be to actually make report configuration completely part of the configuration process of the connector. The idea is: by default, the connector doesn't sync any report streams; they would need to be added as part of the configuration page.

To add a report to the connector, a user clicks the "add" button on the UI and creates a list of reports, inputting their fields/

[2021-12-10 07:24] sherifnada commented on #6225
probably going to pull this into the next sprint, but marking as blocked for now pending a decision on the right UX

[2021-12-10 07:39] sherifnada commented on #7224
@zestyping is this issue due to an attribution window? e.g: if the attribution window is 28 days, the connector always retrieves data from the past 28 days no matter what. So if the sync runs once per day, I would expect records for any given date to show up once per day for the next 28 days. Also, are the values coming in these records actually different, if you know? (I suppose if the issue is t

[2021-12-10 07:41] sherifnada commented on #7224
@ChristopheDuong are there any gotchas when using composite cursors with normalization?

[2021-12-10 07:59] sherifnada opened #8689 "pytest: plan to reach 95% test coverage for connectors"
## Tell us about the problem you're trying to solve
This ticket aims to solve the following question: how can we reach 95% test coverage on our connectors?

## Describe the solution you’d like
A plan for how we can reach 95% test coverage on our connectors. e.g: is it enforced at the pytest level? If so, what's the migration plan for connectors to prevent all builds from suddenly failing? ticket g

[2021-12-10 08:01] avida commented on #7958
@sherifnada  Ive updated sentry [PR](https://github.com/airbytehq/airbyte/pull/8248) with client side sensitive data scrubbing. It implemented on CDK level and works for each connector.
We can do a demo on todays sync call.

Ive tried to come up with unittests overriding http transport and cover every possible case of possible sensitive data transfer (including transaction, contexts, different eve

[2021-12-10 08:03] sherifnada opened #8690 "Salesforce: Succeed the sync if the daily rate limit is reached"
## Tell us about the problem you're trying to solve
Salesforce has a daily rate limit (by default, 15k requests per day). If a sync reaches this rate limit there is no use in `sleep`ing, because we would need to sleep for a very long time (the rate limit resets every 24 hours).

## Describe the solution you’d like
I would like the sync from salesforce to "early succeed" if it reaches the rate limi

[2021-12-10 08:19] sherifnada commented on #8570
I would love to explore self-correcting behavior which is toggled perhaps with a "prevent sampling" boolean flag. @foogunlana would setting `window_in_days` to 1 basically solve this issue?

If that's the case, is there any reason not to set this number to 1 by default instead of 90?

[2021-12-10 08:30] sherifnada commented on #7958
demo sounds great! Let's do it

[2021-12-10 09:00] ChristopheDuong commented on #7224
Not sure no, dedup sync mode should already be using the composite cursor as it always use `_airbyte_emitted_at` as a backup from the defined cursor in the UI.

[code]
https://github.com/airbytehq/airbyte/blob/b88fc446529b06b35c88793aabcb92b6806a04d1/airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/first_output/airbyte_increment

[2021-12-10 09:03] ChristopheDuong commented on #7224
I'm not sure I understand why the current de-dup query is not working though...

Is the currently generated SQL looks like this?
[code]

[2021-12-10 09:58] #8363 closed

[2021-12-10 10:13] bazarnov commented on #8420
There were several issues inside of `draft_orders, orders, products, abandoned_checkouts` streams, those are fixed [in this PR](https://github.com/airbytehq/airbyte/issues/8353).
However there is another #8665 with `destination-bigquery-denormalized` we should await to be merged, before this fix is possible.

[2021-12-10 12:14] granescb opened #8696 "Env S3_LOG_BUCKET_REGION not working"
## Environment
- **Airbyte version**:  0.33.5-alpha
- **OS Version / Instance**: Container-Optimized OS from Google
- **Deployment**: Kubernetes
- **Severity**: High
- **Step where error happened**: Deploy

## Current Behavior
When I deployed application I see exception:
Cannot create enum from 'us-east-1' value!
In documentation I didn't found any example values for this env

My envs:
S3_LOG_BUCK

[2021-12-10 12:40] ycherniaiev opened #8697 "Kustomer source connector: investigate "user_agent" deprecation"
## Tell us about the problem you're trying to solve
While making titles update in [8367](https://github.com/airbytehq/airbyte/issues/8367) @sherifnada requested investigate **"user-agent"** field possibility for deprecation.

## Describe the solution you’d like
For now it is availbale in [spec.json](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-kustomer-si

[2021-12-10 12:46] ycherniaiev opened #8698 "Kustomer source connector: remove "page_limit_size" option"
## Tell us about the problem you're trying to solve
While making titles update in 8367 @sherifnada requested remove "page_limit_size" option.

## Describe the solution you’d like
For now it is availbale in [spec.json](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-kustomer-singer/source_kustomer_singer/spec.json).
Investigate the posiibilities to remove thi

[2021-12-10 12:55] igrankova commented on #6194
The App is Public for US, Australia, India, Canada, United Kingdom.

[2021-12-10 13:20] sashaNeshcheret commented on #6413
@lorriexingfang86 can you check if the problem is still reproducing?

[2021-12-10 15:04] lazebnyi commented on #7286
Thanks for this log! I think this [PR](https://github.com/airbytehq/airbyte/pull/8483#pullrequestreview-828995599) should help with your issue.

[2021-12-10 15:06] #7947 closed

[2021-12-10 15:09] julienBovet opened #8702 "🐛 Source Notion : Basic Normalization Fails"
## Environment
- **Airbyte version**:  0.33.8-alpha
- **OS Version / Instance**: GCP e2-standard-2
- **Deployment**: Docker
- **Source Connector and version**: Notion 0.1.0
- **Destination Connector and version**: Bigquery 0.5.0
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Sync fails during basic normalization step. Sync works without basic normalization acti

[2021-12-10 15:25] kyle-cheung commented on #2969
+1

[2021-12-10 15:26] kyle-cheung commented on #2969
+1!

[2021-12-10 16:49] sherifnada opened #8705 "Source Github: trial GraphQL API"
## Tell us about the problem you're trying to solve
same as #8503 but for github

[2021-12-10 17:57] digital-thinking commented on #6573
@dcoueron No, and we abandoned airbyte for performance reasons.

[2021-12-10 18:06] #8505 closed

[2021-12-10 18:45] jrhizor opened #8708 "test/ bump / release Java connectors on Java 17"
@sherifnada fyi

[2021-12-10 18:50] marcosmarxm commented on #8696
Did you use `'` in the value? Could you try without it?

[2021-12-10 20:14] marcosmarxm opened #8710 "CDK: create new singer based connector failed running check command"
## Current Behavior
[Slack convo](https://airbytehq.slack.com/archives/C01VDDEGL7M/p1639085893191100)
I'm trying to generate a new singer based connector andd having problem running the commands. Start working after changed the import from `airbyte_cdk.entrypoint` to `base_python.entrypoint`.

## Expected Behavior
*Tell us what should happen.*

## Logs
*If applicable, please upload the logs from t

[2021-12-10 21:15] lizdeika opened #8711 "Accessing source config in transform_function ?"
Hi,

https://github.com/airbytehq/airbyte/blob/161a1ee7b5c7375f16cffcd8f6d1eb4adc1cb437/airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py#L451-L457

Transform function normalizes source `Date` field that is needed later for slicing.
The problem is that date format in source comes in different formats depending on Amazon marketplace,
for example US

[2021-12-10 21:42] tuliren commented on #8639
The OOME was caused by a typo. The wrong argument was passed into a method.

[2021-12-10 21:42] #8639 closed

[2021-12-10 21:48] tuliren opened #8712 "Document how to use SQL scripts to create benchmark databases"

[2021-12-10 23:25] tuliren opened #8716 "Do not require retesting a connector when only the connector name is changed"
## Tell us about the problem you're trying to solve
Currently, changing any connector setting will require a retest of the connector to save the changes, if when only the connector name is changed, which is unnecessary and slow.

## Describe the solution you’d like
Do not retest the connection when the connector name is updated.

## Describe the alternative you’ve considered or used
N/A

## Additi

[2021-12-10 23:47] #8366 closed

[2021-12-11 00:05] zestyping commented on #7224
@ChristopheDuong I'll have a look.  How do I find the generated SQL?  Is there a flag I can set to make it print out the SQL to the log, or somewhere I can look for a relevant file?

[2021-12-11 00:19] zestyping commented on #7224
@sherifnada I can change the attribution window — for example, if I shorten it to 7 days, then fewer duplicate records are added.  But the number of records always grows with each sync (i.e. more duplicate records are added each time), which isn't how Incremental & Deduped is supposed to work, right?  Isn't the invariant that, if no records have been updated in the source, there should be no chang

[2021-12-11 00:32] marcosmarxm commented on #2969
@kyle-cheung restart Airbyte server to fetch the new sources, this one is in the official connector list.

[2021-12-11 00:57] #6096 closed

[2021-12-11 00:58] jrhizor commented on #6096
Cloud + OSS have been upgraded to Java 17. https://github.com/airbytehq/airbyte/issues/8708 is a followup ticket for the connectors team to make sure Java connectors are updated and released on Java 17 images.

[2021-12-11 04:24] tuliren opened #8718 "Make sure the database benchmark test mimics the production"
See details in https://github.com/airbytehq/airbyte/pull/8215#issuecomment-991382106.

[2021-12-11 05:07] tuliren opened #8719 "Destination deletion does not work on cloud"
## Environment
- **Airbyte version**:  cloud

## Current Behavior
After deleting a destination, the destination still exists.

## Expected Behavior
The destination gets deleted when it is deleted.

## Logs
N/A

## Steps to Reproduce
1. Go to a destination setting page.
2. Click the deletion button.
3. After the modal disappears, the destination still exists in the destination list page.

## Are yo

[2021-12-11 05:08] tuliren commented on #8719
Sorry, it looks like the root cause is browser caching. After force refreshing the page, the destination is gone.

[2021-12-11 05:08] #8719 closed

[2021-12-11 05:52] tuliren commented on #8640
Benchmark account: see Lastpass entry `Connector Benchmarks Cloud Account`.

Problems:
- No mock destination. Setting up a real destination is problematic. E.g. syncing 1000 streams to S3 ran into OOME, which is expected.
- It's very slow to retrieve the catalog for 1000 tables. When there are 240 columns per table, the discover operation never succeeds.
- The sync mode defaults to `Append`. I can

[2021-12-11 05:52] tuliren commented on #8640
Problems:
- No mock destination. Setting up a real destination is problematic. E.g. syncing 1000 streams to S3 ran into OOME, which is expected.
- It's very slow to retrieve the catalog for 1000 tables. When there are 240 columns per table, the discover operation never succeeds.
- The sync mode defaults to `Append`. I cannot bulk change them to `Overwrite`.
- Testing the connection is very slow.

[2021-12-11 06:30] tuliren opened #8720 "Create benchmarks using existing sample databases"
Current planned source database benchmarks focus on testing data volume. As an addition, we can leverage many of the industry standard sample databases to test more "normal" use cases. E.g. the `AdventureWorks` databases for SQL Server.

[2021-12-11 14:41] a3dho3yn opened #8721 "Patching CVE-2021-44228"
Does Airbyte have been affected by log4j [RCE vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2021-44228)?

[2021-12-11 20:41] michel-tricot commented on #8721
Hey @a3dho3yn, we actually upgraded Log4j: https://github.com/airbytehq/airbyte/pull/8687

Thank you so much for the report!

[2021-12-11 20:41] #8721 closed

[2021-12-11 21:29] tuliren opened #8722 "Re-evaluate MySQL year type"
The returned year value from MySQL can either be a `java.sql.Short` (when `yearIsDateType=false`) or a `java.sql.Date` with the date set to January 1st, at midnight (when `yearIsDateType=true`). Currently, `JsonSchemaPrimitive` does not support integer, but only supports number. Because the number type will be interpreted as a double in many destinations, and it is weird to show a year as a double

[2021-12-11 21:32] tuliren opened #8723 "Convert ambiguous MySQL types to more specific ones"
Convert ambiguous MySQL types to more specific ones, so that later on we can correctly map them to `JsonSchemaPrimitive`.

Currently, for columns like CHAR, the field json does not contain information about its charset, which is needed to determine whether the column is a string or binary. We don't distinguish between string vs binary in `JsonSchemaPrimitive` for now. So it is fine. However, in th

[2021-12-12 02:47] cgardens commented on #8244
I was able to recreate this on OSS locally by using version 0.1.23 of the Stripe source. I used the integration test credentials in last pass.

I think this is a 1 or maybe 2 line fix.

https://github.com/airbytehq/airbyte/blob/master/airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java#L172-L176
[code]
I think the first `validateSource` is probably just an artifact left over

[2021-12-12 03:15] cgardens commented on #3954
claiming this as a first issue for parker.

[2021-12-12 03:59] tuliren commented on #8723
Actually we don't need to handle this using MySQL specific metadata queries. When the character set for a `CHAR[N]` column is `binary`, the returned type of this column from JDBC is `BINARY[N]`. This is verified in data type tests.

[2021-12-12 03:59] #8723 closed

[2021-12-12 05:49] #7726 closed

[2021-12-12 18:30] #8712 closed

[2021-12-12 18:31] tuliren commented on #7035
Closed with #8215

[2021-12-12 18:31] #7035 closed

[2021-12-12 18:35] tuliren opened #8729 "Create a dev null destination on cloud for testing"
- Add a version of `destination-e2e-testing` without logging.
- Publish that version to cloud.

[2021-12-12 18:44] jrhizor opened #8730 "add env var configuration for sidecar resource requirements"
We shouldn't need to go through the full oss -> cloud release cycle to modify sidecar resource requirements.

[2021-12-12 19:11] tuliren commented on #8280
@sherifnada, by `annotation`, you mean we add extra fields in the current `jsonSchemaTypeMap` in `JsonSchemaPrimitive`, right? Like currently a date has `{ type: string, format: date-time }`. Proposal 2 means this map becomes `{ type: string, format: date-time, with_timezone: <boolean> }`?

[2021-12-12 19:24] tuliren commented on #8642
This issue depends on #8640, which depends on #8729. We probably cannot finish it this sprint.

[2021-12-12 19:25] cgardens commented on #7476
closed by the referenced PRs.

[2021-12-12 19:25] #7476 closed

[2021-12-12 19:27] cgardens commented on #8643
@harshithmullapudi would you mind trying to update the client like @jrhizor mentioned and see if that fixes the problem?

[2021-12-12 19:32] cgardens commented on #3954
@marcosmarxm could you share the error message or logs that you get when you try to `Upgrade All` and the connector doesn't exist anymore? This is a bug that this doesn't succeed and it would be helpful to have the logs in order to debug it.

[2021-12-12 19:40] cgardens opened #8732 "Support deleting Source / Destination definitions"
## Tell us about the problem you're trying to solve
* We want to allow a user to remove a connector definition from their Airbyte instance.
* This helps in cases where they have a custom connector that they do not want anymore.
* Helps clear out old connectors that do not exist or are not supported anymore.

## Describe the solution you’d like
* In the UI and API we should expose the ability to de

[2021-12-12 19:40] cgardens commented on #3954
I am making this issue just about the upgrade all bug. I have split out the definition deletions piece into its own feature issue here: https://github.com/airbytehq/airbyte/issues/3954

[2021-12-12 19:41] cgardens commented on #8732
Self-assigning until we have Parker in the system so nobody takes this issue.

[2021-12-12 20:12] ninomllr commented on #8258
I have the same issue on v0.33.10-alpha.

[2021-12-13 00:11] chandininekkantti opened #8735 "Airbyte-scheduler and Airbyte-worker Max RAM percentage is 25%"
## Environment
- **Airbyte version**:  example is 0.33.10-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**:Docker  deploy env
- **Severity**: Critical
- **Step where error happened**: Deploy

## Current Behavior
I notice that in Airbyte-scheduler and Airbyte-worker Max RAM percentage is set to 75% for JVM in both containers. However, when I do  _java -XX:+PrintFlagsFinal -version | g

[2021-12-13 04:58] sherifnada commented on #8280
@tuliren IDK where in the java code it would live, but at the protocol level it would live next to the `type` parameter e.g
[code]

[2021-12-13 05:02] tuliren commented on #8280
Got it.

Here is where the Java code is:
https://github.com/airbytehq/airbyte/blob/master/airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/JsonSchemaPrimitive.java#L11

The current setup (`jsonSchemaTypeMap`) is consistent with what you have in mind. We can just create a new enum.

[2021-12-13 05:29] sherifnada commented on #8400
@ChristopheDuong we should probably have an issue here for creating the analytics github project as well no?

[2021-12-13 06:13] sherifnada commented on #8243
@DoNotPanicUA just took a look. Two areas I'm curious about;

* Setup utility: is this specifically referring to setting up the connector databases/API sandbox envs etc? that's useful although sometimes it might be too heavy of an operation e.g: we wouldn't want to populate a 25gb db every time we run that benchmark. Just calling it out since it's probably going to be a semi-common case.
* Basic B

[2021-12-13 06:15] sherifnada commented on #8243
also did you see the existing E2E acceptance tests? they "kind of" have the components you mention but not with very good / clean separation. See this file for the entrypoint https://github.com/airbytehq/airbyte/blob/master/tools/bin/acceptance_test.sh

[2021-12-13 06:29] tuliren commented on #8280
Actually I think currently we always returns a UTC timestamp. So the timestamp string we generate is always ends with a `Z`, standing for UTC. Is it not the case? If not, we can just do that, and we don't need a timezone aware string type.

[2021-12-13 08:41] alafanechere commented on #8702
Hi @julienBovet thanks for opening this issue.
Could you please share you source and destination catalog?
[code]

More details on how to identify job id and attempt id can be found [here](https://docs.airbyte.io/operator-guides/browsing-output-logs).

[2021-12-13 09:08] DoNotPanicUA commented on #8243
Data generation is not mandatory for each test. Nothing stops us from re-use pre-generated sources with any amount of data there. This logic can be controlled by the test description (Source config).

Basic metrics which we are gathering right now manually.

The endpoint is to have a simple platform that can be configured to run any test. First of all, focused on reproducing complicated cases from

[2021-12-13 09:14] #8368 closed

[2021-12-13 09:29] alafanechere commented on #8570
Settings `window_in_days` to `1` will probably reduce sampling but increase read duration. I find it a legit workaround but it does not guarantee no sampling for high traffic websites that have > 500k session / day.

[2021-12-13 09:36] #5030 closed

[2021-12-13 09:43] foogunlana commented on #8570
Good point @alafanechere. There might be users for whom 1 day is still too large a window size. Though, that problem can't be solved without changing the `cursor_field` from `ga:date`, which has a granularity of 1 day, to something more granular - e.g. `ga:dateHourMinute`. Perhaps that could be another improvement to make here.

[2021-12-13 10:26] tuliren commented on #4071
Most type problems should be resolved in #8726.

[2021-12-13 10:49] #8670 closed

[2021-12-13 10:49] alafanechere commented on #8586
Hi @TSkrebe could you have a look to this [documentation](https://docs.airbyte.io/operator-guides/browsing-output-logs#browsing-on-kubernetes) about extracting catalogs in K8S  ? Please let me know if it's not working.

[2021-12-13 10:57] TSkrebe commented on #8586
@alafanechere k8s documentation is only relevant when pods are still up and running. In our case pods have already exited.

[2021-12-13 11:06] vladimir-remar commented on #8258
@lmossman I tried without modifying the `ATTEMPS.yaml` file and it seems to work, I did in a backup from my EC2 Instance, but I had to move from t3.large to t3.xlarge. But now when I try to do the same in my actual(pro) EC2 instance which run in a t3.xlarge it does not work, at some point it runs out of memory and the loop migrations starts again. I will try to change the instance type to t3.2xlar

[2021-12-13 11:10] alafanechere commented on #8586
Ok @TSkrebe, could you try to run the kubectl commands in the doc while your job is running?

[2021-12-13 11:24] #8667 closed

[2021-12-13 12:19] ChristopheDuong commented on #2591
Related to https://github.com/airbytehq/airbyte/issues/4342

[2021-12-13 12:50] bazarnov commented on #8503
Hello, polling the `orders` stream is not the issue of the performance, the `orders` are pulled fast and easy using REST API + pagination. Example, we have 122 orders inside of our integration-test account for shopify, we can pull them easily with REST API Call, took 1 sec for this operation.

The biggest issue here is the polling the others dependent on `orders` stream, like `order_refund`, the R

[2021-12-13 13:14] bazarnov commented on #8420
In order to fix the rest of the issues related to the `destination-bigquery-denormalized` we need this to be merged as well:
https://github.com/airbytehq/airbyte/issues/8665

[2021-12-13 13:15] ChristopheDuong commented on #8406
Could you link the PR to the issue when it is up please? That would help on tracking progress too, thanks

[2021-12-13 14:01] igrankova opened #8744 "Update fields in destination-connectors specifications: azure-blob-storage, bigquery, bigquery-denormalized, cassandra, csv, dynamodb, elasticsearch, firestore"
Add title and description properties to each field in destination-connectors specifications:
destination-azure-blob-storage
destination-bigquery
destination-bigquery-denormalized
destination-cassandra
destination-csv
destination-dynamodb
destination-elasticsearch
destination-firestore

[EPIC] Add title and description properties to each field in connectors specifications and order input fields app

[2021-12-13 14:03] antixar opened #8746 "🐛 SAT: incorrect reading of container's logs"
There is incorrect logic of containers' logs. Some logs can be printed to "stdout" stream and as result Trackback logs can be hidden.

[2021-12-13 14:04] igrankova opened #8747 "Update fields in destination-connectors specifications: gcs, jdbc, kafka, keen, kinesis, kvdb, local-json, mariadb-columnstore, mongodb"
Add title and description properties to each field in destination-connectors specifications:
destination-gcs
destination-jdbc
destination-kafka
destination-keen
destination-kinesis
destination-kvdb
destination-local-json
destination-mariadb-columnstore
destination-mongodb

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8

[2021-12-13 14:06] igrankova opened #8748 "Update fields in destination-connectors specifications: mqtt, mysql, postgres, pulsar, redis, redshift, s3, scylla"
Add title and description properties to each field in destination-connectors specifications:
destination-mqtt
destination-mysql
destination-postgres
destination-pulsar
destination-redis
destination-redshift
destination-s3
destination-scylla

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2021-12-13 14:19] igrankova opened #8750 "[STORY] Implement Uninstallation flow for Pipedrive connector"
## Tell us about the problem you're trying to solve
We need to implement Uninstallation flow to publish Pipedrive App.

## Describe the solution you’d like
**The Uninstallation flow consists of:**
- Uninstall callback
- Token revocation
- Revoking the Refresh Token aka marking an app uninstalled
- Revoking the Access Token

**To implement this:**
1. We need the java FE task to create a new button

[2021-12-13 14:22] bazarnov commented on #8487
Please check this comment from PoC:
https://github.com/airbytehq/airbyte/issues/8503#issuecomment-992446245

[2021-12-13 15:20] sashaNeshcheret opened #8752 "Source Mongo DB: Failed to fetch schema if user doesn't have permissions for all collections in db"
## Environment
- **Airbyte version**:  v0.33.5-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker
- **Source Connector and version**: Source Mongodb 0.1.8
- **Destination Connector and version**: Destination PostgreSQL 0.3.12
- **Severity**: Medium
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Behavi

[2021-12-13 16:24] marcosmarxm commented on #8556
thanks @sbaldwin-rs

[2021-12-13 16:24] #8556 closed

[2021-12-13 16:59] #7704 closed

[2021-12-13 18:47] collinscangarella commented on #4235
I'm not sure if my issue is related - after multiple upgrades logs stop showing up entirely. Which is a bit more than inconvenient as I am unable to troubleshoot a misbehaving custom connector. Is there a way to do this manually?

[2021-12-13 18:51] misteryeo opened #8754 "Implement sorting for Sources & Destinations"
## Tell us about the problem you're trying to solve
For workspaces with more than a handful of sources or destinations, it's difficult to manage in the current UI.

## Describe the solution you’d like
The columns within the Sources and Destinations UI should support sorting by ascending or descending order similar to what exists today in the Connections UI.

Specifically, the `name`, `connector`,

[2021-12-13 18:56] misteryeo opened #8755 "Implement search and filtering for Connections, Sources and Destinations UI"
## Tell us about the problem you're trying to solve
For workspaces with more than a handful of sources or destinations, it's difficult to manage in the current UI.

## Describe the solution you’d like
An ability to search for my desired connection, source or destination using a keyword within the Connections, Source or Destinations UI respectively. The results should dynamically update on the page

[2021-12-13 19:36] danieldiamond commented on #8218
FYI I still experience this issue with EC2 Docker and `0.33.11-alpha`
See original issue: https://github.com/airbytehq/airbyte/issues/5754

[2021-12-13 20:45] alexandr-shegeda commented on #8280
@tuliren @sherifnada it looks to me that we have at least two options here to handle the DB timezone
- use UTC as a connection timezone (for example use serverTimezone=UTC param for MySQL connection)
- make DB return date with UTC offset (SELECT CONVERT_TZ('2004-01-01 12:00:00', @@session.time_zone,' +00:00');)
https://docs.microsoft.com/en-us/sql/t-sql/queries/at-time-zone-transact-sql?view=sql-s

[2021-12-13 22:25] tuliren commented on #8280
I think this only works if the source supports outputting a timestamp in UTC. It is possible that the source has no idea about what the timezone is for a timestamp. In that case, differentiating between timestamp with or without time zone is still important.

[2021-12-13 22:39] #1903 closed

[2021-12-13 23:01] tuliren commented on #7959
@keu, the current approach only works for Python source connector. Is there any plan to test it for Java source connectors?

[2021-12-13 23:44] keu commented on #7959
@tuliren Sentry has integration with Java apps as well, https://docs.sentry.io/platforms/java/
The original plan was about delivering MVP, AFAIK there is no such thing as CDK for Java we will have test integration for each Java connector by implementing the same steps described in the MVP plan for Python.

[2021-12-13 23:47] #8002 closed

[2021-12-14 01:18] cgardens commented on #8755
Note: this is client-side filtering search only for the MVP.

[2021-12-14 01:18] cgardens commented on #8754
Note: this is client-side only for the MVP.

[2021-12-14 06:15] ishanjoshi02 opened #8763 "Add source level filtering to Mongo source connector"
## Tell us about the problem you're trying to solve
Use case: We want to load only last months data into our Snowflake Destination

## Describe the solution you’d like
A Json field which translates into a Mongo Query

[2021-12-14 08:58] igrankova opened #8765 "FE task to create a new button "Uninstall" for Pipedrive connector"
## Tell us about the problem you're trying to solve
We need to implement the "Uninstall" button for the source connector Pipedrive. It is a must condition to submit the Public App.

## Describe the solution you’d like

1. On the connection Settings screen add a button "Uninstall".
2. The button should be enabled by default.
3. On button press implement Uninstallation flow (should be implemented in

[2021-12-14 09:05] igrankova opened #8766 "BE task to implement Uninstallation flow for the Pipedrive source connector"
## Tell us about the problem you're trying to solve
We need to implement the Uninstallation flow on the "Uninstall" button press action for the source connector Pipedrive. It is a must condition to submit the Public App.

## Describe the solution you’d like

1. The Uninstall button is implemented in #8765
2. The Uninstallation flow consists of the next steps:
- Uninstall callback
- Token revocatio

[2021-12-14 09:38] yevhenii-ldv opened #8767 "Source Braintree: Failed with test_defined_refs_exist_in_schema in SAT Discover tests"
## Environment
- **Braintree connector**:  version 0.1.1
- **Severity**: Medium
- **Step where error happened**: SAT tests

## Current Behavior
*Failed.*

## Expected Behavior
*Successfully pass.*

## Logs
You can find it [here](https://dnsgjos7lj2fu.cloudfront.net/tests/summary/source-braintree/)

<details>
<summary>LOG</summary>

[code]

</details>

## Are you willing to submit a PR?
Yes

[2021-12-14 09:39] yevhenii-ldv commented on #8364
blocked publish by https://github.com/airbytehq/airbyte/issues/8767

[2021-12-14 09:44] sarunaskas commented on #8084
I'm having the same issue. The import does nothing while there are no errors in console or the network tab. We are trying to migrate from a docker setup to kubernetes.

[2021-12-14 09:44] igrankova commented on #8765
@jacob-a6, @Jamakase, @sherifnada, could you please review the tasks and the mockup I made? We received a requirement to implement Uninstallation flow from the Pipedrive support as a condition to make our OAuth app public.

[2021-12-14 09:55] Jamakase commented on #8765
@igrankova How does uninstall differ from deleting the destination? Do we just revoke access in this case or we also delete the destination entity? Is it possible to revoke permissions but keep the destination enabled? I think no. Doesn't it mean then that deleting the destination itself should revoke all permissions?

Also 1 more thing - what if numerous destinations are used for oauth for pipedr

[2021-12-14 10:20] grubberr opened #8770 "SAT test_check Status.Exception failed for airbyte-cdk >= 0.1.41"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2021-12-14 10:32] igrankova commented on #8765
@Jamakase, I apologize for the wrong pic. The button should be on the connection Settings screen and it should delete the installed app from the Pipedrive account and revoke all connections and access to the Pipedrive account of the current user. "if a user uninstalls it (app) and your server should also know it so that it can stop sending requests for that specific user." - https://pipedrive.read

[2021-12-14 10:42] everysize commented on #8572
@augan-rymkhan

Attached I send you my current log.

[logs-644-2.txt](https://github.com/airbytehq/airbyte/files/7710894/logs-644-2.txt)

The problem still persists. Let me know if you need more information.

![a8c3b44a-24ea-4e26-8a52-bdc9ffdacd33](https://user-images.githubusercontent.com/13103104/145983089-c5530f89-719a-48e3-b5b9-e1ad9643fe74.png)

[2021-12-14 11:31] mihir-kanzariya opened #8773 "🐛 Source Facebook Marketing: There have been too many calls to this ad-account."
Hey all, I am getting this error after configuring facebook marketing connectors.

[code]

When I check it also says it also says
`Utilization is too high (118)%, pausing for 47 minutes .`

As per @alafanechere, The connector already has a backoff logic that should avoid the error. Maybe there could be some backoff optimizations to be made.

You can find logs in the attachment.
[logs-1731-0.txt](h

[2021-12-14 11:38] danieldiamond commented on #7479
@yevhenii-ldv i'm hoping im just doing something silly here that you can help with.
this is a brand new instance `0.33.11-alpha`. incremental doesnt appear to be working (GSC `0.1.7`)

- start_date: `2020-01-01` (even though data starts from `2020-08-01`
- end_date: left empty
- schema:
  - search_analytics_by_page: incremental + append
  - sites: full_refresh + overwrite
- first_sync: `3.13 GB |

[2021-12-14 13:13] bazarnov commented on #8487
In this PR, the performance of order_refunds stream was slightly increased, by pooling out the refund-ready information from the order, the connector will make the api calls to refunds endpoint only if the refund is/was present in the order. Example: we have 300 orders, 25 of them have refunds, so we will have 25 api calls only to get the refunds data.

[2021-12-14 14:06] mohamagdy opened #8783 "🐛 Broken HelmCharts v0.33.11"
## Environment
- **Airbyte version**:  example is 0.33.11-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: HelmCharts
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Critical
- **Step where error happened**: Du

[2021-12-14 14:16] lfzuluagah opened #8785 "Destination MSSQL: JDBC connection with advanced params"
Our customer has an on-prem database in SQLServer with some additional parameters as domain and Integrated Security, in the normal JDBC connectors those parameters are added in an additional parameters string to concatenate with the other parameters

ex
jdbc:jtds:sqlserver://host:port/databasename;domain=mydoman;Integrated Security=true

## Describe the solution you’d like
Possibility to add addit

[2021-12-14 14:25] augan-rymkhan commented on #8419
### Scoping report

By default we should try to use BULK API.

Pros and cons of BULK API version:

Pros:
1) BULK API returns a `csv` file. It helps to avoid rate limit.
2) It also supports incremental sync.

Cons:
1) Salesforce BULK API currently does not support loading fields with data type base64 and compound data (nested object)
   If the stream's schema contains base64 or/and nested object, u

[2021-12-14 14:37] htrueman commented on #7031
## Scoping report ##

For now we use [/vXX.X/sobjects/](https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/resources_describeGlobal.htm) endpoint to obtain a list of available stream names. This endpoint supports the `If-Modified-Since` and `If-Unmodified-Since` which may be used to filter the streams by modification time. So this may be useful as in most cases users want to

[2021-12-14 14:52] alafanechere commented on #8735
Hello @chandininekkantti,
The command you ran is directly referring to java defaults, by default maxRamPercentage is set to 25%.
We override this default when we are launching our applications with the `-XX:MaxRAMPercentage=75.0` flag.
You can double check the output of your command by changing it a bit:
`java  -XX:MaxRAMPercentage=75.0 -XX:+PrintFlagsFinal -version  | grep -Ei 'maxheapsize|maxram

[2021-12-14 14:58] eliziario commented on #7110
Preparing it for the demo, doing e2e testing found some issues on streams auth

[2021-12-14 15:05] #7764 closed

[2021-12-14 15:17] sherifnada commented on #8419
Some questions:

1. what does `base64` correspond to in Salesforce? I'm trying to understand how often a user will have a base64 object or a compound data field, which would impact this.
2. what is the performance difference between bulk and REST API performance?

[2021-12-14 15:21] alafanechere commented on #8773
To add more context the Slack discussion can be found [here](https://airbytehq.slack.com/archives/C01MFR03D5W/p1639150133176100).
From Facebook API's documentation, the rate limit is dynamically computed according to the number of ads on the user account. What they are calling the Business Use Case Rate Limits which is documented [here](https://developers.facebook.com/docs/graph-api/overview/rate-

[2021-12-14 15:31] lfzuluagah commented on #8785
@alafanechere  what happens if I need to use it as a destination and need the same additional params

[2021-12-14 16:28] alafanechere opened #8789 "🐛 Source S3: tab delimiter is not parsed properly"
## Environment
- **Source Connector and version**: Source S3 0.1.7
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
When dealing with CSV file, the S3 source connector is not parsing the `/t` character in the `delimiter` field properly.
It leads to the following error during sync
[code]
The user provided the config blob stored in Postgres when they are using

[2021-12-14 16:47] jrhizor commented on #8084
Does it make a network request to the server for this call? If so, can you share the server logs?

[2021-12-14 18:15] sherifnada commented on #8633
- [ ] Update Python Spec
- [ ] Add Java oauth flow implementation
- [ ] Fulfill shopify application requirements, see `Shopify OAuth Developer App` on lastpass for login/url
- [ ] deploy/test in dev
- [ ] deploy/test in prod

[2021-12-14 18:51] htrueman commented on #7881
As were discussed, we should implement the following flow:
- Search the modules which were changed in PR. E.g. assume that `airbyte-cdk/python/airbyte_cdk/logger.py` and `airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py` were changed. That would mean the `airbyte-cdk` and `airbyte-integrations/connectors/source-salesforce` should be found.
- Build reports for the modules

[2021-12-14 21:51] danieldiamond opened #8798 "Google Search Console (GSC) Incremental stream not working incrementally"
## Environment
- **Airbyte version**:  0.33.11-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: GSC 0.1.7
- **Destination Connector and version**: Snowflake 0.3.20
- **Severity**: High
- **Step where error happened**: Sync Job

## Current Behavior
Incremental stream performs full refresh

## Expected Behavior
Incremental stream performs increm

[2021-12-14 22:04] gajus commented on #1868
To anyone reading the above comment without any context: `charts.airbyte.io` does not actually exists. Comment suggests adding it.

[2021-12-14 22:18] gajus commented on #1868
Instructions for anyone who want to install this Helm chart:

[code]

[2021-12-14 22:33] sherifnada commented on #7031
It looks like it's also possible to achieve this by creating a dedicated salesforce user with specific permissions, [see the example from fivetran](https://fivetran.com/docs/applications/salesforce/setup-guide#createnewuserandprofileinsalesforceoptional)

[2021-12-15 00:00] marcosmarxm opened #8800 "CI Sandbox account for Qualaroo"
## Tell us about the problem you're trying to solve
Need Qualaroo credentials to test communty contribution https://github.com/airbytehq/airbyte/pull/8623

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative so