[2022-02-08 14:21] igrankova commented on #10061
@misteryeo, Quickbooks research is done

[2022-02-08 14:37] #9994 closed

[2022-02-08 14:49] ycherniaiev commented on #10067
Researchis here https://docs.google.com/document/d/1paI_5Ct8p-KfSRM2ENNg0lEV7hPIili2O3hN7WhCR90/edit#

[2022-02-08 15:11] noahkawasakigoogle commented on #9855
Gotcha! Thanks.

In response to

So they're rarely "actual" build breakages

I think this would help: https://github.com/airbytehq/airbyte/issues/7566#issuecomment-1013898533

But I dont have context on why Airbyte's GA dont already do this so I could be missing something

[2022-02-08 15:15] misteryeo commented on #10154
Assuming there is no technical limitation, this sounds great to me!

[2022-02-08 15:18] dsnam commented on #9994
@bazarnov @misteryeo That PR fixes the auth config shape issue but the refunds stream name change is the issue that is trickier to migrate around due to downstream things like custom dbt transforms depending on the table names that are produced from the stream name. I know that one's not desirable to revert so is there any chance the `aliasName` field I mentioned above could be made to work like t

[2022-02-08 15:24] davinchia commented on #10154
Sherif, can we try to shoot for <=3 seconds to begin and reevaluate after some time to see if that's too ambitious a time? This gives us ~2 second of buffer for the odd case where things are slow.

[2022-02-08 15:55] philippeboyd commented on #8503
@sherifnada will this PoC be implemented for Shopify?

I'm not seeing anything GraphQL related in the changelog https://docs.airbyte.com/integrations/sources/shopify#changelog

Shopify as a Source is still super slow...

[2022-02-08 16:36] bbl-vidyut commented on #1409
Hi there!
I periodically run into this error - "Cannot reach server. The server may be starting up."
![2291732c-6686-4c47-ba94-512cea140b88](https://user-images.githubusercontent.com/73094201/153031510-d1fe057c-3b74-4fad-941c-2db51ad57ccf.jpg)

 Could not see any errors in the logs for `airbyte-server`.
 Neither could I see any particular errors in the logs for the `airbyte-scheduler`. Although, t

[2022-02-08 17:11] noahkawasakigoogle commented on #10174
When you say "checks of code quality" do you mean linters?

[2022-02-08 17:13] sergei-solonitcyn commented on #10174
Yes, linters, tests and test coverage

[2022-02-08 17:23] subodh1810 opened #10188 "Snowflake Destination Unit Tests"
The current Sonarqube report is very poor for Snowflake Destination. This is because Sonarqube doesnt acknowledge E2E acceptance tests. We should write unit tests to make the metrics better
Ref : https://github.com/airbytehq/airbyte/pull/9982#commitcomment-65818678

[2022-02-08 17:27] vitaliizazmic commented on #8331
@arniwesth could you please clarify why making a custom GAQL isn't seem a feasible solution?

[2022-02-08 17:33] cgardens opened #10190 "Push Failure Reason info to Segment"
Follow up on https://github.com/airbytehq/airbyte/issues/2591

## Tell us about the problem you're trying to solve
Per the linked issue we now store a lot of extra information about why a sync failed. We don't currently send it to segment which blocks Connector's ability to use it for GA calculations.

This should just be adding this info to the `JobTracker` so it gets sent to segment.

### Detail

[2022-02-08 17:47] KhristinaR opened #10191 "Source Marketo: leads stream always fails"
## Environment
- **Airbyte version**:  0.35.17-alpha
- **OS Version / Instance**: n1-standard-2
- **Deployment**: GCP (Compute Engine)
- **Source Connector and version**: Marketo 0.1.3
- **Destination Connector and version**: BigQuery 0.6.7
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
 The ''leads'' stream fails every time in 30 sec. There are no issues w

[2022-02-08 17:57] sergei-solonitcyn opened #10192 "Improve code quality for chargebee"
[airbyte](https://github.com/airbytehq/airbyte)/[airbyte-integrations](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations)/[connectors](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors)/[source-chargebee](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-chargebee)
See details in #10174

[2022-02-08 18:42] misteryeo commented on #6340
This issue is being handled here: https://github.com/airbytehq/airbyte/issues/9351

[2022-02-08 19:48] klogdog commented on #7232
Fivetran doesn't require access to s3 for staging. They only require the Databricks portion of information , which are server address, http path, and the personal access token.

We should be able to make the Databricks connector as robust and easy. Removing the need for s3 access and relying on Databricks for staging would simplify the process for airbyte users and relieve them of the headache of

[2022-02-08 20:23] keurcien opened #10194 "Allow to specify dataset location in BigQuery source"
## Tell us about the problem you're trying to solve
I would like to be able to export data from a BigQuery dataset located in another region than US, to a PostgreSQL database.

## Describe the solution you’d like
Add a dataset location option to the source configuration similar to what's been done for the BigQuery destination (cf #3277)

## Describe the alternative you’ve considered or used
For no

[2022-02-08 21:08] jmcbroom commented on #10074
I think the current connector is broken, it `zip`s each row's values with the columns, assuming they are in the same order, but they are not.

[2022-02-08 21:12] #9731 closed

[2022-02-09 01:08] sherifnada commented on #8503
@philippeboyd due to the reasons explained above, we found that the GraphQL API does not offer reliable improvements for this connector unfortunately, so GQL is not a feasible path forward.

[2022-02-09 01:18] ShahNewazKhan commented on #3605
Makes sense, thanks!

[2022-02-09 04:13] augan-rymkhan commented on #5114
**Make SourceHubspot inherits AbstractSource**
- [ ] Implement `check_connection`, we can use [client.health_check](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py#L115) in this method
- [ ] Fix `stream.name` property so `AbstractSource's` `discover` command can find the related schemas.
- [ ] Implement `streams` method, we c

[2022-02-09 05:27] harshithmullapudi opened #10202 "Feat: Clone sources with credentials"
## Tell us about the problem you're trying to solve
API to create a clone for sources which includes credentials

[2022-02-09 05:47] harshithmullapudi commented on #10159
Hey can you try increasing the resources as mentioned here https://docs.airbyte.io/operator-guides/scaling-airbyte#memory

[2022-02-09 05:55] harshithmullapudi commented on #10054
@karinakuz can you help to get credentials for this

[2022-02-09 06:03] jrhizor commented on #10126
Connection id has been added. I think the others are lower priority so moving this down.

[2022-02-09 06:04] jrhizor commented on #10124
Using `orchestrator-repl-job-47019-attempt-0`, `orchestrator-nrom-job-47019-attempt-0` already.

Next step would be to clean up:
- [ ] check
- [ ] discover
- [ ] source
- [ ] destination

[2022-02-09 06:49] kelvingakuo commented on #9827
Running into the same problem here

[2022-02-09 07:30] cgardens commented on #8240
Do we have a sense of how many sources this affects? If it’s a lot, is it worth considering doing our own macro? Sounds like google ads might be affected which is obviously a big one.

[2022-02-09 07:45] igrankova commented on #6281
#10002 duplicates this issue and is in implementation

[2022-02-09 07:45] #6281 closed

[2022-02-09 07:56] davinchia opened #10205 "Infrastructure changes to support scheduling Check jobs into a separate node pool."
## Tell us about the problem you're trying to solve
Follow up to #9303.

This issue focuses on the infrastructure side of things to be able to schedule Check jobs into a separate node pool to speed this up.

We want to schedule these jobs into their own node pool with at least 2 CPU and 200 MB of RAM each.

## Describe the solution you’d like
- [x] Create a new node pool for each envs.
- [x] Creat

[2022-02-09 08:05] tuliren opened #10206 "Ignore Github streams that do not exist for a repo"
## Tell us about the problem you're trying to solve
Some of the Github streams do not exist for certain repos. For example, a repo may not have the `projects` stream. Currently, the Github connector throws out the exception from the API directly (e.g. `404 Client Error: Not Found for url`). However, this behavior is too stringent.

## Describe the solution you’d like
Simply ignore the errors from

[2022-02-09 08:10] sherifnada commented on #10206
cc @misteryeo I think this makes a lot of sense

[2022-02-09 08:14] da-firebolt opened #10207 "Source Salesforce: Update API version to 53 or above"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Hi team,

We're trying to see some new Salesforce standard objects but they're not showing up in schema during Airbyte connection creation because they require Salesforce API version to be v53 or above and th

[2022-02-09 08:15] igrankova commented on #10062
@misteryeo, please review the Snowflake source research.

[2022-02-09 08:15] davinchia opened #10208 "Check Connection should have it's own flavor of KubePodProcess."
## Tell us about the problem you're trying to solve
We want to be able to specify a different status check interval and a node selector for the Check Connection process.

This is follow up to #9303 and the application side of #10205.

## Describe the solution you’d like
Make it so it is possible to configure the above at the KubePodProcess level for the Check connection operation.

Ideally we also

[2022-02-09 08:23] tuliren opened #10209 "Avoid system column names in normalization for Postgres"
## Tell us about the problem you're trying to solve
Currently, some of the [system column names](https://www.postgresql.org/docs/14/ddl-system-columns.html) are not listed in the [reserved keywords](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/base-normalization/normalization/transform_catalog/reserved_keywords.py#L271) for Postgres normalization.

## Describe the so

[2022-02-09 08:35] sherifnada commented on #5927
@derekybainbridge FYI Shopify now supports oauth -- please see the latest connector version and you should be able to pass the output from the oauth flow you implement into the connector and support the use case you describe!

[2022-02-09 08:35] #5927 closed

[2022-02-09 08:48] #9602 closed

[2022-02-09 08:49] subodh1810 commented on #9614
I have not been able to carry out the benchmarking because the connector keeps dying. Ref : https://github.com/airbytehq/oncall/issues/124#issuecomment-1033042049

[2022-02-09 09:08] augan-rymkhan commented on #7577
@manavkohli Can you give more details or instructions how to manually set up this condition ?  I mean _I looked at orders that had a refund but no matching transaction. This suggests that the refund was entered but not processed by a POS_

[2022-02-09 09:13] davinchia commented on #9303
This is done. Closing this for follow up work in the linked issues.

[2022-02-09 09:13] #9303 closed

[2022-02-09 09:24] VitaliiMaltsev commented on #5754
All syncs permanently failed with latest master branch
`io.temporal.internal.sync.POJOActivityTaskHandler$POJOActivityImplementation.execute(POJOActivityTaskHandler.java:252) ~[temporal-sdk-1.6.0.jar:?]
	at io.temporal.internal.sync.POJOActivityTaskHandler.handle(POJOActivityTaskHandler.java:209) ~[temporal-sdk-1.6.0.jar:?]
	at io.temporal.internal.worker.ActivityWorker$TaskHandlerImpl.handle(Acti

[2022-02-09 09:52] #6956 closed

[2022-02-09 10:10] #5963 closed

[2022-02-09 10:14] igrankova commented on #10074
Hi, Andy @misteryeo
Can you help with this issue? https://github.com/airbytehq/airbyte/issues/10074#issuecomment-1033063176

[2022-02-09 10:55] arimbr commented on #8825
@htrueman I think I am also experiencing the same error during normalization in a Mailchimp to BigQuery sync:
`Mismatched number of tables 62 vs 60 being resolved`

See logs: [logs-48031.txt](https://github.com/airbytehq/airbyte/files/8031918/logs-48031.txt)

[2022-02-09 11:12] jamakase opened #10215 "Sync now response is ignored when a sync is already in progress"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-02-09 11:18] ChristopheDuong commented on #8825
Yes, here are some notes for whoever will be working on looking deeper into fixing this:
- we would need to setup a similar `source-mailchimp` like what Ari did: https://cloud.airbyte.io/workspaces/bed3b473-1518-4461-a37f-730ea3d3a848/connections/88ef12b6-808a-4bfd-8cf6-b65fd682d2b6
- extract the `catalog.json` generated by the source
- run the transform_catalog function, especially the `airbyte-i

[2022-02-09 11:32] #9429 closed

[2022-02-09 12:27] CrafterKolyan opened #10217 "Normalization Clickhouse: normalization doesn't work in case `password` field is not provided"
## Environment
- **Airbyte version**:  0.35.23-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: docker-compose
- **Source Connector and version**: Clickhouse 0.1.7
- **Destination Connector and version**: Clickhouse 0.1.2
- **Normalization and version**: `airbyte/normalization-clickhouse` 0.1.66
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
No

[2022-02-09 12:42] ycherniaiev commented on #10063
Research is here : https://docs.google.com/document/d/1g-cy8Kfa0nGy1SPNEVG66Ri5seag9jk6TRFeTk1eAec/edit#

[2022-02-09 13:07] rbetzler commented on #9134
:+1: I'd really like this functionality as well. I'm happy to make a contribution, even if it only tackles a part of this request. Would just need some guidance for a first timer :pray:

[2022-02-09 13:26] #6226 closed

[2022-02-09 13:26] #9840 closed

[2022-02-09 13:26] #9842 closed

[2022-02-09 13:29] dermasmid opened #10220 "Source Amplitude: events not syncing properly"
## Environment
- **Airbyte version**:  0.35.26-alpha
- **OS Version / Instance**: debian 10
- **Deployment**: docker
- **Source Connector and version**: Amplitude 0.1.4
- **Destination Connector and version**: postgres
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
amplitude returns a 404 if the time range that we are trying to pull doesn't have any data, and t

[2022-02-09 13:54] ChristopheDuong opened #10221 "Tech Spec on surfacing dbt summary in airbyte sync summary"
## Tell us about the problem you're trying to solve
Write some specs on how to tackle https://github.com/airbytehq/airbyte/issues/8590

[2022-02-09 15:35] ChristopheDuong commented on #9953
Sure it seems fine, you're welcome to push a PR there!

[2022-02-09 15:40] igrankova commented on #10064
@misteryeo, the BigQuery research is done.

[2022-02-09 15:55] cgardens commented on #9900
@malikdiarra this issue is relevant to what we were discussing yesterday. The way this will interact with the UI is that the user will always see the last catalog that was fetched unless they explicitly request to get an updated one.

[2022-02-09 16:43] lazebnyi commented on #8705
Using [Github GraphQL search query](https://docs.github.com/en/graphql/reference/queries#searchresultitemconnection) we can use filtering and get the list of objects (issues, pr and etc.) what we need without losing performance on iterating throw a full list of data.

In `airbytehq/airbyte` we have 4903 issues, using the search query and filter grather than 0 for reactions we get 548 issues which

[2022-02-09 17:21] misteryeo commented on #10074
@jmcbroom can you create a new Github issue to report this bug so we can prioritize accordingly? Thank you!

[2022-02-09 17:23] #10178 closed

[2022-02-09 17:47] brywhi commented on #7536
I am also seeing this behavior.

[2022-02-09 17:49] misteryeo commented on #9680
Thanks!

[2022-02-09 17:49] #9680 closed

[2022-02-09 17:58] ChristopheDuong commented on #8240
It seems like source google ads's catalog have columns names using `.` characters, so the columns would need to be manipulated with quotes.

https://github.com/airbytehq/airbyte/blob/84d1456fcf6103fecd091b1a4cb24b0195f660d1/airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/accounts.json#L5

With incremental, when a new column needs to be added (or is renamed), dbt will de

[2022-02-09 18:22] sherifnada commented on #9501
Assigning to @tuliren for scoping a generalized solution

[2022-02-09 18:22] sherifnada commented on #9501
@luisazuluaga we'll share an ETA once we know it!

[2022-02-09 18:30] malikdiarra commented on #9900
Yes, that is perfect!

[2022-02-09 19:15] apiasak opened #10230 "Google Cloud Storage - Field will be removed when all records are NULL"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**:  Ubuntu 20.04.3 LTS
- **Deployment**: Docker
- **Source Connector and version**:  Postgres 0.3.13
- **Destination Connector and version**: Google Cloud Storage (GCS) 0.1.20
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
When any fields of the data sources that have all records

[2022-02-09 21:06] seiyuricardohiga commented on #9157
Is this issue related to this epic?
https://github.com/airbytehq/airbyte/issues/8904

[2022-02-10 00:38] lshrinivas commented on #7933
@igrankova I have opened a PR for this issue: https://github.com/airbytehq/airbyte/pull/10235. This is my first time contributing to Airbyte, so would appreciate any pointers to things I've missed.

[2022-02-10 00:46] engmsaleh commented on #3583
Hi @shey, Could you share your setup with [oauth2-proxy](https://github.com/oauth2-proxy/oauth2-proxy)? Do you have one docker-compose setup or a K8s one?

[2022-02-10 04:24] davinchia commented on #10154
Let's assume we have a total time of 10 seconds. The 95 percentile for starting up the Kube pods is ~5 seconds. That gives us another 5 seconds for the pod to execute. If we can keep the execution to 3 seconds, we have a 2 second buffer for other edge cases.

[2022-02-10 04:39] #9334 closed

[2022-02-10 05:26] harshithmullapudi commented on #10119
@cgardens we can close this right?

[2022-02-10 06:43] harshithmullapudi opened #10236 "Source Salesforce: support for custom domain"
## Tell us about the problem you're trying to solve
Need custom domain support for salesforce source connector
https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1643798513607949

[2022-02-10 06:46] harshithmullapudi commented on #10202
duplicate https://github.com/airbytehq/airbyte/issues/9296

[2022-02-10 06:46] #10202 closed

[2022-02-10 06:49] harshithmullapudi commented on #9656
We have created #demo-airbyte-alerts channel and the errors of demo.airbyte.io are flowing into this channel.

[2022-02-10 06:50] #9656 closed

[2022-02-10 07:16] duncanphillips commented on #10236
I originally ran into this problem, but it seems to have been my fault. I think I was using a refresh token instead of a an access key, or something to that effect. Once all the keys were correct, the login returned the url for our custom domain and the sync worked as expected. Perhaps a suggestion here would be for an improvement to the docs on how custom domains work for the connector, and how t

[2022-02-10 07:27] igrankova commented on #7933
@misteryeo, I've linked the pull request, can you help @lshrinivas with the next steps?

[2022-02-10 07:49] Zirochkaa opened #10237 "`all-checks` task for `invoke` doesn't run all tasks"
## Current Behavior
When running `invoke all-checks -c chargebee` (or any other connector) only `black` check is being run.

## Expected Behavior
When running `invoke all-checks -c chargebee` (or any other connector) following checks should be run one by one with default parameters: black, flake, isort, mypy, test, coverage.

## Steps to Reproduce
1. Run `invoke all-checks -c chargebee`.
2. See th

[2022-02-10 08:02] sherifnada commented on #10154
Ok - I'll pass on the following guidance: "get check connection to 3 seconds is the goal, but if it's intractable then 5 seconds is acceptable". I just want to have something that prevents rabbit holding on this given that 10 to 12 has diminishing marginal return.

[2022-02-10 08:13] davinchia commented on #10154
Sounds good to start. Thanks.

[2022-02-10 09:08] sergei-solonitcyn commented on #10237
Already have a PR to solve that:
https://github.com/airbytehq/airbyte/pull/9707

[2022-02-10 09:15] #10237 closed

[2022-02-10 09:44] ChristopheDuong commented on #8240
I'm not familiar with the dbt-core codebase enough, so I am not 100% sure this is doable with custom macros to override these `alter` statements. If someone has pointers or is willing to try doing this, that would help a lot yes!

[2022-02-10 10:24] grubberr commented on #9384
Can you please update `sources-shopify` to the latest verion `0.1.31`  and re-setup sync from scratch.
Starting from `0.1.30` [Changelog](https://github.com/airbytehq/airbyte/blob/master/docs/integrations/sources/shopify.md#changelog)
this connector checks permissions and only shows streams for which it has access.

If your shopify auth token missed permission for reading `PriceRules` stream you n

[2022-02-10 10:55] bazarnov commented on #8618
Seems like the `Visits` API has been deprecated for usage using direct API Calls (even with GraphQL), referred to this information:
1) https://community.shopify.com/c/shopify-apis-and-sdks/i-would-like-to-ask-if-there-is-an-api-to-get-the-number-of/td-p/933999
2) https://community.shopify.com/c/shopify-apis-and-sdks/how-to-get-total-sales-and-visitors-of-store/td-p/561932#

@charbelrseif Could you

[2022-02-10 11:03] vincent-infostrux commented on #6884
Hi, is there a known workaround for this problem? I'm seeing the same error under similar circumstances (MySQL -> Snowflake). I've also tried v0.4.9b of the connector with no success.

[2022-02-10 12:12] timroes commented on #9711
Did we plan do show "Custom" as a label for custom connectors? Would it be self explanatory what "Custom" means behind a connector?

cc @misteryeo

[2022-02-10 13:14] ChristopheDuong commented on #9796
The `attempt_id` sent to Segment is not a real id, it's based on the size of the attempts list in the job object:
https://github.com/airbytehq/airbyte/blob/e3e05d79655bc0b2b4c3fbc0c05b8d90fce6dcd8/airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java#L124

[2022-02-10 14:16] priyanka1906 commented on #2463
Watching for a possible solution

[2022-02-10 14:41] #6425 closed

[2022-02-10 15:52] pmossman commented on #9841
This was done via https://github.com/airbytehq/airbyte/pull/10051

[2022-02-10 16:00] nauxliu opened #10243 "Source Microsoft Teams: camel case fields normalization values are null"
## Environment
- **Airbyte version**:  0.35.15-alpha
- **OS Version / Instance**:  v1.21.5-eks-bc4871b
- **Deployment**: EKS
- **Source Connector and version**: Microsoft Teams 0.2.5
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Most of the fields are null in the normalization ta

[2022-02-10 16:45] DoNotPanicUA commented on #6884
Update.
I've drilled down into this topic and have something to share.
After I put the previous comment, I realized that CDC should use any columns to trach an increment. It should use an internal commit pointer (different naming for different databases). So, it means that, unfortunately, the Debezium has an issue and the MySQL connector works a bit differently than described in the doc.
The good

[2022-02-10 17:35] alexchouraki commented on #6884
Okay, so just to be sure I understand well, a future version of the connector, that will automatically manage Null or Zero-date values, should eventually solve the issue, right?
Thanks a lot, that's great news!

[2022-02-10 17:49] #8104 closed

[2022-02-10 19:56] edgao opened #10247 "OC debug tool, part 1"
https://github.com/airbytehq/airbyte-cloud/issues/951

[2022-02-10 19:56] edgao opened #10248 "OC debug tool, part 2"
https://github.com/airbytehq/airbyte-cloud/issues/952

[2022-02-10 19:57] edgao opened #10249 "OC debug tool, part 3"
https://github.com/airbytehq/airbyte-cloud/issues/953

[2022-02-10 20:13] TylerButh opened #10250 "Source Intercom: remove `setting state of...` logs from intercom sync"
## Tell us about the problem you're trying to solve
When syncing Intercom data after each Records read I am seeing perhaps thousands of `Setting state of ... stream to` log messages. I'm not sure if those are logs from a separate task running simultaneously or if they are logs of the current task, but they flood my log file so that I can't download the logs because the file is too large or it make

[2022-02-10 20:53] marcosmarxm commented on #9836
sorry @lazebnyi @misteryeo updated the stream name.

[2022-02-10 20:57] marcosmarxm commented on #7838
I'll close this due inactivity.

[2022-02-10 20:57] #7838 closed

[2022-02-10 21:02] Jamakase commented on #9711
As I see we have `release_data` field - as we do not have `new` status right now, should we display this tag when the date is present and is less than the current date let's say by 1 month?

[2022-02-10 21:08] marcosmarxm commented on #9502
thanks for the explanation @hbd

[2022-02-10 21:18] DoNotPanicUA commented on #6884
I've tested the PR locally, and the issue is gone.
So, be strong! The fix is coming :wink:

[2022-02-10 21:51] hbd opened #10252 "Update Plaid source to support paginating transactions and configurable start date"
## Tell us about the problem you're trying to solve
Currently, the Plaid source will retrieve only the last 100 transactions for an Item (account). Often there are far more than 100 transactions to sync. In order to retrieve more, the source needs to [paginate](https://plaid.com/docs/transactions/pagination/) the transactions.

Additionally, the `start_date` for retrieving transactions is not conf

[2022-02-10 22:22] klogdog commented on #6514
Airbyte should generate the key. It has the libraries setup to do this and there is no good reason that it cannot generate and store the private key and provide the pulbic key for installs.

This should be an integrated feature. SSH key auth should also have a password field for those that wish to password protect their SSH private keys.

[2022-02-11 00:07] jrhizor opened #10255 "automatically detect architecture for gradle builds"
There's an `Architecture.getName()` available that should remove the necessity of setting vars like:
[code]

when building the project.

We'd have to have conditionals in Gradle that pass the appropriate variables to Docker builds and such.

This should remove friction onboarding new engineers and with community members trying to build Airbyte locally.

I also think we can remove the `JDK_VERSION`

[2022-02-11 01:18] hbd opened #10257 "Source Plaid: does not work for Capital One Items"
## Environment
- **Airbyte version**: 0.35.0-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Plaid v3.0
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
The Plaid source does not correctly handle a specific scenario when syncing Balance data.

A specific field must be supplied for Capital One accounts _onl

[2022-02-11 01:26] #6929 closed

[2022-02-11 03:11] sherifnada opened #10259 "Stress test how connectors behave under adverse resource allocations"
## Tell us about the problem you're trying to solve
We recently had an issue where we significantly underallocated RAM & CPU for connectors, but instead of failing due to OOME, the connectors sometimes just hung for hours on end. I would like a way to guarantee that connectors don't run into this problem.

## Describe the solution you’d like
Maybe a heartbeat mechanism in the airbyte protocol

[2022-02-11 03:30] sherifnada opened #10260 "[EPIC] scale warehouse destination connectors to handle arbitrary number of streams"
## Tell us about the problem you're trying to solve
Today destination warehouses or blob storages like S3 hold a constant-size, in-memory buffer for each stream it expects to see from the input catalog. For example, [this comment in the S3 code](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/

[2022-02-11 04:03] harshithmullapudi opened #10261 "Fix: partialSuccess should be exposed from individual attempts"
In the attempts UI
![image](https://user-images.githubusercontent.com/17528887/153535840-d62ae1bd-3e98-40c9-834f-da60b3ce0daf.png)

we should use the red :x:  icon for attempts that had partialSuccess: false and the yellow :warning: icon for attempts that had partialSuccess: true. Right now, we use the :warning: icon for every attempt.

[2022-02-11 04:24] sparkysean opened #10262 "MSSQL datetime fields with millisecond precision are being rounded down to the second, causing rows to keep incrementally syncing when they shouldn't and replicating incorrect precision to destination"
## Environment
- **Airbyte version**: 0.35.27-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Microsoft SQL Server (MSSQL) v0.3.14
- **Destination Connector and version**: Snowflake v0.4.8
- **Severity**: Medium-High
- **Step where error happened**: Sync job

## Current Behaviour
Initial load completes as expected (all rows replicated). Howev

[2022-02-11 04:29] #10119 closed

[2022-02-11 07:17] tuliren commented on #9631
The current hypothesis:
1. The sync command only needs 6 permissions, as listed in the [doc](https://docs.airbyte.com/integrations/destinations/gcs#setup-guide).
2. The connection check command, however, requires 2 more permissions (`multipartUpload.list` and `multipartUpload.listAll`), which is incorrect. So the check tests are failing in the acceptance test.

Next step:
1. Confirm the above hypo

[2022-02-11 08:37] igrankova opened #10264 "[EPIC] Implement QuickBooks requirements to list App on a Marketplace"
## Tell us about the problem you're trying to solve
We have submitted the Public App on the QuickBooks Marketplace and we need to update our connector implementation according to the requirements for the QuickBooks support.

## Describe the solution you’d like
1. Change naming:
Current name: Quickbooks
Should be:  **QuickBooks**
We need to update naming to correct one in all places where it's ment

[2022-02-11 08:52] igrankova opened #10266 "QuickBooks source - implement the Connect_to_QuickBooks button"
## Tell us about the problem you're trying to solve
The **Connect_to_QuickBooks** button must be shown to the users in our application prior to the OAuth connection according to the QuickBooks requirements for OAuth Public applications.

## Describe the solution you’d like
1. Button name: **Connect_to_QuickBooks**
2. Appearance: Setup Source screen, below the Source Type drop-down.
![Signin](https

[2022-02-11 09:16] NahidOulmi commented on #9604
I am encountering this issue and will try to provide a quick fix to this, by ignoring the faulty bson field for example.

[2022-02-11 09:43] tinomerl commented on #3583
Hey @engmsaleh, we ended up with a similiar setup as shey but we used azure active directory. We have a docker-compose setup. Here are the parts i added to the airbyte docker-compose.yml.

[code]

In the `auth.env` file we have the following environment variables.

[code]

We also deleted the portbinding of the webapp container to port 8000 and gave only certain users access to the azure app. Also

[2022-02-11 09:58] akshay-github-acc opened #10268 "Connection reset doesn't reset Kafka consumer's offset."
## Environment

- **Airbyte version**: 0.32.0-alpha
- **OS Version / Instance**: Linux/UNIX
- **Deployment**: Docker
-**Memory / Disk**: 30GB SSD (c5a.2xlarge)
- **Source Connector and version**: Kafka 0.1.2
- **Destination Connector and version**: Trying on postgres. ( this is independent )
- **Severity**: Medium
- **Step where error happened**: During reset.

Following scenario is based on the a

[2022-02-11 12:00] #10236 closed

[2022-02-11 12:19] sivakurella opened #10273 "Source Woocommerce: connector doesn't use the `start_date` when using Incremental sync mode"
## Environment
- **Airbyte version**:  example is 0.35.5-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: woocommerce 0.1.0-rc1
- **Destination Connector and version**: redshift 0.3.5
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
source_woocommerce source connector does not use the start_date when using

[2022-02-11 12:34] ycherniaiev commented on #10066
@misteryeo  The research is here: https://docs.google.com/document/d/1G94027MVZz6HKIZkTlW6_hZfmbRb8CLmgTy4a9Mf5F8/edit#

[2022-02-11 12:42] annalvova05 commented on #8116
@marcosmarxm Could you please send more details about the sheet or the sheet example (like sheet name and table headers)? Because I cannot reproduce a bug with the current description. We replace whitespaces to underscore, also numbers are allowed.

[2022-02-11 13:11] igrankova opened #10274 "QuickBooks source - implement Disconnect button"
## Tell us about the problem you're trying to solve
Our application must have provision of In-App disconnect feature. Clicking on disconnect must call QuickBooks Revoke Access API which terminates OAuth connection with QuickBooks Online company.

## Describe the solution you’d like
1. Name: **Disconnect**,
    Description: "Your QuickBooks integration has been disconnected."
2. Appearance: Source

[2022-02-11 13:13] etsybaev commented on #9633
Was not able to reproduce. Closing it for a while. Please feel free to re-open if that's still the case.

[2022-02-11 13:13] #9633 closed

[2022-02-11 14:13] ChristopheDuong commented on #10221
Spec document is available here https://docs.google.com/document/d/11ntohNEO19pr0GSjZzKtvEzte_Hgu1rY94ttNpdZcu4/edit#heading=h.uc54t36et0ed

[2022-02-11 14:31] annalvova05 commented on #2105
Not actual. We already haven't the Shopify single connector and don't use the Shopify external library. Close it.

[2022-02-11 15:06] timroes commented on #9741
@Jamakase @paulpalamarchuk Could you give a quick status update about this here, please?

[2022-02-11 15:18] igrankova commented on #10069
@misteryeo, research of Klaviyo is finished.

[2022-02-11 15:20] DoNotPanicUA commented on #8209
Hi @zbrak ,
I fully reworked the BigQuery Denormalized destination a few weeks before Christmas. Many known bugs were fixed 🐛 🔥
Even in case you still have an issue, we need a new log.
May I ask you to try one more time using the latest destination and source versions?
Source Zendesk : `0.1.12`
Destination BigQuery Denormalized : `0.2.7`

[2022-02-11 15:35] Jamakase commented on #9741
@timroes just as Jared said - I have provided all the info to Pavel already via slack.

Not aware about the progress though.

[2022-02-11 15:42] #6437 closed

[2022-02-11 15:53] #6884 closed

[2022-02-11 15:56] DoNotPanicUA commented on #6884
The fix is released. Please try version `0.5.4`

[2022-02-11 16:00] #10261 closed

[2022-02-11 16:06] NahidOulmi commented on #9604
Here is a PR to fix this issue : https://github.com/airbytehq/airbyte/pull/10276

[2022-02-11 16:42] misteryeo commented on #9836
@lazebnyi leaving this with you

[2022-02-11 17:04] misteryeo opened #10279 "Github Source: Support incremental deletes"
Support replicating incremental deletes to reach parity for beta connector as per [research](https://docs.google.com/document/d/1GPrZjW6Y6zL-BE2_id0zCp2AGTWCLzwcYuXVLT2s66A/edit#).

Example issue: https://github.com/airbytehq/airbyte/issues/9842

[2022-02-11 17:05] misteryeo commented on #10279
Assignee should scope this out first - there might be a need for webhook support but would want to confirm, in which case we may be blocked here.

[2022-02-11 17:05] misteryeo opened #10280 "[EPIC] Github Source to Beta"
MLP requirements as surfaced through [research](https://docs.google.com/document/d/1GPrZjW6Y6zL-BE2_id0zCp2AGTWCLzwcYuXVLT2s66A/edit#):
- [x] Document issue for adding 'deployments' stream
- [x] Document issue for adding 'project_cards' stream
- [x] Document issue for adding 'project_columns' stream
- [x] Document issue for adding 'pr_commits' stream
- [x] Document issue for adding 'pull_requests_

[2022-02-11 17:12] misteryeo opened #10281 "[EPIC] Source Shopify to Cloud"
MLP requirements as surfaced through [research](https://docs.google.com/document/d/1oUCKelveKttE3ZK5lqtuYtS1Yooc0yM_94DYm8I6Sn8/edit):

- [x] #10448
- [x] https://github.com/airbytehq/airbyte/pull/10794
- [ ] Support incremental deletes
- [x] https://github.com/airbytehq/airbyte/issues/10381
- [ ] #10817 (depends on https://github.com/airbytehq/airbyte-cloud/pull/1250)
- [x] https://github.com/air

[2022-02-11 17:24] misteryeo opened #10282 "Salesforce Source: Understand stream parity"
Based https://github.com/airbytehq/airbyte/issues/9679, there's some ambiguity around what streams Airbyte supports and what actually needs to happen to reach parity for MLP.

Assignee of this issue should follow-up on what's already been researched to catalog outstanding streams we need to support in order to reach parity with competitors and include them in epic: https://github.com/airbytehq/air

[2022-02-11 17:25] misteryeo opened #10283 "[EPIC] Salesforce Source to GA"
- [ ] Investigation of streams supported by Airbyte https://github.com/airbytehq/airbyte/issues/10282

--
MLP requirements as surfaced through [research](https://docs.google.com/document/d/1Z5wue_M3wKkWl667-aHLmtJd6IyyVNnoooUZzA0ucfA/edit#):

- [x] Support incremental deletes https://github.com/airbytehq/airbyte/issues/10155
- [x] improve check connection performance https://github.com/airbytehq/a

[2022-02-11 17:32] misteryeo opened #10284 "[EPIC] Stripe Source to Beta"
MLP requirements as surfaced through [research](https://docs.google.com/document/d/1qltg3eKLvjVK0cPel7SiptVRrytPhRwqjBSEc4WLJlc/edit#):

Merge documentation changes:
- [x]  https://github.com/airbytehq/airbyte/pull/11286

Improvements:
- [ ] Document 'payouts_transactions' stream
- [ ] Document 'apple_domain' stream
- [ ] Document #10498
- [ ] Document #10499
- [ ]  Support incremental deletes htt

[2022-02-11 18:13] #9896 closed

[2022-02-11 18:25] marcosmarxm opened #10285 "CI Sandbox for Talkdesk Explore"
## Tell us about the problem you're trying to solve
Need credentials to test community contribution adding new connector Talkdesk Explore: https://github.com/airbytehq/airbyte/pull/10164

[2022-02-11 18:33] kyle-cheung commented on #2227
Just want to comment again as this has become very important for us. We're trying to setup HR/People analytics and using the BambooHR and Greenhouse source connectors, however, there is some extremely sensitive information especially from Bamboo including SSN, salaries, addresses, etc. We don't need this information and as it is we can't setup this connection if we have to replicate the full table

[2022-02-11 18:35] marcosmarxm opened #10287 "CI Sandbox for Orb source connector"
## Tell us about the problem you're trying to solve
Need credentials to test community contribution adding Orb connector.

PR implementing the connector: https://github.com/airbytehq/airbyte/pull/9985

[2022-02-11 18:49] jrhizor opened #10288 "label existing connectors with release stage"
Add source and destination `release_stage` to each connector definition.

[2022-02-11 18:51] r-rob commented on #9886
I noticed this issue as well and found that re-entering all of the secrets is required in order to retest or save.

[2022-02-11 20:26] sherifnada opened #10289 "CDK: Support schema transformations"
## Tell us about the problem you're trying to solve
There are many common schema transformations that users might want to do inside a source connector. For example:
1. flattening nested objects
2. field renaming
3. field-repositioning

#### Flattening
if the API response is something like:

[code]

then I might want to transform the schema to be:

[code]

#### field repositioning
A more general ca

[2022-02-11 21:36] klogdog opened #10290 "Generate SSH keys for SSH Auth in UI"
## Tell us about the problem you're trying to solve
Generate SSH Keys in UI

## Describe the solution you’d like
![image](https://user-images.githubusercontent.com/1977596/153673305-74f26651-e670-4012-ab1d-c7aaf96bf625.png)
Put a button in the Auth space that allows for generation of private and public keys for easy install (similar to what Fivetran already does)
## Describe the alternative you’ve

[2022-02-12 00:41] lmossman commented on #10287
@marcosmarxm I have saved the Orb integration test credentials to Lastpass, in a secure note titled `source orb test creds` in the `shared-integration-tests` folder

[2022-02-12 00:53] sherifnada commented on #7577
@manavkohli are you open to sharing an example of a record which has a refund but no transactions?

My hypothesis is that there are missing fields in the record which are causing normalization not to flatten the record into the appropriate table.

[2022-02-12 01:30] cgardens opened #10295 "Set resource limits for a connector definition"
## Tell us about the problem you're trying to solve
Since connectors now respect resource limits (when configured), we want to be able to tune those resource limits by connector. For example, we want there to be a default resource limit for connectors that is relatively low (~200-300MB), but some connectors, we want to allow to use more resource. e.g pokeapi source uses very little memory, while i

[2022-02-12 17:40] engmsaleh commented on #3583
Hi @tinomerl I really appreciate your shared info & @shey for the initial suggestions
I was able to make the following setup

[code]

Nginx Config

[code]
and used Certbot for SSL certificate for my domain

I edit docker-compose.yaml as follows

- I have removed the port 8000 mapping from `webapp` to make it internal
- Added `aouth2-proxy` to docker-compose

[code]

Adding the following key/value

[2022-02-12 20:44] tuliren opened #10300 "Refactor GCS destination"
- [x] Move `GcsS3Helper#getGcsS3Client` to `GcsDestinationConfig`.
- [ ] Clean up `S3StreamUploadManager` https://github.com/airbytehq/airbyte/pull/13253

[2022-02-12 21:45] keu opened #10301 "CDK: Universal state structure"
## Tell us about the problem you're trying to solve
As described in docs (link?) streams can be sliced horizontally and vertically. To reflect this state should support a flexible structure, we want to standardize this structure to be able to test incremental streams in SAT.

## Describe the solution you’d like
Proposed state format for streams with only horizontal slicing
[code]
and
[code]
for st

[2022-02-13 00:30] #9631 closed

[2022-02-13 00:32] tuliren commented on #9631
This issue has been fixed in version `0.1.21`. Now only the permissions listed in the [doc](https://docs.airbyte.com/integrations/destinations/gcs#setup-guide) are needed to sync data to GCS:

[code]

[2022-02-13 05:15] tuliren commented on #9434
This will the be first project for Alexandre. The project doc is [here](https://docs.google.com/document/d/1gU2cesfvlmLQ5U5_dXAMViOvlBCPtZk_IVp_28QK-nw/edit#).

[2022-02-13 08:11] Golloronod opened #10303 "The link to "docs page" on the forum transfers to a "Page not found" error"
On the Airbyte Discourse page there is a link to "docs page":
<img width="957" alt="Airbyte_docs_page_01" src="https://user-images.githubusercontent.com/88727519/153744555-9e229769-8bad-4836-aad8-40fa84e9b15d.png">

It's supposed to transfer to
https://docs.airbyte.io/integration

In fact, it transfers to
https://docs.airbyte.com/integration
with the error "Page not found":
<img width="960" alt="A

[2022-02-13 14:01] harshithmullapudi commented on #9296
Hey to put layout for next steps. We have 2 configuration settings
1. Source configuration
2. Destination configuration
3. Connection configuration

Out of these 3, what is that which has a major ask?

Also @timroes when you say duplicate connector you mean we will duplicate the source/destination, right?

[2022-02-13 14:07] harshithmullapudi commented on #9296
For cloning Sources/Destination we have 2 ways to implement

1. Is to provide an API that will send us the complete details of source/destination including secrets (this becomes a get source API)
2. Is to provide an API that will completely clone the source internally and create a new source id. We can later redirect them to the source settings page.

Which one do we prefer?

For cloning Connectio

[2022-02-13 16:24] adinamarca commented on #10049
Hi!

Did you extract the data of Ecommerce table somehow?

Thanks

[2022-02-13 18:51] sdairs opened #10307 "REST API for Operations has inconsistent casing for operationID"
https://airbyte-public-api-docs.s3.us-east-2.amazonaws.com/rapidoc-api-docs.html#post-/v1/operations/get

For all resource operations the casing for IDs is camel-cased e.g. connectionId, sourceId, destinationId

However, the get for an operation returns the id with the key beginning with a capital (`OperationId` vs `operationId`) - while the Response after creating an Operation returns the expecte

[2022-02-13 20:14] tuliren commented on #9501
This can be the second project for Alexandre. Here is the project [doc](https://docs.google.com/document/d/12qy6OHcGmsv7FzPLLNK_iixfsriz7_UktoAK3jUDaoA/edit#) that adds support for additional parameters for all JDBC destinations.

[2022-02-13 21:47] keu commented on #10301
@sherifnada FYI

[2022-02-13 22:25] ksoenandar commented on #6912
Hi team, is this in active development? For some source whose underlying object schema continually gets updated, Airbyte doesn't scale all that well as I need to reset the entire connection with all the unrelated tables as well.

[2022-02-14 01:02] superpan commented on #7211
Using v1.9.16 didn't work .. any workarounds?

[2022-02-14 07:03] Golloronod opened #10310 "Handbook "merge request" link doesn't work"
Being at the very bottom of this page:
https://handbook.airbyte.com/company/diversity-inclusion-and-belonging
there is a link for opening a merge request:
<img width="962" alt="Airbyte_handbook_request_01" src="https://user-images.githubusercontent.com/88727519/153815511-f5c970ef-9ba1-480c-83b5-0b3a7ed8e2da.png">

The link's URL is
https://github.com/airbytehq/airbyte/tree/master/handbook
but it o

[2022-02-14 07:24] #9500 closed

[2022-02-14 08:37] thisisile commented on #10159
Tried again
Airbyte version: **0.35.26-alpha**
Hosted on AWS EC2 Docker  r5b.large 16Gb RAM

Things work a bit better now, still getting some error logs.

## Logs
*Syncs used to fail when getting below errors in previous versions of Airbyte, but now it seems to succeed. Why do these logs come up ? Will they have an accuracy on the data sync'ed*

<details>
<summary>Binglog position log</summary>

[

[2022-02-14 08:40] tinomerl commented on #3583
@engmsaleh looks good to me. Using redis as a cookie storage saves the session information in the redis database instead of saving the whole cookie client side. it's more secure for handling the tokens and refreshing them. also the transferred data shrinks when authenticating, since all session data is transferred on every request. The [official docs](https://oauth2-proxy.github.io/oauth2-proxy/do

[2022-02-14 09:47] arvind-workit opened #10313 "Ability to have multiple Sync frequencies for a connection"
## Tell us about the problem you're trying to solve
Ability to have multiple Sync Frequencies for a connection.

1. This helps the source and target application teams to have scheduled down time for the maintenance
2. Unwanted or low value sync runs are reduced in-turn reducing the credit usage in Airbyte Cloud and corresponding source and destinations
3. Reduction in logs written
4. Reduces the n

[2022-02-14 10:12] #7944 closed

[2022-02-14 10:34] tuliren commented on #2491
Wait, this proposed solution here is incorrect. Snowflake can be hosted in not only AWS, but other cloud as well. See the doc [here](https://docs.snowflake.com/en/user-guide/intro-regions.html). We should not assume the suffix is always `aws.snowflakecomputing.com`.

One possible simplification is to use this URL format ([link](https://docs.snowflake.com/en/user-guide/jdbc-configure.html#syntax)):

[2022-02-14 10:52] bazarnov commented on #9883
@nwayne94 Have you tried to update the `source-salesforce` up to `0.1.23` (the latest version) ?

[2022-02-14 12:44] mkhokh-33 commented on #8858
@sherifnada , @alexandr-shegeda  I've created scoping document for this with possible solutions - https://docs.google.com/document/d/1nUsuYdpHiexRoU-138h-TCGzwFqnkfm8-Q2AQsO8MOM/edit.
Could you please have a look.

[2022-02-14 13:02] #841 closed

[2022-02-14 13:55] bazarnov commented on #10281
It's already there, inside of `Transactions` stream, providing both transaction details and the user bounded to the transaction per each `order_id`.

Shopify does not provide the functionality to retrieve the removed records either using UI or using API calls.

Considering the answer, what are the future steps for this task?

[2022-02-14 13:56] valerioditinno opened #10316 "Source Facebook Marketing: upgrade to v13"
## Environment
- **Airbyte version**:  0.35.27-alpha
- **OS Version / Instance**: Debian GNU/Linux 10 (buster), GCP n1-standard-2
- **Deployment**: on GCP (Compute Engine)
- **Source Connector and version**: Facebook Marketing 0.2.33
- **Severity**: High
- **Step where error happened**: Setup new connection

## Current Behavior
The connection tests failed.
"FacebookAPIException('Error: 2635, (#263

[2022-02-14 14:00] valerioditinno commented on #10316
similar to [issues/6337](https://github.com/airbytehq/airbyte/issues/6337)

[2022-02-14 14:23] cmgabeg opened #10317 "DB2 connector - ability to use license file"
## Tell us about the problem you're trying to solve
Airbyte provides no easy way to include a DB2 db2jcc_license_cisuz.jar file as part of the connection.

## Describe the solution you’d like
Ability to use db2jcc_license_cisuz.jar file to get through DB2 connection error.

## Additional context
Error when creating a new source connection:
`The connection tests failed.
Could not connect with provi

[2022-02-14 16:34] Jamakase commented on #9740
@jrhizor Could you please provide designs for it? Or just moving everything to first page is enough?

[2022-02-14 16:48] Jamakase commented on #9625
@jrhizor @sherifnada Actually, what I have understood - syncMode and destinationSyncMode are already prefilled by backend and we just pick it from that values. Shouldn't we change it on the backend instead, that the catalog returns expected syncModes? Or it is fine to overwrite default values in create mode?

[2022-02-14 16:50] juliachvyrova commented on #9712
@jrhizor I couldn't find texts for `beta` connectors in figma. Is the text the same as for `alpha`? Or we don't need `beta` for this release?

[2022-02-14 17:13] marcosmarxm commented on #8037
It's blocked in tech spec review.

[2022-02-14 17:20] harshithmullapudi opened #10322 "Fix: postgres -> Bigquery is failing in demo.airbyte.io"
## Current Behaviour
Sync from Postgres -> Bigquery is failing in demo.airbyte.io we need to fix it

[2022-02-14 17:24] cgardens commented on #9296
The API should _never_ return secrets. Option 2 seems reasonable. If we do it internally and just change the name to `${ORIGINAL_NAME} (copy)` that seems like a reasonable approach.

[2022-02-14 17:56] pmossman commented on #9645
It looks like [pagination is already implemented ](https://github.com/airbytehq/airbyte/blob/master/airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java#L83-L91)for the job list endpoint.

The API [supports a pagination param](https://github.com/airbytehq/airbyte/blob/master/airbyte-api/src/main/openapi/config.yaml#L3116-L3118) with `pageSize` and `rowOffset`. I'll create

[2022-02-14 17:56] #9645 closed

[2022-02-14 18:04] pmossman opened #10323 "Paginate Job history page in the UI"
* Add button with "Load more" at the bottom of the logs. Button just increases the page size
  * This page uses auto polling so we always need to load from offset 0
* Should add 25 more items
* Add analytics event to button click
* No need to implement virtualized list at this time

## Context
The [JobListRequestBody](https://github.com/airbytehq/airbyte/blob/d63a24ed41d6c42d9da1203a07c0b2d6b306d2

[2022-02-14 18:04] pmossman commented on #9645
Frontend issue: https://github.com/airbytehq/airbyte/issues/10323

[2022-02-14 18:09] jrhizor commented on #9712
@misteryeo For alpha connectors we have:
[code]

Should we have the exact same for beta or different messaging?

[2022-02-14 20:17] misteryeo commented on #9712
Thanks for raising this - we should have different messaging - let's use the following:

- **For Alpha:** "Alpha connectors are in development. We strongly discourage production use cases and do not offer support SLAs. The release may not be feature complete and breaking changes may be introduced."
- **For Beta:** "Beta connectors are considered stable and reliable with no backwards incompatible c

[2022-02-14 20:23] misteryeo commented on #8618
Let's wait to hear from @charbelrseif on the question you posed first!

[2022-02-14 20:35] sherifnada commented on #8618
@bazarnov just to make sure we are aligned, this is not a blocking ticket for Beta certification as it's not required for feature parity w competitors

[2022-02-14 20:37] christopher-leigh commented on #6884
I can confirm that this fixed the issue! Thank you so much!

[2022-02-14 20:56] misteryeo commented on #8618
@sherifnada We assigned this last sprint before we came to the agreement on beta :)

[2022-02-14 21:33] arimbr commented on #8825
I was able to debug this locally following @ChristopheDuong advice. Seems like the function `find_children_streams` in `stream_processor.py` is returning two StreamProcessor objects for `stream_name = conditions`.

[code]
I believe it's the second one that's messing up things... I was able to run `transform-catalog --integration-type bigquery --profile-config-dir . --catalog destination_catalog.js

[2022-02-14 21:42] arimbr commented on #8825
@VitaliiMaltsev I saw you did some related changes here: https://github.com/airbytehq/airbyte/pull/7975. Wonder whether my previous comment rings a bell?

[2022-02-14 22:41] pmossman opened #10327 "Set up Cloud Health Dashboard"
## Tell us about the problem you're trying to solve
We want automated alerting for stuck jobs in Cloud so that issues can be addressed proactively.

## Describe the solution you’d like
- If a job is in a non-terminal status beyond X threshold, a PagerDuty alert should be triggered
- ~~Metabase/BigQuery is updated hourly and may already contain the data we need to set this up~~ We should use Datado

[2022-02-14 22:43] pmossman commented on #10327
Open questions for backlog grooming:
- What thresholds do we define?
- How do we get the necessary information from Metabase/BigQuery to DataDog?

[2022-02-14 23:08] sherifnada opened #10328 "[EPIC] defogging connector health metrics noise"
## Tell us about the problem you're trying to solve

- [x] #12118
- [x] #12119
- [x] https://github.com/airbytehq/airbyte-cloud/issues/1506

## Describe the solution you’d like

## Describe the alternative you’ve considered or used

## Additional context

[2022-02-14 23:50] sherifnada opened #10330 "[EPIC] Connector health metics: Differentiate errors needing user intervention from connector errors"
## Tell us about the problem you're trying to solve
An epic to track the follow up to #9350

- [ ] #9969
- [ ] #9970
- [ ] #9971

[2022-02-14 23:50] sherifnada commented on #10330
FYI @ChristopheDuong created this epic to track the work

[2022-02-15 00:59] flotenva commented on #9264
Hi Augan and sorry for the late reply.
I had a chance to look at the data in the '_airbyte_raw_line_items' table where, I believe, the raw data gets stored before it is normalised to produce the 'line_items_properties' table that is throwing the error in Airbyte. I found the value that triggered the 'out of range' error and it belongs to the field:
-  hs_recurring_billing_end_date
I had a look at

[2022-02-15 01:53] ayyoubmaulana commented on #7533
I have the same issue, using Airbyte 0.32.2 and Facebook 0.2.20

[2022-02-15 03:26] klogdog commented on #7587
@sherifnada
+1 I am also experiencing this issue on a test connector I made before deploying to a customer's system.

The impact is hundreds of thousands of unnecessary writes and then  subsequent cleanup required prior to processing. Why do write, read, delete, of a 0 record update?

[2022-02-15 04:29] cgardens commented on #3247
@pmossman i think we can close this. it made it to the FE!

[2022-02-15 04:56] cgardens commented on #10327
Good question. For a long running job that is hard to say. Added some color on that above. For % failed jobs etc, I'm not sure the threshold. 95%? 95% on the first try?

We should report directly to DD instead of going through metabase. See comment I added above in body.

[2022-02-15 05:03] GKTheOne opened #10336 "[Chart] pre-install hook and service account"
## Environment
- **Airbyte version**:  0.35.28-alpha
- **OS Version / Instance**: macOS 12.2.1
- **Deployment**: Kubernetes
- **Source Connector and version**: n/a
- **Destination Connector and version**: n/a
- **Severity**: Medium
- **Step where error happened**: Deploy

## Current Behavior
When using helm to install via the chart in the repo, the bootloader pre-install hook reports that the serv

[2022-02-15 05:09] GKTheOne commented on #10336
I did find this [stackoverflow QA][1] that mentions setting a helm hook on the service account resource will correct the ordering.
I took the hook annotations from the bootloader pod template, adjusted the hook-weight value, added them to the service account declaration in the install values file, and the install now works as expected 🎉😄

[code]

[1]: https://stackoverflow.com/questions/63381443/h

[2022-02-15 05:09] tuliren opened #10337 "Refactor SnowflakeConnectionSupplier"
When calling `getConnection` from this class, it is actually creating a new data source each time. It should reuse an existing data source and just create a connection instead.

https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java#L79

[2022-02-15 05:22] ameyabapat-bsft commented on #8904
@alafanechere @tuliren any updates on source snowflake (https://github.com/airbytehq/airbyte/issues/9915) ? This issues is magnified in our use cases where large data dump(10-100k rows) is added at source in single operation which make timestamp of lots of rows same and all them are resynced in in next sync operation.

[2022-02-15 05:46] pmossman commented on #10327
For long running jobs, I wonder how feasible it would be to push a metric to DD periodically? Just spitballing here but we could have the message tracker push a metric to datadog when it sees a new state message, for instance, just so we know that progress is being made.

[2022-02-15 06:00] maofet opened #10339 "Source Close.com: no export of custom fields values"
## Environment
- **Airbyte version**:  0.35.4-alpha
- **OS Version / Instance**: Amazon Linux 2 ec2 m5.large
- **Deployment**: Docker
- **Source Connector and version**: Close.com 0.1.0
- **Destination Connector and version**: Postgres 0.3.14
- **Severity**: High
- **Step where error happened**: Data ingestion

## Current Behavior
We are trying to use [Close.com](http://close.com/) connector for A

[2022-02-15 06:20] tuliren opened #10340 "Snowflake destination acceptance test runtime is too long"
The bottleneck is in `testCustomDbtTransformations`, which takes 18 minutes:

<img width="639" alt="Screen Shot 2022-02-14 at 22 17 20" src="https://user-images.githubusercontent.com/1933157/154003869-c7eba1e0-ee5d-4e44-a639-abd3f2818afb.png">

[2022-02-15 06:38] tuliren commented on #10340
This may be related to https://github.com/airbytehq/airbyte/issues/10337. From the logs of the acceptance test, we can tell that the `getConnection` method is called many times.

[2022-02-15 07:36] igrankova commented on #4933
Hi, @schlattk, I'm trying to get the CI creds for the Marketing Cloud, but received the answer from the support: Marketing Cloud does not have a sandbox environment like Salesforce.
Can you help us to get the account to the Marketing Cloud? I see we now have dev and sandbox accounts, but there's no access to Marketing Cloud.

[2022-02-15 09:37] alexandr-shegeda commented on #9915
will be fixed in the scope of [this PR](https://github.com/airbytehq/airbyte/pull/10242)

[2022-02-15 09:38] #4406 closed

[2022-02-15 10:24] davinchia commented on #10327
I didn't realise we have the idea of `quarantined` jobs in our state machine. What state represents that?

[2022-02-15 10:35] bazarnov commented on #8618
Got your point, I was wondering what we could get from Shopify data, based on customer's request here.

[2022-02-15 10:42] igrankova opened #10344 "QuickBooks source connector - Icon update"
## Tell us about the problem you're trying to solve
We have a QuickBooks icon used for a background picture as a visual. We received a requirement from the support to update this icon:
![Icon in visuals](https://user-images.githubusercontent.com/87977540/154044961-2e104b1f-7b14-4f66-8f30-805a75ffd253.png)

And we have the Icons with incorrect spelling:
![image](https://user-images.githubuserconten

[2022-02-15 10:45] harshithmullapudi commented on #10179
I think the cause of the kube failure is that normalisation has failed and the was asked to exit the pod. And yeah when normalisation fails the sync is considered as failure and new attempt would show up so, that seems fine to me.

Can you create a fresh connection between the source and destination and share the logs here?

[2022-02-15 10:54] TSkrebe commented on #10179
@harshithmullapudi [logs-308.txt](https://github.com/airbytehq/airbyte/files/8067390/logs-308.txt) are from fresh connection.

[2022-02-15 10:56] harshithmullapudi commented on #10179
You have configured incremental sync?

[2022-02-15 11:11] matthewbrandt opened #10345 "Using existing RSA token in MySQL connection with SSH Tunnel"
## Environment
Is this your first time deploying Airbyte
=> Yes
OS Version / Instance
=> MacOS 12.1 Monterey
Deployment
=> Docker
Airbyte Version
=> 0.35.3-alpha
Source name/version
=> MySQL
Step
=> Set up the source
Description
=> io.airbyte.workers.WorkerException: Error while getting checking connection.

## Current Behavior
I am trying to connect to MySQL using an SSH tunnel and am able to do

[2022-02-15 11:14] davinchia commented on #10327
some other ideas:
* age of pending job
* breakdown of commonly used schedules

does % failed jobs mean percentile of failed jobs? shouldn't failed jobs be a straightforward number?

[2022-02-15 11:39] ameyabapat-bsft commented on #9915
Thanks @alexandr-shegeda

[2022-02-15 12:58] ycherniaiev commented on #10073
@misteryeo Research is here: https://docs.google.com/document/d/15JmLQA_4olCZP8OX3JNT9Ym8iGxFXqs-P3r5eVNH43s/edit

[2022-02-15 13:49] keshav-multi opened #10347 "Destination Clickhouse: normalization issue `Cannot parse string 'false' as Int8: syntax error at begin of string`"
## Environment
- **Airbyte version**:  example is 0.35.26-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker-compose
- **Source Connector and version**: Postgres 0.4.4
- **Destination Connector and version**: Clickhouse 0.1.3
- **Step where error happened**: Sync Job

## Current Behavior
Data is not normalizing. These are the 2 errors I see when I tried with 2 different table

[2022-02-15 14:44] prein opened #10349 "Pod Sweeper: should allow configuring pod states to sweep"
## Tell us about the problem you're trying to solve
While trying to understand why pod sweeper doesn't work for us at the moment, I tried running the kubectl command found in `get_worker_pods` in https://github.com/airbytehq/airbyte/blob/master/kube/resources/pod-sweeper.yaml#L10 and noticed that it returns pods in any phase other than `Running` including pods in `Pending` phase. Then in https://g

[2022-02-15 14:50] jadetr opened #10350 "Harvest source connector doesn't sync parent_id for parent/child data (Ex: Invoices/InvoiceMessages)"
## Environment
- **Airbyte version**: 0.35.4-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: [airbyte/source-harvest] V 0.1.8
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
The way the Harvest API is built is by calling a url with the invoice ID to get the list of associated messages.
I don't see th

[2022-02-15 14:58] davinchia commented on #9715
Are those failure limits too high? They might still result in high warehouse costs for folks with normalisation turned on.

To clarify, can we define 14 days of straight failures? Does this refer to a job failing after running for 14 days?

[2022-02-15 15:08] davinchia commented on #9651
The acceptance criterias here can probably be split into another issue. This one should just be about deploying to a Cloud env without jumping through release hoops.

[2022-02-15 15:34] misteryeo opened #10351 "Test issue"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2022-02-15 15:48] #10351 closed

[2022-02-15 15:55] misteryeo opened #10353 "Test issue"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2022-02-15 16:44] benmoriceau opened #10354 "Refactor the ConnectionManagerWorflowImpl"
The ConnectionManagerWorflowImpl manager has started to become hard to understand. We need to re-organize it in order to make it easier to read. Here are some example of change that need to be done:
- Extract most of the activity calls to a private method
- Try to exit/continueAsNew as fast as possible
- Group the internal state into a POJO (error, job and attempt id...). This variable will be fin

[2022-02-15 16:47] benmoriceau opened #10355 "Use attempt number instead of attempt Id in the ConnectionManagerWorkflow."
Currently both the attempt Number and the attempt Id are used in the workflow. This is bringing a lot of confusion. We should only keep one of them for clarity purpose.

[2022-02-15 16:49] annalvova05 commented on #10155
@misteryeo @sherifnada
It is possible to add a param in the SalesForce query and receive deleted records. Now, we use two endpoints in the SalesForce sync: [REST API](https://developer.salesforce.com/docs/atlas.en-us.232.0.api_rest.meta/api_rest/dome_queryall.htm) and [BulkAPI](https://developer.salesforce.com/docs/atlas.en-us.api_asynch.meta/api_asynch/query_get_all_jobs.htm).
In terms of impleme

[2022-02-15 16:51] benmoriceau opened #10356 "Move all the feature flag check for the new scheduler to the handler level"
Currently we are checking if the feature flag is set or not in different level of our application. Sometimes it is in the Api layer, sometimes it is in the handle, sometimes it is in between. That lead to some mistakes and we need to have some coherence about where we will check this flag.

[2022-02-15 17:07] sherifnada commented on #10155
@annalvova05  the [example docs](https://developer.salesforce.com/docs/atlas.en-us.232.0.api_rest.meta/api_rest/dome_queryall.htm) you linked contain a query like this:
[code]

If we don’t include this WHERE clause, doesn’t that mean we get records where isDeleted is either true or false? meaning we get all records?

If yes, then is there an action item required here?

[2022-02-15 17:49] cgardens commented on #4407
We need to update existing name fields in db.

[2022-02-15 17:50] cgardens commented on #4407
This issue will deal with a subset of https://github.com/airbytehq/airbyte/issues/7251

[2022-02-15 18:06] pmossman commented on #10295
Backlog Grooming notes:
- worker that is running should just use whatever the appropriate resource limit according to the hierarchy
- we won't require this to be set for a connector definition (at least to start with)

[2022-02-15 18:30] blake-enyart commented on #6911
Hi there,
How difficult would it be to jump in on some feature development for this? We have been tracking this epic for sometime now and would love to be able to contribute to this if there is an entry point to this that won't slow you down too much.

[2022-02-15 18:42] #7478 closed

[2022-02-15 18:43] jrhizor commented on #9839
Looks like OOMs / evictions were more of the cause of this than any other issue. Not planning on working on this right away.

[2022-02-15 19:45] Kopiczek commented on #9872
We have the same problem.
I think this happens when connection is currently syncing and you issues a reset API call.
The result actually returns the currently running job (verified from inspecting the network)

Current running sync
![image](https://user-images.githubusercontent.com/5090824/154137012-4a9c4229-b920-4f96-b51d-292f2bb4242b.png)

Result of reset call
![image](https://user-images.github

[2022-02-15 20:20] #6517 closed

[2022-02-15 20:45] manavkohli commented on #7577
@sherifnada can do - want to setup some time to debug this live?

[2022-02-15 20:48] manavkohli commented on #7577
You can also verify - just find records where `updated_at != created_at` and a refund exists

[2022-02-15 22:47] misteryeo commented on #9296
1. "However, there are situations where a user would like to reuse most of a connector but make certain modifications to one or more configurations settings which isn't possible today without setting up something from scratch." from above - primarily it's because they want to reuse the source to select different streams/tables to sync when setting up a new connection but there are some adjustments

[2022-02-15 22:54] #9702 closed

[2022-02-15 22:56] sherifnada commented on #10288
@jrhizor I'm realizing there is an issue with how this is implemented: it doesn't take into account connector version upgrades which I imagine can be misleading for users upgrading their connector versions without upgrading Airbyte core. It's not a show stopper but was this considered/is there a known path forward?

[2022-02-15 22:58] jrhizor commented on #9872
This problem should be resolved with https://github.com/airbytehq/airbyte/issues/10021 (likely in the next month or so)

[2022-02-15 23:06] jrhizor opened #10361 "update connector stage on upgrading connector versions"
When upgrading a connector version to the latest available for their installation, they should be able to pick up additional metadata (the release stage).

This might be a good first issue after additional scoping.

[2022-02-15 23:10] jrhizor commented on #10288
Had the same thought in parallel and created https://github.com/airbytehq/airbyte/issues/10361. I don't think it's a show stopper since it'll just stay on the same unlabeled behavior for existing connectors they're using on an instance.

[2022-02-15 23:25] jrhizor opened #10364 "identify when connectors get into a state where they are not producing messages"
It's possible to end up in a state where a connector is stuck indefinitely. Here are three classes of problems we've seen recently:
1. The connector gets stuck in an infinite loop. This could be due to a bug, infinite retries for an API, etc.
2. A thread could die (we've seen OOM-killed threads as an example) which isn't recognized by the main thread, which results in the application waiting forev

[2022-02-16 01:02] jrhizor opened #10369 "allow linking to a specific job / attempt"
A common problem while maintaining an Airbyte instance is to share a link to a connection (see https://airbytehq-team.slack.com/archives/C02TXQ020QM/p1644962513455699 ) and then refer to a specific run by job id, time, attempt, etc. Then it's a struggle to figure out which one it actually is from any of those values. It'd be better if we could link to a specific one, either on its own route, or on

[2022-02-16 01:03] pmossman commented on #10208
This is now released on OSS and Cloud

[2022-02-16 01:03] #10208 closed

[2022-02-16 01:04] jrhizor commented on #10369
@erica-airbyte: I know this would be useful on the eng side, but would this be useful for TS? Or slightly different functionality that would be make this better for TS?

[2022-02-16 01:04] #3247 closed

[2022-02-16 01:38] tuliren commented on #10260
- Snowflake Internal staging: https://github.com/airbytehq/airbyte/pull/10297
- S3: looks like it is addressed in https://github.com/airbytehq/airbyte/pull/9920

[2022-02-16 01:42] voidful commented on #2017
I am able to build airbyte locally in M1 machine with a little bit more setting, just share what I have done here:

1. Install sdkman and open jdk  17
[code]
2. Switching to python 3.8.12 via pyenv(.python-version)

3. Install airbyte(git clone and cd into the root)
[code]

[2022-02-16 04:07] anand-srinivaas commented on #837
+1 this would be really helpful !

[2022-02-16 04:29] #10337 closed

[2022-02-16 07:48] Morpheus1999 commented on #9780
I face same issue when transferring data from MongoDB.

[2022-02-16 08:17] Morpheus1999 commented on #9780
Dears

After reading t he source code of MongoDB source, I found the reason why some columns were added the suffix '_aibyte_transform' is those columns have multiple data types(Bson types) and then they will be added suffix '_aibyte_transform' and set to type of String.
[root cause](https://github.com/airbytehq/airbyte/blob/5643c1747152defb81d760911884f36618617abd/airbyte-db/lib/src/main/java/io/a

[2022-02-16 09:38] kuaile1993 opened #10373 "why not support mysql （Incremental Sync - Deduped History）"
why not support mysql （Incremental Sync - Deduped History）

[2022-02-16 11:15] HermansSven opened #10375 "Add start_date parameter to Okta connector"
Right now, the `since` request parameter to the Okta API is being set to the latest one of the previous run. In case of an initial dump, it's defaulting to the last 7 days as described in the documentation: https://developer.okta.com/docs/reference/api/system-log/#request-parameters

It would be good if it would be possible to set a start_date parameter in the Airbyte configuration for this connec

[2022-02-16 11:38] bazarnov commented on #10284
This stream is the part of the connector already called: `Payouts`.
The is no other resources called 'payouts_transactions' found in documentation of Stripe, could you please provide more information about where have you seen such a stream?

[2022-02-16 12:20] timroes commented on #7566
Passing PRs against master sounds a good first step. Unfortunately there will still be one potential conflict case. If you let your PR hang around for too long after the last CI build (e.g. because reviewing takes some time), it could already be in a state causing problems merging into master, and it won't be detected because the CI simply doesn't run again anymore since there have been no changes

[2022-02-16 12:50] alexandr-shegeda opened #10376 "Destination Snowflake: improve check connection performance"
Relates to: https://github.com/airbytehq/airbyte/issues/10149

## Tell us about the problem you're trying to solve
As part of the [investigation into speeding up check connection](https://github.com/airbytehq/airbyte/issues/10149), our testing found that the check connection method (and discover schema method) for some connectors is slow (even after removing platform overhead)

Ideally, our 99 per

[2022-02-16 12:51] alexandr-shegeda opened #10377 "Destination BigQuery: improve check connection performance"
Relates to: https://github.com/airbytehq/airbyte/issues/10149

## Tell us about the problem you're trying to solve
As part of the [investigation into speeding up check connection](https://github.com/airbytehq/airbyte/issues/10149), our testing found that the check connection method (and discover schema method) for some connectors is slow (even after removing platform overhead)

Ideally, our 99 per

[2022-02-16 12:55] sw-yx commented on #2017
@jrhizor  just an update on the Temporal side -  v1.14.2 onwards should be fine again. only v1.12 to v1.14 were affected by this M1 issue.

[2022-02-16 13:31] febarbosa182 opened #10378 "Node selector and tolerations for job"
My environment is an EKS 1.21 with managed node groups with ARM.
For airbyte we provisioned a specific node group with taints, and we installed it. But when we try to configure a source or destination, airbyte schedule a pod for this sync, at this point this pod try to start in another node and fall in error.

![Screen Shot 2022-02-16 at 10 25 04 AM](https://user-images.githubusercontent.com/14567

[2022-02-16 13:42] SofianeDjellouli opened #10379 "Connecting Shopify connector to Postgres: Database Error in model abandoned_checkouts_customer"
Hi,

I ran the Airbyte dashboard by cloning the repo and running `docker-compose up`.

I'm trying to establish a sync a Shopify connector to a Postgres DB locally. After around 10 hours of sync, I got an error stopping the process (see the logs below). It went into another attempt but with the same result. I then cancelled the process.

However, when I look at the DB, I see some data in it, which

[2022-02-16 14:49] octavia-squidington-iii commented on #10369
cc @airbytehq/frontend

[2022-02-16 14:58] subodh1810 commented on #9617
https://docs.google.com/document/d/18_Ezbl7Z1aSpHBdFFUy6BHMlDfYTktI4Yp8h2DbX4RE/edit#heading=h.fa72b39y2m99

[2022-02-16 14:58] #9617 closed

[2022-02-16 14:59] subodh1810 commented on #10010
Infra team is taking care of it. Track this https://github.com/airbytehq/airbyte-cloud/issues/948

[2022-02-16 14:59] #10010 closed

[2022-02-16 15:01] subodh1810 opened #10380 "Update Airbyte ERD"
Update the ERD listed here https://github.com/airbytehq/airbyte-cloud/blob/master/docs/DBs/DB-Schemas.md

[2022-02-16 15:05] olivermeyer commented on #2227
I'm happy someone is bumping this - I'm a bit concerned that this issue has been open for a year now, especially since it's the 3rd-most (and until recently, 2nd-most) upvoted issue.

@kyle-cheung we also pull data from BambooHR and, luckily, Bamboo allows to restrict which fields the API token can access. We use that to avoid pulling sensitive data. Might be a solution in your case.

[2022-02-16 15:36] subodh1810 opened #10381 "Build middle layer in Cloud API for spec mutations"
Part of #7555
Tech spec : https://docs.google.com/document/d/18_Ezbl7Z1aSpHBdFFUy6BHMlDfYTktI4Yp8h2DbX4RE/edit#heading=h.fa72b39y2m99
As part of this issue we should introduce a middle layer in ConfigurationApiWrapped in cloud which would sit in between and handle the API requests from client.

The following APIs are the major ones to handle (non-exhaustive list, need to identify the API calls)
1.

[2022-02-16 15:37] #9352 closed

[2022-02-16 15:59] subodh1810 opened #10382 "Create new table and persistence to hold staging credentials"
Part of #7555
Tech spec : https://docs.google.com/document/d/18_Ezbl7Z1aSpHBdFFUy6BHMlDfYTktI4Yp8h2DbX4RE/edit#heading=h.fa72b39y2m99
As part of this issue we should create a new table in config database to hold the credentials of the staging bucket

[2022-02-16 17:00] Kopiczek opened #10383 "BigQuery connector doesn't escape column names"
## Environment
- **Airbyte version**:  0.29.4-alpha
- **OS Version / Instance**:GCP N2
- **Deployment**: docker
- **Source Connector and version**: BiQuery 0.1.5
- **Destination Connector and version**: N/A
- **Severity**: Medium
- **Step where error happened**: SyncJob

## Current Behavior
If a sync contains a column thats a reserved identifier eg. `interval` we get an exception message from BigQ

[2022-02-16 17:33] grubberr opened #10384 "🐛 Source Github: add new streams `Deployments`, `ProjectColumns`"
## Tell us about the problem you're trying to solve
In scope of this [EPIC] #10280
Add new streams `Deployments`, `ProjectColumns`

## Describe the solution you’d like

[2022-02-16 17:42] marcosmarxm commented on #10373
Hello @kuaile1993 thanks for opening this. This request is a duplicate of https://github.com/airbytehq/airbyte/issues/3487. I'll close in favor of the older one. Please if you have more info/contex about what this is important to you add a comment to the issue.

[2022-02-16 17:42] #10373 closed

[2022-02-16 18:03] annalvova05 commented on #10155
@sherifnada [REST API](https://developer.salesforce.com/docs/atlas.en-us.232.0.api_rest.meta/api_rest/dome_queryall.htm) and [BulkAPI](https://developer.salesforce.com/docs/atlas.en-us.api_asynch.meta/api_asynch/query_get_all_jobs.htm) include deleted records during the sync. If the stream supports deleted records, we have the `IsDeleted` field in the schema with both deleted and not records.

Do

[2022-02-16 18:52] tuliren opened #10386 "[EPIC] Fix database connection leak"
## Summary
Some of the `JdbcDatabase` methods return a stream embedded with a database connection. The connection can only be closed when the consumption of the stream is done (in an `onClose` callback), and the closure is not automatic. There are use cases that do not manually close those streams. This is not an intuitive operation because most Java streams do not require closure, as they are not

[2022-02-16 18:56] #10217 closed

[2022-02-16 19:06] kyle-cheung commented on #2227
@olivermeyer thanks for the insight! So you're using Airbyte's BambooHR connector, and within the Employees stream you can select which fields the API can view? Does this cause any errors in Airbyte's replications? Greenhouse's sync errors out if it doesn't have access to the required streams

[2022-02-16 19:29] nwayne94 commented on #9883
@bazarnov
1. We just updated to the latest version and still seeing the same problems
2. I misspoke and we are are using S3 as the destination
3. All the other tables we pull in are working fine

[2022-02-16 20:20] #9723 closed

[2022-02-16 21:03] awill1 opened #10388 "Source MongoDB: cann't connect to TLS enabled Amazon DocumentDB"
## Environment
- **Airbyte version**:  0.35.12-alpha
- **OS Version / Instance**: Amazon Linux 2
- **Deployment**: AWS EC2
- **Source Connector and version**: MongoDB 0.1.11
- **Severity**: Medium
- **Step where error happened**: Setup new connection

## Current Behavior
When setting up a MongoDB source connector that connects to a TLS enabled Amazon DocumentDB (which is basically an AWS hosted Mo

[2022-02-16 21:42] jedwards-gc opened #10389 "Postgres Source Connector doesn't correctly read privileges for materialized views"
## Environment
- **Airbyte version**: Not applicable (but I'm using v0.35.12-alpha)
- **OS Version / Instance**: Amazon Linux 2, AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: 0.3.14+
- **Severity**: Medium
- **Step where error happened**: Setup new connection / Update latest source schema

## Current Behavior
I created issue #9012 which has been resolved, but my materialized

[2022-02-16 23:02] avaidyanatha opened #10391 "Source Hubspot: Support the `property_history` stream"
## Main Issue
Currently, it seems that we currently don't support this stream, and it's been requested by a user.

## Relevant Slack Conversation
https://airbytehq.slack.com/archives/C01A4CAP81L/p1643410583469179

[2022-02-16 23:05] avaidyanatha opened #10392 "Google Ads Source: Ad cost is inconsistent from real value"
## Main Issue
It appears that Google Ads performance reports are inconsistent aggregating the cost of ads.

## Notes
@bigdatawonders is facing this issue and will provide more context below before we triage.

[2022-02-16 23:07] tuliren commented on #10260
The snowflake internal staging has stable memory usage for multiple streams.

One stream with tons of large records:

<img width="995" alt="Screen Shot 2022-02-16 at 15 03 33" src="https://user-images.githubusercontent.com/1933157/154372524-ead1323e-1a75-4c00-9855-40d1507ae53b.png">

10 streams with smaller load:
<img width="996" alt="Screen Shot 2022-02-16 at 15 04 11" src="https://user-images.gi

[2022-02-16 23:42] sherifnada commented on #2227
Hi all, thanks for bumping this and agreed we should be giving better viability into target landing date for the feature. It is currently planned for implementation in Q2. We'll be able to give a more concrete timeline as time progresses.

[2022-02-16 23:48] sherifnada commented on #8705
@lazebnyi Some questions:

- is the rate limit for GQL the same as the REST API? How long does it take to sync N records from M streams, many of which are nested?
- What is the performance of a full sync in a large repo if we compare GQL and RESt?
- Are all resources supported via GQL?
- Are there any limitations we should know when using GqL?

The Shopify ticket has some good examples of answerin

[2022-02-16 23:56] sherifnada commented on #10155
@annalvova05 we do not need to add the _ab_deleted field or nullify other fields in this case. That functionality is more suitable for CDC databases where all updates to a record are replicated. But in this case a user could lose information e.g

1. Record(name=sherif, deleted=false) is created
2. Airbyte sync runs
3. Name is updated to sherif2 in sales force
4. record is deleted
5. Sync runs

In

[2022-02-17 03:05] terekete commented on #7000
Is there a oauth2 flow source connector for Big Query ?

[2022-02-17 04:35] #8282 closed

[2022-02-17 05:51] tuliren commented on #10260
One major contributor to the high memory usage is `ByteUtils#getSizeInBytesForUTF8CharSet`. This method creates a byte array from a string just to get a precise byte size. Along the way, it creates lots of byte arrays.

In practice, we only need an estimation of the string size. Since UTF-8 character is 1-4 bytes length, we can just use the string length times 4 to approximate the byte size. This

[2022-02-17 05:56] tuliren commented on #10260
- The next idea is to further rely on estimation instead of precise calculation of the record message sizes.
- The proposal is that rather than serializing every record message, we can sample 1/10 of them and use the average size.
- The assumption behind this proposal is that each record message has roughly the same size.

[2022-02-17 06:58] tuliren commented on #10260
Sample the string size for every N records turn out to not have that big an effect.

The heap size is kept at 500 MB.

### Byte size (OOME with 500 MB heap size)
<img width="1603" alt="byte size every record oome" src="https://user-images.githubusercontent.com/1933157/154421621-acc149c4-6775-4e3f-a892-ab3f8bd321ab.png">

Calculating byte size for every record message results in OOME within one min

[2022-02-17 07:24] tuliren commented on #10260
When setting the max heap size to 300 MB, the sampling rate has visible impact on heap usage. As the sampling rate decreases, there are fewer heap peaks, especially when the rate is reduced from sampling every record to every 20 records. The impact is not that significant when the rate changes from every 20 to every 100 records.

### String size (every record)
<img width="1603" alt="300mb string s

[2022-02-17 07:30] olivermeyer commented on #2227
That's right. API tokens in BambooHR are attached to users, and as I understand it's possible to restrict which fields each user can access - I haven't actually done that part since I'm not in HR : ). No errors in Airbyte, just a looot of null fields in the normalized table.

Good to hear, and really looking forward to this feature. Thanks for the update.

[2022-02-17 07:31] tuliren commented on #10260
300 MB seems like the minimum heap size. When setting a lower `xmx`, the connector went OOME within one minute:

- 200 MB max heap size:
  <img width="1603" alt="Screen Shot 2022-02-16 at 23 27 31" src="https://user-images.githubusercontent.com/1933157/154426758-6efe48bf-d8d0-4b30-9ba7-30f8aeb889d6.png">
- 256 MB max heap size:
  <img width="1603" alt="Screen Shot 2022-02-16 at 23 30 18" src="http

[2022-02-17 07:47] divyav opened #10395 "Notion - blocks from child pages are not synced"
## Environment
- **Airbyte version**:  0.35.27-alpha
- **OS Version / Instance**: AMazon Linux 2
- **Deployment**: Docker
- **Source Connector and version**: Notion 0.1.2

- **Destination Connector and version**: s3 0.2.7
- **Severity**: Critical
- **Step where error happened**: Post Sync

## Current Behavior
Post data sync, I see blocks only from main pages, not subpages(structure attached). Do I

[2022-02-17 08:41] timroes commented on #10369
Is this really more comfortable to use or were you thinking in terms of implementation ease? I feel we should just have a copy button in an attempt (besides the "download log" button), to copy a link containing a hash, bringing you directly to that attempt expanded when opened. I feel it's easier to share like this, specifically if we'll be asking users to share that with us.

[2022-02-17 08:54] alexchouraki opened #10397 "JIRA Source - 0 records from issues stream"
## Environment
Is this your first time deploying Airbyte: No
OS Version / Instance: Ubuntu 20.04 on AWS EC2
Deployment: Docker
Airbyte Version: 0.35.27-alpha
Source name: Jira (0.2.18)
Destination: Snowflake (0.4.8)
Severity: High
Step where error happened: Sync job

## Current Behavior
Somehow, some streams seem to have no data.

example:
[code]

This is strange, because :
- I know for a fact thi

[2022-02-17 09:27] bazarnov commented on #9883
@nwayne94
4. Have you used `REST` or `Bulk` option to call SF API from connector?
5. Could you please `distinct count` the `id` for `Lead` object only in SalesForce before and after the replication, just to make sure we have pulled out all the Leads correctly? (test it out only on Lead stream)

[2022-02-17 09:28] igrankova commented on #10072
@misteryeo the research is finished.

[2022-02-17 09:33] alexchouraki opened #10399 "MySQL Source - Failed to properly convert data value of type DATE (CDC mode)"
## Environment
Is this your first time deploying Airbyte: No
OS Version / Instance: Ubuntu 20.04 on AWS EC2
Deployment: Docker
Airbyte Version: 0.35.27-alpha
Source name: MySQL (0.5.4)
Destination: Snowflake (0.4.8)
Severity: Medium
Step where error happened: Sync job

## Current Behavior
Hello!
I’m having issues with the source-mysql  Airbyte connector, with a CDC configuration.
Incremental sync

[2022-02-17 10:07] timroes opened #10400 "Replace rest-hooks by react-query"
We currently use a mix of `rest-hooks` and `react-query` in the frontend. We want to align this to only one query library and decided to move to react-query going forward. We should replace all existing usage of `rest-hooks` with `react-query`.

[2022-02-17 10:08] octavia-squidington-iii commented on #10400
cc @airbytehq/frontend

[2022-02-17 10:10] timroes opened #10401 "Investigate onFocus requeries"
`react-query` does by default resend a query whenever the window loses/regains focus. This has no direct use-case for us, and we're also not really updating our UI/state inside the components based on the new query, thus we should disable this globally. We might want to leverage that feature later on individually in some places where it could make sense.

[2022-02-17 10:10] octavia-squidington-iii commented on #10401
cc @airbytehq/frontend

[2022-02-17 10:11] bazarnov commented on #10283
Didn't find anything related to such a notion in SalesForce, could you please add more context here?

We fetch and handle all the possible & available streams dynamically based on:
- User `Role` & `Permissions` to `read` & `fetch` objects and their data (administration question)
- Whether or not, the stream has the `queryable` property is set to `true`, which means it's available for fetch the dat

[2022-02-17 10:20] bazarnov commented on #10282
Refer to the comment here:
https://github.com/airbytehq/airbyte/issues/10283#issuecomment-1042782800

[2022-02-17 10:27] awoehrl opened #10402 "Source Google Search Console: Add dataState parameter to get fresher data"
## Tell us about the problem you're trying to solve
Get fresher data from the google search console api. Right now the data is 2-3 days old.

## Describe the solution you’d like
The search console api introduced a dataState parameter a while ago, that allows for getting fresher data from the api. The default api mode for this parameter is `dataState=final`, which only gives you final validated dat

[2022-02-17 10:27] timroes opened #10403 "Load onboarding state via backend API"
Currently we do a lot of calls (list all connections, sources, destinations) in the UI to determine the state of the onboarding of a user. We only need the count of connections, sources, destinations though to determine this. This could be solved way quicker if we'd calculate the count via the DB and have one web_backend API to actually get the count of all three.

The UI would then only need to m

[2022-02-17 10:28] timroes commented on #10403
WIP PR on the web_backend API: #10071

[2022-02-17 10:29] timroes commented on #7985
This issue is now meant to only track async loading of workspaces.

The slowness of `web_backend/connections/list` should be solved via #10056 and improving the performance of the onboarding state is tracked via #10403

[2022-02-17 10:42] subodh1810 opened #10404 "Collect heapdump of OOM syncs"
We have seen an increased number of syncs failing causing of OOM issues. The right way to debug this is to collect heap dumps and analyse it to identify whats occupying the memory. We can collect heapdumps via JVM flag `-XX:+HeapDumpOnOutOfMemoryError` and specify the path where heapdump is generated via flag `-XX:HeapDumpPath=`

The problem is that the dump is generated inside the pod and once th

[2022-02-17 11:15] alexandr-shegeda opened #10405 "Source Salesforce: improve check connection performance"
Relates to: https://github.com/airbytehq/airbyte/issues/10149

## Tell us about the problem you're trying to solve
As part of the [investigation into speeding up check connection](https://github.com/airbytehq/airbyte/issues/10149), our testing found that the check connection method (and discover schema method) for some connectors is slow (even after removing platform overhead)

Ideally, our 99 per

[2022-02-17 11:16] alexandr-shegeda opened #10406 "Source FB Marketing: improve check connection performance"
Relates to: https://github.com/airbytehq/airbyte/issues/10149

## Tell us about the problem you're trying to solve
As part of the [investigation into speeding up check connection](https://github.com/airbytehq/airbyte/issues/10149), our testing found that the check connection method (and discover schema method) for some connectors is slow (even after removing platform overhead)

Ideally, our 99 per

[2022-02-17 11:21] annalvova05 commented on #10155
@sherifnada
When the record was created, then deleted, we cannot update it. SF returns an error `ENTITY_IS_DELETED`. We retrieve the record during the first sync, and then after deleting it in incremental sync.
In your described scenario after the second sync, we retrieve the deleted record with updated `name=sherif2` and `IsDeleted=True`.

I will add tests for these cases.

[2022-02-17 11:42] igrankova opened #10407 "Obtain public developer application for the Confluence source connector"
## Tell us about the problem you're trying to solve

[EPIC] Oauth developer applications #6070

[2022-02-17 11:56] misteryeo commented on #10281
Thanks @bazarnov - are you able to work with @ycherniaiev to ensure the [research](https://docs.google.com/document/d/1oUCKelveKttE3ZK5lqtuYtS1Yooc0yM_94DYm8I6Sn8/edit) document is updated to reflect the result of your investigation on `tender_transactions`?

@sherifnada any thoughts on the incremental deletes?

[2022-02-17 12:02] bazarnov commented on #10281
We've already aligned yesterday on the daily meeting. This subject was discussed. The `tender_transactions` is the subset of 2 different data objects: Orders + Transactions, with the small amount of fields that `includes user_id`, `order_id` and `payment_details`, basically speaking it's a preset used in GraphQL to make an aggregated result, instead of joining 2 different tables afterwards. We alr

[2022-02-17 12:20] misteryeo commented on #8618
No action required here until we hear from the user.

[2022-02-17 12:23] misteryeo commented on #10283
1. Let's do exactly as you've proposed here and update the documentation.
2. "to be determined" was referring to the results of (1) :)
3. To clarify, this means that for Salesforce we are technically already at parity with competitors because we handle all possible and available streams dynamically - is that accurate?
4. Great!

[2022-02-17 12:23] alexandertsukanov commented on #9021
Hi, @sherifnada !
Should we support old auth method? (created service account) or only OAuth 2.0?
<img width="1089" alt="image" src="https://user-images.githubusercontent.com/17796771/154481057-51e62112-9835-4bc9-96f5-9e7c2f9a5d1f.png">
<img width="1227" alt="image" src="https://user-images.githubusercontent.com/17796771/154480981-c9d2f128-bdef-4ebe-af59-22e1a2d3a932.png">
Thanks.

[2022-02-17 12:27] ycherniaiev commented on #10281
@misteryeo @bazarnov Document is updated. _Tender_transactions_ is still a separate stream by Fivetran according to https://fivetran.com/docs/applications/shopify#schemainformation. So make a note.

[2022-02-17 12:28] bazarnov commented on #10284
I've checked the code of the tap that Fivetran & Stitch are using, this "pseudo-stream" is just the subset of the BalanceTransactions stream. Here is the code part:
1) https://github.com/singer-io/tap-stripe/blob/a04bfa1e507b0d75e4680392e1ccbee96dffa7df/tap_stripe/__init__.py#L42
2) https://github.com/singer-io/tap-stripe/blob/a04bfa1e507b0d75e4680392e1ccbee96dffa7df/tap_stripe/__init__.py#L90

I

[2022-02-17 12:33] bazarnov commented on #10283
We've communicated this part with the assignee of https://github.com/airbytehq/airbyte/issues/10155, this should be corrected with PR coming.

Yes.

[2022-02-17 13:32] misteryeo commented on #10284
Great!

So then for (1) and (2) lets make sure we update the research doc to reflect these new findings.

We can wait for Sherif on (3).

[2022-02-17 13:50] #10397 closed

[2022-02-17 13:52] alexchouraki commented on #10397
My bad, it appears that this was mostly a matter of configuration (the UI is kind of lying...).
A list of projects "PROJ1, PROJ2, PROJ3" with commas results in the issue above, but when validating them one by one in the UI (not as a list) it finally works. It might be worth it to clarify a bit what is expected in that specific field...

[2022-02-17 14:11] ivanovzlatan2 commented on #6305
This is a very important feature for GA analysts. Voting with a +1.

[2022-02-17 14:24] rorymalcolm commented on #4847
The problem relates to the fact that ECS Fargate does not provide permissions for "Docker in Docker", you can _build_ Docker containers inside of Fargate using Kaniko, but you can't run a Docker container inside of a Fargate container: https://github.com/aws/containers-roadmap/issues/1356

[2022-02-17 14:56] sherifnada commented on #9021
@alexandertsukanov we should support both

[2022-02-17 15:32] davinchia commented on #10205
No we need to do https://github.com/airbytehq/airbyte/pull/10410

[2022-02-17 15:37] philippeboyd opened #10411 "🐛 Shopify => Snowflake: fails during normalization on table `ABANDONED_CHECKOUTS_CUSTOMER`"
## Environment
- **Airbyte version**:  example is 0.35.30-alpha
- **OS Version / Instance**: GCP e2
- **Deployment**: docker
- **Source Connector and version**: Shopify 0.1.31
- **Destination Connector and version**: Snowflake 0.4.12
- **Severity**: High
- **Step where error happened**: Sync job (normalization)

## Current Behavior
We're syncing 2 Shopify sources (2 different clients) to Snowflake

[2022-02-17 16:14] grubberr opened #10412 "Documentation link: Support both domains: OLD `docs.airbyte.io`, NEW `docs.airbyte.com`"
## Current Behavior
Docs pre-loading feature works only for OLD urls which starts with `docs.airbyte.io` domain.
`https://docs.airbyte.io/integrations/sources/zendesk_sunshine`

but for NEW correct domain `docs.airbyte.com` it fails like on picture

<img width="862" alt="Screenshot 2022-02-17 at 18 17 25" src="https://user-images.githubusercontent.com/195743/154523653-39ab058a-8c19-40d4-a6c6-44153

[2022-02-17 16:31] pmossman opened #10413 "Expose temporal stats"
Will need to setup time with somebody on Infra, likely just adding some labels to temporal containers to push stats to either prometheus or statsd
- Want to be able to access temporal stats in Datadog, so we can track metrics that matter
  - tracking time between scheduling work and starting work, critical metric
  - number of failed activities
  - basically, a monitoring dashboard to see health o

[2022-02-17 16:32] pmossman opened #10414 "Setup Cloud health dashboard (Datadog)"
Should switch to Metabase and BigQuery instance for finding stuck workflows (left in Running, left in Failed, etc)

[2022-02-17 16:58] pmossman commented on #10414
Sprint planning notes: Is it possible to set up metric/alerts for unschedulable pods due to insufficient node resources? Perhaps we can create an alert when resource consumption is greater than X% so we can get ahead of it? Multivariate problem, needs some investigation

[2022-02-17 17:11] lazebnyi opened #10415 "[EPIC] Facebook Marketing Source to Beta"
[MLP](https://docs.google.com/document/d/1lQlxwLt22CFMAG3qTWYn4MpRSi2XCLQVqEkb0XeqBeA/edit#) improvements:
- [ ] #9842 - Facebook Marketing Source: Support "Replicate Incremental Deletes"
- [ ] #9840 - Facebook Marketing Source: Add "Ad Account" stream
- [ ] #6226 - Facebook Marketing Source: Add "Ad Image" stream

Engineering Acceptance Criteria:
- [ ] Facebook Marketing Source have at least 90%

[2022-02-17 17:16] timroes opened #10416 "Add exception name to `externalMessage` into failureSummary"
Currently we may send a failure summary as follows:

[code]

In the UI we only show the `failureOrigin` and the `externalMessage`. This object already holds a bit more information, that would help investigating an error. While you can view the full log already (though in this very specific case the exception actually didn't make it into the log), and we could show a stacktrace in an expanded view,

[2022-02-17 17:22] nwayne94 commented on #9883
4. We are using whatever the default call option is in Airbyte. The UI version we are on (0.35.10-alpha) no longer provides the option to choose between the two

[2022-02-17 17:34] nwayne94 opened #10418 "Source Twilio: 400 Client Error when syncing Massages table"
## Environment
- **Airbyte version**:  0.35.10-alpha
- **OS Version / Instance**: Mac OS 11.5.2
- **Deployment**: Docker
- **Source Connector and version**: Twilio 0.1.2
- **Destination Connector and version**: Redshift 0.3.25
- **Severity**: Critical
- **Step where error happened**: Sync Job

## Current Behavior
When we run the sync, other tables are able to sync successfully, but a 400 Client Er

[2022-02-17 18:08] benmoriceau opened #10420 "Add an activity to check that all the pods related to a failed connection are down"
## What

Add an activity in temporal to check that after a failure, all the pods related to this connection has a KILLED signal being send to them.

Since this activity will be added in the middle of the history, it will require a new temporal version.

[2022-02-17 19:31] anand-srinivaas commented on #9646
+ 1.

- If there is an option to extend external secret services like cloud secret managers or vault, will be very much helpful!
- Appreciate if this can be done in this quarter :)

Thanks

[2022-02-17 19:59] nataliekwong commented on #9936
Hey @timroes , no users have been able to see the product tour since it launched two weeks ago. I thought it was due to low activations, but realized the onboarding flow does not fit the URL strings defined in the filtering logic, since it's a generic URL like this: https://cloud.airbyte.io/workspaces/{{workspace id}}/onboarding. This only happens if the user is going through the onboarding flow.

[2022-02-17 21:51] sergei-solonitcyn opened #10423 "Improve code quality for Pardot"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-pardot
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 21:54] sergei-solonitcyn opened #10424 "Improve code quality for Zuora"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-zuora
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 21:56] sergei-solonitcyn opened #10425 "Improve code quality for Twilio"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-twilio
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 21:57] sergei-solonitcyn opened #10426 "Improve code quality for Prestashop"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-prestashop
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 21:59] sergei-solonitcyn opened #10427 "Improve code quality for Woocommerce"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-woocommerce
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:00] sergei-solonitcyn opened #10428 "Improve code quality for Plaid"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-plaid
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:01] sergei-solonitcyn opened #10429 "Improve code quality for Scaffold-java-jdbc"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-scaffold-java-jdbc
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:02] sergei-solonitcyn opened #10431 "Improve code quality for Stock-ticket-api-tutorial"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-stock-ticker-api-tutorial
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:04] sergei-solonitcyn opened #10432 "Improve code quality for Slack"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-slack
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:05] sergei-solonitcyn opened #10433 "Improve code quality for Youtube-analytics"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-youtube-analytics
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:07] sergei-solonitcyn opened #10434 "Improve code quality for Cockroachdb-strict-encrypt"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-cockroachdb-strict-encrypt
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:08] sergei-solonitcyn opened #10435 "Improve code quality for Commercetools"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-commercetools
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:09] sergei-solonitcyn opened #10436 "Improve code quality for Amazon-sqs"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-amazon-sqs
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:10] sergei-solonitcyn opened #10437 "Improve code quality for Appsflyer"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-appsflyer
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:11] sergei-solonitcyn opened #10438 "Improve code quality for Asana"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-asana
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:12] sergei-solonitcyn opened #10440 "Improve code quality for Bamboo-hr"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-bamboo-hr
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:13] sergei-solonitcyn opened #10441 "Improve code quality for Close-com"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-close-com
See details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 22:14] sergei-solonitcyn opened #10442 "Improve code quality for Facebook-pages"
https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-facebook-pagesSee details in https://github.com/airbytehq/airbyte/issues/10174

[2022-02-17 23:17] #9618 closed

[2022-02-18 00:09] sherifnada commented on #10281
@bazarnov @misteryeo for incremental deletes: I think we can get them [via webhooks](https://shopify.dev/api/admin-rest/2022-01/resources/webhook#top), but that's not going to happen by EOQ. So I think we should create a ticket with this context but consider it non-blocking for beta

[2022-02-18 00:24] sherifnada commented on #10284
Upgrading the stripe account requires a business verification so they enable card issuing functionality.

@bazarnov do you know if we're able to hit those endpoints in the test mode? It seems I can hit it by running the following API call:

[code]

I can do the business verification if needed (Most of it is done already but we need to link a bank account to Stripe as they don't have a concept of a

[2022-02-18 00:38] tomsaso commented on #9366
Ok. I had this problem.

The thing that solved it for me was configuring git to accept long path's

Run this
git config --global core.longpaths true

Then run git clone. It should work.

[2022-02-18 00:39] CarlosACQ commented on #3583
Can you make a video please.

[2022-02-18 07:13] Zirochkaa opened #10447 "Source Chargebee: `coupon` stream is broken"
## Current Behavior
`read` command for `coupon` stream is outputting error message.
<img width="1461" alt="image" src="https://user-images.githubusercontent.com/19872253/154633587-3b254b4d-e2b8-49f5-8704-d7f69db8d5d9.png">

Also schema for `coupon` stream has some errors.

## Expected Behavior
`read` command should output either records or nothing but not an error.

## Steps to Reproduce
1. run `r

[2022-02-18 07:31] misteryeo commented on #10281
Sounds good, let's move forward with this suggestion @bazarnov

[2022-02-18 08:49] omid commented on #8134
It's actually any LOG_LEVEL higher than INFO!

[2022-02-18 09:47] jrhizor commented on #10369
@timroes yeah, it was purely in terms of implementation ease, not ease of use.

Expanding to the attempt is definitely ideal.

[2022-02-18 09:53] igrankova commented on #10074
@misteryeo, the research is done.

[2022-02-18 11:25] bazarnov commented on #10284
I was able to reach the `issuing/disputes` + `issuing/cards` endpoint using `API LIVE Key` + `Host Site Password` from LastPass, but I don't know where this Live API Key comes from, probably the account standing behind this Key has the access to the target endpoints we need:

Input:
[code]

Output:
[code]

Well, in the testing mode, we can try to reach out those endpoints and add them to the sourc

[2022-02-18 11:28] bazarnov commented on #9883
This could be the Rate-Limit issue, please try to sync only the `Lead` stream, and check the output, if you didn't make it earlier, of course.

[2022-02-18 11:31] ilijaNL commented on #4569
Bump

[2022-02-18 12:13] bazarnov opened #10448 "🎉 Source Shopify: Implement 'tender_transactions' stream"
Within the latest API version: 2022-01 we are now able to fetch the tender_transactions data directly from the endpoint.
[https://shopify.dev/api/admin-rest/2022-01/resources/tendertransaction#[get]/admin/api/2022-01/tender_transactions.json?processed_at_max=2005-08-05%2010:22:51%20-0400](https://shopify.dev/api/admin-rest/2022-01/resources/tendertransaction#%5Bget%5D/admin/api/2022-01/tender_tran

[2022-02-18 12:40] timroes commented on #9936
I played around with this today. And as soon as we enable GTM (via Segment) we can actually trigger that tour via GTM even without needing a custom event triggered from the code (into Segment/Intercom).

Drop me a message in Slack whenever your available, I am happy to get this up and running with you.

[2022-02-18 12:59] timroes opened #10450 "Separate Segment tokens per environment"
We should split our segment tokens based on what environment the product is running in.

* On-Prem (i.e. built into the product): `6cxNSmQyGSKcATLdJ2pL6WsawkzEMDAN` (this is the existing token)
* Cloud (Prod): `Z5x1PeHSvBUrs6OBdZzuq9uEZVjmz2P7`
* Cloud (all non-prod environments): `kXg9Zg4uT5RnzFpSMaNvfbpHY2ejpAUc`

[2022-02-18 13:00] octavia-squidington-iii commented on #10450
cc @airbytehq/frontend

[2022-02-18 13:04] #9963 closed

[2022-02-18 13:26] #9712 closed

[2022-02-18 13:39] fortisoftware opened #10451 "SHOPIFY abandoned_checkouts_customer has a variable type error"
I'm trying to take tables from a SHOPIFY api to SNOWFLAKE and it fails to use basic normalization with the endpoint abandoned checkouts in the field customer.
The only problem is that the tables from abandoned checkouts customer are empty or don't exist, everything else is ok.
i think that the problem is in abandoned_checkouts.customer.tax_excemptions.
Here are the logs of the error:

2022-02-04 1

[2022-02-18 13:50] Tolsto opened #10452 "Source Postgres: set `idle_in_transaction_session_timeout` parameter"
## Tell us about the problem you're trying to solve
I'm using a Postgres source database that has a default of 30 seconds for idle_in_transaction_session_timeout. This regularly causes the sync to fail because the database terminates the connection.

## Describe the solution you’d like
The Postgres source should automatically set idle_in_transaction_session_timeout as a session parameter to either

[2022-02-18 14:31] igrankova commented on #10264
@misteryeo
Hi, Andy! We have a bug on QuickBooks source, our docs link doesn't work due to the domain change from .io to .com: #10412
Can you assign this ticket to Artem Astapenko to fix this problem or maybe there's someone else who can help?

[2022-02-18 15:02] lazebnyi opened #10453 "Source Facebook Marketing: have at least 90% unit test coverage"
Need to improve unit test coverage at least 90%

[2022-02-18 15:15] misteryeo commented on #10313
**Issue was linked to Harvestr Discovery:**  [Multiple syncs for single connection](https://app.harvestr.io/components/0/list/tijZdqei5)

[2022-02-18 16:16] timroes opened #10457 "Extract (base) sizes into theme"
We currently use a lot of styles and specifically pixel sizes hard-coded in styled component all around the UI codebase. This leads us to e.g. use all font-sizes between 8px and 22px (excluding 19px) somewhere in the code base. Similar for padding/margins. We should extract some common font sizes e.g. using t-shirt sizes (S, M, L, etc.) into the theme and limit usage to them.

For padding/margin w

[2022-02-18 16:30] nwayne94 commented on #9883
@bazarnov this is only with the Lead stream, sorry for not clarifying that

[2022-02-18 17:50] #9326 closed

[2022-02-18 19:59] engmsaleh commented on #3583
Hi @CarlosACQ I may write a tutorial later, it depends on your setup, What is your current setup?

[2022-02-18 20:27] CarlosACQ commented on #3583
Hi, i am using a VPS(Ubuntu 20) and docker

[2022-02-18 20:28] CarlosACQ opened #10462 "Hi @CarlosACQ I may write a tutorial later, it depends on your setup, What is your current setup?"
I am using Ubuntu 20 (VPS) and docker.

[2022-02-18 20:29] CarlosACQ commented on #3583
Hi, Ubuntu 20 on a VPS, and docker.

[2022-02-18 20:30] CarlosACQ commented on #3583
HI!. Ubuntu 20(VPS) and docker

On Fri, Feb 18, 2022 at 3:59 PM Mohamed Saleh Zaied <
***@***.***> wrote:

--
Atte. Carlos A. Cabrera Quiroga

[2022-02-18 21:18] msoler8785 opened #10463 "Can't cast a numerical value with a comma to float."
## Environment
- **Airbyte version**: 0.35.14-alpha
- **OS Version / Instance**: linux/amd64
- **Deployment**: Docker
- **Source Connector and version**: hubspot: 0.1.40
- **Destination Connector and version**: redshift: 0.3.23
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Can't cast a numerical value with a `,` delimiter to `float`

## Expected Behavior
It

[2022-02-18 22:33] engmsaleh opened #10465 "Source Appstore: `An unexpected error occurred on the server side`"
## Environment
- **Airbyte version**:  0.35.32-alpha
- **OS Version / Instance**: Ubuntu 18.04.6 LTS
- **Deployment**: Docker
- **Source Connector and version**: Appstore (0.2.6)
- **Destination Connector and version**: BigQuery (0.6.8)
- **Severity**:  High
- **Step where error happened**:  Sync job

## Current Behavior
Sync is successful with no data, when I examined the logs I found that there

[2022-02-18 22:48] marcosmarxm commented on #9012
@misteryeo it's possible to check this issue? another user in our [Slack commented](https://airbytehq-team.slack.com/archives/C021JANJ6TY/p1645220853029199) was not able to pull views from Postgres either.

[2022-02-18 23:12] jrhizor opened #10466 "an external source pod deletion can make the replication worker hang"
related to https://github.com/airbytehq/airbyte/issues/10364

We were seeing this for a sync in our cloud platform where the pod sweeper removes a pod and the replication worker doesn't notice that the source is no longer available and gets stuck (with no log output).

[2022-02-18 23:13] jrhizor opened #10467 "pod sweeper cleans from the start time, not the end time"
This can cause a race condition in the worker (see https://github.com/airbytehq/airbyte/issues/10466).

While we have a temporary "fix" for cloud https://github.com/airbytehq/airbyte-cloud/pull/1038 by extending the waiting period, it's insufficient to guarantee this doesn't occur.

We need to reference the last event seen for the pod instead of the creation time.

[2022-02-18 23:33] jrhizor opened #10471 "pod sweeper should restart on config change"
We should do something like https://blog.questionable.services/article/kubernetes-deployments-configmap-change/ to ensure that if the pod sweeper has a different config map the underlying pod gets rolled.

[2022-02-18 23:38] jrhizor opened #10472 "cloud environment may restart workflows on deploy"
Despite our tests for exactly this case in OSS we are seeing workflows restart.

https://airbytehq-team.slack.com/archives/C02TXQ020QM/p1645216105079419 for an example.

I need to dig in and see exactly what is failing here and why the tests are not representative. Maybe the Helm deploy mechanism terminates pods differently than the scale down in the tests.

[2022-02-18 23:38] jrhizor commented on #10472
@cgardens fyi

[2022-02-19 00:07] jedwards-gc commented on #9012
@marcosmarxm @misteryeo I hadn't heard back on this so I tracked down the problem and opened this issue with my findings: https://github.com/airbytehq/airbyte/issues/10389

[2022-02-19 00:56] avaidyanatha opened #10474 "Source Notion Feature/Bug Hub"
The centralized hub for all feature requests and bugs associated with the [Notion Source](https://docs.airbyte.com/integrations/sources/notion) has been moved to the [Maintainer Github Project](https://github.com/orgs/airbytehq/projects/13/views/1).

The table of issues that was previously on this issue is now deprecated but is left in the collapsed section below.
<details>
  <summary>Deprecated I

[2022-02-19 10:12] bigdatawonders commented on #10392
Hello, current Google Ads API does not extract removed ads spend:
attaching image
<img width="712" alt="Screenshot 2022-02-19 at 11 12 05" src="https://user-images.githubusercontent.com/22476549/154796608-d5f5d20c-f061-43a8-be8d-0a5e01396c63.png">

[2022-02-19 11:07] WarayutPeem opened #10476 "Error Step Upgrading Airbyte 0.30.9-alpha to 0.32.0-alpha-patch1"
## Environment
- **Airbyte version**:  0.30.9-alpha
- **OS Version / Instance**: Ubuntu 20.04.3 LTS
- **Deployment**: Docker
- **Severity**: Critical
- **Step where error happened**: Upgrade Airbyte

## Current Behavior
After trying to upgrade Aibyte from 0.30.9-alpha to 0.32.0-alpha-patch-1 and a blank screen will be displayed on the web page.
![image](https://user-images.githubusercontent.com/93

[2022-02-19 20:48] cgardens opened #10479 "airbyte-workers module should not depend on airbyte-api"
## Tell us about the problem you're trying to solve
The API interface should not be known to the internals of the worker. We should think about handling this sooner rather than later, because the longer it exists this way, the more clutter it gathers.

[2022-02-19 20:50] cgardens commented on #10479
@benmoriceau @jrhizor for visibility. you might have opinions on whether this is the right approach.

[2022-02-20 14:29] misteryeo commented on #10148
@alexandr-shegeda adding a few comments here:

1. Updated the title so it's explicit that this is an Epic for bringing the connector to GA. Let's follow this for other connectors too.
2. Updated the header from Tech Debt Issues to Outstanding Bugs just to be explicit. For the ones listed here, let's copy this to a separate epic for BigQuery Denormalized. This quarter, we won't have the bandwidth t

[2022-02-20 15:17] misteryeo commented on #8411
@timroes FYI, I'm still seeing metadata appear in sidesheets in Cloud: https://share.getcloudapp.com/qGurmNZz

[2022-02-20 17:31] quannh-uet commented on #9938
Same here when use `utf8mb4_bin`

Sample table:
[code]

[2022-02-20 18:53] #9755 closed

[2022-02-20 19:59] htrueman commented on #7994
## Solution

- Found the issue is indeed possible to solve using the text fields.
- Before we casted string fields as `cast(field as char)` which leaded to field varchar(512).
- `varchar(512)` may use as much as 512 * 4 = 2048 bytes in utf8mb4 encoding.
- This means that it enough to have 32 sting fields to exceed InnoDB create table 65,535 bytes row size quota (for instance, hubspot `marketing_em

[2022-02-20 20:06] htrueman commented on #7994
The denormalization indeed wasn't needed. Solved by casting to `text` type. Described in detail the solution in the description https://github.com/airbytehq/airbyte/pull/10485.

[2022-02-20 20:44] Jamakase commented on #6791
We disable buttons only in a few cases: when the form is submitting, when there is some error, and when values don't differ from the initial one ( are not dirty ).

In this particular case, `lookback_window_days` has a default value, as a result, we assume that form values are the same as we apply `0` value by default here.

If some connector in the new version was upgraded and a new field was add

[2022-02-20 21:00] Madhukarsprabhakara commented on #8099
@willsargent I tried this fix but in my case it still doesn't not work. I am running airbyte on docker container and I did the following

1. Overwrote the source.py for smartsheets with the one attached above
2. Compiled airbyte by running "./gradlew  :airbyte-integrations:connectors:source_smartsheets:build"
3. docker-compose up

Did I do anything wrong?

[2022-02-20 21:32] Jamakase commented on #10401
From docs

[code]

[code]

I believe we want to disable all of them, right?

[2022-02-21 00:46] cgardens opened #10488 "Refactor SourceDefinition and DestinationDefinition to reduce duplicate code"
## Tell us about the problem you're trying to solve
Originally we were not sure if source and destination definitions would diverge. This has meant we have tons of duplicated code to handle SourceDefinitions and DestinationDefinitions (same is true for Source and Destination actually). As we have converged on the Actor concept, we are committing to a path with less divergence. Because of that we s

[2022-02-21 01:55] willsargent commented on #8099
Hi Madhu,

I can help. let me get in the office tomorrow and i will write it up.

you don't need to use gradelw

________________________________
From: Madhu Prabhakara ***@***.***>
Sent: Sunday, February 20, 2022 4:00 PM
To: airbytehq/airbyte
Cc: Will Sargent; Mention
Subject: Re: [airbytehq/airbyte] Smartsheets connector raw key:value pair data is scrambled. (Issue #8099)

@willsargent<https://g

[2022-02-21 02:20] Madhukarsprabhakara commented on #8099
Thanks a lot @willsargent . I really appreciate the help!

[2022-02-21 05:25] GKTheOne commented on #2170
@timroes could the default 'when the sync fails' webhook notification work as a MVP for skipping (detection), instead of silently ignoring?

[2022-02-21 08:24] timroes opened #10491 "Remove frontmatter header from documentation sidesheet"
Our documentation markdown uses frontmatter, thus we need to make sure before rendering a documentation in the sidesheet to strip of the frontmatter headers. Currently they are simply rendered into the sidesheet:

![screenshot-20220221-092241](https://user-images.githubusercontent.com/877229/154915843-9ce259af-a1cf-4bdb-9aea-75fad7aa0316.png)

[2022-02-21 08:24] timroes commented on #8411
@misteryeo thanks for the report. I've created https://github.com/airbytehq/airbyte/issues/10491 to track this.

[2022-02-21 08:24] octavia-squidington-iii commented on #10491
cc @airbytehq/frontend

[2022-02-21 09:28] timroes commented on #10401
I am not sure about `refreshInterval`, since I understood it, that unless we enable that the response will always be treated as cached no matter how long you're on the website. But I haven't tested that, and it might be a misunderstanding of the docs. I am also not sure about `refetchOnMount`. I feel it would make sense to load fresh data whenever the component is mounted e.g. the user is navigati

[2022-02-21 09:52] igrankova commented on #10077
@misteryeo, the research is done.

[2022-02-21 12:01] #9612 closed

[2022-02-21 12:01] #9750 closed

[2022-02-21 12:16] antixar opened #10493 "🐛 Sort out with the codecov workflow"
## Tell us about the problem you're trying to solve
The codecov GH action is seemed broken
![image](https://user-images.githubusercontent.com/11213273/154953462-aff4d6ba-19b4-4887-af54-e29fe752a2b3.png)

This logic is a part of the `sonar-qube` workflow

[2022-02-21 12:23] timroes opened #10494 "Disable/remove unattended-upgr from build runners"
We currently have `unattended-upgr` installed and running on our build runners. That will periodically check for updates in the background and perform them. This will though during that time block dpkg. If now a task runs on that runner during the same time, that tries to install any package you'll just get an error: `E: Could not get lock /var/lib/dpkg/lock-frontend. It is held by process 3678 (u

[2022-02-21 12:41] timroes opened #10495 "Push user registration more towards server"
Currently most parts of the process of user registration is done in the frontend and the actual user in our DB is only created once the mail verification is done. That also means we currently need to store all additional user informatin "in the frontend" (or as meta data attached in Firebase), while this process is still ongoing (see https://github.com/airbytehq/airbyte-cloud/issues/853 for more c

[2022-02-21 13:01] #4226 closed

[2022-02-21 13:01] #9462 closed

[2022-02-21 13:01] #9728 closed

[2022-02-21 13:01] #9729 closed

[2022-02-21 13:01] #9733 closed

[2022-02-21 13:03] #10155 closed

[2022-02-21 13:36] schlattk commented on #4933
Hi, @igrankova when you say you have sandbox and dev accounts you presumably mean for Salesforce? SFMC is independent from SF so I suppose what we are looking for is a test account for SFMC?

[2022-02-21 13:39] igrankova commented on #4933
Hi, @schlattk, yes, that's correct. As I understand, there's no sandbox in SFMC, so we can use just a normal account to create the oauth application.

[2022-02-21 13:40] schlattk commented on #4933
ok but they don't want to give you an account?

[2022-02-21 13:58] misteryeo commented on #1468
Closing this issue as we have an Airtable connector here: https://docs.airbyte.com/integrations/sources/airtable

[2022-02-21 13:58] #1468 closed

[2022-02-21 14:00] #9366 closed

[2022-02-21 14:45] igrankova commented on #4933
@schlattk SFMC can only talk about the paid account, they are sending me to the sales representative.
![image](https://user-images.githubusercontent.com/87977540/154977516-7dd8b76e-d19f-4355-8439-98a7e1541716.png)

[2022-02-21 14:52] mkhokh-33 commented on #10159
Hi, @thisisile

I've tried to reproduce the issue from steps to reproduce:
1.Start Airbyte, setup MySql source (CDC, Incremental deduped history, Jump server), setup Snowflake destination
2.Sync

Unfortunately didn't catch any error.

All provided logs seems to be related to different issues:

1. "**2022-02-03 20:02:21 normalization > 20:02:21 | 1 of 6 ERROR creating view model _AIRBYTE_MOODLE_TES

[2022-02-21 14:52] augan-rymkhan commented on #2907
@keu I have checked cursor_field name and its format (timestamp or date-time). It's fixed in PR [#10177](https://github.com/airbytehq/airbyte/pull/10177)

[2022-02-21 15:04] schlattk commented on #4933
ok, understood. Well I would still try and speak to them and see what they
can offer to Airbyte, just for testing purposes.
That shouldn't be costly I don't think.

On Mon, 21 Feb 2022 at 14:46, Iryna Grankova ***@***.***>
wrote:

[2022-02-21 15:43] schlattk commented on #4933
Iryna,
I meant actually you (as representative of Airbyte) should contact them.
Sorry for the misunderstanding. What I meant was that even if they pass you
on to the sales team there might still be a way of creating an account for
Airbyte to test the connection without incurring an unreasonable expense.
It should still be in their interest to be a
source available on Airbyte, especially as you are

[2022-02-21 15:55] igrankova commented on #4933
@schlattk, Oh, sorry, yes, I'll contact them.

[2022-02-21 16:03] #5114 closed

[2022-02-21 17:56] alafanechere opened #10512 "Destination snowflake: Typo mentioning redshift."
**Note:** If you'd like to work on this issue, please read the [Docs Contributor guide](https://docs.airbyte.com/contributing-to-airbyte/updating-documentation) and comment on the issue to confirm it is still up for grabs.

In this file: `./docs/integrations/destinations/snowflake.md` the AWS S3 staging section mentions Redshift specific setting but this file documents Snowflake destination connec

[2022-02-21 18:00] cgardens commented on #10110
Context:
* committed record counts - previously a job only exposed a single record count. this count was misleading because it only tells you how many records we pulled from the source ("emitted records"). we now also can expose "committed records" which is the number of records taht we actually save in the destination. these numbers are different when there is a partial success. a partial success

[2022-02-21 18:00] octavia-squidington-iii commented on #10110
cc @airbytehq/frontend

[2022-02-21 18:03] #2907 closed

[2022-02-21 18:18] nwayne94 opened #10514 "Facebook Leads"
## Tell us about the new connector you’d like to have
Which source and which destination?
* Facebook Leads to S3 (parquet) and Redshift

Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
* Support for Bulk Read

## Describe the context around this new connector
Why do you need this integration? How does your team

[2022-02-21 18:22] #10448 closed

[2022-02-21 19:42] misteryeo commented on #8755
@timroes Just noticed this was added to a project that is now deprecated - flagging for you so it can get updated!

[2022-02-21 20:37] cgardens opened #10518 "External Secrets Store Support: AWS Secrets Manager"
epic: https://github.com/airbytehq/airbyte/issues/837

## Tell us about the problem you're trying to solve
Currently, Airbyte only integrates with one external secrets store: GCP Secrets Manager. Users on AWS prefer to use [AWS Secrets Manager](https://aws.amazon.com/secrets-manager/).

## Describe the solution you’d like
Add AWS Secrets Manager as an option for external secrets.

## Describe the

[2022-02-21 20:39] cgardens opened #10519 "External Secrets Store Support: HashiCorp Vault"
## Tell us about the problem you're trying to solve
Currently, Airbyte only integrates with one external secrets store: GCP Secrets Manager. Users who already use [HashiCorp Vault](https://www.vaultproject.io/) would like to be able to have Airbyte integrate. with it.

## Describe the solution you’d like
Add HashiCorp Vault as an option for external secrets.

## Describe the alternative you’ve con

[2022-02-21 20:44] cgardens commented on #9646
@anand-srinivaas thanks for your note! I have updated this issue so that the scope of it is more clear. This issue is focused on refactoring secrets code.

We actually already support GCP Secrets Manager([docs](https://docs.airbyte.com/operator-guides/configuring-airbyte#secrets)). I have created a separate issue https://github.com/airbytehq/airbyte/issues/10519 to add support for HashiCorp Vault.

[2022-02-21 20:53] cgardens commented on #9646
@olivermeyer can you speak a little more about what outcome you'd like. do simply want the the db to be encrypted at rest or are you specifically looking for credentials values to be specifically encrypted?

[2022-02-21 20:59] cgardens commented on #8755
priority for this one is EOQ for a partner client.

[2022-02-21 21:37] klaussilveira commented on #9698
Same thing happens on PostgreSQL to Snowflake on 0.35.32-alpha.

[2022-02-21 21:38] agrass opened #10520 "Normalization error when string exceed max size"
## Tell us about the problem you're trying to solve
Send larger strings without an error on normalization due maximum row size:
`ERROR creating table model : Row size too large. The maximum row size for the used table type, not counting BLOBs, is 65535. This includes storage overhead, check the manual. You have to change some columns to TEXT or BLOBs   `

## Describe the solution you’d like
Be abl

[2022-02-21 21:43] alafanechere commented on #10520
@agrass do you confirm you're suggesting the following heuristic? -> if the generated schema declares a max length >= 65k the normalization for MySQL should use the `TEXT` type.

[2022-02-21 21:50] agrass opened #10521 "Database full and the job scheduler re-trying infinite causing denial of service"
## Environment
- **Airbyte version**:  0.35.6-alpha
- **OS Version / Instance**: Linux EC2 m5.4xlarge
- **Deployment**: example are Docker
- **Destination Connector and version**:   MySQL 0.1.15
- **Severity**: Critical
- **Step where error happened**:  Sync job
-

## Current Behavior
When MySQL database it's full will infinite retry and due the infinite loop of retries the service stop working. I

[2022-02-21 23:20] agrass commented on #10520
Exactly that's the idea, that way It's possible to solve this issue just changing the schema instead of generating a custom dbt

[2022-02-22 00:35] cgardens commented on #10467
To be clear, we have not actually seen this cause problems. It is just a hypothetical. The one case we thought it might be involved seems to be unrelated.

[2022-02-22 00:38] cgardens commented on #10364
When did #2 happen? Is there a link to an OC issue or other context?

[2022-02-22 00:39] cgardens commented on #10364
@jrhizor When did #2 happen? Is there a link to an OC issue or other context?

[2022-02-22 01:09] sherifnada commented on #8633
@bazarnov any insight on the above?

[2022-02-22 04:30] #10322 closed

[2022-02-22 04:34] harshithmullapudi opened #10524 "Source shopify: add balance transactions stream data to testing store"
Add balance transactions stream in our testing store as the tests are failing. This will close #9850

[2022-02-22 04:34] harshithmullapudi commented on #10524
@igrankova can you help here? Is this possible?

[2022-02-22 08:03] igrankova commented on #10524
Hi, @harshithmullapudi, let me find out what can I do.

[2022-02-22 08:09] keu opened #10530 "CDK: Connector's docs and versioning"
## Tell us about the problem you're trying to solve
This issue is not necessarily solved by CDK but is related to the connector's lifecycle.
Not so long time ago we have moved CHANGELOG.md files from connector's folders to airbyte docs, this arguably was a mistake, and this is why:

Current workflow when creating/updating connector:
- all development happens inside connector's folder
- when done w

[2022-02-22 08:12] igrankova commented on #10524
@harshithmullapudi can you specify what account should I update?

[2022-02-22 08:18] harshithmullapudi commented on #10524
Hey I think shop `airbyte-integration-test` is what we are using right now

[2022-02-22 08:18] igrankova commented on #10524
Thank you, I'm in.

[2022-02-22 08:20] #10192 closed

[2022-02-22 08:20] #10447 closed

[2022-02-22 08:38] augan-rymkhan commented on #2397
@keu The method `_filter_dynamic_fields` was removed in PR [8329](https://github.com/airbytehq/airbyte/pull/8329/files#diff-37c875e03f2e65ea1423534b0b634e18eaca797135f8d9df32360407b1d0ccb9L223)
The dynamic fields were included in `ignored_fields` in acceptance-test-config.yaml.
This issue can be closed.

[2022-02-22 08:45] #7985 closed

[2022-02-22 10:34] misteryeo commented on #6493
Closing this issue as we've implemented this: https://github.com/airbytehq/airbyte/pull/8011

[2022-02-22 10:34] #6493 closed

[2022-02-22 10:37] misteryeo opened #10533 "Update supported streams in Hubspot"
### Tell us about the documentation you'd like us to add or update.
Ensure that [our documentation](https://docs.airbyte.com/integrations/sources/hubspot#supported-tables) accurately reflects the streams we have in [our connector](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas).

[2022-02-22 10:41] misteryeo commented on #10148
@alexandr-shegeda for clarity - BigQuery we're bringing to GA. BigQuery De-normalized we're bringing to Beta first. Let's keep these two efforts separate. Once they're both in GA, we'll allocate time to merge them.

The [destination template is now complete](https://docs.google.com/document/d/1W_00iHc2Zy68LZzp2gze1JFalF7aOrWVjtzXP7uu1bw/edit#) as a first draft, can you give that a try to create a

[2022-02-22 12:03] misteryeo commented on #9568
@rfortmann-ewolff assigning this to you as I see you're working on a PR for this.

cc: @marcosmarxm

[2022-02-22 12:22] misteryeo commented on #8755
**Issue was linked to Harvestr Discovery:**  [Search/Filter Connection, Source, Destinations](https://app.harvestr.io/components/0/list/m8JDdnT2R)

[2022-02-22 12:22] #7994 closed

[2022-02-22 12:27] ycherniaiev commented on #10076
@misteryeo Research is here: https://docs.google.com/document/d/1yRDI1VItRqDfNKMQukqv0kr4Gx6cgh4Oh_Xh5LnxNo4/edit#

[2022-02-22 12:54] misteryeo opened #10537 "test ticket do not delete yet"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2022-02-22 13:02] misteryeo opened #10538 "test ticket do not delete"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2022-02-22 13:30] keu opened #10539 "SAT: Drop spec equality test"
## Tell us about the problem you're trying to solve
As described here https://github.com/airbytehq/airbyte/issues/4164 the current spec test that compares output from `SPEC` command with hardcoded value is meaningless.

## Describe the solution you’d like
Remove spec `TestSpec.test_match_expected` test

## Describe the alternative you’ve considered or used
keep the content of `spec.json` file in s

[2022-02-22 13:43] novotl opened #10541 "0.35.31-alpha broke gradle"
## Environment
- **Airbyte version**:  0.35.31-alpha
- **OS Version / Instance**: Debian 10, Gradle 7.3.3
- **Deployment**: non applicable
- **Severity**: Very Low / Low / Medium / High / Critical
- **Step where error happened**: Compile

## Current Behavior
*Tell us what happens.*
- Running `SUB_BUILD=PLATFORM ./gradlew :airbyte-workers:copyGeneratedTar` indefinitely waits for database connection

[2022-02-22 13:51] #10538 closed

[2022-02-22 13:51] misteryeo opened #10542 "test ticket do not delete"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2022-02-22 14:17] augan-rymkhan commented on #9264
@flotenva Thanks this helped me to reproduce the issue.
I am working on the solution.
![image](https://user-images.githubusercontent.com/93112548/155150271-92ba9262-f323-45ca-b70b-dddcd369db4f.png)

[2022-02-22 14:19] augan-rymkhan commented on #9014
It seems this issue is related to #9264

[2022-02-22 14:26] #2397 closed

[2022-02-22 14:31] Seegras opened #10543 "using an ssh jumphost demands unsupported obsolete algorithms"
## Environment
- **Airbyte version**:  0.35.32-alpha
- **OS Version / Instance**: Linux/EC2
- **Deployment**: Docker
- **Destination Connector and version**: MySQL 0.5.6
- **Severity**: Medium
- **Step where error happened**:  Setup new connection

## Current Behavior
Can't use ssh jumphost because it only supports ancient algorithms:

All of the ones offered are deemed insecure. Note that this fa

[2022-02-22 14:46] #5688 closed

[2022-02-22 14:47] rorymalcolm opened #10544 "HubSpot Sync Job Hangs on Deals Sync"
## Environment
- **Airbyte version**: 0.35.32-alpha
- **OS Version / Instance**: Ubuntu Focal 20.04
- **Deployment**: EC2
- **Source Connector and version**: HubSpot 0.1.41
- **Destination Connector and version**: Redshift 0.3.25
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Airbyte sync hangs on `Syncing stream: deals`, syncs succeed without deals

## Expecte

[2022-02-22 15:21] cgardens commented on #10420
@timroes @benmoriceau what is the observed behavior that this solves? it is pods that continue to run after failure? do they run to completion or do they terminate after some fixed time (this would expected behavior)? which pods stay running?

[2022-02-22 15:38] igrankova commented on #10078
@misteryeo, please review the research.

[2022-02-22 15:39] cgardens commented on #8037
Goal for week of 02/22:
* Update tech spec
* Build execution plan ([example](https://github.com/airbytehq/airbyte/issues/8463))

[2022-02-22 15:40] cgardens commented on #9296
Current state: API change moved. Just figuring out where button will go in the UI and will implement.

[2022-02-22 15:45] cgardens commented on #4407
Execution Plan:
* Change the API to persist the same thing we display in the UI
* Run database migration backfill existing connections with "default" to use the name we would show in the UI
* By default keep current name, but add option in the UI to override the default.

[2022-02-22 15:59] timroes commented on #4407
@cgardens Can we maybe automatically generate a name in the migration that is presentable in the UI, so we wouldn't need a fallback for the `default` connections, and e.g. generate the name to be "{sourceName} ➔ {destinationName}".

[2022-02-22 16:30] #10453 closed

[2022-02-22 17:08] jrhizor commented on #10467
That is correct.

[2022-02-22 17:20] cgardens commented on #10420
Next step is to find the root cause of why we get into this state first.

[2022-02-22 17:30] jrhizor opened #10547 "tooltips don't render html tags properly"
On latest master c5810f58c:

![Screen Shot 2022-02-22 at 9 29 19 AM](https://user-images.githubusercontent.com/120362/155186151-07b8ca03-3782-4de1-9cef-ffae7e05bc1c.png)

[2022-02-22 17:30] octavia-squidington-iii commented on #10547
cc @airbytehq/frontend

[2022-02-22 17:39] dbeaudway commented on #6323
+1

[2022-02-22 17:45] ycherniaiev commented on #8633
@sherifnada Marketplace does not prevent from having public app.But asa far as our competitors do not have app on marketplace we decided that in perspective it will be a good point.

[2022-02-22 17:48] #9843 closed

[2022-02-22 17:49] sherifnada commented on #10182
highlights from offline discussion with chris:
* short-term tech spec has been ratified
* medium/long-term solutions will be figured out by alyssa
* closing this ticket and will create any needed issues for follow-up work

[2022-02-22 17:49] #10182 closed

[2022-02-22 17:53] sherifnada commented on #10330
Next step is for @ChristopheDuong to produce project breakdown and review with the team

[2022-02-22 17:54] marcosmarxm commented on #10541
@tuliren could you check this issue?

[2022-02-22 18:06] pcothenet opened #10548 "Schema fetch returning empty on postgres >= 0.4.5"
## Environment
- **Airbyte version**:  0.35.32-alpha
- **OS Version / Instance**: Amazon Linux 2
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.4.8
- **Destination Connector and version**: BigQuery 0.6.9
- **Severity**: High
- **Step where error happened**: Sync job / Update connector

## Current Behavior

- From the UI or API, the postgres schema being detected is empty (

[2022-02-22 18:06] jonniedarko opened #10549 "Connection list APIs failing due to invalid input when input matches docs"
## Environment
- **Airbyte version**: 0.35.32-alpha
- **OS Version / Instance**:  AWS EC2
- **Deployment**: followed https://docs.airbyte.com/deploying-airbyte/on-aws-ec2 but with a remote postgres (updated env)
- **Source Connector and version**:  airbyte/source-shopify 0.1.32
- **Destination Connector and version**: airbyte/destination-postgres 0.3.14
- **Severity**: High
- **Step where error ha

[2022-02-22 18:09] alafanechere commented on #9522
[Another user request on slack](https://airbytehq-team.slack.com/archives/C019WJFR1JT/p1645537912884679).

[2022-02-22 18:44] Madhukarsprabhakara commented on #8099
Hi @willsargent just circling back to check if you got a chance to look at this. Trying to resolve this for a client sorry to bother you. Thanks again!

[2022-02-22 18:59] kzzzr commented on #9837
I bet this should work in `./airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py`:

[code]

![image](https://user-images.githubusercontent.com/34193409/155198646-dc34b47e-7b9a-4f87-8d7d-3009b77ecb34.png)

I only need to test it locally.

I've spent a whole day and I still can't make my `docker-compose` use local Docker build instead of pulling from `airbyte/no

[2022-02-22 19:08] rorymalcolm commented on #10544
Tried to do further debugging including extracting worker logs etc, none the wiser

[2022-02-22 19:16] tuliren commented on #10541
I have looked into this, but cannot reproduce it locally. I have tested the `:airbyte-workers:copyGeneratedTar` on both version `0.35.31-alpha` and the latest head.

In addition, the platform build passed on CI in both the current head commit as well as the [PR](https://github.com/airbytehq/airbyte/pull/10446) that created the `0.35.31-alpha` version.

The PR linked to this issue https://github.co

[2022-02-22 19:25] #10547 closed

[2022-02-22 19:28] #10369 closed

[2022-02-22 19:34] jvstein opened #10555 "GitHub source connector fails if "Projects" feature is disabled"
## Environment
- **Airbyte version**:  0.35.27-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Kubernetes
- **Source Connector and version**: GitHub 0.2.19
- **Destination Connector and version**: N/A
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
When syncing from a GitHub repository where the "Projects" feature is disabled, the sync is abo

[2022-02-22 19:48] marcosmarxm commented on #10549
How are you trying to send this request?
I tried locally and it's working ok;  also the one built by documentation:
[code]

[2022-02-22 19:53] jonniedarko commented on #10549
@marcosmarxm that looks pretty like what I have:
[code]

[2022-02-22 20:20] jonniedarko commented on #10549
This actually appears to be a Postman issue as the curl itself is working fine (and oddly re-importing same curl works)

[2022-02-22 20:20] #10549 closed

[2022-02-22 21:18] sherifnada opened #10561 "Release "free" connectors in Cloud"
## Tell us about the problem you're trying to solve
[This doc](https://docs.google.com/document/d/1MH7xWpqZopzHRGjCeIYxki0rjQUPUpAeaJzJ4XUUwQI/edit#) contains a list of connectors which require no dev work to be released in Cloud as alpha connectors.

## Describe the solution you’d like
I would like all such connectors (the ones which require no dev work) to be released in Airbyte Cloud.

[2022-02-22 21:52] alafanechere commented on #9604
Closed after merge of https://github.com/airbytehq/airbyte/pull/10276

[2022-02-22 21:52] #9604 closed

[2022-02-23 00:51] farisam commented on #9843
hi @alafanechere , seems like my issue is duplicate with my issue #9843 , can you elaborate more?

[2022-02-23 02:00] #8463 closed

[2022-02-23 03:59] jordandakota commented on #2149
Since this was posted, the SQL Serverless implementation in Synapse has gone general availability / full support of Delta lake tables:

https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/query-delta-lake-format
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/resources-self-help-sql-on-demand#delta-lake

You can't however use SQL Serverless to create or update delta tables, m

[2022-02-23 05:10] sherifnada commented on #2154
this ticket was already implemented a while ago, and the connector has been rewritten since then. Closing

[2022-02-23 05:11] sherifnada commented on #10415
FYI @lazebnyi #8060 is not a connector issue, it's a platform issue. I crossed it out from the checklist above.

[2022-02-23 05:50] keu commented on #2154
@sherifnada this ticket is not about FacebookMarketing, the FB is just an example of behaviour. This ticket requests a solution on Airbyte level. FYI

[2022-02-23 06:55] Morpheus1999 opened #10569 "Source MongoDB: connector fail with password which contains special character"
Dears
I found one bug when creating MongoDB connector with password which contains special character such as %
## Environment
- **Airbyte version**:  0.35.3-alpha
- **OS Version / Instance**: Centos7
- **Deployment**:  Docker
- **Source Connector and version**: source-mongodb-v2  0.1.10
- **Severity**:  Low
- **Step where error happened**: Create connector

## Current Behavior
It appears error whe

[2022-02-23 07:35] adamschmidt opened #10570 "Server log storage on S3 should use DefaultAWSCredentialsProviderChain"
## Environment
- **Airbyte version**:  0.35.32-alpha
- **OS Version / Instance**: AWS EKS
- **Deployment**: Kubernetes
- **Source Connector and version**: n/a
- **Destination Connector and version**: n/a
- **Severity**: High
- **Step where error happened**: Server start

## Current Behavior
Starting the server does not use DefaultAWSCredentialsProviderChain when building the S3 client for server l

[2022-02-23 08:36] thisisile opened #10572 "Normalization doesn't respect table name rule creating for reserved words"
## Environment
- **Airbyte version**:  0.35.26-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Salesforce
- **Destination Connector and version**: Snowflake
- **Severity**: High
- **Step where error happened**: Sync Job

## Current Behavior
When syncing salesforce tables, there is a table created in snowflake with casing
All tables are upperc

[2022-02-23 09:14] igrankova commented on #10054
Hi, @harshithmullapudi, I have a call with SFMC on Thursday, they will give us a sandbox. I hope to resolve the issue with creds this week.

[2022-02-23 09:15] harshithmullapudi commented on #10054
Hurray thanks a lot 🙏🏻

[2022-02-23 09:18] prein commented on #5942
@tuliren Is my thinking correct that the S3 parquet output doesn't support using IAM roles?

[2022-02-23 09:20] midavadim commented on #10406
1. I have tested 'check' and 'discover' methods via UI and CLI and I have not seen any significant delays ( about 1s)

2. I have also checked connector code and I have not seen any places where the problem can happen

3. I have reviewed related issues and spreadsheets and I actually was not able to find any evidence (and numbers) which could indicate slowness of check and discover methods.

@miste

[2022-02-23 09:27] timroes opened #10573 "Storybook vulnerable dependencies"
**Work in progress**

This is a meta issue to track vulnerable transitive dependencies from Storybook. A lot of Dependabot alerts we're getting are dependencies from Storybook, that are not yet upgraded on their side. Those vulnerabilities are not affecting Airbyte, since [Storybook](https://storybook.js.org/) is purely used during development to view components. This is not part or embedded into

[2022-02-23 09:27] octavia-squidington-iii commented on #10573
cc @airbytehq/frontend

[2022-02-23 09:39] harshithmullapudi commented on #9296
How do we go about pushing this feature over on UI?
1. Do we need mockups to figure out the UI? As in where to place the button and what is the kind of flow we are looking at?
2. Do we leave this just as an API and work on UI later?

[2022-02-23 11:13] subodh1810 opened #10575 "Resetting jobs table causes logs from different connector to appear in different connectors"
Our logs have the job_id attached to them like `/tmp/workspace/4832/0/logs.log`. The `4832` is the job_id and this path contains the logs of this particular job. The job_id is `"id" int8 generated by default as identity not null` so if we reset our jobs database, all the new jobs will restart from scratch and there will be a new sync job which will eventually assume the job_id 4832 and as a result

[2022-02-23 11:23] novotl commented on #10541
🤔 I'm sorry I have no idea what I did wrong yesterday. Did the same thing today and **it's working fine**. Every clue points to me doing something wrong or having a messed up clone of the repo. Closing the issue.

[2022-02-23 11:23] #10541 closed

[2022-02-23 11:31] alafanechere commented on #9843
Sorry, I pasted the wrong issue number. I fixed my previous message.

[2022-02-23 12:34] alexandr-shegeda opened #10579 "[EPIC] Destination BigQuery Denormalized to BETA"
### The main purpose of this issue is to track release progress for the connector.

### Acceptance criteria

- [x] Connector should have a separate document that should be placed on the [Google Drive](https://drive.google.com/drive/folders/1qOzblo8xiBJc8AiK4AyuDTC1Ilt-GFzu)
- [x] Collect and list all tech debt-related issues in the section below

### Outstanding Bugs
- [ ] #9345
- [ ] #8870
- [ ]

[2022-02-23 12:39] alexandr-shegeda commented on #10148
@misteryeo moved bigquery-denormalized related tickets into a separate issue #10579

[2022-02-23 13:14] Dock1100 opened #10580 "Job fails with only error `null found, object expected`"
Hi, facing a strange error with one specific table (`pipelines`) when syncing data from ClickHouse to BigQuery.
Sync job fails, and the only error in the logs is `errors: $: null found, object expected` without any details
[code]

Any ideas/workaround on how to fix it?

<details>
<summary>"Failed" table schema (`DESCRIBE pipelines`)</summary>

name | type | default_type | default_expression | comm

[2022-02-23 13:27] Dock1100 commented on #10580
probably it's due to bad automapping e.g. `bucket - Nullable(String)` to `Table pipelines column bucket (type String[0]) -> Json type STRING`
But have no idea how to deal with it...

[2022-02-23 13:51] awill1 commented on #10388
I have a solution working locally. I am a little concerned with the design. I see two options for getting the Amazon RDS CA Certificate added to the Java keystore in the mongodb-v2 connector container to make the DocumentDB TLS enabled connections work:

1. Add the certificates to the keystore at docker build time. This is the solution I have working locally. Pros: minimal changes to the connector

[2022-02-23 13:54] ntkawasaki commented on #9871
Another instance: https://airbytehq.slack.com/archives/C01VDDEGL7M/p1645621360020509

[2022-02-23 13:56] tuliren opened #10581 "IAM role does not work for S3 Parquet format"
## Environment
**Is this your first time deploying Airbyte**: Yes
**OS Version / Instance**: Amazon Linux 2, AWS
**Memory / Disk**: 4.01476 Gb / 50 Gb
**Deployment**: Docker
**Airbyte Version**: 0.35.14-alpha
**Source name/version**: Twilio
**Destination name/version**: Amazon S3
**Description**: I'm trying to sync using parquet output format but it give me this error:
[code]
Also if I when try wi

[2022-02-23 13:57] tuliren commented on #5942
It looks like the case. If I remember correctly, IAM role for S3 is only introduced recently. The Parquet and Avro writers are constructed different from the CSV and JsonL writers. It's fairly possible that the IAM role change only works for the latter two writers.

I have created an issue here: https://github.com/airbytehq/airbyte/issues/10581

[2022-02-23 14:02] #10340 closed

[2022-02-23 14:12] ntkawasaki commented on #10388
I agree that 2 would be ideal, especially because there will be other cases where people need to upload custom or self-signed SSL certificates potentially for any connector and supporting a code path to install certificates on a per-connector basis would solve that problem for every connector including this RDS case.

That being said I don't know if this option currently exists for any connector (

[2022-02-23 14:17] ntkawasaki opened #10582 "Add note about enabledTlsProtocols parameter for MySQL connections"
### Tell us about the documentation you'd like us to add or update.

We should add a note in MySQL (source and destination) docs for probably needing to add `enabledTLSProtocols=TLSv1.2,TLSv1.3` into the additional jdbc url parameters input on these connections to successfully connect to MySQL instances that require the non-deprecated TLS protocol versions.

People run into connection issues from

[2022-02-23 14:18] ntkawasaki commented on #10582
(I'm willing to do the PR)

[2022-02-23 14:22] ntkawasaki commented on #10388
This is essentially the same issue for MySQL: https://github.com/airbytehq/airbyte/issues/6985

[2022-02-23 14:34] thisisile commented on #10572
I assume maybe that this is a bug when tables are created in snowflake ?

[2022-02-23 15:08] ryanmeekins commented on #9834
I'm facing a similar issue of it getting stuck on `DEBUG i.a.c.h.LogClientSingleton(setJobMdc):133 - Setting docker job mdc`

Airbyte version: 0.35.32-alpha
OS Version / Instance: Ubuntu 20.04
Deployment: Docker on Azure VM
Source Connector and version: MSSQL 0.3.17
Destination Connector and version: Snowflake 0.4.15
Severity: Medium
Step where error happened: Sync job

The job keeps getting stuck

[2022-02-23 15:09] #9443 closed

[2022-02-23 15:22] tuliren commented on #10260
The S3 staging mode is not scalable. When syncing 50 streams, each with 1K records, the connector will encounter OOME with 500 MB max heap size.

Something is clearly wrong that the number of live threads just keeps going up. The majority of the heap is occupied by byte arrays. This mode requires more investigation.

<img width="1075" alt="Screen Shot 2022-02-23 at 07 20 34" src="https://user-imag

[2022-02-23 15:25] tuliren commented on #10260
## Summary
- ETA for S3 staging mode investigation and optimization: by the end of this week (Feb 25th).
- Remaining work
  - Add Sentry tracing for copy destination to facilitate investigation
  - Analyze the concurrent logic

[2022-02-23 15:29] tuliren commented on #9351
## Sprint summary
Done
- Snowflake specific namespace tests.
Remaining
- Need to generalize the solution.
ETA
- End of this week (Feb 25th).

[2022-02-23 15:48] ChristopheDuong commented on #4581
related to https://github.com/airbytehq/airbyte/issues/4521

[2022-02-23 16:03] girarda commented on #9501
I'm working on this right now.
ETA for a generic solution is by end of week. PR is https://github.com/airbytehq/airbyte/pull/10421
Once that's merged, we'll only need to update the connectors spec

[2022-02-23 17:13] danjsiegel1 commented on #10145
Use case would be I have to deliver data and there can be multiple formatting issues with how the data can be ingested. The people downstream are particularly picky about the format, but the ability to add a header and escape special characters should be pretty self evident.

[2022-02-23 17:21] ChristopheDuong opened #10585 "Plan execution story of differentiate errors requiring user input"
## Tell us about the problem you're trying to solve
Related to #10330, plan the meeting to discuss story of executing for that project

[2022-02-23 17:22] cgardens commented on #10467
@jrhizor How serious is this? Should we treat it as medium? @davinchia for visibility

[2022-02-23 17:38] #10411 closed

[2022-02-23 17:40] jrhizor commented on #10472
This morning I figured out why each of the test cases was having the behavior observed:

<table>
<tr><th>Test Case</th><th>Passes (prod)</th><th>Passes (new)</th><th>Why?</th></tr>
<tr><td><pre>KILL_ONLY_NON_SYNC</pre></td><td>Yes</td><td>Yes</td><td>This is the easiest to handle, and what we were testing previously. If the sync workflow isn't terminated the connection manager resumes as expected.

[2022-02-23 17:44] alafanechere commented on #9342
For users looking for a workaround:
Setting the `TEMPORAL_TLS_REQUIRE_CLIENT_AUTH` env variable to true on the temporal container enables SSL connection:

E.G.:
[code]

[2022-02-23 17:51] jrhizor opened #10587 "add timeout to init container for connector pods"
It's possible to have the init container wait indefinitely for file transfer. If the process transferring files is killed during this process, there is no heartbeat mechanism yet and the connector pod will sit there forever.

Ideally the init container would have a timeout so it can't get in this state.

This only impacts connector pods launched with `KubePodProcess` not the container orchestrator

[2022-02-23 17:56] jrhizor commented on #10467
Medium's appropriate. Could cause problems but hasn't yet.

[2022-02-23 18:09] rcheatham-q opened #10589 "Sync pod sidecar containers do not have resources properly defined for k8s clusters with resource quotas"
## Environment
- **Airbyte version**:  0.35.30-alpha (though the offending code remains unchanged in the master branch and in version 0.35.36-alpha, the current version as of creating this issue)
- **OS Version / Instance**: macOS
- **Deployment**: Kubernetes via official helm chart
- **Source Connector and version**: Salesforce 0.1.23
- **Destination Connector and version**: S3 0.2.7
- **Severity

[2022-02-23 18:13] sherifnada opened #10590 "JDBC source hanging"
placeholder for https://github.com/airbytehq/oncall/issues/140

[2022-02-23 18:14] rcheatham-q commented on #10589
I found the official walkthrough from Kubernetes that demonstrates how to build a namespace with resource quotas, which may be helpful in testing: https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace/

[2022-02-23 18:22] sherifnada opened #10591 "Scale S3 connector to handle arbitrary number of streams per sync"
context is in #10260

[2022-02-23 18:39] girarda opened #10593 "Generalized solution for jdbc parameters"
We want to support arbitrary jdbc parameters for all jdbc sources and destinations.
more context in https://github.com/airbytehq/airbyte/issues/9501

[2022-02-23 18:44] jvstein opened #10594 "GitHub source connector fails when /contributors endpoint returns 404"
## Environment
- **Airbyte version**:  0.35.27-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Kubernetes
- **Source Connector and version**: GitHub 0.2.19
- **Destination Connector and version**: N/A
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
The GitHub connector ran into a 404 error attempting to sync a mostly empty repo. The repo had

[2022-02-23 19:28] #5736 closed

[2022-02-23 19:58] misteryeo commented on #9296
Sorry I dropped the ball on this, should've provided mocks and proposed workflows ahead of this.

Got some mocks [here](https://www.figma.com/proto/etaOkOsnXMoKwbfhCD71kw/Web-app?page-id=32253%3A149791&node-id=32253%3A149791&viewport=305%2C48%2C0.5&scaling=min-zoom&starting-point-node-id=32550%3A152547&show-proto-sidebar=1) - we're leaning towards:

- Existing source 1 or 3
- New source 1

I think

[2022-02-23 20:04] misteryeo commented on #2491
Thanks @tuliren for pointing that out!

@sashaNeshcheret let's deprioritize this for now. This added information adds further complexity to the possible implementation so let's wait to see how many other users encounter this as an area of friction. Thanks!

[2022-02-23 20:36] misteryeo commented on #10579
Let's deprioritize https://github.com/airbytehq/airbyte/issues/9345 - that won't be a blocker to bring this connector to beta or GA. Thanks @alexandr-shegeda!

[2022-02-23 21:03] dsnam opened #10595 "source shopify: v0.1.26 stream rename causing child stream to run before parent"
## Environment
- **Airbyte version**:  .35.11 & .35.12
- **OS Version / Instance**: ubuntu on ec2
- **Deployment**: docker
- **Source Connector and version**: shopify 0.1.26
- **Severity**: High
- **Step where error happened**: setup new connection through UI, edit connection through UI. create/update over API not affected

## Current Behavior
It seems like streams are read in the order they appea

[2022-02-23 21:05] marcosmarxm commented on #10462
I'm closing this @CarlosACQ because doesn't have any information about what your requesting or solving.

[2022-02-23 21:11] dsnam commented on #10595
Let me know if logs from one of the refunds-first syncs will be helpful at all, this seems to cause it to sift through a far larger number of orders for refunds than I'd expect it to find assuming that its starting parent state is just the state of the orders stream as of the previous sync (3k+ when the previous sync only pulled/updated 100 orders).

[2022-02-23 21:48] dahadaller opened #10598 "change the domain in the body of the webhook notification"
Hello, I was wondering how I can change the domain in the body of the webhook notification:
In the message below, I would like to change localhost:8000 to the public address where airbyte is being hosted. It doesn't appear that this is an option in the interface.

This was for sync started on Friday, February 18, 2022 at 1:03:08 PM Coordinated Universal Time, running for 8 minutes 29 seconds.
You

[2022-02-23 22:03] qmnonic opened #10600 "TimescaleDB connector"
## Tell us about the new connector you’d like to have
* **Sources**: Postgres, Postgres with the Timescale extension (specifically hypertables), Azure Managed Postgres Databases with the Timescale extension
* **Destinations**: Postgres with the Timescale extension (specifically hypertables), [managed](https://docs.timescale.com/mst/latest/) / [cloud](https://docs.timescale.com/cloud/latest/) times

[2022-02-23 22:29] jrhizor opened #10601 "handle deleted connections differently in UI"
## Tell us about the problem you're trying to solve
In Cloud, we're seeing a few users delete connections and then try to perform actions on them (like manual runs, cancellations, etc). Also, as an admin, it's difficult to see what's happening. For an example you can look at a connection like the one referenced in https://github.com/airbytehq/oncall/issues/150

## Describe the solution you’d like

[2022-02-23 22:29] octavia-squidington-iii commented on #10601
cc @airbytehq/frontend

[2022-02-23 23:14] sherifnada commented on #8633
@bazarnov I'm seeing shopify in cloud, does that mean it's fully ready for production use by customers?

[2022-02-23 23:15] sherifnada commented on #8633
![Screen Shot 2022-02-23 at 3 15 18 PM](https://user-images.githubusercontent.com/6246757/155425503-69a28ff6-1868-48c5-937a-ca7e5b9ec523.png)
I'm seeing that it's listed as "Draft" -- does that refer to the marketplace? or is it for using the connector itself?

[2022-02-23 23:43] tuliren commented on #9351
TODO
- [ ] Publish an initial rule set.

[2022-02-23 23:53] sherifnada commented on #9351
#### plan:
**MVP**
- publish initial ruleset. This should describe which characters are allowed, how we perform namespace mappings, how we handle name conflicts if they exist, and boundary conditions (e.g: max length)
- implement the initial rule set in an **opt-in** DAT testcase
- bring Snowflake & Bigquery into compliance with it
**Post-MVP**
**UI**
- render the resulting namespace
- enforce max

[2022-02-23 23:59] sherifnada commented on #2154
Oh. So this is a CDK ticket? ok, reopening.

[2022-02-24 01:06] cgardens commented on #4407
yes! I believe that is what @harshithmullapudi is planning to do.

[2022-02-24 05:43] jrhizor opened #10605 "manual operations sync/reset/cancel should show errors when the server fails"
Currently, if a user attempts to sync/reset/cancel and there is a server-side failure, no error is shown to the user and the page just feels uninteractive. For sync now, it's left in a consistently spinning state.

[2022-02-24 05:43] octavia-squidington-iii commented on #10605
cc @airbytehq/frontend

[2022-02-24 06:29] Jamakase commented on #10605
This is duplicate of https://github.com/airbytehq/airbyte/issues/10215

[2022-02-24 08:10] #10605 closed

[2022-02-24 08:28] jrhizor opened #10608 "fix gradle --scan for connectors build"
When the connectors build fails, it's difficult to tell which test cases since it's failing without a build scan.

One "quick fix" might be to publish the test report in a way that is downloadable on the Github Actions UI with the `upload-artifact` action. You can see how we publish Kubernetes logs on failure as an example.

The real fix would be to remove the source dependencies introduced in `se

[2022-02-24 08:28] jrhizor commented on #10608
@tuliren fyi (just tagging since you added the source dependencies)

[2022-02-24 08:58] misteryeo opened #10609 "Number covered by usage bar"
## Current Behavior
The usage credits when more than a few numbers after the decimal point are hidden behind the visual bar:
![Airbyte  Credits 🔊 2022-02-24 at 8 56 31 AM](https://user-images.githubusercontent.com/16851149/155491742-2177fd3f-dd5f-484b-a6aa-29b71deb347b.jpg)

## Expected Behavior
The number should be displayed clearly and not overlap with the visual bar.

[2022-02-24 08:58] octavia-squidington-iii commented on #10609
cc @airbytehq/frontend

[2022-02-24 09:00] octavia-squidington-iii commented on #10412
cc @airbytehq/frontend

[2022-02-24 09:09] novotl commented on #10418
When replaying the errored request manually this is the error we receive
[code]

This is the default data retention for message media and message records.

[2022-02-24 09:15] timroes opened #10610 "Checkboxes get into wrong enabled state"
When navigating to the Replication tab in a connection setting and back to any other page large switches will now be in a broken design state:

<img width="1619" alt="Screen Shot 2022-02-23 at 3 50 18 PM" src="https://user-images.githubusercontent.com/877229/155494838-c8c75f56-b9ca-420d-a9d0-8867fd377b4a.png">

This most likely means somthing is poluting the global styles on that page (I suspect t

[2022-02-24 09:15] octavia-squidington-iii commented on #10610
cc @airbytehq/frontend

[2022-02-24 09:20] timroes commented on #10412
Can someone explain me what's the difference between those two domains? Which one is the one we're using for actually publishing docs?

[2022-02-24 09:31] ro8inmorgan opened #10611 "MSSQL source sync adds T00:00:00Z to date values"
So in my source MSSQL table I have a date column with values like "2020-01-01", but when syncing over to bigquery all these values in the raw table JSON suddenly are changed to "2020-01-01T00:00:00Z".

Airbyte should not change source date like this!!

[2022-02-24 09:33] jrhizor commented on #10412
We redirect from .io to .com now. However, the issue here is that we're packaging the doc .md files into the webapp build, but referencing their file paths based off of the `documentationUrl` provided in the connector definition.

Some of the more recent ones are specified with .com:
[code]

While others use .io:
[code]

Others still use invalid domains:
[code]

or helpful but non-internal domains

[2022-02-24 09:52] jrhizor commented on #10472
Updates on https://github.com/airbytehq/airbyte/pull/10565. It's pretty well tested at this point. Will do the release in a few hours and close this.

[2022-02-24 09:54] jrhizor commented on #10413
thread: https://airbytehq-team.slack.com/archives/C02TXT37Y3Y/p1645154752953859

Still figuring out what approach to take.

[2022-02-24 09:56] jrhizor commented on #10466
This wasn't actually the root cause of the hanging process and we haven't observed it as a cause for a hanging process. Moving to lower prio and unassigning myself.

[2022-02-24 10:02] #10610 closed

[2022-02-24 10:11] alexchouraki opened #10613 "Zendesk Support connector - Missing data"
Is this your first time deploying Airbyte: No
OS Version / Instance: Ubuntu 20.04 on AWS EC2
Deployment: Docker
Airbyte Version: 0.35.31-alpha
Source name: Zendesk Support (0.1.12)
Destination: Snowflake (0.4.15)

Hello,
It appears that some data is missing from the Zendesk Support integration - I can find some tickets in the UI that are not in my tables (which is easy to check for anyone using th

[2022-02-24 10:23] AM-I-Human commented on #9553
[logs-24.txt](https://github.com/airbytehq/airbyte/files/8131637/logs-24.txt)
The problem happens even in local with
## Environment
- **Airbyte version**:  0.35.35-alpha
- **OS Version / Instance**: On Local
- **Deployment**: Docker
- **Source Connector and version**:: Snowflake (0.1.9)
- **Destination Connector and version**: MongoDB (0.1.4)
- **Severity**: High
- **Step where error happened**:

[2022-02-24 10:24] octavia-squidington-iii opened #10616 "Upgrade from 0.32 -> 0.35 is not persisting cursors"
Bug/Issue found during configuration migration.

If user export the configuration and import it other server then *cursor* among all the connections are lost. (on and above <https://github.com/airbytehq/airbyte/releases/tag/v0.34.3-alpha|v0.34.3-alpha>)

Description:
I am trying to shift my configuration from EC2 instance to EKS. Hence performing configuration migration.
If I try to export configu

[2022-02-24 10:51] misteryeo commented on #10264
Let's mark this as blocked for now - I've highlighted with the frontend team :)

[2022-02-24 13:09] #9264 closed

[2022-02-24 13:11] philipherrmann commented on #9568
This issue is about a pretty trivial bug/typo, where "AD_ACCOUNT_IDAD_ID" was accidentially written to schema json, instead of "AD_ACCOUNT_ID", and "AD_ID". It makes the normalization for the stream "ad_analytics" quite unusable. Ronald and me were trying to get the integrations tests to pass, but we struggle because we quickly run into rate limits in our account despite of having "Standard" Pinte

[2022-02-24 13:11] augan-rymkhan commented on #9014
It was fixed in PR [10576](https://github.com/airbytehq/airbyte/pull/10576)

[2022-02-24 13:11] #9014 closed

[2022-02-24 13:13] augan-rymkhan commented on #9264
@flotenva It was fixed in version 0.1.43
Could you check with this version?

[2022-02-24 13:24] timroes opened #10622 "Fix all documentation links of connectors"
We currently have quiet a lot of connectors nor having a proper documentation URL, but instead linking to our scaffolded `https://docsurl.com`. We should make sure every connector gets a proper documentationUrl, since we link to those from within our UI.

[2022-02-24 13:25] timroes commented on #10412
I've created https://github.com/airbytehq/airbyte/issues/10622 for the connectors team to fix all invalid scaffolded domains.

[2022-02-24 14:17] olivermeyer commented on #9646
@cgardens I am familiar with the Airflow model (which may or may not be a common way of going about this, I don't know): secret values are encrypted in the DB and decrypted with a key which is generated when the Airflow installation is first started ([doc](https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/fernet.html)). To spell it out, this means that even if someone somehow

[2022-02-24 14:20] #7997 closed

[2022-02-24 14:22] #10412 closed

[2022-02-24 15:07] marcosmarxm commented on #6323
@Amruta-Ranade / @arimbr fyi!

[2022-02-24 15:13] #10491 closed

[2022-02-24 15:31] HarshVardhanGoyal opened #10629 "Update to api verison 13.0V for facebook ads connector."
## Environment
- **OS Version / Instance**: macOS
- **Airbyte Version**: 0.35.3 Alpha
- **Deployment**: example are Docker
- **Source Connector and version**: Facebook marketing 0.2.36
- **Severity**: Critical
- **Step where error happened**:Setup new connection

## Current Behavior
"FacebookAPIException('Error: 2635, (#2635) You are calling a deprecated version of the Ads API. Please update to th

[2022-02-24 15:58] #10205 closed

[2022-02-24 16:00] davinchia commented on #10414
I realise there was a duplicate issue https://github.com/airbytehq/airbyte/issues/10327

[2022-02-24 16:00] #10414 closed

[2022-02-24 16:04] #8025 closed

[2022-02-24 16:05] #10354 closed

[2022-02-24 16:05] #10356 closed

[2022-02-24 16:06] pmossman commented on #10420
Decided this is risky and we don't want to do this after all

[2022-02-24 16:06] #10420 closed

[2022-02-24 16:08] pmossman commented on #10327
Sprint review notes:
- More complex DB queries are mostly figured out, still needs some polish/tests
- Next up is temporal query for quarantined jobs
- ^ goal is to have these two by Friday
- Everything else mostly figured out

[2022-02-24 16:35] sherifnada commented on #10406
@midavadim that should be sufficient to close!

[2022-02-24 16:36] cjwooo commented on #7229
👍 from me. We have a custom destination that writes records to Postgres using the Hasura GraphQL Mutations API. We want to enable custom DBT transformations against that underlying Postgres, but we cannot because our destination is not part of the normalization mapping.

[2022-02-24 17:04] #10467 closed

[2022-02-24 17:13] timroes opened #10632 "Handle negative credit in UI better"
We should limit some actions in the UI whenever a workspace is in `negative_max_threshold` or `negative_beyond_grace_period` creditStatus:

* Disable all manual sync launch buttons
* Disable Toggle to enable scheduled sync.
* Disable "New connection" creation button.

[2022-02-24 17:13] octavia-squidington-iii commented on #10632
cc @airbytehq/frontend

[2022-02-24 17:16] chrstnst opened #10633 "Saving changes to connector settings resets 'Namespace Custom Format' to 'null'"
## Environment
- **Airbyte version**: 0.35.36-alpha
- **OS Version / Instance**: GCE n1
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.4.8
- **Destination Connector and version**: BigQuery 0.6.9
- **Severity**: Critical
- **Step where error happened**: Changing connector settings

## Current Behavior
Initial state: a connection is set up with 'Namespace Connection' of 'Cus

[2022-02-24 17:41] manavkohli commented on #7577
@sherifnada any help here?

[2022-02-24 18:19] marcosmarxm commented on #7577
@manavkohli can you send me a Slack message so we can schedule some time to debug it?

[2022-02-24 18:19] tuliren opened #10637 "Render destination namespace in real time on frontend, and warn about long namespace"
## Tell us about the problem you're trying to solve
1. The connection setup page currently always show `<destination schema>` as the destination namespace. A user does not know exactly what it will be until after the data sync completes. The namespace may be logged. But users should not need to check the logs to figure this out.

    <img width="1270" alt="Screen Shot 2022-02-23 at 15 51 17" src="

[2022-02-24 18:19] octavia-squidington-iii commented on #10637
cc @airbytehq/frontend

[2022-02-24 18:24] tuliren commented on #10608
Agree with this.

@jrhizor, how urgent is this issue? Should we fix this in the next 2-3 sprints?

[2022-02-24 18:27] timroes commented on #10637
@jrhizor Do you think we could calculate those via an API? It feels a bit brittle to me, if we try to recalculate the same logic we have in the backend to calculate those destination namespaces in the UI.

[2022-02-24 18:36] alafanechere commented on #9568
Fixed by https://github.com/airbytehq/airbyte/pull/10223

[2022-02-24 18:36] #9568 closed

[2022-02-24 19:22] tuliren commented on #10637
Yes, we can do that through API.

Currently it does not seem to be calculating the destination namespace for custom format. The screenshot was taken under the custom format mode.

[2022-02-24 19:54] jrhizor commented on #10608
With https://github.com/airbytehq/airbyte/pull/10615 it should be much lower priority from the platform's perspective. I don't know how easy it is to debug for connectors - up to you on the prio of this.

[2022-02-24 19:59] girarda opened #10641 "Some acceptan tests are reusing tables"
## Environment
- **Severity**: Low
- **Step where error happened**: Acceptance tests

## Current Behavior
2 acceptance tests are reusing tables instead of creating fresh ones. This can be problematic if the tables need to change.
* `testSyncWriteSameTableNameDifferentNamespace`
* `testSyncUsesAirbyteStreamNamespaceIfNotNull`
## Expected Behavior
The integration tests should create a unique namespa

[2022-02-24 20:28] johnlafleur opened #10642 "At the end of the onboarding experience, the cells of the recipes suggested are not clickable"
All the cells in the screenshot are not clickable, only the Skip button is.
Those cells should be clickable and open the corresponding recipe in another tab.

<img width="868" alt="Screen Shot 2022-02-24 at 1 27 12 PM copy" src="https://user-images.githubusercontent.com/68561602/155602249-7de95464-bdf9-42c7-aef6-50c280621f2f.png">

cc @misteryeo

[2022-02-24 20:30] johnlafleur opened #10643 "At the end of the onboarding, the links for the source / destination / connection for the ongoing initial sync are not working"
In the screenshot below, those 3 links should redirect to the corresponding source page, destination page, and connection status page.

<img width="868" alt="Screen Shot 2022-02-24 at 1 27 12 PM" src="https://user-images.githubusercontent.com/68561602/155602552-fef19c7c-c3f1-4aac-965b-ecc5e6da1fd1.png">

cc @misteryeo

[2022-02-24 20:36] octavia-squidington-iii commented on #10642
cc @airbytehq/frontend

[2022-02-24 20:37] octavia-squidington-iii commented on #10643
cc @airbytehq/frontend

[2022-02-24 20:37] johnlafleur opened #10644 "User should be able to go through source/destination setup, while setup guide is displayed"
If user uses the setup guide to set up a source or destination, they will most likely need the guide to be opened and displayed while setting up the source and destination. Right now, the setup guide prevents you from having access to the fields. This is not a great UX.

See screenshot
<img width="1792" alt="Screen Shot 2022-02-24 at 1 31 36 PM" src="https://user-images.githubusercontent.com/68561

[2022-02-24 20:37] octavia-squidington-iii commented on #10644
cc @airbytehq/frontend

[2022-02-24 20:45] tghanken commented on #10548
I'm also seeing this error on Postgres connector versions 0.4.5 through 0.4.8.  Downgrading to 0.4.4 resolved the issue for me.

[2022-02-24 23:32] hellmund opened #10646 "🐛 Redshift Destination: copies only 1 csv stream part from S3"
## Environment
- **Airbyte version**:  example is 0.35.36-alpha
- **OS Version / Instance**: Amazon Linux 2 AMI, EC2 t3a.large
- **Deployment**: Docker
- **Source Connector and version**: Redshift 0.3.8
- **Destination Connector and version**: Redshift 0.3.25
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
- Only the last stream part from S3 gets actually copied

[2022-02-24 23:35] evantahler opened #10647 "Mailchimp Source Error - `$.access_token: is missing but it is required`"
## Environment
- **Airbyte version**:  (dev, master branch - v0.35.36-alpha is closest tag)
- **OS Version / Instance**: Mac OS Monterrey (M1)
- **Deployment**: Docker
- **Source Connector and version**:  Mailchimp 0.2.11
- **Destination Connector and version**: Postgres 0.4.8
- **Severity**: Medium
- **Step where error happened**:

1. Create a sync from Mailchimp to Postgres
2. Choose `Authentica

[2022-02-24 23:41] flotenva commented on #9264
Hi @augan-rymkhan,
I ran a sync with HubSpot 0.1.44 but it got stuck at the following:
`2022-02-24 22:32:09 destination > 2022-02-24 22:32:09 INFO i.a.i.d.j.JdbcBufferedConsumerFactory(lambda$onStartFunction$1):131 - Preparing tables in destination completed.`

I realised this was already happening with a previous version of the connector (HubSpot 0.1.42).

`Reset your data` works fine but when ru

[2022-02-24 23:53] tuliren opened #10649 "🐛 Source Postgres: cannot retrieve all tables accessible to the user"
## Environment
- **Airbyte version**:
- **OS Version / Instance**:
- **Deployment**:
- **Source Connector and version**: source postgres 0.4.8
- **Destination Connector and version**:
- **Severity**: Medium
- **Step where error happened**:

## Context
Slack [thread](https://airbytehq-team.slack.com/archives/C01VDDEGL7M/p1645725516903079)

`PostgresSource.isNotInternalSchema` overriding?

Quick dia

[2022-02-25 00:01] lmossman opened #10650 "Fix credit processing cron to use Attempt.StandardSyncSummary to determine compute time of jobs, rather than KubeCost"
Relates to https://github.com/airbytehq/oncall/issues/154

KubeCost incorrectly calculates the compute time of jobs in some cases, see above issue for more details. Because of this, we should switch the CreditProcessingCronJob to pull compute time from the Attempt StandardSyncSummary instead of the KubeCost server.

[2022-02-25 00:58] nataliekwong commented on #9937
This will be solved by https://github.com/airbytehq/airbyte/issues/10450

[2022-02-25 01:32] sherifnada opened #10651 "Display the selected connector's certification status on the UI"
## Tell us about the problem you're trying to solve
I selected Amplitude as a source on the source creation page and saw the following

<img width="811" alt="Screen Shot 2022-02-24 at 5 27 45 PM" src="https://user-images.githubusercontent.com/6246757/155636133-91d0ba3c-257b-4c8f-89c5-71ac73760d11.png">

This was confusing because it took me a second to realize that Amplitude was stated as alpha. I

[2022-02-25 01:32] octavia-squidington-iii commented on #10651
cc @airbytehq/frontend

[2022-02-25 02:57] flotenva commented on #9264
Hi @augan-rymkhan,
I forgot to mention on my previous message that I have got another HubSpot connection with HubSpot CRM-related streams (Contacts, Companies, etc) and it is working fine.

[2022-02-25 03:27] jrhizor commented on #10472
Verified with https://cloud.airbyte.io/workspaces/6a9fca7e-8af0-40b6-95ea-b23efb3245b0/connections/00dfafc1-83d1-4ae1-b4cc-a4615e25cacd/status (a failure but the sync continued properly throughout).

[2022-02-25 03:27] #10472 closed

[2022-02-25 04:05] harshithmullapudi opened #10653 "Source DCL Logistics: credentials for CI"
## Tell us about the new connector you’d like to have
Can we get sandbox credentials for DCL Logistics to add to our CI. @igrankova can you help here.

[2022-02-25 04:48] augan-rymkhan commented on #9264
@flotenva Hi, I have run sync with the streams below, it works for me.
source-hubspot:0.1.44

![image](https://user-images.githubusercontent.com/93112548/155655523-9f50f077-c7a0-42e6-b66f-ba4c88ed8913.png)

- deal_pipelines
- deals
- line_items
- products
- quotes

Did you try sync with version source-hubspot: 0.1.43  ? if not can you try it? and let me know thanks

[2022-02-25 06:23] flotenva commented on #9264
Hi @augan-rymkhan,
I have tried syncing data for each of those streams separately... and I am only getting the issue I mentioned previously with the DEALS stream. No issues with the other stream including the line_items stream.

[2022-02-25 07:03] ameyabapat-bsft commented on #10145
Any update on this task? In our usecase snowflake -> AWS S3 (CSV-root normalization), due to absence of string quoting and escape characters, nested json values in snowflake columns appear on separate rows instead of single row in output CSV file. It disturbs our csv parser's working.
Can we add such configurations in target CSV S3 data?

[2022-02-25 07:10] #8331 closed

[2022-02-25 07:25] ameyabapat-bsft commented on #10145
Snowflake Table:
[code]
Content of CSV in S3 after the airbyte sync is following. It has single row in snowflake but multiple rows in CSV file in S3.
[code]
Can we solve it with string quoting or escape characters?

[2022-02-25 08:24] igrankova commented on #10653
Hi, @harshithmullapudi, requested the sandbox from the support. Waiting for the response.

[2022-02-25 08:28] jablonskijakub commented on #9012
@misteryeo can you give any comment? it's quite urgent for my case and otherwise I would start working on another way to integrate materialized views to my db. thank you for your help!

[2022-02-25 08:31] augan-rymkhan commented on #9264
@flotenva Can you run the sync without normalization only DEALS stream?
What is the chosen sync mode?

[2022-02-25 09:39] igrankova commented on #10054
@harshithmullapudi, can you specify what streams we are going to test? It's needed for the sandbox setup.

[2022-02-25 10:05] timroes commented on #10642
@johnlafleur Could you let me know which recipes they are meant to link to exactly. I didn't find a clear link for all of them. My understanding would be:

1)  "Replicate your MySQL database to Postgres with log-based CDC" -> https://airbyte.com/recipes/migrate-from-mysql-to-postgresql
2)  "Consolidate your marketing data to compute the CAC for your paid customers" -> ???
3)  "Consolidate your pay

[2022-02-25 11:41] augan-rymkhan commented on #9264
@flotenva Could you run the sync only `deals` with hubspot version **0.1.41**  ?

In version **0.1.42** `deals` stream schema was changed in PR [10492](https://github.com/airbytehq/airbyte/pull/10492/files). This change might broke that stream.

[2022-02-25 11:50] #7933 closed

[2022-02-25 12:47] marcosmarxm opened #10661 "Remove unit_test folder from Octavia-cli and update docs"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-02-25 14:25] iberchid opened #10662 "Source Google ads : labels fields does not have the correct values"
## Environment
- **Airbyte version**:
- **OS Version / Instance**:
- **Deployment**: Docker
- **Source Connector and version**: source-google-ads 0.1.28
- **Destination Connector and version**:
- **Severity**: Medium
- **Step where error happened**:

## Current Behavior
The field `labels` returned in the `campaigns` and in `ad_group_ads` stream do not have the right data. compared to the values sh

[2022-02-25 15:42] igrankova commented on #10079
@misteryeo, the research is done

[2022-02-25 16:02] ridem commented on #10544
We're experiencing the exact same issue as OP.

## Environment
Airbyte version: 0.35.35-alpha
OS Version / Instance: Debian 10
Deployment: GCP
Source Connector and version: HubSpot 0.1.44
Destination Connector and version: Postgres
Severity: High
Step where error happened: Sync job

## Extra context

Hubspot API call logs provide useful extra information. The endpoint `/deals/v1/deal/paged` keeps

[2022-02-25 16:04] rorymalcolm commented on #10544
Likewise saw the same behaviour & failure mode on the hubspot API

[2022-02-25 16:52] johnlafleur commented on #10642
Hey @timroes, sorry about this.
If we're able to differentiate between Open-Source and Cloud here, here is what would be our suggestions:

**Cloud**
* Build a single customer view
* Build a GitHub Activity dashboard
* Replicate your data between PostgreSQL databases
* Sync MySQL CDC to Kafka using Change Data Capture
* Build a data ingestion pipeline from Mailchimp to Snowflake

**Open-Source**
*

[2022-02-25 17:33] timroes commented on #2170
Theoretically yes we can enable this, but this will require additional complexity to figure out, which we currently didn't see as a requirement to block this on (though obviously nice to have also for the first itteration).

[2022-02-25 17:38] #10643 closed

[2022-02-25 17:47] #10642 closed

[2022-02-25 17:48] timroes commented on #2170
Summary from the offline architectural discussion around how to implement this.

We'll be adding a `scheduleType: enum{ Manual, BasicSchedule, Cron }` flag into a connection, which will replace the existing `manual: boolean` flag. Depending on that flag the `schedule` field will contain a different format:

* `Manual`: `null`
* `BasicSchedule`: `{ timeUnits: TimeUnit, units: number }` (the existin

[2022-02-25 17:53] marcosmarxm commented on #9837
sure

[2022-02-25 18:00] #10295 closed

[2022-02-25 18:34] ChristopheDuong opened #10665 "Include check on s3:listBucket permission in check_connection of destination-s3"
## Tell us about the problem you're trying to solve
The S3 destination connector occasionally needs `s3:listBucket` permissions on an S3 bucket. This is in the case we run the connector with the `OVERWRITE` sync mode. To perform the overwrite, it lists & deletes all objects in the configured bucket directory, then writes the new data.

The connector currently does not actually verify that the inpu

[2022-02-25 18:49] jrhizor opened #10666 "deleted connections should always show as deleted to the user immediately"
For https://github.com/airbytehq/oncall/issues/155, we see a case where the connection status was not updated. While the actual API failed, it left the user's connection in a state where it appeared active.

We can accomplish this a number of ways: rollbacks to have a transactional relationship, etc.

[2022-02-25 19:00] benmoriceau opened #10667 "Update of a schedule not being effective"
We are missing a signal to send to temporal when an update is done. The signal need to be put back in place.

[2022-02-25 19:42] hellmund commented on #10633
Seems to affect other connectors as well, e.g. File

Additional observation: When then changing the Namespace Custom Format to an actual value and pressing "Save changes" within the "Streams" card, the Replication frequency gets reset from "manual" to "Every 24 hours"

[2022-02-25 20:51] jvstein opened #10669 "Source Github: fails if there are any review comments with same account in PENDING state"
## Environment
- **Airbyte version**:  0.35.27-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Kubernetes
- **Source Connector and version**: GitHub 0.2.19
- **Destination Connector and version**: N/A
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
I used a personal GitHub token when setting up the connector. I just happened to be working on

[2022-02-25 21:47] marcosmarxm commented on #10662
Hello @iberchid could you give more information about what is different from the UI and the data returned from Airbyte Connector?

[2022-02-25 21:56] hbd opened #10670 "Include connection ID in worker sync logs"
## Tell us about the problem you're trying to solve
Today, I have a hard time finding logs for a single connection/sync job. There isn't a way to grep logs for the sync itself. The best approach, as far as I can tell, is to tail all logs and parse them manually.

## Describe the solution you’d like
It would be great if logs for sync jobs included the connection ID (or any other relevant metadata,

[2022-02-25 22:30] keu commented on #2154
@sherifnada it is hard to say where it should be done (CDK, UX, Airbyte protocol).
The condition of losing data is very connector specific, and not all changes of settings result in losing data, for example:
- if we turn on `include_deleted` we will not sync deleted data from the past.
- if we turn off `include_deleted` we are fine because we already fetched both deleted and active records.

simil

[2022-02-25 22:40] remisalmon opened #10671 "Several regressions in the new connection UI"
## Environment
- **Airbyte version**:  v0.35.35-alpha
- **OS Version / Instance**: AWS EC2 t2.xlarge
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.4.8 & HubSpot 0.1.44
- **Destination Connector and version**: Snowflake 0.4.14
- **Severity**: High
- **Step where error happened**: Update connector

## Current Behavior

The new UI has several regressions in the connection se

[2022-02-25 23:20] octavia-squidington-iii commented on #10671
cc @airbytehq/frontend

[2022-02-25 23:23] iporollo commented on #8825
Seeing the same issue with Mailchimp to Snowflake sync:
`Mismatched number of tables 62 vs 60 being resolved`

See logs: [logs-269.txt](https://github.com/airbytehq/airbyte/files/8145381/logs-269.txt)

[2022-02-25 23:30] jrhizor opened #10674 "hitting "enter" from the connector configuration opens docs view"
On latest `master`, if you configure a PokeAPI source for example, type in "ditto" and then hit "enter", the form submits and continues but the docs view also opens up. Doesn't prevent you from doing anything but it's pretty visible and easy to hit this case.

[2022-02-25 23:30] octavia-squidington-iii commented on #10674
cc @airbytehq/frontend