[2022-03-16 02:21] misteryeo commented on #10985
**Issue was linked to Harvestr Discovery:**  [Array Fields](https://app.harvestr.io/components/0/list/m8eVzxM7k)

[2022-03-16 02:32] misteryeo commented on #9625
**Issue was linked to Harvestr Discovery:**  [Default Sync Modes](https://app.harvestr.io/components/0/list/7ThS6bCn9)

[2022-03-16 02:34] misteryeo commented on #11084
**Issue was linked to Harvestr Discovery:**  [Default Sync Modes](https://app.harvestr.io/components/0/list/7ThS6bCn9)

[2022-03-16 02:36] misteryeo commented on #8508
**Issue was linked to Harvestr Discovery:**  [In-App Billing](https://app.harvestr.io/components/0/list/BJmB4G8XA)

[2022-03-16 04:25] sherifnada opened #11183 "DAT & SAT: Allow setting an upper bound on check connection & discover runtimes"
## Tell us about the problem you're trying to solve
As part of a good UX (e.g: #10377 ) , we want to make sure that the check connection operation for various connectors runs quickly. This is easy to do once e.g: https://github.com/airbytehq/airbyte/issues/10376 but we need to guard against regressions.

## Describe the solution you’d like
I want it to be very easy (e.g: set a single parameter) th

[2022-03-16 04:40] harshithmullapudi commented on #4407
This feat is added to API and migration is also handled here https://github.com/airbytehq/airbyte/pull/11153. Next task is to add it to the UI.

@misteryeo is it possible to get some wireframes here?

[2022-03-16 04:43] harshithmullapudi commented on #10653
@igrankova I tried looks like it's hard let me discuss with the team and get back to you

[2022-03-16 05:03] #10479 closed

[2022-03-16 05:48] TSkrebe commented on #2170
Since there has been some activity recently regarding this topic, is there any timeline when we could this feature come to fruition?

[2022-03-16 06:12] shubhank-v opened #11184 "Source Google Ads: user_location_view.country_criterion_id has incorrect JSON schema"
## Environment
- **Airbyte version**:  0.35.46-alpha
- **Deployment**: Kubernetes
- **Source Connector and version**:  Google Ads 0.1.28
- **Destination Connector and version**: S3 0.2.9
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Destination sync is failing while syncing the `user_location_view` table `country_criterion_id` to S3 destination.

## Expected

[2022-03-16 06:23] ahmed-buksh commented on #10257
As mentioned [here](https://plaid.com/docs/sandbox/institutions/), CapitalOne is not supported at the sandbox. In order to reproduce this issue, it looks like to have a plaid account with CapitalOne institution enabled.

[2022-03-16 07:03] ameyabapat-bsft commented on #10598
As it sends a POST request to the webhook and it conveys for both success and failure jobs. Instead of plain-text, we can redirect the response of `/api/v1/jobs/get` for respective jobid? it contains success/failure and meta data details around the data being synced we could avoid the huge log lines from the response. Users can consume the necessary data based on their requirements. it could help

[2022-03-16 07:16] ameyabapat-bsft commented on #10598
I think instead of plain-text, this type of Response would be more beneficial like
`{
  "job": {
    "id": 783,
    "configType": "sync",
    "configId": "7e39a2bc-196e-44d7-ac54-7741356d2e22",
    "createdAt": 1647413090,
    "updatedAt": 1647413114,
    "status": "succeeded"
  },
  "attempts": [
    {
      "attempt": {
        "id": 0,
        "status": "succeeded",
        "createdAt": 1647413

[2022-03-16 08:46] igrankova commented on #10524
@harshithmullapudi hi, I received an answer from the support: "Your store is now able to process up to 25 Orders for testing your integration on airbyte-integration-test.myshopify.com"
But I faced a problem to access the store now, the passwords from the LastPass do not work.

[2022-03-16 08:50] igrankova commented on #10653
@harshithmullapudi, @misteryeo Hi! I received the final answer from DCL Logistics: "After internal discussions, we are not allowing 3rd party developers access to our API."

[2022-03-16 08:54] igrankova opened #11186 "Research Amazon Ads source connector"
## Complete the following exercise for Posthog source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-03-16 09:17] timroes opened #11187 "Integrate Support Portal into UI"
We want to add a separate "Support" menu into the UI on cloud. This should sit below the "Resources" menu, and contain two links:

* Chat with us -> Opening the intercom chat (the same as the "Chat with us" entry under resources does today). The button under "Resources" should be removed with this.
*  Submit a ticket -> Link to our new support portal: https://airbyte.com/contact-support

[2022-03-16 09:17] octavia-squidington-iii commented on #11187
cc @airbytehq/frontend

[2022-03-16 10:07] yigangrobert opened #11189 "dispute"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data? This helps us understand the use case.
*

[2022-03-16 10:48] #10860 closed

[2022-03-16 11:04] sashaNeshcheret commented on #10854
Added doc for S3 https://docs.google.com/document/d/1m79jsevosyNOALMq2XF2wntoLt1FAL_Kdaw9t7miwHY

[2022-03-16 11:06] #10494 closed

[2022-03-16 11:57] csepulveda opened #11194 "Snowflake S3 "Request has expired""
## Environment
- **Airbyte version**:  example is 0.35.55-alpha
- **OS Version / Instance**:Kubernetes AWS EKS
- **Source Connector and version**: Snowflake 0.1.10
- **Destination Connector and version**: Postgres 0.3.15
- **Severity**:  High
- **Step where error happened**:  Sync job

## Current Behavior
After 6 hours syncing data from snowflake to postgres i got `403 Request has expired` errors

[2022-03-16 12:34] ramonvermeulen commented on #2796
Big up for this one, I think it would be more user friendly to be able to add a private docker registry through the UI.

[2022-03-16 12:44] #10533 closed

[2022-03-16 12:48] timroes opened #11195 "Show beta/alpha connector label in more places"
We want to share the beta/alpha stage labels for connectors in more places around the UI.

1) In the sync overview:
![screenshot-20220316-134536](https://user-images.githubusercontent.com/877229/158592853-c74a4cbd-7da3-4e23-876b-9a466db6e734.png)

2) In the source/destination overview:
![screenshot-20220316-134611](https://user-images.githubusercontent.com/877229/158592966-8614a57f-7ad9-4ccc-8c0a-

[2022-03-16 13:02] #6285 closed

[2022-03-16 13:08] #10450 closed

[2022-03-16 13:08] Jamakase commented on #10993
Closing this issue as fixed. Part with popup will be implemented in separate followup task.

[2022-03-16 13:09] #10993 closed

[2022-03-16 13:31] davinchia commented on #2170
@supertopher will start working on this in the next few weeks. If all goes well, this should be out within a month or so (no promises).

[2022-03-16 13:36] lgomezm commented on #10748
I don't know if this is related to this issue, but we've seen some jobs exhausting their 3 attempts and failing with logs like this:
[code]

[2022-03-16 14:31] hugoJuhel commented on #7536
I also have this bug. The user has been granted a dbowner permission.

[2022-03-16 14:32] VitaliiMaltsev commented on #10377
@misteryeo @davinchia BigQuery Destination check time consists of 2 main parts :
**1.** **SELECT * FROM `%s.INFORMATION_SCHEMA.TABLES` LIMIT 1;** to check if BigQuery is available. This query is already limited by 1 row so i don't see options for optimization

_Note: in this case(SELECT) we check only read permission but not write and delete. In case of adding additional INSERT and DELETE(write an

[2022-03-16 15:11] #11045 closed

[2022-03-16 15:14] yannibenoit opened #11198 "Source Salesloft: add new streams"
Context -> [message in slack](https://airbytehq.slack.com/archives/C01VDDEGL7M/p1647435938137639)

Would be cool to have data coming from other endpoints

- [activities/email.json](https://developers.salesloft.com/api.html#!/Emails/get_v2_activities_emails_json)
- [groups.json](https://developers.salesloft.com/api.html#!/Groups/get_v2_groups_json)
- [steps.json](https://developers.salesloft.com/ap

[2022-03-16 15:45] Jamakase commented on #11167
@sherifnada I do not think it's an issue - everything is working as expected.

Based on the `spec.json` it corresponds to first value that was renamed from `Standard Inserts` to `Select another option`:

[code]

[2022-03-16 16:01] igrankova commented on #11186
@misteryeo, @grubberr, the research is done

[2022-03-16 16:26] sherifnada commented on #11167
Jeez I really fell for that one. Apologies for the confusion. Thanks for looking into it artem. Apologies for any wasted time again.

[2022-03-16 16:32] girarda commented on #10381
Going through one last round of QA/smoke check. will merge, release and close this by end of day

[2022-03-16 17:15] sherifnada opened #11203 "Apply buffering changes to BigQuery Destination when using staging"
## Subtasks
- [x] Refactor GCS and S3 related classes to DRY the code
  - [x] S3 and GCS destination config
- [x] Migrate BigQuery destination to use the new serialized buffering staging strategy
- [x] Migrate BigQuery denormalized destination to use the new serialized buffering staging strategy

[2022-03-16 18:24] marcosmarxm commented on #11195
Please add version too. Would be very helpful :p

[2022-03-16 18:25] marcosmarxm commented on #11189
Closing this because there isn't a request.

[2022-03-16 18:25] #11189 closed

[2022-03-16 18:37] veeralpatel-opsramp commented on #9475
Hi @MahmoudElhalwany - try to upgrade to 0.1.9

Had the same error but was resolved after I upgraded, think it's because of a 0.1.9 fix that addresses connecting without a password

[2022-03-16 18:52] #11167 closed

[2022-03-16 18:52] edgao commented on #10786
@misteryeo this is how errors from the "test connection" button get displayed, is this something that needs to be fixed before beta? (note the `\\\` and `\n`)

![Screen Shot 2022-03-16 at 11 49 55 AM](https://user-images.githubusercontent.com/5741425/158665148-6a4ca378-2fe9-4574-b89e-11bcc5c6b197.png)

[2022-03-16 19:56] #10463 closed

[2022-03-16 19:59] sherifnada commented on #10758
@etsybaev the tickets here https://github.com/airbytehq/airbyte/issues/11090 and https://github.com/airbytehq/airbyte/issues/11089 LGTM. Please move forward!

[2022-03-16 20:05] grishick commented on #10924
Fixed with this PR: https://github.com/airbytehq/airbyte/pull/10928

[2022-03-16 20:05] #10924 closed

[2022-03-16 20:33] solumnsilence opened #11207 "Destination Postgres: error when schema start with number"
## Environment
- **Airbyte version**:  example is 0.35.39-alpha
- **OS Version / Instance**: Ubuntu 18.04, GCP e2-medium.
- **Deployment**: Docker deployment.
- **Destination Connector and version**: Postgres 0.3.15.
- **Severity**: Medium.
- **Step where error happened**: Setup new destination.

## Current Behavior
*Airbyte can't create a destination if there are numbers at the beginning of the s

[2022-03-16 20:40] supertopher opened #11209 "Follow the money in Github"
# Github actions are over allotted budget.

Determine if it is worthwhile to upgrade out action plan beyond it's current limit

# You will know you are done when...
You can state the estimated cost difference between the current system and the next tier
You have changed GH billing to match that estimate to improve our cost

context pic
![Screen Shot 2022-03-16 at 3 39 44 PM](https://user-images.gi

[2022-03-16 20:53] nmacri opened #11210 "🐙 octavia-cli: docker hub image airbyte/octavia-cli:0.1.0 built only for OS/Arch `linux/arm64/v8`"
## Environment
- **Octavia version**: 0.1.0 (alpha)
- **OS Version / Instance**:  linux/amd64 (Debian 10, Intel Broadwell, GCP VM)
- **Deployment**: Docker
- **Severity**: Medium
- **Step where error happened**: Deploy

## Current Behavior

The [docker hub image `airbyte/octavia-cli:0.1.0`](https://hub.docker.com/r/airbyte/octavia-cli) is built for a target architecture linux/arm64/v8 and raises a

[2022-03-16 21:55] grubberr opened #11211 "🐛 Source Github: improve docs & spec for BETA"
## Tell us about the problem you're trying to solve
Refine and improve docs & spec for Beta

[2022-03-16 22:07] benmoriceau commented on #9946
https://whimsical.com/secret-usage-DWdpNNmVuJthyo3sLJ87oE This is a diagram that represent where the secret are used.

[2022-03-16 22:41] benmoriceau opened #11213 "[Unexpected state] Start manual sync"
## Tell us about the problem you're trying to solve

Temporal can be in an unknown state because of a bug. This ticket is about addressing the scenario where no workflow exists and a manual sync is submitted.

This ticket is about implementing [this](https://docs.google.com/document/d/1I_uY1ML087HUwP2s55lOoEVb4DyVXzZZMjRX1WEwaVk/edit#heading=h.ma0thubuo72n) diagram.

## What is expected

When tryi

[2022-03-16 22:45] benmoriceau opened #11214 "[Unexpected state] Delete connection"
## Tell us about the problem you're trying to solve

Temporal can be in an unknown state because of a bug. This ticket is about addressing the scenario where no workflow exists and a delete connection is submitted.

This ticket is about implementing [this](https://docs.google.com/document/d/1I_uY1ML087HUwP2s55lOoEVb4DyVXzZZMjRX1WEwaVk/edit#heading=h.7sn6f6ucy8lp) diagram.

## What is expected

Whe

[2022-03-16 22:47] benmoriceau opened #11215 "[Unexpected state] Update sync"
## Tell us about the problem you're trying to solve

Temporal can be in an unknown state because of a bug. This ticket is about addressing the scenario where no workflow exists and a sync update is submitted.

This ticket is about implementing [this](https://docs.google.com/document/d/1I_uY1ML087HUwP2s55lOoEVb4DyVXzZZMjRX1WEwaVk/edit#heading=h.ma0thubuo72n) diagram.

## What is expected

When tryi

[2022-03-16 22:49] benmoriceau opened #11216 "[Unexpected state] Start manual reset"
## Tell us about the problem you're trying to solve

Temporal can be in an unknown state because of a bug. This ticket is about addressing the scenario where no workflow exists and a manual reset is submitted.

This ticket is about implementing [this](https://docs.google.com/document/d/1I_uY1ML087HUwP2s55lOoEVb4DyVXzZZMjRX1WEwaVk/edit#heading=h.5bra1f7oarq6) diagram.

## What is expected

When try

[2022-03-16 22:51] misteryeo commented on #9296
Thanks and sorry for the delay. A few clarifications and comments:

1. The screen recording shows just one of the ways this is implemented - have we implemented the other user flows too?
2. For this user flow, when the settings are applied to a new source, it feels like it makes sense for us to drop them directly on the settings page rather than needing them to click that explicitly. When they get

[2022-03-16 23:01] benmoriceau opened #11217 "[Unexpected state] Ensure that we start from a clean state"
## Tell us about the problem you're trying to solve

Temporal can be in an unknown state because of a bug or a migration. This ticket describe the reset of a state.

## What is expected

When starting a workflow, we need to ensure that we are starting from a "clean" state. A clean state describe a clean job status. It means that all the currently running workflow needs to be doing that.

## Why ar

[2022-03-16 23:02] pmossman commented on #10666
Looking into the recent instance of this issue, https://github.com/airbytehq/oncall/issues/177

Airbyte UI Connection Link: https://cloud.airbyte.io/workspaces/27bf556f-8f02-4fa4-be01-37561aebf593/connections/28f0b39f-bef7-4d58-9ecd-9224d52ef6b2/status

Temporal UI for workflow with two 'DeleteConnection' activity tasks: http://tui.cloud.airbyte.io/namespaces/default/workflows/connection_manager_2

[2022-03-17 00:51] pmossman commented on #10666
Looked at this with Benoit and while we don't have a fix quite yet, we were able to reproduce it and have some insight into the problem.

This seems to only happens if a user clicks 'Delete' multiple times in quick succession. The first delete request succeeds, and the database record is correctly updated to 'status=DEPRECATED'.

However, when one of the duplicate request 500s, the database record

[2022-03-17 01:19] marcosmarxm commented on #11207
[Slack convo](https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1647423079088759)

![image](https://user-images.githubusercontent.com/5154322/158717614-e2c82ae0-a7f0-42a0-a843-7a1b28cedd50.png)

[2022-03-17 01:30] marcosmarxm commented on #11210
@alafanechere fyi thanks @nmacri

[2022-03-17 02:36] nataliekwong commented on #11048
Confirming I see the events now!

[2022-03-17 03:01] sherifnada commented on #9810
@Joffreybvn @zamaniramin549 what OS are you using?

[2022-03-17 03:10] sherifnada commented on #10870
@timroes any thoughts on thsi?

[2022-03-17 03:20] octavia-squidington-iii commented on #8130
cc @airbytehq/frontend

[2022-03-17 03:55] misteryeo commented on #11144
**Issue was linked to Harvestr Discovery:**  [Custom Connectors](https://app.harvestr.io/components/0/list/Izqb2yCrW)

[2022-03-17 05:24] harshithmullapudi commented on #9296
@misteryeo

1. By other flows if you mean 2 right now it's not possible as we don't get secrets inside the get call?
2. By this you mean we remove that modal and directly land them over the settings page of the cloned source right?

[2022-03-17 05:30] nauxliu opened #11222 "Mixpanel: cohort id missing from the cohort_members stream"
## Current Behavior
The cohort_id are all null in the cohort_members table

## Expected Behavior
cohort_id should have the correct value

## Are you willing to submit a PR?
I tried to add to cohort id to the engage records manually in the `CohortMembers.process_response()`, but I don't know how to get the stream_slice in `process_response`, let me know how can I do it.

[2022-03-17 06:19] quorak commented on #4793
Hey there,
I ran into the same problem. After Some [googeling](https://community.developer.atlassian.com/t/get-custom-field-contexts-not-found-returned/48408/2) it turns out that the endpoint only works for classic projects. Confirmed by atlassian staff. Maybe this helps for the resolution. I had to deactivate this table.

[2022-03-17 09:35] timroes opened #11228 "Auto generate tag and release in GitHub"
Currently when running the release action, after merging you need to manually pull master, execute a script to tag the version and manually create a release on GitHub for that. It would be nice if we would automate that away.

We could have a GitHub action triggering on pushes on the master branch, and will detect (by author and title most likely) if something was a release commit. If so it could

[2022-03-17 10:02] pkillarney91 commented on #1936
Is List Members available yet?

[2022-03-17 10:02] igrankova commented on #10524
@harshithmullapudi Hi! I've received the instructions from the support team and made several test payments. I kindly ask you to check transactions, can I do anything else for this task?

[2022-03-17 10:17] nauxliu commented on #5129
Any updates on this?

[2022-03-17 10:29] #10969 closed

[2022-03-17 10:31] alafanechere commented on #11111
This is done and was shared to the engineering team for alpha testing.

[2022-03-17 10:31] #11111 closed

[2022-03-17 10:47] Shubham21k opened #11230 "Airbyte Deployment using helm chart - Unable to execute HTTP request: airbyte-minio"
Environment
- Airbyte version:  0.35.42-alpha
- Deployment: Kubernetes deploy using helm charts
- Step where error happened: Deploy

Current Behavior
While deploying airbyte on kubernetes, airbyte worker pod is showing `Readiness probe failed: Get "http://10.5.18.26:9000/": dial tcp 10.5.18.26:9000: connect: connection refused
Back-off restarting failed container.`

We are using s3 for logging and

[2022-03-17 12:25] Amruta-Ranade opened #11233 "Video tutorial for the Google Ads connector"
From Slack (https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1647375604441509)

Error at authorization:
You cannot sign in with this app, because it is not compliant with the Google OAuth 2.0 requirenments.
You can contact the app developer directly to make him/her aware that at least one validation rule was not satisfied.
the code below is the error code
redirect_uri

Suggestion:
Create a v

[2022-03-17 12:53] timroes commented on #10870
@sherifnada that sounds reasonable to me. Just to summarize, to make sure we're on the same page:

Actual server/protocol behavior stays unchanged, i.e.`source_defined_cursor` defines on whether the internal cursor is used or not. If this field is set to `true`, the UI should look into `default_cursor_field` which _should_ include the name of the field that the source will be using internally and

[2022-03-17 12:57] alafanechere opened #11234 "🐛 octavia-cli: update message displayed event if there's no update"
On `octavia apply`, if the user does not validate the diff prompt a misleading update message is still displayed on the standard output.

This message should not be displayed if the user refuses the prompt:
`✍️ - Running update because a diff was detected between local and remote resource.`

To fix this we need to improve the `update_resource` function in `octavia-cli/octavia_cli/apply/commands.py

[2022-03-17 13:05] maofet commented on #10548
Have the same issue!

[2022-03-17 13:33] anduresu commented on #11035
I have the same problem but only with S3. It does work with Redshift and Postgres as destination.
[logs-3.txt](https://github.com/airbytehq/airbyte/files/8286474/logs-3.txt)

[2022-03-17 13:46] jrhizor opened #11235 "expose "time since last ..." stats for sync-related containers"
## Tell us about the problem you're trying to solve
It's difficult for the platform to determine whether or not a connector pod is stuck internally or not.

## Describe the solution you’d like
Track the time since last record message and the time since last stdout/stderr data of any kind for source/destination/normalization/dbt containers. Make this information available at the job level from the

[2022-03-17 13:50] jrhizor opened #11236 "connector definitions should allow customizing step timeouts for custom connectors"
We should allow connector-definition level (perhaps with connector-level override) timeouts for custom connectors so cloud users can cap the downside from bugs and limit their runs to a few hours.

Ideally failing this timeout would move the job into some kind of quarantined state instead of retrying.

[2022-03-17 13:50] kyle-cheung commented on #11052
Running into exact same issue, thought it was because i upgraded to 0.35.55-alpha, but downgrading back to 0.35.31-alpha, same issue

[2022-03-17 13:52] jrhizor commented on #10364
Created https://github.com/airbytehq/airbyte/issues/11235 to track exposing the stats in the API and https://github.com/airbytehq/airbyte/issues/11236 to handle timeouts for custom connectors.

Closing this issue since we're deciding not to go with heartbeats.

[2022-03-17 13:52] #10364 closed

[2022-03-17 13:52] kyle-cheung commented on #10646
Having the exact same issue but on Snowflake destination. Thought it was because i upgraded to 0.35.55-alpha, but even after a downgrade back to 0.35.31-alpha the issue still persists. At the end of a successful run Airbyte throws this:
[code]

[2022-03-17 14:18] night-gold commented on #11052
I just stumbled on it also...

Seems like the issue is that the connector does not create the stages that snowflakes normally uses in a COPY command to import the datas from s3.

[2022-03-17 14:56] pmossman commented on #10990
# 2022-02-07 API Enum Serialization Postmortem

## Summary

The FailureOrigin#replicationWorker enum value was changed to FailureOrigin#replication without proper handling for database records containing the old value in the attempts.failure_summary jsonb column. When the API attempted to deserialize such records into an AttemptFailureSummary object, an exception was thrown, leading to a page cras

[2022-03-17 14:56] #10990 closed

[2022-03-17 16:15] marcosmarxm commented on #8116
Closing this because is not reproducible anymore.

[2022-03-17 16:15] #8116 closed

[2022-03-17 17:16] mkhokh-33 commented on #5417
@ChristopheDuong  yes, could you please point us where exactly these changes should be applied and what other side effects we might face with?

[2022-03-17 17:20] misteryeo commented on #10858
**Issue was linked to Harvestr Discovery:**  [Variable Input Listed as Keys](https://app.harvestr.io/components/0/list/Sj07lZcYY)

[2022-03-17 17:41] dylanbhughes commented on #10106
I still experienced this bug with temporal image version 1.7.0. However, 1.14.4 did the trick. Thanks @ordonezf!

[2022-03-17 17:53] misteryeo commented on #10644
**Issue was linked to Harvestr Discovery:**  [Setup guide sidesheet display](https://app.harvestr.io/components/0/list/HkZch2E0B)

[2022-03-17 17:55] misteryeo commented on #4407
**Issue was linked to Harvestr Discovery:**  [Naming connections](https://app.harvestr.io/components/0/list/hF6kPhhDu)

[2022-03-17 18:07] davinchia commented on #10377
Thanks for the explanation.

One follow up from me - for S3, is it possible to check for permissions on the bucket instead of attempting the operation with the current instruction set we have?

[2022-03-17 18:16] nataliekwong opened #11240 "Modify File Name shown in dropdown"
# Current
Users who look for CSV, JSON, etc as a source have to go to "File" and find it listed under "File", which takes a longer time for discoverability of the connector.

![Screen Shot 2022-03-17 at 2 11 04 PM](https://user-images.githubusercontent.com/38087517/158868363-b3536d1a-0c55-440b-b97c-6716b6bfab23.png)

# Proposed
Edit the label in the dropdown so that when someone types in "CSV", th

[2022-03-17 18:17] octavia-squidington-iii commented on #11240
cc @airbytehq/frontend

[2022-03-17 18:21] timroes commented on #11240
Both solutions mentioned here (splitting connectors or changing the connector name) would be on the connectors team. Cc @sherifnada except if we want to build some new field into the connector specification that's hidden but still searched through (some form of tags), which would then require FE + Connector work, but it feels to me this would even cause more work than splitting the connectors.

[2022-03-17 18:31] girarda opened #11241 "Enable shopify source for all workspaces on cloud"
We added a hack on the front end to only expose the shopify source on their workspace to allow them to review the integration without allowing other users to create new shopify connections.

We need to revert that hack once shopify approves the integration. It should be as simple as reverting https://github.com/airbytehq/airbyte/pull/11142/files

[2022-03-17 20:19] azhard commented on #10774
@alafanechere can I bug you to take a look at this as you approved my last semi-related [PR](https://github.com/airbytehq/airbyte/pull/10107)

[2022-03-17 21:35] kyle-cheung commented on #11158
Would be awesome if Airbyte could asset some level of data quality check, an example where it could check the number of ingested rows vs target table, and if there's a significant difference then it could warn the user. In this case we were using full refresh overwrite, and essentially overwrote tables that had 200k with a table with only 2k record.

[2022-03-17 22:07] misteryeo commented on #10148
No, we won't be releasing OAuth with GA @terekete

[2022-03-17 22:32] sherifnada opened #11247 "Better document CDK HTTP authentication capabilities"
### Tell us about the documentation you'd like us to add or update.
The [current docs](https://docs.airbyte.com/connector-development/cdk-python/http-streams#authentication) have some shortcomings:

* they don't explain exactly how the Authenticator works
* they don't clarify that it's recommended to extend the `requests` module` auth.base` to create an authenticator
* they don't explain how you c

[2022-03-17 22:37] arimbr commented on #8825
@zkid18 @htrueman @iporollo I released a new version of the connector in #1936 that solved the issue for me. Could you upgrade the Mailchimp connector version to 0.2.12 and see if the error is solved?

[2022-03-17 22:52] edgao commented on #5129
it's in-progress - we've written some new tests to check connectors for all the types being supported, but still need to bring connectors into compliance with those tests. This is being tracked in https://github.com/airbytehq/airbyte/issues/9441

[2022-03-17 22:58] shey commented on #3583
I wrote a brief [tutorial](https://shey.ca/2022/03/17/oauth2-proxy-with-airbyte.html) on using setting up oauth2-proxy with nginx. Hope it's helpful.

[2022-03-17 23:24] nataliekwong commented on #11240
Thanks @timroes for the redirect! @sherifnada if you need any more information from me, lmk

[2022-03-17 23:27] nataliekwong commented on #11100
I agree with being consistent throughout, if we give users the right guidance.  The solution to introduce an information icon is a fair solution to me.

My suggestion for the help text: "A stream is an object in Salesforce"

[2022-03-18 01:18] marcosmarxm commented on #11052
@VitaliiMaltsev please when dealing with this ticket please investigate if this also solves:
- https://github.com/airbytehq/airbyte/issues/10646
- https://github.com/airbytehq/airbyte/issues/11158

[2022-03-18 02:05] pilayar76 opened #11248 "🐛 Source Gitlab: Connector is not working for Groups with Subgroups and Projects"
## Environment
- **Airbyte version**:  0.35.45-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: (if applicable example Gitlab 0.1.3)
- **Destination Connector and version**: (if applicable example MySQL 0.1.18)
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
*It picks up only the immediate projects unde

[2022-03-18 02:58] michaelgaotile opened #11249 "Unable to sync transaction data from Chargebee"
## Environment
- **Airbyte version**:  0.35.55-alpha
- **OS Version / Instance**: eAWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Chargebee 0.1.11-  Product Catalog 1.0
- **Destination Connector and version**: S3 0.2.10
- **Severity**:  Medium
- **Step where error happened**:  Sync job
## Current Behavior
Transaction stream showing no records. API key has read only access - a

[2022-03-18 04:02] ayyoubmaulana commented on #9491
so for this issue we need to change type in TikTok Ads Dashboard from number to string ?

[2022-03-18 04:46] drewfustin commented on #10646
I'm not sure if @hellmund's observation in the [initial comment](https://github.com/airbytehq/airbyte/issues/10646#issue-1149875808) that is is caused by [#9920](https://github.com/airbytehq/airbyte/pull/9920) is correct or not. I WILL say that I rolled back to `v0.35.29-alpha` and all seems to be right in the world, but I don't have multiple parts for my S3 CSVs, so it's hard to say. (cc @andriik

[2022-03-18 06:27] TSkrebe opened #11251 "Failed sync overwrite destination"
## Environment
- **Airbyte version**:  0.35.12-alpha
- **Deployment**: kubernetes
- **Source Connector and version**: mixpanel 0.1.9
- **Destination Connector and version**: bigquery 0.6.1
- **Severity**:  High
- **Step where error happened**: Sync job

## Current Behavior
Mixpanel <> bigquery "full-refresh overwrite" sync failed and it overwrote destination with an empty file.

## Expected Behavi

[2022-03-18 08:55] matfiorlh opened #11252 "HubSpot Sync Job Hangs on engagements Sync"
## Environment
- **Airbyte version**:  0.35.55-alpha
- **OS Version / Instance**: Debian Buster, GCP e2-standard-2
- **Deployment**: Docker
- **Source Connector and version**: HubSpot 0.1.48 -->
- **Destination Connector and version**: BigQuery 0.6.11 -->
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Airbyte sync hangs on Syncing stream: engagements, syncs s

[2022-03-18 08:55] matfiorlh commented on #11252
Similar to https://github.com/airbytehq/airbyte/issues/10544

[2022-03-18 09:31] VitaliiMaltsev commented on #11052
@marcosmarxm started investigation

[2022-03-18 10:45] alafanechere opened #11253 "🐛 octavia-cli: --help is not working on subcommands if the Airbyte remote instance is not available"
The `octavia` command group checks if the Airbyte is healthy (using `check_api_health`). If the airbyte instance is not reachable an exception is raised, preventing users to run the subcommand. This is fine, but not for the --help on subcommand.

TLDR; users cannot use --help on subcommand if their Airbyte instance is not reachable.

[2022-03-18 10:50] igrankova commented on #10090
@misteryeo, the research is done

[2022-03-18 10:54] night-gold commented on #11052
Following up on my post from yesterday... Strangely enough, it was broken yesterday, but today the connector is working, same credentials everywhere.

The only change I did was change the number of tables I was replicating, I'm currently.

I won't be using this feature anyway, I thought that using that would replace the airbyte_raw tables in snowflake, as the raw data would be stored in s3 but see

[2022-03-18 11:17] #11210 closed

[2022-03-18 13:03] mateo2181 commented on #8269
Same error here. I solved it by creating a new destination with another Loading Method.

[2022-03-18 13:09] andriikorotkov commented on #10902
@alafanechere, about 1 item in this task - Charles added part to the doc with link to a BigQuery documentation and with list of needed GCS permissions  (these changes merged on 07.01.22). As for me, this is a good description of this item. I've added a similar list of permits needed to work with BigQuery, and added a link to the documentation with information about which permits apply to each role

[2022-03-18 14:12] nekprj opened #11256 "Destination table is not updated with delete action"
## Environment
- **Airbyte version**:  0.35.57-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: mySQL
- **Destination Connector and version**: Postgres
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Firstly I choose `Incremental Sync - Deduped History`
Wait until first sync has finished.
I tried to upd

[2022-03-18 14:14] #10401 closed

[2022-03-18 15:02] #10646 closed

[2022-03-18 15:02] #11158 closed

[2022-03-18 15:04] VitaliiMaltsev commented on #10646
Fixed in destination-redshift 0.3.28

[2022-03-18 15:10] timroes commented on #11195
@marcosmarxm Could you please open a separate issue for this. Also could you explain in this issue please what's the use-case why we'd expect users to be interested in the version of a connector in that specific places in the UI you'd like to have it added.

[2022-03-18 15:11] qops1981 opened #11257 "Post upgrade, reset & sync only moving maybe 1% of rows"
## Environment
- **Airbyte version**: `0.35.17-alpha` .. `0.35.55-alpha`
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Postgres `0.4.9`
- **Destination Connector and version**: Snowflake `0.4.20` w/S3 Staging
- **Severity**: ~Critical~ Low
- **Step where error happened**: Sync job

## Current Behavior
After Pulling 110's of Millions of rows, only

[2022-03-18 15:22] ChristopheDuong commented on #11052
The way we handle staging for destination snowflake is being heavily changed for S3 (external staging) and Internal Staging in the following PRs (we are reducing the connector's memory footprint thanks to on-disk buffering and compressing data before sending to stage area):
- https://github.com/airbytehq/airbyte/pull/11071
- https://github.com/airbytehq/airbyte/pull/10866

So the fix from https://

[2022-03-18 15:50] qops1981 commented on #11257
I was able to reproduce the issues with a table that only have about 2 mil rows using the original config. I will test the downgrade of the Snowflake connector now on that table since it take less than and hour now.

[2022-03-18 16:06] qops1981 commented on #11257
Downgrading the Snowflake connector to `0.4.7` worked. I am going to incrementally bump and test that connector until I run into the issue again. I will post where it start here when I find it.

[2022-03-18 16:17] misteryeo commented on #9734
**Issue was linked to Harvestr Discovery:**  [Hide "Role" for Users](https://app.harvestr.io/components/0/list/lkyLByBFT)

[2022-03-18 16:29] terekete commented on #10148
Is Oauth coming in a future release ? Reasoning I ask, not everyone in industry agrees to use service account keys.

[2022-03-18 16:53] qops1981 commented on #11257
I was able to confirm up to `0.4.12` worked without the issue. I was not able to load `0.4.13` or `0.4.14` as the UI said "something went wrong" ( tried several times ), but I was able to load `0.4.15` and that was the start of our issue. We will hold at `0.4.12` for the time being.

[2022-03-18 17:37] bazarnov commented on #11069
@misteryeo @erica-airbyte
As far as I checked the `releaseStatus` here down bellow, it should be shown correctly. Please check again, on the Cloud Release version ` >= 0.35.57-alpha`:
1) https://github.com/airbytehq/airbyte-cloud/blob/master/airbyte-bootloader-wrapped/src/main/resources/seed/source_definitions.yaml#L591
2) https://github.com/airbytehq/airbyte-cloud/blob/master/cloud-config/cloud-c

[2022-03-18 17:51] timroes opened #11261 "Changing the order of connector name and connector type select box"
We want to have the user first choose a connector type (most users already do) and only then the name, thus we want to switch the order of both of those inputs. Also when a selector is chosen we want to fill in it's type as a default name into the name box.

[2022-03-18 17:51] qops1981 commented on #11257
Upgrading Airbyte to `0.35.57` I was able to load the `0.4.13` Snowflake connector and was again able to reproduce the issue. I was able to reproduce this issue several times with regards to this connector. I am now confident that the issue starts with `0.4.13` Snowflake connector.

[2022-03-18 17:52] octavia-squidington-iii commented on #11261
cc @airbytehq/frontend

[2022-03-18 17:58] qops1981 commented on #11257
Note: on the "Critical" state of this bug; this can be dropped down as far as we are concerned. I am still testing with the `0.4.12` Snowflake connector, but provided all goes well, we will be back up and running.

[2022-03-18 18:13] timroes commented on #10644
https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=26178%3A0

[2022-03-18 18:28] grishick commented on #11096
@sherifnada you have fixed this as part if this commit: https://github.com/airbytehq/airbyte/commit/23d995d090a6be470b263685f402f5756cd86a6b

@nataliekwong this was fixed in December and the user guide now includes this section:
![Screen Shot 2022-03-18 at 11 27 44 AM](https://user-images.githubusercontent.com/1310940/159062086-2c697f00-2c1b-4e40-b93f-19ac1e002d3c.png)

[2022-03-18 18:28] #11096 closed

[2022-03-18 18:43] misteryeo commented on #10854
LGTM, thanks! Let's use this to inform our S3 to beta EPIC and document any gaps.

[2022-03-18 18:52] FilipeAraujo commented on #11252
I'm having a different issue, but also around engagements.

I have 320k engagements in hubspot but while importing it can reach like 32M rows (with duplicates) of data, is that normal? I tried to divide the import into two connections, one with only engagements and the other with all except engagements, the result is the same AND the result of the tables without engagements I've got:

[code]

And

[2022-03-18 18:54] misteryeo opened #11264 "Google Sheets Destinations Scoping"
**Requirements**
We'd like to implement a Google Sheets destination as there are multiple requests from our community (eg. https://github.com/airbytehq/airbyte/issues/4650) and we believe this will help activation on our Cloud offering.

We'd like this destination to be written in Python (see [destination-kvdb](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/destin

[2022-03-18 19:34] sherifnada commented on #9625
@timroes That UX makes sense to me. So the new rules are:

[code]

[2022-03-18 21:39] grishick commented on #9687
@misteryeo is this good to go?

[2022-03-18 22:42] misteryeo commented on #10284
What are we missing to finalize this @bazarnov?

[2022-03-18 22:57] nataliekwong commented on #11096
@grishick I understand the docs were changed. My suggestion was to edit the help text above the field.
Can the help text be edited to show an example value within the box, or explain that it is found within the URL?

[2022-03-18 23:12] ChristopheDuong opened #11269 "Handle large streams of interleaved messages when buffering"
## Environment
- **Destination Connector and version**: snowflake-0.4.21 (and any connectors based on SerializedBufferingStrategy)
- **Severity**: Low
- **Step where error happened**: Sync job

## Current Behavior
When sources are producing interleaved messages from a number of streams higher than the authorized concurrent number of buffers, the `flush all` event would be triggered frequently, res

[2022-03-18 23:26] terencecho commented on #9715
Update for this issue. This feature can be turned on by setting the `AUTO_DISABLE_FAILING_CONNECTIONS` feature flag to true. It's currently not turned on anywhere. We're still looking into making it possible to notify users when a connection has been auto-disabled. You can follow along with that issue [here](https://github.com/airbytehq/airbyte/issues/10929). I'm assuming once we have notification

[2022-03-18 23:56] grishick commented on #11096
@nataliekwong thank you for the clarification. I have updated the description in the connector spec file. Now it looks like this:
![Screen Shot 2022-03-18 at 4 55 12 PM](https://user-images.githubusercontent.com/1310940/159098016-40fd715e-c9c2-4ab9-abee-538c2fb5394e.png)

[2022-03-19 00:17] cgardens commented on #8754
@harshithmullapudi would you be able to take a look at this issue next week?

[2022-03-19 00:18] grishick opened #11271 "Source Google Sheets sync job fails when all data is deleted from one of the sheets"
## Environment
- **Deployment**: Docker
- **Source Connector and version**: Source Google Sheets version 0.2.9
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
### Steps to reproduce:
 1. Set up a connection with Google Sheets source and some data
 2. Run initial sync job
 3. Open the Google Sheets document and delete all data including column headers from one

[2022-03-19 00:26] grishick opened #11272 "Source Google Sheets logs JsonSchemaValidator for source configuration even when configuration is valid"
## Environment
- **Airbyte version**:  latest build on master
- **OS Version / Instance**:  macOS
- **Deployment**: Docker
- **Source Connector and version**: Google Sheets 0.2.9
- **Destination Connector and version**: Postgres 0.3.15
- **Severity**: Low
- **Step where error happened**: Sync job

## Current Behavior
When Google Sheets source is configured with Service Account credentials, all suc

[2022-03-19 11:14] #10965 closed

[2022-03-19 14:01] ralphiech opened #11273 "The last page of records is inserted twice (any source connector without primary key definition, postgres destination connector)"
## Environment
- **Airbyte version**:  0.35.57-alpha
- **OS Version / Instance**: Ubuntu 20.04.4 LTS
- **Deployment**: Docker
- **Source Connector and version**: custom connector I work on
- **Destination Connector and version**: Postgres 0.3.15
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
I have a custom connector connecting to our CRM. The limit of return

[2022-03-19 18:10] oisidnel commented on #6326
Same for us.

[2022-03-19 19:14] zkid18 commented on #8825
@arimbr hey, thanks! I'll have a look on Monday and will message you if we have any issues. thanks!

[2022-03-19 21:27] cdermcarter commented on #8473
Normalisation also fails for the other streams that support incremental sync: issues and epic_issues.

Tested on Airbyte 0.35.57-alpha and jira source, 0.2.18, currently the latest versions.

[2022-03-19 21:48] misteryeo commented on #11069
Thanks @bazarnov

@jnr0790 since Erica is on PTO, can you confirm that you're not seeing this issue persist and update this thread? Thanks!

[2022-03-19 21:53] nataliekwong commented on #11096
Thank you!

[2022-03-19 22:19] misteryeo commented on #9012
@etsybaev should be able to provide an update here.

[2022-03-19 22:23] misteryeo commented on #9687
Yep @grishick - feel free to clarify anything with @igrankova directly as needed too.

[2022-03-19 22:28] misteryeo commented on #10148
@terekete Yep, we'll plan to implement OAuth in a future release but we don't have a set timeframe just yet. I'd added your request for us to keep track and will continue to take requests from other users of BigQuery as well to help us prioritize.

[2022-03-19 22:29] misteryeo commented on #9021
**Issue was linked to Harvestr Discovery:**  [Destination BigQuery: Support OAuth](https://app.harvestr.io/components/0/list/X9VjuRIqL)

[2022-03-19 22:32] misteryeo commented on #11100
Yep, I'd agree with consistency here - we shouldn't custom modify core parts of the UI for individual connectors. The proposed solution sounds right to me as well.

[2022-03-19 22:44] misteryeo commented on #10786
Ooh, thanks for surfacing this. We should definitely fix this - do you know if this is just how we're parsing the error returned from Google Ads API directly?

Or would this parsing issue go across all connectors?

@sherifnada feels like we should add this to the checklist when certifying. WDYT?

[2022-03-19 22:58] misteryeo commented on #6912
@ksoenandar @blake-enyart @judahrand we're planning on tackling this in the coming quarter - stay tuned!

[2022-03-19 23:14] misteryeo commented on #10842
Nope, I don't have context on this actually. May have been created before my time but I agree with Sherif's suggestion here.

[2022-03-20 00:47] #9351 closed

[2022-03-20 02:05] tusharm commented on #3391
+1 to this.

I followed steps on https://docs.airbyte.io/contributing-to-airbyte/developing-locally but the gradle build failed for `airbyte-workers` module. Looking through the build reports, I noticed I was missing `jq` and `busybox` docker image (are these deps documented?).

[2022-03-20 03:32] maikelpenz opened #11275 "Table Storage Source: Support for incremental read"
## Tell us about the problem you're trying to solve
The Table Storage source connector only supports `Full Refresh Sync` and I would like to be able to incrementally load _new records only_ based on a key that is configured by the user.

## Describe the solution you’d like
The outcome of this is to add the `Incremental - Append Sync` functionality to the Table Storage source connector.

## Describ

[2022-03-20 16:35] lsoica opened #11276 "Syncs aren't automatically triggered by Scheduler"
## Environment
- **Airbyte version**:  example is 0.35.53-alpha
- **Deployment**: Kubernetes
- **Source Connector**: Custom REST API connector
- **Destination Connector and version**: PostgreSQL 0.3.15
- **Step where error happened**: Sync job

## Current Behavior
I have 2 connections, from a custom RestAPI Source to PostgreSQL destination.
The connections are configured with a 5 mins sync frequen

[2022-03-20 17:13] tino opened #11277 "Docker setup broken"
## Environment
- **Airbyte version**:  VERSION=0.35.58-alpha
- **OS Version / Instance**: Ubuntu 20.04.3 LTS
- **Deployment**: Docker (compose)
- **Severity**: Very Low / Low / Medium / High / **Critical**
- **Step where error happened**: **Deploy** / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Behavior
Server fails to start. Frontend shows: "Cannot reach serve

[2022-03-21 00:06] sherifnada opened #11278 "Support declaring & adapting to a source's fields & field types after all data has been read"
## Tell us about the problem you're trying to solve
There is a large category of sources whose schema cannot be ascertained until after all the data has been read.

For example:
1. Schemaless databases such Mongo or Dynamo have no concept of schema. Everything is an object. It is prohibitively expensive to scan the whole dataset to know for sure what all the fields and datatypes are. And even if w

[2022-03-21 00:08] sherifnada opened #11279 "[EPIC] Validate all output record schemas in the worker before sending to the destination"
## Tell us about the problem you're trying to solve
If a source incorrectly declares its schema (e.g; it says the "ID" column is a number when it's really a string) then we only find out about that when the destination fails upon encountering one such record. This has two problems:
1. It incurs unnecessary cost on the destination system e.g: you sync 1 billion records just fine, then the 1-billion

[2022-03-21 00:12] sherifnada commented on #10786
If I had to guess, the problem is that because this is rendered as HTML, newlines expressed as `\n` are not rendered correctly because they need to be expressed using `<br />`. This seems to me like something the UI should address? Sort of like a "string to HTML text" conversion?

WDYT @timroes

[2022-03-21 02:27] nataliekwong opened #11280 "Revise Request a New Connector form"
# Current
We require a user to fill out both the Connector name and the connector website when Requesting a new connector. (screenshot below)

<img width="510" alt="Screen Shot 2022-03-20 at 10 24 20 PM" src="https://user-images.githubusercontent.com/38087517/159197810-2cdfe0f6-3609-4b5a-b045-97ff775163e3.png">

Our observation from Fullstory indicates users are dropping off from the form and not

[2022-03-21 02:27] octavia-squidington-iii commented on #11280
cc @airbytehq/frontend

[2022-03-21 02:33] edgao commented on #10786
I was more thinking that the connector should extract the error message rather than just converting the raw api response to a string and dumping that into the UI. Haven't looked super closely at this, but it seems doable (and much more in-scope than a UI change)

[2022-03-21 02:40] misteryeo commented on #9296
1. So right now it looks like we've implemented EXISTING SOURCE 03 from the mock ups. What happens when a user is implementing a new source and wants to populate their configuration settings from an existing source. (ie. NEW SOURCE 01 from the Figma mockup).
2. Ah, you're right. What we're asking the user to do in the modal is exactly the same as what they would do in the Settings page. Right now,

[2022-03-21 02:51] misteryeo commented on #4407
Have added this as a task for Nico: https://app.asana.com/0/1201442598829240/1201995926046967/f

[2022-03-21 04:59] harshithmullapudi commented on #9296
1. Doing `New source 01` is not possible with our current API architecture since we don't return the secrets back from API I think we can work on this flow later. What say?
2. I think if we are able to change the name in the modal it would make more sense. I will work on the API part here so that we can pass source name also in the APi

[2022-03-21 05:01] harshithmullapudi commented on #8754
Yeah I can take a look at this

[2022-03-21 05:10] harshithmullapudi opened #11281 "New Source: Pivotal Tracker need credentials"
## Tell us about the new connector you’d like to have
Need sandbox credentials for Pivotal Tracker #11060

[2022-03-21 05:11] harshithmullapudi commented on #11281
@igrankova can you help here

[2022-03-21 05:34] sherifnada commented on #10786
@edgao ah got it -- seems simple enough. Works with me

[2022-03-21 06:00] harshithmullapudi commented on #10524
@igrankova I ran and it still says the same `AssertionError: All streams should return some records, streams without records: ***'balance_transactions'***` did we verify if the API is returning results?

[2022-03-21 08:49] danieldiamond opened #11284 "Survey Monkey Duplication Issue on the Response Steram"
## Environment
- **Airbyte version**:  0.35.50-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Survey Monkey 0.1.7
- **Destination Connector and version**: 0.4.17
- **Severity**: Critical
- **Step where error happened**: Sync

## Current Behavior
The incremental stream for the response stream inserts duplicate records. A record with the same

[2022-03-21 09:25] timroes commented on #10786
@sherifnada As you mentioned `\n` isn't working because even if we render it in HTML it's not causing a line break. While `<br />` should be working I'd in general highly discourage trying to use it explicitly (like in connector specs), since it usually means you make assumption about layout, which you should not try to do on the backend side.

In this specific case where we're rendering JSON that

[2022-03-21 09:26] matfiorlh commented on #11252
@FilipeAraujo I think it's the same issue, I am pulling million of rows even if I only have 600k engagements.

[2022-03-21 09:29] ChristopheDuong commented on #10260
Following up on @tuliren's investigation:

PR #10866 solves the non-scalable aspects that were discovered so far with the S3 staging mode. Below numbers are run with the new S3 staging mode, syncing 200 streams, each with 2K records (representing 4.24GB of data in total) running with 200MB max heap size.

![Screenshot 2022-03-21 at 10 25 13](https://user-images.githubusercontent.com/7718175/159234

[2022-03-21 09:47] ChristopheDuong commented on #10260
However, these are not the optimal / recommended max heap sizes to run the new staging mode with.

When the same connector is run with the same configuration, but with a larger amount of data per stream, if we keep the max heap size of 200MB, then we encounter OOME...

For example, let's study a scenario where N stream with 100K records is representing 750-800MB of uncompressed data per stream. Wh

[2022-03-21 10:16] itaseskii commented on #11008
Hey @avaidyanatha I have done some analysis of what can and can't be done from the above requirements and these are my findings.

1. **Incremental Sync:**

- **Engage** -> Investigate if 'created' property is present by default, if it is custom property stream will require user-defined cursor. ***might require dynamic schema creation for custom user defined properties**
- **Annotations** -> Date f

[2022-03-21 10:44] FilipeAraujo commented on #11252
@matfiorlh I think this is related https://github.com/airbytehq/airbyte/pull/11266, hope someone approves it and releases it.

[2022-03-21 10:59] itaseskii commented on #10474
Hey @avaidyanatha I have done some analysis of what can and can't be done from the above requirements and these are my findings.

1. **Incemental Sync:**
* **Users** -> Incremental sync can't be implemented since the Users stream doesn't provide any field that can be used as a cursor field.

3. **Pagination:**
* Already implemented for **Databases**, **Pages** and **Blocks**
* **Users** -> Most li

[2022-03-21 11:27] bazarnov commented on #10284
We need to review this changes: https://github.com/airbytehq/airbyte/pull/11286
Publish and merge that PR, we should good to go, afterwards.

[2022-03-21 11:39] alexandr-shegeda opened #11287 "[EPIC] Destination Redshift to GA"
### The main purpose of this issue is to track release progress for the connector.

### Acceptance criteria

- [x] Create a checklist document that should be placed on the [Google Drive](https://drive.google.com/drive/folders/1qOzblo8xiBJc8AiK4AyuDTC1Ilt-GFzu)
- [x] Checklist filled up by engineering team
- [x] Collect and list all tech debt-related issues in the section below
- [x] Create/Revise

[2022-03-21 11:49] itaseskii commented on #10942
Hey @avaidyanatha I have done some analysis of what can and can't be done from the above requirements and these are my findings.

1. **Incremental Sync:**
* Cohorts -> Not supported but contains 'lastMod' and 'lastComputed' properties which most likely can be used for incremental sync
* Annotations -> Not supported most likely because the 'date' field in the response is the date to which the annot

[2022-03-21 11:50] matfiorlh commented on #11252
That's likely, thanks for pointing it out.

[2022-03-21 11:51] #8519 closed

[2022-03-21 11:59] annalvova05 opened #11288 "Source Mailchimp: have at least 90% unit test coverage"
Need to improve unit test coverage by at least 90%

[2022-03-21 12:00] bazarnov commented on #11021
@misteryeo
Please take a look at https://docs.google.com/spreadsheets/d/1QhyQzvcM6uOB8hmVv55gS4oRovDe8bapXVwj7nTTll0/edit#gid=1288588270 MLP doc for Zendesk Support, for review.

[2022-03-21 12:20] igrankova commented on #10091
@misteryeo the research is done

[2022-03-21 12:28] jnr0790 commented on #11069
I just took a look on cloud and didn't see Shopify as an option at all.

![Screen Shot 2022-03-21 at 8 27 48 AM](https://user-images.githubusercontent.com/80164312/159260849-18c83461-28ae-427c-a95f-24748fd93ef7.png)

[2022-03-21 12:33] bazarnov commented on #11069
That's because it was blocked by this changed intentionally:  https://github.com/airbytehq/airbyte/pull/10783
I assume the releaseStage will be correctly labeled for Shopify, after we revert the changes of https://github.com/airbytehq/airbyte/pull/10783 and make new OSS release to use on Cloud build.

[2022-03-21 12:37] alexandr-shegeda opened #11289 "[EPIC] Amazon S3 Destination to GA"
### The main purpose of this issue is to track release progress for the connector.

### Acceptance criteria

- [x] Create a checklist document that should be placed on the [Google Drive](https://docs.google.com/spreadsheets/d/1SUvv5seJcWRCT26aeCPudrmGz1Fj8CF9vQygLlvz05k/edit#gid=1288588270)
- [x] Checklist filled up by engineering team
- [x] Create/Revise MLP document and place it [here](https://d

[2022-03-21 12:42] alexandr-shegeda opened #11290 "[EPIC] Google Cloud Storage (GCS) Destination to Beta"
### The main purpose of this issue is to track release progress for the connector.

### Acceptance criteria

- [ ] Create a checklist document that should be placed on the [Google Drive](https://drive.google.com/drive/folders/1qOzblo8xiBJc8AiK4AyuDTC1Ilt-GFzu)
- [ ] Checklist filled up by engineering team
- [ ] Create/Revise MLP document and place it [here](https://github.com/airbytehq/airbyte/iss

[2022-03-21 13:22] davinchia commented on #11156
This is done!

[2022-03-21 13:22] #11156 closed

[2022-03-21 13:47] wjwatkinson opened #11291 "Python CDK `should_retry` behavior nullified by `default_backoff_handler`"
## Environment
- **Airbyte version**:  example is 0.35.58-alpha
- **OS Version / Instance**: macOS, GCP n2.
- **Deployment**: Docker
- **Source Connector and version**: Kyriba - https://github.com/wjwatkinson/airbyte/blob/source-kyriba/airbyte-integrations/connectors/source-kyriba/source_kyriba/source.py
- **Destination Connector and version**: BigQuery
- **Severity**: Medium
- **Step where error

[2022-03-21 14:08] itaseskii commented on #11004
Hey @avaidyanatha I would like to claim the **Test Coverage** issue for the Piperdrive connector

[2022-03-21 14:37] nthbooth-feedr commented on #9038
It was the latest when I submitted this. I eneded up removing checkout_sessions_line_items
 from the sync which stopped the issue occurring however I have resynced the schema and will run the sync again with the latest version and see what happens.

[2022-03-21 14:38] nthbooth-feedr commented on #9865
We did have data in that shet. There were a number of sheets that it failed on and they did all have data in.

[2022-03-21 14:38] nthbooth-feedr commented on #9234
Yes I did and it did not work. Hence raising this ticket.

[2022-03-21 15:09] igrankova commented on #11281
@harshithmullapudi, contacted to support team and asked the Sandbox account for us. waiting for the response.

[2022-03-21 15:10] ChristopheDuong commented on #10260
Destination snowflake with Internal Staging does not have the same memory requirement because it is not relying on the `StreamTransferManager` class. So it does not actually load the buffered file into memory in order to upload it to staging.

## Scenario 1 of 4.24GB over 200 streams and 2K records (5MB compressed) per stream

![Screenshot 2022-03-21 at 16 09 52](https://user-images.githubusercont

[2022-03-21 16:02] #10819 closed

[2022-03-21 17:14] misteryeo commented on #10284
Reviewed @bazarnov - I think we're pretty close to going live here. Added [a template in the checklist](https://docs.google.com/spreadsheets/d/1wCPX3eBBPFRI5sMeK4LBjooDs3bFpAa9Fr2os0S0P3g/edit?disco=AAAAWh4dVow) for you once everything's been deployed.

[2022-03-21 17:57] misteryeo commented on #10250
Assignee should take a look at this and validate whether there's value in retaining individual log entries for `setting state of...` and determine if there's a cleaner UX we can implement here.

[2022-03-21 18:15] #11117 closed

[2022-03-21 18:20] tuliren opened #11293 "BigQuery with GCP staging does not support partitioning by timestamp"
## Environment
- **Destination Connector and version**: `0.6.12`
- **Severity**: Medium
- **Step where error happened**: data syncing with GCP staging

## Current Behavior
- The GCP staging mode currently uses Avro as the intermediate format and then loads the Avro files to BigQuery.
- Normally, the data should be partitioned by the `airbyte_emitted_at` field. However, when the Avro data is loaded

[2022-03-21 18:20] #10709 closed

[2022-03-21 18:24] lazebnyi commented on #10415
Successfully certified to GA - https://docs.google.com/spreadsheets/d/17_0unX7j1lXk5lMsJUzJYQdUoPZCDaMlO2svtKfBcLc

[2022-03-21 18:43] guillaume-chech commented on #11018
💡 Investigating further, I could narrow down the issue to being an issue with how Export API Response is parsed using `response.text.splitlines()` [here](https://github.com/airbytehq/airbyte/blob/9605a832db9fb977da6fbad21a57d123cd758e9c/airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py#L730)

It seems that some lines are "cut" randomly in between.
To isolate the problem I r

[2022-03-21 19:31] misteryeo commented on #3394
@edgao when you wrap up Google Ads, can you also address this issue?

[2022-03-21 19:34] girarda opened #11299 "Shopify install endpoint"
We need an installation endpoint to go through the shopify app approval process.
The endpoint needs to
* take the shop as parameter
* retrieve the airbyte client id from the database
* redirect to {shop}.myshopify.com/admin/oauth/authorize

[2022-03-21 21:36] pmossman commented on #10666
Fix for this is deployed at last. See the PR description in https://github.com/airbytehq/airbyte/pull/11292 for a detailed explanation of the race condition that caused this issue

[2022-03-21 21:36] #10666 closed

[2022-03-21 22:05] edgao commented on #3394
yep, added this to the epic!

[2022-03-21 22:23] edgao commented on #3394
actually @misteryeo what needs to be updated here? docs for both adwords and analytics both state that full refresh and incrementals are supported (https://docs.airbyte.com/integrations/sources/google-ads and https://docs.airbyte.com/integrations/sources/google-analytics-v4)

[2022-03-21 23:36] cgardens commented on #11279
@sherifnada what are the cases we want to fail on? Are the lists below right?

fail on these:
* value doesn't match declare type (e.g. says int but is string)

don't fail on these:
* unknown field
* field missing (maybe doesn't apply all fields are not required?)

[2022-03-21 23:40] cgardens commented on #11279
@sherifnada is SAT already testing for this? is our main goal to detect drift? or just catch bugs?

[2022-03-22 00:05] nataliekwong opened #11304 "Salesforce Setup Guide redirects incorrectly"
## Current Behavior
Clicking "Setup Guide" in the Cloud application causes an error in the page and the sidesheet does not load.
https://www.loom.com/share/11387e24e27144909b88402e36d6c93f.

This only happens for Salesforce - not the other sources.

## Expected Behavior
The setup guide for Salesforce should load within the window

[2022-03-22 00:05] octavia-squidington-iii commented on #11304
cc @airbytehq/frontend

[2022-03-22 01:19] saheemsiddiqi commented on #3943
This seems to be a hard-coded value in Temporal.  The limit.blogSize.error value doesn't seem to have an impact.  Note that in my particular case, the error occurs after this log-line:

[[33;1mairbyte-worker      |^[[0m 2022-03-22 00:55:31 ^[[32mINFO^[[m i.a.w.p.a.DefaultAirbyteStreamFactory(lambda$create$0):61 - 2022-03-22 00:55:28 ^[[32mINFO^[[m i.a.i.s.j.AbstractJdbcSource(discoverPrimaryKeys):

[2022-03-22 03:51] misteryeo commented on #3394
Ah then let's close - thanks for clarifying!

[2022-03-22 03:51] #3394 closed

[2022-03-22 03:53] misteryeo commented on #10280
@grubberr when you document the issue of MLP feature gaps in the list above, can you make sure to link the issue back into the description of this epic? Thank you!

[2022-03-22 04:23] sherifnada commented on #10392
@bigdatawonders could you clarify which field in the output from Airbyte you are referring to?

[2022-03-22 04:40] sherifnada commented on #10392
For what it's worth, Airbyte grabs the data for all ads regardless of their status i.e: the connector doesn't filter based on ad status using a `WHERE status = active` or anything like that. So I'm trying to understand how the field in your UI screenshot is generated.

[2022-03-22 05:28] sherifnada opened #11306 "Hubspot KeyError"
## Current Behavior
Key error, see logs
[logs-3856.txt](https://github.com/airbytehq/airbyte/files/8321399/logs-3856.txt)

## Expected Behavior
The error doesn't happen

[2022-03-22 08:07] #10902 closed

[2022-03-22 09:02] igrankova commented on #10093
@misteryeo the research is done

[2022-03-22 09:47] ycherniaiev commented on #10089
MLP Research is here https://docs.google.com/document/d/1nuuavXvYVd4xtIMOBt_txCvX6-Zdj97F-ne_51LgJNM/edit

[2022-03-22 10:15] harshithmullapudi commented on #8754
@cgardens made a PR for the feature

[2022-03-22 10:24] #11230 closed

[2022-03-22 11:02] guillaume-chech commented on #11018
💡 Using `Response.iter_lines()` native method seems to solve the issue.
@marcosmarxm Sorry for the ping. If you think it's not relevant pls point me to the relevant issue fixing procedure.
I'd like to open a pull request to solve the issue but I fear my Software Engineering skill set is a bit weak to do that without proper guidance. Any checklist I need to do to propose this solution ?

[2022-03-22 11:41] grubberr commented on #10279
I have checked Github API documentation and I see the only way to track object deletions via webhooks
https://docs.github.com/en/developers/webhooks-and-events/webhooks
we can subscribe for interesting events like this ones:
<img width="330" alt="Screenshot 2022-03-22 at 13 00 15" src="https://user-images.githubusercontent.com/195743/159467728-5dc94d1b-9352-489c-aa0a-485f688f86bc.png">

as I under

[2022-03-22 12:51] timroes opened #11310 "Redo the "bulk edit streams" feature"
We recently introduced a change that allows users to edit multiple streams at the same time during connection setup. The current implementation does not have a great UX, and we should redo it as part of redesigning some of the UI. A couple of points that came up more often from user:

* Clicking the "apply" button before changing anything is very unintuitive.
* The colors in that UI are confusing

[2022-03-22 12:51] octavia-squidington-iii commented on #11310
cc @airbytehq/frontend

[2022-03-22 13:21] timroes opened #11313 "Fix link logic in documentation panel"
The way links are currently handled in the documentation sidepanel for connectors is having several issues.

* It's not properly working for fragment-only URLs (quick fix preventing an app crash in https://github.com/airbytehq/airbyte/pull/11312)
* Absolute URLs are turned into relative URLs within the airbyte application.
* Potential other edge cases not handled.

Problematic code: https://github

[2022-03-22 13:22] octavia-squidington-iii commented on #11313
cc @airbytehq/frontend

[2022-03-22 13:40] #11304 closed

[2022-03-22 13:57] alafanechere commented on #11018
Hi @guillaume-chech :) Thank you very much for going into the debugging yourself. If you found the bug you definitely have the skills to fix it 👍 . The procedure is quite simple:
1. Create a fork of our repo
2. Code your fix
3. Open a PR (please read the instructions in the PR, especially about version bumping and acceptance test).
4. Share the result of the acceptance test if you could run it
5.

[2022-03-22 14:08] thisisile commented on #10159
Hi @mkhokh-33
Sorry for the late response and thank you for the update.

I've been fiddling with this for a while. I've tried on updated Airbyte versions too and other issues have appeared.
Current versions:
airbyte 0.35.54-alpha
mysql 0.5.6
snowflake 0.4.20

I have a big dataset and if I'm lucky the sync runs but many a times I get a binlog position error towards the end which stops the whole syn

[2022-03-22 14:41] igrankova commented on #9924
@misteryeo, @annalvova05 the research is finished

[2022-03-22 15:14] alafanechere opened #11316 "🐙 octavia-cli: implement octavia `delete`"
We want to expose an `octavia delete` command to allow user to delete the remote resources they manage with octavia.

[2022-03-22 16:16] sherifnada commented on #10300
@tuliren are you still working on this?

[2022-03-22 16:27] cgardens commented on #5396
@sherifnada how often do we have backwards incompatible changes for connectors?

[2022-03-22 16:37] #10284 closed

[2022-03-22 16:42] guillaume-chech commented on #11018
Hi 👋  @alafanechere Thanks for the motivational response. [Here](https://github.com/airbytehq/airbyte/pull/11318) it is : I hope it follows what you expected , I could not run the acceptance test unfortunately and I'm not sure how to perform every item of the PR check list. Happy review !

[2022-03-22 17:13] sherifnada opened #11322 "[EPIC] Improve database sources & destinations error messages"
## Tell us about the problem you're trying to solve
When users are setting up a database connector and fail (due to misconfiguration) they are often provided a non-descriptive error message like the following:
![image](https://user-images.githubusercontent.com/6246757/159535845-8d017efd-d7f4-46c5-b03d-7a0dd8fc2c21.png)

This causes drop off in activation when users are trying out Airbyte. We'd lik

[2022-03-22 18:09] misteryeo commented on #11184
@edgao as you're working on Google Ads

[2022-03-22 18:12] kodeine opened #11323 "Kubernetes, Helm Charts, Error in worker: Caused by: io.temporal.failure.ApplicationFailure: message='/root/.kube/config (No such file or directory)"
## Environment
- **Airbyte version**:  latest
- **OS Version / Instance**: using helm charts on digital ocean
- **Deployment**: Kubernetes
- **Source Connector and version**: any
- **Severity**: Critical
- **Step where error happened**: Setup new connection

## Current Behavior
[code]

[2022-03-22 18:14] lazebnyi opened #11324 "🎉 Add stream auto-read functions to CDK as a helper utility"
Need add to CDK stream auto-read function as a helper utility.

Description in https://github.com/airbytehq/airbyte/pull/11317#discussion_r832424540

[2022-03-22 18:15] #11120 closed

[2022-03-22 18:23] georgekaz commented on #11079
We recently experienced the same on 0.35.45-alpha. Postgresql was unavailable temporarily and the scheduler didn't run any jobs again until after it was restarted.

[2022-03-22 18:31] kodeine commented on #11323
related to this convo on slack as well, multiple users facing this.

https://airbytehq.slack.com/archives/C02MHKUE4BC/p1644907462295149

[2022-03-22 18:44] benmoriceau commented on #10355
Merged last week.

[2022-03-22 18:44] #10355 closed

[2022-03-22 18:44] benmoriceau commented on #10832
Merged 2 weeks ago.

[2022-03-22 18:44] #10832 closed

[2022-03-22 18:50] chstout commented on #10548
I'm having the same issue.  For me it's the it's the fact that it's checking for my username as the grantee, but my user has a role that is the grantee.  Wouldn't we need to check for the complete nest of roles?

https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java#L274-L312

[2022-03-22 20:42] michel-tricot commented on #11100
@nataliekwong: "A stream is a type of object in Salesforce"

[2022-03-22 20:47] edgao commented on #11184
nice, thanks for the report! That explains the test failures I'm seeing in https://github.com/airbytehq/airbyte/pull/10919; will fix in that PR.

[2022-03-22 21:33] marcosmarxm commented on #11276
@lsoica can you share the connection history page for both connections? Maybe with 5 min sync frequency one connection is not finished and only add to the queue.

[2022-03-22 21:42] girarda commented on #11299
The install endpoint is live. It can be hit using
`curl -vvv "https://cloud.airbyte.io/partner/v1/shopify/shop/install?shop=airbyte-integration-tests"`

[2022-03-22 21:42] #11299 closed

[2022-03-22 21:49] pcothenet commented on #10548
@chstout this is a good clue. I'm also assigning permissions to a role, rather than directly to the user.

[2022-03-22 22:38] girarda opened #11334 "Shopify app approval"
Shopify must approve our app application.

Oustanding issues are
1. App must set security headers to protect against clickjacking.
Your app must set the proper [frame-ancestors content security policy directive](https://shopify.dev/apps/store/security/iframe-protection) to avoid clickjacking attacks. The 'content-security-policy' header should set frame-ancestors https://[shop].myshopify.com https

[2022-03-22 22:49] mdkarp opened #11335 "Source MongoDB: ignore Empty Collections in Normalization"
## Tell us about the problem you're trying to solve
On a mongodb -> redshift sync, got frustrated when an end user updated schemas, and the normalizations would fail.  Finally figured out that if you're checking all the collections on the mongodb source, and one or more of them are empty (& therefore not have columns), you'll end up failing normalization when it should probably just skip empty tab

[2022-03-22 23:16] thisisile commented on #10572
![salesforce-case-issue-to-upload](https://user-images.githubusercontent.com/85608733/159591718-f787a2af-865e-4059-b286-c0c4d36b72d8.png)

[2022-03-23 00:06] marcosmarxm commented on #10572
`Case` is a reserved word in Snowflake. This table is created as "Case". But good call @thisisile is something that can fix.

[2022-03-23 00:08] benmoriceau commented on #11095
https://docs.google.com/document/d/1-WNEwYhCFoiVVspOFXtaz7L0bijpMVTUKeSIOn7TgTM/edit# -> Document that explain the problem and propose different approach to solve it.

[2022-03-23 01:22] chstout commented on #10548
I think the top part of that query needs to be something akin to:

[code]
? = username

additionally you could filter out info schema and pg_catalog if you want.

It can probably be combined with a single query without the UNION of those materialized views,  I just have no idea what's going on in that acl unpacking.

Were the permission functions not being used for some reason?

[2022-03-23 01:29] hntan opened #11337 "Get running context info in the destination write method"
## Tell us about the problem you're trying to solve
We mainly use airbyte api for our integration along with a custom aribyte destination. The custom airbyte destination will forward `input_messages` to our service via api. Because we trigger the [sync api](https://airbyte-public-api-docs.s3.us-east-2.amazonaws.com/rapidoc-api-docs.html#post-/v1/connections/sync) manually via api, we want to keep

[2022-03-23 01:34] kodeine commented on #6985
Same thing is for Postgres on Digital ocean as well. They provide a special cert to make the connection. There's no place in Airbyte to upload those cert.

Same thing is with Document DB (aws)

[2022-03-23 01:43] #11184 closed

[2022-03-23 02:36] misteryeo commented on #9296
1. Can you share more about what needs to change in the API architecture to support `New Source 01`? From a UX experience, it makes a lot less sense to support the `Existing Source` user flow but **not** `New Source 01`. If instead we could only support `New Source 01` and not yet support `Existing Source`, it would make a bit more sense. I could be convinced but I want to understand what it would

[2022-03-23 02:36] sherifnada commented on #10279
@grubberr you're correct, airybte doesn't support webhooks at the moment

[2022-03-23 04:30] hntan opened #11340 "Add check_connection_for_create api"
## Tell us about the problem you're trying to solve
The current check connection to the source api requires an existing source to check, we can not validate if the configuration is valid before creating.

## Describe the solution you’d like
I wish there would be an api like below.

[code]

[2022-03-23 05:23] harshithmullapudi commented on #8754
@misteryeo here on the sources page if the source has multiple destinations how will the sorting be handled?

[2022-03-23 05:49] arvind-workit opened #11343 "New Source: Onfleet"
## Tell us about the new connector you’d like to have
[Onfleet](https://docs.onfleet.com/)

[2022-03-23 06:44] tuliren commented on #11293
Actually we are already setting `useAvroLogicalTypes` [here](https://github.com/airbytehq/airbyte/blob/v0.35.59-alpha/airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/GcsAvroBigQueryUploader.java#L30).

So this is a bug, not something we did not implement.

[2022-03-23 08:53] shmf commented on #11079
Working with georgekaz - we were able to start jobs manually, which were competing successfully, but none of them was starting when they were due. Frontend was showing no issues and even in the pods showed no errors.
All jobs started all together after scheduler pod was restarted.

[2022-03-23 08:59] bazarnov commented on #10613
@alexchouraki
We could not reproduce this issue on our end, could you please write the steps of how you've checked and found the issue step by step, so we could reproduce it? Thank you.

[2022-03-23 09:10] Javier162380 opened #11345 "Store the connector version in the DB"
## Tell us about the problem you're trying to solve
Airbyte, the normalization process injects some metadata fields in the Database that are useful to guarantee the data quality and the integrity of datasets, like ```_airbyte_emitted_at``` or ```_airbyte_normalized_at```.

These data fields are useful to check the freshness state of a table but are not useful, to identify the different data models

[2022-03-23 09:47] FilipeAraujo commented on #11252
@matfiorlh I think the fix has been released, I'm testing, can you please test? and maybe close this issue?

[2022-03-23 09:59] igrankova commented on #10094
@misteryeo the research is done

[2022-03-23 10:00] matfiorlh commented on #11252
Of course, will do right now.

[2022-03-23 10:15] #8825 closed

[2022-03-23 11:13] annalvova05 opened #11347 "Source Mailchimp: update documentation"
1) Link to Mailchimp docs on where to retrieve the username, how to create/register an app (the current link go to the platform, not the docs), and where to retrieve the client_id and client_secret
2) Update supported streams
3) Update supported syncs

[2022-03-23 11:30] rishabh-cldcvr opened #11348 "Source Oracle: Use Service Name to connect to database instead of sid."
## Tell us about the problem you're trying to solve
When connecting to oracle source db it is recommended to connect via service name than using sid as it is easy to load balance the traffic on single instance.

## Describe the solution you’d like
Airbyte source connector for oracle should accept service name too to connect to db.

## Describe the alternative you’ve considered or used
SID is to di

[2022-03-23 12:11] verlin-turner opened #11351 "Destination: DynamoDB - GUI does not send correct configuration fields"
## Environment
- **Airbyte version**:   0.35.58-alpha
- **OS Version / Instance**: AWS EC2 / Amazon Linux
- **Deployment**: Docker
- **Destination Connector and version**:  DynamoDB
- **Severity**: High / Critical
- **Step where error happened**: Deploy

## Current Behavior
Saving a new connection fails with the message:

The connection tests failed.
Verification error(s) occurred for CHECK. Error

[2022-03-23 12:17] hokam commented on #10748
Hi @lgomezm, did you find any solution for this issue ? I am also facing the similar issue.

[2022-03-23 12:18] infina-calvin commented on #9780
Following, I have the same issue

[2022-03-23 12:28] hokam commented on #9375
Hi @naveenpatnana, is this issue resolved ? after applying the above mentioned changes.

[2022-03-23 12:37] naphattheerawat commented on #1967
It's almost end of Mar 2022. May I follow up on this thread?
Do we have a clear roadmap or ETA on when this feature will get prioritized and when would be the estimated release date for this feature?

[2022-03-23 12:42] naphattheerawat commented on #1967
As April 2022 is fast approaching, may I have an update on this thread about the roadmap of this feature?
Do we have a clear timeline or ETA on when this feature will get prioritized or released yet?
Will it support PostgreSQL and BigQuery as well? 🥺

[2022-03-23 12:57] bazarnov commented on #10968
Hi, @alexbondar92
Could you please share the input configuration of LinkedIn-ads setup as screenshot here (please hide sensitive information from it) ?

[2022-03-23 14:03] #10381 closed

[2022-03-23 14:05] matfiorlh commented on #11252
It works, I'll close the issue.

[2022-03-23 14:05] #11252 closed

[2022-03-23 14:15] subodh1810 opened #11355 "BigQuery Spec Mutator for Airbyte staging"
As part of the staging by default project, we need to build a mutator that mutates the spec of the bigquery destination in cloud. This mutator should
 1. Allow customers to choose the option of Airbyte staging GCS bucket for BigQuery destination
 2. If a customer is choosing the option of Airbyte staging then create the folder for the connector in the bucket
 3. If a customer is choosing the optio

[2022-03-23 14:25] marcosmarxm commented on #4577
This was implemented in #7005

[2022-03-23 14:25] #4577 closed

[2022-03-23 14:28] marcosmarxm opened #11356 "Destination ElasticSearch: allow usage of Private CA Certificate"
## Tell us about the problem you're trying to solve
For some cases users have a more restricted access to their ElasticSearch cluster and need private keys.

## Describe the solution you’d like
Add an option to upload the key file OR paste the key in a field in the destination configuration.
There are other destination examples using private keys already.

## Describe the alternative you’ve consid

[2022-03-23 14:30] subodh1810 opened #11357 "Redshift Spec Mutator for Airbyte staging"
As part of the staging by default project, we need to build a mutator that mutates the spec of the redshift destination in cloud. This mutator should
 1. Allow customers to choose the option of Airbyte staging S3 bucket for Redshift destination
 2. If a customer is choosing the option of Airbyte staging then fetch the credentials of the S3 staging bucket and populate the customers config with Airb

[2022-03-23 14:31] subodh1810 opened #11358 "Update BigQuery documentation to reflect Airbyte staging as a feature"
Once we are done with implementing Airbyte staging feature for BigQuery, we should update our documentation to reflect this feature and teach people how to use this in cloud

[2022-03-23 15:00] muendecke-analytics commented on #9827
Same issue

[2022-03-23 15:25] bazarnov commented on #11264
@misteryeo I'm aware of these limitations, so:

This could be checked and properly configured based on incoming data dimensions, before making any uploads to the destination, some sort of intermediate staging could also be used. Will see once the implementation takes place.

Yes, this could be potential long-run back-and-forth implementing. This is discussible anyway, i think this is the biggest q

[2022-03-23 15:41] alafanechere commented on #5129
@edgao I wondered if the effort tracked in #9441 will make JDBC connectors output integer type in JSON instead of the number type which results in storing float in the destination?

[2022-03-23 15:57] #11128 closed

[2022-03-23 16:40] #8929 closed

[2022-03-23 17:11] grishick opened #11363 "Recalibrate scope of BigQuery staging project"

[2022-03-23 17:36] lazebnyi opened #11364 "Source Intercom: increase unit test coverage at least 90%"
## Tell us about the problem you're trying to solve
Need to improve unit test coverage at least 90%

[2022-03-23 18:04] alafanechere commented on #10345
Could you please make sure your RSA token is a valid PEM file? According to your logs, the connector fails at parsing your PEM file.

[2022-03-23 18:16] lazebnyi opened #11366 "Source Intercom: updated doc for OAuth"
## Tell us about the problem you're trying to solve
We have the OAuth implemented on the cloud, but there’s no docs update on the website.

[2022-03-23 18:31] #4654 closed

[2022-03-23 19:12] grubberr opened #11367 "🐛 Source Amazon Ads: test coverage more than 90% + improve test speed"
- Need to improve unit test coverage at least 90%
- need to improve test speed
- need to update pendulum 1.5 -> 2.1
- Improve error handling
- Improve acceptance test organization

[2022-03-23 19:18] midavadim opened #11368 "Source Tiktok Marketing: Add additional dimensions for Report based streams"
CONCLUSION:  TikTok ads source API turned out to be very rich on streams count. But most obviously a lot of them are of a little importance for business.
TikTok Ads API has a very deep Reporting API: https://ads.tiktok.com/marketing_api/docs?id=1701890951192578.
I seems that now basic_reports and audience_reports are realized in Airbyte, but they have only one dimension (time: hourly, daily, or li

[2022-03-23 19:18] alafanechere commented on #10973
@nmacri shared this great script as a workaround to enable basic normalization on all airbyte connections.
https://gist.github.com/alafanechere/f103155bc0af652ad9500ede6edda48a

[2022-03-23 19:33] HaithemSouala commented on #1758
Any updates?

[2022-03-23 19:41] muendecke-analytics commented on #9827
Reason posted here: https://discuss.airbyte.io/t/source-facebook-pages-error-in-connection-with-v12-0-api/221

[2022-03-23 19:53] bazarnov commented on #11264
@misteryeo @sherifnada
Here is the DRAFT of the scoping, please note that we don't have any example of any destination scoping either Java or Python so far, so i did it how i see it. Feel free to correct anything up there and comment out some parts once needed. Thanks. https://docs.google.com/document/d/1vNjcgwRrqSu4OHoGYMcXb6DjaYG8Hv0isCQMUAHyShs/edit

[2022-03-23 20:11] misteryeo commented on #1758
No currently, @HaithemSouala!

[2022-03-23 20:35] midavadim opened #11372 "Source Tiktok Marketing: have at least 90% unit test coverage"
Increase coverage up to 90%

Name                                  Stmts   Miss  Cover
---------------------------------------------------------
source_tiktok_marketing/__init__.py       2      0   100%
source_tiktok_marketing/spec.py          65     19    71%
source_tiktok_marketing/streams.py      314     98    69%
source_tiktok_marketing/source.py        45     16    64%
-----------------------

[2022-03-23 20:37] #10662 closed

[2022-03-23 21:06] matthewbrandt commented on #10345
@alafanechere hey, this totally solved my issue!

[2022-03-23 21:06] #10345 closed

[2022-03-23 21:08] #3320 closed

[2022-03-23 21:19] edgao commented on #5129
I don't think it will, but it does give us a better framework for supporting that distinction.

[2022-03-23 21:53] edgao commented on #10392
@bigdatawonders is the trouble that we _aren't_

[2022-03-23 22:17] misteryeo commented on #11021
Hey @bazarnov I was just about to review this but realized it's not in Cloud yet. So I can't start the UX/Docs review.

[2022-03-23 23:02] midavadim opened #11375 "Source Tiktok: fix metrix for LIFETIME granularity"
Sync using DAY granularity:

ERROR:
{"type": "LOG", "log": {"level": "FATAL", "message": "{'code': 40002, 'message': \"Please correct the information in invalid metric fields and try again. Invalid metric fields: ['voucher_spend', 'cash_spend']. \", 'request_id': '202203232218030102452410100E00D348', 'data': {}}\nTraceback (most recent call last):\n  File \"/airbyte/integration_code/main.py\", lin

[2022-03-23 23:09] midavadim opened #11376 "add missing streams in SAT"

[2022-03-23 23:17] midavadim opened #11377 "Source Tiktok marketing: add SAT tests for DAY, HOUR granularity"
Source Tiktok marketing: add SAT tests for DAY, HOUR granularity

Current all configs in SAT tests contain tests for LIFETIME granularity only.

Brief test with DAY granularity leads to an error caused by incorrect code:
https://github.com/airbytehq/airbyte/issues/11375

[2022-03-24 01:48] awilliamsOM1 commented on #2474
I generated a go client for the airbyte api using the openapi generator. Hopefully it will make creating a terraform provider much easier. https://github.com/awill1/airbyte-client-go

[2022-03-24 03:26] #10964 closed

[2022-03-24 05:57] lsoica commented on #11276
@marcosmarxm here it is :
<img width="1332" alt="image" src="https://user-images.githubusercontent.com/1623282/159851871-14480a17-2206-4b1f-96ff-e3b5b9dd02de.png">

[2022-03-24 07:20] bigdatawonders commented on #10392
I believe this issue happens with deleted ads… So the problem is that ad
spend does not match with campaign spend… not sure if there flags to
include deleted ads or something I the stream…

On 2022-03-23, Wed at 22:54, Edward Gao ***@***.***> wrote:

[2022-03-24 10:48] grubberr opened #11387 "[EPIC] Github Source to GA"
- [ ] Document issue for adding 'team_members' stream
- [ ] Document issue for adding 'team_memberships' stream
- [ ] Support incremental deletes https://github.com/airbytehq/airbyte/issues/10279

[2022-03-24 11:24] mrhallak commented on #11177
@lazebnyi I'm not sure if we can close this one but the PR has been merged

[2022-03-24 11:50] ChristopheDuong opened #11389 "Connector UX: deprecate PART_SIZE_MB in connectors specs using S3/GCS storage"
## Tell us about the problem you're trying to solve
Following up on work from https://github.com/airbytehq/airbyte/issues/10260, we changed the buffering logic to set some upper limits on the buffer size while buffering a stream before invoking the upload operations using `StreamTransferManager`.

Therefore, the amount of data being transferred is not unknown anymore (fixed to [200MB](https://gith

[2022-03-24 12:01] VitaliiMaltsev commented on #10377
@davinchia investigated your suggestion and created [PR](https://github.com/airbytehq/airbyte/pull/11350) to check for permissions on the bucket. Please review
The results are:
Standard inserts ~ 2.7 seconds
GCS staging ~ 3 seconds

[2022-03-24 13:20] lazebnyi commented on #11177
Fixed in #11176

[2022-03-24 13:20] #11177 closed

[2022-03-24 13:51] jrhizor commented on #10934
Passing acceptance tests. The main race condition related to initialization was addressed. I still haven't scale tested as per https://github.com/airbytehq/airbyte/pull/11083/#pullrequestreview-909272678 yet.

[2022-03-24 14:03] jrhizor commented on #10413
We're now capturing temporal stats in a temporary Prometheus server. Going to close this issue since the short term goal of collecting usage estimates is complete and we won't actually do this in the future for cloud.

[2022-03-24 14:03] #10413 closed

[2022-03-24 14:13] jrhizor opened #11390 "break down q2 schema evolution work"
Write tech spec for how we plan to approach Q2 schema evolution work.

[2022-03-24 14:38] sashaNeshcheret opened #11391 "Snowflake Destination sync fails with 'Stage does not exist or not authorized'"
## Environment
* **Airbyte version**:  0.35.55-alpha
* **OS Version / Instance**: Ubuntu 20.04
* **Source Connector and version**: airbyte/source-postgres:0.4.9
* **Destination Connector and version**: airbyte/destination-snowflake:0.4.22
* **Severity**: High
* **Step where error happened**: Sync job

## Current Behavior
First check is failed with exception 'Stage does not exist or not authorized'

[2022-03-24 14:39] jrhizor commented on #10991
No progress on this yet. Planning on writing this tomorrow.

[2022-03-24 15:12] igrankova commented on #10096
@misteryeo the research is done

[2022-03-24 15:16] alafanechere opened #11394 "🐙 octavia-cli: deploy on Pypi (the python package index)"
Python users want to `pip install octavia-cli`.

This will require:
* Checking which version of Python the project is compatible with.
* Making sure `setup.py` follows Pypi expectation
* Deploying the generated API client to Pypi too, as this is a dependency for the CLI.

[2022-03-24 15:21] #11306 closed

[2022-03-24 15:22] #9715 closed

[2022-03-24 15:23] lazebnyi commented on #10804
Successfully certified to Beta - https://docs.google.com/spreadsheets/d/1jlmHGuAAsLZ9Xr5KpzUMK9yMSO-2qd5ZhqxxkrH66nY

[2022-03-24 15:23] #10804 closed

[2022-03-24 15:28] sherifnada opened #11395 "Better IDE story for python monorepo"
## Tell us about the problem you're trying to solve
The [current instructions](https://docs.airbyte.com/contributing-to-airbyte/monorepo-python-development) for python development in the monorepo don't make for an ultimately great development experience. Some problems with it are:
1. Working on different connectors/modules requires changing python interpreters in Intellij, which causes the whole p

[2022-03-24 15:29] jrhizor opened #11396 "OSS team review schema evolution docs"

[2022-03-24 15:29] jrhizor opened #11397 "OSS team schema evolution brainstorms"

[2022-03-24 15:40] sherifnada opened #11398 "Consolidate GCS connection check performed inside bigquery destination with GCS destination"
## Tell us about the problem you're trying to solve
When configured to use GCS staging, the BigQuery destination currently manually verifies that it has the correct permissions to write to GCS. Instead, it should use `GcsDestination::check` method to remove any code duplication. This is a little cumbersome at the moment because it GcsDestination doesn't accept a JSON Svc account key as input, whic

[2022-03-24 15:51] nataliekwong opened #11401 "Enlarge CTAs on new Source, Destination, and Connection Pages"
# Current
Users who have not set up anything for Airbyte (no source, destination yet) tend to click around the platform to explore.  They encounter pages that are empty except for Octavia, with a speech bubble, pointing to the New Source/Destination/Connection buttons.

#Proposed Solution
The CTAs for the /source, /destination, and /connection can be displayed more prominently on the page (center

[2022-03-24 16:00] sherifnada commented on #10392
@bigdatawonders could you help us resolve the issue by providing the following info:

* what is the airbyte  field name which displays the incorrect value?
* in what UI did you generate the screenshot above?

[2022-03-24 16:14] philippeboyd commented on #5590
Any news on this? If I understand correctly, there's no way of running a DBT project with dependencies which makes Custom DBT Transformations almost useless.

According to https://github.com/dbt-labs/dbt-core/issues/4784 and it's [comment](https://github.com/dbt-labs/dbt-core/issues/4784#issuecomment-1050367949), even if we create our own Docker image with `dbt deps` inside, dependencies won't be

[2022-03-24 16:58] git-phu commented on #9652
After all of the above PRs are merged, we should have all the schema and API changes necessary for supporting scoped connectors.
So the remaining steps would be to:

- [ ] uptake the changes in cloud and allow cloud users to use the new get/list endpoints for workspace scoped definitions (can be done as part of this ticket)
- [ ] update the webapp to use the new workspace scoped endpoints for CRUD

[2022-03-24 18:19] misteryeo opened #11406 "Source Google Sheets: Update `spreadsheet ID` field for usability"
## Tell us about the problem you're trying to solve
Today, when users implement the Google Sheets Source, most people struggle to enter the correct spreadsheet ID and have to do this several times.

## Describe the solution you’d like
For an improved UX, we should try to abstract away as much of this complexity for the user. Instead of `Spreadsheet ID`, I'd propose that we change this field to `Sp

[2022-03-24 18:36] #10377 closed

[2022-03-24 18:43] etsybaev commented on #10033
https://github.com/airbytehq/airbyte/pull/11093

[2022-03-24 18:44] lgomezm commented on #11035
I'm also seeing that rate-limit issue. I have the following setup:
* One single Zendesk Support source.
* One connection from that source to Google Pub/Sub, runs every 15 minutes.
* Another connection from that source to Google Pus/Sub, runs every 2 hours.

At some point, the rate-limit issue occurs in either of the jobs of those connections, as it can be seen in these logs:
[logs-364157.txt](http

[2022-03-24 18:44] sherifnada commented on #11279
@cgardens SAT makes a best effort to test this. However in cases where sandbox accounts aren’t comprehensive it’s not possible to test this for all fields in all streams. So this is to catch both bugs and drift from the API.

Your above list is correct in that it should only fail if a field is present and doesn’t match its declared type. No fields should be considered required. In that case the fa

[2022-03-24 18:50] prasrvenkat commented on #10748
Just another update on how slow it is in certain jobs. I had to trigger a reset for a connection. Please note the difference in time from when I triggered reset (PST) and when it actually started (UTC), **it was 17mins**. I have no idea yet on where to dig to get more information on what the delay is. Would appreciate any pointers on where to look.

![image](https://user-images.githubusercontent.c

[2022-03-24 19:03] cgardens commented on #11279
perfect. thanks!

[2022-03-24 19:05] sherifnada commented on #11279
It would also be incredibly helpful for debugging if, upon failure, we log:

1. The stream name and field name
2. The value which caused the failure

[2022-03-24 19:55] #11211 closed

[2022-03-24 20:25] misteryeo opened #11407 "Connection Page Tooltips Not Appearing"
**Problem**
The info tooltips that I would expect to appear on hover doesn't happen:
![Airbyte Connections Salesforce Demo → Snowflake Demo 2022-03-24 at 1 24 09 PM](https://user-images.githubusercontent.com/16851149/160003737-9aa13564-70f8-452b-a6c1-cfc79b733c12.jpg)

**Expectation**
When I hover over these (i) icons, I should see more information about that field.

[2022-03-24 21:39] Jamakase commented on #10601
@jrhizor @timroes The problem is that connection/get request still returns this connection. I believe it just changes `status` field to deprecated. Should we just display some message that it is deprecated?

[2022-03-24 22:07] girarda commented on #5396
Update from today's sync:

### scoping:
* we don't need to support custom connectors or connectors with custom version right away
* similarly, it's probably fine not to support downgrading right away

### solution we are leaning towards (we haven't set anything in stone yet):
* Use sermver major version bumps to indicate a migration is needed
* we'll need to persist the connector version with the

[2022-03-24 22:16] #10989 closed

[2022-03-24 22:32] benmoriceau opened #11410 "Document the safety features of the export."
### Tell us about the documentation you'd like us to add or update.
We need to document the default behavior of the safety first features that are implemented when running an export. It has been added in https://github.com/airbytehq/airbyte/pull/11296

[2022-03-24 23:20] marcosmarxm commented on #10748
@prasrvenkat are the jobs staying in Pending state? I saw some instances with a lot of connections getting stuck in this state. The solution was increasing the parallel job sync env var.

[2022-03-24 23:30] marcosmarxm opened #11411 "Credentials for Bamboo HR Source"
## Tell us about the problem you're trying to solve
Today we have only a trial account for this source, after 14 days the CI is going to start failing.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solut

[2022-03-24 23:31] prasrvenkat commented on #10748
Are you talking about `SUBMITTER_NUM_THREADS` (already set to 500) or some other variable? More details on current configuration updated [here](https://github.com/airbytehq/airbyte/issues/10748#issuecomment-1064228370)

[2022-03-25 01:44] marcosmarxm commented on #10748
[code]

[2022-03-25 01:49] prasrvenkat commented on #10748
Yeah, increased no effect. Same. Check my other comment on current values for these

[2022-03-25 04:40] harshithmullapudi commented on #9296
1. To get the above functionality similar to New source 1  we can it in 2 ways

a. We need API which needs to return secrets also so that we fill those fields also (which is a blocker)
b. We don't fill those secret fields and ask the user to do that which is still a bad experience may be

Thus right now we are handling the cloning part in the backend so that the secrets are never sent to the front

[2022-03-25 05:15] grubberr commented on #10280
@misteryeo Because we decided to implement new features on next steps I have moved all notes and open issues to new
[EPIC] Github Source to GA https://github.com/airbytehq/airbyte/issues/11387

is it ok?

[2022-03-25 05:17] burmecia opened #11413 "Slack source connector cannot sync channel messages"
## Environment
- **Airbyte version**:  0.35.60-alpha
- **OS Version / Instance**: macOS 12.3
- **Deployment**: Docker compose (local)
- **Source Connector and version**: Slack 0.1.14
- **Destination Connector and version**: BigQuery 1.0.1
- **Severity**: High
- **Step where error happened**:
  - Get latest Airbyte code: `git clone https://github.com/airbytehq/airbyte.git`
  - Start Airbyte: `docke

[2022-03-25 07:45] tuliren commented on #8722
Yes, we do support dates as primitives in our internal type. However, it looks like the Apache Arrow type system actually does not support the year type.

We probably need to add a new primitive type just for year. According to [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Years), it expresses a year with integers (positive integers for AD years, 0 for 1BC, and negative integers for years earli

[2022-03-25 07:59] DWCopeland opened #11414 "Jira connector - connect using domain.jira.com"
## Environment
- **Airbyte version**:  example is 0.35.59-alpha
- **OS Version / Instance**: Windows 11 Pro
- **Deployment**: Docker (hosted locally)
- **Source Connector and version**: 0.2.18
- -->
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: High (Jira is our main data source)
- **Step where error happened**: Setting up the connection

## Curren

[2022-03-25 08:23] #11313 closed

[2022-03-25 08:23] #11280 closed

[2022-03-25 08:35] #11234 closed

[2022-03-25 10:19] igrankova commented on #10097
@misteryeo the research is done.

[2022-03-25 10:50] #11261 closed

[2022-03-25 10:53] bazarnov commented on #11035
Hello, general recommendation to isolate the issue is to try to update to 0.2.2 version, make the full-refresh to some test place, like Local CSV or Local Json and share the logs here, please.

[2022-03-25 10:56] #11046 closed

[2022-03-25 11:06] bazarnov opened #11416 "unblock & release the Source Zendesk Support into Cloud"

[2022-03-25 11:06] grubberr opened #11417 "🎉 Source Amazon Ads: Implement OAuth2.0"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2022-03-25 11:09] bazarnov commented on #11416
Attached to PR: https://github.com/airbytehq/airbyte-cloud/pull/1261

[2022-03-25 11:17] davinchia opened #11418 "Cron String: Add new schedule_type column."
## Tell us about the problem you're trying to solve
Part of #2170.

Add a new column called `scheduleType` in the `connections` table in the `configs` database whose type mirrors this [comment](https://github.com/airbytehq/airbyte/issues/2170#issuecomment-1051065420).

The column will be used to store the new schedule type.

## Describe the solution you’d like
This should be done by writing a migr

[2022-03-25 11:18] bazarnov commented on #11021
@misteryeo
Here is the [PR](https://github.com/airbytehq/airbyte-cloud/pull/1261) fixes this. Once it merged and new OSS Release is out, we can get back to review, I believe.

[2022-03-25 11:29] davinchia opened #11419 "Cron String: Modify the persistence layer to dual write. Modify Temporal workflow to use new column type if present."
## Tell us about the problem you're trying to solve
Part of #2170. Follow up to #11418.

To ensure backward compatibility and not block any releases, we want to modify the persistence layer to write to both the old and new column, preserving the current logic. That is, if a manual connection is created, the equivalent should be written into the new column. Same for a scheduled connection that is c

[2022-03-25 11:48] davinchia opened #11420 "Cron String: Modify Temporal workflow to use new column type."
## Tell us about the problem you're trying to solve
Part of #2170. Follow up to #11419 .

Modify the temporal workflow to use the new field if present. If not present, the workflow should default to the previous field. This is step one of the read migration to the new column.

Use the [quartz](https://www.quartz-scheduler.org/api/1.8.6/org/quartz/CronTrigger.html) library to interpret cronstrings,

[2022-03-25 11:49] ChristopheDuong opened #11421 "Apply buffering changes to AzureBlobStorage Destination"
## Tell us about the problem you're trying to solve
As part of https://github.com/airbytehq/airbyte/issues/10260, refactor destination-azure-blob-storage to use serialized buffering strategy.

[2022-03-25 11:52] ChristopheDuong opened #11424 "Apply buffering changes to Databricks Destination"
As part of https://github.com/airbytehq/airbyte/issues/10260, refactor destination-databricks to use serialized buffering strategy.

[2022-03-25 11:53] ChristopheDuong opened #11425 "Apply buffering changes to GCS Destination"
## Tell us about the problem you're trying to solve
As part of https://github.com/airbytehq/airbyte/issues/10260, refactor destination-gcs to use serialized buffering strategy.

[2022-03-25 11:54] ChristopheDuong opened #11426 "Apply buffering changes to Redshift Destination"
## Tell us about the problem you're trying to solve
As part of https://github.com/airbytehq/airbyte/issues/10260, refactor destination-redshift to use serialized buffering strategy.

[2022-03-25 11:58] davinchia commented on #11420
Combined this issue into #11419

[2022-03-25 11:58] #11420 closed

[2022-03-25 12:02] ChristopheDuong opened #11428 "Apply buffering changes to Snowflake Destination using GCS staging"
## Tell us about the problem you're trying to solve
As part of https://github.com/airbytehq/airbyte/issues/10260, replace `SnowflakeCopyGcsDestination` by `SnowflakeGcsStagingDestination` that use serialized buffering strategy.

[2022-03-25 12:03] ChristopheDuong opened #11429 "Apply buffering changes to Snowflake Destination using AzureBlobStorage staging"
## Tell us about the problem you're trying to solve
As part of https://github.com/airbytehq/airbyte/issues/10260, replace `SnowflakeCopyAzureBlobStorageDestination` by `SnowflakeAzureBlobStorageStagingDestination` that use serialized buffering strategy.

[2022-03-25 12:49] #10033 closed

[2022-03-25 12:49] #11092 closed

[2022-03-25 13:21] davinchia opened #11431 "Cron String: API and Server changes."
## Tell us about the problem you're trying to solve
Part of #2170. Follow up to #11419 .

Modify the external api endpoint to accept and return the new object that supports cronstring.

This change needs to be coordinated with FE, since the FE needs to make changes to consume the modified endpoint.

We cannot do a release before the FE is also updated to use this modified endpoint.

## Describe th

[2022-03-25 13:26] davinchia opened #11432 "Cron String: Clean up."
## Tell us about the problem you're trying to solve
Last part of #2170 . Follow up to #11431 .

Clean up work:
* Write a db migration to migrate any rows in the `connection` table with the old `manual` column set and the old `schedule` format that do not have the new `scheduleType` column set to the new schema. After that, drop the old `manual` column. This migrates all the previous connections sc

[2022-03-25 13:52] timroes opened #11434 "More interactive in UI connector documentations"
As part of our onboarding improvements we'd like to make sure the documentation we show for a user in the product will be more helpful and guiding them more directly about the steps they need to take to get the connector set up correctly. We'd therefore need to be able to link parts (paragraphs/steps) of the documentation to specific parts (fields) of the UI.

The desired UX would be that a user h

[2022-03-25 14:02] Jamakase commented on #11407
@misteryeo I just checked it and it appears on hover. Could you provide a bit more info which browser you are using or when you face that behaviour.

[2022-03-25 15:57] Amruta-Ranade commented on #11434
Can we set up some time to walk through a couple connector pages in the docs and the UI? I'd love to know the technical possibilities/limitation and have ideas and concerns about the project that might be easier to discuss in a meeting than asynchronously.

[2022-03-25 16:08] alafanechere commented on #11340
Hey @hntan, you can actually call first call this [endpoint](https://airbyte-public-api-docs.s3.us-east-2.amazonaws.com/rapidoc-api-docs.html#post-/v1/sources/search) to check if the source exists.

[2022-03-25 20:37] igormp opened #11442 "Docker compose build never starts: "Database is not ready yet""
## Environment
- **Airbyte version**:  local dev build from commit 787daa996
- **OS Version / Instance**: Arch Linux
- **Deployment**: Local dev env
- **Severity**: Low
- **Step where error happened**: Deploy

## Current Behavior

After creating a local dev build with:
[code]

The instance never starts up, with the following compose logs:
[code]

Whereas the db's container has the following log:
[

[2022-03-25 20:55] #11195 closed

[2022-03-26 00:34] sherifnada opened #11448 "Hubspot: Better support for high volume syncs"
## Tell us about the problem you're trying to solve
If my hubspot account contains a very large amount of data, the initial sync could take a very long time (1-2 days). This makes it very likely for that sync to fail because the chances of absolutely nothing going wrong for that long of a time are low.

For example, this sync [logs-91990.txt](https://github.com/airbytehq/airbyte/files/8354377/logs

[2022-03-27 01:37] lgomezm commented on #10474
I’ll start working on pagination support for the `Users` stream. Other streams, as @itaseskii commented, already support this feature.

[2022-03-27 07:55] alexbondar92 commented on #10968
@bazarnov I have tried it in k8s deployment and it worked.
probably issue with lack of resources - it will be great to log in this case

[2022-03-27 08:32] danieldiamond opened #11453 "Survey Monkey Response Stream (Incremental Setting) does not pull all responses for a survey"
## Environment
- **Airbyte version**:  0.35.50-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Survey Monkey 0.1.7
- **Destination Connector and version**: 0.4.17
- **Severity**: Critical
- **Step where error happened**: Sync

## Current Behavior
When a response stream is configured for "full-refresh" / "overwrite", all responses are pulled f

[2022-03-27 15:09] itaseskii commented on #11008
Hey @avaidyanatha I would like to tackle the **_Incremental Sync_** issue next. I have already written an explanation in the comment above on how I am planning to add incremental sync for each of the streams.

[2022-03-27 15:55] #10613 closed

[2022-03-27 20:58] sherifnada opened #11456 "Source Freshdesk: migrate to use CDK"
## Tell us about the problem you're trying to solve
The connector was written way before the current CDK version and is using outdated patterns.

## Describe the solution you’d like
it should be re-written using the latest CDK patterns

[2022-03-27 21:06] itaseskii commented on #10948
#11456

[2022-03-28 04:52] nataliekwong commented on #11434
@Amruta-Ranade and I chatted on Friday live. Some points I want to clarify:
- Each form field should relate to a bookmark within the setup guide. Clicking on the form field will jump to the bookmark in the corresponding part of the docs on the right-hand side. We aren't necessarily removing content, as the user would need to go through some setup even prior to the form, that would still need to be

[2022-03-28 06:38] sherifnada opened #11457 "SAT: improve test output report"
## Tell us about the problem you're trying to solve
Placeholder ticket for various improvements we need to make to the test output:

1. refactor test output report to indicate exactly which validations failed. Right now a single test contains many many assertions (e.g: basic read validates schema, validates any expected records exist, validates that extra fields are not present, etc...) which can

[2022-03-28 06:40] sherifnada commented on #11240
@nataliekwong apologies for missing this issue.

Do we have a clear idea of the magic wand version of this solution?

The "easiest way" to do this would be to add these file formats into the title of the connector, but that seems kind of janky given how long the title will be.

My understanding also is that it's not possible to create multiple "views" of the same connector image i.e: we can't just

[2022-03-28 06:45] sherifnada opened #11458 "SAT: document architecture of the test suite"
## Tell us about the problem you're trying to solve
New contributors coming to the codebase would be well served by an overview/README about the architecture of the test suite.

## Describe the solution you’d like
An .md doc describing the structure of the test suite to allow a new contributor to wrap their head around it and start making improvements

[2022-03-28 06:52] sherifnada opened #11459 "SAT: improve incremental test"
## Tell us about the problem you're trying to solve
The current SAT incremental test does a very simple assertion to verify that incremental sync works: it runs a full incremental sync, then gets the last STATE message output by the connector, runs a second sync with that STATE as input, then expects no records to be output.

This is not a very robust test due to how simple it is.

## Describe the

[2022-03-28 07:54] igrankova commented on #10100
Done by Alex Sheheda

[2022-03-28 07:55] igrankova opened #11461 "Research BigQuery (denormalized) destination connector"
## Complete the following exercise for BigQuery destination connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenti

[2022-03-28 07:55] igrankova commented on #11461
Done by Alex Sheheda

[2022-03-28 08:03] alexchouraki commented on #10613
Wonderful, thank you! Eager to try it :)

[2022-03-28 09:21] ro8inmorgan opened #11463 "error: json: unknown field "envs""
When trying to apply to kubernetes I get the following error

error: json: unknown field "envs"

command used:
"kubectl apply -k kube/overlays/stable"

[2022-03-28 09:40] ycherniaiev commented on #10098
@misteryeo Research is here: https://docs.google.com/document/d/1c6H7UcPkmdZQZBeIIOJ76k_cFGbT_lovj6k6jQZ2p7M/edit#

[2022-03-28 10:03] grubberr commented on #11011
According to docs this metric [bidPlus](https://advertising.amazon.com/API/docs/en-us/concepts/reporting/metrics#bidPlus) CAN be used for:
Ad type: Sponsored Products
Record types: campaigns
url: https://advertising-api-test.amazon.com/v2/sp/campaigns/report

It's not clear why Amazon Ads API response with error:

[code]

Probably we need to create jira issue here
https://amzn-clicks.atlassian.net

[2022-03-28 10:54] #11364 closed

[2022-03-28 10:54] #11366 closed

[2022-03-28 11:13] igrankova commented on #10101
@misteryeo the research is done

[2022-03-28 12:08] ro8inmorgan commented on #5091
Wish I read this before going through the hassle of setting up a kube install. Now I waisted my morning to this. This is a serious feature breaking bug

[2022-03-28 12:18] #4904 closed

[2022-03-28 12:18] #10758 closed

[2022-03-28 12:47] timroes opened #11466 "Set CSP headers correctly for webapp"
We currently don't set any [Content Security Policy](https://content-security-policy.com/) headers on our webapp. We should do that to prevent potential future Cross-Site-Scripting or other attack vectors due to malicious code.

Following steps need to be done:

- [ ] Evaluate which CSP headers are able to be activated for us (@timroes)
- [ ] Add the corresponding CSP headers into our nginx config

[2022-03-28 13:19] octavia-squidington-iii commented on #11466
cc @airbytehq/frontend

[2022-03-28 13:23] alafanechere commented on #9484
The maintainer of `dbt-mysql` published the latest version of the adapter to Pypi. We need to upgrade `dbt-mysql` to `1.0.0` to fix this issue.

[2022-03-28 14:17] andriikorotkov opened #11472 "GCS Destination: cover code with unit tests"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-03-28 15:02] igrankova commented on #10105
Done by Andrii Korotkov

[2022-03-28 15:32] jrhizor commented on #10601
@Jamakase: that's right, deleted ==`deprecated`.

[2022-03-28 15:40] #10591 closed

[2022-03-28 15:41] philippeboyd commented on #5590
@ChristopheDuong it works but it means that locally we have to work with a `dbt_packages`/`dbt_modules` folder at an upper folder level which is not the cleanest solution.

FYI, the default config has changed from `modules-path` to `packages-install-path` with a new default value of `dbt_packages`.

 https://docs.getdbt.com/reference/project-configs/packages-install-path

[2022-03-28 16:13] #11406 closed

[2022-03-28 16:30] girarda commented on #11334
The app was submitted for review on 03/25. We're waiting for an update on their end

[2022-03-28 16:58] alafanechere commented on #10774
Hi @azhard I exactly encountered the same problem using an Open API generated client for the octavia-cli project.
I did not want to make too many changes to the open API spec while working on this project, so I disabled the check on the return types from the client (e.g https://github.com/airbytehq/airbyte/blob/8c3b5fc613c3640c351d415cd8c36effd7fc57cf/octavia-cli/octavia_cli/apply/resources.py#L25

[2022-03-28 17:33] gavnate commented on #11323
We found adding the following to the `data` section of the [env-configmap.yaml](https://github.com/airbytehq/airbyte/blob/master/charts/airbyte/templates/env-configmap.yaml):

[code]

And then plumbing it through to the [worker deployments environment variables](https://github.com/airbytehq/airbyte/blob/1d12c7c6f7b60e4875e0a384caf3f0ad3be71e62/charts/airbyte/templates/worker/deployment.yaml#L36) l

[2022-03-28 17:50] gavnate commented on #11323
Not sure why the build is failing for this PR. It would also be handy to know if we need this in any other deployments in the helm chart.

[2022-03-28 18:35] kempspo commented on #11154
Hi @andriikorotkov , I used the same bucket but instead writing csv files and it worked perfectly. So I don't think it's the bucket that's the issue.

[2022-03-28 19:01] davydov-d opened #11477 "Source Google Analytics: increase unit test and acceptance test coverage"
1. Increase unit tests coverage up to at least 90%
2. Make all standard acceptance test pass

[2022-03-28 19:40] cgardens opened #11479 "Make it possible to see who is on call"
## Tell us about the problem you're trying to solve
Currently we update the description in the #oncall channel to keep track of who is on call. This is error prone (easy to forget). The reason we do this is because our source of truth for the on call rotation is in PagerDuty. This means that only people with PagerDuty accounts can look at the rotation (even if they are using the Slack - Pager Duty

[2022-03-28 20:12] igormp commented on #10548
Also facing the same issue, the offending PR seems to be [this one](https://github.com/airbytehq/airbyte/pull/10173/files), which was responsible for the version bump from 0.4.4 to 0.4.5.

I'm not that well versed into java, but I could try to debug this issue if someone could point where exactly I can look into that PR.

[2022-03-28 20:14] tino commented on #2017
At version 0.35.60-alpha I manage to get it up with:
[code]
however that crashes:

[code]

[2022-03-28 20:34] leoalmeidasant opened #11482 "S3 Destination ignoring s3_path_format argument"
## Environment
- **Airbyte version**:  example is 0.35.59-alpha
- **OS Version / Instance**: AWS EKS
- **Deployment**: Kubernetes
- **Destination Connector and version**: s3-destination 0.2.12
- **Severity**: medium
- **Step where error happened**: Sync job

## Current Behavior
After upgrading s3 destination connector from 0.2.10 to 0.2.12, the output ignoring argument `s3_bucket_path ` in s3 path

[2022-03-28 21:12] marcosmarxm commented on #9836
@lazebnyi do you need any additional info from me here?

[2022-03-28 21:49] HaithemSouala commented on #2227
+1

[2022-03-28 21:58] grishick commented on #11236
More context on this. A related issue came up during on call (cc @ChristopheDuong ). A source connector was continuing to pump out data, as the time went by, the rate was slowing down, but the connector was still working (not hung, just waiting for source API rate limits). After more than 3 days of running, the source connector got killed. I think, we need timeout settings that allow us to kill a

[2022-03-28 22:13] nataliekwong opened #11487 "Edit title of source/destination dropdown"
# Current
The current title for the source and destination dropdown is "Source Type" or "Destination Type", and we see users scrolling through the alphabetically organized list, rather than searching for the connector they have in mind.

![Screen Shot 2022-03-28 at 6 12 35 PM](https://user-images.githubusercontent.com/38087517/160495854-075840f1-6137-44ba-ab2b-21d2b109ebcb.png)

# Proposed
Modify

[2022-03-28 22:13] octavia-squidington-iii commented on #11487
cc @airbytehq/frontend

[2022-03-28 22:14] misteryeo commented on #8754
@harshithmullapudi We sort first by the Source Name alphabetically and then by the Destination Name alphabetically.

[2022-03-28 23:00] jagannathsrs opened #11488 "Stripe promotion codes stream bad request failure"
## Environment
- **Airbyte version**:  0.33.11-alpha
- **OS Version / Instance**: AWS EKS
- **Deployment**: Kubernetes deploy env
- **Source Connector and version**: Stripe 0.1.30
- **Destination Connector and version**: Snowflake 0.4.24
- **Severity**: High
- **Step where error happened**:Sync Job

## Current Behavior
The whole sync fails if promotion codes stream is selected.

## Expected Behavi

[2022-03-28 23:41] marcosmarxm opened #11490 "Source Amazon Ads: correct integration tests"
To merge [community contribution](https://github.com/airbytehq/airbyte/pull/10513) I needed to remove a few tests because we don't have permissions anymore.
Please check commit:  https://github.com/airbytehq/airbyte/pull/11480/commits/48b350eb0c0dae4ab6a8890b4c1b19d8fc795d33

Adding the tests back again are necessary to have a good CI coverage.

[2022-03-29 02:10] kpchen commented on #1877
+1 request

[2022-03-29 02:20] misteryeo commented on #11407
@Jamakase Hmm that's strange, I checked it now and the tooltips appear now. We can close this now - thank you!

[2022-03-29 02:20] #11407 closed

[2022-03-29 02:24] misteryeo commented on #10280
@grubberr moving to a new GA epic is fine - but just want to make sure that you're actually documenting the MLP feature gaps as separate issues and linking them like we did here for Hubspot: https://share.getcloudapp.com/JruOqQlK

[2022-03-29 02:31] misteryeo commented on #9296
1. One last clarification on this - can't the backend handle cloning of these secrets for both flows? I'm quite understanding why it would work when we copy from an existing source but not work when creating a new source from scratch. How are we able to pull out the credentials today for the `Existing Source` user flow is we don't have an API that returns the secrets used to fill in the fields? Do

[2022-03-29 02:37] misteryeo commented on #11240
Feels like the magic wand solution here would be:

As a user, if I type CSV, Parquet, Avros or any other file format that I'm looking to bring into my destination, the `Files` source is shown in the dropdown indicating that this supports the format I need.

It's like intelligent search - if I were to type `GCS`, even though our source name is `Google Cloud Storage`, it could still surface the righ

[2022-03-29 02:54] lgomezm commented on #10395
Hello @divyav. I've been trying to reproduce the issue and I have found this: If you want to sync blocks from subpages, you have to explicitly share them with your integration. Sharing a main page won't automatically share its subpages. I think that is why you can't see blocks from subpages.

I tried sharing both main pages and subpages with my test integration and it successfully syncs blocks fro

[2022-03-29 03:24] misteryeo commented on #11290
@andriikorotkov I've left my first round of comments in the spreadsheet. Please tag me as reviewer for docs and spec.json updates - I'll likely have more comments in the PR to add. Thanks!

[2022-03-29 04:10] nataliekwong commented on #11240
Agreed on pursuing option 2.

On Mon, Mar 28, 2022 at 10:37 PM Andy ***@***.***> wrote:

[2022-03-29 05:46] grubberr opened #11493 "black 22.1.0 failed, it requires click 8.1.0"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-03-29 06:41] tino commented on #11277
Is it just me trying out the docker compose setup?

[2022-03-29 07:13] shyngysnurzhan commented on #9584
Hi, Marcos, can you suggest where can I get docker-container-name and 4-length-hash?

[2022-03-29 07:38] bazarnov commented on #11154
@kempspo please confirm source-connector works as expected in this case?

[2022-03-29 07:49] kempspo commented on #11154
@bazarnov, yep it works as expected, it's what I'm currently using while parquet files aren't working. Exactly the same setup (source-connector) except for the file type

[2022-03-29 08:12] ChristopheDuong commented on #11482
Thanks for the report!

Sorry about that, I'm going to merge the "old" `s3_bucket_path` and "new" `s3_path_format` fields together then

[2022-03-29 09:39] #11482 closed

[2022-03-29 09:39] ChristopheDuong commented on #11482
Thanks for reporting this!

[2022-03-29 10:17] #10685 closed

[2022-03-29 10:57] ycherniaiev commented on #10103
Done by @VitaliiMaltsev https://docs.google.com/document/d/1SG8zUJWW58hY_zXEWuIYEN6qL01CMSftJs2juv43XNE/edit#heading=h.22fd5raysmm3

[2022-03-29 11:13] #11493 closed

[2022-03-29 11:48] igrankova commented on #10102
@misteryeo the research is done

[2022-03-29 11:53] marcosmarxm commented on #9584
It's not possible today, this issue suggest the container name and hash as a solution

[2022-03-29 12:12] igrankova commented on #11281
@harshithmullapudi, please check creds in the LastPass, name: Pivotal Tracker OAuth

[2022-03-29 13:22] alafanechere opened #11500 "🐛 Source Shopify: parent stream are not cached, which leads to slowness in load."
# What
Loading substreams, such as `inventory_items` is slow.

## Current Behavior
Substream, such as `inventory_items` relies on parent stream records to build their request.
Parent streams do not have the `use_cache` attribute which means N+1 requests are not cached, e.g. :
* For each inventory item an HTTP request is made to retrieve the product, leading to potential slowness and rate-limiting.

[2022-03-29 13:24] alafanechere commented on #11500
@bazarnov I saw that you recently contributed on a state caching logic in https://github.com/airbytehq/airbyte/pull/10915

Is there something that prevents us from using `use_cache` on parent streams?

[2022-03-29 14:42] seonixx commented on #10548
Same problem here - no tables appear - had to revert back to 0.4.4.

[2022-03-29 14:49] sashaNeshcheret opened #11503 "S3 Destination: Increase unit test coverage to at least 90%"
Need to increase unit test coverage to at least 90%.

![Screenshot from 2022-03-29 17-44-39](https://user-images.githubusercontent.com/33333155/160638999-92e7849a-0520-42a8-8d10-667ac6163d97.png)

[2022-03-29 16:10] #9687 closed

[2022-03-29 16:56] pmossman commented on #11137
Grooming notes:
- high level idea: when an OSS commit is pushed to master, there should be a Cloud build attempt. If that cloud build fails, there should be some sort of notification to Slack, probably
- Who takes action on the slack notification? Is it the author of the OSS commit?
- Could do some sort of comment/warning/etc if certain folders are changes (like persistence, configurationApi, etc)

[2022-03-29 17:09] pmossman commented on #11134
Grooming notes:
- Overlap with the other Spring spike: need some way to start a Spring context infrastructurally. The shaded airbyte server jar with classpath pollution will likely be an issue
  - Jonathan is basically stuck at this point, classes conflict with the server that is very difficult to exclude.
  - Airbyte server jar cleanup is on the infrastructure roadmap, but M1 cleanup is happening

[2022-03-29 17:16] girarda opened #11508 "Source Google Ads makes invalid requests if end date > today"
## Tell us about the problem you're trying to solve

The google ads source will make requests for all dates up to the `end_date`.
If the `end_date` is set in the future, the source will make requests for dates that do not have any data.

This is the root cause of https://github.com/airbytehq/alpha-beta-issues/issues/38, where an `end_date` set to `2100-01-01` cause syncs to last hours because it's

[2022-03-29 17:18] azhard commented on #10774
Thanks for getting back to me @alafanechere, for reference we've implemented our own version of `octavia_cli` to version control and enable CI/CD of our Airbyte configs / deployments, so that's where we're running into issues.

Right now we're getting around the inconsistencies by making some manual changes to the generated open api client which is enough for now. Would be great if it could be fix

[2022-03-29 17:23] pmossman commented on #11279
Grooming notes:
- incorrect record type validation that happens in the sync worker, fail loudly in an obvious way
- We already fail when this happens, but it happens way downstream and is hard to trace back to the root cause
- Question: performance impact on syncing large amounts of data? How to do this performantly? Do we sample the data to avoid validating every single message?
- We're already d

[2022-03-29 17:24] cgardens commented on #11279
@sherifnada can you give us context into how much customer pain and OC time this is causing? For context, we are trying to reason about what performance tradeoffs we are willing to take in this implementation. The more pain it is causing the more tolerant we are of performance hit.

[2022-03-29 17:33] pmossman commented on #11479
Grooming notes:
- Let's say Adam (head of sales) wants to page the OC person. He doesn't have a pagerduty account. But if we had an OC bot that can read the pagerduty schedule, that might get us there.
- Topher: in the past has used an email address that sends to the current OC person
- We have a strong Slack culture, want to be able to Slack message the OC person. OC email alias not a bad idea re

[2022-03-29 17:39] #11500 closed

[2022-03-29 17:40] alafanechere commented on #11500
Thank you @bazarnov for this detailed answer!

[2022-03-29 18:03] kodeine commented on #11323
@gavnate is this fix merged into official version?

[2022-03-29 18:10] misteryeo commented on #11508
@edgao FYI

[2022-03-29 18:11] edgao opened #11510 "Source Google Ads should natively support a more complete set of report streams"
Google Ads provides many reports, of which we currently only natively support a few. Specifically, to reach parity with Fivetran, we would need to add several reports.

A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporting the report stre

[2022-03-29 19:21] octavia-squidington-iii commented on #9375
Marcos Marx commented: One thing to note is that `MAX_SUMBITTER_THREADS = (MAX_SYNC_WORKERS + MAX_SPEC_WORKERS + MAX_CHECK_WORKERS + MAX_DISCOVER_WORKERS)` which means even though you set it to 50 if you have 50 discover jobs, all other types of works will be in pending state and wait for discover schemas to finish. Maybe there's an issue with check/discover workers that's not letting them finish?

[2022-03-29 19:21] octavia-squidington-iii commented on #10748
Marcos Marx commented: > ```

Yeah, increased no effect. Same. Check my other comment on current values for these

[2022-03-29 19:23] octavia-squidington-iii commented on #10548
Marcos Marx commented: Just tried 0.4.9 which still has this issue for me.

[2022-03-29 19:23] octavia-squidington-iii commented on #10548
Marcos Marx commented: Have the same issue!

[2022-03-29 19:23] octavia-squidington-iii commented on #10548
Marcos Marx commented: Also facing the same issue, the offending PR seems to be [this one](https://github.com/airbytehq/airbyte/pull/10173/files), which was responsible for the version bump from 0.4.4 to 0.4.5.

I'm not that well versed into java, but I could try to debug this issue if someone could point where exactly I can look into that PR.

[2022-03-29 19:24] octavia-squidington-iii commented on #10388
Marcos Marx commented: I agree that 2 would be ideal, especially because there will be other cases where people need to upload custom or self-signed SSL certificates potentially for any connector and supporting a code path to install certificates on a per-connector basis would solve that problem for every connector including this RDS case.

That being said I don't know if this option currently exi

[2022-03-29 19:36] octavia-squidington-iii commented on #8618
Marcos Marx commented: > @bazarnov just to make sure we are aligned, this is not a blocking ticket for Beta certification as it's not required for feature parity w alternative solutions

Got your point, I was wondering what we could get from Shopify data, based on customer's request here.

[2022-03-29 19:41] octavia-squidington-iii commented on #8099
Marcos Marx commented: @tehnorm
Maybe we should try a local CSV destination or similar, and see if it's a source problem or a mapping to destination problem..
It's going to be a minute before I get to that..

[2022-03-29 20:14] sherifnada commented on #11183
FYI it is currently possible to set a timeout option in SATs' config YAML, but it suffers from the following issue https://github.com/airbytehq/airbyte/issues/5730

[2022-03-29 20:15] itaseskii opened #11515 "Temporal activity heartbeat from incorrect thread"
## Environment
- **Airbyte version**:  latest
- **OS Version / Instance**: Ubuntu 20
- **Deployment**: Docker
- **Source Connector and version**: N/A
- **Destination Connector and version**: N/A
- **Severity**: High
- **Step where error happened**: ReplicationActivityImpl, NormalizationActivityImpl, DbtTransformationActivityImpl

## Current Behavior

The current **_TemporalUtils_** implementation

[2022-03-29 21:05] #11508 closed

[2022-03-29 21:29] charbelrseif commented on #8618
Hey guys! I don't get the visits data currently, but it would be awesome to get it to be able to report attribution from Shopify. It looks like Shopify doesn't expose he visits API but a workaround would be to go through the /reports endpoint for Shopify plus users.

Isn't there a way to create a test store on a PLUS plan?

[2022-03-29 22:14] jrhizor commented on #11515
Thanks for the very clear issue + the test to reproduce! We'd be happy to review a fix. Please let us know if there's input you need from our side to do the refactor.

[2022-03-29 23:32] willsargent commented on #8099
Deepest apologies, as this problem was traced, identified and solved with the code in the PR, but I messed up the PR with a bunch of files that should have been .ignored.  I'll clean it up tomorrow
@Madhukarsprabhakara
Here's the procedure to build local docker image:
Clone repo locally,
In directory airbyte/airbyte-integrations/connectors/source-smartsheets
Run command:
Tested with python 3.9.10,

[2022-03-30 00:11] edgao opened #11530 "Source Google Ads should natively support the ad_customizers_feed_item_report stream"
## Tell us about the problem you’re trying to solve\nOur GAds source does not currently support the ad_customizers_feed_item_report stream.\n\n## Describe the alternative you’ve considered or used\nA workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the repor

[2022-03-30 00:12] edgao opened #11531 "Source Google Ads should natively support the ad_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the ad_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporting

[2022-03-30 00:14] edgao opened #11532 "Source Google Ads should natively support the adgroup_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the adgroup_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Suppor

[2022-03-30 00:14] edgao opened #11533 "Source Google Ads should natively support the age_range_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the age_range_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supp

[2022-03-30 00:14] edgao opened #11534 "Source Google Ads should natively support the audience_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the audience_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Suppo

[2022-03-30 00:15] edgao opened #11535 "Source Google Ads should natively support the bid_goal_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the bid_goal_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Suppo

[2022-03-30 00:15] edgao opened #11536 "Source Google Ads should natively support the call_metrics_call_details_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the call_metrics_call_details_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report.

[2022-03-30 00:15] edgao opened #11537 "Source Google Ads should natively support the campaign_ad_schedule_target_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the campaign_ad_schedule_target_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report

[2022-03-30 00:16] edgao opened #11538 "Source Google Ads should natively support the campaign_location_target_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the campaign_location_target_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. S

[2022-03-30 00:16] edgao opened #11539 "Source Google Ads should natively support the campaign_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the campaign_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Suppo

[2022-03-30 00:16] edgao opened #11540 "Source Google Ads should natively support the click_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the click_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporti

[2022-03-30 00:16] edgao opened #11541 "Source Google Ads should natively support the creative_conversion_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the creative_conversion_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Suppor

[2022-03-30 00:16] edgao opened #11542 "Source Google Ads should natively support the criteria_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the criteria_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Suppo

[2022-03-30 00:17] edgao opened #11543 "Source Google Ads should natively support the final_url_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the final_url_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporting the r

[2022-03-30 00:17] edgao opened #11544 "Source Google Ads should natively support the gender_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the gender_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Support

[2022-03-30 00:17] edgao opened #11545 "Source Google Ads should natively support the geo_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the geo_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporting

[2022-03-30 00:17] edgao opened #11546 "Source Google Ads should natively support the keywordless_category_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the keywordless_category_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Suppo

[2022-03-30 00:17] edgao opened #11547 "Source Google Ads should natively support the keywordless_query_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the keywordless_query_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporti

[2022-03-30 00:17] edgao opened #11548 "Source Google Ads should natively support the keywords_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the keywords_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Suppo

[2022-03-30 00:18] edgao opened #11549 "Source Google Ads should natively support the landing_page_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the landing_page_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporting th

[2022-03-30 00:18] edgao opened #11550 "Source Google Ads should natively support the marketplace_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the marketplace_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Su

[2022-03-30 00:18] edgao opened #11551 "Source Google Ads should natively support the paid_organic_query_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the paid_organic_query_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Support

[2022-03-30 00:18] edgao opened #11552 "Source Google Ads should natively support the parental_status_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the parental_status_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report

[2022-03-30 00:18] edgao opened #11553 "Source Google Ads should natively support the placeholder_feed_item_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the placeholder_feed_item_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supp

[2022-03-30 00:19] edgao opened #11554 "Source Google Ads should natively support the placeholder_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the placeholder_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporting the

[2022-03-30 00:19] edgao opened #11555 "Source Google Ads should natively support the placement_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the placement_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supp

[2022-03-30 00:19] edgao opened #11556 "Source Google Ads should natively support the product_partition_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the product_partition_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporti

[2022-03-30 00:19] edgao opened #11557 "Source Google Ads should natively support the search_query_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the search_query_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. S

[2022-03-30 00:19] edgao opened #11558 "Source Google Ads should natively support the top_content_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the top_content_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Su

[2022-03-30 00:20] edgao opened #11559 "Source Google Ads should natively support the user_ad_distance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the user_ad_distance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supportin

[2022-03-30 00:20] edgao opened #11560 "Source Google Ads should natively support the video_performance_report stream"
## Tell us about the problem you’re trying to solve
Our GAds source does not currently support the video_performance_report stream.

## Describe the alternative you’ve considered or used
A workaround does exist, in that users can write a custom query to pull these reports. However, this is quite a bit more tedious, since they would need to manually enter all the field names in the report. Supporti

[2022-03-30 00:22] edgao commented on #10786
new issues for the streams that fivetran supports that we currently do not:

* https://github.com/airbytehq/airbyte/issues/11530
* https://github.com/airbytehq/airbyte/issues/11531
* https://github.com/airbytehq/airbyte/issues/11532
* https://github.com/airbytehq/airbyte/issues/11533
* https://github.com/airbytehq/airbyte/issues/11534
* https://github.com/airbytehq/airbyte/issues/11535
* https://g

[2022-03-30 00:23] edgao commented on #11510
separated into separate issues, listed here https://github.com/airbytehq/airbyte/issues/10786#issuecomment-1082491811

[2022-03-30 00:23] #11510 closed

[2022-03-30 00:56] sherifnada commented on #10392
marking this as blocked pending a response from @bigdatawonders

[2022-03-30 00:57] octavia-squidington-iii commented on #11343
Marcos Marx commented: Thanks for requesting this @arvind-workit

[2022-03-30 01:04] octavia-squidington-iii commented on #11251
Marcos Marx commented: Thanks for opening the isse @TSkrebe, team will investigate further.

[2022-03-30 01:12] octavia-squidington-iii commented on #11251
Marcos Marx commented: Another test.

[2022-03-30 01:12] octavia-squidington-iii commented on #11251
Marcos Marx commented: Testing

[2022-03-30 01:28] #10786 closed

[2022-03-30 05:04] sherifnada opened #11564 "Autocommit connector specs & bumped index version after running `publish`"
## Tell us about the problem you're trying to solve
Publishing a new version of a connector involves [many steps](https://docs.airbyte.com/connector-development#publishing-a-connector):
1. Bump the Dockerfile connector version
2. run `/publish`
3. bump `source_definitions.yaml` or `destination_definitions.yaml`
4. Run `./gradlew :airbyte-config:init:processResources` & commit the changes
5. merge

[2022-03-30 07:48] harshithmullapudi commented on #11281
Sure thank you @igrankova

[2022-03-30 07:59] grubberr opened #11565 "Source Github: get_updated_state problem on `reviews` stream"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-03-30 07:59] grubberr opened #11566 "Source Github: `get_updated_state` problem on `reviews` stream"
## Environment
- **Airbyte version**:  0.35.50-alpha
- **OS Version / Instance**: Linux EC2 m5.4xlarge
- **Deployment**: Docker
- **Source Connector and version**: GitHub (0.2.23)
- **Destination Connector and version**: Snowflake (0.4.24)
- **Severity**: Very Low / Low / Medium / High / Critical
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade

[2022-03-30 08:06] jablonskijakub commented on #9012
thanks a lot. @etsybaev could you please share an update with us?

[2022-03-30 08:26] igrankova commented on #7028
the integration is merged

[2022-03-30 08:26] #7028 closed

[2022-03-30 09:34] VitaliiMaltsev opened #11572 "Redshift Destination: cover code with unit tests"
It is necessary to cover code with unit tests

[2022-03-30 09:43] #11084 closed

[2022-03-30 09:45] DoNotPanicUA commented on #9444
Hi @edgao ,
I've executed our tests for all Java destinations and now we have a full picture.
Please note that I did some improvements that I mentioned in the #9443 issue. I will create a PR for the common part and will prepare separated PRs to enable tests for destinations where it works fine.
What is the next step? Shall we create tickets for non-compatible destinations and fix them?

[2022-03-30 10:05] alafanechere opened #11575 "🎁 octavia-cli: add options to `list connectors` to list latest available connector version"
We should offer the ability to users to list the latest available connectors version on Airbyte.
This can be useful to check if a connector update is required in a scripting context.

[2022-03-30 10:19] #11416 closed

[2022-03-30 10:33] smoussa commented on #9552
Hey @tuliren, @alafanechere. Any updates on this? We are having to rebuild our connections again every time our table schemas change.

[2022-03-30 11:33] bazarnov commented on #11021
@misteryeo
The source Zendesk Support is released to Cloud Prod and oAuth flow is tested. Please proceed with your review. Thank you.

[2022-03-30 11:37] #10870 closed

[2022-03-30 12:06] #10280 closed

[2022-03-30 12:35] etsybaev commented on #10033
https://github.com/airbytehq/oncall/issues/185

[2022-03-30 12:57] igrankova commented on #8939
no changes needed

[2022-03-30 12:57] #8939 closed

[2022-03-30 12:58] #8946 closed

[2022-03-30 12:59] igrankova commented on #8744
destination-e2e-test - no changes needed

[2022-03-30 13:05] #10632 closed

[2022-03-30 14:10] VitaliiMaltsev opened #11580 "Destination Redshift: improve check performance"
Improve _check_ method connection time if possible

[2022-03-30 14:31] ChristopheDuong opened #11581 "Deduped History sync mode for source-google-sheet"
## Tell us about the problem you're trying to solve
Currently, source-google-sheet supports only the following sync modes:
- Full refresh - overwrite
- Full refresh - append

## Describe the solution you’d like
Even if it's not possible to do incremental sync modes for that source, it would be nice to allow deduped history mode on the destination side of the sync mode.

This would require a cursor

[2022-03-30 14:42] girarda opened #11582 "[EPIC] Connector as Configuration"
## Tell us about the problem you're trying to solve
Iterate on the next version of CDK to enable developers to build connectors with as little code as possible

## Describe the solution you’d like
Build a new connector by writing a yaml config file describing how the data can be retrieved from the source

Because the end goal is to improve the developer's experience, this issue is broken down into

[2022-03-30 14:43] girarda opened #11584 "Implement first draft of DSL representing a Stripe Connector"
## Tell us about the problem you're trying to solve
I'd like to better understand what it takes to turn a connector into a declarative configuration. As a first step in the scoping process, I'll implement parts of the Stripe connector.

Stripe-specific logic and constants should be extracted to the spec so as to paint a better picture of what a generic connector would look like.

Connector scope:

[2022-03-30 14:58] girarda opened #11585 "Python onboarding for DX team"
## Tell us about the problem you're trying to solve
The DX team is onboarding many engineers this quarter. Not everyone is a python expert. We should find a book / series of tutorial and speedrun the learning process.

Some things I'd expect us to cover:
* Generators
* Magic methods
* Async
* Design patterns

[This guide](https://python-patterns.guide/) lists many common python design patterns, bu

[2022-03-30 15:30] timroes opened #11586 "Credits chart axis should calculate dynamic width"
The credit consumption chart currently has a fixed width causing the tick labels to be cut off depending on their length. The axis width should be calculated dynamically.

![screenshot-20220330-172907](https://user-images.githubusercontent.com/877229/160872977-379f5e51-bb1f-49ff-99ba-8725458d031e.png)

[2022-03-30 15:30] octavia-squidington-iii commented on #11586
cc @airbytehq/frontend

[2022-03-30 16:03] davydov-d opened #11589 "Source Zoho CRM: implement OAuth2.0 support"

[2022-03-30 16:16] #11124 closed

[2022-03-30 16:28] timroes commented on #11431
One additional API that we'd need is an API that returns us all allowed time zones for the cronjob (since JavaScript and Java libraries tend to support different time zones), i.e. that API should return an array of strings with allowed time zone names.

We should also make sure we're limit the API to create/edit a schedule to only accept those time zone names and fail with a 400 when a different t

[2022-03-30 16:58] sherifnada commented on #8618
@bazarnov were getting oauth approval from Shopify at the moment, let's wait to get that first then we'll apply for that access

[2022-03-30 17:20] tuliren opened #11593 "Debug periodic connector tests not running daily"
Based on the build statuses [here](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/builds.md), it looks like the automatic connector integration test stopped running since March 6th. This is not intended, and probably a bug.

[2022-03-30 18:35] #8870 closed

[2022-03-30 18:36] sherifnada opened #11595 "Source Intercom: Support high volume syncs"
## Tell us about the problem you're trying to solve
A user was trying to sync a high volume instance of Intercom (logs below). The connector spent many hours (50+ hours) syncing data from the contacts stream. This is a bad user experience as it does not allow them to make use of the product and data quickly.
[logs-97415.txt](https://github.com/airbytehq/airbyte/files/8383210/logs-97415.txt)

## De

[2022-03-30 18:37] edgao commented on #9444
nice! Yep, next step would be to make tickets and fix the destinations that don't work. Can you add them to the `Noncompliant destinations` section on the epic? https://github.com/airbytehq/airbyte/issues/9441

[2022-03-30 18:44] itaseskii commented on #11515
Great! There are no questions for now, but once I start working on the issue If something needs to be clarified related to the implementation details I will let you know,

[2022-03-30 18:47] benmoriceau opened #11597 "Test"
test

[2022-03-30 18:48] #11597 closed

[2022-03-30 18:49] benmoriceau opened #11598 "Test"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2022-03-30 18:49] #11598 closed

[2022-03-30 18:49] benmoriceau opened #11599 "Test"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-03-30 18:50] #11599 closed

[2022-03-30 19:05] sherifnada opened #11600 "Auto-add new connectors issues to the right connectors project"
# Description

The platform team has [setup a way](https://github.com/airbytehq/airbyte/blob/master/.github/workflows/platform-project-automation.yml) to move issues with the correct Github projects. I would like for connectors-related issues to also move to the correct github project.

issues labelled with `area/dx`, `cdk`, `cdkv2`, `Acceptance Tests`, or `` (or any other labels I'm forgetting)

[2022-03-30 20:40] octavia-squidington-iii commented on #3092
Marcos Marx commented: Hi all, have anyone tried this.
I have one concern, how do you define `successful` job? for example, if I am syncing a 80 mil records, the min incremental value is 1970-01-01, but I only want to extract from 2018-01-01. Then how can I do it?
Thank you.

[2022-03-30 21:13] pmossman opened #11603 "Spike: implement per-record validation and measure performance impact"

[2022-03-30 22:14] nmacri commented on #4407
@misteryeo @harshithmullapudi @cgardens Adding a small piece of community feedback to this issue.  I can see that that connection name is configurable now in the UI 🎉 .  It would also be helpful to have that name (or a sensible default) populated on the listing page for connections in the UI.  We are configuring connections using the Octavia CLI and generating separate connections for each stream

[2022-03-30 22:34] benmoriceau opened #11604 "Migration from no secret to a secret store"
## Tell us about the problem you're trying to solve
When switching to a secret store we need to move the secret from the config DB to the secret store.

In order to do that we need to add a new step in `BootloaderApp` which will go through all the config and insert the secret in the secret store and update the config to have the secret name instead of the plain text secret value.

[2022-03-30 22:46] benmoriceau opened #11605 "Setup vault"
## Tell us about the problem you're trying to solve
If our client don't use a secret store, we need to deploy a secret store as part of the kube or docker deployment.

The secret manager is [vault](https://hub.docker.com/_/vault).

This vault deployment must not be initialize and unseal manually since it should be transparent for our user. In order to do that, we can use [vault-init](https://githu

[2022-03-30 23:07] git-phu opened #11606 "update the webapp to use the new workspace scoped endpoints for CRUD/list of connector definitions"
relates to https://github.com/airbytehq/airbyte/issues/9652

Several API methods need to be changed to work with the new workspace-scoped connector definitions:

- `getSourceDefinition()` => `getSourceDefinitionForWorkspace()`
- `getDestinationDefinition()` => `getDestinationDefinitionForWorkspace()`
- `listSourceDefinitions()` => `listSourceDefinitionsForWorkspace()`
- `listDestinationDefinitions

[2022-03-30 23:10] git-phu opened #11607 "create a migration to convert all existing custom connector definitions in oss deployments to be custom definitions"
relates to airbytehq/airbyte#9652

create a migration to convert all existing custom connector definitions in oss deployments to be correctly configured as custom definitions based on the new schema changes

should be released together with the ui changes to use scoped connector definition endpoints

[2022-03-30 23:32] malikdiarra opened #11608 "Remove the use of ConfigPersistence"
follow up on https://github.com/airbytehq/airbyte/issues/8451. That issue involve replacing all inefficient database access pattern with more efficient sql queries as a short term fix

While this solves the performances issues on the Airbyte UI, this creates a bit of technical debt in the code. ConfigRepository relies partly on ConfigPersistence.
ConfigPersistence provide some low level functions

[2022-03-31 02:53] sherifnada commented on #11395
FYI @girarda edward wrote this blurb about setting up python when he got started https://docs.google.com/document/d/1l4YiCVwX7uqFKTyUYd2sRjhys5S2_dSTNrI8xQmxaw0/edit#heading=h.qjfg7ph3h8q

it may help to include it in the public docs for the monorepo dev as well https://docs.airbyte.com/contributing-to-airbyte/monorepo-python-development

[2022-03-31 06:44] burmecia commented on #11413
After some debugging, I found this issue was caused by:

1. Slack API response header `Retry-After` for `conversations.history` endpoint is too small, it is always 1 second which keeps this Slack source connector calling it every 1 second, this caused many rates-limit calls thus data extraction is very slow .
2. The Slack source connector extracts messages from all channel for each datetime slice.

[2022-03-31 07:08] octavia-squidington-iii opened #11612 "Hi Everyone, I am trying to use the open source faros connector but getting this below and i tried this with multiple connector same error..."
Hi Everyone, I am trying to use the open source faros connector but getting this below and i tried this with multiple connector same error coming when i try to pull it inside airbyte source section. ```ERROR i.a.s.RequestLogger(filter):110 - REQ 172.18.0.2 POST 500 /api/v1/source_definitions/create - {"name":"okta","documentationUrl":"","dockerImageTag":"latest","dockerRepository":"connectprakash/

[2022-03-31 07:08] octavia-squidington-iii commented on #11612
Marcos Marx commented: <@Marcos Marx> please let me know if you want me to create this ticket. thank you for helping me [slack]

[2022-03-31 07:28] bazarnov commented on #8618
Let's include `reports` stream enhancement for GA certification.

[2022-03-31 07:29] davydov-d commented on #4934
#11589

[2022-03-31 07:30] bazarnov commented on #11035
@AnatolePledg @anduresu @lgomezm
Please reply to previous message once you test the 0.2.2 version.

[2022-03-31 07:43] AnatolePledg commented on #11035
Hi @bazarnov ,
I haven't faced this issue for many days now, at least since my upgrade to 0.2.2 a week ago.
I will close this issue in a week if the problem hasn't reappeared

[2022-03-31 07:44] bazarnov commented on #11035
@AnatolePledg
Got it. Sounds great, moving this issue to `On Hold` for now.

[2022-03-31 07:46] timroes commented on #4407
@misteryeo I think the mocks for this conflict with our plans for adding cron expressions as a schedulign option (see https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=32245%3A149479), which would already use the space beside the replication interval. When building this we should keep this in mind, and make sure the connection name will take a separate layout than the cron expressi

[2022-03-31 07:49] bazarnov commented on #11021
The last outstanding bug: https://github.com/airbytehq/airbyte/issues/11035 is no longer the issue, it should be covered by the `0.2.2` version of `source-zendesk-support`. More info here: https://github.com/airbytehq/airbyte/issues/11035#issuecomment-1084214386

[2022-03-31 07:56] bazarnov opened #11614 "unblock & release source-linkedin-ads to Cloud Prod"

[2022-03-31 09:12] bazarnov commented on #11614
Closed due to https://github.com/airbytehq/airbyte-cloud/pull/1337 is merged into master.

[2022-03-31 09:12] #11614 closed

[2022-03-31 09:23] jrhizor opened #11615 "remove status check interval env vars on cloud"
after https://github.com/airbytehq/airbyte/pull/11083 is merged we can remove all usages of `DEFAULT_WORKER_STATUS_CHECK_INTERVAL`, `SPEC_WORKER_STATUS_CHECK_INTERVAL`, etc from the cloud codebase.

[2022-03-31 09:25] jrhizor opened #11616 "have KubePodProcess.waitForInitPodToRun use a watcher instead of waitUntilConditions"
After merging https://github.com/airbytehq/airbyte/pull/11083, we can slightly improve latency and simplify the control flow of `KubePodProcess` if we use the watcher inside `waitForInitPodToRun` instead of using `waitUntilConditions` calls.

[2022-03-31 10:17] webtekindo opened #11619 "Posgresql to MySQL normalization error"
## Environment
- **Airbyte version**:  0.35.63-alpha
- **OS Version / Instance**: Debian Stretch
- **Deployment**: Docker
- **Source Connector and version**: Postgresql 0.4.9
- **Destination Connector and version**: MySQL connector 0.1.18 (10.3.28-MariaDB)
- **Severity**: Critical
- **Step where error happened**: Sync job Normalization

## Current Behavior
Error during normalization.

With the sam

[2022-03-31 10:24] bazarnov commented on #11024
@misteryeo
Please proceed with the review for LinkedIn Ads Beta Status.

[2022-03-31 11:01] jrhizor opened #11621 "fix socket timeout exceptions on failed stream close on kubernetes"
The underlying issue for https://github.com/airbytehq/oncall/issues/140 is possible to reproduce across a portion of syncs run in load testing.

[2022-03-31 11:01] #10466 closed

[2022-03-31 11:27] grubberr commented on #11566
After subsequent testing on client side problem still exists

[code]

https://docs.github.com/en/rest/reference/pulls#create-a-review-for-a-pull-request

Pull request reviews created in the `PENDING` state do not include the `submitted_at` property in the response.

[2022-03-31 11:43] #11397 closed

[2022-03-31 11:43] #11396 closed

[2022-03-31 11:44] jrhizor commented on #7453
Closing this. There are still some followup issues but it probably makes sense to track those independently of this.

[2022-03-31 11:44] #7453 closed

[2022-03-31 11:52] webtekindo commented on #11619
When I try docker run --rm -i -v airbyte_workspace:/data -w /data/$NORMALIZE_WORKSPACE/normalize --network host --entrypoint /usr/local/bin/dbt airbyte/normalization debug --profiles-dir=. --project-dir=.

I get error **Error importing adapter: No module named 'dbt.adapters.mysql'**

[code]

[2022-03-31 11:55] jrhizor commented on #10934
This should be fixed in [0.35.63-alpha](https://github.com/airbytehq/airbyte/releases/tag/v0.35.63-alpha). We've tested this for the case we were seeing on GKE.

@Kopiczek please create another issue (and reference this one) if our fix in the new version doesn't address the problems you were seeing.

[2022-03-31 11:55] #10934 closed

[2022-03-31 11:58] thisisile commented on #10572
@marcosmarxm Thank you. Do let me know when this is resolved.

[2022-03-31 12:08] jrhizor commented on #11621
Also confirmed we are seeing this occasionally on Cloud still (according to worker logs). Instances of the failure can be found in GCP log explorer with:
[code]

[2022-03-31 12:10] webtekindo commented on #11619
I reinstall airbyte from git with tag **v0.35.60-alpha** and it works perfect. I tried again with latest **v0.35.63-alpha** but same error as before.

[2022-03-31 13:39] lazebnyi commented on #10250
Fixed in https://github.com/airbytehq/airbyte/pull/9746

[2022-03-31 13:39] #10250 closed

[2022-03-31 13:44] sashaNeshcheret opened #11627 "🐛 During sync from source to S3 destination int, long, float, double data types are mapped to double type in Avro and Parquet files."
The issue was found during creating MLP documentation for s3 destination. It is complex issue that consists of source and destination parts.
On source side we have several primitives json schema types, one of them is Number. So all numeric source data types (int, long, float, etc) are mapped to number json schema type.
On destination side simple number json schema types is mapped to double type.
F

[2022-03-31 13:46] lazebnyi commented on #9572
Fixed in https://github.com/airbytehq/airbyte/pull/11206

[2022-03-31 13:46] #9572 closed

[2022-03-31 14:18] misteryeo commented on #4407
Good point, thanks @timroes for spotting that. Will dig into this!

[2022-03-31 15:16] #8451 closed

[2022-03-31 15:33] jrhizor commented on #11621
see https://github.com/airbytehq/airbyte/pull/11083#issuecomment-1084422213 for more info

[2022-03-31 15:46] jrhizor commented on #11621
For current sprint:
- Try to come up with an approach to debug the issue / see how we can instrument these syncs to see what's happening better.
- Also it may be worthwhile to figure out how we can get this down to a level where we can reproduce this more cheaply without upgrading nodes massively and running hundreds of syncs over and over.
- I likely won't have time to fix this and may need to se

[2022-03-31 15:49] pmossman opened #11631 "Remove KubeCost"

[2022-03-31 16:42] itaseskii commented on #10947
Hey @avaidyanatha I would like to wrap up the last unit tests coverage task left. Can you please assign it on me?

[2022-03-31 17:13] ChristopheDuong commented on #10260
How are the 6M rows split on how many tables?
If it's coming from a large number of tables. then yes it might be related to what is being targeted by this epic issue and the one you linked.

A workaround would be to split your connection and select only a few tables because the connector is allocating a large buffer for each stream all at once.

For ETA, I don't know. maybe @grishick  can answer t

[2022-03-31 17:22] Jamakase commented on #10181
Looks like `typescript-fetch` generator works much better.

[code]

[2022-03-31 17:31] grishick commented on #11593
The tests are running again. Looks like we had a whole bunch of problems during the last 3 weeks: EC2 not being able to start, API rate limits, a typo (fixed here https://github.com/airbytehq/airbyte/pull/11592).

[2022-03-31 17:40] gustavohwulee opened #11635 "Destination Databricks: use s3 location on create database"
## Environment
- **Airbyte version**:  0.35.60-alpha
- **OS Version / Instance**: Windows 10 +  Ubuntu 20.04 WSL
- **Deployment**: Docker
- **Source Connector and version**: Hubspot (0.1.51)
- **Destination Connector and version**: Databricks (0.1.4) + Databricks Runtime 9.1 LTS
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
When using databricks with glue ca

[2022-03-31 17:49] davydov-d commented on #4536
This issue is not about our current GA connector. The bug was reported on Jul 5 2021, version of the connector was 0.2.6, Airbyte version was 0.25.0.alpha. All these facts as well as log records point to `source-googleanalytics-singer`, which we do not have anymore. Now we have CDK version - `source-google-analytics-v4`, so the issue is irrelevant

[2022-03-31 17:49] #4536 closed

[2022-03-31 18:08] #11487 closed

[2022-03-31 18:56] terencecho commented on #11214
acceptance test for this was added here: https://github.com/airbytehq/airbyte/pull/11563

[2022-03-31 20:27] #11222 closed

[2022-03-31 20:58] #10255 closed

[2022-03-31 21:12] remisalmon commented on #10782
I believe this is due to a race condition where this postgres instance is a follower db in Heroku (https://devcenter.heroku.com/articles/heroku-postgres-follower-databases) and is receiving records from its leader db while Airbyte is querying it.

I have another sync on that same postgres follower db using Stitch which is also showing missing records at around the time of sync.

@marcosmarxm a fix

[2022-03-31 22:14] octavia-squidington-iii commented on #11612
Marcos Marx commented: Anwered in the other thread. [slack]

[2022-04-01 00:46] grishick opened #11643 "PostgresSourceDatatypeTest > testDataTypes is tied to PST time zone"
## Environment
- **Airbyte version**:  master branch
- **Deployment**: local OSS or CI
- **Source Connector and version**: source-postgres on master branch
- **Severity**: Low
- **Step where error happened**: Integration test

## Current Behavior
Integration test PostgresSourceDatatypeTest > testDataTypes assumes that America/Los Angeles is identical to GMT-8 time zone, so it started failing after

[2022-04-01 01:32] #10252 closed

[2022-04-01 01:52] octavia-squidington-iii opened #11646 "Airbyte with dbt error for snowflake"
Following error occurs while using dbt in the airbyte GUI. But when the same ‘dbt run’ is performed manually through command line it is succesful.

    2022-03-24 17:46:24 e[32mINFOe[m i.a.w.w.WorkerRun(call):49 - Executing worker wrapper. Airbyte version: 0.35.45-alpha
    2022-03-24 17:46:26 e[32mINFOe[m i.a.w.t.TemporalAttemptExecution(get):105 - Docker volume job log path: /tmp/workspace/82/1/

[2022-04-01 01:52] octavia-squidington-iii commented on #11646
Marcos Marx commented:     2022-03-24 17:47:05 e[42mnormalizatione[0m > Running: git clone --depth 5 --single-branch $GIT_REPO git_repo
    2022-03-24 17:47:05 e[42mnormalizatione[0m > Cloning into 'git_repo'...
    2022-03-24 17:47:06 e[42mnormalizatione[0m > fatal: could not read Username for 'https://github.com': No such device or address

@Saisriram1 please read our docs explaining how to setu

[2022-04-01 01:52] octavia-squidington-iii commented on #11646
Sai commented: We are receiving the below error

Encountered an error while reading the project: 2022-03-26 03:07:51 dbt > ERROR: Runtime Error 2022-03-26 03:07:51 dbt > at path []: Additional properties are not allowed ('model-paths', 'seed-paths' were unexpected) 2022-03-26 03:07:51 dbt > 2022-03-26 03:07:51 dbt > Error encountered in /data/98/0/transform/git_repo/dbt_project.yml 2022-03-26 03:0

[2022-04-01 01:52] octavia-squidington-iii commented on #11646
Sai commented: Hi Team,

Please help with this issue.

Regards,

Sai Sriram

[2022-04-01 01:52] octavia-squidington-iii commented on #11646
Jerri Comeau commented: Hi Sai,

Have you checked against https://docs.getdbt.com/reference/dbt_project.yml to make sure your config declaration and your destination are set correctly?

[2022-04-01 01:52] octavia-squidington-iii commented on #11646
Marcos Marx commented: @Saisriram1 can I recommend to you watch a video explaining how to configure the custom dbt Demo Hour: Custom dbt Transformations - YouTube you need to add a previous step to install the correct deps.

 [Discourse post]

[2022-04-01 01:52] octavia-squidington-iii commented on #11646
Sai commented: Thank you Marcos, this is sorted.

Regards,

Sai Sriram

[2022-04-01 03:20] hbd opened #11647 "The requested stream BalanceTransactions was not found in the source (Shopify)"
## Environment
- **Airbyte version**:  0.35.62-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker (Compose)
- **Source Connector and version**: Shopify v0.1.36
- **Destination Connector and version**: S3 v0.2.3
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
After creating a new Shopify source using credentials from a Shopify Development store

[2022-04-01 07:39] ChristopheDuong opened #11649 "UX on Airbyte UI: an area for users to leave comments/notes on configurations"
## Tell us about the problem you're trying to solve
An airbyte instance may be managed by a team, thus, it would be nice to allow collaborative work on airbyte configurations. Even when the instance is managed by a single person, it would still be beneficial to leave documentation traces to one self for future references.

## Describe the solution you’d like
Providing additional fields or thread/f

[2022-04-01 07:51] RajuGujjalapatiChowdary commented on #5091
My dbt is not working on airbyte(deployed in kube).
Any solutions on this?

[2022-04-01 07:58] AnatolePledg opened #11651 "GitHub source : Personal Access Token authentication method fails since version 0.2.23"
## Environment
- **Airbyte version**:  example is 0.35.4-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: 0.2.23
- **Severity**: High
- **Step where error happened**: Sync job

## Behavior
In version 0.2.22 of the connector it was possible to use Personal Access Token to authenticate into Github, now it is no longer possible.

## Logs

<detail

[2022-04-01 08:09] VitaliiMaltsev commented on #7587
this issue was fixed in scope of https://github.com/airbytehq/airbyte/pull/11294

[2022-04-01 08:09] #7587 closed

[2022-04-01 08:19] olivermeyer commented on #10260
It's actually just one table, so perhaps it's another bug. I'll do a bit more digging and open a new issue.

[2022-04-01 08:26] ChristopheDuong commented on #10260
Yes, please!

- Can you specify how much memory do you allocate to the worker node running the connector?
- Can you try the destination-s3 connector to see if the sync fails there too? (if that works, then while waiting on a fix on destination-redshift, you could then manually load the data from s3 to redshift)

[2022-04-01 09:33] jorinvo opened #11655 "Hubspot: line_items => deals association"
## Tell us about the problem you're trying to solve

Hey there 👋
I am trying to work with line items coming from the hubspot source (in Postgres).
Unfortunately, it seems that there currently is no way to know which deal a line item belongs to.

## Describe the solution you’d like

Looking at the source code, I was wondering if we could simply add `line_items` as association to the Deals stream [h

[2022-04-01 10:23] ycherniaiev commented on #10407
access oauth client here: https://developer.atlassian.com/console/myapps/4daa1d51-471e-4cbe-af53-b8b53cf1dcb6/settings

[2022-04-01 11:11] davinchia opened #11657 "Upgrade Airbyte Repo to Python 3.9."
## Tell us about the problem you're trying to solve
Airbyte is generally on Python 3.7 for the builds and all the connectors.

This is an issue for M1 devs as 3.8 is the minimum supported Python version. So these devs are left to set up their laptops in a 3.7 compatible manner to develop python connectors. This also puts us in a weird spot as the Octavia CLI is on 3.8, as the Octavia CLI team uses

[2022-04-01 12:13] annalvova05 opened #11658 "Source Amazon Seller Partner: have at least 90% unit test coverage"
Need to improve unit test coverage by at least 90%

[2022-04-01 12:46] agroh1 opened #11659 "sponsored_products_report_stream does not return adId despite it being added automatically by amazon"
## Environment
- **Airbyte version**:  example is 0.35.12-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**:  Amazon Ads 0.1.3

- **Severity**: Medium
- **Step where error happened**: Sync Job

## Current Behavior
sponsored_products_report_stream does not return adId

## Expected Behavior
adId should be returned for the productAds and asins report

[2022-04-01 13:08] sashaNeshcheret commented on #11289
@misteryeo Please take a look at description and linked docs.

[2022-04-01 14:04] leoalmeidasant opened #11661 "PostgreSQL source connector fails with large tables"
## Environment
- **Airbyte version**:  example is 0.35.59-alpha
- **OS Version / Instance**: AWs Eks
- **Deployment**: kubernetes
- **Source Connector and version**: 0.4.4 (cause next versions are broken in fetchSchema)
- **Destination Connector and version**: s3 destination 0.2.13
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
The sync between postgres <> s3 w

[2022-04-01 14:15] kyle-cheung commented on #2227
hey @olivermeyer sorry to message you here! Couldn't find another place to ping you. I've tried to follow your steps with restricting access to the user in Bamboo, it's kind of working but kind of not working. I shot you a message in Airbyte, please let me know if you're able help or connect me with someone in your HR to see if our setup is similar. Weird thing is it's pulling in some stuff that w

[2022-04-01 14:17] leoalmeidasant commented on #11661
Always when sync fails, the next attempt starts without state, there's the log:

[code]

[2022-04-01 14:30] timroes opened #11663 "Destination Namespace should have default value (again)"
We decided to give the "Destination Namespace" a default value again, since it's adding an additional required input for the user to take for setting up their connection. Also the UI should have better documentation and explanation of those values, to help guide the user understand them better.

cc @nataliekwong to leave statistics about which values are used how often (to make an educated choice

[2022-04-01 14:31] octavia-squidington-iii commented on #11663
cc @airbytehq/frontend

[2022-04-01 15:17] zds97 commented on #8503
Just wanted to follow up to see if this might be reconsidered due to the additional fields provided by the GraphQL API. https://github.com/airbytehq/airbyte/issues/8503

[2022-04-01 16:35] grishick commented on #11593
Confirmed with @supertopher that this workflow is still triggered daily at 4AM. However, last run failed: https://github.com/airbytehq/airbyte/runs/5786705935?check_suite_focus=true

[2022-04-01 16:54] misteryeo commented on #10391
This stream is supported: https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/property_history.json

Closing this out

[2022-04-01 16:54] #10391 closed

[2022-04-01 17:14] grishick commented on #11593
In this run https://github.com/airbytehq/airbyte/runs/5786705935?check_suite_focus=true it appears that Java version in the container was < 17 (`nextLong(long bound)` was added in Java 17).

[2022-04-01 17:20] #10400 closed

[2022-04-01 17:30] girarda commented on #11584
### Stripe connector as config
I Prototyped Stripe connector as a config. It's striped down version of it and I didn't thoroughly tested it, but it shows that most of the code in the StripeStream can be expressed in terms of configurable components
- the config looks like this: https://github.com/airbytehq/airbyte/blob/8165aefe43baa56ad181753afd1e97ee809eb2cf/airbyte-integrations/connectors/source

[2022-04-01 17:34] #8895 closed

[2022-04-01 17:52] sherifnada commented on #11661
cc @grishick

[2022-04-01 17:55] sherifnada commented on #11651
@AnatolePledg thanks for the report, will take a look

[2022-04-01 17:59] sherifnada commented on #10260
It could be a wide row issue potentially

[2022-04-01 18:19] grishick opened #11665 "Running connector integration tests on a feature branch requires changing branch name in multiple files"
Currently, we have branch name hardcoded in connector_integration_tests.yml, ci_integration_workflow_launcher.sh, and test-command.yml. In order to run Connector Integration Tests action on a feature branch, a contributor has to change the branch name in each of these files and commit the change to their feature branch. Later, the contributor would have to back out these changes, before creating a

[2022-04-01 19:49] auyer commented on #9590
Hi !
Had the same issue while loading BIGSERIAL from postgres do S3 (parquet). No dbt transformations involved (or even supported fo that matter).
![image](https://user-images.githubusercontent.com/12375421/161331689-400c1b2e-d93c-42e0-921a-81d334cd2d53.png)

![image](https://user-images.githubusercontent.com/12375421/161331317-a8bcc558-5d02-44f4-89f3-aeffed0ac766.png)

[2022-04-01 19:59] sherifnada opened #11668 "CDK: Support YAML specs"
## Tell us about the problem you're trying to solve
To declare a spec, a connector developer often places a `spec.json` file in the connector module directory (example). The CDK automatically looks for a `spec.json` file and uses that as the spec where possible. Specs are most commonly created in JSON (sometimes in Pydantic), which is a bit more cumbersome to work with than YAML.

## Describe the

[2022-04-01 20:28] nataliekwong commented on #11663
Users are typically choose the source over any other option. It could be that this is the first option listed, but if we were to follow by user patterns, "Source" should be the default:
- 46% of users only use source
- 22% of users only use destination
- 13% of users only use custom
- 18% of users use a combination of the three options

And if you are curious:
All connections: 56% source | 25% des

[2022-04-01 20:51] grishick opened #11669 "Isolate connector health by CDC databases in the Metabase"
Metabase currently shows all DB connection health, regardless of whether it uses CDC. We could probably glean the use case from data that is being reported by connectors (configs?)

[2022-04-01 21:02] grishick commented on #11627
@sashaNeshcheret which sources did you use when you ran into this problem? Specifically, which sources did you notice were able to produce long, float, and double types?

[2022-04-01 21:03] grishick commented on #9447
Related issue describing a problem with all numbers being converted to double: https://github.com/airbytehq/airbyte/issues/11627

[2022-04-01 22:11] #11566 closed

[2022-04-01 22:46] misteryeo commented on #11021
Checklist reviewed @bazarnov

[2022-04-01 23:16] noahkawasakigoogle commented on #11668
+1 on YAML! Way easier to read and way more conventional for IaC stuff and dbt people, etc. I assumed there was some reason JSON was being used.

Dont know much about pydantic but seems like it would be harder for the Java core of airbyte to work with if there was ever a refactor where core needed to pull spec info from these files. Not familiar enough with all the places spec's are used.

[2022-04-01 23:20] misteryeo commented on #11024
Checklist reviewed!

[2022-04-01 23:32] misteryeo commented on #10936
@lazebnyi checklist reviewed!

[2022-04-02 00:56] #7845 closed

[2022-04-02 01:07] cgardens opened #11672 "setup platform pagerduty rotation and runbooks."
## Tell us about the problem you're trying to solve
we want to update the pagerduty rotation to add new people into the rotations as secondaries and then a reverse shadow the next week.

people to add: peter, topher, terence.

[2022-04-02 01:08] cgardens opened #11673 "ability to escalate pagerduty page to fe team"
## Tell us about the problem you're trying to solve
we want to be able to escalate any on call page to someone on the frontend. figure out how to make it easy for a platform on call engineer to escalate any given issue to the frontend rotation.

the idea is that the frontend rotation will never be a first line page, but can always be escalated to.

[2022-04-02 01:24] grishick commented on #11593
Tests are now running again at 4AM daily

[2022-04-02 01:24] #11593 closed

[2022-04-02 01:30] sherifnada opened #11674 "Improve `schema_generator.py` developer experience"
## Tell us about the problem you're trying to solve
When building a connector, one of the most important requirements is to define the output schema of each stream in the connector. There are multiple ways of doing this:
1. Transcribing the JSONSchema by hand based on reading API docs
2. Using the API's OpenAPI spec to discern the schema. [Docs](https://docs.airbyte.com/connector-development/cdk-p

[2022-04-02 03:17] sherifnada commented on #8503
@zds97 it would be considered in the scope of that ticket. Follow there for updates!

[2022-04-02 04:00] nekprj commented on #8830
I also got similar issue https://github.com/airbytehq/airbyte/issues/11256

[2022-04-02 05:42] sherifnada opened #11675 "Support out-of-the-box M1 development for Python connectors"
# Description
We know that there are some issues with developing python connectors on M1 laptops. For example: many connectors use Python 3.7 whereas M1 works with 3.9+.

This epic tracks any issues required to make python connectors M1 compatible, whether it's for running connectors locally or building their Docker images.

- [ ] https://github.com/airbytehq/airbyte/issues/11657

Relevant resourc

[2022-04-02 06:29] ilizunov commented on #5099
Hi everybody, any workaround found?

[2022-04-02 07:19] lazebnyi commented on #10936
Successfully certified to Beta - https://docs.google.com/spreadsheets/d/1cyhhbNXoCdYo1OnJ_cAeRvBnoAombKnCwidtPZOff8U

[2022-04-02 07:19] #10936 closed

[2022-04-02 07:32] lazebnyi opened #11676 "Source Amazon S3: increase unit test coverage at least 90%"
## Tell us about the problem you're trying to solve
Need to improve unit test coverage at least 90%

[2022-04-02 07:44] lazebnyi opened #11677 "Source Amazon S3: expand the list of the supported file and compression types"
## Tell us about the problem you're trying to solve
### Expand the list of the supported file and compression types:
#### File types:
- .tsv
- .json
- .avro, or .log

#### Compression types:
- .gz
- .tar, or .zip

[2022-04-02 16:57] alexandr-shegeda opened #11679 "BigQuery-Denormalized Destination: improve code coverage"
### Acceptance criteria
- [ ] unit test coverage should be about 90%

[2022-04-02 21:20] GlauberF opened #11681 "Source MongoDB: transfer `_id` fields as string not `UUID`"
I'm migrating from mongoDB database to postgresql, I have several cases that a mongoDB object in postgresql will be more than a table.

In the process of migrating, I need to do some transformations and also be able to insert the value into a table, get the generated _id UUID and assign it to another table.

In the example in the image below, I try to demonstrate this.
I have an order object, in i

[2022-04-03 10:11] jomach commented on #3413
I'm working since some months on building a kafka source connector for SAP. Be aware you will have Problems on calculating deltas. As SAP Tables do not have "updatedAt" column for example.

[2022-04-03 10:19] jomach commented on #3413
You can go over triggers but you could go over ODP queues.  See https://init-software.de/odpsc/#/

[2022-04-03 14:03] timroes opened #11683 "Remove initial onboarding step"
We see that users are stumbling across the initial onboarding step. They also don't watch any of the videos, so this step at the moment is simply nuisance for getting a user started quickly. We should remove that step and instead throw them directly into the flow.

cc @nataliekwong @Amruta-Ranade

[2022-04-03 14:03] octavia-squidington-iii commented on #11683
cc @airbytehq/frontend

[2022-04-03 17:15] ycherniaiev commented on #6349
not relevant since Magento connector is not publushed

[2022-04-03 17:15] #6349 closed

[2022-04-03 19:59] sherifnada commented on #3413
Thanks for the heads up @jomach

[2022-04-03 23:45] sherifnada opened #11684 "CDK: document `raise_on_http_errors`"
## Tell us about the problem you're trying to solve
`HttpStream.raise_on_http_errors` is not documented, which leads to questions like [this](https://airbytehq.slack.com/archives/C01VDDEGL7M/p1649028069189549)

## Describe the solution you’d like
Better docs

[2022-04-04 04:20] misteryeo commented on #7496
Being addressed https://github.com/airbytehq/airbyte/issues/11322