[2021-03-13 04:42] johnlafleur commented on #2435
Hey @juan-meister!
We're about to upgrade the visibility you have from "Sources" and "Destinations" section on the liveliness of your connectionrs with the following: https://www.figma.com/file/pO3Ob5W0yKUFOQzvg8TR3z/Airbyte?node-id=1997%3A2498
Is your issue about visibility on connection liveliness? And if so, would those new designs address your issue?
Or is it about something else?

[2021-03-13 07:09] juan-meister commented on #2435
Hello @johnlafleur
Yes, [this](https://p479.p0.n0.cdn.getcloudapp.com/items/04uJXnXd/1815701c-8b45-4dfc-b5c3-a77af8d6e4c5.jpg?v=a4dcb63435c52677334bd6696c6ff420) is more like it, because [this](https://p479.p0.n0.cdn.getcloudapp.com/items/ApuR0q0p/031c0b6d-5de4-427b-8edf-e83857aec5e6.jpg?v=a5fa6fd0517e38120d9936645dbbe5d7) UX very confusing.

[2021-03-13 19:39] sherifnada opened #2454 "Document how to use BaseSingerSource & Use it in base templates"
## Tell us about the documentation you'd like us to add or update
`BaseSingerSource` is the easiest way to wrap a Singer tap, so we want contributors to be able to leverage it very easily.

## Are there any related areas of documentation that currently exist? Could you point to them?

[2021-03-14 08:41] sherifnada commented on #2289
@vitaliizazmic I reached out to Greenhouse.

[2021-03-14 08:54] sherifnada commented on #2331
@yevhenii-ldv 's suggested solution fixed this problem. This problem should be fixed by implementing #2119 in the long-term, but we can also create an issue to verify that `check` verifies this, maybe by reading 100 rows from the file or something.

[2021-03-14 08:54] #2331 closed

[2021-03-14 20:25] johnlafleur commented on #2435
Hi @juan-meister,
I understand your point, but when looking at a source, you want to see the associated destinations.
So in this [screenshot](https://p479.p0.n0.cdn.getcloudapp.com/items/ApuR0q0p/031c0b6d-5de4-427b-8edf-e83857aec5e6.jpg?v=a5fa6fd0517e38120d9936645dbbe5d7), we can't display the detail of the sources and have the "Connections" section in the left column highlighted at that point. It

[2021-03-14 20:32] juan-meister commented on #2435
@johnlafleur
Correct.
There's a lot of information to unpack in the "Source" tab, it's not necessary to put also the connections. Mainly the configuration (see the singer variables in config + catalog)
If you want to know to which destinations it is connected, you can go to the "Connections" tab and filter by connector and voilà. There you have the information. And if you have a lot of data, you c

[2021-03-14 21:36] johnlafleur commented on #2435
I think you will need to see the associated destinations at the source level. This is actually possibly the most important information, and it makes it easier to add a new connection for a said source. So this part can't be removed. But it can be improved.

We'll think about the "Connections" tab, and see how other users feel about it. Thanks!

[2021-03-15 05:33] davinchia commented on #1744
After discussion with @sherifnada, this issue is focused on the `CheckConnection` step. Although the Airbyte protocol does require better error propagation facilities, this is a bigger architectural change and doesn't have immediate benefit yet.

Slack discussion: https://airbytehq.slack.com/archives/C019WEENQRM/p1615559804147400

[2021-03-15 05:42] danieldiamond commented on #2346
Hi @sherifnada,
Was glad to stumble upon this issue. Considering implementing airbyte and including the Talk API in the zendesk connector would be a massive pull to get me started.

Destination: Redshift initially but looking to migrate to snowflake in the short future.

Context/Use-Case: Similarly to @kitkatbarxp use-cases and aside from all the usual meaningful insights, the most pressing requir

[2021-03-15 06:31] sherifnada opened #2456 "Google Audit Logs"
## Tell us about the new integration you’d like to have
I'd like to pull my Google Audit log data from the [Admin Activity Reports API](https://developers.google.com/admin-sdk/reports/v1/guides/manage-audit-admin) via Airbyte.

There are a number of reports that can be pulled: admin, drive, logins, mobile, oauth tokens. I would like to pull the following streams for the moment:
* admin
* logins

#

[2021-03-15 06:34] sherifnada commented on #2180
This was implemented in #2384 in Java, but we're going to close that PR and pivot to implement in Python for a few reasons:

1. More accessible to the community
2. (and therefore) enables more contributions

[2021-03-15 06:51] sherifnada commented on #2390
@nkhanhcong thanks for creating the issue! That's definitely a useful feature for Google Sheets, but kind of hard to get right. For example: if the input type is incorrect, it may be hard to detect without first reading the entire spreadsheet which can be expensive depending on how large it is. For this reason, we made the conscious choice to use `string` as the data type for everything and leave

[2021-03-15 07:02] sherifnada commented on #2305
@yevhenii-ldv can you please post the credentials to the Gitlab in the company Lastpass account?

[2021-03-15 07:14] sherifnada commented on #2456
## Integration Vetting
**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
OAuth2, but can be done using Google Service Account Key Server-to-server oauth2 which doesn't require a "UI" oauth flow.

**Creating an account**
We can use Airbyte's Google Workspace account.

**How to populate the account with data?**
Already populated with data since it's A

[2021-03-15 07:22] sherifnada commented on #2456
I suggest the following `spec` fields:

1. credentials JSON
2. Lookback days: this is a less error-prone alternative to `start_date` which we have on some of our other connectors. The idea here is to ask the user how many days they want us to look back for data, instead of asking them for an explicit start date (which is error prone in the case that they have a manual sync config and don't sync un

[2021-03-15 07:38] sherifnada commented on #2308
@arhip11 can you request an API token from support so we can move forward with this integration?

[2021-03-15 07:40] sherifnada commented on #2306
@keu can you put the creds for the account in lastpass?

[2021-03-15 07:58] sherifnada commented on #2346
@danieldiamond that's a really interesting use case, thanks for sharing the context! Will see what we can do on our side to prioritize, will start investigating soon.

So as far as I can tell, the most important endpoints for you @danieldiamond and @kitkatbarxp would be:
* [incremental export calls](https://developer.zendesk.com/rest_api/docs/voice-api/incremental_exports#incremental-calls-export)

[2021-03-15 08:07] sherifnada commented on #2167
@jimbeepbeep thanks for creating this issue! you mentioned you'd be interested in having someone from your team build it. What can we do to help?

[2021-03-15 08:11] sherifnada commented on #2453
@Moofasax thanks for reporting the issue. Could you help us with debugging by providing the log from the failing sync job? you can find it by going to the sources page, clicking on the github source, then on postgres, then find the failing sync job and click the "download logs" button on the top right of the logs console.

We already have #2365 for the Teams stream in the case that the repo being

[2021-03-15 09:04] sherifnada opened #2457 "Document process for publishing base images"
Follow up from https://github.com/airbytehq/airbyte/pull/2441#pullrequestreview-611213480

[2021-03-15 09:31] jimbeepbeep commented on #1814
Amazing, thanks team.  We'll get on testing this today!

[2021-03-15 10:25] yevhenii-ldv commented on #2305
@sherifnada credentials was added in the company Lastpass account

[2021-03-15 12:44] vitaliizazmic commented on #2309
## Integration Vetting
The integration hasn't already been vetted in https://docs.google.com/spreadsheets/d/1CUkw5ha0zPGJT1-vhe2rT3oIWt_6rVieH40J9fVrLJM/edit#gid=0

[https://developer.intuit.com/app/developer/qbo/docs/get-started](https://developer.intuit.com/app/developer/qbo/docs/get-started)

**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
OAut

[2021-03-15 13:58] yevhenii-ldv commented on #2412
## Integration Vetting

**Webhook-based? (no/partially/yes)**

no

**Available authentication modes (API key/Oauth/other)**

[API key (Standard)](https://support.iterable.com/hc/en-us/articles/360043464871-API-Keys-)

Airbyte account already created, credentials in the Lastpass account.

**How to populate the account with data?**

It can be done entirely through the [API](https://api.iterable.com/

[2021-03-15 14:58] meenagangadharan opened #2459 "Normalization not working on "HTTP Request" connector"
## Expected Behavior
I am loading data from a private REST API to Bigquery. Normalization is enabled. Using the latest version 0.17.1-alpha.
Job completes successfully. The JSON data extracted from the API is expected to be split and loaded into multiple records of the Bigquery table

## Current Behavior
The output JSON are loaded as a single record in the **data** field of Bigquery table.

## Log

[2021-03-15 15:57] ChristopheDuong opened #2461 "Sources support destination sync modes"
## Tell us about the problem you're trying to solve
As part of #2337, we would like to introduce a new configuration enum for sync modes on the destination side.
It would be nice for the user if sources could provide default primary key columns when possible so the selection of the new destination sync mode for deduplication has a simpler UX.

## Describe the solution you’d like
Automatically pre-

[2021-03-15 15:59] ChristopheDuong commented on #2337
The main piece that is missing for this feature is the front-end to select the destination sync mode per stream.

In the meantime, I will try to look at sources and how they can make it easier to select primary keys

[2021-03-15 16:24] vitaliizazmic commented on #2291
@sherifnada  Mixpanel API returns "Date range exceeds 90 days into the past" error while syncing only Annotation Stream. For Revenue Stream all works properly. I can either add checking for start date config option or set custom start date for Annotation stream.  In first case date range will be restricted for all streams. In second case it is required change Singer Tap and create fork.

[2021-03-15 16:27] michel-tricot commented on #2412
According to the existing tap, it seems to support incremental for some of the endpoints: https://github.com/lambtron/tap-iterable/blob/b8f6734008616e2de78de638a29ae8a3afdc2af6/tap_iterable/iterable.py#L160

[2021-03-15 16:42] sherifnada commented on #2456
@vitaliizazmic btw this should implement incremental sync

[2021-03-15 17:20] cgardens commented on #2371
@Jamakase For this issues let's do option 3 in the mock up: https://www.figma.com/file/AODY4oi15iI5l0fbxHvobt/Daxtarity?node-id=23450%3A44

[2021-03-15 17:38] ideswart opened #2463 "Excluding columns from MSSQL-source tables using UI"
## Tell us about the problem you're trying to solve
Sometimes tables in sources contain columns which hold data that is only used for a certain system or hold sensitive information which are not used in a DWH for further analysis. Think of an account table with pw-hashes and whatnot in relation to GDPR subsidiarity/proportionality.

## Describe the solution you’d like
The possibility for excluding

[2021-03-15 17:55] sherifnada opened #2464 "Implement field projection"
## Tell us about the problem you're trying to solve
Users currently cannot select which fields (columns) they want to sync from their streams -- if you pick a stream, it's all or nothing. However, users want the ability to project which fields they want. A simple use case is sensitive data like described in #2463 . We can do this at the Airbyte level without having to do it separately for every co

[2021-03-15 17:58] cgardens commented on #2244
Blocked on UI changed. Otherwise ready to release.

[2021-03-15 17:59] ChristopheDuong commented on #2464
same as https://github.com/airbytehq/airbyte/issues/2227 ?

[2021-03-15 18:03] ChristopheDuong commented on #2463
- Adding an extra SQL query field in the specs of JDBC source connectors could handle this use case yes.

- It would eventually let users override column data types at the source level too without having to actually impact the source database (of course, doing this on the destination side too is probably even more useful too)
- or do a "view" (without materializing an actual view) where multiple t

[2021-03-15 18:17] sherifnada commented on #2419
spoke with @Jamakase offline: he believes this error happened due to a recent major typescript version upgrade and shouldn't generally be happening. This combined with the fact that we are rejiggering our contribution guidelines to not use Gradle should make the probability of this issue happening very close to 0.

If this continues to happen we'll remove husky precommit hooks and require that the

[2021-03-15 18:17] #2419 closed

[2021-03-15 18:21] sherifnada commented on #2463
I've created #2464 to track the overarching request (UI + backend), since I think it would be useful to put at the Airbyte level as well so most sources don't need to implement it.

[2021-03-15 18:23] sherifnada commented on #2464
@ChristopheDuong yes, I'll copy the context into the original ticket and close this one.

[2021-03-15 18:23] #2464 closed

[2021-03-15 18:23] sherifnada commented on #2227
Created a duplicate, will just add my description:

## Tell us about the problem you're trying to solve
Users currently cannot select which fields (columns) they want to sync from their streams -- if you pick a stream, it's all or nothing. However, users want the ability to project which fields they want. A simple use case is sensitive data like described in #2463 . We can do this at the Airbyte l

[2021-03-15 18:26] sherifnada commented on #2309
@vitaliizazmic can we permanently use the sandbox account without needing to use the 30-day trial account?

[2021-03-15 18:26] sherifnada commented on #2305
thanks!

[2021-03-15 18:51] cgardens opened #2465 "POC for using Embedded Debezium"
## Tell us about the problem you're trying to solve
* We want to implement CDC for database sources.

## Describe the solution you’d like
* If an existing library handles extracting records from WALs, we might be able to bootstrap our CDC solution with it. Especially if we wrap it thoughtfully, we leave the door open to switch it out in the future.
* Debezium can run in "embedded" mode, which mean

[2021-03-15 18:52] cgardens opened #2466 "Proposal on how to represent CDC in the Airbyte Protocol"
## Tell us about the problem you're trying to solve
We want to support CDC in Airbyte.

## Describe the solution you’d like
Describe how we propose to integrate this functionality into airbyte.

[2021-03-15 18:58] vitaliizazmic commented on #2309
@sherifnada no. Sandbox environment it's a part of Intuit Developer account. We need to create account to use it. In general accounts are paid.  But we can use 30-day trial.

[2021-03-15 20:25] jrhizor opened #2470 "Determine feature sets for other CDC implementations"
Document CDC implementations for updates/deletions/etc across common ETL platforms.

[2021-03-15 20:27] sherifnada opened #2471 "Update new python source tutorial to reflect new development instructions"
## Tell us about the documentation you'd like us to add or update
remove references to gradle commands in line with #2360

## Are there any related areas of documentation that currently exist? Could you point to them?

[2021-03-15 20:27] jrhizor commented on #1404
depends on https://github.com/airbytehq/airbyte/issues/1623, which I'm treating as the backend implementation.

[2021-03-15 20:28] jrhizor commented on #1404
@johnlafleur we'll need a mockup of cancelling a sync job in the UI for Artem to look at.

[2021-03-15 20:33] cgardens commented on #2459
Can you share what error you're getting?

@ChristopheDuong for visibility.

[2021-03-15 21:01] ChristopheDuong commented on #2459
The "problem" being reported here is that the catalog being sent by the source is too simple (just object)

![Screenshot 2021-03-15 at 21 58 27](https://user-images.githubusercontent.com/7718175/111220553-9c344200-85d9-11eb-883f-9e79d7b6b988.png)

So normalization is not able to unnest anything even though the data from the HTTP source contains arrays of rows/nested structures

[2021-03-15 21:03] meenagangadharan commented on #2459
The job completes successfully. Only the normalization is not happening as expected. Multiple JSON records gets loaded as one record.
[logs-29-0.txt](https://github.com/airbytehq/airbyte/files/6144497/logs-29-0.txt)

[2021-03-15 21:13] sherifnada opened #2473 "Define next iteration of connector development tooling + Create SDK PoC"
## Tell us about the problem you're trying to solve
We want to make the development experience on Airbyte as smooth as possible. To this end, we should answer the following questions:
1. What are the most common dev patterns we have in connectors (APIs, DBs, etc..)
2. Decide on the best ways to expose tooling to ease their development
3. By the end of the week, make tangible progress on making the

[2021-03-15 21:24] vitaliizazmic commented on #2346
## Integration Vetting
The integration has already been vetted in https://docs.google.com/spreadsheets/d/1CUkw5ha0zPGJT1-vhe2rT3oIWt_6rVieH40J9fVrLJM/edit#gid=0 It's ready for implementation.

**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
login/password, API Token

**Creating an account**
Sandbox

**How to populate the account with data?**
Accou

[2021-03-15 21:25] Moofasax commented on #2453
[logs-51-0.txt](https://github.com/airbytehq/airbyte/files/6144620/logs-51-0.txt)
![Screen Shot 2021-03-15 at 5 23 00 PM](https://user-images.githubusercontent.com/25934977/111223340-62e8db80-85b3-11eb-8cc2-8aee818d1cb5.png)

Attached are the logs, the sync never stops failing as well, so hope i let it run long enough for you to get the logs (see this issue as well: https://github.com/airbytehq/ai

[2021-03-15 22:38] cgardens commented on #768
tech spec: https://docs.google.com/document/d/1Dmddudw19w0ZNgm97m2KIRcVreuJs6Z965BObuV3fWU/edit?usp=sharing

[2021-03-15 23:46] sherifnada opened #2474 "Configure Airbyte through a declarative DSL"
## Tell us about the problem you're trying to solve
In line with DataOps best practices, I would like to configure Airbyte through a declarative DSL that can be version controlled and reviewed by my team.

## Describe the solution you’d like
Roughly speaking we probably have two avenues:

1. Create our own DSL from scratch
1. Piggyback on an existing tool like Terraform Provider

We should explore

[2021-03-16 00:10] sherifnada commented on #2459
@meenagangadharan this is an implementation decision we made in the connector since it is not possible to know just from the URL what the output schema should be reliably. It seems like some reasonable paths forward to address your request are:
1. The connector should "guess" what the schema is based on the first few results returned. This is unreliable as there may be missing fields in the probin

[2021-03-16 00:15] jrhizor commented on #2474
some related information in https://github.com/airbytehq/airbyte/issues/1860

[2021-03-16 00:20] jrhizor opened #2476 "track API calls made to the UI from the API vs calls made directly"
## Tell us about the problem you're trying to solve
We don't have a good idea of how many users are using our API vs our UI for different tasks, like for configuring sources.

## Describe the solution you’d like
It'd be great if we could track queries by API call and record the user agent. This would also allow us to see how common different endpoints are used so we can make decisions on how to ap

[2021-03-16 01:35] sherifnada commented on #2453
@Moofasax the issue with `issue_labels` has been fixed and should be released on version `0.17.2-alpha` very soon (tomorrow or Wednesday). The fix for the issue with teams is currently WIP in #2472 and will likely be released by EOW .

[2021-03-16 01:36] sherifnada commented on #2452
@Moofasax thanks for reporting, we'll take a look!

[2021-03-16 02:15] Moofasax commented on #2453
Oh nice man, by issue_labels do you mean issue_events? Just checking! And thanks man!

[2021-03-16 03:22] johnlafleur commented on #1404
Here's the design suggestion: https://www.figma.com/file/AODY4oi15iI5l0fbxHvobt/Daxtarity?node-id=21139%3A295

[2021-03-16 03:41] johnlafleur opened #2478 "Frequency shouldn't be the time between the end of a sync and the beginning of the next one, but the time between the beginning of both"
## Expected Behavior
If I set hourly as a frequency and it starts at 1.06pm, I expect it to stay X.06 on the hour.

## Current Behavior
Right now, if it takes 2 min to sync, the next one will start 2.08pm, and then 3.10pm, etc.

## Severity of the bug for you
Low

See screenshot
<img width="821" alt="Screen Shot 2021-03-16 at 2 14 36 PM" src="https://user-images.githubusercontent.com/68561602/1112

[2021-03-16 04:57] michel-tricot opened #2479 "Jira source to support oauth instead of just API key"
## Tell us about the problem you're trying to solve
I am using airbyte in a multi-tenant product and I want to enable auth with Jira with OAuth.

Current implementation uses the API key only.

## Describe the solution you’d like
I can select either API Key or OAuth

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368154201722) by [Unito](https://www.unito

[2021-03-16 09:14] bashyroger commented on #2459
Hi , I am the data architect / PO managing @meenagangadharan .
What I want to make extra clear is that the important issue for isn't the schema as in the columns and their data type. We can solve that problem by creating a view on top of the JSON objects.

The main problem is the fact that individual rows are not being created when importing what is returned.
@meenagangadharan , what I have seen f

[2021-03-16 09:41] jimbeepbeep commented on #1814
OK @sherifnada I have added the connector according to your instructions above, which seem to work fine.  However when I try and test the connection using the secret which we use in production (stored in Google Secrets Manager) I get the following error:

![image](https://user-images.githubusercontent.com/34912260/111286879-f4535e80-8642-11eb-87db-426c8941c774.png)

Failed Logs:
[code]

If I log i

[2021-03-16 09:59] jimbeepbeep commented on #2167
Great stuff, @sherifnada can you add @joseignaciorm to this issue please (I don't have permissions) as he'll be working on this from our side.

[2021-03-16 11:11] meenagangadharan commented on #2459
@bashyroger The data for API looks has this structure:
{
  "data": [
    {
      "key1": value1,
      "key2": "value2",
       ......
    },
    {
      "key1": value1,
      "key2": "value2",
       ......
    }
  ],
"links": {
"first": "#####################",
"last": "#####################",
"prev": null,
"next": "#####################"
},
"meta": {
"current_page": 1,
"from": 1,
"last_page": 1

[2021-03-16 11:39] yevhenii-ldv commented on #2412
@michel-tricot Thank you, I missed the opportunity to increment for streams that need to be received using the [data export](https://api.iterable.com/api/docs#export_exportDataJson) method.

[2021-03-16 11:52] #2292 closed

[2021-03-16 12:12] jimbeepbeep commented on #1814
I have checked through the server logs and I think I've found the issue.  I'm not sure where to enter the account_id (and also which account_id it is, but that seems to be the root cause of the problem:
[code]

[2021-03-16 12:14] yevhenii-ldv opened #2480 "Source Instagram: failing check method"
## Expected Behavior
*'Testing Connection' successfully pass (with correct Access Token).*

## Current Behavior
*'Testing Connection' takes a bit long, then user get the error.*
![image](https://user-images.githubusercontent.com/34103125/111306857-6aff5480-8661-11eb-8cdb-56fc2953bf9a.png)

## Logs
[code]

## Severity of the bug for you
Critical

## Airbyte Version
VERSION=0.17.0-alpha

## Connecto

[2021-03-16 12:55] ChristopheDuong opened #2484 "Reset connection should trigger Full refresh sync"
## Tell us about the problem you're trying to solve
When I click on "reset table" on the connection page, I would prefer if it would follow up with full refresh sync right after it.

## Describe the solution you’d like
"Reset table" button should trigger a Source Sync Mode: FULL_REFRESH and Destination Sync mode: Overwrite

## Describe the alternative you’ve considered or used
* Click on "reset ta

[2021-03-16 12:58] yevhenii-ldv commented on #1814
@jimbeepbeep hi!
Thank you very much for your attention and information provided.
You are absolutely right, the problem lies precisely with the `account_id`.
I have already created an [issue](https://github.com/airbytehq/airbyte/issues/2480) for your request and we will solve this problem in the near future (I think in the near hours). As soon as we update the connector, I will immediately inform

[2021-03-16 16:45] #2480 closed

[2021-03-16 16:48] yevhenii-ldv commented on #1814
@jimbeepbeep We have fixed the bug and now an updated version of the Instagram connector is available.
Could you try new Instagram connector version and let us know if that works? ;)

[2021-03-16 18:59] michel-tricot opened #2490 "User feedback when exporting data"
## Tell us about the problem you're trying to solve
I have an instance that has been running for a while and when I try to export data, it takes a lot of time to create the export. On demo.airbyte.io, I waited for at least 1minute.

## Describe the solution you’d like
We should have something in the UI to indicate that the export is being created

[2021-03-16 20:49] sherifnada opened #2491 "Snowflake destination quality of life improvement: default hostname postfix if not entered"
## Tell us about the problem you're trying to solve
From https://airbytehq.slack.com/archives/C019WJFR1JT/p1615925659006000

If a user enters `<account_name>.ust-east-1` it would be nice if the connector autocompleted the host name.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368154212492) by [Unito](https://www.unito.io)

[2021-03-16 21:23] #2222 closed

[2021-03-16 21:40] michel-tricot opened #2492 "Migration runs out of memory"
## Expected Behavior
Shouldn't run out of memory, no matter how old it has been running

## Current Behavior
It takes an long time and crashes at the end

## Logs
[code]
## Steps to Reproduce
1. ran
[code]

## Severity of the bug for you
Medium

## Airbyte Version
Old version was 0.14.1

[2021-03-16 21:42] michel-tricot commented on #2492
[code]

[2021-03-16 21:53] wallies commented on #2124
@michel-tricot I would say the survey responses probably sits highest. I think it's done via the export api https://api.qualtrics.com/guides/docs/Guides/Common%20Tasks/getting-survey-responses-via-the-new-export-apis.md

[2021-03-16 22:16] roshan opened #2493 "Number of attempts should be configurable"
## Tell us about the problem you're trying to solve
I am looking for low-latency from configuration to sync. So if I add a new table to the sync and mess it up for whatever reason, I don't want to sit there waiting ages for some retries to complete before I can unbork my borkery. I use a low sync frequency so retries aren't particularly useful (instead of the 3rd retry finishing 15 mins after the

[2021-03-16 22:17] roshan commented on #1623
Interesting failure mode for me, today. I added a new table from my source Postgres into my sync, it failed because I didn't have permission on that table (fine, my problem), but now I'm sitting there waiting for the retries to complete before I can do anything, which takes forever.

Honestly, I'm not even sure what the retry functionality is getting me. I have a 15 min sync frequency, going incre

[2021-03-16 23:11] #1550 closed

[2021-03-16 23:12] #2218 closed

[2021-03-16 23:53] sherifnada commented on #2418
Quick braindump:
* Docs starting point: https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-user-guide.html
* CT records actions taken in an AWS account. There are 3 types of actions
    * **data**: S3 object-level activity (put/get/delete), S3 Lambda executions, blockchain service executions
    * **management**: control-plane level operations on resources. Logins, role attachme

[2021-03-16 23:55] davinchia commented on #1469
Closing as duplicate. Feel free to open if I'm mistaken.

[2021-03-16 23:55] #1469 closed

[2021-03-16 23:59] sherifnada commented on #2360
completed across several PRs: #2442 #2477 #2467 #2440 #2469

[2021-03-16 23:59] #2360 closed

[2021-03-16 23:59] sherifnada commented on #2360
Worth noting that the only gradle-related action item now is to document how to invoke standard tests without using gradle.

[2021-03-17 00:00] sherifnada commented on #1981
The saga continues. Google said Singer is OK so i'm trying to understand how Airbyte is different

[2021-03-17 00:00] sherifnada commented on #2184
Blocked on the outcome of #2180 - unassigning from myself and will be handled by the connectors team

[2021-03-17 00:06] sherifnada commented on #1621
closed in #2469

[2021-03-17 00:06] #1621 closed

[2021-03-17 00:14] #2470 closed

[2021-03-17 02:14] gordalina opened #2495 "Scheduler can't run new jobs after it crashes"
## Expected Behavior

Scheduler should run new jobs (e.g: discover schema)

## Current Behavior
It can run new jobs until a SYNC job crashes.

## Logs
[code]

## Steps to Reproduce
1. Create a connection with an empty syncCatalog
1. Run a discover schema command and see it return ok
1. Wait until the scheduler crashes when running a SYNC for the connection
2. Run discover schema command and see it

[2021-03-17 02:18] michel-tricot commented on #2124
Thank you @wallies!

How are you doing it today?

[2021-03-17 02:32] wallies commented on #2124
@michel-tricot using the export api for surveys but as we are looking into more integration sources, we are looking into better tooling

[2021-03-17 03:57] michel-tricot commented on #1958
Someone else complained about it: https://airbytehq.slack.com/archives/C01A4CAP81L/p1615952521001700

I think if we can generalize the solution, it will accelerate the deltalake integration.

[2021-03-17 05:05] cgardens commented on #2495
Thanks! We will take a look at this first thing in the morning.

On Tue, Mar 16, 2021, 7:15 PM Samuel Gordalina ***@***.***>
wrote:

[2021-03-17 05:41] jimbeepbeep commented on #1814
Thanks @yevhenii-ldv - what do I need to do to get the revised version please?  Is there an increment to the docker image tag or do I need to upgrade as per [this](https://docs.airbyte.io/tutorials/upgrading-airbyte) guide?  I have two instances running on different VMs on Google Cloud - the one I used previously still shows the connection I manually created (which still does not work with valid c

[2021-03-17 05:49] juhaelee opened #2496 "Email connector"
## Tell us about the problem you're trying to solve
Multiple teams may want to upload CSVs into their warehouse. Sending a CSV or JSON file via email would make the process easier.

## Describe the solution you’d like
Ability to send a CSV or JSON file to an airbyte email. Perhaps generate a unique email: (ex- customer123@airbyte.com). Then this would upload the CSV or JSON file into the data ware

[2021-03-17 06:22] jwarlander commented on #1958
Definitely +1 to this!

I've been following Airbyte progress closely while considering if we have a solid use case for it, and the only way that would feel viable is if it could replace all of our "regular" ingestion pipelines via REST APIs, Kafka & PostgreSQL extracts. Data volumes go from 60k - 100k on the low end of the scale (one of our smaller Kafka topics), a few million somewhere in the mid

[2021-03-17 06:23] jimbeepbeep commented on #1814
OK I created an entirely new VM and instance and the Instagram connector did show up, however it still fails.  Posting the entire server log as there are a couple of references to Instagram in there:

[code]

Please let me know next steps.  Also, can you please add @joseignaciorm to this issue as he'll be taking the lead on this.

[2021-03-17 06:47] davinchia opened #2497 "Clarify current Temporal Exception handling + figure out consistent path forward."
## Expected Behavior
When `TemporalJobException` is thrown, the exception is not propagated to the client. Instead it's caught in the temporal worker itself and the job is restarted within temporal. The client just waits. This might be related to #2452 .

## Current Behavior
I expect the exception to propagate to the client after X attempts. Any other reasonable manner of handling this is fine - a

[2021-03-17 06:48] davinchia commented on #1744
I observed some strange temporal exception handling behaviour - I've documented this in a follow up ticket.

[2021-03-17 07:08] davinchia opened #2498 "Destinations should be configurable with a namespace field."
## Tell us about the problem you're trying to solve
Follow up to parts of #1921.

This ticket will handle #1 and #2 in the above issue.

## Describe the solution you’d like
Destinations should be able to accept a `namespace` field for configuration.

More detailed reading:
* [Miro Brainstorm](https://miro.com/app/board/o9J_kpTe6mk=/)
* [More detailed Google Docs proposal](https://docs.google.com/d

[2021-03-17 15:20] meenagangadharan commented on #2459
@sherifnada, If we are to proceed with providing a Schema file. Are you expecting in any particular format ? Can you give an example of what it looks like ? It could be helpful.

[2021-03-17 17:17] gordalina commented on #2122
MongoDB SVG: https://gist.github.com/gordalina/212f97160451bf78883e61633d67693c

[2021-03-17 17:20] cgardens opened #2501 "On every keystroke an network request is made"
## Current Behavior
It seems like on every keystroke in the connector form a network request is made to fetch a logo.

![Screen Cast 2021-03-17 at 10 17 56 AM](https://user-images.githubusercontent.com/9092207/111509836-5f1b9d00-870a-11eb-8887-30a385ca9f60.gif)

[2021-03-17 17:54] cgardens commented on #2452
@Moofasax i think i got to the bottom of this. I will be merging a [fix](https://github.com/airbytehq/airbyte/pull/2502) shortly and will make sure we do a patch release to get it in the stable version.

[2021-03-17 17:54] cgardens commented on #2495
@gordalina  i think i got to the bottom of this. I will be merging a [fix](https://github.com/airbytehq/airbyte/pull/2502) shortly and will make sure we do a patch release to get it in the stable version.

[2021-03-17 17:56] gordalina commented on #2495
Awesome! I'll be sure to test it out!

[2021-03-17 18:27] #2452 closed

[2021-03-17 18:27] #2495 closed

[2021-03-17 18:28] #2461 closed

[2021-03-17 18:34] roshan opened #2503 "When a new stream is added, access should be checked"
## Tell us about the problem you're trying to solve
I have multiple databases I'm syncing from. Occasionally, I would like to add a new table from one of these databases to the sync. However, since the database is controlled by someone else, the user for the connection may not have access yet to the table. Airbyte will let me set up a sync to this table and then fail on sync attempt. Because of th

[2021-03-17 19:20] sherifnada commented on #2503
@roshan thanks for reporting the problem -- completely agreed with your assessment here. I just want to understand how to reproduce. Is the following what you did:
1. Have `N` tables in your source database
2. Setup a sync from your database using `N-k` tables
3. Sync runs fine
4. Decide you want to sync another table, so you add it to the sync schema from the settings page
5. Your DB user doesn't

[2021-03-17 19:31] sherifnada commented on #1814
@jimbeepbeep @joseignaciorm

apologies for the mix up on how to upgrade the connector here!

You'll need to upgrade your connector to version `0.1.1` to pick up the bugfix. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find the instagram connector in the list, and input the latest connector version.

Please let us know if you have any feedback or issues.

[2021-03-17 19:42] sherifnada opened #2505 "Update contribution docs to remove references to gradle"
placeholder

[2021-03-17 19:42] sherifnada commented on #2505
https://docs.airbyte.io/contributing-to-airbyte/building-new-connector

[2021-03-17 19:59] sherifnada commented on #2167
@joseignaciorm hello!

To get started, take a look at our [documentation on developing connectors](https://docs.airbyte.io/contributing-to-airbyte/building-new-connector).

The "golden path" for writing connectors is Python or Java, but Airbyte supports any language. See our [Python connector tutorial](https://docs.airbyte.io/tutorials/building-a-python-source) for a walkthrough of writing a conne

[2021-03-17 20:18] sherifnada commented on #2496
@juhaelee that sounds like a really valuable use case. I'd love to dig into some of this to understand your context:
* do you currently use the Fivetran connector?
* Can you provide some examples

Realistically speaking, for Airbyte to do this really well, we'd need to have a highly-available component (like an always-on email server) to receive these emails. It's especially important for this to

[2021-03-17 20:19] sherifnada commented on #2453
@Moofasax yup I meant issue_events, mb

[2021-03-17 20:26] sherifnada commented on #2453
Also, version 0.17.2-alpha containing the bugfix has been released. To upgrade Airbyte:

1. pull the latest version of the github repository using `git pull`
2. From the repo root, run `docker-compose down` to turn off the running instance of Airbyte
3. Run `docker-compose up` to turn it on. You should see that some the newest Airbyte images are being downloaded

Once the server is running you sho

[2021-03-17 20:49] vitaliizazmic commented on #1316
## Integration Vetting
The integration has already been vetted

Ready for implementation

**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
API key

**Creating an account**
Free account available?  No, but Airbyte obtained a sponsored partner account

**How to populate the account with data?**
Most streams can be populated entirely through the API e

[2021-03-17 22:22] cgardens commented on #2497
should be fixed by this https://github.com/airbytehq/airbyte/pull/2502

[2021-03-17 22:22] #2497 closed

[2021-03-17 22:43] cgardens commented on #1958
Redshift documents how to do the file upload, including how to handle incremental syncs using that method: [docs](https://docs.aws.amazon.com/redshift/latest/dg/merge-replacing-existing-rows.html)

[2021-03-17 22:50] cgardens commented on #1958
Same for Snowflake [docs](https://community.snowflake.com/s/article/how-to-perform-a-mergeupsert-from-a-flat-file-staged-on-s3).

BigQuery doesn't mention specifically the merging use case. But I'm assuming we just use their file upload ([docs](https://cloud.google.com/bigquery/docs/batch-loading-data#java)) and then write a query to do the merge.

[2021-03-17 23:13] cgardens commented on #1623
Thanks, @roshan . Cancellation is in progress right now. The configuration idea seems reasonable but not sure on priority yet.

[2021-03-17 23:15] cgardens commented on #2217
Ended up going with option 1 here, because of a technical reason why option 2 was going to be headache. I don't think based on the level of opinion between the 2 options it was worth handling the technical thing.

[2021-03-18 03:43] davinchia opened #2507 "Upgrade all connector button."
## Tell us about the problem you're trying to solve
Right now, I need to click `Change` as many times as there are connectors with new versions. This is okay for up to 3 connectors. This is minor, but it's an obvious annoyance.

## Describe the solution you’d like
One click button to update all connectors to the latest version.

Suggestion: Button is greyed out/not visible if there are no connecto

[2021-03-18 04:07] gordalina commented on #2495
Seems to be working perfectly in `0.17.2-alpha`, thank you @cgardens!

[2021-03-18 04:30] sherifnada commented on #2309
I just noticed that while the API uses oauth, it also offers an [oauth playground](https://developer.intuit.com/app/developer/playground) to quickly run oauth in the UI, which makes implementation easier

[2021-03-18 04:44] sherifnada commented on #2309
There's also another singer tap which seems more developed: https://github.com/singer-io/tap-quickbooks

We should make a choice between which of the two to use

[2021-03-18 04:44] sherifnada opened #2508 "New Source: Bing Ads"
## Tell us about the new integration you’d like to have
I would like to support the Bing Ads API as a source: https://docs.microsoft.com/en-us/advertising/guides/?view=bingads-13

There is a Singer tap [here](https://github.com/singer-io/tap-bing-ads) which works for this connector that we could build on top of.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/120036791251307

[2021-03-18 06:09] jimbeepbeep commented on #1814
Thanks @sherifnada, @yevhenii-ldv and team, I've created a new (Instagram) connector from from 0.1.1 and I can confirm... it seems to work perfectly!  I'll get to work transforming the data for our analytics and running some QA but it looks great from my initial inspection, and thanks for also including the JSON fields for the more weirdly structured metric responses.  You guys have done a great j

[2021-03-18 06:32] johnlafleur commented on #2307
We have a call tomorrow with their partnership team.

[2021-03-18 06:45] sherifnada commented on #2010
@timgl thanks for the pointer! At the moment Airbyte doesn't support webhook-style ingestion (though we will be working on that in Q2 most likely). It looks like we could still get a lot of mileage out of the "private API" mentioned here: https://posthog.com/docs/api/overview. Are there any gotchas we should be aware of when using it?

One question I have from reading the private-API docs is: is i

[2021-03-18 06:46] sherifnada commented on #2418
For an MVP I think it makes the most sense to read from the event history API and not use any trails. In the future we can support trails.

[2021-03-18 07:16] sherifnada commented on #2418
## Integration Vetting

**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
API key

**Creating an account**
Airbyte has an AWS account (will need to provide @arhip11 with access)

**How to populate the account with data?**
Already populated with data

**Available streams for sync**
Like mentioned above, since we are focusing on non-trail data i.e: da

[2021-03-18 07:23] sherifnada commented on #2414
## Integration Vetting

**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
Oauth: https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/create-serviceapp-grantscopes/

**Creating an account**
Self serve free account can be created. **I did not create one for Airbyte**.

**How to populate the account with data?**
I think we'll nee

[2021-03-18 07:31] timgl commented on #2010
@sherifnada So there's no way of posting events into an API currently?

Your altnerative is to use the events API, so you can call `/api/events?date_from=2020-05-25T14:06:33.584171Z`, then iterate 100 at a time to get all the events. You won't be able to get newly created users this way

[2021-03-18 07:39] sherifnada commented on #2010
@timgl correct, there is currently no way of posting events into an API but it's on our roadmap since a number of sources/interesting use cases rely on it. Thanks for the pointers!

[2021-03-18 09:58] joseignaciorm commented on #2167
I really thank you @sherifnada for the support. I have been following the "Building a Toy Connector" days before but I haven't finished it yet. It has help me a lot for context. Anyway, I'm already following your recommendations above and I'll be writing to you later for any question or am getting stuck.

[2021-03-18 10:55] jimbeepbeep commented on #768
@davinchia asked me to add my thoughts to this issue as we have the same need, but for the Facebook Graph API, which is pretty complex as per their [docs](https://developers.facebook.com/docs/facebook-login/access-tokens/).  When you generate an access token for this API via their [Graph Explorer](https://developers.facebook.com/tools/explorer/) you need to specify the Facebook App, whether it's a

[2021-03-18 11:00] davinchia opened #2510 "UI Update Destination request fails because it's missing fields."
## Expected Behavior
I should be able to update a Destination's version via the UI.

## Current Behavior
Updating the destination connection version on the UI fails.
<img width="1567" alt="Screen Shot 2021-03-18 at 7 01 22 PM" src="https://user-images.githubusercontent.com/9772859/111616007-57e4b400-881c-11eb-827e-d6a480234c2f.png">

## Steps to Reproduce
1. Check out master and spin up Airbyte.
2

[2021-03-18 13:33] meenagangadharan commented on #2459
@sherifnada @ChristopheDuong, The API that I am working on currently has the Open API for Schema specification. I need to convert it to the format specified here. Will there be a new version, where we can optionally update the Schema..?

[2021-03-18 13:35] yu-iskw opened #2512 "Support wildcard expression to load multiple files from GCS"
## Tell us about the problem you're trying to solve
We want to load files on GCS with wildcard expression, say about `gs://my-bucket/folder/data/data*.csv`, because it is quite common to use multiple files to express single data.

## Describe the solution you’d like
It seems that `URLFile` seems to accept only a single file. I am not sure the best solution. We might have to change the specificatio

[2021-03-18 14:13] yevhenii-ldv opened #2513 "Source Gitlab: ensure that every stream has a data to read"
Please check that all following streams have data:
* Branches
* Commits
* Issues
* Pipelines
* Jobs
* Projects
* Project milestones
* Project Merge Requests
* Users
* Groups
* Group Milestones
* Group and Project members
* Tags
* Releases
* Group Labels
* Project Labels

if data is not there try to populate either with API or manually

[2021-03-18 15:48] Adovenmuehle commented on #2491
Found this in Snowflake connector code: https://github.com/snowflakedb/snowflake-connector-python/blob/master/src/snowflake/connector/util_text.py#L229-L256

[2021-03-18 16:28] michel-tricot commented on #2512
@ChristopheDuong is it something that smart_open can handle out of the box?

I don't see anything obvious in the doc, they do mention some bucket listing features for S3, but nothing related to patterns

[2021-03-18 16:40] michel-tricot commented on #1814
Thanks @jimbeepbeep!

[2021-03-18 16:50] ChristopheDuong commented on #2512
`smart_open` is a layer on top of the python `open` function, I don't think it's made to handle wildcards as we wish it to in this use case...

But the connector could use some `smart_listdir` functionality yes :)

BTW this issue is probably related to this one:
https://github.com/airbytehq/airbyte/issues/1874#issuecomment-770252350

[2021-03-18 17:09] cgardens commented on #768
Thanks @jimbeepbeep . I think the common pattern is that every time we replicate data we will use the refresh token to get a new access token if needed. So hopefully the second half of your comment is pretty much already part of our common pattern.

For this part, what values need to be predefined? and should they be predefined in an airbyte ui or the fb ui?

So far we  planning to have the user c

[2021-03-18 17:23] sherifnada opened #2516 "Gracefully handle backwards incompatible connector upgrades"
## Tell us about the problem you're trying to solve
If a new version of a connector contains a backwards incompatible change, the Ui/API will happily let the user upgrade to that connector version without prompting them to reconfigure the connector.

We have two ways around this:

1. release a new connector definition for each backwards incompatible change (basically prevent major version semver b

[2021-03-18 17:41] sherifnada commented on #1814
@jimbeepbeep our pleasure! So glad to hear it's useful :)

[2021-03-18 18:01] sherifnada commented on #2167
great! Talk soon.

[2021-03-18 18:32] sherifnada opened #2517 "Set a default timeout in standard tests"
## Tell us about the problem you're trying to solve
If there is an infinite loop in one my methods, I would like standard tests to short circuit and print some helpful output. Additionally, I would to be able to set the timeout on standard tests to make it configurable (some tests should take 5m some should take 30m).

## Describe the solution you’d like
A default timeout for standard tests which

[2021-03-18 19:29] sherifnada commented on #2459
@meenagangadharan We could potentially support OpenAPI and JSON Schema as the format. I'm realizing there is a couple of complications with this approach though:
1. OpenAPI, while a more natural fit than JSON schema, would be more complicated as it contains many endpoints and we'd need to understand which endpoints we are working with in the response
2. In the case that the input schema does not m

[2021-03-18 20:37] cgardens commented on #2478
ok! I'd like to add one caveat here, which is we should not schedule the next job until the previous one is finished.

For example, let's say it is scheduled to run every 5 minutes, but one of the sync job takes 6 minutes. I would suggest that we do not schedule the next job until the previous job has completed. It can be scheduled immediately after the previous job has completed.

Example for cla

[2021-03-18 20:45] johnlafleur commented on #2478
Completely agree!

[2021-03-18 20:57] jrhizor commented on #2478
related to https://github.com/airbytehq/airbyte/issues/1965

[2021-03-18 21:08] #2244 closed

[2021-03-18 21:08] #2176 closed

[2021-03-18 21:08] #2510 closed

[2021-03-18 21:22] johnlafleur commented on #2307
So...to get a sandbox account, we'd need to pay $2,500 annually.
A perk is that we'd be featured as partners on their site, but there is no other path to get the sandbox account.
What I suggest is to see with one of our users if they can give us access to their account so we can build the connector. And once we start to have some revenue model, we'd switch to the partner program. Wdyt?
If you agre

[2021-03-18 21:24] #2217 closed

[2021-03-18 23:55] johnlafleur opened #2524 "Measuring throughput of connectors"
## Tell us about the problem you're trying to solve
We have no/little visibility on the throughput of our connectors.

## Describe the solution you’d like
Add properties duration / volume_rows / volume_MB for Connector Jobs when job_type=SYNC.

Here's the updated Segment spreadsheet: https://docs.google.com/spreadsheets/d/1qQPMBdz86yMBiyXpjw91D3HoP6hN7yIPRmLrF7xWOgA/edit#gid=1567609168

[2021-03-19 00:24] yu-iskw commented on #2512
@ChristopheDuong Thank you for the comment. The feature request looks related to #1874 . If we can also choose source files with wildcard expression in a directory, that would be awesome to me.

[2021-03-19 00:45] yu-iskw commented on #2512
I looked into smart-open. Unfortunately, I don't think it supports wildcard expression, even though it provides iterating over an S3 bucket contents. We probably have the two approaches, if we can support wildcard expression in airbyte.

1. Implement the feature by taking advantage of `smart_open` and `smart_listdir`.
2. Request wildcard expression support and contribute to smart-open itself

[2021-03-19 01:08] johnlafleur opened #2525 "Noindex the https://status-api.airbyte.io/tests/summary/.... pages"
## Tell us about the problem you're trying to solve
All the pages https://status-api.airbyte.io/tests/summary/... are being indexed by Google right now, which takes on our crawling quota. We should put them in noindex.

This is a very low priority task.

[2021-03-19 03:34] #2492 closed

[2021-03-19 07:04] jimbeepbeep commented on #2512
@yu-iskw if you are using BigQuery you don't need to load the files from GCS, you can create an external table and query directly using a wildcard as long as the filename stem is the same (you can only use a single * at the end of the filename).  I can help you set it up, let me know.

[2021-03-19 07:31] roshan opened #2526 "Redshift source indefinitely hangs on permission errors"
## Expected Behavior
On permission errors, the sync should fail

## Current Behavior
On permission errors, the sync does not terminate

## Logs
[code]

Final entry corresponds to the time I `docker kill`ed the source connector container.

## Steps to Reproduce
1. Create a Redshift database and a user with access to some tables
1. Set up the source to include one of these tables and set some destin

[2021-03-19 07:35] roshan commented on #2503
My apologies for not producing reprex. Those are accurate instructions.

[2021-03-19 09:29] johnlafleur commented on #2524
Actually, I wonder if we shouldn't have a property to indicate whether it's a full refresh or an incremental sync.
The 1st sync of an incremental refresh would then be a full refresh.
But as we can set up full refresh/incremental differently according to the tables, maybe that doesn't make sense. And we're computing throughput. Any thoughts on this @cgardens ?

[2021-03-19 12:22] keu commented on #2306
**Are the account test credentials available in Lastpass?** Yes

## Task breakdown
- [ ] Populate source with data, this could be quite a massive task or even blocker
- [ ] Create source with all streams and full table sync method
- [ ] Ensure that connector follows the best practices.

[2021-03-19 14:07] yevhenii-ldv commented on #2508
## Integration Vetting

**Webhook-based? (no/partially/yes)**

no

**Available authentication modes (API key/Oauth/other)**

In this regard, it is rather difficult here. Bing Ads uses Oauth, but it can be configured in such a way that due to the `refresh_token` to constantly update access token and work with it.
This is described in more detail in this [article](https://docs.microsoft.com/en-us/ad

[2021-03-19 14:12] jimbeepbeep commented on #768
That is great, makes total sense.

I think these could be preset in the connector config, for our use-case it's a specific and unchanging set

Agreed, that makes more sense. There are app-linked quotas too which should be user responsibility.

[2021-03-19 14:28] yevhenii-ldv commented on #2508
## Task breakdown
- [ ] Need to configure the application for Bing to get the corresponding client ID and client secret. And it is also necessary to generate all the tokens with which we can connect with Bing Ads API. (estimation ???, the documentation seems to indicate how this is done, but in reality it seems to be a rather time consuming task.)
- [ ] Populate source with data. (estimation 8h, b

[2021-03-19 14:34] stammi922 opened #2527 "Hubspot Source Failing to sync successfully into Snowflake"
## Expected Behavior
Connected the Hubspot Source to Airbyte. Using the HAPI-key.
Connected Snowflake Destination, double-checked all the permissions necessary for the role.

## Current Behavior
The connection makes 3 attempts, but all of them seem to fail.
Some data is being synced, but all the deal history data is not being shown. In particular when checking the retrieve fields in Snowflake that

[2021-03-19 14:42] ChristopheDuong commented on #2527
Hello @stammi922,

Could you please try to upgrade your Airbyte instance to 0.17.2-alpha and try again?
You can follow instructions here:
https://docs.airbyte.io/tutorials/upgrading-airbyte

Especially there was significant work made on the normalization step (where your sync is failing) in version 0.16.0.

Thanks

[2021-03-19 14:43] sherifnada commented on #2291
@vitaliizazmic could you create a ticket for this task so we can track separately?

[2021-03-19 15:05] ChristopheDuong commented on #2409
Since this PR introduces destination connectors that require destination sync modes to be defined, I will wait until the PR for the front-end is ready before merging this one (https://github.com/airbytehq/airbyte/issues/2371) to master.

Otherwise, newly created sync will be failing since the UI won't be setting/defining destination sync modes yet

[2021-03-19 15:13] ChristopheDuong commented on #2524
Note that DBT exposes statistics after being ran in a json file too.
So these could also be picked up and send along after normalization step (to separate it from the destination connectors writing the raw tables)
See https://docs.getdbt.com/reference/artifacts/run-results-json

[2021-03-19 15:17] joseignaciorm commented on #2167
I will be away on parental leave. So we'll talk when I'm back. Regards.

[2021-03-19 15:31] jrhizor commented on #2525
This is probably just putting a `User-agent: * Disallow: /` robots.txt file in the root of the bucket.

[2021-03-19 15:38] cgardens opened #2528 "Developing Locally Docs are out of date"
## Tell us about the documentation you'd like us to add or update
Developing locally [docs](https://docs.airbyte.io/contributing-to-airbyte/developing-locally#develop-on-airbyte-server-apis) mention using `:run` to run the server and scheduler in dev mode. This doesn't work anymore because of its dependency on temporal. (e.g. one cannot just do `./gradlew :airbyte-scheduler:run`). I think they jus

[2021-03-19 15:43] jrhizor commented on #2525
https://status-api.airbyte.io/robots.txt is live (I just created and uploaded to S3).

Tested https://status-api.airbyte.io/tests/summary/source-github-singer/ with the Googlebot on https://technicalseo.com/tools/robots-txt/ and it shows as disallowed.

[2021-03-19 15:43] #2525 closed

[2021-03-19 17:31] ChristopheDuong commented on #1958
Seems like Postgres also follows same pattern: [docs](https://www.postgresql.org/docs/current/populate.html#POPULATE-COPY-FROM)

[2021-03-19 18:36] quangdatnth commented on #1483
Hi @michel-tricot,
First version is available now?
Thanks

[2021-03-19 19:06] sherifnada commented on #1483
@quangdatnth we weren't able to support this yet -- we are solely constrained by bandwidth. Would you be open to contributing this connector to Airbyte? The easiest way to do this is to write it in Java. Let me know if you are interested and I can provide some pointers.

[2021-03-19 19:09] sherifnada commented on #2167
@joseignaciorm congrats! 👶🏼 👶🏼  enjoy your leave

[2021-03-19 20:03] johnxhuang opened #2532 "Oracle database as Source"
## Tell us about the new integration you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new integration
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do

[2021-03-19 20:34] sherifnada opened #2533 "New Source: Reddit"
## Tell us about the new integration you’d like to have
I would love to be able to use Airbyte to pull data from Reddit for sentiment analysis applications.

## Describe the context around this new integration
Various applications need to scrape social media to perform studies, aggregation, or sentiment analysis. Usually, this must be done by writing a custom client. But I would love for it to "ju

[2021-03-19 20:35] sherifnada opened #2534 "New Source: Stack Exchange"
## Tell us about the new integration you’d like to have
I would love to be able to use Airbyte to pull data from Stack Overflow for analysis. Typically I would look for questions in a particular tag or topic (e.g: if I want to keep track of issues related to Airbyte)

https://api.stackexchange.com/docs

## Describe the context around this new integration
Various applications need to scrape social

[2021-03-19 20:36] sherifnada opened #2535 "New Source: Twitter tweets"
## Tell us about the new integration you’d like to have
I would love to be able to use Airbyte to pull data from Twitter for analysis. Typically I would look for questions in a particular tag or topic (e.g: if I want to keep track of issues related to Airbyte)

Note this is NOT for Twitter Ads -- it is for the "normal" twitter API to pull tweets

## Describe the context around this new integration

[2021-03-19 20:37] sherifnada opened #2536 "New Source: Superset"
## Tell us about the new integration you’d like to have
I would like to be able to pull data from the Superset API: https://superset.apache.org/docs/rest-api

## Describe the context around this new integration
TODO

## Describe the alternative you are considering or using
TODO

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368155153600) by [Unito](http

[2021-03-19 20:39] sherifnada commented on #2532
@johnxhuang this is a duplicate of #1685 -- could you leave any context there? It's currently a WIP in #2424

[2021-03-19 20:39] #2532 closed

[2021-03-19 21:31] sherifnada opened #2538 "New Destination: Apache Druid"
## Tell us about the new integration you’d like to have
I would like to send data to Apache Druid for analysis.

## Describe the context around this new integration
Druid is a good fit for analyzing timeseries data and dashboard tools build on top of it. So it would be great to push data to it.

## Describe the alternative you are considering or using

[2021-03-19 21:39] #2221 closed

[2021-03-20 05:07] michel-tricot commented on #1981
I think we will get some definitive answer soon.

In the meantime, I got an possible explanation:

[2021-03-20 09:18] #2114 closed

[2021-03-20 09:18] #2195 closed

[2021-03-20 09:21] keu commented on #2009
@sherifnada this is not reproducible in the new (native) connector

[2021-03-20 15:23] tfriedel opened #2539 "mongodb source connector hangs at schema detection"
## Expected Behavior
Adding a mongodb source should take a couple of minutes and then display the collections.

## Current Behavior
Adding a mongodb source, in this case quite a big collection of about 30 million documents and 45 GB results in a long running (~1 hour) map-reduce op on the mongodb that in the end doesn't succeed. I tested it with a much smaller database and here it worked.

## Step

[2021-03-20 17:39] ronakbaps opened #2540 "New integration for airbyte"
**Sources** : MSFT Bing Ads, LinkedIn Ads, Zoho CRM, Google Ads
**Destination** : mySQL (AWS RDS), Amazon Aurora, Hadoop/Hive, MongoDB

In absence of these, I would go looking for outside availability.

## Tell us about the new integration you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for a

[2021-03-20 18:00] ffabss opened #2541 "Broken docs link: Admin > Configuration > Export"
## Steps to Reproduce

1. Go to **Admin > Configuration**.
2. Click on on the link [**configuration archive**](https://docs.airbyte.io/architecture/configuration-archive) within **Export**.

![image](https://user-images.githubusercontent.com/37747351/111880857-0b30e280-89ae-11eb-93e0-2f5600171e7a.png)

## Expected Behavior
Some kind of documentation about the configuration should be opened.

## Cu

[2021-03-21 05:24] michel-tricot commented on #2541
thanks @ffabss for reporting!

@ChristopheDuong, I don't think this page exist anymore. Should it be replaced by something else or should we kill the link from the UI?

[2021-03-21 18:33] juhaelee commented on #2496
Hey Sherif,

I do not use the connector today, but I work with various customers (disclosure- I work at Segment) who have described it as "Fivetran's killer feature".

One customer I work with says it saves their data engineering countless hours by allowing different teams (marketing, product, etc.) to upload data into their data warehouse themselves without needing to go through the data team.

M

[2021-03-22 00:58] davinchia opened #2545 "Webapp does not refresh itself after Source name is updated."
## Expected Behavior
After changing a source's name, I expect the changed name to be reflected in the UI.

## Current Behavior
The name is not reflected. Furthermore, 'save changes' button remains lit, giving the impression no save has occurred.

However I know this has successfully saved since I see this in the logs:

[code]

## Steps to Reproduce
1. Navigate to a source in the UI and try to chan

[2021-03-22 08:25] hoanghapham commented on #1969
Not sure about the OP's use case, but I am also interested in this.
I am looking for a way to pull Asana task statistics into our BigQuery data warehouse to have visibility of our operations. Questions that we have are:
- How long does it take for a task to be completed? Break down to team members.
- What are the task types that take the longest to complete? (by using tags as a dimension)

So far

[2021-03-22 09:15] #2513 closed

[2021-03-22 09:47] ChristopheDuong commented on #2541
it should be pointing to: https://docs.airbyte.io/tutorials/upgrading-airbyte

[2021-03-22 11:40] meenagangadharan commented on #2459
@sherifnada,
Thanks for understanding! I have an Open API metadata for now. Also the open API has multiple end points like you mentioned. So it's OK to have this caveats. I can mention the end point that needs to be extracted for each pipeline.  Alternatively I have also converted it to a JSON Schema manually(for one of the endpoints), to see which works better.

I am looking for the data to be sp

[2021-03-22 12:01] bashyroger commented on #2459
Hi @sherifnada , as @meenagangadharan mentioned it 'is ok' for us to extract the keys / flatten / apply the schema **after** the initial raw data import.
What is important though, is that we are able to indicate for any API source, wheter that has schema metadata or not, what **the prime** _'key' / array_ is that, when looping over that emits individual rows.
This should be covered by any EL impor

[2021-03-22 13:36] #2305 closed

[2021-03-22 15:23] data-k commented on #1879
This would really help us as well, running into a similar issue connecting to an Azure Managed MySql Database.

Cheers

[2021-03-22 15:32] jimbeepbeep commented on #1814
OK @sherifnada I've set this connection up on a 3 hourly sync and have had the chance to spend a bit more time with this data today.  A lot looks right but there are a few issues in the data which we need to look at.  As you know it can get a little confusing with the different id fields, but it's important to note that the `id` field in the `users` table corresponds to the `business_account_id` i

[2021-03-22 16:00] yevhenii-ldv commented on #2412
## Task breakdown
- [ ] Populate source with data. (estimation 6h, there are several streams responsible for Email, it can be difficult to create fake data for them).
- [ ] Create source with all streams with full/incremental sync(using Singer Tap) (estimation 5h)
- [ ] Ensure that connector follows the best practices, rate limiting, retry call, proper error messages, has tests (estimation 4h).

#

[2021-03-22 16:40] cgardens opened #2549 "CDC State Management and Termination Conditions"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-03-22 17:59] cgardens commented on #2545
this is an API bug actually.

[2021-03-22 18:01] Jamakase commented on #2501
Duplicate https://github.com/airbytehq/airbyte/issues/2330

[2021-03-22 18:15] Muriloo opened #2551 "Integration of VNDA Ecommerce Platform"
## Tell us about the new integration you’d like to have
Integration of [VNDA e-commerce platform](https://www.vnda.com.br/)
VNDA is a product used as an ecommerce platform for small and medium companies in Brazil.

## Describe the context around this new integration
This integration is used to get data such as orders, products and customers from the ecommerce platform in order that many internal t

[2021-03-22 18:21] Muriloo opened #2552 "Integration of Bling ERP System"
## Tell us about the new integration you’d like to have
Integration of [Bling ERP system](https://www.bling.com.br/home).
Bling is a product used as an ERP system for small and medium companies in Brazil.

## Describe the context around this new integration
This integration is used to get data such as orders, products, customers and invoices from the erp system in order that many internal teams ca

[2021-03-22 18:26] Muriloo opened #2553 "Integration of Estoca logistics system"
## Tell us about the new integration you’d like to have
Integration of [Estoca logistics system](https://estoca.com.br/).
Estoca is a product used as a Warehouse Management System for small and medium companies in Brazil.

## Describe the context around this new integration
This integration is used to get data such as orders and it's delivery status from the logistics platform in order that the lo

[2021-03-22 18:44] cgardens commented on #2371
To clarify the expected values in the drop down. up to 3 values might be present. it can be less depending on the what the stream supports.

![Screen Shot 2021-03-22 at 11 43 46 AM](https://user-images.githubusercontent.com/9092207/112041697-ecdcfb00-8b03-11eb-9bc6-f8d02fd2d86e.png)

[2021-03-22 18:45] cgardens commented on #1649
closed by: https://github.com/airbytehq/airbyte/pull/2544

[2021-03-22 18:45] #1649 closed

[2021-03-22 18:47] cgardens commented on #1650
@sherifnada the Appsflyer Connector has been merged but it has _not_ been run against standard tests yet (because the contributor doesn't have access to an appsflyer account anymore). It looks like already have credentials for Appflyer, we just need need to connect our test account to the standard tests (and work out any kinks we might find). Can we scheduler this with zazmic?

For now the Appsfly

[2021-03-22 18:49] ChristopheDuong commented on #2371
Yes, for the UI "Incremental - deduped + story"

[2021-03-22 18:54] sherifnada opened #2557 "Alert when connector CI fails repeatedly"
## Tell us about the problem you're trying to solve
We currently need to proactively check the [connector health](https://docs.airbyte.io/integrations/connector-health) to find if connector builds are repeatedly breaking. We should have proactive alerting for all of these. Ideally the alerting works as follows

If the latest build is a failure, trigger an alert if any of the following conditions a

[2021-03-22 19:53] sherifnada commented on #2454
Closing without working on this because I think `SingerSource` is more approachable for a newer contributor as it gives them a clear mapping from their mental model of Singer to the Airbyte mental model. `BaseSingerSource` is an abstraction somewhere in the middle which I think obfuscates the mapping between the two.

[2021-03-22 19:53] #2454 closed

[2021-03-22 19:58] cgardens commented on #2490
Artem, can we reuse the same spinner strategy we have for reset data?

[2021-03-22 20:00] cgardens commented on #2171
closed by https://github.com/airbytehq/airbyte/issues/2244

[2021-03-22 20:02] cgardens commented on #1986
fixed by: https://github.com/airbytehq/airbyte/pull/2246

[2021-03-22 20:02] #1986 closed

[2021-03-22 20:07] cgardens opened #2560 "Supporting searching tables in connection setup"
## Tell us about the problem you're trying to solve
We want to be able to filter tables in the connection setup page. There is already a mock up for this for this issue: https://github.com/airbytehq/airbyte/issues/2371. We need to figure out the logic for how check box selection works though, so we are splitting it into a separate issue so that we don't block the destination sync mode stuff in tha

[2021-03-22 20:09] cgardens opened #2561 "Add tests for "complex" json schema specs"
## Tell us about the problem you're trying to solve
We want to test all of the different behaviors for connector configuration specs. e.g. one of, list, etc.

## Describe the solution you’d like
Either unit tests or integration tests that check all of the known cases that we want to support.

[2021-03-22 20:11] cgardens commented on #2465
closed by https://github.com/airbytehq/airbyte/pull/2489

[2021-03-22 20:11] #2465 closed

[2021-03-22 20:13] cgardens commented on #2156
[proposal](https://github.com/airbytehq/airbyte/pull/2522) on how to handle CDC metadata. Ultimately we are nto going in this direction, but documenting it here for posterity.

[2021-03-22 20:16] cgardens commented on #2156
updated the description with progress from last week and with new to dos for this week.

[2021-03-22 20:16] jrhizor opened #2562 "improve log readability"
Carries the unimplemented piece of https://github.com/airbytehq/airbyte/issues/652 over.

* have the job run page stretch the width of the page
* have side scrolling inside the log view (no word-wrap, so exceptions are actually readable)
* respect log color formatting like `\033[0;31m`, etc.

Currently I never debug logs in the UI. I have to download them and look at them elsewhere because they're

[2021-03-22 20:18] cgardens commented on #1744
this was closed when this PR: https://github.com/airbytehq/airbyte/pull/2385 was merged.

[2021-03-22 20:18] #1744 closed

[2021-03-22 20:24] #2471 closed

[2021-03-22 20:29] #2478 closed

[2021-03-22 20:32] jrhizor opened #2564 "find workflow execution from temporal metadata"
depends on https://github.com/airbytehq/airbyte/issues/2387

Use the temporal metadata to find the workflow execution for cancellation instead of writing to a file.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368220450589) by [Unito](https://www.unito.io)

[2021-03-22 20:59] cgardens opened #2566 "Next Steps for DBT / normalization"
## Tell us about the problem you're trying to solve

Here is a compiled list of features for normalization from discussions/feedbacks with users, you can click on the items below to vote!

[![](https://api.gh-polls.com/poll/01F21CBR1BNBXS4ZPMGDY1NEHG/Handling%20Source%20Schema%20Changes)](https://api.gh-polls.com/poll/01F21CBR1BNBXS4ZPMGDY1NEHG/Handling%20Source%20Schema%20Changes/vote)
[![](https

[2021-03-22 21:05] #2466 closed

[2021-03-22 21:05] jrhizor commented on #2353
It is here: https://docs.airbyte.io/faq/technical-support#connection-refused-errors-when-connecting-to-a-local-db but might be useful in more places. I think this is a general problem where it's hard to find the FAQ/what to do when there's a problem.

[2021-03-22 21:30] sherifnada commented on #2473
Outcomes from last week:
* @ michel-tricot (not tagging him since he is no PTO) has been working on a framework (codenamed "Magibyte") for developing connectors in a declarative manner, via YAML configuration
* We agreed the path forward will be to start bottom-up: provide python libraries that can be configured in Python, more like an SDK

Here is a rough breakdown of the tasks to come:

**Step 1

[2021-03-22 23:00] cgardens opened #2567 "Add cancel job to UI"
Child of https://github.com/airbytehq/airbyte/issues/1623
## Tell us about the problem you're trying to solve
We expose the ability to cancel a job in the API (PR: https://github.com/airbytehq/airbyte/pull/2530). We want to expose this functionality

## Describe the solution you’d like
Add a cancel button for jobs that are not completed. Here is an idea of where it should go (the button should use

[2021-03-22 23:10] cgardens opened #2568 "Consolidate StandardSyncSchedule into StandardSync"
## Context
The `StandardSync` a configuration object that describes how data will be replicated. Specifically in answers some of these questions:
1. where is my data coming from?
2. where is my data going?
3. what is the schema of the data that will be replicated
4.  how will that data be replicated (e.g. do we send the data every time (full refresh) or incrementally)

The `StandardSyncSchedule` d

[2021-03-22 23:28] davinchia opened #2569 "Improve loading into Redshift Destination."
## Tell us about the problem you're trying to solve
Loading into Redshift is currently very slow. Based on user reports and my own testing, this is around 10k row (~10 MB) every 10 mins. Pretty much unusable once the table grows to a certain size.

Redshift portion of #1479.

## Describe the solution you’d like
This is because we are doing inserts into Redshift. We should follow the recommended wa

[2021-03-22 23:30] davinchia commented on #1958
Redshift portion of this ticket #2569 currently being worked on.

[2021-03-23 01:20] gordalina opened #2572 "Scheduler can't run new jobs after it crashes"
## Expected Behavior
Scheduler should run new jobs (e.g: discover schema)

## Current Behavior
It can run new jobs until a SYNC job crashes.

## Logs
[code]

More logs

[code]

## Steps to Reproduce
1.Create a connection with an empty syncCatalog
1. Run a discover schema command and see it return ok
1. Wait until the scheduler crashes when running a SYNC for the connection
1. Run discover schema c

[2021-03-23 03:40] johnlafleur commented on #2435
Here's a suggestion of design:
https://www.figma.com/file/AODY4oi15iI5l0fbxHvobt/Daxtarity?node-id=23938%3A3079
Is this what you had in mind @juan-meister

[2021-03-23 09:03] davinchia opened #2573 "HTTP Source Connector should support pagination."
## Tell us about the problem you're trying to solve
Today the HTTP Source Connector ignores any sort of pagination token and just passes along the received JSON blob.

## Describe the solution you’d like
If there is pagination, the HTTP request connector should iterate through all the pages, combine the blobs, and write the final list to the destination.

See scenario #1 of this [user doc](https:/

[2021-03-23 09:35] johnlafleur opened #2574 ""Destination" should be "Destinations" in the left column"
Now that we support several destinations.

[2021-03-23 09:35] johnlafleur commented on #2574
@cgardens can we prioritize this very easy fix to the current sprint?

[2021-03-23 09:57] ChristopheDuong commented on #2562
Another point is we have to scroll a lot through the logs page too...
if we could have always visible buttons to jump to the top or bottom of the log page, that would be nice...

Some auto-scroll functionality while job is running as described here could also be great:
https://gitlab.com/gitlab-org/gitlab-foss/-/issues/39109

[2021-03-23 10:36] davinchia opened #2575 "Allow user to configure logging levels when running Airbyte."
## Tell us about the problem you're trying to solve
We currently log everything. This produces a large amount of logs that can overwhelm a central logging system.

## Describe the solution you’d like
User should be able to configure the logging level.

## Additional context
See this slack thread: https://airbytehq.slack.com/archives/C019WJFR1JT/p1616488088031800

┆Issue is synchronized with this [

[2021-03-23 11:29] juan-meister commented on #2435
Yes
But I still think that putting "add destination" in the Sources tab is weird. But I noticed that Fivetran does it too

[2021-03-23 11:52] johnlafleur commented on #2435
Segment too...I feel it's pretty convenient to see the destinations there and be able to add one from that page too.

[2021-03-23 14:31] yevhenii-ldv commented on #2346
## Task breakdown
- [ ] Populate source with data (estimation 5-6 h).
- [ ] Create source with all streams and full table sync method (estimation 8h)
- [ ] Update source with incremental sync method (estimation 7h)
- [ ] Ensure that connector follows the best practices, rate limiting, retry call, proper error messages, has tests (estimation 4h).

[2021-03-23 14:39] cooperfrench95 opened #2578 "Migration from 0.15.0-alpha appears not to work"
## Expected Behavior
According to the documentation found [here](https://docs.airbyte.io/tutorials/upgrading-airbyte) I should be able to follow the instructions and perform a migration using the provided docker image. But it doesn't work. I am attempting to upgrade from 0.15.0-alpha to 0.17.2-alpha

## Current Behavior
I did the following as instructed by the docs:
[code]
Then step 3: _Navigate t

[2021-03-23 14:48] arhip11 commented on #2308
Started 60-day trial.
Waiting for support to contact.
"A member of our team will be following up with you shortly to make sure you have everything you need in order to get started on ReCharge."

[2021-03-23 14:54] arhip11 commented on #2308
Requested API token from support via "Contact us" form.

[2021-03-23 14:54] hoanghapham opened #2579 "Support syncing to time-partitioned tables in BigQuery"
## Tell us about the problem you're trying to solve
Currently when syncing data to BigQuery, Airbyte dumps the raw data into a non-partitioned table. This is fine if the source table is small, but in the case of very large tables (events, logs etc...), the cost to normalize this large table on BigQuery may be huge.

## Describe the solution you’d like
I want to see the following things happen:
- A

[2021-03-23 15:05] arhip11 commented on #2418
Hey @sherifnada.
Can you share the credentials to AWS?
Besides having credentials, is anything else required?

[2021-03-23 15:06] jrhizor opened #2580 "use "title" and "description" for oneOf spec fields in the UI"
Right now the drop down label is just `some_field_here` for the example below, while it should be `My Title` and only fall back to `some_field_here` if the `title` field doesn't exist.

Also, the description doesn't show anywhere (we probably need a mockup for this). The use case I'm thinking is for something like CDC where we want to explain the pros and cons of different approaches before someon

[2021-03-23 15:12] ChristopheDuong opened #2581 "Improve ease of running migration script"
## Tell us about the problem you're trying to solve
When we run the migration script, we have to specify airbyte versions twice:
- the docker image
- the target version

For example, from https://github.com/airbytehq/airbyte/issues/2578:
`docker run --rm -v /home/cooper:/config airbyte/migration:0.17.2-alpha -- --input /config/airbyte_archive.gz --output ./airbyte_migrated.tar.gz --target-version

[2021-03-23 15:14] keu commented on #2180
Scoping:

- [ ] Implement python package with base class for testing (3h)
- [ ] Implement docker tools to parse connector output and save inputs/outputs of each run (2h)
- [ ] Implement configuration fixture that parse yaml and apply it to test context (2h)
- [ ] Implement skip fixture to select only specific tests (30m)

Total dev estimation 7-8h

[2021-03-23 15:18] keu commented on #2181
Scoping:

- [ ] Implement core tests (2h)
- [ ] Implement full refresh tests (2h)
- [ ] Implement incremental tests (3h)

Total dev estimate: 7h

[2021-03-23 15:20] keu commented on #2185
really simple task, update python template to create yaml config file and `standard_test.py`

Total dev estimate: 1h

[2021-03-23 15:29] vitaliizazmic commented on #2309
We can use [Singer Tap](https://github.com/singer-io/tap-quickbooks) to implement new source.

It uses requests_oauthlib.OAuth2Session All we need to set in configs next parameters:
- client_id
- client_secret
- refresh_token
They can be received via [OAuth 2.0 Playground](https://developer.intuit.com/app/developer/playground). Before that you should create app.

Singer Tap doesn't support one req

[2021-03-23 15:29] keu commented on #2186
for this we should provide files with expected records,
test options are:

| Options  | Default Value | Meaning | Estimation |
| ------------- | -------|------ |----|
| `exact_order` | False  | Ensure that records produced in exact same order | 2h |
| `extra_fields` |  True | Allow records to have other fields | 1h |
| `extra_records` | True | Allow connector to produce extra records, but still en

[2021-03-23 15:30] keu commented on #2182
dev estimation is 3-4h

[2021-03-23 15:38] cooperfrench95 commented on #2578
@ChristopheDuong I did this and it appeared to work, but now when I try to upload the migrated configuration file through the airbyte interface, nothing happens. I can't click submit or anything.

[2021-03-23 15:44] sherifnada commented on #2412
@yevhenii-ldv things to verify:

1. Can we sync data for the entire date range? this way we only need to make N requests every sync (N is the number of streams)
2. can we find out how any existing singer taps deal with this process?

[2021-03-23 16:18] sherifnada commented on #2307
This sounds like a good path forward. Let's support this once someone actually asks for it.

[2021-03-23 16:19] cooperfrench95 commented on #2578
Referring to this screen
![image](https://user-images.githubusercontent.com/44951144/112180316-6a088d00-8c36-11eb-8e53-2f7bc7a73fa7.png)

[2021-03-23 16:25] ChristopheDuong commented on #2578
Did you drag and drop or click to select a file?

Otherwise you can also use the API with command-line tool such as curl to do the import:
https://docs.airbyte.io/tutorials/upgrading-airbyte#api-instruction

[2021-03-23 16:27] sherifnada commented on #1894
duplicate of #985

[2021-03-23 16:45] cgardens commented on #2581
I don't understand the confusion or what was wrong. Can you share the command that someone was using that was wrong? Or were our docs showing a command that was wrong?

[2021-03-23 16:46] cgardens commented on #2581
Oh, is it that you can't specify a patch version as the target in the migration script?

[2021-03-23 16:48] #2581 closed

[2021-03-23 16:51] ChristopheDuong commented on #2581
You have to provide the exact version of the last migration class in the code

In the description of my issue or the linked one (or the slack thread) there are traces of commands ran by users and the resulting exception stack traces

[2021-03-23 16:51] cgardens commented on #2580
@jrhizor why do we need mockups for the description? can we not use the existing description logic / rendering?

[2021-03-23 16:55] sherifnada opened #2585 "New Source: Zoho Books"
## Tell us about the new integration you’d like to have
[Zohobooks API](https://www.zoho.com/books/api/v3/)

## Describe the context around this new integration
todo

## Describe the alternative you are considering or using
todo

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368155707198) by [Unito](https://www.unito.io)

[2021-03-23 16:58] cgardens commented on #2581
ok. I think just defaulting to latest is fine. In addition we do the same thing as we do for the current version, where we search backwards from the version we receive to find the last migration and then start from there.

[2021-03-23 17:06] sherifnada commented on #1969
@hoanghapham thanks for the context! We'll scope this work soon. Could you let us know: which of the [Asana API endpoints](https://developers.asana.com/docs) do you need support for?

[2021-03-23 17:13] cgardens commented on #2516
It seems like one piece of metadata we are missing in general is that a connector should not only specify its current version but what versions of airbyte it is compatible with.

[2021-03-23 17:21] cgardens commented on #2573
@sherifnada

[2021-03-23 17:22] cooperfrench95 commented on #2578
Tried both and also tried renaming the file to .tar, .gz, .tar.gz etc. (the migrated zip generated had no file extension originally, but ubuntu recognized it as a gzip). Also tried in firefox and chrome

I will give the API method a shot.

[2021-03-23 17:26] cgardens commented on #2572
Thanks. Taking a look today.

[2021-03-23 17:38] sherifnada opened #2588 "Display Connector Certification status in the UI, API, and connector documentation"
## Tell us about the problem you're trying to solve
As much as possible, Airbyte tries to ensure a minimum (high) quality bar all connectors. Typically this requires us to do the following:

1. Create a test/sandbox account for the underlying service in question. This is sometimes tedious (requires multiple conversations with a sales team) or expensive (requires paying a large annual subscription)

[2021-03-23 17:44] sherifnada commented on #1650
This is going to be a difficult one because it requires having an actual iphone app with the appsflyer SDK baked into it. I think we should make this available in the Ui by default once we can display certification badges a la #2588, but prepping this sandbox feels like the wrong place to spend time right now. LMK if you feel differently.

[2021-03-23 17:46] sherifnada commented on #2009
@keu thanks for the heads up. closing

[2021-03-23 17:46] #2009 closed

[2021-03-23 17:49] ChristopheDuong commented on #2578
Looking closer to the migration command that you ran, I see that we omitted the `/config/` there, the command should be:

[2021-03-23 17:50] ChristopheDuong commented on #2578
Make sure to clean the `airbyte_migrated.tar.gz` from `home/cooper` before migrating so you actually produce a new migrated tarball

[2021-03-23 18:07] islador commented on #2573
There are numerous pagination strategies out there: limits, pages, etc. It'd be ideal if it were possible for the exact keys used to be specified during configuration.

[2021-03-23 18:26] cooperfrench95 commented on #2578
This actually never got created, because of the missing `/config` part, before I was trying to upload the old non-migrated zip file thinking it had been modified as there was an archive within it called `airbyte_migrated` but it was just the non-migrated data.

I added the config dir to the command and generated the migration file successfully, but was still unable to upload it through the interfa

[2021-03-23 18:31] sherifnada opened #2589 "New Source: Linkedin Ads"
## Tell us about the new integration you’d like to have
[Linkedin Ads/Marketing](https://docs.microsoft.com/en-us/linkedin/marketing/)

## Endpoints
todo

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368220419619) by [Unito](https://www.unito.io)

[2021-03-23 18:31] sherifnada opened #2590 "New Destination: Amazon Aurora"
## Tell us about the new integration you’d like to have
I would like to push data to Amazon Aurora DB.

[2021-03-23 18:46] sherifnada commented on #2540
@ronakbaps thanks for creating the issue! We have issues for all the above sources and destinations:
Linkedin #2589 -- no target date yet, this is the first request
Bing #2508 -- targeting delivery in April
Zoho #2585 -- no target date yet
Google Ads is already available today.

Destinations:
MySQL #1483
Aurora #2590
Mongo #2369
Hive #1877

we currently don't have target dates for these destinatio

[2021-03-23 19:03] sherifnada opened #2591 "Differentiate between exceptions thrown by source, destination, or normalization"
## Tell us about the problem you're trying to solve
Today when an exception is thrown during a sync, we don't differentiate in our tracking between which component (source/destination/normalization) threw the exception. We should do that so we can have accurate error tracking.

[2021-03-23 20:49] tsw-attila commented on #1969
Hi @sherifnada thank you for getting in touch. First thing, I'm a novice so bear with me if my responses do not properly address the questions you asked.

[2021-03-23 21:07] #2505 closed

[2021-03-23 21:30] sherifnada commented on #1969
@tsw-attila no problem! thanks for the information. Which API endpoints would you like to sync using the connector? API docs: https://developers.asana.com/docs

[2021-03-23 21:39] sherifnada commented on #2309
@vitaliizazmic we can skip creating a fork for the extra stream. let's only do that when support is requested by a user.

[2021-03-23 21:41] sherifnada commented on #2418
@arhip11 I created credentials for the AWS account and you should have access. Please let me know if there is anything else needed from me to be able to hit the API (i believe you should be able to generate credentials yourself)

[2021-03-23 21:52] johnlafleur opened #2594 "BigQuery integration on Segment doesn't work"
As you can see here: https://app.segment.com/airbyte/warehouses/thPpAvZLdE3VywtR39yNfP/sources/5V9hV7RVkLce3QnrphhC2r/sync-history
It seems the check_connection doesn't go through

[2021-03-23 21:58] jrhizor commented on #1629
https://airbytehq.slack.com/archives/C01AHCDHCKE/p1616536540037900

[2021-03-23 22:01] sherifnada commented on #1814
@jimbeepbeep thanks for reporting the issue. Could you share the logs for the relevant jobs? We'll investigate on our side as well.

[2021-03-23 22:01] jrhizor opened #2595 "detect when a version upgrade process needs to happen"
We get a lot of support requests on Slack that are due to not running migrations. This is inevitable because I think most people wouldn't think to check documentation to see if they can upgrade instead of just running `docker-compose down` -> `git pull` -> `docker-compose up` and then running into hard to debug errors.

It should be easy to freeze the UI on a loading screen with instructions to ru

[2021-03-23 22:15] sherifnada commented on #2539
@tfriedel Thanks for reporting the issue! We haven't tested mongo at this scale yet. Unfortunately we don't have the bandwidth to take this on at the moment, but we love contributions if you are interested in creating a PR! LMK and we can talk about next steps.

[2021-03-23 22:20] sherifnada commented on #1814
@jimbeepbeep I'm unable to reproduce a similar issue on my side. Let's hope logs can provide some insights!

[2021-03-23 22:22] sherifnada commented on #1879
@data-k would you be interested in contributing this to the MySQL connector? It should be fairly straightforward if you're interested.

[2021-03-23 22:25] tfriedel commented on #2539
sorry I also don't have the time unfortunately.

[2021-03-23 22:38] jrhizor opened #2596 "try to replicate empty sync file bug"
Someone ran into an issue where:

And then empty files were present, causing:

[code]

We should probably audit our file handling for blocking server requests and make sure we aren't leaving bad files behind somehow.

What I'm proposing here is to make a schema change / cancel partway through a schema update, and restart Airbyte to see what happens.

If that doesn't induce the failure, I'm not sur

[2021-03-23 22:39] jrhizor commented on #2596
Relevant Slack thread (near the end): https://airbytehq.slack.com/archives/C01MFR03D5W/p1616513448065200

[2021-03-23 22:47] sherifnada opened #2598 "simple upgrade command"
## Tell us about the problem you're trying to solve
I would love to be able to upgrade Airbyte by running something like `./upgrade_airbyte.sh` so I don't have to follow a non-trivial path like described in https://docs.airbyte.io/tutorials/upgrading-airbyte.

## Describe the solution you’d like
`./upgrade_airbyte.sh`. I will also accept `./upgrade_airbyte`.

┆Issue is synchronized with this [Asan

[2021-03-23 22:55] jrhizor commented on #2598
I want this to detect that a version change occurred and run automatically, so all users have to do is `docker-compose down`, `git pull`, `docker-compose up`.

[2021-03-23 23:03] jrhizor commented on #2580
We may not, but oneOf uses the custom border so there isn't an automatic place to put the description. Maybe inside?

[2021-03-24 00:00] cgardens commented on #2572
@gordalina I think this should be fixed. I have tested it on mac (not linux), but I think there was a brief regressions but should have been fixed by this PR https://github.com/airbytehq/airbyte/pull/2542 which was released as part of 0.17.3-alpha today. If you still see the same problem, let me know and I will dig in deeper.

[2021-03-24 02:05] gordalina commented on #2572
I'll test it out and let you know, thank you for having a look.

[2021-03-24 02:58] davinchia commented on #2594
I've reset all the configuration following the instructions: https://app.segment.com/airbyte/warehouses/2Z669pBru6z6CESbdhaZmk/overview

I am currently waiting for the first sync to confirm this works.

[2021-03-24 03:05] hoanghapham commented on #1969
@sherifnada the one that I think our team will need are:
- Task
- Projects
- Users
- Teams, Team Memberships
- Events
- Stories
- Custom fields
- Tags

[2021-03-24 04:20] erichartono opened #2599 "Missing records from 2nd batch on Destination"
## Expected Behavior
I synced 7,188 records of data from 2 tables, accounts and brokers.
Accounts has 7,179 records and I expect to get 7,179 rows in Destination

## Current Behavior
Accounts has 7,179 records, and sync happened in 2 batches. 1st batch has 870, and 2nd batch has 6309.
On destination, I only get 870 records on accounts table.

## Logs
[logs-47-0.txt](https://github.com/airbytehq/ai

[2021-03-24 05:27] sherifnada commented on #2459
@bashyroger great point about the max row size. We'll prioritize working on this soon.

More generally FWIW, it might be much more straightforward to implement a custom connector for your use case rather than try to fit the HTTP connector to all use cases. it's tricky to implement a generic HTTP source connector that will work for most APIs as they all contain slightly different permutations of fe

[2021-03-24 06:20] jimbeepbeep commented on #1814
@sherifnada I have re-run and include the logs below, also updated my previous comment as stories are ephemeral and they do show up in subsequent syncs.  However the issue is still there with the **media** and **media_insights**:

![image](https://user-images.githubusercontent.com/34912260/112264091-a953cf80-8c70-11eb-9bbd-5aee5376724d.png)

Logs below, looks like the streams might be bombing out

[2021-03-24 06:29] keu commented on #2517
We can implement a timeout check during our loop of reading output from docker. if we reach the maximum allowed time we stop with `pytest.fail("Timeout")`.

Another possible option could be using plugin like https://pypi.org/project/pytest-timeout/.

Dev estimation is 2h

[2021-03-24 06:35] keu commented on #2183
Dev estimation is 2h

[2021-03-24 06:37] keu commented on #2184
Dev estimation is 2h as the main part of it already a part of #2181

[2021-03-24 08:36] coquej opened #2601 "MySQL connector has problems loading Datetime columns with Zero Date values"
## Expected Behavior
Load a table from MySQL Database that has datetime columns with NULL values, into BigQuery.

## Current Behavior
Job crashes raising "java.sql.SQLException: Zero date value prohibited" exception.

## Logs
2021-03-24 08:22:52 [32mINFO[m i.a.i.s.j.JdbcStateManager(createCursorInfoForStream):126 - {} - No cursor field set in catalog but not present in state. Stream: defaultdb.p

[2021-03-24 09:30] yevhenii-ldv commented on #985
## Integration Vetting

**Webhook-based? (no/partially/yes)**

no

**Available authentication modes (API key/Oauth/other)**

[API token](https://devdocs.magento.com/guides/v2.4/get-started/authentication/gs-authentication-token.html#integration-tokens)

**Creating an account**

_To work with Magento and Magento REST, you need to create your own domain, with which we can receive account data._
_Unf

[2021-03-24 11:59] ChristopheDuong commented on #2601
Thanks for the feedback!
We'll look into why NULL values throw errors on date-type columns!

We also have this issue open: https://github.com/airbytehq/airbyte/issues/1006

So I am pretty sure this is not coming from the BigQuery destination/normalization and the source is not handling the date type column well in this case.

A temporary solution for you could be to somehow make sure the source co

[2021-03-24 12:11] ChristopheDuong commented on #2599
Related thread on slack interacting with @davinchia (who's reworking the redshift destination too) is available here: https://airbytehq.slack.com/archives/C01MFR03D5W/p1616481563058700

[2021-03-24 12:15] coquej commented on #2601
Ok. Although we think the temporary solution you propose is a good (provisional) idea, we cannot change anything from the source as we don't have permissions to modify it (we only have read access). So, for now, we will wait until that issue is closed.

Is it planned to work on the #1006 issue in the near future?

[2021-03-24 12:16] ChristopheDuong commented on #2595
Currently, a check is made in `ServerApp` and `SchedulerApp` (not in the UI) and throws an exception with links to the docs for upgrading:
https://github.com/airbytehq/airbyte/blob/a3bc54bee7f6e2c63d2aa2d97ad8cbf797a74315/airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteVersion.java#L114

[2021-03-24 12:20] ChristopheDuong commented on #2578
Are you sure this is spinning forever without any results? if you wait a minute or two? (you should see activity in server logs though)

We have this trouble with caching where it takes a long time to refresh the pages (right after import too):
https://github.com/airbytehq/airbyte/issues/2034

[2021-03-24 12:30] ChristopheDuong commented on #2601
We've been talking about #1006 but haven't committed on it in the very near future yet as it induce significant work I think (cc @jrhizor)

However another quicker solution we could deploy to unblock you would be to support custom SQL Views in the source connector settings as discussed here then?

https://github.com/airbytehq/airbyte/issues/2463#issuecomment-799630461

[2021-03-24 12:39] coquej commented on #2601
2 and 3 would be great!

[2021-03-24 13:01] davinchia commented on #2594
confirmed with Marcos this is working - resolving

[2021-03-24 13:01] #2594 closed

[2021-03-24 13:37] cooperfrench95 commented on #2578
19 hours later it's still spinning for me

[2021-03-24 14:39] ilpizze opened #2602 "Imap Connector"
## Tell us about the new integration you’d like to have
Source: IMAP Server

## Describe the context around this new integration
Sync all emails on the server with a database table

## Describe the alternative you are considering or using
Self made batch in java, python or Pentaho PDI

[2021-03-24 14:39] ChristopheDuong commented on #2578
Ok definitely way too long...

[2021-03-24 14:43] davinchia commented on #2569
technical spec: https://docs.google.com/document/d/1BeDx5v4t9JcO2PVUkV7iXlxgro3AuTc4JrnUiqssHfg/edit

[2021-03-24 14:44] #2426 closed

[2021-03-24 14:47] #2567 closed

[2021-03-24 14:48] davinchia commented on #2516
Is my understanding correct that a change is backwards compatible if 1) an existing field is renamed? 2) a new required field is added?

How are connector versions coupled to Airbyte core versions? The only thing I can think of is normalisation?

[2021-03-24 15:03] ChristopheDuong opened #2603 "Add DestinationSupportedSyncMode to API"
## Tell us about the problem you're trying to solve
AirbyteCatalog declares `supportedSyncMode`, we should have one for destination sync mode too from #2370

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative

[2021-03-24 17:30] gordalina commented on #2572
It seems to be running as expected for the last day! I'll reopen if it doesn't
Thank you, as always, for the quick turnaround.

[2021-03-24 17:30] #2572 closed

[2021-03-24 17:43] cgardens commented on #2599
Is the data getting into the `*_raw` versions of the tables on that second batch? or it is not getting there either? I am trying to understand a little better where in the process things are going wrong. Knowing if it's getting into the raw table but not the normalized one or if it is not even getting into the raw one will help us diagnose.

[2021-03-24 18:29] cgardens commented on #2524
it's a good point. there was something lingering in the back of my head about why this was hard but it wasn't coming to me on monday.

what would it take to do throughput separately for source and destination? @sherifnada this actually might be easier if we went with the idea you were describing of moving the queue into the worker. then we could separately track throughput of records being written

[2021-03-24 18:32] cgardens commented on #2516
Yeah. That's how I think about it davin.

right now it's totally decoupled.

[2021-03-24 18:35] cgardens commented on #2595
Good point. I guess we should have a static page fo r this just like we do for server isn't up yet and javascript enabled?

[2021-03-24 18:35] yeedster opened #2607 "GitHub resync causes older database rows to be removed"
## Expected Behavior
After a sync I expect only new row data to be added to the database.

## Current Behavior
Old rows are removed and only new data is present in the tables

## Logs
log attached from last sync.

## Steps to Reproduce
1. Connect AirBytes to a GitHub repo with existing pull_request / commits / comments/ users
1. Sync AirBytes to get initial table and data
1.  Re-Sync AirBytes to t

[2021-03-24 18:52] Moofasax commented on #2607
I am noticing this as well on 0.17.2-alpha, when another sync happens I deleted all my pull_request, commits, etc. Probably all tables but haven't check on it.

[2021-03-24 21:47] erichartono commented on #2599
@cgardens In _airbyte_raw_dbo_accounts table, it has 870 rows as well. Is there a way to check temp table before it gets deleted?

[2021-03-24 21:57] cgardens commented on #2599
Got it! That's helpful. Unfortunately, without modifying the connector directly, there's not a way  to preventing deleting the tmp table. If the sync takes a little time though, you should be able to query it as it is written to. We write to those tmp tables in small batches so you should see records added to it incrementally.

[2021-03-24 22:45] sherifnada opened #2609 "Upgrade connectors to the latest version of Python where possible"
Only the paranoid survive

[2021-03-24 23:12] erichartono commented on #2599
I have expanded to sync more tables, and I have 1 table which doesnt sync at all, when it should have synced 7465 rows.

2021-03-24 23:04:27 INFO (/tmp/workspace/70/0) LineGobbler(voidCall):69 - 2021-03-24 23:04:27 [32mINFO[m i.a.i.d.b.BufferedStreamConsumer(writeStreamsWithNRecords):194 - {} - Writing stream dbo.contracts. Max batch size: 10000, Actual batch size: 7465, Remaining buffered recor

[2021-03-25 03:05] sherifnada commented on #1814
@jimbeepbeep we did some digging and found two issues:

1. There is a bug that occasionally creeps up when pulling data for the Media Insights stream. This is a bug that we need to fix on our side, a fix is currently WIP.
2. Instagram doesn't allow pulling Media assets that were uploaded before the instagram account was turned into a business account (it throws an error when you try to do this). T

[2021-03-25 05:12] jimbeepbeep commented on #1814
Thanks team!

[2021-03-25 06:06] davinchia commented on #2332
Closing as done!

[2021-03-25 06:06] #2332 closed

[2021-03-25 10:02] #2524 closed

[2021-03-25 10:23] cooperfrench95 commented on #2578
Anything that can be done to remedy this issue from this point?

[2021-03-25 10:45] ChristopheDuong commented on #2578
it's tough to debug through discussion on github, would you be able to jump in slack to discuss this further?

[2021-03-25 11:38] ChristopheDuong commented on #2601
Actually, your issue here is not about NULL values but that Zero date value are prohibited.

One solution to this described here would be to add some arguments to the connection string:
https://topic.alibabacloud.com/a/javasqlsqlexceptionzero-date-value-prohibited-exception-handling_1_27_30012188.html

[2021-03-25 12:28] coquej commented on #2601
Ok, you're right. Thanks a lot for the quick solution and for helping us understand the real issue!

[2021-03-25 13:49] meenagangadharan commented on #2459
@sherifnada, @ChristopheDuong, I am working on to build a custom connector. Hope this works out. Looking for any support if required in the process! Thanks.

[2021-03-25 14:19] ChristopheDuong commented on #1296
Closing as this is probably solved in more recent versions of normalization, you can re-open if it still not successful with airbyte version greater than 0.17-2-alpha!

[2021-03-25 14:19] #1296 closed

[2021-03-25 14:20] ChristopheDuong commented on #1896
This is now better handled in normalization, closing it

[2021-03-25 14:20] #1896 closed

[2021-03-25 14:33] cooperfrench95 commented on #2578
Sure is there a link somewhere?

[2021-03-25 15:21] ChristopheDuong commented on #2578
https://slack.airbyte.io/

[2021-03-25 16:03] ChristopheDuong commented on #2128
Cross-posting from my answer on the PR back to the issue:

[2021-03-25 16:32] sherifnada commented on #2459
@meenagangadharan please reach out here or to me on Slack -- happy to support however I can!

[2021-03-25 19:38] yevhenii-ldv commented on #1814
@jimbeepbeep

We just merged this _bugfix_ into _master_ a released a new version of the connector.

Please, upgrade your Instagram connector to version `0.1.2` pick up the bugfix. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further questions.

[2021-03-25 20:37] arhip11 commented on #2414
Account created, password saved to LastPass.
@sherifnada - is anything else required?

[2021-03-25 20:39] sherifnada commented on #2414
@arhip11 not for the moment. We will prioritize soon! Thanks for getting it ready for implementation.

[2021-03-25 21:06] johnlafleur opened #2615 "Track the connector version for syncs in Segment"
##Tell us about the problem you're trying to solve
When we identify issues with connectors, it could be interesting to know which connector version they are.

Describe the solution you’d like
Add properties connector_version for Connector Jobs when job_type=SYNC.

Here's the updated Segment spreadsheet: https://docs.google.com/spreadsheets/d/1qQPMBdz86yMBiyXpjw91D3HoP6hN7yIPRmLrF7xWOgA/edit#gid=15

[2021-03-25 21:13] sherifnada opened #2616 "Exceptions are swallowed by default in native python sources"
## Expected Behavior
If a source throws an exception, I expect the sync to fail

## Current Behavior
Exceptions are logged but swallowed: https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/base-python/base_python/source.py#L90

pretty sure this is a bug but tagging @eugene-kulak in case I'm wrong about something here

## Acceptance Criteria
1. Fail the sync (just `raise` a

[2021-03-25 22:24] erichartono commented on #2599
These are logs from manual and automated sync.

This is from manual and failed, missing 10,000 records in contracts table
[logs-88-0-failed.txt](https://github.com/airbytehq/airbyte/files/6208184/logs-88-0-failed.txt)

This is from automated sync and success, no missing data in contracts table
[logs-89-0-success.txt](https://github.com/airbytehq/airbyte/files/6208185/logs-89-0-success.txt)

[2021-03-25 23:16] Jamakase commented on #2417
@jrhizor Looks like you are running it either on some outdated version or on an old UI.

I will check on a newer version and close the issue if not able to reproduce

[2021-03-25 23:22] jrhizor commented on #1531
Maybe we can recommend running on WSL? See https://gitlab.com/meltano/meltano/-/issues/2676

[2021-03-25 23:40] sherifnada opened #2619 "Discovery fails when catalog is too big"
## Expected Behavior
discovery should display a catalog in the UI

## Current Behavior
There are two issues:

1. Discovery fails but doesn't show logs properly. The attached logs are what is displayed for the job's logs:
[logs_airbyte_problem.txt](https://github.com/airbytehq/airbyte/files/6208430/logs_airbyte_problem.txt)
2. After digging with the user on a screenshare, we found the following log

[2021-03-26 00:49] johnlafleur commented on #2435
Here is the proposal for the detailed designs: https://www.figma.com/file/pO3Ob5W0yKUFOQzvg8TR3z/Airbyte?node-id=1903%3A823

[2021-03-26 00:51] cgardens opened #2622 "Ingest files from a directory"
## Tell us about the problem you're trying to solve
* I have a directory on S3. New files are added to that directory on some cadence. Whenever a new file is added to the directory I want to sync that data to a destination. The names of the files are monotonically increasing and could be used as cursor fields.

## Describe the solution you’d like
* This is either a new feature in the file source o

[2021-03-26 05:44] sherifnada commented on #2622
@roshan would all the files have the same schema/contribute to the same stream?

[2021-03-26 07:27] juan-meister commented on #2435
It makes a lot of sense but [there's a little "bug"](https://p479.p0.n0.cdn.getcloudapp.com/items/Blu4g795/5e852248-7b06-423b-a9ff-5ae0671e442e.jpg?v=d7cb395cf812ad1f641814c9d0785634). At the left you have the connections tab that is present at the right one.

[2021-03-26 07:50] johnlafleur commented on #2435
It's okay. It's just a component across all mockups, so that we're more efficient in UI design.
We'll have the connections tab in the left column, once we've implemented this issue.

[2021-03-26 13:50] ChristopheDuong commented on #2615
@johnlafleur

Since there are 2 connectors during sync, shouldn't we call them `connector_source_version` and `connector_destination_version` instead?

Would you need the versions when new connection are created too? (`New Connection - Backend` event)

[2021-03-26 14:31] roshan commented on #2622
Yes, they represent a group of new records into the same stream.

On Thu, Mar 25, 2021, 22:44 Sherif A. Nada ***@***.***> wrote:

[2021-03-26 14:43] ChristopheDuong opened #2625 "Add DestinationSupportedSyncMode to FE/UI"
## Tell us about the problem you're trying to solve
Following up on https://github.com/airbytehq/airbyte/issues/2371, the UI / front-end should restrict the available destination sync modes depending on the capabilities of the destination that was selected for creating the connection.

## Describe the solution you’d like
Use the new field of `supportedDestinationSyncModes` was added as part of htt

[2021-03-26 15:14] yeedster commented on #2607
I'm wondering if this is due to the "full refresh" method of pulling in data for pull requests as opposed to "incremental"

[2021-03-26 15:20] sherifnada commented on #2616
misunderstanding came from misunderstanding the airbyte protocol. need to make sure we document that:
1. anything on stdout that is AirbyteMessage is handled by airbyte
2. anything on stdout that is not Airbytemessage is considered "logging"
3. anything on stderr is considered logging

[2021-03-26 15:30] jimbeepbeep commented on #1814
Thanks @yevhenii-ldv I've upgraded the connector and re-run the sync, it looks like it's fixed the media_insights issue, which is awesome. However there are still only 3/81 accounts coming through for media:

![image](https://user-images.githubusercontent.com/34912260/112655046-4b7dde00-8e50-11eb-814d-e5df55fab736.png)

Logs attached, let me know if you need anything else:

[logs-80-0.txt](https:/

[2021-03-26 15:35] jrhizor commented on #2619
Looks like we could bump the value: https://community.temporal.io/t/find-cause-of-complete-result-exceeds-size-limit-error/457/4

However, if we're getting large-ish files maybe the better approach is to store them outside of postgres.

[2021-03-26 16:08] sherifnada commented on #1814
@jimbeepbeep could you try manually triggering a sync? I'm seeing this error in the logs

[code]

this was an internal error in the FB server causing the connector to fail. Normally, the connector should retry the sync, but we discovered a related open bug yesterday: https://github.com/airbytehq/airbyte/issues/2616 . Rerunning the sync _should_ show you these media assets.

[2021-03-26 16:23] sherifnada opened #2626 "Source instagram: retry transient server failures"
## Tell us about the problem you're trying to solve
As demonstrated in https://github.com/airbytehq/airbyte/issues/1814#issuecomment-808337399 when the Instagram source receives a transient 500 from the FB servers, the sync for that stream fails.

## Describe the solution you’d like
The source should instead backoff & retry on transient failures, same as with rate limiting. We should do this for a

[2021-03-26 18:01] johnlafleur commented on #2615
Yes for the names.

Regarding "New Connection - Backend", no need :). Thanks!

[2021-03-26 18:05] sherifnada opened #2627 "Periodically checkpoint state during syncs"
## Tell us about the problem you're trying to solve
Today if a sync fails or is cancelled, Airbyte doesn't store the latest state output from that sync. State is only updated when the sync is successful.

This is a problem for halfway failures or cancellations e.g:

* there is more data in the source than the rate limit allows the connector to pull
* a transient failure happens after a large % of

[2021-03-26 18:27] roshan commented on #2622
If you would like, it is possible to arrange it so that each prefix represents a stream. I am happy to work with whatever method you think is most general.

[2021-03-26 18:53] arhip11 commented on #2308
Support refers to Partnership program. Requested to become a partner.

[2021-03-26 19:08] #2371 closed

[2021-03-26 19:08] #2355 closed

[2021-03-26 19:08] #2574 closed

[2021-03-26 19:23] #2409 closed

[2021-03-26 20:23] sherifnada commented on #2308
thank you for the update @arhip11 !

[2021-03-26 20:26] ChristopheDuong commented on #2337
Last pieces that may still be missing are:
- Back-end exposing which destination sync modes are supported by destinations https://github.com/airbytehq/airbyte/issues/2603
- Front-end using the supportedDestinationSyncModes field to restrict UI actions accordingly
- Destination Sync Mode docs

[2021-03-26 21:10] #1879 closed

[2021-03-26 21:10] #2601 closed

[2021-03-26 23:21] sherifnada opened #2629 "source google analytics: allow the user to select chunked vs non-chunked syncs"
## Tell us about the problem you're trying to solve
https://github.com/airbytehq/airbyte/pull/2151/files made a change to introduce chunked syncs i.e: sync the data one day at a time. However, this means that reports cannot be obtained for periods of time greater than 1 day (i.e: users per year).

## Describe the solution you’d like
I should be able to configure report lengths. For example, I shou

[2021-03-26 23:33] marcosmarxm opened #2630 "Track the connector version for new source/destination in Segment"
## Tell us about the problem you're trying to solve
When we identify issues with connectors, it could be interesting to know which connector version they are.

## Describe the solution you’d like
Add properties **connector_version** for "New Source - Action" and "New Destination - Action" Segment tracking in the web-app

Probably #2615 could help.

[2021-03-26 23:38] johnlafleur commented on #2630
It's actually interesting to see if there is any correlation for the failure in the setup. Wdyt @cgardens ?

[2021-03-27 15:56] #2490 closed

[2021-03-27 15:57] #2507 closed

[2021-03-27 16:03] Jamakase commented on #2417
Was not able to reproduce @jrhizor. Probably this was already fixed some time ago.

[2021-03-27 16:03] #2417 closed

[2021-03-28 09:14] mcfuhrt commented on #2075
Why limit the connector to sources? We currently use Fivetran and can target any source (Google Ads, Facebook, ... ) in combination with Azure Data Lake / Delta Tables (through Databricks). Such an option would be desirable for Airbyte as well :)

[2021-03-28 18:01] sherifnada commented on #2075
@mcfuhrt I believe the request was for Delta Lake as a destination, so i was trying to understand the context by asking which sources they would like to use with this destination :)

[2021-03-29 02:29] hoanghapham commented on #2607
I have the same problems. For the tables with full refresh mode, after the the initial load, the next syncs remove all old records and leave those tables with 0 record.

[2021-03-29 04:40] dsanthosh16 opened #2632 "Microsoft Access to Snowflake"
## Tell us about the new integration you’d like to have
* Which source and which destination?
* Microsoft Access to Snowflake. ( Plan to move more than 500 acesss tables to Snowflake)
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
Latest MS Access version
## Describe the context around this new integration
*

[2021-03-29 06:23] davinchia opened #2633 "Page to select schema should have a refresh schema button."
## Tell us about the problem you're trying to solve
When selecting tables while setting up a sync, I have to either refresh the page or leave the page and come back to refresh the discovered schema. This is annoying if I'm on the page and the schema changes. My hunch is this affects people who are testing Airbyte more than production users, but is one of those small things that will help the produ

[2021-03-29 08:36] sherifnada commented on #2602
@ilpizze that's a really interesting use case. I see there are clients like https://github.com/mjs/imapclient which can help make implemenation easier. What do you imagine the interface to this connector would look like? what inputs would a user supply, and what should the output look like?

[2021-03-29 09:36] hmdshariati opened #2635 "API documentaion"
## I would like add new ui in my projects for customers to be able integrate their data from my projects api to any destination.

so airbyte is perfect for this point. but I need an api with OAuth2. is there exist? if not, is there any way to use api of airbyte for external projects?

[2021-03-29 14:04] jimbeepbeep commented on #1814
Thanks @sherifnada I have just re-run the sync and it seems to be picking up media from more accounts (`7/82`) but not all of them:
![image](https://user-images.githubusercontent.com/34912260/112848266-2e434c80-90a8-11eb-8d39-1175293aaccf.png)

The sync now takes over 4 hours and most of the time seems to be handling these `Media posted before business account conversion` errors.  Logs attached (a

[2021-03-29 16:36] ChristopheDuong commented on #2615
Re-opening as it doesn't seem to properly print it yet

[2021-03-29 17:00] cgardens commented on #2580
Got it. Will assign to @Jamakase and let him see where it makes sense to put it.

[2021-03-29 18:02] cgardens commented on #2578
convo in progress here https://airbytehq.slack.com/archives/C01MFR03D5W/p1617020474169400

[2021-03-29 18:19] jrhizor commented on #2417
Thanks for checking!

[2021-03-29 18:34] hmdshariati opened #2640 "Authentication"
## Is there any goal to define authentication for airbyte?
I'm going to use airbyte as a service for customers with different connections.

## Describe the solution you’d like
have a middleware to return each user connections, sources, etc

## Describe the alternative you’ve considered or used
maybe we can define different airbyte server for each customer with different ports.

[2021-03-29 18:36] hmdshariati commented on #2635
https://petstore.swagger.io/?url=https://raw.githubusercontent.com/airbytehq/airbyte/master/airbyte-api/src/main/openapi/config.yaml#/

[2021-03-29 18:36] #2635 closed

[2021-03-29 19:01] sherifnada commented on #1814
@jimbeepbeep we've identified this issue and will address in #2626 -- the issue is that the FB server has transient 500 failures that we should just back off on and retry. Will ping you here when that issue is addressed.

[2021-03-29 19:05] jimbeepbeep commented on #1814
Thanks, as always @sherifnada!

[2021-03-29 19:08] sherifnada opened #2641 "Document how to write a destination"
## Tell us about the documentation you'd like us to add or update
I would like to add a destination to Airbyte

## Are there any related areas of documentation that currently exist? Could you point to them?
there are docs for writing sources, but not for destinations. I would like to know how to write a destination in Python or Java.

┆Issue is synchronized with this [Asana task](https://app.asana

[2021-03-29 20:05] cgardens opened #2642 "Add Connections Tab"
relates to: https://github.com/airbytehq/airbyte/issues/2435

mock up https://www.figma.com/file/AODY4oi15iI5l0fbxHvobt/Daxtarity?node-id=23938%3A0

[2021-03-29 20:13] cgardens opened #2643 "expose email in workspaces/get"
Blocks: https://github.com/airbytehq/airbyte/issues/1690

We save the email field in the db, in order for the settings ui to work properly we need to expose it in the API.

workspaces/get: add the email field. (note: it can be nullable)
~~workspaces/update: add the email field.~~ (already included)

[2021-03-29 20:15] cgardens commented on #1690
Per discussion today:
1. if no email is set, then the toggle should be gray out (same behavior as onboarding page). ([issue](https://github.com/airbytehq/airbyte/issues/2643))
2. add email address field to the settings page. behavior: If email is already set, then this field should be grayed out and immutable. if the email field is not set then the user can add an email. in other words the email f

[2021-03-29 20:26] cgardens commented on #2595
@jrhizor @ChristopheDuong any idea for how the UI can detect this? If I recall, the server never starts up successfully, so the UI can't rely on a message from the server in this case. How can the UI figure this out?

[2021-03-29 20:33] cgardens opened #2645 "Replication Post Hooks"
## Tell us about the problem you're trying to solve
As a user, after my Airbyte data replication completes, I want to be able to trigger:
* an Airflow workflow . (high?)
* a custom DBT workflow. (medium)
* arbitrary code (webhook, arbitrary docker container, etc) (low?)

(I know these could potentially end up requiring different implementations, so we can split this ticket if we feel the scope is

[2021-03-29 20:45] ChristopheDuong commented on #2595
Maybe, we should stop throwing exceptions during start-up on the server-side? and have an API call for version check that the web app can query at the start to see if it needs to keep starting up or abort on the upgrade static page?

Can the server somehow shut down its other API endpoints?

The scheduler should still be able to raise an exception and dies just in case so no workers can start with

[2021-03-29 20:52] #2615 closed

[2021-03-29 20:57] jrhizor commented on #2156
Remaining:
- [ ] configuring table includes
- [ ] updating catalog for metadata fields
- [ ] allowing replication modes based on primary key existence
- [ ] set up replication slot as a `oneOf` field
- [ ] handle termination
- [ ] make sure full refresh edge cases are handled
- [ ] make sure WAL expiration edge cases are handled

[2021-03-29 20:57] sherifnada commented on #2473
Progress over the last week is documented in the checklist above. Will create follow up tickets.

[2021-03-29 20:57] #2473 closed

[2021-03-29 21:00] sherifnada opened #2647 "santa: HTTP Abstraction stress test"
## Tell us about the problem you're trying to solve
#2473 involved PoC'ing a first version of Santa. At first look, the abstraction in its current form should work for the following sources:

Microsoft Active Directory
Microsoft Activity Logs
Facebook Pages
Klaviyo
Google Search Console
Asana
Typeform
AWS Cloudtrail
ZohoBooks

Before going much further, we need to stress test the abstraction to ma

[2021-03-29 21:02] sherifnada opened #2648 "framework: handle server throttling and client throttling in HTTP Stream"
## Tell us about the new integration you’d like to have
The HTTP Stream should handle throttling imposed by the server and client-dictated throttling

[2021-03-29 21:03] sherifnada opened #2649 "santa: Unit tests"
## Tell us about the problem you're trying to solve
The SDK is getting non trivial, so we want to make sure it's being tested as we go to prevent regressions.

Non-exhaustive list of things that need testing:
* incremental sync logic

[2021-03-29 21:04] sherifnada commented on #2288
Our rate limit increase request has been granted!

[2021-03-29 21:09] sherifnada opened #2651 "santa: correctly populate catalog for incremental streams"
## Tell us about the problem you're trying to solve
We currently do not correctly populate primary keys and cursor fields. The incremental stream interface should account for this, and we should create the catalog accordingly.

[2021-03-29 21:11] #1623 closed

[2021-03-29 21:12] sherifnada opened #2652 "Airbyte SDK: Generate HTTP stream catalog from OpenAPI spec"
## Tell us about the problem you're trying to solve
One of the biggest pain points when writing HTTP connectors is creating JSON Schema from OpenAPI specs. We should provide a very easy way to go from OpenAPI spec to JsonSchema, either completely programmatically or via an external tool.

[2021-03-29 21:14] jrhizor commented on #1404
This is a duplicate of https://github.com/airbytehq/airbyte/issues/2567

[2021-03-29 21:14] #1404 closed

[2021-03-29 21:36] #2035 closed

[2021-03-29 22:15] cgardens commented on #1689
Scope for what we want from this issue:
1. Send notifications just to slack sync jobs fail.

[2021-03-29 23:16] cgardens opened #2653 "Aberrant behavior for checkbox and radio buttons"
## Current Behavior
![Screen Cast 2021-03-29 at 4 14 37 PM](https://user-images.githubusercontent.com/9092207/112911327-08b74280-90aa-11eb-93ef-691dabd4febf.gif)
* first it doesn't seem like the radio buttons or the checkboxes ever get "filled in".
* second the checkbox should add each field only once (instead if indefinitely).

[2021-03-29 23:24] cgardens opened #2654 "UI is adding extra nesting to json schema"
## Steps to Reproduce
1. create a table in postgres
`CREATE TABLE plays(id INTEGER, name VARCHAR);`
1. set up a source for it.
1. set the cursor field
![Screen Shot 2021-03-29 at 4 20 01 PM](https://user-images.githubusercontent.com/9092207/112911717-dc4ff600-90aa-11eb-95fd-7d3610fdbfcf.png)
![Screen Shot 2021-03-29 at 4 19 50 PM](https://user-images.githubusercontent.com/9092207/112911722-deb2500

[2021-03-29 23:49] sherifnada opened #2655 "New Source: Kafka"
The scope of the features should be supported for kafka source connector are:

1. Mapping onto airbyte output schema: kafka topic should be stream and fields might be free-form json value or parsed first level json objects. (additional properties = true).

- Data structure: one stream for each topic. For each stream we should have the following columns: partition, offset, timestamp and key with co

[2021-03-29 23:49] sherifnada commented on #2655
related to #1855

[2021-03-30 00:14] #2653 closed

[2021-03-30 00:14] #2654 closed

[2021-03-30 00:15] sherifnada opened #2657 "Expose source/destination configs that are required only when a connection is created"
## Tell us about the problem you're trying to solve
users often want to configure parameters relevant to a source/destination, but which do not need to be configured until we're actually about to sync data. For example, as a user I might want to configure my postgres destination with a username, password, port, and host, but use a different schema for each connection I use this postgres destinatio

[2021-03-30 00:18] sherifnada commented on #1855
@jwarlander @michaelandrepearce could you comment on the UX you would expect here? Some questions:

* How would the kafka destination connector know which topics to write to? Would all messages go to a single topic, or would you want to create a topic per stream, or some other way of multiplexing the output?
* Which sources would you be interested in using this with?

Separately, I created #2655 t

[2021-03-30 00:49] michel-tricot opened #2658 "Typo 'Dedupted'"
## Expected Behavior
Should read `Incremental - Deduped`
![2021-03-29_14-35-57](https://user-images.githubusercontent.com/1154337/112914298-81b99880-90b0-11eb-9e29-91f454a78239.png)

## Severity of the bug for you
Low

## Airbyte Version
0.18.0

[2021-03-30 01:20] roshan commented on #1623
Thanks for the update!

[2021-03-30 07:06] ilpizze commented on #2602
The input should me an email folder. The output should be a database table.

In my company we do a lot of nlp, nlu and machine learning in general on mails and documents for our clients. Actually for ETL/ELT we are using a mix of Pentaho PDI, Python code and Java Quartz Jobs denending on out clients. It would be really nice to have a unified (and modern) tool for all the ETL/ELT.

[2021-03-30 10:14] davinchia commented on #2569
done with #2606

[2021-03-30 10:14] #2569 closed

[2021-03-30 10:27] ChristopheDuong commented on #2566
All discussions are written in this doc, please feel free to comment!!
https://docs.google.com/document/d/1_eii32qoznzQ7_7aSzI5S0b-tajCeHbgRyQvYwNjK40/edit?usp=sharing

[2021-03-30 10:41] brunoffaustino opened #2663 "New Source: Zuora"
## Tell us about the problem you're trying to solve
In our use case, a possible change to Airbyte would require support to read from Zuora.

## Describe the solution you’d like
Be able to do full and incremental syncs from Zuora.

## Describe the alternative you’ve considered or used
We currently use Fivetran.

[2021-03-30 10:44] brunoffaustino commented on #2663
Will close and reopen as a new integration

[2021-03-30 10:44] #2663 closed

[2021-03-30 10:44] brunoffaustino opened #2664 "New Source: Zuora"
## Tell us about the problem you're trying to solve
In our use case, a possible change to Airbyte would require support to read from Zuora.

## Describe the solution you’d like
Be able to do full and incremental syncs from Zuora.

## Describe the alternative you’ve considered or used
We currently use Fivetran.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/

[2021-03-30 10:49] brunoffaustino commented on #1437
For our use case, for a possible migration to Airbyte, we also need the Salesforce connector to support incremental syncs.

[2021-03-30 10:51] brunoffaustino commented on #1390
For our use case, for a possible migration to Airbyte, we also need the Jira Software connector to support incremental syncs.

[2021-03-30 10:52] brunoffaustino commented on #2590
For our use case, for a possible migration to Airbyte, we also need Aurora supported by Airbyte

[2021-03-30 11:41] ChristopheDuong opened #2665 "Migration from 0.17.1-alpha to 0.18.0-alpha fails"
## Expected Behavior
Running migration from `0.16.X-alpha` to `0.18.0-alpha` works.
Running migration from `0.17.3-alpha` to `0.18.0-alpha` fails with an exception.

This seems to be due to the `tombstone` field added to Standard Workspace https://github.com/airbytehq/airbyte/pull/2325/ (in 0.17.1?) which isn't expected while migrating since the expected JSON Schema for that object does not contai

[2021-03-30 12:35] cooperfrench95 commented on #2578
Resolved, the problem was that for some reason we weren't using the correct `docker-compose.yaml` file, which meant that `airbyte-temporal` container didn't exist. Copy pasting the yaml file from this repo and restarting airbyte fixed the issue. Thanks for your help guys.

[2021-03-30 12:35] #2578 closed

[2021-03-30 13:54] ChristopheDuong commented on #1862
We don't need such check anymore since core and connectors release cycles are now decoupled with https://github.com/airbytehq/airbyte/issues/1983

[2021-03-30 13:55] #1787 closed

[2021-03-30 13:55] ChristopheDuong commented on #1787
Closing because core and connectors release cycles are not dependent anymore: https://github.com/airbytehq/airbyte/issues/1983

[2021-03-30 13:57] davinchia commented on #1862
Initial discussions
1) Everytime we release a new version, a tarball for that version is uploaded to Cloud Storage (S3)
2) Everytime there is a new major/minor version is released, a test suite should run checking:
&nbsp; - for every tarball in S3, all subsequent migration versions should be able to successfully run against it.
&nbsp; - the produced migrated tarball should be able to be imported.

[2021-03-30 15:04] arhip11 commented on #2289
Hey @sherifnada! Should I send partnership request to Greenhouse from zazmic.com email address?
(I can't send as or setup reply-to: integration-test@airbyte.io).

[2021-03-30 15:12] arhip11 commented on #2308
Still waiting for the reply regarding partnership program.
Submitted "Contact Us" form again.

[2021-03-30 15:59] cgardens commented on #1862
can we dig a little deeper into the problem a little bit? some of the solutions being described a pretty involved and i want to make sure we are staying laser focused on the real problem.

e.g. we are forgetting to write migrations
e.g. the migrations we write are wrong

etc... is there some pattern to the problem we are having?

[2021-03-30 16:07] arhip11 commented on #985
Hey @yevhenii-ldv and @sherifnada!
How do you see we go about it?
I see the following options:
- Custom deploy on AWS
- Use Sandbox (?)
- Find some Magento SaaS offerings

Please let me know if I should investigate anything.

[2021-03-30 16:56] jrhizor opened #2670 "UI doesn't render if spec fetching fails"
Ran into a case when using the demo instance where spec fetching failed during listing connections for the web backend:

[code]

And the UI is completely blank, with `api/v1/sources/list` errors in the devtools console.

It's possible this might be demo instance-specific, but it's probably worth trying to reproduce. If it is reproducible, this is probably a high priority issue to fix.

┆Issue is s

[2021-03-30 17:15] jrhizor opened #2671 "renaming sources doesn't work"
To reproduce:
Create an exchangerateapi source called `exc`. Go to the settings page and rename it to `exc2`, click retest/save. It should create a request like this:
[code]

Reload the page: the source name hasn't changed.

[2021-03-30 17:16] sherifnada commented on #2664
@brunoffaustino thanks for the request. Can you share which endpoints on the [Zuora API](https://www.zuora.com/developer/api-reference/) you would like to sync?

[2021-03-30 17:21] cgardens commented on #2670
There were no logs?

[2021-03-30 17:38] cgardens commented on #2671
duplicate of https://github.com/airbytehq/airbyte/issues/2090. known, long standing issue.

[2021-03-30 17:54] jrhizor commented on #2670
These were the only exceptions in the logs.

[2021-03-30 18:49] michel-tricot opened #2674 "Prefix option is not clear in connection page"
## Tell us about the problem you're trying to solve
![2021-03-30_11-31-15](https://user-images.githubusercontent.com/1154337/113040246-723c5d00-914d-11eb-8a6e-a6e085ae95cc.png)

## Describe the solution you’d like
- The placeholder could be empty: `/configured-setting` doesn't ring a bell to me
- Should the title be: "Destination stream prefix"
- and the description: Prefix so streams with the sam

[2021-03-30 18:52] jrhizor commented on #2674
Also `/configured-setting` implies a path-style prefix in files, which doesn't make sense for dbs. It also isn't clear if you should be doing `prefix-`/`prefix_` or `prefix`

[2021-03-30 19:00] jrhizor commented on #2671
Ah didn't see. Thanks. Closing as duplicate.

[2021-03-30 19:00] #2671 closed

[2021-03-30 19:03] #2665 closed

[2021-03-30 21:47] #2365 closed

[2021-03-30 21:47] #2453 closed

[2021-03-30 22:29] roshan commented on #1921
Just a quick +1 with some additional info on the use-case I have. The primary use of Airbyte for me is to take data from various places and put it into a DB intended for OLAP use-cases. When these sources were made, we did not consider this possibility so multiple DBs contain a notion of 'user' with the name 'users'. Without namespacing on a connection (or on the source) I'm stuck with overwriting

[2021-03-30 22:45] johnlafleur opened #2677 "Event when "Specify Preferences" page is loaded"
## Tell us about the problem you're trying to solve
We want to measure the drop rate on this page, but we need this event.

Added an event in Segment's tracking: https://docs.google.com/spreadsheets/d/1qQPMBdz86yMBiyXpjw91D3HoP6hN7yIPRmLrF7xWOgA/edit#gid=1567609168
First line: "Deploy UI"

@cgardens

[2021-03-30 22:52] vitaliizazmic commented on #2453
@Moofasax

We just merged this bugfix and into master a released a new version of the connector.

Upgrade your connector to version 0.2.1 and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further questions.

Enjoy!

[2021-03-30 23:06] Moofasax commented on #2607
Yeah i see, i guess I don't understand the point though. If we want to be able to write queries and reports for data within GitHub, why would the default be to delete all our existing data?

Is it on the roadmap to support incremental for all schemes for the GitHub connector?

[2021-03-30 23:13] cgardens opened #2678 "Move release version to github actions"
## Tell us about the problem you're trying to solve
* To release a new version, I need to stop developing for 15 minutes while I wait for dockerfiles to upload from my local machine.

## Describe the solution you’d like
* I want to be able to trigger releases from github actions.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368156844015) by [Unito](ht

[2021-03-30 23:49] leecheeaun opened #2680 "Sync hangs indefinitely instead of retrying"
## Expected Behavior
Sync should retry by itself instead of hanging indefinitely

## Current Behavior
Sync hangs indefinitely, with no option to cancel sync. Attempting to click the "Sync now" button to reset the sync doesn't work as well

## Logs
[logs-1630-0.txt](https://github.com/airbytehq/airbyte/files/6232856/logs-1630-0.txt)

## Steps to Reproduce
1. Configure sync source, destination and f

[2021-03-31 00:47] sherifnada commented on #2680
@leecheeaun

Can you upgrade to the latest version of Airbyte (`0.18.2-alpha`) and see if the issue persists?

To upgrade Airbyte while retaining all your configuration, follow [this tutorial](https://docs.airbyte.io/tutorials/upgrading-airbyte).

Alternatively, if you are ok losing all your Airbyte configuration, run this from the Airbyte repository root:
	1. `docker-compose down -v`
	2. `git pul

[2021-03-31 02:53] hoanghapham commented on #2607
I have a feeling that this is a confusion of features between full refresh and incremental mode.
The full refresh mode should have done these things:
- query all existing records via Github API (both old and new)
- Drop all old records in the destination DB
- Insert all new records.
However the current connection only query out the new records, while still drop all old records.

[2021-03-31 03:07] sherifnada commented on #2607
Hi everyone, I think this is a bug on our side and we are currently investigating. Will keep you all updated!

[2021-03-31 05:28] #2643 closed

[2021-03-31 05:28] cgardens commented on #1690
@Jamakase you should be unblocked now!

[2021-03-31 06:21] sherifnada opened #2681 "CDK: implement a default parameter for early-exiting syncing a stream"
## Tell us about the problem you're trying to solve
It would be nice for quick testing turnaround to have a feature where each stream outputs no more than N records, where N is a configuration parameter defined by default in all santa-generated connectors

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368156828913) by [Unito](https://www.unito.io)

[2021-03-31 06:50] davinchia commented on #1862
followup discussions with @cgardens :

our current issues seem to be:
* we sometimes forget to write a migration (there is nothing to remind us)
* our migrations run into bugs due to edge cases (e.g. forgetting to update the `schema.yaml` etc.)

By testing that every migration, when run on the previous version, produces the correct output, we can simplify the approach in the [comment above](https:

[2021-03-31 08:23] oynek commented on #2075
We use Delta Lake a lot and frequently in our corporate context, so this integration would be a huge step towards replacing the current software with AirByte.

[2021-03-31 09:15] leecheeaun opened #2683 "Suggested improvements on sync mode: Incremental - Deduped + History"
## Tell us about the problem you're trying to solve
Running a query against the source (SQL Server) and running the same query against the destination (BigQuery) should yield the same results i.e. The data in the destination should be the same as the data in the source, even after the data has been modified

Trying out the `Incremental - Deduped + History` function - this seems to fit my use case

[2021-03-31 09:30] davinchia commented on #2599
Update: Eric, shared with me the schema and some prod data in a DM. Attempting to reproduce this.

[2021-03-31 09:40] leecheeaun commented on #2566
Upvote for Incremental batch normalization - this was what I was looking for in [2683](https://github.com/airbytehq/airbyte/issues/2683).

The rationale for this as a user is to offload querying the OLTP DB to querying data warehouses, or using OLTP DBs as warehouses.

[2021-03-31 10:32] leecheeaun opened #2684 "Partitioning by expressions of type FLOAT64 is not allowed for Primary Key"
## Issue
Using the mode Incremental - Deduped + History - unable to select an alternative Primary Key as the UI auto-detects the primary key of the table. If the Primary Key is of type FLOAT64, the sync fails.

## Airbyte Version
0.18.2-alpha

## Connector Version (if applicable)
SQL Server - 0.2.3
BigQuery - 0.2.2

[2021-03-31 10:47] davinchia opened #2685 "Sync Settings field should display the entire text."
## Expected Behavior
When setting up a new connection, I expect to clearly see what kind of sync setting I am selecting.

## Current Behavior
Right now, the field truncates part of the option text, making it seem like users are selecting `Full Refresh` when they were actually selecting `Full Refresh - append`. This is confusing.

![](https://files.slack.com/files-pri/T01AB4DDR2N-F01TA71RG2V/image.

[2021-03-31 10:52] davinchia commented on #2599
Update: Paired with Eric on this. This problem went away on switching to the new S3 Copy strategy (latest version) on 0.18.2 Core, which reduces the urgency of this ticket. Transfer time also decrease from 50 mins to 1.3 min (Yay!).

@erichartono kindly agreed to perform a test with the older strategy to see if the previous bug still pops up. I'm going to leave this issue open till he gets back to

[2021-03-31 10:59] yevhenii-ldv commented on #1352
## Integration Vetting

**Webhook-based? (no/partially/yes)**

no

**Available authentication modes (API key/Oauth/other)**

API key

**Creating an account**

Account was created and credentials added to Lastpass

**How to populate the account with data?**

_It can be done through the API and UI_

**Available streams for sync**

* bounce
* click
* dropped_email
* mark_as_spam
* open
* receive
* un

[2021-03-31 11:12] #2680 closed

[2021-03-31 11:23] stammi922 commented on #2527
Hi @ChristopheDuong,
We could update our Instance, which fixed the failing sync. What it did not fix is the fact that some data is missing that is associated with the `Deals` entity.
What version of the Hubspot API is being used? Because I can see that the history parameter should be set on the API request in order to get the full trace for a Deal transferred. I am specifically validating the data

[2021-03-31 11:28] ChristopheDuong commented on #2527
Can you post new logs and indicate which hubspot connector / version is this?

We've recently published new hubspot work as you can see on these issues: https://github.com/airbytehq/airbyte/issues/2114

[2021-03-31 11:36] charity1475 opened #2687 "The webapp couldn't discover the local image."
## Current Behavior
On creating the new source connector in airbyte webapp from the locally built image which i asserted it was available the app searched and the could not find the image. I tried to re-build and restart several times but no changes.

*Tell us what happens instead of the expected behavior.*

## Logs
*If applicable, please upload the logs from the failing operation. For sync jobs,

[2021-03-31 11:53] marcosmarxm commented on #2687
@charity1475 take a look [here](https://docs.airbyte.io/tutorials/toy-connector) you need to tag your image `:dev` (I think this part is not essential) and after this, you need to add manual your new connector in web-app.

[2021-03-31 12:45] ChristopheDuong commented on #1921
In the latest Airbyte versions, there is now a prefix namespace on the connection page so you can solve this kind of conflict!

[2021-03-31 13:45] #2626 closed

[2021-03-31 13:51] yevhenii-ldv commented on #1814
@jimbeepbeep

We just merged this _bugfix_ of Issue [#2626](https://github.com/airbytehq/airbyte/issues/2626)  into _master_ a released a new version of the connector.

Please, upgrade your Instagram connector to version `0.1.3` pick up the bugfix. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connect

[2021-03-31 14:37] stammi922 commented on #2527
Sure here is the log file, just with our hapi-key anonymized.
[logs-32-0.txt](https://github.com/airbytehq/airbyte/files/6237356/logs-32-0.txt)

[2021-03-31 15:45] michel-tricot opened #2689 "Add feedback to manual launches in the UI"
## Tell us about the problem you're trying to solve
![image](https://user-images.githubusercontent.com/1154337/113172369-39f45780-91fd-11eb-9466-854cab9215e3.png)

There is no UI feedback when pressing launch.

## Describe the solution you’d like
Would love to have something similar to the `sync now`
![2021-03-31_08-44-55](https://user-images.githubusercontent.com/1154337/113172563-6019f780-91fd-1

[2021-03-31 18:10] Moofasax commented on #2607
@hoanghapham ah i understand now, makes sense! and thanks @sherifnada

[2021-03-31 18:33] charity1475 commented on #2687
![ps](https://user-images.githubusercontent.com/58939045/113193402-9a6cae80-9268-11eb-88fa-1e9a2c4ad03e.png)

and here is the image
![ps](https://user-images.githubusercontent.com/58939045/113193546-c12ae500-9268-11eb-8203-96e1ab5847de.png)

[2021-03-31 18:36] sherifnada commented on #2622
related:

https://github.com/airbytehq/airbyte/issues/1874
https://github.com/airbytehq/airbyte/issues/2512
https://airbytehq.slack.com/archives/C019WJFR1JT/p1616080620015200

[2021-03-31 21:32] vitaliizazmic opened #2692 "Source Mixpanel: Singer Tap fork"
Creating Singer Tap fork for resolving Source Mixpanel Failing CI failing #2291

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368221945569) by [Unito](https://www.unito.io)

[2021-03-31 22:34] vitaliizazmic opened #2694 "Google Audit Logs: incremental sync"
Implementing incremental sync for new Source, which fetches Google Audit Logs #2456

[2021-03-31 22:45] #1232 closed

[2021-03-31 22:45] #1685 closed

[2021-03-31 23:27] #2456 closed

[2021-04-01 01:36] sherifnada commented on #573
hi @kyprifog! This is not on Airbyte's roadmap for April, but this is definitely top of mind for us and will update you as we form our May roadmap. We'll also create some documentation for how to create a destination yourself in case you need to unblock yourself for the time being.

[2021-04-01 01:47] sherifnada commented on #985
@arhip11 is it possible to run this in Docker? that would be ideal for isolation of standard tests

[2021-04-01 01:47] sherifnada commented on #2308
thanks @arhip11

[2021-04-01 01:51] sherifnada commented on #2289
@arhip11 great question. I created an Airbyte email address for you titled `Sasha's airbyte email` in Lastpass and added it to the `integration-test@airbyte.io` email address

[2021-04-01 01:58] sherifnada commented on #2527
@stammi922 glad to hear the upgrade fixed the issue! Can you point us to the endpoint in the Hubspot API which provides deal history?

[2021-04-01 02:01] sherifnada commented on #2590
@brunoffaustino we support postgres, and users have successfully reported being able to use it for aurora . Does the Postgres connector fulfill your use case or does it not work with your version of aurora?

[2021-04-01 02:02] sherifnada commented on #1390
@brunoffaustino this is a WIP that was put on a hold temporarily. We'll resume work on this soon.

[2021-04-01 02:03] sherifnada commented on #1437
@bruno I believe this is already supported. Are you not able to configure an incremental sync for salesforce?

[2021-04-01 06:21] davinchia commented on #2599
Strangely enough, everything seems fine. Eric also reported the insert strategy taking much faster when on the latest version.

Since no other user has reported this. I am going to close this for now.

[2021-04-01 06:21] #2599 closed

[2021-04-01 06:38] stammi922 opened #2699 "Update Hubspot API v3 connectio"
## Tell us about the new integration you’d like to have
Additions to the new [Hubspot connector](https://docs.airbyte.io/integrations/sources/hubspot).
The Hubspot Deals API Endpoint does not return the deal's history, which means information regarding the deal:

* Enter date of a deal into a pipeline stage
* Exit date of a deal into a pipeline stage
* Overall time spend in seconds of a deal spend

[2021-04-01 06:39] #2527 closed

[2021-04-01 08:41] brunoffaustino commented on #2590
Thanks @sherifnada i noticed later on that you do, that is why i hid the comment. Thank you for your reply 🙏🏻

[2021-04-01 08:44] brunoffaustino commented on #1437
Hi @sherifnada we are still evaluation the possibility of considering Airbyte, so we first went through all your documentation and on https://airbyte.io/source/crm/salesforce/ it states that it is "Coming Soon". Is it available already?

[2021-04-01 09:53] hoanghapham commented on #2545
I also encountered this with the latest version

[2021-04-01 10:15] hoanghapham commented on #2566
Upvote for better `Handling Source Schema Changes`. Currently, when I want to add a new table to be synced, Airbyte cleans all of the existing destination tables, which is not a desired behavior.

[2021-04-01 10:33] estsauver commented on #1389
One thing to know is that we saw different results for jira support projects from jira projects on singer taps with stitch, it might be worth testing against a support project as well. (I think if you get all of the above entities, it *should* pull jira support things as well.)

[2021-04-01 11:47] jimbeepbeep commented on #1814
Great stuff @yevhenii-ldv and @sherifnada, I've re-run the sync and it completed fine...
![image](https://user-images.githubusercontent.com/34912260/113289549-a603b800-92f0-11eb-8505-b067c94a7238.png)
You guys are amazing, thanks!

[2021-04-01 13:37] ChristopheDuong opened #2701 "Add notification webhook URL field to settings page UI"
## Tell us about the problem you're trying to solve
Following up on https://github.com/airbytehq/airbyte/issues/1690 and https://github.com/airbytehq/airbyte/issues/1689, a user should be able to set up an optional notification webhook URL that will be triggered whenever a connection/sync fails.

(if the setting is not set, the notification is not sent)

## Describe the solution you’d like
Followi

[2021-04-01 13:50] arhip11 commented on #2289
I have contacted Partnerships support

[2021-04-01 14:08] #1690 closed

[2021-04-01 16:01] koolay commented on #2655
How about [streamsets](https://streamsets.com/)?

[2021-04-01 16:37] jrhizor commented on #2687
So there's no requirement that the tag is dev, but it does have to match. So in the first screenshot it looked like you could set the tag to test to find it. Now that you set the dev image tag it should work either way.

Can you share the scheduler logs? I bet there's some problem it's encountering when trying to retrieve the spec from your image, which is incorrectly manifesting as a "Could not f

[2021-04-01 16:56] arhip11 commented on #2308
Getting some feedback from the support.
Documentation could be accessed via entering magic token `abc123`.
@vitaliizazmic - FYI.

[2021-04-01 18:30] sherifnada commented on #2289
thanks @arhip11

[2021-04-01 18:30] johnlafleur commented on #2677
We actually already have an event for it. So no need to build anything.

[2021-04-01 18:30] #2677 closed

[2021-04-01 18:30] sherifnada commented on #2655
@koolay can you say more? what about streamsets?

[2021-04-01 18:32] sherifnada commented on #1389
thanks for the pointer @estsauver!

[2021-04-01 18:36] sherifnada commented on #1437
It should be, yes! I think those docs are out of date. @johnlafleur can you fix that page for Salesforce? as you can see in the [developer docs](https://docs.airbyte.io/integrations/sources/salesforce) incremental is already supported.

Going to close this issue since it is completed.

[2021-04-01 18:36] #1437 closed

[2021-04-01 18:37] sherifnada commented on #2684
@leecheeaun could you share the logs from the failed job?

[2021-04-01 18:39] sherifnada commented on #2590
I'll close this issue for now, please reopen if you run into any problems!

[2021-04-01 18:39] #2590 closed

[2021-04-01 19:21] charity1475 commented on #2687
@jrhizor
Here is the log file.
[log.txt](https://github.com/airbytehq/airbyte/files/6245988/log.txt)

[2021-04-01 19:35] mhensley-cls opened #2707 "Environment level telematics control during installation (enable/disable)"
## Tell us about the problem you're trying to solve
Prevention of sensitive data like protected health information being improperly disclosed into Airbyte's analytics tooling.

## Describe the solution you’d like
Would like to disable all telematics (paperclips, segment, etc) during initial bootstrapping of Airbyte via an environment variable. Selection should persist system upgrades

## Additiona

[2021-04-01 21:13] sherifnada opened #2708 "Bump base python and upgrade sources"
## Tell us about the problem you're trying to solve
to incorporate https://github.com/airbytehq/airbyte/pull/2695/files

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368098922561) by [Unito](https://www.unito.io)

[2021-04-01 21:17] #2619 closed

[2021-04-01 21:32] michel-tricot commented on #2707
Hey @mhensley-cls

It is possible today by modifying the `.env` and add the following:
[code]

It should probably be in the doc, what do you think?

[2021-04-01 21:35] mhensley-cls commented on #2707
Hey @michel-tricot - yes, I noticed that config when reviewing the Kubernetes implementation. Jared asked me in slack to put this into an issue for further maturation. Clarity in docs would be awesome.

[2021-04-01 23:00] johnlafleur commented on #2701
Draft for design: https://www.figma.com/file/AODY4oi15iI5l0fbxHvobt/Daxtarity?node-id=24422%3A126887

[2021-04-01 23:10] jnoynaert commented on #1958
Snowflake upload throughput is definitely way too low with the default method. This also significantly impacts cost for the customer since you end with up with the ingestion warehouse running the whole time.

[2021-04-01 23:18] jrhizor opened #2710 "handle postgres cdc table name selection with better quote handling"
Until we store schemas and stream names separately, we cannot reconstruct and quote them for cdc table selection in all cases.

Example:
schema name: `a.b`
table name: `c.d`
stream name: `a.b.c.d`

Ideally we'd want to quote this for table selection as something like: `"a.b.""c.d"`, but that isn't possible until namespacing.

This specifically would mean improving the `getTableWhitelist` function.

[2021-04-01 23:30] sherifnada opened #2711 "framework: use spec to validate config"
following jared's great suggestion: https://github.com/airbytehq/airbyte/pull/2634#discussion_r605851323

[2021-04-02 01:01] michel-tricot commented on #1958
@jnoynaert that's a very good point!

[2021-04-02 03:02] michel-tricot opened #2712 "Combine Admin and Settings page"
## Tell us about the problem you're trying to solve
I don't have data to back it but I foresee that it will be confusing what is settings and what is admin

![image](https://user-images.githubusercontent.com/1154337/113375733-e67d2900-9324-11eb-8564-43f7a971d087.png)

## Describe the solution you’d like
We could:

* rename Admin to something more connector specific
* move the import/export to sett

[2021-04-02 03:07] johnlafleur commented on #2712
Suggestion of new name for Admin: Config?
But happy to merge Settings and Admin, I do think it makes sense.

[2021-04-02 03:16] michel-tricot commented on #2712
I wonder if everything related to connectors should be called catalog instead

and the rest in settings

[2021-04-02 04:06] sherifnada commented on #2632
@dsanthosh16 I'm not super familiar with access, can you help me answer a few questinos:

* Where are you running Microsoft Access? Is it in the cloud somewhere, on-premise, or on your personal computer?
* do you have any examples of accessing Access via code?

[2021-04-02 04:08] #2286 closed

[2021-04-02 04:12] #2295 closed

[2021-04-02 04:18] sherifnada commented on #2699
thanks for creating the issue @stammi922 . Would you be interested in opening a PR to contribute this feature? No worries if not.

[2021-04-02 04:38] sherifnada commented on #2616
fixed in #2695

[2021-04-02 04:38] #2616 closed

[2021-04-02 05:38] sherifnada opened #2713 "populate primary key from singer catalog in singer_helpers.py"
## Tell us about the problem you're trying to solve
Singer catalogs sometimes contain information about the primary key. We should read those and use them to populate the generated airbyte catalog in singer_helpers.py

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368222679371) by [Unito](https://www.unito.io)

[2021-04-02 05:40] sherifnada opened #2714 "remove table name from column names in UI"
## Tell us about the problem you're trying to solve

In the UI, the name of a table is repeated before every column name. This decreases readability.

<img width="1095" alt="Screen Shot 2021-04-01 at 10 38 57 PM" src="https://user-images.githubusercontent.com/6246757/113384544-20592a00-933b-11eb-84e2-8bcad8e0417d.png">

## Describe the solution you’d like
I would like to remove the table name as a

[2021-04-02 05:44] sherifnada opened #2715 "Add tooltips for connection status icons"
## Tell us about the problem you're trying to solve
I setup a new connection with "manual" cadence and I'm seeing a yellow icon to the left of it. The connection has never synced data before. This yellow icon is concerning because it feels like there is a warning here somewhere, but I don't know what it means. I would like to be able to understand what the problem is by hovering on the icon.

<img

[2021-04-02 05:59] sherifnada commented on #2607
Hi everyone,

could you confirm if this is happening for you on the latest version of Airbyte? We recently fixed a related bug and i want to make sure this is a separate issue.

To upgrade Airbyte while retaining all your configuration, follow [this tutorial](https://docs.airbyte.io/tutorials/upgrading-airbyte).

Alternatively, if you are ok losing all your Airbyte configuration, run this from the

[2021-04-02 06:42] hoanghapham commented on #2607
Hey Sherif, it works in the latest version (0.18.2)

[2021-04-02 07:29] rajatariya21 opened #2716 "The connection tests failed.....HTTP error 403: forbidden"
Try to create setup the source with Exchange Rate connector but it shows "the connection tests  failed.
![airbyte error](https://user-images.githubusercontent.com/81608796/113392688-24289300-93b3-11eb-84d4-2d6f337d7838.jpg)

If anyone knows the solution for this issue, please tell us the solution.

[2021-04-02 12:15] yevhenii-ldv opened #2717 "Zendesk Talk: Integrate connector with Full Refresh with schema folder"
Create new connector with schema folder for streams:

- phone_numbers
- addresses
- greeting_categories
- greetings
- callback_requests
- account_overview
- agents_activity
- agents_overview
- current_queue_activity
- calls
- call_legs
- ivr
- ivr_menu
- ivr_routes

[2021-04-02 17:10] marcosmarxm commented on #1806
@cgardens someone is doing this?
First, only allow SSL connections and in the future enable certificate client/server validation?

[2021-04-02 17:11] michel-tricot commented on #2716
Hi @rajatariya21! I am able to reproduce. I wonder if there was a change with the external service.

[2021-04-02 17:11] jrhizor commented on #2716
The connection tests for the exchange rates api simply make a request to https://api.exchangeratesapi.io/ and it looks like they changed the behavior.

[2021-04-02 18:27] roshan commented on #1921
Thank you!

[2021-04-02 19:44] #2541 closed

[2021-04-02 19:58] jrhizor commented on #2715
For something that never synced, maybe something like ⭕   would be good (but green). Then it doesn't imply it isn't healthy.

I like the tooltip idea though, we should have that too

[2021-04-02 20:03] jrhizor commented on #2712
Catalog is also overloaded...

Maybe `Connectors` and `Settings`/`Admin`?

[2021-04-02 20:10] jrhizor commented on #2687
The final exception is the problem:`Encountered an issue while validating input docker image (airbyte/source-corebos:dev): no spec output found`

To reproduce just this part you can run `docker run --rm -i airbyte/source-corebos:dev spec`

Here's what happens when you do this for an existing connector:
[code]

It emits a airbyte message of type "SPEC" that includes a `connectorSpecification` that

[2021-04-02 20:40] johnlafleur commented on #2712
What about an approach like this? https://www.figma.com/file/AODY4oi15iI5l0fbxHvobt/Daxtarity?node-id=24453%3A1365

[2021-04-02 20:49] sherifnada opened #2722 "framework: unit test JsonSchemaResolver"

[2021-04-02 21:39] sherifnada opened #2723 "framework: snakecase stream names from class names by default"
https://github.com/airbytehq/airbyte/pull/2634/files/480347e3d0887f40c5bf338d2db2b348582d8bd0#r605871412

[2021-04-02 21:52] sherifnada opened #2724 "rename "streams" to "configured_streams" in AirbyteConfiguredCatalog"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368099196094) by [Unito](https://www.unito.io)

[2021-04-02 22:08] jrhizor commented on #2712
💯  perfect

[2021-04-02 22:15] michel-tricot commented on #2712
Yes, I like it way better!

[2021-04-02 22:16] michel-tricot commented on #2712
It solves one problem I had with the previous UI: Source & Destination where not that visible at the top. now it is super clear!

[2021-04-02 22:25] johnlafleur commented on #2712
Ok finalized a full version. Let me know if you see any changes to do

[2021-04-03 00:22] cgardens commented on #1806
no one is currently working on this. it would be great to get it done!

yes, theplan you described sounds good to me!

[2021-04-03 01:05] jrhizor opened #2727 "improve table/column selection UX"
From [a user on Slack](https://airbytehq.slack.com/archives/C019WJFR1JT/p1617247091057300):

1. Sort Columns Alphabetically within a stream
1. Figure out a better way to display long Table and Column names.
1. Search for Column names would be nice.
1. The Manual selection UI is really slow to respond when you have a large collection of tables (40 tables / 15 columns).

From my perspective, 1), 2),

[2021-04-03 01:09] michel-tricot commented on #2707
Thanks! will work on it

[2021-04-03 01:30] jrhizor commented on #2716
@rajatariya21 If you upgrade the source version to `0.2.2` in the Admin page of the UI it should work now.

[2021-04-03 09:04] rajatariya21 commented on #2716
Thanks jrhizor. I upgraded the source version. Now able to setup successfully.

And thanks all of your for your help.

[2021-04-03 09:04] #2716 closed

[2021-04-03 23:15] Wang-Yong2018 commented on #2471
I would like to airbyte to update minimal python3 version in the tech stack spec or  https://docs.airbyte.io/tutorials/building-a-python-source
- https://docs.airbyte.io/architecture/tech-stack
- https://docs.airbyte.io/tutorials/building-a-python-source

At present, if the python version is  3.6 or lower, the the python-source tutorial will be failed at step3 run source using python.
The code exp

[2021-04-05 05:47] davinchia opened #2730 "Spec.json UI rendering bugs."
## Expected Behavior
When modifying a `spec.json` file I expect rendering matching the json schema.

Stumbled upon these while trying to implement the Redshift Copy Strategy.

## Current Behavior
#### Spec 1
This schema is of an object that is optional, but has 4 required fields. i.e. All four fields are required if any one is filled up. None are required if there are all empty.

[code]

![](https

[2021-04-05 07:06] 69mb commented on #2107
Have the same issue with the Snowflake destination but the root exception is a JsonParseException:

[code]

[2021-04-05 13:15] FUT opened #2733 "Export configuration issue"
## Expected Behavior
Export configuration button should let me download the archive with full configurations.

## Current Behavior
I'm getting the error

## Logs
[code]

## Steps to Reproduce
1. Setup fresh Airbyte using docker-compose file
1. Go to Admin -> Configuration
1. Press Export configuration button
1. Nothing happens (error in the logs)

## Severity of the bug for you
High

## Airbyte Ve

[2021-04-05 13:28] yevhenii-ldv commented on #2412
@sherifnada

1. yes, we can make a request for the entire date range, so these streams will be Full Refresh.
2. absolutely, errors are handled incorrectly, the backoff works for all errors, not just for Rate Limiting

Based on the issues described above, I think it would be better to create a connector without Singer Tap than make fork for Singer Tap and update it.

**Are the account test credenti

[2021-04-05 13:42] brunoffaustino commented on #2664
Hi @sherifnada
The ones supported by Fivetran: https://fivetran.com/docs/applications/zuora

[2021-04-05 13:44] yevhenii-ldv opened #2734 "Source Zendesk Talk: Update source with incremental sync method"
## Tell us about the problem you're trying to solve
Update the connector code for support the Incremental streams.

_Sub-task for Issue_ #2346

[2021-04-05 13:44] yevhenii-ldv opened #2735 "Source Zendesk Talk: Ensure that connector follows the best practices"
## Tell us about the problem you're trying to solve
Ensure that connector follows the best practices, rate limiting, retry call, proper error messages, has tests

_Sub-task for Issue_ #2346

[2021-04-05 14:13] yevhenii-ldv opened #2737 "Source Iterable: Create source scaffolding and populate schemas folder"
Populate schemas for streams:

 * [lists](https://api.iterable.com/api/docs#lists_getLists)
 * [list_users](https://api.iterable.com/api/docs#lists_getLists_0)
 * [campaigns](https://api.iterable.com/api/docs#campaigns_campaigns)
 * [channels](https://api.iterable.com/api/docs#channels_channels)
 * [message_types](https://api.iterable.com/api/docs#messageTypes_messageTypes)
 * [templates](https://

[2021-04-05 14:14] yevhenii-ldv opened #2738 "Source Iterable: Implement spec, check, and discover"
_Sub-task for Issue_ #2412

[2021-04-05 14:16] yevhenii-ldv opened #2739 "Source Iterable: Implement Read"
## Tell us about the problem you're trying to solve
Create API base abstract class

_Sub-task for Issue_ #2412

[2021-04-05 14:19] yevhenii-ldv opened #2740 "Source Iterable: Adopt Best practices for connector"
## Tell us about the problem you're trying to solve

- Handle rate limiting
- Implement standard tests

_Sub-task for Issue_ #2412

[2021-04-05 14:19] yevhenii-ldv opened #2741 "Source Iterable: Populate source with data"
## Tell us about the problem you're trying to solve
Populate the Iterable account with fake data to run CI tests.

_Sub-task for Issue_ #2412

[2021-04-05 15:59] jrhizor commented on #2730
We have grouping for `oneOf` which is what I imagine we would want this would look like.

[2021-04-05 16:00] jrhizor commented on #2730
Also, is `s3_configuration` marked as required?

[2021-04-05 16:09] jrhizor commented on #2689
Maybe it should also say `Sync now` too

[2021-04-05 16:21] sherifnada commented on #2457
documented in #https://github.com/airbytehq/airbyte/pull/2698

[2021-04-05 16:21] #2457 closed

[2021-04-05 16:22] sherifnada commented on #2607
@Moofasax @yeedster please reopen this issue if the problem persists. I believe this has been fixed on the latest version.

[2021-04-05 16:22] #2607 closed

[2021-04-05 16:23] sherifnada commented on #2648
this has been implemented in the feature branch #2634

[2021-04-05 16:23] #2648 closed

[2021-04-05 16:26] sherifnada opened #2742 "framework: add client-side throttling"
## Tell us about the problem you're trying to solve
Sometimes a user wants to use up only N% of their API quota. For example, if the underlying API allows them to make 1000 requests per day, and two teams are sharing access to this API, then each team only wants to use 500 requests as not to block the other team from using the API.

We should enable this feature in the source framework. Currently

[2021-04-05 16:28] sherifnada commented on #2733
@FUT thanks for creating this issue. We'll investigate soon.

next steps:
1. reproduce this issue and verify whether it is a problem for all Airbyte instances. If so, then the priority is critical.
2. fix the issue

[2021-04-05 16:39] sherifnada commented on #1981
stopgap docs: #2628

[2021-04-05 16:40] sherifnada commented on #2647
WIP in #2634 . Currently addressing the feedback on the PR.

[2021-04-05 16:50] sherifnada commented on #2471
@Wang-Yong2018 thanks for the great suggestion. I've created a PR to update the docs here: https://github.com/airbytehq/airbyte/pull/2743

[2021-04-05 17:18] jrhizor commented on #2733
I wasn't able to reproduce this with a fresh Airbyte instance on Mac.

@FUT between steps 1) and 2) did you configure any sources or destinations? If so, which ones?

Also, is there any other context on the environment you're running? Is it on Ubuntu on a VM/laptop/EC2/etc?

[2021-04-05 18:18] jrhizor commented on #2683
Thanks for reporting this!

Your first issue is definitely something we want to improve. I added some labels to make sure this gets prioritized.

For the second, views of the different tables are part of the implementation; it's how we generate the deduped version. Is the concern the size/presence of the tables or just the experience consuming it? Would making it more obvious that `table` is the t

[2021-04-05 20:11] cgardens opened #2745 "Get Oracle DB passing in the CI"
## Tell us about the problem you're trying to solve
Oracle db passes all tests locally but fails in the CI. This seems related to needing to set a timezone environment variable. The iteration cycle on this is very slow on this because the tests run slowly which is why it has been slow to solve.

the error: https://github.com/airbytehq/airbyte/runs/2241708866?check_suite_focus=true

some rough atte

[2021-04-05 20:24] cgardens commented on #2528
need to follow up on one piece of feedback on the code review, other wise this is ready to merge.

[2021-04-05 20:26] cgardens commented on #2549
closed by:
https://github.com/airbytehq/airbyte/pull/2613
https://github.com/airbytehq/airbyte/pull/2718
https://github.com/airbytehq/airbyte/pull/2721

[2021-04-05 20:26] #2549 closed

[2021-04-05 20:28] cgardens opened #2746 "CDC JdbcStandardTests"

[2021-04-05 20:28] cgardens opened #2747 "CDC Standard Tests"

[2021-04-05 20:32] cgardens opened #2748 "SAT should verify that if PK is set in catalog it is never null for all output records"
## Tell us about the problem you're trying to solve
Add testing in the _source_ standard tests to verify PK incremental functionality.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368157885506) by [Unito](https://www.unito.io)

[2021-04-05 20:32] cgardens opened #2749 "Standard Tests (Destination) for PK incremental"
Add testing in the _destination_ standard tests to verify PK incremental functionality.

[2021-04-05 20:34] cgardens opened #2750 "Tests for Normalization"
## Tell us about the problem you're trying to solve
* The testing on our DBT / Normalization code remains spotty. We should improve this. The urgency of this is increased since we will be investing in custom DBT transformations this coming month.
* The goal is to use tests to solidify the expected behavior from normalization. We should test basic cases and known edge cases. We should also set ours

[2021-04-05 20:39] cgardens opened #2751 "Make email a required field in the onboarding flow"
## Tell us about the problem you're trying to solve
Make the email field in the onboarding settings page required so that we can get a better idea of who is using our product. In order to hit save the user has to input an email. They can still hit "skip onboarding" without entering any information, so there is still an escape hatch.

[2021-04-05 20:43] jrhizor opened #2752 "CDC WAL edge case testing"

[2021-04-05 20:43] jrhizor opened #2753 "CDC Postgres documentation"
- [x] document setting up WAL output on custom postgres instances
- [x] document setting up WAL output on Amazon RDS

[2021-04-05 20:56] cgardens opened #2754 "Add CDC to the UI"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-04-05 20:57] #2651 closed

[2021-04-05 20:59] sherifnada opened #2755 "Create a template for writing a python destination"
## Tell us about the problem you're trying to solve
This ticket tracks creating a plop template for boostrapping writing a python template

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368158086388) by [Unito](https://www.unito.io)

[2021-04-05 21:09] cgardens opened #2756 "E2E tests for PK Incremental"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-04-05 21:15] cgardens commented on #2707
deliverable: add to FAQ

[2021-04-05 21:26] sherifnada commented on #2075
some questions for Airbyte to answer (feedback from anyone else on the issue is also welcome!):
1. deliverable date
2. creating a sandbox account/credentials for testing
3. features that should be included in the MVP. We potentially should write a small tech spec to declare the scope of this connector. Sections should be: inputs, outputs, expected file formats, expected scale that should be handle

[2021-04-05 21:59] cgardens commented on #2748
@ChristopheDuong, @sherifnada suggested that he have the zazmic team handle this, which I think is a great idea.

@ChristopheDuong , can you please add to this issue what info they need in order to do this.

@sherifnada can you review the details chris adds and make sure it's the right level of detail for zazmic to work on it, please?

[2021-04-05 22:32] jnoynaert commented on #1958
@michel-tricot @jrhizor In case it helps with implementation...Here are some good starting summaries of Snowflake update strategies in Rivery's docs:
- [Merge strategies](https://rivery-io.document360.io/docs/snowflake-upsert-merge-options)
- [Loading/staging process overview](https://rivery-io.document360.io/docs/targets-overview#loading-flowcharts) (with a few items specific to their platform)

[2021-04-05 22:40] davinchia commented on #2730
Not marked as required.

Is this different from schema #2 in the ticket?

[2021-04-05 22:57] michel-tricot commented on #2730
The way the schema 2 is structured make is a bit unclean.

could we have something more like that:
[code]

[2021-04-05 23:04] michel-tricot commented on #2075
Working on it with Databrick's team!

[2021-04-05 23:14] davinchia commented on #2730
Good suggestion. Just tested this and this seems okay. Will make the change later today.

Going to leave this ticket up here still in case others run into this.

[2021-04-06 02:15] marcosmarxm commented on #2745
I finally figure out the solution. The problem is that the CI setup doesn't configure tzdata or timezone.
I tried running this in my fork and simplified the publish command.
[The successful attempt in my fork](https://github.com/marcosmarxm/airbyte/runs/2274335228?check_suite_focus=true).
[Link to my workflow file edited](https://github.com/marcosmarxm/airbyte/actions/runs/720966831/workflow)

Onl

[2021-04-06 02:24] marcosmarxm opened #2759 "Improve Oracle Test performance"
## Tell us about the problem you're trying to solve
Oracle tests are very slow.

## Describe the solution you’d like
Tests run faster.

## Additional context
One point it's the Oracle database docker image take a long time to be ready.
But JdbcStandardTest use the same image and take ~20 min to run all tests. Compare to Postgres runs max 2 min.

┆Issue is synchronized with this [Asana task](https:

[2021-04-06 03:33] #2707 closed

[2021-04-06 03:58] sherifnada opened #2760 "santa: tutorial"
## Tell us about the problem you're trying to solve
we should write a tutorial for writing an HTTP source via Santa once it's done

[2021-04-06 03:58] sherifnada opened #2761 "santa: docs"
## Tell us about the problem you're trying to solve
Once Santa is ready for v1 release, create reference documentation

[2021-04-06 04:12] sherifnada opened #2762 "santa: allow injecting rate limiting logic"
## Tell us about the problem you're trying to solve
As a user, I want to have total control over how rate limiting is handled by injecting the function decorators that handle rate limits.

[2021-04-06 04:15] codefriar opened #2763 "Documentation on how to run Airbyte behind Traefik"
## Tell us about the documentation you'd like us to add or update

I've seen the CEO's comments on HN about adjusting the APIURL, but i'm not able to get it to function correctly (throws a 405 on api/v1/workspaces/get...

I've established a traefik network, and the airbyte_network and pulling from the official docker-compose file put this together

[code]

I'm trying to establish this as a service

[2021-04-06 05:34] sherifnada opened #2764 "santa: improve performance"
## Tell us about the problem you're trying to solve
Source Stripe currently takes ~4x as much time as the singer counterpart. Investigate and understand what can be done.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368099499442) by [Unito](https://www.unito.io)

[2021-04-06 05:37] sherifnada opened #2765 "santa: allow defining a per-stream connection check"
## Tell us about the problem you're trying to solve
https://github.com/airbytehq/airbyte/pull/2634#discussion_r606460706

[2021-04-06 05:43] sherifnada opened #2766 "santa: primary keys"
## Tell us about the problem you're trying to solve
Allow defining primary keys at the stream level and reflecting them in the catalog

[2021-04-06 05:50] 69mb commented on #2107
Turns out I was running out of disk space as well. I'm doing the initial sync of a large table from Postgres to Snowflake and there are a bunch of page files created in /tmp by the destination-snowflake connector that were filling up the disk.

[2021-04-06 06:08] sherifnada commented on #2107
@cgardens didn't see your initial comment. My guess is bigqueue but I haven't checked. @69mb would you be able to do an `ls` of the file names piling up on disk to give us an idea of what they are?

[2021-04-06 12:21] ChristopheDuong commented on #2756
Acceptance tests include a method called `testIncrementalDedupSync` that creates a table and insert/replicates data incrementally while deduping rows following primary key definition.

This was also causing tests to take longer to run so I had to increase the acceptance tests timeout so normalization had more time to run through the syncs too (in order to deduplicate)

[2021-04-06 15:29] arhip11 commented on #2289
@vitaliizazmic - can you please confirm that Greenhouse is working?

[2021-04-06 15:39] keu opened #2769 "Standard tests: Exporting config to a YAML schema file"
## Tell us about the problem you're trying to solve
It's fine to define config in Python, but we should also make it consumable by non-Python developers, so developers always have a source of truth to reference. We can also make this super easy by adding all the configurations in generated templates, then adding TODOs telling devs what each config/field means, and to remove them if they are not ne

[2021-04-06 16:23] 69mb commented on #2107
@sherifnada this is what I've got(replaced schema name and table name with schema.table):

[code]

[2021-04-06 16:38] ChristopheDuong commented on #2748
The tests on the source side should produce `sourceDefinedPrimaryKeys` that would be filled up in the airbyte protocol for `AirbyteStream` objects (similar to `default_cursor_field` with the exception that you can have multiple/composite primary keys, so a list, but only one cursor field)

[2021-04-06 16:42] cgardens commented on #2764
Out of curiosity, this is compared to using the raw singer tap? or the airbyte-wrapped singer tap (without santa)?

[2021-04-06 16:52] sherifnada opened #2770 "santa: implement oauth"
Handle the following cases:
1. oauth flows which do not update the refresh token every request. Updating access token is fine.

DO NOT handle the following case, since it is blocked on implementing OAuth in Airbyte:
1. oauth flows which update the refresh token per request

[2021-04-06 16:52] cgardens commented on #2756
Cool. I guess we can close this then. Maybe in the future our E2E tests should include a python source as well, but that is definitely out of scope for what this issue was getting at.

[2021-04-06 16:52] #2756 closed

[2021-04-06 16:53] cgardens commented on #2756
@michel-tricot, @ChristopheDuong 's response answers your question from the weekly planning meeting yesterday about having a test for PK incremental in the E2E tests.

[2021-04-06 16:54] sherifnada opened #2771 "santa: implement JWT token auth"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368099899970) by [Unito](https://www.unito.io)

[2021-04-06 16:55] sherifnada commented on #2723
done in #2634

[2021-04-06 16:55] #2723 closed

[2021-04-06 17:03] cgardens commented on #2595
We might be able to get something like that to work. I wonder if we can't just have nginx return the version. I'll ask @Jamakase during our sync.

[2021-04-06 17:20] cgardens commented on #2674
Mostly fixed by @davinchia in this PR: https://github.com/airbytehq/airbyte/pull/2704. the rest in this one: https://github.com/airbytehq/airbyte/pull/2772

[2021-04-06 17:21] cgardens commented on #2689
agreed with both things.

[2021-04-06 17:23] cgardens commented on #2751
need to double check with one thing on the design with john before i assign it to artem.

[2021-04-06 17:26] cgardens opened #2773 "Data from oneOf in a configuration not sent back to the API"
~~placeholder until jrhizor fills in the steps to reproduce.~~

see details below

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368158440306) by [Unito](https://www.unito.io)

[2021-04-06 17:28] cgardens commented on #2132
I've had a couple users mention slow performance when interacting with the catalog, so I'm adding this to the queue. Not super high priority but we should deal with it when we can.

[2021-04-06 17:29] cgardens commented on #2658
closed by @ChristopheDuong 's fix.

[2021-04-06 17:34] michel-tricot commented on #2595
As a header?

[2021-04-06 17:43] ChristopheDuong commented on #2658
I only fixed it in the docs, the UI is still having the typo

[2021-04-06 17:53] michel-tricot commented on #2170
How big is this project? We have one design partner that will need it.

[2021-04-06 22:02] sherifnada commented on #2762
steps are:
1. expose an `__init__` parameter `rate_limit_handler` which accepts as an argument a class, something like `class RateLimitHandler`. This class should conform to an interface or be a functor i.e: implements the `__call__` method.
2. refactor the current rate limiting decorator to be an implementation of this class, which can be configured with various parameters (`max_attempts` and wha

[2021-04-06 23:43] marcosmarxm commented on #392
@vitoravancini :wave:

I found this https://github.com/databand-ai/airflow-dashboards/ using Grafana and statsd.
Exporting metrics using statsd and consuming using grafana or prometheus could be developed as an external add-on of Airbyte? This will very convenient when working with k8s or deploying in production env.

[2021-04-07 04:43] michel-tricot commented on #2764
The default page size for stripe is 10. Have you increased it?

[2021-04-07 05:01] sherifnada commented on #2764
this is compared to the airbyte-wrapped singer tap. And yes, we are using max page size (100) in the current impl.

[2021-04-07 05:14] sherifnada commented on #2308
@arhip11 magic token works for docs, but is it possible to use some sandbox account yet, or are we still waiting to hear from partnerships?

[2021-04-07 05:29] sherifnada commented on #2107
@69mb thanks!

@cgardens this is potentially solved by the bulk upload mechanism

[2021-04-07 05:30] cgardens commented on #2751
updated.

[2021-04-07 07:03] sherifnada opened #2779 "santa: implement exchangeratesapi using santa"

[2021-04-07 07:21] #2647 closed

[2021-04-07 08:12] hoanghapham commented on #2607
@sherifnada I still encountered this issue when using the Full Refresh - Overwrite mode on the `pull_request` table. The Append mode works fine.

[2021-04-07 10:17] davinchia opened #2781 "[EPIC] Support schema selection in database and warehouse source connectors"
## Tell us about the problem you're trying to solve
We currently try to discover all schemas in a database when discovering a source's schema. This can lead to issues if a source has too many schema tables. i.e. the catalog becomes too big and cannot be saved in our database.

This led to this https://github.com/airbytehq/airbyte/issues/2619.

Definitely a nice-to-have rather than a must have.

##

[2021-04-07 10:43] waynevanheerden opened #2782 "Failure to fetch connectors feed breaks Airbyte"
## Expected Behavior
Failure when fetching connectors shouldn't break airbyte and should instead lead to a degraded experience.

A potential solution could be:
- if the internal of fetching the feed fails, just return the list as it was when core was released.
- tag the response with a last updated at so that the UI can display a little warning if it is too old and that the list of connectors and

[2021-04-07 15:17] jrhizor commented on #2773
Here's an example spec:
[code]

If I submit this with standard, it works and actually submits. If I submit with a value for `replication_slot`, no actual request is made. The button is non-responsive. I would expect for it to submit a request with the replication_method.replication_slot set.

Here's a behavior of both:
![capture](https://i.imgur.com/ff4fgH6.gif)

[2021-04-07 17:12] #2580 closed

[2021-04-07 17:15] #2752 closed

[2021-04-07 17:15] #1523 closed

[2021-04-07 17:48] arhip11 commented on #2308
@sherifnada - the last thing Recharge is looking for from us is Store URL and we can get the token.
I've just replied them asking to elaborate.
Do you have an idea how we can go about the Store URL?

[2021-04-07 18:10] sherifnada commented on #2308
I suspect they mean shopify? Please use this URL: https://jolicookie.com/

[2021-04-07 18:15] sherifnada commented on #2762
this solution could be a lot cleaner if we can get some version of https://github.com/litl/backoff/pull/122 merged

[2021-04-07 18:16] sherifnada opened #2786 "CDK: allow getting data from non-JSON APIs"
## Tell us about the problem you're trying to solve
XML is the warrior's choice.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368100071331) by [Unito](https://www.unito.io)

[2021-04-07 18:23] sherifnada opened #2787 "Santa: support async HTTP APIs/endpoints"
## Tell us about the problem you're trying to solve
The current HTTP abstraction assumes data is returned synchronously. However, in other scenarios, data is prepared asynchronously using a request-poll-retrieve workflow. We want to make this easier for users by exposing a graceful way (or at least a recommended way using the current abstractions) of doing this. We don't have to write a full blown

[2021-04-07 18:49] sherifnada opened #2788 "Buffer data in the sync worker instead of the destination"
## Tell us about the problem you're trying to solve
## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using today.

## Additional context
Add any other context o

[2021-04-07 21:40] jrhizor opened #2790 "better test failure impact on job running"
There are many ways we can manually kill integrations that are running: `docker stop`, `docker rm -f`, `SIGTERM`, `SIGKILL`, and `SIGINT`.

It would be great to verify that we handle the various kill signals correctly at the sync worker and even the connector level.

A user has reported that a sync appeared to just continue "running" after he ran `docker stop` for the destination.

┆Issue is synch

[2021-04-07 21:55] sherifnada commented on #2182
relevant:
https://github.com/airbytehq/airbyte/pull/2702#discussion_r607235922

[2021-04-07 22:58] fwdolegp opened #2794 "Provide ability to delete connector (source or destination)"
## At some point users or developers may want to remove connector from the system. Would be nice to have that capability by using API or UI.
Use cases:

1. developer tested new connector and want to clean up.
1. user made a mistake by added wrong connector.
1. keep system thin.

Delete should be disabled if connector in use by at least one integration.

## Describe the solution you’d like
Have an

[2021-04-07 23:01] fwdolegp opened #2795 "Add additional information on add connector failure."
## Tell us about the problem you're trying to solve
Failure of adding connector using UI do not give good amount of info why connector cannot be added.
Same on API level

## Describe the solution you’d like
Provide clear message to the user or developer about actual problem.
Example: Connector cannot be registered. Method "spec" not implemented or not accessable.

┆Issue is synchronized with this

[2021-04-07 23:02] #2642 closed

[2021-04-07 23:05] fwdolegp opened #2796 "[platform] Add private container registry as option to pull connector"
## Tell us about the problem you're trying to solve
If airbyte planning to be used by enterprises then you will face a limitations with custom connectors development and private container registries access (most likely enterprises will not open their code)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368158728895) by [Unito](https://www.unito.io)

[2021-04-07 23:09] fwdolegp opened #2797 "Add configurable option for HTTP request on what to consider success status code for response."
When dealing with large number of REST APIs would be nice to ask user what is actually the success status code for their API end point response.
I think currently it is hard coded as 200. But it is not always a true. (200 can be default)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368223568491) by [Unito](https://www.unito.io)

[2021-04-07 23:22] #2291 closed

[2021-04-07 23:27] sherifnada commented on #2796
@fwdolegp would it make more sense to add the private registry via the `docker` CLI tool on the node running Airbyte? Or is there a reason to do this via Airbyte itself?

[2021-04-07 23:40] sherifnada commented on #2794
thanks for the great suggestion @fwdolegp. Totally agreed we should have this. We'll comment here after we prioritize this into a future sprint.

[2021-04-07 23:40] sherifnada commented on #2794
@johnlafleur we'll probably want a design mockup for this too

[2021-04-07 23:41] vitaliizazmic commented on #2289
@arhip11 it works. I've [created](https://support.greenhouse.io/hc/en-us/articles/115000521723-Manage-Harvest-API-key-permissions) new token and updated lastpass creds. But we also should update creds for Github CI.

[2021-04-07 23:41] sherifnada commented on #2289
@vitaliizazmic I've updated the Github CI creds. can you publish a new version of this connector?

[2021-04-07 23:49] kevinob11 opened #2800 "Airbyte seems to be deleting a view I created outside of Airbyte"
## Expected Behavior
I expect to create a view and have it not disappear

## Current Behavior
I created a view directly using a sql command, waited for the next Airbyte sync to run (or ran it manually) and my view disappears.

## Logs
I can provide logs of a sync example that created the issue if needed

## Steps to Reproduce
1. Create a view on the postgres instance
2. Run Airbyte sync
3. The vie

[2021-04-07 23:50] sherifnada opened #2801 "New Source: Paypal Reports"
## Tell us about the new integration you’d like to have
A user (jtalmi ) has indicated interest in pulling data from the [Paypal Reports API](https://developer.paypal.com/docs/reports/payflow-reports/use-the-api/)

## Describe the context around this new integration
<TODO from the user>

## Describe the alternative you are considering or using
Currently the only alternative is writing a custom scr

[2021-04-07 23:53] leecheeaun opened #2802 "Spawned Docker containers using too much memory"
I had previously reported that my Windows machine, which has 16GB of DDR4 RAM, hangs when trying to run through the night, and it looks like it was a memory issue as RAM utilization was close to 100% on inspection.

In `docker-compose.yml`, I have configured memory limits for each airbyte container (an example for one of the airbyte containers is shown below):

[code]

This seemed to have worked,

[2021-04-07 23:57] sherifnada commented on #2801
@jtalmi could you comment about the following:
1. Can you speak to the schema that would be most consumable for this report data? Rough outline is fine, doesn't have to be exact schema e.g: should each report type land in a different table? Which reports would you be most interested in pulling?
2. What is the interface/UX you would expect for the reporting API? What would be the inputs/configurati

[2021-04-08 00:05] cgardens commented on #2795
@fwdolegp thanks for reporting this! we will look into doing this.

if you are able to pull any logs manually when you get this error we'd also be happy to help you debug it.

[2021-04-08 00:11] leecheeaun commented on #2802
If anyone has a similar setup as me (running Docker on Windows 10 with WSL2), this seems to have solved the problem:
https://medium.com/@lewwybogus/how-to-stop-wsl2-from-hogging-all-your-ram-with-docker-d7846b9c5b37

Apply memory limits to Docker and the problem should go away