[2022-06-27 13:55] bazarnov opened #14164 ":bug: Source Amazon Ads: increase timeout for SAT"
What:
During SAT for `source-amazon-ads` it failed due to timeout > 900.
Example: https://github.com/airbytehq/airbyte/runs/7071516045?check_suite_focus=true#step:11:2529

Need to increase the timeout to 3600, to ensure tests are passed.

[2022-06-27 13:59] igrankova opened #14166 "[EPIC] Source Square to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-27 14:05] bazarnov opened #14169 ":bug: Source Salesforce: fix `customIntegrationTest` for SAT"
What:
During SAT one of the custom integration tests raises assert error, see example here:
https://github.com/airbytehq/airbyte/runs/7071566584?check_suite_focus=true#step:11:2445

Need to remove `/ 5.0` from test to have clear value non-divided by anything else.

[2022-06-27 14:12] igrankova opened #14170 "[EPIC] Source Google Directory to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-27 14:16] igrankova opened #14171 "[EPIC] Source Tempo to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-27 14:20] edmundito opened #14174 "[Epic] Connection Page refactoring"
- [x]  https://github.com/airbytehq/airbyte/issues/13096 Develop a plan for improving the page
- [x] #15603
- [x] #15605
- [x] #15607
- [x] #15606

[2022-06-27 14:26] igrankova opened #14175 "[EPIC] Source Zenloop to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements: #19341

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist docume

[2022-06-27 14:27] #12873 closed

[2022-06-27 14:28] igrankova opened #14176 "[EPIC] Source Chartmogul to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-27 14:30] igrankova opened #14177 "[EPIC] Source Prestashop to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1FegkY5Uz2GIJC7TJ3zWGDD2y0zZsTJHv9GJP4XSVQvY/edit):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that should rbe pla

[2022-06-27 14:51] igrankova opened #14180 "[EPIC] Source Zuora to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-27 15:05] philippeboyd commented on #14107
I get this also on `0.39.26-alpha`...

[2022-06-27 15:15] edmundito commented on #9545
Will be fixed with #10858

[2022-06-27 15:15] #9545 closed

[2022-06-27 15:55] philippeboyd opened #14185 "Custom Transformations: add ability to change order/position of transformers"
## Tell us about the problem you're trying to solve
Currently there's no way to reorder the custom DBT transformers.

![image](https://user-images.githubusercontent.com/3239656/175981341-9d2bfdab-64e7-4c7b-a045-424a9b103866.png)

Say I want to add a **custom DBT snapshot before my DBT run (`Create models`)**, I cannot add it. I need to delete my transformer `Create models`, add my new transformer,

[2022-06-27 16:20] pushchris opened #14186 "Source Braintree: `invalid type; expected datetime, string, bytes, int or float (type=type_error)`"
## Environment
- **Airbyte version**:  0.39.26-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Braintree 0.1.3
- **Destination Connector and version**: Snowflake 0.4.30
- **Step where error happened**: Sync job

## Current Behavior
Currently the connector fails to sync when there is subscription and transaction data present (as far as I can t

[2022-06-27 16:40] #4098 closed

[2022-06-27 16:59] remi-denoyer commented on #14002
Hello @marcosmarxm! I do have more information: custom fields are returned similarly to other fields with the prefix cf

for example, if you set up a custom field "contract_seats_count" for your customer John Doe, the GET /customers endpoint will return:
`{
  "list": [
    {
      "customer": {
          "id": "93a392c3-35f9-41d8-ab04-49d19893c608",
          "first_name": "John",
          "last_

[2022-06-27 17:05] #11865 closed

[2022-06-27 17:41] philippeboyd commented on #14107
@marcosmarxm yes upgraded from `0.39.21-alpha` to `0.39.26-alpha`. I also added the server logs to my comment ☝️

[2022-06-27 17:44] #13375 closed

[2022-06-27 17:44] sajarin commented on #14163
Hey @JCWahoo thanks for the issue. I know it seems like nothing related to this would be in the log files but can you post them here anyway? It may help our team figure out the issue.

[2022-06-27 17:47] #14169 closed

[2022-06-27 17:47] #14164 closed

[2022-06-27 17:48] JCWahoo commented on #14163
The epics appear in the epics stream, but only some epics appear in the
issues stream. Logs contain no errors

On Mon, Jun 27, 2022 at 1:45 PM Sajarin ***@***.***> wrote:

[2022-06-27 17:50] sajarin commented on #14185
Hey @philippeboyd thanks for the feature suggestion! The team will add it to the roadmap if we're able to implement it.

[2022-06-27 19:13] davydov-d commented on #12665
Discussed this issue with the team and decided it is a kind of overengineering, since it's only needed in one connector and
 - expected records contain the only stream of a very simple structure
 - dynamic parametrizing of config.json would not bring any benefit
 - all the edge cases are covered with the custom integration tests

[2022-06-27 19:13] #12665 closed

[2022-06-27 19:14] davydov-d commented on #12668
Since #12665 will not be implemented and there are custom integration tests covering same cases, here I just remove the commented test config

[2022-06-27 19:21] #11731 closed

[2022-06-27 19:37] alexandr-shegeda commented on #13524
@grishick they were passing on CI and Linux at least three weeks ago when this issue was created, but after that bunch of code were modified, and now we are waiting for some fixes from @jdpgrailsdev and @benmoriceau

[2022-06-27 19:52] sentry-io[bot] opened #14194 "RuntimeException: java.text.ParseException: Unparseable date: "2022-06-10T17:05:008""
Sentry Issue: [AIRBYTE-CONNECTORS-14T](https://sentry.io/organizations/airbyte-5j/issues/3343643998/?referrer=github_integration)

[code]

[2022-06-27 19:52] pedroslopez commented on #14194
Created as a test, please ignore

[2022-06-27 19:53] #14194 closed

[2022-06-27 19:54] DustyShap commented on #12318
Seeing this issue on the current connection version:

https://discuss.airbyte.io/t/hubspot-to-postgres-sync-failures/1617

[2022-06-27 20:07] #13673 closed

[2022-06-27 20:15] grishick commented on #6339
@alexandr-shegeda @kimerinn looks like the change which fixed this issue was reverted. Is this issue still fixed or should it be reopened now?

[2022-06-27 20:25] #11646 closed

[2022-06-27 20:44] harshithmullapudi opened #14195 "Source orbit: workspace stream has json validation and data error"
The workspace_old.json looks like is not used and has some JSON validation problems. I fixed the JSON temporarily in #14192 @alafanechere can you confirm if the file is not used we can delete it.

[2022-06-27 20:54] edgao opened #14196 "Remove `additionalProperties: false` from all connector specs"
As discovered in https://github.com/airbytehq/oncall/issues/289, a spec declaring `"additionalProperties": false` introduces the risk of accidental breaking changes. Specifically, when removing a property from the spec, existing connector configs will no longer be valid.

We should remove that declaration from all connector specs.

Until this issue is resolved, we should be careful when removing/r

[2022-06-27 20:55] edgao commented on #14196
@grishick fyi, this is followup to https://docs.google.com/document/d/1ru9ApRI7fGtv5gNECchsQe6EB20LlY4UZhJOtEHvOAw/edit#

[2022-06-27 21:05] marcosmarxm commented on #14002
Thanks @remi-denoyer this is really helpful!

[2022-06-27 21:45] girarda opened #14203 "[low-code connectors] stream state is not updated during incremental syncs"
## Current Behavior
* declarative streams don't process input state file (`python main.py read --config secrets/config.json --catalog secrets/bounces_catalog.json --state secrets/state.json`)

## Expected Behavior
*The input state should be properly set

## Details
* The crux of the issue is that the `SimpleRetriever` is using a state property, but is passing down the `stream_state` value passed a

[2022-06-27 21:46] marcosmarxm commented on #14138
Please check Airbyte Catalog: https://docs.airbyte.com/integrations/ Airbyte allow any source to any destination.

[2022-06-27 23:51] #6564 closed

[2022-06-27 23:51] davinchia commented on #6508
This is already done.

[2022-06-27 23:51] #6508 closed

[2022-06-27 23:51] davinchia commented on #10149
This is merged in.

[2022-06-27 23:51] #10149 closed

[2022-06-27 23:52] davinchia commented on #6037
This is done. See https://airbyte.com/blog/scaling-data-pipelines-kubernetes.

[2022-06-27 23:52] #6037 closed

[2022-06-27 23:52] davinchia commented on #5971
This is done

[2022-06-27 23:52] #5971 closed

[2022-06-27 23:53] #5188 closed

[2022-06-27 23:53] #5053 closed

[2022-06-28 00:02] DustyShap commented on #12318
I did not, but I have now and it appears to be working.  Thanks for the 👀 .

[2022-06-28 02:59] cgardens commented on #12514
Thanks, @supertopher! Super helpful breakdown. I'd be curious to know if you know how risky it is to do just bump the size in the shorter term in order to unblock people.

For the "right" fix what you described make sense. We could potentially store the `ConfiguredCatalog` in the db in the same way we are doing for discovered catalogs. As long as we have a way of knowing exactly what catalog we ra

[2022-06-28 03:14] misteryeo commented on #13998
Ah, thanks for clarifying! Looks like our database connectors don't specifically offer this. Are those the only ones you're looking for to support this?

The way this is added is at the individual level today not broadly across all connectors.

[2022-06-28 03:19] cgardens commented on #9930
@davinchia I don't think so. @malikdiarra worked on storing each version of a catalog that was "discovered". This issue is to handle the case when we know a schema will never change (or at least doesn't change dynamically, i.e. not a database). Honestly I'm not sure it is too valuable anymore though after Malik's change.

If we did want to do this, we would need some way to mark that a connector h

[2022-06-28 03:49] davinchia commented on #9930
thanks for the explanation @cgardens . agree it's not as important anymore. will keep it open for now unless you think we can close it out

[2022-06-28 05:32] kananindzya opened #14206 "s3 destination compress files with disabled compression"
## Environment
- **Airbyte version**: 0.38.3-alpha
- **OS Version / Instance**: docker
- **Deployment**: example are Docker or Kubernetes deploy env
- **Destination Connector and version**: (0.3.5)
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Behavior
With disabled compression - airbyte compress all files to gz format fi

[2022-06-28 05:37] marcosmarxm commented on #13643
*Comment made from Zendesk by Marcos Marx on 2022-06-28 at 05:36:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">thank you after i follow those steps and i got this error <a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a></p>
<p dir="auto">Response:<br>
{<br>
“error”: {<br>
“message”: “(<span><a href="/agent/

[2022-06-28 05:40] #13648 closed

[2022-06-28 06:09] ro8inmorgan commented on #13998
@misteryeo for me personally only these 2, but can imagine others would love this functionality too. We deal with some databases going back many years but mostly only the last 5 years are relevant to us, it would help us out allot with managing sync times and specially costs. I can imagine it's not so easy to implement as this probably would need to be configured on a per table basis.

[2022-06-28 07:41] subodh1810 commented on #13967
Hey guys thanks for reporting the issue and helping me reproduce it. I have raised the [PR](https://github.com/airbytehq/airbyte/pull/14211) to fix it. Please track the PR and look for a new release for postgres source connector after its merged. I will update the issue as well once I release.

[2022-06-28 08:02] alafanechere commented on #13998
Hey @misteryeo a @ro8inmorgan  this is indeed a feature we are often asked by users on database connector. I often suggest them to create a view on their source database to filter upstream the data they'd like to replicate.
As incremental streams on our database connector are using a user-defined cursor we could try to allow users to set a filter value on this cursor. A parameter such as `cursor_f

[2022-06-28 08:06] ro8inmorgan commented on #13998
@alafanechere something like that would be great! The source databases we are syncing from are from our customers and most of the time we have read only rights, so creating a view isn't always an option.

[2022-06-28 08:17] alafanechere commented on #13838
@jgrinaveckis to reformulate: do you mean than normalization with Incremental Dedup history mode is updating records that were not modified in the latest sync, which is not exactly what is explained [here](https://docs.airbyte.com/understanding-airbyte/connections/incremental-deduped-history):

This leads to `_airbyte_normalized_at` being always set *on all records* to the latest normalization run

[2022-06-28 08:38] alafanechere commented on #14116
Hey @ro8inmorgan,
You can implement your [own DBT transformation](https://docs.airbyte.com/operator-guides/transformation-and-normalization/transformations-with-airbyte/) if you want to achieve this.
The mapping you mention is an evolution of our catalog logic.
From Airbyte's perspective, we want catalogs (where connection streams and their schemas are listed) to be agnostic from the destinations

[2022-06-28 08:45] #14132 closed

[2022-06-28 08:51] moreaupascal56 commented on #2227
Hello all and @sherifnada, I was just wondering if you had a new timeline for this feature ? I did not found it on Airbyte roadmap.
Thank you and have a great day :)

[2022-06-28 09:25] tomreitsma commented on #1877
Would love to see HDFS integration!

[2022-06-28 09:27] maikelpenz commented on #11275
I've just created [this Pull request](https://github.com/airbytehq/airbyte/pull/14212) to add the incremental functionality.

[2022-06-28 11:07] jablonskijakub commented on #13951
hey. apparently there was a similar issue in other streams and it was fixed by this PR. maybe it helps here as well

https://github.com/airbytehq/airbyte/pull/12122

[2022-06-28 12:00] marcosmarxm commented on #13643
*Comment made from Zendesk by Marcos Marx on 2022-06-28 at 12:00:*

<blockquote><div class="zd-comment" dir="auto">Did you follow Airbyte documentation to increase the quota?<br></div></blockquote>

[2022-06-28 14:39] alafanechere commented on #14135
Hi @sankaranvignesh,
GCS is compatible with S3 API. We are using the same S3 library for both S3 and GCS connectors to reuse the same logic.
Here the error is clearly a permission issue on your GCS service account. Could you make sure your service account has permission to:
* List bucket objects
* Read bucket objects
* Write bucket objects

As this is not a bug on Airbyte side do you mind opening

[2022-06-28 14:39] #14135 closed

[2022-06-28 14:40] cornjuliox commented on #9827
We're having issues with this as well.

[2022-06-28 15:16] timroes commented on #8765
Is this still a valid issue we're looking into implementing?

If so, given that the app is linked to the connector (not a connection) I think this button shouldbe part of the connector setting and not a connection setting page. Also should this connector maybe automatically remove the application if the last connector of this type is deleted?

[2022-06-28 15:18] timroes commented on #1261
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists. We will gladly reopen this issue again.*

[2022-06-28 15:18] #1261 closed

[2022-06-28 15:31] ufukaig opened #14217 "New Connector: Local Parquet Destination"
## New Connector: Local Parquet Destination
* Destination - Local [Parquet](https://github.com/apache/parquet-mr)

## Describe the context around this new connector
* Parquet is a column-oriented data file format designed for efficient data storage and retrieval.
* It will be useful for on-premise users.

## Describe the alternative you are considering or using
* Probably [Apache Arrow](https://ar

[2022-06-28 15:35] #13983 closed

[2022-06-28 15:56] timroes commented on #9563
Duplicate of https://github.com/airbytehq/airbyte/issues/3501

[2022-06-28 15:56] #9563 closed

[2022-06-28 15:57] timroes commented on #1858
This field has nowadays a default value. Closing this issue.

[2022-06-28 15:57] #1858 closed

[2022-06-28 15:58] alafanechere commented on #14136
Hi @yzislin I've triaged the issue so that it reaches our developer experiences team backlog. I'm looking for a connector we might have built with `Generic Python Source connector` and that you could use as an example. I'll get back to you.

[2022-06-28 15:59] timroes commented on #9097
@pmossman Do we have any specific permissions required to do that? Is this generally disabled on Cloud, or e.g. how do we determine that users can't do that on Cloud?

[2022-06-28 16:00] #6809 closed

[2022-06-28 16:09] timroes commented on #5885
Per workspace is desired at the moment, no recent discussion on that, so closing this off.

[2022-06-28 16:09] #5885 closed

[2022-06-28 16:11] #6869 closed

[2022-06-28 16:16] AM-I-Human commented on #13487
Probable that was an error because a  required field with a default value require that the default value needs to be edited.
The error was not shown on UI because there was no description on the field.

I close this issue because it is not easy to reproduce and can be caused by the error above

[2022-06-28 16:16] #13487 closed

[2022-06-28 16:17] timroes commented on #9097
@pmossman I wonder if we might want to still not show the button even for Admins on Cloud? Just to prevent any cloud admin (airbyte employee) to accidentally delete a connector definition in prod cloud?

[2022-06-28 16:18] pmossman commented on #9097
Yeah I think the original intent of the endpoint was primarily for being able to delete custom connector definitions, which aren't currently available in Cloud at all. I think hiding it in Cloud for now probably makes a lot of sense

[2022-06-28 16:18] sherifnada commented on #8765
I don't think this is something we're prioritizing for now. @misteryeo this was required for making Pipedrive oauth available in cloud. I'll leave it up to you to figure out whether to close it or move it to the appropriate queue.

FWIW I think when we do get to this, it'll need to happen on the platform as a "post-hook" of sorts. There are probably other integrations with similar needs.

[2022-06-28 16:23] yzislin commented on #14136
Hi @alafanechere ,

So if you just create a plain one with the code above and use schema with $ref, it will break on sync.

I have a workaround by replacing $ref with the actual json schema from another file (ie reference). It is not proper but it works.

[2022-06-28 16:53] timroes commented on #7840
Duplicate of https://github.com/airbytehq/airbyte/issues/12197

[2022-06-28 16:53] #7840 closed

[2022-06-28 16:57] #11780 closed

[2022-06-28 17:13] girarda commented on #14203
grooming:
- no need to update everything - let's just fix declarative stream
- sherif to create issue to undeprecated get_updated_state

[2022-06-28 17:14] philippeboyd commented on #14107
FYI, I just upgraded to `0.39.28-alpha` and issue is resolved on my end...
Seems like PR https://github.com/airbytehq/airbyte/pull/14202 fixed it.

[2022-06-28 17:20] timroes commented on #8973
@lmossman Given this issue is a couple of month old, are you still able to reproduce this and if so, could you have a copy of the request that fails?

[2022-06-28 17:27] timroes commented on #8523
Duplicate of https://github.com/airbytehq/airbyte/issues/8130

[2022-06-28 17:27] #8523 closed

[2022-06-28 17:29] timroes commented on #9256
The UI issue described here is solved nowadays and the reset of unnecessary tables is addressed via https://github.com/airbytehq/airbyte/issues/6912

[2022-06-28 17:29] #9256 closed

[2022-06-28 17:33] #9759 closed

[2022-06-28 17:35] #3280 closed

[2022-06-28 17:41] sherifnada commented on #14097
backlog grooming notes:
- the main challenge will be in producing a config using the previous schema, that works on the current spec.
  - we could auto-generate this?
  - compare the specs directly?
  - actually have an old config and run tests with the config. We could do this by uploading all configs that were used to test & publish version N, then
- maybe just generally enforce `additionalPrope

[2022-06-28 17:47] sherifnada opened #14222 "Write an RFC describing the roadmap for how connectors should handle backwards compatibility"

[2022-06-28 17:49] #7534 closed

[2022-06-28 17:51] jdpgrailsdev opened #14223 "Detect protocol changes and notify in pull request"
## Tell us about the problem you're trying to solve

Airbyte protocol changes can break backwards compatibility with existing connectors.  Depending on how the code reacts to these changes, undesired effects may occur in the system, such as the loss of state tracking.

## Describe the solution you’d like

In order to minimize the potential of breaking protocol changes, all pull requests that conta

[2022-06-28 17:51] timroes commented on #7352
Closing this, since this is rather old, plus the conversation seems to no longer exists in Slack.

[2022-06-28 17:51] #7352 closed

[2022-06-28 17:55] timroes commented on #7251
I'm closing this issue, since it combines multiple different asks. Please feel free to open individual issues for the individual different requests.

[2022-06-28 17:55] #7251 closed

[2022-06-28 17:59] #7120 closed

[2022-06-28 17:59] #6990 closed

[2022-06-28 18:01] #6798 closed

[2022-06-28 18:04] timroes commented on #6162
Duplicate of https://github.com/airbytehq/airbyte/issues/4084

[2022-06-28 18:04] #6162 closed

[2022-06-28 18:05] #4906 closed

[2022-06-28 18:19] timroes commented on #4593
Closing this for now, since rather old and the linked figma seems to no longer exists. Please feel free to update and reopen if still required.

[2022-06-28 18:19] #4593 closed

[2022-06-28 18:21] #4526 closed

[2022-06-28 18:23] #851 closed

[2022-06-28 18:26] timroes commented on #1757
@nataliekwong Is this issue still relevant? We still don't log the mail of users in segment calls, but I haven't heard this being a problem anytime recently, so want to check if this can be closed?

[2022-06-28 18:27] #2545 closed

[2022-06-28 20:05] marcosmarxm commented on #13967
Zendesk ticket #[1362](https://airbyte7538.zendesk.com/agent/tickets/1362) has been linked to this issue.

[2022-06-28 20:05] marcosmarxm commented on #13967
*Comment made from Zendesk by Marcos Marx on 2022-06-28 at 20:05:*

<blockquote><div class="zd-comment" dir="auto">Team is working in the solution for this issue Felix. Any updates I'll return to you.<br></div></blockquote>

[2022-06-28 20:34] edmundito opened #14226 "After OAuth in connector and switching to a different auth method and back, user is asked to OAuth again"
## Environment
- **Airbyte version**:  0.39.28-alpha
- **Step where error happened**: Setup new source or destination

## Current Behavior
OAuth button reads "Authenticate your ___ account" when it should read "Re-authenticate...". User can save connection at this point because credentials have been stored in form state.

## Expected Behavior
Button on OAuth confirms that user is already authorize

[2022-06-28 20:35] octavia-squidington-iii commented on #14226
cc @airbytehq/frontend

[2022-06-28 20:41] tuliren commented on #13851
## Context
Currently on the destination database connector side, we do check custom JDBC parameters in the `check` command. This is done as follows:
1. Helper method `JdbcUtils#parseJdbcParameters` takes in the free-form user input, and return a string to string map.
2. `AbstractJdbcDestination#getDefaultConnectionProperties` returns the JDBC parameters that are set with default values. These valu

[2022-06-28 21:03] benmoriceau opened #14227 "List of failing acceptance test"
This is listing all the acceptance test that have failed for tracking purpose

- test Name: Build link
- test Name 2: Build link 2

[2022-06-28 21:07] #394 closed

[2022-06-28 21:34] grishick commented on #5247
The description of the issue sounds like permissions are being revoked on the source database. However, normalization runs on destination. @mfrye @keshav-multi can you please confirm the following:
 - source connector type/version
 - destination connector type/version
 - where the permissions are being revoked: source DB or destination DB

[2022-06-28 21:38] sophia-wiley commented on #12110
Self-service billing documentation available [here](https://docs.airbyte.com/cloud/managing-airbyte-cloud/#buy-credits)

[2022-06-28 21:38] #12110 closed

[2022-06-28 21:44] sophia-wiley opened #14228 "Edit and add metrics document for OSS to Docusaurus"
Related to this [ticket](https://github.com/airbytehq/airbyte/issues/12910)

[2022-06-28 22:26] grishick opened #14230 "Document schema size limitation in Postgres Source connector docs"
### Tell us about the documentation you'd like us to add or update.
Platform is currently not able to handle schemas larger than 4MB. This is a platform-wide limitation. However, it should be documented for GA connectors that are likely to produce such large schemas.

### If applicable, add links to the relevant docs that should be updated
- [Postgres Source docs page](https://docs.airbyte.com/int

[2022-06-28 22:57] xorl commented on #5942
https://github.com/airbytehq/airbyte/pull/14231 PR open for this fix.

[2022-06-29 00:35] mfrye commented on #5247
It doesn't appear that source is a factor. We're using the latest mysql source and a custom source we haven't shared publicly yet.

The destination is Postgres, latest version. Permissions are revoked on the destination DB.

My guess is that with the full refresh option, the entire schema is being dropped vs truncating all the existing tables. If the schema is dropped and recreated, the permission

[2022-06-29 04:22] nathanaevitas commented on #5091
This issue gonna celebrate its first birthday to be 1 year old.

[2022-06-29 05:04] knugusbayevps commented on #14206
I found reason, when "compression" field not passed to destination configuration, airbyte applies compression.

[2022-06-29 06:43] marcosmarxm commented on #13643
*Comment made from Zendesk by Marcos Marx on 2022-06-29 at 06:43:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">sure i already have an advanced access, but i use my token to get 3 facebookads account and get ads, ad_insight and campaign data in each</p>

 [<a href="https://discuss.airbyte.io/t/facebook-api-error-version/1590/5" rel="noreferrer">Discourse post</a>]</div></blockquot

[2022-06-29 06:47] steven91 commented on #12124
It would be great to add these reports to support vendor central account :
GET_VENDOR_SALES_REPORT
GET_VENDOR_TRAFFIC_REPORT
GET_VENDOR_FORECASTING_REPORT
GET_VENDOR_INVENTORY_REPORT

https://developer-docs.amazon.com/sp-api/docs/vendor-retail-analytics-reports-migration-guide

[2022-06-29 07:04] igrankova opened #14234 "[EPIC] Source Lemlist to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-29 07:07] igrankova opened #14235 "[EPIC] Source Linnworks to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-29 07:09] igrankova opened #14236 "[EPIC] Source Microsoft Teams to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-29 07:12] igrankova opened #14237 "[EPIC] Source Zendesk Sunshine to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-29 07:15] igrankova opened #14238 "[EPIC] Source Looker to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-29 07:18] igrankova opened #14239 "[EPIC] Source Delighted to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1TtUQ8ca6Al-AmH9xCp_mIzBhjM2FYPZwR1-ZmDimfQg/edit#gid=1820065035):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that

[2022-06-29 09:50] nataliekwong commented on #1757
I don't have context on the original issue - redirecting to @johnlafleur for input

[2022-06-29 10:46] timroes opened #14244 "Log view doesn't auto refresh for running jobs anymore"
When viewing a log of a running job we earlier auto refreshed that log automatically. This is currently broken. We should make sure to enable auto-refresh of logs of non-finished jobs again (`get_debug_info` call should run periodically while the log view is open).

[2022-06-29 10:46] octavia-squidington-iii commented on #14244
cc @airbytehq/frontend

[2022-06-29 10:59] #5883 closed

[2022-06-29 11:03] timroes commented on #5673
Closing this for now, due to ongoing changes in our release process, and will reconsider this as part of that.

[2022-06-29 11:03] #5673 closed

[2022-06-29 11:16] timroes commented on #5448
Closing as this has been implemented.

[2022-06-29 11:16] #5448 closed

[2022-06-29 11:19] marcosmarxm commented on #13643
*Comment made from Zendesk by Marcos Marx on 2022-06-29 at 11:19:*

<blockquote><div class="zd-comment" dir="auto">Well, you need to ask Meta Support if they can increase even more your quota. This error is throw by their side and not Airbyte.<br></div></blockquote>

[2022-06-29 11:20] timroes commented on #4402
This has been implemented in the meantime.

[2022-06-29 11:29] timroes commented on #4360
Closing this for now, since this is rather old, plus the design of this page already changed in the meantime.

cc @andyjih so we can consider this prior work into consideration when doing a redesign of the connection setup page.

[2022-06-29 11:34] timroes commented on #4087
This feedback mechanism exists today, so closing this.

[2022-06-29 11:34] #4087 closed

[2022-06-29 11:42] timroes commented on #3898
Tried on a recent version and this seems to no longer be reproducible.

[2022-06-29 11:42] #3898 closed

[2022-06-29 11:43] shubham307307 opened #14246 "Failed to fetch Schema"
I created source (MongoDB) and destination (BigQuery), checked connection - on this step all ok. After, i setup new connection, and started fetch data schema from mongo, this operation lasted about 30 min, and failed.

![error212](https://user-images.githubusercontent.com/68780828/176428506-907719cd-b4da-4471-84bc-a740e951afa1.PNG)

[2022-06-29 11:44] timroes commented on #3723
This has been fixed by now and the status icon now more accurately represent the status of the connection.

[2022-06-29 11:44] #3723 closed

[2022-06-29 11:47] timroes opened #14247 "[Epic] Simplify Connector Configuration"
[PRD](https://docs.google.com/document/d/1c2nbjNKnreI7637ZcQi-FJGKW2uxnKzJ29KhehjmgE4/edit#)

Issues:
- [x] #12204
- [x] #13056
- [x] #16469
- [x] #16396

[2022-06-29 11:47] octavia-squidington-iii commented on #14247
cc @airbytehq/frontend

[2022-06-29 11:47] timroes commented on #3681
Closing in favor of https://github.com/airbytehq/airbyte/issues/14247

[2022-06-29 11:47] #3681 closed

[2022-06-29 11:52] timroes commented on #3673
I'm going to close this, since the integration of beamer (which was the left work in this issue) hasn't been coming up recently. If we'll still consider this, we'll create a new issue targeted to that.

[2022-06-29 11:52] #3673 closed

[2022-06-29 11:54] timroes commented on #3528
This issue is no longer present. Closing this issue.

[2022-06-29 11:54] #3528 closed

[2022-06-29 12:05] timroes commented on #3382
Labeling this for OSS team, since we'd first require the API to be changed to no longer enforce that property, before we can make the required FE changes.

[2022-06-29 12:11] timroes commented on #2868
Duplicate of https://github.com/airbytehq/airbyte/issues/9296

[2022-06-29 12:11] #2868 closed

[2022-06-29 12:31] TamGB opened #14248 "Specify Storage Template"
## Tell us about the problem you're trying to solve
When using an Azure Blob Storage destination the storage location is defined by Airbyte. The goal is to allow for the location to be determined by a template, for instance, `/%YYYY%/%MM%/%DD%/`

## Describe the solution you’d like
The ability to define the storage location template within the UI

[2022-06-29 12:32] timroes commented on #661
The new values are validated again nowadays before allowing to save.

[2022-06-29 13:53] timroes commented on #13096
Thoughts:

* `values.connectionConfiguration` plus flattened values are confusing (for a flattened form)
* https://github.com/airbytehq/airbyte/issues/13056

[2022-06-29 14:13] timroes opened #14250 "(Resolve) Tech debt of the ConnectorForm"
Brainstomring issue about problem with the ServiceForm component. Please feel free to list all issues that should be addressed to make this component more stable and easier to maintain:

- [x] https://github.com/airbytehq/airbyte/issues/13056
- [x] Only render connector form component if the selected connector definition specification is loaded (move loading state and spinner into ConnectorCard) h

[2022-06-29 14:14] octavia-squidington-iii commented on #14250
cc @airbytehq/frontend

[2022-06-29 14:31] emilmar opened #14253 "Source Zendesk Supports: fails to sync over 100k organization records."
First off - thanks for making a great product which has solved 90% of my headaches!

## Environment
- **Airbyte version**:  0.39.26-alpha
- **OS Version / Instance**: Debian, Debian GNU/Linux, 11 (bullseye), amd64 built on 20220621, GCP n2. medium
- **Deployment**: GCP compute engine
- **Source Connector and version**: Zendesk Support 0.2.11
- **Destination Connector and version**: BigQuery 1.1.11

[2022-06-29 14:40] marcosmarxm commented on #14206
@kananindzya can we close the ticket?

[2022-06-29 14:40] kananindzya commented on #14206
@marcosmarxm , yes. Thanks

[2022-06-29 14:40] #14206 closed

[2022-06-29 14:52] Amruta-Ranade opened #14255 "Update postgres connector doc with error info"
Reference: [Slack convo](https://airbytehq-team.slack.com/archives/C0309PV2WCD/p1656429267369879)

[2022-06-29 15:03] SophieLohezic commented on #10548
Hello @marcosmarxm. I test quite often when there is a new source-postgres available and I still have the same issue. The last I tried was  airbyte/source-postgres:0.4.28 on 0.35.61-alpha. I rollbacked again to airbyte/source-postgres:0.4.4

[2022-06-29 15:24] SophieLohezic commented on #10548
Out of the expected 228,362 records (7 streams), we have :
- 228,362 records in 0.4.4 🙌
- - 0 records (0 out of of streams are read) in 0.4.10 💥
- 98, 547 records (only 5 out of streams are read) in 0.4.14 😥
- 98, 547 records (only 5 out of streams are read) in 0.4.28 😥

[2022-06-29 15:46] adam-bloom commented on #13967
@marcosmarxm @subodh1810 I saw the PR was merged, but a new version of the postgres connector wasn't published as a part of that. Are you planning to release a new version with that fix?

[2022-06-29 15:50] alexander-marquardt opened #14259 "CDK Speedrun sub-heading has an error"
**Note:** If you'd like to work on this issue, please read the [Docs Contributor guide](https://docs.airbyte.com/contributing-to-airbyte/updating-documentation) and comment on the issue to confirm it is still up for grabs.

### Tell us about the documentation you'd like us to add or update.
[CDK Speedrun](https://docs.airbyte.com/connector-development/tutorials/cdk-speedrun) appears to have an inc

[2022-06-29 15:51] tealjulia opened #14260 "Alignment off on connector status icon"
Adding this issue after a pairing session with Nico as it seems we may need to just move this to sass modules and do a little more than a simple tweak.

On `/sources` and `/destinations`, the alignment is off for paused connectors.  This issue may affect other statuses as well, but `play` looks fine.

![Screen Shot 2022-06-29 at 11 49 46 AM](https://user-images.githubusercontent.com/63751206/17648

[2022-06-29 15:59] octavia-squidington-iii commented on #14260
cc @airbytehq/frontend

[2022-06-29 16:23] subodh1810 commented on #13967
@adam-bloom yes am going to release a new version of the postgres connector soon

[2022-06-29 16:29] alafanechere commented on #12225
Closed by https://github.com/airbytehq/airbyte/pull/12867

[2022-06-29 16:29] #12225 closed

[2022-06-29 16:29] alafanechere commented on #12219
Closed by https://github.com/airbytehq/airbyte/pull/13079

[2022-06-29 16:30] #12219 closed

[2022-06-29 16:44] #13647 closed

[2022-06-29 17:06] Amruta-Ranade opened #14264 "Update CDC content for Cloud users"
Make the CDC content in the Understanding Airbyte section as well as on individual  connector docs for connectors that support CDC more user-centric.

[2022-06-29 17:34] ChristopheDuong commented on #8590
Related to this could be this tech spec: https://docs.google.com/document/d/11ntohNEO19pr0GSjZzKtvEzte_Hgu1rY94ttNpdZcu4/edit

[2022-06-29 17:53] marcosmarxm commented on #14253
Similar to: https://github.com/airbytehq/airbyte/issues/14253

[2022-06-29 18:51] benmoriceau commented on #14227
- One flaky test because of the temporal test env: https://airbytehq-team.slack.com/archives/C03AS1GAQV6/p1656525565645119
- Temporary resolution: https://github.com/airbytehq/airbyte/pull/14269
- Long term solution:

[2022-06-29 19:24] misteryeo commented on #13405
LGTM @midavadim

[2022-06-29 19:25] misteryeo commented on #13778
LGTM @arsenlosenko!

[2022-06-29 19:48] subodh1810 commented on #13967
Hey guys a new postgres source conenctor 0.4.29 should be available now with the fix. Am going to close the ticket now but feel free to open a new ticket if you come across any issues. Thanks again

[2022-06-29 19:48] #13967 closed

[2022-06-29 20:21] misteryeo commented on #6289
To clarify, @igrankova do we need to implement OAuth for this?

[2022-06-29 20:35] marcosmarxm commented on #7045
Hello @rishabh-cldcvr sorry for not replying here. Did you finish the change? Let me know if you need any assistance to submit the PR.

[2022-06-29 22:34] #10395 closed

[2022-06-29 23:03] benmoriceau opened #14276 "[MOVE EPIC] Airbyte Protocol Versioning"
Product Requirements Doc - https://docs.google.com/document/d/1RMCSZKt9GT_RMR0hI4jjb7WBcppkzTTQ87hPqSqzwT8/edit#

## Airbyte Protocol Versions

**v0.0.0** - initial version of Airbyte Protocol
**v0.1.0** - AirbyteTraceMessage - new feature, non breaking, optional
**v0.2.0** - New State messages introduced (Aug 2022 - here now)
but still backwards compatible with connectors dealing with both versio

[2022-06-29 23:04] cgardens commented on #6906
done. cron string tracked separately.

[2022-06-29 23:04] benmoriceau opened #14277 "[MOVE EPIC] Improve Temporal Reliability and Monitoring"
## Context

In Q2, our Temporal workflow implementation was improved in a few ways to make them more robust; mainly, we removed the quarantining logic for failed attempts, as it proved to be more painful than helpful in OC situations, and we added logic to make manual operations performed on workflows in an unreachable state "heal" the workflows by restarting them and cleaning the job state.

Howe

[2022-06-29 23:05] benmoriceau opened #14278 "[EPIC] Auto-Detect Schema Changes"
PRD:
https://docs.google.com/document/d/1hvwPXnfi0TMK05dnh4Oy-n5WEDCD9msCbUOLxwnp0Uw/edit

[2022-06-29 23:05] cgardens commented on #11136
@pmossman is your feeling that this is done or is there more work?

[2022-06-29 23:06] benmoriceau opened #14279 "[EPIC] Visibility of connector checkpointing"
[PRD Here](https://docs.google.com/document/d/1n9grVSwCmRPiQc6JD53z4mBX9VwY_WXuR3daU5kNVlY/edit?pli=1#)

The goal of this Epic is to categorize all of our connectors and determine if they support checkpointing or not.  In the future, we will label connectors/connections in the UI that support checkpointing.

[2022-06-29 23:06] benmoriceau opened #14280 "[EPIC] Airbyte Protocol Data types"

[2022-06-29 23:08] cgardens commented on #12375
@jdpgrailsdev all of the issues in this epic are closed. should we close the epic or is there more here?

[2022-06-29 23:08] benmoriceau opened #14281 "[EPIC] OSS Application Performance"
Provide visibility into the performance of various components within the OSS platform:

* Workflows
* API endpoints
* Database bootstrapping
* Container orchestration

[2022-06-29 23:09] benmoriceau opened #14282 "[EPIC] Pagination (API and Frontend)"
Most of our APIs do not follow pagination best practices. In most cases, even in Cloud, we can get away with it in the short term. One place we cannot is when listing workspaces. Workspaces grow with the numbers of users. We should considering pagination everywhere, but this is the right place to start. Ultimately within a workspaces the number records returned (i.e. sources, destinations, connect

[2022-06-29 23:10] edgao commented on #11256
@nekprj can you try updating to the most recent version of airbyte? I just tested this and was able to delete records correctly. (original fix was tracked in https://github.com/airbytehq/airbyte/issues/8830)

[2022-06-29 23:10] #13405 closed

[2022-06-29 23:12] cgardens commented on #6909
done: https://docs.airbyte.com/cloud/managing-airbyte-cloud#understand-airbyte-cloud-limits

[2022-06-29 23:12] #6909 closed

[2022-06-29 23:12] #6910 closed

[2022-06-29 23:12] #6908 closed

[2022-06-29 23:12] #6907 closed

[2022-06-29 23:13] jdpgrailsdev commented on #12375
@cgardens Yes!  I must have missed this.  Feel free to close it.

[2022-06-29 23:14] edgao commented on #13077
@danieldiamond @thisisile can you try updating to the most recent version of airbyte? We're now propagating deletes to the final table. (you'll probably need to reset your data unfortunately, as we're only deleting records from the most-recent sync, so old records won't be retroactively deleted)

We intentionally never delete records from the SCD table (it's intended to be an append-only log). We

[2022-06-29 23:20] cgardens commented on #1872
this should be fixed now.

[2022-06-29 23:20] #1872 closed

[2022-06-29 23:20] cgardens commented on #1950
yes. done.

[2022-06-29 23:20] #1950 closed

[2022-06-29 23:21] cgardens commented on #1956
closed due to inactivity. not reported recently.

[2022-06-29 23:21] #1956 closed

[2022-06-29 23:22] pmossman commented on #11136
I'd call the MVP done, though it would be a quality-of-life improvement to further automate the steps. Running a local OSS branch with local Cloud code IS possible now and relatively easy, now that you can set `OSS_VERSION=<local_oss_image_tag>` when running the Cloud build locally.

Here is what a developer needs to do now if starting from scratch:

1. From `airbyte` dir on your OSS branch, run y

[2022-06-29 23:22] johnlafleur commented on #1757
We can close it. thanks!

[2022-06-29 23:22] #1757 closed

[2022-06-29 23:22] #430 closed

[2022-06-29 23:24] benmoriceau opened #14283 "Write Airbyte Protocol Versioning PRD & Tech Spec"

[2022-06-29 23:24] cgardens commented on #1362
done.

[2022-06-29 23:24] #1362 closed

[2022-06-29 23:25] benmoriceau opened #14284 "Check if we need to create new tickets"

[2022-06-29 23:28] cgardens commented on #12736
done

[2022-06-29 23:28] #12736 closed

[2022-06-29 23:28] #12742 closed

[2022-06-29 23:29] #12189 closed

[2022-06-29 23:32] cgardens commented on #900
done.

[2022-06-29 23:32] #900 closed

[2022-06-29 23:33] cgardens commented on #1783
done

[2022-06-29 23:33] #1783 closed

[2022-06-29 23:33] cgardens opened #14285 "[EPIC] Column Selection"

[2022-06-29 23:33] #14284 closed

[2022-06-29 23:34] cgardens commented on #568
done

[2022-06-29 23:34] #568 closed

[2022-06-29 23:36] cgardens commented on #2352
handled in subsequent issues

[2022-06-29 23:36] #2352 closed

[2022-06-29 23:36] cgardens opened #14286 "[EPIC] Temporal Client"

[2022-06-29 23:38] #2484 closed

[2022-06-29 23:39] #2790 closed

[2022-06-29 23:39] cgardens commented on #2795
UI shares a lot more info now. clsing.

[2022-06-29 23:39] #2795 closed

[2022-06-29 23:39] cgardens commented on #2805
no longer relevant.

[2022-06-29 23:39] #2805 closed

[2022-06-29 23:44] cgardens commented on #3419
duplicate https://github.com/airbytehq/airbyte/issues/6912

[2022-06-29 23:44] #3419 closed

[2022-06-29 23:45] snikhil24 commented on #4875
Hello! Would like to know if there's any update on this? I'm also looking to use SFTP as a destination. @mystmaker33 did you find some solution for this?
Thanks in advance!

[2022-06-29 23:45] cgardens commented on #3520
duplicate of https://github.com/airbytehq/airbyte/issues/6912. will be released shortly.

[2022-06-29 23:45] #3520 closed

[2022-06-29 23:46] cgardens commented on #3564
closed due to inactivity

[2022-06-29 23:46] #3564 closed

[2022-06-29 23:46] cgardens commented on #3595
done.

[2022-06-29 23:46] #3595 closed

[2022-06-29 23:47] #3668 closed

[2022-06-29 23:48] octavia-squidington-iii commented on #3863
cc @airbytehq/frontend

[2022-06-29 23:48] cgardens commented on #3534
we have this with the e2e test destination. or can be easily added to it.

[2022-06-29 23:48] #3534 closed

[2022-06-29 23:49] cgardens commented on #3949
we do this.

[2022-06-29 23:49] #3949 closed

[2022-06-29 23:50] cgardens commented on #4000
done.

[2022-06-29 23:50] #4000 closed

[2022-06-29 23:51] cgardens commented on #4103
goals met but release label strategy changed. closing.

[2022-06-29 23:51] #4103 closed

[2022-06-29 23:52] cgardens commented on #4182
this was fixed.

[2022-06-29 23:52] #4182 closed

[2022-06-29 23:53] cgardens commented on #4213
done

[2022-06-29 23:53] cgardens commented on #4302
@davinchia don't we have this already?

[2022-06-29 23:54] cgardens commented on #4393
this version is no longer supported.

[2022-06-29 23:54] #4393 closed

[2022-06-29 23:55] cgardens commented on #4915
@davinchia can we close this?

[2022-06-29 23:56] cgardens commented on #5315
done

[2022-06-29 23:56] #5315 closed

[2022-06-29 23:57] cgardens commented on #5518
done

[2022-06-29 23:57] #5518 closed

[2022-06-29 23:57] pmossman commented on #11136
@cgardens decided to just add this to the script right now so that we can close this epic without feeling conflicted: https://github.com/airbytehq/airbyte-cloud/pull/1970

[2022-06-29 23:58] cgardens commented on #5682
i think we agreed not to support this.

[2022-06-29 23:58] #5682 closed

[2022-06-29 23:58] cgardens commented on #5790
fixed

[2022-06-29 23:58] #5790 closed

[2022-06-29 23:58] cgardens commented on #5841
no longer supported

[2022-06-29 23:58] #5841 closed

[2022-06-29 23:59] cgardens commented on #6089
duplicate of https://github.com/airbytehq/airbyte/issues/6912. will be released soon.

[2022-06-29 23:59] #6089 closed

[2022-06-30 00:00] #6393 closed

[2022-06-30 00:00] #6500 closed

[2022-06-30 00:00] convect-bot opened #14287 "Kubernetes: Airbyte task hang during kubectl cp config step"
## Environment
- **Airbyte version**:  example is 0.39.1-alpha
- **OS Version / Instance**:  AWS EKS k8s deployment with scheduling fargate pods on main services
- **Deployment**:  k8s stable deployment with resource limit
- **Source Connector and version**: customized source connector
- **Destination Connector and version**: postgres
- **Step where error happened**:  Sync job

## Current Behavior

[2022-06-30 00:04] cgardens commented on #6553
added

[2022-06-30 00:04] #6553 closed

[2022-06-30 00:04] cgardens commented on #6554
done

[2022-06-30 00:04] #6554 closed

[2022-06-30 00:35] cgardens commented on #7362
done

[2022-06-30 00:35] #7362 closed

[2022-06-30 00:37] cgardens commented on #8076
won't do

[2022-06-30 00:37] #8076 closed

[2022-06-30 00:38] cgardens commented on #8532
done

[2022-06-30 00:38] #8532 closed

[2022-06-30 00:38] #8533 closed

[2022-06-30 00:39] cgardens commented on #8598
using micronaut instead

[2022-06-30 00:39] #8598 closed

[2022-06-30 00:41] cgardens commented on #9170
should be fixed. let us know if it persists on the latest version.

[2022-06-30 00:41] #9170 closed

[2022-06-30 00:41] #9180 closed

[2022-06-30 00:46] cgardens commented on #7211
closing due to inactivity and old version

[2022-06-30 00:46] #7211 closed

[2022-06-30 00:48] cgardens commented on #11136
awesome!

[2022-06-30 00:49] cgardens commented on #11276
closed due to inactivity. feel free to reopen if it persists.

[2022-06-30 00:49] #11276 closed

[2022-06-30 00:51] cgardens commented on #12030
awesome!

[2022-06-30 00:51] #12030 closed

[2022-06-30 00:53] cgardens commented on #12363
duplicate https://github.com/airbytehq/airbyte/issues/6912

[2022-06-30 00:53] #12363 closed

[2022-06-30 00:53] cgardens commented on #12408
https://github.com/airbytehq/airbyte/issues/6912

[2022-06-30 00:53] #12408 closed

[2022-06-30 00:56] #14107 closed

[2022-06-30 00:56] cgardens commented on #14107
Fixed! Reopen if it persists.

[2022-06-30 02:22] grishick commented on #12962
Reopening, because this error is still happening. It is still possible for a single JDBC query to take longer than duration specified in `max_standby_streaming_delay` or `max_standby_archive_delay`. Setting these parameters to extremely long values is not always feasible as is requiring customers to always read from the master. Ideally, Postgres Source connector should be able to gracefully recove

[2022-06-30 05:21] harshithmullapudi opened #14289 "Custom connector: Json schema validation fails"
Created a source connector based on the source-github connector.
Specifically, I am reusing schema files. Everything has been working just fine until an update to a version above 0.38 (or so). I know this works just fine in 0.37.1.

So the error I get is as follows
[code]

Just switched to 0.39.20. Now I get a different error. On my connection, I refresh the source schema (ie Replication tab). The

[2022-06-30 05:53] davinchia commented on #4302
we have it for the logging layer. we don't have an e2e test just focused on logging. I do think it's less valuable to have an e2e job log test so this can be closed.

[2022-06-30 05:53] davinchia commented on #4915
Yes

[2022-06-30 05:53] #4915 closed

[2022-06-30 06:11] igrankova commented on #13764
Done, except :
E2E Testing
End-to-end Test (Mock API)
Donor Perfect

[2022-06-30 06:11] #13764 closed

[2022-06-30 06:14] emilmar commented on #14253
@marcosmarxm I think you may have mistyped another issue, the link you provided goes to this issue.

[2022-06-30 06:21] igrankova commented on #6289
@misteryeo, I think so, because I see that Zendesk Support is already implemented, but Zendesk Talk is not.
![image](https://user-images.githubusercontent.com/87977540/176606566-7f1b6d66-0e19-408c-aab3-ff8db7508afb.png)

![image](https://user-images.githubusercontent.com/87977540/176606476-52a22968-6150-4e6b-94a5-929c6682f59c.png)

[2022-06-30 08:11] alafanechere opened #14291 "octavia-cli: import existing Airbyte resources to manage them with octavia-cli"
If I created some Airbyte resources using the console (destination, source, connection), I want to be able to manage these with octavia without recreating these.

E.G.:
I want to run an `octavia import source <my-source-id>` command that will generate a local YAML file with the source configuration I've already set up in the Airbyte UI.

[2022-06-30 08:52] stockymcstockface opened #14292 "MySQL sync hangs"
## Environment
- **Airbyte version**:  0.39.1-alpha
- **OS Version / Instance**: GKE
- **Deployment**: Kubernetes
- **Source Connector and version**: MySQL 0.5.11
- **Destination Connector and version**: PostgreSQL 0.4.16
- **Step where error happened**: Sync job

## Current Behavior
The job has an error and gets stuck.

## Expected Behavior
The job succeeds.

## Logs
Worker log:
[code]
Just addin

[2022-06-30 10:22] igrankova opened #14293 "🎉 Source Sentry: support oauth"
## Tell us about the problem you're trying to solve
With the release of Airbyte Cloud, we need to start supporting Oauth for this connector, since it's the recommended way of authenticating users into a SaaS application.

If this connector doesn't support oauth already (i.e: doesn't accept a client_id and client_secret) then we need to update its spec to accept those parameters. I suggest that thi

[2022-06-30 10:53] marcosmarxm opened #14294 "File decompression - zst"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1371](https://airbyte7538.zendesk.com/agent/tickets/1371)
**Priority:** normal
**Group:** User Success Engineer
**Requester:** morgan@flashpack.com
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi,</p>
<p dir="auto">I have a file from a 3rd party full of dat

[2022-06-30 10:53] marcosmarxm commented on #14294
*Comment made from Zendesk by Marcos Marx on 2022-06-29 at 15:37:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">In case it’s not clear, the file is on a remote URI like this:</p>
<p dir="auto"><code style="background-color: #f9f9f9; padding: 2px 5px;">https://bucket.s3.eu-central-1.amazonaws.com/feed/feed.json.zst</code></p>

 [<a href="https://discuss.airbyte.io/t/file-decompress

[2022-06-30 10:54] marcosmarxm commented on #14294
*Comment made from Zendesk by Marcos Marx on 2022-06-30 at 10:54:*

<blockquote><div class="zd-comment" dir="auto">Today this file format is not supported. I created the issue <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/14294">https://github.com/airbytehq/airbyte/issues/14294</a>. Any updates I'll return to you.<br></div></blockquote>

[2022-06-30 10:57] marcosmarxm commented on #14287
usually means OOM can you check resources you're configuring for your cluster?

[2022-06-30 12:17] #13532 closed

[2022-06-30 12:55] stockymcstockface opened #14297 "Airbyte scheduler on Kubernetes should use native Kubernetes scheduling"
## Tell us about the problem you're trying to solve
I'd like to know why Airbyte is using its own scheduling mechanism in Kubernetes while Kubernetes has everything provided for.
Why not using Job and CronJob to launch tasks ?

[2022-06-30 13:52] marcosmarxm opened #14300 "Source Tiktok Marketing: parameter `report_granularity` not showing in UI spec"
## Environment
- **Source Connector and version**: TikTok Marketing 0.1.14
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Behavior
![image](https://user-images.githubusercontent.com/5154322/176694474-0f750cd4-c30f-4c22-92f9-c3d0b54da461.png)

#

[2022-06-30 13:55] #12375 closed

[2022-06-30 13:57] marcosmarxm opened #14301 "Source Tiktok Marketing: parameter `report_granularity` not showing in UI"
## Environment
- **Source Connector and version**: TikTok Marketing 0.1.14

## Current Behavior
Version 0.1.14
![image](https://user-images.githubusercontent.com/5154322/176695862-90a3ecda-8fe4-4a31-b81f-b5036d752a06.png)

## Expected Behavior
Version 0.1.13
![image](https://user-images.githubusercontent.com/5154322/176696000-0872186e-8a96-4021-9101-5e135d7ec1d8.png)

## Logs

## Steps to Reproduc

[2022-06-30 14:14] marcosmarxm commented on #13976
After apply same logic from other streams the sync start working with pagination:

[code]

[2022-06-30 14:16] marcosmarxm commented on #13976
After implementing the code:
![image](https://user-images.githubusercontent.com/5154322/176700451-e324a8ee-6f8b-48e3-a65b-e13c580ab6c9.png)

[2022-06-30 14:32] marcosmarxm commented on #14064
I tried same configuration with our integraation accounts but wasn't able to reproduce it yet. I'll test with other sources.

[2022-06-30 14:37] marcosmarxm commented on #14253
thanks, linked to correct issue.

[2022-06-30 14:44] marcosmarxm commented on #14297
Because Airbyte can be deployed in mutiple platforms: docker compose and kubernetes.

[2022-06-30 14:44] #14297 closed

[2022-06-30 15:03] girarda opened #14305 "Refactor low-code paginator and stream slicer to increase cohesion"
## Tell us about the problem you're trying to solve
Implementing pagination requires the developer to define a paginator, and update the request parameters or headers. We can streamline this process by keeping the semantics together and letting the paginator update the request parameters or headers as needed.

The same is true to support incremental syncs. This subset stream definition shows that

[2022-06-30 15:06] #12953 closed

[2022-06-30 15:18] mp-pinheiro commented on #12949
I'm facing the same issue, but with a Google Cloud Storage destination.

Airbyte Version: 0.39.29-alpha
Source: Microsoft SQL Server (MSSQL) (0.4.8)
Destination: Google Cloud Storage (GCS) (0.2.9)

[code]

[2022-06-30 15:25] marcosmarxm commented on #14294
*Comment made from Zendesk by Marcos Marx on 2022-06-30 at 15:25:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thanks <a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a> - I’ve subscribed to the issue on Github.</p>

 [<a href="https://discuss.airbyte.io/t/file-decompression-zstd/1652/4" rel="noreferrer">Dis

[2022-06-30 15:27] #13736 closed

[2022-06-30 15:30] pedroslopez opened #14306 "Sentry tagging improvements"
When going through some Sentry issues I found myself wanting a bit more from the tags:

- We should send the docker image as a separate tag, since the release tag is hiding the "package name" and only showing the version, making it a little more work to know what connector this is affecting.
- `workspace_id` should also be a separate tag - currently it comes through as the user, which is workable

[2022-06-30 15:50] alafanechere opened #14307 "doc: [environment variables) explain which unit work for setting resource related variables"
Multiple user reached out to us asking how to properly set up the following environment variable:
[code]

They should use the unit specified by `docker-compose` [documentation](https://docs.docker.com/config/containers/resource_constraints/):

[2022-06-30 15:50] edgao commented on #9560
@MahmoudElhalwany have you tried this again recently? I just tested this with a simple CDC sync (postgres->clickhouse) and it worked out of the box:
[code]

[2022-06-30 15:53] alafanechere commented on #14307
[A related forum topic for reference](https://discuss.airbyte.io/t/how-to-specify-cpu-memory-limit-in-env/1675)

[2022-06-30 15:57] #11136 closed

[2022-06-30 16:12] sherifnada commented on #13335
@Phlair might it make more sense to ask the DBs team to remove that code at their own pace? up to you

[2022-06-30 16:18] Amruta-Ranade opened #14309 "Fix Airbyte spelling"
Our name's misspelled in some docs. Example: Airbite in the [Oracle DB source](https://docs.airbyte.com/integrations/sources/oracle/#encryption-options)

[2022-06-30 16:18] sherifnada opened #14310 "Persist normalization job failure reasons"
## Tell us about the problem you're trying to solve
If normalization fails, we currently only store the higher-level Temporal scheduling error in the Airbyte db, not the actual failure coming from Normalization (python error from the normalization code or DBT error coming from running normalization on the destination)

## Describe the solution you’d like
We should use TRACE messaging to signal err

[2022-06-30 16:19] mp-pinheiro commented on #12949
Testing confirms that the issue only occurs for output data types Avro and Parquet. JSON and CSV both work. This is somewhat expected considering the issue seems to bee in merging datat type schemas.

[2022-06-30 16:21] sajarin opened #14311 "Add optional param for log inclusion to the Jobs REST API"
## Tell us about the problem you're trying to solve
External orchestration tools like Dagster utilize the Jobs api to create jobs and for polling the completion of jobs. The specific route used for the later is: https://airbyte-public-api-docs.s3.us-east-2.amazonaws.com/rapidoc-api-docs.html#post-/v1/jobs/get

Given that this api route returns job logs, the api calls take longer and longer to retu

[2022-06-30 16:47] mp-pinheiro commented on #12949
This might be a shot in the dark, but in my case, the column `num_field` in the logs is a `decimal` type with a user specified precision.

[code]
It seems that no issues occur for all values but for `1.00`.

I have a second table with the same issue that also has the same problem of trailing zeroes (column type is also `decimal`):

[code]

Same problem with a third table, this one has a `decimal`

[2022-06-30 16:47] pmossman commented on #12514
Short term plan: Scope out how much effort it would take to throw an early error if the schema size is too big and will fail

[2022-06-30 17:08] timroes opened #14313 "Validate correct sync mode in API"
Currently the backend API accepts any sync mode the frontend sends when creating/updating a connection, whether or not that sync mode is actually valid for the given source/destination combination. Given that a user can simply manipulate a query and then end up in a weird invalid state, I'd suggest to validate the sync mode in the backend and fail the request if a connection is tried to be saved w

[2022-06-30 17:40] girarda opened #14316 "[low-code-connectors] move jinja global functions to a macro file"
## Tell us about the problem you're trying to solve
The functions available in jinja templating are opaque and hidden in https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/jinja.py#L12.
This forces the users to reverse engineer how they work before they can use them

## Describe the solution you’d like
We should define the functions in

[2022-06-30 17:41] marcosmarxm commented on #5942
*Comment made from Zendesk by Marcos Marx on 2022-06-30 at 17:41:*

<blockquote><div class="zd-comment" dir="auto">Alexandre, there is an implementation for this open <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/pull/14231"><span style="background-color: rgb(255,247,237);">https://github.com/airbytehq/airbyte/pull/14231</span></a><span style="background-color: rgb(255,24

[2022-06-30 17:45] marcosmarxm commented on #13967
*Comment made from Zendesk by Marcos Marx on 2022-06-30 at 17:45:*

<blockquote><div class="zd-comment" dir="auto">I fix was released, please upgrade connector Postgres to version 0.4.29<br></div></blockquote>

[2022-06-30 17:48] marcosmarxm commented on #14292
@stockymcstockface can you upgrade to latest version? The stuck issue was solved with new temporal workflow.

[2022-06-30 17:52] mp-pinheiro commented on #5609
https://github.com/airbytehq/airbyte/issues/12949

[2022-06-30 18:12] davydov-d commented on #12668
resolved in https://github.com/airbytehq/airbyte/pull/14191

[2022-06-30 18:12] #12668 closed

[2022-06-30 18:13] davydov-d commented on #13198
resolved in https://github.com/airbytehq/airbyte/pull/14191

[2022-06-30 18:13] #13198 closed

[2022-06-30 18:54] #13976 closed

[2022-06-30 19:20] alovew opened #14319 "Allow partial resets for GLOBAL states"
Currently global states (CDC) do not support partial resets. Once they do, we should allow partial resets for GLOBAL states, just like we do for STREAM states.

The change should be made in the `webBackendUpdateConnection` endpoint in the `WebBackendConnectionsHandler`. Right now we are not allowing partial resets for states that are LEGACY, NOT_SET, or GLOBAL. This should be updated to remove GLO

[2022-06-30 19:54] grishick opened #14320 "Broken link to 'building new connectors' in docs"
### Tell us about the documentation you'd like us to add or update.
On this page https://docs.airbyte.com/integrations/contributing-to-airbyte/ , this link  [building new connectors](https://docs.airbyte.com/integrations/contributing-to-airbyte/) is broken. Clicking it results in a 404 error.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](h

[2022-06-30 20:58] #10548 closed

[2022-06-30 20:59] DoNotPanicUA commented on #10548
Hi @SophieLohezic ,
I've just released a version that should help you. Please try `0.4.30` and let me know if you still have an issue.

[2022-06-30 21:13] misteryeo commented on #2227
This is something we currently have slotted for Q4 exploration: https://app.harvestr.io/roadmap/view/pQU6gdCyc/airbyte-roadmap?p=lymTZInr0.

cc: @andyjih

[2022-06-30 21:59] grishick commented on #14042
Need to check if upgrading from 0.4.18 to 0.4.29 w/o doing a full reset works without errors.

[2022-06-30 22:04] grishick commented on #14230
To close this issue:

- identify the exact size limit
- create an approximate estimate in the form of  "number of tables with average number of columns per table" that reflects the upper limit that source postgres connector can work with

[2022-06-30 22:11] grishick commented on #13605
This should be fixed in version `0.4.24`

[2022-06-30 22:11] #13605 closed

[2022-06-30 22:22] cgardens commented on #12746
duplicate of: https://github.com/airbytehq/airbyte/issues/14043

[2022-06-30 22:22] #12746 closed

[2022-06-30 22:23] grishick commented on #12277
@sadornounnoba you may be running into schema size limitation. Currently, Airbyte cannot read schemas that are larger than 4MB. Can you add a screenshot of the error that you are seeing?

[2022-06-30 22:39] misteryeo commented on #9922
@igrankova Do you know where the doc is for this issue? I can't seem to access it.

[2022-06-30 22:47] sophia-wiley opened #14324 "Draft the Best Practices doc"
Chat with Sales team to see what they have in mind.

Create rough draft document to see if it aligns with Sales/Marketing needs.

Meet with Amruta to discuss if we should own this document or if this belongs somewhere else.

If we do own the Best Practices doc, discuss what we want it to look like and where in Docusaurus we want it.

[2022-06-30 23:04] grishick opened #14325 "Create tools for testing connector upgrades and rollbacks"
## Goal
We need to automate testing of connector upgrades and rollbacks.

## Design proposal
A tool that exposes the following APIs (or CLI calls):

1. deploy a specified version of a connector to a test environment (could be a cloud-based environment, could be local OSS environment, the tool could also spin up Airbyte for the purpose of testing)
2. load a specified initial data set into a source

[2022-06-30 23:45] grishick opened #14327 "Source MySQL to Beta"
This is an Epic that aggregates issues that are required to be closed for MySQL source to be certified as beta.

* [ ] Create a certification spreadsheet
* [ ] Link spreadsheet in the issue description
* [ ] Checklist filled up by engineering team
* [ ] Move checklist to the product team for review
* [ ] Reviewed/Updated by product team
* [ ] Update connector documentation according to the comment

[2022-06-30 23:59] grishick commented on #10909
The issue will be addressed when a source and a destination in a given connection are making periodic checkpoints.

[2022-07-01 00:00] grishick commented on #10907
This seems identical to https://github.com/airbytehq/airbyte/issues/13998

[2022-07-01 00:00] grishick commented on #13998
Also requested here: https://github.com/airbytehq/airbyte/issues/10907

[2022-07-01 00:18] xiaohansong commented on #12910
@sw-yx

@sophia-wiley has launched the doc:
https://docs.airbyte.com/operator-guides/scaling-airbyte/#recommended-metrics

[2022-07-01 00:20] grishick commented on #4400
I am adding this to Source MySQL to Beta epic for visibility. However, we are unlikely to fix this for MySQL beta or GA, because the [blocking issue](https://github.com/airbytehq/airbyte/issues/2227) is not going to be ready by then.

[2022-07-01 00:25] grishick commented on #12257
Related: https://github.com/airbytehq/airbyte/issues/12514

[2022-07-01 00:25] grishick commented on #12257
Related: https://github.com/airbytehq/airbyte/issues/14230

[2022-07-01 00:26] grishick commented on #12257
Related: https://github.com/airbytehq/airbyte/issues/4564

[2022-07-01 00:27] grishick commented on #12514
Is this a duplicate of this issue: https://github.com/airbytehq/airbyte/issues/4564

[2022-07-01 00:33] grishick commented on #11778
Probably a duplicate of: https://github.com/airbytehq/airbyte/issues/9093

[2022-07-01 00:43] grishick commented on #4695
As we move MySQL to beta, let's evaluate if we can/need to upgrade Debezium for MySQL as well.

[2022-07-01 00:45] grishick commented on #3882
This is a duplicate of https://github.com/airbytehq/airbyte/issues/6985

[2022-07-01 00:45] #3882 closed

[2022-07-01 00:48] grishick commented on #2011
Step one: investigate if there are any limitations specific to MariaDB that prevent us from using MySQL Source connector.

[2022-07-01 00:59] grishick commented on #13909
This is fixed in  0.4.24

[2022-07-01 00:59] #13909 closed

[2022-07-01 01:00] lmossman commented on #8973
@timroes I am no longer able to reproduce this, so I'm going to close this issue out.

[2022-07-01 01:00] #8973 closed

[2022-07-01 01:01] grishick commented on #13910
Unfortunately, the workspace does not exist anymore

[2022-07-01 01:03] fool1280 commented on #14260
Hi, can I take this issue?

[2022-07-01 01:03] grishick commented on #13912
It appears that the user was able to set up an incremental sync with an unsupported field type.

[2022-07-01 04:48] #4302 closed

[2022-07-01 06:18] grubberr opened #14333 "Airbyte Core - "Reset your data" status Failed"
## Environment
- **Airbyte version**:  0.39.30-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: destination-snowflake:0.4.30, destination-redshift:0.3.46
- **Step where error happened**: Sync job

## Current Behavior
Setup connection which sync data from any

[2022-07-01 07:31] marcosmarxm commented on #13498
*Comment made from Zendesk by Augustin on 2022-07-01 at 07:31:*

<blockquote><div class="zd-comment" dir="auto">An issue already existed: <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/13498">https://github.com/airbytehq/airbyte/issues/13498</a><br></div></blockquote>

[2022-07-01 07:39] ChristopheDuong commented on #12773
Dockerhub alpha is available and even in cloud, closing this ticket, thanks @sw-yx!

[2022-07-01 07:59] zczhuohuo opened #14334 "Why `playload` field of `secrets` table store plain password"
## Tell us about the problem you're trying to solve
It turns out that `playload` field of `secrets` store plain password, while `configuration` field of `actor` table stores encrypted secrets. Is it this a design error?

## Describe the solution you’d like
`playload` field of `secrets` should be encrypted as `configuration` field of `actor` table

## Describe the alternative you’ve considered or u

[2022-07-01 08:24] harshithmullapudi commented on #14287
@convect-bot I think we have a part where we wait for the worker to copy the files into the sync pod. If the sync pod doesn't come into the running state in 5 minutes then it will automatically fail. Can you confirm if this is the case?

Incase above is true the sync pod will be left in the init state forever

[2022-07-01 09:31] harshithmullapudi opened #14336 "CI credentials for new source Timely"
Can we create sandbox credentials for Integration Timely? https://github.com/airbytehq/airbyte/pull/14335

[2022-07-01 09:31] harshithmullapudi opened #14337 "CI credentials for new source Timely"
Need CI sandbox credentials for a new community source PR Timely

https://github.com/airbytehq/airbyte/pull/14335

[2022-07-01 09:38] harshithmullapudi commented on #14337
Could we also generate some data in Events

[2022-07-01 09:42] skwaugh commented on #14289
@harshithmullapudi I'm having the same issue - both with a custom connector and others, off-the-shelf, including the File Connector.

It seems that indicating a date-typed object as a 'date time' now causes Airbyte to go into a new 'intelligent' repair mode.  It's not helpful, though - I have a table with 700 columns x 3M rows, and Airbyte thinks the best thing to do is rename all 700.

This has b

[2022-07-01 09:49] skwaugh commented on #14289
[logs-17774-4.txt](https://github.com/airbytehq/airbyte/files/9027896/logs-17774-4.txt)

[2022-07-01 09:52] m-ronchi commented on #14287
it happened to me with a `Google Ads (0.1.39) => Redshift (0.3.29)` connection (airbyte 0.39.5).
I just happen to notice the connection still running after more than a month.

shouldn't there be a sync timeout?

[2022-07-01 10:31] alafanechere opened #14339 "source-jira: pagination failure, Users stream only returns 50 records"
## Environment
- **Source Connector and version**: source-jira 0.2.20

## Current Behavior
The `Users` stream only returns 50 records. This is probably related to `next_page_token` implementation as [the default number](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-users/#api-rest-api-3-users-search-get) of returned values on this endpoint is 50.

## Expected Behavior
The U

[2022-07-01 12:30] skwaugh opened #14342 "Normalization Fails - Airbyte is attempting to cast a varchar (read:text) to varchar(256)"
[code]

Custom Connector --> Postgres 13
Airbyte Version: 0.39.10-alpha
Source: Custom
Destination: Postgres (0.3.20)

[2022-07-01 12:34] alafanechere commented on #10907
I originally created this issue to better document how to achieve not reading a full table in JDBC source without suggesting a change on the connector :)
The current solution is to create a view on the source table or manually edit the cursor value in the state object in Airbyte's database (a bit hacky).

[2022-07-01 12:43] moreaupascal56 commented on #2227
Thank you @misteryeo 👍

[2022-07-01 12:43] skwaugh opened #14343 "Normalization Fails - airbyte renaming all fields, casts varchar (i.e. text) to varchar(256)"
Seems like a bad assumption to make?  Any ideas why Airbyte's normalization wants to rename every column in a 700 column table, only to move it over?

This might be a good strategy for other databases like Snowflake, but it effectively takes Postgres offline for hours, depending on the size of the table - Postgres' vacuum comes into cleanup and takes its good ol time.

This custom connector is use

[2022-07-01 12:44] skwaugh commented on #14342
made a duplicate by accident - #14343

[2022-07-01 12:44] #14342 closed

[2022-07-01 12:45] VitaliiMaltsev commented on #13533
i found the floating bug which appears in 80% of cases on normalization step for three tests
 _SshPasswordMySQLDestinationAcceptanceTest.testDataTypeTestWithNormalization(),
SshPasswordMySQLDestinationAcceptanceTest.testSyncWithNormalization(),
SshPasswordMySQLDestinationAcceptanceTest.testCustomDbtTransformations()_

`2022-07-01 10:57:52 normalization > 10:57:52  Encountered an error:
2022-07-01

[2022-07-01 12:52] suhomud commented on #13528
Test were fixed as a side affect:
<img width="871" alt="Screenshot 2022-07-01 at 19 52 03" src="https://user-images.githubusercontent.com/5124694/176898188-7e05e66f-6c42-49a2-b4f6-d222344362d8.png">

[2022-07-01 12:54] andriikorotkov opened #14345 "The problem of backward compatibility of versions when adding fields to a new version of the connector."
Step to reproduce:

1. Open the specification of one of the connectors, at the root of which is the property - "additionalProperties": false.
2. Add a new field of any type to the properties of this specification.
3. Use a new version of the connector. Go to the settings, and add any value to the new field, then save the connector settings.
4. Downgrade the connector version.
5. Try to synchronize

[2022-07-01 12:57] VitaliiMaltsev commented on #13533
further investigation should be done by python-team

[2022-07-01 13:06] alafanechere commented on #14136
Hey @yzislin, it's good to know you found a workaround. Do you mind sharing an example of a schema that is working now?
Here's a small list of connectors we developed with this generator:
* `source-firebolt`
* `source-apify-dataset`
* `source-azure-table`
All these connector are generating schema on execution with Python.

[2022-07-01 13:32] yzislin commented on #14136
Thanks for getting back. I checked these connectors. Yes, you are utilizing schema objects within the code and it is simple.
I am utilizing schema files which I took from source-github connector. So pretty much the only issue is the $ref. My solution was to replace it with the actual file contents (ie shared/user.json). The problem after that was that It was still not a valid json schema file. I'v

[2022-07-01 13:34] igrankova opened #14347 "Source Salesforce Marketingcloud Singer: fill streams with data"
Find out which of the stream has data in the account?

For the PR #10026

[2022-07-01 13:36] yzislin commented on #14289
I highly recommend to run your schema files through https://www.jsonschemavalidator.net/
It saved me a ton of time. Unfortunately, Java does not report errors well with json schemas.

Judging from the errors you specified wrong format for date time field. See example below
`
"updated_at": {
      "type": ["null", "string"],
      "format": "date-time"
    },
`

[2022-07-01 13:37] yzislin commented on #14289
oh and the reason why it was not happening before is because Airbyte did not utilize json schema validator until one of the recent releases

[2022-07-01 13:43] alafanechere commented on #13711
Hey @jan-benisek I think this was fixed by https://github.com/airbytehq/airbyte/pull/13816
Could you please reopen the issue if you are still facing the error after pulling the latest chart?

[2022-07-01 13:43] #13711 closed

[2022-07-01 14:09] jan-benisek commented on #13711
All works now, thank you! 🙏

[2022-07-01 14:10] alafanechere commented on #13692
Hey @nord-ine,
The problem you mention is not specific to MSSQL or S3 but is more global on our database connectors.
Airbyte connectors keep track of the offset of the record they consumed in a `state` object. For database connectors this state is stored at the end of a successful sync. It means that on the next sync, after a failure, the same data will be replicated. We need to improve this behav

[2022-07-01 14:10] #13692 closed

[2022-07-01 14:15] alafanechere commented on #13692
This [topic](https://discuss.airbyte.io/t/what-is-the-guarantee-of-airbyte-data-extraction/817) about Airbyte record delivery guarantees might also be helpful.

[2022-07-01 14:17] bazarnov opened #14348 ":bug: Source Mixpanel: SAT failed due to empty `annotations` stream"
During SAT, `source-mixpanel` failed on https://github.com/airbytehq/airbyte/runs/7148933889?check_suite_focus=true#step:11:2289

Need to adjust SAT config accordingly.

[2022-07-01 14:34] alafanechere commented on #13676
Thank you @[isaacharrisholt](https://github.com/isaacharrisholt) , I triaged the issue so that it reaches our connector team backlog.

[2022-07-01 14:47] alafanechere commented on #13386
@marcosmarxm I was not able to find a duplicate issue, could you please share the link if you have it?

[2022-07-01 14:51] rludington opened #14350 "Sprout Social"
## Tell us about the new connector you’d like to have
We would like [Sprout Social](https://sproutsocial.com/) added as a new source connection for Airbyte. My team specifically wants to move that data to a GCP warehouse. We do not need support for an older version of the API, we are content with the current API version.

## Describe the context around this new connector
Sprout Social allows us to

[2022-07-01 15:00] alafanechere commented on #14343
Hi @skwaugh thank you for the feedback.
Do you still have the logs of your last successful sync? It will be interesting to spot differences in Airbyte version / Normalization version and DBT postgres adapter version.

Could the problem come from the incoming data that evolved and excesses 256 characters now?

[2022-07-01 15:18] rludington commented on #14350
I would like to work on this, but am unable to assign it to myself

[2022-07-01 16:03] #8710 closed

[2022-07-01 16:23] #14291 closed

[2022-07-01 16:35] m-ronchi commented on #11866
+1. this can also be extended to support generic config, e.g. tolerations, node selectors, resource requests and limits, etc...

for example, you could have an equivalent of `spec` defined by airbyte itself or the process manager (kubernetes / docker).
then you let the user configure both when you create a new connector (or connection)

[2022-07-01 17:13] ChristopheDuong commented on #14343
What is the data type of your columns such as `"rmy"."_airbyte_airbyte"."_vow__listings_other_properties_stg"."publicremarks"` before running these syncs?

These are not "airbyte" controlling the rename queries mechanisms, but dbt.

It's probably due to a type change in the catalog emitted by airbyte though.
So dbt is trying to rename the column and make a backup copy, to safely create a new colum

[2022-07-01 17:49] marcosmarxm commented on #13659
Most endpoints don't have the option to request param `created_at`. The parameter is not used, maybe should be change to `start_updated_at` (Retrieve data from this point) which most endpoints have access to it.

[2022-07-01 18:17] YiyangLi commented on #11605
Ben, I came across this issue when I am learning the auth methods in vault. For the kube deployment, airbyte could probably try Vault Agent with k8s.

Let me clarify the requirement to ensure we are in the same page:
- Only pods under airbyte-worker and airbyte-server need a vault client to read or write secrets.
- The access token for secrets should be short-lived and rotated occasionally, [vault

[2022-07-01 18:26] misteryeo commented on #13404
Checklist LGTM @midavadim - confirming that we will be completing https://github.com/airbytehq/airbyte/issues/12498 before this gets released right?

[2022-07-01 18:29] grishick commented on #4564
Related oncall issues:

- https://github.com/airbytehq/oncall/issues/212
- https://github.com/airbytehq/oncall/issues/308

[2022-07-01 18:33] #12498 closed

[2022-07-01 18:35] midavadim commented on #13404
yes, https://github.com/airbytehq/airbyte/issues/12498 has been already implemented

[2022-07-01 18:35] #13404 closed

[2022-07-01 18:44] grishick commented on #14345
@andriikorotkov @cgardens @benmoriceau would the following work as a solution. Whenever user updates connector configuration with a newer version of a connector, platform will also save the old version of configuration. Platform will always keep two versions of configuration: current and the last configuration created with the previous version of the connector (this could obviously be extended bac

[2022-07-01 19:37] girarda commented on #13000
closed by https://github.com/airbytehq/airbyte/pull/13520

[2022-07-01 19:37] #13000 closed

[2022-07-01 20:18] girarda opened #14361 "Add config-based connector option to connector template"
## Problem
Config-based connectors require slightly different boilerplate from our standard CDK connectors.
I've been manually updating the files whenever I worked with a config-based connectors, but we should enable the code genrators to produce the right boilerplate so developers don't need to modify the files by hand.

## Suggested solution
The generator should produce the same file as it does

[2022-07-01 20:32] girarda opened #14363 "better error reporting"

[2022-07-01 20:59] #10078 closed

[2022-07-01 21:19] misteryeo commented on #9883
Following up here @nwayne94

[2022-07-01 22:35] girarda commented on #3078
few additional things that would be useful to expose for troubleshooting:
* raw response (need to make sure the secrets are scrubbed)
* fully expanded config (for low-code)
* cursor value

[2022-07-01 22:58] sophia-wiley opened #14366 "Update docs that mention Temporal"
Temporal was changed to Temporal Cloud.

Update any internal documentation/links to point to the Temporal Cloud instance instead of on-premise.

Documentation should probably be done at or before July 23rd since that is when the changes for 1622 will be merged.

Related to [1622](https://app.zenhub.com/workspaces/cloud-platform-6259ee50ab53b4001d625d79/issues/airbytehq/airbyte-cloud/1622)

[2022-07-01 23:11] edgao opened #14368 "Improve base-normalization tests"
* Write tests that verify data values in addition to [row counts](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp/simple_streams_first_run_row_counts.sql)
* Check that we have entries in `test_nested_streams/data_input/messages.txt` that exercise these macros:
  * `json

[2022-07-02 01:19] cgardens commented on #14345
I don't follow how this helps us. Can't we just decrement the version by one and get the same effect without any dev work?

[2022-07-02 06:48] tooptoop4 opened #14371 "Temporal: prints plain password in logs"
see https://github.com/temporalio/temporal/issues/3022

[2022-07-02 12:37] tunguyen-12 opened #14372 "Default serviceAccount when creating Orchestrator Pod"
## Environment
- **Airbyte version**:  example is 0.39.29-alpha
- **Deployment**:  Kubernetes deploy env
See here https://github.com/airbytehq/airbyte/blob/59e20f20de73ced59ae2c782612fa7554fc1fced/airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java#L300

## Current Behavior
Failed to start Orchestrator Pod using diffirent serviceAcount Name

## Expected Behavi

[2022-07-02 12:46] danieldiamond opened #14373 "octavia-cli: import commands overwrite different resources with the same name"
## Description

## Expected behaviour
`octavia import ...` generates configuration files for a resource within a directory named `slugify(resource_name)`. however, if airbyte has multiple resources defined with the same name (different resource_id), octavia will ask to overwrite this config & state.

e.g.
[code]

## Desired behaviour
Simply put, `octavia import...` should use an `get_output_path`

[2022-07-02 12:46] danieldiamond commented on #14373
cc'ing @alafanechere

[2022-07-02 12:50] danieldiamond commented on #14373
Also noticing that `resource_id` isn't included in the configuration yaml. this makes sense if you're generating a template resource (the ID doesn't yet exist) but i think we should make resource_id optional in the renderer template and include it when writing out via import commands. thoughts?

[2022-07-02 14:29] grubberr opened #14375 "🎉 Source Github: add Retry for GraphQL API Resource limitations"
## Current Behavior
Source Github does not retry on [GraphQL API Resource limitations](https://docs.github.com/en/graphql/overview/resource-limitations)

## Expected Behavior
Source Github has to sleep and retry on GraphQL API Resource limitations

[2022-07-02 15:01] jorinvo commented on #14066
Sorry for the late reply :pray:

Do I understand correctly, that incremental sync produces at least one row in the destination every time it runs? The dedup happens in the transform step then?

I guess incremental is not working for our use case then. We have to use the raw tables and not the normalized ones for now since the normalized ones are recreated each time so we cannot easily create other

[2022-07-02 18:37] yzislin opened #14377 "Sync Job log doesnt refresh automatically"
## Environment
- 0.39.29-alpha
- AWS EC2- Ubuntu 22.04
- Docker
- Source-Github (probably happens for all)
- Local JSON (probably happens for all)
- Sync Job

## Current Behavior
When running sync job and clicking on the job to see the logs, the page does not refresh with latest logs. It used to refresh some releases back. Now, you have to click the job again to collapse the log and expand it agai

[2022-07-03 10:12] sahar10501 commented on #14066
I was surprised aswell to see that airbyte itself doesnt take care of the duplicates.
https://docs.airbyte.com/understanding-airbyte/connections/incremental-deduped-history#known-limitations
You can see it mentioned in the last paragraph.
I would advice to factor out the deduplications from the generated dbt sql scripts.. or just write your own

[2022-07-03 10:25] jorinvo commented on #14066
Thank you for the link @sahar10501! I am closing this issue now since it's not a bug. Sorry for my confusion.

Guess we will try to implement our own dedup some day then. Or we stick to full refresh for the time being. Thank you all!

[2022-07-03 10:25] #14066 closed

[2022-07-03 12:45] sanjaybobble opened #14378 "Airbyte scaling issue"
Basically, I have an on-premise machine with 256 Cores CPU and 1 TB RAM and would like to pull the s3 parquet file by Airbyte and records would like to store in click house.

My Parquet file size is 450 MB once start syncing it will take around 2 hours and 45 Minutes and after that give connector errors.
I used the below worker settings

[code]

All CPUs and memory are allocated to Airbyte default

[2022-07-03 17:15] andriikorotkov commented on #14345
@grishick - @edgao  wrote to me and said that he had already created a task on this problem. Here is a link to it - https://github.com/airbytehq/airbyte/issues/14196.

[2022-07-03 17:25] andriikorotkov commented on #14345
@grishick I don't think it works quite like that. When we save a specification in an old version and then change the version to a new version - the connector will use the old version of the specification until we update it and save it. The same will happen when we do the opposite - in the new version we save the specification, and then switch to the old version and do not save the specification. T

[2022-07-03 23:06] sw-yx commented on #10930
i'm at Airbyte now and would be interested in shepherding at least a SQLite destination connector first through if you are willing to work on it

[2022-07-04 05:24] jgrinaveckis commented on #13838
Yes, your explanation is on point. Correctness is not impacted, but every sync shows that tables merged x rows even though I know/see that no new/updated entries are in source tables.

[2022-07-04 05:55] suhomud commented on #13529
Tests were fixed as a side effect:
<img width="864" alt="Screenshot 2022-07-04 at 12 54 17" src="https://user-images.githubusercontent.com/5124694/177089971-68873c6c-0fda-4609-a8a6-e5488aef1318.png">

[2022-07-04 05:55] #13529 closed

[2022-07-04 06:53] suhomud commented on #13543
Tests were fixed as a side effect:
<img width="857" alt="Screenshot 2022-07-04 at 13 53 24" src="https://user-images.githubusercontent.com/5124694/177098196-01bc19ae-3757-41c6-940e-e2da2c4845c4.png">

[2022-07-04 06:54] #13543 closed

[2022-07-04 07:08] suhomud commented on #13536
Tests were fixed as a side effect:
<img width="862" alt="Screenshot 2022-07-04 at 14 08 20" src="https://user-images.githubusercontent.com/5124694/177100558-099071c6-3148-43c9-b669-6c7e769b2f9f.png">

[2022-07-04 07:17] suhomud commented on #13537
Tests were fixed as a side effect
<img width="868" alt="Screenshot 2022-07-04 at 14 17 22" src="https://user-images.githubusercontent.com/5124694/177101974-3593e98d-b6a5-425e-9da4-ee31019ba235.png">

[2022-07-04 07:18] #13537 closed

[2022-07-04 07:29] rohitkhatri opened #14381 "Zoho CRM connector is not syncing data"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: MacOS Monterey (12.3 - 21E230)
- **Deployment**: Docker
- **Source Connector and version**: Zoho CRM latest
- **Destination Connector and version**: MongoDB latest
- **Step where error happened**: Sync job

## Current Behavior
Info: I used Sandbox of Zoho Enterprise account
After setting up the connector fo

[2022-07-04 07:58] alafanechere commented on #14343
Hey @skwaugh I think the problem you raised was fixed by https://github.com/airbytehq/airbyte/pull/12836 . Could you please upgrade Airbyte to its latest version (or at least to 0.39.18) and check if you have the same TEXT to VARCHAR behavior?

[2022-07-04 08:52] stockymcstockface commented on #14292
Looks like that fixed it.
Thanks !

[2022-07-04 08:52] #14292 closed

[2022-07-04 08:54] harshithmullapudi commented on #14246
Could be possible that this is because of the large number of collections? Could you help us more information on
1. How many collections are there?
2. Also if you can open network tab and check the error and share the logs here?

[2022-07-04 08:54] m-ronchi opened #14384 "Google Ads: deprecated API"
## Environment
- **Airbyte version**:  -
- **OS Version / Instance**: -
- **Deployment**: -
- **Source Connector and version**: Google Ads 0.1.42
- **Destination Connector and version**: -
- **Step where error happened**: Google Alert email

## Current Behavior
I received an alert email from google saying that API v9 is deprecated and will stop working from **13 July 2022**

## Expected Behavior
A

[2022-07-04 08:56] harshithmullapudi commented on #14287
Hi, by default Airbyte sync will timeout after 3 days. You can tune this according to your need with the SYNC_JOB_MAX_TIMEOUT_DAYS environment variable mapped to the worker and scheduler pods.

[2022-07-04 08:57] alafanechere opened #14385 "🐛 source-outreach: cursor field is not properly defined"
The `cursor_field` for `IncrementalOutreachStream` is defined as `attributes/properties/updatedAt`.
This field does not exist in the schema and should be `updatedAt` instead.

An example of an error can be found [here](https://discuss.airbyte.io/t/normalization-process-wasnt-successful-for-the-outreach-source-and-snowflake-destinatoin/1700)

[2022-07-04 09:14] harshithmullapudi commented on #13714
Hey I think this is duplicate of https://github.com/airbytehq/airbyte/issues/11772

[2022-07-04 09:14] #13714 closed

[2022-07-04 09:16] harshithmullapudi commented on #13684
Great. @gfeldman let us know if any help is needed here.

[2022-07-04 09:26] harshithmullapudi commented on #13379
Hey Looks like this is solved in https://github.com/airbytehq/airbyte/pull/14214

[2022-07-04 09:26] #13379 closed

[2022-07-04 10:21] #14348 closed

[2022-07-04 11:57] sashaNeshcheret opened #14389 "Snowflake destination: $.access_token and $.refresh_token are missing but it is required"
## Environment
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: any
- **Destination Connector and version**: snowflake-0.4.30
- **Step where error happened**: Sync job

## Current Behavior
Following error appears: $.access_token: is missing but it is required, $.refresh_token: is missing but it is required, $.auth_type: must be a constant value OAut

[2022-07-04 12:39] coadan opened #14390 "Source Hubspot: `deals` stream doesn`t sync associations when sync mode is Incremental + Dedupe"
## Environment
- **Airbyte version**: 0.39.29-alpha
- **Deployment**: Kubernetes
- **Source Connector and version**: HubSpot 0.1.72
- **Destination Connector and version**: Postgres 0.4.28
- **Normalization**: No normalization used, only emitting JSON documents to the destination.

## Current Behavior
The current behavior is that when Incremental + Dedupe sync mode is enabled for the Deals stream

[2022-07-04 12:40] #13778 closed

[2022-07-04 12:40] #12927 closed

[2022-07-04 13:25] marcosmarxm commented on #13601
Thanks for reporting this @cope the issue was added to connector roadmap for future implementation.

[2022-07-04 13:27] marcosmarxm commented on #13734
**Workaround rollback Redshift to version 0.2.28**

[2022-07-04 13:36] cope commented on #13602
Can you please update us here when issue completed? :)

[2022-07-04 13:48] darian-heede opened #14391 "Facebook Marketing: expand `time_increment` config, add `date_preset` config"
## Tell us about the problem you're trying to solve
When fetching reach data, we oftentimes want monthly aggregations (calendar month) or even lifetime aggregations over campaigns or ads for example. With the current implementation of `time_increment` this is not possible. The insights API does [allow for such specifications though](https://developers.facebook.com/docs/marketing-api/insights/param

[2022-07-04 13:54] #8127 closed

[2022-07-04 13:54] davydov-d commented on #8127
All tests pass: 3 unit tests and 24 SATs

[2022-07-04 14:29] suhomud commented on #13544
Opened by mistake. Closing this issue

[2022-07-04 14:44] #14385 closed

[2022-07-04 15:19] skwaugh commented on #14343
I do.  willl attach logs in subsequent column.  Thank you. The incoming data has always been in excess of 256 characters.

Postgres types `varchar` and `text` [are equivalent](https://www.postgresql.org/docs/current/datatype-character.html) so long as a max value is not explicitly assigned, as in `varchar(64)`.  That is, the compiler does not differentiate between them.

Airbyte - or, perhaps dbt

[2022-07-04 15:39] skwaugh commented on #14343
**Last Succesful Sync** - 6/15/2022 10:13am
`6.58 MB | 390 emitted records | 390 committed records | 1m 52s | Sync`
Airbyte v0.39.1a
destination-postgres v0.3.20
[Airbyte v0.39.1a | destination-postgres v0.3.20 | logs-17770.txt](https://github.com/airbytehq/airbyte/files/9040695/Airbyte.v0.39.1a.destination-postgres.v0.3.20.logs-17770.txt)

**First Failed Sync** 6/15/2022 10:37am
`NaN Bytes | no r

[2022-07-04 17:09] skwaugh commented on #14343
Actually, the first time the sync failed was when I upgraded to `v0.39.18a`.  Thanks for the link to the dbt issue.  That looks like it definitely has something to do with it.

`_airbyte_airbyte._vow__listings_condos_properties_ab2.publicremarks = varchar`
`_airbyte_airbyte._vow__listings_condos_properties_stg.publicremarks = text`
`airbyte._vow__listings_condos_properties.publicremarks = varchar`

[2022-07-04 18:55] marcosmarxm commented on #13601
absolutely

[2022-07-04 19:17] marcosmarxm commented on #13660
Thanks for suggesting this @joshzana I added this to connector team backlog

[2022-07-04 19:48] marcosmarxm commented on #13704
Thanks @mickaelandrieu submitted a fix in #14401

[2022-07-04 20:05] marcosmarxm commented on #14390
Thanks for reporting this @coadan.

I was able to reproduce issue using integration account. Left using full refresh, right using incremental + dedup
![image](https://user-images.githubusercontent.com/5154322/177211792-a5394da1-e2f9-4efe-a0bd-696cabebf118.png)

[2022-07-04 21:37] #14375 closed

[2022-07-04 22:17] #14306 closed

[2022-07-04 22:20] pedroslopez commented on #10598
Hi @dahadaller - you should be able to set this by changing the `WEBAPP_URL` environment variable to your public URL.

[2022-07-04 23:25] wallies commented on #7554
Retested on 0.39.27 and it works but normalization fails. Below is error log. The other thing that does not appear to work is property history for custom fields. We can only see hubspot fields. We get the custom fields in the contacts stream but not the history tracking.

[code]

[2022-07-05 02:10] khoatrandata commented on #13266
The Amplitude API still sends corrupted timestamps for the period of 2022-05-27, so if your connector is incremental sync then those errors will appear again.

[2022-07-05 04:23] harshithmullapudi commented on #13941
Hey @igrankova can you help us creating a sandbox account here?

[2022-07-05 04:24] harshithmullapudi commented on #14336
duplicate #14337

[2022-07-05 04:24] #14336 closed

[2022-07-05 04:24] harshithmullapudi commented on #14337
@igrankova could you help us here?

[2022-07-05 07:55] marcosmarxm commented on #5942
*Comment made from Zendesk by Marcos Marx on 2022-07-05 at 07:55:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Oh wow ! Thanks Marcos for your answers and sorry for not answering sooner, I see that the PR has been merged, that was fast <img src="https://emoji.discourse-cdn.com/twitter/slight_smile.png?v=12" title=":slight_smile:" alt=":slight_smile:" width="20" height="20"> I wil

[2022-07-05 08:45] VitaliiMaltsev commented on #14042
i can confirm that upgrade from 0.4.18 to 0.4.19 is not safe, but upgrade from 0.4.18 to 0.4.29 and 0.4.30(latest) is safe and works without errors during sync

[2022-07-05 09:21] TamGB commented on #14248
Hi @harshithmullapudi ,
Any chance we can get some additional information? Is it a priority, does it fit in any timeline (Q3, Q4) etc? :)

No pressure, just to align expectations!

[2022-07-05 09:53] vaibhavpals opened #14404 "Support multiple columns for cursor in Incremental Load"
## Environment
- **Airbyte version**:  0.39.32-alpha
- **OS Version / Instance**: Ubuntu 22 AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: All RDBMS Source connectors (Oracle DB 0.3.17)
- **Destination Connector and version**: Any Destination (Redshift 0.3.46)
- **Step where error happened**:  Sync job

## Current Behavior
Only able to select one column for cursor. This cause

[2022-07-05 10:28] benmoriceau commented on #11605
Hello @YiyangLi,
In order for me to answer to you as best as possible. What is the context of your questions?

We are currently support the token authentication in airbyte using token. We are trying to add a deployment that embed a vault in order to improve the secret management for our open source user that are not using their own secret manager.
The issue we ran into when considering the agent i

[2022-07-05 10:38] persunde commented on #2390
I want to add that this feature would be quite useful for Postgres or similar DB sources and/or destinations.
I have values in a Postgres JSONB column I want to export to multiple columns, but it is a lot more tricky to do as I can not tell Airbyte to cast the values, it considers all the values as a string, when most of them is in fact a number.

So I have to setup a view on the source where thes

[2022-07-05 11:23] TamGB opened #14405 "Microsoft Dynamics Business Central"
## Tell us about the new connector you’d like to have
Ability to extract Microsoft Dynamics Business Central data. Unfortunately, unlike other Microsoft Dynamics product, its information is only available via REST API, with the associated MSSQL database being hidden.

## Describe the context around this new connector

Microsoft Dynamics Business Central can contain a multitude of projects includin

[2022-07-05 11:35] marcosmarxm commented on #14404
Thanks for requesting this @vaibhavpals the issue is a duplicate of https://github.com/airbytehq/airbyte/issues/3737. I'll close this in favor of older one. Feel free to comment in the original issue.

[2022-07-05 11:35] #14404 closed

[2022-07-05 11:37] marcosmarxm commented on #14372
Thanks for reporting this @tunguyen-12 let me know if you need any assistance to implement the PR.

[2022-07-05 11:50] juferafo commented on #13643
Hello. I am also facing this issue. Are there any news on this topic?

Thanks!

[2022-07-05 12:25] marcosmarxm commented on #11595
Another complain in Discourse: https://airbyte7538.zendesk.com/agent/tickets/1459

And from other Intercom issue in github https://github.com/airbytehq/airbyte/issues/12506 looks contact took 15h to finished, in this case the stream has the majority of data (1mm records)
[code]

[2022-07-05 12:26] marcosmarxm commented on #11595
Zendesk ticket #[1459](https://airbyte7538.zendesk.com/agent/tickets/1459) has been linked to this issue.

[2022-07-05 12:28] marcosmarxm commented on #11595
*Comment made from Zendesk by Marcos Marx on 2022-07-05 at 12:28:*

<blockquote><div class="zd-comment" dir="auto">Hello Alelxis, there is one issue in Github <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/11595">https://github.com/airbytehq/airbyte/issues/11595</a> about improving Intercom speed. I saw the code implementation and this stream doesn't have any specia

[2022-07-05 12:32] marcosmarxm opened #14407 "How to run BigQuery without Service Account Key JSON on GCE or CKE?"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1446](https://airbyte7538.zendesk.com/agent/tickets/1446)
**Priority:** normal
**Group:** User Success Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I do not want to operate with Service Account Key JSON.</p>
<p dir="auto">Recently, authentication u

[2022-07-05 12:32] marcosmarxm commented on #14407
*Comment made from Zendesk by Marcos Marx on 2022-07-04 at 13:18:*

<blockquote><div class="zd-comment" dir="auto">Could you share links to Google documentation saying these are the recommended way to authenticate?<br></div></blockquote>

[2022-07-05 12:32] marcosmarxm commented on #14407
*Comment made from Zendesk by Marcos Marx on 2022-07-05 at 00:20:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a><br>
Of course.<br>
First, the best practices document for application certification is below.</p><div style="border: 5px solid #e9e9e9; margin-bot

[2022-07-05 12:33] marcosmarxm commented on #14407
*Comment made from Zendesk by Marcos Marx on 2022-07-05 at 12:33:*

<blockquote><div class="zd-comment" dir="auto">Hello Nakachi, there isn't a plan to migrate from service account to other auth system yet. I created the Github issue <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/14407">https://github.com/airbytehq/airbyte/issues/14407</a> and added to connector tea

[2022-07-05 12:41] davydov-d commented on #9419
@marcosmarxm I'm closing this issue as the solution to it is refreshing the schema

[2022-07-05 12:43] grubberr opened #14408 "🎉 Source Github: re-implement `Reactions` streams using GraphQL API"
# Problem
Source GitHub `Reactions` streams are still not very fast because they nested and require a lot of HTTP requests
to sync all data.

For example to sync stream: `pull_request_comment_reactions` we need to iterate over comments
and for every comment make separate HTTP request to get a list of reaction for specific comment.
It requires a lot of HTTP requests - it's slow

# Solution
One solu

[2022-07-05 12:50] #14347 closed

[2022-07-05 12:52] bazarnov commented on #12506
@ayyoubmaulana
I can see from issue description you're using not latest version of `Platform` as well as `Source Intercom`, could you try to update both? As far as Platform update will provide updated `normalization` functionality.

[2022-07-05 13:04] alafanechere commented on #14373
This is a current limitation on the Airbyte back-end side: there is no uniqueness guarantee on resource names. I'd still prefer to enforce the unique resource names on the octavia side.

From my perspective the `import` should be run only once on a workspace and is not made to import the same resource from different workspace. E.G: You import your source from a workspace once, and then you can app

[2022-07-05 13:24] bigdatawonders commented on #13643
I cannot create and test new connectors meanwhile, when I do test I get depreciated version error... Old connectors are working fine.

[2022-07-05 13:38] alexandertsukanov commented on #4184
@tuliren Just a couple of questions:

1. Are we OK with `{ }` placeholders? Or we should better to consider `${ }` ?
2. Should the UI have some validation on client side? In case, user will try to input some placeholder we don't support? e.g. `{region}`

[2022-07-05 13:45] etsybaev opened #14411 "Source-mssql: CDC migration - hierarchyid and sql_variant are not processed (not supported by debezium)"
This is a follow-up ticket of this PR https://github.com/airbytehq/airbyte/pull/14379

Currently "hierarchyid" and "sql_variant" types are not processed for CDC migration.
Unfortunately, those are not supported by debezium (https://debezium.io/documentation/reference/stable/connectors/sqlserver.html).

Investigate, if we can add our own implementation to extend debezium connector

[2022-07-05 13:59] #14089 closed

[2022-07-05 14:04] Phlair commented on #13335
I have a branch that's 80-90% there for java sentry removal so I'll just finish that off and PR it up

[2022-07-05 15:31] tuliren opened #14416 "Cannot login into salesforces test account (not a sandbox)"
## Environment
- **Airbyte version**: latest cloud
- **Deployment**: cloud
- **Source Connector and version**: Salesforce `1.0.10`
- **Step where error happened**: Setup new connection

## Current Behavior
- Start with a Salesforce test account.
  - Pre-configured with read-only data.
  - It is not a a sandbox account.
- Without sandbox selected
  - Create a new Salesforce connector.
  - Click the

[2022-07-05 15:40] tuliren opened #14417 "Object filtering when creating a salesforce source has confusing UI"
## Environment
- **Airbyte version**: latest cloud
- **OS Version / Instance**: cloud
- **Deployment**: cloud
- **Source Connector and version**: salesforce `1.0.10`
- **Step where error happened**: Setup new connection

## Current Behavior
- Create a new salesforce connector.
- Add an object filtering criteria:
<img width="688" alt="Screen Shot 2022-07-05 at 08 31 58" src="https://user-images.git

[2022-07-05 15:45] timroes commented on #14417
Duplicate of https://github.com/airbytehq/airbyte/issues/10858

[2022-07-05 15:45] #14417 closed

[2022-07-05 15:55] sophia-wiley commented on #14366
Doesn't need to be documented -- for internal documents only.

[2022-07-05 15:55] sophia-wiley commented on #14366
Doesn't need to be documented -- for internal documents only.

[2022-07-05 15:55] #14366 closed

[2022-07-05 15:55] sophia-wiley commented on #14366
Doesn't need to be documented -- for internal documents only.

[2022-07-05 15:55] sophia-wiley commented on #14366
Doesn't need to be documented -- for internal documents only.

[2022-07-05 16:02] SophieLohezic commented on #10548
Thank you so much @DoNotPanicUA, it worked !!! 🎉🙏

[2022-07-05 16:05] timroes commented on #14377
Duplicate of https://github.com/airbytehq/airbyte/issues/14244 and will be fixed via https://github.com/airbytehq/airbyte/pull/14341

[2022-07-05 16:05] #14377 closed

[2022-07-05 16:07] blarghmatey commented on #14028
I'm wondering if there has been any progress on this issue yet? We are currently using the S3 destination to populate our data lake environment with Parquet files and this is preventing us from being able to execute queries on any tables that contain a datetime value.

[2022-07-05 16:35] marcosmarxm commented on #4035
You can achieve this using Octavia CLI but not using default Airbyte WebApp. Definitely a good idea!

[2022-07-05 16:45] marcosmarxm commented on #14384
Thanks for reporting this @m-ronchi I added this as high priority in connector team backlog

[2022-07-05 16:57] marcosmarxm commented on #14339
Were you able to reproduce the issue with integration account?

[2022-07-05 16:59] #12455 closed

[2022-07-05 17:13] grishick commented on #10782
First step: let's try to reproduce the exact scenario for this problem

[2022-07-05 17:19] girarda commented on #14361
grooming notes:
* need to ensure we're not leading devs in the wrong path with stream slicer examples

[2022-07-05 17:25] grishick commented on #12821
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/12821?planning-poker) with ZenHub @subodh1810 @tuliren @edgao

[2022-07-05 17:26] marcosmarxm commented on #14036
Closed by #14037

[2022-07-05 17:31] alafanechere opened #14422 "octavia-cli: add `--force` flag to `import all`"
We want to enable users to force overwriting local existing config when they run `octavia import all`, so that they are not prompted for the validation of the overwrite.

e.g:
`octavia import all --force`

[2022-07-05 17:32] marcosmarxm commented on #6942
@Boopathy-Raja could you test with latest version of Airbyte?

[2022-07-05 17:33] alafanechere opened #14423 "octavia-cli: create subcommands like `octavia import all sources`"
The existing `octavia import all` command will import all type of resources.
We could allow users to only `import all` a specific type of resource.

* `octavia import all sources`
* `octavia import all destinations`
* `octavia import all connections`

[2022-07-05 17:33] grishick commented on #8902
We cannot fix this until we have a better solution for sources to convey specific types to destinations and normalization

[2022-07-05 17:33] girarda commented on #14305
grooming notes:
* need to make sure we have an easy way to assess the params set on a request

* we can make this more declarative:
[code]

[2022-07-05 17:33] marcosmarxm commented on #7536
@walkabout21 could you try with latest version of Airbyte?

[2022-07-05 17:34] marcosmarxm commented on #7536
Closed by #11204

[2022-07-05 17:34] #7536 closed

[2022-07-05 17:40] grishick commented on #12962
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/12962?planning-poker) with ZenHub @tuliren @edgao @subodh1810 @ryankfu

[2022-07-05 17:42] misteryeo commented on #14384
Thanks for reporting, we'll prioritize to address this before the deprecation date. Confirmed the date here: https://ads-developers.googleblog.com/2022/06/google-ads-api-v9-sunset-reminder.html

[2022-07-05 17:48] marcosmarxm commented on #8627
@darian-heede thanks for requesting this. Probably this will impact the Abstract JDBC and this is the reason why is more complicated compared to normalization one.

[2022-07-05 17:49] grishick commented on #13908
Step 1: please try to reproduce this error. Possible repro scenario: run a long sync and kill the destination before the job succeeds.

[2022-07-05 17:52] marcosmarxm commented on #9267
I'm not closing this because is different from Octavia CLI.

[2022-07-05 17:54] grishick commented on #3775
We have not seen this happen yet, but we should update the documentation to reflect this.

[2022-07-05 18:00] grishick commented on #10976
This is currently the correct behavior. In MySQL TINYINT(1) is meant to represent boolean values.

[2022-07-05 18:00] #10976 closed

[2022-07-05 18:14] jdpgrailsdev commented on #14067
After discussion with the team, the plan of attack will be as follows:

* Create a new POJO that contains the same type field as `AirbyteMessage` and allows all other properties (e.g. `additionalProperties: true`
* On failure to deserialize an `AirbyteMessage` in the [IntegrationRunner](https://github.com/airbytehq/airbyte/blob/7f982128b0e380dd1aba311042a29f16b63a3630/airbyte-integrations/bases/ba

[2022-07-05 18:18] davinchia commented on #14067
thanks jonathan!

for my understanding - the new POJO is so we can set additionalProperties = true, clarify the type and only fail-fast on state messages?

[2022-07-05 18:30] davinchia commented on #4233
This is done. We've gotten this down to 4 - 5 seconds overhead in general including creating pods & code execution.

[2022-07-05 18:30] #4233 closed

[2022-07-05 18:30] lmossman commented on #14043
If going with the Micronaut approach, we probably want to create a new service (i.e. new kube pod) so that this ticket does not also include the work to convert an existing service into Micronaut

[2022-07-05 18:31] davinchia commented on #13452
We no longer quarantine jobs as of https://github.com/airbytehq/airbyte/pull/13779.

[2022-07-05 18:31] #13452 closed

[2022-07-05 18:32] davinchia commented on #5167
No longer applies.

[2022-07-05 18:32] #5167 closed

[2022-07-05 18:33] davinchia commented on #4147
@timroes I think this is out of date and we can close this. Thoughts?

[2022-07-05 18:33] #4147 closed

[2022-07-05 18:34] davinchia commented on #2963
Old and not relevant anymore.

[2022-07-05 18:34] #2963 closed

[2022-07-05 18:35] xiaohansong commented on #12338
Hello @chetangehlot!

The feature is now available - please see https://docs.airbyte.com/operator-guides/collecting-metrics/ for how to enable open telemetry on airbyte. Thanks for your request!

[2022-07-05 18:35] #12338 closed

[2022-07-05 18:43] davinchia commented on #474
@jdpgrailsdev I believe this is already done?

[2022-07-05 18:44] davinchia commented on #621
Work to split out builds were done here:
* https://github.com/airbytehq/airbyte/pull/11064
* https://github.com/airbytehq/airbyte/pull/11148
* https://github.com/airbytehq/airbyte/pull/11188

[2022-07-05 18:47] davinchia commented on #621
@cgardens @sherifnada since most of the initial suggestions in the issue have been implemented, I'm thinking we can close this issue and open up more targeted follow up issues when needed. Thoughts?

[2022-07-05 18:48] davinchia commented on #5838
@supertopher @git-phu is this already done? or do we have stuff left here?

[2022-07-05 18:50] xiaohansong commented on #12910
Didn't find any other tickets besides https://github.com/airbytehq/airbyte/issues/12338

I think we could close out the ticket. What's left in this topic is just an announcement for the feature.

[2022-07-05 18:50] #12910 closed

[2022-07-05 18:51] marcosmarxm commented on #12762
Closed by #13650

[2022-07-05 18:51] #12762 closed

[2022-07-05 18:52] subodh1810 opened #14425 "Upgrade debezium version for MySQL source"
We need to upgrade debezium version to 1.9.2 for mysql connector

[2022-07-05 19:10] jdpgrailsdev commented on #474
@davinchia Not entirely, if I understand the ask in this ticket.  The OSS code base does have the JaCoCo code coverage plugin applied to all projects and does generate coverage reports.  It does not currently put a badge on the pull request to show the level of coverage.  It does have the configuration to fail a build if a level of coverage is not met for any module, but that is a soft failure cur

[2022-07-05 19:13] marcosmarxm commented on #9865
[code]
The `July 2021 ` has a additional space at the end of the sheet name maybe this is causing the issue.

[2022-07-05 19:21] brianjlai commented on #12997
notes from grooming:
- in the future add examples of what the config would look like
- General consensus is it can be included as a part of the DatetimeStreamSlicer as a field

Potential Config Options:
DatetimeStreamSlicer
[code]

-- or --

MinMaxDatetime:
[code]

[2022-07-05 19:37] xiaohansong opened #14427 "Error rate improvement on airbyte server - correctly classify 4xx vs 5xx errors"
The error rate on the following APIs are a slightly higher than desired, from datadog monitoring page:

[code]

A closer look on the traces suggested some of them might not come from a server error. For example:

- `/v1/source_oauths/complete_oauth` failed because `java.io.IOException: Undefined 'code' from consent redirected url.` (failed oauth?)
- `/v1/web_backend/connections/get` failed because

[2022-07-05 19:41] marcosmarxm commented on #7554
@wallies please post complete log file. The snippet you pasted doens't give the cause of failure.

[2022-07-05 20:58] grishick commented on #7132
our JDBC connector already fetches records in batches according to `AdaptiveStreamingQueryConfig.currentFetchSize` - would it make sense to checkpoint after the connector fetches `currentFetchSize` records? Not sure where we would do that, but seems like it could be in `tryAdvance`

[2022-07-05 21:07] grishick opened #14429 "Source Microsoft SQL to Beta"

[2022-07-05 21:55] misteryeo commented on #13827
Checking in here @jtalmi are you still working on the PR for this? Can you make sure to link the PR so it can auto-close when we the PR is deployed?

[2022-07-05 21:59] misteryeo opened #14430 "Source Greenhouse: Support 'Offices' stream"
https://developers.greenhouse.io/harvest.html#offices

[2022-07-05 22:00] mickaelandrieu commented on #13704
Thanks !

[2022-07-05 22:23] tuliren commented on #14028
This issue is very strange in that:
- If the `date` from Google Analytics is defined as a logical `date` type, the Parquet schema should interpret it as an integer field representing epoch days ([doc](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#date)).
- If the `date` is not defined as a logical type, in Parquet schema it should be string.

The current `{ member0: string,

[2022-07-05 22:34] misteryeo opened #14431 "Source Greenhouse: Support 'Activity Feed' stream"
https://developers.greenhouse.io/harvest.html#activity-feed

[2022-07-05 22:43] #14430 closed

[2022-07-05 22:43] #14431 closed

[2022-07-05 23:18] marcosmarxm commented on #14156
Hope this issue is fix during the transition: https://github.com/airbytehq/airbyte/issues/7296

[2022-07-05 23:22] tuliren commented on #6985
A similar implementation for Postgres: https://github.com/airbytehq/airbyte/pull/13840

[2022-07-05 23:38] grishick commented on #13524
As far as I can see integration tests for Clickhouse Destination are not working on Mac and looks like they are not always working on Linux. They are working on CI though.

Link to CI run on master:  https://github.com/airbytehq/airbyte/actions/runs/2619259149 (all tests pass)

Attaching integration test report on Linux from @[mzitnik](https://github.com/mzitnik): [integrationTestJava.tar.gz](http

[2022-07-06 00:07] grishick commented on #13537
works on my M1 Mac as well 🎉

[2022-07-06 00:07] marcosmarxm commented on #14407
*Comment made from Zendesk by Marcos Marx on 2022-07-06 at 00:07:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hello marcosmarxm.<br>
Thanks for your reply and for the issue.<br>
I am eagerly awaiting it.</p>

 [<a href="https://discuss.airbyte.io/t/how-to-run-bigquery-without-service-account-key-json-on-gce-or-gke/1709/5" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-07-06 00:30] danieldiamond commented on #14373
I like everything your saying unfortunately im referring to two resources with the same name.

As an example, migrating a database with many large tables, there are many reasons why you would split this up into multiple source connectors e.g. to avoid resetting all tables when updating connection

Similarly, two source connectors to the same 3rd party application e.g. GitHub - i want want source c

[2022-07-06 00:41] khoatrandata commented on #13266
How can I reopen this issue? My Incremental Deduped History sync job with Amplitude source fails because there is corrupted data from 2022-05-27 to 2022-06-03 from the source API, the cursor is at 2022-05-26. I can't find a way to fix this

[2022-07-06 00:44] grishick commented on #14042
@VitaliiMaltsev thank you for confirming!

[2022-07-06 00:59] wallies commented on #7554
attached log. Removed somethings that could be sensitive and the retries

[2022-07-06 01:12] grishick commented on #13536
[destination-pulsar-test-report.zip](https://github.com/airbytehq/airbyte/files/9050617/destination-pulsar-test-report.zip)

I ran
`./gradlew :airbyte-integrations:connectors:destination-pulsar:integrationTestJava`
on my M1 Mac and the result is
`65 tests completed, 16 failed, 1 skipped`
compressed test results are attached

[2022-07-06 01:45] grishick commented on #13539
I ran
`./gradlew :airbyte-integrations:connectors:source-clickhouse:integrationTestJava`
on my M1 Mac
and go this result:
`44 tests completed, 17 failed, 1 skipped

FAILURE: Build failed with an exception.`

test results are attached
[source-clicklhouse-test-results.zip](https://github.com/airbytehq/airbyte/files/9050785/source-clicklhouse-test-results.zip)

[2022-07-06 02:01] gosusnp opened #14435 "Provide a helper functions to convert objects between WebBackend and the Regular API"
## Tell us about the problem you're trying to solve

WebBackend objects are wrapped version of the API objects. Due to the nature of the generated client code, we have to manually convert one object to another. Given the number of attributes, it is pretty easy/likely to miss one and it can be hard to catch.

## Describe the solution you’d like
It would be nice to have some centralized helper funct

[2022-07-06 02:03] sherifnada commented on #12118
Calling this one done as the bulk of the work is completed

[2022-07-06 02:03] #12118 closed

[2022-07-06 04:02] harshithmullapudi opened #14436 "New source: Appfollow support CI credentials"
Need sandbox credentials for https://github.com/airbytehq/airbyte/pull/14418

[2022-07-06 07:04] khoatrandata commented on #13266
Hi, @toandm how do you stop the source from fetching corrupted data from 2022-05-27 to 2022-06-03 from Amplitude?

[2022-07-06 07:54] Phlair opened #14439 "Recreate source-s3 with new abstract files template from cdk"
Follow on from https://github.com/airbytehq/airbyte/pull/14410

Effectively proving the concept of the `files` addition to the cdk and new generator for `files` source connector, this issue is to remake source-s3 using the new changes.

Must ensure no regression.

[2022-07-06 08:13] thisisile commented on #10976
@grishick @tuliren Thank you for your responses.

You are indeed correct.
However,
While all Booleans get converted to `TINYINT(1)` of 1s and 0s, **NOT ALL** `TINYINT(1)` can be represented as `Boolean`, as this will impact data quality.

Furthermore, if data is stored as integers in the MySQL Db, why do we convert this back into Bool ? "A core tenet of ELT philosophy is that data should be untouc

[2022-07-06 08:28] #14378 closed

[2022-07-06 08:30] alafanechere commented on #14115
Hey @AlexandrBeitsiuk please reach our community support team on our [forum](https://discuss.airbyte.io/) if you still encounter this problem after upgrading to the latest Airbyte version.

[2022-07-06 08:35] alafanechere commented on #13406
Hey @knugusbayevps , please upgrade Airbyte to its latest version. If the error is still happening, feel free to reach our community support team on our [forum](https://discuss.airbyte.io/).

[2022-07-06 08:35] #13406 closed

[2022-07-06 08:39] bazarnov commented on #13266
@khoatrandata
Does this help? https://github.com/airbytehq/airbyte/issues/13266#issuecomment-1149684808

[2022-07-06 08:53] OhnoOhnoOhnononononoo commented on #13643
Same problem here, I can't test my new connection.

[2022-07-06 09:03] DoNotPanicUA opened #14440 "[Investigation] Inspect all possible scenarios for BigQuery Denormalized users after upgrade to #14023"
The current BigQuery Denormalized destination implementation replaces all incoming arrays to a record with one array field. This feature avoids the BigQuery limitation of nested arrays and gives a possibility to store an array of arrays.
The downside of this solution is an unnecessary replacement of a single array.

Customers requested to keep the incoming schema as close as possible to the origin

[2022-07-06 09:59] #9603 closed

[2022-07-06 10:14] validumitru opened #14441 "Destination Redshift: normalization result too long for type varchar"
## Environment
- **Airbyte version**:  0.39.32-alpha
- **OS Version / Instance**: Ubuntu 18.04 AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Zendesk Support connector 0.2.12
- **Step where error happened**: Sync job

## Current Behavior
Normalization of tickets sync into Redshift is failing with the error:

[code]

It looks like it's probably the description field in the tic

[2022-07-06 10:28] #13089 closed

[2022-07-06 11:54] #13649 closed

[2022-07-06 12:22] serhio7 opened #14446 "Source Google Ads: not able to use custom queries GAQL don’t allow segments.date parameter"
## Environment
- **Airbyte version**:  is 0.39.1-alpha
- **OS Version / Instance**: macOS,
- **Deployment**: Docker
- **Source Connector and version**: Google AdsBETA 0.1.38
- **Step where error happened**: Sync job

## Current Behavior
*Got error when run sync job on custom GAQL .*

## Expected Behavior
*Completed sync job.*

## Logs
Cannot select or filter on the following segments: \'segments.d

[2022-07-06 13:46] alafanechere opened #14448 "Unique name for Airbyte resources (sources, destinations, connections)"
## Tell us about the problem you're trying to solve
When creating a resource on the Airbyte console the resource default name is the connector name used.
If user create a second resource with the same connector they will have two resources with the same name.
This is confusing for users to find the exact resource they are looking for.
On the `octavia-cli` side this is causing a problem because we

[2022-07-06 13:47] octavia-squidington-iii commented on #14448
cc @airbytehq/frontend

[2022-07-06 13:48] alafanechere commented on #14373
Thank you for clarifying! I get the problem now. I'm on the side of waiting for an improvement on the platform side to force a unique resource name (I opened an issue [here](https://github.com/airbytehq/airbyte/issues/14448)). Users can still rename their resource on the console if they have an overwrite warning on `octavia import`

[2022-07-06 14:06] jdpgrailsdev commented on #14067
Correct.  It will basically be an object with one named field that matches the type field from `AirbyteMessage` and will ignore any other properties so that we can check to see if the deserialization failure is one of the "unrecoverable exceptions" called out above (state message deserialization failures).

[2022-07-06 14:17] grubberr opened #14450 "GitHub Actions - workflow `Connector Integration Tests` - jobs can fail AWS RequestLimitExceeded"
## Tell us about the problem you're trying to solve
Workflow: `Connector Integration Tests` - runs another workflow `integration-test` for all source and destination connectors. Because a lot of workflows are run for short period of time some workflow_runs failed with rate-limit from AWS.
For example for `destination-s3`:

[code]
You can see that 2 runs were FAILED because of amazon rate-limit.

#

[2022-07-06 14:33] pedroslopez opened #14453 "CDK: Only initialize uncaught exception handler when using AirbyteEntrypoint"
## Tell us about the problem you're trying to solve

Currently, the uncaught exception handler used to emit AirbyteTraceMessages for errors encountered in connectors is initialized by calling `init_uncaught_exception_handler()` [here](https://github.com/airbytehq/airbyte/blob/be2d1a865253de4e7aa65ffed1bbfa27bf6f8363/airbyte-cdk/python/airbyte_cdk/entrypoint.py#L23). Because of where it's called, i

[2022-07-06 14:40] #11859 closed

[2022-07-06 14:51] pedroslopez commented on #14361
Regarding the stream slicer examples, I would suggest keeping the generated content to basic components that are needed to build most connectors with just enough to get you started, and using docs to communicate the additional or more complex features that may not be required. It can be confusing when theres a lot of generated code with things that aren't going to be used, and could make things se

[2022-07-06 15:03] saifmahamood commented on #8473
I want to point out that this issue also exists in `stream board_issues`

[code]

[2022-07-06 15:18] ycherniaiev commented on #9684
@misteryeo Updated research  upon request is here

[2022-07-06 15:22] #9684 closed

[2022-07-06 16:43] grishick commented on #13208
Next steps:

- [ ] Move this back into backlog
- [ ] file an issue to log LSN diff
- [ ] file an issue to wait while Debezium is making a snapshot

Other options to consider: add this feature to Debezium

[2022-07-06 16:53] #11256 closed

[2022-07-06 16:58] grishick opened #14457 "Test and release per-stream state handling in Postgres Source"
Once platform is ready with per-stream state, we need to manually test

- [x] adding/removing tables to Postgres Source
- [x] connections created with older connector version of Postgres Source (current version in Cloud)
- [x] file any issues that we find

Context:
* Partial reset CDC postgres source acceptance tests: https://github.com/airbytehq/airbyte/pull/14551
* Calculate diff to reset stream

[2022-07-06 17:16] philippeboyd opened #14459 "[Source MSSQL] - SQL Server returned an incomplete response. The connection has been closed."
## Environment
- **Airbyte version**:  example is 0.39.32-alpha
- **OS Version / Instance**: GCP COS
- **Deployment**: Docker
- **Source Connector and version**: Microsoft SQL Server (MSSQL) (0.4.8)
- **Destination Connector and version**: Snowflake (0.4.30)
- **Step where error happened**: Sync

## Current Behavior
Sync crashes after loading 2GB of data, after about 5.6M-5.9M rows

## Expected Be

[2022-07-06 17:20] mariusz89016 opened #14460 "Updating streams on UI silently fails"
## Environment
- **Airbyte version**:  0.39.31-alpha (and verified locally on 0.39.34-alpha)
- **Deployment**: Kubernetes deploy
- **Step where error happened**: Updating streams on UI by clicking `Refresh source schema`

## Current Behavior
In webapp, on connection settings, on replication tab when clicking `Refresh source schema` it silently fails. Thrown exception is like this:
[code]
(example

[2022-07-06 18:22] blarghmatey commented on #14028
I've been doing some further debugging to narrow down the potential source of the issue. So far I have the following information:
- The data type that is confounding the writer is a timestamp with timezone in my source Postgres system
- The `_airbyte_emitted_at` column is properly represented in the resulting parquet file
- The Avro file type is able to properly encode the date-time with timezone

[2022-07-06 18:39] JCWahoo commented on #14246
This has been happening to me for quite some time, roughly 40 collections. Old Ruby connector doesnt have this issue

[2022-07-06 18:52] edgan commented on #7198
Just ran into this with a key generated by openssh 8.8p1's ssh-keygen. It would be nice if this was fixed.

[2022-07-06 19:32] marcosmarxm opened #14463 "Unable to launch airbyte using helm charts"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1373](https://airbyte7538.zendesk.com/agent/tickets/1373)
**Priority:** normal
**Group:** User Success Engineer
**Assignee:** Sajarin

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">Is this your first

[2022-07-06 20:08] andyjih commented on #12741
https://github.com/airbytehq/airbyte/pull/14188

[2022-07-06 20:46] gsmith-schlesinger commented on #12949
To add, this issue also occurs using the MSSQL connector to S3.

[2022-07-06 20:50] amitza opened #14468 "New Source: RabbitMQ"
## Tell us about the new connector you’d like to have
* Which source and which destination?
Source: [RabbitMQ](https://www.rabbitmq.com)
Destination: S3, RabbitMQ
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
Support AMQP 0-9-1

## Describe the context around this new connector
* Why do you need this integra

[2022-07-06 21:13] sophia-wiley commented on #14324
Met with Sales team and Amruta. Decided that we wanted to create a Workspace Best Practices section in the Managing Airbyte Cloud doc, as workspaces are what I discussed most with Sales and a Best Practices doc would be a more comprehensive project. We will decide if/when we are creating a Best Practices doc.

[2022-07-06 21:13] #14324 closed

[2022-07-06 21:54] benmoriceau opened #14472 "Bump and Publish all destinations"
Destinations can now support per-stream state, with the main change being that destinations now need to keep track of the latest state message they have received and committed per-stream.  Previously, destinations only needed to store the most recent state message in general, without knowing about the stream(s) involved.

We may need to re-publish all destinations to be sure that the shared base c

[2022-07-06 21:55] sophia-wiley opened #14473 "One Workspace vs. Multiple Workspaces"
- [x] Create a first draft of workspace best practices.
- [x] Get feedback/input from sales.
- [x] Revise based on feedback.
- [x] Ask Amruta to review.
- [x] Add to Managing Airbyte Cloud [doc](https://docs.airbyte.com/cloud/managing-airbyte-cloud/)

[2022-07-06 22:03] SAmser93 opened #14474 "Add support of keystores for Kafka destination/source"
## Tell us about the problem you're trying to solve
For now it's impossible to use Airbyte's Kafka Connectors with servers that are protected with SASL_SSL + SCRAM, since they require keystores or manipulations with cacerts to authorize. All workarounds are also impossible since limitations of the UI

## Describe the solution you’d like
I see two ways to improve this:
- Make DropBoxes «Protocol» a

[2022-07-06 22:22] gsmith-schlesinger commented on #12949
I believe this issue in in the base of airbyte. In `MSSQLConverter.java` there was a change a few months back that expanded the date type
from:
[code]
  to:
[code]
  And currently what's in there's code to handle `smallmoney`, but not `money`, or `numeric` column types.
[code]

  Should probably be updated and test with a change like with a set.
[code]
 The connector itself might need to be update

[2022-07-06 22:26] #13142 closed

[2022-07-06 22:26] #12362 closed

[2022-07-06 22:32] #13498 closed

[2022-07-06 22:46] edmundito opened #14478 "[Epic] UI component library cleanup"
This epic encompasses the most important work needed to improve the UI foundation in Q3.

- Provide a way for design to preview components (tbd: upload storybook into chromatic?)
- Update Buttons to match current design
- Update individual form controls to match current design
- Setup common text styles and heading sizes
- Standardize rounded corners
- Fix paddings so that they are using common pa

[2022-07-06 22:46] octavia-squidington-iii commented on #14478
cc @airbytehq/frontend

[2022-07-06 22:47] hbd commented on #11647
Agreed, best to prevent creation of the connection altogether if permissions are not available for the selected stream.

Alternatively, we could accept connection creation, then handle the streams for which permissions have not been met, and log that the stream is unavailable due to permission issues. This would allow at least the available streams to succeed.

[2022-07-06 23:34] grishick commented on #14196
@edgao would it make sense to address this connector by connector starting with GA and Beta connectors?

[2022-07-06 23:36] #13035 closed

[2022-07-06 23:41] stasrelevanceai commented on #8805
We also faced with this error yesterday. This helped:

[code]

`auth` block was added as the latest version minio requires different configuration: https://github.com/bitnami/charts/tree/master/bitnami/minio#to-900

airbyte helm chart should be updated with a newer configuration for minio helm chart.

[2022-07-06 23:59] danieldiamond commented on #14373
👍 agreed, like it

[2022-07-07 00:10] sivankumar86 opened #14481 "Source-mssql: export meta data from INFORMATION_SCHEMA"
## Tell us about the problem you're trying to solve

I want to export meta data from mssql to snowflake to normalize the data using dbt jobs.

## Describe the solution you’d like

 We have CDC jobs which exporting json row incrementally. We have job which calculate scd 2 and  need to infer the json row datatype from source meta

## Describe the alternative you’ve considered or used

need to write

[2022-07-07 00:11] brunofaustino commented on #14070
I had de same issue, where the incremental model on BigQuery increased costs dramatically, making it impossible to use. As a hotfix, I followed the tip of @marcosmarxm, customizing the transformation (https://docs.airbyte.com/opector-guides/transformation-and-normalization/transformations-with-dbt).

I create a PR for this issue: #14480

<img width="569" alt="image" src="https://user-images.github

[2022-07-07 00:14] sivankumar86 commented on #14481
I think, Need to change this line. Could someone confirm  if it is ok to exclude ? so that, I can give pull request.

https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java#L210

[2022-07-07 00:52] lmossman opened #14482 "Consolidate acceptance test init logic"
## What

We now have several acceptance test classes with very similar init logic. This can be de-duplicated by moving the shared logic to an abstract acceptance test class that the current ones implement, overriding anything that needs to be custom for that test.

One thing to look out for is that the CdcAcceptanceTests do the full init and teardown logic BeforeEach and AfterEach test, since havi

[2022-07-07 01:09] lmossman opened #14483 "Refactor temporal client to track workflow state more accurately"
## Context

Currently, when the [TemporalClient](https://github.com/airbytehq/airbyte/blob/master/airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java) executes a signal method (e.g. manual sync, reset, etc.), it then [repeatedly queries](https://github.com/airbytehq/airbyte/blob/316a124f7560c1f45d8da742152e2751c0bdd08e/airbyte-workers/src/main/java/io/airbyte/workers/temp

[2022-07-07 01:10] girarda opened #14484 "[low-code cdk] Generate json schema for low-code connectors and validate yaml file"
## What
Representing the connector definition using JsonSchema has 2 benefits
1. The schema serves as documentation of what the various options are and how they can be configured
2. It can be used to validate the yaml file

## How
In theory we already the valid types for all declarative components because they are declared as type hints in the constructor.
The [dataclasses-jsonschema](https://gith

[2022-07-07 03:03] OmarSultan85 commented on #8805
@stasrelevanceai Thank for providing that, this worked for me

[2022-07-07 03:04] edgao opened #14486 "BigQuery should not swallow exception when loading GCS data into dataset"
As seen here https://github.com/airbytehq/airbyte/blob/316a124f7560c1f45d8da742152e2751c0bdd08e/airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsOperations.java#L137-L142

This catch clause should throw an exception in addition to just logging a message; currently if the GCS load operation fails, the sync will still be marke

[2022-07-07 03:08] edgao commented on #14196
probably, yes. I think the ideal ordering is:
1. Submit a gigantic PR to remove the additionalProperties declaration from ALL connectors spec.json
2. Submit a PR per connector to publish the image, starting with GA/beta, and maybe not even bothering with alpha at all.

Publishing the image is less urgent/important because it only matters if users downgrade the connector. The "remove property + upg

[2022-07-07 03:15] benmoriceau commented on #14483
How do you see the event listener to be useful here? I am think about updating an atomic variable and check tbe value of the atomic instead of the result of the query. Is it what you though about?

[2022-07-07 05:05] #12990 closed

[2022-07-07 05:33] suhomud commented on #13536
Hi @grishick,
I tried once more and it passed successfully. I have Mac with Intel Core i9. It seems to me that we have an issue with m1

Here is my report:
[Test Results - PulsarDestinationAcceptanceTest.html.zip](https://github.com/airbytehq/airbyte/files/9060668/Test.Results.-.PulsarDestinationAcceptanceTest.html.zip)

[2022-07-07 06:46] Nomad-IC commented on #10890
I agree with @zds97 . It'd very usful to add Shopify GraphQL API support to Airbyte Shopify routines. There are some functions that can't be done by using REST API. For example by using GraphQL API we can retreive Customer object with metafields whereas REST API doesn't return metafields.

[2022-07-07 07:02] tim-werner opened #14487 "Source File: Urls that expect an User-Agent Header are not working"
## Environment
- **Airbyte version**:  0.39.29-alpha
- **OS Version / Instance**:  macOS
- **Deployment**: Docker
- **Source Connector and version**: source-file 0.2.10
- **Step where error happened**: Use https://fineli.fi/fineli/en/elintarvikkeet/resultset.csv as url for the source-file connector

## Current Behavior
*The connection test will fail with error code 403*

## Expected Behavior
*Conn

[2022-07-07 07:03] tim-werner commented on #14487
I will work on it

[2022-07-07 09:58] turalmirza opened #14491 "Source Gitlab: enable using self-signed SSL Certificates"
'Unable to connect to Gitlab API with the provided credentials - SSLError(MaxRetryError("HTTPSConnectionPool(host=\'gitlab.blabla.lan\', port=443): Max retries exceeded with url: /api/v4/groups/demo?per_page=50 (Caused by SSLError(SSLCertVerificationError(1, \'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)\')))"))'

this error occue

[2022-07-07 10:00] davydov-d commented on #12111
on hold until the test account is activated

[2022-07-07 11:10] harshithmullapudi opened #14493 "Destination MSSQL: failing with cannot participate in a columnstore index"
- Is this your first time deploying Airbyte?: Yes :+1:
- OS Version / Instance: Almalinux
- Memory / Disk: 4Gb / 20 GB
- Deployment: Docker
- Airbyte Version: v0.39.30-alpha
- Source name/version: Files CSV
- Destination name/version: MS SQL 2016 on Windows
- Step: sync
- Description: syncing does not work and throws various errors - depending on my setting for the CSV file which is: https://opend

[2022-07-07 11:11] harshithmullapudi commented on #14493
[logs-35.txt](https://github.com/airbytehq/airbyte/files/9062995/logs-35.txt)
[logs-47.txt](https://github.com/airbytehq/airbyte/files/9062996/logs-47.txt)

Here are the logs

[2022-07-07 11:36] marcosmarxm commented on #10032
Zendesk ticket #[1491](https://airbyte7538.zendesk.com/agent/tickets/1491) has been linked to this issue.

[2022-07-07 11:41] marcosmarxm commented on #10032
*Comment made from Zendesk by Nataly on 2022-07-07 at 11:41:*

<blockquote><div class="zd-comment" dir="auto">Hi, @Nakachi! There's an open issue related to decoding non-ascii characters <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/10032">here</a>. I've linked your post to it and will follow up with the database team to make sure it is on our roadmap!<br></div></b

[2022-07-07 13:37] natalyjazzviolin commented on #14474
Thanks for opening this issue, @SAmser93! I've triaged it to make sure it reaches our connector team backlog.

[2022-07-07 14:01] creativedutchmen opened #14497 "kubernetes: missing resource requests on resets"
## Environment
- **Airbyte version**:  0.39.34-alpha
- **OS Version / Instance**: azure aks
- **Deployment**: Kubernetes with helm
- **Source Connector and version**: any
- **Destination Connector and version**: any
- **Step where error happened**: Reset existing connection (reset data / change full-refresh to incremental)
-
## Current Behavior
*Tell us what happens.*
Airbyte tries to schedule a n

[2022-07-07 14:28] alafanechere opened #14498 "source-postgres: make `withConnectionTimeoutMs` configurable"
## Tell us about the problem you're trying to solve
The current connection to JDBC database is created with a hardcoded value for `connectionTimeoutMs`of `60000`.
This can cause problems according to specific database setup and context.

## Describe the solution you’d like
We could make the JDBC params override this value.
The `withConnectionTimeoutMs` builder method that changes the timeout is no

[2022-07-07 14:40] lgomezm opened #14499 "🐛 Sync jobs are hanging"
## Environment
* **Airbyte version:** 0.39.7-alpha.
* **OS Version / Instance:** GCP n2-standard-4.
* **Deployment:** Kubernetes engine on GCP.
* **Source Connector and version:** Any of `BigQuery, Snowflake, Hubspot, Salesforce, Intercom, Zendesk, Outreach, Salesloft`.
* **Destination Connector and version:** Google Pub/Sub 1.0.4
* **Step where error happened:** Sync job.

## Current Behavior
We

[2022-07-07 15:09] #12976 closed

[2022-07-07 15:28] daniel-gomez-mango commented on #11348
This would be a great feature. Hope it could be deployed soon :)

[2022-07-07 15:36] suhomud commented on #13536
@grishick, Not sure if it is root of the problem but pulsar image does not support arm architecture which can leads to an issue with m1.
They have a closed PR but in the last comment we can see that they still does not support it
https://github.com/apache/pulsar/pull/14005#issuecomment-1140316308

[2022-07-07 15:37] octavia-squidington-iii commented on #14278
cc @airbytehq/frontend

[2022-07-07 15:47] edmundito opened #14500 "Prioritized Cut-off Line ------------"

[2022-07-07 15:47] octavia-squidington-iii commented on #14500
cc @airbytehq/frontend

[2022-07-07 16:00] #13060 closed

[2022-07-07 16:25] bruno-nirello commented on #8817
@marcosmarxm yes

Airbyte Version: 0.39.34-alpha
Source: Typeform (0.1.7)
Destination: BigQuery (1.1.11)

i can't share the logs because still printing response data

32mINFO[m i.a.w.g.DefaultReplicationWorker(run):272 - State capture: Updated state to: Optional[io.airbyte.config.State@52a15a19[state={"responses":{"gcv[PRIVATE_DATE]

[2022-07-07 16:50] jtalmi commented on #13827
Hey @misteryeo I have started working on this. Where would you recommend I go for help with connector development?

[2022-07-07 17:04] blarghmatey commented on #14028
I believe that this change in the upstream Parquet library will resolve this bug, so updating to 1.12.3 will be the necessary fix

https://github.com/apache/parquet-mr/commit/c72862b61399ff516e968fbd02885e573d4be81c

[2022-07-07 17:12] vishjain commented on #11356
/assign

[2022-07-07 17:52] marcosmarxm commented on #14468
Awesome @amitza let me know if you need any assistance here.

[2022-07-07 17:56] marcosmarxm commented on #14499
@lgomezm did you change the .env variables to increase the number of connections in parallel?

[2022-07-07 17:58] blarghmatey commented on #14028
@marcosmarxm @tuliren I found what appears to be the necessary fix to this bug and pushed a PR that bumps the upstream Parquet dependency to the latest version. Can you take a look and see about getting a new release pushed so I can test it? Thanks!

https://github.com/airbytehq/airbyte/pull/14502

[2022-07-07 18:02] marcosmarxm commented on #12949
*Comment made from Zendesk by Marcos Marx on 2022-07-07 at 18:02:*

<blockquote><div class="zd-comment" dir="auto">Anthony for now the workaround it's to use JSON format instead Parquet/Avro. I'll ask the team to investigate further the issue.<br></div></blockquote>

[2022-07-07 18:03] marcosmarxm commented on #14446
Thanks @serhio7 I added the issue in connector team backlog.

[2022-07-07 18:22] vishjain commented on #9953
Hi, Can you please assign this task? Thanks!

[2022-07-07 18:24] marcosmarxm commented on #14028
Thanks @blarghmatey !

[2022-07-07 19:01] mp-pinheiro commented on #12949
This is what we're doing, but it's far from optimal, as JSON and CSV formats are very slow.

We're doing the same thing on our side @gsmith-schlesinger, but Java isn't our forte. We've been having problems with even setting up a development environment with the project taking 30 minutes building just to fail at the last minute. Let me know if you have any luck!

[2022-07-07 21:56] girarda opened #14510 "[low-code connectors] add config-based connectors json schema to repo to docs for reference"
## What
We should generate the full json schema for a config-based connector and add it to the docs so it can be referred

## Dependencies
- https://github.com/airbytehq/airbyte/issues/14484

[2022-07-07 22:23] edgao commented on #14472
There are a few non-java destinations (if you grep the build.gradle for `airbyte-python` you can find them) so they'll need manual work.

also, does the Java code update work for non-database connectors? E.g. destination-s3 doesn't use the JDBC logic at all.

[2022-07-07 22:25] girarda opened #14511 "[low-code connectors] expose expanded config-based connector definition"
## Tell us about the problem you're trying to solve
Config-based connector definitions can be difficult to parse when there are a lot of references.

## Describe the solution you’d like
We should log the connector definition to debug after all the references have been dereferenced when the debug flag is enabled

Steps:
- [x] https://github.com/airbytehq/airbyte/issues/3078
- [ ] Update the compone

[2022-07-07 22:57] girarda opened #14513 "[low-code connectors] use decorator to set class type mapping and default implementations"
## Tell us about the problem you're trying to solve
The type to class_name mapping in airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py:19 is pretty useful for making the yaml file simpler to read, but it adds a non-negligeable overhead because the developers need to update the mapping (which is in a different file) when implementing a new component.

## Describe t

[2022-07-07 23:21] grishick commented on #14196
@sherifnada are you OK with the approach @edgao suggested?

[2022-07-07 23:58] girarda opened #14516 "[low-code connectors] document concepts and architecture"
## Tell us about the problem you're trying to solve
Connector developers should be able to implement a config-based connectors without help from Airbyte engineers, which is pretty difficult without having an overview of what the various functionalities are and how the components fit together.

## Describe the solution you’d like
We should provide some conceptual and architectural documentation to

[2022-07-08 00:06] Amruta-Ranade commented on #3879
We now have in-UI docs!

[2022-07-08 00:06] #3879 closed

[2022-07-08 00:12] girarda opened #14517 "Migrate source-greenhouse to config-base"
## What
Migrate the greenhouse connector to config-based

## How
1. add expected_records to acceptance tests
2. write the connector
* [This is an old partial definition](https://github.com/airbytehq/airbyte/blob/60b02f5f202ceb9654120b5b2c917ae4afd9e53c/airbyte-integrations/connectors/source-greenhouse/source_greenhouse/greenhouse.yaml) that can be used for reference

[2022-07-08 00:17] girarda opened #14518 "Migrate source-sentry to config-based"
## What
Migrate the sentry connector to config-based

[2022-07-08 00:19] alovew opened #14519 "Fail sync if per stream state message does not contain a state for each stream in catalog"
The state message helper should validate that if it is reading a per stream state, there should be a state for each stream in the catalog. If not, it should fail the sync. This will be an issue for jobs that are running when we flip on the per stream flag, and is a validation that should remain in place even afterward.

Link to slack thread on this: https://airbytehq-team.slack.com/archives/C03AS1

[2022-07-08 00:27] girarda commented on #12975
duplicate of https://github.com/airbytehq/airbyte/issues/12980

[2022-07-08 00:27] #12975 closed

[2022-07-08 00:31] #3918 closed

[2022-07-08 00:32] Amruta-Ranade commented on #7255
@nataliekwong Can you verify if the Core Concepts for Cloud users doc satisfies the request: https://docs.airbyte.com/cloud/core-concepts

[2022-07-08 00:50] #13750 closed

[2022-07-08 01:16] octavia-squidington-iii commented on #3783
cc @airbytehq/frontend

[2022-07-08 01:30] Amruta-Ranade commented on #12808
Duplicate of https://github.com/airbytehq/airbyte/issues/9727

[2022-07-08 01:30] #12808 closed

[2022-07-08 01:52] sherifnada commented on #14196
cc @girarda @pedroslopez -- thoughts?

[2022-07-08 02:23] girarda commented on #14196
yes - it's safe to set additionalProperties to true.

i think this is a great occasion to try publishing multiple connectors at once

[2022-07-08 05:15] kabilan-dt opened #14523 "Source Zoho: throwing `start_datetime` invalid format error"
## Environment
- **Airbyte version**:  0.39.14-alpha
- **OS Version / Instance**: GCP n1-standard-4
- **Deployment**: Docker
- **Source Connector and version**: ZohoCRM 0.1.0
- **Destination Connector and version**: Bigquery 1.1.11
- **Step where error happened**: Setup new connection

## Current Behavior
After entering all the client id, client secret, refresh token, start date and other informat

[2022-07-08 08:32] sbarth-gulfstream-group opened #14525 "Instagram Source: Fetch Instragram accounts directly"
## Tell us about the problem you're trying to solve
Instagram source uses Facebook Pages to fetch Instagram accounts.
So you have to be explicitely "admin" of every facebook page to fetch data from the according Instagram accounts...
1) This is a strange way to fetch Instagram account, because they are linked directly to Facebook Business Manager Account ; and if you are BM admin you can fetch the

[2022-07-08 09:11] alafanechere commented on #13838
@jgrinaveckis I think the `>=` was added for safety because we favor at least once delivery not to miss records. I think the problem you mention is only really impacting the second sync, but subsequent sync will have marginal overlap hence fewer BQ costs.

[2022-07-08 09:21] migue-m opened #14527 "Source Chargebee: `transaction` stream is broken"
## Environment
- **Airbyte version**:  0.30.18-alpha
- **Source Connector and version**: Chargebee 0.1.11
- **Destination Connector and version**: BigQuery 1.1.11
- **Step where error happened**: Sync job

## Current Behavior
The sync process for the `transaction` stream does not finish correctly, the following error appears in the log:
<img width="1346" alt="chargebee-transaction-error-log" src="

[2022-07-08 09:36] juliatournant opened #14528 "PostHog: Events attribute 'properties' not extracted from API"
## Environment
- **Airbyte version**:  0.39.32-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: PostHog 0.1.6
- **Destination Connector and version**: Snowflake 0.4.30
- **Step where error happened**:  Update connector

## Current Behavior
PostHog events have 8 attributes (https://posthog.com/docs/api/events):

{
      "id": "string",
      "dis

[2022-07-08 09:40] alafanechere commented on #14343
Thank you @skwaugh for all these details. I triaged the issue to make sure it reaches the backlog of the team responsible for normalization. We'll keep you posted.
There were recent upgrades made to the normalization, I don't think these are related to the problem you mentioned, but for reproducibility do you mind trying upgrading to the latest Airbyte version which is currently using 0.2.6 of nor

[2022-07-08 09:58] alafanechere commented on #14441
Hey @validumitru, in the Zendesk ticket stream schema the `description` field is declared as a string.
The normalization process maps the string type to a VARCHAR type on Redshift.
I think that normalization currently supports SUPER type for redshift but only for `object` field in schema, not `string`.
I think we could make try to make the normalization smarter so that in defines the SUPER type fo

[2022-07-08 10:17] VitaliiMaltsev commented on #12917
To avoid backward compatibility issue should be merged after https://github.com/airbytehq/airbyte/issues/14196

[2022-07-08 10:28] alafanechere commented on #14497
Thank you @creativedutchmen for reporting this.
Do you mind sharing the reset pod description while it's running?
I triaged this issue to make sure it reaches our platform team backlog.

[2022-07-08 10:45] annalvova05 commented on #4415
Close it as unactual. Back off already implemented.

[2022-07-08 10:45] #4415 closed

[2022-07-08 11:16] yzislin opened #14529 "Failed "Reset Your Data" will not let you sync again"
## Environment
- 0.39.29-alpha
- AWS EC2 - Ubuntu 22.04
- Docker
- Any Source connector (I believe). For example with Gitlab
- Local JSON
- Sync Job

## Current Behavior
First create a source connector, destination connector and a connection. Then kick off the sync.
If the sync fails or it gets cancelled, Reset Your Data causes unusual behavior. It fails with the error (see below in logs), and cli

[2022-07-08 11:22] ycherniaiev opened #14530 "Amazon Ads Source: populate streams"

[2022-07-08 11:25] grubberr opened #14532 "🐛 Source Amazon Ads: Fix SAT test fails - need more expect_records"
## Current Behavior
Account data changed - need to update SAT tests

[2022-07-08 12:13] #12163 closed

[2022-07-08 12:35] jromero commented on #14320
FWIW, this seems related to this issue: https://github.com/facebook/docusaurus/issues/2654#issuecomment-621700521

If you navigate through the menu to `https://docs.airbyte.com/integrations/custom-connectors` you end up with no trailing space and "[contributing guide on building connectors](https://docs.airbyte.com/contributing-to-airbyte/)".

If you navigate to the same page via URL (ie type it i

[2022-07-08 13:03] marcosmarxm commented on #12949
@mp-pinheiro are you building the entire project? Why not only the connector?

[2022-07-08 13:08] dizel852 commented on #12092
@andyjih could you please double-check the design link you've provided. It seems like the mockup was moved somewhere

[2022-07-08 13:09] saxenashivang opened #14536 "Kubernetes: Airbyte check connection issue on GKE"
## Environment
- **Airbyte version**:  0.39.35-alpha
- **OS Version / Instance**: GKE
- **Deployment**: GKE
- **Source Connector and version** : PokeAPI , latest
- **Destination Connector and version**: Postgres
- **Step where error happened**: When Setup new source and it make connection

## Current Behavior
I have deployed airbyte on GKE with external DB connected. CPU and memory resources up to

[2022-07-08 13:25] jromero commented on #14320
I spent a little more time on this out of curiosity and I have to say, there doesn't seem to be a quick satisfactory fix for this due to my understanding that the docs use GitHub Pages. GitHub Pages is what creates the redirect for directories from  `custom-connectors` -> `custom-connectors/` (see behavior documented [here](https://github.com/slorber/trailing-slash-guide#summary)).

Adding [`trail

[2022-07-08 13:37] sergiworkwize opened #14537 "Source Google Analytics: missing UTM parameters"
## Environment
- **Airbyte version**:  example is 0.35.57-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Google Analytics 0.1.0
- **Destination Connector and version**: Redshift
- **Step where error happened**: Syncing

## Current Behavior
In the current connection some important UTM parameters are missing in the _traffic_sources_ stream suc

[2022-07-08 13:54] lazebnyi commented on #12928
Successfully certified to GA - https://docs.google.com/spreadsheets/d/1HfNv5iFHUpoLOd31jgVXUlJAPQpWDb5aY9ctHYhhU4U/edit#gid=1700962388

[2022-07-08 13:54] #12928 closed

[2022-07-08 14:27] SofiiaZaitseva opened #14539 "Set up the source dropdown wasn't closed and scrolled with opened dropdown on the New Connection page"
## Environment
- **Airbyte version**:  0.39.34-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: OSS
- **Step where error happened**: Setup new connection

## Current Behavior
Decrease the size of the screen
Go to Connections -> New Connection -> Set up the source
Open dropdown => we have several scrolls on the page
Scroll inherit scroll;

AR: dropdown wasn't closed and scrolled with

[2022-07-08 14:39] walkabout21 commented on #7536
@marcosmarxm unfortunately I'm stuck with a flyway version issue that is preventing the docker image from building.  Until I can resolve that I can't retry.
[code]

[2022-07-08 14:47] #13409 closed

[2022-07-08 15:26] Amruta-Ranade opened #14540 "Amazon S3 source: better documentation on how to use blocksize"
[Reference](https://app.harvestr.io/messages/inbox/pscEi9_jWy)
Source:Amazon S3
Request: Better documentation about how to use blocksize to resolve connector issues. They felt this was helpful in getting them unstuck, but it wasn't clear on how to leverage this tool.

[2022-07-08 15:35] natalyjazzviolin commented on #14525
@sbarth-gulfstream-group thank you for the suggestion, this sounds like a really useful change!

[2022-07-08 16:14] blarghmatey commented on #14028
The block of code in the upstream Parquet library that generates the struct from a Union type is https://github.com/apache/parquet-mr/blob/e990eb3f14c39273e46a9fce07ec85d2edf7fccb/parquet-avro/src/main/java/org/apache/parquet/avro/AvroSchemaConverter.java#L264-L272

It seems that the solution is to modify the Airbyte code that generates the Avro schema from the JSON schema to not include `string`

[2022-07-08 16:16] marcosmarxm commented on #7536
Did you upgrade to the mandatory 0.32.0-alpha version first? https://docs.airbyte.com/operator-guides/upgrading-airbyte#mandatory-intermediate-upgrade

[2022-07-08 16:55] #13735 closed

[2022-07-08 16:57] walkabout21 commented on #7536
I'm just running docker-compose from the repo.  Something is wrong with the dockerfile in main.

On July 8, 2022 12:16:36 PM EDT, Marcos Marx ***@***.***> wrote:

[2022-07-08 17:00] #14260 closed

[2022-07-08 17:35] #10954 closed

[2022-07-08 18:11] #13416 closed

[2022-07-08 19:02] lmossman commented on #14483
@benmoriceau just to clarify, you are saying that the ConnectionManagerWorkflow would update that atomic variable that is being checked by the TemporalClient? In which class would that atomic variable live? I would expect there may be issues with that approach due to temporal putting workflows to sleep and waking them back up, causing them to be running in a different process.

I thought the event

[2022-07-08 19:11] walkabout21 commented on #7536
looks the same as open issue #9502

[2022-07-08 21:52] grishick commented on #14196
![image](https://user-images.githubusercontent.com/1310940/178075045-90f80986-fe93-474d-9d93-3c219fd9bc6a.png)

[2022-07-08 21:53] grishick commented on #14196
![image](https://user-images.githubusercontent.com/1310940/178075128-ca942321-b62e-4f0f-b80f-9ca329b0151c.png)

[2022-07-08 23:05] edgao opened #14547 "SATs should verify that all streams have at least one supported sync mode"
As discovered in https://github.com/airbytehq/oncall/issues/290, we currently don't check that all streams have at least one supported sync mode. This causes weird things to happen in the UI, and is literally never desirable. SATs should verify that this doesn't happen.

Notes:
1. Should validate it's an accepted enum value, and there's more than zero

[2022-07-08 23:10] gosusnp opened #14548 "Do not ignore missing supported sync modes"
## Current Behavior
Currently, if there is no supported sync mode, the platform will put incremental as a default. Also if there is no supported sync mode on the front-end, the front-end will default to full_refresh.

## Expected Behavior
We show an error instead of continuing with may be invalid config

[2022-07-08 23:18] grishick commented on #14196
A search for `additionalProperties": false` in spec.json files in connectors/ folder returns 207 results over 100+ connectors. So, I certainly wouldn't want to make 100+ PRs for this change, but I also would like to avoid blocking progress on prioritized connectors (we have a couple of PRs waiting for this change). To unblock those other PRs, I will turn this into an Epic and create separate issue

[2022-07-08 23:20] grishick opened #14549 "Remove `additionalProperties: false` from JDBC source connectors"
## Problem
As discovered in https://github.com/airbytehq/oncall/issues/289, a spec declaring "additionalProperties": false introduces the risk of accidental breaking changes. Specifically, when removing a property from the spec, existing connector configs will no longer be valid.

We are about to make changes that will complicate rolling back connectors that have `additionalProperties` set to `fal

[2022-07-08 23:28] grishick opened #14550 "Remove `additionalProperties: false` from JDBC destination connectors"
## Problem
As discovered in https://github.com/airbytehq/oncall/issues/289, a spec declaring "additionalProperties": false introduces the risk of accidental breaking changes. Specifically, when removing a property from the spec, existing connector configs will no longer be valid.

To make these upgrades/rollbacks smoother, we need to remove `additionalProperties` from connectors affected by these

[2022-07-08 23:36] grishick commented on #11348
@daniel-gomez-mng Oracle connectors now support custom JDBC parameters. Are you able to set service name via JDBC parameters?

[2022-07-08 23:40] grishick commented on #13536
PR is closed, but the issue is still open: https://github.com/apache/pulsar/issues/12944, because they have not published an ARM image yet.

[2022-07-08 23:40] grishick commented on #13536
This is blocked by https://github.com/apache/pulsar/issues/12944

[2022-07-08 23:58] grishick commented on #14230
@kimerinn could you do some testing to find an approximate number of columns x tables that would hit the limit? I could expect that if a schema is approaching some number X of columns across all tables it will start hitting this limit.

[2022-07-08 23:59] #14316 closed

[2022-07-09 15:10] subodh1810 commented on #12821
@adam-bloom I am a bit confused with this part
[code]

If the sync attempt 0 failed, the state would not be saved in the database and we would try to sync from the previous offset. In the logs that you have shared for the failed attempt, its mentioned that
[code]

[2022-07-09 15:20] Amruta-Ranade opened #14553 "PostgreSQL source: Edit GA doc"
https://docs.airbyte.com/integrations/sources/postgres

[2022-07-09 17:00] amitza commented on #14468
Thanks! I've started working on a [PR](https://github.com/amitza/airbyte/pull/1) and I didn't really understand what's the `discover` method is for

[2022-07-09 18:57] Tomperez98 commented on #3561
I just did the first commit to PR [#14555](https://github.com/airbytehq/airbyte/pull/14555). check() method implemented.
Working on the `describe()`, `read()`, and then I intend to work on the different required tests

[2022-07-09 20:22] adam-bloom commented on #12821
@subodh1810 you're correct - it will attempt to start from the previous offset. However, since it already consumed those messages (and advanced the replication slot on the source), it cannot restart successfully. Seen later in attempt 1:
`2022-05-11 21:02:59 [44msource[0m > 2022-05-11 21:02:59 [32mINFO[m i.d.c.p.c.WalPositionLocator(resumeFromLsn):90 - Received COMMIT LSN 'LSN{0/89FF3698}' lar

[2022-07-10 04:54] #13207 closed

[2022-07-10 08:00] timroes opened #14557 "Remove useRouter hook"
As discussed offline, we want to remove the useRouter hook, due to several issues (lose TypeScript types, renaming - and thus teaching - outdated react router methods, weird merging of query parameters and path parameters.

We should do the following:

* Remove the useRouter hook
* Replace all usages of useRouter with the corresponding direct react router hooks (useNavigate, useParams, etc.)
* Add

[2022-07-10 08:01] octavia-squidington-iii commented on #14557
cc @airbytehq/frontend

[2022-07-10 13:07] timroes opened #14560 "Per-Stream adjust frontend flow"
As part of the per-stream process we discovered some shortcoming last week and will require a slightly different slow than we currently have. The full flow for the FE what happens is documented in [this flowchart](https://whimsical.com/per-stream-updates-2022-07-06-5t1ecmGWPhLm9xoRU8rZru).

The main adjustments to make in the FE are:

When the user hits the "save" button when updating a connection

[2022-07-10 13:08] octavia-squidington-iii commented on #14560
cc @airbytehq/frontend

[2022-07-10 13:50] timroes commented on #3783
Closing in favor of #14340

[2022-07-10 13:50] #3783 closed

[2022-07-10 13:57] timroes commented on #14448
I'd have some concern of using the name as the unique identifier for a connection. The name (as it is at least used today) is meant to be a human readable representation, and I think trying to enforce uniqueness on a human readable component won't be the best solution. We already have connection IDs that are unique. Shouldn't we use them instead for addressing? If not, is there a specific reason f

[2022-07-10 17:53] grubberr commented on #14441
@alafanechere yes it works as you described  - SUPER type used only for `objects`.
In theory I think it possible to do - I mean to use SUPER type for string more then 65k.

is it good idea in general I don't know

[2022-07-10 18:55] itaseskii commented on #1385
I'll claim this issue. :)

[2022-07-10 18:56] sh4sh opened #14562 "Broken link to Contributing Guide in repo readme.md"
### Tell us about the documentation you'd like us to add or update.
Contributing Guide link in this repo's top level README.md is dead :(

### If applicable, add links to the relevant docs that should be updated
- [README.md](https://github.com/airbytehq/airbyte/blob/master/README.md)

[2022-07-10 19:08] sh4sh commented on #14562
https://github.com/airbytehq/airbyte/pull/14564 links to the [Contributing to Airbyte readme.md](https://github.com/airbytehq/airbyte/tree/master/docs/09-contributing-to-airbyte), since it wasn't an external link before.

Maybe we'd rather just send them to the [rendered site](https://docs.airbyte.com/contributing-to-airbyte/) though?

[2022-07-10 23:45] andrewlreeve opened #14565 "Source Shopify: error normalizing `orders` table"
## Environment
- **Airbyte version**:  0.39.23-alpha
- **OS Version / Instance**: Gcloud
- **Deployment**: Gcloud
- **Source Connector and version**: Shopify 0.1.37
- **Destination Connector and version**: BigQuery 1.1.11
- **Step where error happened**: Setup new connection

## Current Behavior
On first run, the DBT normalization hits an error trying to normalize orders_scd.sql. The error is caus

[2022-07-10 23:50] khoatrandata commented on #13266
@bazarnov , that doesn't help and I've tried it. Corrupted data will be repopulated on the `_airbyte_*` table upon resync since the job cursor is prior to the period.

[2022-07-11 02:21] lgomezm commented on #9349
@misteryeo I'm claiming this issue.

[2022-07-11 03:30] anton-epsagon commented on #14498
@grishick no, those seem to be ignored.
I'm currently trying to change the timeout value in airbyte-db/db-lib/src/main/java/io/airbyte/db/factory/DataSourceFactory.java locally to see if that helps

[2022-07-11 03:53] adamschmidt opened #14566 "New Source: OpsGenie"
## Tell us about the new connector you’d like to have

* Which source and which destination?

We want to source information from OpsGenie into our Snowflake warehouse.

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

No. The current cloud platform API version is adequate.

## Describe the context around this

[2022-07-11 05:41] harshithmullapudi commented on #14566
Hey @adamschmidt thanks for creating the issue. Also during your PR work do let us know if you need some help.

[2022-07-11 05:45] harshithmullapudi commented on #14537
Hey team will look into this soon. It would be more helpful if you would help with replication steps

[2022-07-11 06:32] wallies commented on #7554
@marcosmarxm Ive run it again and i see these errors. The other big issue is it isnt pulling across custom fields for property history whether i normalize it or not

[code]

[code]

[2022-07-11 07:12] yuhuishi-convect commented on #10930
Cool. Will work on one based on JDBCdestination

[2022-07-11 07:14] octavia-bot[bot] opened #14567 "Dagster's first github issue"
This is the first issue created programmatically with dagster

[2022-07-11 07:15] sspaeti commented on #14567
Test succeeded. Therefore close issue.

[2022-07-11 07:15] #14567 closed

[2022-07-11 08:26] alafanechere commented on #14441
I think `CONCAT` is used to concatenate the value of each field and compute a hash of the fields to use in `hashid` column. @validumitru Could you please share your full sync logs, we might find more details about the context in which is error is raised.

[2022-07-11 08:29] alafanechere commented on #14536
@saxenashivang could you please share your server logs and your temporal logs too?
My hypothesis is that Temporal might not be able to reach your external database.

[2022-07-11 08:41] alafanechere commented on #14565
Hey @andrewlreeve , thank you for opening this issue.
We do not have a Shopify test account yet, so we cannot test this connector thoroughly.
I would suggest changing the connector itself to return an empty array for the field `payment_gateway_names`.
You should open a PR to change the schema of this field in `airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders.json` to :

[2022-07-11 08:43] andmosourceability commented on #14042
I have attempted to upgrade from 0.4.18 to 0.4.30 and I had mixed results. Two of my connections failed, while one succeeded. Here are my logs.
Success:
[logs-36853.txt](https://github.com/airbytehq/airbyte/files/9082265/logs-36853.txt)

Failure (both pointing to errors in normalization and timestamp fields):
[logs-36851.txt](https://github.com/airbytehq/airbyte/files/9082262/logs-36851.txt)
[logs

[2022-07-11 09:47] ycherniaiev commented on #14337
@harshithmullapudi  created 3 events on timely Sandbox (lastpass:Source Timely Sandbox)

[2022-07-11 09:47] #14337 closed

[2022-07-11 09:58] ihommani commented on #10236
Hi @duncanphillips, I think I get the same need than yours. However looking at the source code of the salesforce connector I see not way to override the login URL used with the refresh token. It's hard coded: https://github.com/airbytehq/airbyte/blob/94e3e0ea27ab84c13d1283d1078f2f7735285ae5/airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py#L266

Did you really managed to s

[2022-07-11 10:15] #14562 closed

[2022-07-11 10:25] igrankova commented on #14436
@harshithmullapudi,
We have a 10-day free trial. Sent a request for obtaining the Sandbox account.
find Token [here](https://watch.appfollow.io/settings/api).
LastPass name: Appfollow

[2022-07-11 10:47] igrankova commented on #13941
@alafanechere, @harshithmullapudi
We have a Premium trial for 30 days. I asked the support team for the sandbox account.
LastPass name: glassfrog.com
find an API Key [here](https://app.glassfrog.com/org/29501/api_keys).

[2022-07-11 11:13] suhomud opened #14568 "Destination Elasticsearch supporting for mixed number data types in array"
## Environment
- **OS Version / Instance**: any
- **Destination Elasticsearch 0.1.2**: (if applicable example Postgres 0.3.3)
- **Step where error happened**:  Sync job

## Current Behavior
The default Elsaticsearch mapper does not support different data types in array.

For example:
This data type will failed `"array_number" : [56.78, 0, -12345.678]` since Elasticsearch will identify it as intege

[2022-07-11 11:15] suhomud commented on #13525
The reason of failed test is dataset which provides a different types in array which is not supported by ElasticSearch by the  default mapper. I'll disable this test until this support will be added
https://github.com/airbytehq/airbyte/issues/14568

[2022-07-11 11:39] octavia-bot[bot] opened #14569 "Dagster's first github issue"
This is the second issue created programmatically with dagster

[2022-07-11 11:39] #14569 closed

[2022-07-11 12:23] #8702 closed

[2022-07-11 12:26] marcosmarxm opened #14572 "Stripe Customer stream fails at normalization"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1269](https://airbyte7538.zendesk.com/agent/tickets/1269)
**Priority:** normal
**Group:** User Success Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">Is this your fi

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-06-22 at 13:23:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Comment made from GitHub by marcosmarxm on 2022-06-22 at 13:23:</p>
<p dir="auto">Added issue to connector team backlog.</p></div></blockquote>

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-06-22 at 14:36:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">This GitHub issue has been closed by marcosmarxm on 2022-06-22 at 14:36.</p></div></blockquote>

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-06-23 at 12:33:*

<blockquote><div class="zd-comment" dir="auto">Jagannath this version of Airbyte had an issue with normalization, could you try to upgrade to 0.39.20+?<br></div></blockquote>

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-06-23 at 15:45:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thanks <a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a> , does 0.39.20 have any breaking changes from 0.39.17? We’ve had multiple issues with upgrading in the past so just want to make sure</p>

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-06-23 at 16:59:*

<blockquote><div class="zd-comment" dir="auto">No, the upgrade to 0.39.20 should be only a patch update.<br></div></blockquote>

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-06-24 at 23:22:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a> I’ve upgraded it to the latest version 0.39.24 and it fails with the same error.</p>
<p dir="auto"><a href="https://discuss.airbyte.io/uploads/sho

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-06-28 at 03:29:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I’ve ran the pipeline multiple times and it fails with the same error.</p>

 [<a href="https://discuss.airbyte.io/t/stripe-customer-stream-fails-at-normalization/1537/7" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-07-05 at 12:43:*

<blockquote><div class="zd-comment" dir="auto">Sorry the long delay Jagannath, I wan't able to reproduce your issue. What is the configuration in Snowflake you're using? Internal Staging or using AWS/GCS?<br></div></blockquote>

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-07-05 at 14:36:*

<blockquote><div class="zd-comment" dir="auto">Jagannath can you update your schema? Click in Refresh Source Schema<br><span style="opacity: 1;"><img src="https://airbyte7538.zendesk.com/attachments/token/JaHGM0fU9C71Xs0M3v5E4qIkT/?name=image.png"></span><br></div></blockquote>

[2022-07-11 12:26] marcosmarxm commented on #14572
*Comment made from Zendesk by Marcos Marx on 2022-07-07 at 18:27:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">We are using Snowflake internal staging and yes, I did refresh the schema multiple times.</p>

 [<a href="https://discuss.airbyte.io/t/stripe-customer-stream-fails-at-normalization/1537/10" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-07-11 12:39] alafanechere commented on #12278
Hey @ycherniaiev , ideally it would be an unlimited time sandbox as we'll use it to run acceptance tests from our CI

[2022-07-11 12:40] edlouth commented on #11076
Searching the git repo for HttpSubStream https://github.com/airbytehq/airbyte/search?q=HttpSubStream makes it easy to find examples amongst the existing connectors

[2022-07-11 12:50] VitaliiMaltsev commented on #14042
@andmosourceability what version of destination-snowflake are you using?

[2022-07-11 12:54] alafanechere commented on #13734
Duplicate of #14441

[2022-07-11 12:58] andmosourceability commented on #14042
@VitaliiMaltsev v0.4.30

[2022-07-11 13:02] alafanechere opened #14573 "normalization: handle records > 1MB for redshift SUPER type"
## Tell us about the problem you're trying to solve
Redshift's normalization generates SUPER object whose size exceeds the limit of 1MB:
[code]

## Describe the solution you’d like
Normalization should  explicitly drop records > 1MB or restructure these records to make them lower than 1MB.

Seeing a similar issue with [on-call airbytehq/alpha-beta-issues#697](https://github.com/airbytehq/alpha-bet

[2022-07-11 13:03] marcosmarxm commented on #14573
*Comment made from Zendesk by Augustin on 2022-07-11 at 13:03:*

<blockquote><div class="zd-comment" dir="auto">I created an [issue](https://github.com/airbytehq/airbyte/issues/14573) on our repo for this error. Please subscribe to receive updates.&nbsp;<br></div></blockquote>

[2022-07-11 13:29] marcosmarxm opened #14576 "Kustomize: S3 external logs not working"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1350](https://airbyte7538.zendesk.com/agent/tickets/1350)
**Priority:** normal
**Group:** User Success Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">Is this your fi

[2022-07-11 13:29] marcosmarxm commented on #14576
*Comment made from Zendesk by Sajarin on 2022-06-27 at 18:57:*

<blockquote><div class="zd-comment" dir="auto">Hey @soccerbro421, thanks for your post and welcome to the community! Could you describe what your cluster setup looks like? Is it local or did you use something EKS?&nbsp;<br>&nbsp;<br>Secondly are the s3 credentials configured for both read and write access as mentioned in the guide? Fi

[2022-07-11 13:29] marcosmarxm commented on #14576
*Comment made from Zendesk by Marcos Marx on 2022-06-28 at 14:12:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hey <a href="/u/sajarin" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@sajarin</a> , Thanks for the response!</p>
<p dir="auto">I’m trying to use EKS to deploy and more specifically following eks blueprints:</p>
<div style="border: 5

[2022-07-11 13:29] marcosmarxm commented on #14576
*Comment made from Zendesk by Sajarin on 2022-06-28 at 15:26:*

<blockquote><div class="zd-comment" dir="auto">So if I understand you correctly, you have an s3 bucket set up for logs and you also have another s3 bucket with some data that you want to move somewhere else? Did I get that right?&nbsp;<br>My guess is that something is not configured properly with the s3 bucket you set up for your logs

[2022-07-11 13:29] marcosmarxm commented on #14576
*Comment made from Zendesk by Marcos Marx on 2022-06-28 at 16:06:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Yup that’s right.</p>
<p dir="auto"><img src="https://aws1.discourse-cdn.com/business7/uploads/airbyte/original/2X/3/30033e268fb2666099ef840d666e86073be60776.jpeg" alt="image" width="auto" height="auto" style="max-width: 100%;"></p>

 [<a href="https://discuss.airbyte.io

[2022-07-11 13:29] marcosmarxm commented on #14576
*Comment made from Zendesk by Marcos Marx on 2022-07-05 at 14:02:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I used Kustomize deployment</p>

 [<a href="https://discuss.airbyte.io/t/deploying-on-kubernetes-configuring-custom-s3-logs/1616/7" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-07-11 13:30] marcosmarxm commented on #14576
*Comment made from Zendesk by Marcos Marx on 2022-07-11 at 13:30:*

<blockquote><div class="zd-comment" dir="auto">I tried to setup a kustomize using external s3 and faced the same issue. I opened a ticket in Github <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/14576">https://github.com/airbytehq/airbyte/issues/14576</a> for further investigation. Any update I'll r

[2022-07-11 13:36] marcosmarxm commented on #14468
Check here: https://docs.airbyte.com/understanding-airbyte/airbyte-protocol#discover

[2022-07-11 13:53] marcosmarxm commented on #7536
@walkabout21 did you check my latest question? You're running a version before the MANDATORY upgrade 0.32.0-alpha. Did you first upgrade to that version of only update to latest one?

[2022-07-11 14:58] edgao opened #14578 "Source Facebook Marketing should better handle streams/fields where we lack permissions"
## Tell us about the problem you're trying to solve
Certain fields on streams require additional permissions. Attempting to sync those streams when you're authed with insufficient permissions causes the sync to fail entirely. This is a poor user experience.

The example that I saw was the `funding_source_details` field on the `ad_account` stream. This [requires](https://developers.facebook.com/doc

[2022-07-11 15:01] daniel-gomez-mng commented on #11348
Hi @grishick! Unfortunately, the parameter SID is still mandatory, I don't have it, and I can't fake it: `ORA-12505, TNS:listener does not currently know of SID given in connect descriptor`

Any solutions?

[2022-07-11 15:45] cgardens commented on #621
agreed! feel free to close once you feel any remaining relevant information has been captured in the right spots.

[2022-07-11 15:56] #13328 closed

[2022-07-11 16:03] #621 closed

[2022-07-11 16:20] m-ronchi opened #14580 "Kubernetes: add Metrics Reporter to kube manifests"
## Tell us about the problem you're trying to solve

I installed opentelemetry on my k8s cluster to get airbyte metrics and found out that only some of them are exposed (by the worker), but there are some other metrics that are exposed by [a dedicated pod](https://github.com/airbytehq/airbyte/tree/master/airbyte-metrics/reporter)

## Describe the solution you’d like

add https://github.com/airbyte

[2022-07-11 16:25] edmundito opened #14581 "Update ToolTip component to match design library"
Figma:
https://www.figma.com/file/gMNRYVJav25pdsoxAyW7Qp/00_01_WEB-APP-LIBRARIES?node-id=675%3A969

[2022-07-11 16:25] octavia-squidington-iii commented on #14581
cc @airbytehq/frontend

[2022-07-11 16:25] DustyShap opened #14582 "octavia-cli: "Does not exist" error when attempting to import or generate"
## Environment
- **Airbyte version**:  0.39.35-alpha
- **Octavia-CLI version**: 0.39.35-alpha
- **Deployment**: Kubernetes
- **Step where error happened**: `octavia import all`

## Current Behavior
Error returned for import all command:

[code]
See more notes below.

## Expected Behavior
[code]

## Are you willing to submit a PR?

Potentially

## Notes
The list command lists the resources properly

[2022-07-11 16:26] SofiiaZaitseva opened #14583 "A new connection cannot be created when both ways of setup destination/source (from the new one and the existing) are filled out"
## Environment
- **Airbyte version**:  0.39.34-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: OSS
- **Step where error happened**: Setup new connection

## Steps to Reproduce
Go to Connections
Select existing source
Select a new destination but DON'T click setup destination
Select existing destination -> Click Use existing destination
In the appeared pop up 'Discard changes' click

[2022-07-11 16:32] benmoriceau commented on #14497
Hello @creativedutchmen,
On docker, I managed to properly set the default resource requirement. Are the variable properly set in your deployment?

https://github.com/airbytehq/airbyte/pull/14584

The docker compose file have is copying those variable to the container.
Can you check that:
- The default resource requirement are set
- The variable are use in your helm chart

[2022-07-11 16:32] DustyShap commented on #14582
I am also seeing this error when attempting to generate a new source.

`octavia list connectors sources | grep postgres`

```Postgres                        airbyte/source-postgres                        0.4.31            decd338e-5647-4c0b-adf4-da0e75f5a750```

`octavia generate source decd338e-5647-4c0b-adf4-da0e75f5a750 postgres_source`

[code]

[2022-07-11 18:28] yurii-bidiuk opened #14590 "Source Postgres (CDC): debezium does not handle era indicators (AD | BC) for 'DATE' type"
## Current Behavior
Source-postgres in cdc mode omits era indicator. For example, the values  `1991-02-10 BC` and `1991-02-10` have the same output

## Expected Behavior
Dates with the current era (AD) and before the current era (BC) should have different outputs and era indicators should not be omitted

## Logs

## Steps to Reproduce
1. Insert 2 date rows to Postgres table with the same value but

[2022-07-11 18:47] gfeldman commented on #13684
added a pr https://github.com/airbytehq/airbyte/pull/14591

[2022-07-11 18:48] girarda opened #14592 "[low-code connectors] Document common patterns and recipes for config-based connectors"
## Tell us about the problem you're trying to solve
Tutorials are great for allowing newcomers to get started, and reference docs are great to describe the machinery, but we should also provide how-to guides for the developers to show how to solve common problems with config-based connectors

## Describe the solution you’d like
Each how to guide should provide a series of steps to solve a problem

[2022-07-11 19:29] pedroslopez opened #14593 "SAT: Validate that connector spec schema changes are backwards-compatible"
(more context in parent issue https://github.com/airbytehq/airbyte/issues/14097)

In order to ensure that a change to the connector's spec is backwards-compatible, we should add a few assertions in the SAT.

This ticket focuses on loading the spec for the previous version of the connector, and comparing it to the current spec. The "previous version" is considered to be the latest published version

[2022-07-11 19:32] lgomezm commented on #14499
Hi @marcosmarxm. I don't think we did something like that. Could you tell me what env variable are you talking about? @prasrvenkat Do you know if maybe we have changed any variable to do that?

[2022-07-11 20:08] pedroslopez opened #14595 "SAT: Validate that configs generated with previous spec are valid according to new spec"
(more context in parent issue https://github.com/airbytehq/airbyte/issues/14097)

Complementary to the specific assertions introduced in https://github.com/airbytehq/airbyte/issues/14593, we can more generically check that configs created according to the old spec are still valid according to the new spec. This can be done by generating multiple config variations with the old spec's schema, and va

[2022-07-11 20:18] benmoriceau opened #14598 "Calculate a configuration diff"

[2022-07-11 20:32] natalyjazzviolin commented on #14580
Hello, @m-ronchi! Thanks for making this feature request, I'm sure it will be useful to many other airbyters.

[2022-07-11 20:40] pedroslopez opened #14600 "SAT: Assert that `additionalProperties: false` is not specified in json schemas"
(more context in parent issue https://github.com/airbytehq/airbyte/issues/14097)

Following up on https://github.com/airbytehq/airbyte/issues/14196, to encode this going forward we should add checks in the SAT to prevent `additionalProperties: false`.

From the [JSON Schema docs](http://json-schema.org/understanding-json-schema/reference/object.html#additional-properties), `additionalProperties` d

[2022-07-11 20:41] gosusnp opened #14601 "Potential race condition in the ConnectionManagerWorkflow"
## Environment
- **Airbyte version**:  0.39.35-alpha
- **OS Version / Instance**: macOS m1 12.4
- **Deployment**: docker
- **Step where error happened**: Acceptance Tests + Manual testing of sync setup

## Current Behavior
Airbyte-worker went into an infinite loop.
I had two jobs in the loop:
* one was from the test, submitting an update, it ran the reset but never got to starting the sync.
* one