[2022-08-10 14:18] natalyjazzviolin commented on #15507
Hi @vijaybridgeme, you can find all supported endpoints right here:
https://docs.airbyte.com/integrations/sources/facebook-marketing/#supported-tables

On-Facebook Leads are not supported. Support can be added by adding a stream specific to that endpoint. Would you be interested in contributing a PR?

[2022-08-10 14:22] vijaybridgeme commented on #15507
I can have our engineer work with you, if you can provide clear pointers on how to get this done.

[2022-08-10 14:25] yash-ghelani-dsw commented on #15476
I have 16gb ram and 100+ gb storage... but other databases and systems are also working on it. Do you feel error is due to lack of cpu and memory

[2022-08-10 14:42] alafanechere commented on #15290
It was decided in grooming that #14718 did not required to be totally done: we remove `additionalProperties: false` from GA/Beta non JDBC source connectors in https://github.com/airbytehq/airbyte/pull/14924

[2022-08-10 14:56] #13278 closed

[2022-08-10 15:42] #15057 closed

[2022-08-10 15:45] davydov-d commented on #10191
this issue has been temporary resolved, a long term fix should be implemented in https://github.com/airbytehq/airbyte/issues/14149

[2022-08-10 15:45] #10191 closed

[2022-08-10 15:47] davydov-d commented on #14149
@YowanR I'm going to include this in a certification scope if you're ok with that. Please let me know otherwise

[2022-08-10 15:50] YowanR commented on #14149
@davydov-d Can you clarify what you mean by "include this in a certification scope" ? Thanks!

[2022-08-10 15:58] davydov-d commented on #4405
hey @YowanR should we validate singer based connector issues against the CDK based ones? if so, should I treat this issue as a bug and include in the certification scope?

[2022-08-10 16:01] davydov-d commented on #12732
This looks the same as #10191 and #9332.
It is temporary fixed and will be reworked in #14149

[2022-08-10 16:01] #12732 closed

[2022-08-10 16:03] xpuska513 commented on #15470
Here's your problem:
[code]

To fix that you'll need to create volume using EFS + create PersistentVolume and PersistentVolumeClaim
Here's stackoverflow answer that can guide you through that:
https://stackoverflow.com/a/63821328

Alternatively you can redeploy your EKS cluster and instead of Fargate backend use EC2

[2022-08-10 16:08] dizel852 opened #15515 "🪟 🐛 "Discard changes" modal appears in the wrong place during connection creation"
## Environment
- **Airbyte version**:  0.40.0-alpha
- **OS Version / Instance**:  macOS
- **Deployment**: local deployment
- **Step where error happened**: Connections / New connection  / Select source
## Current Behavior
"Discard changes" modal appears if a user has chosen one of the sources in "Set up the source" form, but didn't actually fill out none of the fields, and then decided to choose t

[2022-08-10 16:09] octavia-squidington-iii commented on #15515
cc @airbytehq/frontend

[2022-08-10 16:16] davydov-d commented on #14149
@YowanR I mean implementing this task as a part of the [epic](https://github.com/airbytehq/airbyte/issues/14056)

[2022-08-10 16:17] Amruta-Ranade commented on #15483
@nehanawar025 No worries! Yep, the task is to replace every Airbyte OSS instance with Airbyte Open Source in the docs folder. However, your PR changed the assignment in code files as well. Let me know if you want to give it another try :)

[2022-08-10 16:17] YowanR commented on #14149
Yes, that works for me -- thanks! @davydov-d

[2022-08-10 16:18] YowanR commented on #4405
This one is out of scope for the certification process. @davydov-d

[2022-08-10 16:20] davydov-d opened #15516 "Source Marketo: increase unit test coverage"
unit test coverage should be at least 90%

[2022-08-10 16:29] pmcfadin commented on #13589
Hi! Cassandra contributor here and just happened to see this issue. I'm unfamiliar with Airbyte code, but I can help with some guidance on using batches in Cassandra. A Cassandra batch was designed to ensure coordination between like statements. In a distributed system, that coordination comes with a cost, so using a batch statement for performance is an anti-pattern. We put several gaurdrails in

[2022-08-10 16:43] xpuska513 commented on #15470
But I belive it'll block you from deploying anyways(since we're defining a volume by default), so probably will need to perform a little hotfix

[2022-08-10 16:47] misteryeo opened #15518 "Source Paypal Transactions: Remove OAuth option"
**Problem**
We prematurely introduced the OAuth authentication method for Paypal Transactions before realizing we need to be formally part of the Paypal Partner Program. We run into this error:

**Desired Outcome**
We should remove this option entirely, and only retain the username / password authentication method.

[2022-08-10 17:07] midavadim commented on #15230
Hi all,

I have checked specs for source-file and it appears that 3 of 7 "Storage Provider" could support Oauth2: GCS, S3, AzBlob.

The problem is with limitation in spec.json file which does not allow to set 'multiple' ouath2 credentials, example of spec file if I enable oauth for GCS only, but there will be no way to enable oauth2 for other storage providers:

"authSpecification": {
    "auth_ty

[2022-08-10 17:26] timroes commented on #13051
@sashaNeshcheret Could you clarify how the UI would know which fields to limit? Is there some information in the spec about a validation regex or some special limitation for a field?

[2022-08-10 17:28] lightstrike commented on #3323
@julienfouilhe I'm also looking to create a Firestore source, let me know if you want to collaborate on this!

[2022-08-10 17:41] YowanR commented on #15134
Work in Progress -- will update once we have updates

[2022-08-10 18:13] #7916 closed

[2022-08-10 18:23] evantahler opened #15522 "Delete `airbyte_scheduler`"
We haven't used `airbyte-scheduler` in a while - let's remove it!
Removal also includes removing the migration logic, as described here https://github.com/airbytehq/airbyte/issues/12823

Notes:
- [x] Double check that there are no more helm charts that the cloud repo is using (should be OK)
- [x] Docker images (should be OK)
- [x] The following dependencies will need to be relocated:
  - [x] `Defa

[2022-08-10 18:25] evantahler commented on #13273
Deleting this story in favor of https://github.com/airbytehq/airbyte/issues/15522

[2022-08-10 18:25] #13273 closed

[2022-08-10 18:26] evantahler commented on #8132
Closing, as current versions of Airbyte do not use the scheduler.

[2022-08-10 18:26] #8132 closed

[2022-08-10 18:26] evantahler commented on #11079
Closing as current versions of Airbyte do not use the scheduler - we use Temporal now job orchestration.

[2022-08-10 18:26] #11079 closed

[2022-08-10 18:35] marcosmarxm commented on #15476
It is possible @yash-ghelani-dsw could you check the Source database and see if its resources are Ok and no error is throw when reading it? Also if it's possible to increase the memory to test the sync would be nice.

[2022-08-10 18:46] marcosmarxm opened #15523 "Support for Kubernetes 1.24+"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1895](https://airbyte7538.zendesk.com/agent/tickets/1895)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">We’re starting planning for upgrading our kubernetes cluster to version 1.24 and realized th

[2022-08-10 18:47] marcosmarxm commented on #15523
*Comment made from Zendesk by Marcos Marx on 2022-08-10 at 18:46:*

<blockquote><div class="zd-comment" dir="auto">I created Github issue <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15523">https://github.com/airbytehq/airbyte/issues/15523</a> to implement this. Any updates I'll return to you.<br></div></blockquote>

[2022-08-10 19:10] marcosmarxm opened #15524 "Source Exhange Rate API: Invalid API Access key"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1476](https://airbyte7538.zendesk.com/agent/tickets/1476)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Nataly Merezhuk

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi all,<br>
have a setup of 0.39.32-alpha on Docker and MacOS locally, trying to test ou

[2022-08-10 19:11] marcosmarxm commented on #15524
*Comment made from Zendesk by Marcos Marx on 2022-08-10 at 17:04:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I’m having the same issue. Generated an API Key in apilayer etc. curl does not work. I went and checked the live demo and seems like the api now goes via apilayer</p>
<pre style="max-width: 694px; word-wrap: break-word;"><code style="background-color: #f9f9f9; display: b

[2022-08-10 19:11] marcosmarxm commented on #15524
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-10 at 18:19:*

<blockquote><div class="zd-comment" dir="auto">Got it, thanks for posting @dlobo. Looks like the Exchange Rate API might have been acquired by API Layer. I'll go ahead and escalate this to a GitHub issue! If you or @rainers24 would like to submit a PR, please feel free. I think this would be a simple fix.<br></div></blockquote

[2022-08-10 19:14] marcosmarxm opened #15525 "Print what streams have errors in `test_additional_properties_is_true`"
https://github.com/airbytehq/airbyte/blob/f540499f4320ba3719640bfa7383b0d89ddf4438/airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py#L322-L333

This test only output the message `When set, additionalProperties field value must be true for backward compatibility.` when some number X of streams have the additionalProperty validation error. Would be better to

[2022-08-10 19:15] marcosmarxm commented on #15524
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-10 at 19:14:*

<blockquote><div class="zd-comment" dir="auto">Here is the link to the issue:<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15524">https://github.com/airbytehq/airbyte/issues/15524</a><br></div></blockquote>

[2022-08-10 19:17] natalyjazzviolin commented on #15498
Hi @yagehu, thank you for bringing this to our attention! I have triaged it to the appropriate team!

[2022-08-10 19:19] natalyjazzviolin commented on #15507
I will need some time to create a list of clear pointers, but this would be a good place for your engineer to start:
https://docs.airbyte.com/connector-development/tutorials/building-a-python-source

[2022-08-10 19:37] philippeboyd commented on #15410
@ajatau yes, it's possible.

navigate inside the postgresql container with `docker exec -ti airbyte-db psql -U docker -d airbyte`

From there you'll be able to get the states from the `state` table

[code]

Then simply manually update the state
[code]

Just make sure the state that you see in the UI is wrapped with the field `state` in the database such as `{"state":<STATE_OBJ_HERE>}`.

[2022-08-10 19:40] vijaybridgeme commented on #15507
Seems more complicated than I thought. We won't be able to contribute in the short term.

The best way is to have a commit with similar change.. so devs can have something as a reference. Without that, it will be very steep learning curve to contribute.

[2022-08-10 20:02] #15427 closed

[2022-08-10 20:04] #15417 closed

[2022-08-10 20:08] natalyjazzviolin commented on #15415
Hey @pavneet9 , timeout periods can be configured using environmental variables, more here:
https://docs.airbyte.com/operator-guides/configuring-airbyte/

I don't think the issue is in the amount of time Airbyte alots to the stream, unfortunately. Looks like there was an issue with this stream being empty - it's unclear whether it's been fixed:
https://github.com/airbytehq/airbyte/issues/7414

[2022-08-10 20:54] philippeboyd commented on #15437
@ajatau see my [comment](https://github.com/airbytehq/airbyte/issues/15410#issuecomment-1211182215) on your other issue

[2022-08-10 21:22] evantahler commented on #3990
I think I initially missed the nuance even the refresh token was to expire eventually.  That means that this is likely not like source-hubspot. I don't believe we need a new message in the Airbyte Protocol for this, and we can re-use our existing config messaging (`ConfiguredAirbyteCatalog`).
* The platform change would be that these messages, should they appear within a sync from a source, are pe

[2022-08-10 22:04] ryankfu opened #15527 "HikariPool Timeout Issue Investigation"
## Current Behavior
HikariPool timeout has been occurring for a variety of users leading to questions about whether it's a user configuration error (likely the case) or something that is failing on Airbyte's end

## Expected Behavior
Even if the failure is occurring as a result of the user's configuration isn't set up there should be clearer information on what the issue is. For instance is the co

[2022-08-10 22:17] yagehu commented on #15498
Great! A quick note is this is only reproducible on ARM64 Linux and not M1 Macbooks presumably because of Rosetta.

[2022-08-10 22:18] vijaybridgeme commented on #15507
I see "conversion" and "conversion_values" which is a JSON, in Airbyte tables.  But in two sources we have connected, I don't see values. Can you please confirm that Airbyte downloads them?

They show up like this in FB Ads Manager.

<img width="1423" alt="Screen Shot 2022-08-10 at 5 17 28 PM" src="https://user-images.githubusercontent.com/68248308/184030196-cce21441-9064-4ff7-95c6-26a8a1df9e91.pn

[2022-08-10 22:22] yagehu commented on #15498
Simplest repro:

1. Spin up an ARM64 EC2 instance
2. Install docker
3. `docker pull airbyte/normalization`
4. Docker run it.

[2022-08-10 22:25] GabrielGLevine commented on #5091
Is anyone aware of a workaround for this?

[2022-08-10 22:54] rodireich opened #15529 "Refactor client certificate code on source-mysql and source-postgres"
connectors that need to support client certificate authentication would share a large part of their source.
In addition the nature of dealing with private key information (password) makes it essential to minimize duplication and use a single and optimized implementation for certificate handling.

The goals of refactoring are:

1. Unify as much as we can the code used for support of client certific

[2022-08-10 23:16] YowanR opened #15530 "Source Amplitude : Frequent Out of Memory Errors (OOM)"
## Tell us about the problem you're trying to solve
It seems that our Amplitude has run into multiple out of memories errors recently.
See [here](https://github.com/airbytehq/oncall/issues/340) and [here](https://github.com/airbytehq/oncall/issues/385)

## Describe the solution you’d like
We should investigate the Amplitude source connector and make sure that these errors are one-offs and not inhe

[2022-08-10 23:19] sivankumar86 commented on #5870
It seems, Facing same issue in latest version of airbyte (0.39.42-alpha) . I am using sql server (msssql) connector. Retry gets success and i am handling duplicate using dbt. job in snowflake

Error:

2022-08-10 22:17:50 INFO i.a.w.p.KubePodProcess(destroy):662 - (pod: product-analytics / source-mssql-read-16787-0-jgvhm) - Destroying Kube process.
2022-08-10 22:17:50 INFO i.a.w.p.KubePodProcess(cl

[2022-08-10 23:56] girarda opened #15531 "[SAT] test_backward_compatibility raises an IndexError when updating additionalProperties from false to true"
## Current Behavior
Updating a spec's `additionalProperties` field from false to true causes the backward compatibility test to fail with an IndexError.

Stacktrace:
[code]

[2022-08-11 02:51] girarda opened #15536 "Make GL operationally autonomous"
[place holder epic]

[2022-08-11 02:53] girarda opened #15537 "Enable GL to replay syncs in Workspaces"

[2022-08-11 05:01] rodireich commented on #6985
Duplicate of #4599

[2022-08-11 05:01] #6985 closed

[2022-08-11 05:39] davinchia commented on #3990
A. At the end of the sync, the connector could re-emits the configured catalog with any changes, and the platform stores that for next time
B. Every time there's an update to the config, the connector could re-emits the configured catalog with any changes, and the platform stores that for next time

I might be mis-remembering so take with a grain of salt.

I don't think we have a message type with

[2022-08-11 06:03] sherifnada commented on #3990
2c: keep in mind this would also need to work with secret obfuscation mechanics

[2022-08-11 06:05] peter279k commented on #7011
I also have the same problem about unused `_airbyte_tmp_*` tables.

I cancel the one of scheduled job because it runs for about whiles. And these above tables are presented since then.

Should I clean them safely with running the SQL?

[2022-08-11 06:56] sherifnada commented on #15537
I created a duplicate @girarda and moved to a separate repo, so closing this one in favor of https://github.com/airbytehq/airbyte-cloud/issues/2339

[2022-08-11 06:56] #15537 closed

[2022-08-11 07:59] harshithmullapudi opened #15539 "Source Amazon seller partner: Add support for GET_SALES_AND_TRAFFIC_REPORT"
## Tell us about the problem you're trying to solve
Pull report GET_SALES_AND_TRAFFIC_REPORT for Amazon seller partner

[2022-08-11 08:03] harshithmullapudi opened #15540 "Form is expecting values for optional fields also."
## Environment
- **Airbyte version**:  0.39.28-alpha
- **Instance**: Cart instance
- **Source Connector and version**:Google ads
- **Step where error happened**: When we remove an existing end_date value

## Current Behavior
When we have configured end _date for a google_ads connection and later want to update it to empty, it breaks while checking for connection status

## Expected Behavior
It sho

[2022-08-11 08:04] octavia-squidington-iii commented on #15540
cc @airbytehq/frontend

[2022-08-11 08:42] grubberr commented on #5537
@muutech

I have published `airbyte/source-file:0.2.17`
can you please check **transfer.sh** problem on your side?

[2022-08-11 09:32] lizdeika opened #15542 "Updated normalization version for postgres destination #15397 broken"
## Environment
- **Airbyte version**:  example is 0.40.0-alpha
- **OS Version / Instance**: AWS EC2 x86_64
- **Deployment**: Docker
- **Source Connector and version**: 3PL Central 0.1.0, Linnworks 0.1.5
- **Destination Connector and version**: Postgres 0.3.21
- **Step where error happened**: Sync job

## Current Behavior
https://github.com/airbytehq/airbyte/pull/15397
Updating to airbyte 0.40.0 br

[2022-08-11 10:10] ycherniaiev commented on #14943
@harshithmullapudi i've requested sandbox but still no answer

[2022-08-11 11:40] jan-benisek opened #15546 "Source MySQL: `The connection tests failed. non-json response`"
## Environment
- **Airbyte version**:  example is 0.39.35-alpha
- **OS Version / Instance**: deployed on EKS
- **Deployment**: deployed on EKS
- **Source Connector and version**:  MySQL 0.6.1
- **Destination Connector and version**:  NA
- **Step where error happened**: set up new source

## Current Behavior
When I fill in the connection details and click "Set up source"

## Expected Behavior
Shoul

[2022-08-11 11:43] userbradley commented on #13081
Thanks @Santhin - The links you've provided (well at least this [one](https://cloud.google.com/kubernetes-engine/docs/tutorials/authenticating-to-cloud-platform#config-connector), and [this one ](https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/blob/31eb25ddfe20a8d38fd67e44bff9d5f16b6a503b/cloud-pubsub/deployment/pubsub-with-secret.yaml) ) are still using the `key.json` file

Can y

[2022-08-11 11:52] marcosmarxm commented on #15540
This is a duplicated issue.

[2022-08-11 11:53] harshithmullapudi commented on #15540
I didn't find any when I checked maybe it's in a different way. Could you help me link it ?

[2022-08-11 12:13] alexander-marquardt commented on #15158
I have documented a process that may be used to guarantee _exactly once_ delivery here: https://www.elastic.co/blog/how-to-keep-elasticsearch-synchronized-with-a-relational-database-using-logstash

[2022-08-11 12:17] jan-benisek opened #15547 "Source Braintree: connection fails to sync subscription and transaction streams"
## Environment
- **Airbyte version**:  0.39.35-alpha
- **OS Version / Instance**: -
- **Deployment**: EKS
- **Source Connector and version**: Braintree 0.1.3
- **Destination Connector and version**: s3 0.3.13
- **Step where error happened**:Sync job

## Current Behavior
- Some data are synced: `customer_stream`, `discount_stream`, `dispute_stream`, `merchant_account_stream`, `plan_stream`
- then i

[2022-08-11 12:25] alafanechere opened #15549 "SAT: make conditional raising consistent in unit tests"
## Tell us about the problem you're trying to solve
I suggest using the same conditional raising approach on the parametrized unit tests.

## Describe the solution you’d like
The most common existing approach is something like:
[code]

I'd suggest refactoring these test to something like
[code]

I find this approach better for the following reason:
* You can easily define multiple types of expecte

[2022-08-11 12:34] DoNotPanicUA opened #15550 "E2E Testing Tool : Configure the new project in a separate repository"
## Tell us about the problem you're trying to solve
Configure the new project in a separate repository

## Describe the solution you’d like
[Created repository](https://github.com/airbytehq/airbyte-e2e-testing-tool)

[2022-08-11 12:35] #15550 closed

[2022-08-11 12:51] alafanechere opened #15551 "SAT: decouple code structure from `acceptance-test-config.yaml` structure"
## Tell us about the problem you're trying to solve
The `pytest_generate_tests` is tweaking the default pytest discovery to run tests according to the content of `acceptance-test-config.yaml`.
E.G: If `acceptance-test-config.yaml` has a `spec` key, the tests from the `TestSpec` class will be run.
This creates a big coupling of the configuration structure and the test code organization. In the long

[2022-08-11 12:53] #15439 closed

[2022-08-11 13:07] marcosmarxm opened #15552 "New Source: Fauna need sandbox account"
## Tell us about the problem you're trying to solve
PR adds https://github.com/airbytehq/airbyte/pull/15274 Fauna Source. Need sandbox account / credentials to test it.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any

[2022-08-11 13:09] marcosmarxm opened #15553 "Sandbox account for Yandex Metrica"
## Tell us about the problem you're trying to solve
PR https://github.com/airbytehq/airbyte/pull/15061 adds Yandex Metrica and credentials are needed to run tests.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alter

[2022-08-11 13:11] alafanechere opened #15554 "SAT: tests calling `pytest.fail()` are not easily testable"
## Tell us about the problem you're trying to solve
When a SAT tests calls `pytest.fail()` it stops the test execution, but it also stops the execution of the unit test testing it.

## Describe the solution you’d like
Raise explicit exceptions that can be detected by `pytest.raises` in the unit test.

## Describe the alternative you’ve considered or used
It's possible to mock `pytest.fail` and ass

[2022-08-11 13:48] alafanechere opened #15555 "Secret store: keep the connector version along with their test config"
## Tell us about the problem you're trying to solve
* `/test` command reads GSM to retrieve the sandbox configuration for a current connector in the CI.
* If a PR changes the connector specification, we need to update the current secret in GSM according to the new specification to run `/test`.
* This temporarily makes the GSM config invalid for the connector version kept on master and can break th

[2022-08-11 14:06] #13269 closed

[2022-08-11 14:43] suman9730 commented on #15470
I had to create a new namespace tied with a ec2 nodegroup and it worked. Thanks so much for your help.

[2022-08-11 14:43] #15470 closed

[2022-08-11 16:02] edmundito commented on #10110
@andyjih this issue has been open for a while. Could you re-review and see if this is something that is ready to implement?

[2022-08-11 16:02] Phlair opened #15559 "Automate closing sentry incidents when github issues are closed"
## Tell us about the problem you're trying to solve
Currently Sentry issues are left mostly left unresolved. It is a manual step to close them on top closing the github issue in oncall.

## Describe the solution you’d like
Automate so that closing Github issues automatically closes linked Sentry issues.

## Describe the alternative you’ve considered or used
Doing it manually. Having this process i

[2022-08-11 16:22] cgardens commented on #15158
We should definitely be hitting _at least once_ guarantee.

@alexander-marquardt I agree. Looking at this code snippet, it looks like we are not meeting that. Feels like a bug. I'm trying to remember why we did this. The only explanation I can imagine is that we said that the contract was that that the cursor in the state should only represent values that we can guarantee were _fully_ present. e.g

[2022-08-11 16:40] grubberr commented on #4926
This provider requires authorization!!!
Even to access public shared-links via API we need to authorize.

**User Authentication Oauth2.0** - this type of authorization has one huge limitation. Access Token - works only 1 hour , Refresh Token can be used only once. Because we cannot re-save refresh-token
connector will work only 2 hours.

our spec can have:

client_id
client_secret
refresh_token
ac

[2022-08-11 16:43] misteryeo commented on #15539
**Issue was linked to Harvestr Discovery:**  [Source Amazon Seller Partner: Add support for GET_SALES_AND_TRAFFIC_REPORT](https://app.harvestr.io/components/0/list/-qYVJZ8F1)

[2022-08-11 16:49] YowanR commented on #4926
@grubberr This work is an enhancement and we've decided not to implement it at this time and focus on other higher priority items. @lazebnyi as FYI

To answer your question, since this involves refresh tokens, the team will be working on a solution for this as soon as possible. Tracked here: #3990

[2022-08-11 16:51] alexander-marquardt commented on #15158
Also, it  is probably worth noting that (as far as I can tell), the normalization code will deduplicate in the event that the same document is sent twice -- so while >= could in some cases result in duplicate documents being sent and stored in the raw tables, in theory it should not result in duplicates in the normalized data.

But I think this can also be solved using the method I documented in t

[2022-08-11 16:56] gosusnp commented on #8450
Closed in favor of issue #11869

[2022-08-11 16:56] #8450 closed

[2022-08-11 17:06] #11431 closed

[2022-08-11 17:21] #14484 closed

[2022-08-11 17:24] sherifnada opened #15564 "Update SAT reference with backwards compatibility configs + send out communications"

[2022-08-11 17:25] edgao commented on #5022
some WIP notes:
* need to figure out how to handle xmin wraparound. Fivetran docs have a few cases where they force a full resync, and I suspect we'll need to support those as well
* need to check if normalization needs the cursor values, or if we can filter out xmin entirely. IIRC incremental+deduphistory uses the cursor (which makes sense) so might need to add special handling for it

[2022-08-11 17:33] sherifnada commented on #11595
Potentially one promising direction here is to use the `export` functionality of the intercom API. More information here: https://developers.intercom.com/intercom-api-reference/reference/export-job-model

[2022-08-11 17:40] brianjlai opened #15565 "Fix publish and deploy of forked connectors causing blockers for Cloud deployments"
Currently, while deploying connectors that are forked off of another like `source-file-secure` being a fork of `file-secure`, forgetting to publish the former will cause Cloud deploys to fail because it won't find the latest image. Speaking generally, the versions of both connectors need to remain in sync.

Slack thread for context:
https://airbytehq-team.slack.com/archives/C03A8CSANPQ/p1659976197

[2022-08-11 18:02] #14766 closed

[2022-08-11 18:02] #15472 closed

[2022-08-11 18:14] gosusnp opened #15567 "Provide a way to clean up old data (logs)"
## Tell us about the problem you're trying to solve
We no longer clean up data which can cause [space issues](https://discuss.airbyte.io/t/unsure-how-to-set-workspace-retention-variables-correctly-in-docker-based-deployment/2200).

It was part of the old scheduler, it has been removed temporarily and is planned to be migrated (#11869)
As a result, until that is done, we no longer offer a way to pr

[2022-08-11 18:46] midavadim commented on #15230
The task is put on hold, because of oauth limitation in spec file

[2022-08-11 18:52] tuliren commented on #15158
@alexander-marquardt, I am working on this in this issue: https://github.com/airbytehq/airbyte/issues/14732

We have considered the approached you wrote about. However, it does not work for us because the cursor field is not necessary a modification time. We allow users to use all kinds of fields as the cursor field (e.g. primary key). So the `< NOW()` trick does not apply.

The problem of using `

[2022-08-11 18:54] Santhin commented on #13081
Exactly this was the wall for me on how to use workload identity using `key.json` but the solution was to use Fleet workload identity which gives you the possibility to generate access token from Kubernetes service account.

Firstly u need to create sa:
[code]
I tested with a different name and `account_id` must match the account used inside helm chart which is `airbyte-admin`

Now we need to crea

[2022-08-11 19:27] #15542 closed

[2022-08-11 19:30] tealjulia commented on #15515
I believe #14583 is a related bug.

[2022-08-11 19:46] alexander-marquardt commented on #15158
@tuliren - it sounds like you have worked around the known limitation documented https://docs.airbyte.com/understanding-airbyte/connections/incremental-deduped-history/#known-limitations.

If so, it sounds like our docs should be updated. Do you agree?

CC: @Amruta-Ranade

[2022-08-11 19:47] dizel852 commented on #15371
I did some research and found out that adding the "Refresh Source Schema" Button back to Create page won't fix the issue we have.

https://loom.com/share/0ddfb0dd91ed466fb51c97cf2f4c0db1

As you can see, "Refresh schema" button doesn't actually refresh the schema, but if we will do so for the existing connection - it does.

Problems I see:
1. `api/v1/sources/discover_schema` request doesn't actual

[2022-08-11 19:50] ktstowell opened #15569 "Source Monday.com: update in Items stream needs to use item id to request"
## Environment
- **Airbyte version**:  0.39.42-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Monday, 0.1.4
- **Destination Connector and version**: Postgres, 0.3.21
- **Step where error happened**: Sync Job

## Current Behavior
I am hitting [Monday.com rate limits](https://api.developer.monday.com/docs/rate-limits) upon attempting to sync t

[2022-08-11 19:51] tuliren commented on #15158
I think the main limitation still exists after the new implementation:

If the cursor field is not changed, we still won't be able to detect that using the ordinary incremental mode (non-cdc).

[2022-08-11 19:57] alexander-marquardt commented on #15158
You are right - I totally mis-read what was being mentioned as a limitation in the docs, and assumed that it was the potential for missing some records ...

However, given the optimization that you are referring to , is seems like the example given in the docs that state that the query is `select * from table where cursor_field > 'last_sync_max_cursor_field_value'` is not quite accurate ... althou

[2022-08-11 20:12] animer3009 opened #15571 "Source Amazon Ads: `Asins reports not available to Vendors`"
## Environment
- **Airbyte version**:  0.40.0-alpha
- **OS Version / Instance**:  Ubuntu 22.04, GCP
- **Deployment**: Docker
- **Source Connector and version**: Amazon Ads 0.1.12
- **Destination Connector and version**: BigQuery 1.1.14
- **Step where error happened**: Amazon Ad Source Connector Issues

## Current Behavior
So we are facing two issues on time using Amazon Ad Source Connector.
1) For

[2022-08-11 20:19] terencecho commented on #15265
Commenting to share that the cloud platform team is interested in this ticket!

Most of the acceptance tests for running syncs only run in OSS right now, and the cloud team is trying to port over some of them to run on the cloud repo (along with testing other things like credits/auth permissioning). The initial attempt was to do an almost 1:1 copy of the OSS basic acceptance tests regarding testin

[2022-08-11 20:39] krishnaglick opened #15572 "Make Eslint prevent relative parent imports"
After a discussion around importing issues we concluded we should prevent relative imports upwards, they should be absolute.

`import en from "../../../../locales/en.json";`
to
`import en from "locales/en.json";`

1. Install this eslint plugin: https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-relative-parent-imports.md
2. Update appropriate places

[2022-08-11 20:39] octavia-squidington-iii commented on #15572
cc @airbytehq/frontend

[2022-08-11 21:20] #13096 closed

[2022-08-11 21:20] sherifnada opened #15574 "Remove the `name` property from HTTPRequester and other CDK components"
## Tell us about the problem you're trying to solve
The `name` property is confusing for a developer; i'm not sure what it does or why i need to fill it out.

## Describe the solution you’d like
Remove the `name` property from HttpRequester and other classes which don't need it

[2022-08-11 21:28] sherifnada opened #15575 "Rename `limit_option` in `LimitPaginator` to match `page_size`"
## Tell us about the problem you're trying to solve
I think the `limit_option` is just how you determine what to do with `page_size`. But the fact that they have different names is a bit confusing.

## Describe the solution you’d like
Rename `limit_option` to `page_size_option` and maybe move `page_size` definition into that block? @girarda would be curious if you have opinions

[2022-08-11 21:48] marcosmarxm commented on #15569
Let me know if you need any assistance with the PR @ktstowell

[2022-08-11 21:55] girarda opened #15576 "CDK debug logs not always redacting secrets"
## Current Behavior
Context: https://github.com/airbytehq/airbyte/pull/15027#discussion_r943042568

The debug logs don't always redact secrets, which means there's a risk of leaks.

## Expected Behavior
We should always scrub secrets from the logs

[2022-08-11 21:57] krishnaglick commented on #14226
@edmundito What test creds were being used? I can't find the right account.

[2022-08-11 21:58] girarda opened #15577 "connector developers shouldn't need python to build low-code connectors"
## Current Behavior
It should be possible for connector developers to implement a test low-code connectors without python

This might only be a matter of mounting the local files when executing the docker run commands so they don't have to always rebuild the image and update the documentation + tutorial

[2022-08-11 22:02] girarda commented on #15575
100% agreed.
It might also make sense to remove the url_base from the paginator and let the retriever select the path from it https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/limit_paginator.py#L109-L110

[2022-08-11 22:05] girarda commented on #15575
`limit_option` and `page_token_option` should either be optional, or we should provide another paginator specific to cursor pagination that does not specify a page size

[2022-08-11 22:21] tealjulia commented on #14813
I just tried this out in the UI and the only times I see the button disabled are when I change to an ssl method that requires additional fields to be filled out (ie: `verify-ca`).  Then, even if I disable the `ssl` option, I am still unable to retest/save the connector without filling in the fields required by `verify-ca`.

@grishick does this sound like what you were seeing too? It seems that it

[2022-08-11 22:59] sherifnada commented on #14293
Sentry does not support oauth as far as I can tell: https://docs.sentry.io/product/integrations/integration-platform/#internal-integrations so I don't think we need this ticket

cc @YowanR

[2022-08-11 23:24] girarda opened #15581 "[low-code connectors] Rename the $options to something more meaningful"
## Tell us about the problem you're trying to solve
`$options` is used to pass down properties to subcomponents without having to redefine the values to keep things DRY.

The keyword however doesn't mean much. We should rename it to a keyword that is less overloaded and/or more meaningful.

## Describe the solution you’d like
From very brief discussion with Sherif and Brian, we're leaning towards

[2022-08-11 23:35] #14845 closed

[2022-08-12 00:14] #9220 closed

[2022-08-12 00:56] brianjlai opened #15585 "Source Stripe: Add more detail around stream permissions"
### Tell us about the documentation you'd like us to add or update.
On Sentry we've been seeing a handful or errors where customers are configuring their Stripe connector w/ accounts that don't have enough permissions to sync certain streams. We might want to make it more clear what sets of permissions they need so they don't go through with the sync process that will end up failing.

### If appli

[2022-08-12 03:16] peter279k commented on #13906
I also got the same issue using the source CSV file to sync the destination ClickHouse.

After running the 20+ times for the destination ClickHouse, it always is failed.

I'm not sure why this issue is happened to the above connection.

[2022-08-12 07:10] igrankova commented on #14293
@sherifnada
What about this? https://docs.sentry.io/product/integrations/integration-platform/public-integration/#oauth-process
![image](https://user-images.githubusercontent.com/87977540/184303034-2cd486f4-f1bf-45b8-b7b1-921617748261.png)

cc @YowanR

[2022-08-12 07:45] alafanechere commented on #15564
✅ Sent internal communication to appropriate channels

[2022-08-12 07:55] persunde opened #15589 "MySQL destination connector not working with MariaDB after bugfix"
## Environment
- **Airbyte version**:  0.39.37-alpha
- **OS Version / Instance**: Ubuntu 22.04
- **Deployment**: Docker
- **Destination Connector and version**: MySQL, any version
- **Step where error happened**: Normalize

Bug(?) / Error introduced by this commit
https://github.com/airbytehq/airbyte/commit/ddc065e9ce7dc3c616d67e6e4ea9587f0b934720
For this file:
https://github.com/airbytehq/airbyt

[2022-08-12 08:34] alafanechere commented on #14547
@sherifnada this SAT test was added in https://github.com/airbytehq/airbyte/pull/14800 (sorry I forgot I already wrote this test while we were planning the sprint)

[2022-08-12 09:36] mfsiega-airbyte opened #15593 "Cron string: make supported timezones available to frontend"
See conversation in https://github.com/airbytehq/airbyte/issues/11431 for context.

[2022-08-12 11:21] matter-q opened #15594 "An Alert banner should be placed on the top of the screen"
An Alert banner should be placed on the top of the screen

Current behavior:
Alert banner placed above the content

Expected behavior:
Should be placed on the top of the screen and do not overlap content

![image.png](https://images.zenhubusercontent.com/62beeb7e8ea880aea38f18ed/b22c0b4c-ce06-4049-8cb8-22129f273b8b)

[2022-08-12 11:21] octavia-squidington-iii commented on #15594
cc @airbytehq/frontend

[2022-08-12 11:26] dizel852 commented on #15515
@tealjulia oh yeah, thanks! Will close it as a duplicate of [#14583](https://github.com/airbytehq/airbyte/issues/14583) 👍🏻

[2022-08-12 11:26] #15515 closed

[2022-08-12 11:27] #14583 closed

[2022-08-12 12:29] arsenlosenko commented on #13088
Waiting for the response from user, will take this ticket back to work either after response, or when I have completed my current tasks

[2022-08-12 13:33] tealjulia opened #15598 "ServiceForm should show relevant error messaging"
Currently, on the ServiceForm component used for connector creation/editing, we disable the "Retest" and "Retest and Save" buttons if the form is invalid.

However, this prevents users from seeing relevant error messaging about why the form is invalid.

This has caused confusion, including in #14813

We should:
(a) Not disable the button for an invalid form
(b) Check that all fields show a relevan

[2022-08-12 13:33] #15168 closed

[2022-08-12 13:33] octavia-squidington-iii commented on #15598
cc @airbytehq/frontend

[2022-08-12 13:35] luccafialho commented on #8473
Hi everyone! I've experiencing the same problem on Source Connector V 2.20/2.22. You expect to fix it on next release or am I probably doing something wrong?

[2022-08-12 13:38] tealjulia commented on #14813
So two things are going on here:
(1) I've created #15598 as that button should never be disabled as it prevents users from seeing relevant error messaging on their form

(2) @grishick for this particular case, the reason the form is "invalid" is because the oneOf for `ssl-mode` doesn't have the required sub-fields filled out. This form follows exactly what is in the `spec.json` for the connectors.

[2022-08-12 13:44] zczhuohuo commented on #15352
I came across the same issue too. Clickhouse normalization consume way too much memory.

[2022-08-12 13:52] krishnaglick opened #15599 "Connection Page - Steps Menu can get out of sync after refresh"
This is probably a very unlikely edge case but when you're creating a Connection and you refresh the page, the Steps Menu won't correctly restore its location if you're on the Create Destination portion.

[2022-08-12 13:52] octavia-squidington-iii commented on #15599
cc @airbytehq/frontend

[2022-08-12 14:03] marcosmarxm commented on #15567
Zendesk ticket #[1884](https://airbyte7538.zendesk.com/agent/tickets/1884) has been linked to this issue.

[2022-08-12 14:04] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-08-12 at 14:04:*

<blockquote><div class="zd-comment" dir="auto">Looks this feature was removed with the Scheduler. A ticket was created in Github <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15567">https://github.com/airbytehq/airbyte/issues/15567</a> any updates I'll return to you. Today as a workaround you need

[2022-08-12 14:08] Santhin opened #15601 "Possibility to use octavia with secret menager that is mounted inside airbyte deployment"
## Tell us about the problem you're trying to solve
Use octavia cli with mounted google secret manager to deployed airbyte

Docs for reference:
[code]

## Describe the solution you’d like
Rather than using local .octavia file try to use google manager secret mounted to deployed airbyte

## Describe the alternative you’ve considered or used
For alternative deploy octavia cli with airbyte and pull a

[2022-08-12 14:14] #15381 closed

[2022-08-12 14:14] tealjulia opened #15603 "Create ConnectionFormService and migrate Connection workflow to use it"
Currently, there are a number of methods for getting, changing, and sending the connection object during connection creation and editing.  The goal is to get all of that logic within one Service that can be utilized from within the Connection Form.

Create a `ConnectionFormService` that returns methods for and migrate existing calls to use it.

This should be sure to include:

Creating:
- Generati

[2022-08-12 14:15] octavia-squidington-iii commented on #15603
cc @airbytehq/frontend

[2022-08-12 14:16] subodh1810 commented on #14628
Am closing this cause we have fixed MySQL and Postgres. Also going to re-estimate it. This took longer than expected. WE merged 4 big PRs to fix the two sources. Making sure CDC and non-CDC output was the same was more challenging than expected. Will file separate issues for other db sources

[2022-08-12 14:16] #14628 closed

[2022-08-12 14:16] davydov-d opened #15604 "Connector build report: debug and fix"
The connector build report posts out of date build fails from time to time.
For instance, today's report contains same two failed builds it contained yesterday:

![image](https://user-images.githubusercontent.com/7703835/184368515-d455ed77-1f31-44c7-9f01-6f5fee886f29.png)

https://github.com/airbytehq/airbyte/actions/runs/2839336038
https://github.com/airbytehq/airbyte/actions/runs/2839339849

Bot

[2022-08-12 14:17] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-08-12 at 14:17:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thanks, that’s excellent info! Will keep an eye on that issue. In the meantime I’ve done exactly that (a systemd timer and a cleanup script, but it’s a bit too hacky).</p>
<blockquote style="background-color: #f8f8f8; border-left-color: #e9e9e9; border-left-style: solid;

[2022-08-12 14:18] tealjulia opened #15605 "Migrate Connection-related analytics calls to CreationFormService"
Any remaining analytics calls that were not migrated during the creation of the `CreationFormService` should now be migrated.

[2022-08-12 14:18] octavia-squidington-iii commented on #15605
cc @airbytehq/frontend

[2022-08-12 14:22] tealjulia opened #15606 "Rearchitect Connection Forms"
In order to simplify the rendering of the Connection Form in both create and edit mode.

- `ConnectionForm` becomes `ConnectionFormFields`
- `RefreshSourceSchemaControl` now becomes its own component, directly implementing methods from the hook (currently, this refresh action is called at the `ReplicationView` level)
  - How the the source schema is refreshed (this should be able to be called from

[2022-08-12 14:22] octavia-squidington-iii commented on #15606
cc @airbytehq/frontend

[2022-08-12 14:24] tealjulia opened #15607 "Migrate Connection update calls to use PATCH endpoint"
Currently, we send the entire connection object including the entire syncCatalog on our Update calls.  Once we are able to use PATCH calls, we should only send the minimum needed information to identify and update the record.

This will be coordinated with the Platform team implementing the new API endpoint.  Create calls will continue to use POST.

[2022-08-12 14:24] #15594 closed

[2022-08-12 14:24] octavia-squidington-iii commented on #15607
cc @airbytehq/frontend

[2022-08-12 14:59] igrankova commented on #15003
Received access to the GA account

[2022-08-12 14:59] #15003 closed

[2022-08-12 15:07] igrankova opened #15608 "Research Harvest source connector"
## Complete the following exercise for Harvest source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-08-12 15:08] tealjulia opened #15609 "Migrate other children of ConnectionItemPage to use ConnectionFormService"
Now that we have the ConnectionService, ConnectionItemPage and its children can be refactored to implement it rather than passing the connection object/connection id directly.

[2022-08-12 15:08] octavia-squidington-iii commented on #15609
cc @airbytehq/frontend

[2022-08-12 16:19] gautam-ergo opened #15611 "Destination Bigquery: normalization error file not found `/config/profiles.yaml`"
## Environment
- **Airbyte version**:  0.39.42-alpha.
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: [AKS] Kubernetes on Azure
- **Source Connector and version**: Postgres 1.0.2
- **Destination Connector and version**: BigQuery 1.1.14
- **Step where error happened**:  Sync job

## Current Behavior
Normalization Failed.

## Expected Behavior
Synchronization done successfully with the c

[2022-08-12 16:27] sajarin opened #15612 "Source Okta: Add rate limiting for logs stream"
## Tell us about the problem you're trying to solve
The log stream for Okta was deleted in this [PR](https://github.com/airbytehq/airbyte/pull/14700) as it kept running into rate limits, which broke some tests (specifically the two sequential reads for the full refresh tests)

## Describe the solution you’d like
Not sure what the best way to address this but some sort of rate limiting mechanism is

[2022-08-12 16:29] SofiiaZaitseva opened #15613 "Source/Destination/Last sync/Status data disappeared from destination/source overview grid when one of destination/source was dropped"
## Environment
- **Airbyte version**:  0.39.34-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Step where error happened**: Update connector

## Current Behavior
Deleted source disappeared from grid. Source, Last sync, Status for existing sources doesn't appeared.
<img width="1329" alt="Screenshot 2022-08-12 at 18 25 07" src="https://user-images.githubusercontent.com/10875138

[2022-08-12 16:29] octavia-squidington-iii commented on #15613
cc @airbytehq/frontend

[2022-08-12 16:37] YowanR commented on #14055
LGTM -- thank you!

[2022-08-12 16:38] tealjulia commented on #15613
Noting that there's a duplicate of this issue in cloud (https://github.com/airbytehq/airbyte-cloud/issues/2341)

[2022-08-12 16:42] bazarnov opened #15614 "🎉 Source Harvest: Update `releaseStage` to `beta`"

[2022-08-12 16:51] sajarin commented on #15410
Thanks Philippe for the workaround. @ajatau, can you confirm that you're able to manually update the state?

[2022-08-12 16:51] jorge-gt3 commented on #9784
Let me know if there is anything I can do to help solve this issue. We are able to replicate it consistently. We are able to pull over a million records from small tables, but the moment we tap on a large table, the process fails randomly with the same error. We've tried updating server timeouts and JDBC parameters, and we have seen the job takes longer to fail, but still fails with the same error

[2022-08-12 16:52] #15608 closed

[2022-08-12 16:59] sajarin commented on #9784
@jorge-gt3 could you share how big your large tables are?

[2022-08-12 17:00] YowanR commented on #6186
What's the latest on this one, please? Still waiting for Okta to get back to us? @igrankova

[2022-08-12 17:02] sajarin commented on #14779
Hey @bigdatawonders, sorry about the delay. I haven't been able to devote much time to this but will prioritize it next week. Thanks for reminding me!

[2022-08-12 17:08] #15614 closed

[2022-08-12 17:09] #14055 closed

[2022-08-12 17:16] philippeboyd opened #15617 "`The supplied date/time format type does not match the specification, expected: date` on some columns when syncing Snowflake -> Snowflake"
Decided to create an issue regarding Snowflake Source/Destination not respecting date type based on my comment on the PR #14828

It seems we now  get `The supplied date/time format type does not match the specification, expected: date` on some columns when syncing Snowflake -> Snowflake

Using `source-snowflake:0.1.15`

[code]

Could this be linked to the PR?

_Originally posted by @philippeboyd i

[2022-08-12 17:24] sophia-wiley opened #15618 "Per-stream state for OSS"
Work with Ryan Fu to incorporate per-stream state documentation into OSS docs.

When he is done writing content, start editing sections.

Don't directly edit document. Work in a different document and add changes as suggested edits to his documents. After revising, ask Evan, Benoit, Andy Jih, and Ryan Fu to review.

Break up the document into digestible sections.

Find best places for the informat

[2022-08-12 17:33] sherifnada commented on #14293
ah you are right. ignore me!

[2022-08-12 17:51] tuliren commented on #10404
Similar request from Ievgenii:

Slack [thread](https://airbytehq-team.slack.com/archives/C02UF50V9HA/p1660305952716559?thread_ts=1660222415.873109&cid=C02UF50V9HA)

[2022-08-12 18:34] DoNotPanicUA opened #15620 "E2E Testing Tool : Implement application core"
The application core should:

1. Main model classes for future handling scenarios and credential configs
2. Core processing (get configuration, create instances, run common logic)
3. Basic logging to see run details

[2022-08-12 18:34] #15620 closed

[2022-08-12 18:54] girarda opened #15621 "Improve process for writing stream schema json file"
## Tell us about the problem you're trying to solve
Writing the json file describing stream schemas is a very tedious process.
We already have a tool for generating the json schema from the streams, but it has a few issues
- It's not tested
- It's a black box with no debug information
- It requires setting up a separate venv
- Acceptance tests don't pass after updating existing schemas with the on

[2022-08-12 18:56] jorge-gt3 commented on #9784
They vary in size, the error above occurred when I added a table with 19,272,203 rows to the connection. I just joined Slack if you want to chat there.

[2022-08-12 19:19] sajarin commented on #15601
Thanks for the issue @Santhin, feel free to submit a PR and someone from the team will review it!

[2022-08-12 19:23] sajarin commented on #15505
Thanks for the issue @jlcases, can you update the github connector to the latest version and see if that fixes the issue?

[2022-08-12 19:39] marcosmarxm opened #15623 "OpenTelemetry: WARNING: Instrument has recorded multiple values for the same attributes"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1847](https://airbyte7538.zendesk.com/agent/tickets/1847)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Sajarin

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><strong>Context</strong></p>
<p dir="auto">Hello!</p>
<p dir="auto">We are using Airbyte <code s

[2022-08-12 19:40] marcosmarxm commented on #15623
*Comment made from Zendesk by Sajarin on 2022-08-12 at 19:39:*

<blockquote><div class="zd-comment" dir="auto">Hey @virtualtam, we really appreciate this post. I made an issue relating to your question on Github, please add your thoughts and follow the discussion over there!&nbsp;<br></div></blockquote>

[2022-08-12 20:54] edmundito commented on #5330
@cgardens would you recall how you got a 401 response when trying to download the log?

[2022-08-12 21:55] girarda opened #15628 "[low-code connectors] lookback window should be applied on the cursor instead of on the start date"
## Current Behavior
The DatetimeStreamSlicer's lookback window is only applied on the start date, which means it won't work for subsequent syncs.

context: https://github.com/airbytehq/airbyte/pull/15027#discussion_r944858564

## Expected Behavior
The lookback window should be based off the cursor date instead of the state date when performing a sync that uses stream slicing. If the look back wind

[2022-08-12 22:26] #15473 closed

[2022-08-13 03:08] animer3009 commented on #15571
I guess the first issue I am facing because:
airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py

config["region"] = AmazonAdsRegion.NA

[2022-08-13 07:03] mirasdar commented on #15482
Hi @Amruta-Ranade  I will like to work on this. Just last week I got a cash prize for completing a quick install guide for my company kyndryl in a bugathon. Our main guide is 240 pages and I got it to 14 pages for a person with basic DR understanding.

[2022-08-13 09:03] marcosmarxm commented on #15623
*Comment made from Zendesk by Marcos Marx on 2022-08-13 at 08:42:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi <a href="/u/sajarin" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@sajarin</a> , thanks for following up!</p>
<p dir="auto">I’ll head over to Github to continue the discussion <img src="https://emoji.discourse-cdn.com/twitter/+1.p

[2022-08-13 15:32] jorge-gt3 commented on #9784
I took a closer look and it notice the worker chokes right after this entry log:
<pre><code>
2022-08-13 15:07:46 source > 2022-08-13 15:07:46 INFO i.a.d.j.s.AdaptiveStreamingQueryConfig(initialize):38 - Set initial fetch size: 10 rows</code></pre>

It looks like that it the last thing that happens before it executing the PreparedStatement, which lead me to this [old blog post](http://javaquirks.bl

[2022-08-13 16:03] yash-ghelani-dsw opened #15634 "How does the flow of airbyte goes in incremental dedup history mode"
hi,
I just want to know how extra tables in the airbyte is used. As per my analysis from doc i have found following flow:

step-1. destination connector provides the last sync state to source connector
step-2. source connector compares and sends only updated data
step-3. destination receives it and append to raw table (which is never deleted)
step-4. Later on raw table data is converted to destina

[2022-08-14 05:02] wub commented on #8773
Hey @misteryeo, we're encountering this issue even with advanced access to ads_read, so I imagine @alafanechere's hypothesis is correct re: BUC rate limits.

[2022-08-14 19:24] andriikorotkov opened #15639 "Source Mysql: Add tests for test connection with the certificate userX is sending actually has userX on the subject."
Creating a user on mysql with REQUIRE X509 will actually create a user for which login with any valid client certificate should work.
In real life you would put a more granular REQUIRE making sure that the certificate userX is sending actually has userX on the subject. Something like:
CREATE USER 'jeffrey'@'localhost' REQUIRE SUBJECT '/C=SE/ST=Stockholm/L=Stockholm/ O=MySQL demo client certificate

[2022-08-14 22:24] sivankumar86 opened #15640 "Source-Kafka : Avro format suport"
## Tell us about the problem you're trying to solve
   We are receiving message in avro format hence, it would be great if we can Avro support

## Are you willing to submit a PR?
   Not at the moment

[2022-08-14 22:25] sivankumar86 opened #15641 "Source Kafka: Schema registry support"
## Tell us about the problem you're trying to solve

       Want to have option to pass schema registry option

## Are you willing to submit a PR?
     Not now

[2022-08-14 22:27] sivankumar86 opened #15642 "Source-Kafka : Multiple schema in same queue"
## Tell us about the problem you're trying to solve

   We are receiving multiple schema and want to split into multiple folder in s3 based on schema name in queue message

## Are you willing to submit a PR?
   Not now at the moment

[2022-08-15 04:32] ryankfu commented on #15527
Cursory initial findings is that this issue _may_ be related to a connection pool leak: https://github.com/brettwooldridge/HikariCP/issues/1111

The way to determine if this issue for customers is related is through enabling [leakDetectionThreshold setting](https://github.com/brettwooldridge/HikariCP/issues/1111#issuecomment-373111306) and verifying through the logs to see if `active` count keeps

[2022-08-15 06:14] harshithmullapudi commented on #15634
Hey could you post this here at discuss.airbyte.io so that we can help in a better fashion

[2022-08-15 06:16] harshithmullapudi commented on #15641
Hey could you give more information on this?

[2022-08-15 06:38] igrankova commented on #6186
@YowanR yes, still no reply. I'm going to send them email and ask, I'll let you know if they reply.

[2022-08-15 06:45] jan-benisek commented on #15546
The error was caused by permission / connection issues between k8s and the database. So the ticket can be closed.
Although the error wasn't really helpful and could be improved.

[2022-08-15 06:45] #15546 closed

[2022-08-15 06:45] jan-benisek commented on #12972
Any update on this please?

[2022-08-15 09:13] timroes opened #15648 "Remove demo mode from UI"
![image.png](https://images.zenhubusercontent.com/55f362704f7a08fbb7f4d9d8/8f31175b-30e6-4051-950e-b16dccb4e074)

We currently have the possibility to specify a demo mode (if `window.IS_DEMO` is set to true). This mode is only used to show a banner notification that you're in the demo. We should use any of our third party tools (like google optimize) to show a banner instead.

Long term the demo i

[2022-08-15 09:13] octavia-squidington-iii commented on #15648
cc @airbytehq/frontend

[2022-08-15 09:14] timroes commented on #10955
After some brainstorming with Teal, Topher and Davin, we decided to change how we're handling environment variables. In the future we only want to except all environment variables via build time environment variables (i.e. `REACT_APP_...`). We'd instead build the code for each staging/dev environment separately (we anyway do that for the docker images). Therefore we'll remove any configuration via

[2022-08-15 09:30] timroes commented on #14990
I also think the loading indicator must be the best solution. In general, when the backend APIs like this take a long time to complete it often is the case that as part of that API we need to spin up/wait for some Temporal tasks, which usually adds most of the overhead. But I agree that this APIs ideally should return as soon as we have a consistently saved state (whether or not all temporal tasks

[2022-08-15 09:35] timroes commented on #15371
I think when refreshing the schema before the connection has ever been saved we won't need to show a diff modal, since there has never really been any sync run on the previous state. Thus I'd suggest we just don't show the modal since it's not available via the API at the moment (cc @andyjih would that be fine with you?).

For (1) that discover_schema doesn't actually refresh the source schema, th

[2022-08-15 09:56] xuebotao opened #15649 "Source MySQL: How do I get a strongly typed schema?"
Der author:
       For example, mysql source whether my Schmean fetch can be strongly typed.
       number   -----> {int ,double...}
       How do I get a strongly typed schema?
                                                                                                 Looking forward to your reply,Thank you.

[2022-08-15 10:33] grubberr commented on #5537
@muutech any updates on this ?

[2022-08-15 11:13] ycherniaiev commented on #15217
TikTok: added granular permission research. There are 4 main roles that can access TikTok Ads account and seems like noone has restrictions on retrieving info on ads, campigns, reports etc.

[2022-08-15 11:47] timroes opened #15650 "Login page styling broken on small screen heights"
When the screen height is too small (that you'll need to scroll) the login page design gets broken:

![cloud airbyte io_workspaces_f134b0e2-6ca9-4cb5-a42e-37d914d8785e_settings_account (1)](https://user-images.githubusercontent.com/877229/184629612-2b6e45d8-3de9-4dc1-800b-1edf2c174c0f.png)

The left background should extend fully to the bottom as well as the right panel should fill the whole page

[2022-08-15 11:47] octavia-squidington-iii commented on #15650
cc @airbytehq/frontend

[2022-08-15 12:32] dizel852 opened #15652 ""Discover schema" endpoint doesn't return latest schema if it was changed during the new connection creation"
## Environment
- **Airbyte version**:  master
- **OS Version / Instance**: macOS
-  **Deployment**: local env
- **Step where error happened**: Connections / Setup new connection /

## Current Behavior
If the source schema was changed during the new connection creation, and the user will click on the "Refresh schema" button, the source schema list won't be updated actually.

https://loom.com/share/

[2022-08-15 12:39] timroes opened #15653 "Improve scroll behavior of frontend"
The frontend currently has containers scrolling at weird positions, which can lead to scrollbars appearing in the middle of the page:

![screenshot-20220815-132242](https://user-images.githubusercontent.com/877229/184636368-c3a9fed6-6926-46c3-af08-b04cc54fdc41.png)

In general I think we should try to have the page (and not individual containers) being scrollable as much as possible. If we want to

[2022-08-15 12:39] octavia-squidington-iii commented on #15653
cc @airbytehq/frontend

[2022-08-15 12:47] edmundito commented on #15653
I just noticed the same issue on the settings. It looks like the bottom margin to prevent the content from overlapping banners is revealing that the scrolling is part of an `overflow-y: auto` somewhere.

![Screen Shot 2022-08-15 at 08 45 31](https://user-images.githubusercontent.com/168664/184637485-36131986-0b47-45b2-9d8c-b109ab591dff.png)

[2022-08-15 13:12] jan-benisek opened #15656 "Upgrading Airbyte - Helm chart has `version: placeholder` in some dependencies"
## Environment
- **Airbyte version**:  example is 0.39.35-alpha
- **OS Version / Instance**:  -
- **Deployment**: k8s with Helm chart
- **Source Connector and version**: NA
- **Destination Connector and version**:  NA
- **Step where error happened**: Upgrade Airbyte

## Current Behavior
- when I am trying to update Airbyte, I am getting an error
[code]
- when looking at [Chart.yaml](https://github

[2022-08-15 13:32] #4034 closed

[2022-08-15 13:37] dizel852 opened #15657 "Get response after "Save changes" in sync catalog takes more time than it could be"
## Environment
- **Airbyte version**:  0.40.0-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker deploy
- **Source Connector and version**: 0.3.21
- **Destination Connector and version**: 0.3.21
- **Step where error happened**: Update connection sync catalog

## Current Behavior
Turning on one of the streams in the sync catalog and applying changes takes too long (more than 1 min).

[2022-08-15 13:38] dizel852 commented on #14990
Backend issue: [#15657](https://github.com/airbytehq/airbyte/issues/15657)

[2022-08-15 13:40] edmundito commented on #5330
Chatted with @timroes over slack. This screen is no longer available in cloud, and at least the issue should not occur on this page. However, I will add a notification if there is a download error.

[2022-08-15 14:01] jan-benisek commented on #15656
Update - I think we can resolve this by pointing to the Helm repository, instead of pulling chart from this repo.
Is there an official guide? It is a little bit confusing, thanks 🙏

[2022-08-15 14:22] #14518 closed

[2022-08-15 14:22] #14516 closed

[2022-08-15 14:22] #14517 closed

[2022-08-15 14:22] #11950 closed

[2022-08-15 14:30] andriikorotkov opened #15658 "E2E Testing Tool : get credentials for postgres and airbyte instance"
1. Get connection for airbyte instance (create airbyte virtual machine)
2. Get connection for test source postgres instance
3. Get connection for test destination postgres instance

[2022-08-15 14:30] #15658 closed

[2022-08-15 14:35] andriikorotkov opened #15659 "E2E Testing Tool : Create source"
Create source for E2E-testing-tools

[2022-08-15 14:36] misteryeo commented on #15217
@YuliiaNahoha Looks like @ycherniaiev has started work on this. Should this be added to the sprint and status updated to `In Progress`?

cc: @YowanR

[2022-08-15 14:44] timroes opened #15660 "Add user invite possibility in connector form"
In the connector setup for, we'll want to have a hint box on top of the connector setup form, that calls out for inviting another user.

![screenshot-20220815-164134](https://user-images.githubusercontent.com/877229/184656995-da10d984-1969-4047-8d10-2adf9adc4167.png)

The box should state something like: "Need help from a colleague configuring your source/destination? Invite them now to your works

[2022-08-15 14:44] octavia-squidington-iii commented on #15660
cc @airbytehq/frontend

[2022-08-15 14:51] skt7 opened #15661 "Understanding the behavior of "Incremental Dedup History" sync"
Hi,

We are trying to understand how exactly the syncs occur for the "Incremental Dedup History" sync mode. Sharing our analysis and some of the queries. It would be great if someone could validate the understanding and clarify the questions.

## Setup
Source: Postgres
Destination: Postgres
Base Data: about 3.5 million rows

## Sync Runs
Run 1: Initial data transfer (3510433 rows transferred), tim

[2022-08-15 15:13] xpuska513 commented on #15656
https://docs.airbyte.com/deploying-airbyte/on-kubernetes-via-helm

[2022-08-15 15:23] jablonskijakub commented on #2227
I tried that solution and realised that the unwanted columns are still being synced in the raw table (they are removed in the normalised version). Is there a way to tackle that problem?

[2022-08-15 15:33] nataliekwong opened #15663 "Segment call 'AirbyteUI.Destination.Test' should pass connector_destination"
# Current Behavior
The Segment call 'AirbyteUI.Destination.Test.' and 'AirbyteUI.Destination.Test.Sucess' and 'AirbyteUI.Destination.Test.Failure' pass the connector_source and connector_source_definition_id.

This was previously the connector_destination and connector_destination_definition_id

<img width="678" alt="Screen Shot 2022-08-15 at 5 30 59 PM" src="https://user-images.githubusercontent.

[2022-08-15 15:34] octavia-squidington-iii commented on #15663
cc @airbytehq/frontend

[2022-08-15 15:40] xpuska513 commented on #15656
Hi @jan-benisek , so in short explaination you need to grab latest version of the chart here: https://artifacthub.io/packages/helm/airbyte/airbyte
And replace the placeholder value with the version itself.
I did that in order to simplify the CI workflow I developed, but looks like I added more confusion with that step.
I'll do a PR that will mitigate this confusion, but while I do that I'll do a f

[2022-08-15 15:45] Zawar92 opened #15664 "Source RKI Covid: add message when the there is no data available"
## Tell us about the problem you're trying to solve
In the connector [source-rki-covid](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-rki-covid) there are times when data is not available for a certain date. In order to avoid error condition added.

## Describe the solution you’d like
Adding the message when data not available for specific date.

## Are yo

[2022-08-15 15:50] timroes commented on #15663
@nataliekwong We can make the destination ones named `connector_destination` and `connector_destination_definition_id`, but since it's the same code as the source one for us, would it also work for you, if we just change the parameter (for both Source and Destination) to `connector` and `connector_definition_id`?

[2022-08-15 15:55] xpuska513 commented on #15656
EDIT: Sorry for another confusion @jan-benisek , you don't need to replase everything while deploying from the helm repo, just add it as described in docs and it'll work.

[2022-08-15 15:55] xpuska513 commented on #15656
The CI workflows replaces the `placeholder` value in the `Chart.yaml` file with the new release version.

[2022-08-15 16:53] timroes commented on #14675
Summary from the planning: The idea was to move that link into the label itself instead of using the "error" `message` property as we have at the moment.

[2022-08-15 16:56] edmundito commented on #15652
cc @evantahler - this is currently blocking one of our issues in frontend.

[2022-08-15 17:04] krishnaglick commented on #15572
Abandoning this

[2022-08-15 17:14] Amruta-Ranade commented on #15482
@mirasdar Sure! Please comment on this issue with a list of changes you'd make and we can take it from there :)
Here's our updated Contributing Guide for reference: https://docs.airbyte.com/contributing-to-airbyte/updating-documentation

[2022-08-15 17:23] YowanR commented on #8814
/assign @lgomezm

[2022-08-15 17:25] YowanR commented on #8814
/assign @lgomezm

[2022-08-15 18:05] animer3009 commented on #15571
@sajarin Sorry you saw my last message?

[2022-08-15 18:08] sajarin commented on #15571
Hey @animer3009, just seeing this. I'll try to take a look at this, the second issue looks like it'll take some more time to investigate. Thanks for the issue!

[2022-08-15 18:09] evantahler commented on #15652
@edmundito can you please link the issue?  Is it a P0/P1?

[2022-08-15 18:14] evantahler commented on #15567
This should be addressed by https://github.com/airbytehq/airbyte/issues/15218

[2022-08-15 18:28] sajarin commented on #15649
Hi @xuebotao, the mysql source does not alter the schema in your database. It fetches whatever types you've defined in your tables. Hope this helps, let me know if it doesn't!

[2022-08-15 18:39] nataliekwong commented on #10637
Duplicate issue? https://github.com/airbytehq/airbyte/issues/11873

[2022-08-15 18:46] abankspdx commented on #15569
@marcosmarxm Do you think this issue is just a result of the Monday API requiring a 2 minute retry cooldown for the `Items` endpoint, where the connector source looks like it's only using a 30 second `retry_factor` ? Would the solution be as easy as changing a `30` to a `120` ?

[2022-08-15 19:25] nataliekwong commented on #15648
The banner is ready to be deployed through Google Optimize whenever we get the OK here. Note we also made the following changes to systems:
1. Added Google Tag Manager to Segment source for the demo
2. Added a trigger to Google Tag Manager to fire Google Optimize on all visits to demo.airbyte.io

Screenshot of the banner in preview (link goes to /signup):
<img width="1489" alt="Screen Shot 2022-08

[2022-08-15 19:44] Amruta-Ranade commented on #15585
@brianjlai Do we have a list of the permissions Stripe users need? Or is compiling the list part of this issue?

[2022-08-15 19:46] Amruta-Ranade commented on #15465
@evantahler If I understand correctly, is this issue about adding a changelog to the [Airbyte Protocol doc](https://docs.airbyte.com/understanding-airbyte/airbyte-protocol)?

[2022-08-15 19:50] userbradley commented on #13081
@Santhin thanks for the comment, I'll try make sometime to look in to it.

Thought I'd just reply so you don't think I've ignored it - the team and I greatly appreciate your input and help!

[2022-08-15 19:59] cleve-fauna commented on #15552
@marcosmarxm do you want Fauna to mint a sandbox account for you? Or do you want to self service this here: https://dashboard.fauna.com/accounts/register

[2022-08-15 20:09] timroes opened #15669 "Investigate removing the syncCatalog from web_backend/connections/list"
Currently the `v1/web_backend/connections/list` API returns the `syncCatalog` as part of each connection. Those can be pretty large if it's a large connection and can cause the whole request to long for a very long time, despite having a very low number of connections only.

We should investigate removing the `syncCatalog` property from the returned connections, since it seems on a first glance (n

[2022-08-15 20:09] octavia-squidington-iii commented on #15669
cc @airbytehq/frontend

[2022-08-15 20:14] timroes commented on #15669
This is currently blocked on the update APIs requiring us to pass in the full object. The conection table allows disabling/enabling connections directly via the switch at the end. For that we'll call the update API but need to pass the full connection object back, thus we'll need to use the syncCatalog for now there.

Blocked on https://github.com/airbytehq/airbyte/issues/13698 (and us adopting to

[2022-08-15 20:30] evantahler commented on #15432
Closing - was fixed via https://github.com/airbytehq/airbyte/pull/15510

[2022-08-15 20:30] #15432 closed

[2022-08-15 20:44] evantahler commented on #15315
Can you pleas check if https://github.com/airbytehq/airbyte/pull/15510 fixed the problem?

[2022-08-15 20:46] evantahler commented on #15393
I'll close this issue for now then - please re-open it if the problem returns!

[2022-08-15 20:46] #15393 closed

[2022-08-15 21:16] girarda commented on #14832
Hi @Svatopluk-Chalupa,

Only JSON format is supported at the moment. We'll update the documentation to reflect the limitation.

[2022-08-15 21:43] evantahler commented on #15465
Yep! I've updated the description.  It's part of the [epic](https://app.zenhub.com/workspaces/oss-platform-625a01eb010e82001390f49e/issues/airbytehq/airbyte/14276) to add versioning to the Airbyte Protocol

[2022-08-15 22:32] marcosmarxm commented on #15569
@abankspdx probably would the first try to see if the issue is solved.

[2022-08-15 23:02] sophia-wiley opened #15672 "Update Buy Credits"
The UI has changed since [Buy Credits](https://docs.airbyte.com/cloud/managing-airbyte-cloud#buy-credits) was written, and it needs to be updated.

Related to this [ticket](https://github.com/airbytehq/airbyte/pull/15204).

Add line about tax being automatically added at checkout.

Related to this [ticket](https://app.zenhub.com/workspaces/cloud-platform-6259ee50ab53b4001d625d79/issues/airbytehq/a

[2022-08-15 23:36] terencecho opened #15673 "Acceptance Tests: Basic cloud tests"

[2022-08-15 23:45] terencecho opened #15674 "[EPIC] Cloud Acceptance Tests V2"
## Tell us about the problem you're trying to solve
Our acceptance tests in Cloud are very perfunctory. We mainly rely on the OSS acceptance tests--this is a very weak guarantee.

## Describe the solution you’d like
* Certain OSS acceptance tests should also be run on Cloud.
* We should add extended cloud specific acceptance test suite for Cloud.

List of use cases to add and some background info:

[2022-08-15 23:46] terencecho opened #15675 "Acceptance Tests: Security"

[2022-08-15 23:47] terencecho opened #15676 "Acceptance Tests: Integrations"

[2022-08-15 23:48] terencecho opened #15677 "Acceptance Tests: Full User Story"
- Creating a workspace, inviting someone to it, checking permissions, deleting workspace
  - Deleting workspace, so user no longer has access

[2022-08-15 23:48] terencecho opened #15678 "Acceptance tests should on run in staging and prod? maybe periodically?"

[2022-08-15 23:57] pedroslopez commented on #15559
I think this is a duplicate of https://github.com/airbytehq/airbyte-cloud/issues/1969 but we can close the other one

[2022-08-16 00:14] pedroslopez opened #15680 "JobErrorReporter: Report connector_command tag for errors encountered during sync"
We are setting the `connector_command` tag for errors encountered for connectors when running "synchronous commands" (e.g. check, spec, discover). However, we are not setting it when reporting errors encountered during the sync process. This includes the `check` command that is run prior to syncing.

## Suggested solution

Set `connector_command` to `check`, `read` or `write` as appropriate when r

[2022-08-16 02:27] alex-gron commented on #15141
I am working on this

[2022-08-16 02:40] persunde commented on #15589
Also, after reverting to the old version where MariaDB worked, it now does not handle 'null' values correctly.
I have a numeric column (float) that has null values, but when it does the normalization, it tries to cast the string "null" to a float/numeric value and fails.

I think the best is to have its own MariaDB Connector that fixes these issues caused by these minor differences between MariaDB

[2022-08-16 02:41] terencecho commented on #11932
going to close this issue as we're moving all this work into this epic: https://github.com/airbytehq/airbyte/issues/15674

btw @pmossman, do you remember what this line was referring to?

What are the resources that we're deleting?

[2022-08-16 02:41] #11932 closed

[2022-08-16 03:17] terencecho commented on #12539
An update for this ticket.

- dug into the acceptance test issues with our postgres container. After talking with Liren, seems like the postgres container we use for testing doesn’t allow for SSL, which we enforce in airbyte cloud. that discussion can be found [here](https://airbytehq-team.slack.com/archives/C03C4AVJWG4/p1660235999367159).
  - the dbs/dws team has a ticket to allow SSL to be turne

[2022-08-16 03:17] rajaseg opened #15682 "Logos not displayed for source and destination connectors"
Hello Team,
I installed Airbyte on Ubuntu 22.04.1 LTS. I am still having the issue of logos not being displayed for sources and destination connectors.

Please find the below images for reference.

![image](https://user-images.githubusercontent.com/633479/184790800-15f8e44e-f308-4c8d-9dd1-13cb1c653460.png)

![image](https://user-images.githubusercontent.com/633479/184790825-bf56859f-61c6-4769-97ce

[2022-08-16 05:00] yash-ghelani-dsw commented on #14997
Hi @harshithmullapudi , did you get time to look into the local git repo issue?

[2022-08-16 06:53] jan-benisek commented on #15656
@xpuska513 thanks a lot for your time and help, I appreciate it. We tried to pull from help repo and it worked (that part).
We struggled a bit with external database (we use RDS and we were getting "wrong secret") and eventually this worked:
[code]

But then we got another error with Minio. Despite the fact that we are not using it, it was complaining that secrets were missing. Looks like it is en

[2022-08-16 06:53] #15656 closed

[2022-08-16 08:44] igrankova commented on #9679
See the research link in the Task Description

[2022-08-16 09:12] harshithmullapudi commented on #14997
Hey yeah looks like --depth is not supported by the HTTP clone option maybe you have make some changes in the dbt image and use that custom image.

[2022-08-16 09:48] harshithmullapudi commented on #15661
Hey could you share the logs for these syncs?

[2022-08-16 10:10] grubberr commented on #9542
@willem-h do you have some understanding what exact fields was incorrect type ? According to log messages It's hard to understand what record field has incorrect schema type

[2022-08-16 11:45] muutech commented on #5537
When setting up connection: Failed to fetch schema. Please try again. You can the URL if you want.
![image](https://user-images.githubusercontent.com/30987258/184871848-b3d9c4f2-afd7-4f36-bcbc-ac12cc2436ff.png)

Airbyte version: 0.39.41-alpha
source-file version: 0.2.17

[2022-08-16 13:45] edmundito opened #15691 "Update page headers to align with the current designs"
Update the design of the page heading components to align to the new designs. There are a couple of particular areas that need to be updated:

- **New Source / Destination pages** are in the progress of having a new heading type that does not exist in the webapp yet
- **All other pages** share a common component called [`<PageTitle />`](https://github.com/airbytehq/airbyte/blob/7b837180c1891fbeb47

[2022-08-16 13:45] octavia-squidington-iii commented on #15691
cc @airbytehq/frontend

[2022-08-16 14:32] monai opened #15692 "Regression in test_backward_compatibility"
## Environment
- **Airbyte version**:  0.40.0-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: source-amazon-seller-partner 0.2.25 (#15063)
- **Destination Connector and version**: any
- **Step where error happened**: Acceptance tests

## Current Behavior

Test `test_backward_compatibility` throws `NonBackwardCompatibleError` for newly added `fu

[2022-08-16 14:40] timroes commented on #13160
I've updated the issue description to reflect the latest discussion I had with Natalie about this.

[2022-08-16 15:00] natalyjazzviolin commented on #15507
@vijaybridgeme let's move the discussion over to our forum to keep this feature request as clear as possible. Please create a new topic and we'll be able to assist you with all your questions:
https://discuss.airbyte.io/

[2022-08-16 15:27] #9923 closed

[2022-08-16 16:04] gdberrio commented on #7196
I seem to be having the same issue as described above, with the Google Ads Source and Postgres Destination.
On the source side, everything works fine:
docker run --rm -v $(pwd)/secrets:/secrets -v $(pwd)/integration_tests:/integration_tests sigma-google-ads read --config /secrets/config.json --catalog /integration_tests/test_catalog.json > data.json

The data.json has all of the data I requested.

[2022-08-16 16:51] cgardens commented on #14732
@Liren Tu (Airbyte) thanks for the presentation yesterday. Kept thinking about it and I'm wondering if this approach would help (for postgres only)?

**disclaimer, when i was thinking through this, i was just thinking about postgres. i understand that the purpose of this issue is to find a default implementation just for postgres. that said in the presentation yesterday there was some reference to

[2022-08-16 17:05] pmossman commented on #15673
Refining notes:
- Split into two separate issues

- For user invite flow, a Firebase link is generated on the airbyte server and emailed to the invited user. For testing, might be hard to actually complete the entire flow. Probably don't want to inspect the email copy in the test, since we might be changing it frequently. But maybe we can inspect the generated link and see if there's something in

[2022-08-16 17:09] evantahler commented on #14223
In the context of the versioning PRD/tech-spec, does this still make sense to do?

[2022-08-16 17:19] pmossman commented on #15675
Refining notes:
- Scope of what we're testing for the third bullet: Could maybe start with just making sure that we have each role present in our acceptance test suite. For example, we make sure the AuthFilter rejects admins from an instance-admin route, make sure the AuthFilter rejects a user who doesn't have access to a particular workspace, etc. Having a full complete list of all endpoints with

[2022-08-16 17:35] #15224 closed

[2022-08-16 17:46] evantahler commented on #15652
Note from grooming:

To check:
* Do we have more than one schema refresh endpoint?  Do we use different ones when creating vs editing.  If not, maybe we aren't setting flags right when requesting the refresh.

[2022-08-16 18:10] cgardens commented on #11621
@git-phu Before your change we already called `Source.close()` later in the code (source is in a try-with-resource [here](https://github.com/airbytehq/airbyte/blob/master/airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java#L141)). Is the key that calling `Source.close()` early was necessary or is it just that the greater time out saves us?

[2022-08-16 18:27] evantahler commented on #3990
Grooming Notes:

* If the same source is used in multiple connections, we need to be aware of race conditions - no.  That's up to the source, and one revocation may stop all parallel syncs anyway.  The message to users is to make multiple accounts/multiple source.  The latest write will be right anyway.
* In the generic sense, what we are doing is coming up with a generic method to allow a source

[2022-08-16 18:28] sophia-wiley commented on #15672
Doc update available [here](https://docs.airbyte.com/cloud/managing-airbyte-cloud#buy-credits)

[2022-08-16 18:28] #15672 closed

[2022-08-16 18:29] animer3009 commented on #15571
@sajarin Thank you!
Today we got connector upgrade.
Looks like report_streams.py issue was solved. I am testing it right now.
But region issue is still exists.
Please help solve it ASAP as it is very important for us :)

[2022-08-16 18:38] YowanR commented on #14047
LGTM -- need minor doc edit but all good otherwise.

[2022-08-16 18:44] SofiiaZaitseva opened #15700 "Improve existing auto tests related to Update connection"
Existing auto tests related to Update connection can be improved with more verification (request, response).
Also more replication configuration should be setup

[2022-08-16 18:50] pmossman commented on #11932
@terencecho I don't remember the specifics around deletions, maybe it's just referring to the fact that deletions might be more important in Cloud than OSS because we own the data instead of the user? Maybe the OSS acceptance test suite doesn't test deletion routes as much as we'd like to in Cloud?

[2022-08-16 18:53] marcosmarxm commented on #15692
@alafanechere do you mind helping here?

[2022-08-16 19:27] animer3009 commented on #15571
Nope,
2022-08-16 18:58:53 - Additional Failure Information: Unexpected HTTP status code 400 when registering asins, SponsoredDisplayReportStream for 950741992331827 profile: {"code":"400","details":"Asins reports not available to Vendors","requestId":"KVKXMZ9EGXMFRE9NDFE3"}
Same error :)

[2022-08-16 19:36] edmundito commented on #15652
@evantahler to clarify, #5371 is currently a feature not yet available to users and is in progress. While implementing, we realized that this is not working as intended.

[2022-08-16 20:23] misteryeo commented on #1385
Update, @itaseskii will be starting on this this week. Depending on number of streams needing to implement, estimates around 2-3 days.

[2022-08-16 20:34] #4599 closed

[2022-08-16 20:42] git-phu commented on #11621
@cgardens Yes you are right.  The important part is the longer timeout on socat (so that the source doesn't end the connection after 500ms) which gives the orchestrator enough time to receive all messages and be the one to initiate the socket close.

Explicitly calling the `Source.close()` method earlier isn't strictly necessary.  I just felt doing so would make it easier to verify that everything

[2022-08-16 20:46] #15474 closed

[2022-08-16 21:31] edgao commented on #5022
@cgardens replying to your comment https://github.com/airbytehq/airbyte/issues/14732#issuecomment-1216898759

I think that protocol could be made to work, with a few caveats.

In its current form, it will _always_ generate duplicated records after a wraparound: Imagine an append-only source table; eventually there will be two rows with `xmin=0`. Postgres _does_ provide a way to distinguish between

[2022-08-16 21:31] edgao commented on #14732
replying in https://github.com/airbytehq/airbyte/issues/5022#issuecomment-1217187056 to keep postgres-specific discussion in its own issue

[2022-08-16 21:51] ryankfu commented on #15527
As referenced to [this comment](https://github.com/airbytehq/oncall/issues/397#issuecomment-1217197227) and conversation with the rest of the database team that there is still belief this issue is customer-related primarily contrary to the previous comment because the failure occurs upon initial setup as opposed to subsequent syncs

There seems to be more information that is needed to further diag

[2022-08-16 22:25] davinchia commented on #4760
@timroes do you know if we have this?

[2022-08-16 22:34] davinchia commented on #15218
Can we also emit a warning/metric when this happens? In theory we should never run into self-determinism error on Temporal. It indicates a big error when this happens, and I think it's worth shouting out to us.

[2022-08-16 22:54] evantahler commented on #15218
Metrics will be emitted here https://github.com/airbytehq/airbyte/issues/15699

[2022-08-16 23:02] cgardens commented on #5022
@edgao got it! I guess if we can get a handle on how often the edge case that is mentioned in this issue https://github.com/airbytehq/airbyte/issues/14732 , from there we can decide if we want to explore this approach or not.

[2022-08-16 23:07] sherifnada commented on #1385
@misteryeo greenhouse has been migrated to low code -- is it intentional to still assign this issue to ivica?

[2022-08-17 01:11] sophia-wiley opened #15711 "How to join a workspace"

[2022-08-17 03:42] mrtngrsbch opened #15712 "Notion connector"
## Tell us about the new connector you’d like to have
* Which source and which destination?
_Gogle Sheets > Notion_

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
_No_

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data? This helps

[2022-08-17 08:02] #10097 closed

[2022-08-17 08:04] bazarnov commented on #15479
Implemented in https://github.com/airbytehq/airbyte/pull/7313. Closing this issue.

[2022-08-17 08:04] #15479 closed

[2022-08-17 08:09] Santhin commented on #13081
With this solution are some drawbacks or some additional goods it depends how you gonna look on this.

Using fleet workload identity which gonna mount GOOGLE_APPLICATION_CREDENTIALS to worker pod in case of trying to create connection / destination using bigquery you gonna encounter weird error while uploading credentials json
Something like that:
![image](https://user-images.githubusercontent.com

[2022-08-17 08:16] ramonvermeulen opened #15713 "Source: GCS"
## Tell us about the new connector you’d like to have
**Which source and which destination?**
Google Cloud Storage -> BigQuery

**Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?**
No

## Describe the context around this new connector
**Why do you need this integration? How does your team intend to use the data?

[2022-08-17 08:41] #15659 closed

[2022-08-17 08:48] andriikorotkov opened #15714 "E2E Testing Tool : Create destination"
Create destination for E2E-testing-tools

[2022-08-17 08:49] bazarnov opened #15715 "🎉 Source Zendesk Chat: increase `unit_test` coverage up to 90%"

[2022-08-17 08:55] bazarnov opened #15716 "🎉 Source Zendesk Chat: update `releaseStage` to beta"

[2022-08-17 09:47] kimerinn opened #15717 "E2E Testing Tool : create connection"

[2022-08-17 10:27] igrankova commented on #15553
@marcosmarxm
See the LastPass creds: Yandex metrica
  The API key is generated and saved [here](https://appmetrica.yandex.ru/application/edit?appId=4268989).

[2022-08-17 10:38] #15714 closed

[2022-08-17 10:41] ramonvermeulen commented on #15713
Found out this is possible with the normal File connector, can be closed.

[2022-08-17 10:41] #15713 closed

[2022-08-17 10:42] andriikorotkov opened #15718 "E2E Testing Tool : Set source and destination parameter for connection"
E2E Testing Tool : Set source and destination parameter for connection

[2022-08-17 11:04] marcosmarxm commented on #15553
Thanks @igrankova

[2022-08-17 11:19] dudu-monday commented on #13911
Are there any updates on this one?

[2022-08-17 11:41] grubberr commented on #5537
https://github.com/airbytehq/airbyte/pull/15698

[2022-08-17 12:20] grubberr commented on #5537
@muutech thanks for bug, I have updated
can you please re-check `source-file:0.2.18`
?

[2022-08-17 12:49] ajatau commented on #15410
@sajarin yes it worked.

[2022-08-17 12:49] #6326 closed

[2022-08-17 12:50] lukearran commented on #14788
Hello @harshithmullapudi - sorry for the late response.

I've removed the "Media" stream, and after reset, the process continues to fail. However, we don't appear to have the `Warning: media does not allow field children` in the logs with the stream disabled.

Log download: https://tick9public.blob.core.windows.net/public-internet/github/instagram_child_issue_bug_logs_without_media_stream.zip

Kin

[2022-08-17 12:53] #14149 closed

[2022-08-17 13:51] #15718 closed

[2022-08-17 13:56] andriikorotkov opened #15721 "E2E Testing Tool : Updae logger for application"

[2022-08-17 14:23] #9056 closed

[2022-08-17 14:25] #5330 closed

[2022-08-17 14:31] igrankova opened #15722 "Source Netsuite: fill streams with data"
## Tell us about the problem you're trying to solve
Fill streams with data

[2022-08-17 14:32] muutech commented on #5537
great! it works... but local csvs started to fail, airbyte tell us it succeeded but you see the destination is empty (header ok but no rows). find log attached, i do not know if its related or not.
[logs-82.txt](https://github.com/airbytehq/airbyte/files/9363531/logs-82.txt)

[2022-08-17 14:33] igrankova commented on #15722
[EPIC] Source Oracle Netsuite to Alpha #13349

[2022-08-17 15:33] mlavoie-sm360 opened #15723 "Source Facebook Marketing: Add support for custom conversions stream"
## Tell us about the problem you're trying to solve
I'd like to have access to the [Facebook Marketing custom conversions](https://developers.facebook.com/docs/marketing-api/reference/custom-conversion) data stream.

## Describe the solution you’d like
We should add a new stream supporting this data.

## Are you willing to submit a PR?
Yes, pull request to be provided shortly.

[2022-08-17 15:54] grubberr commented on #5537
@muutech is it possible to get `prueba.csv` and `config.json` for this problematic case?

[2022-08-17 16:11] gosusnp commented on #8448
Should probably be address as part of https://github.com/airbytehq/airbyte/issues/15218

[2022-08-17 16:14] muutech commented on #5537
Sure!

![image](https://user-images.githubusercontent.com/30987258/185190021-dd32788a-e609-4269-91c7-f08d0fd92a2e.png)

Contents of prueba.csv:
`COLUMNA1;COLUMNA2;
HOLA;VECINO;
HOLITA;VECINITO3;
`

[2022-08-17 16:28] timroes commented on #14839
I've checked that again agains the recent master. The `updateNew` method (same as `create`) are not returning disabled streams in the syncCatalog they return. The only one that seems to return disabled catalogs is the `get` API. This is causing some weird behavior in the FE, since we basically can't accept the answer the BE took, but need to merge our own previous catalog into it.

I'd be happy if

[2022-08-17 16:38] #14990 closed

[2022-08-17 16:49] misteryeo opened #15725 "Source MySQL: Support per-stream state"
1. As a user, I would like to add or remove a table without resetting my entire schema.
2. As a user, I would like to add or remove a field within a table without resetting my entire schema.

This should mirror our implementation for Source Postgres.

[2022-08-17 16:52] #8448 closed

[2022-08-17 16:53] evantahler commented on #8448
https://github.com/airbytehq/airbyte/issues/11869 is going to be how we implement this

[2022-08-17 17:00] tuliren commented on #12962
- https://github.com/airbytehq/airbyte/pull/11927 is related to this issue.

[2022-08-17 17:03] sajarin commented on #15589
@persunde, are you open to writing this connector for MariaDB? If not we can create a new issue for a MariaDB connector.

[2022-08-17 17:13] joshk0 opened #15726 "BigQuery impersonate service account"
## Tell us about the problem you're trying to solve
In the BigQuery connector, I would like to use Application Default Credentials (I think this is already supported) but then use those credentials to impersonate a different service account.

Example: https://github.com/salrashid123/gcp_impersonated_credentials/blob/main/java/src/main/java/com/test/TestApp.java#L28-L30

## Describe the solution yo

[2022-08-17 17:15] nataliekwong opened #15727 "Explain Custom Reports for Google Analytics"
### Tell us about the documentation you'd like us to add or update.
In the UI, I see an option for Custom Reports:
![Screen Shot 2022-08-17 at 7 03 33 PM](https://user-images.githubusercontent.com/38087517/185201353-4029c07f-7d19-4f8f-a8aa-fccffa720bc5.png)

When I navigate to the docs for the source (https://docs.airbyte.com/integrations/sources/google-analytics-v4) I don't see a corresponding se

[2022-08-17 17:19] rodireich commented on #15529
Add also the missing support for ssl in source-postgres CDC
https://github.com/airbytehq/airbyte/issues/15167

[2022-08-17 17:23] tuliren commented on #3865
This is probably fixed by https://github.com/airbytehq/airbyte/pull/15504. Need to verify.

[2022-08-17 17:24] tuliren commented on #3865
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/3865?planning-poker) with ZenHub @edgao @rodireich @ryankfu @subodh1810

[2022-08-17 17:28] tuliren commented on #3865
Actually we already have unit tests for this. This is fixed by #15504.

[2022-08-17 17:28] #3865 closed

[2022-08-17 17:44] YowanR opened #15729 "Source Hubspot : Handle 502 Bad Gateway Error better (Better Error message for customer)"
## Current Behavior
When the Hubspot connectors gets a 502 bad gateway from the API, and it takes the full HTML it was seeing and exposed it as an error message.

## Expected Behavior
We should parse through the error and display something more useful for the user.

## Additional Infomation
See image below for current error message:
![image.png](https://images.zenhubusercontent.com/62c49418a856188

[2022-08-17 18:04] evantahler commented on #15315
Closing as I believe #15510 fixed the issue.  Please re-open this if you are still having trouble!

[2022-08-17 18:04] #15315 closed

[2022-08-17 18:20] #6804 closed

[2022-08-17 18:21] evantahler commented on #6759
@tuliren what's this about?  Can we close this issue?

[2022-08-17 18:24] #6593 closed

[2022-08-17 18:24] evantahler commented on #6593
closing in favor of duplicate https://github.com/airbytehq/airbyte/issues/9673

[2022-08-17 18:29] evantahler commented on #5091
Alternative suggestion - Approach #3: shared temporary directory.
We could use something like Fuse+S3 mounts to make the directory in which the first process prepares the dbt files backed by a "network drive", then available to the second process. We would need a way to pass configuration in for the S3 mount (e.g. a destination config option), or set via ENV

[2022-08-17 18:30] tealjulia opened #15731 "Retest Source button does not give useful Success feedback"
When I click "Retest Source" in Source Settings (for an already existing source), if the Retest succeeds, I don't get any visual feedback that it was successful (or not).

[Loom recording](https://www.loom.com/share/94509a60c4b64959969e877e6f45cc9c)

[2022-08-17 18:30] octavia-squidington-iii commented on #15731
cc @airbytehq/frontend

[2022-08-17 19:36] abankspdx commented on #15339
I'm also encountering this issue @natalyjazzviolin for both Object and Array JSON types. My JSONL file only has a single record. Any updates?

[2022-08-17 19:52] brianjlai opened #15735 "[low code connectors] generate the complete schema of the language"
It would be a helpful resource for developers to be able to be able to view the declarative schema from the docs. Similar to how we validate the schema at each level of `factory.py`, we can follow a similar pattern to start at `yaml_declarative_source.py` to traverse the component relationships, perform interface expansion, , generate the schema, and print it "somewhere".

[2022-08-17 19:58] midavadim commented on #14607
@Andy @lazebnyi

https://developer.mixpanel.com/reference/authentication

Deprecating methods are:
- [Project Secret [Deprecating]](https://developer.mixpanel.com/reference/project-secret)
- [Request Signature [Deprecated]](https://developer.mixpanel.com/reference/request-signature)

but our source uses
- [Project Token](https://developer.mixpanel.com/reference/project-token) which is not deprecat

[2022-08-17 20:09] drewfustin opened #15736 "Source Tiktok: update `placement` metric to `placement_type` for v1.3"
## Environment
- **Airbyte version**:  0.39.27-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Tiktok 0.1.14
- **Destination Connector and version**: Redshift 0.3.47
- **Step where error happened**: sync

## Current Behavior
Worked on 8/11 to sync tiktok data. As of 8/12, sync fails. Field names and types have changed in API v1.3.

According

[2022-08-17 20:16] brianjlai opened #15737 "[low code connectors] Stream slicers can't parse nested cursor fields."
At this moment, stream slicers that use a `cursor_field` that comes in the form of a list or an interpolated string that resolves to a list will fail when it reads a stream_slicer, for example here: https://github.com/airbytehq/airbyte/blob/d3cefacd69ac01cd14571447a750fbfde787fd1f/airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py#L140

We don't current hav

[2022-08-17 20:52] andyjih commented on #2227
Hi @jablonskijakub -- not currently, but we'll be tackling column filtering in the upcoming months!

[2022-08-17 20:56] #15564 closed

[2022-08-17 21:38] timroes opened #15738 "Sync mode not saved correctly of disabled connection"
The `v1/web_backend/connections/create` as well as `v1/web_backend/connections/updateNew` method (and potentially other connection updating methods?) are not saving the sync mode of a stream that has `selected: false` in its config. Instead further calls to get that connection will always return `full_refresh` + `append` for that stream.

This means that every connection that has disabled streams

[2022-08-17 21:53] evantahler commented on #10742
@benmoriceau can this be closed due to the work you are doing now with job retrying?

[2022-08-17 22:13] NAjustin commented on #7011
For us, it was over 3,500 of these tables.

I do think that cleanup needs to happen here, but it also seems silly that `_airbyte_tmp_*` tables are completely ignored after a failed job. For example, I just had a HubSpot connector that synced several billion rows of data, but because an object was configured that wasn't enabled on this account (`feedback_submissions`), a `429` error was thrown and

[2022-08-17 22:14] evantahler commented on #9979
This should have been fixed by https://github.com/airbytehq/airbyte/pull/14794

[2022-08-17 22:14] #9979 closed

[2022-08-17 22:35] YowanR commented on #14607
Thanks @midavadim! Do most of our supported streams fall under only the [Mixpanel Ingestion API? ](https://developer.mixpanel.com/reference/ingestion-api)? Based on the information in the MLP, it seems that we support quite a few streams from the Query API. This leads me to believe that we will be needing Auth via Service Account going forward. Since we're pushing Mixpanel to GA, I would be inclin

[2022-08-17 22:42] evantahler commented on #7790
@alafanechere do you know if this is still an issue?

[2022-08-17 22:42] #7810 closed

[2022-08-17 22:46] evantahler commented on #9921
Closing for now - we will require connectors to support semantic versions.  In the future we can add checks fo this.

[2022-08-17 22:46] #9921 closed

[2022-08-17 22:47] evantahler commented on #6984
Closing due to inactivity

[2022-08-17 22:47] #6984 closed

[2022-08-17 22:49] evantahler commented on #9849
Is this still a problem or can we close this issue?

[2022-08-17 22:52] midavadim commented on #14607
@YowanR
I suppose that in order to implement additional streams "Service Account" authentication is not required.

But if we need additional auth methods I'll implement it.

The only reason why I ask this question is because the original reason described in the issue is incorrect.

[2022-08-17 22:57] caiopedroso commented on #8817
Having the ~ same ~ problem, but I'm think it's actually two different problems.
One is with the connector itself, the way airbyte is handling the data retrieved from typeform.
The other is it prints the whole response at least 2 times and when you try to open using the webserver the CPU tops 100% - but not sure if it's related to the connector crash.

[code]

[2022-08-17 23:04] edgao commented on #5022
Shelving this issue for now - this is unfortunately somewhat niche, and requires a pretty hefty set of changes. Summarizing those here for future people:
* Require users to install the pageinspect server extension if they want to use xmin (this is required for querying whether a row is frozen https://stackoverflow.com/a/69319339 )
* Use the algorithm described in https://github.com/airbytehq/airby

[2022-08-17 23:05] erica-airbyte commented on #15527
@ryankfu when customers hit this what should supports next steps by one they have confirmed their set up is correct, they whitelisted our IP, and SSL is enabled.

[2022-08-17 23:06] sivankumar86 opened #15742 "Airbyte UI : Search/filter textbox feature on Connection,source and destination UI"
## Tell us about the problem you're trying to solve
  We are adapting airbyte rapidly hence, number of connections keep increasing drastically  hence, it would be great if we have a feature to filter out based on prefix name.

[2022-08-17 23:13] YowanR commented on #14607
Thanks for explaining. Since Mixpanel prefers that we use Service Account going forward, I think we should still do this work but it's lower priority for now given @midavadim's explanation above. I suggest that we move this back to our backlog and tackle it in September when we take Mixpanel to GA. Let's focus on alpha to beta connectors for this sprint instead.
cc @lazebnyi @YuliiaNahoha -- let's

[2022-08-17 23:35] #3278 closed

[2022-08-17 23:36] #6972 closed

[2022-08-17 23:40] #9406 closed

[2022-08-17 23:45] evantahler commented on #12559
Closing - this is a helm version issue, per @bilby91's comment

[2022-08-17 23:45] #12559 closed

[2022-08-17 23:51] lazebnyi commented on #4139
Already fixed.
![image.png](https://images.zenhubusercontent.com/62724eb1a7e5f05ea04759a4/116bfc55-b109-4b5f-8332-4d59f39fe202)

[2022-08-17 23:51] #4139 closed

[2022-08-18 00:31] lucaswiley opened #15745 "Remove ability to download system config file by default or update documentation to recommend this"
The system configuration file (including API keys) is downloadable by default in the Airbyte UI. We need to remove this default or at least update the documentation to advise users to do it themselves so they understand the risks when not using additional security measures.

## Environment
- **Airbyte version**:  0.35.55-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source

[2022-08-18 04:11] wjmolina commented on #9674
It doesn't go away even if you refresh the UI. In fact, when I click on its "Sync now" button, I get the message
[code]

[2022-08-18 06:12] harshithmullapudi opened #15750 "Source Amazon seller partner: Sync fails if the stream has no data"
In source Amazon seller partner if the stream selected doesn't have data the sync is failing.

This issue is raised by Cart.com

[2022-08-18 06:39] grubberr commented on #5537
@muutech
hm, I see that in `prueba.csv` file there is only 1 line which is interepeted by pandas as header only (no rows)
I have duplicate 1st line twice in `prueba.csv` file and I was able to catch "RECORD" object too:

[code]

[2022-08-18 07:24] brianjlai opened #15751 "Spec out the changes for API source per-stream state"
Research the changes that need to be made to the CDK to support per-stream state and what a migration plan would look like to move connectors to the new state protocol.

[2022-08-18 08:09] muutech commented on #5537
Sorry, github get my CSV wrong:

COLUMNA1;COLUMNA2;
HOLA;VECINO;
HOLITA;VECINITO3;

In the logs it seems to get the record object OK, but when trying to make it to destination CSV or Postgresql it ends "successful" but with 0 rows.

thanks!

[2022-08-18 08:18] persunde commented on #15589
@sajarin No, I will not write a MariaDB connector.
I can maybe contribute in the future, but not now.

[2022-08-18 08:46] #15717 closed

[2022-08-18 10:15] igrankova commented on #15553
@ernestasga, sorry, I'll remake.

[2022-08-18 10:25] igrankova commented on #15553
@ernestasga I see that the app I've created is ok, because the docs lead to the same App creation link.

[2022-08-18 10:27] #15553 closed

[2022-08-18 10:28] ernestasga commented on #15553
Sorry. I suppose auth token creation is the same then.

[2022-08-18 10:35] igrankova commented on #15553
@ernestasga my fault about the docs lynk. But during the App creation I've checked the Web Service option:
![image](https://user-images.githubusercontent.com/87977540/185375011-e8434706-75e1-4fcb-86da-0f898710b7c2.png)
So, hope everything is ok and we can use it.

[2022-08-18 11:39] bodschut opened #15754 "Source Google analytics data api: KeyError for custom reports without 'date' dimension"
## Environment
- **Airbyte version**:  0.38.40-alpha
- **OS Version / Instance**: Ubuntu
- **Deployment**: Docker
- **Source Connector and version**: Google Analytics Data Api v0.0.3
- **Destination Connector and version**: BigQuery v1.1.14
- **Step where error happened**: Sync job

## Current Behavior
When adding a custom report to the connector settings that doesn't include the 'date' dimension,

[2022-08-18 11:50] ingo-m commented on #15315
Thanks, I will test whether this fixed the problem ASAP.

[2022-08-18 11:54] misteryeo opened #15755 "Source MySQL: Test and validate support for Azure MySQL + Amazon Aurora MySQL + Amazon RDS"
Test and validate support for Azure MySQL + Amazon Aurora MySQL

!!!!!!!!!!!!!!!!!!!TODO!!!!!!!!!!!!!!!!!!
Shutdown test DB once testing is done
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2022-08-18 14:17] yash-ghelani-dsw commented on #14997
hi @harshithmullapudi , i have tried with https local server also but it does not work.... Now as per your suggestion I tried to customize the dbt(airbyte/normalization) image, but i failed to get inside the image (after running it as container).
I tried using following command:
"sudo docker run -it airbyte/normalization:0.2.6 /bin/sh"
but it gives following error:
"Unknown command: sh"
So can u h

[2022-08-18 14:58] #15650 closed

[2022-08-18 15:59] pedroslopez opened #15757 "Decouple cloud deployments from connector catalog updates"

[2022-08-18 16:05] #14970 closed

[2022-08-18 16:07] #14043 closed

[2022-08-18 16:48] #8858 closed

[2022-08-18 17:08] pedroslopez commented on #13760
Roadmap doc added https://docs.google.com/document/d/1U9k7GWJSqY3TPrkN3WDcZupEewW8Uq0V2pjBL1vXVU0/edit#

[2022-08-18 17:08] #13760 closed

[2022-08-18 17:10] sashaNeshcheret opened #15760 "Source Snowflake: bump and publish new version of connector"
Need to bump version of source snowflake after merging and deploying following [pr](https://github.com/airbytehq/airbyte/pull/15654).

[2022-08-18 17:10] tuliren commented on #15265
This is no longer a high-priority issue. Platform can add an `is_test` flag to the config and bypass the SSL modification.

[2022-08-18 17:19] pedroslopez opened #15763 "Tech spec for how to decouple cloud deployments from connector updates"

[2022-08-18 17:56] marcosmarxm commented on #13756
Zendesk ticket #[1996](https://airbyte7538.zendesk.com/agent/tickets/1996) has been linked to this issue.

[2022-08-18 17:56] marcosmarxm commented on #13756
*Comment made from Zendesk by Sajarin on 2022-08-18 at 17:56:*

<blockquote><div class="zd-comment" dir="auto">Hey @v_koppen, I think is related to this issue: <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/13756">https://github.com/airbytehq/airbyte/issues/13756</a>.<br>&nbsp;<br>Would you be able to post any AIrbyte server logs?&nbsp;<br></div></blockquote>

[2022-08-18 18:05] #14581 closed

[2022-08-18 19:15] brianjlai opened #15767 "Investigate how to ensure source connector schemas stay in sync with their API endpoints"
We're seeing occasional customers write in about missing data in some columns within their destinations. Part of this can be attributed to inconsistencies in our stream schema definitions and the API we are extracting data from. We sometimes have schema fields that are presented in the response of the source API's response. This leads to a column being added in the destination that will always be

[2022-08-18 19:26] natalyjazzviolin commented on #15742
@sivankumar86 thanks for creating this issue, I am sure it'll be useful for you, as well as many other users. I've triaged it to the appropriate team, so they'll take it from here!

[2022-08-18 19:32] animer3009 commented on #15571
@sajarin
I tried removing vendor profiles using Profile Id filter.
But now it is getting another error for Sponsored Product Report Stream:

Failure Origin: source, Message: Something went wrong in the connector. See the logs for more details.

`	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144) ~[?:?]
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPo

[2022-08-18 19:33] nataliekwong commented on #15727
Closing as this should be an update for the Connectors team to update the link in the UI to the new Universal Analytics documentation, rather than an update on documentation.

[2022-08-18 19:33] #15727 closed

[2022-08-18 19:45] ameyabhope commented on #13946
I upgraded the airbyte version and the postgres source version and getting an invalid error before the normalization step now, here are the details -

## Environment
- **Airbyte version**:  0.40.0-alpha
- **OS Version / Instance**: GCP n2.
- **Deployment**: GCP Compute Engine
- **Source Connector and version**: Postgres 1.0.3
- **Destination Connector and version**: Bigquery 1.1.9
- **Step where e

[2022-08-18 20:00] lucaswiley commented on #15745
Closing this per security guidelines

[2022-08-18 20:00] #15745 closed

[2022-08-18 20:06] #15141 closed

[2022-08-18 21:30] #15322 closed

[2022-08-18 21:34] Amruta-Ranade opened #15772 "Update Collecting metrics page"
**Note:** If you'd like to work on this issue, please read the [Docs Contributor guide](https://docs.airbyte.com/contributing-to-airbyte/updating-documentation) and comment on the issue to confirm it is still up for grabs.

From Slack:

This [page](https://docs.airbyte.com/operator-guides/collecting-metrics/) clearly calls out two ways of collecting metrics, but when you go down to the second meth

[2022-08-18 21:42] livefire2015 commented on #2189
Is this kind of plugin available today?
We want to desensitize some columns in our source data during the sync. One option is custom DBT transformation. However, it is not supported in k8s deploy of Airbyte.
So we are a little stuck here.

[2022-08-18 22:56] #15735 closed

[2022-08-19 05:39] duytp opened #15780 "Source MSSQL: converter decimal and money datatype"
## Environment
- **Airbyte version**:  example is 0.40.0-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker
- **Source Connector and version**: airbyte/source-mssql:0.4.16
- **Destination Connector and version**: airbyte/destination-s3:0.3.13
- **Step where error happened**: Sync from scratch (using CDC, SNAPSHOT)

## Current Behavior
Replication from MSSQL to S3 from scratch

[2022-08-19 06:16] suhomud commented on #11815
@grishick @tuliren, I opened PR and added [Dummy commit to destination-gcs](https://github.com/airbytehq/airbyte/pull/15783/commits/354010c0d00fc7aac61bcedab7d9b890bbd24b18) to show the report example.
It used github action for `pull_request` and python script to parse `build.gradle` files. Please have a look

[2022-08-19 07:08] sivankumar86 opened #15784 "Source-kafka: Dynamically change Namespace"
## Tell us about the problem you're trying to solve

     I have multiple  schema in same topic in source-kafka and wants to write to s3/snowflake different folder/table based on schema in the message. It seems, it is not possible to set "namespace" dynamically during "read" API .

####
 public AutoCloseableIterator<AirbyteMessage> read()

 return new AirbyteMessage()
              .withType(Airby

[2022-08-19 09:38] marcosmarxm commented on #13756
*Comment made from Zendesk by Marcos Marx on 2022-08-19 at 09:35:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thank you for prompt response.<br>
Regarding the issue you linked, I tested the http request in the Graph API Explorer and get an error related to the nativeoffers part.<br>
However, after removing it I still get an error about missing permissions:</p>
<pre style="max-wi

[2022-08-19 14:07] edmundito opened #15790 "Cleanup Card components in webapp"
Update `Card`, `ContentCard`, `ConnectorCard` components:

* Migrate to SCSS
* Add storybooks if missing
* Add unit tests where necessary (for testing behavior, not how it looks)

[2022-08-19 14:08] octavia-squidington-iii commented on #15790
cc @airbytehq/frontend

[2022-08-19 14:08] edmundito opened #15791 "Cleanup Text input components in webapp"
Update `Input`, `TagInput`, and `TextArea` components:

* Migrate to SCSS
* Add storybooks
* Add unit tests where necessary (for testing behavior, not how it looks)

[2022-08-19 14:08] octavia-squidington-iii commented on #15791
cc @airbytehq/frontend

[2022-08-19 14:19] edmundito opened #15792 "Replace use of the plus (+) character in webapp buttons with actual icon"
There are a lot of buttons in the webapp with buttons that seem to have a `+` icon next to them. For example, `+ New Connection`. However, this is just a `+` character. Instead, the buttons should show an icon.

* Replace all the instances of buttons that use + with just the name
* Consolidate terms in the i18n so that there are no duplicates (for example, are there strings with `New Connection` a

[2022-08-19 14:20] octavia-squidington-iii commented on #15792
cc @airbytehq/frontend

[2022-08-19 14:30] edmundito commented on #7497
@andyjih Could you review this and help us define how ideally we want to show the date & time to users?

[2022-08-19 16:05] mvanluytelaar opened #15793 "oracle connector: Option to provide custom TNS description"
## Problem
When connecting to an oracle database, the current descriptor pattern as part of the JDBC-URL is not enough when dealing with failover scenario's or for instance mTLS connections requiring specific parameters which fail to parse when provided as additional JDBC-parameters.

Example: when connecting to an OCI hosted Autonomous database the following TNS-description is required;

[code]
C

[2022-08-19 16:19] simon-fernandes opened #15794 "Source File: allow custom HTTP headers in HTTPS Storage"
## Tell us about the problem you're trying to solve
I am trying to pull data from a source accessible over HTTP/S but it is currently protected by HTTP Basic Auth.

## Describe the solution you’d like
I think it'd be really useful to be able to modify the HTTP request used to retrieve the data over the HTTP request to ensure the server accepts, the request such as HTTP Basic Auth headers.

## Desc

[2022-08-19 16:25] grishick commented on #2011
@kimerinn now that we have the E2E testing tool (cc @DoNotPanicUA ), can you please create an end to end test that validates the assumptions that Airbyte MySQL Source Connector works with MariaDB?

[2022-08-19 16:55] andrzejdackiewicz opened #15796 "Source Primetric connector"
## Tell us about the new connector you’d like to have
I need to have a source-primetric connector.

## Describe the context around this new connector
* I am working on data injestion from a variety of systems used in the company into our data lake. I found out that Airbyte is missing one of the required sources. We need the data for analysis. Some internal processes like finding people for project

[2022-08-19 16:59] andrzejdackiewicz commented on #15796
I would like to work on this issue :smiley:

[2022-08-19 17:20] robgleason commented on #15321
Hello, I made my first time contributing to Airbyte and I made a PR for this issue. I noticed that the AttemptDetails component was displaying this info, and expecting a number. I made a modification to return a number. I could go deeper into the code and find where it is pulling the data from to prevent a null value from ever being created. Also, would there be more tests that would need to be pe

[2022-08-19 18:11] natalyjazzviolin commented on #15793
Hi @mvanluytelaar , could you please specify which Oracle connectors you've got in mind?

[2022-08-19 18:35] #14796 closed

[2022-08-19 18:41] #14605 closed

[2022-08-19 18:43] DoNotPanicUA commented on #2011
@grishick the E2E testing tool is in the first stage and requires some important updates before we can use it as a regular tool.
We need at least the third stage from our [roadmap](https://github.com/airbytehq/airbyte/issues/15152) or even four.

[2022-08-19 19:28] ryankfu commented on #15527
@erica-airbyte if they have confirmed that all their credentials are correct, please add it to the Google Sheet and when it has hit a critical mass (presumably 3 or more workspaces) notify our team to make sure the visibility is there. I would suggest also tagging Greg so he can help identify if there's knowledge that he can contribute too

I'll attempt to take a further look this weekend and curr

[2022-08-19 20:10] lazebnyi opened #15803 "Source Chargebee: increase unit test coverage at least 90%"
## Tell us about the problem you're trying to solve
Need to improve unit test coverage at least 90%

[2022-08-19 20:14] DustyShap commented on #14582
Just curious if there has been an update on this? Thanks again!

[2022-08-19 20:30] grishick commented on #2011
I understand that. I just ran the E2E tool locally to sync a simple table from MariaDB on AWS to Postgres on AWS and I see that it does not have all the features that would be needed to create scenarios that test full functionality of MySQL Connector. Can the two of you work together to add the missing features to the tool and to create the test scenarios. For the scope of this issue, I do not nee

[2022-08-19 20:42] andyjih commented on #15742
@sivankumar86 This is definitely on our radar! We'll follow-up when we add this capability, but we don't have a solid ETA at the moment.

[2022-08-19 20:47] edmundito commented on #14278
Followed up with @andyjih:

* PRD is still in-flight and needs more iteration
* There are some designs ready but will change based on PRD changes.

[2022-08-19 21:20] andyjih commented on #15198
Closed by https://github.com/airbytehq/airbyte/pull/15199

[2022-08-19 21:20] #15198 closed

[2022-08-19 21:29] lazebnyi opened #15806 "Source PayPal Transactions: Rollback OAuth option"
## Tell us about the problem you're trying to solve
Rollback OAuth option.

## Describe the solution you’d like
Add the refresh_token field as optional. Update OAuth java part according to new not-nested structure.

[2022-08-19 21:56] grishick opened #15807 "Remove "allow" and "prefer" SSL modes from strict encrypt connectors"

[2022-08-19 22:04] grishick opened #15808 "Disallow unsecure SSL modes in Postgres source and destination strict encrypt connectors when SSH tunnel is not enabled"
All traffic in and out of Airbyte Cloud has to be encrypted. Currently, users can end up with an unencrypted connection if they select "prefer" SSL mode and their destination database does not support SSL.

Also, please fix the descriptions of SSL modes so that
1. unsupported SSL modes are not displayed in Strict Encrypt connector
2. descriptions of SSL modes for Postgres Destination connector say

[2022-08-19 22:09] grishick commented on #15265
We have a policy of not allowing unencrypted traffic in/out of Airbyte Cloud to/from customer resources, so we should only allow turning off SSL to customers when they have enabled SSH tunneling. Currently, that's not possible due to UI limitations.

[2022-08-19 22:13] mvanluytelaar commented on #15793
I am referring to the Oracle DB connector, source and destination

[2022-08-19 22:49] grishick opened #15809 "Ability to show/hide and enable/disable spec fields in the UI based on values of other spec fields"
## Tell us about the problem you're trying to solve
We need to be able to show/hide or enable/disable certain spec fields based on values of other spec fields. So far we have been working around this limitation with `oneOf` type field, but this workaround does not always work.

## Use case 1
We would like to allow users to turn off SSL when SSH Tunneling is enabled in order to avoid double encrypt

[2022-08-19 22:50] octavia-squidington-iii commented on #15809
cc @airbytehq/frontend

[2022-08-19 22:51] grishick commented on #13911
So far, this is blocked on https://github.com/airbytehq/airbyte/issues/15809

[2022-08-19 23:05] grishick commented on #659
AFAIK, this is the expected behavior

[2022-08-20 00:08] marcelopio commented on #15726
Just to link, I added ADC, but not as a fallback, because that would require that the worker had access to the host environment. So the way to get ADC now is passing the json generated by `gcloud auth application-default` login

https://github.com/airbytehq/airbyte/pull/14784

[2022-08-20 00:19] marcelopio commented on #15726
I think to add the impersonation would be just to add a field with the account to be impersonated, and that is basically it, if you are ok with using the `application-default login` json. I can make a PR with that idea

[2022-08-20 04:38] grishick commented on #6339
@creativedutchmen  today I used MS SQL Source connector version 0.4.16 with Airbyte to run a CDC sync from Azure SQL to BigQuery. I followed this tutorial to enable CDC on Azure SQL: https://www.mssqltips.com/sqlservertip/7237/azure-sql-database-change-data-capture-configuration-query-data/

[2022-08-20 05:26] davinchia commented on #5942
@xorl did your PR solve this for you?

[2022-08-20 06:57] grubberr commented on #5537
@muutech there was problem with "NaN" values in connector output
I have fixed in this PR https://github.com/airbytehq/airbyte/pull/15768
can you please re-test `source-file:0.2.19` ?

[2022-08-20 07:35] jhecking opened #15813 "JDBC Incremental Sync with Limit"
## Tell us about the problem you're trying to solve

We have a source database that can receive a very high level of updates. We would like to incrementally load data from that source into a different destination to run compute-intensive analytics on the data. For the purpose of the analytics, we don’t really need _all_ of the source data, i.e. a representative sample of the data would be sufficie

[2022-08-20 09:02] grubberr opened #15815 "🐛 Source Amazon Ads: keep incremental sync for no records"
## Current Behavior
Amazon Ads reporting streams can return no records.
In the current implementation if no records are received - STATE is not updated
and even for incremental sync, we can continue to sync from scratch again and again.

## Expected Behavior
I propose to improve connector logic and updated STATE even if no records are received.
it means we read old dates only once and we will not

[2022-08-20 09:09] DoNotPanicUA commented on #2011
@grishick
Actually, we need to populate only credential files for the local run. It makes sense to focus on getting credential files from our secret storage to simplify E2E testing tool usage at the current stage.

@kimerinn
Only a few things are missing to run the test locally:

- Up MySql source on our AWS instance
- Put some test data to the MySql
- Up MariaDB on our AWS instance
- Prepare cred

[2022-08-20 12:57] muutech commented on #5537
Tested! Now everything works. Thanks!

[2022-08-20 12:59] timroes opened #15818 "Discuss changing default sync mode"
We currently set a default sync mode as we discussed in April which is documented in https://github.com/airbytehq/airbyte/issues/9625#issuecomment-1105320983. We've now seen and heard from user feedback, that what we outlined that time, might not be the ideal solution. Thus I wanted to discuss two potential changes to the default sync mode we're selecting for new connections:

#### Change 1

We cu

[2022-08-20 12:59] octavia-squidington-iii commented on #15818
cc @airbytehq/frontend

[2022-08-20 13:14] timroes opened #15819 "Documentation split view flickering"
In a specific size the documentation sidepanel is flickering constantly between its two modes (the screen recording uses a weird framerate - in reality this flickers really fast between both of those modes):

https://user-images.githubusercontent.com/877229/185747645-472647e9-0f26-4ef8-8651-8cc4e7f6ce45.mp4

I suspect this happens because of we're checking the width in a way that does not take the

[2022-08-20 13:14] octavia-squidington-iii commented on #15819
cc @airbytehq/frontend

[2022-08-20 13:41] timroes commented on #15809
Thanks for filing this. Before this could be worked on we'd need to properly spec out how this syntax should look alike.

I'm not entirely seeing how Use-Case #2 would be solved by this? Are we looking (as the issue suggests) into show/hiding/enabling/disabling specific fields, or actually specific values inside fields (which to my understanding is what Use-Case #2 describes)?

Some thoughts aroun

[2022-08-20 16:38] nataliekwong commented on #15818
I agree with change 1.

I don't agree with change 2, as users expect their data to be mirrored from the source as a table stake. If we introduce duplicates without their explicit opt-in, it could cause users to lose trust in the data moved and assume the product doesn't work.

That being said, the downside of choosing Full Refresh | Overwrite as the default is that credit consumption is increased,

[2022-08-20 17:04] yash-ghelani-dsw commented on #14997
hi @harshithmullapudi , I was able to find some solution to change the airbyte/normalization image. I have tried to edit following lines in the entrypoint.sh :
""""
if [[ -z "${GIT_BRANCH}" ]]; then
      # Checkout a particular branch from the git repository
      echo "Running: git clone --depth ${GIT_HISTORY_DEPTH} --single-branch  \$GIT_REPO git_repo"
      git clone [[--depth ${GIT_HISTORY_DE

[2022-08-21 08:22] Jagrutiti commented on #15772
Hi @Amruta-Ranade

I went through the page in the link. I see it is the datadog way of collecting metrics that says TBD.

I would like the first line to be refactored as:

And remove DataDog header from the end of the page.

I do not know if this is the best solution or maybe you want to retain datadog header at the end.

Let me know what you think.

[2022-08-21 13:32] davydov-d opened #15823 "Source Marketo: semiincremental streams ignore start date and make redundant requests"
When running `campaigns` or `lists` stream sync,
 - three identical requests are made, even though only the first one produces records
 - when producing records, the sync start date is ignored
[code]

[2022-08-21 16:26] Amruta-Ranade commented on #13971
@sophia-wiley Issue for the "Edit configuration" content you're working on

[2022-08-21 17:23] Amruta-Ranade commented on #14553
Closed via https://github.com/airbytehq/airbyte/pull/15297

[2022-08-21 17:23] #14553 closed

[2022-08-21 23:11] sherifnada opened #15826 "Build CDK incrementally in CI"
## Tell us about the problem you're trying to solve
It takes too long to get feedback from CI on whether my changes to the CDK will succeed a CI build.

The CDK is currently built as part of the `Connectors Base` Build ([example](https://github.com/airbytehq/airbyte/actions/runs/3880416454/jobs/6627042024)). But that build is not nearly as incremental as it can be i.e: it builds a bunch of stuff w

[2022-08-22 04:41] harshithmullapudi commented on #14997
Hey that's great. Do you mind helping me with more information (Right now it's hard to understand at which line this is breaking).

1. Can you all some prints to that we can to understand that?
2. Also could you just try those lines outside in your terminal without the image so that we know for sure those lines are working?

@yash-ghelani-dsw

[2022-08-22 05:02] marcosmarxm commented on #6984
@evantahler can I reopen this one? It is quite an important to user using Helm Chart

[2022-08-22 05:31] marcosmarxm commented on #15796
Awesome @andrzejdackiewicz I assigned the issue to you. Let me know if you need any assistance here.

[2022-08-22 05:34] marcosmarxm commented on #15754
Thanks for reporting this @bodschut I added the issue to connector team backlog.

[2022-08-22 05:35] ycherniaiev commented on #15552
@marcosmarxm seems like integration-test account for Fauna has default frmo database that can be used as 'sandbox'. Lastpass: fauna.com. Is that enough?

[2022-08-22 05:35] marcosmarxm commented on #15726
Thanks @marcelopio the team will review your proposal this week.

[2022-08-22 06:12] ycherniaiev opened #15828 "Obtain public developer application for the Freshcaller source connector"
## Tell us about the problem you're trying to solve
Obtain a public developer application for the Freshcaller connector like specified in https://github.com/airbytehq/airbyte/issues/6070

[2022-08-22 06:18] ycherniaiev opened #15829 "Obtain public developer application for the Felxport source connector"
## Tell us about the problem you're trying to solve
Obtain a public developer application for the Elasticsearch connector like specified in https://github.com/airbytehq/airbyte/issues/6070

[2022-08-22 06:23] ycherniaiev opened #15830 "Obtain public developer application for the LinkedinPages source connector"
## Tell us about the problem you're trying to solve
Obtain a public developer application for the LinkedIn Pages connector like specified in https://github.com/airbytehq/airbyte/issues/6070

[2022-08-22 06:42] harshithmullapudi commented on #14788
Hey, this is interesting. I was actually able to run this perfectly looks to me like the issue is something else.

Could you try these
1. Upgrade to the latest version of Airbyte
2. Running the source in local

What I mean by local is you can
1. clone the repo
2. Inside airbyte-integrations/connectors/source-instagram
3. You can create a secrets folder and inside it a config.json
4. Then you can r

[2022-08-22 06:44] sajarin commented on #15794
Thanks for the issue, could you talk about what source/s you're trying to pull data from?

[2022-08-22 06:48] igrankova commented on #14530
Blocked - need active account.

[2022-08-22 06:49] harshithmullapudi commented on #14582
Hey didn't get anywhere on this as we are unable to reproduce it, is it possible to get on a call so that we can try debugging this?

[2022-08-22 08:17] AM-I-Human opened #15831 "matchingSchema null while running a connector"
## Environment
- **Airbyte version**:   0.40.0-alpha
- **OS Version / Instance**: Windows 11 local  docker
- **Deployment**: Docker
- **Source Connector and version**: custom pytnon api connector
- **Destination Connector and version**: S3 0.3.13
- **Step where error happened**:  Sync job

## Current Behavior
While syncing a 1 record test on a custom python connecto that fetch a dynamic schema, I

[2022-08-22 08:58] davydov-d commented on #13933
@harshithmullapudi could you please verify whether you experience this error after upgrading Airbyte to latest version?

[2022-08-22 09:05] johnlafleur commented on #15648
I don't think the "Try it yourself" is self-explanatory as CTA, and also is visible enough...
Maybe "Try Airbyte Cloud for free with your own data", and make it more visible, purple possibly and bold?

[2022-08-22 09:31] harshithmullapudi commented on #15831
Hey I can also see there is error

[code]

Can you check and see if fixing this is helping out

[2022-08-22 09:46] simon-fernandes commented on #15794
@sajarin The source is a business application where direct access to the database is not currently possible. Instead, an endpoint/URL has been created that outputs JSON data. As this data isn't supposed to be public, it has been protected with HTTP Basic auth.

[2022-08-22 09:55] DoNotPanicUA opened #15834 "E2E Testing Tool: Parsing incoming args"

[2022-08-22 10:03] alafanechere commented on #15692
@marcosmarxm and @monai I made the fix in #15835

[2022-08-22 10:25] kimerinn opened #15836 "E2E Testing Tool: test MySQL source on MariaDB"
Prepare following test scenario to be used with e2e-testing-tool:

1) Create MySQL source around mariadb database
2) Create Postgres destination
3) Create connection using source and destination from steps 1-2
4) Perform sync on newly created destination

[2022-08-22 10:33] AM-I-Human commented on #15831
This happen sometimes, the api server is not so reliable.
[logs-70.txt](https://github.com/airbytehq/airbyte/files/9393530/logs-70.txt)

[2022-08-22 10:57] harshithmullapudi opened #15837 "New source: Wrike need sandbox account"
## Tell us about the problem you're trying to solve
PR adds https://github.com/airbytehq/airbyte/pull/15638 Wrike Source. Need sandbox account / credentials to test it.

[2022-08-22 10:58] harshithmullapudi opened #15838 "New source: ITGlue need sandbox account"
## Tell us about the problem you're trying to solve
PR adds https://github.com/airbytehq/airbyte/pull/15694 ITGlue Source. Need sandbox account / credentials to test it.

[2022-08-22 11:34] mkhokh-33 opened #15839 "java.lang.RuntimeException: java.lang.RuntimeException: java.time.format.DateTimeParseException: Text '0' could not be parsed at index 0"
created issue from @danieldiamond  comment ralated to RP - https://github.com/airbytehq/airbyte/pull/14356
A couple of people running into issues now
java.lang.RuntimeException: java.lang.RuntimeException: java.time.format.DateTimeParseException: Text '0' could not be parsed at index 0

e.g.

- myself with source MySQL from 0.6.2 -> 0.6.4 (I'm using CDC). confirmed that syncs work again when rever

[2022-08-22 11:42] mkhokh-33 opened #15840 "java.lang.RuntimeException: java.time.format.DateTimeParseException: Text '0' could not be parsed at index 0"
created issue from @danieldiamond  comment ralated to RP - https://github.com/airbytehq/airbyte/pull/15504
A couple of people running into issues now
java.lang.RuntimeException: java.lang.RuntimeException: java.time.format.DateTimeParseException: Text '0' could not be parsed at index 0

e.g.

- myself with source MySQL from 0.6.2 -> 0.6.4 (I'm using CDC). confirmed that syncs work again when rever

[2022-08-22 11:43] mkhokh-33 commented on #15839
closed as duplicate https://github.com/airbytehq/airbyte/issues/15840

[2022-08-22 11:43] #15839 closed

[2022-08-22 11:56] subodh1810 commented on #15840
This seems relevant
[code]

[2022-08-22 11:58] AM-I-Human commented on #15831
By calling from console
`python airbyte-integrations/connectors/source-iassicur-api/main.py  read --config config.json --catalog catalog.json`
Seems to work, it will print on console the content.

[2022-08-22 12:08] lazebnyi opened #15841 "Certification Q3: Update docs to template"
Update docs to [template](https://docs.google.com/document/d/1bC_cLFIgSAfECmBQtGBGf3IWw3n0tlB-Vl0YduyeMiE/edit#):

- Zendesk Chat
- Sendgrid
- Sentry
- Slack
- Twilio
- Asana
- Greenhouse
- Pinterest
- Iterable

[2022-08-22 12:10] #15721 closed

[2022-08-22 12:16] marcosmarxm commented on #15750
@harshithmullapudi please post the log too to read and understand what is causing the issue.

[2022-08-22 12:40] cdugeai opened #15844 "[SFTP] Choose CSV separator"
## Tell us about the problem you're trying to solve

When adding a SFTP source fetching CSV files, we cannot change the **default separator** that is `,`. In fact, when creating a connection containing a SFTP source, the *schema fetching phase* fails with this error in the UI:

![image](https://user-images.githubusercontent.com/46027833/185923218-5f78717d-6b2d-4dc8-a605-e0f8f9df3009.png)

When dig

[2022-08-22 12:42] Svatopluk-Chalupa commented on #14832
Great.
And just linking for others - I also logged a feature request for protobuf message format:
https://github.com/airbytehq/airbyte/issues/15059

[2022-08-22 12:45] #5537 closed

[2022-08-22 13:15] edmundito commented on #15818
cc @andyjih

[2022-08-22 13:32] skt7 commented on #14997
Hi @harshithmullapudi,

Let me try to rephrase and elaborate on the issue @yash-ghelani-dsw is pointing out.

As we pointed out that the git shallow clone is causing the issue, we tried to replace it with simple clone command in the entrypoint.sh file of the "airbyte/normalization:0.2.6" image. We followed the following steps to achieve the same -

1 - On the local copy of "airbyte/normalization:0

[2022-08-22 13:47] #15841 closed

[2022-08-22 13:59] mirasdar commented on #15482
@Amruta-Ranade I propose to follow the structure
 Title Airbyte OSS Quickstart
 Set up your Airbyte OSS
 Set up a source
 Set up a destination
 Set up a connection
 Verify the connection
 Allowlist IP Address (will check if appplicable else delete this section)
1.Will ensure google style guide is followed
2. Will replace screenshots with 3 or 4 steps
3. Will createa decluttered  to do list of step

[2022-08-22 14:01] dizel852 opened #15845 "🪟 🐛 Broken spinner position on job logs loading"
Broken spinner position on logs loading

## Current Behavior
<img width="940" alt="Screenshot at Aug 22 16-58-57" src="https://user-images.githubusercontent.com/20929344/185939579-9dd87a38-ee85-47e4-aede-851da651a514.png">

[2022-08-22 14:01] octavia-squidington-iii commented on #15845
cc @airbytehq/frontend

[2022-08-22 14:30] #15692 closed

[2022-08-22 14:31] Amruta-Ranade commented on #15772
Hey Jagruti! Turns out, we have new guidance re: Datadog setup. I'm meeting with the engineer this week -- will keep you posted :)

[2022-08-22 14:38] Amruta-Ranade commented on #15482
Sounds good! Assigning the issue to you.

Feel free to open a PR with the updated draft. I'm also happy to review your draft before you open a PR if you prefer. In that case, please share your draft in a Google doc with the Suggesting mode turned on :)

[2022-08-22 14:45] adamf opened #15847 "JDBC URIs should URI encode the database name"
## Environment
- **Airbyte version**:  latest main (3ba8276d987f6880608265a45bd8d800b9c2e996)

## Current Behavior
JDBC URIs should encode the database portion of the URI, as many databases (Postgres, for example) allow non-URI safe characters in database names. For example, in Postgres, database names like `adam~foo/bar` are valid, but the tilde and forward slash are both not valid in the URI, si

[2022-08-22 14:55] Jagrutiti commented on #15483
Hey Amruta, is this issue still open?

[2022-08-22 15:03] Amruta-Ranade commented on #15483
Yes it is!

[2022-08-22 15:16] mirasdar commented on #15482
@Amruta-Ranade  please find the link below
https://docs.google.com/document/d/1mDFtwkbWoxj5L9JOQV7pvMAxet8zdZGsS7h99JMVigI/edit?usp=sharing

[2022-08-22 15:20] marcelopio commented on #15726
ADC will work on compute engines without any json provided, just not on developers machines

[2022-08-22 15:22] joshk0 commented on #15726
Sure, that's fine, and JSON should be a valid option for dev machines. But I'd like to use better practices in prod.

[2022-08-22 15:24] marcelopio commented on #15726
Nice, then draft solution should be fine!

[2022-08-22 15:25] joshk0 commented on #15726
Got it - I misunderstood your sentence back there then. Thanks!

[2022-08-22 15:48] grishick commented on #15836
@kimerinn please add the description of test scenarios to the issue.

[2022-08-22 15:52] DustyShap commented on #14582
Sure! You can contact me at dusty@rvvup.com.

[2022-08-22 15:58] timroes opened #15849 "Segment `page` calls not firing on Cloud"
Currently the segment calls for `page` (https://github.com/airbytehq/airbyte/blob/master/airbyte-webapp/src/hooks/services/Analytics/useTrackPageAnalytics.tsx#L15) on Cloud are not firing, since the relevant code is checking for a page URL and only firing if a page name is found, which currently doesn't ever work on Cloud due to workspace ids in the URL.

Talking to Natalie, we should change those

[2022-08-22 15:58] octavia-squidington-iii commented on #15849
cc @airbytehq/frontend

[2022-08-22 16:01] animer3009 opened #15850 "Error on time upgrade of some source connectors"
## Environment
- **Airbyte version**:  0.40.0-alpha
- **OS Version / Instance**:  Ubuntu 22.04, GCP
- **Deployment**: Docker
- **Source Connector and version**: Sendgrid 0.2.10 / Sentry 0.1.3 / Greenhouse 0.2.8
- **Step where error happened**: On time upgrade source connectors

## Current Behavior
Already for a long time we are not able to upgrade these connectors.
getting error: "Sorry. Something

[2022-08-22 16:01] gsmith-schlesinger commented on #12949
There's a PR currently submit that may fix this issue #15782

[2022-08-22 16:06] ryankfu opened #15851 "DBT Runtime Error: Additional properties are not alllowed"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
[code]
- **Step where error

[2022-08-22 16:16] wjwatkinson opened #15852 "Braintree Source: Normalization Fails"
## Environment
- **Airbyte version**:  example is 0.39.13-alpha
- **OS Version / Instance**: GCP n1-standard-4
- **Deployment**: Docker
- **Source Connector and version**: Braintree 0.1.3
- **Destination Connector and version**: BigQuery 0.6.10
- **Step where error happened**: Sync job

## Current Behavior
Sub objects are null and not normalized into their own tables despite being contained in the

[2022-08-22 16:40] lmossman commented on #15652
@dizel852 have you tried setting `disable_cache` to false?

https://github.com/airbytehq/airbyte/blob/master/airbyte-api/src/main/openapi/config.yaml#L2799-L2800

[2022-08-22 16:57] #15845 closed

[2022-08-22 16:59] grishick commented on #15840
@mkhokh-33  This is likely to cause a P0 outage, so please take this into implementation ASAP prioritizing above the other issue that you have in review currently.

[2022-08-22 17:14] ryankfu commented on #15840
@mkhokh-33 it seems the likely culprit is actually related to this PR: https://github.com/airbytehq/airbyte/pull/15504/files since this was not added to the change log but it touched `MySQL`. There may be another PR that touched `Postgres` but this is where the team seems to think the issue arose

[2022-08-22 17:19] edmundito commented on #12204
Marked blocked by #15791 - However, this can be done simultaneously as long as the input components don't need to be modified.

[2022-08-22 17:28] tealjulia commented on #7495
Saw this still hanging out in our bug backlog.

We're adding a validation check for this field in https://github.com/airbytehq/airbyte/pull/15625

However, we dynamically configure the validation schema based on the connector spec.  As noted in the PR linked, some Connectors (ie: Mailchimp and Salesforce) do require these Auth-related fields.  Others (ie: Hubspot, Google Ads, Google Sheets) do not

[2022-08-22 17:28] abankspdx commented on #15339
@davidfromtandym did you find a workaround?

[2022-08-22 17:34] davidfromtandym commented on #15339
@abankspdx we're landing data into redshift, so we ended up using some different AWS functionality ([see here](https://docs.aws.amazon.com/redshift/latest/gsg/bring-own-data.html), if helpful). Would have liked to keep all extract and load jobs in one spot with Airbyte, but didn't want to spend the time troubleshooting the connector myself and there doesn't seem to be any traction with investigati

[2022-08-22 18:06] #14022 closed

[2022-08-22 18:26] subodh1810 commented on #15840
@danieldiamond
I am not able to reproduce this for mysql or postgres. I tried to sync data from a mysql table with the following structure in CDC mode and it worked perfectly fine
[code]

can you share the schema of the table for which you faced the error and logs from the sync

[2022-08-22 18:26] midavadim commented on #14607
Update - our current auth method is deprecating indeed.

So started implementation of service account authentication.
But new auth method requires update of all streams - because now we should extract list of granted projects and then run current streams for each project

[2022-08-22 18:45] lazebnyi commented on #9224
Integration tests working - https://github.com/airbytehq/airbyte/pull/15744#issuecomment-1221876373

[2022-08-22 18:45] #9224 closed

[2022-08-22 18:59] grishick commented on #2516
Here's the issue with more context: https://github.com/airbytehq/airbyte/issues/5396

[2022-08-22 19:02] erica-airbyte commented on #15527
A user trying to set up OracleDB set up SSH and they saw the connection happen and get established but then the connection was dropped.

They have ensured that the SSH tunnel can access our IP address.

[2022-08-22 19:17] #15803 closed

[2022-08-22 19:24] #9542 closed

[2022-08-22 19:40] mackro-rocky commented on #15840
We're seeing the same issue on postgres with 1.0.2 connector.

Logs attached
[logs-56.txt](https://github.com/airbytehq/airbyte/files/9397136/logs-56.txt)

[2022-08-22 19:45] dizel852 commented on #15652
Gosh, just checked - works like a charm 🤌🏻 🎉  Thanks, @lmossman !
I will close the issue since it's not relevant anymore!

[2022-08-22 19:45] #15652 closed

[2022-08-22 21:26] davinchia commented on #15772
The set up for Datadog is pretty straightforward. There are two env vars that must be set:
1) `METRIC_CLIENT` set to `datadog`.
2) `PUBLISH_METRICS` set to `true`.

There are two additional env vars to configure where the DD endpoint:
1) `DD_AGENT_HOST` - set this to the ip the DD agent is running at.
2) `DD_DOGSTATSD_PORT` - set this to the port the DD agent is using.

Not sure if we want to set

[2022-08-22 21:28] erica-airbyte commented on #15527
From someone trying to set up the MySQl connector...the connection initially succeeds (see the success "logs") and then fails with the HikariPool error
<img width="1488" alt="Screen_Shot_2022-08-22_at_3_26_29_PM" src="https://user-images.githubusercontent.com/93952107/186022034-d71b14a2-b745-44d8-b597-aa82ae95e48b.png">

[2022-08-22 21:53] davinchia commented on #15772
I threw up https://github.com/airbytehq/airbyte/pull/15861 to make clear the monitoring related variables we support. We previously didn't add these as support was much more spotty.

[2022-08-22 22:45] Amruta-Ranade commented on #15772
Thanks, @davinchia 🙌🏽
@Jagrutiti I think you have all the info you'd need to work on the issue. Let us know if you need help!

[2022-08-22 22:53] luancaarvalho commented on #15850
I'm facing theses errors too, but at kubernetes helm deploy and **0.39.9-alpha version** .
These are the unique logs showed to me:

[2022-08-22 23:10] grishick commented on #15809
@timroes you are correct. This use case requires ability to show/hide values rather than fields. So, yes, somewhat different use case.

Yes, I think it would be safe to send hidden/disabled fields and the connector should ignore them

We may be able to achieve **Use case 2** with `if/then/else` if we add an ability to have a hidden property or a disabled control (this is a simplified version, beca

[2022-08-22 23:24] brianjlai opened #15865 "[low code connectors] investigate replacing file_path with file_name"
As per an OC issue being able to read schemas from the existing JsonSchema declarative component, we needed to replace `open()` with `pkgutils`

[2022-08-22 23:24] grishick commented on #14813
How can this condition be expressed in spec: require `ssl-mode` sub-fields only if `ssl` is `true`?

[2022-08-22 23:27] cgardens commented on #659
@evantahler can you confirm that this will work well for the platform?

[2022-08-22 23:44] evantahler commented on #659
Here's a sample from the integration test linked above:

[code]

I'm most concerned with how things look in the UI at the moment, but it looks like we have a good way to format messages for the user already, so I'm 👍

Adding @sherifnada just in case the SAT tests expect to see log messages in a certain way (I don't think so).

In some future project, it would be great to shrink/hide the `i.a.w.i.D

[2022-08-23 00:47] cgardens commented on #15527
@ryankfu I think this is pretty easy for us to reproduce ourselves. I don't think we need any additional information from users. The good news is that this appears to _all_ be related to bad user input. It also appears that in the code, we have access to all of the underlying failure reasons, so we can pass return them as part of the message in the check command. If we do that, it will be displaye

[2022-08-23 01:24] grishick commented on #11741
@krishnaglick I noticed that this is still not working correctly for database sources. For example, this field will show as string in the UI:
[code]
![Screen Shot 2022-08-22 at 6 23 52 PM](https://user-images.githubusercontent.com/1310940/186047761-78d7826e-8918-406d-ad56-12539b52140b.png)

[2022-08-23 01:28] grishick commented on #12277
I ran into this issue today. Some Postgres flavors (e.g. AlloyDB) do not support `?currentSchema=` parameter.

[2022-08-23 02:56] octavia-squidington-iii commented on #11741
cc @airbytehq/frontend

[2022-08-23 04:37] yash-ghelani-dsw commented on #15661
Hi @harshithmullapudi , I am colleague of @skt7 , please find the logs below:
Run - 1:
[logs-123.txt](https://github.com/airbytehq/airbyte/files/9399370/logs-123.txt)
Run - 2:
[logs-124.txt](https://github.com/airbytehq/airbyte/files/9399373/logs-124.txt)
Run  - 3:
[logs-125.txt](https://github.com/airbytehq/airbyte/files/9399376/logs-125.txt)
Run - 4:
[logs-126.txt](https://github.com/airbytehq/a

[2022-08-23 06:12] duytp commented on #12949
Yes, i got the same issue when the data schema is converted from JSON to AVRO.

[2022-08-23 06:17] #15823 closed

[2022-08-23 06:32] brianjlai opened #15868 "[low code connectors] add more descriptive error logging for HTTP errors"
Testing sendgrid a bit. I triggered an expected error (throws 400 since we don't have permission on free tier for the /messages endpoint).

However, the error reported to the logs isn't very helpful:
[code]

We should probably generate at least the URL and the response body instead of just printing the objects.

[2022-08-23 06:55] #10093 closed

[2022-08-23 07:13] 3LexW opened #15871 "Destination Postgres: Normalization of Local JSON fails"
## Environment
- **Airbyte version**:  0.40.1
- **OS Version / Instance**: RHEL7.9
- **Deployment**: Docker
- **Source Connector and version**: File 0.2.19
- **Destination Connector and version**: Postgres 0.3.22
- **Step where error happened**: Normalization

## Current Behavior
When I was trying to convert data from JSON file to postgreSQL, the normalization failed and thus only the raw data are

[2022-08-23 07:40] #15516 closed

[2022-08-23 07:45] igrankova opened #15872 "Research Sentry source connector"
## Complete the following exercise for Sentry source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-08-23 08:07] FransDel opened #15873 "Source Outreach: Request for more streams"
## Tell us about the problem you're trying to solve
For a Data Warehouse project we need to access outreach data. Currently in the outreach source the only tables created are:
* prospects
* sequence_states
* sequences
Ideally we want to also fetch:
* mailboxes
* accounts
* maillings
* opportunities
* personas
* stages

Also, in addition to the attributes that are already pulled in the tables, we n

[2022-08-23 08:10] igrankova opened #15874 "Research YouTube Analytics source connector"
## Complete the following exercise for YouTube Analytics source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Auth

[2022-08-23 08:49] #15834 closed

[2022-08-23 08:51] andriikorotkov opened #15875 "Implement reading credentials from secret storage"

[2022-08-23 09:06] #15872 closed

[2022-08-23 09:25] dboyadzhiev commented on #8134
It is still alive

Airbyte version: 0.40.0-alpha
OS Version / Instance: AWS EC2 and mac iOS
Deployment: Docker

[2022-08-23 09:35] #15815 closed

[2022-08-23 09:44] subodh1810 commented on #15840
hey @mkhokh-33 FYI, am already working on fixing this.

[2022-08-23 09:44] subodh1810 commented on #15840
Postgres error should be fixed by this PR https://github.com/airbytehq/airbyte/pull/15877

[2022-08-23 09:46] #14486 closed

[2022-08-23 09:49] #15874 closed

[2022-08-23 09:51] #15760 closed

[2022-08-23 10:12] yurii-bidiuk commented on #659
@evantahler
Here is a file of a sync's log. I made sync with error to show you how connector's exception is logged. As you can see from logs or from [our discussion](https://github.com/airbytehq/airbyte/pull/15668#issuecomment-1220099320) with @edgao, the original stack trace is logged only as part of `sync summary` log
[logs-1388.txt](https://github.com/airbytehq/airbyte/files/9401607/logs-1388.t

[2022-08-23 11:10] andrzejdackiewicz commented on #15796
Hello! I added a MR to Airbyte. Please take a look when You have time :smiley:
https://github.com/airbytehq/airbyte/pull/15880

[2022-08-23 11:26] si-te opened #15881 "Helm Chart deployed Ingress for airbyte-webapp returns 503 Service Temporarily Unavailable"
## Environment
- **Airbyte version**:  0.40.1
- **OS Version / Instance**: Ubuntu on Azure AKS
- **Deployment**: Helm Chart via Flux on AKS (Kubernetes)
- **Source Connector and version**:
- **Destination Connector and version**:
- **Step where error happened**: Deploy

## Current Behavior
*Tell us what happens.*

When the helm chart is deployed with webapp.ingress.enabled=true, the resulting ingr

[2022-08-23 11:30] #5478 closed

[2022-08-23 11:31] davydov-d commented on #9638
@igrankova @YowanR I guess this issue is not suggested to be a part of the connector certification, is it?

[2022-08-23 11:36] octavia-squidington-iii commented on #15700
cc @airbytehq/frontend

[2022-08-23 12:43] bazarnov opened #15882 "🎉 Source Sentry: improve test coverage up to 90%"

[2022-08-23 12:49] mkhokh-33 opened #15883 "E2E Testing Tool: Implement Update version scenario action"
Implement Update version scenario action for testing tool

[2022-08-23 14:41] jonathanneo commented on #15524
Hi there, I'm a community contributor. A PR created to fix this issue can be found here: https://github.com/airbytehq/airbyte/pull/15884

[2022-08-23 14:41] jonathanneo commented on #14779
Hi there, I'm a community contributor. A PR created to fix this issue can be found here: https://github.com/airbytehq/airbyte/pull/15884

[2022-08-23 14:54] krishnaglick commented on #11741
The work hadn't been merged, unsure why this was marked as done. I just merged it, please check it out again!

[2022-08-23 14:57] YowanR commented on #15480
Looks good to me -- thanks!

[2022-08-23 14:58] YowanR commented on #13885
LGTM -- thanks!

[2022-08-23 15:49] grishick commented on #15527
We have a separate workstream [here](https://github.com/airbytehq/airbyte/pull/15832) currently in review for improving error messages.

[2022-08-23 15:53] grishick commented on #15527
There are also these less obvious possible scenarios:

 - https://github.com/airbytehq/airbyte/issues/12277 - source DB server does not support selecting schema as part of connection string (AlloyDB is an example)
 - source DB does not support SSL or specific SSL mode
 - actual timeout

[2022-08-23 15:57] grishick commented on #11741
@krishnaglick this issues was likely auto-closed when https://github.com/airbytehq/airbyte/pull/11770 was merged:

![Screen Shot 2022-08-23 at 8 57 20 AM](https://user-images.githubusercontent.com/1310940/186205414-04fecf19-2bcb-4698-a1b5-b9c9b076d0f6.png)

is there another PR that is part of fixing this issue?

[2022-08-23 15:59] evantahler commented on #13936
tagging `team/infra` to learn more about how our infrastructure kills pods on cloud that run out of memory.

[2022-08-23 16:01] krishnaglick commented on #11741
#14671 is a cousin ticket I believe

[2022-08-23 16:18] #2386 closed

[2022-08-23 16:24] igrankova commented on #15722
@YowanR
We need your help with Netsuite.
Ihor Mykhailovskyi is now working on the Netsuite implementation. He asked me to subscribe to the beta testing program because there’s a possibility to test REST API:
Included Beta Features:
•	NetSuite Record Customization: Provides a consolidated view of all business record types in NetSuite. You can view and maintain the record types in your account. You

[2022-08-23 16:26] evantahler commented on #9884
I think we can close this issue - we now that we run CHECK before /every/ sync, and things seem to be running OK!

[2022-08-23 16:26] #9884 closed

[2022-08-23 16:30] evantahler commented on #7189
I'm closing this issue because we haven't heard back from the original poster in a few months.  Please let us know if you are still seeing this problem.

[2022-08-23 16:30] #7189 closed

[2022-08-23 16:32] evantahler commented on #132
This predates me... but I don't think we do this any more?

[2022-08-23 16:33] evantahler commented on #311
@supertopher from what I can see in our `docker-compose.yaml` we don't seem to have any special networking directives... so I think this can be closed?

[2022-08-23 16:38] evantahler commented on #1825
We could also make an echo service for this which might be more reliable and work for /all/ cloud providers:
* The app hits a URL like `https://echo.airbyte.com/test`
* The server gets the remote caller's IP address
* While holding the request open, the echo server does a mini port-scan on the IP address we got back and look for airbyte-specific information (APIs, page content)
* We return pass/fa

[2022-08-23 16:47] #448 closed

[2022-08-23 16:48] evantahler commented on #1574
Is this still an issue?  Airbyte now runs it's own postgres image within docker.

[2022-08-23 16:49] evantahler commented on #2322
In https://github.com/airbytehq/airbyte/issues/15218 we are building an airbyte cron service (`airbyte/cron`) for cleaning up logs and other things.  This would be a great addition to that service.

[2022-08-23 16:51] evantahler commented on #2503
Noting that these checks are probably specific to each connector - tagging the issue for the connector team(s)

[2022-08-23 16:52] evantahler commented on #1888
Closing this as it is a duplicate of https://github.com/airbytehq/airbyte/issues/3028

[2022-08-23 16:52] #1888 closed

[2022-08-23 16:53] #2398 closed

[2022-08-23 16:57] octavia-squidington-iii commented on #4049
cc @airbytehq/frontend

[2022-08-23 17:00] pmossman commented on #15593
Refining notes:
- Core question is: how do we keep Frontend and backend in sync when it comes to supported timezones?
- Java packages supported timezones, and stuff can change without us necessarily knowing about it
- Can add a test that compares the Java source of truth to the list used by the front-end
- Might not actually be worth doing anything, since builds should fail pretty loudly if timezo

[2022-08-23 17:12] animer3009 commented on #15850
Looks like solved in new upgrade.

[2022-08-23 17:13] cgardens commented on #311
To clarify, our goal was to _not_ use the local network but a network defined in docker-compose. The reason for this is that the (at least at the time) the local network works differently for different operating systems. That said, I don't see any of the switch statements we used to have based on OS in the code base, so maybe it is safe to simply close this one.

[2022-08-23 17:15] cgardens commented on #132
We still do.

<img width="289" alt="Screen Shot 2022-08-23 at 10 14 54 AM" src="https://user-images.githubusercontent.com/9092207/186222839-8f2649ef-279a-4b08-af64-fa5d2e2b61bf.png">

[2022-08-23 17:27] evantahler opened #15887 "De-nest ConnectorManagerWorkflow tests"
After converting `airbyte-worker` to Micronaut, we should take the time to clean up the ConnectorManagerWorkflow test suite.
* it's huge, and therefore hard to follow
* it's nested and hard to run a single test

[2022-08-23 17:32] rohansingh commented on #7469
I've noticed that the Recharge API sometimes returns gzip'd JSON without providing appropriate headers. You can verify by piping to `gzcat`.

[2022-08-23 17:35] nataliekwong commented on #15648
How's this @johnlafleur ?

<img width="1378" alt="Screen Shot 2022-08-23 at 7 31 51 PM" src="https://user-images.githubusercontent.com/38087517/186226559-15ed009a-adb6-452f-be80-0519a8041442.png">

[2022-08-23 17:36] edmundito commented on #13061
Timezones available with PR merge #15666

[2022-08-23 17:41] evantahler commented on #132
OH! I read this as the configs from a connector - oops!  I'll update the title.

[2022-08-23 17:49] alafanechere commented on #15407
grooming: wait until an actual use case pops up

[2022-08-23 17:54] subodh1810 commented on #6205
We have upgraded debezium to latest version (1.9) for mysql so this bug should be fixed since the [issue](https://issues.redhat.com/browse/DBZ-3559)  mentions fix is released in 1.7 debezium version

[2022-08-23 17:55] alafanechere commented on #15551
grooming:
- we should document how this work for future SAT iterations

[2022-08-23 18:01] brianjlai commented on #15868
grooming notes:
- There should be a helper for extracting meaningful information from a response, why doesn't low code do it?

[2022-08-23 18:36] #14733 closed

[2022-08-23 19:12] midavadim commented on #9220
/test connector=connectors/source-sendgrid

[2022-08-23 20:08] cgardens commented on #2503
@grishick do we do this for dbs? I know we added some more stuff to `check` in dbs, but can't remember if this was one.

[2022-08-23 20:13] yurii-bidiuk commented on #13589
Hi @grishick
I replaced our batch insert with async method as @pmcfadin recommended. It resolves this issue and we stop getting `Batch too large`. I made data sync and everything works well, all data is transferred (see logs attached).
Old logs with batch insert with `Batch too large` error:
[sync_with_batch.txt](https://github.com/airbytehq/airbyte/files/9410354/sync_with_batch.txt)
Logs with asy

[2022-08-23 20:15] sophia-wiley commented on #15618
No more documentation needed at this time. Update documentation when sources have per-stream state added to them.

[2022-08-23 20:15] #15618 closed

[2022-08-23 20:22] gdberrio commented on #7196
Found the issue with my code... I forgot the -i flag to allow docker to get the stdin stream I was piping.

[2022-08-23 21:14] davinchia commented on #13936
Agree this is very useful!

Kubernetes automatically handles this. The resources are dynamically specified as part of the pod's resources when the jobs are created. The error handling of this is in application land.

The 137 exit code generally indicates an OOM failure: https://www.analyticsinsight.net/open-source-help-what-is-exit-code-137-and-can-you-fix-it/#:~:text=Exit%20code%20137%20is%20trig

[2022-08-23 21:42] robgleason commented on #15613
I was planning on making a PR for this, and I thought it looked like an interesting issue. I like the PR that @edmundito made for this!

[2022-08-23 22:10] grishick opened #15897 "Broken link in public docs (custom connector section)"
### Tell us about the documentation you'd like us to add or update.
On this page: https://docs.airbyte.com/integrations/custom-connectors/
the link in "We invite you to check our [contributing guide on building connectors](https://docs.airbyte.com/integrations/contributing-to-airbyte/)" is broken, because https://docs.airbyte.com/integrations/contributing-to-airbyte/ returns 404

[2022-08-23 22:58] xiaohansong opened #15898 "Update Metric Reporter Querying SQL to include information about data plane"
When reporting metrics from metric reporter, currently it's running many queries against our database and report it directly to datadog.

A lot of job metrics would provide better information if we could group them by data plane - such as num_of_pending_jobs, num_of_running_jobs etc. Could explore if we can just add a tag when reporting the metrics rather than reporting multiple metrics, neverthel

[2022-08-23 23:03] xiaohansong opened #15899 "Integrate EKS pod logs with CloudWatch"
Verify and learn how to query logs in Cloud Watch for EKS cluster logs.

Should follow what we have in GCP to build a few common logging query templates.

This sits on lower priority because we can access logs from kubectl. It will be nice and convenient to leverage CloudWatch but not blocking us to investigate issues from EKS cluster.

[2022-08-23 23:07] xiaohansong opened #15900 "Seeding Tool for creating sync jobs"
A handy seeding tool for creating sync jobs would be useful to test multi cloud, especially when it comes to load testing, and might be useful to verify things when phase 3 routing service comes online.

The proposal is to inject data records in database and then call temporal cloud to start the workflow.

Pseudo code could look like:

[code]

Priority: Medium. Load testing is not high priority be

[2022-08-23 23:12] xiaohansong opened #15906 "AWS data plane failure exploration"
To gain more confidence for launching AWS data plane to customers, we should explore a bit to discover a few failure patterns so we can be more prepared to recover from failures. A few common scenarios would be:

- AWS workers stopped responding due to workers cut or pods deleted;
- Workers not properly registered to temporal queues when starting up due to config change;

We can treat these incide

[2022-08-23 23:15] evantahler opened #15907 "Ensure that state is persisted even when connectors crash"
Part of the [Connector Checkpointing Epic](https://docs.google.com/document/d/1n9grVSwCmRPiQc6JD53z4mBX9VwY_WXuR3daU5kNVlY/edit?pli=1#)

A checkpointing connection is one that is defined to be able to be resumed upon failure without loosing much data.  To that end, we need to ensure that even if a source or destination connector crashes mid-sync, that the platform persist the most recent state dat

[2022-08-23 23:37] gosusnp commented on #15907
Adding bit more context here, about the test 2.

Our current [implementation](https://github.com/airbytehq/airbyte/blob/f8ebd4f60c3957a409a9f72b568b3ea55b74ad6a/airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java#L47) is running sequentially the `replicationActivity` followed by `persistActivity`. It means that in case of crash, depending on the error that is throw

[2022-08-23 23:37] pmcfadin commented on #13589
Looks great @yurii-bidiuk ! There really shouldn't be any limit on sizes with this method. I did notice in the logs that the parent process closed while the async threads were still in flight. You've collected all the futures so it should be a matter of waiting for all threads to complete.

[2022-08-23 23:47] lmossman commented on #15648
@nataliekwong I have merged the PR to remove the demo mode UI code from the app, so you can go ahead and turn on the Google Optimize banner when ready.

We will also need to redeploy the demo app again so that the old demo banner is not shown anymore. We probably want to do that around the same time that the google optimize banner is applied, so let me know when you want to coordinate that!

[2022-08-24 00:28] johnlafleur commented on #15648
Looks good in your mockup.

*--*
*John Lafleur*
Co-Founder & COO
LinkedIn <https://www.linkedin.com/in/jeanhenrilafleur/> | Twitter
<https://twitter.com/JeanLafleur>
<http://movedata.airbyte.com>
We're hiring, come work with us! <https://boards.greenhouse.io/airbyte>

On Tue, Aug 23, 2022 at 4:47 PM Lake Mossman ***@***.***>
wrote:

[2022-08-24 01:29] grishick opened #15913 "Add a note about using primary/master DB host for Postgres CDC"
### Tell us about the documentation you'd like us to add or update.
Debezium documentation states that it can work only only with primary servers and not with hot or warm standby replicas. We should add a note about that to our Postgres CDC documentation to help users avoid pointing their connector configuration to replicas and wondering why it doesn't work.

### If applicable, add links to the re

[2022-08-24 02:55] grishick opened #15914 "Source MySQL to GA"
This is an Epic that aggregates issues that are required to be closed for MySQL source to be certified as GA.

* [ ] Create a certification spreadsheet
* [ ] Link spreadsheet in the issue description
* [ ] Checklist filled up by engineering team
* [ ] Move checklist to the product team for review
* [ ] Reviewed/Updated by product team
* [ ] Update connector documentation according to the comments

[2022-08-24 03:00] grishick commented on #13781
Adding this to MySQL To Beta epic, because this is part of "feature completeness"

[2022-08-24 03:06] animer3009 opened #15915 "IS_DEMO issue"
After commit 874d02a948c15ff26add2ab3bcc857d864cf4235 Airbyte web app doesn't start using docker.
getting error:
airbyte-webapp      | nginx: [emerg] unknown "is_demo" variable
airbyte-webapp exited with code 1

[2022-08-24 03:10] sajarin commented on #14779
Thanks for your contribution @jonathanneo, one of our maintainers will take a look at it and hopefully get it merged soon! Thanks for jumping on this issue!

[2022-08-24 04:00] Eloisee commented on #12089
It would be great if we could detect and add new tables in the source automatically .
In the bigquery source, we connect with the dataset and there may be  new tables day by day , and we would like to sync it without any manual work.

[2022-08-24 04:14] #15750 closed

[2022-08-24 04:29] Amruta-Ranade commented on #15483
Closed via #15885
Thanks so much, @Jagrutiti

[2022-08-24 04:29] #15483 closed

[2022-08-24 05:22] #15850 closed

[2022-08-24 05:30] #13676 closed

[2022-08-24 05:33] marcosmarxm commented on #15915
@animer3009 can you give more context about your env? Did you upgrade from a previous version or it is a new one?

[2022-08-24 05:40] #15518 closed

[2022-08-24 05:43] animer3009 commented on #15915
@marcosmarxm I am often doing git pull before start.
Today I was not able start after pull.
Then I started new VM and cloned new Airbyte. Same issue...
Right now I am running it after:
git reset --hard 3134619daf1c2f9f747f8c46155cc55d492f22e1

[2022-08-24 05:54] danieldiamond opened #15916 "Source Yandex Metrica: New Sandbox"
We need a sandbox account for the [Yandex Metrica](https://yandex.com/dev/metrika/) service in order to review https://github.com/airbytehq/airbyte/pull/13752

[2022-08-24 05:56] YowanR commented on #10099
@igrankova This issue looks complete so can you go ahead and close it off? Thanks!

[2022-08-24 05:56] YowanR commented on #14061
LGTM -- thanks!

[2022-08-24 06:16] sajarin commented on #15794
Got it, thanks for the additional context!

[2022-08-24 06:58] sajarin commented on #15916
Closed because of duplicate: #15553

[2022-08-24 06:58] #15916 closed

[2022-08-24 07:31] darian-heede commented on #14391
Hey @alafanechere, do you have an update when this feature will be available?

[2022-08-24 07:37] subodh1810 commented on #15840
MySQL error should be fixed by this PR https://github.com/airbytehq/airbyte/pull/15917

[2022-08-24 07:45] ramonvermeulen opened #15918 "Dockerhub airbyte/scheduler not upgraded"
For quite a while the airbyte/scheduler image on dockerhub is not upgraded to the latest version (`0.40.2`)

https://hub.docker.com/r/airbyte/scheduler/tags?page=1

It is still on `0.39.11-aplha`

Is there a specific reason for this? Is the deployment of the scheduler container not needed anymore in 0.40.X > ?
Because then I'll remove it out of my helm deployment.

[2022-08-24 07:56] ball-hayden opened #15919 "GitHub Connector: Bad bool value: MERGEABLE"
## Environment
- **Airbyte version**: 0.40.0-alpha
- **OS Version / Instance**: Official Docker Image
- **Deployment**: Kubernetes
- **Source Connector and version**: GitHub 0.2.46
- **Destination Connector and version**: BigQuery
- **Step where error happened**: Normalization

## Current Behavior

GitHub connector fails to sync pull_request_stats due to normalization error

## Expected Behavior

[2022-08-24 08:56] AM-I-Human commented on #15831
This is caused by the fact that to recover the schema from the catalog it is used as key the concatenation of namespace and streamname.
[code]
I discover that if I put on my connector:
[code]
The error matching schema is avoided(I get another error, but it is not related)

[2022-08-24 09:30] timroes commented on #15915
That sounds potentially like some issue with cached files. Could you try deleting the `airbyte-webapp/build` folder, then rebuild the platform/docker images and run the new docker images?

[2022-08-24 09:44] natalyjazzviolin commented on #15524
@jonathanneo thanks!

Closing this because it's a duplicate of #14779

[2022-08-24 09:44] #15524 closed

[2022-08-24 10:36] nataliekwong opened #15922 "Change Signup password form field type to password"
Change the visible password form field type to password before form submission.

[2022-08-24 10:36] octavia-squidington-iii commented on #15922
cc @airbytehq/frontend

[2022-08-24 10:57] venkypn commented on #15915
@timroes : We have followed your comments, but still we are not able to bring our airbyte up. Could you please help us on this.

[2022-08-24 11:13] luancaarvalho commented on #15850
@animer3009 What upgrade, please ?

[2022-08-24 12:45] octavia-squidington-iii commented on #15915
cc @airbytehq/frontend

[2022-08-24 13:19] mikelogaciuk commented on #15915
Something is not right.

Can't deploy stack with compose because of an error in webapp:

[code]

[2022-08-24 13:19] timroes commented on #15915
Could you maybe paste which commands you exactly ran and which one
eventually fails? (Will most likely require some more info after that, so
apologize already for needing to ping this a bit back and forth)

On Wed, Aug 24, 2022, 14:45 Octavia Squidington III <
***@***.***> wrote:

[2022-08-24 13:28] mikelogaciuk commented on #15915
@timroes

I use default docker-compose.yaml and .env for development purposes (without copying whole repository to the local destination):

[code]

[code]

[2022-08-24 14:08] misteryeo commented on #14391
Hi @darian-heede - we haven't made any plans to implement this feature so far so no updates here. We will continue to monitor upvotes for this feature but you're also welcome to make a PR to implement this!

[2022-08-24 14:12] misteryeo commented on #13781
@grishick We removed it because this is specifically for MSSQL. I've created a separate one here that Subodh's already started working on: https://github.com/airbytehq/airbyte/issues/15725 :) I'll let you read this and remove!

[2022-08-24 14:13] nataliekwong opened #15923 "Add utm_medium to airbyte_ui_cloud.user.create"
# Current Behavior
We currently collect the UTM tracking parameters for a user on signup for utm_source, utm_content, utm_term, and utm_campaign.

# Expected Behavior
We also utilize utm_medium to track which channel (like email, cpc, referral) the lead comes from. Add this to the user.create call so that we can populate it in downstream systems.

[2022-08-24 15:52] animer3009 opened #15927 "Sync duration issue in case of multiple connections"
## Environment
- **Airbyte version**:  0.40.1
- **OS Version / Instance**:  Ubuntu 22.04, GCP
- **Deployment**: Docker-compose
- **Source Connector and version**: Amazon Ads 0.1.16
- **Destination Connector and version**: BigQuery 1.1.15

I have multiple connections (about 683) and connectors.
One connector is used in 17 connections. The destination is the same for all.
Issue I have is that, when

[2022-08-24 15:56] grishick commented on #13781
I must have gone blind last night and read MySQL instead of MS SQL :)

[2022-08-24 15:59] animer3009 commented on #15850
@luancaarvalho
I mean Airbyte's last update.
I did git pull.
The Last version has no issue any more.

[2022-08-24 16:00] luancaarvalho commented on #15850
0.40.1, right ?

[2022-08-24 16:03] animer3009 commented on #15850
@luancaarvalho Yep.
Just review this before:
https://github.com/airbytehq/airbyte/issues/15915

[2022-08-24 16:05] luancaarvalho commented on #15850
Ok, thank you !

[2022-08-24 16:11] grishick commented on #15875
please link to related Epic

[2022-08-24 16:24] #15301 closed

[2022-08-24 16:40] timroes commented on #15923
This is strange. We have no hard filter for specific utm parameters, but we're collecting all query parameters that begin with `utm_`. So we'd first need to test why they are not tracked at all (with some reliable data).

[2022-08-24 16:45] ireyna-modo commented on #15915
I'm experiencing the same problem. Could #15648 have anything to do with this?

[2022-08-24 16:48] tealjulia commented on #15606
<ReplicationView>
  <Formik>
    <ConnectionName />
    <ConnectionFormFields />
    <RefreshSourceSchemaControls />
    <ConnectionEditControls />
  </ConnectionForm>
</ReplicationView>

[2022-08-24 16:50] evantahler commented on #15918
Yep! That's correct - Airbyte no longer uses the `airbyte/scheduler` container, as we've moved our scheduling logic into `airbyte/temporal` instead.

[2022-08-24 16:50] #15918 closed

[2022-08-24 17:04] ireyna-modo commented on #15915
If I re-add the var (`- IS_DEMO=${IS_DEMO:-}`) to the `docker-compose.yaml` it works. Perhaps the issue is that the published images are still expecting that variable to exist?

[2022-08-24 17:07] xiaohansong opened #15930 "Create a monitor to check if a job has running unusually long"
For now, the idea is to compare the historic sync jobs (last X successful runs) and see if the current run time is significant longer than them (X times more than the max run time of last several successful runs). If so we should report this job to a dashboard so oncall could take a look.

[2022-08-24 17:07] jyates-om1 commented on #4866
@schenkd - Thank you for posting this. I can confirm that it still works, and this makes our workflow using airbyte much smoother

[2022-08-24 17:10] lmossman commented on #15915
Hi all, we've discovered the issue here - the problem is that the `IS_DEMO` environment variable was removed from the docker-compose file, but we didn't release a new version of airbyte with that change. So when trying to spin up airbyte with the latest master code, the environment variable is not provided to old airbyte-webapp image that expects that environment variable, causing this error.

I a

[2022-08-24 17:12] jyates-om1 commented on #2796
I wanted to point out this comment for anyone who needs to use AWS ECR as a private docker repo for their custom connectors: https://github.com/airbytehq/airbyte/issues/4866#issuecomment-884843042

This works if you are hosting on EC2 and have an instanceprofile IAM role that grants access to the ECR you are trying to pull from. I still think that the UI feature would be great.

[2022-08-24 17:13] evantahler commented on #9365
Closing due to lack of activity.  Please re-open a new issue if you still think this is valuable!

[2022-08-24 17:13] #9365 closed

[2022-08-24 17:17] evantahler commented on #11463
Is this issue still occurring?

[2022-08-24 17:17] evantahler commented on #11606
Maybe @timroes - have we not done this yet?

[2022-08-24 17:18] lmossman commented on #15915
The other workaround at the moment is to checkout the code at the last-released version and start up airbyte from that version instead, e.g.
[code]

[2022-08-24 17:19] evantahler commented on #11236
Closing this issue in favor of https://github.com/airbytehq/airbyte/issues/13664

[2022-08-24 17:19] #11236 closed

[2022-08-24 17:20] evantahler commented on #13664
Some additional context can be found in https://github.com/airbytehq/airbyte/issues/11236

[2022-08-24 17:22] tuliren commented on #15808
In `strict-encrypt` connector, if SSH is turned off and SSL is disabled, fail the check.

[2022-08-24 17:22] evantahler commented on #10001
cc @marcosmarxm - Perhaps theres' a way to do this now with our update api, assuming the source in use supports a start_date-like field.

[2022-08-24 17:26] grishick commented on #15808
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/15808?planning-poker) with ZenHub @edgao @rodireich @ryankfu @subodh1810 @tuliren

[2022-08-24 17:27] evantahler commented on #6861
For now, you can use our [Open API definitions](https://github.com/airbytehq/airbyte/blob/master/airbyte-api/src/main/openapi/config.yaml) from and view them in the [Swagger editor](https://editor-next.swagger.io/)

![Screen Shot 2022-08-24 at 10.27.05 AM.png](https://images.zenhubusercontent.com/625848c232857a5abeb89721/8da4d9ed-42ec-4ff2-ba3f-0b4c07a72ccc)

[2022-08-24 17:27] #6861 closed

[2022-08-24 17:29] evantahler commented on #9587
This might be a step in the right direction https://github.com/airbytehq/airbyte/pull/15895.

[2022-08-24 17:31] #15265 closed

[2022-08-24 17:33] grishick commented on #10404
@evantahler is this something that the platform team can do?

[2022-08-24 17:36] evantahler commented on #10404
This is probably a duplicate of https://github.com/airbytehq/airbyte/issues/13936.  To accomplish this, we need tighter integration between the orchestrator which is killing the pods/containers and the platform, which can then read those reasons in.

I'll close this issue in favor of https://github.com/airbytehq/airbyte/issues/13936

[2022-08-24 17:36] #10404 closed

[2022-08-24 17:37] evantahler commented on #13936
Additional information from https://github.com/airbytehq/airbyte/issues/10404

---
From @subodh1810

We have seen an increased number of syncs failing causing of OOM issues. The right way to debug this is to collect heap dumps and analyse it to identify whats occupying the memory. We can collect heapdumps via JVM flag -XX:+HeapDumpOnOutOfMemoryError and specify the path where heapdump is generated

[2022-08-24 17:37] animer3009 commented on #15915
@lmossman yep, it is good.
Please keep us updated when master will be fixed.

[2022-08-24 17:41] evantahler commented on #8808
Closing, because things are now working as expdcted!

[2022-08-24 17:41] #8808 closed

[2022-08-24 17:42] evantahler commented on #8619
cc @edmundito is this still an issue?

[2022-08-24 17:44] #14056 closed

[2022-08-24 17:44] #13884 closed

[2022-08-24 17:44] #13885 closed

[2022-08-24 17:44] #15480 closed

[2022-08-24 17:52] grishick commented on #15471
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/15471?planning-poker) with ZenHub @edgao @rodireich @ryankfu @subodh1810 @tuliren

[2022-08-24 17:55] davinchia commented on #13936
One thought Evan, if we turn datadog agent on the connectors, we can get detailed stacktrace and memory reports [like this](https://app.datadoghq.com/apm/error-tracking?issueId=103dddfa-e038-11ec-bf35-da7ad0900002&start=1661277020102&end=1661363420102&paused=false). Would be a low effort way of resolving this specifically for Cloud.

The question of having a general mechanism is interesting. I'm n

[2022-08-24 18:09] evantahler commented on #13936
I think the main ask is to be able to present better information to users about what's happening in the product.

I think this means we need a way for the worker to ask the orchestrator (docker, k8s, etc) for a reason why a certain container exited.  The orchestrator could then pass on that request to a metrics layer (datadog) to get addtional information

I think for a first pass the goal is to b

[2022-08-24 18:11] lmossman commented on #15915
@animer3009 @ireyna-modo @mikelogaciuk @venkypn this issue has been resolved in the master branch. Sorry again for the inconvenience this has caused!

[2022-08-24 18:37] davinchia commented on #13936
Yeap. I agree.

My response was to https://github.com/airbytehq/airbyte/issues/13936#issuecomment-1226034902 where we collapsed #10404 into this issue.

Initial thought, and from our discussion, #10404 feels like a separate issue, or at least a follow up issue to this issue intelligently resolving exit codes and presenting that better to the end user.

[2022-08-24 18:39] animer3009 commented on #15915
@lmossman Thank you.
Working.
I am closing this issue.

[2022-08-24 18:39] #15915 closed

[2022-08-24 19:35] lmossman commented on #15448
@marcosmarxm the reason that no cursor field is shown for streams on a CDC source is because CDC sources use a [source-defined cursor](https://docs.airbyte.com/understanding-airbyte/connections/incremental-append#source-defined-cursor), as CDC sources internally keep track of the current position in the replication log (see docs about that [here](https://docs.airbyte.com/understanding-airbyte/cdc)

[2022-08-24 21:09] tealjulia opened #15935 "Make onboarding video modal its own component"
There are two props -- `clear` and `closeOnBackground` that are only used for the onboarding video modal.

The onboarding video modal should just be its own component since it behaves so differently from our other modal implementations.

[2022-08-24 21:09] octavia-squidington-iii commented on #15935
cc @airbytehq/frontend

[2022-08-24 22:03] NAjustin opened #15936 "Source Google Analytics: add ability to sync multiple View IDs per connection"
## Tell us about the problem you're trying to solve
The Google Analytics (Universal Analytics/GA3) source only currently supports a single View ID being provided despite many analytics use cases involving multiple sites/views. It's possible for both Service Accounts and oAuth clients to have access to multiple accounts/properties/views.

This means that for custom reports, you must copy the same l

[2022-08-24 23:10] sherifnada commented on #2516
closing in favor of #5396

[2022-08-24 23:10] #2516 closed

[2022-08-24 23:12] awillborn commented on #15907
We are tracking the most recently received destination state message in the AirbyteMessageTracker (`destinationOutputState`)

If either a source or destination connector fails during a sync, we set that destination state on the StandardSyncOutput, and that is what is saved later.

We have both an integration test and unit tests to validate this behavior.

[2022-08-24 23:17] alovew commented on #15907
We are tracking the most recently received destination state message in the AirbyteMessageTracker (destinationOutputState)

If either a source or destination connector fails during a sync, we set that destination state on the StandardSyncOutput, and that is what is saved later.

We have both an integration test and unit tests to validate this behavior.

[2022-08-24 23:21] #15907 closed

[2022-08-24 23:21] emeagenciadigital commented on #9433
With respect;
This is a complete scheme of stitch pipedrive ETL that does includes all relations

https://www.stitchdata.com/docs/integrations/saas/pipedrive

And this one from Synchub is also complete

https://www.synchub.io/connectors/pipedrive/datamodel

[2022-08-24 23:22] emeagenciadigital commented on #15264
This is a complete scheme of stitch pipedrive ETL that does includes all relations

https://www.stitchdata.com/docs/integrations/saas/pipedrive

And this one from Synchub is also complete

https://www.synchub.io/connectors/pipedrive/datamodel

[2022-08-24 23:26] brianjlai opened #15937 "[low code connectors] Add SAT test to run check/discover requests from a different working directory"
Due to an OC issue [462](https://github.com/airbytehq/oncall/issues/462) where the working directory on a Kube pod may not have been the source connector's root directory, syncs were unable to find the `source.yaml` config or the `schemas/<schema>.json` while running from the Airbyte app. This went unnoticed locally and on our SAT tests because the working directory probably never changed and the

[2022-08-24 23:29] brianjlai commented on #14510
This was completed in: https://github.com/airbytehq/airbyte/pull/15647

[2022-08-24 23:29] #14510 closed

[2022-08-24 23:58] sherifnada commented on #15937
for reference, the platform [changes the working directory of connectors](https://github.com/airbytehq/airbyte/blob/master/airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java#L115)

not sure where exactly it happens in kube

[2022-08-24 23:59] brianjlai commented on #14511
@girarda as far as I can tell we should be doing this already as part of the validation work. I ran greenhouse w/ the --debug flag on and we have a fully expanded json dereferenced. Going to close this one out

[2022-08-24 23:59] #14511 closed

[2022-08-25 00:06] brianjlai commented on #14633
@girarda I might be misunderstanding but do we still need this? Description is vague but it sounds like what we wanted from the display the full definition when --debug flag on which we're now doing

[2022-08-25 00:20] brianjlai commented on #15467
We currently have validation that prevents the developer from adding anything unexpected beyond those three (and version). But that is more to address the hack. [#15543](https://github.com/airbytehq/airbyte/pull/15543) has a test case for it. But leaving this over for the last one.

[2022-08-25 01:03] sherifnada opened #15940 "Python CDK: automatically add supported protocol version in the spec"
## Tell us about the problem you're trying to solve
placeholder until @gosusnp creates stories around the versioning epic

[2022-08-25 02:29] marcosmarxm commented on #15796
Sure, thanks so much for the contribution!

[2022-08-25 02:31] marcosmarxm commented on #15831
@AM-I-Human is it possible to share the connector code for further investigation?

[2022-08-25 02:33] marcosmarxm commented on #15847
Thanks @adamf I'll take a look in your PR.

[2022-08-25 02:34] marcosmarxm commented on #15524
Thanks @jonathanneo team will take a look soon to your contribution

[2022-08-25 02:44] st0302 opened #15941 "Sync worker failed"
## Environment
- **Airbyte version**:  0.40.1
- **OS Version / Instance**: centos7.6
- **Deployment**: Docker
- **Source Connector and version**: mysql5.7
- **Destination Connector and version**: clickhouse 22.8.2.11
- **Step where error happened**: Sync job

## Current Behavior
Sync worker failed.

## Expected Behavior
sync finish

## Logs
2022-08-25 02:01:56 [32mINFO[m i.a.w.g.DefaultReplicati

[2022-08-25 02:48] marcosmarxm commented on #15448
*Comment made from Zendesk by Marcos Marx on 2022-08-25 at 02:48:*

<blockquote><div class="zd-comment" dir="auto"><div class="zd-indent" style="margin-left: 0px;"><p dir="auto">The reason that no cursor field is shown for streams on a CDC source is because CDC sources use a <a rel="noopener noreferrer" href="https://docs.airbyte.com/understanding-airbyte/connections/incremental-append#source-defi

[2022-08-25 03:00] #11815 closed

[2022-08-25 03:05] terencecho opened #15942 "Acceptance tests: User Invite Flow"
Basic cloud tests: User Invite Flow

For user invite flow, a Firebase link is generated on the airbyte server and emailed to the invited user. For testing, might be hard to actually complete the entire flow. Probably don't want to inspect the email copy in the test, since we might be changing it frequently. But maybe we can inspect the generated link and see if there's something in it that we can

[2022-08-25 03:11] terencecho opened #15943 "Acceptance Tests: workspace security"
- A user with access to only one workspace cannot interact with any other workspace
  - Inviting user to a workspace

[2022-08-25 03:12] terencecho opened #15944 "Acceptance Tests: revoked user session"
- A user with a revoked user session (usually by logging out) cannot access the Airbyte API
  - Relies on Firebase (when someone signs out, we call Firebase to revoke their user session).
  - Might be tricky to set up locally, there is a Firebase emulator, but we might want to have it only run on staging (similar to credit tests)

[2022-08-25 03:15] terencecho opened #15945 "Acceptance Tests: CustomerIO Integration"
- CustomerIO
  - Ensure users are able to receive notifications

We would only add these acceptance tests if they are running them in staging/prod, since the main benefit is that we can confirm that we're able to talk to our integrations that are critical for our use cases.

[2022-08-25 03:16] terencecho opened #15946 "Acceptance Tests: Stripe Integrations"
- Stripe + Orb
  - Ensure users are able purchase more credits

We would only add these acceptance tests if they are running them in staging/prod, since the main benefit is that we can confirm that we're able to talk to our integrations that are critical for our use cases.

[2022-08-25 03:35] tealjulia opened #15947 "Debug Info Details shows incorrect version numbers"
Far right button here launches a modal that I would assume shows the version numbers of the connectors that this job was run with.
![Screen Shot 2022-08-24 at 11.13.30 PM.png](https://images.zenhubusercontent.com/6269740067dc6b70dd128801/2c9f42b9-2bed-4411-9945-f9f8180944ad)

However, I clicked on the logs from a job back months ago, I got version numbers whose Docker images were only released in