[2021-08-18 02:46] jadetr opened #5486 "Stack overflow when BigQueryDenormalizedDestination read a source schema with an empty array."
## Enviroment
- **Airbyte version**:  example is 0.29.7-alpha
- **OS Version / Instance**: Ubuntu 20.10 / dedicated
- **Deployment**: Docker
- **Source Connector and version**:  Harvest V0.1.3
- **Destination Connector and version**: BigQueryDenormalizedDestination V0.1.3
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
*Data is never synced.*

## Expected Be

[2021-08-18 03:23] davinchia commented on #5200
@jrhizor can you describe more what this is acheiving?

[2021-08-18 03:27] davinchia opened #5487 "Select SRE Ticketing Platform for Airbyte Cloud"
## Tell us about the problem you're trying to solve
We need a ticketing platform for Airbyte Cloud.

This issue is to evaluate various options and pick one with @nataliekwong's input.

Working document here: https://docs.google.com/document/d/1V2Lt3eylNyYUt_FGa-hnNppyAPnkNwGgX-7xDylmHwM/edit?usp=sharing

[2021-08-18 03:33] danieldiamond commented on #5417
Thinking this might occur in regular connectors as well but not sure.

[2021-08-18 03:35] davinchia opened #5488 "GL Infra Discovery: Billing."
## Tell us about the problem you're trying to solve
Placeholder issue to work with GL to figure out approaches to collecting billing information.

We have a current approach (using kubecost.com) to test out. This issue can be big or small lift depending on the result of that exploration.

Paying more attention to this since this is crucial for public launch and blocker for app team billing work.

[2021-08-18 05:14] fwerva commented on #5464
Sure, this should be fine :)

At the moment, we are only using the /query endpoint to pull data from the Prometheus API, because the right PROM-QL statements allow us to select the spececific data we need. The requests somehow look like this

- `localhost:9090/api/v1/query?query=100 * (1 - avg by(instance)(irate(node_cpu{mode='idle'}[5m])))`
- `http://localhost:9090/api/v1/query?query=mysecondquer

[2021-08-18 06:41] jimbeepbeep commented on #5435
Attempted to connect the same source to the **BigQuery (denormalized typed struct)** destination, this time it didn't fail but is still running 14 hrs later and has no logs for the past 9hrs:

[logs-5-0.log](https://github.com/airbytehq/airbyte/files/7005081/logs-5-0.log)

[2021-08-18 07:46] keu commented on #5435
Hi @jimbeepbeep, sorry to hear that. Our team is looking into the issue, will let you know about the result shortly.

[2021-08-18 08:50] pmamarques commented on #2977
Same here.

[2021-08-18 09:09] jimbeepbeep commented on #5435
Thanks @keu, I actually think the previous connection (with basic normalization) was only failing on the DBT job becuase of this error message:

[code]

This data type (ARRAY<STRING>) should be extracted from JSON using [JSON_VALUE_ARRAY](https://cloud.google.com/bigquery/docs/reference/standard-sql/json_functions#json_value_array) in BigQuery, hence the error and the fail.

I have resorted to cre

[2021-08-18 09:52] #4964 closed

[2021-08-18 10:08] lazebnyi commented on #5184
@krishmanoh2 Thanks for your issue. Could you provide a full log file with full attempts list? Thanks!

[2021-08-18 11:41] gehtalles-de opened #5493 "🎉 Source Shopify: fetch all Shopify metafields"
I'm trying to replicate all Shopify data to a Postgres database to use that data for internal software tools. We are using a lot of metafields for storing additional information about products and variants. Right now, Airbyte only fetches metafields that have "Shop" as the owner_resource.

It would be nice if, or in our case even necessary that, Airbyte syncs the metafields of all resources.

http

[2021-08-18 12:03] mcfuhrt opened #5494 "New Source: Shopware"
## Tell us about the new connector you’d like to have
We use Shopware as our online store system and want to extract the data using API.

## Describe the context around this new connector
We want to use all entities / endpoints

## Describe the alternative you are considering or using
Currently we can use the MySql Connector, but we want to use the API cause API entities already contain informatio

[2021-08-18 13:03] #5434 closed

[2021-08-18 13:06] yevhenii-ldv commented on #5434
@jgtvares
We just merged this bug into master and released a new version of the connector.

Upgrade your connector to version 0.1.5 and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further questions.

Enjoy!

[2021-08-18 13:08] marcosmarxm opened #5495 "Source Google Analytics: edit custom report throws error 405 when update schema in connection"
## Enviroment
- **Airbyte version**:  0.28.1-alpha
- **OS Version / Instance**: GCP
- **Deployment**: Docker
- **Source Connector and version**: Google Analytics 0.2.6
- **Destination Connector and version**: Snowflake 0.3.12
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Update connection

## Current Behavior
Try to edit a Google Analytics source ad

[2021-08-18 13:09] marcosmarxm commented on #5495
@sherifnada I removed from connectors because it's a server error.

@subodh1810 fyi tagging you because you're working on schema update and some sources has this "custom schema"

[2021-08-18 13:20] karinakuz commented on #2801
**Available streams for sync**

If this is an API connector:
1. Provide a link  to the reference docs
**Use the Reporting API** https://developer.paypal.com/docs/reports/payflow-reports/use-the-api/
**Samples** https://developer.paypal.com/docs/reports/payflow-reports/samples/
**Report Parameters** https://developer.paypal.com/docs/reports/payflow-reports/report-parameters/

**Main streams - Stand

[2021-08-18 13:27] karinakuz commented on #2801
Populating the account with data
[ ] Do activities on the account: open/close 10 times, add transactions (UI), create API queries in Postman to create the reports and get data of the reports. Add notes to LastPass Description with name Payflow Reports (12h).

Get correct data in responses for POST XML requests:
1. Activity report
POST https://payments-reports.paypal.com/test-reportingengine
Body
<

[2021-08-18 13:29] jimbeepbeep commented on #5435
OK @keu good news (from my perspective anyway!) - the job without normalization (to the normal BigQuery destination 0.3.12) succeeds!  Luckily I'm pretty used to working with JSON as well as nested/repeating fields in BigQuery, so I can work with the raw data and decode it into the same schema as when the sync was functioning properly, then UNION into the backup data and we are back up and running

[2021-08-18 14:20] jgtvares commented on #5434
I've tested here and the set up seems okay, but sync is failing. Logs are displaying some `409`'s but I remember that also happened in the other version (0.1.4) and it didn't make the sync fail.

<details>
<summary>First attempt LOGS</summary>

[code]

</details>

[2021-08-18 14:41] marcosmarxm opened #5498 "Destination Oracle: json_value doesnt handle special char"
## Tell us about the problem you're trying to solve
Oracle json_value doesnt handle some special chars. Need to implement a function to handle this.

## Describe the solution you’d like
https://github.com/airbytehq/airbyte/blob/45c8e3e47db96fba70ecf849a7f49bdd4714031f/airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/StandardNameTransformer.java#L65-L90

## Des

[2021-08-18 15:07] krishmanoh2 opened #5499 "Source github - Add reactions as a stream"
https://docs.github.com/en/rest/reference/reactions

## Tell us about the problem you're trying to solve
Capturing github streams to a DW for analytics. Currently, the Airbyte Github source is missing reactions to comments. This is valuable information to report on.

## Describe the solution you’d like
Add reactions as a stream - https://docs.github.com/en/rest/reference/reactions

## Describe the

[2021-08-18 15:21] lazebnyi commented on #5184
According to last log it's normal behavior for slack connector. Repeating line `Retrying. Sleeping for 3 seconds` means that we get 429 error and retry after time is 3 min and after we get record than we send request again and get same situation.

[code]

Only after 5 429 Response in a row we get erorr.

Waiting time and frequency Slack chose dynamically based on diferent parameters.

May be you h

[2021-08-18 15:34] cheyura commented on #2977
No Sandbox available and real Application (where Pendo Agent is installed) is needed to retrieve data through API

[2021-08-18 15:36] cheyura commented on #2982
No Sandbox available and real app is needed to retrieve data through API

[2021-08-18 15:38] cheyura commented on #4046
We have access though API to demo site, API token is generated for integration-test@airbyte.io but it is not needed for demo (public) site

[2021-08-18 15:42] #5428 closed

[2021-08-18 15:51] jrhizor commented on #5200
I think this ticket is worded as a solution to a problem that was actually solved across a number of unrelated changes. Going to close.

[2021-08-18 15:51] #5200 closed

[2021-08-18 15:57] jrhizor commented on #4232
Oh. I completely misread this ticket.

This ticket basically boils down to removing `podAffinity`
https://github.com/airbytehq/airbyte/blob/master/kube/resources/server.yaml#L27 as soon as @tuliren adds support for completely deprecating volume-based persistence.

I'm going to mark this as blocked and reopen the other one, which is actually what I was working on (which is blocked from releasing bu

[2021-08-18 15:57] jrhizor commented on #3825
Turns out I misread the purpose of the other ticket. Reopening this.

[2021-08-18 16:27] tuliren commented on #4890
- Make the scheduler wait for the server.
- Remove the config volume with the new strategy.

[2021-08-18 18:27] marcosmarxm opened #5503 "Source Google Ads: investigate CI failure"
## Current Behavior
https://dnsgjos7lj2fu.cloudfront.net/tests/summary/source-google-ads/
[code]

## Expected Behavior
CI should work without failure.

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs, you can download the full logs from the UI by going to the sync attempt page and
clicking the download logs button at the top right of the logs display window

[2021-08-18 18:48] cgardens opened #5504 "Move state from jobs db to configs db"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-18 18:53] cgardens opened #5505 "Secrets Handling Tech Spec"
Create a design spec exploring how we can better handle secrets in the app and connectors, so that we can plan improvements.  Key area: Secrets should not live in the database, but rather in a secrets store service.

[2021-08-18 18:55] cgardens commented on #2622
@Phlair can we close this?

[2021-08-18 18:59] #4667 closed

[2021-08-18 19:41] antixar opened #5507 "Refactoring of Dockerfile for Java connectors"
These is an idea to implement [same refactoring](https://github.com/airbytehq/airbyte/issues/5153) for Java builds too.
Now Java bundles are been compiling separately. For this we can use the Docker [multistaging](https://docs.docker.com/develop/develop-images/multistage-build/) For example [here](https://mailslurp.medium.com/faster-java-containers-with-docker-multi-stage-builds-cc63e056e546)

[2021-08-18 19:42] #5153 closed

[2021-08-18 19:50] yevhenii-ldv commented on #5503
@marcosmarxm
Looks like the `spec` test falls, as it finds an extra field `custom_queries`. Apparently the creds have been updated, but this [PR](https://github.com/airbytehq/airbyte/pull/5302) is not yet in the `master` branch.

[2021-08-18 19:59] cgardens commented on #5266
increasing priority because this is really slow in the UI for an interaction that, from the user's point of view, doesn't feel like it should be slow.

[2021-08-18 21:26] marcosmarxm opened #5511 "Source Cart.com: add products in order stream"
## Tell us about the problem you're trying to solve
Need to add products or product id in order stream.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using

[2021-08-18 22:08] tweinreich commented on #2004
I encountered this today with a legacy MySQL 5.1 DB and I would appreciate this feature.

[2021-08-18 22:47] cgardens opened #5513 "Risk Management Policy"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-18 22:58] cgardens opened #5514 "Improve K8s performance"
## Tell us about the problem you're trying to solve
@davinchia & @jrhizor can you right down what you think we need to improve the performance of our K8s setup? In other words we want to be able to run docker containers E2E faster than we do now. The goal of this issue is to just shake out any known ideas you guys have or intuitions on where we should start looking. We want to socialize the info.

[2021-08-18 23:09] cgardens commented on #5435
@ChristopheDuong is actually the expert on this one. 😄

Is the issue that the type for the field is front in the catalog for this source? Or is the issue that this destination is not handling array types properly? No problem if you're not sure, but that's probably the next diagnostic question for us to figure out.

[2021-08-18 23:37] krishmanoh2 commented on #5184
[logs-201-1_csv.txt](https://github.com/airbytehq/airbyte/files/7010739/logs-201-1_csv.txt)
[logs-199-0_mysql.txt](https://github.com/airbytehq/airbyte/files/7010740/logs-199-0_mysql.txt)

I let it run and it finally succeeded. Csv as destination failed once. Is this normal with slack as a source? It took ~4hrs. Csv was close to 5hrs. The volume is trivial.

[2021-08-19 00:54] erichartono opened #5515 "Stripe Source can't sync Customers on 0.29.9-alpha - Normalization Failed"
## Enviroment
- **Airbyte version**:  0.29.9-alpha
- **Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Stripe 0.1.16
- **Destination Connector and version**: Redshift 0.3.12
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
I had a connection that could sync Stripe Customers data on 0.29.4-alpha version. After upgrading to 0.29

[2021-08-19 01:13] erichartono commented on #5515
I experimented to setup clean AirByte on new EC2 instance, running 0.29.4-alpha and normalization 0.1.38 on this scenario. It worked without a glitch. Hope this is helpful.

![image](https://user-images.githubusercontent.com/19322804/129991915-78df00bd-7adc-43e7-a2f8-07fc9eb70822.png)

[2021-08-19 01:14] marcosmarxm commented on #5515
thanks @erichartono https://github.com/airbytehq/airbyte/pull/5467 is solving this issue.

[2021-08-19 01:15] erichartono commented on #5515
Thanks @marcosmarxm.

[2021-08-19 01:28] danieldiamond opened #5516 "Failed CDC job does not cancel job"
## Enviroment
- **OS Version / Instance: **Linux EC2 m5.xlarge
- **Deployment: **Docker
- **Airbyte Version: **0.29.7-alpha
- **Source name: **MySQL 0.4.3
- **Destination: **Snowflake 0.3.12
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
Failed CDC job doesn't cancel the sync job. Just hangs

## Expected Behavior
Failed CDC job should cause the job to fail

[2021-08-19 04:25] #2094 closed

[2021-08-19 04:32] sherifnada opened #5518 "Enable bubbling up the failure reason of a connector in the API/UI more clearly"
## Tell us about the problem you're trying to solve
Currently the only way for a user to understand why a particular connector/sync has failed is to look at the logs. These are very technical logs which are not easy for a non-engineer to parse. For example, if the reason my API is failing is because my API or refresh token expired, then my best way of finding out is parsing the logs.

## Describe

[2021-08-19 04:45] cgardens commented on #5321
@davinchia assigning this to you since you're handling email verification stuff. Feel free to close if it is duplicative with tickets you've already created.

[2021-08-19 04:50] cgardens commented on #5265
@jrhizor what do you think of this? feels adjacent to some of the things you've talked about regarding giving the user reassurance things are actually working. also trying to make some of the wait times feel less oppressive. 😅

[2021-08-19 05:41] #3250 closed

[2021-08-19 06:19] gaart commented on #3250
@sherifnada

We just merged this feature into master and released a new version of the connector.

Upgrade your connector to version 0.1.6 and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further questions.

Enjoy!

[2021-08-19 06:33] #3752 closed

[2021-08-19 07:18] davinchia commented on #5459
also update this doc: https://docs.google.com/document/d/1Q1N4oomtz3rXqqn97nMB5rfcM_Dd2K3in5vmYPWdjjY/edit#heading=h.rslbpj40lw24

[2021-08-19 07:33] AlexandruManolache1 opened #5520 "Smart Sheet Conector / Columns Scrambled"
## Enviroment
- **Airbyte version**:  0.29.8-alpha
- **OS Version / Instance**: GCP Compute Engine
- **Deployment**:Docker
- **Source Connector and version**: SmartSheet 0.1.5
- **Destination Connector and version**: BigQuery
- **Severity**:Medium
- **Step where error happened**: sync job

## Current Behavior
columns arrive in BigQuery Json columns scrambled. The values seem to be OK, but the name

[2021-08-19 08:19] shmf opened #5522 "Password logged as plain text"
## Enviroment
- **Airbyte version**:  0.29.7-alpha
- **OS Version / Instance**: AWS
- **Deployment**: Kubernetes
- **Source Connector and version**: n/a
- **Destination Connector and version**: n/a
- **Severity**: High
- **Step where error happened**: Deploy

## Current Behavior
Passwords visible in the logs
![image](https://user-images.githubusercontent.com/84322199/130033375-501c3a97-4b02-4379-8

[2021-08-19 08:49] #5236 closed

[2021-08-19 09:56] keu commented on #3468
we don't need NoAuth, as it is simply None

[2021-08-19 09:58] keu commented on #3468
also, it is better to have session auth instead of Request(auth=

[2021-08-19 10:14] #4776 closed

[2021-08-19 11:20] ChristopheDuong opened #5525 "Connector: BigQuery Denormalized NPE when sync data from intercom"
## Enviroment
- **Airbyte version**:  0.29.9-alpha
- **Destination connector version**: destination-bigquery-denormalized:0.1.2

## Current Behavior
*Tell us what happens.*
Trying to replicate data from source Intercom to destination bigquery denormalized fails on `admins` stream.

## Expected Behavior
*Tell us what should happen.*
Success sync

## Logs
*If applicable, please upload the logs from

[2021-08-19 11:23] ChristopheDuong opened #5526 "Kube attempts not catching connector exception properly"
## Enviroment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / Lo

[2021-08-19 11:35] ChristopheDuong opened #5527 "Source-Intercom fails with TypeError: string indices must be integers"
## Enviroment
- **Airbyte version**: airbyte-cloud (based of airbyte OSS v0.29.3?)
- **Deployment**: Kubernetes deploy env
- **Source Connector and version**: source-intercom:0.1.1
- **Destination Connector and version**: destination-bigquery:0.3.12

## Current Behavior
*Tell us what happens.*
When syncing source intercom, user gets an exception:
[code]

## Expected Behavior
*Tell us what should h

[2021-08-19 11:49] #4746 closed

[2021-08-19 12:52] ChristopheDuong commented on #5435
It should be using this json extract function (through dbt macros) but i am not sure what's actually happening and the generated SQL ended up using the non array function in your use case:
https://github.com/airbytehq/airbyte/blob/954d7ccbb24047602e27be0c4cb733497fcbcad0/airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/json_operations.sql#L127

I would need

[2021-08-19 13:27] ChristopheDuong opened #5529 "Connector: BigQuery Denormalized Stack Overflow when sync data from snapchat"
## Enviroment
- **Airbyte version**:  0.29.9-alpha
- **Destination connector version**: destination-bigquery-denormalized:0.1.2

## Current Behavior
*Tell us what happens.*
Trying to replicate data from source snapchat to destination bigquery denormalized fails

## Expected Behavior
*Tell us what should happen.*
Success sync

## Logs
*If applicable, please upload the logs from the failing operatio

[2021-08-19 13:30] ChristopheDuong commented on #5529
[Uploading logs-136-0.txt…]()

[2021-08-19 14:04] andriikorotkov commented on #2369
Hello **@sherifnada**. I am currently working on mongodb destination. I have a question about normalizing data that was taken from a relational database (MySQL, Postgres, ect.). It is better to explain with an example.
 I have two tables in the source that are linked as many-to-many through another table (For example _"students", "classes"_ and "_students_classes"_ tables).
Now I have made a new d

[2021-08-19 15:23] prasrvenkat commented on #5474
Apparently another bug and fixed here https://github.com/airbytehq/airbyte/issues/5527

[2021-08-19 16:39] bazarnov opened #5533 "source-acceptance test: 'NoneType' object has no attribute 'config_key'"
## Enviroment
- **Airbyte version**:  no matter
- **OS Version / Instance**: macOS, Ubuntu 20.04
- **Deployment**: Docker, locally
- **Source Connector and version**: no matter
- **Destination Connector and version**: no matter
- **Severity**: Medium
- **Step where error happened**: Tests / SAT

## Current Behavior
When runs the `python -m pytest integration_tests -p integration_tests.acceptance`

[2021-08-19 16:58] marcosmarxm commented on #5474
@prasrvenkat closing this because #5531 solves it.

[2021-08-19 16:58] #5474 closed

[2021-08-19 16:58] cgardens commented on #5526
@ChristopheDuong are we sure that this isn't a problem specifically with BQ? I thought our other destinations were pretty good at failing quickly. BQ looks a little different than other destinations (because it uses the BQ client) instead of some of the JDBC abstractions that provide. It is very possible that it is a problem with kube attempts like you say, but I want to make sure we rule out that

[2021-08-19 17:14] cjwooo opened #5534 "Source GitHub: Check command relies on Projects stream, which fails if projects are not enabled for specified repositories"
## Enviroment
- **Airbyte version**:  no matter
- **OS Version / Instance**: no matter
- **Deployment**: no matter
- **Source Connector and version**: GitHub Source
- **Destination Connector and version**:
- **Severity**: High
- **Step where error happened**: Setup new connection
## Current Behavior
When I try setting up a GitHub source with a repository that doesn't have projects enabled, or my t

[2021-08-19 17:21] prasrvenkat opened #5536 "Ability to mention tolerations for scheduled pods"
## Tell us about the problem you're trying to solve
When deploying to GKE in an existing cluster,  we usually like to mention affinity for certain loads to be run only one certain node-pools/nodes and nowhere else, no other loads can run in those node pools as well. This is achieved by using taints+tolerations. This makes sure certain workloads (with tolerations) run only on certain node-pools (wi

[2021-08-19 17:27] marcosmarxm commented on #5435
@ChristopheDuong the field is an object so is calling the correct `json_extract` function the problem is the argument Airbyte sent to it. https://github.com/airbytehq/airbyte/pull/5467 solves this problem.

[2021-08-19 17:39] jrhizor commented on #5514
I investigated the pod process lifecycle on my local environment using the following snippet added to `KubePodProcessIntegrationTest` connected to my docker-for-desktop environment:
[code]

Generally this takes about 11 seconds end to end for me to run `echo hello`. This doesn't change if I try to pull all of the output with `var output = new String(process.getInputStream().readAllBytes());` befor

[2021-08-19 18:07] muutech opened #5537 "Source File: ability to get HTTPS attachments"
## Tell us about the problem you're trying to solve

We are trying to download an Excel file shared in a "ownCloud" or vía "transfer.sh". I think it does not work when response header is "Content-disposition: attachment". This header is very common and having this feature would be very nice and give access to public shared links from different platforms like Google Drive, etc.

## Describe the sol

[2021-08-19 18:08] bkrausz commented on #3520
Does anyone have pointers on how to hackily accomplish this today while we wait for feature? It seems like we should be able to get the source schema for the new stream and insert it into the `STANDARD_SYNC` config, but I want to be cautious since an accidental reset would be unpleasant for us.

Similarly, a guide on how to jumpstart incremental syncs would be excellent as it would give confidence

[2021-08-19 19:15] jimbeepbeep commented on #5435
Thanks @ChristopheDuong, this is very cool - awesome!  In the failing workspace I have a destination_catalog.json and source_catalog.json, which one do you need and is there a good way of copying them out?  I can view them using a cat command but they're too long to copy/paste and they have dodgy line breaks etc.

I had a dig around and found the `dbt.log` file, within which I found the compiled S

[2021-08-19 20:23] garden-of-delete opened #5539 "Proposal: Native connector schema contract"
## Tell us about the problem you're trying to solve
I want to build a set of transformations on top of an Airbyte Source that leverages all the data provided by the associated SaaS API and will not require frequent maintenance as the connector evolves. However, with basic normalization on, the schema for each entity table changes frequently and unpredictably as the Source gets updated. More import

[2021-08-19 21:17] jrhizor commented on #5536
I'm definitely all for adding configurability for launched pods.

Maybe it would be easier long term to support adding a template for the spun up job that could be loaded from a `ConfigMap`? Then a user could customize any field by specifying a YAML override?

[2021-08-19 21:52] jrhizor commented on #5522
@tuliren can you take a look at this?

[2021-08-19 22:00] tuliren commented on #5522
Got. Pushing a fix now.

[2021-08-20 00:18] jrhizor commented on #5265
Feels definitely worth keeping in mind.

Maybe there's an 80/20 solution. Maybe making the message say that it will take at least a minute? Or even loading bars that are just slow and there's a chance it finishes early? Or per-connector heuristics stored in the registry + an internet speed estimate?

[2021-08-20 00:44] marcosmarxm commented on #3943
@vitoravancini is possible to you share what did you change in temporal timeout to overcome the problem reading 1k+ tables in Redshift?

[2021-08-20 00:49] marcosmarxm opened #5541 "Add pre and post SQL query in jdbc connectors"
## Tell us about the problem you're trying to solve
From [slack convo](https://airbytehq.slack.com/archives/C019WJFR1JT/p1629295589242100) some users are interested in running a pre and post queries.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear

[2021-08-20 01:18] danieldiamond commented on #5277
**OS Version / Instance:** Linux EC2 m5.2xlarge <-- doubled up
**Deployment: **Docker
**Airbyte Version:** 0.29.7-alpha
**Source name:** MySQL 0.4.3
**destination:** Snowflake 0.3.12

## Logs
<details>
<summary>LOG</summary>

[code]

</details>

[2021-08-20 01:18] danieldiamond commented on #5277
@sherifnada any chance there's capacity for this one?

[2021-08-20 02:47] danieldiamond commented on #5516
I wonder if this is associated with this issue https://github.com/airbytehq/airbyte/issues/5277

[2021-08-20 03:28] danieldiamond commented on #4322
might be related https://github.com/airbytehq/airbyte/issues/5277

[2021-08-20 05:30] #5522 closed

[2021-08-20 06:40] keu opened #5546 "DX: Add MyPy to pre-commit"
## Tell us about the problem you're trying to solve
We need to enforce type annotation in every function.

## Describe the solution you’d like
add MyPy plugin to pre-commit config

## Describe the alternative you’ve considered or used
install and run MyPy manually

[2021-08-20 07:39] Zirochkaa commented on #4827
With latest changes from `master` branch SAT tests are failing:

![Screen Shot 2021-07-30 at 10 41 15 PM](https://user-images.githubusercontent.com/19872253/130197998-a4a4586b-9606-4432-9c76-8630f1b2dd7d.png)

[2021-08-20 07:40] Zirochkaa commented on #4827
With latest changes from master branch SAT tests are failing:

![image](https://user-images.githubusercontent.com/19872253/130198096-1cc9b7c0-b44c-4956-ba00-b36e69ff4eea.png)

[2021-08-20 07:58] antixar commented on #3514
Hi @sherifnada  and @keu,
 AirByte CDK has the pretty decorator `user_defined_backoff_handler`. Perhaps will we upgrade it and will make it as public for developers?
As Is:
[code]
To Be:
[code]
if acceptable_code is None, CDK will use standard logic(with 429 and >= 500).
And it can be applied for all CDK functions where the 'response' (isinstance(arg, requests.Response) is one of possible function

[2021-08-20 08:00] Obolrus commented on #5088
Hello.
Are any updates here?

I have the same issue with Google Ads → Google BigQuery and Facebook → Google BigQuery. Basic normalization doesn't work.

[2021-08-20 08:09] antixar commented on #3514
Or another idea: the new class decorator where all backoff magic will be hidden but its settings will be obvious.
[code]

[2021-08-20 08:29] jimbeepbeep commented on #5435
OK I figured out the log export, here are the log files from the failed run @ChristopheDuong:
[2_0_dbt.log](https://github.com/airbytehq/airbyte/files/7020138/2_0_dbt.log)
[2_0_logs.log](https://github.com/airbytehq/airbyte/files/7020137/2_0_logs.log)

I had to change the `.json` extensions to `.txt` to attach here, all files here as requested:
[2_0_source_catalog.txt](https://github.com/airbytehq

[2021-08-20 08:49] sherifnada commented on #5529
@ChristopheDuong can you share the logs?

[2021-08-20 09:33] ChristopheDuong commented on #5529
Oh, it didn't finish uploading the full file...

Here it is:
[logs-136-0.txt](https://github.com/airbytehq/airbyte/files/7020564/logs-136-0.txt)

But the most important part is already in the <log> section in the description of this issue

[2021-08-20 09:59] erichartono commented on #2890
@ChristopheDuong I am running 0.29.10, and this error still happens.

MSSQL to Redshift

2021-08-20 08:42:53 INFO () LineGobbler(voidCall):85 -   syntax error at or near ","
2021-08-20 08:42:53 INFO () LineGobbler(voidCall):85 -   LINE 101:     decimal,
2021-08-20 08:42:53 INFO () LineGobbler(voidCall):85 -                        ^
2021-08-20 08:42:53 INFO () LineGobbler(voidCall):85 -   compiled

[2021-08-20 13:30] igrankova opened #5547 "Prioritize connectors where the Date Format should be added"
The list of prioritized connectors with the details of missing date format issues is made on the PRIORITY sheet:
https://docs.google.com/spreadsheets/d/1-hmZ83PzW1iTy7RlHP4QX7dcMigEfdMm94Yohg5mlj8/edit?usp=sharing
**COLUMNS DESCRIPTION:**
**Connector** - connector name
**Build** - red color means that this connector build failed; green color - build is successful
**Issues count** - how many fields

[2021-08-20 13:35] igrankova commented on #5547
Subtask for:
#5096 Annotate string date fields with the right format label

[2021-08-20 13:40] igrankova opened #5548 "Connector: exchange_rates - Annotate string date fields with the right format"
Use details from the **exchange_rates** sheet to update field format:
https://docs.google.com/spreadsheets/d/1-hmZ83PzW1iTy7RlHP4QX7dcMigEfdMm94Yohg5mlj8/edit?usp=sharing

[2021-08-20 13:41] igrankova commented on #5548
Subtask for:
#5096 Annotate string date fields with the right format label

[2021-08-20 13:42] igrankova commented on #5548
Connected with:
 #5547 Prioritize connectors where the Date Format should be added

[2021-08-20 14:09] #5462 closed

[2021-08-20 16:50] marcosmarxm commented on #5503
@yevhenii-ldv CI is working again https://dnsgjos7lj2fu.cloudfront.net/tests/summary/source-google-ads/ I think https://github.com/airbytehq/airbyte/pull/5509 solves this. I'm closing because #5302 solves another issue.

[2021-08-20 16:50] #5503 closed

[2021-08-20 20:11] airbyte-jenny opened #5553 "Connector generator fails with npm permissions error and does not generate the connector template"
## Enviroment
- **Airbyte version**:  0.29.10-alpha
- **OS Version / Instance**: macOS
- **Deployment**: docker-compose
- **Severity**: Medium
- **Step where error happened**: attempt to generate a connector template from scratch

## Current Behavior
The generate.sh runs and says "Finished" but no connector directory is created on disk.  Silent failure.  Upon removing "--silent" from the npm insta

[2021-08-20 20:52] RKdev opened #5555 "Hubspot Connector 0.1.10 Fails on Some Tables"
## Enviroment
- **Airbyte version**:  0.29.8-alpha
- **OS Version / Instance**: Debian GNU/Linux 10 (buster) on GCP, e2-medium
- **Deployment**: Docker
- **Source Connector and version**: Hubspot 0.1.10
- **Destination Connector and version**: BigQuery 0.3.12
- **Severity**: High - Cannot currently sync **contacts**
- **Step where error happened**: Sync job

## Current Behavior
The following table

[2021-08-20 21:24] sherifnada commented on #2890
@erichartono could you upload the full log?

[2021-08-20 22:23] #5553 closed

[2021-08-20 22:24] manavkohli opened #5557 "Support DBT environment variables via run command"
## Tell us about the problem you're trying to solve
We run custom transformations on our data. However, we don't want to expose our database credentials in VCS. Each one of our connections has a separate set of database credentials. DBT profiles can only read runtime arguments from the `env_var`functions, which precludes us from being able to pass them through the `variable` argument.

## Describe

[2021-08-20 23:11] erichartono commented on #2566
Upvote for this improvement. I had a sync with incremental dedupe, and it took 48 minutes on normalisation process.

![image](https://user-images.githubusercontent.com/19322804/130301550-0ef205bb-32ea-49f7-8098-41312ba931a3.png)

[2021-08-21 09:19] danieldiamond commented on #2322
+1

[2021-08-22 14:39] davinchia commented on #5536
@jrhizor that makes sense.

I do want to limit the configurable fields to metadata/where the pods are scheduled on. Retaining control over where the pods's lifecycle and data access is important since that's pretty crucial to jobs start/stop.

The template can include:
1) Taints and tolerations
2) Labels
3) Namespace

For the time being, I'm inclined to add taints and tolerations as field for now.

[2021-08-23 01:22] 27Bslash6 opened #5563 "Connector: Hubspot.campaigns error java.lang.NullPointerException: Array field contacts misses the items property"
## Enviroment
- **Airbyte version**:  0.29.11-alpha
- **OS Version / Instance**: GCE Debian GNU/Linux 10 (buster)
- **Deployment**: Docker CE 20.10.8
- **Source Connector and version**: Hubspot 0.1.10
- **Destination Connector and version**: Google Cloud Storage 0.1.0
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
Sync crashes with java.lang.NullPointerExce

[2021-08-23 01:25] 27Bslash6 opened #5564 "Connector: Hubspot.contact_lists Exception in thread "main" org.apache.avro.SchemaParseException: Can't redefine: properties"
## Enviroment
- **Airbyte version**:  0.29.11-alpha
- **OS Version / Instance**: GCE Debian GNU/Linux 10 (buster)
- **Deployment**: Docker CE 20.10.8
- **Source Connector and version**: Hubspot 0.1.10
- **Destination Connector and version**: Google Cloud Storage 0.1.0
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
Sync crashes with Exception in thread "main

[2021-08-23 02:17] danieldiamond commented on #3440
👍  running into a lot of pain surrounding this issue. looking forward to having this resovled

[2021-08-23 02:37] ayyoubmaulana commented on #5070
but it still error for me @etsybaev

[2021-08-23 06:51] davinchia commented on #5482
Looks like this wasn't set properly:

[code]

[2021-08-23 07:18] foinduati opened #5565 "The data moved has duplicates"
I have recently moved data from freshdesk to our snowflake warehouse. However the data there is too much.  We have 90k tickets but the data on airbyte shows 500k. We noticed that the data was duplicated at least 30 times. Could you please tell use why this is happening.

[2021-08-23 07:19] lazebnyi commented on #5184
Unfortunately, Retry-After time sets on Slack side. So, the duration of sync depends on Slack API.

[2021-08-23 07:29] coquej opened #5566 "Zendesk support new connector is not working properly"
## Enviroment
- **Airbyte version**:   0.29.7-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: Docker
- **Source Connector and version**: airbyte/source-zendesk-support 0.1.0
- **Destination Connector and version**: airbyte/destination-bigquery 0.3.12
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Loading data into BigQuery is showing 3 errors (y

[2021-08-23 07:36] danieldiamond commented on #5566
Also experiencing with

- **OS Version / Instance:** Linux EC2 m5.2xlarge
- **Deployment:** Docker
- **Airbyte Version:** 0.29.11-alpha
- **Source name:** airbyte/source-zendesk-support | 0.1.0
- **destination:** Snowflake 0.3.12

[2021-08-23 07:58] edvinasbartkus commented on #4577
At [Argyle](https://argyle.com) we use Airbyte with source MySQL and destination BigQuery. It works like charm. We would love to extend it by adding specific tables being exported to specific ElasticSearch indices. In our perspective, UX would allow to choose which tables to export and to what indices to export the data (one-to-one matching).

[2021-08-23 08:18] #5527 closed

[2021-08-23 09:59] Jamakase commented on #5447
Well as this step should be never run manually, I do not think it's a big deal to have as many envs as necessary.

As it is going to be a file stored somewhere next to the app in the bucket, let's refer to it as `config.json`. Have I got it right, that we just want to store config next to the app and retrieve it as `/config.json` by default, so we won't need to configure URL where to get this file

[2021-08-23 10:48] davinchia commented on #5482
papercups, fullstory and openreplay were also not turned on - I've enabled them.

@cgardens I'm not sure how to properly QA that the right events are coming through. Any thoughts?

[2021-08-23 10:55] Phlair commented on #2622
There's still outstanding work to extend this across formats / storage providers but those are all separate issues so this can be closed.
For sake of creating a trail back to this issue:
https://github.com/airbytehq/airbyte/issues/5116 https://github.com/airbytehq/airbyte/issues/5115 https://github.com/airbytehq/airbyte/issues/5113 https://github.com/airbytehq/airbyte/issues/5111 https://github.co

[2021-08-23 10:55] #2622 closed

[2021-08-23 11:35] joshualee-ifesworld opened #5568 "Stripe Source - Retrieve PaymentIntent source"
## Tell us about the problem you're trying to solve
Would like to pull PaymentIntents from Stripe. https://stripe.com/docs/api/payment_intents

## Describe the solution you’d like
for the existing Stripe connector to be able to pull PaymentIntents.

## Describe the alternative you’ve considered or used
no alternative at the moment

## Additional context
-

## Are you willing to submit a PR?
can be

[2021-08-23 11:58] danieldiamond opened #5569 "Redshift, Github & Zendesk Support Connectors successful sync but result in retry"
## Enviroment
- **Airbyte version**:  0.29.11-alpha
- **OS Version / Instance**: Linux EC2 m5.2xlarge
- **Deployment**: Docker
- **Source Connector and version**: Zendesk Support Native 0.1 & github native 0.1.4
- **Destination Connector and version**: Redshift 0.3.12
- **Severity**: Critical
- **Step where error happened**: Sync

## Enviroment
- **Airbyte version**:  0.29.11-alpha
- **OS Version

[2021-08-23 11:59] danieldiamond commented on #5417
Addditionally, seeing all the `_airbyte_tmp_...` tables still persisting after sync jobs

[2021-08-23 13:54] davinchia opened #5571 "Enable configuring of backoff between job attempts."
## Tell us about the problem you're trying to solve
As the title.

This is a default number today.

[2021-08-23 14:06] davinchia commented on #5372
@boas19910115 did you figure this out? We changed a bunch of our data models which is probably causing this. The easiest way to handle this is probably to deploy a fresh deployment off master and recreate your connections.

[2021-08-23 14:08] davinchia commented on #5337
@m-ronchi have you seen this since? We support 10 concurrent jobs in theory.

I think it's also worth upgrading to the latest and monitoring. We've made some improvements in how the worker lifecycles.

[2021-08-23 14:10] davinchia commented on #4975
@carloslme have you seen this since?

[2021-08-23 14:14] davinchia commented on #4944
Hi, thanks for reporting this. We have a backlog of connectors today so I don't think we'll get to this until 1/2 months from now. We do accept contributions? :)

[2021-08-23 14:21] m-ronchi commented on #5337
no, but I am upgrading (therefore rebooting) regularly (now on 0.29.7, uptime 7d4h)

[2021-08-23 14:32] davinchia commented on #5514
That makes sense.

My gut is we merge in #5535 and then deploy to Cloud and get feedback - my hypothesis is people will be happy with the current speed (getting rid of the command fetcher did wonders). I was surprised at how fast it is.

We can create a ticket for preloading the spec and work on that if people aren't happy. I want to punt on this because the specs are cached so the performance hit

[2021-08-23 15:00] emilyhawkins-drizly opened #5574 "Source Iterable: add new endpoints"
## Tell us about the problem you're trying to solve
We are considering switching from bringing in iterable data from fivetran to airbyte. We need some additional iterable endpoints available for that to happen.
- [campaign history](https://api.iterable.com/api/docs#campaigns_campaigns) (i think this might be the same as the current campaigns endpoint in airbyte but wanted to add it here just to ma

[2021-08-23 15:21] sherifnada commented on #2369
@andriikorotkov three collections is the right way to go here.

[2021-08-23 15:28] danieldiamond commented on #5417
This is not critical at all. Also am happy to help try solve this one if you can point me to the right file(s)

[2021-08-23 15:41] marcosmarxm commented on #5520
thanks for reporting this @AlexandruManolache1 I added this to the connector roadmap. Do you want to contribute and work solving this issue?

Probably the solution resides in this block:https://github.com/airbytehq/airbyte/blob/1954284f6f45a4629fdaeaa9cf4f48fdd0619656/airbyte-integrations/connectors/source-smartsheets/source_smartsheets/source.py#L137-L140

[2021-08-23 15:42] #5515 closed

[2021-08-23 15:44] marcosmarxm commented on #5566
@coquej can you update to latest this bug was solved in https://github.com/airbytehq/airbyte/pull/5467. I'll close and if updating doesnt solve please let me know.

@danieldiamond is possible to open another issue your problem is unrelated with this one.

[2021-08-23 15:44] #5566 closed

[2021-08-23 15:45] marcosmarxm commented on #5458
@avaidyanatha what do you think?

[2021-08-23 15:46] marcosmarxm commented on #5435
@jimbeepbeep can you update to latest version?

[2021-08-23 16:01] hbd opened #5575 "Shopify Products table schema incorrect, possibly using Orders schema"
## Enviroment
- **Airbyte version**: 0.27.1-alpha
- **OS Version / Instance**: AWS EC2 t3.medium running Amazon Linux 2
- **Deployment**: Docker
- **Source Connector and version**: Shopify @ 0.1.12
- **Destination Connector and version**: Postgres @ 0.3.6
- **Severity**: High
- **Step where error happened**: Setup new connection

## Current Behavior
The Shopify Products table (`products`) contains

[2021-08-23 16:02] m-ronchi commented on #5088
I have the same problem.
basic normalization (with append or overwrite) generates a single table with columns named e.g. `customer.id` ([schema](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/account_performance_report.json) declares them flattened), therefore I would expect a consistent handling of them.

my logs if nee

[2021-08-23 16:23] cgardens commented on #5514
@jrhizor thanks for this super clear write up that breaks down where all the time is going.

For this I'm not sure I understand why `Never` helps relative to `IfNotPresent`. My understanding is with `IfNotPresent` K8s checks locally, if it finds it, it uses it, otherwise it pulls. For `Never` K8s looks locally and if it doesn't find it, it throws. Is there a reason why `Never` would be more effici

[2021-08-23 16:59] marcosmarxm commented on #5569
thanks for reporting this @danieldiamond. There is two problems here:
1) on CDK module
[code]

2) an error was throw and the job finished.

[2021-08-23 17:54] muutech opened #5576 "source-file: Add engine "pyxlsb" to add support for binary excel files"
## Tell us about the problem you're trying to solve
We want to add excel binary files -> .xlsb

If we try to import directly, airbyte says: "OSError: File contains no valid workbook part"
If we add engine "pyxlsb", error would be: ImportError: Missing optional dependency 'pyxlsb'. Use pip or conda to install pyxlsb

## Describe the solution you’d like
I think it is just a matter to import in setup

[2021-08-23 18:01] philippeboyd opened #5577 "Snowflake Source/Destination doesn't respect DATE data type"
## Environment
* **Airbyte version**:  0.29.11-alpha
* **OS Version / Instance**: GCP COS
* **Deployment**: Docker
* **Source Connector and version**: Snowflake 0.1.1
* **Destination Connector and version**: Snowflake 0.3.12
* **Severity**: Medium
* **Step where error happened**: Schema discovery

## Current Behavior
Snowflake date types are not respected when setting up schemas

### Schema in Sno

[2021-08-23 19:24] tovbinm commented on #837
+1 plugable secret store

[2021-08-23 19:39] marcosmarxm opened #5581 "Create/Start Oracle AWS instance for tests using Terraform"
## Tell us about the problem you're trying to solve
Today we use a AWS instance to test Oracle but we need to create it using Terraform;

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or feature

[2021-08-23 20:13] coquej commented on #5566
When you say "update to latest", do you mean airbyte or the connector? Because source-zendesk-support latest tag is 0.1.0, that is the one I'm using (and the only one that exists).

[2021-08-23 20:22] marcosmarxm commented on #5566
@coquej the airbyte version you need to upgrade https://docs.airbyte.io/operator-guides/upgrading-airbyte

[2021-08-23 20:59] RKdev opened #5583 "Documentation for how to exclude specific fields from a source catalog"
### Tell us about the documentation you'd like us to add or update.
It is sometimes useful to exclude specific fields from a data source that you do not want to sync.
For my current use-case this is because there is a bug with the connector and I cannot sync certain tables. However, I can get by without using _all_ of the fields.

I was hopeful that this could be accomplished by editing the `sourc

[2021-08-23 21:25] RKdev commented on #5555
If there's anything I can do such as providing a copy of my `source_catalog.json` please let me know

[2021-08-23 21:30] marcosmarxm opened #5584 "Change Cart to Cart.com"
### Tell us about the documentation you'd like us to add or update.
We need to change all docs from Cart to Cart.com the integration docs we can use cartdotcom

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

@avaidyanatha can you solve this?

[2021-08-23 22:08] marcosmarxm opened #5586 "connector-template `bad trap`"
## Enviroment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / Lo

[2021-08-23 22:33] marcosmarxm commented on #5569
The problem is: connectors are failing but we dont stopped the process of running normalization; Normalization runs and prompt `Complete successfully` which leads users to error :(

[2021-08-23 22:35] Jamakase commented on #5322
@cgardens I prepared the page on UI, but I can't make the provider change link so it leads to the app.

According to these docs, it could be done only on the cloud side. https://support.google.com/firebase/answer/7000714
We need to change domain of email to be sent as from app URL, instead of https://dev-ab-cloud-proj.firebaseapp.com, in this case the correct one will be opened.

I have not found

[2021-08-23 23:46] cgardens commented on #5322
@Jamakase okay! thank you. would it be possible for us to merge the new reset password UI into master and tell us which url we should tell firebase to redirect to. That way @davinchia can handle figuring out the firebase side on his own.

[2021-08-23 23:49] cgardens commented on #5482
yes! there is a [debugger](https://app.segment.com/airbyte/sources/web_app/debugger) in segment that makes this easy. You might need to mess around a bit to filter out events from OSS.

[2021-08-23 23:54] cgardens commented on #5447
yes! that is how i was thinking about it.

fair enough. it would definitely be nice if it could just be the same for OSS. given it's just a static file could we just treat it the same?

[2021-08-24 00:09] RKdev commented on #5555
UPDATE: Reset succeeds in Airbyte 0.29.11-alpha

[2021-08-24 00:54] jadetr commented on #5529
Same bug as https://github.com/airbytehq/airbyte/issues/5486

[2021-08-24 01:43] davinchia commented on #5337
Cool - please update us if you see this.

[2021-08-24 02:38] #5511 closed

[2021-08-24 02:39] #5498 closed

[2021-08-24 02:40] marcosmarxm commented on #5583
thanks for the request @RKdev I'll provide a new doc about doing this.

[2021-08-24 02:42] marcosmarxm commented on #5576
thanks for requesting this @muutech do you want to try yourself this change?

[2021-08-24 02:47] marcosmarxm commented on #5574
thanks for requesting this @emilyhawkins-drizly I added this to the connector roadmap backlog.

[2021-08-24 02:49] davinchia commented on #5322
Thanks Artem - happy to make the changes!

[2021-08-24 02:56] marcosmarxm commented on #5568
thanks for requesting this @joshualee-ifesworld. This should be an easy incremental addition, do you need assistance to do the PR?

[2021-08-24 03:00] marcosmarxm commented on #5557
@manavkohli it's possible to you use the custom run describe in this docs? https://docs.airbyte.io/operator-guides/transformation-and-normalization/transformations-with-airbyte#using-a-custom-run-with-variables

[2021-08-24 03:06] marcosmarxm commented on #5539
thanks for this incredible suggestion @garden-of-delete. this topic is very complex and need a further discussion. @subodh1810 because you're working on schema evolution and @sherifnada have a good experience, what are you thoughts on this?

[2021-08-24 03:10] marcosmarxm commented on #5575
@hbd can you double-check this?

<details>
<summary>Products Table Schema</summary>

[code]

</details>

<details>
<summary>Orders Table Schema</summary>

[code]

</details>

I just created a connection between Shopify (0.1.12) to Postgres (0.3.9) and those are my output schemas

[2021-08-24 03:19] marcosmarxm commented on #5534
Thanks for opening this @cjwooo. Do you need assistance to do the PR change?

[2021-08-24 03:49] marcosmarxm commented on #5427
Thanks @m-ronchi for this awesome idea =)

[2021-08-24 03:49] #5412 closed

[2021-08-24 03:49] #5411 closed

[2021-08-24 03:51] marcosmarxm commented on #5384
@anchal-agarwal is possible to share the connectors version too?

[2021-08-24 04:44] manavkohli commented on #5557
@marcosmarxm unfortunately this will not work - the custom run variables correspond to a DBT `variable`, which *cannot* be read in a `profile`. The `profile` only has access to environment variables via the `env_var` function from what I've gathered

[2021-08-24 08:42] davinchia commented on #5514
I talk what I said back - loading spec without the command fetcher is still too slow. Let's cache the specs!

[2021-08-24 09:21] ChristopheDuong opened #5590 "Handle multi-steps Custom DBT Transformations"
## Tell us about the problem you're trying to solve

One typical use case for multi-steps custom DBT transformations is when using custom dbt transformations that require additional dbt packages, the user can create two (or more) custom transformations where the first step install deps while the following ones actually runs the transformations (using those dependency packages). However, this usual

[2021-08-24 09:24] #3441 closed

[2021-08-24 09:42] cnpatric opened #5591 "Pipedrive source: Export organisations"
## Tell us about the problem you're trying to solve

The Pipedrive connector exports almost every dataset, except organisations for some reason. I would like to have those exported too.

https://developers.pipedrive.com/docs/api/v1/Organizations

## Are you willing to submit a PR?

I'm not familiar enough with connector development and unfortunately don't have the time-

[2021-08-24 10:58] RKdev commented on #5555
Unfortunately SYNC still fails.

2021-08-24 00:27:28 INFO () LineGobbler(voidCall):85 - 00:27:28 | 33 of 175 ERROR creating table model airbyte_hubspot.tickets_properties...................................... [[31mERROR[0m in 5.25s]

2021-08-24 00:27:34 INFO () LineGobbler(voidCall):85 - 00:27:34 | 35 of 175 ERROR creating table model airbyte_hubspot.deals_properties.............................

[2021-08-24 11:35] muutech commented on #5576
Sure!

It worked, changes:

[code]
reader_options: {"sheet_name":"DB","engine":"pyxlsb"}

Tested with a 220.000 rows XLSB file using HTTPS connection:

358.63 MB | 222,974 records | 7m 3s | Sync

Do you need some logs to check anything?

Thanks!

[2021-08-24 11:39] #5416 closed

[2021-08-24 11:39] #5441 closed

[2021-08-24 11:47] coquej commented on #5566
Thanks, Marcos!

[2021-08-24 12:38] Zirochkaa opened #5592 "Source Facebook Marketing: SAT fails in `TestConnection.test_check()`"
## Current Behavior
Code throwing an error (see logs).

## Expected Behavior
Code should run tests as usual.

## Logs

<details>
<summary>LOG</summary>

[code]

</details>

## Steps to Reproduce
1. Build source image - `docker build . -t airbyte/source-facebook-marketing:dev`
2. Run tests - `python -m pytest -p integration_tests.acceptance --pdb`

## Are you willing to submit a PR?

Yes.

[2021-08-24 14:07] jrhizor opened #5594 "allow disabling local log writing"
We can easily run into space issues logging to a volume in cloud. We should only use cloud storage logging in order to minimize the size of mounted volumes we need.

[2021-08-24 14:29] jrhizor commented on #5514
@cgardens

At least locally `Never` was slightly faster than `IfNotPresent`, but that could be different on GKE (didn't test it) or accidental due to limited testing on my laptop. I assumed it was running some sort of check and then either using or pulling, but I definitely could be wrong here.

Even if we used `IfNotPresent` everywhere, having the underlying image pre-cached on each machine would

[2021-08-24 14:36] jrhizor commented on #5536
Sounds reasonable @davinchia

[2021-08-24 15:07] jimbeepbeep commented on #5435
OK thanks @marcosmarxm, I have upgraded Airbyte to 0.29.12-alpha but the Instagram connector version (which was previously 0.1.8) was not incremented (see screenshot, I was expecting 0.1.9):

![Screen Shot 2021-08-24 at 4 54 57 pm](https://user-images.githubusercontent.com/34912260/130640734-03c5965b-35c2-4643-b5bd-56d936c4d176.png)

My raw export job (which I had to implement as an emergency with

[2021-08-24 15:40] sherifnada commented on #5565
@foinduati hello! Airbyte provides an at-least-once delivery guarantee. Duplicates can happen if the sync is run multiple times or if the sync mode.

Can you provide more info about your sync mode/number of syncs run?

Some helpful resources: https://docs.airbyte.io/understanding-airbyte/connections

[2021-08-24 15:55] jrhizor opened #5595 "UI workspace user errors"
There are a few state issue in the cloud frontend app:
* The UI should properly reload the list of users when changing workspace
* The UI should properly reload the list of users when adding users
* The UI should be able to remove users
* For now only the workspace admin role should be specified by the UI without configurability.

[2021-08-24 16:42] bazarnov commented on #5575
@hbd
Please create the new connection between the Source Connector and Destination, using the latest `Source Shopify connector` version. This issue should be already fixed in `0.1.11`.  The latest is `0.1.13`.
@marcosmarxm
Apparently, this issue is related to the destination, it holds the old schema, even after the connector is updated it expects the data with the old schema.

[2021-08-24 16:51] avaidyanatha commented on #5458
Great idea, let me think about this. I think we can create some nice interactive tutorials, let's discuss this week @marcosmarxm.

[2021-08-24 17:53] marcosmarxm opened #5599 "Source Stripe fails in normalization step"
## Enviroment
Is this your first time deploying Airbyte: No
OS Version / Instance: Ubuntu 20.04
Memory / Disk: 4GB / 30gb
Deployment: Docker
Airbyte Version: 0.27.3-alpha
Source name/version: Stripe 0.1.16
Destination name/version: MySQL 0.1.11
Step: On sync
Description: Basic normalization fails when syncing to MySQL v8 on AWS. i noticed that the initial error was caused by a missing "ALTER" perm

[2021-08-24 18:03] haf commented on #5386
A simpler solution would be to add all secrets into the repository. You can create a public-private key (Curve25519 for example), encrypt all secrets to source code with the public key and decrypt the secret in CI with the private key. https://pynacl.readthedocs.io/en/latest/public/

[2021-08-24 18:43] sherifnada commented on #5569
@danieldiamond team is off on holiday today, we'll fix the github issue by tomorrow

[2021-08-24 19:54] RKdev commented on #5555
Still fails as of airbyte 0.29.12-alpha

[code]

[2021-08-24 19:55] adriens commented on #5458
Thanks a lot for your kind feedback @avaidyanatha , yes, it's a great platofrm to build interactive tutorial or even challenges ;-p

Also, carefully note that for web apps you may run inside KataCoda, you can get a public ip of the app so users can experiment things frmo their own browser... and also play woth code from CSCode 😸

[2021-08-24 21:13] jrhizor opened #5601 "track api endpoint latency in cloud"
It'd be great to understand the performance around API endpoints for cloud. It'll be important to ensure long-term that operations do not exhibit rare worst case behavior if our optimizations continue to maintain low response times.

In the case of endpoints that we haven't optimized yet (like endpoints that depend on listing configs) it would be good to know how behavior is changing over time.

[2021-08-24 21:42] cgardens commented on #5601
@davinchia is this something that are in the initial metrics that GL are tracking?

[2021-08-24 21:54] cgardens commented on #5557
@manavkohli  Would it be possible to override the entrypoint on the docker container that you are using so that the entrypoint handles injecting the environment values for you?

[2021-08-24 22:56] apostoltego opened #5602 "Changing to external postgres db fails"
## Enviroment
- **Airbyte version**:  0.29.12
- **OS Version / Instance**: Linux AMI / AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: n/a
- **Destination Connector and version**: n/a
- **Severity**: High
- **Step where error happened**: Deploy

## Current Behavior
Attempting to change from internal db to an external Postgres host causes several issues:

1. If user config alre

[2021-08-24 23:10] #5212 closed

[2021-08-24 23:10] #5228 closed

[2021-08-24 23:10] #5309 closed

[2021-08-24 23:10] #5444 closed

[2021-08-24 23:17] airbyte-jenny opened #5603 "Code Refactor would help jdbc connector testability"
While working on the postgres destination tests and trying to add ssh tunnels, I discovered a number of places where the test code ends up being quite messy and repetitive, such as how to create a jdbc url, how to get a connection to the database directly from a test case instead of by going through a worker (this is a risky pattern - what if the connection depends on library deps only available i

[2021-08-25 01:34] manavkohli commented on #5557
@cgardens unfortunately not, each destination has separate credentials and uses a different database within our postgres instance. FWIW I think this actually would benefit a lot of people, using `env_var` in the profiles seems to be the suggested approach from DBT to avoid checking in sensitive fields

[2021-08-25 01:43] marcosmarxm commented on #5602
@tuliren fyi, do you have idea if it's possible to change from local to external database?

[2021-08-25 01:45] cgardens commented on #5266
spec: https://docs.google.com/document/d/1eKILCTASYRf78rypKBrsmZfMv9Q4Nk2yZosYvy5pjgI/edit

[2021-08-25 01:51] sherifnada opened #5606 "Document Airbyte's target market & personas"
### Tell us about the documentation you'd like us to add or update.
I'd like to have a cheatsheet describing the personas which Airbyte targets, either in the main docs or in the handbook.

The document should cover:
* Which companies airbyte targets via the OSS, Cloud, and Enterprise offerings, respectively
* Which personas within those companies (e.g: data analyst, engineer, etc..) is the produc

[2021-08-25 01:58] tuliren commented on #5602
Yes, changing from local to external database should be automatic. The steps listed in this issue are correct:

The prerequisites are: 1) the provided user should have permission to create tables under the `public` schema and the specified database; 2) the database should not have an existing table whose name clashes with any of the airbyte tables (e.g. `airbyte_configs`) under the `public` schema

[2021-08-25 02:17] #5536 closed

[2021-08-25 03:00] sherifnada commented on #5576
@muutech would you be open to submitting a PR with this functionality?

[2021-08-25 03:18] marcosmarxm commented on #4138
https://github.com/airbytehq/airbyte/pull/5008 closes this.

[2021-08-25 03:18] #4138 closed

[2021-08-25 03:21] marcosmarxm commented on #5577
@subodh1810 the implementation of date types in normalization modules works for database sources or only when you have specificy date type in schema?

[2021-08-25 03:29] marcosmarxm opened #5609 "Source MSSQL to S3 Failed to convert JSON to Avro"
## Enviroment
- Is this your first time deploying Airbyte: no
- OS Version / Instance: Linux EC2 t3.xlarge
- Deployment: Docker
- Airbyte Version: 0.29.11-alpha
- Source name: MSSQL 0.3.4 (latest)
- destination: S3 0.1.3 (latest)
- Description: I tried to ingest data from MSQQL database to S3 bucket, using CDC mode. Job was failling with Exception in thread "main" tech.allegro.schema.json2avro.con

[2021-08-25 03:56] sherifnada commented on #5577
@philippeboyd thanks for the report! We're gradually rolling out proper date support across our sources. We'll keep you updated here when we get to this one.

[2021-08-25 03:59] sherifnada commented on #5609
Slack thread: https://airbytehq.slack.com/archives/C01MFR03D5W/p1629693918005800
the SQL type is `smalldatetime`

[2021-08-25 04:05] sherifnada commented on #5555
@RKdev thanks for reporting! I think the issue is that the connector is outputting an empty string where it should be outputting null. We'll get to work on this!

[2021-08-25 04:06] sherifnada commented on #5477
See https://github.com/airbytehq/airbyte/issues/5555 -- seems like this is an actual issue

[2021-08-25 04:08] sherifnada commented on #5569
@danieldiamond do you have the logs from the failed zendesk sync? we'll get on it to fix asap

[2021-08-25 04:23] sherifnada commented on #5537
thanks @muutech ! would you be open to creating a PR to submit this feature?

[2021-08-25 04:26] sherifnada commented on #5534
@cjwooo let us know if we can help with doing this -- we can implement on our side if needed

[2021-08-25 04:28] sherifnada commented on #5351
Spec is waiting for review: https://docs.google.com/document/d/1Dmddudw19w0ZNgm97m2KIRcVreuJs6Z965BObuV3fWU/edit?usp=drivesdk

[2021-08-25 04:31] sherifnada commented on #5493
@gehtalles-de would you be open to submitting a PR to include this functionality in the connector?

[2021-08-25 04:33] sherifnada commented on #5485
@sayowayah thanks for the heads up! are you still blocked on this issue?

[2021-08-25 04:34] sherifnada commented on #5472
this is an issue with bigquery destination,

[2021-08-25 04:43] sherifnada commented on #5384
@anchal-agarwal is the data being written repeatedly or is the log message just misleading?

[2021-08-25 04:44] sherifnada commented on #5355
@caiopedroso yup that would do it 😅 is renaming these an option at all?

[2021-08-25 04:46] sherifnada commented on #5364
@subhaklp are you using CDC? what sync mode are you using? how much RAM is available on your machine/which environment are you running on ?

[2021-08-25 04:47] sherifnada commented on #5333
thanks for the feedback everyone! we'll get on this very soon.

[2021-08-25 04:51] sherifnada commented on #5306
duplicate of #4653, removing

[2021-08-25 04:51] #5306 closed

[2021-08-25 04:53] sayowayah commented on #5485
@sherifnada I'm personally not blocked at the moment because I downgraded to a working version. But I'm unable to upgrade to the latest connector versions

[2021-08-25 05:00] sherifnada commented on #5170
@kyle-cheung were you able to look into the S3 export?

[2021-08-25 05:05] davinchia commented on #5601
Not explicitly. This is a good point. I'll make sure this is done before Public.

[2021-08-25 05:41] tuliren commented on #5602
Hmm, this is not true. The configs should be ported automatically. The detailed server log may provide more insights.

Oh, actually this is probably the root cause for the first attempt. The server will check if any of the tables already exist. If the answer is yes, the assumption is that the configs have been ported to the database. This is kind of mentioned in the documentation: https://docs.air

[2021-08-25 06:02] anchal-agarwal commented on #5384
@marcosmarxm If upon upgrading an airbyte version, the connector versions also get upgraded, then I believe the source and destination versions must have been the ones that came with airbyte v0.29.3-alpha.
@sherifnada The log message didn't seem misleading because the state wasn't saved for the next sync. All subsequent syncs started pulling data from the 'start date' all over again.  Source conne

[2021-08-25 06:19] dainv85 commented on #5609
i'm facing with this issue, too

`2021-08-23 04:37:55 ERROR () LineGobbler(voidCall):85 - Exception in thread "main" tech.allegro.schema.json2avro.converter.AvroConversionException: Failed to convert JSON to Avro: Could not evaluate union, field dtm_Creation_Date is expected to be one of these: NULL, STRING. If this is a complex type, check if offending field: dtm_Creation_Date adheres to schema.

[2021-08-25 06:37] Zirochkaa commented on #4827
Blocked on #5592.

[2021-08-25 06:45] Zirochkaa commented on #5592
Link to the ticket in zira is [here](https://zira.zstream.io/app/tasks/task/AIR-406).

[2021-08-25 07:31] #3514 closed

[2021-08-25 08:36] muutech commented on #5537
We have opened an issue on smart_open, to see if they can help us with some light/guidance or we would need to use another library (it work with "requests"). https://github.com/RaRe-Technologies/smart_open/issues/644

[2021-08-25 08:44] cheyura opened #5612 "TikTok Ads Sandbox: populate all possible streams"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new connector
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you

[2021-08-25 08:49] cheyura commented on #4229
@sherifnada Moving to icebox. Tried to reach them many times but no response on APi enabled sandbox. Populating prod account is problematic

[2021-08-25 09:40] muutech commented on #5576
Done... it is our first PR, sorry if something is not done correctly.

[2021-08-25 09:40] davinchia commented on #5487
@nataliekwong made the executive decision and we are going with FreshDesk!

[2021-08-25 10:41] subodh1810 commented on #5577
@marcosmarxm we need to specify the `date-time` format in the JSON schema of the stream, then only normalization would pick it up

[2021-08-25 10:55] m-ronchi opened #5615 "Destination: Redshift Spectrum (S3)"
## Tell us about the problem you're trying to solve
I want to import data in a way that is compatible to Redshift Spectrum:
- data is stored (partitioned) to S3
- an external table is added to Redshift, pointing to each partition of the S3 data
- normalization/transformations are applied incrementally to only new data

## Describe the solution you’d like
- a combined S3+redshift (spectrum) destina

[2021-08-25 11:13] m-ronchi opened #5618 "Sync Mode: Incremental | Deduped without history"
## Tell us about the problem you're trying to solve
for data that is already historic (e.g. google ads reports or facebook marketing insights) we may not need to have an additional `_scd` table.
furthermore, with a large lookback window and frequent syncs, it is possible that values within the lookback window change slightly between each sync, resulting in a huge amount of `_scd` data (e.g. daily

[2021-08-25 11:29] #4462 closed

[2021-08-25 11:34] #4306 closed

[2021-08-25 12:41] RKdev commented on #5555
Possibly relevant is this discussion with @marcosmarxm

[2021-08-25 13:21] davinchia commented on #5526
Tested Intercom (1.1) -> BQ Denormalised (1.2) on the current cloud (0.29.12-alpha) and no errors.

I'm thinking this was fixed in https://github.com/airbytehq/airbyte/pull/5467 and popped up because we were on an older version.

I also tested the source-e2e-test (failure after 3 records) -> BQ Denormalised in dev and saw correct failure behaviour (immediate retries without the 10 hour timout). Th

[2021-08-25 13:21] caiopedroso commented on #5355
Sadly Mixpanel don't handle renaming properties/events, they only a have a feature called merge, but I'm not sure that it will hide one of the properties, I can try that.. keep u posted.

[2021-08-25 13:40] apostoltego commented on #5602
@tuliren there's no server logs unfortunately for me to provide due to the volumes being removed and the almost  "fresh" start whilst trying to implement this.

All-in-all reflecting back on this, the issue first arose on 0.29.9. During that attempt tables had been created on the database. After that, even though the original issue was fixed it still required an empty db which led to the majority

[2021-08-25 13:40] #5602 closed

[2021-08-25 13:41] karinakuz commented on #4481
  **Integration Vetting**

**Webhook-based? (no/partially/yes)**
if partially, mention which endpoints are webhook-based
_no_

**Available authentication modes (API key/Oauth/other)**
_**AWS access key, which consists of an access key ID and secret access key
https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/auth-and-access-control-cw.htm**_

**Connecting to the data source**
what kin

[2021-08-25 13:50] nataliekwong commented on #5487
@davinchia To make sure we are on the same page, we haven't made the decision to use FreshDesk. I have not yet started actually testing anything against our requirements doc, so I don't know if it will be what we go with. From a surface level it appears to do what we need, but we won't know until we thoroughly test our flows.

It's worth starting a trial with a different tool to be able to compare

[2021-08-25 13:51] davinchia commented on #5526
Did a test with a BQ destination that fails on purpose - confirmed the retry attempts work as expected on Kube. No masking of failures or long wait times.

[2021-08-25 13:52] davinchia commented on #5526
@ChristopheDuong @cgardens reasonably confident this is okay - I'm inclined to close this issue.

[2021-08-25 13:58] davinchia commented on #5487
Got it. I didn't realise we would be trialing different ticketing systems in parallel. I thought it was a more concrete decision.

In that case, I'll keep this issue open.

[2021-08-25 14:16] karinakuz commented on #4481
**Preparation
Creating the account**
[ ] create an AWS IAM account , get access key ID and secret access key automatically (30m)

Populating the account with data
[ ] Do activities on the account. Create API for main streams and verify I get in response correct data from account. Add notes to LastPass Description (15h).

[2021-08-25 14:26] vovavovavovavova commented on #5473
This happened, because we have data-type mismatch in the schemas. Till the time the connector was created, SAT was upgraded and now it shows schema error. To solve this issue is we need to upgrade schemas.

[2021-08-25 14:27] vovavovavovavova commented on #5473
/test connector=connectors/source-harvest

[2021-08-25 14:36] ChristopheDuong commented on #5618
THis is probably duplicating this issue: https://github.com/airbytehq/airbyte/issues/3487

[2021-08-25 14:52] sherifnada commented on #4620
closing since resolution seems to have been found

[2021-08-25 14:52] #4620 closed

[2021-08-25 14:55] #4463 closed

[2021-08-25 15:02] kyle-cheung commented on #5170
@sherifnada I was able to use Heap connect and access their shared db. Thanks for following up!

[2021-08-25 15:02] #5170 closed

[2021-08-25 15:25] sherifnada opened #5622 "Document & add tests for XLSB format in source-file"
https://github.com/airbytehq/airbyte/pull/5613 adds the [pyxlsb](https://pypi.org/project/pyxlsb/) library which allows users to download a binary excel file. We'd like to:
1. make this very obvious on the docs website for the source-file (it doesn't explicitly say it supports this)
2. Add it as a dedicated file-format which when set, sets the reader_options to the correct option
3. add tests for

[2021-08-25 15:30] tuliren commented on #5602
Got it. Thank you for confirming that the doc change covers this issue.

[2021-08-25 15:56] keu commented on #2787
- [ ] make FB connector work using a new async interface
- [ ] extract as big as possible code/interface to CDK
- [ ] try extracted abstraction on a connector that uses HTTP stream and use aiohttp requests instead of requests.

[2021-08-25 16:06] Zirochkaa opened #5623 "Redshift Connector successful sync but result in retry"
This is a follow-up ticket for #5569 for specifically Redshift connector.

## Enviroment
* **Airbyte version**:  0.29.11-alpha
* **OS Version / Instance**: Linux EC2 m5.2xlarge
* **Deployment**: Docker
* **Source Connector and version**: Redshift 0.3.12
* **Destination Connector and version**: Snowflake 0.3.12
* **Severity**: Critical
* **Step where error happened**: Sync

## Current Behavior
Succ

[2021-08-25 16:07] bazarnov commented on #5469
This issue should be fixed in `0.1.13`, with implemented Rate-Limits balancer.

[2021-08-25 16:32] shmf commented on #5541
It would be very useful to have the capability of firing custom SQL statements before and after the extraction.
The idea would be to use these pre and post queries to set and unset session variables which can have impact on the extraction itself.

When defining the connection, if the source or the target is a relational database (mssql, postgres, mysql,..) there should be a field where users can t

[2021-08-25 16:47] sherifnada opened #5625 "DAT: test array output types"
## Tell us about the problem you're trying to solve
#5563 happened because a source emitted an array in its catalog without setting the `items` property. This is technically valid JSON schema. A destination should be able to handle such arrays, probably by casting whatever is in that field to string or bytes or something.

## Describe the solution you’d like
I would like DAT to test that arrays ar

[2021-08-25 16:58] sherifnada opened #5626 "DAT: comprehensive type testing"
## Tell us about the problem you're trying to solve
We keep running into issues like #5625 where a connector breaks due to "but-what-about-this-data-type" style of errors. We should instead systematically go through all the JSON schema types we support and their formats and make sure they are tested as part of DAT. We should break down this effort as needed.

For the record, we don't support any `

[2021-08-25 17:19] sherifnada opened #5628 "[EPIC] Support TLS for all database sources & destinations"
## Tell us about the problem you're trying to solve
Like described in [this doc](https://docs.google.com/document/d/1Qmbcsf176CQCnudB53SrhWO0RoQuNyuWJbsMSIOdp8o/edit?usp=drivesdk), we want to support TLS encryption when connecting to the major databases/warehouse.

Note that we do NOT need to support certificate verification as part of this issue -- just encryption of data over the wire. In other

[2021-08-25 18:19] sherifnada opened #5632 "Protocol: add references to oauth parameters in connector spec"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:20] sherifnada opened #5633 "Source FB marketing: Declare oauth parameters"
## Tell us about the problem you're trying to solve
blocked on #5632

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using today.

## Additional context
Add a

[2021-08-25 18:21] sherifnada opened #5635 "Source Salesforce: declare oauth parameters in spec"
## Tell us about the problem you're trying to solve
blocked on #5632

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using today.

## Additional context
Add a

[2021-08-25 18:22] sherifnada opened #5637 "Server: add the ability to bind instance-wide oauth parameters to a connector definition ID"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:23] sherifnada opened #5638 "Server: inject instance-wide variables into connector configs sent through web backend"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:23] sherifnada opened #5639 "Server: create an endpoint to redirect user to oauth consent screen given a connector definition ID"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:24] sherifnada opened #5640 "Server: declare an endpoint to get a refresh token given an auth code and a connector definition ID"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:25] sherifnada opened #5641 "Server: Add oauth java module"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:27] sherifnada opened #5643 "verify that a single developer app can have multiple oauth refresh tokens for the same user"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:27] sherifnada opened #5644 "UI: when displaying an oauth connector's spec, hide any oauth init parameters from the user"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:28] sherifnada opened #5645 "UI: when displaying an oauth connector's spec, show an "authorize" button to initiate the oauth flow"
## Tell us about the problem you're trying to solve

Mockup: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=27283%3A94025

## Describe the solution you’d like
when displaying an oauth connector's spec, show an "authorize" button to initiate the oauth flow. We can identify that a connector is oauth-based if its spec has an `auth` property which has a property `type: oauth2.0` e.g

[2021-08-25 18:28] sherifnada opened #5646 "UI: integrate with oauth endpoints"
Tracks any work the UI needs to do to integrate with the two oauth endpoints:
- [x] #5644
- [x] #5645

[2021-08-25 18:29] sherifnada opened #5647 "Agree on contract with UI about oauth parameters"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-08-25 18:39] SbiRomainLopez opened #5650 "Unable to read Slack data"
## Enviroment
- **Airbyte version**:  0.29.9-alpha
- **OS Version / Instance**: Linux (ubuntu 20.04) / AZURE Standard D2s v3
- **Deployment**: Docker
- **Source Connector and version**: slack 0.1.9
- **Destination Connector and version**: Snowflake 0.3.12
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
When syncing data first table channel_members is properly

[2021-08-25 18:51] sherifnada opened #5651 "oauth: finalize UI mockups"
## Tell us about the problem you're trying to solve
Pretty much the only mockup is displayed in this issue #5645 so closing this issue

[2021-08-25 18:58] marcosmarxm opened #5653 "Create Runbook for user support process"
### Tell us about the documentation you'd like us to add or update.
It can be as pedantic as a typo or as titanic as an entire tutorial request.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-08-25 22:38] marcosmarxm opened #5657 "UI is not getting new sources in setting page"
## Enviroment
- **Airbyte version**: 0.29.12
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker
- **Source Connector and version**: ~
- **Destination Connector and version**: ~
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Update connectors

## Current Behavior
Google V4 was released 8h ago and my instance wont display this new sourc

[2021-08-26 04:32] jrhizor opened #5658 "long lists overflow when setting up a connection"
private slack: https://airbytehq.slack.com/archives/C029YG63YTE/p1629941019000300

[2021-08-26 04:57] sherifnada opened #5659 "New source: Taboola"
## Tell us about the new connector you’d like to have

* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new connector
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do yo

[2021-08-26 11:36] danieldiamond opened #5664 "AWS S3 Staging COPY is writing records from different table in the same raw table"
## Enviroment
- **Airbyte version**:  0.29.11-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: MySQL 0.4.3
- **Destination Connector and version**: Snowflake 0.3.12
- **Severity**: Critical
- **Step where error happened**: Sync

## Current Behavior
in the `_AIRBYTE_RAW_MYTABLE` i am seeing json blobs in `_AIRBYTE_DATA` column that are pertaini

[2021-08-26 15:51] jgtvares opened #5669 "Github Connector: Syncs are consuming the whole API quota"
## Enviroment
- **Airbyte version**:  0.28.0-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Github 0.1.6
- **Destination Connector and version**: Postgres 0.3.9
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
I'm trying to sync all the repos in our organization (about 500 repos) using only `commits` and `p

[2021-08-26 19:01] jrhizor opened #5673 "figure out which version to display in the UI"
From Artem:

It isn't clear if we should display the build version, the env version, pull it from the API, or have some combination.

Not super important right now but might cause some confusion.

[2021-08-26 19:02] gaart opened #5674 "Use github filler script to populate test repository with data"
Check #4750 for details.
The test repo is https://github.com/airbytehq/integration-test/

[2021-08-26 19:12] sherifnada opened #5676 "Setup linting rules to verify javadocs on java classes"
## Tell us about the problem you're trying to solve
The kind of issue described in #5670 shouldn't really happen with some reasonable linting. Each java class should probably have a javadoc explaining its purpose.

[2021-08-26 21:33] tuliren opened #5678 "Configs database should auto update connector definitions"
## Current Behavior
- Currently the configs database will skip the seed loading step if the database has already been initialized.
- This means that if there are new connectors in the seed, they won't be added to the database.
- It was not a problem in the file system persistence, because all connector definitions were automatically available.
- In the database world, it is no longer automatic. We

[2021-08-26 22:02] tuliren opened #5682 "Support import of old archives in configs persistence"
## Tell us about the problem you're trying to solve
- After moving to database-based config persistence, we may no longer import archives with an old version.
- In the file-based world, everything is just a file. So no matter how the schema changes, we can read and write the files.
- In the database world, the database can only consume data with a certain schema. So old archives may not work on th

[2021-08-26 22:05] marcosmarxm opened #5683 "Source Slack: hitting max retries"
## Enviroment
- **Airbyte version**: 0.29.12-alpha
- **OS Version / Instance**: macOS 11
- **Deployment**: Docker
- **Source Connector and version**: Slack 0.1.9
- **Destination Connector and version**: Postgres 0.3.9
- **Severity**: Very Low / Low / Medium / **High** / Critical
- **Step where error happened**: Sync job

## Current Behavior
Slack is hitting the max retries.
[code]

## Expected Beh

[2021-08-26 22:24] tuliren opened #5684 "Separate connector definition update from the config import"
## Tell us about the problem you're trying to solve
- Currently we automatically update connector definition when a config archive is imported.
- This makes the code very complicated. Also we probably want to update the connector definitions more frequently.

## Describe the solution you’d like
- Move the update logic out of the config import process.
- Maybe implement automatic update in the serv

[2021-08-26 23:42] marcosmarxm opened #5688 "Source Hubspot: add date-type to fields in all schemas"
## Tell us about the problem you're trying to solve

PR #5685 removed all date-time format from streams.
PR #5661 adds tests in sources to validate the json format and will help adding this to schemas.

## Describe the solution you’d like
All fields in streams should be format correctly in normalization.

## Describe the alternative you’ve considered or used
None

## Additional context
Add any oth

[2021-08-27 02:51] danieldiamond opened #5691 "Google Search Console Source Hangs - Error does not get surfaced when trying to create new source"
## Enviroment
- **Airbyte version**:  0.29.11-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Google Search Console 0.1.3
- **Destination Connector and version**: Redshift 0.3.12
- **Severity**: low
- **Step where error happened**: Setup new connection

## Current Behavior
Testing connection just hangs, however tracking the logs I see the rel

[2021-08-27 08:37] Zirochkaa opened #5695 "Zendesk Support Connector successful sync but result in retry"
This is a follow-up ticket for #5569 for specifically Zendesk Support connector.

## Enviroment
- **Airbyte version**:  0.29.11-alpha
- **OS Version / Instance**: Linux EC2 m5.2xlarge
- **Deployment**: Docker
- **Source Connector and version**: Zendesk Support Native 0.1.0
- **Destination Connector and version**: Redshift 0.3.12
- **Severity**: Critical
- **Step where error happened**: Sync

## Cu

[2021-08-27 13:47] DoNotPanicUA opened #5704 "Make JdbcUtils overwritable."
## Tell us about the problem you're trying to solve
JDBC sources have one central data type processing. As result, we don't have a convenient place to specify source-specific data transformation.
For example, there is no way to fix it easily issues like #3931 or #3932

## Describe the solution you’d like
Rework current solution with the possibility to overwrite data type logic. Something similar i

[2021-08-27 14:18] yaroslav-hrytsaienko opened #5705 "DEV: allow profiler to connect to docker based java connectors."
Motivation: In order to have some insights of how connectors are operating under the load, we need to monitor cpu load, memory usage, garbage collectors workouts, etc.
The idea is that under development we will need to test container under the load and in case of degrading performance tune jvm settings to compensate that.
As well we need to have an insight of object count, memory distribution, hot

[2021-08-27 14:43] yaroslav-hrytsaienko opened #5706 "DEV: create a source with test data for load test"
Motivation:
In order to test destination connectors and overall performance of the solution,
there is a need to have a test source with data.

Possible steps:

1. Identify the data storage which contain huge data in a single record, as well as up to 1 tb of data in general.
2. Explore an option of having several data storages of different type like blob storages, sql dbs etc.
3. Think of the test

[2021-08-27 15:18] BenHadman opened #5709 "Source - HTTP API Request - Iterate over multiple URL parameters."
A HTTP API source connector which can iterate over multiple url parameters and send to a one destination.

Commonly APIs provide data on a one-record-per-request basis and not in one bulk response.
It would be beneficial to have a source which can iterate over multiple parameters and send to a destination.

https://example.com/?parameter={paramName}

| paramName  |
|----------------|
|  goblins |

[2021-08-27 19:13] sherifnada opened #5712 "Destination acceptance tests: verify that a destination is able to write any ISO8601-compliant date string"
### Implementation hints
the destination acceptance test suite, among other things, inserts pre-defined records into each destination to verify that it works correctly. See [this directory](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/standard-destination-test/src/main/resources/) for the records it inserts and the catalogs that define the records/stream schemas. As

[2021-08-27 19:13] sherifnada opened #5713 "Fix Snowflake destination normalization to accept any date-time format."
**implementation hints**

You can probably do this without being completely blocked on the acceptance test piece above.
1. Find the diff between json-schema's `date` and `date-time` formats and [those accepted by Snowflake](https://docs.snowflake.com/en/user-guide/date-time-input-output.html#timestamp-formats) for the `TIMESTAMP` type
2. Write a [snowflake-SQL compliant `CASE` statement](https://d

[2021-08-27 19:34] RKdev opened #5714 "Hubspot Connector 0.1.11 Fails on Some Tables due to outputting empty strings as dates"
## Enviroment
- **Airbyte version**:  0.29.12-alpha
- **OS Version / Instance**: Debian GNU/Linux 10 (buster) on GCP, e2-medium
- **Deployment**: Docker
- **Source Connector and version**: Hubspot 0.1.11
- **Destination Connector and version**: BigQuery 0.3.12
- **Severity**: High - Cannot currently sync **contacts**, **deals**, **companies**
- **Step where error happened**: Sync job

## Current B

[2021-08-27 23:16] marcosmarxm opened #5718 "Source Appsflyer with CDK"
## Tell us about the problem you're trying to solve
Develop connector Appsflyer using CDK

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using today.

## Add

[2021-08-28 09:56] flagbug opened #5720 "S3 and GCS writes are limited to 50GB"
## Enviroment
- **Airbyte version**:  0.29.12-alpha
- **Environent:** Debian 10, GCP
- **Deployment**: Docker
- **Source Connector and version**: mssql 0.3.4
- **Destination Connector and version**: gcs 0.1.0
- **Step where error happened**: Sync job

## Current Behavior
When syncing our MSSQL database to Google Cloud Storage, after reading few million rows, the job stops with an `java.lang.IndexO

[2021-08-28 12:16] Zirochkaa opened #5721 "Source GitHub: use `airbytehq/integration-test` repo for tests instead of `airbytehq/airbyte`"
## Tell us about the problem you're trying to solve
Currently GitHub connector uses `airbytehq/airbyte` repo for tests. It eat up a lot of requests (a few thousand requests per each test run) and it's slow. In #4750 and #5674 repo for tests was created and filled with data. Now we need to use it in tests.

## Describe the solution you’d like
Update config with new repo and maybe update test files

[2021-08-28 13:10] danieldiamond commented on #5669
i think i ran into the same thing. where the UI required the organization (even though i was looking to sync one repo) and by adding the organization, it then sync the entire org (all repos etc.)

[2021-08-28 15:26] muutech commented on #5537
smart_open 5.2.1 is already out, with this change. I've tested it, and now the error is different... any idea?

[code]

Could be related to this? https://github.com/airbytehq/airbyte/issues/5110

Thanks!

[2021-08-28 15:59] jadetr commented on #5486
I just realised that I did a change in the source schema while investigating. estimates#line_items was initially an empty array, I've changed the source schema manually to view if it could fix the problem. This attribute was initially
`"line_item": {
						"type": ["null", "array"]
					},`

[2021-08-29 01:50] tuliren commented on #5609
From  Luat Nguyen Cong:

[2021-08-29 09:23] #3447 closed

[2021-08-29 15:29] flagbug commented on #5720
FYI, I tried this sync multiple times now and every single time it fails after exactly `256189000` rows.

[2021-08-29 16:01] RKdev commented on #5714
Still fails on Airbyte v0.29.13, Hubspot Connector 0.1.11

[code]
[code]

[code]

[code]

[2021-08-29 16:02] RKdev commented on #5714
@marcosmarxm
Is it possibly an issue with Big Query rather than Hubspot?

[2021-08-29 16:05] RKdev commented on #5714
I have performed the step "Update latest source schema." I have also done completely fresh install with same issue. If there's anything else I can provide or any "grunt work" I can to do help please let me know - I'm happy to help but need guidance still.

[2021-08-29 21:18] boas19910115 opened #5724 "java.sql.SQLException: Error on delete of '/tmp/#sql_3dee_0.MYI'"
It's very annoyed every time it caused errors when data read over millions even tens of millions... And it always definitely took over 4 or 5 hours for waiting. Orz Orz Orz...

This data count is 23355867. Just a little bit...

## Enviroment
- **Airbyte version**:  0.22.0-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker
- **Source Connector and version**: MySQL 4.3
- **Dest

[2021-08-29 23:47] michel-tricot opened #5725 "Google Ads not working for recent account"
## Enviroment
- **Airbyte version**:  NA
- **OS Version / Instance**: NA
- **Deployment**: NA
- **Source Connector and version**: Latest Google Ads
- **Destination Connector and version**: NA
- **Severity**: Medium
- **Step where error happened**: Setup new Source

## Current Behavior
Apparently we might be using a deprecated version of Google Ads API which doesn't accept new accounts

## Expected

[2021-08-30 04:34] vaibhavpals commented on #2017
Having the same problem.

[2021-08-30 07:17] paschmaria commented on #4286
Update `@Paschal Onuorah` in Slack once this issue is done.

[2021-08-30 07:49] danieldiamond commented on #5569
@sherifnada  @Zirochkaa I just added the survey monkey connector and i'm seeing the same thing with that.

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs, you can download the full logs from the UI by going to the sync attempt page and
clicking the download logs button at the top right of the logs display window.*

<details>
<summary>LOG</summary>

[code]

[2021-08-30 09:00] #5124 closed

[2021-08-30 10:36] Mansi-Chauhan27 opened #5727 "Woo Commerce not displayed as Sources"
I have just Started Exploring Airbyte, Wanted to test Woo Commerce connector, but it is not displayed in Source List but displayed as source in airbyte's documentation.

I have done local deployment for airbyte following the documentaion given.

Can You Please help?

[2021-08-30 11:11] keu opened #5730 "SAT: Timeout should measure only pure time of a test"
Currently, we configure the timeout for each group of tests using pytest-timeout plugin. Unfortunately this plugin takes into account the total execution time of the test, which means that the time taken by global fixtures (like pulling docker images) will be taken into account as well.

The workaround, for now, is to increase the default timeout.

The proper and desired fix would be to use the fu

[2021-08-30 11:11] keu commented on #5730
see discussion here https://github.com/pytest-dev/pytest-timeout/issues/96#issuecomment-908099723

[2021-08-30 11:39] marcosmarxm commented on #5709
The HTTP Source is deprecated @BenHadman you can easily achieve this using the CDK with a custom connector.
https://docs.airbyte.io/connector-development/tutorials/cdk-tutorial-python-http

I'm closing this but let me know if you need any assistance developing the custom connector.

[2021-08-30 11:39] #5709 closed

[2021-08-30 11:40] marcosmarxm commented on #5727
@Mansi-Chauhan27 Woo-Commerce is a WIP https://github.com/airbytehq/airbyte/pull/5121 after this is merged you're going to be able to use it.

[2021-08-30 11:40] #5727 closed

[2021-08-30 11:51] marcosmarxm opened #5733 "Documentation: add steps to use Google Postgresql CDC"
### Tell us about the documentation you'd like us to add or update.
https://cloud.google.com/blog/products/databases/you-can-now-use-cdc-from-cloudsql-for-postgresql
https://cloud.google.com/sql/docs/postgres/replication/configure-logical-replication
@avaidyanatha

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-08-30 12:16] #5516 closed

[2021-08-30 13:43] jgtvares commented on #5669
@danieldiamond I actually intend to sync the whole organization, this is a feature I've been asking for, but after version **0.1.4** it is failing.
@marcosmarxm Sync works fine with a few repos, but I really want to get all of them. As I mentioned, in version **0.1.4** I can sync the entire organization with no errors.

[2021-08-30 13:59] etsybaev commented on #5486
Hi @jadetr .
Could you please clarify your point about changing the schema and "items"?  As far as I see far now, the destination fails as we don't get the "items" element for some arrays from the source.  Obviously, it's bad that the destination fails with such unclear error, but still try to understand why didn't we get it from the source.
Did you do anything with it manually?
Thanks!

[2021-08-30 14:06] annalvova05 opened #5735 "SAT: TestIncremental.test_two_sequential_reads failed for equal data in array"
While testing the new Close.com connector, an error was found in the `test_two_sequential_reads` acceptance test.

There are two equal Records with not sorted data in the "permissions" field
[code]
and
[code]
Test failed due to incorrect hash comparison in `airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/compare.py`.

**Solution**: add one more magic method `__eq__`

[2021-08-30 14:07] Dracyr opened #5736 "Add configuration of securityContext for kube worker pods"
## Tell us about the problem you're trying to solve
I have been evaluating and experimenting with setting up Airbyte in our on-prem kubenetes cluster. While there were some issues I could solve by modifying the manifests and creating new dockerfiles (Configuring http clients to use a proxy, running the containers as non-root) there's one remaining blocker.

Our cluster and security profile require

[2021-08-30 14:34] flagbug commented on #5720
So I've looked into this to the best of my knowledge and it seems like this is a fundamental limitation of the way an S3 multipart upload works - there can not be more than `10000` parts. If I'm understanding the code correctly, this issue also impacts the native S3 destination.

According to the documentation in the library that is used for writing to the underlying S3 destination at http://alexm

[2021-08-30 14:59] jadetr commented on #5486
@etsybaev , I'll try to give you more details. Hopefully it will be clearer. The source schema is coming from Harvest source connector.

When testing locally I first got the source schema from Harvest and estimate's array where all empty. I tried to modify estimate's line_items manually to test the destination connector and see if I could have the BigQueryDenormalizedDestination code to "pass" ins

[2021-08-30 16:03] 69mb commented on #5326
Just ran into the same. NPE is from [this](https://github.com/airbytehq/airbyte/blob/36ebf95b327b527ecffd67410faff6fd524f6b44/airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java#L73) line since Default Dataset ID is an optional parameter. Should be changed to `.get(CONFIG_DATASET_ID).asText(null)`?

[2021-08-30 16:14] etsybaev commented on #5486
@jadetr , so did I got you right, for now we have in description this statement:
`"line_items": {
						"type": ["null", "array"],
						**"items": {
							"type": ["null", "object"],
							"properties": {
								"id": {
									"type": ["null", "integer"]
								},
								"kind": {
									"type": ["null", "string"]
								}
							}**
						}
					}`

But you're saying that originally it

[2021-08-30 16:40] etsybaev commented on #5472
Seems to be the same issue as:
https://github.com/airbytehq/airbyte/issues/5486

A the first glance:
Probably we have 2 issues here:
1. On the destination side - do not properly handle the case when received schema for array doesn't contain the "items" section.
2. On the source Harvest side - it may send schema for array without "items" section in it (see linked ticket above in comment). So maybe

[2021-08-30 16:51] rparrapy opened #5739 "Basic normalization problems with Shopify->Snowflake"
Enviroment

• Airbyte version: example is 0.29.11-alpha
• OS Version / Instance: t2.xlarge
• Deployment: Docker
• Source Connector and version: Shopify 0.1.13
• Destination Connector and version: Snowflake 0.3.12
• Severity: Critical
• Step where error happened: Basic normalization

Current Behavior
The basic JSON blobs sitting in _AIRBYTE_RAW tables is ok.
However, after basic normalization some

[2021-08-30 16:58] etsybaev commented on #5529
A the first glance:
Probably we have 2 issues here:

On the destination side - do not properly handle the case when received schema for array doesn't contain the "items" section - comes to infinite recursion.
On the source snapchat side - it may be sent schema for array without "items" section in it (see linked ticket above in comment). So maybe we would also need to create another ticket for sour

[2021-08-30 17:03] jadetr commented on #5486
@etsybaev , I've modified the ticket to reflect the actual Harvest schema.

If you look in Harvest invoice's schema, there is no array defined for line_items. The line_items are defined as an object but they are in fact an array of objects. I'll test invoice sync and let you know if it works in a later message.
ref:
https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/s

[2021-08-30 17:13] bazarnov commented on #5739
From this thread:
https://airbytehq.slack.com/archives/C01MFR03D5W/p1630270571144600?thread_ts=1628600395.445900&cid=C01MFR03D5W

Tried to reproduce using `postgres` destination, no issues with the normalisation,
Products are properly normalised into smaller tables according to the name of entity, like `product_variables`
Entities like `title` and `vendor` are inside the main table `products`

[2021-08-30 17:16] bazarnov commented on #5739
@rparrapy could you please be more specific with this? As far As I understand the sync job is completed ok, but normalisation isn't?

[2021-08-30 17:20] rparrapy commented on #5739
Correct. Edited the issue description accordingly.

[2021-08-30 18:39] sherifnada commented on #5720
@flagbug thanks for the thorough write up and awesome PR! will take a look

[2021-08-30 18:39] DoNotPanicUA opened #5741 "Redshift destination : remove extra serialization"
This is a problem, we are not going to do `Jsons.serialize` twice for Redshift. First in the `isValidData` method and then here

_Originally posted by @subodh1810 in https://github.com/airbytehq/airbyte/pull/5336#discussion_r696009986_

[2021-08-30 18:41] #3476 closed

[2021-08-30 20:15] #5721 closed

[2021-08-31 00:45] sherifnada commented on #5739
@rparrapy does resetting the schema help?

[2021-08-31 01:00] sherifnada commented on #5669
@yevhenii-ldv any ideas?

[2021-08-31 01:01] sherifnada commented on #3513
It would also be helpful to test how much of the API quota has been consumed by a connector

[2021-08-31 01:14] sherifnada commented on #5534
@cjwooo taking this into our sprint, let me know if you have a PR you'd like to submit

[2021-08-31 01:26] sherifnada commented on #5714
the issue seems to be that the timestamp fields are output as empty strings. We'll fix this soon @RKdev

[2021-08-31 06:45] #5473 closed

[2021-08-31 07:58] yevhenii-ldv commented on #5669
Hello @jgtvares
In your logs, I saw the only error (which is repeated for several repositories) - this is a 409 error.
It is repeated for the following repositories:
  * _PasseiDireto/last-student-session-job_
  * _PasseiDireto/pd-xray-daemon_
  * _PasseiDireto/poc-test-mobile-detox_

I suspect that these repositories may be causing the error, which may very well be empty or somehow incorrect.
Can

[2021-08-31 08:48] #5592 closed

[2021-08-31 09:16] #4985 closed

[2021-08-31 09:22] cheyura commented on #5612
@sherifnada For sandbox such streams as campaigns, ad groups and apps are populated. For ads and audiences we are waring for prod account payamnet unblocking form tiktok

[2021-08-31 09:33] RKdev commented on #5714
Thanks @sherifnada - I know some work on this issue has been done in this ticket as well https://github.com/airbytehq/airbyte/issues/5555

Also this may or may not be relevant
https://github.com/airbytehq/airbyte/issues/5688

I would love to work on this but I don't enough experience developing on Airbyte yet. But if there's anything useful I can do such as providing logs or sanitized records from

[2021-08-31 09:38] Phlair opened #5751 "S3 source should work for non-AWS S3 storages"
Currently S3 source is tied to AWS S3 (with url strings etc.). Should be relatively straightforward to extend this to support other storage systems following S3 protocol.

[2021-08-31 09:58] KarlXerri commented on #2017
+1 for this problem also.

[2021-08-31 10:11] wiamsuri opened #5752 "ARM CPU Support for Docker"
## Tell us about the problem you're trying to solve
I am interested in running Airbyte docker container on ARM CPU architecture

## Describe the solution you’d like
Add ARMv8 architecture for building docker image

## Are you willing to submit a PR?
From quickly glancing at the github workflows, I see that it triggers some EC2 instance to run image building, so I have no idea where is the scripts

[2021-08-31 10:43] #5184 closed

[2021-08-31 11:32] bazarnov commented on #5739
@rparrapy @sherifnada

Based on logs above:
`WARN: Unknown type for column total_tax_set at products` means that destination expects the products with old schema, back to the times when the products schema was equal to the orders schema.
The resetting of the schema should be enough to fix the normalisation process.

Also, in order to reproduce the 🐛 , I replicate the test data to Destination Snowf

[2021-08-31 11:34] cheyura opened #5753 "TikTok Prod Account: proceed with payment and populate prod account through UI"
Populate primarely those streams that were unpopulated in sandbox

[2021-08-31 11:35] danieldiamond opened #5754 "Worker does not finish off job. Source and Destination containers hang"
## Enviroment
- **Airbyte version**:  0.29.13-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: MySQL 0.4.4
- **Destination Connector and version**: Snowflake 0.3.13
- **Severity**: Critical
- **Step where error happened**: Sync

## Current Behavior
Sync job just hangs after `completed source` and whilst the source and destination containers ex

[2021-08-31 11:56] htrueman opened #5755 "CDK: remove legacy authenticator references"
## Tell us about the problem you're trying to solve
There are new requests native authenticators implemented https://github.com/airbytehq/airbyte/pull/5731. For now we support both requests native and `HttpAuthenticator` authenticators. Need to remove in the whole project `HttpAuthenticator`.

## Describe the solution you’d like
- Remove `airbyte_cdk.sources.streams.http.auth` module.
- Rename `ai

[2021-08-31 11:58] lazebnyi commented on #3344
@marcosmarxm @sherifnada  Tested successfully on CDK connector. This issue is not present after migration from the singer.

[logs-1-0.txt](https://github.com/airbytehq/airbyte/files/7083676/logs-1-0.txt)

[2021-08-31 12:20] philippeboyd commented on #4989
@ChristopheDuong any news on this? This prevents us to do sync with normalization in MySql 5.7 as per issue #5117

Is there an easy way to disable `ephemeral ` mode when the destination is less than MySQL 8 ?

[2021-08-31 12:47] marcosmarxm opened #5756 "Documentation: add troubleshooting normalization with video"
### Tell us about the documentation you'd like us to add or update.
Create a doc using the video https://www.youtube.com/watch?v=7sKy7VbcNSM&ab_channel=Airbyte
showing people the types/macros in dbt to solve the some problems with normalization.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-08-31 12:56] ChristopheDuong commented on #4989
You can also export the generated "normalize" folder, change the materialization setting in the `dbt_project.yml` file, and re-import them as a custom dbt transformation step to be applied after your sync (disable the basic normalization step then)

This is described in the series of tutorials here: https://docs.airbyte.io/operator-guides/transformation-and-normalization/transformations-with-sql

[2021-08-31 13:03] ChristopheDuong commented on #4989
@tuliren mentioned that the `WITH` keyword is still being referenced in normalization here:

https://github.com/airbytehq/airbyte/blob/5a0d7afcc88c2514b08128bdc1aa0ee675d87df6/airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/array.sql#L115

Instead of having a MySQL macro to unnest using CTE (ie with keyword queries), we could create _ab5, _ab6 model files i

[2021-08-31 13:13] rparrapy commented on #5739
Resetting the schema does not help. I'm following the recommendations now, I'll keep you posted.

[2021-08-31 13:30] watkinsa commented on #2017
+1, same problem running on M1.  I can get docker image to run and get into UI.  problem arises when trying to add a connector/source, even after pre-loading the connector manually and restarting.

[2021-08-31 13:57] karinakuz commented on #4653
**### Integration Vetting**

**Webhook-based? (no/partially/yes)**
if partially, mention which endpoints are webhook-based
_**no**_

**Available authentication modes (API key/Oauth/other)**
_**OAuth 2.0 https://developer.xero.com/documentation/sdks-and-tools/tools/postman/#postman-and-xero**_

**Connecting to the data source**
what kind of API is it? (SOAP/GraphQL/REST/other)
_**Rest API**_

is th

[2021-08-31 14:01] gaart opened #5759 "Source Google Search Console: add a couple demo sites to the test account"
the connector supports pulling data for multiple websites at a time. However, this is currently not tested, because we only have one website that we use for testing, airbyte.com. So we want to add google search console to another website/domain that we control. This ticket encompasses:

1. Getting access to one additional domain for which we can pull google search console metrics
2. Use that new s

[2021-08-31 14:18] Phlair opened #5760 "Improve support for Parquet in abstract files sources (e.g. S3)"
Parquet support [in this PR](https://github.com/airbytehq/airbyte/pull/5305). Currently we're not actively supporting partitioned parquet datasets, but this is quite a common use-case.

The way abstract files source works iterating through file by file makes reading a partitioned parquet dataset hard. See how PyArrow can handle this [here](https://arrow.apache.org/docs/python/parquet.html#reading-

[2021-08-31 14:37] avida commented on #5533
You don't need  to specify any module path for pytest  when running with source_acceptance_test
[code]
Tried this on couple of connectors (facebook-marketing, braintree, amazon-ads) and it works fine for me. @bazarnov please check it on your side.

[2021-08-31 14:42] bazarnov commented on #5533
Thanks, I will.

[2021-08-31 14:49] karinakuz commented on #4653
Schemas https://drive.google.com/drive/folders/1NZGEiXQUUCORXxKOQeAa3E-Jhl8fwzb4?usp=sharing

[2021-08-31 14:58] karinakuz commented on #4653
Preparation
Creating the account
[ ] create an account, get access credentials, add notes to LastPass Description with name "Xero" (4h)

Populating the account with data
[ ] Do activities on the account. Populating account with the data. Creating API queries in Postman to get main streams data (8h).

[] Describing the output schema Schemas https://drive.google.com/drive/folders/1NZGEiXQUUCORXxKOQe

[2021-08-31 15:24] etsybaev commented on #5720
Hi @flagbug.

Many thanks for your investigation. Would it be an acceptable fix we made those args configurable from UI?

Regards,
Eugene

[2021-08-31 16:50] manavkohli commented on #5190
@sherifnada do you have an idea of when the underlying data issue may be deployed? That's still blocking us from being able to use the connector

[2021-08-31 16:52] manavkohli commented on #5088
@sherifnada @marcosmarxm do you know if there's any update here possibly?

[2021-08-31 16:54] Jamakase commented on #5088
@manavkohli this issue is in my todo list for this week. We hope to get it done within next few days.

[2021-08-31 16:59] manavkohli commented on #5088
@Jamakase amazing, thanks!

[2021-08-31 17:00] flagbug commented on #5720
@etsybaev For me personally sure, but I guess this is something that the Airbyte team needs to decide if it makes sense 😄

[2021-08-31 17:06] marcosmarxm opened #5762 "Documentation: Google Analytics new custom_report requirements."
### Tell us about the documentation you'd like us to add or update.
[Slack convo](https://airbytehq.slack.com/archives/C01MFR03D5W/p1629913060150800)

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-08-31 17:26] sherifnada opened #5763 "Regression tests for connector performance"
## Tell us about the problem you're trying to solve
If we make a PR to a connector, we want to make sure that it doesn't now suddenly have worse performance on important dimensions e.g:
* memory consumption
* API quota consumption
* throughput

etc..

## Describe the solution you’d like
Tests where we have an assertion that a given update to a connector does not worsen performance along those dime

[2021-08-31 17:47] jgtvares commented on #5669
@yevhenii-ldv Well noticed! Those repos are really empty!
I guess erasing them would do the trick, but I think Airbyte should be able to ignore empty repos.
How come version 0.1.4 raises no error? It was handling this exception somehow.

[2021-08-31 17:57] garden-of-delete commented on #5763
+1 this is so important

[2021-08-31 18:41] #5459 closed

[2021-08-31 19:03] JCWahoo opened #5765 "Allow for lookback window on incremental load - Stripe/All Sources"
## Tell us about the problem you're trying to solve
I'm attempting to replace my existing Stitch(Singer) Stripe integration w/ Airbyte. I've run into a few scenarios where updates are arriving late to existing objects (charges, invoices, subscriptions). Due to this, I must use a full refresh rather than incremental load for those streams

## Describe the solution you’d like
In reviewing the Singer

[2021-08-31 20:31] Zirochkaa opened #5766 "CDK: number of records actually read and number in logs don't match by 1"
## Current Behavior
There is an error in `AbstractSource._read_stream()` function. On line 149 we first increment `record_counter` and only then we check whether we reached the limit or not. This leads to a mismatch between 2 numbers:
- number in `Read <number> records from <stream name> stream` message;
- the actual number of records.

In attached logs number in message is `11` but actual number

[2021-08-31 21:07] rparrapy commented on #5739
The recommendations worked (at least on a small subset of data). Running the full sync now, will keep you posted. Thanks!

[2021-08-31 21:22] tweinreich commented on #768
I am currently thinking about building connectors to [Personio](https://www.personio.com) and [Weclapp](https://www.weclapp.com/en/) which also use mechanisms similar to what @cgardens describes.

For Personio a token has to be sent to an API endpoint to obtain another token which is valid for one request to another API endpoint. Weclapp uses a token that can be generated once.

Can anyone explain

[2021-08-31 22:07] sherifnada commented on #5765
thanks for the suggestion @JCWahoo ! Will make this available soon. I've updated the description to make it clearer what airbyte should do when supporting this.

[2021-08-31 22:21] #5639 closed

[2021-08-31 22:21] #5640 closed

[2021-08-31 22:21] #5647 closed

[2021-08-31 22:23] sherifnada opened #5769 "[EPIC] Oauth Support in Platform"
# MVP

#### UI
- [x] #5644
- [x] #5646
- [x] #5645
- [x] #5770
- [x] #6027
- [x] #5651

#### Server
- [x] #5643
- [x] #5641
- [x] #5638
- [x] #5637
- [x] #5640
- [x] #5639
- [x] #5647
- [ ] #5895
- [x] #5771
- [x] #5772
- [x] #5773
- [x] #5774
- [x] #5920
- [x] #5919
- [x] #6026

#### Cloud Server
- [x] #5775
- [x] #6024
- [x] #6102
- [x] #6094
- [x] #6103
- [x] #6104

#### Protocol/Connectors
- [

[2021-08-31 22:42] sherifnada opened #5770 "UI/Webserver: Expose an endpoint to which a user should be redirected after granting Oauth consent"
Once a user grants consent and is redirected back to airbyte, they should be redirected to an endpoint which will do the following:

1. call `complete_auth_request` on the backend server, providing the following inputs:
    1. connector definition ID
    2. current workspace ID
    3. any query params found in the redirect URL
2. `complete_auth_request` will return an object containing some proper

[2021-08-31 22:59] sherifnada opened #5771 "Server: Support Google Ads Oauth"

[2021-08-31 22:59] sherifnada opened #5772 "Server: Support Google Analytics Oauth"

[2021-08-31 22:59] sherifnada opened #5773 "Server: Support Google Search Console Oauth"

[2021-08-31 22:59] sherifnada opened #5774 "Server: Support FB Marketing Oauth"

[2021-08-31 23:03] sherifnada opened #5775 "Cloud Server: Set instance-wide secrets for Google Ads & Google Analytics"

[2021-08-31 23:05] #5651 closed

[2021-08-31 23:43] tuliren commented on #5684
Can use the new `DatabaseConfigPersistence#loadData` method introduced in #5678 to update the connector definitions.

[2021-09-01 00:32] sherifnada commented on #768
@tweinreich the best way to implement oauth right now is to have the connector accept a refresh/access token and perform the oauth flow by hand outside of airbyte.

When this ticket closes it will be possible to perform the oauth flow directly in the UI.

[2021-09-01 00:48] sherifnada commented on #5413
This was implemented in #5054 - @aizenshtat would it fulfill your needs?

[2021-09-01 00:48] #5413 closed

[2021-09-01 07:48] #5657 closed

[2021-09-01 07:48] #5678 closed

[2021-09-01 08:44] mcfuhrt opened #5781 "Criteo Ads"
## Tell us about the new connector you’d like to have
Criteo is an advertising company that provides online display advertisements. Criteo's product is a form of display advertising, which displays interactive banner advertisements, generated based on the online browsing preferences and behaviour for each customer. The solution operates on a pay per click/cost per click (CPC) basis.

## Are you wi

[2021-09-01 09:00] davinchia commented on #5482
This is deployed. It looks like we are only getting a subset of the calls instead of the full segment suite.

[2021-09-01 10:12] #5477 closed

[2021-09-01 10:14] Phlair commented on #5408
[discussion in slack](https://airbytehq.slack.com/archives/C021JANJ6TY/p1629994383018900) for reference

[2021-09-01 12:00] vitaliizazmic commented on #5190
@manavkohli hi, I'm working on task and try to reproduce issue. Could you please provide more details about ads for which data is missing.

[2021-09-01 15:05] yevhenii-ldv commented on #5669
@jgtvares In version 0.1.6, we added processing of HTTP errors, and therefore it may happen that in version 0.1.4 error with empty repositories is still skipped, but in 0.1.6 it is no longer. But I'm working on fixing this situation, the fix is almost ready.

[2021-09-01 15:41] jgtvares commented on #5669
@yevhenii-ldv Thanks a lot!!!

[2021-09-01 16:11] #1247 closed

[2021-09-01 16:11] gaart commented on #1247
@awoehrl

We just merged this connector into master and released a new version of the connector.

The connector will be available in the next release of Airbyte (we usually release every Tuesday). If you can't wait and want to get started now trying it out in a running Airbyte instance, add the connector like described in https://docs.airbyte.io/integrations/custom-connectors#adding-your-connector

[2021-09-01 16:21] nkjotiyana opened #5789 "Kafka Destination connector Issue in UI"
## Enviroment
- **Airbyte version**:  0.29.8-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**:  NA
- **Destination Connector and version**: 2.8.0
<img width="804" alt="Screenshot 2021-08-27 at 5 50 41 PM" src="https://user-images.githubusercontent.com/88033414/131707470-043e7f2e-85de-4208-a74f-98536ab171dd.png">

- **Severity**:  Medium
- **Step

[2021-09-01 16:24] manavkohli commented on #5190
@vitaliizazmic definitely, basically all conversion data after mid April. If you look at the `*_actions` or `*_actions_values` tables and filter on events where the `action_type` is `omni_purchase` (this is a conversion event) then you won't see any results after that.

[2021-09-01 16:38] jdaviderb opened #5790 "/source_definitions/list_latest endpoint freeze the UI"
## Enviroment
- **Airbyte version**:  0.29.13-alpha
- **OS Version / Instance** Ubuntu 16.04. , Azure Machine Standard_F4
- **Deployment**: docker-compose, connecting to a custom postgresql
- **Severity**: Medium
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Behavior
UI freezing when trying to get the latest source/destin

[2021-09-01 18:00] #5674 closed

[2021-09-01 18:27] #5632 closed

[2021-09-01 18:31] tweinreich commented on #768
@sherifnada  thank you for the clarification.

[2021-09-01 18:35] #4440 closed

[2021-09-01 19:19] foinduati opened #5793 "Problem with the schema for the contact stream"
I have been getting this errors while trying to load my freshdesk data to snowflake.

[logs-460-0.txt](https://github.com/airbytehq/airbyte/files/7093767/logs-460-0.txt)

[2021-09-01 20:57] jonstacks commented on #1868
I've got a very raw helm chart I'm working on if there is interest in the contribution: https://github.com/airbytehq/airbyte/compare/master...jonstacks:master

Its probably missing a few things and needs some work on the configuration, but has some CI checks too.

We are going to be trying out airbyte in the next few weeks to see if it solves some of our pain points and I'll be updating my fork wi

[2021-09-01 21:16] marcosmarxm opened #5795 "New Source: SearchMetrics"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new connector
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you

[2021-09-01 21:40] jrhizor commented on #1868
@jonstacks that's pretty neat! I especially like the readme.

[2021-09-01 21:52] sherifnada opened #5796 "CDK: When running a connector, inputting an invalid config should not print the full config"
## Current Behavior
If I input an invalid config for a connector I see the following output:

[code]

## Expected Behavior
The actual config should not be printed because it could print secrets to the console/logs

[2021-09-01 21:57] sherifnada commented on #5643
verified with google search console by going through the auth process twice and generating two different refresh tokens and both were simultaneously valid.

This seems to be API-dependent though. I could see an instance where an API does not allow using multiple refresh tokens for the same user. I don't have an example of such an API. But it seems that this would be a bad pattern to have anyways i

[2021-09-01 21:57] #5643 closed

[2021-09-01 22:08] jrhizor opened #5797 "prevent central oauth secrets from landing in exports and logs"
Check for and prevent central oauth secrets from landing in exports and logs.

[2021-09-01 23:46] sherifnada commented on #3344
sgtm, thanks @lazebnyi

[2021-09-01 23:46] #3344 closed

[2021-09-02 05:09] danieldiamond commented on #5754
Just tried the same connection with `MySQL 0.4.3` and it works

[2021-09-02 05:30] danieldiamond commented on #4745
just stumbled upon this. was also experiencing the 30min timeout! glad thats been resolved 🎉

[2021-09-02 06:16] #5766 closed

[2021-09-02 06:40] #5683 closed

[2021-09-02 09:03] #5793 closed

[2021-09-02 09:12] foinduati opened #5800 "Problem with the schema for the contact stream"
I am getting errors trying to push data from freshdesk to snowflake. Could you please assist on how i can solve this

2021-08-31 15:49:29 INFO () WorkerRun(call):62 - Executing worker wrapper. Airbyte version: 0.29.13-alpha
2021-08-31 15:49:30 INFO () TemporalAttemptExecution(get):110 - Executing worker wrapper. Airbyte version: 0.29.13-alpha
2021-08-31 15:49:30 INFO () DefaultReplicationWorker(ru

[2021-09-02 10:37] Phlair commented on #5754
breaking change likely from [this PR ](https://github.com/airbytehq/airbyte/pull/5600)

[2021-09-02 10:58] #5739 closed

[2021-09-02 11:22] #4505 closed

[2021-09-02 11:47] Howard3 opened #5802 "Zendesk Support Upgrade - Ticket Metrics Events"
## Tell us about the new connector you’d like to have
* This is an upgrade to the existing Zendesk Support Source
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB? **No**

## Describe the context around this new connector
* Which team in your company wants this integration, what for? Business intelligence
* How

[2021-09-02 13:31] #5669 closed

[2021-09-02 13:34] yevhenii-ldv commented on #5669
@jgtvares  We just merged this fix into master and released a new version of the connector.

Upgrade your connector to version 0.1.9 and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further questions.
Enjoy!

[2021-09-02 13:35] yevhenii-ldv commented on #5534
@cjwooo We just merged this fix into master and released a new version of the connector (PR link [here](https://github.com/airbytehq/airbyte/pull/5788)).

Upgrade your connector to version 0.1.9 and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if yo

[2021-09-02 13:53] karinakuz commented on #4932
**Integration Vetting**

**Webhook-based? (no/partially/yes)**
if partially, mention which endpoints are webhook-based
**_no_**

**Available authentication modes (API key/Oauth/other)**
_**authentication key https://www.braze.com/docs/api/api_key/**_

**Connecting to the data source**
what kind of API is it? (SOAP/GraphQL/REST/other)
**_Rest API_**

is there an SDK available? Can we connect with H

[2021-09-02 14:14] cheyura commented on #5494
**Webhook-based? (no/partially/yes)**
Partially, woth custom ApI endpoint https://forum.shopware.com/t/how-to-implement-a-webhook-endpoint-in-shopware/46504

**Available authentication modes (API key/Oauth/other)**
OAuth 2.0.
_Grant Types_
OAuth 2.0 defines various ways that users can authenticate, so-called application grant types. The Admin API supports two grant types or -flows:

https://shopwa

[2021-09-02 14:42] gaart opened #5803 "Make sure the code in the main branch passes all the linters"
## Tell us about the problem you're trying to solve
Sometimes we have code in repo which doesn't pass configured checks yet it's in the main branch. E.g. `black` sometimes has things to fix.

## Describe the solution you’d like
Block merge until all linters give green light.

[2021-09-02 14:47] sherifnada opened #5804 "test"
- [ ] #5805
- [ ] #5806
- [ ] #5807

[2021-09-02 14:47] sherifnada opened #5805 "step 1"

[2021-09-02 14:47] sherifnada opened #5806 "step 2"

[2021-09-02 15:03] gaart opened #5807 "Improve CI pipeline"
## Tell us about the problem you're trying to solve
Some steps of pipeline lead to the failed build in case it's not necessary. E.g. step
[code]
is triggered even before the connector is published and there should not be any image on Dockerhub.
As a result we see "Some checks were not successful"

## Describe the solution you’d like
Change the pipeline to do the only necessary steps and do not fai

[2021-09-02 15:05] subodh1810 commented on #5754
weird! am not sure how my PR could have caused this.

[2021-09-02 15:22] #5256 closed

[2021-09-02 15:24] karinakuz commented on #4935
**Integration Vetting**

**Webhook-based? (no/partially/yes)**
if partially, mention which endpoints are webhook-based
**_no_**

**Available authentication modes (API key/Oauth/other)**
**_APIs require an access token obtained via a Token API using a JWT Bearer Grant flow
https://credentials.workday.com/docs/authentication/_**

**Connecting to the data source**
what kind of API is it? (SOAP/GraphQ

[2021-09-02 15:27] jrhizor commented on #5807
How do we ensure that images are being published properly then?

[2021-09-02 15:32] oustynova opened #5808 "Epic test 1"
- [ ] issue 1 - to test smsth
- [ ] issue 2 - balalala

[2021-09-02 15:38] cgardens opened #5809 "Add testing to `io.airbyte.integrations.base.ssh` Package"
## Tell us about the problem you're trying to solve
We have added logic for writing SSH sources. Much of it isn't tested directly. We need to decide what the right tests to write are (unit tests, integration tests?) and then write them.

[2021-09-02 15:40] cgardens opened #5810 "Restructure SSH configuration structure."
## Tell us about the problem you're trying to solve
Restructure spec so that instead of having `SSH Key Authentication` or `Password Authentication` options for `tunnel_method`, just have an `SSH` option and then within that `SSH` option have a `oneOf` for password or key. This will be a more intuitive flow for a user imo.

This is blocked because we cannot use `oneOf`s nested in `oneOf`s.

[2021-09-02 15:44] cgardens opened #5811 "Integration Testing for SSH using a docker container"
## Tell us about the problem you're trying to solve
Improve the process of acceptance testing by allowing doing acceptance / integration testing using a bastion running in a docker container. Right now we have a dedicated host in AWS that we use.

Why do we care?
1. We'd rather not maintain the bastion infra if we don't have to
2. It means that the tests require secrets as an input which adds a bi

[2021-09-02 15:44] cgardens commented on #5811
I'm putting this as a high priority, as I really think we should fix this before we trying to develop SSH connectors for any other databases. Happy to adjust if others think this is not a pre-req.

[2021-09-02 15:48] #4944 closed

[2021-09-02 16:42] zestyping commented on #4360
Hi there!  The following are just my two cents based on my experience as an Airbyte user 😄

## Tabs

Yes, there are getting to be a lot of connection settings, and I certainly appreciate the desire to organize them!  This division between "Schema & Normalization" and "Settings" does not feel like it makes things clearer, though.  "Schema & Normalization" refers to two things (why do they go in the

[2021-09-02 17:44] bazarnov commented on #5712
### STEP 1: ✅
`./gradlew :airbyte-integrations:connectors:destination-snowflake:integrationTest` Is passing before begining.

### STEP 2: ✅  Identified + made the `Snowflake` edge cases tests with date & datetimes,  the results are down bellow.

## ISO8601 possible date & datetime formats

### General Information
Based on the official documentation for JSONSchema about [Date & Time formats](https:

[2021-09-02 17:56] flexe-jwdalton commented on #3064
I would be interested in the data from the issue changelogs endpoint. For reporting on Jira, we need to be able to report on trends in the issues (ticket counts per day per project per status, etc.).

[2021-09-02 18:29] garden-of-delete opened #5816 "[Slack Connector] Sync operations hang forever"
## Enviroment
- **Airbyte version**:  0.29.13
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker-compose
- **Source Connector and version**: Slack (Native) 0.1.10
- **Destination Connector and version**:  BigQuery 0.1.1
- **Severity**: Very Low / Low / Medium / High / Critical
- **Step where error happened**: Sync

## Current Behavior
Sync operations hit a 110 and loop forever without a

[2021-09-02 18:44] marcosmarxm commented on #5816
@avida is it possible to check this problem?

[2021-09-02 21:01] gregdale opened #5820 "Sendgrid connector should support Marketing Campaigns' Single Send Stats"
## Tell us about the problem you're trying to solve
We are trying to acquire our email marketing data. Airbyte's existing Sendgrid integration does not support our key table, Single Send Stats. (It does support Automation Stats but we are not users of that.)

## Describe the solution you’d like
Airbyte would connect to Marketing Campaign Single Send Stats as described here: https://docs.sendgrid.c

[2021-09-02 22:29] marcosmarxm opened #5823 "CI Sandbox for Commerce Tools connector"
## Tell us about the problem you're trying to solve
A community contributor submit a new source for Commerce Tools https://commercetools.com/.
The credentials are needed to run integration tests.

The https://github.com/airbytehq/airbyte/pull/5957 is adding this new source

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would l

[2021-09-03 01:44] sherifnada commented on #5520
@AlexandruManolache1 would you be able to provide a copy of the sheet so we can reproduce?

[2021-09-03 01:45] #5804 closed

[2021-09-03 01:45] #5805 closed

[2021-09-03 01:45] #5806 closed

[2021-09-03 01:46] sherifnada commented on #5802
@Howard3 let us know if you need a hand with creating a PR!

[2021-09-03 01:48] sherifnada commented on #5800
@foinduati are you able to upload the full log file? the one you copy pasted does not include the full error. We'll see if an obvious problem stands out in the meantime

[2021-09-03 01:58] sherifnada commented on #5751
@Phlair what's an example of this? Minio? Any examples you add would help make this a reality :D

[2021-09-03 02:07] sherifnada commented on #5575
@hbd closing as complete, please reopen if the issue persists after resetting your connection schema from the settings page

[2021-09-03 02:07] #5575 closed

[2021-09-03 02:17] sherifnada commented on #5564
nothing looks particularly off about the hubspot schema. There is probably an issue with how the schema is being parsed on the destination side. We should:

1. identify the issue
2. add an acceptance test case to verify it's not breaking anything else

hubspot stream schema:

[code]

[2021-09-03 02:20] #5565 closed

[2021-09-03 02:56] manavkohli commented on #5190
@sherifnada @vitaliizazmic I opened a PR that addressed both issues. Was able to verify data loaded into my DB that included conversion data. Query below (note that the tables are prepended with (`fb921_`)
[code]

[2021-09-03 03:15] #5725 closed

[2021-09-03 03:20] sherifnada commented on #4585
this is fixed in the latest google analytics connector.

[2021-09-03 03:20] #4585 closed

[2021-09-03 03:21] #3517 closed

[2021-09-03 03:21] #1948 closed

[2021-09-03 03:21] #2165 closed

[2021-09-03 03:21] #2288 closed

[2021-09-03 03:21] #2290 closed

[2021-09-03 03:45] sherifnada commented on #4471
@karinakuz I created an account by following steps 2-4, could you move it to the last phase? we can implement as soon as it's ready!

[2021-09-03 04:01] sherifnada commented on #2972
@karinakuz could you reach out to Front to ask for an oauth developer application so we can begin implementation?

[2021-09-03 05:25] sherifnada opened #5828 "Okta Pagination exception"
## Current Behavior

From [Slack](https://airbytehq.slack.com/archives/C01MFR03D5W/p1630634255318300)

Hello, when using Okta source with Incremental sync, it fails to fetch the details. Reason is url being queried is of the form https://xxxx.okta.com/api/v1/users?limit=100&filter=lastUpdated+gt+2021-07-01T17%3A05%3A06.000Z while the correct url should be of type https://xxxx.okta.com/api/v1/users

[2021-09-03 06:15] johnlafleur commented on #4360
Hey @zestyping!
Thanks so much for the detailed feedback.
So, if I understand well, in the 2 designs below, what you have in mind is option 2: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=26178%3A0
Don't hesitate to leave a comment directly in Figma.

[2021-09-03 06:26] davinchia commented on #4944
@Brianlifung @AlexandruManolache1 you want to give this another shot?

[2021-09-03 06:36] yaroslav-dudar commented on #5563
<details><summary>new  Exception in thread "main" java.lang.NullPointerException error</summary>
<p>

[code]

</p>
</details>

[2021-09-03 06:40] keu opened #5832 "CDK: Incremental read should always produce state if any records were read"
It appears there is a bug after we introduced the `_limit` parameter. Whenever we specify some `_limit` and use incremental read the state is not produced anymore.
The reason is that the original logic relied on the fact that we will read at least a single slice completely, which is not the case anymore if slices are bigger than the value of `_limit`.

<img width="1095" alt="Screenshot 2021-09-03

[2021-09-03 06:54] AlexandruManolache1 commented on #4944
hi @davinchia , i am now on 0.29.13-alpha, i guess i need to update to 0.29.14-alpha?

[2021-09-03 07:25] davinchia commented on #4944
@AlexandruManolache1 updating the connector should be sufficient

[2021-09-03 08:05] bazarnov commented on #5439
## ISO8601 possible date & datetime formats

### General Information
Based on the official documentation for JSONSchema about [Date & Time formats](https://json-schema.org/understanding-json-schema/reference/string.html#dates-and-times):
Dates and times are represented in `RFC 3339, section 5.6`. This is a subset of the date format also commonly known as `ISO8601 format`. Which could be represente

[2021-09-03 09:11] #5735 closed

[2021-09-03 09:16] yevhenii-ldv commented on #5256
@jgtvares

We just merged this fix into master and released a new version of the connector.

Upgrade your connector to version 0.2.10 and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further questions.

Enjoy!

[2021-09-03 09:19] #5816 closed

[2021-09-03 10:11] igrankova commented on #5781
**Webhook-based? (no/partially/yes)**
no

**Available authentication modes (API key/Oauth/other)**
OAuth:
https://developers.criteo.com/marketing-solutions/reference/oauth

**Has Sandbox environment?**
No
Developer environment
https://partners.criteo.com/

**How to populate the account with data**
API:
https://developers.criteo.com/marketing-solutions/reference/oauth

**Available streams for sync*

[2021-09-03 10:11] igrankova commented on #5781
@sherifnada Vetting is completed, ready for implementation

[2021-09-03 10:48] vladimir-remar opened #5835 "Connector: Hubspot stream tickets produce an error."
## Enviroment
- **Airbyte version**:  0.29.13-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Source Connector and version**:  Hubspot 0.1.11
- **Step where error happened**: Sync job

## Current Behavior
When I try to pass the tests by running `python main_dev.py read --config secrets / config.json --catalog sample_files / configured_catalog.json `, when reaching the stream **"tickets"** an e

[2021-09-03 11:02] cheyura commented on #5494
@sherifnada Trial account created. We can create test transactions in both trial (14 days) and usual (free) account. But for usual (free) account integration with PayPal is needed. I have corporate credit card but no PayPal creds for this card

[2021-09-03 11:29] AlexandruManolache1 commented on #4944
hi, works OK, only thing worth mentioning is that the the exclusion of the default schemas remained - e.g.: HR

[2021-09-03 12:05] oustynova opened #5836 "Epic test 1"
- [ ] issue 1
- [ ] issues 2

[2021-09-03 12:06] subodh1810 opened #5837 "Investigate the effect of huge WAL logs on Postgres CDC source sync"
A user reported that their Postgres source connector running in CDC mode was not able to fetch the changes during incremental updates. Take a look at the following logs
[code]
The two logs have a difference of 5 minutes. We wait for 5 minutes and there were no records returned by debezium and as a result we shutdown the sync. The last log from debezium is `2021-09-02 08:23:46 INFO () DefaultAirbyt

[2021-09-03 12:10] subodh1810 opened #5838 "Replace personal tokens in Airbyte github action wotkflows with dedicated account token"
Currently we are using our own personal tokens in github action workflows. We should create a dedicated github account and use tokens from that account. Some tokens that we use :
secrets.SLASH_COMMAND_PAT : @jrhizor personal token, its being used by multiple workflows
secrets.SELF_RUNNER_GITHUB_ACCESS_TOKEN : @davinchia personal token

The above two tokens are used by multiple workflows such as Sl

[2021-09-03 12:27] karinakuz commented on #1248
There is no open information for Vetting about API and integration. Account is not free and available only for the Partner. Sent request on the site https://www.selligent.com/register-to-partner?ID=Pnkp%2Bfo9ZoEWQwpOSTUgGkUMPB8JaJk3my6NOv1k_icQQEXF7XTVpuH18kZnK8HXy7uVuKptr2wG10RPPG

[2021-09-03 12:32] AlexandruManolache1 commented on #5520
hi @sherifnada , let me try pls to save a copy and mask it, it has some internal company data

[2021-09-03 13:06] oustynova opened #5839 "Epic test 1"
- [ ] issue 1
- [ ] issue 2
- [ ] issue 3

[2021-09-03 13:52] cheyura commented on #3484
@lazebnyi app is ready

[2021-09-03 14:20] #4745 closed

[2021-09-03 14:31] philipherrmann commented on #3772
Don't really know how to say something related to this connector. Great we have this now! We would love to see the /attribution/ endpoints (https://advertising.amazon.com/API/docs/en-us/amazon-attribution/overview) from the Amazon Ads API integrated into this connector. Is there anything going on in this direction?

[2021-09-03 14:41] Voronenko opened #5841 "Import config from file doesn't work in 0.29.14-alpha+"
## Enviroment
- **Airbyte version**:  example is 0.29.14-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: Postgres
- **Destination Connector and version**: Postgres
- **Severity**: Low
- **Step where error happened**: Restore configuration

## Current Behavior
 When I am trying to restore configuration by uploading config file, nothing ha

[2021-09-03 14:55] arunpassi commented on #5828
[logs-55-2.txt](https://github.com/airbytehq/airbyte/files/7106760/logs-55-2.txt)

2021-09-03 01:37:18 INFO () DockerProcessFactory(create):146 - Preparing command: docker run --rm --init -i -v airbyte_workspace:/data -v /tmp/airbyte_local:/local -w /data/55/2 --network host --log-driver none airbyte/source-okta:0.1.2 read --config source_config.json --catalog source_catalog.json --state input_sta

[2021-09-03 14:59] sherifnada commented on #3049
not a good use of time since the generator is now containerized. Closing

[2021-09-03 14:59] #3049 closed

[2021-09-03 15:01] Abrar-ul-farhan-Mohammed opened #5842 "Source Mysql Value '65535' is outside of valid range for type java.lang.Short"
## Enviroment
- **Airbyte version**:  0.29.13-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: Docker
- **Source Connector and version**: MySQL
- **Destination Connector and version**: Snowflake 5.31.4
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Sync fails for some tables from the same database. It is loading data into the destination and for

[2021-09-03 15:02] jgtvares commented on #5256
@yevhenii-ldv It is behaving the same as before for me. A lot of props are still missing from `fields` column.

[2021-09-03 15:07] bazarnov commented on #5469
@sherifnada @marcosmarxm
This issue is fixed with `0.1.13`. As far as i can see it's no longer present during the sync. Probably we can close this for now, and re-open if there would be a customer's request.
WDYT?

[2021-09-03 15:15] karinakuz commented on #4471
@sherifnada thank you! working on it.

[2021-09-03 15:22] caiopedroso commented on #5355
@marcosmarxm  , Got you, I will try that, just waiting for the release of a fix for the M1 version and update here if I come up with a solution.

[2021-09-03 16:15] sherifnada commented on #3772
@philipherrmann not at the moment but could you open an issue to track it?

[2021-09-03 16:41] sherifnada commented on #2762
implementing this is blocked on [litl/backoff](github.com/litl/backoff) library releasing version 2.0.0

[2021-09-03 18:41] etsybaev commented on #4778
Seems to be related to https://github.com/airbytehq/airbyte/issues/5486
And must be fixed as part of https://github.com/airbytehq/airbyte/pull/5813

[2021-09-03 19:14] etsybaev commented on #5277
HI @rparrapy. Many thanks for reporting this issue and for your interest in the product. Could you please provide a little bit more info about your env where you migrated data? How much ram and heap memory had been allocated to the container when it failed? Many thanks in advance!

[2021-09-03 22:36] bazarnov commented on #5688
@marcosmarxm you forgot to to add the correct PR in changelog of Hubspot connector during this update. https://docs.airbyte.io/integrations/sources/hubspot#overview
It says: 0.1.11 = PR of 5463, and must be yours.

[2021-09-04 02:49] davinchia commented on #4944
@AlexandruManolache1 is correct yes? We don't want the default schemas to show?

[2021-09-04 05:04] aizenshtat commented on #3943
Hello, we have the same problem with Dynamics and it very critical for us. Here are all the details: [Slack Thread](https://airbytehq.slack.com/archives/C01MFR03D5W/p1629382834392400?thread_ts=1629382834.392400&cid=C01MFR03D5W)

[2021-09-04 06:10] aizenshtat commented on #1967
I would also be super interested in this sollution. Very critical for us, as our internally developed software changes very frequently.

[2021-09-04 06:49] AlexandruManolache1 commented on #4944
Considering the fact that we can specify just the ones we need,  i would remove that filter.
For my use case, i have some data i need to sync from HR schema.

[2021-09-04 07:14] foogunlana commented on #1868
@jonstacks amazing work. Don't forget nodeSelectors on deployments :), and taints and tolerations. Happy to make a PR too.

[2021-09-04 07:52] jonstacks commented on #1868
@foogunlana, thank you :).  Just got it up and running a few days ago, but should have a PR out mid next week.

[2021-09-04 08:18] davinchia commented on #4944
Got it. You do have a use case for the default schemas, so you would want to be able to specify them in the configuration and retrieve information. Is that right?

[2021-09-04 14:17] danieldiamond commented on #4704
@sherifnada  was this resolved?

[2021-09-04 14:20] danieldiamond commented on #5754
Related?

https://github.com/airbytehq/airbyte/issues/4322

[2021-09-04 14:48] vitoravancini commented on #3943
Hello everyone,  Im on my phone right now só I wont be able to show examples, but what I've done was to change the temporal dynamic config.

I was deploying using docker compose, and in the compose file there is a volume for the temporal config, ive edited this temporal config file and restarted the containers.

I cant tell how this can impact the temporal system.

[2021-09-04 14:52] vitoravancini commented on #3943
This is the file I have edited:

https://github.com/airbytehq/airbyte/blob/master/temporal/dynamicconfig/development.yaml

Changed the limit.blobSize.error size.

Hope it helps.

[2021-09-04 16:07] jadedevin13 opened #5845 "CDC Posgres Realtime to Kafka"
Is it possible to use this in realtime without the need to add frequency assuming I'm not using any transformation.

[2021-09-04 23:40] #5102 closed

[2021-09-05 14:32] bazarnov commented on #5533
[code]
Command works as expected. No mentioned issues came out.

@sherifnada I think this is the issue:
We have the following line inside of the any connector's `ReadMe.md` template?
[code]
Which is not always working as expected.
I think this issue could be close. Thanks.

[2021-09-05 14:32] #5533 closed

[2021-09-05 18:24] etsybaev commented on #5277
Just a hint for those who will work on it.

As an option, you may try to use this LoadTest. Just add it to the DestinationAcceptanceTest

`
  @Test
//  @Disabled
  public void testSyncLong() throws Exception {
    final int streamsSize = 5; // number of generated streams
    final int messagesNumber = 300000000; // number of msg to be written to each generated stream

    final String USERS_STREAM

[2021-09-05 20:49] bazarnov opened #5852 "🐛 Source Shopify: incorrect type of `amount` in `order_refunds` schema"
Shopify `order_refunds` schema has incorrect property `type`:

[code]
[code]

[2021-09-05 21:08] bazarnov opened #5854 "SAT: cannot handle `None/null` with format `date-time`"
The SAT, cannot handle the empty `date-time` values.
The following error occurs:

Error example:
[code]

Reproduction of the error using
`python -m pytest -p source_acceptance_test.plugin`

[code]

The actual issue is here:
https://github.com/airbytehq/airbyte/runs/3513075398?check_suite_focus=true

[2021-09-05 21:12] bazarnov commented on #5854
Also, there are no tests added to `unit_tests/asserts.py` to cover this.

The issues could be fixed with the following code:

[code]

[2021-09-05 21:19] bazarnov commented on #5854
@sherifnada
The PR to fix this is attached. Check it.

[2021-09-06 03:19] tuliren opened #5857 "Update config and job persistence unit tests to run migrations"
## Current Behavior
After introducing Flyway migration, any unit test that depends on the database need to run the migrations first. Currently most such unit tests do not do this. It is not a problem now because there is no Flyway migration yet. But we will run into this problem soon.

## Expected Behavior
Unit test should work after Flyway migrations are introduced in the future.

## Are you will

[2021-09-06 04:06] Wajira opened #5858 "Cant setup MySql as a source"
## Enviroment
- **Airbyte version**:   is 0.29.13-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: Docker
- **Source Connector and version**:MySql 5.7
- **Destination Connector and version**: not applicable
- **Severity**:  Critical
- **Step where error happened**: Setup new connection

## Current Behavior
when trying to setup MySQL as a source it returns error

## Expected Behavior

[2021-09-06 04:15] Brianlifung commented on #4944
I can pick tables from the schedule now, but failed on run
`2021-09-06 03:58:49 INFO () LogClientSingleton(setJobMdc):146 - Setting docker job mdc
2021-09-06 03:58:50 INFO () DefaultAirbyteStreamFactory(lambda$create$0):73 - 2021-09-06 03:58:50 INFO i.a.i.d.j.JdbcBufferedConsumerFactory(lambda$onCloseFunction$3):196 - {} - Finalizing tables in destination completed.
2021-09-06 03:58:50 INFO () Def

[2021-09-06 06:21] AlexandruManolache1 commented on #4944
Yes @davinchia . Exactly how you configured it now, just without excluding some in the backend.

[2021-09-06 06:49] #4486 closed

[2021-09-06 06:49] #5220 closed

[2021-09-06 06:49] #5446 closed

[2021-09-06 07:10] Brianlifung commented on #4944
My I know do it supports Oracle 'CLOB' column type? I think I have an issue related to this

[2021-09-06 07:11] #5714 closed

[2021-09-06 08:44] #5641 closed

[2021-09-06 09:34] #5852 closed

[2021-09-06 10:11] Jamakase commented on #5453
Fixed in #5597

[2021-09-06 10:32] #5453 closed

[2021-09-06 10:35] Jamakase commented on #5322
Fixed in #5597

[2021-09-06 11:10] Phlair commented on #5751
Some examples:
- [MinIO](https://docs.min.io/docs/how-to-use-aws-sdk-for-python-with-minio-server.html)
- [Ceph](https://docs.ceph.com/en/mimic/radosgw/s3/python/)
- [LeoFS](https://leo-project.net/leofs/docs/admin/protocols/s3/)
- [Wasabi](https://wasabi-support.zendesk.com/hc/en-us/articles/115002579891-How-do-I-use-AWS-SDK-for-Python-boto3-with-Wasabi-)

The ideal soultion would be provider agn

[2021-09-06 13:11] bazarnov opened #5859 "CI Sandbox for Source WooCommerce"
## Tell us about the new connector you’d like to have
We need to merge the contribution of https://github.com/airbytehq/airbyte/pull/5121 (source WooCommerce).
For this to be properly tested before merge, and afterwards using SAT, we would need to have the Sandbox for WooCommerce.

As for Sandbox for WooCommerce, there is an official reply from the WooCommerce:
[code]

## Describe the context arou

[2021-09-06 14:16] #2369 closed

[2021-09-06 14:24] yevhenii-ldv commented on #5520
hi @AlexandruManolache1
This copy from you was very helpful to us, as we tried many different SmartSheets and failed to reproduce the bug that you described. If you can provide us with a copy (of course, without any secret data, we are only interested in the format of the Smartsheet itself, in order to understand what the problem may be) - it would be great.

Thanks in advance!

[2021-09-06 14:27] #4778 closed

[2021-09-06 14:27] #5472 closed

[2021-09-06 14:27] #5486 closed

[2021-09-06 14:27] #5529 closed

[2021-09-06 15:22] nijatrzayev1 opened #5862 "Oracle destination connection failed with - Could not connect with provided configuration. ORA-00972: identifier is too long"
## Enviroment
- **Airbyte version**:  airbyte/server:0.29.15-alpha
- **OS Version / Instance**: Windows 11
- **Deployment**: Docker
- **Source Connector and version**: oracle 0.3.3
- **Destination Connector and version**:Oracle (Alpha) 0.1.7  (0.1.6 also)
- **Severity**: High
- **Step where error happened**: Setup new connection

## Current Behavior
Source connection created successfully.
During c

[2021-09-06 17:02] htrueman commented on #3011
List of streams with required scopes:
Stream - Required Scope
- `campaigns` - `content`
- `companies` - `contacts`
- `contact_lists` - `contacts`
- `contacts` - `contacts`
- `deal_pipelines` - either the `contacts` scope (to fetch deals pipelines) or the `tickets` scope.
- `deals` - `contacts`
- `email_events` - `content`
- `engagements` - `contacts`
- `forms` - `forms`
- `line_items` - `e-commerc

[2021-09-06 17:19] marcosmarxm commented on #5469
@rparrapy could you test version `0.1.13`?

[2021-09-06 17:25] marcosmarxm commented on #5862
@nijatrzayev1 what version of Oracle database are you using in destination? After 0.1.6 we only support Oracle 18 where the table name length are 120 chars. If you're using 12 you need to enable your database to support this table name length.

[2021-09-06 18:47] marcosmarxm opened #5867 "Connector Iterable failing in normalization process"
## Enviroment
- **Airbyte version**:  0.29.15-alpha
- **OS Version / Instance**: ~
- **Deployment**: ~
- **Source Connector and version**: Iterable 0.1.6
- **Destination Connector and version**: Redshift 0.3.13
- **Severity**: Very Low / Low / Medium / **High** / Critical
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Beha

[2021-09-06 19:42] marcosmarxm opened #5868 "Job Sync logs keep printing `Setting docker job mdc`"
## Enviroment
- **Airbyte version**:  0.29.15-alpha
- **OS Version / Instance**: ~
- **Deployment**: Docker
- **Source Connector and version**: Harvest 0.1.0
- **Destination Connector and version**: Postgres
- **Severity**: Very Low / **Low** / Medium / High / Critical
- **Step where error happened**: Sync job

## Current Behavior
https://github.com/airbytehq/airbyte/blob/fe38f692764a6b8851684e8cc

[2021-09-06 20:05] carloslme commented on #4975
Hi guys! Unfortunately, we could recover neither logs for the database nor the temporary pod because we have some internal issues.
The good news is that we are running the last version of Airbyte and everything looks great.
Thanks for your time and consideration.

[2021-09-06 21:08] rparrapy commented on #5277
Hi @etsybaev ! I believe this issue to be related to this: https://github.com/airbytehq/airbyte/issues/3439
Basically, the issue is not the number of rows but the fact that rows themselves are memory-hungry.

As for RAM and heap memory, all I know is I used a t2.xlarge and the default Airbyte settings. Not sure what the defaults are for RAM and heap memory are.

[2021-09-06 21:15] rparrapy commented on #5469
@marcosmarxm I am actually on `0.1.14` currently. Although the rate-limit errors are gone, the native connector is still much slower than the Singer one.

As an example, for one of my Shopify connections:

- A full refresh takes ~24 hours for singer-based, ~60 hours for native.
- Even worse, incremental appends take minutes with singer-based, several hours for the Native connector.

I am attaching

[2021-09-06 22:53] knizhnikov commented on #1468
Hey, I would like to look into this as I would really want to contribute.

The JDBC connection may seem to be a bit tricky considering driver limitations. Thought maybe worths to use Airtable API for this?

In my team I use Airbyte to sync data from the Airtable API using the HTTP Request connector.
* But this doesn't yet support a forming of an Airbyte catalogue with a proper JSON schema. I use A

[2021-09-06 23:08] marcosmarxm commented on #5858
@Wajira is this mysql database in the same machine (like running a container)? Are you able to connect to this database using other (IDE, command line)? The last could you access the airbyte-scheduler container and ping the database IP to ensure Airbyte can reach the network?

[2021-09-06 23:17] marcosmarxm opened #5869 "Source Mysql Value '65535' is outside of valid range for type java.lang.Short"
## Enviroment
- Is this your first time deploying Airbyte: Yes
- OS Version / Instance: Windows 10
- Memory / Disk: 8Gb
- Deployment: Docker
- Airbyte Version: 0.29.13-alpha
- Source name/version: MySQL
- Destination name/version: Snowflake 5.31.4
- Description:

## Current Behavior
I'm trying to push data from MySQL to Snowflake. It is loading data for few tables and erroring out for a few. How d

[2021-09-06 23:25] marcosmarxm commented on #5845
thanks for requesting this @jadedevin13. At the moment Airbyte doesn't support real-time or webhooks. Probably is a feature will be implemented in the future. Could you describe more your use case? Data size, topic numbers. Why are you looking to use Airbyte instead of Kafka Connect?

[2021-09-06 23:25] #5869 closed

[2021-09-06 23:26] marcosmarxm commented on #5842
Relevant logs
[code]

[Uploading logs-7-0 (9).txt…]()

[2021-09-06 23:38] marcosmarxm commented on #5752
@wiamsuri each connector and Airbyte component has it's individual Dockerfile. What environment are you trying to use with ARM?

[2021-09-06 23:40] marcosmarxm commented on #5790
These endpoint try to get some Github files. Did your instance has access to the internet?

[2021-09-07 00:31] marcosmarxm commented on #5841
thanks for reporting this @Voronenko. I tried and got same problem with my local instance.
[server-logs (5).txt](https://github.com/airbytehq/airbyte/files/7118143/server-logs.5.txt)
[scheduler-logs (4).txt](https://github.com/airbytehq/airbyte/files/7118144/scheduler-logs.4.txt)

Steps to reproduce:
- start Airbyte, create a source/destionation, sync a job, export configs
- docker-compose down -v

[2021-09-07 00:31] davinchia commented on #4975
Great! Let us know if this happens again!

[2021-09-07 00:33] davinchia commented on #5868
It's not suppose to be printing it in such succession. Makes me think something is wrong with the deployment.

I can change the log line to DEBUG if the line itself is confusing.

Did the job succeed?

[2021-09-07 00:37] marcosmarxm commented on #5724
This error can happens when your /tmp directory in your database is full.
For some people updating the mysql config file and restart the database solve the issue, [check here more info](https://stackoverflow.com/questions/11997012/mysql-cant-create-write-to-file-tmp-sql-3c6-0-myi-errcode-2-what-does)

[2021-09-07 00:52] davinchia commented on #4314
Gathering from feedback from everyone on the thread, would people prefer this on a per connection, per stream or global basis?

[2021-09-07 00:54] marcosmarxm commented on #4314
@davinchia what do you think being a parameter possible to update in the specification of the connector? So, the first sync you can prepare your source database to a more heavy request and after using incremental you can reduce the batch size.

[2021-09-07 00:59] davinchia commented on #4314
That's a good idea. This might affect other syncs of the same spec so a user would have to manage that properly. I was thinking having this on a per stream basis makes the most sense, but would require us changing part of the catalog, which is more effort.

Maybe adding it to the spec is sufficient. @jrhizor @sherifnada ?

[2021-09-07 04:44] davinchia commented on #5482
This is fixed as of #5597. Change were into dev yesterday and prod today.

<img width="1823" alt="Screen Shot 2021-09-07 at 12 40 22 PM" src="https://user-images.githubusercontent.com/9772859/132285619-24fede1d-eed6-435c-b657-9b6d76bc3a21.png">

[2021-09-07 04:44] #5482 closed

[2021-09-07 04:45] davinchia commented on #5214
This is done on the frontend. We are going to give users a day before enforcing this on the backend.

[2021-09-07 05:00] gui0506 opened #5870 "Sync job fails/retries itself after successfully transferring all the data."
## Enviroment
- **Airbyte version**:  0.29.13-alpha
- **OS Version / Instance**: AWS EKS
- **Deployment**: Kubernetes
- **Source Connector and version**: Postgres 0.3.11
- **Destination Connector and version**: BigQuery 0.1.1
- **Severity**: Very Low / Low / Medium / **High** / Critical
- **Step where error happened**: Deploy / **Sync job** / Setup new connection / Update connector / Upgrade Airby

[2021-09-07 06:07] #5454 closed

[2021-09-07 06:33] 69mb commented on #5800
@sherifnada below is the error. Problem is that unique_external_id is a String field in the [Freshdesk API docs](https://developers.freshdesk.com/api/#contact_attributes) but the connector has this as a [integer in the schema](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/contacts.json#L63). Changed this on my local to cl

[2021-09-07 06:47] AlexandruManolache1 commented on #5520
hi @yevhenii-ldv , @sherifnada  i created a dummy file, same format with mine. I tested and has the same behaviour.
What is your email so that i can share it with you?

[2021-09-07 06:49] AlexandruManolache1 commented on #5520
i shared it with Sherif, let me know your email also pls. thx!!!

[2021-09-07 08:01] yevhenii-ldv commented on #5520
Hi @AlexandruManolache1!
yep, of course, you can send to this email: `y.kurochkin@zazmic.com`

[2021-09-07 08:11] AlexandruManolache1 commented on #5520
done

[2021-09-07 08:55] bazarnov commented on #5469
Hi, there is a logical explanation of such a behaviour - the singer tap  uses the `id` for incremental fetch of each stream, which is standard behaviour for the Shopify records filtering. We migrated from this solution to the use of `date-time` filtering.

According to their REST API documentation: all the streams has the `id` and this property could be used for incremental data fetch, but not all

[2021-09-07 09:35] davinchia opened #5872 "Incorrect Jersey configurations."
## Enviroment
- **Airbyte version**: 0.29.15-alpha (not sure when this started)
- **OS Version / Instance**: macOS
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Low
- **Step where error happened**: Seemingly ran

[2021-09-07 09:58] avida opened #5873 "QoL: when test failed post link to gradle run into comments"
## Tell us about the problem you're trying to solve
It takes some time to find reason why test failed on github when using /test command, I would like to see link to gradle directly on comment where /test command issued

## Describe the solution you’d like
I would like to see link to scans.gradle.com on run when test failed.

## Describe the alternative you’ve considered or used
A clear and concis

[2021-09-07 10:12] davinchia opened #5874 "Airbyte Cloud Status Page."
## Tell us about the problem you're trying to solve
Once we go live, we are going to need a status page to tell people if we are up or not.

## Additional context
Add any other context or screenshots about the feature request here.

## Are you willing to submit a PR?

Remove this with your answer :-)

[2021-09-07 10:52] igrankova commented on #5464
"Webhook-based? (no/partially/yes)
partially:
https://prometheus.io/docs/alerting/latest/configuration/#webhook_config

**Available authentication modes (API key/Oauth/other)**
Prometheus supports basic authentication and TLS.
https://prometheus.io/docs/prometheus/latest/configuration/https/
OAuth 2

**Has Sandbox environment?**
No, install locally:
https://prometheus.io/download/

**How to popula

[2021-09-07 10:55] igrankova commented on #5464
@sherifnada Vetting is completed, ready for implementation

[2021-09-07 11:32] rparrapy commented on #5469
Understood, thanks for the explanation. If possible, I would prioritize caching since at its current state the connector speed is just too slow. For my current use case, it is unfortunately not acceptable for an incremental append to take more than  18 hours (the sync for which I uploaded the logs yesterday still has not finished).

[2021-09-07 12:13] olivermeyer commented on #5628
Hi @sherifnada, will this cover Redshift too? I'm hopeful since the title says "all databases" 😃

[2021-09-07 12:43] DoNotPanicUA opened #5878 "MySql source : source binary node transforms to text node"
Found during work on #3932

## Current Behavior
Initial investigation showed that the data type test gets airbyte messages with binary values as text.
As a result, check `isBinary` returns false and the value contains useless data (not even string version).

Note! The issue is not investigated fully. There might be a global issue of binary values.

## Expected Behavior
Binary values in Airbyte mes

[2021-09-07 13:20] AlexandruManolache1 commented on #2849
This could be really helpful for my use case, that is syncing some Oracle based ERPs to out GCP datalake

[2021-09-07 13:28] jarrodparkes commented on #5333
+1

[2021-09-07 13:34] delhora opened #5880 "MixPanel Connection"
## Enviroment
- **Airbyte version**:  0.29.15-alpha
- **OS Version / Instance**:  	Ubuntu 16.04.7 LTS // GCP e2-standard-2 (2 vCPUs, 8 GB memory)
- **Deployment**:  Docker-compose
- **Source Connector and version**:  Mixpanel 0.1.0
- **Destination Connector and version**: Bigquery 0.1.1
- **Severity**: -
- **Step where error happened**:  Sync Job

## Current Behavior
Error when sync to MixPanel, a

[2021-09-07 13:56] htrueman commented on #1938
1. Check method runs read on `users` stream. Default [permission scopes](https://marketplace.zoom.us/docs/guides/using-apps/permissions#user-managed-scopes) should be enough to read all the steams we have.
2. Connector is handled with the default backoff flow. Checked with our LastPass creds.

[2021-09-07 13:59] irynakruk opened #5882 "Source Intercom Connector: inconsistency between schema and data"
## Enviroment
- **Source Connector and version**: airbyte/source-intercom:0.1.2
- **Severity**: High

## Current Behavior
Field is marked as String in Schema, but comes as Object in Data.

## Expected Behavior
Consistency between field and data.

## Logs
[code]

## Steps to Reproduce

1. Setup intercom source
2. Setup Bigquery-denormalized destination
3. Create connection between above source/dest

[2021-09-07 14:11] irynakruk commented on #5525
I've created follow up [ticket](https://github.com/airbytehq/airbyte/issues/5882) for Intercom source due to schema and data inconsistency.

[2021-09-07 14:22] htrueman commented on #1938
1. Check method runs read on `users` stream. Default [permission scopes](https://marketplace.zoom.us/docs/guides/using-apps/permissions#user-managed-scopes) should be enough to read all the steams we have.
2. Connector is handled with the default backoff flow. Checked with our LastPass creds.
We get JSONDecodeError if JWT is incorrect, has wrong format or is null.
3. Acceptance tests config yml fi

[2021-09-07 14:50] yevhenii-ldv commented on #2981
## Scoping summary

### 1. What is the “ideal end state” for the features offered by this connector?
 - Lever REST entities (subentities) map to Airbyte streams
 - We will use `client_id`, `client_secret `and `refresh_token` to obtain `access_token`, and use it to send HTTP requests.

### 2. What is the release roadmap for this connector?
 - #### Which features are absolutely necessary for the MVP

[2021-09-07 14:57] jrhizor commented on #4314
It's reasonable to be configurable, but the default should also be increased significantly. For the default, we should also consider trying to estimate the memory and using that as a limit instead of the number of rows.

[2021-09-07 14:59] htrueman commented on #1943
## Scoping report

1. Check method runs read on `users` stream. In this case that means that we may get all the other streams.
2. Connector is handled with the default backoff flow. Checked with our LastPass creds.
We get JSONDecodeError if JWT is incorrect, has wrong format or is null.
3. Acceptance tests config yml file same as state files should be created. We should config integration tests fo

[2021-09-07 15:04] jrhizor opened #5883 "handle case where user creates connectors outside of onboarding"
Currently, creating sources or destinations outside of the onboarding flow isn't handled perfectly in onboarding. We should revisit at some point to decide on long term behavior.

[2021-09-07 15:07] jrhizor opened #5884 "create a backend property for "completed first sync""
In order for us to show the :+1: / :-1: display on the frontend after completing the first sync, we need to expose the value to the frontend. We could do this by augmenting the user's response to include this property. We could do this at the user level and look it up at in their workspaces to ensure they've successfully completed a sync.

[2021-09-07 15:24] jrhizor opened #5885 "handle multiple users going through onboarding for the same workspace"
Right now the connection setup wizard is effectively per-workspace not per-user. We should define the expected behavior here.

probably related: https://github.com/airbytehq/airbyte/issues/5884 and https://github.com/airbytehq/airbyte/issues/5883

[2021-09-07 15:28] jrhizor opened #5886 "document implications of full refresh normalization"
Until we have https://github.com/airbytehq/airbyte/issues/4286, we should document how this can impact certain deployment cases, especially for high frequency syncs.

See https://airbytehq.slack.com/archives/G01A714RTSS/p1630348564052600

[2021-09-07 15:40] jrhizor commented on #5874
Is GL going to work on this?

Also, what metrics will this be based off of? If the API is returning / if the webapp static page is serving for now, and then eventually maybe additional metrics (like ability to run sync jobs, etc)?

[2021-09-07 15:45] jrhizor opened #5888 "add sentry to webapp"
- [x] add capability of running sentry to https://github.com/airbytehq/airbyte/pull/5861 (assignee: artem)
- [x] create sentry account
- [x] configure cloud app to use sentry account

[2021-09-07 15:48] jrhizor commented on #5446
@sherifnada docs for this are available at https://github.com/airbytehq/airbyte/blob/master/airbyte-webapp/docs/HowTo-ConnectionSpecification.md

[2021-09-07 15:53] #5447 closed

[2021-09-07 15:56] Phlair commented on #5091
this will also need to take into account [ssh tunnelling process](https://github.com/airbytehq/airbyte/pull/5818)

[2021-09-07 15:56] jrhizor commented on #5322
Adding @davinchia as an assignee now that the ticket is ready for his changes.

[2021-09-07 16:00] sherifnada commented on #5795
@irynakruk let's not sign up for an account on this one yet, we will get one from a partner

[2021-09-07 16:45] cjwooo opened #5889 "Provide string prefix/identifier in connector sync logs to distinguish log messages written by source/destination vs written by Airbyte"
## Tell us about the problem you're trying to solve
Our use case for Airbyte involves surfacing sync logs to our users. We only want to show the logs written by the actual source and destination, e.g.
[code]
 and not the ones written by Airbyte, e.g.
[code]

## Describe the solution you’d like
A procedure for distinguish logs written by source or destination vs written by Airbyte in the response g

[2021-09-07 18:35] #4519 closed

[2021-09-07 18:45] cgardens commented on #5874
Is there a pre-built tool we can use for this so that we're not doing any custom development? Some nice features for something like this is not only having automatic status reporting but the ability to do stuff manually as well. e.g. we can write a custom note that "custom transformations are currently failing and we plan to have a fix out in 5 hours" or what not. My hope is there a tool out there

[2021-09-07 18:49] sherifnada opened #5893 "Enable Custom DBT transformations in Cloud"
## Tell us about the problem you're trying to solve
Airbyte Cloud currently does not allow custom DBT images for security reasons. Before we disable them we need to work out the following issues:
1. Multi-tenancy of the deployment scenario
2. Preventing any oauth/global secrets from leaking into untrusted Docker images

## Describe the solution you’d like
Custom DBT functionality available on clou

[2021-09-07 19:49] subodh1810 commented on #5754
I spent some time trying to reproduce it and I dont think its happening cause of my changed from this PR https://github.com/airbytehq/airbyte/pull/5600

Currently we dont handle the scenario when the worker dies. If a the worker dies then then our source and destination containers would just hang. I could not reproduce why the worker dies but perhaps its because of resource exhaustion. As part of

[2021-09-07 20:07] jrhizor commented on #5754
We actually handle this explicitly for the Kubernetes case by having another container in the connector pod that kills it if it can't reach back to the worker pod (which is serving a heartbeat signal).

It's a bit harder in docker-compose since we'd need more of a "supervisor" container to manage killing other pods (it'd need to keep track of relevant pods and handle the heartbeat checking).

[2021-09-07 21:14] zestyping commented on #4360
Hi, thank you!  I'm having trouble finding Option 2 in that Figma doc.  Can you describe where it is?

[2021-09-07 21:29] sherifnada opened #5895 "Add test to validate that oauth secrets are not exposed in export process"
## Tell us about the problem you're trying to solve
We want to make sure that instance-wide secrets (oauth secrets) are not exposed from the export process

## Describe the solution you’d like
Acceptance tests which verify the above

[2021-09-07 22:33] Jamakase opened #5899 "Split cloud and oss versions"
## Tell us about the problem you're trying to solve
Currently, we are saving all cloud specific code as part of this repo. I believe we should split it and store it as either part of another repo or as another package.

Info that is cloud-specific:
- icons ( starting with cloud_ prefix )
- code from `packages/cloud`

[2021-09-07 23:26] jrhizor opened #5900 "stop import calls from logging"
See a recent run with an example of logging the binary from `/api/v1/deployment/import`.

It looks like the `isContentTypeGzip` check in `RequestLogger` isn't working all of the time.

[2021-09-08 01:12] davinchia commented on #5874
Spoke to Charles.
* I'll come up with an initial requirements documentation.
* As much as possible buy instead of build.
* This doesn't need to be done by Public Launch. Couple weeks after is fine.

[2021-09-08 01:49] johnlafleur commented on #4360
I've put the 2 options in a separate page: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=27696%3A98867
Let me know if you can't find them.

[2021-09-08 02:22] #5294 closed

[2021-09-08 02:33] #312 closed

[2021-09-08 03:00] sherifnada opened #5901 "[EPIC] SSH tunnel support for OLTP DB sources & destinations"
## Tell us about the problem you're trying to solve
This epic tracks adding support for connecting to OLTP databases via SSH tunnels.

#### Must-have DBs for Airbyte Cloud (in priority order)
* ~Postgres source & Destination (already done)~
- [x] #5966
- [x] #5967
- [x] #5968
- [x] #5969
- [x] #5970
- [x] #6316

#### Nice-to-have
Investigation of simulating an SSH bastion using Docker for running

[2021-09-08 04:22] tuliren opened #5902 "Replace file-based migration system with database-based Flyway migration system"
## Tell us about the problem you're trying to solve
Currently Airbyte runs two sets of migrations: file-based, and Flyway. The two systems are run in sequence: the first one handles all previous migrations up to `v0.29.x`, and the second one runs all the new migrations directly against the database.

The issue of keeping two migration systems are:
1. The code is complicated.
2. Many unit tests for

[2021-09-08 04:28] tuliren opened #5903 "Create template acceptance test for Flyway migration"
## Tell us about the problem you're trying to solve
Currently writing unit test for Flyway migration can be tricky. Because we need to prepare a database to a version that is right before the migration to be test, and then inject the data to verify the correctness of the new migration. This is not difficult, but the entire process can be put into a template process, just like the acceptance test f

[2021-09-08 07:38] igrankova commented on #5795
**Webhook-based? (no/partially/yes)**
no

**Available authentication modes (API key/Oauth/other)**
API key:
https://developer.searchmetrics.com/docs/apiv4-documentation/docs/Getting-Started.md#getting-started

**Has Sandbox environment?**
No
partner account (Sherif: we will get an account from a partner - https://github.com/airbytehq/airbyte/issues/5795#issuecomment-914431069)

**How to populate t

[2021-09-08 07:38] zestyping commented on #4360
Thanks so much!  This is great.  I'll put detailed comments in Figma.

[2021-09-08 07:41] igrankova commented on #5795
@sherifnada Vetting is completed, ready for implementation (I researched all info I could find without the account. We need to get the partner's account for implementation).

[2021-09-08 08:35] zestyping commented on #4360
That's all for now!  Thank you for considering all my feedback and being so responsive.  I hope it's been helpful!

[2021-09-08 09:04] Phlair commented on #5868
Have another instance of this here:
https://airbytehq.slack.com/archives/C01MFR03D5W/p1631084889467400

[2021-09-08 09:33] da-firebolt opened #5907 "Saving changes not working when changing destination output format-format type from Avro to Parquet"
## Enviroment
- **Airbyte version**:  0.29.13-alpha
- **OS Version / Instance**:  Ubuntu 21.04 VM
- **Deployment**: Kubernetes
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)  S3
- **Severity**: Low
- **Step where error happened**:  Update connector

## Current Behavior
*Tell us what happen

[2021-09-08 09:39] Zirochkaa commented on #5568
**Are the account test credentials available in Lastpass?**
Yes

## Task breakdown

- [ ] Create schema for `PaymentIntent` stream
- [ ] Check spec, check, and discover
- [ ] Implement full_refresh version of `PaymentIntent` stream
- [ ] Implement incremental version of `PaymentIntent` stream
- [ ] Add `PaymentIntent` to SAT

[2021-09-08 10:51] davinchia commented on #5874
Initial req doc: https://docs.google.com/document/d/1a9ri5C9qpI85-xeah6PQCsPhSRNDEz6_Cz3H2li9IvA/edit

Thinking of giving this to the contractors.

[2021-09-08 11:00] #5237 closed

[2021-09-08 11:54] yevhenii-ldv commented on #5520
@sherifnada It looks like the error is not in Connector, but in Destination.
I tried to run the commands locally: `python main.py read` and everything returned with correct data and column names.
However, having started UI and tried to use the same credentials to obtain data from Smartsheet and save them to the CSV, the column names did change.

[2021-09-08 12:21] #5296 closed

[2021-09-08 12:26] etsybaev commented on #3549
Hi there. I've added a new option for destination-bigquery - uploading through GCS. Hope this will solve this issue
https://github.com/airbytehq/airbyte/pull/5614

[2021-09-08 12:50] keu commented on #3380
To implement the parent/child streams efficiently we have two options:
- change the order of sync in the source (reading parents and reading all requested children streams for each parent record)
- explicitly read parent stream inside children stream (inside stream_slices method) and add cache to the parent class.

# Option 1.
will require implementation of some `nested_stream` structure that will

[2021-09-08 13:09] #5525 closed

[2021-09-08 13:11] keu commented on #3380
### Option 1.
lets say we have following structure
[code]
[code]
then Source will build the following map before the read:
[code]
the reading algorithm will look like this
[code]
and the `_read_full_refresh` for example will look like this
[code]

[2021-09-08 13:12] htrueman commented on #2761
## Scoping report ##

Researched the [Sphinx](https://www.sphinx-doc.org/en/master/index.html) lib. It may fit our needs just perfectly.
What is required to implement this feature:
- Update the new connector generator (`./generate.sh`) to also include sphinx and other required libs to all new connectors.
- We may also add [`sphinx-markdown-builder`](https://pypi.org/project/sphinx-markdown-builder

[2021-09-08 13:30] igrankova commented on #5429
**Webhook-based? (no/partially/yes)**
partially:
https://api.campaign.episerver.net/apidoc/index.html#/Webhooks

**Available authentication modes (API key/Oauth/other)**
Rest API:
https://docs.developers.optimizely.com/web/docs/rest-api-getting-started
OAuth 2:
https://library.optimizely.com/docs/api/app/v2/index.html#section/Authentication/oauth2
Personal Token Authentication:
https://docs.develo

[2021-09-08 13:30] igrankova commented on #5429
@sherifnada Vetting is completed, ready for implementation

[2021-09-08 14:13] #5704 closed

[2021-09-08 15:01] rparrapy commented on #3098
Is this being worked on? I am getting the mentioned 429 errors and wanted to know if there is a fix on the horizon.

[2021-09-08 15:28] irynakruk opened #5912 "BigQuery Denormalized Destination: unable to parse "anyOf" and "allOf" properties of JSON schema"
## Enviroment
- **Destination Connector and version**: airbyte/destination-bigquery-denormalized:0.1.5
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
When source schema contains "anyOf" or "allOf" params, connector is unable to parse it properly: instead of reading type inside "anyOf", it defines field type as String.
Schema:
[code]
As result `properties` field

[2021-09-08 15:31] irynakruk commented on #5882
Discovered new issue within BigQuery Denormalized Destination, [follow up ticket ](https://github.com/airbytehq/airbyte/issues/5912) created.

[2021-09-08 15:39] etsybaev commented on #5912
Starting point of investigation may be here:
This happens here:
BigQueryDenormalizedDestination class:
[code]

    getType tries to get a "type" object, but received was ex."oneOf" - so it fails

[2021-09-08 15:50] jrhizor opened #5913 "programatically configure our github ec2 runner amis"
It'd be great to define the AMIs in Packer (https://www.packer.io/) so it's easy to extend and modify the image.

[2021-09-08 15:50] jrhizor commented on #5913
Jenny mentioned this when I was mentioning that it was tricky to experiment with build AMIs @davinchia

[2021-09-08 15:59] #5882 closed

[2021-09-08 16:14] danieldiamond commented on #5754
To confirm, the solution here is to kill source and destination containers? Because that doesn't seem like a viable fix if this happens every time ie never move onto the normalisation phase

[2021-09-08 16:19] subodh1810 commented on #5754
@danieldiamond agreed! we will be taking this up and releasing the correct fix

[2021-09-08 16:25] subodh1810 opened #5916 "Allow user to provide custom options in CDC database connectors"
We should allow users to provide custom options such as `batch_size` in CDC connectors. This has a risk to it that a user might make an incorrect choice so we should try to educate people on how to use it and if they are not sure then stick with the default values.

[2021-09-08 16:58] mathewtrivett opened #5918 "Connecting a Postgres database running locally fails"
Hi Airbyte team, really excited about what you are building. I'm currently trying to evaluate Airbyte to handle our data engineering workload.

I wanted to initially test it on my local machine using a local database running inside a Homebrew installed version of Postgres.

## Environment

- **Airbyte version**:  0.29.15-alpha
- **OS Version / Instance**: Mac OS Mojave 10.14.6
- **Deployment**: Do

[2021-09-08 17:13] ChristopheDuong commented on #2566
The dedicated ticket for incremental normalization support is https://github.com/airbytehq/airbyte/issues/4286

[2021-09-08 17:19] ChristopheDuong commented on #4286
To solve this issue, we'd probably need:
- to figure some new columns in the raw table (such as `sync_id` or dedicated `cursor field` column containing the value for each row).
- from there, we'd be able to re-compute the normalized table last state or store it in some metadata table to retrieve this information
- comparing the last state of the raw table vs the normalized table would allow the us

[2021-09-08 17:28] marcosmarxm commented on #5918
@mathewtrivett take a look in [our docs](https://docs.airbyte.io/troubleshooting/new-connection#connection-refused-errors-when-connecting-to-a-local-db). This is a problem with container network. Let me know if this solve your problem. If the two options don't work try to use: host.docker.internal

[2021-09-08 17:38] mathewtrivett commented on #5918
Thanks for the quick response I'll take a look.

[2021-09-08 17:40] #5918 closed

[2021-09-08 17:41] sherifnada opened #5919 "OSS oauth demo"

[2021-09-08 17:41] sherifnada opened #5920 "Add API endpoints to write instance-wide secrets"

[2021-09-08 17:48] airbyte-jenny opened #5921 "cloud secrets storage"
- [x] https://github.com/airbytehq/airbyte/issues/5505
- [x] https://github.com/airbytehq/airbyte/pull/6036
- [x] https://github.com/airbytehq/airbyte/pull/6065
- [x] https://github.com/airbytehq/airbyte/issues/6105
- [x] https://github.com/airbytehq/airbyte/issues/6099
- [x] https://github.com/airbytehq/airbyte/issues/6100
- [x] https://github.com/airbytehq/airbyte/issues/6101
- [x] handle any mi

[2021-09-08 18:18] waskelton4 commented on #2888
I originally asked about this issue on Slack causing the ticket to be generated.

I recently created another sync on two tables (4mil+ rows and 6mil+ rows) ,
The sync seems very very fast at the beginning but does noticeably slow as it gets past a few million rows.

I set the sync as "Incremental - Append" thinking that it might simply start from the current location of the data (using timestamp c

[2021-09-08 18:27] #3825 closed

[2021-09-08 18:28] Phlair opened #5923 "Databricks Partner Hub API"
As well as the connector, we need to implement some specific endpoints for Databrick's partner hub integration.

- [Building Connector Issue](https://github.com/airbytehq/airbyte/issues/2075)
- [Databricks endpoint API doc](https://docs.google.com/document/d/1JxFfHwYq17Eb-D-br8tLiEcL8OYsQE0u8VRP7dVSA4E/edit)
- [Tech Spec for Airbyte work on this issue](https://docs.google.com/document/d/1mIC6eoy79

[2021-09-08 18:29] sherifnada commented on #4982
@Jamakase does this make sense to have as a UI test?

[2021-09-08 18:33] #3628 closed

[2021-09-08 18:35] marcosmarxm commented on #3451
Closes #5562

[2021-09-08 18:35] #3451 closed

[2021-09-08 18:46] Phlair opened #5926 "Databricks integration work"
👻

[2021-09-08 19:47] derekybainbridge opened #5927 "Shopify Source should be friendly for SaaS / Multi-Tenant developers"
## Tell us about the problem you're trying to solve

For the Shopify Source the current authentication method requires the api_password. If you're in a SaaS or multi-tenant situation you have to talk to customers to get this api_key (I believe).  We are a SaaS platform trying to no-touch self-onboard customers.  We can perform an Oauth2 standard key exchange and can get the auth_token for their Sh

[2021-09-08 20:30] jrhizor opened #5929 "increase default disk space for github runner AMIs"
We should double the default limit.

[2021-09-08 20:39] jrhizor commented on #1884
We're seeing this again. We should consider using a dedicated GKE cluster and spinning up testing instances in new namespaces. Or we'll need to really fix up the AMI configuration.

[2021-09-08 20:47] marcosmarxm commented on #5618
Closing as duplicated. @m-ronchi let me know if you think #3487 is not equal to your request.

[2021-09-08 20:47] #5618 closed

[2021-09-08 20:54] marcosmarxm commented on #5907
https://www.loom.com/share/cfd3d501e8104d72a453b89e4ce2d0ce

[2021-09-08 21:23] marcosmarxm commented on #5615
Thanks for requesting this @m-ronchi. I added this to the connector roadmap.

[2021-09-08 21:35] rbryant1925 commented on #5835
Hey Airbyte Team, I am trying to use Airbyte to bring in several HubSpot tables but no matter how I configure the connector I get errors — the connector has tried to run three different times (3 attempts each, so 9 times total) and not one has succeeded. Here is the most recent failure logs. Am I missing something? Is there anyone who can give some guidance on this? Thank you in advance for your h

[2021-09-08 23:13] Jiyuan-Bolt commented on #4286
Thanks for tracking this issue! This is a blocker for our company (Bolt) to adopt Airbyte. We want to use Airbyte to keep our data warehouse (BigQuery) in sync with Operational DB (Postgres, 500GB now but growing fast) and the current way normalization works will cost us a fortune to use Airbyte because BigQuery is charged by both storage and query.

[2021-09-08 23:19] paschmaria commented on #4286
This is exactly the same issue we had. After the bill shock from last month, we've had to turn Airbyte off completely for the interim.

[2021-09-09 01:22] marcosmarxm opened #5932 "CI Sandbox for Mailgun"
## Tell us about the new connector you’d like to have
PR https://github.com/airbytehq/airbyte/pull/5904 adds Mailgun with Singer. We need the sandbox to run integration tests.

## Describe the context around this new connector
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you want to run syncs?
* If this is an API source connec

[2021-09-09 01:22] marcosmarxm opened #5933 "Don't insert MailGun Singer in Airbyte Cloud"
# Description
A reminder to remove this connector (when it's merged by a contributor) from the Airbyte Cloud connector index to avoid any licensing issues.

[2021-09-09 01:40] davinchia opened #5934 "Migrate Airbyte Cloud Helm charts over to use open source Helm chart"
## Tell us about the problem you're trying to solve
Follow up to #5891

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using today.

## Additional context
Add