[2021-04-08 00:11] #2802 closed

[2021-04-08 00:19] #2674 closed

[2021-04-08 01:29] vitaliizazmic commented on #1457
## Integration Vetting
The integration hasn't already been vetted

**Webhook-based? (no/partially/yes)**
no

**Available authentication modes (API key/Oauth/other)**
Authenticate via basic authentication with the credentials YOUR_API_KEY:YOUR_SECRET_KEY. More information on how to find your API and Secret Keys [here](https://help.amplitude.com/hc/en-us/articles/235649848#project-general-settings).

[2021-04-08 01:32] #2289 closed

[2021-04-08 01:42] michel-tricot commented on #2800
@kevinob11 I assumed you created a view manually on top of an airbyte managed table?

@ChristopheDuong Is it possible that there is a cascading delete when we delete tables?

[2021-04-08 01:50] kevinob11 commented on #2800
Yep, correct, my view points at that table.

On Wed, Apr 7, 2021, 6:42 PM Michel Tricot ***@***.***> wrote:

[2021-04-08 02:20] cgardens opened #2805 "Allow accepting cookies in API calls"
More context: https://github.com/airbytehq/airbyte/pull/2725#event-4565908478

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368223851695) by [Unito](https://www.unito.io)

[2021-04-08 03:16] johnlafleur opened #2806 "Airbyte should be featured in Astronomer's registry"
## Tell us about the problem you're trying to solve
Airbyte is not visible enough for Astronomer's customer base. We should be listed in https://registry.astronomer.io/modules

[2021-04-08 03:29] cgardens commented on #2745
Thanks! You nailed it. Totally fixed the problem.

[2021-04-08 03:36] cgardens commented on #2170
It's not trivial. Temporal isn't handling cron schedules right now, so that needs to happen first. This essentially means we need to handle Temporal metadata alot better. It's worth doing but we haven't gotten to it yet.

[2021-04-08 03:37] cgardens commented on #2170
I suspect it is a 3 days.

[2021-04-08 04:08] sherifnada commented on #2745
does it make sense to set this variable in the test itself instead of in the build? this way it works regardless of how it's run?

[2021-04-08 04:37] johnlafleur commented on #2794
If you go in the Settings of your connector, you should be able to delete your source / destination connector.
<img width="1790" alt="Screen Shot 2021-04-08 at 3 36 17 PM" src="https://user-images.githubusercontent.com/68561602/113969180-3c4f5500-9880-11eb-811c-6b70e1bb92f3.png">

So we're saying essentially that this option is not discoverable enough, aren't we?

[2021-04-08 06:34] sherifnada commented on #2794
@johnlafleur this is for connector **definition** i.e: you can add a new connector defintiion in the admin panel, but you can't remove one the same way

[2021-04-08 08:49] johnlafleur commented on #2794
Here's a design draft:
https://www.figma.com/file/AODY4oi15iI5l0fbxHvobt/Daxtarity?node-id=24507%3A1817

Let me know what you think!

[2021-04-08 08:56] ChristopheDuong commented on #2800
Yes, it is due to cascade delete on normalized tables but it's coming from DBT, not from Airbyte's side as described in this other issue: https://github.com/airbytehq/airbyte/issues/1732#issuecomment-770963783 where we tried to find a way around but failed to do so...

So recommendations from DBT are:

from: https://discourse.getdbt.com/t/why-are-my-views-being-dropped-when-the-incremental-model-i

[2021-04-08 09:01] #2749 closed

[2021-04-08 09:01] #2684 closed

[2021-04-08 09:22] Wang-Yong2018 commented on #2471
thanks

[2021-04-08 10:06] nathan-protempo commented on #2420
Mongodb Atlas requires TLS connections, so we can't use Airbyte with Mongodb Atlas until it supports TLS. https://docs.atlas.mongodb.com/reference/faq/security/

[2021-04-08 10:47] #2560 closed

[2021-04-08 11:10] yevhenii-ldv commented on #1247
## Integration Vetting

**Webhook-based? (no/partially/yes)**

No

**Available authentication modes (API key/Oauth/other)**

[Access token](https://developers.facebook.com/docs/graph-api/reference/page/) like we use with Instagram and FB Marketing connectors.

Needs permissions:

- [pages_read_engagement ](https://developers.facebook.com/docs/permissions/reference/pages_read_engagement)
- [pages_r

[2021-04-08 12:14] rjocoleman commented on #985
Magento 1 and Magento 2 are quite different.

Magento 1 is EOL, however there are some forks and LTS continuations and quite a number of merchants still out there.

Magento 2 is a rewrite with similar concepts and models but it's quite distinct.

Both use MySQL as data store. Both have REST APIs albeit with similar but different end points.
The python client mentioned in this thread targets Magent

[2021-04-08 12:49] cacan commented on #985
Glas to see this getting traction. Thanks to all involved, @rjocoleman covered it pretty well with OpenMage being the successor for M1. Although M2 had a rough start, it's getting more and more merchants to migrate from M1. Or other shopping carts. ;-)

Magento2 docker: you can also try some of these, they seem to be mature enough:
https://github.com/meanbee/docker-magento2
https://github.com/mark

[2021-04-08 13:19] fwdolegp commented on #2796
Docker cli always there :) But it requires access to the terminal(which may be an issue when in prod). Also, think about airbyte user experience. The person who configures it may not have required skills. It could be QA, Sales or others who just need to get it going without calling some one for help.  Simplicity is a key. That was my point.

[2021-04-08 15:29] kevinob11 commented on #2800
Interesting, makes sense I guess. I'll look into materializing or basing things on the raw tables. Thanks much!

[2021-04-08 17:50] michel-tricot commented on #2794
Questions that we should also ask ourselves for that issue:
- should deleting an active connector automatically delete the active sources or destinations associated to it? should we only support the deletion for unsused connectors?
- should it only apply to the custom added connectors? Or also the ones coming from the airbyte project? What happen when we check for updates?

[2021-04-08 18:16] ChristopheDuong opened #2811 "Persist Notifications and check Asynchronously"
## Tell us about the problem you're trying to solve
Following up on https://github.com/airbytehq/airbyte/issues/1689 / https://github.com/airbytehq/airbyte/pull/2706
Notifications are sent in a synchronous manner at the end of replication syncs that are failing all their attempts.

This may not be reliable enough if the process dies/stalls for some obscure/diverse reasons and thus notifications is

[2021-04-08 18:39] fwdolegp commented on #2794
I would suggest to be able delete only unused connectors. Advice user with proper information about connector been in use.
On second topic. It was really surprising to see that many connectors bundled at the beginning.  Some of them may be used, but not all of them for sure. Would be nice to have "list of available connectors" with option to add/remove them on demand. This will keep repo or deploy

[2021-04-08 19:16] #2658 closed

[2021-04-08 19:55] Moofasax commented on #2607
Hey sorry for not reporting back, yes this works for us on 0.19.0 and 0.2.2

Thanks man!

[2021-04-08 20:00] #2694 closed

[2021-04-08 20:08] michel-tricot commented on #2794
Actually the list you see is the list of available connectors, they are not shipped with core. They only get downloaded if you create a source or a destination.

Last month we released the ability separate release schedule and the UI now warns you if your connector is outdated. (https://github.com/airbytehq/airbyte/issues/1983)

What I had in mind was more around: should we provide a way for the a

[2021-04-08 21:39] #2528 closed

[2021-04-08 21:41] cgardens commented on #2745
probably something we should keep experimenting with. i just haven't had the time look closely at this and with the iteration time i'm having trouble motivating losing more hours to this.

[2021-04-08 23:37] sherifnada opened #2819 "santa: create a way to easily convert a catalog to a configured catalog"
## Tell us about the problem you're trying to solve
The process of converting a catalog to a configured catalog is way too tedious. There should be a very easy way to convert from a catalog to a configured catalog.

[2021-04-09 01:08] sherifnada opened #2820 "santa: refactor common params into a context object"
## Tell us about the problem you're trying to solve

The four horsemen of the HTTP stream are:
[code]

they almost always need to be passed together . Make a POPO (??) object that contains them.

[2021-04-09 04:04] michel-tricot commented on #2782
Hi @waynevanheerden, thank you for reporting.

What OS are you on?

[2021-04-09 07:28] waynevanheerden commented on #2782
Hi Michel,
The OS is Ubuntu. The issue is that Airbyte tries to connect to the
internet to get the latest configuration or something and that is blocked
by our firewall. It would be great it that was configurable.

Thanks,
Wayne

On Fri, 9 Apr 2021 at 05:04, Michel Tricot ***@***.***> wrote:

[2021-04-09 07:36] swanandvk opened #2822 "Disable appending schema name to table name in destination database PostgreSQL"
Is there any way to disable changing table names in target db ?Currently it appends schema name to table name while
syncing source and destination PostgreSQL database

Attaching the screenshot
Using the example from the documentation
https://docs.airbyte.io/tutorials/postgres-replication

![](https://user-images.githubusercontent.com/14261123/114145265-d9b79100-9933-11eb-97d9-9c6f1c6a9d4a.png)

Ex

[2021-04-09 08:28] ChristopheDuong commented on #2822
yes, it's coming soon!!
See this for example: https://github.com/airbytehq/airbyte/pull/2807 (and related work around this topic)

[2021-04-09 11:42] johnlafleur commented on #2806
It seems we're now featured there. So closing this issue.

[2021-04-09 11:42] #2806 closed

[2021-04-09 11:57] marcosmarxm opened #2823 "Oracle Source support Blob type"
## Expected Behavior
Oracle calls binary type as `BLOB`.

I think that only need to add BLOB in JdbcUtils to map correctly but probably is a good thing to add tests to ensure this.

[2021-04-09 12:53] stammi922 commented on #2699
Hi @sherifnada,
No worries. Sadly I am a little short of time these days, so I'll not be able to write the script.
Could you put these adjustments into the pipeline or is that entirely out of your scope right now?

[2021-04-09 14:54] Rots opened #2825 "OSLC"
## Tell us about the new integration you’d like to have
* OSLC producers and consumers https://open-services.net/specifications/

## Describe the context around this new integration
* syncing requirements from one authoritative tool to a secondary representation
* minutes to hours
* If this is an API source connector, which entities/endpoints do you need supported?
* I don't understand the questio

[2021-04-09 16:38] sherifnada opened #2828 "FB Marketing: lookback window logic not functioning correctly"
## Expected Behavior
Insights data synced from facebook marketing could be updated up to 28 days after its generation. Therefore I expect the Airbyte connector to pull data from the past 28 days even with incremental sync.

## Current Behavior
A user @MaxKrog has reported that the connector is only inserting records for the new days, not the past 28 days.

## Logs
[logs-9-0.txt](https://github.com

[2021-04-09 16:50] sherifnada opened #2829 "Source FB marketing: include_deleted isn't being set to true"
## Expected Behavior
I expect setting the "include_deleted" option to true to cause the connector to pull data for deleted/archived/defunct campaigns

## Current Behavior
A user @MaxKrog reported he is setting the flag to true but it in the logs, is seeing it being set to false.

## Logs
https://files.slack.com/files-pri/T01AB4DDR2N-F01U0GY9NV7/download/logs-9-0.txt

## Steps to Reproduce
TBD

##

[2021-04-09 19:56] #1689 closed

[2021-04-09 20:38] sherifnada opened #2832 "MSSQL --> BQ Sync dropping records"
## Description
Context: https://airbytehq.slack.com/archives/C01MFR03D5W/p1617199919214300

Some records coming from MSSQL are not being deserialized and are being dropped in the sync worker. An example record the user reported:

[code]

as showing up in the logs from `IntegrationTestRunner.java:134`.

## Logs
user will provide logs

## Steps to Reproduce
TBD -- still trying to determine why the r

[2021-04-09 20:39] kainoa21 opened #2833 "New Destination: Apache Iceberg"
## Tell us about the new integration you’d like to have
[Apache Iceberg](https://iceberg.apache.org/) is an ideal destination as it represents an open source, file based table format.

## Describe the context around this new integration
Iceberg powers our file based data warehouse at Netflix and we would like to be able to leverage the Airbyte ecosystem of source connectors to ease the burden of d

[2021-04-09 21:29] Moofasax opened #2835 "First github sync does not show history of issue state"
## Expected Behavior
On the very first sync pulling from a GitHub source to postgres destination, the records within the issue_events_012_issue table would be expected to show a history of the previous state changes of an issue. If i created an issue, closed it, and reopened it, all three records show "open" state.

## Current Behavior
On the very first sync pulling from a GitHub source to postgre

[2021-04-09 21:47] Moofasax opened #2836 "Be able to choose the cursors of the github source, specifically for issues and PRs"
## Tell us about the problem you're trying to solve
Using the Github source, and postgres destination, we are trying to just track the state changes of issues and pull requests overtime, but it seems like almost any event always creates new records in the issues table database.

## Describe the solution you’d like
It would be nice for the incremental tables if we could select the field the cursor

[2021-04-09 22:10] cgardens opened #2837 "UI does not protect against misconfiguration for Incremental"
## Expected Behavior
* For conventional incremental, the UI should force the user to set the cursor field.
* For cdc incremental, the UI should not let the user set a cursor field.

## Current Behavior
* Currently UI allows all incremental (CDC or incremental) to set a cursor field but does not require. This isn't really ever the right behavior. Though we can workaround (and release without fixing

[2021-04-09 23:42] michel-tricot commented on #2763
@codefriar Would love to help on fixing this, it will likely be easier on a zoom. Do you have time next week to discuss it? I will contact you on slack to set this up.

[2021-04-10 00:26] jrhizor opened #2842 "rename tap/target references in code to source/destination"
We have a lot of tap/target naming conventions left from early on. This would move us closer to using uniform naming schemes.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368224207989) by [Unito](https://www.unito.io)

[2021-04-11 13:04] makalaaneesh commented on #2153
Hi, can I pick this up?!
I went through the code and was able to see that the google-sheets source just throws an exception in the discover step if it encounters duplicate headers.

@sherifnada Couple of questions though:

So, the connector should not include the duplicated column in the stream? (i.e. inline with your expected behavior)

Is this automatically setup? I.e. if the connector logs warn

[2021-04-11 20:40] Jamakase commented on #2715
The idea of using yellow here is next: when a user sets up the connection with manual sync and it was never run he may be confused why he has a connection but may not have any data in his destination. That's why I think green is also not a great colour here - some could be confused that their sync is set up correctly and is running, however, it was never run.

@jrhizor @sherifnada @cgardens

[2021-04-11 21:04] #2751 closed

[2021-04-11 22:01] Jamakase commented on #2685
@davinchia right now we set to be default what we already receive from backend for destinationSyncMode. Right now most of the streams has append set on the backend by default. So if it is returned as overwrite from the backend - we will set it.

[2021-04-11 22:14] Jamakase commented on #2689
@michel-tricot What is meant as feedback here? Do you mean that you want loading state for button displayed while sync request is sent or that connection info should also be changed?

Currently, this button is a sort of fire and forget. If we want to have here real-time updates without webhook - we will need to add polling, but I do not think it is a good idea as we will poll all of the connection

[2021-04-12 05:16] #2753 closed

[2021-04-12 05:20] jrhizor commented on #2156
@cgardens should we rename this to postgres / mark it as a duplicate with https://github.com/airbytehq/airbyte/issues/957 ?  Then create separate tickets for other CDC sources?

[2021-04-12 05:29] cgardens commented on #2156
Yeah

On Sun, Apr 11, 2021, 10:21 PM Jared Rhizor ***@***.***>
wrote:

[2021-04-12 05:37] #2156 closed

[2021-04-12 05:38] jrhizor opened #2847 "MySQL CDC"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368100898233) by [Unito](https://www.unito.io)

[2021-04-12 05:39] jrhizor opened #2848 "SQL Server CDC"
Interested user in slack: https://airbytehq.slack.com/archives/C01A4CAP81L/p1615233737129300

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368100919677) by [Unito](https://www.unito.io)

[2021-04-12 05:39] jrhizor opened #2849 "Oracle CDC"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368100488662) by [Unito](https://www.unito.io)

[2021-04-12 05:45] jrhizor commented on #957
I'm closing this issue and splitting it into other issues:
- Postgres (https://github.com/airbytehq/airbyte/issues/2156) - released!
- MySQL (https://github.com/airbytehq/airbyte/issues/2847)
- SQL Server (https://github.com/airbytehq/airbyte/issues/2848)
- Oracle (https://github.com/airbytehq/airbyte/issues/2849)

If you need CDC for a different source than what's listed here please create a feat

[2021-04-12 05:45] #957 closed

[2021-04-12 06:07] michel-tricot commented on #2689
@Jamakase can we have a similar behavior as when we press 'Sync Now' on the connection page? (which is also a fire and forget)

Right now it is hard to know if the click did anything

[2021-04-12 16:55] #2823 closed

[2021-04-12 16:59] masonwheeler commented on #2122
Are there SVGs available for the following connectors?

- Google Directory
- Instagram
- Gitlab
- Google Workspace Admin Reports
- Tempo
- Oracle
- Local JSON
- Local CSV
- BigQuery
- Snowflake
- MeiliSearch

[2021-04-12 17:04] cgardens commented on #2122
Not that we've collected yet! Let's move forward without them. Once you've figured out how to serve the existing ones, it should be pretty easy to add the ones you mentioned once they are collected.

[2021-04-12 17:49] cgardens commented on #2435
I believe this has been addressed by: https://github.com/airbytehq/airbyte/issues/2642. LMK if there are any outstanding concerns here!

[2021-04-12 17:49] #2435 closed

[2021-04-12 17:50] cgardens commented on #2633
Let's call the new button "refresh schema". Otherwise, I think this is a nice idea. All the button needs to do is call discover again.

[2021-04-12 17:59] #2689 closed

[2021-04-12 18:20] #2063 closed

[2021-04-12 19:55] sherifnada opened #2855 "Create comprehensive data type tests for DB sources"
## Tell us about the problem you're trying to solve
We support many DB sources e.g: Postgres, Mysql, MSSQL, Oracle etc.. and soon more (https://github.com/airbytehq/airbyte/issues/2655 https://github.com/airbytehq/airbyte/issues/1903). Those different databases all have their own type systems which are slightly different from each other. For example, some use `BIT` for booleans (mssql), some use `

[2021-04-12 20:17] #2746 closed

[2021-04-12 20:17] #2747 closed

[2021-04-12 20:20] cgardens commented on #2773
The issue was that the config was invalid. That has been fixed. @Jamakase is going to make sure the UI handles the case where the API throws a 422 more gracefully in this case, but otherwise this should be to close. @Jamakase i'll let you close once you do the error handling bit.

[2021-04-12 20:24] cgardens commented on #2595
Talked with @Jamakase about this one. Sounds like the preferred way of doing this is to allow the server to start up, but if it is in this bad state with data all endpoint will return an error response that states the problem.

Essentially we don't want any of the application code to execute (no side effects) we want this filter to run first determine if the versions are okay and if they are not i

[2021-04-12 20:27] cgardens commented on #2353
eh. i think that's good enough for now.

[2021-04-12 20:27] #2353 closed

[2021-04-12 21:04] sherifnada opened #2856 "implement exchangeratesapi"
## Tell us about the new integration you’d like to have

## Describe the context around this new integration

## Describe the alternative you are considering or using
What are you considering doing if you don’t have this integration through Airbyte?

[2021-04-12 21:25] michael4tasman commented on #2257
Q1: Is there anyone working on this?

Q2: Is it any more complicated than wrapping the Singer tap? ( https://github.com/singer-io/tap-google-search-console )

[2021-04-12 23:05] sherifnada commented on #2153
@makalaaneesh of course, feel free to take this on!

Correct, the connector should just drop both columns (or keep one of them e.g: the one that appears first since that at least gives the user some way to replicate data).

Nope, but this is a great idea. It would be very nice to have the UI show warnings. but since that requires changes to the UI it's probably going to be separate from this issue

[2021-04-12 23:29] davinchia opened #2863 "Connection UI should also make use of the namespace field when displaying name."
## Tell us about the problem you're trying to solve
Tandem to #2862.

We've added a namespace field to an Airbyte Stream. This will be populated for sources supporting namespace (currently mostly JDBC sources). For supporting sources, the Stream's name should no longer be a concatenation of `schema` and `table`; `schema` will move to `namespace`.

Any page displaying stream names (the connection p

[2021-04-12 23:32] sherifnada commented on #2825
@Rots thanks for your request! This is my first time hearing about OSLC, so please prepare for some naive questions 😄

1. Are you suggesting that we create a single connector that takes an OSLC service definition and is able to interact with it? Or that we create a code framework (e.g: in python) for pulling data from OSLC services?
2. Are there some examples of how you'd want to use this connecto

[2021-04-12 23:39] sherifnada commented on #985
@rjocoleman and @cacan  thanks for the amazing context! This definitely gives us a great idea to get started. Will keep you up to date with prioritization shortly.

[2021-04-13 00:30] sherifnada commented on #2420
@nathan-protempo totally agreed that this is something we should have. Will get it done soon.

@arhip11 can we do the following to unblock this work:
1. create a Mongodb Atlas account
2. create an TLS-enabled Mongodb instance in cluster/replicaSet mode (see #2421)
3. Share the credentials on lastpass

This will allow us to implement this issue in addition to #2421

[2021-04-13 00:44] sherifnada opened #2865 "Don't build all connectors by default when running ./gradlew build"
## Tell us about the problem you're trying to solve
If a connector has an esoteric dependency as in #2340 then a user building Airbyte core should not have to worry about it, unless they are specifically developing on that connector. Currently `./gradlew build` builds connectors by default unless the `CORE_ONLY` flag is passed like so: `CORE_ONLY=true ./gradlew build` in which case only the core m

[2021-04-13 01:07] sherifnada commented on #2257
@michael4tasman we're not currently working on this but plan to offer it some time in the next couple of months. the only friction is setting up the sandbox environment/CI to test that the connector is working on a recurring basis. We have already verified a domain for Google Search Console, so at this point we are ready to generate an API key and start querying it during CI.

Thanks for sharing t

[2021-04-13 01:16] sherifnada commented on #2699
We're prioritizing a number of highly requested new integrations for the next few weeks over this, but if we get a lot of interest in the meantime we'll definitely reprioritize. I'll keep this in mind as we do roadmapping for the next few weeks and will keep you posted!

In the meantime, if you're curious about what it'd take to contribute this, see the connector module here: https://github.com/ai

[2021-04-13 01:30] sherifnada commented on #2836
@Moofasax thanks for the feedback and context! is the concern here a UX one (you'd rather get only specific event types without having to do much work on the destination side) or a performance/cost one on the destination side (you're replicating too much data)?

I think the most realistic way to do this would be to sync the "Events" stream in Github then filter by event type as described here: htt

[2021-04-13 01:37] sherifnada opened #2866 "test (please ignore)"

[2021-04-13 01:37] #2866 closed

[2021-04-13 02:27] danieldiamond commented on #2346
🤦  apologies for the above spam, forking repo locally and rebasing to fix open branch `ykurochkin/connector-zendesk-talk`

[2021-04-13 02:49] sherifnada commented on #2835
@Moofasax I created an issue, closed it, reopened it, then closed it again (#2866) . Here is the log I found:

[records.log](https://github.com/airbytehq/airbyte/files/6300912/records.log)

There are 5 events:

1. "labeled"
2. "closed"
3. "reopened"
4. "added to project"
5. "closed"

is this different from what you are seeing? Unfortunately github doesn't have an "opened" event but apart from that

[2021-04-13 04:37] michel-tricot commented on #2782
Hum indeed, we didn't think about this particular case.

@davinchia what do you think? we could ship with a default file instead and fallback on it if we can fetch the stream from github. We should have some warning somewhere though.

[2021-04-13 04:52] erichartono commented on #2170
This would be a handy feature to have. I need to run a daily sync at certain AM hour. Thanks.

[2021-04-13 07:03] davinchia commented on #2782
Shipping with a default file makes sense. We can start with returning a `203` and defaulting to the file if we cannot retrieve the list for any reason. The frontend can use the 203 to display a warning that the list might be out of date.

[2021-04-13 08:48] waynevanheerden commented on #2782
That would be great as I would not be able to get internet access in our
production environment. I have three clients and two of them would have
this same issue.

On Tue, 13 Apr 2021 at 05:37, Michel Tricot ***@***.***>
wrote:

[2021-04-13 08:49] waynevanheerden commented on #2782
Also, is this a once off connection at install, or will it
continuously check for updates?

On Tue, 13 Apr 2021 at 05:37, Michel Tricot ***@***.***>
wrote:

[2021-04-13 08:50] michael4tasman commented on #2257
I need it sooner than that, and I'm happy to work on wrapping the Singer tap, but would appreciate the offer of guidance/pairing made upthread.

[2021-04-13 08:53] davinchia commented on #2863
fyi @cgardens

[2021-04-13 08:54] davinchia commented on #2863
You can work off this PR: https://github.com/airbytehq/airbyte/pull/2862

[2021-04-13 09:09] davinchia commented on #2782
If I remember correctly, the webapp will check for updates whenever it loads the home screen. Are you thinking about a specific condition in particular?

[2021-04-13 09:13] waynevanheerden commented on #2782
Was hoping that it was a one off and I could hack a work around till we
have a good solution.

On Tue, 13 Apr 2021 at 10:10, Davin Chia ***@***.***> wrote:

[2021-04-13 12:48] kyprifog commented on #573
@sherifnada any update on that documentation?

[2021-04-13 12:55] saynomoo opened #2868 "Possibility to copy existing source/destination configurations"
## Tell us about the problem you're trying to solve
When adding a new connection to an existing destination that has slightly different configuration variables (In my case big query dataset id), you need to create a completely new destination. That means that you have to get all the possible tokens again, which would actually be readily available in airbyte configs.

## Describe the solution you’d

[2021-04-13 13:47] Rots commented on #2825
1. Ideally, a single connector
I do understand that this might be quite complex as even though OSLC is restricting the generic REST specification, there is still a lot of freedom an OSLC provider has.
That said, there's still potential for automatic UI generation, e.g. if provided by the server, the [OSLC shapes](https://archive.open-services.net/bin/view/Main/OSLCCoreSpecAppendixA.html#oslc_Resou

[2021-04-13 13:59] arhip11 commented on #2420
Done

Cluster should be TLS-enabled by default. There is no explicit option to specify it.

Done.

Loaded sample dataset provided by vendor.

@sherifnada - should we pass item 2 to the devs?

[2021-04-13 14:31] sherifnada commented on #2833
@kainoa21 thanks for the suggestion! What data scale do you anticipate moving into Iceberg?

[2021-04-13 15:53] arhip11 commented on #2308
Current application form: https://docs.google.com/forms/d/e/1FAIpQLSfHHtQKD4G9zkv6iMPpwVpDNdVlu1b8OFAroDnbNYUotFjIZg/viewform

Manifesto for tech partners: https://docs.google.com/document/d/1CTTtB-xexh7Wr7d1drtXgSfZ8NJcLvS2CFkWnX-M5Ic/edit

[2021-04-13 15:55] yeedster opened #2870 "Ability to pull data from Jira Server"
## Tell us about the new integration you’d like to have
I would like AirBytes to have a connection with JIRA server as currently

## Describe the context around this new integration
There are some projects we have that are Jira server instead of cloud.

## Describe the alternative you are considering or using
Alternative is to wait until Jira Server dies

[2021-04-13 16:00] sherifnada commented on #2870
@yeedster thanks for the request! Could you point to any docs to help us get started on API differences in cloud vs server?

[2021-04-13 16:03] yeedster commented on #2870
I'm not sure about differences but currently in airbytes I cannot add a project url that doesn't include atlassian due to the regex in that field.

Here are the current Jira Server API calls:
https://docs.atlassian.com/software/jira/docs/api/REST/8.5.13/

[2021-04-13 16:22] arhip11 commented on #1457
Account created under aleksandr@airbyte.io, integration-test@airbyte.io was already taken.
Organization - airbyte.

[2021-04-13 16:27] sherifnada opened #2871 "Normalization fails if schema contains no selected streams"
## Expected Behavior
If my connection contains no selected streams then running a sync with normalization turned on should succeed as a no-op.

context is that a user was resetting their schema and deselcted all streams in the process then ran a "reset connection" sync. This sync failed on normalization, making the user believe something was going wrong. However, nothing was amiss here, normalizat

[2021-04-13 16:41] sherifnada commented on #1457
@arhip11 my guess is that one of us already signed up for Amplitude but forgot to put credentials in lastpass. I reset that password and replaced aleksandr@airbyte.io with it in lastpass.

[2021-04-13 16:50] #2717 closed

[2021-04-13 16:58] yevhenii-ldv commented on #2346
Hello, @danieldiamond
Thank you for your attentiveness and responsiveness. We did have some minor problems with the project build, but they were resolved, I merged the changes from the master to the Zendesk Talk branch and the build was successful.
I published the connector image to docker hub and merged the code into the master branch.
I suggest you try how it works and leave a comment about your

[2021-04-13 16:59] yevhenii-ldv commented on #2346
closed by #2775

[2021-04-13 16:59] #2346 closed

[2021-04-13 17:21] sherifnada commented on #2870
Looking at this: https://community.atlassian.com/t5/Jira-questions/Difference-between-Jira-Cloud-REST-API-and-Server-REST-API/qaq-p/658434

seems like while there is no guarantee that the APIs will remain the same, they are very similar. The lowest barrier to entry is perhaps to stop disallowing non-cloud URLs and informing users of the risks involved (JIRA server may not work properly). This will

[2021-04-13 18:08] michel-tricot commented on #2075
They are finalizing the agreement!

[2021-04-13 18:18] sherifnada commented on #2868
related to https://github.com/airbytehq/airbyte/issues/2657

[2021-04-13 18:28] keu commented on #2010
## Integration Vetting

**Webhook-based? (no/partially/yes)**
_if partially, mention which endpoints are webhook-based_

**Available authentication modes (API key/Oauth/other)**
[API Key](https://posthog.com/docs/api/overview#personal-api-keys-recommended)

**Creating an account**
_self-service free account available? yes

**How to populate the account with data?**
Annotations and Cohorts can be c

[2021-04-13 19:03] sherifnada commented on #2257
@michael4tasman glad to hear it. You can get started by using the module autogenerator as described here: https://docs.airbyte.io/contributing-to-airbyte/building-new-connector

Please feel free to book a pairing session with me at any time here: https://calendly.com/sherif-nada/code-pairing-session If none of the times work for you, please reach out at sherif@airbyte.io to find a different time.

[2021-04-13 19:04] sherifnada commented on #573
@kyprifog we'll have it this week!

[2021-04-13 19:06] sherifnada commented on #2796
@fwdolegp great point and definitely agree that the UX would be better this way. We'll put any updates here about prioritization!

[2021-04-13 20:25] sherifnada opened #2877 "publish base-python and base-singer to Pypi"
## Tell us about the problem you're trying to solve
We first introduced these base docker images to get around not having base packages on Pypi. Since then, we've changed the process to have connectors consume versioned docker images. However, the only purpose of these docker images was to host the base python packages. If their only use is to do that, then we might as well eliminate docker entire

[2021-04-13 22:42] michel-tricot commented on #2782
Unfortunately no :(

I will change the title of that issue and summarize our conversation so we can work on it

[2021-04-13 23:51] sherifnada opened #2879 "deduping on a float column fails on bigquery"
## Expected Behavior
I expect the append dedupe sync mode to work correctly when the column being deduped is a float.

## Current Behavior
A sync from PG to BQ seems to break on Airbyte 0.19.0-alpha.

## Logs
[logs-failed_incr.txt](https://github.com/airbytehq/airbyte/files/6307307/logs-failed_incr.txt)

## Steps to Reproduce
TBD

## Severity of the bug for you
medium

## Airbyte Version
found in

[2021-04-14 04:10] makalaaneesh commented on #2153
Thanks!

Going with dropping both the columns as I think it's the simpler/cleaner solution for now. The alternative of keeping one of them can be confusing to the user since it isn't obvious which one of the duplicates the connector would pick. Also, currently, there would be no way to identify which one was picked from the connection settings UI. Once we have the UI change to show warnings, we co

[2021-04-14 13:23] yevhenii-ldv commented on #2257
## Integration Vetting

**Webhook-based? (no/partially/yes)**

no

**Available authentication modes (API key/Oauth/other)**

Oauth2.0, but can use `client_id`, `client_secret` and `refresh_token`

**Creating an account**

Already created, but need to enable the Google Search Console API

**How to populate the account with data?**

For the working with Google Search Console, we have to create a `si

[2021-04-14 13:52] akoshterek opened #2881 "Source MongoDB: CDC/Log based replication"
## Tell us about the problem you're trying to solve
Periodic  MongoDB database replication without full syncs and relying on replication keys

## Describe the solution you’d like
It would be great to add MongoDB change streams support to the existing MongoDB source. https://docs.mongodb.com/manual/changeStreams/

## Describe the alternative you’ve considered or used
Replication key based syncs but

[2021-04-14 14:58] meenagangadharan commented on #2459
Hi @sherifnada @ChristopheDuong, I created the a connector source-reducept and tested it using Docker and python commands. As mentioned in Step 8 - I am trying to execute the gradle build command using
./gradlew :airbyte-integrations:connectors:source-reducept:integrationTest.

Getting the below error - Can you please help me on this.
Error :
FAILURE: Build failed with an exception.

* What went w

[2021-04-14 15:17] rajatariya21 opened #2884 "Facing problem with deploy airbyte on AWS EKS"
Hi,
I had tried to deploy airbyte on eks cluster but I was not able to deploy it.
I was able to create aws eks by eksctl cli command according to airbyte document.
But when run this command:
**kubectl apply -k kube/overlays/stable**

I got following error.
**error: absolute path error in 'kube/overlays/stable' : evalsymlink failure on 'kube/overlays/stable' : lstat /home/rajesh/airbyte/kube: no su

[2021-04-14 15:19] sherifnada opened #2885 "source MySQL error: Server Time Zone is unrecognized"
## Expected Behavior
from https://airbytehq.slack.com/archives/C01MFR03D5W/p1618253800421200

will populate with details soon

## Current Behavior
*Tell us what happens instead of the expected behavior.*

## Logs
*If applicable, please upload the logs from the failing operation. For sync jobs, you can download the full logs from the UI by going to the sync attempt page and clicking the download lo

[2021-04-14 15:47] sherifnada commented on #2459
@meenagangadharan can you run the command with the `--scan` option enabled and then paste the build scan link that shows up at the end of the logs?

[2021-04-14 15:58] #2715 closed

[2021-04-14 16:04] sherifnada opened #2886 "source github: pull_requests stream only runs incremental syncs"
## Expected Behavior
the pull_requests stream seems to be running in incremental mode even though it is only configurable as full_refresh. we should:

1. verify if the stream runs as full refresh or incremental
2. output the correct sync mode from the catalog

below is a screenshot of 3 successive syncs from the github source

![Screen Shot 2021-04-14 at 9 04 41 AM](https://user-images.githubuserc

[2021-04-14 17:53] sherifnada opened #2888 "Syncing large tables from postgres to postgres takes a long time"
from https://airbytehq.slack.com/archives/C01MFR03D5W/p1618239543415800

## Expected Behavior
I expect to be able to sync data from a large postgres table (50m+ rows) to another large postgres table

## Current Behavior
 the process slowed to a big halt after running for a number of hours.  I've setup 11 tables to move with two of them having a very large number of rows.  55mil+  After almost 6 ho

[2021-04-14 18:05] sherifnada opened #2889 "syncing to redshift fails if a row is too big"
from https://airbytehq.slack.com/archives/C01MFR03D5W/p1618295157432200
## Expected Behavior
If a row that is being synced to redshift is too big then it should be dropped and the sync should not fail

## Current Behavior
The sync fails because the row is too large
Logs: [logs-28-0.txt](https://github.com/airbytehq/airbyte/files/6312817/logs-28-0.txt)
The user later communicated the error code the

[2021-04-14 18:09] sherifnada opened #2890 "JSON Parsing error when syncing data from Hubspot to Redshift"
## Expected Behavior
I expect to be able to sync data from Hubspot to Redshift with normalization turned on

## Current Behavior
The sync fails with the error:

[code]

## Logs
[logs-13-2.txt](https://github.com/airbytehq/airbyte/files/6312833/logs-13-2.txt)

## Steps to Reproduce
TBD

## Severity of the bug for you
Medium

[2021-04-14 19:00] Moofasax commented on #2835
Ah ok i was mistaken it creates only 2, not 3, but does not track the history of the state changes, "closed" state. I was expecting to see at least one "closed" record in this table.

I tested this on 0.20.0-alpha just now btw!

[code]
![image](https://user-images.githubusercontent.com/25934977/114764322-d0626600-9d31-11eb-9d79-d2960dd78a55.png)

[2021-04-14 19:20] Moofasax commented on #2836
hmm ok, we were avoiding the events stream since it brought in way to much data in, and is not really meaningful for our perspective.

I think our main concern is that there is no way to link the child elements back to the parent from what i can see. For instance, there is no linking field between an issue, and the issue events.

A meaningful question we would like to answer is: How long does it t

[2021-04-14 19:24] sherifnada commented on #2835
@moosfax the table you are looking at is the `issue` sub-object found inside the `issue_event` response object. From https://docs.github.com/en/rest/reference/issues#events you'll see that this refers to the state of the issue at the time it was synced. If you want to know the state change history, that information is found in the `issue_events.event` column. Does that fix the concern?

[2021-04-14 19:27] sherifnada commented on #2836
By syncing the "issue_events" stream you get a sub-object `event.issue` which contains the ID of the parent issue in the `issue_events_012_issue.id` column. You can perform a join between that and the issues table via that column. Would that help with the join you are describing?

[2021-04-14 19:32] Moofasax opened #2892 "Slack message text is blank when there is an image included in the slack message"
## Expected Behavior
Sync slack -> postgres Slack message text should still be taken even if there is an image in the text.
[logs-2-0.txt](https://github.com/airbytehq/airbyte/files/6313256/logs-2-0.txt)
[logs-2-0.txt](https://github.com/airbytehq/airbyte/files/6313258/logs-2-0.txt)

## Current Behavior
If a slack message has both text and an image in the message, the text is not taken and you end

[2021-04-14 20:02] Moofasax commented on #2836
Hey im sorry man i dont seem to have the event.issue table, do you man issue.events? also the IDs in these tables are not the same, the ID in the issue.events table is the event ID, and the ID in the issue_events_012_issue table is the issue ID.

[2021-04-14 20:03] Moofasax commented on #2836
Do you have simple example join i could use? maybe i am looking at the wrong things.

[2021-04-14 20:15] sherifnada commented on #2836
based on your previous comment:

I'm suggesting that there is such a field: `issues.id` and `issue_events_012_issue.id` refer to the same thing i.e: the github issue ID. So if you wanted to link events to an issue you should be able to do that by doing a SQL `JOIN` on that field.

Also, just to clarify, the `event.issue` is a nested object returned from the Github API. See how Airbyte normalizes n

[2021-04-14 20:36] sherifnada commented on #2153
@makalaaneesh very generally speaking the `check` command tries to surface any potential issues that may disrupt using the connector ahead of time. The most obvious form of this is checking credentials but it is not limited to that. So I'd say in this case doing it in the check command is totally fine as long as we provide a readable error message for the user.

[2021-04-14 21:29] jrhizor opened #2893 "scheduler can fail until restart if temporal isn't ready on startup"
## Expected Behavior
The scheduler should attempt to start, wait for temporal to start, and then begin running.

## Current Behavior
In some (presumably rare) cases, the scheduler can fail within `waitForTemporalServerAndLog` with an exception like:
[code]

## Severity of the bug for you
Medium

This happened multiple times for this person on restarting from scratch. It probably runs with unfortun

[2021-04-14 21:36] josedemouramachado commented on #2893
Hello @jrhizor,

Can I have a go at it?

[2021-04-14 23:59] jrhizor commented on #2893
Sure! Basically if any call in `TemporalPool.getNamespaces` has an exception, we would want to either handle the exception in a way that lets us continue waiting in `waitForTemporalServerAndLog` or `getNamespaces` could just return an empty `Set`.

Ideally we would also have a test to make sure this behavior happens with a mocked `temporalService`. To test we'll likely need to make a few of these

[2021-04-15 01:30] michel-tricot commented on #2889
If we drop data, we should have a warning in the documentation.

[2021-04-15 01:49] michel-tricot commented on #2782
@waynevanheerden out of curiosity:  I assume the firewall doesn't prevent pulling images from dockerhub?

[2021-04-15 04:09] erichartono commented on #2889
Maybe we should truncate data into max length, and has a flag in airbyte raw table to say it has been truncated.

[2021-04-15 04:27] erichartono commented on #2890
Is this error related to this issue? This is MS SQL to RedShift

2021-04-15 04:25:00 INFO (/tmp/workspace/19/0) LineGobbler(voidCall):69 - [33mDatabase Error in model api_dbo_consignmentdynamicfieldvalues (models/generated/airbyte_tables/agridigital/api_dbo_consignmentdynamicfieldvalues.sql)[0m
2021-04-15 04:25:00 INFO (/tmp/workspace/19/0) LineGobbler(voidCall):69 - syntax error at or near ","

[2021-04-15 06:21] waynevanheerden commented on #2782
Hi Michel,
The setup and system is as follows. We have a single server that allows
internet access. The images are pulled to that machine, security checked
and then pushed to our artifactory server which has a docker repository.
From within the network we pull from Artifactory.

It is painfull, but not uncommon when security is a huge focus.

Thanks,
Wayne

On Thu, 15 Apr 2021 at 02:49, Michel Tri

[2021-04-15 07:46] davinchia commented on #2782
Interesting. @waynevanheerden how does the update flow happen today? is it manual?

[2021-04-15 10:53] waynevanheerden commented on #2782
Yes it is

On Thu, 15 Apr 2021 at 08:46, Davin Chia ***@***.***> wrote:

[2021-04-15 12:19] yevhenii-ldv opened #2897 "Source Iterable: Support Incremental sync"
## Tell us about the problem you're trying to solve
Support Incremental sync for streams

_Sub-task for Issue_ #2412

[2021-04-15 14:32] hmahatma85 opened #2898 "PostgreSQL CDC should allow to use unique keys on tables when there is no primary key"
PostgreSQL CDC currently only supports for table with primary key however, it will be nice to have a capability for users to pick existing unique key or allow to choose one-or-many columns that make up a unique key.

[2021-04-15 15:05] rajatariya21 commented on #2884
Now I am facing following issue while run this command: **kubectl apply -k kube/overlays/stable**
**error: json: unknown field "envs"**
I have installed kustomize version 4.0.5.

What is problem that I am got above error?

[2021-04-15 15:41] #2625 closed

[2021-04-15 15:41] #2685 closed

[2021-04-15 15:44] meenagangadharan commented on #2459
Hi @sherifnada, @ChristopheDuong, cc @bashyroger,
I skipped the above gradle build and tried adding the docker image in the UI. The connector shows up in the UI and in the Authentication I pass the bearer token info.  Throws an error like below.

![image](https://user-images.githubusercontent.com/80697893/114897866-f101ed00-9e11-11eb-9625-8bac11a48abe.png)

While testing through python and docker

[2021-04-15 15:54] #2885 closed

[2021-04-15 16:11] meenagangadharan commented on #2459
Done. Link is generated as - https://gradle.com/s/pg3j7u5ogwlas

[2021-04-15 16:21] jrhizor commented on #2884
Looks like this may be related to https://github.com/airbytehq/airbyte/pull/2854

What kubectl version are you on?

[2021-04-15 16:54] cgardens opened #2901 "document that we don't support ECS"
## Tell us about the documentation you'd like us to add or update
https://airbytehq.slack.com/archives/C01AHCDHCKE/p1618448270144600

## Are there any related areas of documentation that currently exist? Could you point to them?

[2021-04-15 16:55] sherifnada opened #2902 "Setup smartsheets CI"
## Acceptance Criteria
The smartsheets connector was added in #2880 . But we have not setup CI testing for it yet. This task requires:

1. Use the Smartsheets credentials in LastPass to sign in to smartsheets & create a sheet that we can use for testing, populate it with a bunch of columns and data
2. Generate an API token as described in the README for smartsheets
3. create a `config.json` file c

[2021-04-15 16:59] cgardens opened #2903 "Google Ads Connector says it supports multiple customer ids but only accepts one."
## Expected Behavior
* Google Ads allows taking in multiple customer ids at once.
* Google Ads connector allows taking multiple customer ids at once

## Current Behavior
* Google Ads connector _says_ it allows multiple customer ids at once
* Google Ads connector does not allow taking multiple customer ids at once

## Steps to Reproduce
<img width="796" alt="Screenshot 2021-04-15 at 15 50 13" src="

[2021-04-15 16:59] cgardens commented on #2903
@sherifnada fyi

[2021-04-15 18:29] keu opened #2907 "Source Hubspot: rename state fields and change format to match format in records"
## Tell us about the problem you're trying to solve
subscription_changes and email_events have mismatches in format and field names between states and records.

## Describe the solution you’d like
rename and keep the same format as in records

discovered during #2792

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368159962632) by [Unito](https://www.uni

[2021-04-15 18:37] makalaaneesh commented on #2153
@sherifnada raised a PR https://github.com/airbytehq/airbyte/pull/2905

[2021-04-15 18:39] cgardens commented on #2889
Note: This failure is happening in normalization.

error:
[code]

[2021-04-15 19:02] kainoa21 commented on #2833
Mostly this would be for the long tail of external or vendor product data ingestion.  Examples are Zendesk, Anaplan, Jira and the like.  So not massive datasets.

[2021-04-15 20:03] dannob opened #2910 "HTTP sources fail to sync (HTTP GET Request)"
## Expected Behavior

Given open source data like this:

`https://chronicdata.cdc.gov/resource/g4ie-h725.json`

I would like to store this data in Postgres.

## Current Behavior

The source and destination configuration was successful.  I specified the HTTP source as shown above.  the sync was not successful.  The error was

`Caused by: io.airbyte.workers.WorkerException: Tap process wasn't succes

[2021-04-15 20:14] Jamakase commented on #2903
Isn't it better to handle such case as array of strings as we already have component for that?

[2021-04-15 21:45] #2561 closed

[2021-04-16 02:13] michel-tricot commented on #2075
We got access to the documentation & a sandbox account! Project is ready to roll

[2021-04-16 02:14] michel-tricot commented on #1981
Just got the confirmation that Google whitelisted Airbyte!

I will update the documentation accordingly tomorrow

[2021-04-16 03:20] zestyping commented on #1981
Fabulous! Congratulations!

—Ping

On Thu, Apr 15, 2021, 19:15 Michel Tricot ***@***.***> wrote:

[2021-04-16 04:51] rajatariya21 commented on #2884
I am using kubectl version 1.18.19.

[2021-04-16 08:01] harshithmullapudi opened #2917 "Support to configure `configured_window_days`"
## Tell us about the problem you're trying to solve
I need to configure the configured_window_days for Google AdWords tap through config

## Describe the solution you’d like
There is already support from singer AdWords tap as it can take this from config

## Describe the alternative you’ve considered or used
I have created a fork of google ads connector and used it for now

[2021-04-16 08:35] harshithmullapudi commented on #2917
#2918

[2021-04-16 11:40] petterw commented on #1457
Seconding this, it would be useful :)

[2021-04-16 15:42] cgardens opened #2919 "Normalization failing with "adapter" does not exist"
## Expected Behavior
*Tell us what should happen.*

## Current Behavior
*Tell us what happens instead of the expected behavior.*

## Logs
[logs-368-0.txt](https://github.com/airbytehq/airbyte/files/6326307/logs-368-0.txt)

![image (11)](https://user-images.githubusercontent.com/9092207/115049369-80011a80-9e8f-11eb-9d6a-3bba45e8309c.png)

relevant log lines
[code]

## Airbyte Version
Found in the .

[2021-04-16 15:47] cgardens opened #2920 "Allow configuring Facebook Marketing insights buffer days"
## Tell us about the problem you're trying to solve
Today the Facebook marketing source always defaults to 28 for the buffer_days parameter. We want to make this configurable by the user. We should:
* Add a parameter to spec.json called `insights_lookback_window` with the title `Insights Lookback Window` and an appropriate description that tells the user what this parameter controls. It should be

[2021-04-16 15:48] cgardens commented on #2917
@sherifnada fyi

[2021-04-16 15:48] cgardens commented on #2903
yes. i agree artem. that sounds like the better approach.

[2021-04-16 15:49] #2901 closed

[2021-04-16 15:50] cgardens commented on #2910
thanks for reporting @dannob ! we'll post here as we prioritize a fix for this

[code]

[2021-04-16 15:51] cgardens commented on #2910
fy @sherifnada

[2021-04-16 16:13] #2309 closed

[2021-04-16 16:51] #2089 closed

[2021-04-16 19:23] jrhizor commented on #2884
If you change your local files to revert https://github.com/airbytehq/airbyte/pull/2854/files by using `env: .env` instead of
[code]
does it work for you?

[2021-04-16 22:01] cgardens commented on #2892
Thanks for reporting it @Moofasax . We will update here as we prioritize this.

[2021-04-16 22:01] cgardens commented on #2892
@sherifnada fyi

[2021-04-16 22:02] cgardens commented on #2919
@ChristopheDuong could you take a look at this one and follow up when you are back?

[2021-04-16 22:37] #1806 closed

[2021-04-17 07:04] #2863 closed

[2021-04-17 15:40] siamak-haschemi opened #2927 "Zoom Source fails to load data"
## Expected Behavior
Connector executes well. My destination (BigQuery) shows the zoom tables.

## Current Behavior
- Connector fails, see logs.
- Target db contains raw tables (like `_airbyte_raw_zoom_meeting_files`, `_airbyte_raw_zoom_meetings`)
- Target db raw tables contain raw json data

## Logs
[logs-244-2.txt](https://github.com/airbytehq/airbyte/files/6329495/logs-244-2.txt)

## Steps to R

[2021-04-17 17:46] sherifnada opened #2929 "fix Google Adwords CI & publish new version"
## Description
The Google Adwords CI is [failing](https://status-api.airbyte.io/tests/summary/source-google-adwords-singer/). I'm pretty sure nothing is wrong with the connector but it seems like we may have no data in the underlying source.

Once this has been fixed, we should bump & publish a new version to pick up the changes from https://github.com/airbytehq/airbyte/pull/2918

┆Issue is synchr

[2021-04-17 23:47] keu commented on #2517
implemented in #2792

[2021-04-18 04:00] sherifnada commented on #1457
@petterw roger that!

[2021-04-18 05:03] sherifnada commented on #2748
@ChristopheDuong what assertions would the test case be making here? could you describe some test cases?

[2021-04-18 05:14] #2734 closed

[2021-04-18 05:18] sherifnada opened #2930 "Zendesk Talk: normalization failure"
## Expected Behavior
I expect the zendesk talk connector to work when being written to a destination with normalization turned on.

## Current Behavior

one issue with the the greetings.sql table: `invalid input syntax for type bigint: "voicemail_en"`
From the user:

appears to be a dbt run on the backend (FYI did you want to upgrade to 19.1?)
EDIT: inspected the raw data for that table and found

[2021-04-18 05:18] #2735 closed

[2021-04-18 05:24] sherifnada opened #2931 "Upgrade normalization DBT version to 19.1"
## Tell us about the problem you're trying to solve
DBT released a new version containing some bugfixes and performance improvements. It's not critical to upgrade to this since none of the features impact us directly. But probably good not to fall behind too much. https://github.com/fishtown-analytics/dbt/releases

## Describe the solution you’d like
Upgrade normalization's [setup.py](https://gith

[2021-04-18 05:25] sherifnada commented on #2927
@siamak-haschemi thanks for creating the issue. We'll get on it during the new week.

[2021-04-18 05:31] sherifnada commented on #2903
agreed that this should be a string list. I'm not sure there is a way of changing this type without breaking backwards compatibility.

should be a simple fix to change the [spec pattern](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-google-adwords-singer/source_google_adwords_singer/spec.json) from `^[0-9]{10}$` to `^[0-9]{10}(,[0-9]{10})*$`

[2021-04-18 05:54] sherifnada commented on #2257
@michael4tasman good news! We'll start work on this sooner than scheduled. Expecting delivery this week or the next one.

[2021-04-18 06:17] sherifnada commented on #2910
A reasonable fix here would be to see if the return value is an array vs. an object. If the former then return a record per element in the array. otherwise return the object as a single record.

[2021-04-18 06:36] #2145 closed

[2021-04-18 06:45] sherifnada opened #2932 "Santa: support batching in full refresh syncs"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-04-18 10:08] MarcBuch commented on #2931
I'll take it as my first contribution! 🚀

[2021-04-18 17:06] harshithmullapudi commented on #2622
wouldn't it be good to solve independently for sources like S3, Google Storage as the s3-csv tap

[2021-04-18 17:07] harshithmullapudi commented on #2622
We have a usecase for which we need to solve this for S3. Thinking of bringing that tap-s3-csv to airbyte any thoughts here

[2021-04-18 17:11] harshithmullapudi opened #2935 "New Connector: Amazon SP API"
## Tell us about the problem you're trying to solve
Need to get the Amazon MWS orders data to the destination

## Describe the solution you’d like
Writing a connector for Amazon MWS and starting to support just orders features to get started

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368102017302) by [Unito](https://www.unito.io)

[2021-04-18 18:05] sherifnada commented on #2935
@harshithmullapudi should we instead support the [Sellers API ](https://developer.amazonservices.com/) as that seems to be the newer version of MWS?

[2021-04-18 18:08] sherifnada commented on #2935
Also @harshithmullapudi could you point to which [endpoints in the API ](https://github.com/amzn/selling-partner-api-docs/tree/main/references) you'd like support for?

[2021-04-18 20:16] meenagangadharan commented on #2459
Hi @sherifnada,
![image](https://user-images.githubusercontent.com/80697893/115159497-b0b1a180-a093-11eb-8ad6-bbab59f5b129.png)

[2021-04-18 22:02] michel-tricot commented on #2931
Thank you @MarcBuch !!!

[2021-04-18 22:06] michel-tricot commented on #2903
I think we should break backward compatibility here. We will need a strategy to handle that in the future.

[2021-04-19 04:01] harshithmullapudi commented on #2935
yeah I also think we should support `Sellers API`. Thinking of starting with `https://github.com/amzn/selling-partner-api-docs/blob/main/references/orders-api/ordersV0.md`. @sherifnada

[2021-04-19 04:31] michel-tricot opened #2939 "Pilot with SM"
We will help SM manage their Airbyte install.

They will provide a server and we will install and manage the updates of Airbyte

In core they will need:

* [ ] cron scheduling (https://github.com/airbytehq/airbyte/issues/2170)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368225463928) by [Unito](https://www.unito.io)

[2021-04-19 04:34] michel-tricot opened #2940 "New source: support for Gorgias"
## Tell us about the new integration you’d like to have
[Gorgias](https://www.gorgias.com/)

I'd like support for the following endpoints:

* Account
* Customers
* Events
* Statistics
* Tags
* Tickets
* Users

## Describe the context around this new integration
## Integration Vetting
**Webhook-based? (no/partially/yes)**
no

**Available authentication modes (API key/Oauth/other)**
Basic [username/

[2021-04-19 04:36] michel-tricot commented on #2939
Gorgias (#2940)
Judge Me
Recharge (#2308)
Bold (#2345)
Everflow
Tune

[2021-04-19 04:41] michel-tricot commented on #2939
For the configuration of the server we should leverage terraform so we can easily reproduce the install.

We can get in touch with him on slack.

[2021-04-19 09:25] erichartono commented on #2889
FYI. This also happened on MS SQL to Redshift sync.

[2021-04-19 10:34] ChristopheDuong commented on #2879
This is related to https://github.com/airbytehq/airbyte/issues/2684 and should be fixed in 0.20.0.

I'll add another fix for edge cases in the next release with #2941 too (fails if the column chosen as primary key is being quoted)

[2021-04-19 14:45] sherifnada opened #2944 "vetting"
placeholder ticket for organizational use in milestones

[2021-04-19 14:57] #2181 closed

[2021-04-19 14:57] #2517 closed

[2021-04-19 15:03] ChristopheDuong commented on #2748
Ensuring a constraint of records from the source always containing the primary key fields (making sure it is never NULL) could probably be a good thing, yes!

(in the case of cursors, I've seen people asking to support NULL values in the cursor column though)

[2021-04-19 15:09] jrhizor opened #2945 "support index creation on normalization output"
Normalization tables are recreated during the current DBT process, which prevents them from maintaining indices that were manually created by the user. For large datasets this can be an expensive process to recreate regularly.

In terms of implementation this may just work after we have incremental DBT support, but it's an important enough issue to track separately.

┆Issue is synchronized with th

[2021-04-19 15:36] sherifnada opened #2946 "Create Sandbox Shopify account"
## Tell us about the problem you're trying to solve
1. investigate what is needed to create an Airbyte shopify shop. We can make this an Airbyte-specific shop w tshirts and mugs etc. if needed.
1. let me know what is needed to create the account, I will unblock as needed
1. we're going to want create fake data which may require actually making purchases of some sort
1. now we have a sandbox that c

[2021-04-19 15:37] ifokeev commented on #2733
We have some internal airbyte setup, export works fine on master branch, but not in our environment. I suppose it's because of some ENV variables or hardcoded solutions inside airbyte.

For instance, It catches all exceptions https://github.com/airbytehq/airbyte/blob/73044ac29047ab87cc9fb08682eafa0ad203b37a/airbyte-server/src/main/java/io/airbyte/server/handlers/ArchiveHandler.java#L89 and I can't

[2021-04-19 16:30] cgardens opened #2948 "Index names collide"
## Expected Behavior
* If I have very long and similar table names, I should be able to to replicate them into postgres.

## Current Behavior
* If I have very long and similar table names, they fail when replicating into postgres because the truncated index / constraint names collide.
* This is a big surprising as I thought these constraints would be scoped by table.

## Logs
from slack convo: htt

[2021-04-19 16:32] #2919 closed

[2021-04-19 16:38] cgardens commented on #2754
no op

[2021-04-19 16:38] #2754 closed

[2021-04-19 16:41] ChristopheDuong commented on #2919
This bug happens when the primary key is a column that needs to be quoted AND needs to be cast to string in order to be used as a partition key.

So for example the column "id" is a reserved word in Postgres destinations and if it was of numeric type (if it was a string, then the cast would not be needed)

[2021-04-19 17:21] cgardens opened #2950 "UI should enforce setting cursor field on streams configured for incremental."
## Expected Behavior
* For incremental, when source_defined_cursor = false, the UI should force the user to set the cursor field.
* For incremental, when source_defined_cursor = true, the UI should _not_ let the user set a cursor field.

## Current Behavior
* Regardless of source_defined_cursor being true or false they can select a cursor field.
* It is currently possible to configure an increment

[2021-04-19 17:26] cgardens commented on #2627
spec was created: https://docs.google.com/document/d/1Shwpsi8XKzuVRSkKkzYLu2dIP4NFtXia3jFf70vLjMY/edit

[2021-04-19 18:05] #1439 closed

[2021-04-19 18:08] cgardens commented on #1620
fixed.

[2021-04-19 18:08] #1620 closed

[2021-04-19 18:40] #2184 closed

[2021-04-19 19:04] #2932 closed

[2021-04-19 19:24] sherifnada opened #2952 "Santa: Slack PoC"
Subset of #1980 to implement slack via Santa

[2021-04-19 19:24] sherifnada commented on #2952
This has been completed in #2924

[2021-04-19 19:24] #2952 closed

[2021-04-19 19:24] sherifnada opened #2953 "Santa: Implement stream batching"

[2021-04-19 19:54] sherifnada commented on #2414
using this for Santa as an oauth/jwt test vehicle

[2021-04-19 19:56] cgardens opened #2954 "Spec out Hosted Version of Airbyte"
## Tell us about the problem you're trying to solve
* We have had some [discussion](https://docs.google.com/document/d/1T_IdbSXLx4q3dBmjQPoDyefpMkKpdFKzSU2Ttbdo0O8/edit#heading=h.wtxxu9nxaf6p) about offering a hosted solution. Let's spec out what that might look like. Special attention to how long it would take to do.

[2021-04-19 20:03] jrhizor commented on #1958
- [ ] snowflake s3 staging (90%, want to include refactor changes)
- [ ] refactor (75% done, definitely should be in today, along with snowflake s3 staging)
- [ ] snowflake gcs staging (hoping for Tuesday)
- [ ] postgres file staging `COPY FROM STDIN` (client-side copy) (hoping for Wednesday)
- [ ] bigquery gco staging (Thursday)

I'm not planning on adding Azure staging for Snowflake as part of t

[2021-04-19 20:08] cgardens opened #2955 "Add documentation on how to use file source with Google Drive"
## Tell us about the documentation you'd like us to add or update
note from user:

[code]

help from fabian

[code]

followup from user

[code]

link to slack convo: https://airbytehq.slack.com/archives/C019WJFR1JT/p1618766463130000

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368102230216) by [Unito](https://www.unito.io)

[2021-04-19 20:12] #2954 closed

[2021-04-19 20:18] cgardens commented on #1958
is redshift s3 staging part of the refactor as well?

[2021-04-19 20:21] cgardens opened #2956 "Spec out integrating with Workflow2"

[2021-04-19 20:24] jrhizor commented on #1958
yes

[2021-04-19 20:36] cgardens opened #2957 "Redshift Copier OOM"
## Expected Behavior
*Tell us what should happen.*

## Current Behavior
full log:
[logs-7-0 (3).txt](https://github.com/airbytehq/airbyte/files/6338920/logs-7-0.3.txt)

relevant log:
[code]

[2021-04-19 20:53] cgardens opened #2958 "Remove use of timeouts from Workers"
## Tell us about the problem you're trying to solve
The worker depends on timeouts when trying to "gently" close workers. This is brittle in the case of long running jobs. It means we need to make a trade off between supporting long running jobs and killing zombie jobs quickly. We should remove dependence on these timeouts and replace it with some sort of heart beat mechanism.

[2021-04-19 20:55] cgardens opened #2959 "Support for running Custom DBT Jobs"
## Tell us about the problem you're trying to solve
* Sub project of https://github.com/airbytehq/airbyte/issues/2566
* A user should be able to write their own custom DBT models / transformations.
* Airbyte will run them after each sync.
* The user should be able to easily access the models that Airbyte uses as a starting place.
* Provide the user with an easy UX for adding / interacting with the

[2021-04-19 21:02] jrhizor commented on #2017
Docker on M1 is now generally available https://docs.docker.com/docker-for-mac/apple-silicon/

[2021-04-19 22:38] sherifnada commented on #2459
@meenagangadharan are you happy with the connectors' behavior locally? If so, you can just maintain it on your own -- no need to submit it to Airbyte. In this case there is no need to pass the standard tests. Just publish the connector to a docker repository like dockerhub and add it in the UI.

[2021-04-19 23:00] sherifnada opened #2962 "New Destination: Oracle DB"
## Tell us about the new integration you’d like to have
I'd like to be able to send data into Oracle DB, with normalization.

## Describe the context around this new integration
Oracle is one of the most popular databases in the world and so Airbyte should support it :)

## Describe the alternative you are considering or using
singer target or in-house integration

┆Issue is synchronized with this

[2021-04-19 23:06] masonwheeler opened #2963 "Intermittent build failures due to test timeouts"
## Expected Behavior
Tests should run successfully

## Current Behavior
Tests usually run successfully, but from time to time fail.  Re-running the build process generally fixes it.

## Logs
[code]

## Steps to Reproduce
`CORE_ONLY=1 ./gradlew build`

## Severity of the bug for you
Low

## Airbyte Version
0.20.0-alpha

## Additional context
Build is taking place in a VMWare VM running Ubuntu, on a

[2021-04-19 23:10] sherifnada commented on #2962
There is a community maintained DBT connector for Oracle which we can use: https://docs.getdbt.com/docs/available-adapters

[2021-04-19 23:15] sherifnada commented on #2963
this looks related to the change for pulling latest connector version. @masonwheeler maybe you can tackle this since you'll be in that area of the codebase for #2782 ?

[2021-04-19 23:21] cgardens commented on #2963
how frequently does this happen?

[2021-04-19 23:22] cgardens commented on #2963
oh. the weberser it set up statically
[code]

so if the tests run in a certain order then one test can affect another.

[2021-04-19 23:24] masonwheeler commented on #2963
@cgardens You think it's a race condition then?

[2021-04-19 23:28] cgardens commented on #2963
yeah. that's my guess. but i haven't been able to reproduce it on my machine. even when i force the test with the timeout to run first.

[2021-04-20 00:06] michel-tricot opened #2965 "Create a public talk worthy presentation"
Ideally showing the interaction between
- Airbyte
- Airflow
- DBT

[2021-04-20 04:15] michel-tricot opened #2967 "New destination: Firebase"
## Tell us about the problem you're trying to solve
I was talking to a company who is replicating data to firebase.

Today they have implemented a few connectors and they are looking to offer more sources.

## Describe the solution you’d like
I would like to push data to firebase

[2021-04-20 04:25] #2953 closed

[2021-04-20 05:23] sherifnada opened #2968 "New Source: Survey Monkey"
## Tell us about the problem you're trying to solve
I would like to pull my survey response data and insights from the [Survey Monkey API](https://developer.surveymonkey.com/?ut_ctatext=Developers&ut_source=homepage&ut_source3=footer)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368225985964) by [Unito](https://www.unito.io)

[2021-04-20 05:26] sherifnada opened #2969 "New source: Delighted by Qualtrics"
## Tell us about the new integration you’d like to have
https://delighted.com/

## Describe the context around this new integration
## Describe the alternative you are considering or using

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368102460001) by [Unito](https://www.unito.io)

[2021-04-20 05:28] sherifnada opened #2970 "New Source: Youtube Analytics"
## Tell us about the new integration you’d like to have
https://developers.google.com/youtube/reporting/v1/reports

## Describe the context around this new integration
## Describe the alternative you are considering or using

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368102600976) by [Unito](https://www.unito.io)

[2021-04-20 05:29] sherifnada opened #2971 "New Source: Zendesk Sunshine"
## Tell us about the new integration you’d like to have
https://developer.zendesk.com/rest_api/docs/sunshine/

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368226050804) by [Unito](https://www.unito.io)

[2021-04-20 05:32] sherifnada opened #2972 "New Source: Front"
## Tell us about the new integration you’d like to have
https://frontapp.com/api

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368102629258) by [Unito](https://www.unito.io)

[2021-04-20 05:32] sherifnada opened #2973 "New Source: Help Scout"
Requirements:
- Build a Help Scout source connector using the [HelpScout Mailbox API](https://developer.helpscout.com/mailbox-api/)
- Build this connector using the [low code CDK](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/)

Streams to support:
- [Conversations](https://developer.helpscout.com/mailbox-api/endpoints/conversations/list/)
- [Conversation Thread

[2021-04-20 05:34] sherifnada opened #2974 "New Source: Google Play Reports"
## Tell us about the new integration you’d like to have
Users want to get their Google Play reports via Airbyte so they can understand their Android app's performance.

reports are available here: https://support.google.com/googleplay/android-developer/answer/6135870

## Describe the context around this new integration
* Which team in your company wants this integration, what for? This helps us un

[2021-04-20 05:36] sherifnada opened #2975 "New Source: IBM DB2"
## Tell us about the new integration you’d like to have
https://www.ibm.com/analytics/db2

## Describe the context around this new integration
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you want to run syncs?
* If this is an API source connector, which entities/endpoints do you need supported?

## Describe the alternative yo

[2021-04-20 05:40] sherifnada opened #2976 "New source: UserVoice?"
## Tell us about the new integration you’d like to have
https://developer.uservoice.com/

## Describe the context around this new integration

## Describe the alternative you are considering or using

[2021-04-20 05:45] sherifnada opened #2977 "New Source: Pendo"
## Tell us about the new integration you’d like to have
https://developers.pendo.io/docs/

## Describe the context around this new integration
## Describe the alternative you are considering or using

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368161277962) by [Unito](https://www.unito.io)

[2021-04-20 05:46] sherifnada opened #2978 "New Source: Salesforce Pardot"
## Tell us about the new integration you’d like to have
https://www.pardot.com/

## Describe the context around this new integration
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you want to run syncs?
* If this is an API source connector, which entities/endpoints do you need supported?

## Describe the alternative you are cons

[2021-04-20 05:47] sherifnada opened #2979 "New Source: Google Analytics 360"
## Tell us about the new integration you’d like to have
https://marketingplatform.google.com/about/analytics-360/

## Describe the context around this new integration

## Describe the alternative you are considering or using

[2021-04-20 05:52] sherifnada opened #2980 "New Source: Presta Shop"
## Tell us about the new integration you’d like to have
popular open source shopfront platform https://github.com/PrestaShop/PrestaShop/

## Describe the context around this new integration
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you want to run syncs?
* If this is an API source connector, which entities/endpoints do you

[2021-04-20 05:56] sherifnada opened #2981 "New Source: Lever Hiring"
## Tell us about the new integration you’d like to have
https://hire.lever.co/developer

## Describe the context around this new integration
## Describe the alternative you are considering or using

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368226223512) by [Unito](https://www.unito.io)

[2021-04-20 05:57] sherifnada opened #2982 "New source: Apple Search Ads Reports"
## Tell us about the new integration you’d like to have
https://searchads.apple.com/advanced/

## Describe the context around this new integration
## Describe the alternative you are considering or using

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368161100890) by [Unito](https://www.unito.io)

[2021-04-20 05:57] erichartono opened #2983 "Sync hubspot deal association with company/contact"
## Tell us about the problem you're trying to solve
I would like to sync hubspot deal associations with company/contact so that I can analyse deal with segmented company/contact. Destination that I am after is Redshift.

## Describe the solution you’d like
On HubSpot API, there's GET …/objects/deals?associations=[deal,company,contact]
I would like to sync into destination (redshift) under deals_as

[2021-04-20 05:58] sherifnada opened #2984 "New source: Google Display & Video 360"
## Tell us about the new integration you’d like to have
https://marketingplatform.google.com/about/display-video-360/

## Describe the context around this new integration
## Describe the alternative you are considering or using

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368226284507) by [Unito](https://www.unito.io)

[2021-04-20 06:17] sherifnada opened #2985 "New Source: Sparkpost"
## Tell us about the new integration you’d like to have
https://developers.sparkpost.com/api/

## Describe the context around this new integration
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you want to run syncs?
* If this is an API source connector, which entities/endpoints do you need supported?

## Describe the alternativ

[2021-04-20 08:28] pragmatron commented on #2967
Also being able to pull data from firebase would be needed...

Another little note would be that firebase has 2 rest apis for their 2 databases.. the classic 'firebase realtimedb' which we currently use and would be the priority, but also the firebase firestore db may also be useful

[2021-04-20 09:07] #2931 closed

[2021-04-20 09:38] meenagangadharan commented on #2459
Hi @sherifnada, I removed the existing docker image and recreated the image using docker build. Added it in the UI. Shows the same error. Not sure if it's still pointing to the old code. Can you help me republish it. Will you available for a meeting or call ?

![image](https://user-images.githubusercontent.com/80697893/115374003-b3fc7880-a1cc-11eb-89d1-c082c49170c9.png)

[2021-04-20 09:39] ChristopheDuong commented on #2889
From https://github.com/airbytehq/airbyte/issues/2889#issuecomment-820649760, it looks like a error code returned by Redshift because the `JSON_EXTRACT_PATH_TEXT` function wasn't able to parse the JSON properly.
(is that referring to https://github.com/airbytehq/airbyte/issues/2890?)

See https://docs.aws.amazon.com/redshift/latest/dg/JSON_EXTRACT_PATH_TEXT.html

There is an argument to those func

[2021-04-20 09:57] ChristopheDuong commented on #2890
I don't think the errors are related...

The first one `JSON parsing error` is a runtime error thrown by Redshift JSON Parsing error while trying to parse some data row and failing.

The second one `syntax error at or near ","` is a compilation error thrown by DBT
If you can retrieve the compiled file: `../build/run/airbyte_utils/models/generated/airbyte_tables/agridigital/api_dbo_consignmentdynam

[2021-04-20 10:08] meenagangadharan commented on #2459
Also since I have added it multiple times.. In the source connector it shows many options - how can we remove this ?
![image](https://user-images.githubusercontent.com/80697893/115378708-1eafb300-a1d1-11eb-8f80-5266297ff3c2.png)

[2021-04-20 10:16] ChristopheDuong commented on #2889
The error

Should be thrown when the destination is copying data from s3 to redshift? not during normalization process?

[2021-04-20 11:57] yevhenii-ldv commented on #2420
@sherifnada, I am having difficulty working on this task. I added `ssl` to the `spec`, and to test it, I connected to Ruby's environment and ran the `check` command. The `check` was successful pass, but the `discover` method constantly gives an error:
[code]

I tried to test with all `sample_` tables, and created my own with only 1 record, but I still got this error.
I found similar problems on th

[2021-04-20 11:58] yevhenii-ldv commented on #2421
blocked by https://github.com/airbytehq/airbyte/issues/2420#issuecomment-823214250

[2021-04-20 11:59] wavermartijn opened #2989 "New destination: Azure data lake storage Gen 2"
## Tell us about the new destination you’d like to have
* I would like to have Azure data lake storage Gen 2 as a destination

## Describe the context around this new destination
* This destination will help setting up data pipelines in the Azure cloud.
* Multiple sources will probably end up in this destination. The amount of data will potentially be high.

## Describe the alternative you are con

[2021-04-20 13:21] #2412 closed

[2021-04-20 13:21] #2739 closed

[2021-04-20 13:21] #2738 closed

[2021-04-20 13:22] #2740 closed

[2021-04-20 13:22] #2897 closed

[2021-04-20 13:31] winzee commented on #2974
Hi, this is used by the marketing team and the product team. Data comes in daily, so it should be able to import data daily.  We export these files to BigQuery.

Be wary when you implement this as some older files can be overwritten with the same or new data regularly: so it's best practice to check the hash code of the files provided by Google Cloud Storage to watch for change and be ready to pro

[2021-04-20 14:13] #2633 closed

[2021-04-20 14:15] #2701 closed

[2021-04-20 14:16] yevhenii-ldv commented on #1316
**Are the account test credentials available in Lastpass?** Yes

## Note

For implement current connector we can't use Zendesk Chat Singer Tap, because `read` method doesn't work.

## Task breakdown

- [ ] Populate source with data (6h)
- [ ] Create source scaffolding and populate schemas folder (2h, can using schemas from Singer Tap)
- [ ] Implement spec, check, and discover (2h)
- [ ] Implement

[2021-04-20 14:25] Zirochkaa commented on #2910
As @sherifnada mentioned [here](https://github.com/airbytehq/airbyte/issues/2910#issuecomment-821941256), we could look at type of `r.json()` (currently line 77 in `/source-http-request/source_http_request/source.py` file). If it's a dict - just yield AirbyteMessage. If it's a list - yield AirbyteMessage for each object in list. Since `SourceHttpRequest.read()` returns generator it won't be a prob

[2021-04-20 14:27] sherifnada commented on #2974
@winzee thanks for the context!

[2021-04-20 14:27] vitaliizazmic commented on #2257
We can use [Singer Tap](https://github.com/singer-io/tap-google-search-console) to implement new source.

It is required to generate credentials according to [instruction](https://drive.google.com/open?id=1FojlvtLwS0-BzGS37R0jEXtwSHqSiO1Uw-7RKQQO-C4) and put to Lastpass

Singer Tap supports Full and Incremental syncing.

Account requires data populating. We can do this via API for Sites and Sitema

[2021-04-20 14:28] sherifnada commented on #2967
@pragmatron could you point us to which api endpoints you would like to replicate?

[2021-04-20 14:50] Zirochkaa commented on #2829
The error is with `ads_insights_country` stream (and also in general with `AdsInsightAPI` class) - we can't pass `include_deleted` argument to it's `__init__()` function. And because of this in `StreamAPI.__init__()` function on line 59 we have:
[code]

I think that `AdsInsightAPI .__init__()` function should take `*args, **kwargs` arguments also and pass them to `super().__init__()` (right now we

[2021-04-20 15:12] sherifnada commented on #2257
@vitaliizazmic can you verify if we need to populate any data manually if we already have a live website serving traffic linked to Google Search Console?

[2021-04-20 15:53] sherifnada commented on #2829
There is also an open question about whether we're passing the parameter correctly to the API in the campagins and adsets and Ads streams case. @Zirochkaa will verify the following:

1. Are we passing the parameters correctly to the API? If yes, no work to do here
2. if not, fix the issue and pass it correctly to the API

[2021-04-20 15:54] JordanChoo commented on #2257
@sherifnada - if you want to backfill data (GSC provides up to 16 months) that would have to be done manually

[2021-04-20 15:58] sherifnada commented on #2829
@Zirochkaa can you confirm that ads insights accepts the include_deleted parameter?

[2021-04-20 15:58] sherifnada commented on #2829
also @Zirochkaa can you add a custom integration test that hardcodes the ID of a deleted campaign and verifies that we pull it when the `include_deleted` flag is set to true?

[2021-04-20 16:00] sherifnada commented on #2829
also we should understand why the log statement is displaying deleted as false -- is there an actual bug or is the log statement faulty?

[2021-04-20 16:48] sherifnada commented on #2257
thanks for the heads up @JordanChoo !

[2021-04-20 17:05] sherifnada commented on #2459
@meenagangadharan Airbyte doesn't currently offer the ability to delete connector definitinos. The best way would be to reset to a clean airbyte instance, or wait until a future version offers that ability. For now you can probably just rename all your connectors to indicate they are the old ones.

[2021-04-20 17:06] Moofasax commented on #2870
any ideas on time for letting us input the URL manually?

[2021-04-20 17:16] michel-tricot commented on #2459
If you really need to delete it, you can always remove it manually by deleting the record from airbyte data volume:
![2021-04-20_10-16-01](https://user-images.githubusercontent.com/1154337/115437797-79d9a980-a1c1-11eb-87fa-924821fb11df.png)

[2021-04-20 17:43] sherifnada commented on #2870
@Moofasax currently estimating in a couple of weeks. You are also welcome to contribute it to the codebase -- happy to give more pointers if you'd like.

[2021-04-20 18:32] keu commented on #2186
some initial match was implemented in the first version of Standard Tests

[2021-04-20 19:14] cgardens opened #2995 "Improve explanation of permissions needed for Postgres Destination"
## Tell us about the problem you're trying to solve
* convo: https://airbytehq.slack.com/archives/C01MFR03D5W/p1618945593145300
* docs don't mention that you need to have access to create a schema
* like we do for the postgres source, should we give example `GRANT` statements?

@sherifnada fyi

[2021-04-20 19:18] ChristopheDuong commented on #2750
I'm thinking about adding tests cases with some generated DBT models to git from some selected catalog.json
and try having DBT compile them maybe too

[2021-04-20 19:26] #2180 closed

[2021-04-20 20:02] keu opened #2996 "Standard Tests: write tests to test source acceptance tests"
## Tell us about the problem you're trying to solve
Pytest [allows](https://docs.pytest.org/en/stable/_modules/_pytest/pytester.html) testing of tests.

## Describe the solution you’d like
Source acceptance tests should be also tested. Ideally, I would like to run such tests before building a docker image.

[2021-04-20 20:05] keu opened #2997 "Standard Tests: Colorful output from a docker"
## Tell us about the problem you're trying to solve
Currently, if we run tests from the docker image we see minimalistic output without colors, highlights, and progress bar

## Describe the solution you’d like
Ideal I would love to have the same output as if I run tests without docker (native console)

[2021-04-20 20:27] bruce-a-gitor commented on #2508
One question we have about your upcoming Bing Ads release is whether it will have the ability to bring in the Product Dimension Performance Report? This is definitely a requirement for us and has been a long time shortcoming of Singer.

This Singer issue is the one I am referring to:  https://github.com/singer-io/tap-bing-ads/issues/23

[2021-04-20 21:13] cgardens opened #2998 "UI should respect `order` metadata in spec configs"
## Tell us about the problem you're trying to solve
In some specs we add an `order` field as metadata (e.g. [postgres spec](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json)). The idea is that this order should be the order in which the fields are displayed in the UI.

## Describe the solution you’d like
* If present the

[2021-04-20 22:00] sherifnada commented on #2420
https://stackoverflow.com/a/45679466

@yevhenii-ldv please:

1. coordinate with @arhip11 to upgrade to the $9/month m2 shared cluster tier to be able to run mapreduce commands.
![Screen Shot 2021-04-20 at 2 58 02 PM](https://user-images.githubusercontent.com/6246757/115469052-cf757c80-a1e8-11eb-9b4d-ac0f87f140bd.png)
2. Update mongodb docs to note **in bold** that it requires the ability to perfor

[2021-04-20 23:20] cgardens commented on #2562
Going to suggest for the first iteration that we just go with what @jrhizor suggested in the description as that is more clearly defined. Let's not worry about auto scroll or jump to bottom of page for now.

[2021-04-20 23:22] cgardens commented on #2727
* For 2 I would suggest we add tooltips. In other words, if you hover over it for a second or so you can see the full thing
* Unless 3 is easy, let's skip it.
* 4 may be the same issue as https://github.com/airbytehq/airbyte/issues/2132

[2021-04-20 23:50] masonwheeler opened #2999 "Display Icons in UI"
Now that #2122 has added support for SVG icon data on connectors, we need frontend code to display them.

The APIs that return source definitions or destination definitions now have a new field, `icon`, which either contains `null` or XML text describing a SVG graphic of the icon to be displayed.  When the value is not `null` for a connector, the web client should display the SVG icon alongside th

[2021-04-21 02:38] sherifnada commented on #2257
@vitaliizazmic heads up -- the singer tap doesn't currently support service-account based oauth. See the client class [here](https://github.com/singer-io/tap-google-search-console/blob/9ea454ff62c172a6ef8859a5803591ce2ae4ec6b/tap_google_search_console/client.py#L130). We should change this class to implement JWT OAuth like described [here](https://developers.google.com/identity/protocols/oauth2#se

[2021-04-21 05:02] gordalina commented on #2122
I could not find good icons for google workspace / directory so I used google instead.
These are only for sources, not destinations.
[svg-new.zip](https://github.com/airbytehq/airbyte/files/6348155/svg-new.zip)

[2021-04-21 06:07] davinchia commented on #2498
Done with 0.21.0-alpha.

[2021-04-21 06:07] #2498 closed

[2021-04-21 08:00] johnlafleur opened #3003 "Experience to upgrade Airbyte version should be more discoverable and easier from the UI"
## Tell us about the problem you're trying to solve
It seems most users don't upgrade to the latest version (cf. https://analytics.amplitude.com/daxtarity/chart/guwgsmc?source=redirect%3A+chart+saved). For instance, after a week, only 35% of users upgraded to the latest version.
And 40% of users haven't upgraded their Airbyte version for a month, while still using it today.

## Describe the soluti

[2021-04-21 08:01] johnlafleur commented on #3003
Here's a suggestion of design for it: https://www.figma.com/file/AODY4oi15iI5l0fbxHvobt/Daxtarity?node-id=24813%3A132165
@cgardens

[2021-04-21 10:01] johnlafleur opened #3004 "Experience to upgrade connector version should be more discoverable and easier from the UI"
## Tell us about the problem you're trying to solve
It seems most users don't upgrade their connectors to the latest versions. For instance, after 2 weeks, even though we fixed api rates and postgres, a lot of users are still using the previous no-longer-working version.

## Describe the solution you’d like
There are several ways we can do it. Here's a suggestion of design: https://www.figma.com/f

[2021-04-21 10:20] vitaliizazmic opened #3005 "Quickbooks documentation"
## Current Behavior
Documentation for the Quickbooks connector is missing

[2021-04-21 10:37] yevhenii-ldv commented on #2420
@sherifnada Okay, I'll do this

[2021-04-21 11:22] yevhenii-ldv commented on #2664
## Integration Vetting

**Webhook-based? (no/partially/yes)**

No

**Available authentication modes (API key/Oauth/other)**

[API Credentials](https://www.zuora.com/developer/api-reference/#section/Authentication)

**Creating an account**

@sherifnada
Zuora supports the [Trial period](https://www.zuora.com/trial-agreement/), which lasts 14 days, and after it need to switch to the paid version.
I c

[2021-04-21 11:23] Zirochkaa commented on #2886
For `pull_requests` stream we have custom incremental meaning that we request all data from GitHub API, filter it in python and update only necessary records (look at [this](https://github.com/airbytehq/tap-github/blob/99c556e25f3258007513378c8978cc707eab3b5c/tap_github/__init__.py#L653) code). So I'll just mark `pull_requests` stream as incremental.

[2021-04-21 11:28] yevhenii-ldv opened #3007 "Source Zendesk Chat: Populate source with data"
## Tell us about the problem you're trying to solve

Populate Zendesk Chat account with data

_Sub-task for Issue_ #1316

[2021-04-21 11:43] vovavovavovavova commented on #2910
I want to clarify a moment here. The responce.json() output can be any json-serialized object, as well object, as well array, as well array of arrays of objects, as well array of digits. The current validation accepts only objects and that caused an issue.

Proposed `if it's a list - yield AirbyteMessage for each object in list.` WILL fail if we get array containing any integer, float of inner arr

[2021-04-21 12:47] davinchia commented on #2508
Note: when using the sandbox, I had to create a new account under integration-test@airbyte.io. No campaigns are populated.

[2021-04-21 12:52] jimbeepbeep commented on #2579
I am also appending each sync to BigQuery tables and would love for the normalized tables to be partitioned as it would enable significant downstream optimisation.

[2021-04-21 12:52] jimbeepbeep commented on #2959
This would be great!

[2021-04-21 13:19] vitaliizazmic commented on #2257
@sherifnada I've checked service account credentials from Lastpass. All works fine. I fetched sites, sitemaps and performance report. I think, it will be enough and we don't need to populate data manually.

[2021-04-21 14:01] davinchia commented on #2508
[This](https://github.com/MicrosoftDocs/Advertising-docs/blob/master/Advertising/bingads-13/guides/authentication-oauth-identity-platform.md) is the most complete guide to Bing Authentication I found.

[2021-04-21 14:16] #3005 closed

[2021-04-21 15:35] #2886 closed

[2021-04-21 16:19] meenagangadharan commented on #2459
I edited the code to remove pagination and kept it simple to extract the data with columns/rows separated
I added the schema in discover, catalog and configured_catalog.json
and extracted the data in a json file.. It extracted the 50 records but considered it as 1 record.
Any other modification to be done to separate them ..?

Earlier with pagination too it extracted all records but end of it, its

[2021-04-21 17:23] #2782 closed

[2021-04-21 17:52] cgardens opened #3010 "TZ env variable is an inadvertent dependency of the Airbyte build"
## Current Behavior
[code]

* `./gradlew build` now depends on the host machine having `TZ=UTC` as an env variable. we should not require this and should have the build system handle setting this internally.
* `CORE_ONLY=1 ./gradlew build` seems to be running oracle tests. I haven't been able to reproduce this when running `--dry-run`

convo: https://airbytehq.slack.com/archives/C019WEENQRM/p16189

[2021-04-21 17:58] kevinob11 commented on #2800
Pinging here for a bit of help / guidance if possible, as this has become quite the headache for me. I pull in a bunch of raw data from other systems using Airbyte, then connect them with other data to create simpler views that my reporting and mapping tools consume. As stated earlier in this issue that is a problem because those views get deleted in a cascade when the Airbyte tables are re-made.

[2021-04-21 18:05] blotouta2 commented on #3010
Thanks @cgardens for considering this issue on priority

[2021-04-21 18:20] keu opened #3011 "Source Hubspot: Add required scopes"
## Tell us about the documentation you'd like us to add or update
For each stream check with API docs and add the required scopes.

## Are there any related areas of documentation that currently exist? Could you point to them?

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368226633735) by [Unito](https://www.unito.io)

[2021-04-21 21:03] sherifnada opened #3013 "New source: Square"
## Tell us about the new integration you’d like to have
https://developer.squareup.com/us/en

## Describe the context around this new integration
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you want to run syncs?
* If this is an API source connector, which entities/endpoints do you need supported?

## Describe the alternative

[2021-04-21 21:53] michel-tricot commented on #2800
Hey @kevinob11, @ChristopheDuong will follow up.

What is your timezone btw? (just in case it ends up easier to resolve with a zoom call)

[2021-04-21 22:00] kevinob11 commented on #2800
Thanks so much, my timezone is US/Pacific

[2021-04-21 22:29] jrhizor opened #3014 "allow users to access both the api and webapp from the same port"
## Tell us about the problem you're trying to solve
We have a lot of users that run into problems when dealing with separate ports. There are two main cases:

1. Confusion when setting up tunnels
1. Problems dealing with setting `API_URL`

I've personally run into at least five instances of these types of issues. I imagine there are more cases I haven't been involved in.

## Describe the solution

[2021-04-21 22:32] michel-tricot commented on #3014
That's a great idea!

[2021-04-21 22:33] jrhizor commented on #2598
To add to my comment above, automatic upgrades could happen within the server at startup:
* The server would be responsible for migrations.
* It would also be responsible for db initialization.
* Before updating, it would save a backup snapshot of the configuration so it'd be possible to revert.
* We would need to disable the API and UI or make it read only during the upgrade process.

[2021-04-21 22:49] jrhizor opened #3015 "add tracking for feature-level usage in connectors"
We don't know precisely how users adopt features like Postgres SSL support, CDC, S3 staging for warehouse copies, etc. This makes it difficult to understand if our work is:
1. Actually solving problems for production users
2. Failing for a specific feature or combination of features
3. Communicated properly to our user base

I'd like to add tracking at the sync worker level that records (based on

[2021-04-21 22:55] jrhizor opened #3016 "add tracking for sync-level configurations"
This issue is similar to https://github.com/airbytehq/airbyte/issues/3015 except it is addressing sync-level features.

We should know:
* the popularity of destination sync modes
* failure rates w.r.t. different sync modes / primary key configuration / cursor configuration

The implementation for this would be much more manual than https://github.com/airbytehq/airbyte/issues/3015, since we would h

[2021-04-21 23:13] erichartono commented on #2889
@ChristopheDuong I got that error "String length exceeds DDL length" on stl_load_errors table in redshift. I agree that this error is in RedShift.

However, with MS SQL to Redshift, I think the issue is when syncing VARCHAR(MAX) on MS SQL to Redshift as VARCHAR(65535). I think redshift doesnt support VARCHAR(MAX).

[2021-04-21 23:54] bclipp commented on #2075
The original use case was as a destination, but for a source, I could see that being useful also.

[2021-04-22 00:30] #2741 closed

[2021-04-22 00:45] meenagangadharan commented on #2459
I am extracting the r['data'] part from the response and keeping it as a "dict" since it is the required format of AirbyteMessage. It throws the below error:
2021-04-22 00:39:09 INFO (/tmp/workspace/55/0) DefaultAirbyteStreamFactory(lambda$create$0):73 - http_method: get
2021-04-22 00:39:09 ERROR (/tmp/workspace/55/0) LineGobbler(voidCall):69 - pydantic.error_wrappers.ValidationError: 1 validation

[2021-04-22 02:29] michel-tricot commented on #3003
The mockup looks good. Just setting expectation though: pressing upgrade will open the documentation.

I would be find if we make the message not dismissable or if dismissable then it comes back at least once a day

[2021-04-22 02:57] johnlafleur commented on #3003
I'm okay with once a day. I feel it's a bit pushy, but if we want to increase the conversion to upgrading, this is what needs to be done.

[2021-04-22 03:41] erichartono commented on #2890
@ChristopheDuong There are 2 rows on _airbyte_raw_contact_lists table that fits this below log.
[logs-245-0.txt](https://github.com/airbytehq/airbyte/files/6355355/logs-245-0.txt)

[code]

[code]

[2021-04-22 04:13] erichartono commented on #2890
@ChristopheDuong Maybe because filters attributes has double array, normalisations think this is invalid object, as it might expect to get a single array of filters.

[2021-04-22 09:03] ChristopheDuong commented on #2890
Could you share the associated `destination_catalog.json`, it would contain the JSON schema describing this data to see if the two arrays structure is well described in there or not?

[2021-04-22 09:53] ChristopheDuong commented on #2800
It's coming up soon with this: https://github.com/airbytehq/airbyte/issues/2959, I hope that it would solve this kind of post-sync transformations chained after the replication from Airbyte completes

If you had an Airflow instance, you could link them up together too: https://docs.airbyte.io/tutorials/using-the-airflow-airbyte-operator

Otherwise, looking at the next topics to handle on normaliza

[2021-04-22 10:04] ChristopheDuong commented on #2800
Another idea is also to recreate the view automatically when a user is querying the table but it would depend on your use case and tooling that you have... If you need, we can indeed jump in a call to discuss this more in a synchronous manner

[2021-04-22 10:29] vitaliizazmic commented on #2438
## Integration Vetting Azure Active Directory
Integration hasn't already been vetted

**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
For calling Microsoft Graph API it is needed to get **access token** following [instruction](https://docs.microsoft.com/en-us/graph/auth-v2-service?context=graph%2Fapi%2F1.0&view=graph-rest-1.0).

**Creating an acco

[2021-04-22 13:17] #2779 closed

[2021-04-22 13:18] davinchia commented on #2779
Done with #2856

[2021-04-22 13:19] davinchia commented on #2856
Done with #2942

[2021-04-22 13:19] #2856 closed

[2021-04-22 13:28] davinchia commented on #2687
Closing this since Jared's explanation seems like the right solution. Please reopen if you encounter this again!

[2021-04-22 13:28] #2687 closed

[2021-04-22 13:34] davinchia commented on #2539
@tfriedel we recently improved MongoDB schema discovery #2900. do you want to give this another shot?

[2021-04-22 13:35] davinchia commented on #2540
I'm going to close this issue since relevant issues have been created.

Thanks @ronakbaps !

[2021-04-22 13:35] #2540 closed

[2021-04-22 13:41] davinchia commented on #2459
@meenagangadharan let's move this conversation to Slack. Any questions will be answered quicker since all team members are there and messages are better surfaced to us.

I'm going to close this ticket for now.

[2021-04-22 13:41] #2459 closed

[2021-04-22 13:45] #2930 closed

[2021-04-22 13:46] davinchia commented on #2399
This seems solved. Closing for now. Please reopen if there are more questions!

[2021-04-22 13:46] #2399 closed

[2021-04-22 13:47] davinchia commented on #2376
@sherifnada this seemed like a good Santa use case! Feed two birds with one scone as they say.

[2021-04-22 13:50] #2337 closed

[2021-04-22 13:54] #3007 closed

[2021-04-22 13:55] yevhenii-ldv opened #3024 "Source Zendesk Chat: Create source scaffolding and populate schemas folder"
## Tell us about the problem you're trying to solve
Create source scaffolding and populate schemas folder for all streams.

_Sub-task for Issue_ #1316

[2021-04-22 13:56] #2293 closed

[2021-04-22 13:57] davinchia commented on #2277
@cgardens does the release process document I wrote cover this? or did you have something else in mind?

[2021-04-22 13:59] davinchia commented on #2271
Closing this as stale. @danths please reopen if this issue still persist!

[2021-04-22 13:59] #2271 closed

[2021-04-22 14:01] davinchia commented on #2240
Closing as we've chosen a different approach to doing this.

[2021-04-22 14:01] #2240 closed

[2021-04-22 14:02] davinchia commented on #2225
Closing as stale. Please reopen if this issue still persist!

[2021-04-22 14:02] #2225 closed

[2021-04-22 14:03] #2208 closed

[2021-04-22 14:06] davinchia commented on #2099
@djKooks are you still running into this?

[2021-04-22 14:08] davinchia commented on #2013
Done with https://github.com/airbytehq/airbyte/pull/2987!

[2021-04-22 14:08] #2013 closed

[2021-04-22 14:08] davinchia commented on #1950
@cgardens this should be done yes?

[2021-04-22 14:09] davinchia commented on #1928
@Elshir is this still causing a problem?

[2021-04-22 14:12] davinchia commented on #1921
@roshan with 0.21.0-alpha, supported connectors will automatically duplicated the source schema into the destination. See this [documentation](https://docs.airbyte.io/architecture/namespaces) - should make it even easier for you!

[2021-04-22 14:15] davinchia commented on #1872
@jrhizor since we have temporal, can this be closed?

[2021-04-22 14:47] sherifnada commented on #2539
Please reopen the issue if the problem persists but I believe it should be good to go now!

[2021-04-22 14:56] #2902 closed

[2021-04-22 15:49] sherifnada commented on #2376
partially -- this is still an issue due to #2627 . the user's problem was that the initial sync took far too long (huge slack workspace) so it always timed out and due to #2627 didn't pick up where it left off on the next attempt.

[2021-04-22 16:10] kevinob11 commented on #2800
#2959 certainly seems interesting, I wonder if you would see a dead-time between the drop of the table and the rebuild of the views if the changes aren't in the same transaction.

Airflow might work here, I wonder if you'd see the same issue as above. I suppose both of these would be mitigated if you are just using them to update a "materialized" table instead of a view so you are just addressing

[2021-04-22 16:14] Zirochkaa commented on #2607
@hoanghapham

Here is a connected issue #2886.
We just merged this bug into master and released a new version of the connector.

Upgrade your connector to version `0.2.3` and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further quest

[2021-04-22 16:15] jrhizor commented on #1872
I'm not 100% sure. Our approach for it changed since I posted that comment.

We'll need to run the steps posted to try to reproduce.

[2021-04-22 16:26] keu commented on #2182
implemented in #2937

[2021-04-22 16:26] #2182 closed

[2021-04-22 16:50] Moofasax commented on #2835
yes i believe it does! We can close!

[2021-04-22 16:50] #2835 closed

[2021-04-22 16:53] Moofasax commented on #2836
Thanks @sherifnada appreciate all the help you provide, i think we can close, sorry for the scope creep on this issue! For anyone interested, within [postgres you can drill into jsonb columns](https://www.postgresql.org/docs/10/functions-json.html) which helps us for some of our reporting!

Example:
[code]

[2021-04-22 16:53] #2836 closed

[2021-04-22 18:23] ChristopheDuong commented on #2800
Yes, I sent you an invite for tomorrow at 10am PST time (I am based in Europe so it's 7pm for me)

[2021-04-22 18:25] kevinob11 commented on #2800
Perfect, I'll chat with you then!

[2021-04-22 18:36] cgardens commented on #2750
I want to provide a more measurable way to determine when the goals of this ticket have been achieved.

We should be able to ask a new hire (e.g. Davin or Mason) a question about the rules of normalization. They should be able to know how to answer that question. It is okay if not all questions have answers yet (we are not worried about full completeness / every single edge case yet). But if the a

[2021-04-22 18:56] sherifnada opened #3028 "Create a contributor bootstrap script"
## Tell us about the problem you're trying to solve
As a contributor I want to run a single bash command that verifies that I have all the necessary commands to get started:

* Docker
* Java 14
* pip 20.1
* Python 3.7.9
* jq
*

## Describe the solution you’d like
A single bash script that makes this process as seamless as possible by verifying that I have the right version of all software installe

[2021-04-22 20:34] sherifnada opened #3029 "Allow spec.jsons with no properties"
A user reported wanting to create a source that doesn't have any configuration properties. However, his connector didn't function in the UI because the UI expected some properties in spec.json

He got the error

[code]

We should make it not required to have params in the spec.json

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368227056333) by [Unito](

[2021-04-22 21:31] kurnito365 opened #3030 "Add the Refund & Bank Account Objects to be pulled in the Stripe Connector"
Hi there, as we would like to see if we can get the refund object added to Airbyte's Stripe Connector. We want to be able to build a comprehensive Stripe report on refunds.

With it available in the connector we would be able to query the REFUND table in our data warehouse (Snowflake) and then build a report using our BI tool.

[2021-04-22 21:45] cgardens commented on #3030
Thanks!

While we are it, we should also bank_accounts.

[2021-04-23 00:12] davinchia commented on #2324
We've decided to deprioritise this for now. Closing.

[2021-04-23 00:12] #2324 closed

[2021-04-23 01:33] #2539 closed

[2021-04-23 01:58] nclsbayona commented on #3028
Hi! Not sure if this is what you meant, maybe it is, please let me know.
[check_requirements.txt](https://github.com/airbytehq/airbyte/files/6362162/check_requirements.txt)

[2021-04-23 04:42] hoanghapham commented on #2607
Thanks @Zirochkaa. looks like you removed the full refresh modes from the connectors?
The incremental modes work now, though still not as expected. The incremental dedup mode still produce duplicated records in the destination table

[2021-04-23 06:17] varunbpatil commented on #853
Hi, just a curious onlooker here. The `oneOf` in the jsonschema seems to be not very nice especially with `storage` marked as required and then the enum taking only one value and also `storage` being repeated multiple times.

How about using the technique described [here](https://json-schema.org/understanding-json-schema/reference/conditionals.html)?

[code]

Seems more readable to me and less err

[2021-04-23 09:27] davinchia opened #3035 "2-stage syncs strategy for more efficient copying."
## Tell us about the problem you're trying to solve
A [user](https://airbytehq.slack.com/archives/C01MFR03D5W/p1619158994214100) is ran into an issue with the Redshift destination where he was trying to upload a table of 115GB - the current per-table limit we support is 100GB. This is because the maximum parts an S3 multipart upload can contain is 10k. We currently have each size to be 10MB, givin

[2021-04-23 09:28] arhip11 commented on #2420
@yevhenii-ldv, @sherifnada - hey guys, m10 cluster is ready.

[2021-04-23 09:29] davinchia commented on #3035
FYI: GCS uses composite objects instead of parts https://cloud.google.com/storage/docs/composite-objects

[2021-04-23 10:05] jmriego opened #3036 "Stuck "executing query for table" on a big MySQL table"
## Expected Behavior
I'm expecting the table to replicate

## Current Behavior
Airbyte gets stuck "Executing query for table" for a very long time until it hits a timeout. Other tables replicate perfectly. The only difference I can see is that this table is much bigger but I would expect that not to be an issue if using a cursor. Any ideas what could cause this

## Logs
[code]

## Steps to Reprodu

[2021-04-23 10:36] gregsharples opened #3037 "Source MongoDB: Sync to Postgres fails with "Infinity not allowed in JSON""
## Expected Behavior
Mongo Source data should be sync'd to Postgres destination with successful handling on Infinity in the source Mongo collection data.  The Infinity values should be graciously handled (potentially with warning messages in the UI).

## Current Behavior
Sync fails with a "Infinity not allowed in JSON" error in the log:

`2021-04-21 07:56:00 ERROR (/tmp/workspace/21/2) LineGobbler

[2021-04-23 13:32] #3024 closed

[2021-04-23 13:33] yevhenii-ldv opened #3038 "Source Zendesk Chat: Implement spec, check, and discover"
## Tell us about the problem you're trying to solve
Implement spec, check, and discover methods

_Sub-task for Issue_ #1316

[2021-04-23 13:34] #3038 closed

[2021-04-23 13:36] yevhenii-ldv opened #3039 "Source Zendesk Chat: Implement Read"
## Tell us about the problem you're trying to solve
Implement Full Refresh `read` method for all Chat`s streams

_Sub-task for Issue_ #1316

[2021-04-23 16:10] vitaliizazmic commented on #2585
## Integration Vetting
Integration hasn't already been vetted

**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
Zoho REST APIs [uses the OAuth 2.0 protocol](https://www.zoho.com/books/api/v3/#oauth) to authorize and authenticate calls.

@sherifnada we can try to use [Oauthlib](https://github.com/oauthlib/oauthlib) like in Quickbooks Singer Tap, but

[2021-04-23 17:51] michel-tricot commented on #3036
@cgardens I assume https://github.com/airbytehq/airbyte/pull/3031 will fix that issue right?

[2021-04-23 17:51] michel-tricot commented on #3036
thanks @jmriego for reporting!

[2021-04-23 17:58] cgardens commented on #3036
@jmriego hi. that's actually an issue i'm working on now ([PR](https://github.com/airbytehq/airbyte/pull/3031)). I'm waiting for feedback from the team on it. If the approach in that PR is adopted, I imagine we would have a fix for this next week.

[2021-04-23 23:55] sherifnada opened #3041 "Santa: HTTPAuthenticator should authenticate a request rather than assume auth lives in the header"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368227238569) by [Unito](https://www.unito.io)

[2021-04-24 01:20] sherifnada opened #3042 "Santa: include formatting/linting logic in the CDK by default"
## Tell us about the problem you're trying to solve
Currently we need to run `./gradlew format` to format a python package. I would rather run something like `base-python format` or `make format` from the connector directory to format.

[2021-04-24 15:59] marcosmarxm commented on #3003
@johnlafleur what do you think to create a main page displaying => next sync scheduled, some basic analytics to the user AND a list showing when some user source need to be upgraded Airbyte version and source/destination? Having a main page with useful information to users can be a nice place to help interact with them. Sorry my mock whats the first I founded for free :art:
![image](https://user-i

[2021-04-25 03:37] sherifnada opened #3044 "Source Iterable: update to use latest version of CDK"
## Tell us about the problem you're trying to solve
Iterable was one of the first sources to be implemented on an early version of the CDK. The framework has since evolved and Iterable is using a fairly outdated version, so we should update it once the CDK is a bit more stable.

[2021-04-26 01:42] codefriar commented on #2763
For anyone else wondering, here's the magic for traefik 2.

The web front end will need standard traefik labels, but the api will need tags that add `&& PathPrefix(`/api`)` and therefor look like this:

`"traefik.http.routers.{{ service_item }}-api-http.rule=Host(`{{ service_domain }}`) && PathPrefix(`/api`)"`

[2021-04-26 03:40] sherifnada commented on #3037
@gregsharples thanks for the very thorough report! looking at our backlog i'm currently anticipating a fix in about two weeks. Will update you here as we make progress. You're also welcome to contribute a fix if you'd like it sooner than that!

[2021-04-26 04:04] sherifnada opened #3049 "Santa: use cookiecutter instead of PlopJS for generating Python modules"
## Tell us about the problem you're trying to solve
It's not ergonomic to require that a Python dev have a working `node`/`npm` to bootstrap their connector module.

## Describe the solution you’d like
Use [cookiecutter ](https://cookiecutter.readthedocs.io/en/1.7.2/)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368162442187) by [Unito](https://www.un

[2021-04-26 04:19] sherifnada commented on #1980
TODO items remaining:
1. Allow configuring lookback windows (threads lookback window and start_date for when the connector should start pulling data)
2. Allow configuring whether to join all channels or to sync data only from channels the bot is already in
3. publish & update the current connector

[2021-04-26 04:28] sherifnada commented on #3028
@nclsbayona thanks for creating this! This is a great start. some comments:

1. Could you create a PR so we can review/merge afterwards?
2. could you put this into a bash script in `./tools/bin/` ?

[2021-04-26 04:35] sherifnada opened #3051 "Support connected accounts in new Stripe connector"
## Tell us about the problem you're trying to solve
We are going to release a new Stripe connector based on the Airbyte CDK and move away from the Singer based one. The new connector is called `source-stripe`. Before releasing it we want to support connected accounts.

Supporting connected accounts requires passing an account ID in the header of every request as indicated [here](https://stripe.com

[2021-04-26 05:18] #2153 closed

[2021-04-26 06:17] sherifnada commented on #3030
Note to implementer: this should be done on the new `source-stripe` connector NOT on the `source-stripe-singer` one.

[2021-04-26 09:05] jimbeepbeep opened #3052 "New Integration Request: URL Tables"
## Tell us about the new integration you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

OK this is a slightly strange one, however I often seem to need to snapshot table data from public URLs and stream the content as JSON into BigQuery.

## Describe the c

[2021-04-26 11:56] rajatariya21 commented on #2884
Thanks @jrhizor for your suggestion.
Execute kustomization.yaml file by following command and airbyte deployed successfully.
kustomize build |  kubectl apply -f -

[2021-04-26 11:56] #2884 closed

[2021-04-26 12:51] davinchia commented on #2822
@swanandvk the latest version's current behaviour has changed from appending the schema to the table name to mirroring the source layout. Does this fix things?

[2021-04-26 15:30] nclsbayona commented on #3028
#3058

[2021-04-26 17:47] jrhizor opened #3056 "Terraform deploy for SM"

[2021-04-26 17:48] jrhizor opened #3057 "Add webhook Slack notifications for failures for SM"

[2021-04-26 18:02] Moofasax opened #3058 "Support self signed certificates for air gap environments"
## Tell us about the problem you're trying to solve
Airbyte seems like a perfect solution for companies who have their datalakes in an [air gapped environment](https://en.wikipedia.org/wiki/Air_gap_(networking)) that reaches out to external systems and EL(T)s the data into their private networks. However a lot of companies use proxies and resign requests with their own trusted certs, airbyte serve

[2021-04-26 18:09] jrhizor opened #3059 "Monitoring for SM"

[2021-04-26 18:10] jrhizor opened #3060 "judge.me source"
## Tell us about the new integration you’d like to have
Judge.me source

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368227477956) by [Unito](https://www.unito.io)

[2021-04-26 18:11] jrhizor opened #3061 "Everflow Source"
## Tell us about the new integration you’d like to have
Everflow source

[2021-04-26 18:12] jrhizor opened #3062 "tune.com source"
## Tell us about the new integration you’d like to have
tune.com source

[2021-04-26 18:24] jrhizor opened #3063 "postgres cdc video"
We should create a demo video like https://www.youtube.com/watch?v=Rcpt5SVsMpk for CDC

[2021-04-26 18:26] cgardens commented on #2956
spec created. the K8s support part was specced out more fully with Jared.

[2021-04-26 18:26] #2956 closed

[2021-04-26 18:26] cgardens commented on #2837
closed by https://github.com/airbytehq/airbyte/pull/2878

[2021-04-26 18:26] #2837 closed

[2021-04-26 19:06] yeedster opened #3064 "Jira Issue History"
## Tell us about the problem you're trying to solve
Trying to find how to track jira issue history through the tables created by airbytes.  There doesn't seem to be any data for issue history currently.

## Describe the solution you’d like
Have the issue history table be included in the json data or have a seperate table for event/issue history.

## Describe the alternative you’ve considered or us

[2021-04-26 19:17] blotouta2 opened #3065 "Looking for User Authentication APIS"
## Looking for Authentication APIS

## Describe the solution you’d like
We require User Authentication API for security purposes.

[2021-04-26 19:52] geekwhocodes opened #3066 "New Integration Request: Azure Table Storage"
## Tell us about the new integration you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

We use [`azure table storage`](https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-overview) extensively in our projects. It would be great if we add th

[2021-04-26 19:54] geekwhocodes commented on #3066
Please let me know if anyone is already working on it :)

[2021-04-26 20:27] sherifnada commented on #2508
Deprioritized for the time bing due to bandwidth contstraints. Will update here as we revisit.

[2021-04-26 20:28] #2770 closed

[2021-04-26 20:28] sherifnada commented on #2075
We've received access to a sandbox account over the weekend. Will begin spec'ing out this week.

[2021-04-26 20:29] sherifnada commented on #2414
Successfullly implemented oauth for okta in Santa. Next steps will be to fully implement the connector. Should be very straightforward - hardest part is obtaining the refresh token.

[2021-04-26 20:33] sherifnada commented on #1969
Deprioritized by one sprint, Will revisit next sprint (starting beginning of May)

[2021-04-26 20:38] sherifnada commented on #2771
After investigation, deprioritized as it was not required for most of the API in the short term roadmap. But we will revisit this soon.

[2021-04-26 20:38] sherifnada commented on #2649
Deprioritized in favor of reference docs and tutorial.

[2021-04-26 20:39] sherifnada commented on #2760
WIP. Targeting delivery by today.

[2021-04-26 20:41] cgardens commented on #3028
@sherifnada i merged @nclsbayona 's script. Do we want to add it as part of the build or should we just add it to the docs as a pre requ?

[2021-04-26 20:41] sherifnada opened #3067 "Santa: Concepts documentation"
## Tell us about the documentation you'd like us to add or update
Ticket to track work happening in #3048

[2021-04-26 20:57] cgardens opened #3068 "airbyte-cli build is not succeeding"
## Expected Behavior
*Tell us what should happen.*

## Current Behavior
*Tell us what happens instead of the expected behavior.*

## Logs
[code]

Seems like something is failing in the go compilation land in restish

## Steps to Reproduce
1. clean out all cached docker images
1. `CORE_ONLY=1 ./gradlew build`

Building failing in github on master: https://github.com/airbytehq/airbyte/runs/244224162

[2021-04-26 22:53] johnlafleur commented on #3003
A home page could definitely help indeed. But it would also need a lot more time to think about as we want to display the right information there. I feel we can address the problem addressed by the issue with some first intermediary steps, before having a home page.

[2021-04-26 23:36] marcosmarxm opened #3073 "New Source: Bitrix24 CRM"
## Tell us about the new integration you’d like to have
https://www.bitrix24.com/

## Describe the context around this new integration
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you want to run syncs?
* If this is an API source connector, which entities/endpoints do you need supported?

## Describe the alternative you are co

[2021-04-27 00:21] cgardens opened #3075 "Fix DBT Upgrade Issues"
We have upgraded dbt to 0.19.0 twice now and had to downgrade both times because the upgrade causes a host of build problems on mac. Before we upgrade again we need to fix them.

Most recent downgrade: https://github.com/airbytehq/airbyte/pull/3072
Full slack convo: https://airbytehq.slack.com/archives/C019WEENQRM/p1619469987331600

## Expected Behavior
* It should build.

## Current Behavior
* fa

[2021-04-27 00:24] kevinob11 opened #3076 "Airbyte fails if it doesn't have internet access, proxy config not working as expected"
## Expected Behavior
I run Airbyte behind a proxy. In earlier versions I allowed it around the proxy during updates, then disabled internet access after the update. In the latest update Airbyte won't load with internet access disabled. I attempted to configure our proxy so I could consider whitelisting whatever it is calling out to but the Airbyte containers (I tried with web and server) don't see

[2021-04-27 04:08] sherifnada commented on #3028
We should definitely add it to the getting started docs and maybe to the build if we can get any error messages to display nicely. Will close this ticket once that's done.

[2021-04-27 05:06] michel-tricot commented on #3066
Hey @geekwhocodes!!

I don't think anyone is working on it and you're most welcome to take a stab at it.

Do you need any help to get started?

[2021-04-27 06:12] sherifnada opened #3078 "CDK: add flag to turn on debugging mode"
## Tell us about the problem you're trying to solve
It would be nice to have a flag `--debug` which outputs a bunch of extra logs like:

* what the stream slices are
* which URL endpoints/params/etc.. are being hit
* etc. basically various information that can give me visibility about what's happening in the connector

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/120036791

[2021-04-27 07:49] #3067 closed

[2021-04-27 07:49] sherifnada commented on #2760
finished in #3079

[2021-04-27 07:49] #2760 closed

[2021-04-27 07:58] ChristopheDuong commented on #2890
To read the catalog.json, you would need to run such commands:

As described here: https://docs.airbyte.io/tutorials/exploring-workspace-folder#reading-the-content-of-the-catalog-json-file

(Maybe you need to check the exact file naming: `docker run -it --rm -v airbyte_workspace:/data busybox ls /data/245/0/normalize`

[2021-04-27 08:08] sherifnada opened #3081 "CDK: use poetry for package management"
## Tell us about the problem you're trying to solve
Stop trying to make pip happen

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368104277189) by [Unito](https://www.unito.io)

[2021-04-27 09:27] gregsharples commented on #3037
Thanks @sherifnada.  I'll take a look but with my Ruby skills it might take me a lot more than a couple of weeks ;)

[2021-04-27 10:01] #2750 closed

[2021-04-27 10:02] davinchia opened #3083 "Generate Protocol Class File Without License Hangs Indefinitely."
## Expected Behavior
When I run `airbyte-integrations:bases:airbyte-protocol:generateProtocolClassFilesWithoutLicense`, I expect the task to finish.

## Current Behavior
Instead, every so often, especially if my laptop has been up for a long time, the `:airbyte-integrations:bases:airbyte-protocol:generateProtocolClassFilesWithoutLicense` task starts hanging indefinitely.

This is solved once after

[2021-04-27 14:25] geekwhocodes commented on #3066
@michel-tricot thanks for confirming it. I went through documentation and I think I am good for now but
I am sure I will need help in near future, will ask on Slack :)

[2021-04-27 17:58] jrhizor commented on #2595
I'm unassigning myself now that the backend piece is done: https://github.com/airbytehq/airbyte/pull/3069

[2021-04-27 18:31] cgardens commented on #2595
@Jamakase The backend now returns an error when there is a server mismatch. All requests sent to the backend will have this error. Like we do with server is not ready yet and no javaascript, we want to have a screen in the UI that says that there is a version mismatch! and refers people to this page in the docs: https://docs.airbyte.io/tutorials/upgrading-airbyte

[2021-04-27 18:40] ifokeev opened #3089 "Source name not updating"
## Expected Behavior
Expecting that source name is updated

## Current Behavior
It's the same after update, looks like regression, because worked in previous versions

## Logs

<img width="1755" alt="Screen Shot 2021-04-27 at 21 38 33" src="https://user-images.githubusercontent.com/2017148/116294690-edbb1980-a7a0-11eb-88d6-d7cbc42b57a1.png">

## Steps to Reproduce
1. Go to added source
2. Go to se

[2021-04-27 19:15] Fredehagelund92 opened #3090 "Adding SyncMethod "Full Refresh - Deduped + history""
## Tell us about the problem you're trying to solve

Currently it is only possible to do the following sync methods:
- Full Refresh - Append
- Full Refresh - Overwrite
- Incremental - Append
- Incremental - Deduped + history

This might be sufficient for most cases, but in some cases you might not be able to do an incremental sync. Lets say the source does not have and `updated_at` or auto_increme

[2021-04-27 19:33] Fredehagelund92 opened #3092 "Change State using the UI"
## Tell us about the problem you're trying to solve
As a Data Engineer i am used to having control on all parts of the extract/ingest process. However in Airbyte i am missing a feature to manipulate or manual set the `state`. In some cases you might be working with legacy systems that produce data in the wrong order, which might invalidate the `state` if the sync happen during this phase.

Another

[2021-04-27 21:37] michel-tricot commented on #3092
That's a great idea. I wonder if we could display this information in the `connections` settings page.

[2021-04-28 00:37] marcosmarxm commented on #2148
@sherifnada can i take this?

[2021-04-28 00:38] davinchia commented on #2075
The deadline for this has been shifted to June. This is being moved out of this week's sprint.

[2021-04-28 01:09] marcosmarxm commented on #3089
Hi @ifokeev thanks for reporting this, currently there already an open issue #2090 related to this.

[2021-04-28 01:23] marcosmarxm opened #3098 "Google Analytics connector is failing"
## Expected Behavior
CI with status success and no problem configuring GA connector.

## Current Behavior
Looks that Google Analytics connector CI is failing.
https://status-api.airbyte.io/tests/summary/source-googleanalytics-singer/

An user had problem trying to use the connector and link the status-api also.
see [convo](https://airbytehq.slack.com/archives/C01MFR03D5W/p1619514514278200)
(will t

[2021-04-28 02:06] sherifnada commented on #2148
@marcosmarxm go for it!

[2021-04-28 03:45] sherifnada opened #3102 "python acceptance test script requires pip install and can launches python2 on mac"
## Tell us about the problem you're trying to solve
ticket to track an issue I faced in [this PR](https://github.com/airbytehq/airbyte/pull/2937/files#diff-5a461e487a4944b24bddb633cd338eaa136f894494f39825b2056021ff789b03R1) when running `acceptance-test-python.sh`:

1. I hadn't run `pip install` so the script failed
1. On many macs, `python` links to python2, which is the case on my mac, so it bro

[2021-04-28 04:08] sherifnada commented on #3092
for context the answer I gave Fred in slack:

export your airbyte configuration from the admin UI
turn off airbyte docker-compose down
untar the downloaded archive
inside airbyte_db/JOBS.yaml find the latest successful job run for the connection whose state you want to change. it’s important that this is the latest, because state is considered to be whatever was output by the last successful sync

[2021-04-28 05:08] zkiffli commented on #1232
Thanks everyone for the brilliant effort. 🥇

[2021-04-28 05:23] zkiffli opened #3103 "Oracle connector for Destination"
## Tell us about the new integration you’d like to have
* Which source and which destination?
+++ Oracle for Destination.
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
+++ We are using multiple oracle DB version (11 to 19)

## Describe the context around this new integration
* Which team in your company want

[2021-04-28 06:16] JensGorman commented on #1232
Yes, thank you all very much!

[2021-04-28 08:19] dubravcik opened #3107 "New Source: Twitter Ads"
## Tell us about the new integration you’d like to have
There are few mainstream marketing platforms (Google Ads, LinkedIn, Facebook, Bing etc) and Twitter is one of them. We need to analyze performance of ads like impressions, conversions, costs etc per campaign/ad scheduled in our company account.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/12003682278

[2021-04-28 09:06] ChristopheDuong commented on #2890
Yes, I have been able to reproduce this issue and it is indeed caused by the double arrays structure...

How blocking is this `filter` field for you?

Is it ok if the normalization/sync would be able to skip this exception and continue but the content of that field may not be well parsed yet...?

[2021-04-28 11:27] marcosmarxm commented on #3103
Hi @zkiffli thanks for open the issue! We already have issue #2962 to discuss this. Can you comment on your case on that?
I think using the base jdbc-destination and the community version of Oracle dbt to normalize data adding the Oracle destination is something doable.

Closing as duplicate.

[2021-04-28 11:27] #3103 closed

[2021-04-28 12:03] vitoravancini opened #3108 "Unnesting array fields results in empty unnested columns"
## Expected Behavior
I have an use case where data gets extracted with the following schema:

`{"type": "RECORD", "record": {"stream": "exchange_rate_nested_currencies", "emitted_at": 1602637589000, "data": { "id": 1, "currencies": [{"short_name": "NZD", "value": 1.14},{"short_name": "HKD", "value": 2.13}], "date": "2020-08-29T00:00:00Z"}}}
`

and the catalog is the following:

`
{
  "streams": [

[2021-04-28 12:05] marcosmarxm commented on #2855
Great! I'll search for each data type for JDBC database and split individually the issue, this could be a good nice first issue to solve, WDYT?

[2021-04-28 12:09] zkiffli commented on #3103
Thanks @marcosmarxm thought that previous case just to resolve for source only. Btw, thanks for your assist.

[2021-04-28 12:19] marcosmarxm commented on #3108
Absolutely :partying_face: nice contribution btw this will helps a lot transferring API data to data warehouses

[2021-04-28 13:33] eduardgruy commented on #2149
+1. We see Synapse getting traction.
Please note that there are couple of solutions under the Azure Synapse workspace.

1st there is [Synapse dedicated SQL pool
](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-overview-what-is)
this is comparable to AWS Redshift and you can also use a similar loading strategy. That means JDBC drivers, COPY statement

[2021-04-28 13:41] eduardgruy commented on #573
+1. Would be great to have S3 destination that supports multiple formats. Ideally Deltalake/CSV/Parquet.
I suppose S3 would be used as a kind of landing zone so appending changes to a delta lake table would be perfect.

[2021-04-28 13:56] eduardgruy commented on #2989
+1. Would be great to have ADLS destination that supports multiple formats. Ideally Deltalake/CSV/Parquet.
In our scenario ADLS would be used as a kind of landing zone so appending changes to a delta lake table would be perfect.

[2021-04-28 14:58] #3030 closed

[2021-04-28 15:01] yevhenii-ldv opened #3112 "Source Zendesk Chat: Implement Incremental sync"
## Tell us about the problem you're trying to solve
Implement Incremental sync for `read` method.

_Sub-task for Issue_ #1316

[2021-04-28 15:20] yevhenii-ldv opened #3113 "Source MongoDB: migrate mongo connector to the new tests"
## Tell us about the problem you're trying to solve
For correct testing of the SSL in the MongoDB connector, we need to be able to run tests multiple times (for testing on a localhost and on a remote cloud).

## Describe the solution you’d like
Migrate mongo connector to the new tests.

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutio

[2021-04-28 15:25] yevhenii-ldv opened #3114 "Source MongoDB: replace the mapReduce command"
## Tell us about the problem you're trying to solve
Using the `mapReduce` command limits the number of clouds we can interact with.
For example, Atlas DB Cloud does not support `mapReduce` for free clusters.

## Describe the solution you’d like
Replace the `mapReduce` command in our `mongodb` connector with something else if possible.

[2021-04-28 15:39] Zirochkaa commented on #3030
@kurnito365

We just merged this feature into master and released a new version of the `source-stripe` connector.

Upgrade your connector to version `0.1.1` and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further questions.

Enjoy!

[2021-04-28 15:44] kurnito365 commented on #3030
thanks @Zirochkaa !!

[2021-04-28 15:50] MaxKrog opened #3115 "Facebook Marketing - Failing because Facebook API doesn't start reports in time"
## Expected Behavior
The Facebook Marketing connector should work.

## Current Behavior
I'm unable to finish any report because there's always at least one report in Facebooks system that takes longer than 2 minutes to start. This causes the integration to error out.

## Logs
2021-04-28 15:03:47 ERROR (/tmp/workspace/47/1) LineGobbler(voidCall):69 - f"AdReportRun {job} did not start after {runtime

[2021-04-28 15:53] sherifnada commented on #3030
@kurnito365 for this connector you'll need to Create a new connector : this a new iteration of our stripe connector that does not rely on the singer tap. It doesn't ship by default with Airbyte (yet! will be starting next week). So for now you'll need to add the connector like described in https://docs.airbyte.io/integrations/custom-connectors#adding-your-connectors-in-the-ui . The information for

[2021-04-28 15:55] marcosmarxm commented on #3115
It's the same error happening in integration tests: https://status-api.airbyte.io/tests/summary/source-facebook-marketing/
![image](https://user-images.githubusercontent.com/5154322/116434630-f5ba9e00-a820-11eb-8734-5dde62039f30.png)

[2021-04-28 15:56] MC1-RicardoLeka opened #3117 "Error while fetching server API version: (2, 'CreateFile', 'The system cannot find a specific file.')"
Hi,
I start the airbyte with no problem.
Create my first connector to a SQL Server and my destination to a Redshift.
A few seconds later, the web interface stopped working and the git terminal show an error:
[code]

[2021-04-28 18:11] kurnito365 commented on #3030
Hey @sherifnada @Zirochkaa I just tested out the new connector on my local and I'm missing a lot of the data I was able to see before from Stripe (like from the charges table for example).

I think I set up the new custom connector correctly with the information above, using also the same stripe account ID and definitely a Stripe API key that works. Just wondering if there's anything else I need t

[2021-04-28 19:02] sherifnada commented on #3030
@kurnito365 Is your account a connected account?

[2021-04-28 20:28] sherifnada opened #3118 "Create a script to make working with contributions easier"
## Tell us about the problem you're trying to solve
When a contributor creates a pull request from a fork, secrets are not accessible for them via the fork. Secrets are needed to run integration tests for a connector. Therefore, we can't tell whether CI will succeed if we merge their code. Our flow then becomes:

1. locally check out master and pull latest changes
1. create a branch `git checkout

[2021-04-28 22:11] #2185 closed

[2021-04-28 22:14] sherifnada opened #3122 "Setup connected account tests for Airbyte-native stripe connector"
## Tell us about the problem you're trying to solve
#3121 added support for reading data from stripe connected accounts.

However, we don't have adequate test coverage for testing data from Stripe Connected Accounts. To have that we'll need to do the following:
1. Use the lastpass creds "Stripe Connected Account Test Creds"  (put them in `secrets/connected_account_config.json`)
2. Use the credenti

[2021-04-28 22:23] #3115 closed

[2021-04-28 22:25] #3051 closed

[2021-04-28 22:30] sherifnada commented on #2149
@eduardgruy thanks a ton for the amazing context. This will be super helpful. We are bandwidth constrained at the moment but this is top of the list of priorities for us.

[2021-04-28 23:06] marcosmarxm commented on #3117
Hi @MC1-RicardoLeka are you running on Windows OS?

[2021-04-29 01:22] MC1-RicardoLeka commented on #3117
Hi,
yes, I´m running on Windows 10 (19042.928)

[2021-04-29 01:34] marcosmarxm commented on #3117
@MC1-RicardoLeka reading the logs looks is more related to a docker problem on Windows.
https://stackoverflow.com/questions/64952238/docker-errors-dockerexception-error-while-fetching-server-api-version

[2021-04-29 01:53] marcosmarxm commented on #3090
Yes, I'd this problem before in a project. I'll take a look to measure the effort and if is possible. @Fredehagelund92 are you willing to contribute? (no pressure :grimacing:!) I can help you set up env / checking what needs to change, if you like

[2021-04-29 02:03] marcosmarxm commented on #3089
@ifokeev I'll close this issue as duplicated but will raise it to the team because is not the first issue open related to this.

[2021-04-29 02:03] #3089 closed

[2021-04-29 06:50] Fredehagelund92 commented on #3090
Hi @marcosmarxm sure i’d like to get more familiar with the codebase, so if you can point me in the right direction then i can start start contributing 👍

[2021-04-29 07:54] sherifnada commented on #3107
@dubravcik Yup, this is definitely a great one to have. Would you be able to point us to which endpoints in the API you'd like to support off the bat? https://developer.twitter.com/en/docs/twitter-ads-api/api-reference-index

There's quite a few endpoints so it's easy to get lost 😅

[2021-04-29 08:02] sherifnada commented on #3064
@yeedster would this be the issue changelogs? There's a few issue "history" endpoints like comments, resolutions, changelogs, etc..

could you say more about which of these you'd be looking for?

API reference https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issues/#api-rest-api-3-issue-issueidorkey-changelog-get

[2021-04-29 08:07] sherifnada commented on #2762
blocked on https://github.com/litl/backoff/pull/124

[2021-04-29 11:26] rahulpadhy7 opened #3128 "Normalization fails when special characters such as & or @ is/are present in column-names in CSV files"
## Expected Behavior
Hey guys, I'm trying to move CSV files from S3 to BigQuery warehouse using Airbyte. Normally, syncing and resetting gets done.

## Current Behavior
But in 1 of the CSV files, in 1 of the column-names, the special character **&** is present, e.g., **Airbyte & Awesome**, and this is causing errors during Normalization. For debugging and confirming that this isn't a standalone ca

[2021-04-29 12:33] #3108 closed

[2021-04-29 14:31] #1119 closed

[2021-04-29 14:39] sherifnada opened #3132 "Source Acceptance Tests: explicitly opt-out of testing all streams output by discover operation"
## Tell us about the problem you're trying to solve
In some cases it is easy to forget to include streams in the test catalog. This can cause issues to go undetected in streams. The user should explicitly opt-out of verifying that all streams should be tested (or find some other way to guard against this sanely).

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/12003679125130

[2021-04-29 17:18] cgardens opened #3135 "Webapp Tests failing"
## Current Behavior
when i run `./gradlew airbyte-webapp:test`, the build _says_ it passed but in the logs I see errors:

    PASS src/core/jsonSchema/schemaToUiWidget.test.ts
    PASS src/core/jsonSchema/schemaToYup.test.ts
    PASS src/core/form/uiWidget.test.ts
    PASS src/components/ServiceForm/ServiceForm.test.tsx (5.339 s)
      ● Console

        console.error
          Warning: Failed pro

[2021-04-29 21:25] keu opened #3139 "Standard Tests: allow to configure test timeout from the config file"
## Tell us about the problem you're trying to solve
Some our connectors might not be very fast with sync process. It makes sense to have an option to customize timeout value per connector (per `acceptance-test-config.yml` file)

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve

[2021-04-29 21:45] cgardens opened #3142 "Add testing for Temporal Workflow/Activity Configuration"
## Tell us about the problem you're trying to solve
As we start having multiple activities per workflow (currently we just have one), we should be able to run tests that verify our Temporal configuration is valid. For example, I learned today that the public method on activities in the same workflow cannot have the same name. Luckily the acceptance tests caught it (with some debugging), but ideall

[2021-04-29 22:39] cgardens commented on #3142
mocking is actually less hard than i thought. going to take a pass at writing a test for the sync workflow.

[2021-04-29 22:46] marcosmarxm commented on #3090
@Fredehagelund92 you need to start from `Full Refresh - Append` code and then it’s a matter of handler the dedupe and the deleted rows in transformation steps (`base-normalization`).
* identify a `sync_session_id` for each batch of a full refresh
* flag rows with same primary keys that disappears from one batch to the next as the `_airbyte_deleted` rows
* and then from there, it’s pretty much the

[2021-04-29 22:49] erichartono commented on #2890
Ok to skip. Thanks Chris

[2021-04-29 23:17] marcosmarxm commented on #1958
@cgardens could we use [minIO](https://min.io/) as a generic solution for this? It's open-source s3 compatible (just saying because of the API) and runs on Docker so we can use it as middleware to cache, generate parquets/zip to dump into data lakes etc. And we don't need to worry about latency:

[2021-04-29 23:32] marcosmarxm commented on #3036
@jmriego can you upgrade to `0.22.0-alpha` and test if the error you had was solved?

[2021-04-29 23:39] marcosmarxm opened #3146 "Script to easily execute Airbyte actions (init, stop, upgrade to latest or specific version, clean start)"
## Tell us about the problem you're trying to solve
There are some commands commonly used to upgrade, remove files to have a clean start (remove everything from last run) etc.
This can be helpful when testing Airbyte, developing it, and also in production to simplify the upgrade.

## Describe the solution you’d like
Some shell scripts and something like a Makefile?
- `make start`
- `make stop`
- `

[2021-04-30 03:50] sherifnada opened #3150 "Source Github: TypeError breaks sync"
## Expected Behavior
the  [demo instance's github connector](https://demo.airbyte.io/connections/a745d135-0ab7-4b3c-b12b-b6a8a799f563) is failing due to a TypeError. We should diagnose the issue and fix it.

Here are the logs from the failing sync. [logs-901-2.txt](https://github.com/airbytehq/airbyte/files/6402964/logs-901-2.txt)

[2021-04-30 04:18] sherifnada commented on #2940
## Integration Vetting
**Webhook-based? (no/partially/yes)**
no

**Available authentication modes (API key/Oauth/other)**
Basic [username/password based auth](https://en.wikipedia.org/wiki/Basic_access_authentication)

**Creating an account**
_self-service free account available?_
nope cheapest price tier is $60/mo

**How to populate the account with data?**
_Can it be done entirely through the AP

[2021-04-30 05:04] sherifnada commented on #2345
instructions from bold ecommerce on getting a sandbox account

[code]

@arhip11 can we prioritize this for this week?

[2021-04-30 05:12] sherifnada opened #3151 "Productionize CDK-based Slack connector"
## Tell us about the problem you're trying to solve
placeholder

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368105234883) by [Unito](https://www.unito.io)

[2021-04-30 05:56] keu commented on #3150
side note, it also makes sense to change log level of some error messages in the logs.
Errors is something that prevents successful finish, those errors that we have in a logs should be warnings.

[2021-04-30 06:17] davinchia commented on #1958
@marcosmarxm how would using minIO as a generic solution work? do you mean always copying from minIO when delivering to cloud databases/warehouses?

[2021-04-30 06:49] #2766 closed

[2021-04-30 06:52] davinchia commented on #2855
Yeap. Individual tickets will be good `accepting-contribution` candidates.

[2021-04-30 08:21] #2186 closed

[2021-04-30 09:18] marcosmarxm commented on #1958
Yes

[2021-04-30 09:59] #3128 closed

[2021-04-30 10:54] marcosmarxm commented on #2090
FE is sending the correct payload but looks like the backend API is not updating the source and destination name (I tested for both).
I try to trigger the API using swagger and get the same response: no changing and name.
![image](https://user-images.githubusercontent.com/5154322/116685335-8b247200-a988-11eb-8944-014772b50a6b.png)

![image](https://user-images.githubusercontent.com/5154322/1166855

[2021-04-30 11:47] Zirochkaa commented on #2829
About first question - right now I can't confirm that we are passing parameters correctly or not. I tested `campaigns` stream with both `"include_deleted": "false"` and `"include_deleted": "true"` and got the same output - 32 records. Same was for `adsets` - 14 records and for `ads` - 4 records. This could be because one of two reasons (or both):
1. we don't pass parameters correctly;
1. we don't

[2021-04-30 12:33] mohamed-mubeen commented on #2255
Hi Team,
Any tentative date for the availability of Elastic Search connector in Airbyte.
Data Movement: ES to Snowflake

[2021-04-30 12:34] mohamed-mubeen commented on #2255
Hi Team,
Any tentative date/month this year? for the availability of Elastic Search connector in Airbyte.
Data Movement: ES to Snowflake

[2021-04-30 13:12] Zirochkaa commented on #2829
About [above](https://github.com/airbytehq/airbyte/issues/2829#issuecomment-830038705) comment - that was my mistake, I misread information on how to use `include_deleted` field in `config.json` and that was the reason why I was getting the same results for all 3 streams. I changed the way how I define `include_deleted` field in `config.json` and everything is working properly:
1. if `include_dele

[2021-04-30 13:41] beam-ryan commented on #2345
This would be amazing!!! Thank you so much.

On Fri, Apr 30, 2021 at 1:05 AM Sherif A. Nada ***@***.***>
wrote:

[2021-04-30 14:24] Zirochkaa commented on #2829
I never find information that it accepts `include_deleted` parameter. But this doesn't exclude the fact that it accepts this parameter and I just didn't find it (facebook documentation is a maze 😅). For now I can say that I checked and I didn't find information that ads insights accepts the `include_deleted` parameter.

[2021-04-30 14:33] Zirochkaa commented on #2829
It's expected behavior because even if `include_deleted` option is set to true in config file, in `AdsInsightAPI` class this option is turned off. So no matter what you put into config file you'll always get `include_deleted=false`.

[2021-04-30 14:36] ifokeev commented on #3098
Same here, stopped to work after 0.2.0

[2021-04-30 14:40] sherifnada commented on #2829
Looks to be working as expected. @Zirochkaa will add a test and call it good!

[2021-04-30 14:49] marcosmarxm commented on #3098
@ifokeev can you post your log errors?

[2021-04-30 14:58] ifokeev commented on #3098
It is looping
<img width="937" alt="Screen Shot 2021-04-30 at 17 32 21" src="https://user-images.githubusercontent.com/2017148/116713642-a9688d00-a9dd-11eb-8ea8-a98ef72cf53c.png">

Same in the tests:
https://github.com/airbytehq/airbyte/issues/3098

[2021-04-30 15:01] sherifnada commented on #2927
1. upgrade version in `setup.py`
2. comment `/publish connector=connectors/source-zoom-singer` in the PR
3. if it succeeds merge

[2021-04-30 15:02] sherifnada commented on #2927
to verify the fix is working, first reproduce the issue by:
1. creating via the API a department whose type is a string for example `engineering`
2. run the connector, it should fail
3. apply the fix and verify the connector succeds

[2021-04-30 15:09] ifokeev commented on #3098
I tried airbyte `0.22.0-alpha` with versions: `0.1.5, 0.2.0, 0.2.1, 0.2.2, 0.2.3`. Seems like there is no compatibility with `0.1.5` and other versions are broken (?)

[2021-04-30 15:16] #2944 closed

[2021-04-30 15:23] jmriego commented on #3036
no luck I'm afraid. I tried and I'm still getting the same issue. More details about this:
It generated a table named: _airbyte_1619795169512_tblCRMemail with columns airbyte_ab_id,_airbyte_data and _airbyte_emitted_at. After that, nothing else seems to happen.
Other tables replicate fine, it's this specific one for some reason that I can't find out how to debug. (71M rows and around 492Gb size).

[2021-04-30 15:26] marcosmarxm commented on #3036
@jmriego do you mind sharing the complete new log error and Airbyte/Connector/Dest version?

[2021-04-30 15:47] #2714 closed

[2021-04-30 16:27] sherifnada commented on #1969
## Integration Vetting
**Webhook-based? (no/partially/yes)**
it is webhook-capable but most endpoints are standard REST

**Available authentication modes (API key/Oauth/other)**
API Key + OAuth

**Creating an account**
Created a free account. Also applied for a developer sandbox account.

**How to populate the account with data?**
_Can it be done entirely through the API?_ yes

**Available streams

[2021-04-30 16:33] sherifnada commented on #2414
I've added the Oauth refresh token to lastpass. We should be able to use this using the CDK and the `Oauth2Authenticator` as the `authenticator`

[2021-04-30 17:08] jrhizor commented on #1958
Some warehouses like Snowflake can't copy data from arbitrary cloud storage, even if they are s3 compatible.

We are tentatively planning on using minIO for single node / testing deploys on Kubernetes.

[2021-04-30 19:04] #2889 closed

[2021-04-30 19:57] #2420 closed

[2021-04-30 19:57] #2421 closed

[2021-04-30 20:56] keu commented on #2903
@sherifnada so what will the fix? are we going for list or string?

[2021-04-30 22:22] #2910 closed

[2021-04-30 23:47] sherifnada commented on #2649
* JsonSchemaResolver https://github.com/airbytehq/airbyte/issues/2722
* AbstractSource
  * `check_connection` --> when impl returns True return `AirbyteCheckConnection` message with success=true, when False = false
  * `streams` --> when empty raise an exception
  * etc...
* `Stream`
* `HttpStream`
* unit tests should mock dependencies. ideally each unit test verifies

Generally speaking:
- tests

[2021-05-01 12:10] marcosmarxm opened #3166 "Sort Source Connectors on Admin page"
## Tell us about the problem you're trying to solve
I'm a little lost looking for connectors on the admin page.

## Describe the solution you’d like
Sort them A-Z can help, even better group then: databases, marketing, CRM, analytics

## Describe the alternative you’ve considered or used
CRTL+F to find the connector I want.

## Additional context
Add any other context or screenshots about the feat

[2021-05-02 02:55] saneel-bidaye opened #3167 "Source Connector for FreshService"
## Tell us about the new integration you’d like to have
* Which source and which destination?
   Freshservice source  & Redshift destination
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

https://api.freshservice.com/v2/

## Describe the context around this new integration
* Which team in your company wants

[2021-05-02 05:01] tuanchris opened #3168 "Version mismatch between 0.22.0-alpha and 0.22.0-alpha"
## Expected Behavior
* Airbyte should boot up normally without error.

## Current Behavior
* Restarting server running Airbyte version 0.22.0-alpha leads to version mismatch error.

## Logs
[code]

## Steps to Reproduce
1. Create a VM Google Compute Engine
2. Have the script below as metadata_startup_script. The UI works fine for the first time the instance startup.
3. Reboot the instance and was

[2021-05-02 12:52] marcosmarxm commented on #3168
@tuanchris thanks for reporting this! I had the same issue deploying locally

[2021-05-02 20:39] keu commented on #3132
@sherifnada is n't discovery test doing that?

[2021-05-02 22:06] geekwhocodes opened #3170 "Tutorial to deploy Airbyte on Azure VM"
## Tell us about the documentation you'd like us to add or update
I saw tutorial available to deploy Airbyte on different cloud providers, it would be great if we have tutorial to deploy Airbyte on Azure too.

## Are there any related areas of documentation that currently exist? Could you point to them?
https://docs.airbyte.io/deploying-airbyte

[2021-05-02 23:04] marcosmarxm commented on #3170
thanks for opening this and already create PR #3171. I'll close as duplicated and we keep the discussion on #1367

[2021-05-02 23:04] #3170 closed

[2021-05-02 23:11] geekwhocodes commented on #1367
I agree with @qmnonic but given the restrictions on ACI, I would prefer AKS(Azure Kubernetes Service) in production setting.

There might be some customers who would like to run it on virtual machine too.

[2021-05-02 23:29] marcosmarxm opened #3172 "Organize images stores in /docs/assets into subfolders"
## Tell us about the documentation you'd like us to add or update
We use a folder to store all images used in the docs.
The idea is to organize them into subfolders to make them more manageable.

## Are there any related areas of documentation that currently exist? Could you point to them?

[2021-05-03 01:03] marcosmarxm commented on #3052
@jimbeepbeep amazing! are you willing to transfer your code to a connector? I can help you set up and how to do that if you like

[2021-05-03 09:23] stefanondisponibile commented on #1890
hey @ChristopheDuong  I would be interested in this too.
Real time is nice-to-have, but can be lagged, in my case (few hours).

Mostly, it would be interesting having Elasticsearch as a Destination.

Probably I should open a separate issue for this, but is there any guide or possibility of contributing to add custom destinations?

Thank you!

[2021-05-03 09:37] ChristopheDuong commented on #1890
Hello,
Thanks for your interest!

Unfortunately, contributing custom destinations is not well documented yet.

You could follow/comment on the following ticket:
https://github.com/airbytehq/airbyte/issues/2755

[2021-05-03 09:43] stefanondisponibile commented on #1890
thank you @ChristopheDuong ! ✨

[2021-05-03 10:27] #2800 closed

[2021-05-03 12:13] akoshterek opened #3177 "Database credentials are logged in plain text"
## Expected Behavior
Credentials should be masked

## Current Behavior
Currently source DB credentials are printed in plain text (checked with PGSQL)
isCdc config: {"ssl":false,"host":"localhost","port":3106,"database":"mydb","password":"myPass","username":"someUser"}

## Steps to Reproduce
1. Set up a PGSQL source
1. Start syncing

## Severity of the bug for you
High

## Airbyte Version
0.22.0-al

[2021-05-03 12:13] jimbeepbeep commented on #3052
Sure, I do have some time reserved for learning how to build connectors this week (I'm on the CDK beta), do you have any other docs you could point me towards or should that be ok to start there?

[2021-05-03 13:14] jrhizor opened #3178 "run end to end tests as part of the release process"
Right now we don't run end to end tests on the tagged/versioned release before publishing the release.

Ideally we should tag locally, run end to end tests *on that version*, and then publish.

This would prevent the likelihood of problems like https://github.com/airbytehq/airbyte/pull/3169

[2021-05-03 13:22] apostoltego opened #3180 "Freshdesk sync fails when destination normalisation is turned on"
## Expected Behavior

Freshdesk data should land in the destination and be normalised

## Current Behavior
The sync currently fails throwing an IndexError.

## Logs

2021-05-03 11:06:36 ERROR (/tmp/workspace/156/0) LineGobbler(voidCall):69 - File "/usr/local/lib/python3.7/site-packages/normalization/transform_catalog/stream_processor.py", line 238, in extract_column_names
2021-05-03 11:06:36 ERROR

[2021-05-03 13:24] jrhizor opened #3181 "check for logged credentials in standard test integration log output"
In order to prevent issues like https://github.com/airbytehq/airbyte/issues/3177 we should be checking if any of the sensitive fields are logged as part of an integration's log output.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368228785950) by [Unito](https://www.unito.io)

[2021-05-03 13:28] jrhizor commented on #3177
Thanks for bringing this to our attention.

I made a [PR](https://github.com/airbytehq/airbyte/pull/3179) to fix this that we'll get merged today. After that's merged, upgrading to the newest version of the Postgres source will fix the problem.

I also created an [issue](https://github.com/airbytehq/airbyte/issues/3181) to make sure we automate detecting cases like this in the future.

[2021-05-03 13:37] ChristopheDuong commented on #3180
This exception seemed to be fixed in here:
https://github.com/airbytehq/airbyte/pull/2776/

[2021-05-03 13:45] ChristopheDuong commented on #3180
The freshdesk source is defining a source defined cursor but never shares what the cursor actually is in the catalog.json:
(other source connectors may do the same btw)

"source_defined_cursor": true,
(...)
"cursor_field": [],

So when normalizaiton is trying to use the cursor field for deduping, it failed to do so and crashed.

The exception should now be fixed in normalization but it would defau

[2021-05-03 13:49] Zirochkaa commented on #3122
@sherifnada I have a question about item number 5 from issue description (`Add the credentials to github CI and ci_credentials.sh, test_command.yml and publish_command.yml`):

I found `ci_credentials.sh` file - it's located in `tools/bin/` folder. But I didn't find `test_command.yml` and `publish_command.yml` files (I was using a search in PyCharm and VSCode).
Could you please wrote in which folde

[2021-05-03 13:58] Zirochkaa commented on #3122
Also there is no `Stripe Connected Account Test Creds`creds in LastPass (at least I don't see them).
<img width="1131" alt="image" src="https://user-images.githubusercontent.com/19872253/116885270-5fc3b080-ac30-11eb-9242-d0ce296aee7c.png">
<img width="1095" alt="image" src="https://user-images.githubusercontent.com/19872253/116885549-ac0ef080-ac30-11eb-8579-650197147799.png">

[2021-05-03 14:01] Zirochkaa commented on #2929
I tried to do a little research and find out when tests started to fail. I went on [`integration-test`](https://github.com/airbytehq/airbyte/actions/workflows/test-command.yml) workflow page in `Actions` section but there are 65k+ workflow runs and no search by date :(
Then I found PR https://github.com/airbytehq/airbyte/pull/1726 (already merged in master) in which tests are [failing](https://git

[2021-05-03 14:07] ChristopheDuong commented on #1421
An example of this is trying to run normalization on top of a Freshdesk sync with out integration tests account for:
https://github.com/airbytehq/airbyte/issues/3180

in the catalog.json of the `companies` stream, I see:
[code]

But I see in the logs:

[code]

Double-checking in the raw table of my destination:
![Screenshot 2021-05-03 at 16 05 55](https://user-images.githubusercontent.com/7718175/

[2021-05-03 14:24] keu commented on #3113
for this to work we will need to do few things:

- [ ] migrate to acceptance tests, create a fixture for Mongo DB in docker (up to 4 hours)
- [ ] fix all potential issues with the connector if it will not pass the tests (potentially could be up to infinity, if issues will take longer than 4h - create separate issues for each case).

[2021-05-03 14:32] ChristopheDuong opened #3182 "UI: Disallow dedupe sync mode without primary keys"
## Expected Behavior
I should not be able to select destination `Incremental - Dedup + history` sync mode without defining a primary key for the stream.

## Current Behavior
I can define a stream in `dedup history` mode with no primary key which results into an exception on the normalization step while running the sync.

## Steps to Reproduce
1. define a sync between source destination
1. select d

[2021-05-03 14:37] keu commented on #3139
The basic idea is to replace hardcoded decorators in each test with a custom marker, that will be detected in `pytest_generate_tests` and replaced with the real marker for `pytest-timeout` with the proper value `= value_from_config or default_value`.
The estimation is 4 hours

[2021-05-03 14:42] #3177 closed

[2021-05-03 14:43] jrhizor commented on #3177
Should be ready to go if you upgrade your connector in the admin panel of the UI @akoshterek

[2021-05-03 14:45] Zirochkaa commented on #1969
**Are the account test credentials available in Lastpass?** No, only login+password and when I logged in I saw a message which said that our free 30-day trial has ended (see screenshot below):

<img width="730" alt="image" src="https://user-images.githubusercontent.com/19872253/116887103-93073f00-ac32-11eb-9c43-33df09ba8304.png">

And when I pressed `Select your plan` I saw this page:

<img width=

[2021-05-03 15:01] keu commented on #3150
Breakdown:
- [ ] Investigate why some record in milestones don't have due_on (3h)
- [ ] depending on the outcome of prev item, either just ignore records or use some other field instead (`completeness`, etc)(1h)
- [ ] lower error message level to warning (30m)

Total: 4-6hours

[2021-05-03 15:17] sherifnada commented on #3122
@Zirochkaa  my mistake -- will update lastpass

[2021-05-03 15:22] sherifnada commented on #1969
for subscription use the sandbox accounts available in lastpass.

[2021-05-03 15:27] keu commented on #2828
Insights streams have loopback logic when it requests data from the API, but then it performs additional filtration as part of general read logic for all streams with states (the state doesn't take into account 28 days from the past).
Should be easy fix - implement custom read for InsightStream.
2h - implementation
2h - testing

Total: 4hours

[2021-05-03 15:32] sherifnada commented on #2929
Issue is:

[code]

See here: https://github.com/airbytehq/airbyte/runs/2492973569?check_suite_focus=true#step:10:8673

ideas for next steps:

1. run connector locally and try to reproduce the issue where an incremental sync does not produce any records
2. understand why #1 is happening -- an easy way to do this might be to change the config locally until you can get records to appear. If no data i

[2021-05-03 15:34] sherifnada commented on #3098
@ifokeev would you be able to post the entire log for a failing job?

[2021-05-03 15:34] #3168 closed

[2021-05-03 15:35] ifokeev commented on #3098
@sherifnada it's not failing, it's looping on `batchGet`

[2021-05-03 15:50] ifokeev commented on #3098
same logs like in the tests:
https://github.com/airbytehq/airbyte/runs/2473478780?check_suite_focus=true

[2021-05-03 15:56] harshithmullapudi commented on #2627
@cgardens any update on this. If this is not picked by your team can I pick this up?

[2021-05-03 15:56] sherifnada commented on #3098
@ifokeev so the sync is succeeding but just looping for a long time? FWIW these log messages are incorrectly labelled as `ERROR` they are INFO messages.

[2021-05-03 16:10] Zirochkaa commented on #3122
Those "missing" files are in [workflows](https://github.com/airbytehq/airbyte/tree/master/.github/workflows) folder.

[2021-05-03 16:30] sherifnada commented on #3122
@Zirochkaa added connected account credentials to lastpass

[2021-05-03 17:36] #2829 closed

[2021-05-03 17:54] cgardens commented on #2958
closed by: https://github.com/airbytehq/airbyte/pull/3093

[2021-05-03 17:54] #2958 closed

[2021-05-03 17:55] cgardens commented on #3068
Closed by https://github.com/airbytehq/airbyte/pull/3074. We should get back on master with Restish when we have a second. I think the suggested fix was accepted.

[2021-05-03 17:55] #3068 closed

[2021-05-03 17:57] cgardens opened #3185 "Return to official version of restish"
## Tell us about the problem you're trying to solve
* A previous version of Restish was causing the build to break due to some upstream dependency changes ([issue](https://github.com/airbytehq/airbyte/issues/3068)). We forked it and added a fix in our fork. I believe Restish has already accepted our fix, so as soon as it is in an official version, we should switch back to it.

┆Issue is synchroniz

[2021-05-03 18:03] cgardens commented on #2627
@harshithmullapudi - hi! I'm still working on it. my hope is to have it working for at least postgres by the end of the week. as I've dug into it, I've found a host of other things that it has made sense to clean up along the way, which is why it's going closer than expected.

[2021-05-03 18:54] jrhizor opened #3187 "make migrations no-op by default"
We shouldn't have to encode every no-op migration in `Migrations` since we already know the default behavior (no-op).

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200367912513076/1200368164120771) by [Unito](https://www.unito.io)

[2021-05-03 19:03] #3112 closed

[2021-05-03 19:37] cgardens commented on #3075
I think this was fixed.

[2021-05-03 19:37] #3075 closed

[2021-05-03 19:52] MaxKrog commented on #2828
Great stuff! Im still manually reseting & rerunning this connection every morning. Can’t wait for a fix to be released.

[2021-05-03 20:02] #3039 closed

[2021-05-03 20:30] michel-tricot commented on #2800
Hey @ChristopheDuong what was the outcome of the call? (for future reference)

[2021-05-03 20:33] michel-tricot commented on #3172
On paper I like this issue, we just need to make sure it works well with gitbook and make sure that gitbook doesn't go crazy.

[2021-05-03 20:34] kevinob11 commented on #2800
@michel-tricot I can chime in here a bit. No easy answers as of today, materialize to tables from somewhere else or just put your full query wherever you use the data (Tableau, Geoserver, etc.). Long-term custom DBT steps after data sync would make for a better place to safely materialize costly aggregation, these are on the roadmap.

[2021-05-03 20:41] sherifnada commented on #2877
First part of this (publishing to Pypi) was completed here https://github.com/airbytehq/airbyte/pull/3156 . Going to split this into two tickets and push the second one into next sprint.

[2021-05-03 20:41] #2877 closed

[2021-05-03 20:52] sherifnada opened #3189 "Refactor airbyte_cdk package"
Split from #2877

## Tell us about the problem you're trying to solve
The package is a frankenstein of base-singer, base-python, and airbyte-protocol. These should all be refactored into a single coherent package with submodules.

## Describe the solution you’d like
1. airbyte-protocol should go into `airbyte_cdk.models`
2. `base-singer` should go into `airbyte_cdk.singer`
3. `base-python` should

[2021-05-03 20:55] sherifnada opened #3190 "Use MyPy for static type checking in the CDK"
## Tell us about the problem you're trying to solve
Tracking #3175

[2021-05-03 20:57] sherifnada commented on #3167
@saneel-bidaye thanks for the request! Would you be interested in creating this connector using the [Python CDK](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/bases/base-python)?

Feel free to join the "airbyte_cdk" channel on our [Slack](slack.airbyte.io) or respond here and we can get started!

[2021-05-03 20:59] sherifnada commented on #3132
@keu meant for reading streams. What prompted me to create this issue is that I forgot to include a stream in my configured_catalog (out of like 18 streams in the stripe connector). And of course, that one stream had a bug that was undetected because standard tests didn't test output from it. This ticket is trying to solve for that kind of problem.

[2021-05-03 21:04] #3117 closed

[2021-05-03 21:08] sherifnada commented on #1316
@kitkatbarxp Zendesk Chat has been merged into master and will be included by default as part of Airbyte beginning with tomorrow's release, `0.23.0-alpha`!

[2021-05-03 21:08] #1316 closed

[2021-05-03 21:10] sherifnada commented on #2828
@MaxKrog we should have this released very soon -- it's in the current sprint!

[2021-05-03 21:15] keu commented on #2414
can be used as an example for auth and read/write data https://github.com/okta/okta-sdk-python

[2021-05-03 21:17] MC1-RicardoLeka opened #3191 "Cannot reach server. The server may still be starting up."
Hi All,

After a blue screen on my Windows 10, when I restart the airbyte, on the web interface he was stuck with:
"Cannot reach server. The server may still be starting up."

on the shell looks like he is stuck on the same thing:
airbyte-scheduler   | 2021-05-03 21:08:51 INFO i.a.s.a.JobRetrier(run):58 - {workspace_app_root=/tmp/workspace/scheduler/logs} - Running Job Retrier...
airbyte-scheduler

[2021-05-03 21:18] #2965 closed

[2021-05-03 21:22] keu commented on #2414
**Are the account test credentials available in Lastpass?** Yes,
go to https://okta-devok12.okta.com/ and use `integration-test+2@airbyte.io`

## Task breakdown
- [ ] Populate source with data (this package can be used for write and read, events can be generated by adding/removing a user to a group)
- [ ] Create source scaffolding and populate schemas folder
- [ ] Implement spec, check and discove

[2021-05-03 21:39] marcosmarxm commented on #3191
hey @MC1-RicardoLeka thanks for reporting this, actually we're working to solve this error. PR #3169 solves this and we're releasing a patch version soon.

[2021-05-03 21:43] MC1-RicardoLeka commented on #3191
Tnks !

[2021-05-03 21:43] #3191 closed

[2021-05-03 21:49] davinchia opened #3192 "MyPy tasks in AirbytePython plugin not working."
## Expected Behavior
This is not running.

## Current Behavior
The plugin is currently written to execute on some configuration. However this configuration is always null when the task is configured, so even though it's later passed in, MyPy never executes on the right modules.

## Severity of the bug for you
Very low - doesn't affect development.

┆Issue is synchronized with this [Asana task](htt

[2021-05-03 21:54] keu commented on #2997
the color issue is related to docker TTY redirection, it can be solved by add `-t` to `acceptance-test-docker.sh`

[2021-05-03 22:50] keu commented on #3132
well, if we assume that we use the same file for both tests - the problem solved
if not, then there is only one reason - separate streams that passes all read tests from streams that don't, in that case I don't see how we can force user to specify all streams.

[2021-05-03 23:18] sherifnada opened #3196 "Update CDK HTTP templates to use the stream name instead of `customers` and `employees`"
## Tell us about the problem you're trying to solve
TBD by avaidyanatha

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using today.

## Additional context
Ad

[2021-05-03 23:23] marcosmarxm opened #3197 "Deploy Airbyte on Windows"
## Tell us about the documentation you'd like us to add or update
We have some users deploying Airbyte on Windows could be nice to have a doc helping them with common problems.

## Are there any related areas of documentation that currently exist? Could you point to them?
Nope, we only have the doc deploy-locally tested on macOS.

[2021-05-03 23:52] sherifnada opened #3198 "split `setup.py` dev dep declarations in airbyte-cdk out of `install_requires`"
## Tell us about the problem you're trying to solve
We should declare dev dependencies using extras

[2021-05-04 00:02] kevinob11 opened #3199 "Airbyte MSSQL -> Postgres with postgis doesn't maintain geometry data"
## Expected Behavior
Syncing MSSQL geometry column to a postgres database with postgis should keep the geometry column type

## Current Behavior
The geometry column type is switched to varchar and the content is mangled
e.g. POINT (1118476.380824917 747196.45540725021) -> 6F0B0000010CE4BD7D610C1131419C232BE978CD2641

## Steps to Reproduce
1. Set up and run sync from geometry column mssql to postgr

[2021-05-04 00:25] sherifnada commented on #2015
This issue was closed by accident. We should upgrade the appstore connector to use this by adding `multiline: true` to the key spec.

[2021-05-04 00:35] sherifnada opened #3202 "Sort connector definitions alphabetically in admin UI"
## Tell us about the problem you're trying to solve
It would be easier to read connector definitions if they are alphabetically sorted in the admin UI

![image](https://user-images.githubusercontent.com/6246757/116949037-f34bb000-ac35-11eb-8419-0e74bcf7c4c5.png)

[2021-05-04 00:35] sherifnada commented on #3202
@cgardens fyi

[2021-05-04 00:54] marcosmarxm commented on #3202
@sherifnada https://github.com/airbytehq/airbyte/issues/3166 :( can i close as duplicated?

[2021-05-04 01:03] marcosmarxm commented on #3166
@vitoravancini can you help us with this :D

[2021-05-04 01:05] marcosmarxm commented on #3073
@vitoravancini can you help us with this?

[2021-05-04 01:06] sherifnada commented on #3202
my bad, i didn't notice. closed.

[2021-05-04 01:06] #3202 closed

[2021-05-04 03:01] michel-tricot commented on #2800
Thank you @kevinob11 !

[2021-05-04 06:02] tuanchris opened #3206 "Update latest source schema wipe out settings"
## Expected Behavior
`Update latest source schema` should update the latest schema and keep the settings for relevant tables for the Postgres source

## Current Behavior
* When selecting `Update latest source schema`, Airbyte would wipe out all current sync settings, primary key, and cursor field.
* Since the amount of tables we have is large (hundreds), it would make our life easier if we can bul

[2021-05-04 08:14] davinchia commented on #3190
Done by #3175 .

[2021-05-04 08:14] #3190 closed

[2021-05-04 09:22] ChristopheDuong commented on #1890
you can also have a look at this PR: https://github.com/airbytehq/airbyte/pull/3021

[2021-05-04 09:23] ChristopheDuong commented on #2755
Here is an example of destination implementation in this PR: https://github.com/airbytehq/airbyte/pull/3021

[2021-05-04 11:52] jimbeepbeep commented on #1814
Hey guys, not sure where the best place to raise issues... let me know if I should use Slack instead of here.  I'm just looking through historic logs and there are a few fails, plus the sync from last night (6:13PM UTC) is still running after 2 fails, about 17 hours later:
- Attempt 1: 0 Bytes | 0 records | 7h 16m 36s
- Attempt 2: 0 Bytes | 0 records | 8h 14m 49s
- Attempt 3: sources.undefined

No

[2021-05-04 12:25] #2997 closed

[2021-05-04 13:02] jmriego commented on #3036
No problem @marcosmarxm . I'm using the MySQL source 0.3.0, BigQuery destination also 0.3.0 in the 0.22.0-alpha.

This is the log I'm seeing:
<details><summary>LOGS</summary>
<p>

[code]

</p>
</details>

[2021-05-04 15:36] jrhizor opened #3208 "make DefaultSqlOperations non-Postgres"
Right now the insertion process is Postgres-specific in `DefaultSqlOperations`.

We could make `DefaultSqlOperations` an abstract class and have a separate `PostgresSqlOperations` class. This would also involve setting up the JDBC destination to use the new `PostgresSqlOperations` we would create as part of this task.

[2021-05-04 16:48] #3198 closed

[2021-05-04 16:55] cgardens opened #3209 "Normalization should be configurable at the Connection-level instead of the Destination-level"
The boolean settings on the destination's settings page should be moved to the sync/connection page instead.

Additionally, when a stream is configured on the connection page with the sync mode "dedupe history", then basic normalization should be automatically enabled.

(or the UI shouldn't let the user select the dedup history sync mode if normalization is not enabled on this connection)

┆Issue

[2021-05-04 17:11] jrhizor commented on #1958
I'm closing this issue.

Current state:
* Redshift allows S3 staging
* Snowflake allows S3 and GCS staging
* Postgres uses batch writes
* BigQuery uses batch writes

There are definitely more speed improvements we can do (parallelize writing streams, change some of our batching/buffering strategies, etc), but I think this covers the main point of this issue.

There are some feature requests mentio

[2021-05-04 17:11] #1958 closed

[2021-05-04 17:28] jrhizor opened #3211 "properly benchmark warehouse destination speeds"
After closing https://github.com/airbytehq/airbyte/issues/1958, there's still a lot of room for optimization.

We should make a source that generates a dataset, and use something similar to the end to end test to evaluate the end to end time of syncing data sets of varying sizes to the destination (both # of rows, size of rows, and number of streams).

It's **very important** that this benchmark t

[2021-05-04 17:44] sherifnada opened #3212 "New source: Oracle Netsuite Analytics"
## Tell us about the new integration you’d like to have
We've received requests for integrating with [Oracle Netsuite Analytics](https://www.netsuite.com/portal/products/analytics.shtml).

## Describe the context around this new integration
The use case described was getting financial transaction information from ONA and syncing it to Snowflake. The purpose is to reconcile financial transactions c

[2021-05-04 19:08] jrhizor opened #3215 "don't log archive import binary"
You get something like this when importing an archive:

    airbyte-server      | 2021-05-04 19:01:59 INFO i.a.s.RequestLogger(filter):107 - {workspace_app_root=/tmp/workspace/server/logs} - REQ 172.19.0.1 POST 200 /api/v1/deployment/import - +��`�]͏$GV��.��J�������,rOw��]ό=�^��Pod|t����Ye{,��'��b�+np�+�p�#wn��Y�Y�Y]�5^w>MuNeF����{ux��NS�eqL0�Frd�#�'�%�7v"��¸9>J1>b��c �x�p�9#LI��D
    airbyte-se

[2021-05-04 19:40] MC1-RicardoLeka commented on #2889
I got the same problem.
When airbyte create the destination table he crated all the text coluns with varchar(65535) even the timestamp columns or columns with less than 65535.
Instead off varchar(65535) he can use text type for large columns and create the other with the same type.

[2021-05-04 20:11] MC1-RicardoLeka commented on #2889
After the Airbyte create the destination tables, I drop the wrong columns and add the columns with text type, and sync again, this work-around look´s fine.

[2021-05-04 20:19] MC1-RicardoLeka opened #3216 "Amazon Redshift - schema creation"
I create a ETL from SQL server to AWS Redshift.
Most part of the tables are on dbo schema and a few others on other schema.
I selected all the tables on all schemas to sync, but no table was created on redshift.
After I create the schemas on Redshift and request a new sync the Airbyte create the tables with the issue #2889 .

I can´t find on the logs a error of the schema creation.

┆Issue is sync

[2021-05-04 20:31] marcosmarxm opened #3217 "Temporal is failing at init"
## Expected Behavior
Should start Airbyte smoothly.

## Current Behavior
Temporal container is failing at the start.

## Logs
<details>
<summary>LOG</summary>

[code]
</details>

## Steps to Reproduce

1. download airbyte from master 0.22.2-alpha
1. docker-compose down -v (remove any data from previous just to be sure)
1. docker-compose up

## Severity of the bug for you
Very low / Low / Medium /

[2021-05-04 20:58] MC1-RicardoLeka opened #3218 "Keep table selection on modify"
When I edit a existing ETL, to add more table or modify something, the airbyte unmark all the tables.
It´s possible keep the selected tables after we click on edit?

[2021-05-04 21:17] MC1-RicardoLeka opened #3219 "Update information on Web Interface for Last Sync"
Hi,
if we stay with the Web Interface open on "Connections" the information on the column "Last Sync" stay incremmental, even when the ETL already executed in the main time.
![image](https://user-images.githubusercontent.com/67108329/117070793-9e2a9f80-ad04-11eb-8761-9ec42425a263.png)

It´s possible change the information to "Last Sync" from the last execution? or add a column with the "Date of th

[2021-05-04 21:18] cgardens commented on #3217
I haven't been able to reproduce this. Do you have any more info that might help with that?

What I did.
[code]

I then ran a sync. Didn't see any errors.

[2021-05-04 21:33] avaidyanatha opened #3221 "`gradlew format` fails if there is no import statement"
## Expected Behavior
Running `./gradlew format` should work even if there are no import statements at the beginning of a file.

## Current Behavior
The Spotless license check doesn't accommodate for files that don't have import statements (e.g. constant files) and cannot find the start of the file.

To replicate:
1) Create file without import statement
2) Run `./gradlew format`
3) Fail

## Additio

[2021-05-04 22:16] sherifnada commented on #3221
worth noting: this breaks specifically for files which are either empty or start with a variable e.g:

`file.py`
[code]

would break

[2021-05-04 22:48] marcosmarxm commented on #3098
logs from user using Airbyte 0.22.0-alpha shared on Slack convo [here](https://airbytehq.slack.com/archives/C01MFR03D5W/p1619514514278200) waiting info about connector version
[logs-1-0.txt](https://github.com/airbytehq/airbyte/files/6424279/logs-1-0.txt)

[2021-05-04 23:39] sherifnada opened #3222 "CDK: Refactor `JSONSchemaResolver` and `ResourceSchemaLoader` for better testing"
## Tell us about the problem you're trying to solve
There is a number of improvements that can be made to classes in `airbyte_cdk/schema_helpers.py`.

First, `JsonSchemaResolver` can be refactored to have the following signature:

    def __init__(schemas: Mapping[str, any], refs: Mapping[str, any])
      # schemas are all json files in `schemas/`, refs are all json files in `schemas/shared/`Then

[2021-05-04 23:45] sherifnada opened #3224 "CDK: use makefile for running tests"
## Tell us about the problem you're trying to solve
There will likely be long commands that should be run regularly as part of our build process. For example to run tests we want `pytest --cov=airbyte_cdk -s unit_tests` for running unit tests, similar commands for mypy and style checks etc..

It might be a good addition to have a makefile which encodes these things by default so instead we just in

[2021-05-05 00:15] davinchia opened #3225 "Update our Kubernetes deployment."
## Expected Behavior
Kubernetes deployment should deploy with the latest Airbyte version.

## Current Behavior
Yamls are currently on  `0.16.0`. This is also missing the `temporal` deployment.

## Steps to Reproduce
1. Follow steps to deploy [Kubernetes](https://docs.airbyte.io/deploying-airbyte/on-kubernetes) and try to upgrade to the latest version.

## Severity of the bug for you
Medium - sever

[2021-05-05 01:12] marcosmarxm commented on #3206
Thanks for reporting this @tuanchris I totally agree with you! We have another request to select specific columns from tables and if that happens it'll be a nightmare.

[2021-05-05 01:19] marcosmarxm commented on #3218
@MC1-RicardoLeka is something similar to #3206 ?

[2021-05-05 01:21] marcosmarxm commented on #3216
@MC1-RicardoLeka can you share the Airbyte/connector/destination version? I saw that you share some information on #2889 this will help us a lot! Thanks

[2021-05-05 01:39] tuanchris commented on #3206
@marcosmarxm Thanks for getting back. I think there can be some kind of settings file that we can upload to take care of this. Similar to the way Singer configuration parameters work. The UI is perfect for beginners and/or sources with not so many tables, but currently, it's a nightmare for us whenever we need to add more tables.

[2021-05-05 01:51] #2722 closed

[2021-05-05 02:09] #1367 closed

[2021-05-05 02:11] michel-tricot commented on #3209
This is the beginning of using Connections as a descriptor for steps orchestration. Can't wait to see where that leads us!

[2021-05-05 02:34] johnlafleur opened #3226 "Add "Airbyte" in the demo, for trademark purposes"
We need Airbyte to be featured as a name in the demo to get our US trademark.
In the screenshot below, can you change the text "This demo is read-only" to "This Airbyte demo is read-only"

<img width="738" alt="Screen Shot 2021-05-05 at 1 31 53 PM" src="https://user-images.githubusercontent.com/68561602/117091242-62e0ad00-ada6-11eb-9a4f-0bcd9d349b68.png">

Could we then update the demo as we need

[2021-05-05 02:46] #3226 closed

[2021-05-05 03:45] davinchia opened #3229 "Gradle format should only look at files that have changed."
## Tell us about the problem you're trying to solve
Gradle format should only look at files that have changed. A common thing is forgetting to run format before pushing code and having the build fail before actually building code. Dev then lose 10 - 15 mins running format locally, and waiting for the build.

It would be nice if format runs only on files that are changed instead of the entire proje

[2021-05-05 06:50] davinchia commented on #2710
I just saw this - this is currently possible via #2869 .

[2021-05-05 07:21] davinchia opened #3232 "Allow configuration of tablespace for relevant Destinations."
## Tell us about the problem you're trying to solve
Per https://airbytehq.slack.com/archives/C01MFR03D5W/p1619783676378000, user was interested in being able to specify the tablespace data is replicated into. This allows DB admins to control where

Current all data is stored in `pg_default`. This will also be relevant for MySQL once #1483 is done.

Notes:
* Postgres [tablespace documentation](http

[2021-05-05 07:21] po3na4skld commented on #2903
As I understood, UI supports list so we will use it and not a string

[2021-05-05 08:55] ChristopheDuong commented on #2889
From AWS docs, the data type `TEXT` seems to be `Converted to VARCHAR(256).`

So, if you create the redshift destination tables with TEXT datatype, wouldn't you run more often into "row is too big" failures than with `VARCHAR(MAX) or VARCHAR(65535)`?

[2021-05-05 09:08] ChristopheDuong opened #3233 "Custom Transformations: Implement API configurations"
## Tell us about the problem you're trying to solve
As part of project https://github.com/airbytehq/airbyte/issues/2959, this ticket should track progress on the API/configurations part of the work

## Describe the solution you’d like
There should be an optional list of transformation objects (at the connection level, not at the stream level) tied to the StandardSync configurations.

## Additional

[2021-05-05 09:11] ChristopheDuong opened #3234 "Custom Transformations: Create UI Mock-up"
## Tell us about the problem you're trying to solve
As part of project https://github.com/airbytehq/airbyte/issues/2959, this ticket should track progress on the UI Mock-up part of the work

## Describe the solution you’d like
In terms of UI, it would be nice to design a dedicated Connection-Transformation page or section attached to a connection page, where you can define a sequence of transforma

[2021-05-05 09:23] ChristopheDuong opened #3235 "Custom Transformations: Implement UI"
## Tell us about the problem you're trying to solve
As part of project https://github.com/airbytehq/airbyte/issues/2959, this ticket should track progress on the UI part of the work as a follow-up to the following tickets once they are completed:

* [x] Back-end API:  https://github.com/airbytehq/airbyte/issues/3233
* [x] UI Mock-Up: https://github.com/airbytehq/airbyte/issues/3234

## Describe th

[2021-05-05 09:30] ChristopheDuong opened #3236 "Custom Transformations: Implement Workflow Activity"
## Tell us about the problem you're trying to solve
As part of project https://github.com/airbytehq/airbyte/issues/2959, this ticket should track progress on the Workflow Activity part of the work as a follow-up to the following tickets once they are completed:
- [x] Back-end API:  https://github.com/airbytehq/airbyte/issues/3233

## Describe the solution you’d like
Today, normalization is run fro

[2021-05-05 09:41] ChristopheDuong opened #3237 "Custom Transformations: Document new feature"
## Tell us about the documentation you'd like us to add or update
As part of project https://github.com/airbytehq/airbyte/issues/2959, this ticket should track progress on the documentation part

## Are there any related areas of documentation that currently exist? Could you point to them?
* https://docs.airbyte.io/understanding-airbyte/basic-normalization
* https://docs.airbyte.io/tutorials/trans

[2021-05-05 09:50] ChristopheDuong commented on #2959
A nice follow-up or related issue to this project: https://github.com/airbytehq/airbyte/issues/3209

[2021-05-05 10:15] jimbeepbeep commented on #1814
@yevhenii-ldv / @sherifnada this connector is now failing, scrrenshot below,  Let me know if you need any more logs in addition to the above...

[2021-05-05 10:33] vitaliizazmic commented on #2970
## Integration Vetting
The integration hasn't already been vetted

**Webhook-based? (no/partially/yes)**
No

**Available authentication modes (API key/Oauth/other)**
The YouTube Reporting API and YouTube Analytics API support the [OAuth 2.0 protocol](https://developers.google.com/youtube/reporting/guides/authorization) for authorizing access to private user data.

The YouTube Reporting API and You

[2021-05-05 11:06] yevhenii-ldv commented on #3013
## Integration Vetting

**Webhook-based? (no/partially/yes)**

no

**Available authentication modes (API key/Oauth/other)**

[Application and Access Token (different for Sandbox and Production)](https://developer.squareup.com/docs/get-started)

**Creating an account**

I tried to register a new account using the company email, but I got the following error:
`The email address you entered is alread

[2021-05-05 11:26] yevhenii-ldv commented on #1814
Hello @jimbeepbeep.
Thank you for your comment and for raising the issue. We'll investigate this error and your logs and find the cause of the problem.

Will ping you here when any new information on this issue becomes known.

[2021-05-05 13:09] davinchia opened #3239 "[platform] Define Airbyte's Minimum Resource Requirements"
## Tell us about the problem you're trying to solve
We often get questions about minimum resource requirements to run Airbyte. Unfortunately we don't have this today, and our guideline to users are much more anecdotal. This can be frustrating for users and sucks up support time as DRI cannot easily rule out errors due to incorrect resource sizing. When running into errors, DRI can at best guesstim

[2021-05-05 14:28] rajeshjatavkonvergeai opened #3240 "Cannot reach server. The server may still be starting up."
Hi,
I have tried to deployed Airbyte on local kubernetes cluster. It is deployed successfully. All pods are running properly. But when I try to open the url, get this error.
**Cannot reach server. The server may still be starting up.**

Why am I getting this error? What should I do?

Thanks,
Rajesh

[2021-05-05 14:57] MC1-RicardoLeka commented on #3216
Hi @marcosmarxm ,
I´m running the Redshift Connector 0.3.3, SQL connector 0.3.0

[2021-05-05 14:59] MC1-RicardoLeka commented on #3218
@marcosmarxm yes, it´s similar.
I´ll close this one.

[2021-05-05 14:59] #3218 closed

[2021-05-05 15:01] yevhenii-ldv opened #3241 "Source Instagram: User Insights stream error"
## Expected Behavior
Completed sync.

## Current Behavior
Failed sync.
![image](https://user-images.githubusercontent.com/34103125/117161155-5d955980-adca-11eb-9799-eac6bfa4b1b2.png)

## Logs
Logs below (access token redacted).

Attempt 1: [logs-52-0.txt](https://github.com/airbytehq/airbyte/files/6420764/logs-52-0.txt)
Attempt 2: [logs-52-1.txt](https://github.com/airbytehq/airbyte/files/6420763/

[2021-05-05 15:01] yevhenii-ldv commented on #3241
##My investigate
The reason was determined, it is in the `user_insights` stream, and more specifically in getting the Insight of the `online_followers` metric for the `lifetime` period.
For some reason, it began to receive an error when we try to get data for the near 2 days before now (for today it is from 2021-05-04 00:00:00 to 2021-05-05 00:00:00 and from 2021-05-05 00:00:00 to 2021-05-06 00:00

[2021-05-05 15:42] geekwhocodes commented on #3066
@michel-tricot

I have few questions regarding Azure table storage connector. I am seeking some guidance to proceed further.

1. It does not have anything like table definition or pre-defined schema
2. There is no map reduce like functionality to fetch all properties

Solutions :
1. Fetch first x entities to infer schema (**not reliable**)
2. Fetch/Read all entities in discover method/phase (**not