[2022-01-24 13:28] karinakuz commented on #9676
https://docs.google.com/document/d/1lQlxwLt22CFMAG3qTWYn4MpRSi2XCLQVqEkb0XeqBeA/edit?usp=sharing

[2022-01-24 13:31] antixar opened #9750 "🐛 Single config of Python linters"
Now there are several points where checkers can be launched:
- with ` ./gradlew  format`
- with SonarQube script
- with some custom developer scripts

The second critical problem is results of launched tools can be conflicted.

## Expected Behavior
use single script for all tools with the single config(pyproject.toml)

[2022-01-24 13:51] igrankova opened #9751 "Publish strict-encrypt source-connectors due to the fields Titles/Descriptions changes in sources specifications: cockroachdb-strict-encrypt, db2-strict-encrypt, postgres-strict-encrypt"
Publish connectors to implement changes of files title and description properties to each field in source-connectors specifications:
source-cockroachdb-strict-encrypt
source-db2-strict-encrypt
source-postgres-strict-encrypt

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2022-01-24 13:53] igrankova commented on #9751
Issues blocked on ZZM side:
source-postgres-strict-encrypt (blocked on https://github.com/airbytehq/airbyte/pull/8617)
source-db2-strict-encrypt (blocked on https://github.com/airbytehq/airbyte/pull/8494)
source-cockroachdb-strict-encrypt (blocked on https://github.com/airbytehq/airbyte/issues/8923)

[2022-01-24 13:59] antixar opened #9752 "🎉 Show unavailable streams"
## Tell us about the problem you're trying to solve
Now Airbyte can provide 2 possible flows:
1. A connector provides all streams no matter user's permissions. It checks only minimum access(auth mechanism or access to one simple stream only). And as result users have to check and fix all permissions after the first sync only.
2. A connectors provides available streams only. It can check a set of p

[2022-01-24 14:05] VitaliiMaltsev commented on #7934
@subodh1810 please advise

[2022-01-24 14:14] #9213 closed

[2022-01-24 14:15] DoNotPanicUA commented on #5485
Hi @sayowayah,
is this problem still relevant for you? Have you tried the latest versions?
Current version of the BigQuery Destination is `0.6.5`.

[2022-01-24 14:25] sayowayah commented on #5485
Hey! I actually just bit the bucket a few weeks ago and re-setup all my connections, so it's no longer an issue for me. Thanks

[2022-01-24 14:46] jrhizor opened #9754 "bump frontend dependencies"
Upgrade recommended frontend dependencies.

[2022-01-24 15:08] #4342 closed

[2022-01-24 15:09] jrhizor commented on #9747
@nataliekwong what's the urgency of this?

[2022-01-24 15:15] jrhizor opened #9755 "add red banner at top of page when there is a problem with credits"
A banner should show up on the top of every page in the cloud UI when the workspace's credit usage is in a bad state.

See https://github.com/airbytehq/airbyte-cloud/pull/847 for the endpoint changes that expose the credit statuses.

Here's the copy for each case:
- `negative_within_grace_period` -> `Your workspace is out of credits! Please add more credits to make sure your syncs keep running!`
-

[2022-01-24 15:15] jrhizor commented on #9755
@nataliekwong please edit the original description with whatever copy should display for those different cases.

[2022-01-24 15:20] jrhizor opened #9756 "add a progress bar for running the check connection and discover commands"
For checking connection and running the discover commands, we should expose a progress bar. Since it's very non-trivial to set this up for the first time, we should have the progress bar behavior match the "expected" durations of each of the operations and exit early.

For checking connections: 15s
For discoveries: 2min

[2022-01-24 15:20] jrhizor commented on #9756
@Jamakase do we need mockups for this?

[2022-01-24 15:37] jrhizor commented on #9625
@Jamakase should we remove the default selection we talked about last week if this is in place?

[2022-01-24 15:37] ChristopheDuong commented on #9638
The work for integrating sentry to the connector does not seem to be done yet.

I don't think @tuliren is counting on this issue as blocking for that work to progress. So this is not that urgent.

For the precise naming, we should probably keep the same name/semantics of what is being used in the database/codebase? (so yes, CONNECTION_ID, JOB_ID, ATTEMPT_NUMBER, not attempt_id sorry)

[2022-01-24 15:40] noahkawasakigoogle commented on #9501
Hey @sherifnada I can reply to these with my thoughts because I've had to think about the same scenarios:

1. It would be a lot of overhead for every connector to have targeted options for every possible parameter, as there would need to be potentially 20+ options for each JDBC based connector. Every time someone realizes they want another option exposed to be changeable, another PR would be neede

[2022-01-24 15:43] timroes commented on #9747
Since this issue was originally from me: I wouldn't see it as super urgent. It would help inspecting fullstories and especially filter internal traffic from real users, which would be benefitial, but it's not a "must happen within the next sprint". Natalie, please feel free to add if you have a different priority for this.

[2022-01-24 15:57] jrhizor commented on #9629
Oh I didn't realize there was an actual collision. Makes sense that this should be a warning then.

Since https://github.com/airbytehq/airbyte/pull/9657 is merged can we close this?

[2022-01-24 16:00] cgardens commented on #9756
Cool! How is the progress bar going to track progress? Is there a backend API?

[2022-01-24 16:00] cgardens commented on #9756
Nice! Clever way of thinking about the first iteration.

[2022-01-24 16:17] alafanechere opened #9758 "🐛 Source Amazon S3: wrong schema stored in state"
## Environment
* Airbyte: 0.35.5-alpha
* Source: airbyte/source-s3 0.1.9
* Destination: airbyte/destination-bigquery 0.6.5

## Current Behavior
[Related slack conversation](https://airbytehq.slack.com/archives/C01MFR03D5W/p1643028088050800)

1. The user sets a valid schema for his Parquet file in the source configurations.
2. A different schema is stored in the state,
3. The catalog is corrupted b

[2022-01-24 16:23] timroes opened #9759 "Replace @ts-ignore by @ts-expect-error"
We currently use `@ts-ignore` in a couple of places around the UI. In cases where it's really needed to deactivate the typed compiler (what this command do), we should favor `@ts-expect-error` above `@ts-ignore`. They both do pretty similar things (disabling the typed compiler for that place), but `@ts-expect-error` will actually fail, if the next line wouldn't throw a compiler error. The danger o

[2022-01-24 16:51] harshithmullapudi commented on #9726
Hey  @hitk6 will you be able to contribute to this?

[2022-01-24 17:58] jrhizor commented on #4226
We should not include stream-specific namespace editing in this issue.

[2022-01-24 18:02] jrhizor commented on #7985
Should we have a backend endpoint for just showing if onboarding is required to remove the number of requests?

[2022-01-24 18:06] jrhizor commented on #7985
The backend also has a very slow `web_backend/connections/list` call for existing workspaces.

[2022-01-24 18:09] jrhizor commented on #7985
@Jamakase can look at job polling improvements for the onboarding flow.

[2022-01-24 19:52] #8235 closed

[2022-01-24 21:14] tuliren commented on #9698
@israel-caylent, just to clarify this, by `a text type with arrays`, you mean the offending column is typed as `text[]`, right?

Could you paste the full log? Specifically near the beginning of the sync, there should be some logs about: 1) the original type and Airbyte internal type of each column (e.g. `Table users column name (CHAR[50]) -> Json type string`), and 2) the Avro schema to be used by

[2022-01-24 22:02] JCWahoo commented on #3212
@sherifnada  let me know if you want to chat on this... actively looking to replace Stitch

[2022-01-24 23:36] jrhizor commented on #9715
We should notify users when this occurs.

[2022-01-24 23:49] tuliren opened #9771 "Database sources (Postgres, MySQL, MSSQL, etc) cannot sync only a subset of columns"
## Issue Summary
- Currently there is no way to sync a subset of columns using the Postgres source connector.
- When setting up a connection, we can only choose which tables to sync, but not columns.
- If the user account used for setting up the connection only has partial permission, and can only access a subset of columns, the catalog will still show the full table with all columns (this is unex

[2022-01-24 23:59] tuliren opened #9772 "Mock source connector: allow additional properties and do not enforce required fields"
Currently the source e2e test (mock source) connector does the following arbitrary things:
1. It assumes that every field is required.
2. It disallow additional properties.

This is necessary for now because:
- The mock Json object generation library may add extra properties with pure random names which look ugly and garbled.
- We cannot precise customize the library on how many non-required field

[2022-01-25 00:17] ltieman commented on #3107
Hello,

Was wanting to know what the timeline was on this?  Also happy to help with testing etc.

[2022-01-25 00:45] edgao commented on #9616
[document](https://docs.google.com/document/d/1bcBh6RJv5pVgeLLICdDak2dqI2DG3wRUZ8-HeCzxnQU/edit#) was written and shared with the team

[2022-01-25 00:45] #9616 closed

[2022-01-25 01:52] tuliren commented on #9501
Noah, thank you for the thorough reply.

The only thing to add is that if there are some parameters that should not be set by the user for security concerns, we can document it, ignore the user input just for those parameters, and writing a warning in the log.

[2022-01-25 02:08] bleonard opened #9775 "Github Connector: schema incorrect for auto_merge"
## Environment
- **Airbyte version**:  0.35.7-alpha
- **OS Version / Instance**: macOS Intel
- **Deployment**: Docker
- **Source Connector and version**: Github 0.2.14
- **Destination Connector and version**: Postgres 0.3.13
- **Severity**: Low
- **Step where error happened**:Sync job

## Current Behavior

Error during normalization on Github connector.
It looks like the schema thinks `auto_merge`

[2022-01-25 02:34] answerMA commented on #9683
Hey bro, that's awesome, and it really works fine now.

May I know if in the future this feature will be added into kafka source as it tranforms data into correct schema automatically ?

[2022-01-25 03:26] answerMA opened #9776 "schedule job can't be cancelled"
## Environment
- **Airbyte version**:  example is 0.35.5-alpha
- **OS Version / Instance**: centos
- **Deployment**: Docker
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Low
- **Step where error happened**: Sync job

## Current Behavior
when the job reports failed, and it

[2022-01-25 03:38] answerMA opened #9777 "connection doesn't work after updating source schema"
## Environment
- **Airbyte version**:  example is 0.35.5-alpha
- **OS Version / Instance**: centos7
- **Deployment**: Dockerv
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**:  Low
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / U

[2022-01-25 06:10] octavia-squidington-iii opened #9779 "Source Google ads: Refresh token error when changing start_date in source settings"
*Is this your first time deploying Airbyte:* No
*OS Version / Instance:* Ubuntu
*Memory / Disk:* 16Gb / 250GB
*Deployment:* Docker compose
*Airbyte Version:* 0.35.3-alpha

Our Google Ads connector imports data just fine, but once we try to reconfigure it in the settings (eg. change of startDate), we receive *RefreshError('invalid_client: Unauthorized', {'error': 'invalid_client', 'error_descriptio

[2022-01-25 06:43] Sousaplex commented on #4847
Just wanted to share that we would also like to deploy to ECS.

[2022-01-25 07:44] mridula-plivo commented on #9241
@reubano I was able to get past this error by adding `JAVA_OPTS=-Djdk.lang.Process.launchMechanism=vfork` to the `worker`'s `environment` in `docker-compose.yaml`.

[2022-01-25 07:46] mri-dula commented on #9241
@reubano I was able to get past this error by adding JAVA_OPTS=-Djdk.lang.Process.launchMechanism=vfork to the worker's environment in docker-compose.yaml.

[2022-01-25 08:26] ycherniaiev commented on #9681
Done. Research is here https://docs.google.com/document/d/1GPrZjW6Y6zL-BE2_id0zCp2AGTWCLzwcYuXVLT2s66A/edit#

[2022-01-25 08:56] harshithmullapudi opened #9780 "Source mongo: column names are changed in destination due to which normalisation fails"
## Environment
Hi Team,
Is this your first time deploying Airbyte: No
OS Version / Instance: Linux/UNIX
Memory / Disk: 30GB SSD (c5a.2xlarge)
 Deployment: Docker
 Airbyte Version: 0.32.6-alpha
 Source name/version: MongoDB (0.1.2)
 Destination name/version: Snowflake
 Step: On connection creation.
Description:
I have a cluster on MongoDB of 39 collections (915GB). I am trying to read only 3 collec

[2022-01-25 09:51] igrankova opened #9781 "Update fields in source-connectors specifications: recharge"
## Tell us about the problem you're trying to solve
Add title and description properties to each field in source-connectors specifications:
source-recharge

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2022-01-25 09:55] igrankova opened #9782 "Update source-file connector to get the latest airbyte_cdk version"
## Tell us about the problem you're trying to solve
Update source-file connector to get the latest airbyte_cdk version ( to unblock issue #9783)

[2022-01-25 09:57] igrankova opened #9783 "Update fields in source-connectors specifications: file-secure"
## Tell us about the problem you're trying to solve
Add title and description properties to each field in source-connectors specifications:
source-file-secure

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

Blocked by issue #9782

[2022-01-25 10:46] feliche93 commented on #9758
Sample file with following schema:

[code]

[2022-01-25 11:22] #8894 closed

[2022-01-25 12:07] MahmoudElhalwany opened #9784 "Mysql syncing timeout"
## Environment
- **Airbyte version**: 0.35.5-alpha
- **OS Version / Instance**: Linux
- **Deployment**:  Kubernetes
- **Source Connector and version**: MySQL 0.5.1
- **Destination Connector and version**: clickhouse
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
*time out in syncing*

## Logs

<details>
<summary>LOG</summary>

[code]

</details>

[2022-01-25 12:49] #3489 closed

[2022-01-25 13:08] sashaNeshcheret opened #9787 "UI: Add support for "ending" field from spec."
## Tell us about the problem you're trying to solve
From https://github.com/airbytehq/airbyte/issues/2491.

For snowflake connector users need to type account name, that consists of several part. Last part of it is immutable and can be added automatically to simplify it from user perspective. So we need improve it by adding support from UI to handle new field to specs("ending").

[2022-01-25 13:12] nthbooth-feedr opened #9788 "Time based synchronisations"
## Tell us about the problem you're trying to solve
There are some sync's that when writing to Redshift are maxing out the database.

While this is fine if it was out of hours during working hours it causes issues.

We could increase the size of Redshift there is cost associated with that when it is idle overnight.

## Describe the solution you’d like
Time based synchronisation of jobs allowing th

[2022-01-25 13:48] stockymcstockface commented on #8084
Running v0.35.5-alpha and issue is there.
I had to resort to manual database dump/restore to migrate airbyte, which works but it would be nicer for me to export and version control the config.

[2022-01-25 14:14] #8369 closed

[2022-01-25 14:16] igrankova opened #9790 "Update fields in source-connectors specifications: postgres"
## Tell us about the problem you're trying to solve
Add title and description properties to each field in source-connectors specifications:
source-postgres

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2022-01-25 15:35] ChristopheDuong commented on #9350
There is not enough data in segment data to connect check_connection events back to a connection.

So current metrics can't leverage the past check_connection event data until we make changes to platform as described in the following tech spec: https://docs.google.com/document/d/14hYJTUFIXHQ7JBB-gq2EBGrAvPBaEatDyOZMsUH12bI/edit

[2022-01-25 15:45] karinakuz commented on #9684
Research result: https://docs.google.com/document/d/1qltg3eKLvjVK0cPel7SiptVRrytPhRwqjBSEc4WLJlc/edit?usp=sharing

[2022-01-25 16:19] aadityasinha-dotcom commented on #9702
Can I work on this issue?

[2022-01-25 17:06] sashaNeshcheret commented on #2491
@misteryeo please help with assigning #9787 to someone from UI team

[2022-01-25 17:41] pmossman commented on #9629
Yeah I think we can close this out. @marcosmarxm since you opened this ticket, the resolution here is that we've changed that ERROR log to a WARN log, because it is expected behavior when duplicate state messages are issued by the destination.

[2022-01-25 17:41] #9629 closed

[2022-01-25 17:48] jrhizor commented on #9788
This is a known pain point. Most people get around this today by using Airflow/Prefect/crons to call the Airbyte API to run manual syncs in a specific timeframe.

We will also offer support for this in https://github.com/airbytehq/airbyte/issues/2170 (we're working on it soon!)

Closing this issue as a duplicate.

[2022-01-25 17:48] #9788 closed

[2022-01-25 18:15] misteryeo commented on #9733
@jrhizor This makes sense to me.

Just want to loop in @nataliekwong @erica-airbyte in case their experience with customers deviates from this proposed path.

[2022-01-25 18:25] nataliekwong commented on #9733
Agreed with defaulting to every 24 hours.

[2022-01-25 18:26] erica-airbyte commented on #9733
@misteryeo my only concern about defaulting to a times frequency is if they are just testing and it just is successful and then they forget that it is running and they do not realize it then they get a bill from their destination and get angry at us. I think we need to make sure that we have automated account disable after a trial end date. Is that planned for GA? If so then I agree with a 24 hour

[2022-01-25 18:29] nataliekwong commented on #9739
The x-axis only contains dates where credit usage occurred. This is misleading when trying to understand credit usage trends.

Example below (missing Dec 30, Dec 31, Jan 2, Jan 3)
![Screen Shot 2022-01-25 at 1 28 18 PM](https://user-images.githubusercontent.com/38087517/151036996-f2c64e69-4372-4542-8c20-d87372e79cdc.png)

[2022-01-25 18:39] jrhizor commented on #9733
We will stop syncing after they run out of free credits. Is that sufficient?

[2022-01-25 18:44] harshithmullapudi commented on #9784
Hey @MahmoudElhalwany have to tried changing some config on Mysql db end and see if you can increase the connection time limit ?

[2022-01-25 18:46] erica-airbyte commented on #9733
Yeah that could work

[2022-01-25 19:47] marcosmarxm opened #9794 "Publish new version of normalization to release clickhouse TCP ports"
The PR https://github.com/airbytehq/airbyte/pull/9340 was merged but normalization wasn't published with a new version.

[2022-01-25 19:58] erica-airbyte commented on #9739
- we are keeping credits remaining right?

Tell the user how many credits they've used on a specific date.

- Will be be able to see which connector cost X amount of credits for a certain date?

[2022-01-25 20:18] #9794 closed

[2022-01-25 20:34] alvaroqueiroz commented on #3943
i have also experienced this problem with 4.100 tables in a mssql source.
![image](https://user-images.githubusercontent.com/23335136/151055212-2202534a-ae6a-4334-8e70-1abf487846ed.png)

[2022-01-25 20:44] nataliekwong opened #9796 "Segment calls 'attempt_id' don't align"
## Current Behavior
The first attempt_id has changed to now record as 1 in the connector_jobs Segment call after January 20, 2022. The attempt_id  for connector_jobs  now starts at 1 (used to start at 0), whereas the attempt_id for credit_consumption  still begins at 0. This change looks like it took effect on 1/20, so any credit usage dashboards show 0 credits used after 1/20 as the join between

[2022-01-25 20:47] jrhizor opened #9797 "platform orchestration testing connector"
## Tell us about the new connector you’d like to have
I'd like to create a connector that makes it easier to test the orchestration platform from acceptance tests without any `Thread.sleep` patterns.

## Describe the context around this new connector
What I'm imagining is a connector that has a config pointing to an API server. That API server could also be run via tests via Docker. The tests woul

[2022-01-25 23:03] misteryeo commented on #8013
Closing at the associated PR was merged. If this issue was in fact no resolved, please reopen.

[2022-01-25 23:03] #8013 closed

[2022-01-25 23:05] misteryeo commented on #7962
Any update on this @ayyoubmaulana?

[2022-01-25 23:06] misteryeo commented on #7224
Let us know if there's anything else outstanding here @zestyping!

[2022-01-25 23:21] tuliren commented on #9797
I really like this idea, though it's probably more useful for testing of the platform than testing of the connectors. I'd be happy to work on this if there is bandwidth.

[2022-01-25 23:40] misteryeo commented on #7527
Looks like this has been merged so closing this issue!

[2022-01-25 23:40] #7527 closed

[2022-01-26 00:06] misteryeo commented on #9675
@igrankova @karinakuz @ycherniaiev updated the project doc with two additional asks for each output doc - (1) making sure access is granted to both myself and Sherif + adding URL links to documentation so we can cross check the data as needed.

Thank you!

[2022-01-26 00:12] misteryeo commented on #9167
@jagannathsrs not currently being worked on - would love for you to contribute!

[2022-01-26 00:20] misteryeo commented on #6417
@davinchia @htrueman is there further steps for this ticket?

[2022-01-26 05:21] hbd commented on #9502
I am having the same issue upgrading from `0.33.8-alpha` to `0.35.5-alpha`. While the logs do not produce an error, the `Flyway Community Edition 7.14.0 by Redgate` log repeats endlessly. After starting with the latest version, I left it running for 10 minutes before stopping due to the endless loop.

[2022-01-26 05:22] hbd commented on #9170
Seems like the same error as https://github.com/airbytehq/airbyte/issues/9502

[2022-01-26 06:03] ilijaNL opened #9806 "Add support for servicename in oracle db connector"
Currently only a sid for connection is supported in the oracle db connector. Add support for servicename (TNS alias) configuration in the oracle db connection.

[2022-01-26 06:13] ycherniaiev commented on #9678
Done.Research is here https://docs.google.com/document/d/1KOiJT6hENQTOdNI2DGgMDRTD2JV0NBLOU3uxRyhE42w/edit

[2022-01-26 07:54] #8570 closed

[2022-01-26 08:29] Morpheus1999 commented on #3865
Dears

I just found that this issue was caused by class [https://github.com/airbytehq/airbyte/blob/v0.35.10-alpha/airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/JsonSchemaPrimitive.java](url) do not have corresponging timestamp enum item and this class was used to generated stream of catalog.

[2022-01-26 09:14] answerMA commented on #9777
yes, these changes for the source has been saved. At that time I didn't know that fact we can use API to modify catalog.json, so I have to change source to try to make the correct scheme be shown at connection settings page. So, once I save the changes for source, and click update the latest source shema, it then died. But I have not tried to update destination, because nothing changed for destina

[2022-01-26 09:20] zamaniramin549 opened #9810 "./generate.sh command has issue"
Hi
I'm trying to use **Python CDK Speedrun: Creating a Source** from [documentation](https://docs.airbyte.com/connector-development/tutorials/cdk-speedrun).
After navigating to **"cd airbyte-integrations/connector-templates/generator"** and then run **"./generate.sh"**, I'll get
**"While trying to generate a connector, an error occurred on line 38 of generate.sh and the process aborted early.  Thi

[2022-01-26 09:22] answerMA opened #9811 "clickhouse can't be loaded data since second time"
## Environment
- **Airbyte version**:  example is 0.35.5-alpha
- **OS Version / Instance**: centos7
- **Deployment**: Docker
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**:  Low
- **Step where error happened**:  Sync job

## Current Behavior
I used file as source, and chosen

[2022-01-26 12:56] lfzuluagah commented on #8785
@alafanechere  @tuliren  any advance on this improvement??

thanks for your help in advance!!!

[2022-01-26 13:15] bazarnov commented on #8633
Issue is fixed with `v0.35.9-alpha`. The `shopify 0.1.30` is released and deployed on `dev-1`. We are ready to proceed with Shopify Support Team Test of OAuth flow.

[2022-01-26 13:30] bazarnov opened #9814 "Test"

[2022-01-26 14:06] noahkawasakigoogle commented on #8785
What database specifically are you asking about @lfzuluagah?

[2022-01-26 14:53] #9615 closed

[2022-01-26 15:31] alafanechere commented on #9727
It's not defined in `destination_definitions.yaml` is it on purpose, is this connector part of the unpublished ones for good reasons?

[2022-01-26 15:53] harshithmullapudi commented on #9727
Hey @alafanechere I didn't add it when published. I forgot 😓 . I will take up this issue I can do a PR. 😃

[2022-01-26 15:54] harshithmullapudi commented on #9727
I think there is one more like this confluence I will pick both in the same PR

[2022-01-26 15:56] igrankova commented on #9677
@misteryeo, I've finished the research, you can find doc in the description. Let me know if I can do something more for this task.

[2022-01-26 16:00] boubouillemmo opened #9815 "Google Search Console connector error if end date is left blank"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: AWS EC2 t2.large
- **Deployment**: Docker
- **Source Connector and version**: Google Search Console 0.1.11
- **Destination Connector and version**: Postgres 0.3.13
- **Severity**: Medium
- **Step where error happened**: Setup new connection

## Current Behavior
The Google Search Console connector doesn't allow the End

[2022-01-26 16:40] #9442 closed

[2022-01-26 17:21] tuliren commented on #9614
Warehouse Benchmark workspace: [`[Benchmark] Destination Warehouse`](https://cloud.airbyte.io/workspaces/f4bbed8e-8533-4d14-82dd-277b672164d8/connections)

[2022-01-26 17:35] sherifnada commented on #8633
@bazarnov opening this issue since it covers the scope of in progress work as well

[2022-01-26 17:43] jagannathsrs commented on #9375
One thing to note is that `MAX_SUMBITTER_THREADS = (MAX_SYNC_WORKERS + MAX_SPEC_WORKERS + MAX_CHECK_WORKERS + MAX_DISCOVER_WORKERS)` which means even though you set it to 50 if you have 50 discover jobs, all other types of works will be in pending state and wait for discover schemas to finish. Maybe there's an issue with check/discover workers that's not letting them finish?

[2022-01-26 17:48] sherifnada commented on #9479
@ChristopheDuong removing from milestone since it's an epic, we should instead add subtickets to the. milestone

[2022-01-26 17:49] sherifnada commented on #9615
@subodh1810 was there an outcome from this ticket worth sharing ?

[2022-01-26 17:58] tuliren commented on #9534
Warehouse Benchmark workspace: [`[Benchmark] Destination Warehouse`](https://cloud.airbyte.io/workspaces/f4bbed8e-8533-4d14-82dd-277b672164d8/connections)

[2022-01-26 17:58] #9534 closed

[2022-01-26 18:10] edgao commented on #9442
for reference, the docs are at https://docs.airbyte.com/understanding-airbyte/supported-data-types

[2022-01-26 18:14] #8138 closed

[2022-01-26 18:16] sherifnada commented on #9614
goals:
1. understand scale of data
2. validate that every data type works with high performance (not focused on correctness)

[2022-01-26 18:17] sherifnada commented on #9602
Scope is focused on inserts for this week, blob storage less critical

[2022-01-26 18:18] tuliren commented on #9104
## Sprint Summary

- Sentry integration is not completely done as planned.
- Local test of Sentry integration works as expected.
- Still working on deploying it to cloud.

[2022-01-26 18:19] edgao commented on #9443
@oustynova fyi this is ready to be worked on now

[2022-01-26 18:19] tuliren commented on #9440
## Sprint summary

- Completed the mock source, and created benchmark workspace, and initial benchmark connections.
- Local and CI benchmark tests are not set up yet.
- Sentry integration is not done yet.

[2022-01-26 18:19] #9350 closed

[2022-01-26 18:20] sherifnada commented on #9350
closing since tech spec was ratified by platfiorm team

[2022-01-26 18:29] bazarnov commented on #8633
Yes, thanks. We are ready to be tested on https://dev.airbyte.ga/ BTW.

[2022-01-26 18:33] tuliren opened #9818 "Verify catalog in Java source acceptance test"
The Java source acceptance test currently does not do any validation on the catalog other than null checking:
https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceAcceptanceTest.java#L149

[2022-01-26 18:33] tuliren commented on #9818
This should be a quick fix.

[2022-01-26 19:30] pmossman opened #9822 "Test Platform feature request"
Testing if area/platform issue gets automatically added to Platform Scrum project

[2022-01-26 19:32] alafanechere commented on #9375
Going in the direction of @jagannathsrs, @naveenpatnana could you try to set MAX_SUMBITTER_THREADS=250 and check the behavior? It could also be helpful to get a dump of your job table in the airbyte database to troubleshoot.

[2022-01-26 19:40] Chr1sCon opened #9824 "IHS Markit - iLEVEL Portfolio Monitoring Software"
## Tell us about the new connector you’d like to have
* Source: IHS iLevel Portfolio Monitoring Software (https://ihsmarkit.com/products/ilevel.html)
* Destination: BigQuery

## Describe the context around this new connector
* iLevel is used to collect (financial reporting) data from portfolio companies for private equity and other investment companies. FSN Capital Partners AS use it to collect mo

[2022-01-26 20:09] #9525 closed

[2022-01-26 20:16] vinothchandar commented on #9588
This was a PoC done by someone in the Hudi community https://h7kanna.medium.com/why-and-how-i-integrated-airbyte-and-apache-hudi-c18aff3af21a

[2022-01-26 20:20] keu commented on #8282
created new PR to have a better overview of the final changes. https://github.com/airbytehq/airbyte/pull/9805

[2022-01-26 20:59] alafanechere commented on #9501
@tuliren do you think this is a blocker for the merge of Noah's PR's https://github.com/airbytehq/airbyte/pull/9623? For Snowflake, I can't see any hardcoded JDBC params that could be overwritten by the user's input.

[2022-01-26 21:44] tekkisse commented on #7502
be awesome to connect to on prem !!!

[2022-01-26 22:02] marcosmarxm opened #9827 "Source Facebook Pages: problem creating new source + printing access_token"
## Environment
- **Airbyte version**:  0.35.10-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: Facebook Pages 0.1.6
- **Destination Connector and version**: -
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Creating a new source

## Current Behavior
![image](https://user-images.githubusercontent.co

[2022-01-26 22:05] alafanechere commented on #9241
@reubano please find more details of existing M1 workarounds in this issue: https://github.com/airbytehq/airbyte/issues/2017

[2022-01-26 22:55] edgao opened #9828 "Connector versions should be decoupled from Airbyte versions"
## Tell us about the problem you're trying to solve
Currently, there are some areas where upgrading a connector also requires upgrading Airbyte itself. For example, if a connector's OAuth implementation is changed, that might require changes to the connector as well as the OAuth flow. This complicates version rollbacks.

## Describe the solution you’d like
Anywhere there's a mapping from connector

[2022-01-27 01:44] jrhizor commented on #9711
#6 on https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=31529%3A143426 for the final mockup

[2022-01-27 05:21] harshithmullapudi commented on #9727
I think there is one more problem here is there is no firestore.md 😓 so this issue will still be there

[2022-01-27 05:27] harshithmullapudi commented on #9727
@ad-m Hey, can I ask your help here to create a documentation file?

[2022-01-27 06:51] harshithmullapudi commented on #9810
Can you share the logs/screenshot of the error? Also in the meantime you can do
1. Install Nodejs
2. npm run generate

[2022-01-27 06:57] harshithmullapudi commented on #9824
Hey @Chr1sCon will you be able to contribute this source?

[2022-01-27 07:22] #9569 closed

[2022-01-27 07:25] zamaniramin549 commented on #9810
[code]

here you go

[2022-01-27 07:27] zamaniramin549 commented on #9810
I have already node.js installed

[2022-01-27 07:47] zamaniramin549 commented on #9810
When I use **npm run generate** I'll get
[code]

[2022-01-27 08:24] krisjan-oldekamp commented on #8387
Tried the same here (adding sc-domain:example.com as the property). Able to save the configuration but fetching data doesn't work.

[2022-01-27 12:00] #7934 closed

[2022-01-27 12:36] aniket-vh opened #9834 "MySQL - Snowflake Job gets stuck in running status"
## Environment
- **Airbyte version**:  0.35.6-alpha
- **OS Version / Instance**: k8s
- **Deployment**: k8s
- **Source Connector and version**: MySQL 0.5.1
- **Destination Connector and version**: Snowflake 0.4.3
- **Severity**: Medium
- **Step where error happened**:  Sync job

## Current Behavior

Connection failing to fetch records from MySql to Snowflake.
Working for a few tables, so jobs are g

[2022-01-27 13:09] alexandr-shegeda commented on #8280
@tuliren @edgao FYI:
- JDBC-based DBs always store TIMESTAMP in UTC timezone (the only exception is Postgres TIMESTAMP without TZ doesn't convert into UTC automatically) so there is no way to turn it off or retrieve TZ from the DB
https://stackoverflow.com/questions/48956401/different-timezones-in-a-postgresql-application
https://stackoverflow.com/questions/52092746/how-to-disable-conversion-to-ut

[2022-01-27 13:20] alexandr-shegeda commented on #9337
There is no need to pass an additional parameter to the connection URL since all databases automatically convert TIMESTAMPTZ into UTC.

We tried to store timestamps with/without timezone in different scenarios to JDBC related DBs (MySQL, Postgres, Oracle):
1) DB timezone = +02:00, inserted timestamp "2021-01-01 14:00:00 -5", so it was stored in UTC but can be displayed in system TZ as "2021-01-01

[2022-01-27 13:20] #9337 closed

[2022-01-27 13:27] alafanechere commented on #8060
This error also happens for the Google search console connector, which exposes an `end-date` parameter too.

[2022-01-27 13:31] marcosmarxm commented on #9658
https://github.com/airbytehq/airbyte-warehouse/pull/20

[2022-01-27 13:36] marcosmarxm opened #9835 "Source Google Ads: Add new fields to keyword report and search performance report"
## Tell us about the problem you're trying to solve

Requested by Adriel from Cart.com

For the "keyword_report" could you add these fields:
- Campaign
- Ad Group
- Cost
- Clicks
- Impressions
- Conversions
- Conv. Value
- Quality Score
The documentation for those can be found here: https://developers.google.com/adwords/api/docs/appendix/reports/keywords-performance-report

Could we also bring in

[2022-01-27 13:39] marcosmarxm opened #9836 "Source Facebook Marketing: add new fields"
## Tell us about the problem you're trying to solve

Requested by Adriel from Cart.com

Add new fields to **ads_insights** stream:
- landing pagesviews
- website url
- url parameters
- customer conversions
- website leads

## Describe the solution you’d like
Add the fields to improve reports details.

## Describe the alternative you’ve considered or used
None

## Additional context
None

## Are yo

[2022-01-27 13:40] alafanechere opened #9837 "🐛 Destination ClickHouse: normalization does not use SSL to connect"
## Environment
- **Airbyte version**:  0.35.10
- **Deployment**: Docker
- **Source Connector and version**: Google Adwords
- **Destination Connector and version**: Clickhouse
- **Severity**: High
- **Step where error happened**: Sync job - normalization

## Current Behavior
* User sets up connection to Clickhouse via SSL.
* Replication to raw tables works fine.
* Normalization **fails**:

[code]

[2022-01-27 13:56] bodschut commented on #6326
Yes, we also need this :-)

[2022-01-27 14:24] bruno-nirello commented on #8817
hi, i'm still having problems trying to sync data from typeform, if someone wants to make a video call i can share my screen and show the problem.

[2022-01-27 14:34] alafanechere commented on #9296
This feature request was raised by a user on [Slack](https://airbytehq-team.slack.com/archives/C021JANJ6TY/p1642777143380500).

[2022-01-27 14:55] bruno-nirello commented on #8817
![Screenshot from 2022-01-27 11-49-34](https://user-images.githubusercontent.com/30416677/151382912-13acfcc3-f5f2-4e48-b411-1cfb6835f283.png)
I'm trying to get reports from > '2021-01-01' **it fails**, and the fact that they print all content from files in the log, i cannot see what causes the issue because the log freezes.

When i tried to get just a few days I am successful

[2022-01-27 15:12] #9717 closed

[2022-01-27 15:12] #9718 closed

[2022-01-27 15:52] misteryeo commented on #9827
From @marcosmarxm - "I saw at least 3 users having problem with Facebook Pages"

For folks who experience this issue, please comment on this thread to help us prioritize this in upcoming sprints!

[2022-01-27 16:08] #8851 closed

[2022-01-27 16:08] #8850 closed

[2022-01-27 16:22] #8732 closed

[2022-01-27 16:23] jrhizor opened #9839 "make async container orchestrator run as a single pod"
We're starting to see occasional/transient connection failures between source and destination pods on cloud. We should combine these into a single pod for better performance + removing the chance for failures.

The downside is that this will change our memory allocation for the node level (especially for OSS users). We'll need to communicate on this to OSS users + we'll need to make sure cloud job

[2022-01-27 16:27] misteryeo opened #9840 "Facebook Marketing Source: Add "Ad Account" Stream"
## Tell us about the problem you're trying to solve
Support Ad Account stream to reach feature parity for GA connector: https://developers.facebook.com/docs/marketing-api/reference/ad-account. Based off [MLP research](https://docs.google.com/document/d/1lQlxwLt22CFMAG3qTWYn4MpRSi2XCLQVqEkb0XeqBeA/edit#).

[2022-01-27 16:27] jrhizor opened #9841 "add release stages to connector definitions"
unblocks https://github.com/airbytehq/airbyte/issues/9711

[2022-01-27 16:45] misteryeo opened #9842 "Facebook Marketing Source: Support "Replicate Incremental Deletes""
## Tell us about the problem you're trying to solve
Support replicating incremental deletes to reach parity for GA connector as per [research](https://docs.google.com/document/d/1lQlxwLt22CFMAG3qTWYn4MpRSi2XCLQVqEkb0XeqBeA/edit#).

[2022-01-27 16:47] farisam opened #9843 "Destination MongoDb: Upload custom certificate to connect to a replica-set"
Hi Airbyte Team,

I’m trying to connect the destination to alicloud apsaraDB for mongoDB and I get this error:

I already open this issue on slack (https://airbytehq.slack.com/archives/C01VDDEGL7M/p1643283752262100) and airbyte team suggest me to open an issue and upload the custom ssl certificate. Can you provide me the link to upload the certificate?

Thanks

[2022-01-27 16:48] edgao opened #9844 "Require two airbyter reviews on changes to spec.json"
Until we have more robust backwards-compatibility handling for breaking spec changes, require two airbyter reviews when the spec is changed to reduce the chance of not catching a breaking change. The second reviewer should only need to read spec.json, which will hopefully not be a huge LOE increase.

This could be as simple as modifying the PR template. Or it could be some automation to automatica

[2022-01-27 16:52] lmossman commented on #9651
One slightly related problem we have ran into a few times:
If someone releases a change in OSS that adds a new method to an interface or a parent class that is used in Cloud, a change must also be merged into Cloud to implement the new method, e.g. [this PR](https://github.com/airbytehq/airbyte-cloud/pull/900). The issue here was that I had originally planned to implement the method in a larger PR

[2022-01-27 16:57] harshithmullapudi commented on #9810
you can do `npm install plop` it should work after that

[2022-01-27 17:04] edgao opened #9845 "Write tests to detect breaking connector spec changes"
We should have automated detection for when a connector's spec changes in a way that's incompatible with older configs. These tests should fail if (a) the new spec is incompatible, and (b) there's no code to upgrade old configs to new configs (or at least accept old configs).

This is partly dependent on figuring out schema migrations (a la https://github.com/airbytehq/airbyte/issues/5396, but als

[2022-01-27 17:56] misteryeo commented on #9677
Reviewing @igrankova and adding a few comments. But wanted to say that so far from the research docs, this is the gold standard - amazing work! Love the detail and the breakdown of information!

[2022-01-27 17:57] #9085 closed

[2022-01-27 17:58] edgao commented on #4030
redshift was completed in https://github.com/airbytehq/airbyte/issues/8552
snowflake was completed in https://github.com/airbytehq/airbyte/issues/8820

[2022-01-27 17:58] #4030 closed

[2022-01-27 18:07] alafanechere opened #9847 "🐛 Secrets store: secrets related env var are not declared in Kubernetes manifests"
The following environment vars are not defined in Kubernetes manifests we have (both Kustomize and Helm):

* `SECRET_STORE_GCP_PROJECT_ID`
* `SECRET_STORE_GCP_CREDENTIALS`
* `SECRET_PERSISTENCE`

This prevents our Kubernetes users to use a GSM secret store.

[Slack discussion here](https://airbytehq-team.slack.com/archives/C019WJFR1JT/p1642764265216300)

[2022-01-27 18:09] misteryeo commented on #8424
Closing as PR was merged.

[2022-01-27 18:09] #8424 closed

[2022-01-27 18:16] misteryeo commented on #8666
@marcosmarxm confirming with you that given the above PR merge, we can close this issue? If so, can you close this issue?

[2022-01-27 18:19] alafanechere opened #9849 "🐛 Secret store: Deserialization of GSM secrets fails during connection check"
## Environment
- **Airbyte version**:  ?
- **Deployment**: Kubernetes
- **Severity**:  High
- **Step where error happened**:  Setup new connection
-
## Current Behavior
1. Use GSM
2. Try to set up a new BigQuery source pasting JSON credentials in the Airbyte UI
3. These credentials are stored in GSM as JSON objects
4. Airbyte tries to read them when checking connection with the source (and fails t

[2022-01-27 18:52] misteryeo commented on #3011
Closing as this was merged.

[2022-01-27 18:52] #3011 closed

[2022-01-27 19:19] ShahBinoy commented on #9834
I am facing similar problem

[code]

After this, all I see is log upload messages like
[code]

[2022-01-27 22:04] juliachvyrova commented on #9731
In figma there are "Sources are tools" text on sourse/destination/connection steps.
@jrhizor could you give me right text for these steps?

[2022-01-28 00:08] #8954 closed

[2022-01-28 00:48] #8666 closed

[2022-01-28 01:23] marcosmarxm commented on #7011
@ChristopheDuong could we add a script in normalization to always delete tables with startwith `_airbyte_tmp*`? Let me know what do you think about it

[2022-01-28 01:24] marcosmarxm commented on #7011
Of course if normalization failed, the tmp tables will continue there. Adding to normalization can be a easy solution but don't solve the problem.

[2022-01-28 01:51] sherifnada opened #9855 "Decide on long term build vision"
## Problem
A change to connectors can break the platform build and vice-versa. There is often very poor (aka long) feedback loops to know if my change broke something on the other "side of the fence". Plus, there are some flaky builds which, when failing, do not tell me if it was because of my change or because of flakiness. Either this means many CI checks become noise and are ignored, or it mean

[2022-01-28 01:52] sherifnada commented on #9855
Some interesting examples: Apache beam has a polyglot repo with SDKs in different languages:

https://github.com/apache/beam

they also use pre-commit and post-commit tests which tell the author if their change messed things up: https://github.com/apache/beam/pull/16632#partial-pull-merging

[2022-01-28 03:15] misteryeo commented on #9423
Closing based on Liren's comments.

[2022-01-28 03:15] #9423 closed

[2022-01-28 03:24] misteryeo commented on #6021
@cgardens agree with Marcos here. Is there someone on the platform team who could help draft these docs and tag me for review? 🙏

[2022-01-28 05:17] #8690 closed

[2022-01-28 06:23] zamaniramin549 commented on #9810
Thanks, it seems to be working

[2022-01-28 06:57] keu commented on #6384
@marcosmarxm is this only related to the list of objects?
let's say I have a drop-down of possible values or a list of values, where each can be one of the choices.
The current limitation of web app looks unjustified, IMO connectors shouldn't depend on low layer (UI 3rd party)

[2022-01-28 07:09] keu opened #9860 "🐛 SAT: Fix `test_oneof_usage` fail"
From the slack conv:
https://airbytehq.slack.com/archives/C02URF2BKL1/p1643341400367279

*Tell us what happens.*
After release of #9768 `test_oneof_usage` is failing with error:
[code]

## Expected Behavior
`test_oneof_usage` shouldn't crash the test execution

[2022-01-28 07:44] igrankova commented on #9677
Hi, Andy!Thank you very much for such a high evaluation of my work. I will do my best to continue on a same level. I’ll take into account comments and make updates accordingly. Iryna GrankovaSystem Business Analyst (Unblocker)Global Logic+380636306253 From: AndySent: 27 січня 2022 р. 19:57To: airbytehq/airbyteCc: Iryna Grankova; MentionSubject: Re: [airbytehq/airbyte] Research Google Ads source co

[2022-01-28 09:15] AM-I-Human opened #9864 "Destination MongoDb: add normalization"
## Tell us about the problem you're trying to solve
I'm trying to avoid the extra level of indentation in the documents. Because ORM model will break.
All documents have the data in `_airbyte_data` and the collection have the the prefix airbyte_raw
eg: the collection airbyte_raw_INFOBIKE_EDIZIONE
[code]

## Describe the solution you’d like
I want to be able to mirror the source, or at least have t

[2022-01-28 09:23] nthbooth-feedr opened #9865 "🐛 Source Google sheets: import fails at nomination for one sheet"
## Environment
- **Airbyte version**: 0.35.7-alpha
- **OS Version / Instance**:  AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Google Sheets: 0.2.9
- **Destination Connector and version**: Destination Redshift: 0.3.23
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Most tables in the sheet sync with out issue but there is an issue by one

[2022-01-28 10:13] EDjur commented on #9849
Hey @jrhizor - I'm happy if this is the case! But a bit curious: I pased the JSON credentials just like always (as in without using GSM).

So the only format that could be wrong is the base GSM secrets that I entered into the `.secrets` conf. But those seemed to work too as Airbyte had access to read/write from GSM.

But happy if it's just a case of documenting the format.

[2022-01-28 11:52] alexandertsukanov opened #9867 "[JAVA][SENTRY] Integrate all Java-Based connectors with Sentry"
## Tell us about the problem you're trying to solve
In scope of issue https://github.com/airbytehq/airbyte/issues/9328, was created PR to integrate sentry with the next connectors:

- BigQuery
- BigQuery-denormalized
- Snowflake

This changes are also required for all Java-based connectors. . Please, consider this ticket as "**Ready for Implementation**" when [9328](https://github.com/airbytehq/ai

[2022-01-28 12:37] #8952 closed

[2022-01-28 13:08] #8951 closed

[2022-01-28 13:08] #8955 closed

[2022-01-28 13:28] igrankova opened #9869 "Publish destination-connector: oracle-strict-encrypt"
Publish connectors to implement changes of files title and description properties to each field in source-connectors specifications:
destination-oracle-strict-encrypt

[EPIC] Add title and description properties to each field in connectors specifications and order input fields appropriately #8324

[2022-01-28 13:51] #9460 closed

[2022-01-28 14:03] antixar commented on #6791
I guess it is not relevant issue. We will check

[2022-01-28 14:16] alexandr-shegeda commented on #8039
should be revised after #6517 is implemented

[2022-01-28 14:47] yurii-bidiuk commented on #6090
Hi @misteryeo, can we close this ticket, since the part size config was implemented by another PR [#5890](https://github.com/airbytehq/airbyte/pull/5890)?

[2022-01-28 15:15] ShahBinoy commented on #9834
Attaching full Log below as per @harshithmullapudi 's feedback on Slack

Sharing logs as gist below since issue editor would not accept full log
https://gist.github.com/ShahBinoy/272f3ac388d1da381c5a4676f383e058

[2022-01-28 15:19] grubberr opened #9870 "🐛 Source Recurly: noncompliant schema, it contains not allowed jsonschema keyword `allOf`"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-01-28 15:23] karinakuz commented on #9679
Research result: https://docs.google.com/document/d/1Z5wue_M3wKkWl667-aHLmtJd6IyyVNnoooUZzA0ucfA/edit?usp=sharing

[2022-01-28 15:40] sherifnada commented on #9842
cc @antixar about your question during our call: incremental deletes are not a special feature of the Airbyte protocol. They are implemented using the same primitives available today.

For example, Postgres CDC (which replicates deleted records) using the following mechanism:

- each stream has a primary key
- each stream has a cursor field
- each stream has a `_ab_deleted` field

to indicate that

[2022-01-28 15:48] noahkawasakigoogle opened #9871 "Standardize JDBC Connectors: Default SSL behavior, and add Verify SSL Certificate connection option for more flexibility"
## Tell us about the problem you're trying to solve
Non-standard assumptions about SSL being enabled on JDBC connections (adding `ssql=true` to the JDBC string/properties), and non-standard assumptions about verifying server certificates of the database server. There should be more flexibility in the encryption strategies a customer needs to enable connecting securely and successfully.

## Describ

[2022-01-28 15:51] zds97 opened #9872 "API: Reset connection doesn't consistently work"
## Environment
- **Airbyte version**:  0.34.2-alpha
- **OS Version / Instance**: Ubuntu 20.04, GCP
- **Deployment**: Docker
- **Source Connector and version**: Shopify 0.1.26
- **Destination Connector and version**: Postgres 0.3.13
- **Severity**: Medium
- **Step where error happened**: Resetting data via the API

## Current Behavior
I’m running into an issue when trying to reset data via the API

[2022-01-28 17:11] BenoitFayolle commented on #3865
Still an issue in connector version 0.5.1
Would love for this to be resolved!
Happy to test things out if someone knows how to resolve.

[2022-01-28 17:18] matthieuberger opened #9876 "Embed workspaceId into streams"
## Tell us about the problem you're trying to solve

I am using airbyte as a backend and I create a new workspace for each of my users. When writing records in database or sending in a message queue there is no way to know from which workspace it is coming from.

## Describe the solution you’d like
I would like some kine of metadata field with the workspace data. Ex:
[code]

## Describe the altern

[2022-01-28 18:02] ShahNewazKhan commented on #3605
What is the process to migrate from `pg db` on `k8s pvc` to an external db?

[2022-01-28 18:32] jedwards-gc opened #9880 "🐛 Destination Postgres: Reset Doesn't Handle Source Schema Changes, e.g. doesn't really reset"
## Environment
- **Airbyte version**:  0.35.12-alpha
- **OS Version / Instance**: AWS EC2 AmazonLinux 2, r5d.xlarge
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.4.3 (probably N/A)
- **Destination Connector and version**: Postgres 0.3.13 (probably N/A)
- **Severity**: Critical
- **Step where error happened**: Reset / Sync job

## Current Behavior
This primarily affects In

[2022-01-28 18:40] marcosmarxm commented on #9702
Sure @aadityasinha-dotcom ! I'll assign this issue to you

[2022-01-28 18:51] #9869 closed

[2022-01-28 19:01] aadityasinha-dotcom commented on #9702
Thanks 👍

[2022-01-28 19:37] #9818 closed

[2022-01-28 21:44] #9860 closed

[2022-01-28 21:50] keu commented on #6225
this ticket is blocked by #8282

[2022-01-28 22:19] nwayne94 opened #9883 "🐛 Source Salesforce: calls for distinct timestamp capped at 400 records (leads stream)"
# Environment
- OS Version / Instance: Mac OS 11.5.2
- Memory / Disk: 32 GB
- Deployment: Docker
- Airbyte Version: 0.35.10-alpha
- Source name/version: Salesforce 0.1.23
- Destination name/version: S3 0.2.7
- Severity: Critical
---
# Current Behavior
It appears records from Leads table is capped at 400 records for each distinct timestamp. We currently have a Salesforce connection through AppFlow

[2022-01-28 22:23] jrhizor opened #9884 "discover and check_connection should not hold open api connections"
This is starting to become a problem. If you're behind a gateway with timeouts or if you have many clients, this won't scale. This is something that has been a known issue for a while, but we weren't tracking it as far as I can tell.

Basically we need some request / request id model for these.

[2022-01-28 22:28] sherifnada commented on #9884
@jrhizor related but separate: we should also measure runtime of these operations on different deployment models and in a vacuum i.e: how long does it take salesforce to discover a catalog of 1000 streams? we need to optimize these runtimes such that a solution like this is unnecessary (though this may be unavoidable in the absolute case)

[2022-01-28 22:33] tuliren commented on #9884
I am going to track this with Sentry. I think the MVP won't automatically relate the runtime with number of streams. But at least we should know the time for each connector.

[2022-01-28 22:46] jrhizor opened #9885 "allow pushing temporal metrics to prometheus/datadog"
We should optionally allow sending temporal metrics to prometheus/datadog so we can access temporal-specific metrics (not just Temporal container / workflow state metrics like we do today on Cloud).

[2022-01-28 22:47] timroes commented on #9711
![screenshot-20220128-234558](https://user-images.githubusercontent.com/877229/151632117-857d49d8-e48a-4e3d-91a1-e878be05cf20.png)

(just to have a screenshot directly accessible in the issue)

[2022-01-28 22:48] jrhizor commented on #9884
Definitely agree with needing to understand + optimize the times it takes to run these operations on the connector side. My main point here is that the platform shouldn't need to care about how long it takes like we do today.

[2022-01-28 22:49] jrhizor commented on #9711
And per discussion, we will be omitting new as part of this issue (we may choose to add it later).

[2022-01-28 22:51] marcosmarxm opened #9886 "Source Google Ads: not possible edit config connector already created"
## Environment
- **Airbyte version**:  0.35.12-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: Google Ads 0.1.23
- **Destination Connector and version**: NA
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Edit connector already created

## Current Behavior
After creating a Google Ads connector I ca

[2022-01-28 23:14] jrhizor opened #9887 "allow configuring different temporal workflow/activity settings for cloud vs OSS"
On OSS, we generally want to err on the side of infinite timeouts so users get an experience that "just works" out of the box, even if they're doing something unexpected, like running a very long discovery job. (This is why we don't have resource limits by default in many places, for example).

Our Temporal timeouts/etc should be something we can configure independently for Cloud because we need t

[2022-01-29 01:02] ameyabhope opened #9889 "add a unique connection name"
We currently have multiple connections for the same source and destination pair, each having a different set of tables. It'd be great to have them easily identified by a connection name in the UI. This is addition to connection_id will also make working with connections really easy.

[2022-01-29 01:35] PS-istarostenko opened #9890 "🐛 Source MSSQL: IllegalArgumentException: nanos > 999999999 or < 0"
Trying to sync quite a large table from SQLServer to Snowflake with S3 stage.
After fetching the records for about an hour and a half I keep getting the same error:
`Exception in thread "main" java.lang.IllegalArgumentException: nanos > 999999999 or < 0`.
It's the first error in the logs. It's followed by:
`ERROR i.a.w.DefaultReplicationWorker(run):158 - Sync worker failed.
java.util.concurrent.Ex

[2022-01-29 01:46] tuliren commented on #3605
@ShahNewazKhan, you can find the docs [here](https://docs.airbyte.com/operator-guides/configuring-airbyte-db#connecting-to-an-external-postgres-database).

[2022-01-29 04:50] tuliren commented on #9867
I moved this issue out of the GL project for now. I am looking into this one.

[2022-01-29 04:53] tuliren commented on #9328
## Current status
- Sentry integration is working.
- Using Sentry Log4j seems to mess up with routine logging. Let's use the more generic Sentry Java SDK for now.

## Remaining TODOs
- [ ] [P1] Add more granular transaction to at least measure runtime of each command.
- [ ] [P1] Add a release tag to Sentry.
- [ ] [P1] Publish the release tag to Sentry in CI.

[2022-01-29 06:59] Morpheus1999 commented on #3865
Dears

I have created on merge request for fixing this issue.
Please kindly reviewing it.

Thanks

[2022-01-29 10:04] tuliren commented on #9867
This issue is partially addressed in https://github.com/airbytehq/airbyte/pull/9745.

[2022-01-29 10:21] tuliren commented on #9440
The one-sided benchmarks have low priority. Will close this one without them.

[2022-01-29 10:21] #9440 closed

[2022-01-29 12:01] timroes commented on #2170
Couple of open questions around this:

* Do we want to have a minimal interval allowed via a cron expression? By default using a cron expression you'd be able to run something up to every minute. I am wondering if we might want to apply some higher limit on that for safety reasons, or if we're fine having jobs run every minute (and whether we want to have different minimal intervals in OSS vs Clou

[2022-01-29 22:01] marcosmarxm commented on #9827
1. [26-jan Yvonne Huang](https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1643191072194500)
2. [23-dec iggy002](https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1640287136343200)
3. [14-jan Madison Mae](https://airbytehq.slack.com/archives/C01VDDEGL7M/p1642174718002900)

[2022-01-30 00:58] #9328 closed

[2022-01-30 01:28] ShahNewazKhan commented on #3605
Thanks for the pointer @tuliren! However the situation I have in hand is I have deployed `airbyte` onto a `k8s` cluster that provisioned a `pg db` on `pvc` I was looking for instructions to migrate this `pg db` on `k8s` to an external db.

Do I have to perform any other steps other than exporting the db to an external db and rebooting `airbyte` with connections to the new external db?

[2022-01-30 03:06] jdclarke5 commented on #2945
I am interested in this feature. Did you have any ideas on how you see it working mechanically?

It seems natural to me that indexes should be treated on par with the `primary_key` field in the [ConfiguredAirbyteStream](https://github.com/airbytehq/airbyte/blob/479f0d7c8d91b8f609e705417c357c48750010f4/airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml#L171). Then, in

[2022-01-30 11:45] etsybaev commented on #4904
1. JDBC driver is already used for connection.
2. The UI is already designed to select Snowflake from the drop-down menu as an option and contains usages guide.
3. A driver's version has been updated
4. The "application" parameter (partner names) is set to "airbyte"
5. ACTION_REQUIRED: Azure uploading method option is not implemented yet. Do we need it?
6. Username and password auth option is alre

[2022-01-30 18:34] cgardens commented on #6806
@jrhizor wasn't this done? or should it still be open?

[2022-01-31 01:00] cgardens opened #9895 "[EPIC] Only call discover schema when necessary"
## Tell us about the problem you're trying to solve
Discover schema ([docs](https://docs.airbyte.com/understanding-airbyte/airbyte-specification#discover)) can be expensive (both in terms of rate limiting and time).

Additionally, because we do not store output of discover schema (just the configured version which is lossy), we lose information about the schema in the UI after a connection gets co

[2022-01-31 01:15] cgardens opened #9896 "Create schema to persist discover schema output"
epic: https://github.com/airbytehq/airbyte/issues/9895

## Tell us about the problem you're trying to solve
We want to keep track of the output of discover schema call. See the [epic](https://github.com/airbytehq/airbyte/issues/9895) for the full context.

We want the persistence of this information to support the following features:
* Ability to link the catalog used for a connection to the catal

[2022-01-31 01:19] cgardens opened #9897 "Persist discover schema output"
Epic https://github.com/airbytehq/airbyte/issues/9895
Depends on https://github.com/airbytehq/airbyte/issues/9896

## Tell us about the problem you're trying to solve
Using the schema created in https://github.com/airbytehq/airbyte/issues/9895, start persisting the output of discover schema.

## Describe the solution you’d like
When discover schema returns, we should see if the schema already exis

[2022-01-31 03:40] zackliston opened #9899 "Cannot run custom DBT transformation git_repo directory does not exist"
## Environment
- **Airbyte version**:  0.35.12
- **OS Version / Instance**: Kubernetes via Kustomize
- **Deployment**: Kubernetes
- **Source Connector and version**: airbyte/source-mongodb-v2 0.1.11
- **Destination Connector and version**: airbyte/destination-redshift 0.3.23
- **Severity**: High
- **Step where error happened**: Sync Job

## Current Behavior
When resetting the data or syncing the c

[2022-01-31 04:25] cgardens opened #9900 "Add caching to discover schema API endpoints"
Epic: https://github.com/airbytehq/airbyte/issues/9895

## Tell us about the problem you're trying to solve

After tracking the output of discover schema calls, we'd like have the API endpoints start caching the results to avoid long return times. Our existing `/v1/sources/discover_schema` currently takes `source_id`. We can add a flag `disable_cache` to allow a caller to override the default cach

[2022-01-31 04:31] #9867 closed

[2022-01-31 04:38] cgardens opened #9901 "When setting up a connection, track what version of the schema was used."
epic https://github.com/airbytehq/airbyte/issues/9895

## Tell us about the problem you're trying to solve
When creating a connection, we should track what catalog was used to create it. There are two options here:
1. `connections/create` takes in a catalog id (which means `sources/discover_schema` needs to return an id)
2. `connections/create` takes in the configured catalog and a the catalog tha

[2022-01-31 04:47] cgardens opened #9902 "Change the settings page in the UI to display the union of the schema and the configured schema"
Epic: https://github.com/airbytehq/airbyte/issues/9895

## Tell us about the problem you're trying to solve
Currently the UI gets the catalog for a source from `sources/discover_schema`. It is then used to create a connection `connections/create`.

The configured catalog can be lossy. For example, if the catalog from discover_schema has stream1 and stream2, but then the connection only configures

[2022-01-31 04:51] cgardens opened #9903 "Prune old catalog records"
Epic: https://github.com/airbytehq/airbyte/issues/9895

## Tell us about the problem you're trying to solve
In this epic we started saving catalogs in the database. There are cases where this can get expensive. We do not need to implement this immediately, but we should be prepared to do it if the size of the table grows too large.

The logic can be relatively simple. Run a cron that prunes a reco

[2022-01-31 04:53] cgardens commented on #9895
Potentially a good series of tasks for a new hire.

[2022-01-31 06:21] jordan-glitch opened #9904 "Set maximum number of job attempts per connection"
I am working with various custom sources and would like to be able to configure the `SYNC_JOB_MAX_ATTEMPTS` on a per connection basis, as some connectors afford more retries than others. Currently, this is not possible, as the `SYNC_JOB_MAX_ATTEMPTS` variable can only be set globally.

[2022-01-31 08:24] etsybaev opened #9907 "Snowflake destination: Ensure you are escaping underscores in all metadata objects"
Ensure you are escaping underscores in all metadata objects. Otherwise,
these will be treated as a wildcard characters resulting in the calls going
against the full account (for example, the database name FOO_BAR). In
addition to performance concerns, this can also lead to excessive Cloud
Services usage/cost.
For example, to avoid having the underscore character being
used as a wildcard which will

[2022-01-31 08:30] fepicl opened #9908 "Source Woocommerce: Add product category stream"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2022-01-31 08:34] akshay-github-acc commented on #3561
Workaround :
I am working on a Datapipeline and I am also reading data from DynamoDB and dumping it on my Data warehouse, which is snowflake in my case. Since Airbyte does not support DynamoDB as source, so the work around which I have opted is to dump data (using a python script) from DynamoDB to csv on a Datalake , which is S3 in my case, then use Airbyte to read data present in csv and then dum

[2022-01-31 08:45] #9551 closed

[2022-01-31 08:50] Zirochkaa commented on #9551
@tredencegithub hello. I just published a new version of source delighted - `0.1.3` with fixes for this issue. Could you please check that it works for you? Please let us know if you have any further questions 👍

[2022-01-31 09:18] tuliren opened #9909 "Fix mock source bugs"
## Summary
- [x] Fix multi-stream mode schema validation.
- [x] Generate date and date-time more efficiently.
- [x] Generate legit dates and times.
- [x] Make sure the validation passes in the sync.

[2022-01-31 09:18] aniket-vh commented on #9834
## Environment - Updated
- **Airbyte version**:  0.35.12-alpha
- **OS Version / Instance**: k8s
- **Deployment**: k8s
- **Source Connector and version**: MySQL 0.5.1
- **Destination Connector and version**: Local File system
- **Severity**: Medium
- **Step where error happened**:  Sync job

## job logs:
[code]

[2022-01-31 09:39] lazebnyi commented on #9595
Done. Scoping below.
https://docs.google.com/document/d/15ZohXu_tnC1cYLsAfr4ccpsrCtx4Z14YFrcr2Dj0-oI

[2022-01-31 09:39] #9595 closed

[2022-01-31 09:48] monai opened #9912 "Source definition deletion silently fails"
## Environment

- **Airbyte version**:  0.35.12-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: any
- **Destination Connector and version**: any
- **Severity**: Low
- **Step where error happened**: Delete source definition

## Current Behavior

API endpoint `/v1/api/v1/source_definitions/delete` deletes all sources created from that definition

[2022-01-31 09:48] #4353 closed

[2022-01-31 10:06] harshithmullapudi commented on #9171
https://github.com/airbytehq/airbyte/pull/9831

[2022-01-31 10:06] #9171 closed

[2022-01-31 10:09] alafanechere commented on #9890
Hi @PS-istarostenko, could you please share the schema of your table `MyTable`? It looks like the JDBC driver fails at deserializing a timestamp value.

[2022-01-31 10:25] ChristopheDuong commented on #9899
"duplicates" of https://github.com/airbytehq/airbyte/issues/5091

[2022-01-31 10:45] ameyabapat-bsft opened #9915 "In timestamp cursor fields, Seconds in cursor values are rounded to ceil and causing to sync rows whose cursor column values are smaller than cursor."
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: snowflake - 0.1.5
- **Destination Connector and version**: S3 - 0.2.5
- **Severity**:  Medium
- **Step where error happened**: Sync job

## Current Behavior
Even though there is no change in cursor value, incremental sync pulls up rows whose cursor c

[2022-01-31 10:49] alafanechere commented on #9899
Hi @zackliston, the custom transformation is not working on Kube (reasons explains in  #5091). I'm closing this as it's a duplicate(please track updates on #5091).

[2022-01-31 10:49] #9899 closed

[2022-01-31 10:54] alafanechere commented on #9883
Hi @nwayne94, is your replication successful according to Airbyte UI?

[2022-01-31 11:02] #9469 closed

[2022-01-31 11:05] AM-I-Human commented on #9469
Closed by an update
resolved by https://github.com/airbytehq/airbyte/pull/9567

[2022-01-31 11:16] ameyabapat-bsft commented on #8904
Do we need to add `snowflake-source` to `Update the following source databases to support millisecond precision timestamp` category? I have found the similar issue https://github.com/airbytehq/airbyte/issues/9915

[2022-01-31 12:02] alafanechere commented on #9872
Hi @zds97 when you call `api/v1/connections/reset`, does a reset job always run even if you receive a `sync` job type in the response?

[2022-01-31 12:22] TSkrebe opened #9921 "Bootloader pod fails due to non-semantic versioning of custom connector"
## Environment
- **Airbyte version**:  0.35.12-alpha
- **OS Version / Instance**: linux
- **Deployment**: kube
- **Severity**: Low
- **Step where error happened**: Upgrade Airbyte

## Current Behavior
When upgrading Airbyte, bootloader failed because there was a custom connector with non-semantic versioning:
[code]

## Expected Behavior
Do not allow to create connectors with non-semver labels OR
U

[2022-01-31 12:37] igrankova opened #9922 "Research MySQL source connector"
## Complete the following exercise for MySQL source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-01-31 12:40] igrankova opened #9923 "Research MSSQL source connector"
## Complete the following exercise for MSSQL source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-01-31 12:42] igrankova opened #9924 "Research Mailchimp source connector"
## Complete the following exercise for Mailchimp source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticati

[2022-01-31 13:41] mclate opened #9925 "🐛 Destination Snowflake: Some rows end up having all fields as null in destination"
## Environment
- **Airbyte version**:  `0.35.12-alpha`
- **OS Version / Instance**: `AWS EC2`
- **Deployment**: docker
- **Source Connector and version**: `airbyte/source-mysql  0.4.13` (tried many versions, starting from 0.3.2 up until 0.4.23, didn't try 0.5.x)
- **Destination Connector and version**: `airbyte/destination-snowflake 0.4.5`
- **Severity**: High
- **Step where error happened**: Dest

[2022-01-31 14:18] ShahBinoy commented on #9834
+1 👍

[2022-01-31 14:35] victorolawale commented on #7296
I am also having this issue. I would really like to see a solution as soon as possible.

[2022-01-31 14:35] alafanechere commented on #9834
@ShahBinoy are you facing the same problem with the same source connector (MySQL?)

[2022-01-31 14:56] andriikorotkov commented on #6517
Hello, @misteryeo, @marcosmarxm, @alexandr-shegeda. I was able to split the files for Snowflake s3 staging into smaller ones (about 120-140 MB in size). I added a pull request link with these changes to this task. It is currently in draft form.

Tell me, please, is it necessary to add such changes to work with snowflake GCS staging files? If so, I would like to reuse an already existing destinatio

[2022-01-31 14:57] #9790 closed

[2022-01-31 15:13] harshithmullapudi commented on #9656
# Proposal

We can create a slack channel initially and let failure notification flow into it. This can help us identify problems and we can be reactive and fix the issues.

[2022-01-31 15:14] gajus commented on #1868
@prein The proposed solution does not work without running `helm dependency update` in the `dependencies/airbyte/charts/airbyte` directory. How do you automate that?

[2022-01-31 15:31] vitaliizazmic commented on #9500
I've checked running ```mypy airbyte_cdk``` output. Seven errors are related to decorators implementation in ```sentry.py```. Two errors are in ```schema_helpers.py```. Other errors connected with ```sources.singer``` code.
Most errors are ["Incompatible type error"](https://mypy.readthedocs.io/en/stable/common_issues.html#incompatible-overrides). E.g, ```Return type "str" of "read_catalog" incomp

[2022-01-31 15:41] karinakuz commented on #9688
Research result: https://docs.google.com/document/d/19vLMgSLvveHnTyETGZLsrZncIN7HH4Vnc30awnUOeUU/edit?usp=sharing

[2022-01-31 16:06] nwayne94 commented on #9883
@alafanechere yes.

[2022-01-31 16:10] cgardens commented on #9429
@harshithmullapudi to submit a PR to add it to the FE.

[2022-01-31 16:15] gajus commented on #1868
Gave up trying to make the submodule approach work.

If anyone needs it, I've published Airbyte chart here:

[code]

[2022-01-31 16:44] alafanechere commented on #9865
Hi @nthbooth-feedr, do you have data in your google sheet for July 2021?
Looks like the normalization misses `_airbyte_raw_july_2021` table to work.

[2022-01-31 16:46] cgardens opened #9930 "Cache results of discover schema for connectors with static scehmas"
## Tell us about the problem you're trying to solve
Just like we cache a specs for connectors, for APIs (with static schemas), we can do the same thing with the output of discover schema.

This is a bad idea for connectors with dynamic schemas, but most of our API connectors, they are static for a given version of the connectors. We could add a pretty simple convention to label connectors where th

[2022-01-31 17:11] alafanechere commented on #9889
Closing because this is a duplicate of https://github.com/airbytehq/airbyte/issues/9737

[2022-01-31 17:11] #9889 closed

[2022-01-31 17:12] alafanechere commented on #9737
I'm closing this as this is a duplicate of https://github.com/airbytehq/airbyte/issues/4407

[2022-01-31 17:12] #9737 closed

[2022-01-31 17:16] alafanechere commented on #9871
I think working on this topic could solve this kind of issue https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1643301597317600

[2022-01-31 17:20] noahkawasakigoogle commented on #9871
Yeah for sure! Those scenarios are exactly what I had in mind when writing this up

[2022-01-31 17:29] ameyabhope commented on #4407
We're very excited about this and would be open to contribute if pointed out in the right direction.

[2022-01-31 17:29] PS-istarostenko commented on #9890
Hi @alafanechere
The table has 50 columns. Including 6 columns with `smalldatetime(4)` type and 2 with `datetime(8)` type.
Sync method is "Incremental | Deduped + History" with the cursor field also of the `smalldatetime(4)` type.

[2022-01-31 18:07] ShahBinoy commented on #9834
Yes @alafanechere Running in Kubernetes 1.18

[2022-01-31 18:12] jrhizor commented on #9902
related: https://github.com/airbytehq/airbyte/issues/9738

[2022-01-31 18:39] zds97 commented on #9872
@alafanechere No, it appears to be an actual sync job.

[2022-01-31 18:53] #8137 closed

[2022-01-31 19:07] VasylLazebnyk commented on #9500
@sherifnada please take a look on Vitaliy's comment above, thanks

[2022-01-31 19:08] jrhizor opened #9932 "performance: pull and display attempt status separately from logs"
We should be able to show the attempt status for a job separately from the logs (and we should be able to load logs in separate requests for each attempt). For attempts with large log histories, we end up spending quite a bit of time loading the logs.

This might be a good first issue on the backend side.

[2022-01-31 19:17] subodh1810 opened #9933 "Investigate if SnowCD can be integrated with Airbyte snowflake connector"
Network issues are tough to debug and reproduce. Specially if they happen randomly. SnowCD is a tool provided by Snowflake to diagnose and troubleshoot network connection issues. We should try to integrate it as part of Airbyte (may be as part of check_connection) and also try to run it when a snowflake connector fails.
Ref : https://docs.snowflake.com/en/user-guide/snowcd.html
This was @Christoph

[2022-01-31 19:19] ChristopheDuong commented on #9933
Snowcd was brought up by @jrhizor!

[2022-01-31 20:23] alexandr-shegeda commented on #9523
@misteryeo could you triage this issue?

[2022-01-31 20:47] nataliekwong opened #9936 "Add connectionId as an Intercom custom attribute"
## Tell us about the problem you're trying to solve
I would like to use Intercom to launch a [product tour](https://www.loom.com/share/3c29aaa5a4714f4c822994f6410fb8db) on the connection settings page in Airbyte Cloud.  Intercom requires a specific page URL rule that the product tour can be seen on. Because we place the connection_id in the URL of the connection settings (e.g. https://cloud.airbyt

[2022-01-31 20:53] nataliekwong opened #9937 "Add Segment Functions to filter destination events"
## Tell us about the problem you're trying to solve
We currently use Segment to track events from both the frontend and backend to downstream business applications like Customer.io (customer email communication) and Intercom (customer live communication). We don’t always want every event to be sent to every destination, to ensure data privacy is upheld and we target specific audiences.

For exampl

[2022-01-31 20:54] alafanechere opened #9938 "Source MySQL: support `utf8_bin` charset"
## Environment
- **Airbyte version**:  0.35.12
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Source Connector and version**: Mysql 0.5.1
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Replication of columns that are using `utf8_bin` charset results in base64 encoded data.

[Related slack conversation](https://ai

[2022-01-31 20:56] alafanechere commented on #9938
@tuliren suggests that we are maybe using the JDBC `Field#isBinary` method in a wrong way.

[2022-01-31 21:06] subodh1810 commented on #9607
So our Snowflake Setup is pretty nice! I was able to connect Airbyte to snowflake by just following the documentation and didnt do anything other than that! 1 thing might be improved is the load method options that we provide to our customers. But we do say the INTERNAL STAGING is the recommended one and we are working on getting rid of STANDARD INSERTS so it should be fine. AM happy with the docs

[2022-01-31 21:06] #9607 closed

[2022-01-31 21:29] sherifnada commented on #9500
@vitaliizazmic excluding singer from the MyPy checks is fine for now, let's create a separate ticket to handle the singer piece specifically

[2022-01-31 22:14] #8906 closed

[2022-01-31 23:27] tuliren commented on #9638
Some other variables to consider:
- Environment, e.g. `ENVIRONMENT=CLOUD`. Worker on cloud can add this variable when launching the connector pod. In this way, we can deactivate Sentry when the pod or container is launched from OSS or locally.
- Airbyte server version, e.g. `AIRBYTE_VERSION=0.36.1-alpha`

[2022-02-01 01:02] sherifnada commented on #9933
@subodh1810 what's the relative priority on this? should this be in our current sprint? can it be handed it off to GL?

[2022-02-01 04:07] misteryeo commented on #6090
Thanks @yurii-bidiuk - closing this ticket.

[2022-02-01 04:07] #6090 closed

[2022-02-01 04:28] tuliren commented on #9533
Resolved through https://github.com/airbytehq/airbyte/pull/9945.

[2022-02-01 04:28] #9533 closed

[2022-02-01 04:30] cgardens opened #9946 "Audit secrets handling"
Epic: https://github.com/airbytehq/airbyte/issues/9646

### Acceptance Criteria
- A document exists describing locations in code where secrets are used, along with a recommendation for any improvements to be made.
- Once this document exists, revisit the epic and add any newly discovered tasks that came out of the audit

[2022-02-01 04:32] cgardens opened #9947 "Decrease code paths where secrets can be accessed"
## Tell us about the problem you're trying to solve
Currently secrets are written and read using `ConfigRespository`. This makes it heard to easily tell where secrets can be access because this class is used frequently throughout the codebase. We should refactor `ConfigRepository` to not include secrets handling so it is easier to track where secrets might be accessed.

PR to address it [here](htt

[2022-02-01 04:36] cgardens opened #9948 "Java JSONSchema Traversal"
https://github.com/airbytehq/airbyte/issues/9646

## Tell us about the problem you're trying to solve
We rely very heavily on being able to traverse a JSONSchema object and then perform operations on objects based on that schema.

For example, we should be able to traverse every field in a JSONSchema object and then for every field that has `type: string` and for every field where that's the case,

[2022-02-01 04:37] cgardens opened #9949 "Improve secrets handling in config API"
epic: https://github.com/airbytehq/airbyte/issues/9646

## Tell us about the problem you're trying to solve
Secrets for configuring connectors are passed from the UI to the API. The API then separates the secrets out and puts them in Google Secrets Manager. It replaces the secrets in the config with a pointer to where the secret is in the secrets store.

In between the request hitting our API and

[2022-02-01 04:39] cgardens opened #9950 "Inject secrets in connector side car"
epic: https://github.com/airbytehq/airbyte/issues/9646

## Tell us about the problem you're trying to solve
Can we pull secrets from the secrets store later than we already do? Currently the worker pulls the secrets and then writes them to the source / destination pods using kubectl. Would it be a stronger posture to instead have the sidecars in the source / destination pods pull these secrets? If

[2022-02-01 06:43] maofet commented on #5870
@sherifnada @karinakuz are there any plans to fix this?

[2022-02-01 08:28] pjleiwa6g opened #9953 "Basic Normalization: Overrule default parameter values (query_tag a.o.)"
## Tell us about the problem you're trying to solve
When using 'basic normalization' for a Snowflake destination, the value of query_tag is set to 'normalization'.  I would like to have an option to overrule this value.

Related issues, in which query_tag and other dbc parameters can be set: https://github.com/airbytehq/airbyte/pull/9623 which also solves this issue: https://github.com/airbytehq/a

[2022-02-01 08:31] wallies commented on #7554
Tested this on 0.35.11 and 0.35.14 airbyte. Both syncing from hubspot to bigquery. I see it syncing property history since 2020 but it times out and retries after some chunks. It then syncs successfully  but nothing ends up in bigquery. I would think it would have a lot of data

[2022-02-01 08:32] subodh1810 commented on #9933
@sherifnada

this is mainly to enable us to be better at debugging network issue. At this point we have seen a 1 instance of network issue where we are not sure whats happening. It would be nice to have when we go to GA.

I just put it in the current sprint so that we get eyes on it. Its fine if we move to the next sprint.

So there are two things that we are aiming for. First is integrating SnowC

[2022-02-01 08:39] ChristopheDuong commented on #9933
I'm not sure if the tool would need to be run from the exact same worker pod that is encountering the network issue to be more precise or not... or if executing from a brand new pod would be enough insights.

if implemented in the `check_connection`, SnowCD could be triggered asynchronously (at a later time) by:
https://github.com/airbytehq/airbyte/issues/2591
(or synchronously in the same tempora

[2022-02-01 08:42] subodh1810 commented on #9933
@ChristopheDuong the reason I wanted to trigger it from the same pod is cause these network failures are interim network failures and happen randomly.

[2022-02-01 08:51] ChristopheDuong commented on #9933
Yes I agree with you there @subodh1810, that's also my questioning in my comment!

it would be more helpful if it was part of the same process but that would make the implementation more specific

For example, for normalization, you could add a "if integration_type = snowflake then snowcd" in this file:
https://github.com/airbytehq/airbyte/blob/8e8f402b8a6a0cb87f4f52e906f7c5ea46eeb66e/airbyte-inte

[2022-02-01 10:03] bodschut commented on #4407
I would also love to have this feature. I have a couple of connections with same source and destination that run on different schedules and target different source tables. It's getting difficult to discern between them in the UI..

[2022-02-01 10:08] timroes commented on #9524
Closed as of 0.35.13-alpha. Workspace names are now correctly in sync all across the UI. When updating there is still a page refresh needed to update the sidebar, which we'll address at some later point in time.

[2022-02-01 10:08] #9524 closed

[2022-02-01 10:27] ChristopheDuong commented on #9953
In that case the `destination-snowflake`'s spec should have a specific `query-tag` property instead of a generic jdbc-params.

Then in normalization you can check if the query-tag field is populated and use it or fallback to `normalization` here:
https://github.com/airbytehq/airbyte/blob/a5182471837d3f406fada3897f8017a14ab2d46f/airbyte-integrations/bases/base-normalization/normalization/transform_

[2022-02-01 10:45] DoNotPanicUA opened #9956 "[Concept] Data model view feature"
### Intro
The Airbyte provides access to various numbers of different sources and possible destinations. So it becomes a powerful tool, but only if you are well informed about the data model of your source.
But what about a more typical case when a customer knows very little about the actual data model. Here we are trying to find a way to make the Airbyte more friendly for a much wider number of u

[2022-02-01 10:50] tuliren commented on #9909
This issue is addressed by:
- https://github.com/airbytehq/jsongenerator/pull/4
- https://github.com/airbytehq/airbyte/pull/9954

[2022-02-01 11:13] ChristopheDuong opened #9957 "Set a limit duration of source connectors to run"
## Tell us about the problem you're trying to solve
A source connector could be running indefinitely if it streams data continuously without encountering any errors.

## Describe the solution you’d like
Expose (or not) a default parameter for how long a source connector can be running before "checkpointing" states or gracefully terminating.

## Describe the alternative you’ve considered or used
Le

[2022-02-01 11:31] yurii-bidiuk opened #9958 "Destination Oracle: acceptance tests failed"
## Current Behavior
Some accepted tests for destination-oracle and destination-oracle-strict-encrypt are failed
NneOracleDestinationAcceptanceTest > testCustomDbtTransformations()
OracleStrictEncryptDestinationAcceptanceTest > testCustomDbtTransformations()

## Expected Behavior
*Tell us what should happen.*

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs,

[2022-02-01 11:31] #9909 closed

[2022-02-01 11:34] yurii-bidiuk opened #9960 "Destination Pubsub: failed integration tests"
## Current Behavior
All tests are failed with the same message

[code]

## Expected Behavior
*Tell us what should happen.*

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs, you can download the full logs from the UI by going to the sync attempt page and
clicking the download logs button at the top right of the logs display window.*

<details>
<summary>LOG</

[2022-02-01 11:38] yurii-bidiuk opened #9961 "Destination Rockset: failed acceptance tests"
## Current Behavior
Tests failed with an exception
[code]

## Expected Behavior
*Tell us what should happen.*

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs, you can download the full logs from the UI by going to the sync attempt page and
clicking the download logs button at the top right of the logs display window.*

<details>
<summary>LOG</summary>

[co

[2022-02-01 11:41] yurii-bidiuk opened #9962 "Destination Mongodb strict encrypt: failed acceptance tests"
## Current Behavior
Tests are failed with error:
[code]

## Expected Behavior
*Tell us what should happen.*

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs, you can download the full logs from the UI by going to the sync attempt page and
clicking the download logs button at the top right of the logs display window.*

<details>
<summary>LOG</summary>

[code

[2022-02-01 11:43] alexandr-shegeda opened #9963 "Postgres"

[2022-02-01 11:50] awoehrl commented on #4975
Hi! I'm seeing the same error while using the Facebook Pages connector.

[2022-02-01 12:03] yurii-bidiuk opened #9964 "Destination MQTT: failed acceptance test"
## Current Behavior
https://github.com/airbytehq/airbyte/runs/5013259830?check_suite_focus=true
Tests failed with error

[code]

## Expected Behavior
*Tell us what should happen.*

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs, you can download the full logs from the UI by going to the sync attempt page and
clicking the download logs button at the top rig

[2022-02-01 12:20] yurii-bidiuk opened #9965 "Destination Gcs: GcsCsvDestinationAcceptanceTest > testCheckConnection() failed"
## Current Behavior
https://github.com/airbytehq/airbyte/runs/5020830642?check_suite_focus=true
`GcsCsvDestinationAcceptanceTest > testCheckConnection()` failed with error

[code]

## Expected Behavior
*Tell us what should happen.*

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs, you can download the full logs from the UI by going to the sync attempt page

[2022-02-01 12:31] igrankova commented on #9685
@misteryeo Hi, Andy, I've finished Intercom. Welcome to review.

[2022-02-01 12:32] igrankova commented on #9677
@misteryeo Andy, can I close this issue or I need to add something more here?

[2022-02-01 12:36] yurii-bidiuk opened #9967 "Destination Elasticsearch: acceptance tests hang when run testSync() with timestamps"
## Current Behavior
https://github.com/airbytehq/airbyte/runs/4980067889?check_suite_focus=true
When running sync with a stream that contains the date and date-time formats, Elasticseach client hangs on io/airbyte/integrations/destination/elasticsearch/ElasticsearchConnection.java:158

## Expected Behavior
*Tell us what should happen.*

## Logs
*If applicable, please upload the logs from the faili

[2022-02-01 12:52] yevhenii-ldv commented on #6437
We have a [custom PR](https://github.com/airbytehq/airbyte/pull/7547) that implemented this functionality, but the contributor abandoned this PR.
It remains to resolve a few comments and finalize the state for several `CUSTOMER ID's`.

[2022-02-01 15:49] ChristopheDuong opened #9969 "Persistence for check_connections outcomes"
## Tell us about the problem you're trying to solve
Following the [tech spec](https://docs.google.com/document/d/14hYJTUFIXHQ7JBB-gq2EBGrAvPBaEatDyOZMsUH12bI/edit#heading=h.u9chfrq9hv0) from https://github.com/airbytehq/airbyte/issues/9350

## Describe the solution you’d like
Implement new Persistence Layer of check_connection operations

[2022-02-01 15:49] #8171 closed

[2022-02-01 15:54] ChristopheDuong opened #9970 "Schedule a regular check_connection workflow"
## Tell us about the problem you're trying to solve
Following https://github.com/airbytehq/airbyte/issues/9969 from [tech spec](https://docs.google.com/document/d/14hYJTUFIXHQ7JBB-gq2EBGrAvPBaEatDyOZMsUH12bI/edit#heading=h.u9chfrq9hv0) from https://github.com/airbytehq/airbyte/issues/9350

## Describe the solution you’d like
Implement a temporal workflow to schedule check_connection operations and

[2022-02-01 15:55] ChristopheDuong opened #9971 "Track scheduled check_connections outcome"
## Tell us about the problem you're trying to solve
Following https://github.com/airbytehq/airbyte/issues/9970 from [tech spec](https://docs.google.com/document/d/14hYJTUFIXHQ7JBB-gq2EBGrAvPBaEatDyOZMsUH12bI/edit#heading=h.u9chfrq9hv0) from https://github.com/airbytehq/airbyte/issues/9350

## Describe the solution you’d like
Check_connection outcomes should be tracked to segment

[2022-02-01 15:58] timroes commented on #9936
@nataliekwong If the tour should just show automatically on the connections setting page, I don't think you'll need the `connectionid` as a user parameter. You should be able to tell it to just appear on URLs that have `/connections/` in it and end on `/settings`, like the following:

![screenshot-20220201-165258](https://user-images.githubusercontent.com/877229/152002776-113dc075-e051-4f6d-b088-d

[2022-02-01 16:05] joepbuhre opened #9972 "Source Bing Ads: change account id field name"
I tried to setup the Bing Ads connector as source. However following the exact steps I got the following error: `"Exception(\"You don't have accounts assigned to this user.\")"` .

So I followed the whole setup again step by step and Airbyte requested an Account ID from me. When I went to the docs Microsoft said:

So I thought the Account Id was the aid key/value pair. However: when I inserted it

[2022-02-01 16:25] augan-rymkhan commented on #9313
Campaign type "Performance Max" was added in Google Ads api version V9. To support this type in the connector we need to upgrade google-ads python package to the latest version [14.1.0](https://github.com/googleads/google-ads-python/blob/main/ChangeLog)
After upgrading locally, some SAT test cases failed.

- `use_proto_plus` mandatory field was added.
- Some fields in `ad_group_ads` were deprecate

[2022-02-01 16:56] alafanechere commented on #9925
Hi @mclate, could you please check if in your raw data table the `page` field is also null for some records? I'd like to understand if it's a normalization-related problem or a replication problem.

[2022-02-01 16:58] ShahNewazKhan commented on #6323
+1

[2022-02-01 17:17] mewis commented on #9925
Hi @alafanechere .
I work with @mclate so can hopefully answer that.
I just checked but seems there are no results in the raw table that match the `_AIRBYTE_AB_ID` field.

I tried
[code]

and got 0 results.

when running

[code]

I do get a result, although it is one of the broken results.

[2022-02-01 17:24] vitaliizazmic opened #9975 "CDK: typing errors in sources.singer"
## Environment
- **Source Connector and version**: CDK
- **Severity**: Low

## Current Behavior
This is part of #9500. Running ```mypy airbyte_cdk``` returns typing errors. Most of them is connected with ```sources.singer``` code. They are "Incompatible type error". E.g, Return type "str" of "read_catalog" incompatible with return type "ConfiguredAirbyteCatalog" in supertype "Source" in ```singer.

[2022-02-01 17:26] GillParm opened #9976 "🐛 Source Shopify: `KeyError` during normalization"
## Environment
- **Airbyte version**:  0.35.9-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**:  Docker
- **Source Connector and version**:  shopify 0.1.30
- **Destination Connector and version**:  BigQuery 0.6.5
- **Severity**: Medium
- **Step where error happened**:  Sync job - basic normalization

## Current Behavior
at the basic normalization step, encounter a "KeyError: 'id'"

[2022-02-01 17:51] alafanechere commented on #9925
This discrepancy between raw data and normalized data is not a good sign, do you mind resetting the data for this connection and running a full refresh again?

[2022-02-01 17:51] grubberr commented on #9782
done in this PR
https://github.com/airbytehq/airbyte/pull/9974

[2022-02-01 17:51] #9782 closed

[2022-02-01 17:56] alafanechere commented on #9921
Hi @TSkrebe, Airbyte expects semantic versioning of connectors. There's room for improvement in terms of validation of version label,  this is why I'll tag this issue as an enhancement suggestion.
Your error can be fixed if you change the version of your custom connector to a semantic versioning label.

[2022-02-01 18:18] mewis commented on #9925
@alafanechere I shall set that off now,
will take a while.

What would you like me to check once it's done?

[2022-02-01 19:07] alafanechere commented on #9915
@irynakruk could you please try to reproduce this issue?

[2022-02-01 19:09] alafanechere commented on #9915
I do confirm it looks closely related to this epic: https://github.com/airbytehq/airbyte/issues/8904

[2022-02-01 19:15] alafanechere commented on #9912
According to this [PR](https://github.com/airbytehq/airbyte/pull/8826)  this is something the API support since 0.34.4

@pmossman could you try to reproduce please?

[2022-02-01 19:19] alafanechere commented on #9925
I'd like to check if you still face the same problem, your raw table should not miss records that are present in normalized tables.

[2022-02-01 19:20] jsrcodes opened #9979 "Helm chart: externalDatabase.password has no effect as it still retrieves from the secret"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: AWS EKS
- **Deployment**: Kubernetes deploy env
- **Severity**:  Low
- **Step where error happened**: Deploy

## Current Behavior
`externalDatabase.password` has no effect as it still retrieves from the secret

## Expected Behavior
When externalDatabase.password is set, the template should use it instead of

[2022-02-01 19:20] pmossman commented on #9912
@alafanechere yes I'll look into this today

[2022-02-01 19:26] vitaliizazmic commented on #9500
@sherifnada I've created separate issue and have one question to clarify. Should I add singer piece to exclude in ```.mypy.ini``` configs?

[2022-02-01 19:42] lmossman commented on #8500
Backfill is complete and usage is being correctly reported for all production workspaces

[2022-02-01 19:42] #8500 closed

[2022-02-01 19:47] philippeboyd opened #9980 "🐛 Destination GCS: `Set up destination` button does nothing when setting up a destination with compression"
## Environment
- **Airbyte version**:  0.35.14-alpha
- **Deployment**: Docker
- **Destination Connector and version**: Google Cloud Storage (GCS) 0.1.20
- **Severity**: High
- **Step where error happened**: Setup new connection

## Current Behavior
`Set up destination` button does nothing when setting up a `Google Cloud Storage (GCS)` Destination.

* **No HTTP request is being made.**
* **No error

[2022-02-01 19:53] philippeboyd commented on #9980
Title edited: the issue seems to be when setting `Avro` **WITH** Compression (any type of compression)

When setting `No Compression`, it works

![image](https://user-images.githubusercontent.com/3239656/152041113-7ef59e81-ce0e-4a62-a015-ebcbb86ca846.png)

[2022-02-01 19:57] sherifnada commented on #9500
@vitaliizazmic sure but please add a comment explaining why it's excluded and pointing to any relevant github issue

[2022-02-01 19:59] nataliekwong commented on #9936
Oh, I didn't realize that would work instead of using the the URL! You're
right, I just tested it with the settings you set up above, and it shows up
for me successfully. I think this should work and we can close this. Thanks
for the tip!

On Tue, Feb 1, 2022 at 6:58 PM Tim Roes ***@***.***> wrote:

[2022-02-01 20:14] #9936 closed

[2022-02-01 20:18] Chr1sCon commented on #9824
Hey, sorry for the late reply.

Absolutely!
I am a bit new to Airbyte, but am about to go through the [any% speedrun](https://docs.airbyte.com/connector-development/tutorials/cdk-speedrun) (love the naming, by the way), and build it myself. Happy to share as I get something working!

How does it work? If it passes some sort of quality check; can this be adopted as an official source? I would love

[2022-02-01 20:58] keu commented on #9500
@sherifnada @vitaliizazmic I don't think this is what we want in this case. MyPy should be enabled for all CDK to prevent adding code that doesn't comply.
Instead we should disable MyPy in specific lines explicitly (`# type: ignore`)

[2022-02-01 21:06] pmossman commented on #9912
@alafanechere I believe I found the issue: I added the tombstone field to our source/destination definition JSON schema around the same time a separate project was normalizing database tables ([that PR here](https://github.com/airbytehq/airbyte/pull/8563)). The tombstone field for source/destination definitions was missed when implementing the new config persistence. I'll put a fix together today.

[2022-02-01 22:35] sherifnada commented on #5238
@RickRen7575 this issue is unfortunately not prioritized at the moment due to #3990 being a blocker. Please upvote that issue to indicate interest

[2022-02-01 22:41] jrhizor opened #9984 "worker can get stuck if temporal service is temporarily unavailable during startup"
When creating the temporal service, the worker can fail if there are io exceptions when trying to connect to the temporal server. If it failed but was able to retry properly this wouldn't be an issue. However, since this can get stuck in this unlucky case, it's much more important to fix.

[code]

[2022-02-01 22:49] #6870 closed

[2022-02-01 23:17] sherifnada commented on #6517
@andriikorotkov does splitting the size help performance?

[2022-02-02 00:14] misteryeo commented on #9880
Closing this issue as it's a duplicate - a bit more context on the other issue already so merging this into that. @jedwards-gc please follow along at https://github.com/airbytehq/airbyte/issues/5417

[2022-02-02 00:14] #9880 closed

[2022-02-02 00:18] misteryeo commented on #5417
@oustynova This looks like a pretty pressing issue that was reported again recently. Can we have someone from the team investigate this and determine the root cause? Thanks!

[2022-02-02 00:19] zackliston opened #9986 "🐛 Source MongoDB: source incremental sync not working"
## Environment
- **Airbyte version**:  0.35.15-alpha
- **OS Version / Instance**: Kubernetes via Kustomize
- **Deployment**: Kubernetes
- **Source Connector and version**: airbyte/source-mongodb-v2 0.1.11
- **Destination Connector and version**: 0.3.24 airbyte/destination-redshift
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
When syncing from MongoDB to Redsh

[2022-02-02 03:43] manavkohli commented on #7577
@augan-rymkhan @VasylLazebnyk @vitaliizazmic  @ChristopheDuong  I think I figured out the issue here. Basically, the Shopify Orders API may only return orders *that do not have refunds*. I see the same issue with Fivetran. The way the Shopify API exposes refunds is through the Orders API (i.e. you need an order ID to fetch the refund) - therefore the refunds will not be accessible if the order is

[2022-02-02 04:45] dsnam opened #9994 "🐛 Source shopify: v0.1.28 breaking config change"
## Environment
- **Airbyte version**: 0.35.15-alpha
- **OS Version / Instance**: ubuntu on aws ec2
- **Deployment**: docker
- **Source Connector and version**: config created on shopify 0.1.22, upgraded to 0.1.30 but id'd breaking change in 0.1.28
- **Severity**: High
- **Step where error happened**: Sync

## Current Behavior
Sync for a previously valid connection fails immediately with `2022-02-0

[2022-02-02 05:02] mattbdc commented on #9976
Seeing same.

2022-01-27 18:14:25 normalization >     return [self.get_primary_key_from_path(column_names, path) for path in self.primary_key]
2022-01-27 18:14:25 normalization >   Generating airbyte_ctes/acmeinccorp/cw_inventory_items_ab2.sql from cw_inventory_items
2022-01-27 18:14:25 normalization >   File "/usr/local/lib/python3.8/site-packages/normalization/transform_catalog/stream_processor.

[2022-02-02 07:29] kkarski commented on #5116
Also very interested in this connector as a source. Looking for

- Pull all files in a folder
- Pull all files matching a file pattern
- Exclude all files matching a pattern
- Don't pull a files already downloaded (unless force download)
- Ability to use ssh keys or certificates as auth method
- Dynamic naming of both source / destination path i.e. /${year}/${month}/${day}/
- Ability to rename sou

[2022-02-02 08:41] andriikorotkov commented on #6517
@sherifnada, based on the documentation, reducing the size of the staging file to the optimal size of 100-250 MB should improve performance. Also, I've added a writer closure after the desired amount has been written to the staging file. With this change, we will be closing writers sequentially, rather than keeping them open, throughout the entire time all data is being written to the staging file

[2022-02-02 08:57] mewis commented on #9925
Hi @alafanechere it looks sorted.
The strange thing is myself and @mclate did this several times the other day, each time had the same result.

One thing I did differently although don't know if this would effect anything is I reset the data, had a look in snowflake and saw that there was a schema `airbyte_{schema-name}` as well as the schema without  airbyte in front of it.`.
I dropped this schem

[2022-02-02 10:09] #9783 closed

[2022-02-02 10:11] #9747 closed

[2022-02-02 11:19] igrankova commented on #9687
@misteryeo, please review the research of the Google Sheets source connector.

[2022-02-02 13:25] awoehrl opened #10001 "Airbyte API should allow to set connector parameters"
## Tell us about the problem you're trying to solve
When running connectors via the API, it should be possible to change parameters. A common use case would be backfilling with an external orchestrator like Prefect or Airflow.

See discussion on Slack: https://airbytehq.slack.com/archives/C021JANJ6TY/p1643203718010400

## Describe the solution you’d like
Have all customizable connector parameters

[2022-02-02 13:54] #9052 closed

[2022-02-02 14:37] matheusgiuliano commented on #9984
I'm having the exact same problem

[2022-02-02 14:37] igrankova commented on #6201
Created the Public Snowflake SECURITY INTEGRATION, name: AIRBYTE.
To receive Client ID and Secret:
In the Snowflake App add a new worksheet and run the sql query: select system$show_oauth_client_secrets('AIRBYTE');
LastPass cred name:  Snowflake integration test account

[2022-02-02 14:37] #6201 closed

[2022-02-02 15:13] alafanechere opened #10004 "Source postgres: Validate SSH key before checking connection."
If an invalid SSH key (not RSA format, typo during copy paste etc) is used the failure happens at connection check:
`Cannot invoke "org.bouncycastle.openssl.PEMKeyPair.getPublicKeyInfo()" because "keypair" is null`

It would be great if we could validate the SSH key in the front-end with regex patterns.

[2022-02-02 15:30] dsnam commented on #9994
Wanted to also note that there was a breaking change to the name of the refund stream in 0.1.26 that made existing sync catalogs invalid, so we are going to have to downgrade to lower than that to keep our sync running until we can adjust it. Looks like that was acknowledged in the PR discussion but I can't tell if anything was done about it.

https://github.com/airbytehq/airbyte/pull/8597

[2022-02-02 15:38] VasylLazebnyk commented on #9313
@sherifnada please take a look at the scoping report, Auganbay also created a PR according to it.

[2022-02-02 15:48] keu commented on #9334
Possible reproducing steps:
- create connector and select `API Key Credentials` as credentials option
- select quotes stream to sync
- update connector configuration to use `OAuth Credentials` as credentials option
- run sync (see error in the logs)

possible fix:
- check that stream exist in client before reading and emit warning, skip stream afterwards.

[2022-02-02 16:21] yurii-bidiuk commented on #9967
I made some research on this issue and found that a stream with dates/timestamps hangs when there is a date with a one-digit month or day (e.g. 2021-1-1). After tracing some documentation for ISO 8601 I found that the valid date format should contain a two-digit month or day. So the problem was with not a valid test case and there are no defects on destination-elasticseach. I close this ticket.

[2022-02-02 17:11] lazebnyi opened #10007 "Source Google Analytics: New property with GA4 support"
According to #6326 we need a `property id` to get GAv4 reports.

What is property - https://support.google.com/adsense/answer/6090824?hl=en

How to determine a Google Analytics 4 property id:

1. Visit Google Analytics at https://analytics.google.com/.
2. Select Admin.
3. Select the Property.
4. Select Property Settings.

Now we have only one website in google analytics with UA tag.  But if we cha

[2022-02-02 17:15] subodh1810 opened #10008 "Implementation of common GCS support for destinations"
Part of https://github.com/airbytehq/airbyte/issues/7555
As part of this issue we should build common piece of code to build and inject the GCS credentials in destinations

[2022-02-02 17:17] subodh1810 opened #10009 "Build Encryption logic for files being generated in destinations"
Part of #7555
Tech spec : https://docs.google.com/document/d/18_Ezbl7Z1aSpHBdFFUy6BHMlDfYTktI4Yp8h2DbX4RE/edit#heading=h.fa72b39y2m99
As part of this issue we should introduce logic to encrypt files that are being generated in destinations using external loading method. We should make sure we use ephemeral keys.

As part of this ticket we need to also decide how encryption interacts with the optio

[2022-02-02 17:18] subodh1810 opened #10010 "Create common S3 and GCS bucket"
Part of https://github.com/airbytehq/airbyte/issues/7555
As part of this issue we should create the buckets with right configuration and create right ways to access the bucket

[2022-02-02 17:24] subodh1810 opened #10011 "Borken Connectors altert notification system"
We need to be proactive in identifying when a connector breaks in cloud. Right now Tech support team has to manually go into cloud workspaces and monitor the state of a connector. This is not scalable. We should build something which when a connector is in broken state for a given duration :
1. creates a github isssue and places it in right project with the right connector details
2. sends an emai

[2022-02-02 17:25] jrhizor commented on #9947
One other part that makes this complicated is not having a separated secrets strategy / migration for this for OSS. It'd be better if we even used a table with globally encrypted values or something so we don't have misleading names depending on the configuration.

[2022-02-02 17:41] karinakuz commented on #9922
Research result: https://docs.google.com/document/d/1qbXKBK6vtjCpxd3zcLCDn9G7WdMynLXG6zVvz3T-MvU/edit?usp=sharing

[2022-02-02 17:48] tuliren commented on #9351
## Sprint summary
Did not have time to look into this yet.

[2022-02-02 17:51] tuliren commented on #9104
## Sprint summary

- Stack trace and performance monitoring is working for Snowflake and BigQuery on Sentry now.

## Next step

- [P0] Activate Sentry for Python GA connectors.
- [P2] Propagate env variable properly. The current approach is hacky. But this is working, so the priority is low.

[2022-02-02 17:57] edgao commented on #10011
is this the same as https://github.com/airbytehq/airbyte-cloud/issues/907 ?

[2022-02-02 18:05] ChristopheDuong opened #10013 "Analytics: Reduce weights from power users on connector reliability metric"
## Tell us about the problem you're trying to solve

Tech Spec:
https://docs.google.com/document/d/1CwzDw5kxsbbVo4RRlw0W4P7ug8XlweArcGN2XMa2HwU/edit#

## Describe the solution you’d like
Power users with large number of connections should not heavily influence connector metrics

[2022-02-02 18:08] #9476 closed

[2022-02-02 18:09] benmoriceau commented on #9776
Hello @answerMA,

Did you change the `.env` file? In particular the variable named `NEW_SCHEDULER`. It seems that this is using a new implementation of the scheduling part of airbyte. This can be also caused by having the variable set as an environment one in the shell that launches airbyte.

[2022-02-02 18:24] alafanechere commented on #9994
@misteryeo do we have a flow-on how to manage the config breaking changes?
@bazarnov do you think a fix can mitigate this problem?

[2022-02-02 18:51] alafanechere commented on #9986
Hi @zackliston could you please try to set a different cursor field, I'm wondering if it could be related to it's type.

[2022-02-02 19:06] tuliren commented on #9980
This is probably related to the `oneOf` bug on the UI: https://github.com/airbytehq/airbyte/issues/8291

I noticed in another connector that if there is a `oneOf` inside another `oneOf`, the parameters are messed up. The final value can come from fields of multiple elements within the `oneOf` array, and is considered invalid. But it's hard to tell what exactly goes wrong.

[2022-02-02 20:40] hbd commented on #9502
I am now seeing an error when upgrading from `0.3.8-alpha` to `0.35.15-alpha`:
[code]

[2022-02-02 21:01] Jamakase commented on #9625
@jrhizor what to do with pkeys and cursors in this case? Should we then just pick any field? Or we should leave them empty and let users select them with bulk edit?

[2022-02-02 21:04] #9637 closed

[2022-02-02 21:07] hbd commented on #9502
We were able to fix this by modifying our Docker Compose file (`docker-compose.yaml`) a bit. It seems we missed a few things that were added over the past couple of months:
1. Add the `boostrap` service
2. Add `JOBS_DATABASE_MINIMUM_FLYWAY_MIGRATION_VERSION` and `CONFIGS_DATABASE_MINIMUM_FLYWAY_MIGRATION_VERSION` to `.env` and respectively to `docker-compose.yaml` as seen on the main branch
3. Res

[2022-02-02 21:25] jrhizor commented on #9625
@sherifnada what do you think? Leave empty?

[2022-02-02 21:28] yuhuishi-convect commented on #9899
Hit the same wall.  #5091 has been around for a while. Wondering what's the current status of this issue.

Is there some detailed description of the workaround solutions? For example, how to package a custom image to work as a custom transformation container?

[2022-02-02 21:32] erica-airbyte opened #10018 "Source Redshift - Support for views"
## Tell us about the problem you're trying to solve
Currently, the ability to pull views is not possible for the Redshift source

## Describe the solution you’d like
Support view for the Redshift source.

## Are you willing to submit a PR?
no

[2022-02-02 21:51] sherifnada commented on #9625
Maybe this is too complex but magic wand version is

if an "optimal" setting requires **a little bit** of user input (e.g: incremental requires setting a cursor field but there's only like 10 streams in total), then I'd suggest we choose incremental, keep those fields blank, and nudge the user towards filling them out.

If the optimal setting requires a ton of user input (e.g: more than 10 such st

[2022-02-02 22:03] danieldiamond commented on #5754
here are four seperate users with various sources/destinations that seem to be experiencing this issue:

- https://airbytehq.slack.com/archives/C01MFR03D5W/p1640137729189000
- https://airbytehq.slack.com/archives/C01MFR03D5W/p1642588567213900
- https://airbytehq.slack.com/archives/C01MFR03D5W/p1643263118260300
- https://airbytehq.slack.com/archives/C01MFR03D5W/p1643794659573969

[2022-02-02 22:27] benmoriceau opened #10021 "Migrate OSS to the new scheduler"
## Tell us about the problem you're trying to solve
A new scheduler has been implemented and added to the cloud project. The migration ended up needing several manual intervention to unstuck the jobs.

## Describe the solution you’d like

###Migration of the new job

Problem
- Currently the migration is apply or not through a feature flag. This feature flag is set using an environment variable whi

[2022-02-02 23:12] #9730 closed

[2022-02-02 23:22] misteryeo commented on #6787
@marcosmarxm Following up here, can you elaborate on what the ask of this ticket is when you say "only the permissions to create a Redshift connector"? The URL you've included doesn't go anywhere.

[2022-02-02 23:46] nikhilalmeida commented on #6043
We do want to adopt airbyte over rudderstack, but the destination of choice is not completely supported. Just following up on this.

[2022-02-02 23:54] tuliren commented on #6043
@nikhilalmeida, thank you for the interest in this connector.

Currently, to use the Databricks connector in your own deployment of Airbyte, you can build the image yourself, and upload it to a private registry. The building process has been simplified and is the same as any other connector now. See the [developer doc](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connector

[2022-02-03 03:34] misteryeo commented on #5952
Closing this out as it's been fixed with a new version.

[2022-02-03 03:34] #5952 closed

[2022-02-03 03:49] misteryeo commented on #8427
@pranavhegde4 based on the latest comment it sounds like this hasn't been reproducible. Are you able to confirm that this issue still persists?

[2022-02-03 03:58] misteryeo commented on #8330
@asyarif93 is this issue still ongoing for you?

[2022-02-03 04:03] misteryeo commented on #7962
Closing as we haven't heard back. Please reopen if this persists.

[2022-02-03 04:03] #7962 closed

[2022-02-03 04:08] misteryeo commented on #4117
Closing unless other users report this.

[2022-02-03 04:08] #4117 closed

[2022-02-03 04:13] misteryeo commented on #3036
@jmriego did https://github.com/airbytehq/airbyte/pull/3031 fix the issue for you per Charles' comment?

[2022-02-03 04:21] zackliston commented on #9986
@alafanechere I reset and resync-ed all collections with the most recent version and this appears to no longer be an issue. I do however see this line (the original name was `t`) so I imagine this must have been fixed in a recent version. This field does not have a consistent type.

 Thanks for looking into it, I'll go ahead and close.

<img width="1186" alt="Screen Shot 2022-02-02 at 11 18 06 PM"

[2022-02-03 04:21] #9986 closed

[2022-02-03 04:25] misteryeo commented on #5355
@caiopedroso is this still an issue?

[2022-02-03 05:26] asyarif93 commented on #8330
it no longer happened in my system since I have update the schema in airbyte UI

[2022-02-03 08:16] #9549 closed

[2022-02-03 08:19] #6344 closed

[2022-02-03 08:20] #6176 closed

[2022-02-03 08:20] #6195 closed

[2022-02-03 08:23] igrankova commented on #6200
@sherifnada, the oauth client is public (I've checked it in our Connectors sheet)

[2022-02-03 08:23] #6200 closed

[2022-02-03 08:24] igrankova commented on #6211
the oauth client is public

[2022-02-03 08:24] #6211 closed

[2022-02-03 08:24] #7117 closed

[2022-02-03 08:25] #6722 closed

[2022-02-03 08:26] #5753 closed

[2022-02-03 08:27] #6203 closed

[2022-02-03 08:36] #5547 closed

[2022-02-03 08:57] #6183 closed

[2022-02-03 08:58] #7862 closed

[2022-02-03 09:10] ChristopheDuong commented on #9976
Whoever takes on this issue should check if the `id` column declared as the primary key is actually part of the columns declared by the offending stream from that source.

I've seen sources declare some internal primary keys without publishing the column, so normalization wouldn't be able to actually use that primary key if not present in the data.

[2022-02-03 09:25] donuthack opened #10029 "🐛 Source Woocommerce: domain extension issue"
## Environment
- **Airbyte version**:  0.19.0-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: Woocommerce v0.1.0-rc1
- **Destination Connector and version**: Local CSV v0.2.8
- **Severity**: High
- **Step where error happened**: Setup new connection

## Current Behavior
I have tried to connect a shop which has not "com" domain and connec

[2022-02-03 09:26] bazarnov commented on #9994
This change was necessary due to `base-normalisation` issues on certain destinations. There is no opportunity to revert those, we should keep this as it is now.

[2022-02-03 09:35] bazarnov commented on #9994
The specification changes were implemented to be able to use the `OAuth2.0` authentication method for `Airbyte-Cloud`, up to standard factory implementation for the server side. This changes are permanent and should not be changed in the nearest future.
Yes, we can revert the changes, but it will also touch some other parts of the `OAuth2.0` implementation on the server.
I believe the best way her

[2022-02-03 10:09] ikanez opened #10030 "Source Mambu : New connector request"
## Tell us about the new connector you’d like to have
* Which source and which destination?
Source: mambu (https://api.mambu.com/)

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data? This helps us understand the use case.
Used for syncing data from the mambu banking core with our cloud analytics platform
* How often do y

[2022-02-03 13:07] #9781 closed

[2022-02-03 13:09] lazebnyi commented on #8337
On hold
Waiting publishing on prod - https://github.com/airbytehq/airbyte-cloud/pull/794

[2022-02-03 13:45] alafanechere opened #10031 "🐛 Source MongoDB: nested fields are converted to string"
## Environment
- **Airbyte version**: 0.35.15
- **Source Connector and version**: 0.1.11
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Several users reach me on slack ([Cédric](https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1643105113119000) and [Jules](https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1643893022845369)) realized that a nested f

[2022-02-03 13:52] alafanechere commented on #10031
In our `MongoUtils.getBsonTypeByTypeAlias` `Bson.Document` is not a type we're handling, explaining the `Bson.String` default:

[code]

[2022-02-03 14:30] hellmund opened #10032 "UTF-8 parsing issue with MySQL native JSON columns"
## Environment
- **Airbyte version**:  0.35.0-alpha
- **OS Version / Instance**: Amazon Linux 2 AMI, EC2 t3a.large
- **Deployment**: Docker
- **Source Connector and version**: MySQL 0.5.1
- **Destination Connector and version**: Redshift 0.3.23
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
MySQL native JSON columns don't get parsed as UTF-8, resulting in broke

[2022-02-03 14:32] dsnam commented on #9994
I'm making noise about this so that situations like this are handled better, not so that you revert the commits. IMO Airbyte should do one or several of the following:
1. Migrate config automatically. I understand that this ranges from trivial to impossible and would be a huge ask in some cases, so not counting on it.
2. Add some warning that displays when trying to change connector versions so th

[2022-02-03 14:36] bazarnov commented on #8337
Successfully deployed and tested on prod https://cloud.airbyte.com/

<img width="1298" alt="Screenshot 2022-02-03 at 16 36 23" src="https://user-images.githubusercontent.com/22987674/152363706-0e5d138d-3187-4d8c-82d7-fe9dcdfda04a.png">

[2022-02-03 14:37] #8337 closed

[2022-02-03 14:38] igrankova opened #10033 "Destination Snowflake: support oauth"
## Tell us about the problem you're trying to solve
With the release of Airbyte Cloud, we need to start supporting Oauth for this connector, since it's the recommended way of authenticating users into a SaaS application.

If this connector doesn't support oauth already (i.e: doesn't accept a client_id and client_secret) then we need to update its spec to accept those parameters. There are two ways

[2022-02-03 14:41] igrankova commented on #10033
Created the Public Snowflake SECURITY INTEGRATION, name: AIRBYTE.
To receive Client ID and Secret:
In the Snowflake App add a new worksheet and run the sql query: select system$show_oauth_client_secrets('AIRBYTE');
LastPass cred name: Snowflake integration test account
Reference document: https://docs.snowflake.com/en/user-guide/oauth-intro.html#snowflake-oauth-authorization-flow

[2022-02-03 14:44] alafanechere commented on #10031
@sherifnada I'm not sure to what extent this issue is similar [this](https://github.com/airbytehq/airbyte/issues/3462) already closed one. Are you aware of the behavior of MongoDB connector when it processes JSON fields on documents?

[2022-02-03 15:25] alekseipico commented on #6326
Same for us, GA switched to V4 and can not use connector anymore

[2022-02-03 15:29] misteryeo commented on #7838
@JeroniMan can you confirm that once you've upgraded to the latest version of the app, you no longer experience this issue?

[2022-02-03 15:34] karinakuz commented on #9924
Research result:  https://docs.google.com/document/d/1orYG8xiKVDqYpa_6nDofLWcKE_OxW98x6rin5THSmvM/edit?usp=sharing

[2022-02-03 15:35] karinakuz opened #10035 "Research Zendesk Support source connector"
## Complete the following exercise for Postgres source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-03 15:36] misteryeo commented on #7224
Closing since there's no response but please re-open if needed!

[2022-02-03 15:36] #7224 closed

[2022-02-03 15:54] karinakuz opened #10037 "Research S3 source connector"
## Complete the following exercise for S3 source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication
  -

[2022-02-03 15:56] lmossman commented on #8506
It has been validated that credit discrepancies between Orb and Airbyte are only due to Orb's credit calculations being _more_ precise than Airbyte's.

[2022-02-03 15:56] #8506 closed

[2022-02-03 16:10] misteryeo commented on #9593
Revisit this once https://github.com/airbytehq/airbyte/pull/9805 is closed

[2022-02-03 16:12] cgardens opened #10038 "Add OWASP vulnerability testing to build"
## Tell us about the problem you're trying to solve
* compare spotbugs, sonarqube, and snyk and implement them in the build for SOC2.

[2022-02-03 16:13] cgardens commented on #8449
@subodh1810 I think this is done, right? Can we close it.

[2022-02-03 16:32] cgardens commented on #9303
[Go Forward Plan from Davin](https://docs.google.com/document/d/1-2tbNaI3mnq5Bx5xfD11lTMbfP5Go1VUwFCiuU8L-hk/edit#heading=h.uv0c9sk66qdt)

[2022-02-03 16:48] pjleiwa6g commented on #9953
An possibility is to extract the query_tag value from the jdbc-params. If it's not in the jdbc-params, one can fall back to the default normalization.

Something like this (in transform.py):

- parameter ->query_tag
- jdbc_url_params ->config["jdbc_url_params"]
- default -> normalization

[code]

[2022-02-03 16:52] etsybaev commented on #9633
Hi @mukulg-df.

Many thanks for didn't pass by and letting us know about the issue!

At the fist logs-check I see 2 issues:
1. "No active warehouse". This may occurs in snowflake if no warehouse set in jdbc connections string and no default and active warehouse set for user. But we pass this argument in connection string. Another reason may be if "Suspended" warehouse is set. Could you please make

[2022-02-03 17:27] jrhizor commented on #9731
Sorry for the late reply on this, didn't notice it before.

For sources: "Sources are connectors that pull data from a data source."
For destinations: "Destinations are connectors that pushes data to a data source."
For connections: "Connections represent a sync between a source and a destination."

[2022-02-03 17:40] jrhizor commented on #6956
Ideally we would have the backend expose full source/destination definitions to the billing endpoint instead of filtering it down so icons are exposed. Short term, let's use the source/destination definition lists at the workspace level instead so we aren't blocked on backend.

[2022-02-03 17:45] jrhizor commented on #9625
@sherifnada since we have bulk edit can we just require cursor fields overall?

[2022-02-03 17:47] jrhizor commented on #9741
We should include assets/markdown files from the frontend build in the CDN release.

[2022-02-03 17:48] jrhizor commented on #9462
The first two red boxes are already out of date in the upcoming pr. This ticket is only for the final box now.

[2022-02-03 17:49] KhristinaR opened #10040 "Source Snapchat Marketing: Add account, campaign and ads stats"
## Summary
- [ ] Update Snapchat Marketing connector

Currently Snapchat Marketing connector loads only Account, Ad, Campaign etc. metadata,
It doesn't have any streams with Campaign, Ads stats data (like spend, impressions). https://marketingapi.snapchat.com/docs/#get-ad-account-stats

It is the most important information for this connector. So there is probably not much practical use in current

[2022-02-03 18:03] zackliston commented on #5091
This is blocking all usage for custom DBT transformations in kubernetes deployments. What's the expected timeline? Are there workarounds that could be shared?

[2022-02-03 18:26] sherifnada commented on #9625
the only issue is user-input cursor fields might be different for each stream, making it still cumbersome to do. But it's a two way door to do the approach you're describing. We can adjust from there if needed.

[2022-02-03 18:31] alafanechere commented on #10032
Thank you @hellmund for the detailed explanation.

@tuliren another encoding problem 😄  Are you aware of this problem? Do you think it relates to an existing epic?

[2022-02-03 18:38] alafanechere commented on #10029
Hi @donuthack, thank you for opening this issue! This connector is unfortunately not maintained by our team since we do not have a sandbox Woocommerce shop. This is why we do not publish this connector anymore.

@jsewawilson do you have an idea of the root cause of this problem?

[2022-02-03 18:39] caiopedroso commented on #5355
Yes @misteryeo , I was not able to work myself in a custom dbt model to try to solve that, if it's something that can be "out of the box" on airbyte, would appreciate it.

[2022-02-03 18:40] #8411 closed

[2022-02-03 18:43] alafanechere commented on #9994
You can indeed give a try to an update through the API.
About the state transfer, this is feasible but requires manual edit of your new connection to copy the state of your legacy one. This is can be achieved with some SQL on Airbyte's database.

[2022-02-03 20:27] sherifnada opened #10044 "Benchmark $ cost incurred by warehouse destination connectors"
## Tell us about the problem you're trying to solve
Today, we have no clear visibility into the costs incurred by warehouse destination connectors. This prevents us from:

a) giving clear guidance to users on the "damage" incurred to their bills by using Airbyte
b) prevent regressions / increased costs on code changes i.e: today it's too handwavey / YOLO when it comes to measuring the cost impact

[2022-02-03 20:28] #9756 closed

[2022-02-03 20:45] sherifnada commented on #7994
@htrueman WDYM denormalize the table? wouldn't this cause a backwards breaking change?

[2022-02-03 22:09] dermasmid opened #10047 "🐛 Destination MongoDb: JSON schema validation failed"
## Environment
- **Airbyte version**:  example is 0.35.15
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker and k8s (the logs below are from k8s but i reproduced the bug on both)
- **Source Connector and version**: Shopify 0.1.30
- **Destination Connector and version**: MongoDb 0.1.3
- **Severity**: Medium
- **Step where error happened**:Sync job

## Current Behavior
When pull dat

[2022-02-03 22:26] MPrejean opened #10049 "Source Google Analytics: Add Ecommerce Data stream"
## Tell us about the problem you're trying to solve
Only native Google Analytics's data is available with Airbyte. It is missing Ecommerce Data, which is a big part of Google Analytics.

## Describe the solution you’d like
Having a table in BigQuery that have Ecommerce Data (dimensions and metrics). The data schema can be found [here](https://ga-dev-tools.web.app/dimensions-metrics-explorer/ecomme

[2022-02-04 01:20] misteryeo commented on #8330
Thanks! I'll close this issue out as we haven't had other reports of this so far.

[2022-02-04 01:20] #8330 closed

[2022-02-04 01:32] misteryeo commented on #9842
FYI, @sherifnada will dig into this tomorrow @lazebnyi

[2022-02-04 03:20] magefister opened #10052 "k8s nginx (airbyte-webapp pod) cannot listen ipv6"
## Environment
- **Airbyte version**:      app.kubernetes.io/version: 0.35.15-alpha,  helm.sh/chart: airbyte-0.3.0
- **OS Version / Instance**: Kubernetes 1.15
- **Deployment**: Kubernetes deploy Helm
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: High
- **Step where error

[2022-02-04 03:26] magefister opened #10053 "airbyte-server & worker - grpc DEADLINE_EXCEEDED"
## Environment
- **Airbyte version**:  0.35.12-alpha
- **Deployment**: airbyte-server & airbyte-worker
- **OS Version / Instance**: centOS 7.2 , Docker version 20.10.12, build e91ed57
- **Severity**: High
- **Step where error happened**: Deploy

## Current Behavior
airbyte-server & airbyte-worker GRPC Deadline Exceeded

## Expected Behavior
no error / heartbeat success

## Logs
*If applicable, ple

[2022-02-04 04:13] Gui-zo commented on #9366
Hello! I'm having the same issue trying from the command prompt on Windows 10.

[2022-02-04 04:17] harshithmullapudi opened #10054 "CI Sandbox Salesforce Marketingcloud"
## Tell us about the problem you're trying to solve
We need CI credentials for Salesforce Marketingcloudfor new PR https://github.com/airbytehq/airbyte/pull/10026

[2022-02-04 04:45] tuliren commented on #9523
I propose to not publish all these ssh connectors just to mute the warning. It does not seem to worth the time.

But the first TODO is still valid:

[2022-02-04 05:28] #9313 closed

[2022-02-04 08:39] VitaliiMaltsev commented on #5754
Airbyte version: 0.35.15-alpha
Deployment: Cloud
Source Connector and version: MySQL Strict Encrypt 0.1.3 (CDC)
Destination Connector and version: Snowflake 0.4.8 (Internal Staging and Copy S3)

@danieldiamond I did some lengthy experiments in cloud using the same database schema as in the description. The number of rows is 300 million. In none of the cases did the connection lead to a hang, but a

[2022-02-04 08:51] #9925 closed

[2022-02-04 10:09] timroes opened #10056 "Filter config objects matching workspace via database not in Java"
We currently filter out configuration objects to match the requested workspace in Java code, after loading all configuration objects from the persistence layer (i.e. DB), see e.g. https://github.com/airbytehq/airbyte/blob/master/airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java#L247 (though it seems we're doing this for all configuration objects).

I suggest we move f

[2022-02-04 10:26] ChristopheDuong commented on #9715
See this metabase question: https://airbyte.metabaseapp.com/question/79-failing-connections-to-disable

[2022-02-04 12:03] ChristopheDuong opened #10058 "Ability to filter logs"
## Tell us about the problem you're trying to solve
It would be helpful to specify some filters when viewing logs:
- https://github.com/airbytehq/airbyte/issues/8136
- A search pattern to "grep" in the logs
- A debug level (WARN, INFO, ERROR, etc)
- where the log comes from: (source, destination, normalization, etc)

## Describe the solution you’d like
Advanced options in the UI to better control

[2022-02-04 12:21] alexandr-shegeda commented on #5301
@subodh1810 could you probably assist us in this issue?
cc @misteryeo @sherifnada

[2022-02-04 12:28] igrankova commented on #9923
@misteryeo, the MSSQL research is ready for review.

[2022-02-04 12:34] igrankova opened #10059 "Research Google Analytics source connector"
## Complete the following exercise for Google Analytics source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authe

[2022-02-04 12:37] igrankova opened #10060 "Research Paypal source connector"
## Complete the following exercise for Paypal source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 12:39] igrankova opened #10061 "Research Quickbooks source connector"
## Complete the following exercise for Quickbooks source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticat

[2022-02-04 12:39] yurii-bidiuk commented on #9961
Added config.json to Google Secret manager

[2022-02-04 12:44] igrankova opened #10062 "Research Snowflake source connector"
## Complete the following exercise for Snowflake source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticati

[2022-02-04 12:46] igrankova opened #10063 "Research File source connector"
## Complete the following exercise for File source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 13:07] TSkrebe commented on #8586
I switched from helm to kustomize not sure if it changes anything. i still see no logs:
[code]

![Screenshot 2022-02-04 at 15 06 57](https://user-images.githubusercontent.com/4008242/152534202-8e6dfce2-c18f-4a44-bbfc-22adf206376a.png)

[2022-02-04 13:25] DoNotPanicUA commented on #9956
@misteryeo @sherifnada
Hi,
I've summarized all our thoughts about the data model feature.
Please feel free to provide your feedback.

[2022-02-04 13:26] #9961 closed

[2022-02-04 13:26] #9967 closed

[2022-02-04 13:43] igrankova opened #10064 "Research BigQuery source connector"
## Complete the following exercise for BigQuery source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 13:48] igrankova opened #10065 "Research Google Search Console source connector"
## Complete the following exercise for Google Search Console source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  -

[2022-02-04 13:50] igrankova opened #10066 "Research Oracle source connector"
## Complete the following exercise for Oracle source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 13:52] igrankova opened #10067 "Research Amplitude source connector"
## Complete the following exercise for Amplitude source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticati

[2022-02-04 13:55] karanjagota opened #10068 "Unable to set up my first connection"
Hi, I tried Airbyte for the first time, following the documentation/ onboarding steps to get the data from exchange rates API to JSON file. Unfortunately, I am unable to do that. I got a "connection tests fail"  msg with the logs file while setting the source.
PFA log file. Any help would be appreciated

[logs-4489d594-3229-4433-ab07-b2fa70acdadb.txt](https://github.com/airbytehq/airbyte/files/800

[2022-02-04 13:55] igrankova opened #10069 "Research Klaviyo source connector"
## Complete the following exercise for Klaviyo source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 13:57] igrankova opened #10070 "Research Redshift source connector"
## Complete the following exercise for Redshift source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 14:04] igrankova opened #10072 "Research Slack source connector"
## Complete the following exercise for Slack source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:05] igrankova opened #10073 "Research Instagram source connector"
## Complete the following exercise for Instagram source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticati

[2022-02-04 14:07] igrankova opened #10074 "Research Smartsheets source connector"
## Complete the following exercise for Smartsheets source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentica

[2022-02-04 14:09] alexandr-shegeda opened #10075 "[EPIC] 2022 Q1 Cloud Connectors Release"
### The main purpose of this epic is to track release progress for the described connectors.

### Connectors

This section listed connectors with the highest priority and responsible persons:

- [ ] #10148 - @alexandr-shegeda
- [ ] Destination: BigQuery-Denormalized

### Acceptance criteria

1. Each connector should have a separate document that should be placed on the [Google Drive](https://drive

[2022-02-04 14:09] igrankova opened #10076 "Research Chargebee source connector"
## Complete the following exercise for Chargebee source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticati

[2022-02-04 14:11] igrankova opened #10077 "Research Bing Ads source connector"
## Complete the following exercise for Bing Ads source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 14:12] igrankova opened #10078 "Research Facebook Pages source connector"
## Complete the following exercise for Facebook Pages source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authent

[2022-02-04 14:14] igrankova opened #10079 "Research Linkedin Ads source connector"
## Complete the following exercise for Linkedin Ads source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentic

[2022-02-04 14:15] igrankova opened #10080 "Research Snapchat source connector"
## Complete the following exercise for Snapchat source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 14:17] igrankova opened #10081 "Research Freshdesk source connector"
## Complete the following exercise for Freshdesk source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticati

[2022-02-04 14:18] igrankova opened #10082 "Research Harvest source connector"
## Complete the following exercise for Harvest source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:20] igrankova opened #10083 "Research Mixpanel source connector"
## Complete the following exercise for Mixpanel source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 14:21] igrankova opened #10084 "Research Okta source connector"
## Complete the following exercise for Okta source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:23] igrankova opened #10085 "Research Iterable source connector"
## Complete the following exercise for Iterable source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 14:24] igrankova opened #10086 "Research Pipedrive source connector"
## Complete the following exercise for Pipedrive source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticati

[2022-02-04 14:26] igrankova opened #10087 "Research Zendesk Talk source connector"
## Complete the following exercise for Zendesk Talk source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentic

[2022-02-04 14:27] igrankova opened #10088 "Research Posthog source connector"
## Complete the following exercise for Posthog source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:29] igrankova opened #10089 "Research Twilio source connector"
## Complete the following exercise for Twilio source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:31] igrankova opened #10090 "Research Sendgrid source connector"
## Complete the following exercise for Sendgrid source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 14:33] igrankova opened #10091 "Research BambooHR source connector"
## Complete the following exercise for BambooHR source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 14:34] igrankova opened #10092 "Research Tiktok Marketing source connector"
## Complete the following exercise for Tiktok Marketing source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authe

[2022-02-04 14:36] igrankova opened #10093 "Research Marketo source connector"
## Complete the following exercise for Marketo source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:37] igrankova opened #10094 "Research Greenhouse source connector"
## Complete the following exercise for Greenhouse source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticat

[2022-02-04 14:38] igrankova opened #10095 "Research Trello source connector"
## Complete the following exercise for Trello source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:40] igrankova opened #10096 "Research Square source connector"
## Complete the following exercise for Square source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:41] igrankova opened #10097 "Research Zendesk Chat source connector"
## Complete the following exercise for Zendesk Chat source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentic

[2022-02-04 14:43] igrankova opened #10098 "Research Pinterest Ads source connector"
## Complete the following exercise for Pinterest Ads source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenti

[2022-02-04 14:44] igrankova opened #10099 "Research Asana source connector"
## Complete the following exercise for Asana source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:46] igrankova opened #10100 "Research BigQuery destination connector"
## Complete the following exercise for BigQuery destination connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenti

[2022-02-04 14:51] igrankova opened #10101 "Research Snowflake destination connector"
## Complete the following exercise for Snowflake destination connector:
1. What do people use this service for?
1. What are the common use cases for pulling data from this connector?
1. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  * Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  * Authenti

[2022-02-04 14:53] igrankova opened #10102 "Research Postgres destination connector"
## Complete the following exercise for Postgres destination connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenti

[2022-02-04 14:54] igrankova opened #10103 "Research Redshift destination connector"
## Complete the following exercise for Redshift destination connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenti

[2022-02-04 14:56] igrankova opened #10104 "Research S3 destination connector"
## Complete the following exercise for S3 destination connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-02-04 14:57] igrankova opened #10105 "Research GCS destination connector"
## Complete the following exercise for GCS destination connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-02-04 15:06] ordonezf opened #10106 "Deploy - K8S - Temporal fails with special characters on password"
## Environment
- **Airbyte version**:  0.35.15-alpha
- **OS Version / Instance**: Kubernetes v1.20 on EKS
- **Deployment**: Kubernetes
- **Severity**: Medium
- **Step where error happened**: Deploy

## Current Behavior
When using an external database with special characters in the password (_!?&) temporal fails to parse the connection string and the application does not start.

## Expected Behavio

[2022-02-04 15:09] etsybaev commented on #10033
https://community.snowflake.com/s/article/HOW-TO-OAUTH-TOKEN-GENERATION-USING-SNOWFLAKE-CUSTOM-OAUTH

[2022-02-04 15:13] etsybaev commented on #9907
Performed an investigation. This escaping must be applied while fetching tables. So it's not applicable in destination source

https://docs.snowflake.com/en/user-guide/jdbc-api.html#support-for-wildcards-in-database-object-names

[2022-02-04 15:13] #9907 closed

[2022-02-04 15:57] #6280 closed

[2022-02-04 16:30] alafanechere commented on #10106
Thank you @ordonezf for opening this issue and suggesting a fix!
This looks closely related to this one https://github.com/airbytehq/airbyte/issues/7067
Let me know if you open a PR!
For your information, we also have a problem with temporal connecting with SSL to external database (https://github.com/airbytehq/airbyte/issues/9342)

[2022-02-04 16:31] misteryeo commented on #9956
Are we still waiting for the Jgraph option to be evaluated - I see it's in progress with no doc?

Also requested access to the doc for the second option @DoNotPanicUA

[2022-02-04 16:33] #10068 closed

[2022-02-04 16:36] alafanechere commented on #10053
Hi @magefister this is often related to the sizing of the Airbyte instance. Could you please try to provide more resources (memory+cpu) do your instance and check if the error persists? Please check this [doc](https://docs.airbyte.com/operator-guides/scaling-airbyte), it has some hints about sizing.
What is your current instance size?

[2022-02-04 16:38] alafanechere commented on #10053
Closing because it's a duplicate of https://github.com/airbytehq/airbyte/issues/4975

[2022-02-04 16:38] #10053 closed

[2022-02-04 16:41] alafanechere commented on #4975
This error often occurs when the Airbyte instance is lacking resources. For users stumbling across this issue please try to upsize your instance. We have recommendations about sizing your Airbyte instance [here](https://docs.airbyte.com/operator-guides/scaling-airbyte). Please at least try with 16GB RAM, 4CPU, and 30GB disk.

[2022-02-04 17:00] alafanechere commented on #10052
Hi @magefister I think this is related to two things:
* the Nginx image used by the webapp listens on ipv6 by default
* Your Kubernetes cluster does not use ipv6 ? (maybe because your Kubernetes version is too old?)

This issue is more related to the nginx image than to Airbyte according to this one https://github.com/nginxinc/docker-nginx/issues/394. But https://github.com/nginxinc/docker-nginx/i

[2022-02-04 17:06] alafanechere commented on #10047
Hi @dermasmid I've a few question for you:
* Is it something that also happens with other sources?
* Is the output data complete?

[2022-02-04 17:17] jrhizor commented on #10056
The `ConfigRepository` / `ConfigPersistence` interface should change to actually use `DatabaseConfigPersistence` with db accessors that actually perform filtering correctly.

[2022-02-04 17:23] jrhizor commented on #9303
related: https://github.com/airbytehq/oncall/issues/119

[2022-02-04 17:29] jrhizor commented on #10058
related: https://github.com/airbytehq/airbyte/issues/8136

[2022-02-04 17:58] DoNotPanicUA commented on #9956
@misteryeo
At this moment, we agreed to put it on hold. At the previous demo, I shared this concept with @sherifnada, and he asked me to put it on paper first.

[2022-02-04 18:02] pmossman opened #10110 "Expose detailed Attempt stats and failure information in the UI"
## Overview
The Airbyte API now returns new fields on the `AttemptRead` containing detailed information about sync stats and failures.

These new fields are:
- `AttemptRead.totalStats`
- `AttemptRead.syncStats`
- `AttemptRead.failureSummary`

In airbyte-api's `config.yaml` spec, you can now find the following types:

---

#### AttemptStats
`AttemptStats` replaces `recordsSynced` and `bytesSynced`

[2022-02-04 18:24] jkaelin opened #10111 "Source Salesforce: BULK API is only used for initial sync even when supported"
## Environment
- **Airbyte version**:  0.35.9-alpha
- **OS Version / Instance**: Ubuntu 18.04.6 LTS
- **Deployment**: Docker
- **Source Connector and version**: Salesforce 0.1.17
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
**BULK API is only used for initial sync even when supported**

**General issues**
- API usage limits: there are different quotas for R

[2022-02-04 18:34] alafanechere opened #10112 "🐛 Source SearchMetrics: Lack of context in which DefaultBackoffException is raised"
## Environment
- **Airbyte version**: 0.35.7
- **Deployment**: Docler
- **Source Connector and version**: SeachMetrics 0.1.1
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
This issue was raised by Adriel at Cart.com
On sync, the `DefaultBackoffException` is raised while reading the `UrlRankingsS7` stream.
The connector overrides the `should_retry` method to i

[2022-02-04 18:54] sherifnada commented on #5301
@alexandr-shegeda @sashaNeshcheret I believe #6005 fixes the issue, closing this one.

[2022-02-04 18:54] #5301 closed

[2022-02-04 19:36] ordonezf commented on #10106
@alafanechere I'll give it a try then! :)

I don't think this one is an issue anymore, I deployed it myself with the config below, same as the one in the issue, and it works just fine.

[code]

[2022-02-04 19:56] collinscangarella opened #10116 "Google Workspace Email Audit API"
## Tell us about the new connector you’d like to have
Hello. I'm planning on building a new source connector for the current version of [Google Workspace's Email Audit API](https://developers.google.com/admin-sdk/email-audit#managing_a_mailbox_download).
That being said, the paradigm is different from the majority of other APIs so I need a bit of help in understanding the best way to do this with

[2022-02-04 21:10] sherifnada commented on #9842
@lazebnyi since we already support pulling deleted/archived records, we should just add a note to the docs (in the table which says support incremental deletes) detailing what it means, something like:

[2022-02-04 23:16] cgardens opened #10119 "Expose partial success and failure origin in the UI"
## Tell us about the problem you're trying to solve
* Failure Origin: Our oncall process is severely hampered by our ability to quickly determine if the origin of a failure was a the source, destination or platform. We should add this information in to the UI
* Records committed: We now track the number of records actually _committed_ to the destination. We should expose that in the UI.
* Partial

[2022-02-04 23:19] cgardens commented on #10119
@pmossman @jrhizor @timroes heads up.

[2022-02-04 23:19] cgardens commented on #10119
@harshithmullapudi would you be down to work on these UI changes next week?

[2022-02-04 23:19] cgardens commented on #10110
I think the design work for the per-stream counts may be underspecified. I tried to mock something up [here](https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=32209%3A146809) and what I did is bad enough that I think we should get the designer to look at.

I think adding failure reason and partial success is somewhat straight forward and we could fast track. It would be very high v

[2022-02-04 23:37] #9984 closed

[2022-02-04 23:38] jrhizor commented on #10119
Should partial success be yellow with ⚠️ ?

[2022-02-05 00:00] cgardens commented on #10119
Sure. Maybe use the same yellow circle and exclamation mark that we use for a connector that has never run yet?

[2022-02-05 00:53] jrhizor opened #10122 "investigate reliability of connector syncs on m1 k8s"
I'm running into something strange on M1 using the published PokeAPI + JSON Destination images on a locally built platform.

If I run on docker-compose I can run it as many times as I want and see successful runs (even 180+ in a row). However, if I run on kubernetes, there's a chance of the syncs getting stuck. Specifically what happens is that the source completes and closes but the destination n

[2022-02-05 01:08] jrhizor opened #10123 "server starting up page doesn't redirect to onboarding when ready"
When starting Airbyte for the first time on OSS, the "Cannot reach server. The server may still be starting up." shows initially but doesn't go away unless the user refreshes the page.

A while ago we had this spam health requests which I think led to the change that prevented that kind of spamming. However, it'd be great if in 5s or so after the server is ready that the actual preferences screen

[2022-02-05 01:48] jrhizor opened #10124 "improve naming for launched worker pods and containers"
Here's the desired scheme for names:
[code]

Note the random UUIDs for the adhoc check/discover calls that aren't tied to a specific object. `1234` is the globally incrementing job number, and 0 is the attempt number.

see https://airbytehq-team.slack.com/archives/C02TXQ020QM/p1644022801529219 for more info.

This will be partially resolved today for the container orchestrator pieces. For the othe

[2022-02-05 01:54] jrhizor opened #10126 "add comprehensive labeling on k8s"
When managing connections at scale, we end up needing to look at pods that have run in different contexts. Without thorough labelling, it's difficult to quickly summarize pod states from `kubectl`. Outside of debugging, this would help us change the orchestrator pod killing for previous attempts to instead kill every non-terminal pod for the connection, which would be much cleaner.

For all contai

[2022-02-05 03:33] harshithmullapudi commented on #10119
Sure. Will pick.

[2022-02-05 08:41] tuliren opened #10128 "Make sure we close the connection and don't leak it in java sources."
## Summary
- There seems to be connection leaks in some of the database connector.
- We should verify this by adding a leak detection in acceptance test, and fix them.

## Description
While investigating https://github.com/airbytehq/airbyte/pull/9744, I found two phenomena:
1. When a Redshift table is empty, reading it in a streaming does not seem to ever reach the `onClose` method of the stream,

[2022-02-05 15:12] noahkawasakigoogle commented on #9855
I have way less familiarity here, but how extensive is the directory structure between the platform side and the connector set in terms of what files on one side can break a build for the other side?

In the short term, there could be either some simple gradle additions to declare dependancies:

[code]

And two GA workflows to run some basic tests (like smoke tests but for a simple build) if those

[2022-02-05 18:18] tuliren opened #10129 "Ensure every JDBC database use case that returns a stream is closed"
## Problem
Some of the `JdbcDatabase` methods return a stream embedded with a database connection. The connection can only be closed when the consumption of the stream is done (in an `onClose` callback), and the closure is not automatic. There are use cases that do not manually close those streams. This is not an intuitive operation because most Java streams do not require closure, as they are not

[2022-02-05 23:54] martinibach commented on #6150
@sherifnada could you take a look at this again, please? Most companies use Sendgrid for transactional emails. The current connector is pretty much useless without analytics for transactional emails.

[2022-02-06 07:26] klogdog commented on #6043
+1 For adopting Airbyte and using Databricks connector. I will follow @tuliren 's build process for now but we should definitely have a mechanism to pull the image after agreeing to the License agreement. Ill also bring this up with my Databricks CSR at the next call.

[2022-02-06 08:15] dermasmid commented on #10047
Hey @alafanechere ,
Yes it i tried it on the file source as well, and i saw the same error, from what i found the bug is in the mongodb destination.
About the output, i did not confirm that all the data was replicated.

Here's the logs files:
[logs-28.txt](https://github.com/airbytehq/airbyte/files/8009738/logs-28.txt)
[logs-47.txt](https://github.com/airbytehq/airbyte/files/8009739/logs-47.txt)

[2022-02-06 10:47] ShahNewazKhan commented on #5870
Seeing the same error with big query as a destination, the data is in the bq dataset, looks like dbt was also run, however seeing logs like this in the attempts marked as failed:

2022-02-05 22:15:34 INFO i.a.w.p.KubePodProcess(destroy):588 - Destroyed Kube process: destination-bigquery-sync-2-1-nemwd
2022-02-05 22:15:34 ERROR i.a.w.DefaultReplicationWorker(run):141 - Sync worker failed.
java.util

[2022-02-06 11:14] MahmoudElhalwany commented on #9784
I have tried that, and it take 23 hours then it gives me the same error

[2022-02-06 19:23] jrhizor commented on #9711
@Jamakase the optional `releaseStage` field is now available in the connector definitions. See https://github.com/airbytehq/airbyte/pull/10051/files#diff-8d2a55215b7d1dbfdb14f80e5fb444c9b940be967bdfb8cfbf1e24703579095eR2110

[2022-02-06 21:56] danieldiamond commented on #5754
@VitaliiMaltsev are you suggesting that it doesn't work in the cloud either?

separately, rereading earlier comments: @jrhizor @subodh1810

i've tried this now with k8s and an unreasonable amount of resources to ensure this isn't a resource/memory issue. the job still hangs after reading all the records. then is the issue still the situation where the worker dies (if this is explicitly handled tha

[2022-02-06 22:21] noahkawasakigoogle opened #10135 "Refactor JDBC connectors (maybe others too) to use common connection modules"
## Tell us about the problem you're trying to solve
Easy opportunity to DRY up destinations/sources code used to get databases/connections, like Snowflake Source/Snowflake Destination. Repeated code, example:

[SnowflakeSource](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSource.jav

[2022-02-06 23:03] sergei-solonitcyn opened #10136 "Update connector development documentation"
Current documentation is partly obsolete. It requires to be updated accoeding to actual codebase state and related to it expected development flow.

#### Parts to be updated
- [Connector Development Docs](https://docs.airbyte.com/connector-development)
- and, probably other palces (will update the description if needed)

[2022-02-07 01:59] misteryeo commented on #9523
@alexandr-shegeda let's move ahead with @tuliren's suggestion on this one

[2022-02-07 02:15] yuhuishi-convect opened #10137 "Shopify Connector - missing FulfillmentOrders stream"
## Environment
- **Airbyte version**:  0.35.15-alpha
- **OS Version / Instance**: Ubuntu 20.04 on AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Shopify 0.1.30
- **Destination Connector and version**: NA
- **Severity**: Medium
- **Step where error happened**: Setup new connection

## Current Behavior
`FulfillmentOrders` stream is missing from Shopify connector schema from UI

[2022-02-07 02:27] misteryeo commented on #9994
Thanks @dsnam, just jumping in here to apologize for the subpar experience and really appreciate your feedback and suggestions. We'll be digging into this so we can prevent this in the future.

[2022-02-07 02:46] misteryeo commented on #9625
I love the premise behind this issue as we want to reduce the level of cognitive overhead for a user - so where possible, I think we should determine what makes the most sense as the optimal sync modes.

But I'm not sure I agree with this approach:

The optimal sync should be decoupled from whether or not the user has to make more/less adjustments on the cursor fields. We should still choose which

[2022-02-07 04:39] danieldiamond commented on #5754
FYI @VitaliiMaltsev this seems to be the exact same issue, with a lot more context if you're interested
https://github.com/airbytehq/airbyte/issues/8218

[2022-02-07 06:35] sherifnada commented on #9625
Fwiw the reason I think that approach may be preferable is because Bulk edit is not useful in this particular case unless all cursor columns across all tables have the same name e.g updated_at otherwise the user still has to manually choose the cursor column for each table one by one. If I understand bulk edit correctly it's not a 100% solution because the user still needs to choose Which tables t

[2022-02-07 07:13] dermasmid commented on #5870
I had the same thing with Klaviyo - MongoDb. here's the logs:
[code]

[2022-02-07 07:40] jrhizor commented on #9625
The more streams there are, the bigger the DB though, so presumably it's even more important that they configure the correct/optimal settings?

[2022-02-07 07:42] sherifnada commented on #10116
@collinscangarella

Yes! As long as it's idempotent i.e: google doesn't care if you ask for it multiple times it should work fairly well. You are pointing out the right concerns:

As much as possible, you want the connector to be "checkpoint-able", so the smaller batches you can split things into the better. However, this may come at the cost of performance, so you'll have to find the sweet spot.

[2022-02-07 07:50] dermasmid opened #10139 "Facebook marketing sync fails"
## Environment
- **Airbyte version**:  0.35.15-alpha
- **OS Version / Instance**: container optimized os
- **Deployment**: GKE
- **Source Connector and version**: Facebook marketing 0.2.31
- **Destination Connector and version**: MongoDB 0.1.3
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Sometimes the facebook api fails with a oauth error, and the worker fa

[2022-02-07 08:10] anand-srinivaas opened #10140 "Incremental + dedup is not cleaning up deleted records"
## Environment
- **Airbyte version**:  Latest Dev
- **OS Version / Instance**: example macOS
- **Deployment**: Docker
- **Source Connector and version**: Hubspot
- **Destination Connector and version**: Postgres
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior

Hi , a newbie question here .. i'm trying to get Incremental + Dedup sync from Hubspot to Postgres.. wh

[2022-02-07 08:19] subodh1810 commented on #8449
@cgardens we had 3 things to do
1.  cleanup airbyte_configs from config database -> done in PR https://github.com/airbytehq/airbyte/pull/9437
2. cleanup the code related to airbyte_configs (DeprecatedDatabaseConfigPersistence and tests) -> done in PR https://github.com/airbytehq/airbyte/pull/9437
3. cleanup airbyte_configs table from cloud database -> raised a PR https://github.com/airbytehq/airby

[2022-02-07 08:59] #6557 closed

[2022-02-07 09:06] #6732 closed

[2022-02-07 10:23] ycherniaiev commented on #8633
@sherifnada @bazarnov Currently we have some problems on getting our app on marketplace.Here is an answer from Shopify:

_Our records show that on multiple occasions you’ve submitted an app that doesn’t meet Shopify’s public app requirements. As a result, you’ve been temporarily suspended from submitting new apps until March 01, 2022.

You can re-submit your app when the suspension period is over.

[2022-02-07 10:50] igrankova commented on #10059
@misteryeo, please review the Google Analytics research, see the link to doc in the body of this issue.

[2022-02-07 11:01] bazarnov commented on #6791
This issue is related to UI/UX. Once you've updated the `source-stripe` version from `0.1.19` to `0.1.20`, the `Save changes and test` button is not active unless you `Edit` the `Client_secret` value. If you copy/paste the same secret value as it was before, the UI allows you to save the changes.
See the screenshots:

Before the update:
version = `0.1.19`, no `Lookback window` field
<img width="93

[2022-02-07 11:12] timroes commented on #10056
Related to https://github.com/airbytehq/airbyte/issues/8451 (or could potentially even be part of it).

[2022-02-07 12:31] joelluijmes commented on #9702
I don't know if you were still planning to work on this @aadityasinha-dotcom, nor didn't want to take over. But I've just noticed this issue, yet already created a PR to implement `event` stream #10143 🙈

[2022-02-07 13:03] danjsiegel opened #10145 "S3 Destination CSV Configuration"
Configuration of the CSV for target S3 data.

- Custom Delimiters
- String Quoting
- Header/No Header
- Escape Characters

[2022-02-07 13:44] davinchia commented on #9741
@jrhizor can he talk to @paulpalamarchuk and on https://github.com/airbytehq/airbyte-cloud/issues/755

[2022-02-07 13:48] davinchia commented on #3605
You'll also have to remove the additional kubernetes deploys and configure the deploy so airbyte connects to your external database. See https://docs.airbyte.com/operator-guides/configuring-airbyte#database

[2022-02-07 13:50] martinibach commented on #7554
I also can't retrieve any data from the endpoint in my testing environment. I just changed values on a deal to test it and no data is pulled. I'm running on 0.35.17-alpha on AWS EKS.

[2022-02-07 13:56] davinchia commented on #6417
this looks like it's in the connector roadmap - so I think the only thing left is to wait for implementation

[2022-02-07 14:02] aadityasinha-dotcom commented on #9702
I guess I will work on the `coupon` and `transaction` stream. @joelluijmes

[2022-02-07 14:17] alexandr-shegeda opened #10147 "[EPIC] 2022 Q1 Cloud Connectors Release"
### The main purpose of this epic is to track release progress for the described connectors.

### Connectors

This section listed connectors with the highest priority and responsible persons:

- [x] Source: Salesforce - @antixar
- [ ] https://github.com/airbytehq/airbyte/issues/10281 - @bazarnov
- [x] https://github.com/airbytehq/airbyte/issues/10415 - @lazebnyi
- [x] https://github.com/airbytehq/

[2022-02-07 14:21] alexandr-shegeda opened #10148 "[EPIC] Destination BigQuery to GA"
### The main purpose of this issue is to track release progress for the connector.

### Acceptance criteria

- [x] Connector should have a separate document that should be placed on the [Google Drive](https://drive.google.com/drive/folders/1qOzblo8xiBJc8AiK4AyuDTC1Ilt-GFzu)
- [x] Collect and list all tech debt-related issues in the section below
- [x] #10758
- [x] Update connector documentation ac

[2022-02-07 14:52] igrankova commented on #10060
@misteryeo, Paypal research is finished.

[2022-02-07 14:58] prein commented on #1868
@gajus I was using it with ArgoCD, and didn't notice the issue

[2022-02-07 15:22] candiesforlife commented on #9780
Hello, I have the same issue here. Any update on how to fix this and get the data back instead of empty columns ?

[2022-02-07 15:22] ycherniaiev commented on #9678
@misteryeo Research is here https://docs.google.com/document/d/1KOiJT6hENQTOdNI2DGgMDRTD2JV0NBLOU3uxRyhE42w/edit#

[2022-02-07 15:36] davinchia opened #10149 "Speed up specific Connector's Check Connection in preparation for Cloud GA."
## Tell us about the problem you're trying to solve
#9303 contains work that gives us a good sense of the Check Connection duration from the platform POV as well as the connector POV. We also identified what work to do to speed things up on the platform side so that we are close to our current architecture's theoretical limit (~5 second 95 percentile Kube startup/teardown time).

This issue is to

[2022-02-07 15:57] timroes commented on #2170
Talking about this, we decided we don't want to limit the minimum interval, but allow this on a per minute basis as specified via cron. It would be nice if we send out a notification if a cron task get skipped, but not a requirement for the first implementation.

[2022-02-07 16:16] davinchia commented on #10149
testing branch: https://github.com/airbytehq/airbyte/pull/9387

[2022-02-07 16:22] sherifnada commented on #8633
@ycherniaiev does not being in the marketplace prevent us from having a public app? The latter is important, the former is not

[2022-02-07 16:31] DoNotPanicUA opened #10151 "[Concept] File stagging rework"
### Current state
We have a few implemented destinations which have a file in the cloud storage as an endpoint. Later we decided to use cloud storage as a stagging for other destinations. It helps to collect all messages into files and then just import them into temporary tables inside the destination database.
As result, if we want to add some stagging into a destination, we have to extend a clou

[2022-02-07 16:57] misteryeo commented on #6791
Tagging you in @timroes since this looks like a UI/UX issue

[2022-02-07 17:09] misteryeo opened #10153 "Stripeg Source: Support "Replicate Incremental Deletes""
Support replicating incremental deletes to reach parity for GA connector as per [research](https://docs.google.com/document/d/1qltg3eKLvjVK0cPel7SiptVRrytPhRwqjBSEc4WLJlc/edit#heading=h.kyp5r0t74f7a).

Example issue: https://github.com/airbytehq/airbyte/issues/9842

[2022-02-07 17:11] misteryeo commented on #9684
@karinakuz added one clarifying comment but otherwise this looks great! Thank you :)

[2022-02-07 17:45] cgardens opened #10154 "[EPIC] Speed up check connection time in Q1 GA connectors"
Relates to: https://github.com/airbytehq/airbyte/issues/10149

## Tell us about the problem you're trying to solve
As part of the [investigation into speeding up check connection](https://github.com/airbytehq/airbyte/issues/10149), our testing found that the check connection method (and discover schema method) for some connectors is slow (even after removing platform overhead)

Ideally our 99 perc

[2022-02-07 18:37] misteryeo opened #10155 "Salesforce Source: Support "Replicate Incremental Deletes""
## Tell us about the problem you're trying to solve
Support replicating incremental deletes to reach parity for GA connector as per [research](https://docs.google.com/document/d/1Z5wue_M3wKkWl667-aHLmtJd6IyyVNnoooUZzA0ucfA/edit#heading=h.kyp5r0t74f7a).

Example ticket: https://github.com/airbytehq/airbyte/issues/9842

[2022-02-07 18:43] lshrinivas commented on #8868
@sashaNeshcheret I think the PR that fixes this should take into account the `public` role as well [here](https://github.com/airbytehq/airbyte/pull/9004/files#diff-32e498a181faa29ce368c0c6336f574789749c5a1f3cd98772d63599e303ec4cR113). I was bitten by this when using v0.1.5 of the CockroachDB connector, where I couldn't see any tables, whereas I could with v0.1.4. When connecting to CockroachDB via

[2022-02-07 19:04] misteryeo commented on #9840
@lazebnyi once you complete this, can you please made sure to update the [research doc](https://docs.google.com/document/d/1lQlxwLt22CFMAG3qTWYn4MpRSi2XCLQVqEkb0XeqBeA/edit#) to reflect the change? Thank you!

[2022-02-07 19:05] misteryeo commented on #9676
Reviewed and looks good!

[2022-02-07 19:06] misteryeo commented on #9675
@igrankova once each doc has been created, can you create a folder in Google Drive to centralize all of them for ease of reference? Thank you!

[2022-02-07 19:14] ordonezf commented on #10140
I'm having the same issue using postgres as source and destination.

I can see the empty json in _airbyte_raw with the deleted id and the deleted_at flag in _scd table but not in the main table.

I'm on version 0.35.18-alpha deployed on kubernetes 1.20

[2022-02-07 19:15] lshrinivas commented on #7933
I encountered this same error with Source connector: Cockroachdb 0.1.5 (connected to Cockroachdb v21.1). This seems to only happen for tables that have more than ~1000 rows.

[2022-02-07 19:55] #8507 closed

[2022-02-07 19:55] #8509 closed

[2022-02-07 20:04] klogdog commented on #6043
### Tell us about the problem you're trying to solve
When running ./gradlew :airbyte-integrations:connectors:destination-databricks:build
from the root directory gradle build fails.  I have tried this in mingw64 on a Windows system and Ubunutu 20.04

### Stack Trace
`C:\Users\DevOps\source\repos\airbyte\airbyte-integrations\connectors

FAILURE: Build failed with an exception.

* What went wrong:
E

[2022-02-07 20:07] klogdog commented on #6043
### Tell us about the problem you're trying to solve
When running ./gradlew :airbyte-integrations:connectors:destination-databricks:build
from the root directory gradle build fails. I have tried this in mingw64 on a Windows system and Ubunutu 20.04

### Stack Trace
` MINGW64 ~/source/repos/airbyte (master)
$ ./gradlew :airbyte-integrations:connectors:destination-databricks:airbyteDocker --stacktra

[2022-02-07 20:21] thisisile opened #10159 "MySql to Snowflake Error"
## Environment **Tried on two machines** ec2 & local machine
- **Airbyte version**:  0.35.6-alpha & 0.35.15-alpha
- **OS Version / Instance**: AWS EC2 8Gb t2/3 large instance & Ubuntu 20.04.3 LTS
- **Deployment**: Kubernetes & Docker
- **Source Connector and version**: MySql 0.5.1 & MySql 0.5.1
- **Destination Connector and version**: Snowflake 0.4.3 & Snowflake 0.4.8
- **Severity**: High / Critic

[2022-02-07 20:33] subodh1810 commented on #9603
Ref : https://airbytehq-team.slack.com/archives/C02TXT37Y3Y/p1642605670031600

[2022-02-07 21:25] fl0wm0ti0n commented on #9366
i dont remember exactly, but i think a test in a linux distro worked as expected.

under windows it is cloning everything except the long paths

[2022-02-07 21:40] ZeroStack commented on #8830
We are also experiencing this issue with Postgres CDC source to BQ for deduped history.

[2022-02-07 22:47] pmossman commented on #9912
@monai a fix for this was released in version 0.35.17-alpha. The `actor_definition` table now has a `tombstone` column that should be set to `true` when the delete endpoint is called. I'll close this issue but please re-open if your issue persists in the new version

[2022-02-07 22:47] #9912 closed

[2022-02-08 00:07] dsnam commented on #9994
@alafanechere updating it over the API only partially worked. there is a field in the sync catalog `config` called `aliasName` that I was hoping might work to preserve the old raw destination table name for refunds (`orders_refunds`) , but it appears that this field is not used.  For reference, here is the description in the api docs:

`aliasName: string
Alias name to the stream to be used in the

[2022-02-08 00:16] misteryeo commented on #9994
FYI @dsnam, we're going to address the high level issue of this through https://github.com/airbytehq/airbyte/issues/9845.

@bazarnov lets revert the changes and handle the other aspects of the OAuth 2.0 implementation on the server that will be impacted. The thinking here is that even if @dsnam is able to resolve his specific issue, this backwards incompatible change will likely reach other users

[2022-02-08 02:39] sherifnada commented on #10154
discussed offline with Charles -- the current focus will be on sources which suffer most severely from this issue. The goal for EOQ1 is below 5 seconds for a connection check. 3 or less is perfect but not worth spending much time on.

[2022-02-08 02:50] sherifnada commented on #10154
cc @misteryeo

Should we make the GA criteria for check connection be that it always takes <5 seconds? I don't see a reason we can't do this today

[2022-02-08 03:09] sherifnada commented on #3936
We're closing this issue as the feasibility study above indicated it's not possible to implement incremental syncs reliably. Given the scale of a typical spreadsheet, full refresh syncs are usually fine to pick up new records/deletes.

[2022-02-08 03:09] #3936 closed

[2022-02-08 03:24] sherifnada commented on #9855
@noahkawasakigoogle

the main issues are usually:
* the connector index (`source_definitions.yaml` and `destination_defintions.yaml`) was updated but the subsequent steps which autogen some code weren't run properly
* formatting breaks the overall repo's build
So they're rarely "actual" build breakages

I like the idea of smoke tests as they reduce the time to feedback

re: Bazel, we initially con

[2022-02-08 06:03] harshithmullapudi commented on #9590
Hey does it makes sense to change it to string and handle it whatever format you need over Custom DBT? Does this sound good?

[2022-02-08 06:24] harshithmullapudi commented on #10145
Hey @danjsiegel it would be great if you can share the usecase you have for this requirement

[2022-02-08 06:50] ycherniaiev commented on #9680
I double checked the research and it seems like all comments are closed

[2022-02-08 07:03] joelluijmes commented on #9590
If I can instruct Airbyte to to treat it as string, that be great! Is that possible?
If you mean at Mongo, no that wont be viable as we have to change our applications then.

[2022-02-08 07:42] jrhizor commented on #9741
I think the two of them did talk recently? Are there any more open questions @Jamakase and @paulpalamarchuk ?

[2022-02-08 08:15] igrankova commented on #9675
@misteryeo sure, Andy.
This is the folder:
https://drive.google.com/drive/folders/1gF08xGXrpUsNwga4_1XemTHellTlhj5N?usp=sharing

[2022-02-08 08:20] htrueman commented on #9062
Working on rewriting the existing connector using future requests. So need to rewrite the `streams.py` to collect a deque of future requests to then process them as soon as they're finished.
To do so we need to pre-calculate the number of items by endpoint, then split it into n pages (count endpoint and offset pagination must be available).
We also need to catch rate limit exceptions, readd future

[2022-02-08 09:06] monai commented on #9912
Good job! I can confirm that the deletion works now.

[2022-02-08 09:17] klogdog commented on #6043
![image](https://user-images.githubusercontent.com/1977596/152955918-baed25ee-8e56-4caa-ada2-ef29a9a80783.png)

[2022-02-08 09:36] sergei-solonitcyn opened #10174 "[EPIC] Update connectors' code quality to make it pass all the checks"
We now have a configured tool to run some automatic checks of code quality. It can be run with `invoke` command from `airbyte-integrations/connectors/` directory. See its inline help.
The purpose of this epic is to have all the checks to be passed for every connector. So `invoke all-checks -c <connector_name>` has to return zero exit code.
In case we found any difference between configurations of

[2022-02-08 10:02] ycherniaiev commented on #10065
@misteryeo  Research is here : https://docs.google.com/document/d/1LB7Bi6Zffue9STeMnwTA3POCnIQ3tFSQugb-ja8R-mE/edit

[2022-02-08 11:05] marrocksd commented on #9827
I tried generating a token with all 32 permissions and It worked though I was told from the docs that only 4 permissions are needed

[2022-02-08 11:34] rnncredit opened #10176 "Oracle table to Mysql Sync fails"
OS Version / Instance:  Windows 10 Pro
Memory / Disk: 16Gb
Deployment: Docker
Airbyte Version: 0.35.18-alpha
Step: Sync Job

Description: Try to sync the data into mysql database and got the following
error2022-02-08 10:04:18 normalization > 2022-02-08 10:04:15.579792 (Thread-1): Database Error in model gl_ledgers (models/generated/airbyte_tables/discometa/gl_ledgers.sql)
2022-02-08 10:04:18 norma

[2022-02-08 11:35] rnncredit commented on #10176
Try to establish the connection from Oracle table to Mysql table. I tried with Oracle ERP table having huge data and around 50 columns.

[2022-02-08 12:10] sashaNeshcheret opened #10178 "Improve discovery process for user without permissions to avoid fetching not permitted schemas and tables"
## Current Behavior
In db2, cockroachdb and postgres source connectors during discovery we are fetching tables and schemas to which user does not have any permissions.

## Expected Behavior
In that case user should not see any tables

## Logs
*If applicable, please upload the logs from the failing operation.
For sync jobs, you can download the full logs from the UI by going to the sync attempt pag

[2022-02-08 12:35] TSkrebe opened #10179 "hubspot <> bigquery: incremental dedup normalization issues"
## Environment
- **Airbyte version**:  0.35.12-alpha
- **OS Version / Instance**: linux
- **Deployment**: Kubernetes
- **Source Connector and version**: Hubspot 0.1.38
- **Destination Connector and version**: Bigquery 0.6.1
- **Severity**:  High
- **Step where error happened**: Sync job

## Current Behavior
We're syncing companies stream from hubspot to bigquery. hubspot has around 370k entries an

[2022-02-08 13:10] timroes opened #10181 "Generate TypeScript code from OpenAPI spec"
We should use the openAPI spec and generate TypeScript typings from them (the same as we do in Java). That way we'll be able to prevent errors from changes in the API affecting the frontend, as well as errors happening from manually typing new endpoints. Also reviewing PRs that will add new APIs will get easier, since currently this involves a lot of time comparing TypeScript types against the Ope

[2022-02-08 13:26] #10013 closed

[2022-02-08 13:34] lazebnyi commented on #9836
On hold
Waiting for clarification from @misteryeo and @marcosmarxm

[2022-02-08 13:39] ChristopheDuong opened #10182 "Write Tech Spec: alerting on platform usage"
## Tell us about the problem you're trying to solve
SImilar to https://github.com/airbytehq/airbyte-cloud/issues/907
but also focused from user's point of view

## Describe the solution you’d like
How to detect repeat failure or bad configurations of connectors

tech spec draft https://docs.google.com/document/d/1eWDiy8cj7VvXyN_oKrmJAaEJ3-M9LqjX9JlDYyeeHFE/edit#