[2021-07-06 18:39] sherifnada opened #4579 "Increase Salesforce integration test account API quota"
## Tell us about the problem you're trying to solve
The Salesforce integration test account we use does not have a lot of bandwidth for repeatedly running tests.

## Describe the solution you’d like
Higher API quota. We should investigate how to do this. Also we should mention in our docs how we did it in order to help users who may have the same problem.

[2021-07-06 19:56] philippeboyd opened #4581 "Cleanup RAW tables on destination when doing a Full Refresh - Overwrite"
## Tell us about the problem you're trying to solve
When doing a `Full Refresh - Overwrite` from MSSQL to Snowflake (for instance; can be any roughly any source/destination supporting `Full Refresh - Overwrite`), we end up with RAW tables in the destination that are technically useless once the data has been normalized. It essentially doubles the spaces needed.

## Describe the solution you’d like

[2021-07-06 20:09] rigobcastro commented on #4577
@sherifnada I updated the image including the UI possible targets. Let me create a some diagram with e2e use cases to explain better your questions.

[2021-07-06 21:11] julianopiovezan opened #4583 "Postgres to MySQL fails if source has a column with json data"
## Enviroment
- **Airbyte version**:  0.26.2-alpha
- **OS Version / Instance**: Debian bullseye/sid, AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.3.5
- **Destination Connector and version**: MySQL 0.1.6
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
Sync job doesn't work when the source table has a column with json data, f

[2021-07-06 21:16] marcosmarxm opened #4584 "Add section how use Airbyte with Fedora"
### Tell us about the documentation you'd like us to add or update.
[Slack convo](https://airbytehq.slack.com/archives/C01MFR03D5W/p1625421594429800)

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-07-06 21:24] dajkatal opened #4585 "Google Analytics sync not working."
## Enviroment
- **Airbyte version**: 0.27.0-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: Google Analytics 0.2.6
- **Destination Connector and version**: Postgres 0.3.6
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
*Tell us what happens.*

There are two issues. One is most likely already known, but th

[2021-07-06 21:58] philippeboyd opened #4586 "Select the same Sync settings for ALL tables"
## Tell us about the problem you're trying to solve
I have a database that I need to setup a sync from MSSQL to Snowflake. That database has over 600 tables... I need to go on each and every one of them and select the **Sync settings** `Full Refresh - Overwrite` since the default is `Full Refresh - Append`

## Describe the solution you’d like
Have an option to set the same sync settings for all ta

[2021-07-06 23:45] sherifnada commented on #3582
@marcosmarxm SGTM

[2021-07-07 02:17] sherifnada opened #4588 "🚀 New Source: Cart.com"
## Tell us about the new connector you’d like to have
We'd like to support the [Cart.com](https://developers.cart.com/docs/rest-api/docs/README.md) API for the following endpoints:

* [Customers Cart](https://developers.cart.com/docs/rest-api/restapi.json/paths/~1customers/get)
* [Orders](https://developers.cart.com/docs/rest-api/restapi.json/paths/~1orders/get)
* [Order Payments](https://develope

[2021-07-07 02:33] marcosmarxm commented on #4546
Thanks for opening this @MarvinSchenkel. Did you found a workaround to solve the problem? Maybe creating small dabatases with fewer tables and sync them.

[2021-07-07 02:35] marcosmarxm commented on #4581
I think for some use cases people want to keep the raw tables. Maybe adding a option in the connection setting page to execute this automatically. Other solution is to have a standard custom dbt operator to execute this. WDYT @philippeboyd

[2021-07-07 02:56] marcosmarxm commented on #4585
Is something that is strange because the actual log level is INFO, there is issue to discovery the cause of that.

[2021-07-07 02:58] marcosmarxm commented on #4585
@sherifnada should this only a modification in the `configured_catalog` or could be more complex? Is possible to address to the connector team?

[2021-07-07 03:22] sherifnada opened #4589 "Source Amazon SP API: Support additional endpoints"
## Tell us about the problem you're trying to solve
I'd like to add support for the following endpoints on amazon SP API source
* [FBA Inventory Summaries](https://github.com/amzn/selling-partner-api-docs/blob/main/references/fba-inventory-api/fbaInventory.md#getinventorysummaries)
* [Inventory Report: All Listings Report (reportType value: GET_MERCHANT_LISTINGS_ALL_DATA)](https://github.com/amzn/

[2021-07-07 05:21] AetherUnbound opened #4592 "Documentation: Compare Airbyte to is missing image"
### Tell us about the documentation you'd like us to add or update.

It looks like there's an image missing from the Fivetran vs Airbyte doc! Here's the link to the line: https://github.com/airbytehq/airbyte/blame/master/docs/faq/differences-with/fivetran-vs-airbyte.md#L5

The current link (https://airbyte.io/wp-content/uploads/2021/01/Airbyte-vs-Fivetran.png) seems to be moved permanently and jus

[2021-07-07 06:05] Zirochkaa commented on #4265
## Integration Vetting
**Webhook-based? (no/partially/yes)**
partially. [Events](https://apidocs.chargebee.com/docs/api/events?prod_cat_ver=2), for example, support webhooks

**Available authentication modes (API key/Oauth/other)**
[HTTP Basic Auth](https://apidocs.chargebee.com/docs/api?prod_cat_ver=2#api_authentication)

**Connecting to the data source**
_if API Source, what kind of API? (SOAP/G

[2021-07-07 06:10] MarvinSchenkel commented on #4546
Hi @marcosmarxm, a smaller database definitely works in this case. However, I do not really see this as a workaround. Usually, we do not have any influence on the structure of the source database we want to sync to our data platform, since the source database is owned (and probably built) by a third party.

[2021-07-07 06:39] sherifnada commented on #4265
sounds like this might be a result of the API version upgrade described in [this link](https://apidocs.chargebee.com/docs/api/upgrade?prod_cat_ver=2)

<img width="1404" alt="Screen Shot 2021-07-06 at 11 36 26 PM" src="https://user-images.githubusercontent.com/6246757/124711494-ff145680-deb2-11eb-91c6-7fab9f022b69.png">

Let's add support for the following endpoints if possible:
* Items
* Item pric

[2021-07-07 06:54] johnlafleur commented on #3673
We'll use getbeamer.com to display those updates.

Regarding Beamer:
* Installation guide: https://www.getbeamer.com/blog/tutorial-how-to-use-beamer-in-your-website-or-app
* We would use our own icon in the left column (not theirs), so embedded widget
* You should have received an invitation to that tool
* Here's a design of how it should like: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web

[2021-07-07 06:55] johnlafleur opened #4593 "Gather several sections in one icon on left column layout"
See suggestions of design: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=26418%3A84767

cc @cgardens @Jamakase
Could be done at the same time as https://github.com/airbytehq/airbyte/issues/3673

[2021-07-07 06:57] sherifnada opened #4594 "🚀 Source Amazon SP API: Expand endpoint support"
## Tell us about the problem you're trying to solve
We want to add support for:

* [FBA Inventory Summaries](https://github.com/amzn/selling-partner-api-docs/blob/main/references/fba-inventory-api/fbaInventory.md#getinventorysummaries)
* [Inventory Report: All Listings Report (reportType value: GET_MERCHANT_LISTINGS_ALL_DATA)](https://github.com/amzn/selling-partner-api-docs/blob/main/references/r

[2021-07-07 06:58] sherifnada opened #4595 "🚀Source Amazon SP API: create dev app and sandbox credentials"
## Tell us about the problem you're trying to solve
For the Amazon SP source, we should create sandbox credentials as described [here](https://github.com/amzn/selling-partner-api-docs/blob/main/guides/en-US/developer-guide/SellingPartnerApiDeveloperGuide.md#the-selling-partner-api-sandbox) and add them to lastpass.

This will be in preparation for https://github.com/airbytehq/airbyte/issues/4594

[2021-07-07 07:01] sherifnada opened #4596 "🚀Source Google Ads: Expand API Support"
## Tell us about the problem you're trying to solve
We want to support retrieving at least the following endpoints from the Google Ads API (**not the deprecated google adwords API**) :
* Campaigns
* Ads
* AdGroups
* Accounts

We also want to support Ads reports similar to the Google Adwords connector for Text, Shopping, and Display ads. This issue will require some scoping and research (following

[2021-07-07 07:03] sherifnada commented on #3772
Some streams we should support:
Campaigns, including negative keywords campaigns
AdGroups, in addition to
  biddable keywords
  Negative keywords

ProductAds
Sponsored Products Report: product ads

[2021-07-07 07:39] dajkatal commented on #4585
I was able to get Google Analytics working using the source version 0.1.9. However, it only works when all source schemas are enabled. If I want to get data for something specific, like traffic_sources, it would run into the same error as shown in the log.

[2021-07-07 08:24] paulpalamarchuk opened #4597 "Test issue DevOps"
Test issue DevOps

[2021-07-07 08:32] #3634 closed

[2021-07-07 08:51] #4388 closed

[2021-07-07 09:02] ronnyrit opened #4599 "Source MySQL: SSL authentication certificate import"
## Tell us about the new connector you’d like to have
* Which source and which destination? Source MySQL
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?  No

## Describe the context around this new connector
* Which team in your company wants this integration, what for? To connect Google Cloud SQL (MySQL) that

[2021-07-07 10:07] olivermeyer opened #4600 "Destination Redshift: Enable SSL authentication"
## Tell us about the problem you're trying to solve
I need to enable SSL for my Redshift destination, which is currently not possible.

## Describe the solution you’d like
The source should take an `sslmode` parameter, with the following options in line with the Redshift [doc](https://docs.aws.amazon.com/redshift/latest/mgmt/connecting-ssl-support.html):
* disable
* allow
* prefer
* require
* veri

[2021-07-07 11:21] akmanidisd opened #4602 "Problems in the "Quickstart > Set up a Connection" section of the documentation"
### The "Quickstart > Set up a Connection" has to be corrected.

[Set up a Connection](https://docs.airbyte.io/quickstart/set-up-a-connection)

Source "Exchange Rates Api" has problems:

1) The default currency can't be changed for the free account. We have to accept the default base currency. In Europe it is EUR.
2) The source name has to be ***exchange_rates*** instead of *exchange_rate*.

[Chec

[2021-07-07 11:47] cheyura commented on #4229
@sherifnada There is a detailed docs how to integrate gem with other Apllicant Tracking Systems https://help.gem.com/en/articles/2803416-integrating-your-ats-with-gem
But no idea how to integrate Gem with Airbyte

[2021-07-07 13:59] #4299 closed

[2021-07-07 14:01] shmf commented on #4463
Hello @sherifnada adding here my comment as at Soho House we are using GA3 and GA4 and it would be great to have both on Airbyte!
Also subscribing so I get notified if something change.
Thanks

[2021-07-07 14:32] rclmenezes commented on #4538
## Enviroment
- **Airbyte version**:  0.27.0-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker on EC2, t3.2xlarge
- **Source Connector and version**: Postgres 0.3.5
- **Destination Connector and version**: Postgres 0.3.6
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
The sync ran out of memory on a Incremental - Dedupe + History run. A lo

[2021-07-07 14:40] ChristopheDuong commented on #4538
In this case, normalization was triggered and processing partial data. The sync should have fail and not trigger transformations steps either

[2021-07-07 14:47] ChristopheDuong commented on #4341
This seems to be because the Jira source is defining cursor fields "created" but does not declare it in its catalog...

Related to https://github.com/airbytehq/airbyte/issues/3752

[2021-07-07 14:51] ChristopheDuong commented on #4538
This seem similar to the same topic here :
https://github.com/airbytehq/airbyte/issues/4298
https://github.com/airbytehq/airbyte/issues/4236

[2021-07-07 15:51] marcosmarxm opened #4605 "Add note on exporting dbt project from Airbyte generated models"
### Tell us about the documentation you'd like us to add or update.
Add note in documentation how export the Airbyte dbt generated model to run without normalization.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-07-07 16:03] jrhizor opened #4606 "add tracking for custom resource limits"
We should track custom values people set for the env vars:
[code]

This would make it easier to set reasonable defaults for different connectors.

[2021-07-07 16:05] ChristopheDuong commented on #4606
It's already being tracked:
https://github.com/airbytehq/airbyte/blob/1b0cf66bd30e6e5ff46ecc68f98e00a84f36fdfb/airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/TrackingMetadata.java#L62

[2021-07-07 16:05] #4606 closed

[2021-07-07 16:07] jrhizor commented on #4606
oops

[2021-07-07 17:20] #3013 closed

[2021-07-07 17:46] cjwooo commented on #4506
We wish to leverage API tokens to fully manage connections (create, configure, delete, perform manual sync, fetch sync logs) , and to manage our source/destination versions. Essentially, we want to only interact with Airbyte via a secure API. We plan to be multiple tenants within a single Airbyte instance, so it would be nice to have separate API tokens per tenant that can access only a specific t

[2021-07-07 17:51] blotouta2 opened #4608 "Destination S3 to Parquet/Avro: Handle empty objects with additionalProperties=true"
## Enviroment
- **Airbyte version**:  example is 0.25.0-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)  Slack 0.2.3
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)  Destination S3 0.1.7
- **Severity**: High
- **Step where error happened**:  Sync job

## Current Behavior

[2021-07-07 17:51] subodh1810 commented on #4538
Regarding the OOM https://github.com/airbytehq/airbyte/issues/3969#issuecomment-864007649,
We follow the exact same design in postgres CDC for the queue as we were doing in mysql and chances are very high that the queue is at fault here as well

[2021-07-07 17:53] subodh1810 commented on #4538
This PR https://github.com/airbytehq/airbyte/pull/4607 might assist with OOM issues

[2021-07-07 18:02] #4533 closed

[2021-07-07 18:03] sherifnada commented on #4447
fixed in #4456

[2021-07-07 18:03] #4447 closed

[2021-07-07 18:11] #4028 closed

[2021-07-07 18:46] sherifnada commented on #4487
@ChristopheDuong to add any necessary descriptions/acceptance criteria then triage

[2021-07-07 18:56] sherifnada opened #4610 "Destination S3: Support writing timestamps"
## Tell us about the problem you're trying to solve

## Describe the solution you’d like

## Describe the alternative you’ve considered or used

## Additional context

[2021-07-07 18:56] sherifnada opened #4611 "Destination S3: Support JsonSchema `$ref`s"
## Tell us about the problem you're trying to solve

## Describe the solution you’d like

## Describe the alternative you’ve considered or used

## Additional context

[2021-07-07 19:00] sherifnada commented on #4396
@shmf could you upload the log file for this sync job?

[2021-07-07 19:16] sherifnada commented on #4608
Schema of the faulty object:
[code]

[2021-07-07 19:22] tuliren commented on #4608
The root cause is that `pinned_info` does not have predefined `properties`, and currently we don't support `additionalProperties`, and Parquet does not like schemaless fields.

Related issue: #4124.

[2021-07-07 19:26] tuliren commented on #4396
The root cause is probably #4294.

[2021-07-07 19:26] ChristopheDuong commented on #4487
the correctness criterion as described by @zestyping:

- Given a source connected to both:
  - `destination-bigquery` that writes to table FT
  - `destination-bigquery-denormalized` that writes to table ST
- For every flat record FR in FT, there exists a corresponding structured record SR in ST such that:
  - For every column C in FT, FR[C] is either equal to SR[C] or equal to the JSON serializati

[2021-07-07 19:40] rclmenezes commented on #3605
Redash uses their DB for non-secret configuration and it's great. New versions are just DB migrations, which is easy to do.

As a stopgap solution, we persist our configuration via a crontab and S3:

[code]

[2021-07-07 20:30] marcosmarxm opened #4612 "Native Github Connector failed to sync"
## Enviroment
- Is this your first time deploying Airbyte: No
- OS Version / Instance: ec2 t5.large Memory / Disk: standard
- Deployment: Docker
- Airbyte Version: 0.27.0-alpha
- Source name/version: Github (Native)
- Destination name/version: BigQuery
- Step: On sync

## Current Behavior
Description: I’ve been experimenting with the Github Native connector, v0.1.0 and v0.1.1. I'm getting empty ta

[2021-07-07 20:40] tuliren commented on #4294
@MaxwellJK, thanks for the workaround. It only works for the first element within the `anyOf` array though. This PR #4613 should solve the issue generically.

[2021-07-07 21:52] MaxwellJK commented on #4294
yeah I know, I just quickly developed it to fix the problem I was having with Salesforce.
I'm glad you've found a better solution though! well done :)

[2021-07-07 22:12] nataliekwong opened #4614 "Add OpenReplay snippet to all pages in web app"
## Tell us about the problem you're trying to solve
Understanding pain points in the user journey within the application

## Describe the solution you’d like
Add the OpenReplay tracking snippet to all pages in Airbyte, so that we can utilize the data to review user sessions and understand where the UI/UX can be improved. Issue #4065 is a similar request.

## Describe the alternative you’ve conside

[2021-07-07 22:17] marcosmarxm commented on #4612
After removing both `events` streams look the sync is processing.
![image](https://user-images.githubusercontent.com/5154322/124835511-d4c8a480-df57-11eb-82d8-cc5a862def1b.png)
![image](https://user-images.githubusercontent.com/5154322/124835544-deeaa300-df57-11eb-9c8a-b4fcb7589d75.png)

[logs-8-0 (1).txt](https://github.com/airbytehq/airbyte/files/6780309/logs-8-0.1.txt)

[2021-07-07 22:17] #4489 closed

[2021-07-07 22:41] #4294 closed

[2021-07-07 22:46] tuliren commented on #4396
@shmf, would you mind trying the latest version of the S3 connector `0.1.8`? This problem is probably solved in that version. If not, the log file should help us further debug it. Specially it would be helpful to know what the schema is for `ACH_Submit_Timestamp__c`. Thank you~~

[2021-07-07 22:50] #4262 closed

[2021-07-07 23:36] marcosmarxm commented on #4600
thanks @olivermeyer there are some requests for SSL using other databases. I added this to the connector roadmap.

[2021-07-07 23:39] marcosmarxm commented on #4583
thanks for reporting this @julianopiovezan. I added this to the connector roadmap and soon this is going to be prioritize.

[2021-07-08 00:15] #4602 closed

[2021-07-08 02:23] nataliekwong commented on #4614
fyi @johnlafleur

[2021-07-08 04:40] ojofranco commented on #4258
<img width="830" alt="imagen" src="https://user-images.githubusercontent.com/9533710/124862940-dc01a980-df7b-11eb-9078-0631dcc610d5.png">

We have a really big Zendesk acount, after upgrade to zendesk-support 0.2.3 the time for sync reduce  from  15-20 hours to less than 1.  The  normalization of the Custom Tickets Fields  dbt model   (zendesk_tickets_custom_fields)   improve the  latency.  I had

[2021-07-08 06:08] anton-epsagon opened #4620 "Salesforce connector missing data when using incremental append"
## Enviroment
- **Airbyte version**:  0.26.4-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: docker-compose
- **Source Connector and version**: salesforce 0.2.3
- **Destination Connector and version**: redshift 0.3.9
- **Severity**: High / Critical
- **Step where error happened**: Data exploration

## Current Behavior
I've set up the connector about 2 weeks ago and was pulling data in

[2021-07-08 06:43] olivermeyer commented on #4294
Thanks @tuliren!

[2021-07-08 08:43] davinchia opened #4623 "Implement Kube logging to Azure"
## Tell us about the problem you're trying to solve
Subticket of #4200 .

We do not support this today. We should.

## Describe the solution you’d like
Ability configure logging to Azure.

## Additional context
Add any other context or screenshots about the feature request here.

## Are you willing to submit a PR?

Remove this with your answer :-)

[2021-07-08 08:47] zmoon460 opened #4624 "need informix db source connector"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* source : informix db  destination: postgres & mysql
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
 no
## Describe the context around this new connector
* Which team in your company wants this integration, what for?

[2021-07-08 08:48] davinchia opened #4625 "Document Airbyte Build System."
### Tell us about the documentation you'd like us to add or update.
I want to document out build system so everyone understands what is going on.

[2021-07-08 08:57] olivermeyer commented on #4600
I just corrected the issue as in my case it has to do with the Redshift destination, not source! However this should probably be applied to the source as well.

Indeed - I would expect this to be a common request for all DBs as SSL is pretty standard nowadays.

[2021-07-08 12:22] danieldiamond opened #4628 "Redshift to Snowflake Connector fails but sync shows succeeded"
## Enviroment
- **Airbyte version**:  0.27.0-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Redshift 0.3.1
- **Destination Connector and version**: Snowflake 0.3.9
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
Job fails due to incorrect user permissions but job shows successful sync

## Expected Beha

[2021-07-08 12:26] ChristopheDuong commented on #4628
https://github.com/airbytehq/airbyte/issues/4538#issuecomment-875671333

[2021-07-08 13:05] ashishgupta-97065 commented on #2227
Fairly important for our use cases too. For many of our key tables less than 30-40% of the columns are actually required for analytics use cases. Selecting all significantly adds to trasfer load and warehouse size

[2021-07-08 13:16] cheyura commented on #4496
@sherifnada The data for all streams above is generated

[2021-07-08 13:51] agrass opened #4629 "Specify order of columns on BigQuery"
## Tell us about the problem you're trying to solve
I'm trying to specify the order of the columns on bigQuery integration. Right now is using random order.
## Describe the solution you’d like
Would be awesome to have some order number on the schema that would be used on BigQuery at the moment of creation on BigQuery or other destinations, also would be a good solution to consider as default order

[2021-07-08 14:33] sherifnada commented on #4496
Thank you @cheyura! Closing this ticket.

[2021-07-08 14:33] #4496 closed

[2021-07-08 14:34] sherifnada opened #4631 "Use new shopify sandbox in CI"
## Tell us about the problem you're trying to solve
We are currently using a real Shopify store for CI testing. We should instead use the one prepared in https://github.com/airbytehq/airbyte/issues/4496 in

Acceptance Criteria:
1. Verify tests pass when the new credentials are used
2. Update creds in CI

[2021-07-08 14:58] agrass opened #4632 "Dynamically change schema"
## Tell us about the problem you're trying to solve
Add new attributes on the schema depending on the data I receive from the source.

## Describe the solution you’d like
Automatically check the schema and if something changed will modify the connection. For example on BigQuery add new columns on the table.  Another solution will be to don't specify a fixed schema and auto build a schema with the

[2021-07-08 15:15] #4499 closed

[2021-07-08 15:30] Moofasax commented on #3953
Just tested this with the new native github source, still having this issue.

Streams that did not pull data: issues, pull_requests, reviews

Going to test with events streams enabled and see if that helps

[2021-07-08 15:47] #1640 closed

[2021-07-08 16:41] #3903 closed

[2021-07-08 16:42] keu opened #4633 "Create a command to bootstrap new connector"
## Tell us about the problem you're trying to solve
Typical PR with a new connector contains a lot of auto-generated files. This makes it difficult for a reviewer to see the actual changes.

We want to introduce a flow with multiple PR:
1. `<dev>/source-<source_name>-base` - contains autogenerated files only
2. `<dev>/source-<source_name>-code` - contains developers changes required for connector

[2021-07-08 17:04] sajanpummer commented on #1903
Looking for this connector.

[2021-07-08 18:45] marcosmarxm commented on #3953
@Moofasax https://github.com/airbytehq/airbyte/issues/4612 was open to solve the problem. You can remove both `events` streams and the sync should work.

[2021-07-08 19:34] sherifnada opened #4634 "SAT: Print git commit hash when running SAT"
## Tell us about the problem you're trying to solve
When accepting contributions we want a way to know which commit a particular run of SAT ran on so we can accept community conributions whose CI we can't run directly. Example is #4358

## Describe the solution you’d like
print the repo's git commit hash when running SAT

[2021-07-08 19:58] marcosmarxm commented on #4620
@anton-epsagon in the second log there is a Error probably from Redshift.
[code]

[2021-07-08 20:21] marcosmarxm commented on #4624
thanks @zmoon460 for opening the issue. I added this to the connector roadmap

[2021-07-08 20:25] marcosmarxm commented on #4592
Thanks @AetherUnbound looks this is happening to all comparisons! So I updated the title.

[2021-07-08 20:26] AetherUnbound commented on #4592
Oh goodness! I didn't think to check the other ones. Thanks!

[2021-07-08 20:29] marcosmarxm commented on #4592
@avaidyanatha could you take a look, probably this happened because of the new website.

@AetherUnbound https://dzone.com/articles/the-state-of-open-source-data-integration-and-etl here you can check the missing image :D

[2021-07-08 21:34] sherifnada commented on #3627
We've received access to a sandbox account. See "Outreach.io setup instructions" in Lastpass for API access instructions and the normal account for accessing the sandbox account.

[2021-07-08 22:12] sherifnada opened #4637 "Merge US Census connector contribution"
## Tell us about the problem you're trying to solve
Take https://github.com/airbytehq/airbyte/pull/4228/files to the finish line by:

1. merging the contribution
2. Setting up any needed CI
2. publishing the connector and any needed docs

The current featureset of the connector should be sufficient, no need to add anything extra.

[2021-07-09 01:36] jamesutton commented on #2227
+ 1 for this request!   Same issue as @olivermeyer called out, we would rather not ingest PII data at all rather than having to mask it at the destination.   This is accomplished through other integration methods (custom python scripts or stitch) by being able to select columns.

[2021-07-09 02:57] davinchia commented on #2822
This should be done, so I'm closing it. Pls reopen if it's still an issue.

[2021-07-09 02:57] #2822 closed

[2021-07-09 02:57] davinchia commented on #2107
This should be fixed. I'm closing this. Please reopen if you still see this.

[2021-07-09 02:57] #2107 closed

[2021-07-09 03:00] davinchia commented on #4632
Is this similar to https://github.com/airbytehq/airbyte/issues/1037?

[2021-07-09 03:35] davinchia commented on #3318
@akoshterek curious, are you still seeing this? or has this subsided with the later versions? I know we made a bunch of changes to try and nip it.

[2021-07-09 04:10] anton-epsagon commented on #4620
Yes, this was during the cluster resize, but I don't think it's related to the issue since I've had multiple successful runs after that.
![image](https://user-images.githubusercontent.com/80029864/125022146-b2807500-e084-11eb-8626-11ed2029522b.png)

[2021-07-09 06:51] TymoshokDmytro opened #4643 "Square connector SAT if failing due to changes in Airbyte SDK"
## Enviroment
- **Airbyte version**:  is 0.22.0-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker
- **Source Connector and version**: Square - 0.1.0
- **Destination Connector and version**: Local CSV
- **Severity**: Medium
- **Step where error happened**: Source Acceptance Test

## Current Behavior
Hello. Acceptance tests on square-source are failing because of an error
[cod

[2021-07-09 06:52] sherifnada commented on #4236
closed in #4617

[2021-07-09 06:52] #4236 closed

[2021-07-09 06:53] sherifnada commented on #4624
@zmoon460 would you be open to contributing this connector?

[2021-07-09 06:53] sherifnada commented on #4628
closed in #4617

[2021-07-09 06:53] #4628 closed

[2021-07-09 06:54] sherifnada commented on #4538
closed in #4617

[2021-07-09 06:54] #4538 closed

[2021-07-09 06:55] #2971 closed

[2021-07-09 07:14] etsybaev commented on #4236
Re-tested on the latest master using these steps:
1. Create MySQL source with working credentials
2. Create destination and run sync
3. Remove user from source database and rerun sync

 The issue is no reproducible anymore
![Selection_229](https://user-images.githubusercontent.com/4688354/125038717-68a48880-e09e-11eb-93d6-13d193bd5bb9.png)

[2021-07-09 07:28] sherifnada opened #4648 "Create sandbox account for DataScope connector"
## Tell us about the problem you're trying to solve
Obtain a sandbox account for https://mydatascope.com/ and populate it with data. A contributor already created a PR in #4636 but we need a sandbox account to test it in CI.

[2021-07-09 07:44] sherifnada commented on #4473
We should add this to the Github connector as an option for sync. It should not be a challenging project, and would be a great feature to have IMO.

[2021-07-09 07:44] davinchia commented on #4570
Tracked this down to:
[code]

[2021-07-09 07:45] davinchia commented on #4570
The webapp expects the an image tag to appear in the latest list. Since this connector has been deprecated (and thus deleted), this tag is blank. The frontend sends a blank tag to the api, causing this error.

[2021-07-09 07:53] davinchia commented on #4570
This can be replicated by checking out the 0.27.0-alpha version. This version contains `twilio-singer` that has now been deprecated. Clicking on update all gives us the same error.

[2021-07-09 07:58] #1390 closed

[2021-07-09 08:02] cheyura commented on #2535
`Integration Vetting`
Webhook-based? (no/partially/yes)
No

Available authentication modes (API key/Oauth/other)
API keys - for own Twitter Ads Account (single account use case)
OAuth - to use another Twitter Ads Account

CONSUMER_KEY = 'your consumer key'
CONSUMER_SECRET = 'your consumer secret'
ACCESS_TOKEN = 'access token'
ACCESS_TOKEN_SECRET = 'access token secret'
ACCOUNT_ID = 'account id'
By

[2021-07-09 08:23] TimStoppard opened #4650 "New Destination: Google Sheets"
## Tell us about the new connector you’d like to have
* Which source and which destination?

**We would like to use AirByte to connect our marketing platforms to our Google Sheets dashboard, so we are missing a couple of elements:**

**1) Sources: Microsoft Ads and Pinterest Ads are the most urgent (FB Ads and Google Ads are already there)
2) Destination: Google Sheets. We may be able to use Googl

[2021-07-09 08:26] sherifnada commented on #4650
@TimStoppard Pinterest & bing ads are a work in progress. Would you be open to contributing the Google Sheets destination? No pressure, just thought I'd ask.

[2021-07-09 08:28] TimStoppard commented on #4650
@sherifnada thanks for your reply - I'm a dumb marketing guy but it's great to know Pinterest and Bing are coming. I will ask our developers if we can somehow contribute Google Sheets as destination, or alternatively if we can figure out how to use Google Big Query

[2021-07-09 08:31] akoshterek commented on #3318
@davinchia I will check and report back

[2021-07-09 08:32] sherifnada opened #4652 "New Source: Tiktok Marketing API"
## Tell us about the problem you're trying to solve
https://ads.tiktok.com/marketing_api/homepage

## Describe the solution you’d like

## Describe the alternative you’ve considered or used

## Additional context

## Are you willing to submit a PR?

[2021-07-09 08:35] sherifnada opened #4653 "New Source: Xero"
## Tell us about the new connector you’d like to have
https://developer.xero.com/

## Describe the context around this new connector

## Describe the alternative you are considering or using

[2021-07-09 08:35] m-ronchi opened #4654 "Destination S3: Allow special chars for table_prefix"
Hi,
I am trying to write to S3 destination with keys formatted as `static_prefix/source=<namespace>/object=<table_name>/<filename>`, like this:
![screenshot](https://user-images.githubusercontent.com/35332423/125048604-62afa700-e0a0-11eb-99ef-41a1f5b06b35.png)

aitbyte is normalizing the path to only contain letters and unserscores, resulting in paths like this:
```static_prefix/source_<namespace>

[2021-07-09 08:37] sherifnada commented on #4650
@TimStoppard if marketing folks can understand Google Ads performance reports then they're in the top echelon of intelligence as far as I'm concerned :)

LMK how things turn out on your end!

[2021-07-09 08:38] sherifnada commented on #4473
@jgtvares would you be open to contributing this feature?

[2021-07-09 08:39] TimStoppard commented on #4650
Haha - thank you and will do!

[2021-07-09 08:39] sherifnada commented on #4069
@akshayi1 any updates from your end?

[2021-07-09 08:40] brunoffaustino commented on #1390
Is it done @sherifnada ? 🙏🏻

[2021-07-09 08:41] sherifnada commented on #4556
@jaimefr pushing the Google Ads connector into beta is a goal of ours this month. Track the progress here: #4420

[2021-07-09 08:42] #4420 closed

[2021-07-09 08:43] sherifnada commented on #4596
@vitaliizazmic please reference the vetting report from this issue: https://github.com/airbytehq/airbyte/issues/3457

[2021-07-09 08:43] sherifnada commented on #4341
this is a WIP in our upcoming sprint

[2021-07-09 08:46] jgngo opened #4657 "DATETIME from MS SQL Server not returned as TIMESTAMP on postgres. It returns as text"
## Enviroment
- **Airbyte version**:  0.26.4-alpha
- **OS Version / Instance**: Ubuntu 20.04
- **Deployment**: Docker
- **Source Connector and version**: airbyte/source-mssql 0.3.2
- **Destination Connector and version**: airbyte/destination-postgres 0.3.6

- **Severity**: Low
- **Step where error happened**: Deploy

## Current Behavior
DATETIME from MS SQL Server becomes VARCHAR on postgres

## E

[2021-07-09 08:50] sherifnada commented on #1390
yes! Please let us know if you face any issues

[2021-07-09 08:52] po3na4skld commented on #3914
Could not reproduce the issue. I run it and the sync finished successfully. As I hadn't been able to run it with the whole schema file, I did it with the base streams from configured_catalog.json. I think the general problem was due to the #4564 and the large schema size. @sherifnada I attached the screenshot of successful sync below.

<img width="887" alt="Screenshot 2021-07-09 at 11 49 54" src="

[2021-07-09 08:56] sherifnada commented on #4657
@jgngo thanks for the report. This is a duplicate of https://github.com/airbytehq/airbyte/issues/1006 so I'm closing this issue. Please follow along there!

[2021-07-09 08:56] #4657 closed

[2021-07-09 09:07] sherifnada opened #4659 "New Source: WooCommerce"
## Tell us about the new connector you’d like to have
https://developer.woocommerce.com/

WooCommerce seems to also expose its MySQL db which means we might be able to just use the mysql source connector instead of building a whole dedicated connector.

## Describe the context around this new connector

## Describe the alternative you are considering or using

[2021-07-09 09:15] m-ronchi opened #4660 "Kubernetes: S3 Destination Sync froze"
## Enviroment
- **Airbyte version**:  0.27.0-alpha
- **OS Version / Instance**: AWS
- **Deployment**: Kubernetes
- **Source Connector and version**: MySQL 0.3.9
- **Destination Connector and version**: S3 0.1.8
- **Severity**: Medium
- **Step where error happened**:Sync job

## Current Behavior
Job hanging since 3+ hours (previous jobs completed in ~3m)

## Expected Behavior
Job doesn't hangs

##

[2021-07-09 09:17] sherifnada commented on #4620
@anton-epsagon can you give us an idea of what the missing data was? was it custom objects or standard objects? We're trying to recreate this on our end

[2021-07-09 09:22] sherifnada commented on #4373
@coquej this is blocked on #4422 . We'll make sure to fix this issue as a follow up to that one.

[2021-07-09 09:30] sherifnada opened #4662 "Source Github: Support syncing multiple repositories"
## Tell us about the problem you're trying to solve
I'd like to be able to specify a list of repositories which can be synced from Github using the Airbyte connector

[2021-07-09 09:41] m-ronchi commented on #4660
I cancelled the job, next job also froze
[logs-15-0.txt](https://github.com/airbytehq/airbyte/files/6790391/logs-15-0.txt)
[logs-16-0.txt](https://github.com/airbytehq/airbyte/files/6790392/logs-16-0.txt)

[2021-07-09 09:54] sherifnada commented on #3936
Implementation note: we should use this opportunity to explore moving the connector to use the CDK

[2021-07-09 10:04] akoshterek commented on #3318
@davinchia It seems 20Gb sync didn't affect disk usage at all
Moreover, it looks pretty flat for the last 7 days (since upgrade to 0.27.0_

I am closing the issue

[2021-07-09 10:04] #3318 closed

[2021-07-09 10:05] jaimefr commented on #4556
Thanks @sherifnada you can close this issue.

[2021-07-09 10:20] davinchia commented on #3318
Thanks!

[2021-07-09 11:41] trev142 commented on #3429
Really appreciate the work on this one guys - been hanging out for it for ages!! Thank you so much!
I've just updated to 0.27.1-alpha but I can't see the normalization option on my connection with a MySQL destination.
My MySQL destination is on version 0.1.6 and my MySQL server is 8.0.23.
Is there a trick that I'm missing??
![image](https://user-images.githubusercontent.com/63149542/125072756-522e

[2021-07-09 12:05] ChristopheDuong commented on #3429
Yes, that trick is this PR that we need to finalize! sorry about that
https://github.com/airbytehq/airbyte/pull/4651

[2021-07-09 14:09] varunbpatil opened #4665 "S3 destination + Parquet doesn't work with MinIO"
## Enviroment
- **Destination Connector and version**: destination-s3 (0.1.8)

## Current Behavior
The S3 destination is able to write to MinIO when the format is CSV but not when the format is Parquet.

## Expected Behavior
The S3 destination should be able to write to MinIO when the format is Parquet.

## Logs
Sorry, I don't have the complete logs, but it is related to missing hadoop configurati

[2021-07-09 14:39] Moofasax commented on #3953
@marcosmarxm with the evetns streams disabled i still do not get data for issues, pull_requests, or reviews with this repo:
https://github.com/department-of-veterans-affairs/vets-api

[2021-07-09 15:55] sherifnada opened #4667 "Use Dixa Sandbox in CI"
## Tell us about the problem you're trying to solve
#4358 introduced a Dixa connector from an awesome community contributor @olivermeyer. In order to continuously run integration tests/CI on the connector, we need a sandbox account on Dixa that we can populate with data to test the API. This ticket tracks that effort.

I've already reached out to Dixa and am waiting to hear back from them.

Once w

[2021-07-09 16:17] agrass commented on #2227
Very important for us too, would be really great to be able to select specific fields the same way We select models.

[2021-07-09 16:31] agrass commented on #4632
@davinchia Yes it's similar, but my case is not for multi tenant is for one specific model already configured that news field/attributes are added after configured. It would be awesome to auto detect that new attributes and update the schema, change the schema automatically without needed to reconstruct everything.

[2021-07-09 17:43] #3429 closed

[2021-07-09 18:53] #2712 closed

[2021-07-09 19:12] marcosmarxm opened #4673 "Add unit test for json data loading in JDBC destinations"
## Tell us about the problem you're trying to solve
https://github.com/airbytehq/airbyte/issues/4583 got a problem in destination mysql when trying to load json format data from database

## Describe the solution you’d like
Add a unit test in jdbc-base to confirm all destinations ensure load json format.

## Describe the alternative you’ve considered or used
A clear and concise description of any

[2021-07-09 20:49] #4111 closed

[2021-07-09 21:23] marcosmarxm commented on #4370
From [slack convo thank Nick Akincilar](https://airbytehq.slack.com/archives/C01MFR03D5W/p1625861067172400?thread_ts=1625525031.479700&cid=C01MFR03D5W):
Workload should be
- CREATE STAGE @TEMP_STAGE_NAME
- PUT file://local/some_folder/* @TEMP_STAGE_NAME. --JDBC Driver will upload the files using PUT command. No need to program it.
- COPY FROM @TEMP_STAGE_NAME
- DROP @TEMP_STAGE_NAME

[2021-07-10 14:02] midavadim commented on #4374
Change PR description and docs description to :
Stripe Source: retrieve all kinds of Subscriptions (including expired and canceled)

[2021-07-10 16:13] marcosmarxm opened #4680 "Source Slack: problem reading threads"
## Enviroment
- OS Version / Instance: EC2 t2.large
- Memory / Disk: 8GB / EBS
- Deployment: Docker / Docker-Compose
- Airbyte Version: 0.27.1-alpha
- Source: airbyte/source-slack:0.1.7
- Destination: airbyte/destination-snowflake:0.3.9
- Step: Connection success

## Current Behavior
 I'm trying to connect Slack to Snowflake, and have succeeded in 4/5 data elements (messages, users, channels, and

[2021-07-10 16:26] marcosmarxm commented on #4660
Thanks for reporting this @m-ronchi looks is something related with the pod launch. @jrhizor / @davinchia could you guys check and give your opinion?

[2021-07-10 16:33] marcosmarxm commented on #4654
thanks @m-ronchi. I know the use of `=` when you partitioned your data using parquet format. https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html#object-key-guidelines probably is possible to do. @tuliren tagging you here see some opinion.

[2021-07-10 17:53] marcosmarxm opened #4681 "Source Slack: using wrong field name for cursor field 'float_ts'"
## Enviroment
- **Airbyte version**: 0.27.1-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: Slack 0.1.7
- **Destination Connector and version**: Postgres 0.3.6
- **Severity**: Very Low / Low / Medium / **High** / Critical
- **Step where error happened**: Sync job

## Current Behavior
Trying to sync data using the native Slack connector u

[2021-07-10 19:04] davidvermeersch commented on #4463
@sherifnada adding v4 would be much appreciated

[2021-07-11 06:32] anton-epsagon commented on #4620
@sherifnada, mostly missing opportunities and opportunity history rows. At least that's what I was able to notice.

Wasn't able to really differentiate what's missing aside from a few specific rows that tipped me off. The dataset was abit too large to investigate this given the deliverables required of me >_>

[2021-07-12 06:51] avaidyanatha commented on #3990
@sherifnada @davinchia

Currently, @santels is blocked on contributing their Xero connector because of this issue. How big of a change would this be to implement?

[2021-07-12 07:36] davinchia commented on #4378
We are seeing this manifest here [too](https://airbytehq.slack.com/archives/C01MFR03D5W/p1626071620207800?thread_ts=1625801462.150800&cid=C01MFR03D5W).

[2021-07-12 07:38] davinchia commented on #4378
I think this can also be solved by increasing the number of MAX_WORKERS. Today this is 4, and lines up with the behaviour we are seeing with logs, where repeated submission happens on the 5th job.

Extract from the above linked logs:

[code]

[2021-07-12 09:39] cheyura commented on #4229
### Integration Vetting
**Webhook-based? (no/partially/yes)**
No

Available authentication modes (API key/Oauth/other)
All requests to Gem API is authenticated with your team's API key. Team admins can provision API keys on your team's admin dashboard ("Team Settings"). The API key will be a 40-character alphanumeric string and should be passed under the header X-API-Key

Creating an account
Not f

[2021-07-12 09:49] cheyura commented on #4173
Integration Vetting

Webhook-based? (no/partially/yes)

Available authentication modes (API key/Oauth/other)

Creating an account

Has Sandbox environment ?

How to populate the account with data?

Available streams for sync

Integration supports incremental sync?

Other information/blockers

[2021-07-12 13:22] ashishgupta-97065 opened #4693 "Airbyte sync vs replication: Performance"
Hey Guys, quick check in

For postgres to postgres data transfer would a db sync / replication be better (it's realtime and lighter as it would sync only the changes) or would airbyte have any advantages (usability definitely is one).

I guess the same applies to other dbs as well (Oracle, MS SQL).

Regards
Ashish

Regards

[2021-07-12 13:22] davinchia commented on #3990
To me, the task that takes more time here is extending the protocol. We have to make sure we do it correctly. Making the CDK modification should be a matter of prioritisation after. Do you agree @sherifnada ?

@avaidyanatha is there are preferred deadline for this or is it asap?

[2021-07-12 13:50] subodh1810 opened #4695 "Upgrade debezium version for Oracle Source to support more connectors"
Currently we are using debezium version 1.4.2. In order to support more connectors like oracle, etc. we need to upgrade the debezium version. As per the docs for [oracle](https://debezium.io/documentation/reference/1.4/connectors/oracle.html)
the version 1.4.2 oracle connector is in incubating state. The later versions provide more stable connector

Currently postgres, mysql and sql server connect

[2021-07-12 14:09] Zirochkaa commented on #4292
@sherifnada login/password are not in Latspass, only test creds.

[2021-07-12 14:31] Zirochkaa commented on #4292
**Are the account test credentials available in Lastpass?** - yes

## Task breakdown
- [ ] Go through each stream's schema in `sample_files/configured_catalog.json` and update fields types according to [docs](https://docs.airbyte.io/integrations/sources/quickbooks) (~6-7h because streams have large schemas, file contains 4.5k+ rows)
- [ ] Add acceptance tests, at least `spec`, `connection`, `disco

[2021-07-12 14:42] AetherUnbound commented on #4441
Hello there! I'm interested in trying to build a destination connector with Python. It looks like the places where this might need to be added are to the [Destination integration](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/base-python/base_python/integration.py#L119) and the [base-python entrypoint](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrati

[2021-07-12 15:51] Zirochkaa commented on #4612
Need to implement rate limit handling. An example may be found [here](https://github.com/airbytehq/tap-github/blob/a0530b80d299864a9a106398b74d87c31ecc8a7a/tap_github/__init__.py#L111).

[2021-07-12 16:47] sherifnada opened #4697 "Create an example Python Destination"

[2021-07-12 16:47] sherifnada opened #4698 "Enable Destination Acceptance Tests cross-language support"

[2021-07-12 16:48] sherifnada commented on #4441
@AetherUnbound you are correct, however the `base-python` package is deprecated and we're now using the [Python CDK](https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/airbyte_cdk/). The equivalent class would be the [Destination class](https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/airbyte_cdk/destinations/destination.py)

I'm currently working on adding thes

[2021-07-12 16:52] cgardens commented on #3809
This is currently blocked on some updates that @airbyte-jenny is planning to make to this PR: https://github.com/airbytehq/airbyte/pull/4109

[2021-07-12 17:09] #3934 closed

[2021-07-12 17:41] mwon-mercato opened #4700 "Request 'Delighted' as a Data Source"
## Tell us about the new connector you’d like to have
* Data Source is called Delighted (https://app.delighted.com/dashboard_
* I do not need a specific version.

## Describe the context around this new connector
* We use Delighted to track consumer NPS.  Our entire company benefits from this data.
* As of right, I think hourly is fine.
* I am not clear here but here is documentation for their API

[2021-07-12 17:42] AetherUnbound commented on #4441
Oh excellent! Thanks for the pointer on `base-python`'s deprecation.

I'm personally hoping to start building the destination later this week as well, though I don't say that as a desire to alter or speed up your timeline. I'm happy to help out where I can if there's anything I can jump on/assist with!

[2021-07-12 18:16] sherifnada commented on #4441
that's great to hear! Would love your thoughts on it -- you would be the first non-Airbyter to use it :) Will ping you again as soon as we have something presentable.

[2021-07-12 18:25] cgardens commented on #4526
We are sure that this is happening on versions of the app that were released after the notification service was published, right? Just wanted to sanity check.

[2021-07-12 19:30] sherifnada opened #4704 "Re-using CDC sources in multiple connections causes incomplete data transfer"
## Tell us about the problem you're trying to solve
Many CDC-enabled sources utilize a stateful replication slot on the underlying DB. This means that if a source is configured to read from replication slot `XYZ`, then reading once from it will change the state of `XYZ` in the database itself. This is an issue if we reuse the source in different connections as each one will read the data changed *

[2021-07-12 22:10] danjsiegel1 commented on #3627
Feature request: trunc and load a list of all IDs/entity type returned in the latest get request into a table:

- account
- call
- mailing
- opportunity
- prospect
- sequence
- sequenceState
- task

The reason for this is that Outreach hard deletes certain items, and a list of all the current can be helpful to figure out which items have been deleted.

[2021-07-12 22:12] cgardens opened #4710 "Destinations still have "basic normalization" field in configuration"
## Environment
- **Airbyte version**:  0.27.1
- **Destination Connector and version**: Postgres 0.3.6, Snowflake 0.3.9
- **Severity**: Medium
- **Step where error happened**: Configuration time

## Current Behavior
At configuration time at least 2 of our destinations still allow a user to configure basic normalization. I saw this in the most recent versions of Postgres and Snowflake. Didn't look p

[2021-07-12 22:20] cgardens opened #4711 "Airbyte Cloud: prevent uploading custom docker containers"
## Tell us about the problem you're trying to solve
In the initial versions of Airbyte Cloud, for security considerations, we will _not_ allow users to upload custom docker containers. There are 2 places where we allow this currently:
1. We allow a user to upload a custom connector (destination or source) in the admin page.
2. We allow a user to upload a custom container as part of the custom tran

[2021-07-12 22:23] sherifnada opened #4712 "Destination Snowflake: identify data coming from Airbyte"
## Tell us about the problem you're trying to solve
We'd like to tag data coming via Airbyte syncs to give Snowflake visibility on Airbyte traffic. This will help snowflake identify optimization partnership opportunities with Airbyte.

## Describe the solution you’d like
In each JDBC connection string we create we should set the connection parameter `application='airbyte'`

[2021-07-12 22:50] cgardens opened #4714 "Airbyte Cloud: Scope endpoints by workspace"
## Tell us about the problem you're trying to solve
Some of the endpoints in the Config API are not scoped by workspace. This was previously fine as we could assume that all workspaces in a deployment belonged to the same owner. In Airbyte Cloud that assumption is no longer safe.

## Describe the solution you’d like
The following endpoints need to now be scoped by workspace id.
* [ ] /v1/logs/get

[2021-07-12 22:58] cgardens opened #4715 "Airbyte Cloud: Authorize endpoints in Config API"
## Tell us about the problem you're trying to solve
Currently, the Config API does not check if a request is authorized to access / manipulate data. For Airbyte Cloud, will know what workspace a user is authorized to access. Thus all endpoint now nw need to be able to validate which workspace is relevant to the endpoint.

e.g. if a user is trying to change a connection, the API needs to figure out

[2021-07-12 23:08] jrhizor commented on #1966
One user we're talking to mentioned that they're doing ~50-100k rows monthly via webhooks. If other people are interesting posting data to Airbyte using webhooks, it'd be great to hear what your requirements are for data format, throughput, etc.

[2021-07-12 23:11] cgardens opened #4716 "Airbyte Cloud: Remove (or handle) default workspace"
## Tell us about the problem you're trying to solve
The OSS platform automatically creates a workspace with a hardcoded workspace id. That id is used in many places. We will start having multiple workspaces as a first class citizen in Airbyte Cloud.

## Describe the solution you’d like
There's a fundamental choice that needs to be made here: Either remove the default entirely or just figure out ho

[2021-07-12 23:11] jrhizor commented on #4714
These won't block the closed beta release as far as I can tell. Do you agree?

If we are temporarily disabling custom connectors, I think all of those can just be admin-level access.

[2021-07-12 23:14] cgardens commented on #4445
The deliverable of this issue is a series of more specific / scoped tasks. They are listed below. Based on the creation of these issue, I am calling the issue to be closed.

Produced the following UI issues:
* login / sign up flows: https://github.com/airbytehq/airbyte/issues/4485
* settings: https://github.com/airbytehq/airbyte/issues/4486
* prevent uploading custom docker containers: https://git

[2021-07-12 23:14] #4445 closed

[2021-07-12 23:15] jrhizor commented on #4715
Currently working on this.

[2021-07-12 23:30] jrhizor commented on #4660
@m-ronchi I know this might be too late, but could you `kubectl describe airbyte-worker-15-0-xqvmd`? It looks like the pod for the source got stuck before executing anything. I'm wondering if it had trouble scheduling or was hitting some sort of error before launching. If you encounter this error again, describing the involved pods and posting that would help us debug.

@davinchia judging by the l

[2021-07-13 00:05] cgardens commented on #4486
Note: This issue includes handling the workspace stuff. I'm calling it out since it is slightly separated in the mock ups: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=26322%3A81864

[2021-07-13 01:25] marcosmarxm commented on #4700
thanks @mwon-mercato https://github.com/airbytehq/airbyte/issues/2969 is already requesting for this new source. I'm closing this as duplicated. You can :+1: on that issue showing this is important to you.

[2021-07-13 01:25] #4700 closed

[2021-07-13 01:32] marcosmarxm commented on #4700
also @mwon-mercato https://github.com/airbytehq/airbyte/pull/4551 is open to review to implement this source! So soon this will be released!

[2021-07-13 03:11] #4665 closed

[2021-07-13 03:22] davinchia commented on #4660
@jrhizor agree looks like 16 is trying to access ports that 15 apparently released by didn't. Specifically from 16:
[code]

and in 15:
[code]

[2021-07-13 05:05] sherifnada opened #4720 "Periodic connector builds aren't running"
A large number of connectors don't seem to have builds running consistently since July 2nd

https://status-api.airbyte.io/tests/summary/destination-bigquery/
https://status-api.airbyte.io/tests/summary/destination-local-json/
https://status-api.airbyte.io/tests/summary/destination-postgres/

[2021-07-13 06:23] #4720 closed

[2021-07-13 06:35] #4378 closed

[2021-07-13 07:44] #4712 closed

[2021-07-13 08:32] ChristopheDuong commented on #4710
No, I think @subodh1810 made a migration to remove these in the past

[2021-07-13 08:47] etsybaev commented on #4298
Hi @marcosmarxm. Do you have any updates?
Did you try to reproduce it recently? Maybe it's already fixed as part of https://github.com/airbytehq/airbyte/pull/4617 (title says fix for source, but there are also changes for destinations included)
Thanks

[2021-07-13 09:17] subodh1810 commented on #4710
This is weird, and may be I know whats going on, as part of this PR https://github.com/airbytehq/airbyte/pull/3624/files we deleted the `basic_normalization` attribute from all the connectors but we never published the images for all those connectors! :/

here is the output of `docker run --rm --init -i -v airbyte_workspace:/data -v /tmp/airbyte_local:/local -w /data/4e476dac-fb67-4911-b0b0-188b88

[2021-07-13 09:23] m-ronchi commented on #4660
@jrhizor sorry, it seems that pod has been deleted.

[2021-07-13 09:27] subodh1810 commented on #4710
These are the following connectors that we need to publish
[code]

[2021-07-13 09:35] cheyura commented on #4231
### Integration Vetting
**Webhook-based? (no/partially/yes)**
Partially

Available authentication modes (API key/Oauth/other)

Creating an account

Has Sandbox environment ?

How to populate the account with data?

Integration supports incremental sync?

Other information/blockers

[2021-07-13 09:41] subodh1810 commented on #4710
Oh we dont have to do snowflake cause Sherif already did it today, https://github.com/airbytehq/airbyte/pull/4713 and in the new version `basic_normalization` is not there,
`docker run --rm --init -i -v airbyte_workspace:/data -v /tmp/airbyte_local:/local -w /data/75336fbb-9267-4eec-b195-d2c24a3eb3d2/0 --network host --log-driver none airbyte/destination-snowflake:0.3.10 spec`

[code]

[2021-07-13 09:46] subodh1810 commented on #4710
Redshift :
`docker run --rm --init -i -v airbyte_workspace:/data -v /tmp/airbyte_local:/local -w /data/5d9bde02-d4fd-48a0-97ef-e4fd89979171/0 --network host --log-driver none airbyte/destination-redshift:0.3.9 spec`
Output :
[code]

Dev : `docker run --rm --init -i -v airbyte_workspace:/data -v /tmp/airbyte_local:/local -w /data/5d9bde02-d4fd-48a0-97ef-e4fd89979171/0 --network host --log-driver no

[2021-07-13 11:09] m-ronchi opened #4727 "[Kubernetes] pod sweeper not working"
## Enviroment
- **Airbyte version**:  0.27.1-alpha
- **OS Version / Instance**: AWS
- **Deployment**: Kubernetes
- **Severity**:  Medium
- **Step where error happened**: Kubernetes

## Current Behavior
airbyte-pod-sweeper does not delete completed pods. I currently have 82 `airbyte-command-fetcher-*` and 60 workers that are `Completed`

## Expected Behavior
completed pods should be deleted

## Log

[2021-07-13 13:35] cheyura commented on #4246
Integration Vetting
Webhook-based? (no/partially/yes)

Available authentication modes (API key/Oauth/other)

Creating an account

Has Sandbox environment ?

How to populate the account with data?

Integration supports incremental sync?

Other information/blockers

[2021-07-13 14:20] marcosmarxm commented on #4727
@m-ronchi look your service account was created in default namespace and dont have access to the **airbyte** namespace.
https://stackoverflow.com/questions/62549166/kubernetes-api-failure-403-pods-is-forbidden-user-systemserviceaccountdefau

[2021-07-13 14:26] philippeboyd opened #4729 "[MSSQL -> Snowflake] Normalization issue with ' in columns names"
## Enviroment
- **Airbyte version**:  0.27.2-alpha
- **OS Version / Instance**: GCP COS
- **Deployment**: Docker
- **Source Connector and version**: MSSQL 0.3.2
- **Destination Connector and version**: Snowflake 0.3.10
- **Severity**: High
- **Step where error happened**: Reset

## Current Behavior
It seems like the issue could be link to wrongfully prepared statements, thus SQL injection. The fir

[2021-07-13 14:44] cheyura commented on #4231
@sherifnada Sandbox is created for more than trial term, API key generated. Vetting is above, ready for populating

[2021-07-13 14:46] m-ronchi commented on #4727
the resource for pod-sweeper is defined [in this repo](https://github.com/airbytehq/airbyte/blob/master/kube/resources/pod-sweeper.yaml).
it doesn't define a service account. it should either use [airbyte-admin](https://github.com/airbytehq/airbyte/blob/master/kube/resources/scheduler-service-account.yaml) or you create one with appropriate permissions

[2021-07-13 14:54] #4710 closed

[2021-07-13 15:06] ChristopheDuong opened #4731 "Export import feature should manage only connections configurations + state per workspace"
## Tell us about the problem you're trying to solve
When using the export/import functionality, the produced archive should only include connections/source/destination/etc of the selected workspace. In addition, we should (optionally?) include the state objects of those connections too but not the whole job history (we don't export/import logs anyway atm)

Why?
- exporting and purging the jobs/att

[2021-07-13 15:29] ChristopheDuong commented on #4729
can you attach a catalog.json or log of your sync?
Basic Normalization actually handles special characters when generating the SQL files and should use quotes etc to handle those cases:
https://github.com/airbytehq/airbyte/blob/8b45744276c274f3c4f050ad2ef72eda40700a9a/airbyte-integrations/bases/base-normalization/normalization/transform_catalog/destination_name_transformer.py#L78

[2021-07-13 15:52] keu commented on #4588
## Integration Vetting
**Webhook-based? no**

**Available authentication modes ** (API key/Oauth)

**Connecting to the data source** (REST)

**Creating an account**
The client will provide...

**How to populate the account with data?**
All top-level streams can be populated via API with POST.

**Available streams for sync**
https://developers.cart.com/docs/rest-api/docs/resource_list.md

**Do any

[2021-07-13 16:33] marcosmarxm opened #4733 "Improve how extract/load YAML data for dbt"
## Tell us about the problem you're trying to solve
https://github.com/airbytehq/airbyte/pull/4721 improve the regex to extract data for profile, but we need a better approach to handle this.

## Describe the solution you’d like
Probably a Python module with tests.

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've

[2021-07-13 16:36] ChristopheDuong opened #4734 "Improve custom dbt transformation handling profiles.yml"
## Tell us about the problem you're trying to solve
As follow up to https://github.com/airbytehq/airbyte/pull/4721, do proper yaml parsing/extract to be used in https://github.com/airbytehq/airbyte/blob/7decb12818ad2cc0c7b3039c3d5e620236250edd/airbyte-workers/src/main/resources/dbt_transformation_entrypoint.sh#L7

## Describe the solution you’d like
we should write (a python?) script that uses a y

[2021-07-13 16:38] ChristopheDuong commented on #4733
sorry i also created it: https://github.com/airbytehq/airbyte/issues/4734

[2021-07-13 16:38] #4733 closed

[2021-07-13 16:51] marcosmarxm opened #4735 "Add documentation how change source-singer to the new native connector."
### Tell us about the documentation you'd like us to add or update.
It can be as pedantic as a typo or as titanic as an entire tutorial request.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-07-13 16:52] marcosmarxm commented on #4734
Python `yaml` is native so probably should be easy to do this! :D

[2021-07-13 17:55] tuliren commented on #4396
Should have been resolved by #4613.

[2021-07-13 17:55] #4396 closed

[2021-07-13 18:57] jrhizor commented on #4727
@m-ronchi good point, we need to mount it. I'll put up a PR soon that should make our next release.

As a temporary fix you may want to add the service account like in https://github.com/airbytehq/airbyte/blob/master/kube/resources/scheduler.yaml#L15 to the pod sweeper's spec to make sure it has access.

[2021-07-13 19:13] garrrychan commented on #312
+1 would be great so I can prototype from a local deployment of Airbyte and connect to a database on RDS.

[2021-07-13 19:28] philippeboyd commented on #4729
@ChristopheDuong not sure what you're asking, the logs are there on the issue
![image](https://user-images.githubusercontent.com/3239656/125513316-2fcace9a-a9d1-45a6-a377-4679629e7a95.png)

[2021-07-13 20:19] sherifnada commented on #4231
thanks @cheyura !

[2021-07-13 20:29] garden-of-delete commented on #4662
+1. The Singer connector has this functionality.

[2021-07-13 20:31] garden-of-delete commented on #4612
Any update on this?

Short term work-around has been to disable the `events` and `issue_events` streams.

[2021-07-13 20:35] sherifnada commented on #4662
@garden-of-delete agreed -- this is on the roadmap for this month or early next month in addition to #4473

[2021-07-13 20:53] jgtvares commented on #4473
I would love to! It would be a great experience!
But I'm really invested at work and I wouldn't have time to dedicate myself.
I hope I can contribute in a near future, maybe in another feature!

[2021-07-13 20:55] hendrikjd commented on #3549
Running into a similar issue here with Stripe to BigQuery.

`2021-07-13 02:58:24 ERROR () LineGobbler(voidCall):85 - Exception in thread "main" com.google.cloud.bigquery.BigQueryException: 404 Not Found` followed by more errors. Status in Airbyte continues to say "running" for 24+ hours.

[2021-07-13 20:57] sherifnada opened #4736 "Setup alerting for connector builds"
## Tell us about the problem you're trying to solve
#4720 is a perfect illustration of what this issue is trying to solve: periodic connector builds were not running reliably for most connectors (but were still running via the `/test` and `/publish` commands). This resulted in a few obvious issues:

1. One PR made changes to the destination acceptance tests and caused snowflake build to fail (no b

[2021-07-13 23:13] cgardens commented on #4731
Nice. Thanks for writing this.

Is there something straight forward we can do to get the state in the config database? Like is there any reason why it is a terrible idea to just add a table in the config database for this that tracks the last state for each connection?

I feel like if there's a 1-day project where we can make this sort of alteration to our data model it might unlock a lot and be r

[2021-07-13 23:14] cgardens commented on #4710
Nice! Thanks for fixing it.

[2021-07-13 23:24] jrhizor commented on #1506
Between the public demo and TF code for spinning up pilot instances this feels complete.

[2021-07-13 23:24] #1506 closed

[2021-07-13 23:42] #3611 closed

[2021-07-13 23:51] jrhizor commented on #1030
closed by https://github.com/airbytehq/airbyte/pull/1066/files

[2021-07-13 23:51] #1030 closed

[2021-07-13 23:53] jrhizor commented on #1581
closed by https://github.com/airbytehq/airbyte/pull/1802

[2021-07-13 23:53] #1581 closed

[2021-07-13 23:55] jrhizor commented on #1494
We've added support for cloud storage for logging while we're adding support for config storage in the DB, so this issue isn't necessary.

[2021-07-13 23:55] #1494 closed

[2021-07-13 23:56] jrhizor commented on #1499
highest priority part of this is covered in https://github.com/airbytehq/airbyte/issues/4212

[2021-07-13 23:57] jrhizor commented on #1756
After https://github.com/airbytehq/airbyte/issues/3647 this should work as expected.

[2021-07-13 23:57] #1756 closed

[2021-07-13 23:59] jrhizor commented on #1884
our testing is very different now for kube. we can reopen if this becomes a problem again.

[2021-07-13 23:59] #1884 closed

[2021-07-14 00:02] jrhizor commented on #1965
closed as a duplicate of https://github.com/airbytehq/airbyte/issues/2170

[2021-07-14 00:02] #1965 closed

[2021-07-14 00:05] jrhizor commented on #2253
we now document the jq dependency here: https://docs.airbyte.io/contributing-to-airbyte/developing-locally

[2021-07-14 00:05] #2253 closed

[2021-07-14 00:15] jrhizor commented on #3739
Our demo is on 0.24.2-alpha instead of 0.27.2-alpha. Is the person doing the release responsible for this change or the DRI?

[2021-07-14 00:20] davinchia commented on #3739
We never discussed this. I think it's should be the DRI but I also think that we write down instructions to doing so or make this an automated process

[2021-07-14 00:40] walkabout21 commented on #4064
@cgardens any idea if this is on the roadmap for a near term change?

[2021-07-14 06:11] vovavovavovavova commented on #4595
The account was created; the config is stored in LastPass under name `AWS amason sp api selling-partner-api config`

[2021-07-14 10:57] etsybaev commented on #3447
Hi @sherifnada .
Got few questions:
1. Where to take credentials that may be used for testing? I see something in lastpas but is' some already generated key for a source that has never been used. It also doesn't contain any details on URLs, how to connect from UI, what bucket's to use, and so on.
2.  How it usually supposed to test - should I create a special bucket for testing or need to create e

[2021-07-14 12:38] marcosmarxm opened #4744 "Build connector: add AIRBYTE_ENTRYPOINT"
### Tell us about the documentation you'd like us to add or update.
Our documentation should show how build connectors that are going to work using docker or kubernetes.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-07-14 12:52] marcosmarxm commented on #4298
@etsybaev I'm going to close this after #4617 if I found the problem I'll reopen, thanks

[2021-07-14 12:52] #4298 closed

[2021-07-14 13:28] rclmenezes commented on #3476
This prevents me from syncing Twilio into Postgres:

[code]

[2021-07-14 13:29] marcosmarxm commented on #4612
@Zirochkaa can you update the status? The PR is almost finished, as far I saw.

[2021-07-14 13:49] philippeboyd opened #4745 "[DEST Snowflake] - Sync succeeded but destination tables are empty"
## Environment
- **Airbyte version**:  0.27.2-alpha
- **OS Version / Instance**: GCP COS
- **Deployment**: Docker
- **Source Connector and version**: MSSQL 0.3.2
- **Destination Connector and version**: Snowflake 0.3.10 (with GCS stage)
- **Severity**: High
- **Step where error happened**: Sync

## Current Behavior
The sync appears to be successful but the tables (raw and normalized) in the destin

[2021-07-14 13:59] #4556 closed

[2021-07-14 14:37] Zirochkaa commented on #4612
Hello :)
Yes, it's almost done. There were few issues:
 - `cursor_field` for `IssueEvents` stream was incorrect;
 - wrong sort directions and not saving state for `Issues`, `Comments` and `PullRequests` streams;
 - no handling for few error codes (403, 500, 502);
 - no handling for rate limits;

All of the above issues are fixed now.

Right now I'm working on optimizing `PullRequests` stream (the

[2021-07-14 15:16] vovavovavovavova commented on #4341
ok about this issue we have the following:
The `issues` stream declared both in schemas and configured_catalog (if used) do have the following fields `['expand', 'id', 'self', 'key', 'renderedFields', 'properties', 'names', 'schema', 'transitions', 'operations', 'editmeta', 'changelog', 'versionedRepresentations', 'fieldsToInclude', 'fields']` and does not have the required cursor_field `created`,

[2021-07-14 15:21] jrhizor commented on #3739
This would be a good candidate for CD.

[2021-07-14 15:22] cgardens commented on #3739
With cloud does it make sense to retain the demo too? I imagine we can just show a demo using a demo account in the cloud version. I guess having a demo that runs purely on OSS is still nice though.

[2021-07-14 15:25] cgardens commented on #4064
@walkabout21 thanks for being patient. will try to get you a timeline!

@sherifnada want to bring this area to your attention (sorry I had not labeled it properly previously). Are we in a place where GL could work on this?  would like to give @walkabout21 some idea of when we could get to this.

[2021-07-14 15:25] jrhizor commented on #3739
We'd have to support read only public users. I think with the gateway we'd need some user logged in? I don't know if we want to require a sign-in to access the demo (because that will discourage people to interact with it)? Or if we want to have a proxy that basically inserts a token for users to be able to access it (which is probably more complex than auto-upgrading)?

[2021-07-14 16:16] subodh1810 opened #4746 "Postgres CDC OOM issue"
A user reported experiencing OOM with Postgres CDC. The Postgres CDC was migrated to use the new cdc abstraction which means its already using the capped queue. The table `loan_applications` is huge, contains lots of columns and few of them being JSON columns containing big json blobs, also has around 104332 records. User was running the sync on `t3.xlarge` machine.
The table is of 1.6GB in size
[

[2021-07-14 16:28] tuliren commented on #3447
We probably need to create a new bucket and credentials for the testing of this destination. The config is going to be different from the existing on in last pass (`source file azure creds`). So we will create a new secret for it, something like `destination azure creds`.

Thanks!

We can create a dedicated bucket in our azure account for the testing. Each time, the test can create its own folder

[2021-07-14 17:33] etsybaev opened #4748 "Follow up ticket: bump java connectors versions and release it"
Java base code part had been updated as part of the https://github.com/airbytehq/airbyte/pull/4699
Now need to bump up versions and release all of java connectors.

P.S. Integration tests for some of the connectors (mostly destination) had been failed even bore adding this check.
So as part of this task, you will need to to check why test fails and fix them. For more details of failed test please

[2021-07-14 17:34] etsybaev commented on #4352
A follow-up ticket has been created for bumping up versions and releasing all the java-based connectors
https://github.com/airbytehq/airbyte/issues/4748

[2021-07-14 17:37] Phlair commented on #2848
Implemented in #4689

[2021-07-14 17:37] #2848 closed

[2021-07-14 17:54] sherifnada commented on #4064
we can prioritize for this week or next week. Apologies for the radio silence @walkabout21 !

[2021-07-14 17:58] #4442 closed

[2021-07-14 18:14] cgardens commented on #4305
doc: https://docs.google.com/document/d/1L4I6sizDjjvAX0w2XesJTgXOeCGo4yS2mTJNhyl7vjI/edit

[2021-07-14 18:14] #4305 closed

[2021-07-14 18:14] cgardens commented on #4281
just needs to be merged.

[2021-07-14 18:45] #4066 closed

[2021-07-14 18:47] #4570 closed

[2021-07-14 18:50] sherifnada commented on #4746
Next steps:
1. reliably reproduce this issue locally
2. if the issue is happening because JSON Blobs are too big to fit in memory then verify if reducing the Debezium batch size from 10000 to something smaller (e.g: 1k). if so then we should make it configurable by the user

[2021-07-14 19:28] potatozerg commented on #4599
@sherifnada Hi Sherif, is it possible to provide an estimate (a rough one would be great) on this?

[2021-07-14 20:08] jrhizor commented on #3750
relevant: https://airbytehq.slack.com/archives/C01MFR03D5W/p1622235830377700

[2021-07-14 21:03] marcosmarxm commented on #4745
@philippeboyd is possible to [read this ](https://stackoverflow.com/questions/66134248/encountered-sql-error-net-snowflake-client-jdbc-snowflakesqlexception-statemen) to download Snowflake logs from their side. Maybe you can find more information from the error, this could be really helpful to us.

[2021-07-14 21:04] sherifnada commented on #4745
@philippeboyd is there any chance you also share the logs right before the snippet you provided above? Trying to see if there is anything potentially helpful context here

[2021-07-14 21:13] marcosmarxm commented on #4729
@philippeboyd you can access the `source_catalog.json` inside the `/tmp/workspace/6/0/` from my example.
![image](https://user-images.githubusercontent.com/5154322/125693604-9d030d6d-8042-4153-aadc-5ef79c19f94d.png)

`docker exec -ti airbyte-scheduler bash`
`cd /tmp...`
[code]
Could you share for your case?

[2021-07-14 21:24] #4681 closed

[2021-07-14 21:33] #3837 closed

[2021-07-14 21:34] sherifnada commented on #4440
initial PR #4641

[2021-07-14 21:38] #4281 closed

[2021-07-14 22:37] sherifnada commented on #4745
There are two issues here:
1. the job is marked as success when it should have failed. A fix is WIP in #3555
2. the snowflake destination connector is failing. To understand what we can do better @philippeboyd can you review the past two comments from me and marcos so we can move forward?

[2021-07-14 23:10] cgardens commented on #3809
okay this should be ready to go on the backend. The change will need to be branched off of this PR: https://github.com/airbytehq/airbyte/pull/4109 since the change to the API is breaking. We will merge the UI and backend change together.

[2021-07-14 23:11] cgardens commented on #3335
This issue is code complete for the BE side. Waiting on FE work in this issue https://github.com/airbytehq/airbyte/issues/3809 before we can merge & clode.

[2021-07-14 23:29] #4727 closed

[2021-07-14 23:52] keu opened #4750 "Source GitHub: create test repository and populate it with data"
## Tell us about the problem you're trying to solve
We use airbyte repo for the tests. Currently, because of we disabled many streams in SAT as they have too much data.

## Describe the solution you’d like
Create a test repo (or multiple) so we can enable all streams in SAT.

[2021-07-15 00:49] #4612 closed

[2021-07-15 00:51] keu commented on #4612
Hi @garden-of-delete ,
We just released version 0.1.2. You can upgrade your connector from the Admin page.
Please let us if the issue was fixed. Thanks

[2021-07-15 00:55] keu opened #4751 "SAT: Add column name to data validation message"
When SAT validates records against the schema, the errors that being printed don't have column names.
These needs be fixed

[2021-07-15 01:33] sherifnada opened #4752 "Source github: don't minify the `users` field in all any streams"
## Tell us about the problem you're trying to solve
It would be nice to include the rest of the user information returned by the GitHub API beyond just the user_id. On all streams, but particularly pull requests and commits.
The API endpoint docs are here: https://docs.github.com/en/rest/reference/pulls
And here is an example of the raw data returned by the connector:

{
   "url":"https://api.gith

[2021-07-15 02:56] Zirochkaa commented on #4752
Should it be `user` object (and similar to it like `author`, `actor`, `creator`, `committer`, `assignee`, `assignees`, `requested_reviewers`) for all streams? Or just for `pull_requests` stream?

[2021-07-15 06:24] garden-of-delete commented on #4752
I originated this issue. Ideally, we would include all the data for the user object and similar objects for all streams that provide it. Reason being perhaps you have a contributor who makes issues but not PRs. Would be nice to be able to get info for that user beyond the `user_id`.

[2021-07-15 08:04] MaxwellJK opened #4755 ""Newsletter with feature update" changes the status of "security updates""
## Enviroment
- **Airbyte version**:  0.27.2-alpha
- **OS Version / Instance**: Mac OS
- **Deployment**: Docker
- **Source Connector and version**: na
- **Destination Connector and version**: na
- **Severity**: Low
- **Step where error happened**: Update settings
-
## Current Behavior
Clicking on the sentence "Newsletter with feature update" changes the status of  "Security Updates"

https://user-

[2021-07-15 08:08] davinchia commented on #4755
@Jamakase

[2021-07-15 08:17] m-ronchi commented on #4660
Hi,
it happened again last night.
all my connections are frozen:
- `MySQL` -> `S3`
- `MySQL` -> `Redshift`
- `Postgres` -> `S3`
- `Postgres` -> `Redshift`
the only worker pod I have seems to be the S3 destination of the first connection.

[logs-39-0.txt](https://github.com/airbytehq/airbyte/files/6821392/logs-39-0.txt)
[logs-40-0.txt](https://github.com/airbytehq/airbyte/files/6821426/logs-40-0.tx

[2021-07-15 08:28] #4751 closed

[2021-07-15 08:52] vitaliizazmic commented on #4596
Account test credentials available in Lastpass

## Task breakdown
- [ ] Populate source with data - data of Google Adwords customer is used for Ads
- [ ] Create source scaffolding and populate schemas folder - 6-7h
- [ ] Implement spec, check, and discover - 2-3h
- [ ] Implement Read
    - [ ] Create API base abstract class
	- [ ] Create Base stream abstract classes 7-8h
	- [ ] Implement base abst

[2021-07-15 09:22] ChristopheDuong commented on #4731
I think this makes sense to do this work. In addition, it makes it much simpler to manipulate it afterward such as in this feature request: https://github.com/airbytehq/airbyte/issues/3092#issuecomment-828127687 where we would want the ability to edit/reset/jump back the state in the UI.

cc @sherifnada

[2021-07-15 10:02] davinchia opened #4760 "Create a 404 Page."
## Tell us about the problem you're trying to solve
1) Today as a user I am always redirected to the main app page when I try to navigate to a page that doesn't exists.
2) When we are on cloud (cloud.airbyte.io), a portion of our requests will no longer be governed by the webapp(today's localhost) or gitbook(the main airbyte.io site), this means we require a 404 page.

## Describe the solution you

[2021-07-15 10:03] davinchia commented on #4760
fyi @paulpalamarchuk created this issue for a 404 page. We'll start on this immediately.

[2021-07-15 10:51] m-ronchi commented on #4660
I am delving into the source.

unless I missed something, the only "interesting" place that can cause a deadlock between the last log printed in the frozen job and the next log that should normally print is [around here](https://github.com/airbytehq/airbyte/blob/af57170d215b90ef8de9a80e6436892e0e8bc3db/airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java#L85) when fetch

[2021-07-15 11:15] ChristopheDuong commented on #3434
Maybe we could re-open this issue to handle the:
https://www.netsuite.com/portal/developers/resources/suitetalk-documentation.shtml

While #3212 would be about the paid NetSuite plugin:
https://www.netsuite.com/portal/platform/developer/suiteanalytics.shtml

[2021-07-15 12:21] davinchia commented on #4660
@m-ronchi how closely spaced are your jobs? what is the duration between them? I will try to reproduce this my side.

[2021-07-15 12:23] m-ronchi commented on #4660
I have a total of 6 jobs for now, pretty spaced out:
![image](https://user-images.githubusercontent.com/35332423/125787374-2f9194c2-4aeb-4ed1-b7aa-b401e8015758.png)

[2021-07-15 12:23] bazarnov opened #4762 "Add posibility to select and apply the Sync methods to all the streams in the Airbyte UI"
## Tell us about the problem you're trying to solve
As the customer/user of Airbyte, I would like to have the option to select the same sync method to all streams at once, on the stage of setting up the connections between the source connector and the destination.

## Describe the solution you’d like
Add a button or the dropdown list with the options to choose between:
`full-refresh overwrite,  fu

[2021-07-15 13:15] m-ronchi commented on #4660
checking most of my logs, [this line](https://github.com/airbytehq/airbyte/blob/aca70d0f0d1dc1c7d230db29abd1fe6e99d0042e/airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSource.java#L124) is never printed

[2021-07-15 13:47] marcosmarxm opened #4763 "Doc: How to migrate a Docker to Kubernetes Airbyte instance"
### Tell us about the documentation you'd like us to add or update.
Some people are migrating their deployment to Kubernetes:
- custom connectors need to have the AIRBYTE_ENTRYPOINT
- this doc should validate that migrating from docker to kubernetes works fine

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-07-15 13:48] jreslock commented on #2474
I am throwing my vote in here for option 2 mentioned above.

As an operator/administrator I need a way to reliably tear down and spin up Airbyte.

A terraform provider that wraps the existing API would be extremely valuable for operators responsible for managing Airbyte installations.

For example, we use RDS and Snowflake and already manage both of these via terraform.  If there were an Airbyte p

[2021-07-15 13:48] cheyura commented on #4173
@sherifnada they cannot offer sandbox/ please see inbox mail

[2021-07-15 14:43] philippeboyd commented on #4729
@marcosmarxm apologies, but `source_catalog.json` and `destination_catalog.json` contain client information (table names and columns) that I cannot publicly share on Github... is there something specific that you're looking for inside those catalog json files?

[2021-07-15 14:57] davinchia commented on #4660
how long does each job take to run? do they run concurrently?

[2021-07-15 14:57] ChristopheDuong commented on #4729
Yes, I saw your logs but it's not enough info to see what was not parsed/interpreted correctly.

it would helpful to have a glance at the names of your streams and columns to see why
- the handling of special characters by the quotes: https://github.com/airbytehq/airbyte/blob/8b45744276c274f3c4f050ad2ef72eda40700a9a/airbyte-integrations/bases/base-normalization/normalization/transform_catalog/dest

[2021-07-15 15:15] m-ronchi commented on #4660
I don't think they run concurrently, as they were added one at a time. they usually complete in a couple of minutes (the longest one 18 but it was the first sync to redshift of 2GB of data - all connections are set to incremental)

I noticed from my logs that the ports from sources are never released, while destinations seems to be ok

[2021-07-15 15:39] jrhizor commented on #4763
Maybe we could have a little snippet that pulls the connectors they're using from the API, runs something like `docker run --rm --entrypoint printenv airbyte/posthog:0.1.0 | grep AIRBYTE_ENTRYPOINT` with a check that it has a line of output, and then just shows a list of connectors that's incompatible?

[2021-07-15 15:48] sherifnada opened #4764 "CDK: Allow setting request data on the outgoing HTTP requests"
## Tell us about the problem you're trying to solve
A user writing a connector for a SOAP API needs to set the `data` param on the outgoing request. Currently the HTTPStream abstraction only allows setting `json` not `data` on the outgoing request.

See slack convo for more info: https://airbytehq.slack.com/archives/C021JANJ6TY/p1626352477204300

## Describe the solution you’d like
Add a method `r

[2021-07-15 16:22] jrhizor commented on #4660
@davinchia After looking at this for a bit I thought of a potential deadlock case that may happen if there were other sources and destinations running concurrently. We `take` individual ports, but it's theoretically possible (but not extremely likely) that two separate `KubePodProcess` would `take` the last port and they would both be deadlocked waiting for a port. Changing from a `BlockingQueue<I

[2021-07-15 16:23] jrhizor commented on #4660
@m-ronchi Thanks for your detailed logs / versions / `kubectl` output by the way! This _really_ helps our debugging process here.

[2021-07-15 17:49] #3828 closed

[2021-07-15 17:56] philippeboyd commented on #4729
@ChristopheDuong from the doc of your `DestinationNameTransformer.py` file, it seems it's only used for the following

- schema
- table
- column

My issue seems to be with the data itself (the value) of the column

What if my column's value contains a single quote `'`. That single quote doesn't get escaped which leads to the error specified in my logs above.

here's the SQL i'm referring too

![im

[2021-07-15 18:00] ManuelRomer opened #4767 "influxDB connector"
## Tell us about the new connector you’d like to have
* Which source and which destination?
Should empower source, data-extraction from a influx database

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
No

## Describe the context around this new connector
InfluxDB is one of the best DB for IoT data streaming.

[2021-07-15 18:03] sherifnada commented on #4226
from #4762

## Tell us about the problem you're trying to solve
As the customer/user of Airbyte, I would like to have the option to select the same sync method to all streams at once, on the stage of setting up the connections between the source connector and the destination.

## Describe the solution you’d like
Add a button or the dropdown list with the options to choose between:
`full-refresh ov

[2021-07-15 18:03] sherifnada commented on #4762
#UIduplicate of https://github.com/airbytehq/airbyte/issues/4226. Copying description to that ticket and closing this one.

[2021-07-15 18:03] #4762 closed

[2021-07-15 19:07] midavadim opened #4769 "Acceptance test should be able to support complex states"
Acceptance test should be able to support complex states.

For example Source Mixpanel, stream Funnels:
{
  "funnels": {
    "8901755": { "date": "2021-07-13" },
    "10463655": { "date": "2021-07-13" }
  },
  "revenue": {
    "date": "2021-07-01"
  },
  "export": {
    "date": "2021-06-16"
  }
}

_Originally posted by @davinchia in https://github.com/airbytehq/airbyte/pull/4566#discussion_r670151

[2021-07-15 20:24] sherifnada opened #4770 "Source/Destination BigQuery: Allow using airbye-provided service account"
## Tell us about the problem you're trying to solve
In order to configure the BQ connectors today, a user must provide a service account key to Airbyte. In the cloud there is a more secure way of doing this that doesn't involve exchanging credentials:

1. Airbyte creates a svc account and key and uses it for BQ connectors by default
2. user gives access to their project/resources to this svc accou

[2021-07-15 21:44] vsayer commented on #3931
Confirmed in:

- airbyte `0.27.3-alpha`
- source mysql `0.1.1`

[code]

[2021-07-15 21:50] crististrux opened #4773 "Snowflake tables are created in the PUBLIC schema, even when we pass another existing schema"
## Enviroment
- **Airbyte version**: 0.27.2-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.3.6
- **Destination Connector and version**: Snowflake 0.3.9
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
Successfully sync-ed from a PostgreSQL table to one created in Snowflake, with either norma

[2021-07-16 00:00] sherifnada opened #4776 "CDK Destinations: Validate input config.py against spec"
## Tell us about the problem you're trying to solve
Add a check [here](https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/airbyte_cdk/destinations/destination.py#L109) if the command is `write` or `check` that the schema of the input config matches the one declared by `spec`.

[2021-07-16 00:14] marcosmarxm opened #4777 "Source Jira: sync failed in normalization stream label doesnt have properties"
## Enviroment
- **Airbyte version**:  0.27.3-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: Jira 0.2.6
- **Destination Connector and version**: Postgres 0.3.6
- **Severity**: Very Low / Low / Medium / **High** / Critical
- **Step where error happened**: Deploy / **Sync job** / Setup new connection / Update connector / Upgrade Airbyte

#

[2021-07-16 00:35] #4773 closed

[2021-07-16 00:36] crististrux commented on #4773
I realized this has to do with the namespaces: https://docs.airbyte.io/understanding-airbyte/namespaces

[2021-07-16 03:06] derekybainbridge opened #4778 "Shopify -> BigQuery Denormalized fails with : java.util.regex.PatternSyntaxException: Stack overflow during pattern compilation near index 10"
## Enviroment
- **Airbyte version**:  example is 0.27.3-alpha
- **OS Version / Instance**: , GCP e2.medium Debian 10 GNU (Buster) - as in the insructions
- **Deployment**: Docker
- **Source Connector and version**: Shopify
- **Destination Connector and version**: BigQuery (denormalized typed struct) - couldnt find version
- **Severity**:   High
- **Step where error happened**:  Sync job

## Curren

[2021-07-16 04:23] wallies opened #4779 "Error Syncing between Hubspot to BigQuery"
## Enviroment
- **Airbyte version**:  v0.27.2-alpha
- **OS Version / Instance**: GCP
- **Deployment**: GKE
- **Source Connector and version**: Hubspot 0.1.5
- **Destination Connector and version**: BigQuery 0.3.7
- **Severity**: Medium
- **Step where error happened**: Sync Job

## Current Behavior
Airbyte syncs the source, but then fails to parse some values for bigquery gets a lot of these errors

[2021-07-16 06:57] garden-of-delete commented on #4612
@keu Thanks so much! Will get into testing and report back tomorrow.

[2021-07-16 08:05] davinchia opened #4781 "Clean up Webapp Nginx for Cloud"
## Tell us about the problem you're trying to solve
Once we are on Cloud, we no longer need the Nginx we currently have.

This is currently doing two main things:
1) Forwarding request with `/api` to the right path. This is no longer needed.
2) Setting some global dom variables so everything works as expected. This is what we need to figure out.

## Describe the solution you’d like
For cloud, we w

[2021-07-16 08:05] davinchia commented on #4781
fyi @paulpalamarchuk ticket for tracking on Application side.

[2021-07-16 09:08] Zax337 commented on #4764
Hi, I'm the aforementioned user trying to make a SOAP API connector, to add a bit more details to this, here is how I offer to solve this problem:

1. add a new method `HttpStream::request_body_data` with the same purpose as `request_body_json`:
[code]
2. Update HttpStream::`read_records` to also call this method
[code]
3. Update `HttpStream::_create_prepared_request` to take `data` into account:

[2021-07-16 09:41] ChristopheDuong commented on #4729
schema
    table
    column

1. Yes, the python module "base-normalization"'s responsibility is to take as input a catalog.json and statically transform that into dbt SQL queries. This can be seen metaphorically as "generating java source files" for example in `normalize/models/generated/airbyte_tables/<redacted>.sql`
2. Where dbt is a compiler that translates afterwards those files into native lo

[2021-07-16 10:28] jimbeepbeep opened #4783 "Instagram connector failing for all user-related tables"
## Enviroment
- **Airbyte version**:  example is 0.27.0-alpha
- **OS Version / Instance**: GCP Compute Engine (n1-standard-1)
- **Deployment**: Docker
- **Source Connector and version**: Instagram 0.1.6
- **Destination Connector and version**: BigQuery 0.3.6
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
I upgraded both Airbyte and the Instagram Connector on 9t

[2021-07-16 14:09] sherifnada commented on #4764
@Zax337 that's a good way of going about it! Thanks for the great writeup. Since you already basically scoped this out, would you want to contribute it to the CDK? No pressure, just thought I'd see if you're interested.

[2021-07-16 14:14] sherifnada commented on #4783
thanks for creating the report @jimbeepbeep , will look into it!

[2021-07-16 14:44] davinchia commented on #4660
I was able to replicate the hanging behaviour in EKS on the 15th job.

<img width="1073" alt="Screen Shot 2021-07-16 at 10 42 48 PM" src="https://user-images.githubusercontent.com/9772859/125965543-0a62fbeb-6ace-4694-b88c-fb073c6510f1.png">

@m-ronchi Jared and I think we know what the issue is. Currently working on a fix. Will tag you when it's ready!

I think this is related to #4389

[2021-07-16 15:38] alerrian opened #4787 "MailChimp -> BigQuery: On sync fails with KeyError: 'activity'"
## Enviroment
- **Airbyte version**:  0.27.2-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Local Docker but also encounter similar through K8s
- **Source Connector and version**: MailChimp 0.2.5
- **Destination Connector and version**: BigQuery 0.3.6
- **Severity**: Medium
- **Step where error happened**: Sync

## Current Behavior
Running sync will fail on a KeyError: 'activity' relat

[2021-07-16 15:56] sherifnada commented on #4787
@alerrian thanks for creating the issue! we can get to this mid next week. But just checking you're not already working on it like indicated in the PR quesiton above

[2021-07-16 15:56] philippeboyd commented on #4729
@ChristopheDuong thanks for your answer as it brought up new questionings on my end... After investigating directly on our client's DB and after a few facepalms, I realized that it is indeed the columns' name that are problematic
![image](https://user-images.githubusercontent.com/3239656/125974582-1c79d367-b322-46f4-828a-f7e7b1f39d64.png)
![image](https://user-images.githubusercontent.com/3239656/

[2021-07-16 15:59] #4352 closed

[2021-07-16 16:49] Zax337 commented on #4764
@sherifnada I'd love to! I'm very busy at the moment though so I probably won't be able to focus on that before a week or two.

[2021-07-16 17:49] #4374 closed

[2021-07-16 18:31] tuliren opened #4790 "The Avro output format for the S3 destination is not selectable on the UI"
## Enviroment
- **Airbyte version**:  0.27.0-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Destination Connector and version**: S3 0.1.8
- **Severity**: Medium
- **Step where error happened**: Setup new connection

## Current Behavior
When I try to setup an S3 destination with the Avro output format, the page will reset itself, and there is a `TypeError` in the console.

##

[2021-07-16 18:43] keu commented on #4783
@jimbeepbeep, I tracked the issue, it is in different format of state files that new version uses. If that is possible could you please remove states and try again?

[2021-07-16 19:01] jimbeepbeep commented on #4783
Thanks for the quick response - I've just upgraded Airbyte and Connector versions today and am running a full sync, however we have 140+ accounts so it takes a while.  When it is complete (success or fail) I will post the new logs here.

[2021-07-16 21:39] jimbeepbeep commented on #4783
It's been running for about 12hrs already, which normally means it'll fail... logs are here:

[logs-285-0.txt](https://github.com/airbytehq/airbyte/files/6833508/logs-285-0.txt)

[2021-07-16 22:08] bajolly opened #4793 "JIRA connect calling deprecated endpoint /field/{field name}/context"
## Enviroment
- **Airbyte version**:  0.27.3-alpha
- **OS Version / Instance**: Ubuntu 20.04.2 LTS
- **Deployment**:  Docker local machine
- **Source Connector and version**:
[code]
- **Destination Connector and version**: NA
- **Severity**: Low
- **Step where error happened**: Sync job

## Current Behavior
When syncing from the Jira Cloud Rest Api  the context endpoint  called witch cannot be fou

[2021-07-16 22:14] keu commented on #4783
Thanks, @jimbeepbeep , just to clarify, did you reset the connection from the UI? because I still can see errors related to old state file format.

[2021-07-16 22:29] jimbeepbeep commented on #4783
I didn't as I don't want to reset old data - is there a a way of doing that but preserving historic data?

[2021-07-16 22:48] sherifnada commented on #4783
@keu I think we will have to add backwards compatibility for the old format in the connector itself, manually changing state is not going to be very doable here

[2021-07-16 23:12] sherifnada opened #4798 "Document Destination Acceptance Tests"
### Tell us about the documentation you'd like us to add or update.
Source acceptance tests are [well](https://docs.airbyte.io/contributing-to-airbyte/building-new-connector/testing-connectors) [documented](https://docs.airbyte.io/contributing-to-airbyte/building-new-connector/source-acceptance-tests), but as a contributor, I don't have as good of a window into destination acceptance tests. I woul

[2021-07-17 00:07] cgardens opened #4799 "Remove Frontend dependency on Default Workspace"
## Tell us about the problem you're trying to solve
Currently the UI assumes that the only workspace that exists is the default one `5ae6b09b-fdec-41af-aaf7-7d94cfc33ef6`. We want to break that assumption (note this is probably also necessary as part of multi-workspace support in https://github.com/airbytehq/airbyte/issues/4486).

## Describe the solution you’d like
In the OSS version, ideally the

[2021-07-17 00:08] cgardens commented on #4486
This should be unblocked and ready to work on.

[2021-07-17 01:08] rahimnathwani opened #4801 "SendGrid connector fails, even though log says successful"
## Environment
- **Airbyte version**: 0.27.3-alpha
- **OS Version / Instance**: Linux 4.19.0-17-cloud-amd64 #1 SMP Debian 4.19.194-1 (2021-06-10) x86_64 GNU/Linux
- **Deployment**: docker
- **Source Connector and version**: Sendgrid 0.2.5
- **Destination Connector and version**: Postgres 0.3.6
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
Sync job fails an

[2021-07-17 01:58] bajolly commented on #4793
update to include stack trace in log.

[2021-07-17 02:22] #1479 closed

[2021-07-17 02:26] #3448 closed

[2021-07-17 03:10] sherifnada commented on #4801
@rahimnathwani is the UI showing the job status as succeeded or failed? The logs are misleading here: Airbyte makes a best effort to sync data in the case of a failure. The "success" part is referring specifically to normalization.

If the job status in the UI or API is showing successful, that's a real issue.

I'm attempting to reproduce this on my side but haven't found success so far. Will upda

[2021-07-17 03:31] rahimnathwani commented on #4801
In the UI it's showing failure.

[2021-07-17 06:36] jimbeepbeep commented on #4783
Just leaving the logs here - this is the full failed fun from yesterday, there should be ~120k records but it says it's failed with ~360k records, looking like it's processing the media stream three times:

[logs-285-0 (1).txt](https://github.com/airbytehq/airbyte/files/6834287/logs-285-0.1.txt)

[2021-07-17 22:05] tuliren opened #4804 "Transient failure in JobSubmitterTest"
From time to time, `JobSubmitterTest` may fail with the following exception:

[code]

The most recent example is [this one](https://github.com/airbytehq/airbyte/runs/3090175431).

I briefly looked into it, but have not figured it out yet. @davinchia, FYI.

[2021-07-17 22:21] jbowlen commented on #4745
Since I have the same error (MSSQL -> Snowflake via GCS): The COPY INTO command aborts after 30 minutes. Does JDBC possibly use a timeout?
![sfsql](https://user-images.githubusercontent.com/24651347/126050459-65a2bfbc-be32-4a1a-a558-66db0b8d0e79.PNG)
Unfortunately difficult to test again, because the run is shown as "Succeeded" and therefore the files were deleted from GCS.

[2021-07-18 00:15] takan55 commented on #2017
Tried running airbyte with [Kind](https://kind.sigs.k8s.io/docs/user/quick-start/) on my M1 chip macbook pro but it got stuck at "cannot reach server. The server may still be starting up." forever. This is critical to me to stick with airbyte. Since more and more developers are switching to the M1 macs, I'd love to see the solution asap.

[2021-07-18 06:11] jimbeepbeep commented on #4783
Final fail log, sync disabled for now
[logs-285-1.txt](https://github.com/airbytehq/airbyte/files/6835748/logs-285-1.txt)

[2021-07-18 07:29] blotouta2 opened #4806 "source google ads exception DATE_RANGE_TOO_NARROW"
## Enviroment
- **Airbyte version**:  example is 0.27.2-alpha
- **OS Version / Instance**: macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Source Connector and version**: source-google-ads v0.1.2
- **Severity**: Medium
- **Step where error happened**:  Sync job

## Current Behavior
Start date and end date range not calculated correctly.

## Expected Behavior
Start date should always be gr

[2021-07-18 09:36] flagbug commented on #3549
Seeing the same problem when trying to load a few tables, with one of them containing nearly a Billion rows from MSSQL to BigQuery. The exception happens pretty late in the sync, after it already ran for a few hours.

[code]

[2021-07-18 14:44] keu commented on #4783
@jimbeepbeep , I have added support of previous state format. Once thing that still not clear to me - you said `360k records` where do you see this? I can't think of any reason it reads any stream multiple times.

[2021-07-18 15:01] jimbeepbeep commented on #4783
Check this out:
![Screen Shot 2021-07-18 at 4 58 00 pm](https://user-images.githubusercontent.com/34912260/126072013-f6651435-3859-4dc3-88a9-e644d23516dc.png)

You can see on the successful runs there are ~120k records, but on the failed runs there are approx ~360k per run:
![Screen Shot 2021-07-18 at 5 00 12 pm](https://user-images.githubusercontent.com/34912260/126072063-d64f7d96-ce41-4035-8b72-

[2021-07-18 17:45] keu commented on #4783
Thanks, @jimbeepbeep, I can see 3 attempts, so I think this is expected behavior, not very optimal though.

[2021-07-18 22:15] cgardens opened #4810 "Cannot configure CDC in Postgres Source"
## Enviroment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**:  macOS
- **Deployment**:  Docker
- **Source Connector and version**: Postgres source v0.3.7
- **Severity**: High
- **Step where error happened**: Setup new connection

## Current Behavior
* I want to configure postgres for cdc but the option does not appear in the UI.
![Screen Shot 2021-07-18 at 3 03 25 PM](

[2021-07-19 04:21] jrhizor opened #4812 "test for CORS behavior"
Add a test to make sure CORS behavior is respected in case registration is broken by https://github.com/airbytehq/airbyte/commit/63c7a33e3e864acf76d7b704a413316084597fd3 (which was caught by https://github.com/airbytehq/airbyte/pull/4811/files)

[2021-07-19 05:19] sherifnada commented on #4547
@DoNotPanicUA can we do this once we've tackled more user-impacting issues in the sprint like #4487 ?

[2021-07-19 05:26] #4443 closed

[2021-07-19 08:17] alexanderbuhler opened #4815 "MySQL source: java.sql.SQLException: Zero date value prohibited"
Hey fellows,

today I was trying to setup a MySQL source, all checks passed, schema / tables were read and displayed fine.
After sync starts though, there's this exception coming up:

`ERROR () LineGobbler(voidCall):85 - Exception in thread "main" java.lang.RuntimeException: java.sql.SQLException: Zero date value prohibited`

Tested with different destinations (e.g. local json) but it seems that h

[2021-07-19 08:29] alexanderbuhler commented on #4815
Closing as duplicate of #3931.

[2021-07-19 08:29] #4815 closed

[2021-07-19 10:41] jaimefr opened #4818 "Disable retries when connection fails because of rate limits"
## Tell us about the problem you're trying to solve
I have a connection that fails frequently because the API has very tight rate limits. When it fails, it retries 3 times, which is not solving the issue obviously, because it is making me fall into the rate limit more intensely.

## Describe the solution you’d like
A way to disable retries when a connection fails.

## Describe the alternative you’

[2021-07-19 10:52] #3605 closed

[2021-07-19 11:14] #3699 closed

[2021-07-19 12:08] #3321 closed

[2021-07-19 12:59] philippeboyd commented on #4745
@jbowlen good find! same thing, looks like there's a timeout at 30 minutes
![image](https://user-images.githubusercontent.com/3239656/126163269-c4a6c889-04bf-4aff-8149-f2f1d7db35c8.png)

@sherifnada any possibilities to customize that timeout?

[2021-07-19 13:10] yevhenii-ldv commented on #3953
Hi @Moofasax
Six days ago we released new version of Github Native connector - 0.1.2, where we fixed the error described in the ticket #4612 .
That fix should also correct this issue.
You can upgrade your connector from the Admin page.
Please let us if the issue was fixed. Thanks

[2021-07-19 13:53] davinchia opened #4824 "Figure out why logging Process.info does not work in Docker."
## Tell us about the problem you're trying to solve
All the logging in `WorkerUtils` is gated on Kubernetes because the process implementation does not fulfill the `info` method even though we are using Java's native `ProcessBuilder`. Why is that?

[2021-07-19 14:18] TymoshokDmytro commented on #3107
As @yaroslav-dudar said in the vetting comment:

Creating an account requires these steps:
- Twitter Developer account (require approval) https://developer.twitter.com/en/apply-for-access
- Apply for access to the Ads API (require approval) https://developer.twitter.com/en/docs/twitter-ads-api/apply

The first is done. The second is still on Twitter review from 13th of July.

[2021-07-19 14:25] lazebnyi commented on #3484
Application for creating the app in Pinterest now is pending. As far as I know from the update from @cheyura the request was sent on July 8.

Original message from Pinterest:

[2021-07-19 14:42] keu opened #4827 "Source Facebook Marketing: SAT fails on schema validation"
The problem with schema is that FB wraps numeric values into strings.
The schema says it is `null` or `numeric` but in the record it is `"1234"`.

## Steps to Reproduce
Run SAT on the latest FB connector
**UPDATE:** use this comment for instructions https://github.com/airbytehq/airbyte/issues/4827#issuecomment-886981239

## Possible fix
1. update schemas - set type = `['null', 'string']`, this is

[2021-07-19 14:44] cnpatric opened #4828 "Pipedrive Source Normalization Error"
## Enviroment
- **Airbyte version**: 0.27.3-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: Pipedrive 0.1.0
- **Destination Connector and version**: BigQuery 0.3.7
- **Severity**:  High
- **Step where error happened**: Setup Connection with Pipedrive and BigQuery and have a deal with a float in pipedrive
## Current Behavior

Syncjob fail

[2021-07-19 14:55] sherifnada commented on #4286
Update `@Eric Hartono` and `@gunu` in Slack once this issue is done

[2021-07-19 14:56] midavadim commented on #2742
https://github.com/airbytehq/airbyte/pull/4566
Manages API rate limit by adding delays between requests.

[2021-07-19 15:07] cnpatric commented on #4828
I don't really know which field is causing this unfortunately.

[2021-07-19 16:13] philippeboyd commented on #4745
This line is problematic when having big data:

https://github.com/airbytehq/airbyte/blob/40da541494ab02c566a464272ba50a571a011fbd/airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java#L43

[2021-07-19 16:16] cgardens commented on #4779
slack convo: https://airbytehq.slack.com/archives/C019WEENQRM/p1626647144151000

[2021-07-19 16:34] sherifnada opened #4831 "Create a demo python destination for CDK illustration purposes"
## Tell us about the problem you're trying to solve

[2021-07-19 16:38] sherifnada opened #4832 "Add bash translations for connector development on Windows"
## Tell us about the problem you're trying to solve
While developing on the Airbyte platform isn't supported on Windows, developing Python connectors should be completely doable. We should add some bash command translations in READMEs and docs to make sure these instructions are clear for Windows devs.

[2021-07-19 16:44] cgardens commented on #4779
logs.
[logs-181-2.txt](https://github.com/airbytehq/airbyte/files/6842577/logs-181-2.txt)

[2021-07-19 16:44] #4697 closed

[2021-07-19 16:44] #4831 closed

[2021-07-19 16:54] #4444 closed

[2021-07-19 16:57] #4631 closed

[2021-07-19 17:24] tuliren opened #4833 "Kube acceptance test is flaky due to missing config volume"
## Enviroment
- **Airbyte version**:  commit #e577b4987e8b9d1306eed833ac04a17f7a1a890c
- **OS Version / Instance**: CI
- **Deployment**: CI
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Kube acceptance test

## Current Behavior
This acceptance test is flaky. Here is the log:

[code]

The reason that the standard workspace could not be found is that

[2021-07-19 19:44] cnpatric opened #4836 "Stripe Source Normalization Error"
## Enviroment
- **Airbyte version**: 0.27.3-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: Stripe 0.1.14
- **Destination Connector and version**: BigQuery 0.3.7
- **Severity**:  High
- **Step where error happened**: Setup Connection with Stripe and BigQuery and have a coupon with a float in Stripe

## Current Behavior

Syncjob fails wit

[2021-07-19 21:33] sherifnada commented on #4810
@cgardens I'm unable to reproduce this on 0.27.3-alpha, where was this issue reported from?

[2021-07-19 22:06] pierre-b commented on #4599
Hi guys, in order to connect a Singlestore DB cluster (MySQL driver) I also need this SSL support with import of private key + cert + CA.
I don't have any viable workaround for this at the moment.
Thanks

[2021-07-19 22:08] sherifnada commented on #4599
Hi everyone, currently bandwidth constrained on supporting this at the moment. Hopefully we can pick this up next week, hopefully ship by mid august at most.

[2021-07-19 22:11] marcosmarxm commented on #4818
that's a great suggestion @jaimefr!

[2021-07-19 22:12] rohansingh opened #4841 "Shopify connector should convert prices into numbers"
## Tell us about the problem you're trying to solve
Most price-related fields created by the Shopify connector are strings. For example, `total_price` on `orders` is a string. This makes it difficult to do simple math or create sales reports.

## Describe the solution you’d like
I'd like the Shopify connector to transform price fields into numbers.

## Describe the alternative you’ve considered or

[2021-07-19 22:21] pierre-b commented on #4599
Thanks @sherifnada for the update!

[2021-07-19 22:27] #4783 closed

[2021-07-19 22:30] keu commented on #4783
@jimbeepbeep, I've just published the new version, please let me if the issue was solved.
Thanks

[2021-07-19 22:30] #3984 closed

[2021-07-19 22:30] sherifnada commented on #4745
thanks for the pointers everyone! Will get to this very soon. I think the fastest solution to unblock you will be to bump the timeout by a lot for now (let's say 12 hours).

@philippeboyd how do you mean in batch?

[2021-07-19 22:58] keu commented on #3132
ok, gave this soome thought, I think this can be solved with changing basic read test:
- deprecate `validate_output_from_all_streams`, make it always ON
- introduce new config var `empty_stream' - a list of streams that can be empty
- basic read will verify that all streams from discovery included in the configured catalog for basic read.

[2021-07-19 23:14] #4614 closed

[2021-07-19 23:16] sherifnada opened #4842 "Sendgrid connector should take a human-readable date rather than an integer timestamp"
## Tell us about the problem you're trying to solve
the sendgrid source connector takes as input for replication start date an integer timestamp.

## Describe the solution you’d like
a more usable date string e.g: full or partial ISO formatted string. This must also be backwards compatible with the integer timestamp to avoid breaking any existing users of sendgrid.

[2021-07-20 00:25] potatozerg opened #4846 "Google Sheets RATE_LIMIT_EXCEEDED error"
It was running perfectly for 30min,  but then it hits the limit (62 requests/60 seconds). The limit is 60 requests/60 seconds.
[logs-198-0.txt](https://github.com/airbytehq/airbyte/files/6844581/logs-198-0.txt)

[2021-07-20 00:43] sherifnada opened #4847 "Support deploying Airbyte on ECS"
## Tell us about the problem you're trying to solve
i would like to deploy Airbyte on ECS. This is known to be a difficult problem because Airbyte requires the ability to dynamically launch new docker containers (connectors are packaged in containers) but ECS does not offer this capability easily. See [here](url) for more information.

Nonetheless many companies solely use ECS as their deployment

[2021-07-20 00:45] sherifnada commented on #4846
@potatozerg we have a related issue here #3936 to support incrementally syncing data from Google Sheets. This would cause the connector to sync as much data as it can before it hits the rate limit, fail, then the next sync it retries from where it left off and so on until it syncs the full dataset.

I believe apart from a rate limit increase, this is probably the solution for this issue.

[2021-07-20 00:54] sherifnada commented on #3949
@cgardens I like that approach more. This could happen automatically on the backend I suppose where every time we fetch the latest list of connectors, new ones automatically get added to the index

[2021-07-20 01:36] sherifnada opened #4849 "Source Google Search Console: support oauth"
## Tell us about the problem you're trying to solve
As a user of GSC it's not always feasible for me to have access to a cloud account. I would rather authenticate via oauth.

## Describe the solution you’d like
I want to be able to give Airbyte a refresh token (or something similar) and have the connector figure the rest out.

## Describe the alternative you’ve considered or used

## Additional c

[2021-07-20 01:39] sherifnada opened #4850 "Google Analytics source: support oauth"
## Tell us about the problem you're trying to solve
As a user trying to sync data from GA using the GCP/svc account/key JSON auth method currently available is not very user friendly ( i may not always have access to a cloud account). I would rather use the standard oauth mechanism to obtain a refresh token.

## Describe the solution you’d like

## Describe the alternative you’ve considered or use

[2021-07-20 01:47] sherifnada opened #4851 "Google Search Console: complete docs on how to get a service account key"
### Tell us about the documentation you'd like us to add or update.
The docs [for Google Search Console are incomplete](https://docs.airbyte.io/integrations/sources/google-search-console#changelog) -- the connector needs a JSON key but the docs don't say how to do that

See other docs like google workspace admin for instructions (they should be the same)

[2021-07-20 02:46] davinchia opened #4852 "Kube Logging to S3 not working on EKS."
## Enviroment
EKS

## Current Behavior
As title.

## Expected Behavior
It should work.

[2021-07-20 02:55] sherifnada commented on #4801
fixed in #4839

[2021-07-20 02:55] #4801 closed

[2021-07-20 03:51] sherifnada opened #4854 "Release rockset integration"
## Tell us about the problem you're trying to solve
do the last-mile work for publishing #4780

we have credentials in lastpass, we'll need to create an API token, add it to CI, etc...

[2021-07-20 04:23] #4660 closed

[2021-07-20 05:09] tuliren commented on #4833
Resolved by #4835.

[2021-07-20 05:09] #4833 closed

[2021-07-20 07:17] #3662 closed

[2021-07-20 07:19] #4637 closed

[2021-07-20 07:26] #4777 closed

[2021-07-20 07:32] jimbeepbeep commented on #4783
Thanks @keu, I have upgraded to the latest connector and a running the sync, fingers crossed I'll let you know how it goes

[2021-07-20 09:40] davinchia opened #4858 "Figure out an init script to set up the database."
## Tell us about the problem you're trying to solve
Today, this is part of the init db script on the db pod. We need a way to do this using CloudSQL that accommodates Cloud, Docker deploy and normal Kube deploy.

See: https://airbytehq.slack.com/archives/C026HMBDWFJ/p1626596462084000

[2021-07-20 12:19] LuisCebrian commented on #4778
I had the same issue connecting a mongo DB source to the BigQuery (denormalized typed struct) connector. In my case:

- Airbyte version:  0.27.2-alpha
- OS Version / Instance: , GCP e2.medium Debian 10 GNU (Buster) - as in the insructions
- Source Connector and version: MongoDB 0.3.2
Destination Connector and version: BigQuery (denormalized typed struct) - 0.1.0
Severity: High
Step where error hap

[2021-07-20 13:06] philippeboyd commented on #4745
@sherifnada in batch I mean split the `copy into` request in multiple ones. Currently, I think the `copy into` copies from the stage recursively. Airbyte could execute that request for each subdirectory, if the structure is appropriate?

What if there's 1B rows to sync or 5 billion? That `copy into` could potentially take more than 12h...

I'm just trying to think of a more permanent solution that

[2021-07-20 13:34] kyle-cheung commented on #2227
+1 for this too, I want to bring Airbyte to our org but cannot if we can't deselect extreme sensitive fields as we don't want those living in our Snowflake warehouse

[2021-07-20 14:18] jimbeepbeep commented on #4783
@keu you are a legend sir, works an absolute dream.  Thanks so much for your hard work, @sherifnada your team is amazing, thanks as always.  Also thanks to whoever made the new Airbyte upgrade process so smooooth, it was a total nightmare before and now it works like magic!

[2021-07-20 14:19] yevhenii-ldv opened #4862 "🚀Source Google Ads: Support Reports"
## Tell us about the problem you're trying to solve

We want to support Ads reports similar to the Google Adwords connector for Text, Shopping, and Display ads. :
* ACCOUNT_PERFORMANCE_REPORT
* AD_PERFORMANCE_REPORT
* DISPLAY_KEYWORD_PERFORMANCE_REPORT
* DISPLAY_TOPICS_PERFORMANCE_REPORT*
* SHOPPING_PERFORMANCE_REPORT

## Describe the solution you’d like

## Describe the alternative you’ve conside

[2021-07-20 14:24] blotouta2 commented on #4806
@yevhenii-ldv i saw your fix and that will work, thank you for addressing the issue on priority.

[2021-07-20 15:57] jaimefr commented on #3313
Hello, shouldn't this have fixed this issue? https://github.com/airbytehq/airbyte/pull/4820

[2021-07-20 16:24] keu commented on #4783
Thank you for your kind words, @jimbeepbeep. This false wouldn't be possible without the hard work of @yevhenii-ldv. And of course, thanks for your patience trying all our fixes.

[2021-07-20 16:26] sherifnada commented on #4745
Agreed - my goal is to unblock y'all ASAP. Your suggestion is a great one, Philippe. Will follow up on it with the team.

[2021-07-20 17:15] tuliren commented on #4289
This issue can be addressed together with #4306.

[2021-07-20 17:38] marcosmarxm commented on #4181
some additional info: https://github.com/knex/knex/issues/2986

[2021-07-20 17:42] marcosmarxm opened #4866 "How use Airbyte on EC2 and ECR to pull custom connectors"
### Tell us about the documentation you'd like us to add or update.
[Slack convo](https://airbytehq.slack.com/archives/C01MFR03D5W/p1626780885045700)
show users how to leverage the power of Airbyte on AWS.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2021-07-20 17:44] tuliren opened #4867 "Export configs in plain text from production with ease"
## Tell us about the problem you're trying to solve
- This is an idea from @ChristopheDuong.
- Users should be able to export configs in plain text from the production deployment with ease.
- They can check in the configs for version control.
- The export process can be done programmatically (e.g. in CI).

## Describe the solution you’d like
- Implement a `ProductionConfigPersistence` that can rea

[2021-07-20 17:47] tuliren commented on #4306
Features to implement:
- Run the migration in place incrementally, instead of full refresh.
- Be able to change both the configs and the config database schema (#4289).
- [Maybe] Track migration info in the database.
- [Maybe] Detach migration from Airbyte version.

[2021-07-20 17:56] sherifnada commented on #3549
hey everyone, we're working on this in the current sprint. It's not 100% clear yet what the fix will be, so our first step is to identify that, then we'll have a more concrete ETA. But it's something we're currently working on.

[2021-07-20 18:13] #4583 closed

[2021-07-20 20:59] sherifnada opened #4871 "Redshift destination performance improvements"
## Tell us about the problem you're trying to solve
Came across [this blog post](https://segment.com/blog/speed-up-redshift-syncs) the other day and realized many of these optimizations can apply to our redshift destination as well. We should apply them where possible.

[2021-07-20 21:01] #4810 closed

[2021-07-20 21:01] cgardens commented on #4810
i was on a dev branch that i thought was master. but if it' can't be
recreated let's close.

On Mon, Jul 19, 2021 at 2:33 PM Sherif A. Nada ***@***.***>
wrote:

[2021-07-20 22:01] jbowlen commented on #4745
As far as I can see the data uploaded to GCS is not compressed. Wouldn't it be better to (gz) compress the data before uploading it? My use case would be uploading from on-premise mssql to Snowflake and there you would benefit from compression.

[2021-07-20 22:09] tuliren opened #4872 "Create jobs database tables automatically"
## Tell us about the problem you're trying to solve
- Currently when using an external database for the jobs, users need to create the tables themselves. This can be confusing.
- It is fully feasible to automatically create the table schemas in Java. The configs database already does that.
- Relevant [slack thread](https://airbytehq.slack.com/archives/C019WEENQRM/p1626810454180600).

## Describe t

[2021-07-21 00:49] mystmaker33 opened #4875 "SFTP Destination"
## Tell us about the new connector you’d like to have
I would like an SFTP destination for csvs based on tables in my database.

## Describe the context around this new connector
We often need to regularly output csv files for our vendors with our data in them. Many of them use SFTPs to receive the csvs.

## Describe the alternative you are considering or using
Right now I have scheduled python sc

[2021-07-21 01:04] jrhizor opened #4877 "allow workspace-specific connector definitions"
This is a prerequisite to allowing custom connector definitions in the cloud version of Airbyte.

There are a few interesting problems here:
- How does this impact seeding?
- Should we have both a fixed set of deployment-level connector versions and also connectors per workspace?
- How do we do updates across cloud if there's a connector incompatible change?
- Permissions around these operations.

[2021-07-21 01:55] sherifnada commented on #3514
@keu sorry, are you saying you vote for option 3 because it makes the iface difficult to follow? I'm not sure I follow

[2021-07-21 06:01] andresbravog commented on #3549
Hi @sherifnada,

I think this issue is documented by Google Big Query as a quota limit hit that might happen at BigQuery level (>1TB load data) or at job level:

https://cloud.google.com/bigquery/quotas#load_jobs

I think is very possible that we hit the jobs per table limit quota.

Their suggestion is to simply implement a resumable strategy.

[2021-07-21 07:34] #3313 closed

[2021-07-21 07:57] keu commented on #3514
@sherifnada no I listed other options with their drawbacks, i.e. option 1 and option 2

[2021-07-21 08:38] Balakrishna-maduru opened #4879 "Accessing inline TVF's data sync from MSSQL"
## Tell us about the problem you're trying to solve
MS SQL supports TVF(table valued functions), when tried data sync from table and view both are working, when i tried access from TVF it got failed.

## Describe the solution you’d like
Table : Will be accessed using select * from <table name>;
View  : Will be accessed using select * from <view name>;
TFV   : Will be accessed using select * from <

[2021-07-21 08:48] ChristopheDuong opened #4880 "Refactor ConfigSchema enum for flexibility"
## Tell us about the problem you're trying to solve
We need to refactor the `ConfigPersistence` to make it more flexible and reduce code duplication on config persistence.

## Describe the solution you’d like
`ConfigPersistence` interface & class hierarchy should handle `string` config types instead of enum so that if some enum value is removed from the enum in the future, the code is better able

[2021-07-21 09:30] Phlair commented on #4159
Also happens for MSSQL (https://github.com/airbytehq/airbyte/issues/4542)

[2021-07-21 09:55] TymoshokDmytro commented on #3916
## DONE
- Organization
- Ad Account (Incremental)

## In progress
- Creative
- Media
- Segments
- Campaign
- Ad Squad
- Ad

[2021-07-21 13:39] philippeboyd commented on #4520
@sherifnada any news on this?

[2021-07-21 13:42] sherifnada commented on #3514
I think it will have a Boolean flag "auto_fail_on_errors" or something that lets the dev decide to opt out of this functionality if needed

[2021-07-21 13:44] davinchia commented on #4520
Everyone is focused on Cloud now so this is likely to be pushed to next month. This is definitely on the roadmap though!

[2021-07-21 15:52] jamesutton commented on #4777
I'm still experiencing failure at normalization.

[logs-380-2.txt](https://github.com/airbytehq/airbyte/files/6857122/logs-380-2.txt)

[2021-07-21 17:01] subodh1810 opened #4884 "Implementation for Running AcceptanceTests for kube on GKE"
Continuation of https://github.com/airbytehq/airbyte/issues/4212
Document : https://docs.google.com/document/d/170JgBmRJwkuGWNZxy41bkyd6z4hAkhuKbNhZtxFtaJo/edit#

[2021-07-21 17:01] subodh1810 commented on #4212
Tech spec : https://docs.google.com/document/d/170JgBmRJwkuGWNZxy41bkyd6z4hAkhuKbNhZtxFtaJo/edit#heading=h.eejw85ea1yu1

[2021-07-21 17:01] #4212 closed

[2021-07-21 17:12] marcosmarxm opened #4886 "Backend Contributor Gamification Page"
## Tell us about the problem you're trying to solve
Build the backend for contributor gamification page

## Describe the solution you’d like
Have simple fuctions and workflow that handle without maintainance.
- [x] function extract data from github community pull requests
- [ ] function extract data from github issues/comments
- [x] score calculation
- [ ] function update webflow cms

## Additiona

[2021-07-21 17:13] marcosmarxm opened #4887 "Backend webhook create connector request Webflow"
## Tell us about the problem you're trying to solve
Create a webhook to handle the requests made in the website.

## Describe the solution you’d like
- [x] create google function to receive the request and send to webflow.
- [ ] improve function to create a github issue

## Are you willing to submit a PR?
Yes

[2021-07-21 17:16] bazarnov commented on #4777
Hi, @jamesutton, thank you for your reply.
According to the log and issue it should be related to this line:
`2021-07-21 15:47:04 INFO () DefaultAirbyteStreamFactory(internalLog):110 - Syncing stream: screen_tab_fields `
Which indicates that sync for this stream `screen_tab_fields` did not proceed succesfully.
Please verify the existence of next screen_tab: `https://elevate-data.atlassian.net/rest

[2021-07-21 17:49] cgardens opened #4888 "Standup Cloud API in K8s"
## Tell us about the problem you're trying to solve
@ChristopheDuong finished up the implementation of the cloud API https://github.com/airbytehq/airbyte/issues/4446. We want to be able to stand up that API in K8s and in our cloud infra structure.

## Describe the solution you’d like
* [ ] - it runs in our cloud infra
* [ ] - helm charts

[2021-07-21 17:52] cgardens commented on #4858
This seems like it overlaps with what @tuliren is working on? Is this something in scope for how you're thinking about it? If it is not, can it be?

[2021-07-21 18:07] #4484 closed

[2021-07-21 18:09] cgardens commented on #4695
Should we just do this as a pre-req (or part of) doing oracle CDC?

[2021-07-21 18:11] tuliren commented on #4858
I did created an issue for it: #4872. I did not plan to work on it soon previously. But since it looks more important than I think, I can work on it this sprint. This is not a difficult task.

[2021-07-21 18:11] cgardens commented on #4461
@johnlafleur @avaidyanatha @nataliekwong - Is there any objection to adding sentry to the UI in the OSS product. It should expose frontend errors that people experience. We will definitely want to add this is the cloud version, but I think it can only helpful in the OSS version too.

@sherifnada you might want to weigh in to since you were talking about implementing sentry for connectors or part o

[2021-07-21 18:13] cgardens commented on #4781
@davinchia assigning to you since you are owning it. feel free to reassign if that is wrong.

[2021-07-21 18:15] cgardens commented on #4880
so is the idea that anywhere we do `ConfigSchema` we would take string instead? Is the enum providing any value? Would it be worthwhile to have the implementation of `ConfigPersistence` use String but to layer on top if the enum versions or is that just noise?

[2021-07-21 18:19] avaidyanatha commented on #4461
@cgardens I personally love Sentry and am 100% on board.

[2021-07-21 18:32] #4446 closed

[2021-07-21 18:36] tuliren commented on #2017
M1 support reference: https://docs.docker.com/desktop/multi-arch/

[2021-07-21 18:41] subodh1810 commented on #4695
I think we should do it as a pre-requisite for Oracle CDC

[2021-07-21 18:49] cgardens commented on #4625
In addition to gradle cheat sheet: https://docs.airbyte.io/contributing-to-airbyte/gradle-cheatsheet we want to document CI and logic of how gradle plugs, etc are structured / what they do

[2021-07-21 18:50] ChristopheDuong opened #4889 "Handle file system volume mount in connectors"
## Tell us about the problem you're trying to solve
Source-file, destination-csv, destination-json etc should have a parameter to mount volume where to store/read files instead.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

[2021-07-21 18:50] ChristopheDuong opened #4890 "Init container for seeds"
## Tell us about the problem you're trying to solve

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using today.

## Additional context
Add any other context

[2021-07-21 18:54] cgardens opened #4891 "Schema Evolution Tech Spec"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-07-21 18:59] cgardens commented on #402
not relevant anymore. we should not have "read only" schemas. this was an artifact of weird behavior in singer taps

[2021-07-21 19:06] ChristopheDuong commented on #3520
related to https://github.com/airbytehq/airbyte/issues/4295?

[2021-07-21 19:16] keu commented on #3514
we need to see how it will play with backoff logic

[2021-07-21 19:17] AetherUnbound commented on #4441
Hey again @sherifnada, thanks for tackling all of these tickets! I'm trying this out locally now, and it seems that a newer version of `airbyte-cdk` which has the destination spec hasn't been released to PyPI yet. Do you know if that would be possible or what the timeline on that would be?

[2021-07-21 19:51] michel-tricot commented on #4625
That could be a great blog post!

On Wed, Jul 21, 2021 at 11:50 AM Charles ***@***.***> wrote:

--
*Michel Tricot*
Co-Founder & CEO @ Airbyte <https://airbyte.io/>
+1 415-307-4864
GitHub <https://github.com/airbytehq/airbyte> | LinkedIn
<https://www.linkedin.com/in/micheltricot/>

[2021-07-21 20:01] avaidyanatha opened #4893 "Creating a connection through the destination creation workflow does not work"
## Enviroment
- **Airbyte version**:  example is 0.27.3-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker Desktop
- **Source Connector and version**: Not applicable
- **Destination Connector and version**: Not applicable
- **Severity**: High
- **Step where error happened**: Setting up Connection

## Current Behavior
When trying to connect a source and destination, after destination

[2021-07-21 20:06] avaidyanatha commented on #4893
@cgardens I've been running into this for ages and thought it was just me. Then, a week and a half ago, I saw @michel-tricot run into it too and now I'm suspicious. Do we have an open ticket for this? I'm a little surprised no one has complained about this.

[2021-07-21 20:06] avaidyanatha commented on #4893
cc @marcosmarxm

[2021-07-21 20:26] sherifnada commented on #4441
@AetherUnbound fixed -- there should be a 0.1.6 available on Pypi now. Apologies, it had been released to test Pypi for testing but not to the official one. Can you try again?

[2021-07-21 20:34] AetherUnbound commented on #4441
I was able to install just fine now, thank you!

[2021-07-21 20:50] nataliekwong commented on #4461
No objections from me.

[2021-07-21 21:10] sherifnada commented on #4461
Do you know if sentry is a good fit for uploading potentially large log files? That's the only open question for me -- if not then we'll need to implement something else custom for that, otherwise SGTM

[2021-07-21 21:22] marcosmarxm commented on #3166
This was solved in the new Admin page (+ 0.27.3-alpha)

[2021-07-21 21:22] #3166 closed

[2021-07-21 21:41] mystmaker33 commented on #4181
I am having the same issue trying to replicate a table from a MS SQL Server database to a different MS SQL Server database on the same server. I have found that the max number of rows I can have in the source table is 700. At 701 rows the job fails:
![Airbyte MSSQL Error](https://user-images.githubusercontent.com/17733077/126563835-3b37e567-3d96-4af9-a83f-aac2ce09c4fa.png)

[2021-07-21 21:53] Jamakase commented on #4893
I have faced the same problem a few times before too and I think I know the root cause. Will try to create a fix for it ASAP.

[2021-07-21 22:58] potatozerg opened #4898 "PostgreSQL silent failure bug"
Succeeded
1.13 MB | 1,053 records | 20s | Sync

Part of Log:
2021-07-21 22:54:31 INFO () DefaultReplicationWorker(lambda$getReplicationRunnable$2):220 - Records read: 1000
2021-07-21 22:54:31 ERROR () LineGobbler(voidCall):85 - Exception in thread "main" java.lang.RuntimeException: java.lang.RuntimeException: org.postgresql.util.PSQLException: ERROR: permission denied for table accounts

I'm tryin

[2021-07-21 23:04] sherifnada commented on #4898
@potatozerg can you upgrade to the latest Airbyte version? the silent failure issue has been fixed on it.

[2021-07-21 23:05] sherifnada commented on #4898
Also, it seems like the issue is that the DB user being used for the airbyte sync doesn't have permissions on the `accounts` table. Can you ensure the user has access?

[2021-07-21 23:13] potatozerg commented on #4898
Got it. I saw the issue you referred to, it's a MySQL issue. Thought the fix is only for MySQL. Will try to upgrade, and thanks for the tip!

[2021-07-21 23:23] #4755 closed

[2021-07-21 23:29] #4218 closed

[2021-07-21 23:30] #3499 closed

[2021-07-21 23:30] #3494 closed

[2021-07-21 23:40] #4898 closed

[2021-07-22 00:22] lexcr opened #4899 "kafka"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new connector
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you

[2021-07-22 01:15] sherifnada commented on #4899
duplicate of #2655 and #1855, @lexcr could you add any context to the appropriate issue there?

[2021-07-22 01:15] #4899 closed

[2021-07-22 02:01] #1855 closed

[2021-07-22 02:52] sherifnada opened #4904 "[EPIC] Apply snowflake recommended best practices to Snowflake destination connector"
## Tell us about the problem you're trying to solve
Placeholder for following the directions [here](https://drive.google.com/file/d/1Ftb0AykACbspwFTdv498UC7DQELahmvh/view?usp=sharing)

- [x] #4371
- [x] #10033
- [x] #9907

[2021-07-22 03:44] #1897 closed

[2021-07-22 04:15] sherifnada opened #4905 "Ensure that we have Airbyte devapps for all oauth connectors"
# Context

As we ramp up for Airbyte cloud, we want to offer a seamless Oauth experience as part of Airbyte. A necessary pre-requisite for this is to have an Airbyte dev application on any platforms which support Oauth. Achieving this can greatly vary in complexity depending on the API, as each platform might have different requirements and processes for obtaining a developer app which can be used

[2021-07-22 04:52] johnlafleur commented on #4461
No objections on my side as well.

On Thu, Jul 22, 2021 at 8:10 AM Sherif A. Nada ***@***.***>
wrote:

[2021-07-22 06:47] AlexandruManolache1 opened #4906 "Table List Resets"
Enviroment
- **Airbyte version**:  0.27.3-alpha
- **OS Version / Instance**: Google Compute Engine, VM: n2-standard-2 (2 vCPUs, 8 GB memory)
- **Deployment**: Docker
- **Source Connector and version**: Oracle 0.3.1
- **Destination Connector and version**:    Google Cloud Storage   0.1.0 and Big Query.  -->
- **Severity**: Low
- **Step where error happened**:Setup new connection / Update Connection

[2021-07-22 07:50] sbakiu commented on #4867
It would be very helpful to have all the Airbyte connector configurations tracked on VCS for multiple reasons:
- Changes are tracked and can be reverted after faulty deployments
- The whole infrastructure can be replicated in another environment
- Recover fast from disasters

[2021-07-22 08:44] ChristopheDuong commented on #3931
Is this solvable by adding jdbc_params?

see this comment and linked question:
https://github.com/airbytehq/airbyte/issues/2601#issuecomment-806581028

[2021-07-22 11:31] schenkd commented on #4866
Hey, for all those who are looking for a quick solution I have the following to offer:
* Installs `amazon-ecr-credential-helper` on the host
* Creates a `.docker/config.json` file for example like this:
[code]
* Mount the binary and the config.json into the `airbyte-scheduler` as volume. In a script with sed it could look like this:
[code]

Ready! You could now pull your images from your ECR repo.

[2021-07-22 12:39] #1876 closed

[2021-07-22 12:39] #4401 closed

[2021-07-22 13:37] AlexandruManolache1 commented on #4790
Same behaviour is for GCS as destination connector

[2021-07-22 13:44] vitaliizazmic commented on #4292
@Zirochkaa Quickbooks it's Intuit product. We can use its login and password, which is presented in Lastpass.

[2021-07-22 14:08] nataliekwong commented on #4474
Another response where an improved error message (instead of seeing a runtime error) could help the user's experience with Airbyte:

- The app is awesome as the idea. But I could not manage to make my Shopify integration work. Actually, I tested a lot of scenarios. It works really well for small data sets, but it breaks for huge ones. Most of the time, I just got a weird runtime error after a few

[2021-07-22 15:09] delucca commented on #1860
Trying to contribute regarding this issue, ArgoCD has a pretty good declarative configuration for Kubernetes. They use Kubernetes CRDs to achieve that.

IMHO (at least for Kubernetes) this is the optimal way to handle declarative configurations, because we could write new sources, destinations, and connections as CRD manifests.

[2021-07-22 15:21] davinchia opened #4915 "Follow up on S3 Logging Fix."
## Tell us about the problem you're trying to solve
* Merge https://github.com/bluedenim/log4j-s3-search/pull/101 into OSS upstream.
* Update our dependency version.
* Decide what to do with CloudRepo.

## Are you willing to submit a PR?

Remove this with your answer :-)

[2021-07-22 16:37] jrhizor opened #4916 "use clusterip instead of nodeport"
@davinchia pointed out that this would make more sense for internally-facing kubernetes services.

[2021-07-22 16:41] michel-tricot commented on #4916
can't you keep the nodeport and put an `Ingress` or `LoadBalancer` on top?

[2021-07-22 17:10] jrhizor commented on #4916
It's more the opposite direction.

The db/temporal have `NodePort` when they actually don't need it; clusterIP is sufficient. https://github.com/airbytehq/airbyte/blob/master/kube/resources/db.yaml#L6

For the webapp/api we'll want `NodePort` and then a layer on top.

[2021-07-22 17:22] marcosmarxm commented on #4181
[slack convo with more info](https://airbytehq.slack.com/archives/C01MFR03D5W/p1626798438065500) thanks a lot @mystmaker33

[2021-07-22 17:30] marcosmarxm opened #4919 "Deploy on AWS ECS"
## Tell us about the problem you're trying to solve
From [slack convo](https://airbytehq.slack.com/archives/C019WJFR1JT/p1626955536311700) was commented [Dagster ECS deployment.](https://github.com/dagster-io/dagster/tree/master/examples/deploy_ecs)

## Describe the solution you’d like
Try if it's possible to use Airbyte docker-compose file to deploy on AWS ECS.

## Describe the alternative you’ve

[2021-07-22 17:32] sherifnada opened #4920 "Leverage new enum-like `oneOf` format in all connectors"
## Tell us about the problem you're trying to solve
encapsulates doing the follow up work for https://github.com/airbytehq/airbyte/issues/3385 as described [here](https://github.com/airbytehq/airbyte/issues/3385#issuecomment-868844268) and [here](https://github.com/airbytehq/airbyte/issues/3385#issuecomment-869359000)

[2021-07-22 18:06] JCWahoo opened #4921 "Source Stripe : Use Updated instead of Created for cursor values"
### **Tell us about the problem you're trying to solve**
A number of streams in the Stripe source leverage created fields for incremental sync. This is not great however because it means when a record is updated it is not picked up in the sync.

### **Describe the solution you’d like**
Use updated as the cursor value where available. Note that it appears the value is being returned as type string,

[2021-07-22 18:12] JCWahoo opened #4922 "All Sources : Allow for selection of cursor field for incremental load"
## Tell us about the problem you're trying to solve
When using some source connectors, the cursor fields are predefined. In some use cases, there is a more appropriate cursor the user should be able to select.

Example 1 - Updates to source schema, making a new cursor field available, ie updated in lieu of created
Example 2 - Requirement for ad-hoc execution with a unique cursor, backfill of missi

[2021-07-22 19:11] jacqueskpoty opened #4923 "Shopify source incremental | append not working"
I set up a connection with a Shopify source and json destination. I selected INCREMENTAL | APPEND  as the destination sync mode. It pulls all the data at the first job and attempt which is normal. However for the subsequent jobs, it's syncing part of the data that has already been synced. I added screenshot of the connection settings, the log of the first job and the second job.
<img width="1418"

[2021-07-22 19:51] etsybaev commented on #3549
Still working on attempts to reproduce the issue and code checking, but got some idea why this could happen.
At the current implementation, we write data to temporary tables and on close() method from AutoClosable (if all went well) we move data to final\permanent table.  On a write() method we use the ByteBuffer to collect messages (write( ByteBuffer.wrap(....)) and flush them once reach some lim

[2021-07-22 20:47] sriharivishnu10 opened #4926 "File Source: add Box storage provider"
## Tell us about the problem you're trying to solve
Currently, the file source connector supports file providers such as GCS and S3.

[Box](https://www.box.com/en-ca/home) is also a cloud storage service where users can store/share files (similar to Google Drive)

<img width="1440" alt="Screen Shot 2021-07-22 at 4 42 40 PM" src="https://user-images.githubusercontent.com/80297217/126706935-66fd9614

[2021-07-22 22:57] JianhaoZhang opened #4927 "Shopify integration schema discrepancy (products.json)"
## Enviroment
- **Airbyte version**:  0.27.3-alpha
- **OS Version / Instance**: irrelevant
- **Deployment**: Docker
- **Source Connector and version**: 0.1.10
- **Destination Connector and version**: Irrelevant
- **Severity**: Medium / High
- **Step where error happened**: Create source

## Current Behavior
Currently, the schema/products.json file in the Shopify integration describes the response

[2021-07-22 23:10] jrhizor commented on #4904
related: https://github.com/airbytehq/airbyte/issues/4370

[2021-07-23 00:37] sherifnada opened #4930 "Obtain Appsflyer credentials"
## Tell us about the problem you're trying to solve
A contributor contributed the Appsflyer connector back in the day (singer based) but we have no way of testing it in CI and therefore have not published it. We should get a sandbox account for Appsflyer to be able to run CI on the connector.

[2021-07-23 00:41] sherifnada commented on #4173
Rippling doesn't offer sandbox accounts. Since we can't replicate a test environment for this data, we're putting it on hold.

[2021-07-23 00:42] sherifnada commented on #4004
@cheyura just confirming: did you apply for the partnership application as suggested by Kustomer.io ?

[2021-07-23 00:46] sherifnada commented on #4927
@JianhaoZhang thanks for the report! will take a look

[2021-07-23 01:17] sherifnada commented on #4879
@Balakrishna-maduru great idea. Thanks for creating this issue. If you are interested in contributing it, are you familiar with java?

[2021-07-23 01:47] sherifnada opened #4931 "Obtain and use BambooHR sandbox"
## Tell us about the new connector you’d like to have
https://documentation.bamboohr.com/docs

## Describe the context around this new connector

## Describe the alternative you are considering or using

## Are you willing to submit a PR?

[2021-07-23 01:48] sherifnada opened #4932 "New Source: Braze"
## Tell us about the new connector you’d like to have
https://www.braze.com/docs/developer_guide/home

## Describe the context around this new connector

[2021-07-23 01:52] sherifnada opened #4933 "New Source: Salesforce Marketing Cloud"
## Tell us about the new connector you’d like to have
https://www.salesforce.com/products/marketing-cloud/overview/

## Describe the context around this new connector

## Describe the alternative you are considering or using

[2021-07-23 02:03] sherifnada opened #4934 "New Source: Zoho CRM"
## Tell us about the new connector you’d like to have
https://www.zoho.com/crm/developer/docs/api/v2/

## Describe the context around this new connector

## Describe the alternative you are considering or using

[2021-07-23 02:04] sherifnada opened #4935 "New Source: Workday"
## Tell us about the new connector you’d like to have
Only want the ability to sync custom Workday reports.

https://community.workday.com/api

## Describe the context around this new connector

## Describe the alternative you are considering or using

## Are you willing to submit a PR?

[2021-07-23 02:09] sherifnada commented on #4667
Account created, now we should populate it with data for the connector

[2021-07-23 02:12] sherifnada opened #4936 "Amazon SP: Support (even) more API endpoints"
## Tell us about the problem you're trying to solve

Inventory
Shipments
Vendor Inventory
Vendor Shipments
FBA Inventory
FBA Orders
FBA Shipments

[2021-07-23 02:17] davinchia opened #4937 "Better Logging Tests."
## Tell us about the problem you're trying to solve
Add tests to make sure the various logging configurations log to their supposed destinations.

Follow up to #4914.

## Describe the solution you’d like
This should happen in the `airbyte-workers` integration tests module.

[2021-07-23 02:48] chautran0608 opened #4938 "Google Analytics / Jira / Slack Connector"
## Enviroment
- **Airbyte version**:  0.27.4-alpha
- **OS Version / Instance**: Ubuntu
- **Deployment**: Docker deploy env
- **Source Connector and version**: Google Analytics: 0.2.6 / Jira: 0.2.7
- **Destination Connector and version**: BigQuery 0.3.8
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Failed connections between Google Analytics / Jira and BigQuery

[2021-07-23 04:34] #4852 closed

[2021-07-23 05:23] jrhizor opened #4941 "kubernetes cloud logging doesn't work with AWS GovCloud S3 buckets"
One user wasn't able to use S3 logging with FIPS / AWS GovCloud S3 buckets when setting `S3_MINIO_ENDPOINT=https://s3-fips.us-east-1.amazonaws.com`.

He was getting this error:
[code]

He’s going to use Minio (probably for the foreseeable future), so this feels very low priority. My guess is that the signing region needs to reflect the fips region as well (like `s3-fips.us-east-1`) even though the

[2021-07-23 05:59] sherifnada commented on #4938
@chautran0608 can you post logs so we can reproduce/debug the issue ?

[2021-07-23 06:02] sherifnada commented on #4923
@jacqueskpoty could the issue be explained by https://docs.airbyte.io/understanding-airbyte/connections/incremental-append#inclusive-cursors?

[2021-07-23 06:05] joshualee-ifesworld commented on #4181
bumping into this issue as well, is there a configuration in the airbyte that allows us to limit the amount of rows inserted per batch?

[2021-07-23 06:36] jacqueskpoty commented on #4923
@sherifnada Im not sure. The link you sent explains that the source can still fetch some data in case the cursor field is not granular enough. In this case, "created_at" is used as the cursor field. It's a datetime(date+time+seconds) which is a granular field.
I made a test by downgrading the shopify source to the version 0.1.7 and i did not have that problem. The 0.1.7 used the "updated_at" as cu

[2021-07-23 07:11] keu commented on #3772
https://github.com/dbt-labs/tap-amazon-advertising
https://github.com/singer-io/tap-amazon-ads-dsp

[2021-07-23 07:13] keu commented on #3772
https://docs.google.com/spreadsheets/d/1s-MAwI5d3eBlBOD8II_sZM7pw5FmZtAJsx1KJjVRFNU/edit#gid=0

[2021-07-23 07:59] cheyura commented on #4004
@sherifnada Yes, did it second time to be sure

[2021-07-23 08:03] bazarnov commented on #4069
This issue and many more schema-related issues with source-stripe were fixed in 0.1.14. Please make sure the connector is updated to that version. If already updated - this is the answer why it's working)

[2021-07-23 08:07] keu commented on #3971
solved by #4005

[2021-07-23 08:07] #3971 closed

[2021-07-23 08:25] bazarnov commented on #4923
@jacqueskpoty according to the build recomendation and the general policy described by @sherifnada in the comment above, this is not a bug, but rather feature, as far as we should be 'at least 1 record delivery guarantee' that everything is working and connector access the data properly. In this frustrating situation we can recommend the following:

- use other destination than JSON LOCAL FILE, th

[2021-07-23 09:02] etsybaev commented on #3549
Another finding\assumption, it's not related to the quantity of data in tables, but relates to a number of streams\tables we process at the same time.
Keep trying to run it from integration tests locally. If we create 25 tables and process them at the same time - even adding millions of records to each works fine. But whenever I try to process 30 tables\streams at the same time, it fails pretty fa

[2021-07-23 09:24] #4680 closed

[2021-07-23 09:37] #4588 closed

[2021-07-23 09:39] etsybaev commented on #3549
Hi @andresbravog @flagbug @hendrikjd.
Can I ask you please to clarify what do you see in bigQuery schema when airbyte prints errors in logs, but job is still running? Is there any tmp tables with something like "..._tmp_jqs..." in its name or you something like "..._airbyte_**raw**_...."? Especially for the failed streams\table. Thanks!

[2021-07-23 10:17] Brianlifung opened #4944 "Oracle connector read all tables on ALL schemas under the same DB, not the only schema's table the user id can access"
## Enviroment
- **Airbyte version**:  0.27.3-alpha
- **OS Version / Instance**: Ubuntu 16.04.7 LTS
- **Deployment**:  Docker
- **Source Connector and version**: Oracle DB connector: 0.3.1
- **Destination Connector and version**: Snowflake 0.3.11
- **Severity**:  HIGH
- **Step where error happened**:  Setup new connection

## Current Behavior
Step: Setting source to connect Oracle and Destination t

[2021-07-23 11:25] #4596 closed

[2021-07-23 11:25] #4806 closed

[2021-07-23 13:08] andresbravog commented on #3549
In our case tmp tables are there but not raw ones.

[2021-07-23 13:24] dannob commented on #2977
Just adding a +1 to this request.

[2021-07-23 13:55] bazarnov opened #4950 "Source JIRA: certain stream schemas are not properly defined"
## Enviroment
- **Airbyte version**:  whatever version
- **OS Version / Instance**: whatever OS
- **Deployment**: local deployment
- **Source Connector and version**: JIRA SOURCE CONNECTOR v.0.2.7
- **Destination Connector and version**: POSTGRESS DESTINATION v.0.3.6
- **Severity**: High/Critical
- **Step where error happened**: Sync job

## Current Behavior
The next schemas are not correctly defi

[2021-07-23 14:28] #4828 closed

[2021-07-23 14:33] gaart commented on #4828
@cnpatric

We just merged this fix into master and released a new version of the connector.

Upgrade your connector to version 0.1.2 and get started. To upgrade your connector version, go to the admin panel in the left hand side of the UI, find this connector in the list, and input the latest connector version.

Please let us know if you have any further questions.

Enjoy!

[2021-07-23 14:47] sherifnada commented on #3953
@moosfax could you please reopn this issue if the issue persists? as far as we can tell we can not reproduce this on the new connector version

[2021-07-23 14:47] #3953 closed

[2021-07-23 15:09] jgtvares opened #4951 "Feature Request: Make Airbyte Self Updatable"
## Tell us about the problem you're trying to solve
Today, Airbyte is not self updatable, like we update connectors for example.
So, in order to update we need to download the more recent Docker setup files from Airbyte's repo.

## Describe the solution you’d like
In Airbyte settings we should be able to see if there is a new version of the core app (similar to what we have for connectors today).

[2021-07-23 16:04] oustynova commented on #4648
a contributor created a PR to add the connector

[2021-07-23 16:28] AetherUnbound opened #4952 "Connection creation fails for File source on SSH/SCP/SFTP non-default port"
## Enviroment
- **Airbyte version**:  example is 0.27.1-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: File 0.2.4
- **Severity**: Medium
- **Step where error happened**: Setup new connection

## Current Behavior
*Tell us what happens.*
When making a new connection on SSH, SCP, or (soon to be via #4344) SFTP, the web UI redirects after h

[2021-07-23 16:59] garden-of-delete commented on #3953
I've tested0.1.2 and am getting data for all streams now. thanks for all the hard work!

[2021-07-23 17:26] ChristopheDuong opened #4954 "NPE when reporting syncCPU resource"
A user reported a NPE:

[code]

[2021-07-23 17:50] NicolasWebDev commented on #2940
Maybe there is some update on when this connector is planned to be implemented?

[2021-07-23 18:06] tuliren opened #4955 "Fix flaky auto migration acceptance test"
## Current Behavior
The automatic migration acceptance test is flaky. I think the root cause is that:
- This acceptance test first launches an old Airbyte version, `0.17.0-alpha`.
- This old version is the root cause of the flakiness because it may fail to establish a db connection, since we don't create the database with retry then: https://github.com/airbytehq/airbyte/blob/d88cae9f3e7a9255c1e08a

[2021-07-23 18:36] sherifnada commented on #2940
@NicolasWebDev currently not in the short term roadmap, could you add a 👍🏼 reaction to help us gauge interest?

Alternatively we'd be happy to help you submit this as a contribution if you like

[2021-07-23 19:46] #3385 closed

[2021-07-23 19:46] #4790 closed

[2021-07-23 19:46] #3029 closed

[2021-07-23 20:28] nataliekwong opened #4958 "Adjust OpenReplay snippet on all pages in web app"
## Tell us about the problem you're trying to solve
The OpenReplay snippet installed in https://github.com/airbytehq/airbyte/issues/4614 is actually for the open source version of OpenReplay. Since we are using the hosted solution of OpenReplay and not OSS, we need to adjust the snippet installation.

## Describe the solution you’d like
Remove the existing OpenReplay snippet and replace with the f

[2021-07-23 21:34] potatozerg commented on #3927
@htrueman Hi, I'm still facing this issue:
`@yevhenii-ldv reported:
I had 403 error for Workflows stream with message:
"This hapikey (xxx) does not have proper permissions! (requires any of [automation-access])"`

Is this issue still exist after your PR?

[2021-07-23 22:39] JianhaoZhang opened #4964 "Hubspot connector fails by querying API with wrong API key"
## Enviroment
- **Airbyte version**:  0.27.3-alpha
- **OS Version / Instance**: Ubuntu 18.04 / GCP n.2
- **Deployment**: Docker
- **Source Connector and version**: Hubspot 0.1.5
- **Destination Connector and version**: BigQuery 0.3.8
- **Severity**: Medium
- **Step where error happened**: Sync job / Setup new connection

## Current Behavior
The Hubspot connector uses an API key under a specific ac

[2021-07-24 01:09] #4923 closed

[2021-07-24 10:22] jbowlen commented on #4745
I have created a CSV file locally with the destination connector "local CSV". This 55 GB file was split into 28 files and gz compressed, uploaded to GCS and imported to Snowflake.
The import process took 6 minutes.

I saw that there is a "best practice" issue (#4904). Possibly this issue will be covered there as well.
![sfsql_gz](https://user-images.githubusercontent.com/24651347/126865566-79bd33f

[2021-07-24 21:12] #4927 closed

[2021-07-24 22:01] #4634 closed

[2021-07-25 10:15] charlesmiao opened #4971 "oracle hyperion essbase"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new connector
* Which team in your company wants this integration, what for? This helps us understand the use case.
* How often do you

[2021-07-25 18:33] apostoltego opened #4974 "Linnworks ERP"
## Tell us about the new connector you’d like to have

[Linnworks.net API](https://apps.linnworks.net/Api) connector.

* Which source and which destination?
Linnworks API as the source. Postgres and Redshift destination.

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
N/A Latest is fine

## Describe the conte

[2021-07-25 18:55] carloslme opened #4975 "DEADLINE_EXCEEDED StatusRuntimeException"
## Enviroment
- **Airbyte version**:  0.27.0-alpha
- **OS Version / Instance**: Ubuntu, 20.04 LTS
- **Deployment**: Docker
- **Source Connector and version**: MySQL 0.4.0
- **Destination Connector and version**: S3 0.1.9
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
GA connector fails with DEADLINE_EXCEEDED exception

## Expected Behavior
GA connector sync suc

[2021-07-25 20:45] karinakuz commented on #2534
Questionnaires
Vetting 
API Sources
 
## Integration Vetting

**Webhook-based? (no/partially/yes)**

?

**Available authentication modes (API key/Oauth/other)**
OAuth 2.0

**Connecting to the data source**

REST

The Stack Exchange provided javascript library is intentionally small and minimalistic. If you're looking for simple client side authentication it will probably meet your needs, for more 

[2021-07-25 21:25] karinakuz commented on #2534
**Preparation**

 **Creating the account**
[ ] create an account, get Client Id, Client Secret, Key (30m) 

 **Generating access credentials to the account**
[ ]  in Postman authorize user via OAuth 2.0, get code  and create Access Token that can be used to access the API (1h)

[2021-07-26 04:27] tuanchris commented on #4938
@sherifnada I'm having the same issue as well.

[2021-07-26 04:30] Boopathy-Raja commented on #4286
Update @Boopathy Raja in Slack once this issue is done.

[2021-07-26 05:33] #4858 closed

[2021-07-26 08:44] Zirochkaa commented on #4841
Scoping:

- [ ] Look through each stream and change the type of field from `"string"` to `"number"` where field is actually a number (4-5 h because, at least for me, Shopify docs are very laggy and slow)
- [ ] Create `transform()` function and apply it on each record in `ShopifyStream.parse_response()` and `IncrementalShopifyStream.filter_records_newer_than_state()` functions (~2h)
- [ ] Check tha

[2021-07-26 09:22] Zirochkaa commented on #4827
I can't reproduce this bug because of the following error:

![image](https://user-images.githubusercontent.com/19872253/126965480-edbe22c3-10e4-4b47-8309-732c57439f27.png)

The above error was also occurring in [these 3 failed builds](https://dnsgjos7lj2fu.cloudfront.net/tests/summary/source-facebook-marketing/):
<img width="965" alt="image" src="https://user-images.githubusercontent.com/19872253/

[2021-07-26 09:32] cheyura commented on #4930
@sherifnada Here is the quote from support(when asking about sandbox):
"I will be happy to assist you. The answer is no. We allow our advertisers to use the production environment for both development and store builds. The best way to separate tests is testing through specific media source for tests versions. You may also download the raw report and filter by media source / app version."

[2021-07-26 10:05] Zirochkaa commented on #4827
I had to change few things in order to run tests and all tests passed, see [screenshot](https://github.com/airbytehq/airbyte/pull/4978#issue-696866063). Also I linked a PR with changes I made to tests. So I can't reproduce this issue.

[2021-07-26 12:47] sbakiu commented on #4954
I am also receiving the following error while saving custom `dbt` transformations.
Version: `0.28.0-alpha`

[2021-07-26 13:01] antixar commented on #3513
Hi,
I propose the following improvement of the AirByte protocol for monitoring of progress synchronization statuses:
We need to add a new message type (e.g. PROGRESS_STATUS) or add the new field 'progress_status' to the type 'STATE'. This message must be sent periodically and I think these notices can be combined with STATE changes. This message should nclude:
[code]
total_chunk_count and loaded_c

[2021-07-26 13:21] Zirochkaa commented on #4827
I commented out `validate_schema: no` line in `acceptance-test-config.yml` file and still wasn't able to reproduce this issue.

![image](https://user-images.githubusercontent.com/19872253/126995634-c3fc0a6d-76c9-4fa4-8937-1acf10e2ebf2.png)

[2021-07-26 13:33] danieldiamond commented on #2170
+1 this one would be ace

[2021-07-26 13:34] danieldiamond commented on #4159
and snowflake. this one would be seriously valuable to us

[2021-07-26 14:02] caiopedroso commented on #2017
Hey guys! We are deciding on our primary connector, I'm advocating on airbyte, but all our engineers have an m1 at this moment, a possible solution to this would help a lot, do we have an eta?

[2021-07-26 14:20] sherifnada commented on #4975
@jrhizor FYI as this seems to be an issue in the scheduler

[2021-07-26 14:41] sherifnada opened #4979 "Python modules: Remove the need for adding dummy tests for CI"
## Tell us about the problem you're trying to solve
Our gradle python plugin [automatically adds a task for running pytest](https://github.com/airbytehq/airbyte/blob/master/buildSrc/src/main/groovy/airbyte-python.gradle#L88) if any python module has a `unit_tests` or `integration_tests` directory. However, if there are no tests in that dir, pytest [exits with exit code `5`](https://github.com/pyte

[2021-07-26 14:44] #4836 closed

[2021-07-26 14:44] sherifnada commented on #4930
@cheyura is it possible to get a production account that we populate with fake data then? Or is this basically saying "unless you have a production account and are running real campaigns, you can't test" ?

[2021-07-26 14:45] etsybaev commented on #3549
Hi there. Still experiencing some issues with reproducing this bug and understanding the root cause.

Already even tried to upload 600'000'000 to few big query tables, but it didn't fail
![Selection_272](https://user-images.githubusercontent.com/4688354/127007374-3541f857-3436-4ffb-b487-f7a243df8ae5.png)

Gently asking for those who can reproduce it to attach
1.Full logs (from the very beginning t

[2021-07-26 14:45] sherifnada commented on #4938
@tuanchris can you post logs?

[2021-07-26 14:48] yevhenii-ldv commented on #4921
Scoping report:
  1. We cannot use `updated` instead of `created`, since the API from Stripe allows filtering only by the `created` field (for example, stream [Subscription Items](https://stripe.com/docs/api/subscription_items/object)).
  2. The `updated` field does not exist for most streams, we need to remove it from the schemas.
  3. It is necessary to correct the data types for some streams, a

[2021-07-26 15:48] sherifnada opened #4982 "OAuth implementation testing spec"
## Tell us about the problem you're trying to solve
We need to have a way for verifying that oauth implementations with our Airbyte apps are working correctly. We'll need integration tests which, given Airbyte's app ID /client secret for each connector, perform an auth flow and verify it succeeds.

## Describe the solution you’d like
An integration test for each connector which verifies that given

[2021-07-26 15:59] sherifnada opened #4984 "Handle APIs which emit numbers as strings"
## Tell us about the problem you're trying to solve
Some APIs like Facebook or Shopify output numbers as strings e.g: #4827 and #4841 This probably happens in more APIs as well.

Given that this is probably a ubiquitous issue we should have a simple and easy way to handle it.

There are some options here:
1. In the catalog type definition for such fields, add an annotation e.g: `airbyte_type_hint:

[2021-07-26 16:04] keu opened #4985 "CDK: add private configuration option `_limit` and `_page_size`"
## Tell us about the problem you're trying to solve
Sometimes we want to test connectors without reading the whole stream, but just read the few records that will be enough to test read (incremental and full) and pagination logic.

## Describe the solution you’d like
Add two configuration options (implemented on CDK level to make it generic):
- `_limit` - source will use it as a read maximum for e

[2021-07-26 16:16] keu commented on #4984
1. we can just use existing json_schema field `airbyte_type_hint` -> `format`

[2021-07-26 16:39] cgardens commented on #3673
The first part of this is done. We have an upgrade button that links to docs. The second part of integration beamer still needs to be done. That's on me to understand what that entails first. Adjusting priority for now too since other cloud tasks are taking priority.

[2021-07-26 16:41] cgardens commented on #4893
I agree that this is a bug that we should fix quickly. Going to say that we should still focus on cloud stuff on top of it.

[2021-07-26 16:49] tuliren opened #4989 "Support basic normalization for MySQL 5.x"
## Tell us about the problem you're trying to solve
- Currently MySQL basic normalization relies on the `WITH` keyword, which is only available for 8.0 or later versions.
- But we have seen a few requests about supporting basic normalization for older MySQL versions.

## Describe the solution you’d like
- Replace `WITH` with something else.

## Describe the alternative you’ve considered or used
-

[2021-07-26 16:52] jrhizor commented on #4954
I just put up a PR https://github.com/airbytehq/airbyte/pull/4988 to address the logging of this error.

However, the stacktrace @ChristopheDuong is sharing above is a caught exception that is only being logged for debugging purposes. It shouldn't actually impact sync completion.

@sbakiu there is likely another exception causing the error you're seeing. Please create a ticket or post on Slack wit

[2021-07-26 17:04] jrhizor commented on #4975
I think we've only seen this issue when the machine is either at max disk capacity or really low on memory.

@carloslme what is your VM disk usage / memory usage like when you encounter this error?

[2021-07-26 17:28] sherifnada commented on #2977
@dannob which data would you like to pull from pendo? this helps us know which endpoints to support

[2021-07-26 17:42] #3698 closed

[2021-07-26 18:25] cgardens opened #4992 "`AirbyteTestContainer` assumes port 8001 instead of taking it as an arg"
## Current Behavior
* `AirbyteTestContainer.java` assumes port 8001 instead of taking it as an arg. This is fine right now because all tests just run Airbyte on port 8001. This will bite us when someone tries to write a test that runs on a different port. Should be relatively straightforward to pass in the port. The only trick of it is figuring out where the port is set in the env.

[2021-07-26 18:56] #4429 closed

[2021-07-26 19:52] keu commented on #4827
Ok, it seems our config bypass the dates with records, so all problematic streams are empty. To reproduce this use the following config:
[code]

[code]
in the end
[code]

[2021-07-26 20:01] marcosmarxm opened #4993 "Source Bigquery: `com.google.cloud.bigquery.BigQueryException: Arrays of arrays are not supported at`"
## Enviroment
- **Airbyte version**:  example is 0.27.4-alpha
- **OS Version / Instance**: Not informed.
- **Deployment**: Docker
- **Source Connector and version**: BigQuery 0.1.0
- **Destination Connector and version**: AWS S3 0.1.9
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Sync job

## Current Behavior
BigQuery connector failed if table has a

[2021-07-26 20:13] sherifnada commented on #3732
This just got bumped into high priority because we reached the max secrets limit on github

[2021-07-26 20:15] marcosmarxm commented on #4952
@Jamakase do you have an opinion on this issue?

[2021-07-26 20:21] keu commented on #4827
@Zirochkaa  please check this PR to get the idea
https://github.com/airbytehq/airbyte/pull/4994

[2021-07-26 20:30] karinakuz commented on #2534
**Populating the account with data**
Create in Postman API requests for Questions and Answers creation.

Stack Exchange sites take question/answer quality seriously, and many checks are run on the actual websites that can require various user actions be taken. In the API, any "low quality" checks that are triggered cause the write request to fail. This includes situations where a CAPTCHA or guidan

[2021-07-26 21:03] sherifnada commented on #2534
@karinakuz thanks! I think we don't need to populate with data since we can pull actual questions on the live website. WDYT?

[2021-07-26 21:20] tuliren commented on #4955
Patch branch: https://github.com/airbytehq/airbyte/tree/liren/patch-v0-17-0

[2021-07-26 21:21] #4954 closed

[2021-07-26 22:56] jrhizor opened #4998 "cloud auth testing"
- [ ] test the auth filter in isolation
- [ ] test the `SecurityContext` injection into the wrapped `ConfigurationApi` (can be accomplished with what's available from https://github.com/airbytehq/airbyte/pull/4928)
- [ ] add e2e authorization tests

[2021-07-26 22:57] jrhizor opened #4999 "create CloudEnvVars"
- [x] create a `CloudEnvVars` equivalent of `EnvVars` that allows configuring things like cloud api URLs
- [x] use this to inject client access into the cloud and wrapped oss apis

[2021-07-26 22:58] jrhizor opened #5000 "support service users in airbyte cloud"
We should have a cloud API service user that is granted access to the wrapped OSS api. This should be initialized on startup and set at configuration time.

[2021-07-26 23:00] jrhizor opened #5001 "create health endpoint for cloud server"
- [x] add the endpoint to the config.yaml
- [x] create the implementation
- [x] add this to `AirbyteCloudApi`

[2021-07-26 23:05] jrhizor opened #5002 "allow listing connections for workspace without iterating through all connections"
Right now `ConnectionsHandler.listConnectionsForWorkspace` computes the connections for a workspace by reading all connections and then filtering to find ones that match the specified workspace.

This is obviously inefficient and will likely cause performance problems in the future.

The main issue behind this is that we need the ability to store or index the connections by workspace, which is non

[2021-07-26 23:06] jrhizor opened #5003 "prevent adding custom operations in airbyte cloud on the backend"
This is a temporary stopgap in the wrapped oss api until we add proper sandboxing around custom containers.

[2021-07-26 23:08] jrhizor opened #5004 "allow airbyte api to list workspaces for authed cloud users"
Right now we block access to listing workspaces completely. We should allow the endpoint to list all workspaces that the user has access to.

[2021-07-26 23:11] jrhizor opened #5005 "publish JAR to cloudrepo.io as part of the release process"
Uploading the versions manually via the api isn't going to last. We should document how to configure auth for publishing to cloudrepo.io and use that in the `release_version` script.

[2021-07-26 23:11] jrhizor commented on #5005
@davinchia will you have time to look into this?

[2021-07-26 23:14] michel-tricot commented on #5003
for these type of modifications, we need to make sure we properly propagate the reason to the UI. "Coming soon" or smth like that

[2021-07-27 01:47] davinchia commented on #5005
yes sir!

[2021-07-27 01:55] #2980 closed

[2021-07-27 02:18] Brianlifung opened #5011 "can we add parameter "-Doracle.jdbc.fanEnabled=false" on Airbyte due to the issue "LineGobbler(voidCall):85 - SEVERE: attempt to configure ONS in FanManager failed with oracle.ons.NoServersAvailable: Subscription time out""
## Enviroment
* **Airbyte version**: 0.27.3-alpha
* **OS Version / Instance**: Ubuntu 16.04.7 LTS
* **Deployment**:  Docker
* **Source Connector and version**: Oracle DB connector: 0.3.1
* **Destination Connector and version**: Snowflake 5.29.1
* **Severity**:  Medium
* **Step where error happened**:  Setup new connection

## Current Behavior
Setting source to connect Oracle and Destination to Sno

[2021-07-27 04:05] #4955 closed

[2021-07-27 04:05] #4916 closed

[2021-07-27 05:41] dexterzhou opened #5018 "/api/v1/source_definition_specifications/get error 500"
## Enviroment
- **Airbyte version**:  0.28.1-alpha
- **OS Version / Instance**: centos 7
- **Deployment**: Docker
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / Low / Medium / High / Critical
- **Step where error happened**: Deploy / Sync job / Setup new connecti

[2021-07-27 05:46] davinchia opened #5019 "Move all logging related code into it's own module."
## Tell us about the problem you're trying to solve
Move all logging related code in `io.airbyte.config.helpers` into it's own module for better clarity.

[2021-07-27 06:30] Zirochkaa commented on #4827
@keu which config do we have in GitHub secrets for Facebook Marketing source?

[2021-07-27 07:44] AlexandruManolache1 commented on #4944
hello,
this is very much the same with #4906
we need also also OLAPSYS, APEX_200200 to be excluded.Or make it configurable somehow.

[2021-07-27 07:49] davinchia commented on #5018
@dexterzhou can you describe your steps so we can reproduce this?

[2021-07-27 07:54] Brianlifung commented on #4944
![image](https://user-images.githubusercontent.com/87856189/127117020-5d4168a5-7c19-47d1-9453-00ffd240e986.png)

there are many schema on our Oracle DB, if no way to filter out then hit the issue #3943

[2021-07-27 07:58] AlexandruManolache1 commented on #4944
yes, i agree @Brianlifung

[2021-07-27 08:16] davinchia commented on #4781
we are going to shift this to after all the frontend work for cloud is done

[2021-07-27 08:17] davinchia commented on #4781
e.g. #5003 , #4711

[2021-07-27 08:48] #4884 closed

[2021-07-27 09:48] davinchia commented on #4483
@jrhizor what is left for this?

[2021-07-27 10:33] irynakruk commented on #4746
Hi @sherifnada and @subodh1810 ,

As you know I was able to reproduce this OOM error locally.
I've tried to fix this issue with Debezium configuration parameters, unfortunately it didn't help, so after deeper investigation I found out that in order to process big JSON blobs it is recommended to use wal2json plugin instead of pgoutput plugin.
I've changed configuration to wal2json plugin and replic

[2021-07-27 10:47] esenilsson opened #5022 "Research/POC: Using xmin in PostgreSQL-connector to do incremental updates without CDC"
## Tell us about the problem you're trying to solve
I want to do incremental updates from Postgresql to Snowflake, but struggle to do so. I have a postgresql database where I am not able to use CDC or any type of replication. In addition I have no "updated_at" column or similar.

## Describe the solution you’d like
I suggest a solution that Fivetran also has. As I understand it, the idea is to do

[2021-07-27 11:48] htrueman commented on #4936
**Product Requirements & features**

1. What is the “ideal end state” for the features offered by this connector? At a minimum mention:
a. Output schema
_All schemas are [documented](https://github.com/amzn/selling-partner-api-models/tree/main/models) with swagger._
b. Authentication
_AWS users complicated auth system, which is documented [here](https://docs.aws.amazon.com/general/latest/gr/signin

[2021-07-27 12:12] gaart commented on #4779
/test connector=connectors/source-hubspot

[2021-07-27 15:33] #4979 closed

[2021-07-27 16:02] DoNotPanicUA commented on #1876
The latest state of the comprehensive tests after #4981

|**Data Type**|**Insert values**|**Expected values**|**Comment**|**Common test result**|
|----|----|----|----|----|
| int64 | `null`, `-128`, `127`, `9223372036854775807`, `-9223372036854775808` | `null`, `-128`, `127`, `9223372036854775807`, `-9223372036854775808` |  | Ok |
| int | `null`, `-128`, `127` | `null`, `-128`, `127` |  | Ok |
| s

[2021-07-27 16:06] vbhakta8 commented on #4993
The OS is AL2, if that matters. This issues was originally reported by me in the Slack community. Thanks for creating the issue 🙏.

[2021-07-27 16:21] tuliren opened #5030 "Json / Avro schema converter should support `$ref` and remote URLs"
## Tell us about the problem you're trying to solve
As title.

Slack [thread](https://airbytehq.slack.com/archives/C019WEENQRM/p1627245078241300).

[2021-07-27 16:39] annalvova05 commented on #3936
Google Sheets API does not have the ability to support full incremental sync.

**Incremental SYNC OPTIONS:**
(**API side**) sync only new rows:
https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets.values/get
stream_state = {‘row_number’: ‘<last_row_number>’}

Pros:

Cons:

(**API side**) sync with filter based on user-specified cursor_field (column):
https://developers.google.co

[2021-07-27 17:27] #4993 closed

[2021-07-27 17:51] sherifnada commented on #3936
@wallies do you have any preferences on the options above? I think we're leaning towards option 1 but it still comes with asterisks i.e: if you rearrange rows for any reason then you might incur data loss.

[2021-07-27 18:03] sherifnada opened #5032 "CDK: Support GraphQL streams more seamlessly"
## Tell us about the problem you're trying to solve
The Python CDK's HttpStream abstraction is geared heavily towards REST, RPC, and SOAP APIs. While it's possible to hit a GraphQL API using the HttpStream abstraction, the experience can be made even more seamless. As a connector developer pulling data from a graphQL API, I would love to have a framework/helper similar to HttpStream (maybe `GraphQ

[2021-07-27 18:11] tuliren opened #5033 "Refactor base-normalization and separate the normalization for each destination"
## Tell us about the problem you're trying to solve
- This is an idea from @marcosmarxm.
- Currently basic normalizations for all destinations are combined in same functions.
- This makes it difficult to add normalization for new destinations.
- A better organization of the code is:
  - For each destination, all the normalization code live in one file (or a few files), separate from other destinat

[2021-07-27 18:18] carloslme commented on #4975
@jrhizor , when we encounter the error the VM disk usage was 24%, and the memory usage 90%.
We resized the instance to give it more resources, once done, and although the instance was ready, Airbyte was not able to continue working as expected, all the connectors failed with the three attempts. The sending of the information continues to fail so far.

[2021-07-27 19:07] zzstoatzz commented on #928
@sherifnada in this same vein, syncs do not fail when the configured snowflake role does not have the correct privileges to access a given schema/table. From what I've seen, it hangs indefinitely with status `Running`. Here are the logs from a run where I saw this - let me know if I can provide more context.

[logs-3-0.txt](https://github.com/airbytehq/airbyte/files/6888046/logs-3-0.txt)

[2021-07-27 19:59] sherifnada opened #5036 "Source Github: implement client-side throttling of requests"
## Tell us about the problem you're trying to solve
related to #2742

Sometimes a user wants to use up only N% of their API quota. For example, GH allows only 5000 requests per hour, and the token may be shared between Jenkins and Airbyte. in that case the user doesn't want Airbyte to use up more than say 30% of the quota so it doesn't block jenkins.

## Describe the solution you’d like
A paramete

[2021-07-27 21:52] #4344 closed

[2021-07-27 22:50] tuliren commented on #3549
This feels like the OOME is caused by too many big query writers. The S3 destination had similar problem before.

We use a separate writer for each stream (the `writeConfigs` in `BigQueryRecordConsumer`), and each writer can take up a fixed number of memory. So naturally when there are too many streams, they need more than the fixed memory allocated to them. It's worth checking the memory usage of

[2021-07-27 22:57] tuliren commented on #3549
Sorry, I replied too soon. What I mentioned above is already included in your investigation. #5029 looks like a good solution.

Alternatively, we can automatically decrease the chunk size if there are many streams.

[2021-07-27 23:12] wallies commented on #3936
@sherifnada I was thinking Option 1 would be a good place to start. Although thinking about it more, what I was actually thinking when raising this was more Option 2, as we have partials in google sheets, that get updated, so would be better to sync on a modified date, which is a column.

[2021-07-28 00:38] jrhizor opened #5038 "make namespaceDefinition a required field of StandardSync"

[2021-07-28 00:43] avaidyanatha commented on #5000
Issue/PR 5000 🎉

[2021-07-28 00:43] jrhizor commented on #4975
Would you mind providing logs for the database and the temporal pod?

[2021-07-28 00:45] jrhizor commented on #5000
😮

[2021-07-28 05:26] #2376 closed

[2021-07-28 05:26] #2692 closed

[2021-07-28 05:28] #432 closed

[2021-07-28 05:28] #1636 closed

[2021-07-28 05:44] tuliren commented on #2017
Hey @caiopedroso, thank you for letting us know. There is an increasing number of requests for making Airbyte work on M1. We are evaluating if we can prioritize this issue any time soon. Will provide an update soon (probably this Thursday).

[2021-07-28 06:55] johnlafleur commented on #4760
Design suggestion: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=25296%3A0

[2021-07-28 08:16] mk556 commented on #3525
Hello. I am getting `source_facebook_marketing.common.JobTimeoutException: AdReportRun` error while running the sync for Facebook table `ads_insights`. Details are as follows :

airbyte version : 0.27.4-alpha
Source connector version : Facebook - 0.2.14
destination : Bigquery - 0.3.7
underlying infrastructure : EC2 instance (r5.large - 2vCPU, 16G mem)
tables : ads_insights
start_date : 2020-07-01

[2021-07-28 10:14] Zirochkaa opened #5045 "🚀 Source Chargebee: Expand endpoint support"
## Tell us about the problem you're trying to solve

[Let's add support](https://github.com/airbytehq/airbyte/issues/4265#issuecomment-875329507) for the following endpoints if possible:

- Items
- Item prices
- Attached Items

This way we maintain backward compatibility and use the newest API version.

[2021-07-28 10:15] ChristopheDuong commented on #4880
While Implementing the refactoring, it seems we need a few methods/fields from `ConfigSchema` so it is not just replacing the enum value with a simple string but an object (interface) instead

I'm not sure if we need some kind of versions in there...

[2021-07-28 10:16] Zirochkaa commented on #5045
Here is a [link](https://github.com/airbytehq/airbyte/issues/4265#issuecomment-875310889) to vetting for Chargebee connector.

[2021-07-28 10:34] ChristopheDuong opened #5047 "Releasing a new Airbyte version should bump the cloud-repo"
## Tell us about the problem you're trying to solve
Maybe using https://dependabot.com/?

[2021-07-28 10:43] davinchia opened #5048 "Use Gradle Catalogs to sync general versions between OSS and Cloud."
## Tell us about the problem you're trying to solve
Use https://docs.gradle.org/current/userguide/platforms.html#sub:central-declaration-of-dependencies to share dependencies from Airbyte OSS to Airbyte Cloud. This will prevent us from duplicating Gradle configurations (this is what we do today) and make sure we stay as close to OSS as possible.

[2021-07-28 10:44] #5005 closed

[2021-07-28 10:47] davinchia commented on #4888
this is linked to https://github.com/airbytehq/airbyte-cloud/issues/81

[2021-07-28 11:01] #4880 closed

[2021-07-28 11:21] #4862 closed

[2021-07-28 12:21] #4921 closed

[2021-07-28 12:27] yevhenii-ldv commented on #4921
Hi @JCWahoo
I investigated your request, described the solution to your problem above, and also in this [PR](https://github.com/airbytehq/airbyte/pull/4980) (which has just been merged into the master branch) you can see an update of the documentation for the Stripe source (`stripe.md`), in which an explanation related to your request has been added to the notes.

Please let us know if you have an

[2021-07-28 13:06] subodh1810 commented on #4746
@irynakruk can you explain what was the root cause behind the OOM? Also changing from pgoutput to wal2json seems like a big task. Will it be backward compatible (will existing connectors continue to sync data if we make a change from pgoutput to wal2json)? Also cant we reduce the queue size [here](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/debezium/src/main/java/io

[2021-07-28 13:15] JCWahoo commented on #4921
Understood on not being able to use that field as a cursor, but why are we
removing it completely?

On Wed, Jul 28, 2021 at 8:27 AM Yevhenii ***@***.***> wrote:

[2021-07-28 13:24] JCWahoo opened #5050 "Use SUPER data type on Redshift destination for raw JSON data"
## Tell us about the problem you're trying to solve
I'd like the option utilize the SUPER column type when loading data to a Redshift destination. https://docs.aws.amazon.com/redshift/latest/dg/r_SUPER_type.html

## Describe the solution you’d like
Allow for checkbox selection on either the destination or connection to utilize SUPER data type as the target for the column _airbyte_data. Experimenti

[2021-07-28 13:42] yevhenii-ldv commented on #4921
I read the documentation, did test runs of the connector and determined that the "updated" field does not exist at all, the Stripe API does not return such a field to us at all, it was mistakenly added to the schemas.

[2021-07-28 13:43] JCWahoo commented on #4921
Thank you for the clarification.

On Wed, Jul 28, 2021 at 9:42 AM Yevhenii ***@***.***> wrote:

[2021-07-28 14:00] #4729 closed

[2021-07-28 14:14] keu commented on #3525
Hi @mk556 , thanks for your report!
I don't think your case is related to call rate, so may I ask you to create a separate issue for it?
Also, AFAIK, we can't do much about solving timeout exceptions because this is a FB limitation, in general, it is not recommended to use Account level Insights. But we are actively working on one feature that should allow selecting only specific fields thus makin

[2021-07-28 14:17] mhamas opened #5052 "Implement Apify Dataset Connector"
## Tell us about the problem you're trying to solve
Importing data from Apify (www.apify.com) to Airbyte

## Describe the solution you’d like
Create a new connector for downloading dataset from Apify (www.apify.com)

## Additional context
Add any other context or screenshots about the feature request here.

## Are you willing to submit a PR?
Yes, I will be working on the initial implementation.

[2021-07-28 14:27] #4787 closed

[2021-07-28 15:31] jrhizor commented on #5047
How were you thinking of this? It would create a PR with the changes and we would make merge-related changes directly in that PR.

[2021-07-28 15:37] karinakuz commented on #2534
Populating the account with data
* [ ] Do activities on the account: open/close 10 times, change profile data, create API queries in Postman to add data to account (questions/answers), get this data from the account, add question manually to  enhance the reputation and read the entire tour page to earn the badge (moderator's actions), follow posts. Create API for main streams and verify I get in r

[2021-07-28 15:39] davinchia opened #5053 "[EPIC] Publish OSS jars"
This issue is an epic that tracks various tasks around jar publishing in OSS. Each task will be (or already is) its own issue.
- [x] - With each new release of OSS, each module in OSS should publish a new version of a jar to maven.
- [x] - Cloud should depend only on the Jars it needs (right now it just depends on server to slurp up all other dependencies)
- [x] - Handle issue where jar names in C

[2021-07-28 15:43] ChristopheDuong commented on #5047
yes

1. we release airbyte version
2. dependabot detect a version change in the dependencies of airbyte-cloud
3. dependabot opens a pull request in the airbyte-cloud repo to upgrade airbyte version to the latest released one
4. we review and merge it into master of airbyte-cloud

Step 4 can be automatically approved/merged if you want to keep them strongly in sync since we probably can trust what

[2021-07-28 16:35] #4341 closed

[2021-07-28 16:43] #4950 closed

[2021-07-28 18:09] cgardens commented on #4485
this should be blocked anymore. reach out to @jrhizor &  @davinchia with any questions in #_dev_platform_and_cloud in slack.

[2021-07-28 18:28] #4715 closed

[2021-07-28 18:28] #4483 closed

[2021-07-28 18:28] sherifnada opened #5057 "Source S3: Support Parquet format"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and conc

[2021-07-28 18:33] marcosmarxm opened #5058 "Investigate Destination Redshift CI failure"
## Enviroment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / Lo

[2021-07-28 18:42] keu commented on #5032
@sherifnada an example would be a nice addition

[2021-07-28 18:56] cgardens commented on #4890
@tuliren i think there may be one more step to getting rid of the init container (other than what is already stated in this issue). the init container is where filesystem mounts get set up for connectors that need to access the filesystem directly. @ChristopheDuong pointed out in this issue: https://github.com/airbytehq/airbyte/issues/4889 that we could change this to happen in the `DockerProcessF

[2021-07-28 19:23] #4799 closed

[2021-07-28 19:23] #4958 closed

[2021-07-28 19:50] #3916 closed

[2021-07-28 22:38] cgardens opened #5061 "Add tests for ServerApp.java"
## Tell us about the problem you're trying to solve
This is arguable one of the most important classes in our codebase. Over time it has ended up picking up a lot of control flow logic. e.g. do migrations need to be run? or e.g. do we need to create a workspace? It is fine that it has accumulated this logic, but given the important we should have unit testing in place so that we don't introduce re

[2021-07-28 23:22] hbd commented on #2017
Just confirming that running Airbyte on my M1 is not working. Short version of my experience:
1. The primary issue is uptime/reliability of the services. I have seen the Airbyte services successfully run a couple times, where I could access the dashboard or use the API. However, it always crashes within a few minutes of starting.
2. The `airbyte-temporal` service times out while trying `Waiting fo

[2021-07-28 23:59] #4716 closed

[2021-07-29 01:05] davinchia commented on #4485
* should not

[2021-07-29 03:28] fredpinchon commented on #4370
The direct access method is way too slow beyond a couple hundred records. Beyond the technical arguments presented above, that is, Snowflake's own recommendations, a lot of teams don't have access to S3 buckets, or just can't bother to manage one, having to go through security loops and red tape hassles.  A Snowflake Internal Stage method is critical for the adoption of Airbyte at Snowflake accoun

[2021-07-29 04:52] dexterzhou commented on #5018
docker version issues.

[2021-07-29 04:52] #5018 closed

[2021-07-29 05:29] Balakrishna-maduru commented on #4879
Sorry to say I am not good in java :(

[2021-07-29 06:08] davinchia commented on #5053
@jrhizor and I were talking today and he feels that using snapshots might cause more harm than good from the shifting nature of snapshot. e.g. Snapshot is initially at git hash `a` and works fine for the local Cloud repo. Another dev merges to master and causes the snapshot to advance to git hash `b`. This merge breaks the local Cloud work, leaving the engineer confused.

One alternative is to use