[2022-10-11 09:27] bazarnov commented on #17673
@YowanR This issue is not confirmed yet. Please do not add issues to the active Epics taken in work, as we cannot plan it properly and finish in time. Thanks.

[2022-10-11 09:33] andnig commented on #17819
@lluisgassovillarejo just to make sure: Are the syncs running? Could it be, that your worker crashed? I updated to 0.40.10 and my worker kept crashing - this resulted also in having "No logs available". See #17595 for the issue.

[2022-10-11 09:39] andnig commented on #17595
The issue was resolved by updating to 0.40.14. Closing for that matter.

[2022-10-11 09:39] #17595 closed

[2022-10-11 10:10] edmundito opened #17823 "Update connection streams table design"
Update the connection streams table design to match the updated design [seen in the prototype](https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?node-id=972%3A36212&scaling=min-zoom&page-id=972%3A36208&starting-point-node-id=972%3A36212&show-proto-sidebar=1) with the following constraints:

1. Keep the expandable field list instead of popping up a new view. Moving the field list

[2022-10-11 10:10] octavia-squidington-iv commented on #17823
cc @airbytehq/frontend

[2022-10-11 10:12] edmundito opened #17824 "Extract stream fields table into detail view panel"
Move the stream fields table from expand/collapse into its own panel as shown in the design:

https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?page-id=857%3A24319&node-id=865%3A52984&viewport=124%2C-519%2C0.25&scaling=min-zoom&starting-point-node-id=865%3A52984&show-proto-sidebar=1

[2022-10-11 10:12] octavia-squidington-iv commented on #17824
cc @airbytehq/frontend

[2022-10-11 10:15] lluisgassovillarejo commented on #17819
Thanks, @andnig!
The sync is currently running. I found out that this is now only happening to a very long-running sync for the Klaviyo source. For previous syncs of the same source, it took Airbyte 5+ days to synchronize. This has now been running for 4 days. I am not sure if this might be related.

[2022-10-11 10:18] edmundito opened #17825 "[Epic] New UX refresh flow for auto-detect schema changes"
[Figma](https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?node-id=1048%3A46434&scaling=min-zoom&page-id=972%3A36208&starting-point-node-id=972%3A36212)

[2022-10-11 10:23] edmundito opened #17826 "Add auto-detect schema changes option to create connection and replication settings pages"
Add the option  to "pause sync" or "ignore" to the connection create form and replication settings. Ensure that the options update correctly.

The prototype contains an option for "Reset" / "Accept changes & Ignore Data". This is out of scope and should be ignored.

See "PAUSE_SYNC" and "IGNORE" flows in prototype:

https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?node-id=973%3

[2022-10-11 10:24] octavia-squidington-iv commented on #17826
cc @airbytehq/frontend

[2022-10-11 10:27] edmundito opened #17828 "Add auto-detect schema changes flow to connection replication settings page"
When changes are auto-detected:

1. Show banner below connection widget
2. Block the streams table
3. User clicks on review changes to look at diffs
4. User can save or cancel the changes

Prototype - Click on "Slack Community" to see the flow:

https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?node-id=972%3A37260&scaling=min-zoom&page-id=972%3A36208&starting-point-node-id=972%3

[2022-10-11 10:30] edmundito opened #17829 "Show auto-detect schema changes status in connection list view"
Show that changes were detected on the connections list.

Prototype:
https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?node-id=857%3A25233&scaling=min-zoom&page-id=857%3A24319&starting-point-node-id=857%3A25233&show-proto-sidebar=1

[2022-10-11 10:31] octavia-squidington-iv commented on #17829
cc @airbytehq/frontend

[2022-10-11 10:32] octavia-squidington-iv commented on #17828
cc @airbytehq/frontend

[2022-10-11 10:40] edmundito opened #17830 "Update settings to toggle auto-detect schema changes notifications"
Update the connections settings page to enable/disable notification for auto-detect schema changes.

Design:
https://www.figma.com/file/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?node-id=2062%3A60213&t=EAjh7xtF8vK5jde6-1

Backend changes:
API: #18636
Impl: #18735

[2022-10-11 10:40] octavia-squidington-iv commented on #17830
cc @airbytehq/frontend

[2022-10-11 10:44] edmundito opened #17831 "Update new streams table to edit namespace and stream name options with modals"
1. Add modals for editing stream name and namespaces
2. Remove options from connection (?) and replication settings

Prototype - Click on the gear icon next to namespace and stream names on the streams table

https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?node-id=865%3A52984&scaling=min-zoom&page-id=857%3A24319&starting-point-node-id=865%3A52984&show-proto-sidebar=1

[2022-10-11 10:44] octavia-squidington-iv commented on #17831
cc @airbytehq/frontend

[2022-10-11 10:57] marcosmarxm commented on #17163
*Comment made from Zendesk by Marcos Marx on 2022-10-11 at 10:57:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Unfortunately the table “get_merchant_listings_all_data” still throws an error while normalazing</p>
<pre style="max-width: 694px; word-wrap: break-word"><code style="background-color: #f9f9f9; display: block; overflow: auto; padding: 2px 5px"> 1 of 1 START table model m

[2022-10-11 12:16] georgmoss opened #17836 "IBM DB2 as destination"
## Tell us about the new connector you’d like to have
IBM DB2 is available as source. That is good but we primarily need the connector as a destination. Perhaps it could be a quite small development since it already exists as a source connector?

## Describe the context around this new connector
Me and my team are running our Data Warehouse in IBM DB2 Warehouse on Cloud. A great database for analy

[2022-10-11 12:59] N-o-Z commented on #11871
Please note that after @haithem-souala's fix, this was broken again due to a refactoring PR

[2022-10-11 13:07] matter-q commented on #17087
@edmundito, where can i find documentation links?

![image.png](https://images.zenhubusercontent.com/62beeb7e8ea880aea38f18ed/32fc05e3-1683-4cd3-8a6a-d75e34dc6c9d)

[2022-10-11 13:08] #6150 closed

[2022-10-11 13:39] jdpgrailsdev commented on #17390
@navi86 Very strange and thanks for figuring out what is going on here.  We'll take a deeper look and see why/how these two things are related.  To be clear, you are saying that if you set the `S3_LOG_BUCKET` environment variable for the `airbyte-server`'s Helm chart to an empty string it starts without error?  I want to make sure I understand how you reproduced the issue and the fix.

It may make

[2022-10-11 13:41] navi86 opened #17841 "Helm Chart: External Database not reachable"
## Environment
- **Airbyte version**:  example is 0.40.14
- **OS Version / Instance**: GCP
- **Deployment**: helm
I am using separate postgresql instance(not instance from airbyte helm chart)

## Current Behavior
*Tell us what happens.* airbyte-server pod restarts every 8-10 minutes due to this error:
[code]
moreover, airbyte-worker restarts about every 10 minutes due to this error:

[code]

## Ex

[2022-10-11 13:45] marcosmarxm opened #17842 "Column order does not match source"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#2693](https://airbyte7538.zendesk.com/agent/tickets/2693)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Nataly Merezhuk

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px" dir="auto">
<li style="padding-bottom: 10px">Is th

[2022-10-11 13:46] marcosmarxm commented on #13700
Zendesk ticket #[2693](https://airbyte7538.zendesk.com/agent/tickets/2693) has been linked to this issue.

[2022-10-11 13:46] marcosmarxm commented on #13700
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-11 at 13:46:*

<blockquote><div class="zd-comment" dir="auto">Hi! Thank you for your patience, I was out of the office yesterday. Unfortunately this is currently not a feature Airbyte supports, this is not a bug. Here's the GitHub issue for it:<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/13700">https://g

[2022-10-11 13:48] navi86 commented on #17390
@jdpgrailsdev
yes, it was started without any error and I was able to see logs in gcp bucket.
so basically I put this in my values file:
[code]

[2022-10-11 14:49] tealjulia commented on #17753
Also affecting Hubspot

[2022-10-11 14:52] pedroslopez opened #17844 "Remove YamlSeedConfigPersistence"
We had been keeping `YamlSeedConfigPersistence` around because some parts of Cloud were still using it, but after https://github.com/airbytehq/airbyte-cloud/issues/3076 we should be able to remove it. `YamlSeedConfigPersistence`'s functionality has been replaced / moved into `LocalDefinitionsProvider`, so everything should be using that.

## Acceptance Criteria

- `YamlSeedConfigPersistence` no lo

[2022-10-11 14:55] pedroslopez opened #17845 "Connector Ops Tech Debt"

[2022-10-11 15:13] girarda commented on #17709
@lmossman you're right. Updated the description.

[2022-10-11 15:22] RickRen7575 commented on #3990
Just checking in here!

[2022-10-11 15:22] timroes opened #17846 "Improve styling of react-select"
We should improve the styling of our react-select a bit:

* Add a better `:focus-visible` outline (similar to other input fields). Currently only the caret is slightly darker when the select is focused.
* Show the currently keyboard highlighted option in the react-select. Actually our react-select does support keyboard navigation (up/down and enter), but there is no indication which element is cur

[2022-10-11 15:23] octavia-squidington-iv commented on #17846
cc @airbytehq/frontend

[2022-10-11 15:27] marcosmarxm commented on #13756
Zendesk ticket #[1996](https://airbyte7538.zendesk.com/agent/tickets/1996) has been linked to this issue.

[2022-10-11 15:28] marcosmarxm commented on #13700
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-11 at 15:28:*

<blockquote><div class="zd-comment" dir="auto">Totally agree! If you feel inclined to do so, you can always contribute a PR to implement this behavior.<br></div></blockquote>

[2022-10-11 15:35] sajarin commented on #13756
@adriennevermorel unfortunately not, we're still blocked due to our integration account. Will try initiating the conversation again, thanks for asking!

[2022-10-11 16:04] marcosmarxm commented on #17841
@navi86 looks this is much more a problem with Airbyte reaching the external database. Are you able to ping/telnet the database instance from the Airbyte instance?

[2022-10-11 16:06] navi86 commented on #17841
@marcosmarxm
yep, otherwise I would not see any connections/destinations in UI

[2022-10-11 16:07] YowanR commented on #16081
@lazebnyi @igrankova @ycherniaiev I was told that we are blocked on not having the business account set-up. Is there an issue tracking that, please?

[2022-10-11 16:16] enmaust commented on #2940
there is a starter plan available now for $10/mth fyi

[2022-10-11 16:16] grishick commented on #17495
Note from meeting with @etsybaev: he will finish this before switching to work on destination issues.

[2022-10-11 16:28] colesnodgrass commented on #13272
This was addressed by #17365

[2022-10-11 16:28] #13272 closed

[2022-10-11 16:30] tuliren commented on #16671
Tech spec in progress: https://docs.google.com/document/d/18g3RrOOoMqlXHlgvSJazeq_X-vJ_vlnx7ky0dV-c9r4/edit#

[2022-10-11 16:30] benmoriceau commented on #17621
Yes it is for the platform backend code and the FE git hook (not webhook) is an example.

[2022-10-11 16:39] tuliren commented on #17347
https://docs.google.com/document/d/18g3RrOOoMqlXHlgvSJazeq_X-vJ_vlnx7ky0dV-c9r4/edit#

[2022-10-11 16:43] evantahler commented on #17338
Planning Notes:
* Why did notion pass the test?  It should have failed - @alafanechere to investigate. Maybe we are missing some test data or the stream isn't tested?  - It is not.  Only 3 streams are tested.

[2022-10-11 16:48] colesnodgrass commented on #12394
This was addressed by #17365

[2022-10-11 16:48] #12394 closed

[2022-10-11 16:55] #17652 closed

[2022-10-11 16:57] grishick commented on #16308
Moving to Blocked until @tuliren finishes current Databricks changes

[2022-10-11 17:09] harshithmullapudi commented on #17819
Hey just to clarify the logs are showing up but very (very) late? Right?

[2022-10-11 17:10] evantahler commented on #17616
Grooming Notes:
* This is usually a 403 exception.  Can we count them in sentry?  Maybe Sentry doesn't let us grep/aggregate issues - we should check.
   * But metabase does, and has the same errors!
   * Sentry can group things by tags, but we might need a bigger plan?  What does that cost?
* Many connectors are manually already skipping streams w/o access in the should_retry method
* Right now,

[2022-10-11 17:12] pmossman commented on #17680
Refining notes:
- Currently, our IP addresses are in docs, and it sounds like we just want to bring those closer to the configuration UI.
- We don't think this requires any back-end change, ideally can be handled entirely on the front-end and LaunchDarkly
- @timroes does the front-end already have access to the `sourceType` so that the IP addresses can be shown/hidden conditionally? Just trying to

[2022-10-11 17:13] igrankova commented on #6204
Shopify accepted our form: Apps are currently being reviewed within two weeks of submission.

[2022-10-11 17:14] girarda commented on #17543
grooming notes:
- we've never added a new server to the compose file.
- out of scope: nginx, generating the python code from the openapi spec
- @lmossman to create a follow up issue to configure nginx
- goal: expose a random endpoint
- check with someone on the platform team for CI

[2022-10-11 17:15] girarda commented on #17543
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Connector-Operations-6318ede5eda32e0010ef8566/issues/airbytehq/airbyte/17543?planning-poker) with Zenhub @lmossman

[2022-10-11 17:15] evantahler commented on #17617
* for sources that dont have an endpoint to determine permissions, at the stream-level availability method we can just do the first read() - it's ok for now that this will happen again when we actually start reading the stream since we can cache the request later
* could we do a default implementation that calls read on the connector and catches 403

* set status codes that determine whether it's

[2022-10-11 17:18] evantahler opened #17853 "Remove custom code for checking 403s* to skip unavailable streams for a connector, identify other affected connectors"
* What are these connectors?  Make a list.
  * `source-recharge`
  * .... more! (at least 2)
* Migrate custom code to new CDK methods

[2022-10-11 17:22] lmossman commented on #17674
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Connector-Extensibility-6257455decf3920012f4e872/issues/airbytehq/airbyte/17674?planning-poker) with Zenhub @girarda

[2022-10-11 17:22] bazarnov commented on #6204
Great news! Fingers crossed!

[2022-10-11 17:28] girarda commented on #17542
grooming notes:
- if this turn out to be too complicated, it would not be horrible not to group the req/responses

[2022-10-11 17:30] pmossman commented on #15942
Refining notes:
- One idea for testing against a real instance of Firebase: use staging?
- Whatever we decide for Firebase should also be used for other external integrations (Stripe, Orb, etc)

- Pieces of the flow to test:
  - Firebase (generating a valid user and sign-in link)
    - will need to somehow create a unique user on every run of the test, not sure how bad it is to constantly add new

[2022-10-11 17:32] lmossman commented on #17813
The generated code should NOT be committed to github, similar to the airbyte webapp: https://github.com/airbytehq/airbyte/blob/ec5496840df4b0af93afa341d820268d0212c7e9/airbyte-webapp/.gitignore#L32-L33

[2022-10-11 17:48] kyleprier commented on #6983
Is this feature going to be added? It's super annoying to have to manually kick off a job at nite to schedule a daily job

[2022-10-11 17:52] girarda commented on #17802
grooming:
- do we also need to update the tests?

[2022-10-11 17:54] matt-ripple commented on #16761
@tuliren / @grishick Is this scheduled for an upcoming sprint by any chance? This is a blocker for us to upgrade and we need to upgrade to fix the postgres CDC date bug.

[2022-10-11 18:16] VitaliiMaltsev commented on #14246
@JCWahoo I have one more assumption that your collections contain documents that have a different structure within the same collection. This may be causing your issue.
I can advise you to try to reduce the **DISCOVER_LIMIT** parameter in the **MongoUtils** class by a multiple.
At the moment it is hardcoded and equals **10000** documents
Try to set it to 100 documents, build the **source-mongodb-v2

[2022-10-11 18:21] JCWahoo commented on #14246
Thanks - Any docs/guidance on that last bit? Not sure I've done that before, or its been so long I dont recall

[2022-10-11 18:25] VitaliiMaltsev commented on #14246
i believe our teem need to implement [this task ](https://github.com/airbytehq/airbyte/issues/9284) so that you can choose this option yourself on UI

[2022-10-11 18:32] animer3009 commented on #17659
@marcosmarxm Yes please.
I will try and in case success I wish to add all Report API missing report types.

[2022-10-11 18:46] josix opened #17855 "Collection fails when running acceptance tests in python 3.10 env of low-code configuration source"
## Environment
- **Airbyte version**:  0.40.10
- **OS Version / Instance**:  macOS
- **Deployment**: Docker
- **Source Connector and version**:  #17770 or `source-exchange-rates`
- **Step where error happened**:  acceptance tests

## Current Behavior
When I running acceptance tests by command `docker build . -t airbyte/source-clickup-api:dev; python -m pytest integration_tests -p integration_tests

[2022-10-11 18:58] misteryeo commented on #12491
Thanks for trying @patygold - we'll continue to find ways around this!

cc: @YowanR

[2022-10-11 19:05] #8981 closed

[2022-10-11 20:45] evantahler commented on #3990
We are going to start looking into this in Q4!

[2022-10-11 20:54] shaoye commented on #9979
hi can we reopen this?

I don't think #14794 fixed this, we are still hardcoding it everywhere

[code]

[2022-10-11 21:30] subodh1810 commented on #14932
Alright so I see 2 different issues being discussed here.
1. CDC not syncing new data -> I went through the logs and you will see the message `2022-07-20 22:53:24 [44msource[0m > 2022-07-20 22:53:24 [32mINFO[m i.a.i.d.i.DebeziumRecordIterator(computeNext):78 - Closing cause next is returned as null
` We have a timeout for receiving records from debezium. If debezium doesnt return a record with

[2022-10-11 21:30] #14932 closed

[2022-10-11 21:30] subodh1810 commented on #16991
Closing this, see https://github.com/airbytehq/airbyte/issues/14932#issuecomment-1275295753

[2022-10-11 21:30] #16991 closed

[2022-10-11 21:37] philippeboyd opened #17858 "Saving a refreshed source schema does not save the updated source schema"
## Environment
- **Airbyte version**:  0.40.14
- **OS Version / Instance**: GCP
- **Deployment**: Docker
- **Source Connector and version**: MSSQL 0.4.20
- **Destination Connector and version**: Snowflake 0.4.38
- **Step where error happened**: Refresh source schema

## Current Behavior
When refreshing source schema, we see the newly added columns
![image](https://user-images.githubusercontent.com

[2022-10-11 21:43] subodh1810 commented on #15447
I think this is only relevant for LEGACY state and is not a problem for later versions (versions that support GLOBAL state for CDC and switch from LEGACY), am going to close this

[2022-10-11 21:43] #15447 closed

[2022-10-11 21:44] subodh1810 commented on #7187
This is a very old issue and I think we have changed how we handle timestamp data type so this should be fixed, closing this

[2022-10-11 21:44] #7187 closed

[2022-10-11 21:51] subodh1810 commented on #12771
I think this is a configuration bug
[code]

Its always advisable that the `max_wal_senders` should be greater than `max_replication_slots` so that concurrent connections are allowed. See : https://debezium.io/documentation/reference/stable/connectors/postgresql.html#postgresql-server-configuration

I think we should just add it to our documentation

[2022-10-11 21:58] timroes opened #17859 "Filtered out connectors not appearing when editing them"
We currently have some logic to filter out connectors client side so no new connectors can be created of that type but existing connectors keep running.

When trying to edit the settings of a connector who is currently filtered out the select box on top of the page will simply be empty and not show the actual connector type (since it's no longer available). We should make sure that the select box

[2022-10-11 21:58] octavia-squidington-iv commented on #17859
cc @airbytehq/frontend

[2022-10-11 22:02] timroes opened #17860 "Retesting a connector in the UI has no feedback"
When using the "Retest" button on a saved connector, the retest will run, but there is no visual feedback if the restest was actually successful (and maybe even not when failed -need to validate that).

[2022-10-11 22:02] octavia-squidington-iv commented on #17860
cc @airbytehq/frontend

[2022-10-11 22:15] subodh1810 opened #17861 "Source/Destination logs do not contain class names and LABELS (no info, warn or error label)"
Currently logs emitted by source/destination do not contain class names or labels, they look like
[code]

Previously they used to contain classnames as well
[code]

Not having classnames or labels makes it difficult to understand where is the log coming from and makes debugging difficult, my guess is that this issue started after PR https://github.com/airbytehq/airbyte/pull/15668

cc @grishick

[2022-10-11 22:57] marcosmarxm commented on #6983
Yes it was added to latest version of Airbyte, please choose CRON method.

[2022-10-11 22:58] pedroslopez commented on #17616
Played around with sentry's Discover feature a bit. Searching for "403 Client Error" we can get all the events that have happened with that error in a given time period.

Example, in the past month we've seen 73 events due to this:

![image.png](https://images.zenhubusercontent.com/62585178f8599f85447ea63f/43fd6adc-46e0-44de-addd-c41b1a651b24)

https://sentry.io/organizations/airbytehq/discover/re

[2022-10-11 23:29] marcosmarxm commented on #17148
@anamargaridarl team is working to solve the issue, as soon as possible it will merged :)

[2022-10-11 23:30] marcosmarxm commented on #17744
Sorry I didnt'see that! @sajarin can you ask for a maintainer to review it?

[2022-10-11 23:59] marcosmarxm commented on #17774
Oh sorry @marcelopio I understood wrongly here. Probably the reason is the source reads from the `input_state.json` and reuses it every attempt instead of reading from the updated state.
[code]

@benmoriceau / @evantahler can you help me here, if this is behavior is expected for the state update?

[2022-10-12 00:01] evantahler commented on #17616
That's pretty neat! you can chunk them by week/period as well -https://sentry.io/organizations/airbytehq/discover/results/?display=previous&field=title&field=event.type&field=project&field=user.display&field=timestamp&interval=7d&name=All+Events&project=6527718&query=403+Client+Error&sort=-timestamp&statsPeriod=90d&yAxis=count%28%29

Just restating that this method:
* only works for API sources
*

[2022-10-12 00:01] marcosmarxm commented on #17841
What version of postgres are you using? Did you check the database logs to see if there is anything wrong there?

[2022-10-12 00:10] evantahler opened #17865 "Secure OSS Airbyte"

[2022-10-12 00:12] evantahler opened #17866 "Helm charts should include `airbyte-proxy` to secure API and webapp"

[2022-10-12 00:12] evantahler commented on #17865
cc @salima-airbyte @davinchia @benmoriceau - I made an epic to track this work, now that we've got a few dependencies.

[2022-10-12 00:15] evantahler commented on #17866
cc @nicor88

[2022-10-12 02:53] pedroslopez commented on #17616
@evantahler I seem to be getting a 403 on the 403 question :D

![image.png](https://images.zenhubusercontent.com/62585178f8599f85447ea63f/080051c2-67a0-45a5-a5ea-b604347b6362)

[2022-10-12 06:56] igrankova commented on #5820
Hi, @gregdale
We are looking for a contributor who is a Sendgrid customer. We need help with the partner program. If this customer contacts Sendgrid sales team and confirms that uses Airbyte, it would help us to get the partnership.
Let me know if there's something you can help with.
Thank you in advance.

[2022-10-12 08:56] #17846 closed

[2022-10-12 09:09] ycherniaiev opened #17874 "[EPIC] Source Twitter: built in YAML"
## Tell us about the problem you're trying to solve
**DOCS**
[Twitter API reference](https://developer.twitter.com/en/docs/twitter-api)

**Sandbox Account Creds**
LastPass: Twitter - @AirbyteHQ - for integration tests

*OAuth 2.0 creds*
LastPass: Twitter Public App

**Vetting**
- [ ] #2535

**MLP**
[Document](https://docs.google.com/document/d/1hB2H6eLwSMw2Upg3rJ3zz_CDyEf5diHi6Q3KC5nLcek/edit#head

[2022-10-12 09:43] #17495 closed

[2022-10-12 09:54] timroes commented on #16439
Note: we don't want to switch to Headless for the DropDown component. react-select is significantly more powerful and we're using features like search in the dropdown that Headless UI does not offer. (I adjusted the title accordingly)

[2022-10-12 10:01] josephkmh opened #17876 "Impose >=1 hour limit for cron expression on Cloud"

[2022-10-12 10:02] igrankova opened #17877 "[EPIC] Source Railz: built in YAML"
## Tell us about the new connector you’d like to have
**DOCS**
[Railz API Reference](https://docs.railz.ai/reference/railz-api)

**Sandbox account creds:**
Created a free account, see creds (dev and test API Keys) on the LastPass: **Primary Railz Dev Account**
Generated the API Key on the Developers dashboard
Enabled a Sandbox mode.
No OAuth.

**Vetting**
- [x] #17604

**MLP**
[Document](https://d

[2022-10-12 10:07] timroes commented on #10457
@edmundito could we try to handle font-size extraction into variables soonish? While we've migrated to SASS, we already introduced many arbitrary font-size parameters in individual components and we have nearly all font-sizes between 10px and 22px used somewhere. I think we should try to prioritize making sure we're using a set of defined font-sizes and align all components to them.

[2022-10-12 10:12] igrankova opened #17878 "[EPIC] Source InStatus: built in YAML"
## Tell us about the new connector you’d like to have
**DOCS**
[InStatus API Reference](https://instatus.com/help/api)

**Sandbox account creds:**
Free account, Airbyte Cloud page. Lastpass: Primary InStatus Dev Account
API key.
No OAuth.

**Vetting**
- [x] #14046

**MLP**
[Document](https://docs.google.com/document/d/1LAv7oV5IC0OchUVr_b62Rq7dp0Rz7PKE3cRJG_cvrTE/edit?usp=sharing)
Partially done (i

[2022-10-12 10:29] navi86 commented on #17841
@marcosmarxm
I am using postgresql
`docker.io/bitnami/postgresql:11.14.0-debian-10-r28`
I see only one two errors that was yesterday:
[code]

[2022-10-12 10:30] alafanechere opened #17879 "SAT: hypothesis testing on backward compatibility testing leads to transient errors"
# What
Our [`check_fake_previous_config_against_actual_spec`](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/backward_compatibility.py#L192) uses [Hypothesis Json Schema](https://github.com/python-jsonschema/hypothesis-jsonschema) to generate fake connector spec.

Multiple `FailedHealthCheck` errors occur transiently

[2022-10-12 10:43] bazarnov commented on #11241
@grishick
The changes made in https://github.com/airbytehq/airbyte/pull/11142/files are not present in the current code version, is it still needs to be reverted, please advice. Thanks.

[2022-10-12 10:53] navi86 commented on #17841
@marcosmarxm
moreover, I add two env variable to cm "airbyte-env":
[code]
with values that I have for variables:
[code]
I don't see any errors last 20 minutes..

[2022-10-12 10:53] marcosmarxm commented on #13700
*Comment made from Zendesk by Marcos Marx on 2022-10-12 at 10:53:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Happy to di this, if you can show me how.  My background is not very technical.  Perhaps I can resurrect or upvote the existing GitHub PR.</p>

 [<a href="https://discuss.airbyte.io/t/column-order-does-not-match-source/2865/6" rel="noreferrer">Discourse post</a>]</div></

[2022-10-12 11:17] lluisgassovillarejo commented on #17819
Yes, exactly. They show only once the synch has finished. However, for such long synchs, it is very nice to use the logs to follow the progress.

[2022-10-12 11:26] lluisgassovillarejo commented on #17673
HI @bazarnov, it keeps failing with the same messages on every synch. I have scheduled every 8 hours and I always get the same result.
Thanks!

[2022-10-12 11:28] bazarnov commented on #17673
@lluisgassovillarejo please share the latest logs here, thank you.

[2022-10-12 11:30] lluisgassovillarejo commented on #17673
Here they are. Thanks! It seems related to the customers table, but I don't really understand the logs very well.
[b4906a66_196e_47e3_8c8a_2f83ca066f8f_logs_96_txt.txt](https://github.com/airbytehq/airbyte/files/9764424/b4906a66_196e_47e3_8c8a_2f83ca066f8f_logs_96_txt.txt)

[2022-10-12 11:31] sivankumar86 opened #17882 "Destination-OpenSearch support in airbyte"
## Tell us about the problem you're trying to solve
  Elasticsearch become Opensearch for opensource community hence, Elastic search client library no longer works for opensearch

https://opensearch.org/docs/1.0/clients/java-rest-high-level/

## Describe the solution you’d like
  Want to sync data from s3 /cdc to opensearch in AWS.

## Describe the alternative you’ve considered or used

   Create

[2022-10-12 11:39] navi86 commented on #17841
small update, I see the same message:
`2022-10-12 10:32:14 INFO i.a.c.EnvConfigs(getEnvOrDefault):1091 - Using default value for environment variable STATE_STORAGE_MINIO_ENDPOINT: ''`
but server and worker pod are running without error(restart)

[2022-10-12 11:41] ycherniaiev opened #17883 "[EPIC] Source Twitter Ads: built in YAML"
## Tell us about the problem you're trying to solve
**DOCS**
[Twiiter Ads API Reference](https://developer.twitter.com/en/docs/twitter-ads-api)

**Sandbox Account Creds**
https://ads.twitter.com with LastPass creds: Twitter - @AirbyteHQ - for integration tests

**OAuth 1.0 and Bearer Token:**
LastPass: source Twitter Ads Developer App

**Vetting**
- [ ] #3107

**MLP**
[Document](https://docs.googl

[2022-10-12 12:16] #15242 closed

[2022-10-12 12:16] #15386 closed

[2022-10-12 12:26] bazarnov commented on #17673
[code]

This error occurs frequently, this is low level error caused by server empty response. In order to reproduce the issue you can try to use local Airbyte instance instead of GCP deployment just to reproduce the issue with customers stream.
Otherwise, you can reach out our customer support and share the insights of this communication along with share your credentials, so we could reproduce th

[2022-10-12 12:43] ycherniaiev commented on #3107
## Tell us about the problem you're trying to solve
**DOCS**
[Twiiter Ads API Reference](https://developer.twitter.com/en/docs/twitter-ads-api)

**Sandbox Account Creds**
https://ads.twitter.com with LastPass creds: Twitter - @AirbyteHQ - for integration tests

**OAuth 1.0 and Bearer Token:**
LastPass: source Twitter Ads Developer App

**Vetting**
- [ ] #3107

**MLP**
[Document](https://docs.googl

[2022-10-12 12:44] ycherniaiev commented on #2535
**DOCS**
[Twitter API reference](https://developer.twitter.com/en/docs/twitter-api)

**Sandbox Account Creds**
LastPass: Twitter - @AirbyteHQ - for integration tests

*OAuth 2.0 creds*
LastPass: Twitter Public App

**Vetting**
- [ ] #2535

**MLP**
[Document](https://docs.google.com/document/d/1hB2H6eLwSMw2Upg3rJ3zz_CDyEf5diHi6Q3KC5nLcek/edit#heading=h.22fd5raysmm3)
Partially done (implementation o

[2022-10-12 13:41] #9378 closed

[2022-10-12 13:41] alexchouraki commented on #9378
Working on this already in the context of the hacktober fest

[2022-10-12 13:43] edmundito commented on #17860
Looked through the code and did notice that when testing a connection succeeds there is no implementation to show a message. Currently, a message only appears when there is an error.

[2022-10-12 13:51] marcosmarxm commented on #17510
Zendesk ticket #[2744](https://airbyte7538.zendesk.com/agent/tickets/2744) has been linked to this issue.

[2022-10-12 13:51] marcosmarxm commented on #17510
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-12 at 13:51:*

<blockquote><div class="zd-comment" dir="auto">First a few questions:<br><br>1. What is the field type for the value causing the error, is it Boolean or TINYINT?<br><br>2. What version of the MySQL connector were you using before this that did not cause errors?<br><br>And some information:<br><br>1. There is a GitHub issue for

[2022-10-12 13:55] marcosmarxm commented on #13700
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-12 at 13:55:*

<blockquote><div class="zd-comment" dir="auto">Working through how to implement the feature is out of the scope of this forum, but please go ahead and comment/upvote that issue on GitHub then! :) that will definitely help bring more visibility to it.<br></div></blockquote>

[2022-10-12 14:07] #17481 closed

[2022-10-12 14:16] natalyjazzviolin opened #17890 "Source Google Search Console: OAuth flow deprecated"
## What
Google has [deprecated some OAuth](https://developers.google.com/identity/protocols/oauth2/resources/oob-migration) flows as of October 3, 2022 and this might be affecting the [Google Search Console source connector](https://docs.airbyte.com/integrations/sources/google-search-console). Our OAuth test credentials work, but OAuth credentials created after February 28, 2022 are blocked.

## E

[2022-10-12 14:18] marcosmarxm commented on #17890
Zendesk ticket #[2749](https://airbyte7538.zendesk.com/agent/tickets/2749) has been linked to this issue.

[2022-10-12 14:18] marcosmarxm commented on #17890
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-12 at 14:18:*

<blockquote><div class="zd-comment" dir="auto">We've created an issue to keep track of updates and investigate this further:<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/17890">https://github.com/airbytehq/airbyte/issues/17890</a><br></div></blockquote>

[2022-10-12 14:41] pedroslopez opened #17891 "Internal Docs: Document Sentry configuration and behavior"

[2022-10-12 14:55] lluisgassovillarejo commented on #17673
I have the open-source version of Airbyte, so no customer support for me.
Shouldn't this be fixed at a connector level instead of on a user-by-user level? There is nothing special about our Shopify instance.

[2022-10-12 14:57] marcosmarxm commented on #17841
Are the logs being sent to GCS correctly?

[2022-10-12 15:07] marcosmarxm commented on #17512
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-12 at 15:07:*

<blockquote><div class="zd-comment" dir="auto">I've found an issue for the latest error you're encountering. Looks like it happens sporadically just like in your case, and the only current fix is to reset the data and start a new sync, unfortunately.&nbsp;<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airb

[2022-10-12 15:07] natalyjazzviolin commented on #17372
Hi, @alexnikitchuk! If you upgrade the MySQL source connector to the latest version, does that fix the problem?

[2022-10-12 15:11] alexnikitchuk commented on #17372
hey @natalyjazzviolin just tested with 1.0.3 and after initial sync during next CDC sync run it failed with the same error

[2022-10-12 15:11] navi86 commented on #17841
@marcosmarxm
yes, I see logs in gcp

[2022-10-12 15:17] navi86 commented on #17841
@marcosmarxm
honestly, I got the same error after 2-3 hours, I will try to monitor application, but I am so confused, why new version is not stable, because old application once failed with the same error and then it was running without issue. However new release was restarted 50 times for last 10 hours

[2022-10-12 15:35] userbradley commented on #3605
The docs site is still not updated

[Link](https://docs.airbyte.com/deploying-airbyte/on-kubernetes/#using-an-external-db)

![image](https://user-images.githubusercontent.com/41597815/195386389-908a1bf8-9437-4ddb-bca9-3b0de7578628.png)

[2022-10-12 15:40] jdpgrailsdev commented on #17264
In order to enable the DataDog Java APM agent for the `airbyte-container-orchestrator`, a change will need to be made to the [AsyncOrhcestratorPodProcess](https://github.com/airbytehq/airbyte/blob/master/airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java#L293) class to pass the JVM arguments through to the container if and only if they are explicitly p

[2022-10-12 15:40] sw-yx opened #17893 "Proposal: enhance API sources by adding API category/usecase metadata"
## Tell us about the problem you're trying to solve

in https://github.com/airbytehq/airbyte/blob/master/airbyte-config/init/src/main/resources/seed/source_definitions.yaml , we only indicate APIs vs Databases. However, we're at a scale where this is starting to be less informative and doesn't map to specific usecases that our users have.

We have a manually maintained, nonauthoritative categoriza

[2022-10-12 15:54] #16731 closed

[2022-10-12 15:56] alexnikitchuk commented on #17372
seems like https://github.com/airbytehq/airbyte/pull/17459 did not help: I'm still able to reproduce it in v1.0.3

[2022-10-12 15:57] sajarin commented on #17855
Thanks for the issue @josix, what is your proposed fix here?

[2022-10-12 15:58] evantahler commented on #17616
Try now!

[2022-10-12 15:59] harshithmullapudi commented on #17819
Got it. I just changed the title according to this.

[2022-10-12 16:20] sw-yx commented on #17893
i wouldnt mind doing a onetime pass on this. it'd be a pain but i bet the webflow data is extremely out of date anyway

[2022-10-12 16:23] evantahler commented on #17774
cc @salima-airbyte this seems like a bug between sync attempts

[2022-10-12 16:27] evantahler commented on #17893
I think the first step is to make a doc that talks about what the schema would look like.  In addition to those tags, there are also a few types of descriptions we might want to bring in.

A long time ago as part of a hack day I took a pass at mocking the future service up.  As part of that I made Typescript types for the metadata which might be helpful as a starting point https://github.com/airby

[2022-10-12 16:40] tuliren opened #17897 "Connector dependency reporter does not include normalization changes"
## Summary
- Currently the `report-connectors-dependency` action does not include normalization changes.
- It should when there is any change under `base-normalization`.

[2022-10-12 16:57] Amruta-Ranade commented on #15482
Hi, you can edit the file directly from GitHub: https://docs.github.com/en/repositories/working-with-files/managing-files/editing-files

[2022-10-12 17:17] sw-yx commented on #17893
for logos we might want to make/offer a logo api service? for our needs but that others might use https://brandfetch.com/developers/demo

[2022-10-12 17:22] sw-yx commented on #17893
@evantahler mind expanding a bit about the intended difference between

- about: string;
- description: string;
- headline?: string;
- copy?: ConnectorDescriptionCopy[];

probably some examples of each would make ultra clear

some of them we'll want to try to impose length constraints

[2022-10-12 17:32] #17338 closed

[2022-10-12 17:39] evantahler commented on #13459
Some information about Temporal at Airbyte:

* Temporal's nouns are Workflows (a collection of activities) and Activities (the actual operations in the job)
* A Sync is run by the `ConnnectionManagerWorkflow`.
* A sync has the following main steps: Check Source, Check Destination, Replication, Normalize.
* You can see that in the ConnectionManagerWorkflow [here](https://github.com/airbytehq/airbyt

[2022-10-12 17:44] marcosmarxm commented on #17841
Helm chart is under heavy development and is unstable for a couple of days. I'll test later if I can reproduce the same issue. @navi86 are you using a Cloud SQL or a k8s database deployment database?

[2022-10-12 17:51] evantahler commented on #17893
It's course, but I was trying to come up with a way to represent all the data on the page:

<img width="1987" alt="Screen Shot 2022-10-12 at 10 48 54 AM" src="https://user-images.githubusercontent.com/303226/195413313-3e59935d-771d-4685-902c-0393c63e1635.png">

And copy is further down on the page

[2022-10-12 18:13] benmoriceau commented on #17774
Hello,
I think that the issue is that the source become unresponsive that for that reason we don't persist any state.
Either because we don't reach the persist state step in the temporal workflow or because the state is not added to the sync output because it is bypass because of the exception as well.

@marcosmarxm Could you help reproducing?

On our side, we are planning to do https://github.com

[2022-10-12 18:16] marcelopio commented on #17774
I don't think that is the issue. You can check the logs that I sent. The state was persisted ( I checked before the sync was finished) and the second sync uses the state that was persisted on the first one. @marcosmarxm is right, `input_state.json` is not updated between attempts. That is because we only get the current state at the start of the job, not at the start of the attempt

[2022-10-12 18:21] jdpgrailsdev commented on #17830
@andyjih We need updated UX design for notification preferences for auto-detect schema changes.

[2022-10-12 18:29] jdpgrailsdev commented on #17619
@andyjih @ChristopheDuong Is there anything that isn't already queryable from the configs database about schema change that we would want to pass to Segment?  If not, what additional information do you want to record when a schema change is automatically detected?

[2022-10-12 18:31] jdpgrailsdev commented on #17529
This is only via Slack to start.  There is already a notification client in OSS that can be re-used.

[2022-10-12 18:35] jdpgrailsdev commented on #17529
@andyjih This ticket is also blocked on the design for the notification.

[2022-10-12 18:36] sw-yx commented on #17893
only 2 ways to make money in software: putting content in webflow and taking content out of webflow

[2022-10-12 18:38] jdpgrailsdev commented on #17527
This will be in the SyncWorkflowImpl.

[2022-10-12 18:42] marcelopio commented on #17774
We only get the state here:
https://github.com/airbytehq/airbyte/blob/c6519430daeac5d2384d5817228ab2a32a2325a7/airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobCreator.java#L134

Afterwards, the `input_state.json` is created from the job database, not from the connection, so it is never updated with current state

[2022-10-12 19:13] sh4sh commented on #17657
@kevinyeung-3p Very weird, I tried with those dates and earlier, all the way back to 2021 but it seems to work fine for my Chargebee data. It sounds like their database is not providing this data for some reason, could you open a support ticket with them to see if they can take a look?

[2022-10-12 19:14] blake-enyart commented on #6912
@andyjih, I just wanted to check to confirm.

Is this closed because the PostgreSQL source now has per-stream state implemented?

[2022-10-12 19:27] akashkulk commented on #15161
Closing this out for now, since no issues were reported by the user after the fix

[2022-10-12 19:27] #15161 closed

[2022-10-12 19:32] navi86 commented on #17841
@marcosmarxm
I am using bitnami helm chart, moreover I am using gcp bucket for logs.

[2022-10-12 21:25] evantahler opened #17909 "The Airbyte Platform can accept and store updated configurations from syncs"
_Part of the [Single Use Refresh Tokens](https://github.com/airbytehq/airbyte/issues/3990) Epic_

The Protocol Change to add `AirbyteControlMessage.ConnectorConfig` was done via https://github.com/airbytehq/airbyte/pull/17907.

[code]

Now, we need to use these messages to store updated configurations sent by the connector:

1. Update the AirbyteMessageTracker to process the new messages; release

[2022-10-12 21:26] evantahler opened #17910 "Python CDK Updated to use and emit updated configurations"
_Part of the [Single Use Refresh Tokens](https://github.com/airbytehq/airbyte/issues/3990) Epic_

Add tooling to the Python CDK so that a connector can update it's in-memory configuration object, and when it does, it will emit a `AirbyteControlMessage.ConnectorConfig` message to share that new configuration with the platform so it can be stored.

1. All oAuth connectors which use the CDK will emit

[2022-10-12 21:26] evantahler opened #17911 "SAT test asserts that syncs emit updated configurations when expected"

[2022-10-12 21:26] evantahler opened #17912 "A single-use oAuth connector cannot be used in 2 simultaneous syncs"

[2022-10-12 21:45] pedroslopez opened #17914 "[EPIC] Auto bump connectors on Cloud when publishing"

[2022-10-12 21:51] evantahler opened #17915 "Decouple Normalization from Platform Version"
[Tech Spec](https://docs.google.com/document/d/18g3RrOOoMqlXHlgvSJazeq_X-vJ_vlnx7ky0dV-c9r4/edit#)

- [x] 1. #18230
- [x] 2. #18232
     - [x] 2.1. #18235
- [ ] 3. #18238
- [ ] 4. #18239
- [ ] 5. #18240

[2022-10-12 21:55] evantahler commented on #11844
@alafanechere is this fixed?

[2022-10-12 22:05] lmossman opened #17917 "Stream testing side panel MVP"
## Tell us about the problem you're trying to solve
As described in the [Tech Spec](https://docs.google.com/document/d/11HrieUnA7oa6YsDhOVZpAVkOoZt2RWQQWJLPf7xQodY/edit#heading=h.gk6ds4twspkk), the Connector Builder's testing side-panel needs to contain a display for the stream's URL, a button to initiate a test, and a panel displaying the results of the test read.

## Describe the solution you’d

[2022-10-12 22:11] evantahler commented on #8956
Closing this for now, as we have no short or mid-term plans to do this.  We don't have a way at the moment to inject environment variables into a connector's configuration.  If you are going to use this for a custom connector, you could always make your container's init script export export the [current date](https://stackoverflow.com/questions/20485749/how-to-set-a-variable-to-current-date-and-da

[2022-10-12 22:11] #8956 closed

[2022-10-12 22:14] #13192 closed

[2022-10-12 22:14] evantahler commented on #13192
Closing, because I don't think this is a problem any more

[2022-10-12 22:19] #17423 closed

[2022-10-12 22:25] evantahler opened #17919 "API Connector Memory leaks"
_From a [slack thread](https://airbytehq-team.slack.com/archives/C02UF50V9HA/p1665590452984999)_
We've got connectors (like `source-github) that seem to be running out of memory constantly.   This is a substream whose parent (pullrequests) has caching enabled and that cache may be growing too large.

![image.png](https://images.zenhubusercontent.com/625848c232857a5abeb89721/c07190f5-3afc-45a1-b112

[2022-10-12 22:35] navi86 commented on #17841
@marcosmarxm
looks like my "fix" doesn't work, worker pod is constantly restarted again.

[2022-10-12 22:57] edgao commented on #16291
sprint update: WIP https://github.com/airbytehq/airbyte/pull/17421

remaining tasks:
* write a working integration test using SSL (this is probably a broker config issue rather than a client issue, i.e. I believe my code works but I'm testing it wrongly)
    * (maybe) write a test that tries to connect using plaintext and fails
* extract common code from SSL and non-SSL tests
* update spec-modifyi

[2022-10-12 23:06] tooptoop4 commented on #14371
have y'all raised a CVE yet?

[2022-10-12 23:08] evantahler commented on #17919
Evan's theory - while VCR is persisting request responses to disk (in YAML), it is still storing every request it made in memory for matching.  https://vcrpy.readthedocs.io/en/latest/advanced.html (`Cassette.requests()`) seems to indicate we can retrive this list.

Some ideas:
* we monkey patch VRC to use sqlite (on disk) rather than memory to store the list of requests it has made
* if we hit (N=

[2022-10-12 23:11] evantahler commented on #17919
I think https://requests-cache.readthedocs.io/en/stable/ rather than VRC might be better for our use-case anyway

[2022-10-12 23:13] edgao commented on #16679
no further comments. I want to polish some of the regexes etc and update docs, then this is good to close + unblock all the implementation tickets

[2022-10-12 23:13] evantahler commented on #17919
cc @sherifnada and @bleonard

[2022-10-12 23:21] evantahler opened #17924 "oAuth tokens should not be stored in the database"

[2022-10-12 23:27] edgao commented on #17481
@brianjlai I think we should only enforce this in cloud? Currently this means that if I have OSS and minio running side-by-side on my laptop, I would need to set up HTTPS also. On the DBs side we allow insecure connections in OSS, under the assumption that users are more likely to e.g. put everything inside their firewall or whatever

[2022-10-12 23:45] edgao opened #17926 "Destination should not be SIGTERM-ed if source fails"
## Current Behavior
If the source connector container fails (e.g. due to OOMKill), the destination connector container is SIGTERM-ed 60 seconds later. Example in https://cloud.airbyte.io/workspaces/94f992c9-be44-4e0f-8194-dfcac73b88a2/connections/6e1f6af6-cceb-4dd6-a2e7-c10f5529e983/status#696389::0:
* `2022-10-12 15:44:12 source > Killed`
* `2022-10-12 15:45:13 replication-orchestrator > (pod: jo

[2022-10-12 23:53] bleonard commented on #17919
Maybe we flush and/or delete files if we are hitting some memory / file limit?

[2022-10-13 00:13] xiaohansong commented on #15930
Query will be like:

[code]

[2022-10-13 01:36] tooptoop4 commented on #14371
that doesn't fix it. see https://github.com/temporalio/temporal/issues/3022 @benmoriceau

[2022-10-13 01:41] marcosmarxm commented on #17510
*Comment made from Zendesk by Marcos Marx on 2022-10-13 at 01:41:*

<blockquote><div class="zd-comment" dir="auto"><ol dir="auto">
<li style="padding-bottom: 10px">The field in MySQL source is <code style="background-color: #f9f9f9; padding: 2px 5px">tinyint(1) unsigned</code> and in the staging view it’s</li>
</ol>
<pre style="max-width: 694px; word-wrap: break-word"><code style="background-color

[2022-10-13 01:44] danieldiamond commented on #17510
I edited the above comment:
and in the RAW AIRBYTE table the JSON is `"MY_FIELD": false`

[2022-10-13 02:24] danieldiamond commented on #5417
This issue is over a year old. Can I ask what complexity is involved with working on a solution here? Is it not simply a matter of automatically deleting the SCD table **in addition to the _AIRBYTE_RAW and final tables**?

@sherifnada @marcosmarxm @ChristopheDuong can I also confirm that the impact of this issue is clearly understood? Reviewing the comments from users above - IMO this should be to

[2022-10-13 03:07] benmoriceau commented on #14371
@tooptoop4 we closed the issue by mistake. I still need to reproduce it locally and check that it is fixed which was not done when the issue got close through an edit in my PR description.

[2022-10-13 03:07] davinchia opened #17928 "Make it easy to modify the logging level for a single connection."
## Tell us about the problem you're trying to solve
Additional log levels are useful for debugging, however an easy hook to edit a single connection's log-level does not exist today.

The alternative today is:
1) tuning the log level for all connectors of that connector versions (via the docker image). The downside is extremely noisy logs.
2) running a separate instance with just that specific con

[2022-10-13 03:52] davinchia commented on #5417
@danieldiamond yes the impact of this is understood. I believe this is in the current sprint for the Destination's team.

The complexity here is Airbyte doesn't actually have a direct way to reset tables. We currently do so via simulating an empty source, and relying on downstream behaviour to reset the tables i.e. empty source -> empty raw tables -> empty final tables.

We discussed internally an

[2022-10-13 06:05] #17148 closed

[2022-10-13 06:13] choji-pro commented on #17372
I have the same issue. It says something went wrong in the connection, though it goes all the way to the normalization step and completes successfully. It retries 3 times and fails.

[2022-10-13 08:45] igrankova commented on #17728
Account with Test and Live environments, LastPass name: Primary Moengage Dev Account
2 Projects:
Airbyte
Airbyte Cloud
API Keys and Secrets.
No OAuth.

[2022-10-13 08:50] LuliRib commented on #2508
Hi, I sync the basic streams from Bing Ads to in Airbyte and I get a lot of tables for each stream.

For example, for the ad_groups, I get 12 tables, as showm in the image.

Can´t find anything about it in the documentation

![bingAds tables](https://user-images.githubusercontent.com/74010842/195549523-279716e3-a07c-4f5c-b7e9-8e74a3aeca5d.JPG)

[2022-10-13 08:53] igrankova opened #17934 "Sandbox Account for Xero source"
## Tell us about the problem you're trying to solve
Request/create a sandbox account for implementing new connector according to the [2022 Q4 Product/Engineering Roadmaps](https://docs.google.com/spreadsheets/d/16m-bMM9oVaCSLT6KkPBtPEnza6W55zkUETcPRnNbAcI/edit?usp=sharing)

[Getting your account](https://developer.xero.com/)
[Getting started guide](https://developer.xero.com/documentation/getting-

[2022-10-13 09:33] edmundito opened #17936 "Add E2E tests for auto-detect schema changes frontend"
Blocked by:
- [x] #19878

[2022-10-13 09:34] octavia-squidington-iv commented on #17936
cc @airbytehq/frontend

[2022-10-13 09:42] edmundito opened #17937 "New connection streams table design pass"
Update the connection streams table design to match the updated design [seen in the prototype](https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?page-id=857%3A24319&node-id=865%3A52984&viewport=124%2C-519%2C0.25&scaling=min-zoom&starting-point-node-id=865%3A52984&show-proto-sidebar=1)

All the foundational work should be done in #17823. This is to match the table row design to m

[2022-10-13 09:42] octavia-squidington-iv commented on #17937
cc @airbytehq/frontend

[2022-10-13 10:18] delenamalan opened #17939 "Low-code SDK: Error when adding backoff strategy"
## Environment
- **Airbyte version**: 0.1.99
- **OS Version / Instance**: macOS Montery
- **Deployment**: Docker
- **Source Connector and version**: Any
- **Destination Connector and version**: Not applicable
- **Step where error happened**: Update connector

## Current Behavior

When I add a backoff strategy to the schema of a low-code SDK connector, I get an error like this when running `python

[2022-10-13 10:57] timroes opened #17941 "Migrate Table UI component to react-table v8"
The Table component we're having has pretty broken types at the moment. It does not know about any `cell.value` type (they are all `any`), also there are a lot of generic types from `react-table` used which never gets a generic parameter passed in and defaulting to `any`.

The types of this component should get a complete cleanup, since it's at the moment very dangerous to change anything around i

[2022-10-13 10:57] octavia-squidington-iv commented on #17941
cc @airbytehq/frontend

[2022-10-13 11:22] ASchmidtGit opened #17942 "Amazon Seller Partner - get_merchant_listings_all_data -> Truncated incorrect CHAR(1024)"
## Environment
- **Airbyte version**:  0.40.14
- **OS Version / Instance**: Windows 10
- **Deployment**: docker
- **Source Connector and version**: Amazon Seller Partner 0.2.27
- **Destination Connector and version**: MySQL 1.0.4 (v 8.0.30)
- **Step where error happened**: Normalizing

## Current Behavior
I want to get and normalize data from "get_merchant_listings_all_data".
The data itself can b

[2022-10-13 12:56] digambar-t7 commented on #17687
Hey there,
I'd like to go for this.Is this still open?

[2022-10-13 13:22] shashanksinghfd commented on #2982
Heya, I am new to airbyte codebase, any pointers on where I can contribute to this connector?

[2022-10-13 13:28] shrodingers commented on #16991
@subodh1810 , sorry to reopen this but the main goal of this issue was a third situation : sometimes everything goes fine but the Postgres CDC source does not output any state message (as per the initial log). This also causes a full refresh, but not because of an error and lsn ack, only because the source did not output state message, so the initial state is persisted and next run is a full refre

[2022-10-13 14:19] marcosmarxm commented on #12888
Zendesk ticket #[2794](https://airbyte7538.zendesk.com/agent/tickets/2794) has been linked to this issue.

[2022-10-13 14:20] marcosmarxm commented on #12888
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-13 at 14:19:*

<blockquote><div class="zd-comment" dir="auto">Hi @Huib! First things first - could you please upgrade your Airbyte version? We get updates so often that just doing that might fix the issue. :) &nbsp;<br><br>A few ideas:<br><br>1. Have you seen the docs on Avro - JSON conversion?<br><a rel="noopener noreferrer" href="https://d

[2022-10-13 14:23] nataliekwong opened #17948 "Enable access to Stripe customer portal for paying customers"
Stripe has a customer portal that allows users to easily access their transaction history and manage the credit card on file.  This should be accessible within the UI itself.

This allows for Cloud customers to easily access and understand their payments to Airbyte over time and removes the friction of needing to reach out to the Finance team to manually pull this information each time.

We would

[2022-10-13 14:25] marcosmarxm commented on #17510
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-13 at 14:25:*

<blockquote><div class="zd-comment" dir="auto">Got it, thanks!<br><br>Could you try rolling back to a pre 1.x.x version, using one of the work arounds listed in the link below, or doing a total reset? The reset obviously would be a last resort option.<br><br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airby

[2022-10-13 14:35] Amruta-Ranade commented on #17687
@digambar-t7 Yep!

[2022-10-13 14:37] timroes commented on #17753
The primary reason for this is that the code that runs for `authSpecification` connectors that will mark the actual OAuth parameter fields as hidden, also removes the required status from them: https://github.com/airbytehq/airbyte/blob/master/airbyte-webapp/src/core/jsonSchema/utils.ts#L40-L42 (Why so isn't clear anymore).

Even removing this though will not show the error beside the field, becaus

[2022-10-13 15:10] arimbr opened #17952 "Octavia CLI command 'octavia get connection' fails"
## Environment
- **Airbyte version**:  0.40.12
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: Postgres 1.0.14
- **Destination Connector and version**: BigQuery 1.2.4
- **Step where error happened**: octavia get connection "postgres <> bigquery"

## Current Behavior
I manually created a Postgres to BigQuery connection in the Airbyte UI that sy

[2022-10-13 15:12] digambar-t7 commented on #17687
Hey @Amruta-Ranade I went through all the references.I just need the clarity as to what type of alteration is expected.What does it require : rephrasing,restructuring or just formatting or something else.

[2022-10-13 15:25] Amruta-Ranade commented on #17687
Restructuring and reformatting as per the linked Writing guidelines. The linked examples should give you an idea for the tone/content approach we're looking for. You can write the first draft in a google doc and share it here.

[2022-10-13 15:30] brianjlai commented on #17481
It does feel like something of a risk to assume that all OSS users will adhere to this and we're leaving the door open to a security loophole connection if misconfigured. But if that's the paradigm we're subscribing to for DBs for convenience of OSS that is fine too. But for DBs, how does the connector know to allow insecure connections? Is the connector aware of whether its running on cloud vs. O

[2022-10-13 15:49] marcosmarxm opened #17955 "JSON not being copied on incremental sync"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#2451](https://airbyte7538.zendesk.com/agent/tickets/2451)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Sunny

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><h2 dir="auto">
<a href="#environment-1" style="color: #006699; font-weight: bold; text-decoration: none" rel="n

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-09-27 at 18:02:*

<blockquote><div class="zd-comment" dir="auto">Hello there! You are receiving this message because none of your fellow community members has stepped in to respond to your topic post. (If you are a community member and you are reading this response, feel free to jump in if you have the answer!) As a result, the Community Assistance

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-09-29 at 18:07:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/rocky" style="color: #006699; font-weight: bold; text-decoration: none" rel="noreferrer">@rocky</a>, this sounds less of an output plugin issue and perhaps a replica identity issue.</p>
<p dir="auto">When you say changes above, are the changes to colA or to a

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-09-30 at 13:09:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">The table is using a default replica key, which is it’s primary key. We have other tables being synced the same way without issue, but this is a larger table.</p>

 [<a href="https://discuss.airbyte.io/t/json-not-being-copied-on-incremental-sync/2727/4" rel="noreferrer">

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-03 at 16:01:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/adam" style="color: #006699; font-weight: bold; text-decoration: none" rel="noreferrer">@adam</a> : I switched to pgoutput plugin, problem still exists.</p>
<p dir="auto">“sometable” has a primary key and a default replica set.</p>
<p dir="auto">Let me know w

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-03 at 16:04:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Note - debugging this further. The initial insert is captured by airbyte, but the subsequent update, which modifies the value in colA is not.</p>

 [<a href="https://discuss.airbyte.io/t/json-not-being-copied-on-incremental-sync/2727/6" rel="noreferrer">Discourse post</a

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Sunny on 2022-10-03 at 18:08:*

<blockquote><div class="zd-comment" dir="auto">Hey, thanks for providing so much info. It's interesting the behaviour is different on initial sync because in effect this initialization is a full refresh sync. After that initialization is when data comes from the postgres WAL.<br><br>Could you check that all tables you want synced are ad

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-03 at 19:11:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Yes, all tables have the right airbyte publication.</p>
<p dir="auto">Note: The table does have multiple publications to it, but this connection is using its own (and a unique replication slot as well).</p>
<p dir="auto">Few other things of interest:</p>
<ul style="margi

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-04 at 21:35:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/sh4sh" style="color: #006699; font-weight: bold; text-decoration: none" rel="noreferrer">@sh4sh</a> : any update here? We’re using this system in a production environment and this is causing issues for an important table.</p>

 [<a href="https://discuss.airby

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Sunny on 2022-10-05 at 13:44:*

<blockquote><div class="zd-comment" dir="auto">Hello, thanks for your replies. Would you be able to try a newer connector version? There have been some recent changes with the postgres connector, not sure if you're still on 1.0.7 but the latest version is 1.0.13: <a rel="noopener noreferrer" href="https://docs.airbyte.com/integrations/s

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-05 at 15:10:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Upgrading now, will run a test and let you know</p>

 [<a href="https://discuss.airbyte.io/t/json-not-being-copied-on-incremental-sync/2727/11" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-06 at 13:33:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Upgrading to the latest postgres connector didn’t fix the issue. Please let me know next steps <a href="/u/sh4sh" style="color: #006699; font-weight: bold; text-decoration: none" rel="noreferrer">@sh4sh</a>!</p>

 [<a href="https://discuss.airbyte.io/t/json-not-being-cop

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Sunny on 2022-10-06 at 17:21:*

<blockquote><div class="zd-comment" dir="auto">Thanks for giving the latest connector a try.<br><br>To confirm, the incremental syncs are marked as successful in airbyte despite the data not copying from ColA?<br><br>Could you share the full logs from when this issue occurred, especially the incremental sync, and possibly the first full

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-07 at 14:29:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Yes confirmed, initial sync and incremental sync are successful. Incremental sync contain the rows for INSERTS, but not UPDATES to the record.</p>
<p dir="auto">Logs sent privately over Slack</p>

 [<a href="https://discuss.airbyte.io/t/json-not-being-copied-on-increment

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-07 at 16:37:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I wonder if this is related to the JDBC fix outlined in Version 3.13.21, i.e.: “Fixed an issue with missing data in the JDBC chunk downloader.”</p>
<p dir="auto">Notes here: <a href="https://community.snowflake.com/s/article/JDBC-Driver-Release-Notes" rel="noopener nofol

[2022-10-13 15:49] marcosmarxm commented on #17955
*Comment made from Zendesk by Sunny on 2022-10-12 at 18:13:*

<blockquote><div class="zd-comment" dir="auto">Hey, just to provide an update, I've been working on reproducing this. So far I have set up a local Postgres 14 with wal2json, adding some dummy data and it seemed to sync OK including updates and deletes. Maybe my json is too small? I'll keep trying, and I've raised the issue to my team in

[2022-10-13 15:49] edgao opened #17956 "Normalization: Support very wide streams"
Seen in https://github.com/airbytehq/oncall/issues/672. Streams with many fields cause problems in normalization, because we run into query size limits.

[code]

This happens in normalization when there are many columns; we create a view that looks something like this: (`airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/build/com

[2022-10-13 15:52] grishick commented on #11356
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Destinations-6332532d6893ce001c7a56a7/issues/airbytehq/airbyte/11356?planning-poker) with Zenhub @edgao @ryankfu @suhomud

[2022-10-13 15:58] grishick commented on #11356
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Destinations-6332532d6893ce001c7a56a7/issues/airbytehq/airbyte/11356?planning-poker) with Zenhub @etsybaev

[2022-10-13 16:02] marcosmarxm commented on #17955
*Comment made from Zendesk by Sunny on 2022-10-13 at 16:02:*

<blockquote><div class="zd-comment" dir="auto">Hey Rocky, I see here that the JDBC fix was added into the Snowflake connector 0.4.37 release, could you give that one a try if you haven't yet? <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/pull/16839">https://github.com/airbytehq/airbyte/pull/16839</a><br><br>I'v

[2022-10-13 16:10] evantahler commented on #17928
At Grouparoo we had something like this:
* The default GROUPAROO_LOG_LEVEL was `info`, which logged one line for each API Action or background job as it was completed
* There was a level lower, `debug` which also printed all "remote calls", which means that any connector's SQL command or HTTP request was printed for debugging.
* Logging was controlled by Environment variables.

This pattern had bo

[2022-10-13 16:11] edgao commented on #17481
yeah, there's definitely some interesting discussion about whether this paradigm is _correct_. There's always going to be some need for users who don't want to deal with these restrictions - but maybe this should be opt-in for OSS users who know they have a secured environment and can safely ignore them.

there's an env var for whether the container is running as OSS or cloud, but it would need to

[2022-10-13 16:12] evantahler commented on #17928
Alternative Idea
* we would utilize AirbyteTraceMessage and /always/ send debug information from the connector, but the platform would ignore it (e.g. drop the message) unless it was told to log those messages

[2022-10-13 16:15] alexander-marquardt opened #17957 "Low code AddFields does not work as expected"
## Environment
- **Airbyte version**:  v0.40.14
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**:  Custom - low code connector
- **Step where error happened**:  Python / Read

## Current Behavior
I have setup a low code connector following [instructions in our docs](https://docs.airbyte.com/connector-development/config-based/tutorial/getting-started).

[2022-10-13 16:17] benmoriceau commented on #14371
@tooptoop4 The issue is fixed on our side, I tested it locally. We don't depends on temporal for this issue because we don't call their `auto-setup.sh` script but a custom script on our side as you can see [here](https://github.com/airbytehq/airbyte/blob/master/airbyte-temporal/Dockerfile). A communication is being prepared on our side, I don't know if it will be a CVE. I'll close the issue when i

[2022-10-13 16:18] grishick commented on #16992
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Destinations-6332532d6893ce001c7a56a7/issues/airbytehq/airbyte/16992?planning-poker) with Zenhub @edgao @ryankfu @suhomud @etsybaev

[2022-10-13 16:28] grishick commented on #16833
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Destinations-6332532d6893ce001c7a56a7/issues/airbytehq/airbyte/16833?planning-poker) with Zenhub @edgao @etsybaev @ryankfu @suhomud

[2022-10-13 16:40] grishick commented on #16833
Notes from grooming:

- the connections in original OC ticket are turned off, so it is unlikely that we'll be able to troubleshoot those
- issue mentioned in [this comment](https://github.com/airbytehq/airbyte/issues/16833#issuecomment-1253902932) is still prevalent
- the problem may have been fixed. if so, we need to understand what code changes have addressed the problem before closing this issu

[2022-10-13 16:41] marcosmarxm opened #17958 "Connecting to an External Postgres database"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#2795](https://airbyte7538.zendesk.com/agent/tickets/2795)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi. I’m a newbie. I have set up and scheduled some connections to run every day. Now, I want

[2022-10-13 16:41] marcosmarxm commented on #17958
*Comment made from Zendesk by Marcos Marx on 2022-10-13 at 15:03:*

<blockquote><div class="zd-comment" dir="auto">Hello there! You are receiving this message because none of your fellow community members has stepped in to respond to your topic post. (If you are a community member and you are reading this response, feel free to jump in if you have the answer!) As a result, the Community Assistance

[2022-10-13 16:42] marcosmarxm commented on #17958
*Comment made from Zendesk by Marcos Marx on 2022-10-13 at 16:42:*

<blockquote><div class="zd-comment" dir="auto">You need to backup manually the database, today Airbyte doesn't have a migration feature between the internal database.<br>I created the issue <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/17958">https://github.com/airbytehq/airbyte/issues/17958</a> to

[2022-10-13 17:01] misteryeo commented on #17939
@delenamalan Thanks for the feedback! We'll take a look at this and let you know next steps. Feel free to share future questions/issues on [our Slack channel](https://join.slack.com/share/enQtNDEzMjUzNTQ5OTg0Ny0xN2I2MDU4NGFkOTNlYzZlN2JmMGIzOTgyMjU1ODk1MDIzZWM5YTAzMThkMDFkNzgzNWNjNzljOGU1MmRhMDIw) too!

cc: @girarda @brianjlai

[2022-10-13 17:07] brianjlai commented on #17683
have it working, but need to add some tests and functionally validate it. but should be ready for review in the next day or two

[2022-10-13 17:09] brianjlai commented on #17681
spiked out the work last week, but out of the options available the change might be more involved to get this working so might discuss this w/ the team to see what might be the right approach

[2022-10-13 17:09] brianjlai commented on #17681
spiked out the work last week, but out of the options available the change might be more involved to get this working so might discuss this w/ the team to see what might be the right approach

[2022-10-13 17:29] marcosmarxm commented on #17148
@anamargaridarl can you test the new version?

[2022-10-13 17:30] isaacharrisholt opened #17963 "Low-code CDK: request_parameters do not accept options"
## Environment
- **Airbyte version**:  0.40.13
- **OS Version / Instance**: Kubuntu 5.18.5
- **Deployment**: Docker
- **Source Connector and version**: Alpha Vantage (WIP)
- **Step where error happened**: Stream check

## Current Behavior

When trying to use `{{ options['function'] }}` in the `request_parameters`, the parameter is not included in the request, despite the option being present for t

[2022-10-13 17:32] YowanR commented on #17481
This is a really interesting discussion! Should we consider moving this to Slack so more folks can chime in?

[2022-10-13 18:17] henriblancke opened #17968 "Octavia CLI: allow disabling stream reset when applying changes"
## Tell us about the problem you're trying to solve
More information in [this slack thread](https://airbytehq.slack.com/archives/C02RRUG9CP5/p1665669390703719)

TL;DR: when you apply a change to a stream using Octavia CLI (for example enabling a previously disabled stream), Airbyte will apply a reset for either all or affected streams. The UI allows you to bypass resetting streams. It'd be great i

[2022-10-13 18:31] #17539 closed

[2022-10-13 18:55] evantahler opened #17971 "Octavia CLI needs to be updated work work with Basic Auth"

[2022-10-13 18:58] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-13 at 18:58:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Note: we have upgraded to Airbyte 0.40.13, using postgres source connector 1.0.14 and snowflake destination connector 0.4.38.</p>

 [<a href="https://discuss.airbyte.io/t/json-not-being-copied-on-incremental-sync/2727/18" rel="noreferrer">Discourse post</a>]</div></block

[2022-10-13 19:26] sh4sh commented on #10285
Hey @igrankova, any update? Hoping to merge some changes to this connector 🙂

[2022-10-13 19:51] marcosmarxm commented on #17955
*Comment made from Zendesk by Marcos Marx on 2022-10-13 at 19:51:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Sunny, thanks for the recommendation on checking the raw table on Snowflake side. I was focusing primarily on the postgres side, which doesn’t appear to be the issue.</p>
<p dir="auto">First row is the insert, second row is the update.</p>
<blockquote style="background-c

[2022-10-13 19:58] mattyweb commented on #16412
It would be really helpful to have some guidance for this. I'm not sure why this isn't being prioritized more highly but in the meantime it would be great to have an idea of how to proceed with workarounds to this problem.

This issue has been reported a few times:
https://github.com/airbytehq/airbyte/issues/14441
https://github.com/airbytehq/airbyte/issues/13734

[2022-10-13 20:04] mattyweb commented on #11287
Can https://github.com/airbytehq/airbyte/issues/14441 get added to the Redshift GA list? It would be one thing if it only truncated data or skipped a row but currently it appears if there is even 1 row of VARCHAR data around 65535 in length the whole process blows up...

[2022-10-13 20:46] evantahler opened #17974 "Remove `airbyte-cli`"
https://airbytehq-team.slack.com/archives/C02U2SSHP9S/p1665693481395029

[2022-10-13 20:53] YowanR commented on #10285
WIP. I believe @igrankova had a call with TalkDesk but we don't have the account yet, unfortunately.

[2022-10-13 20:54] sherifnada commented on #15019
we need to:
1. migrate connectors off the legacy auth spec
2. remove it from the Airbyte protocol

[2022-10-13 20:54] sherifnada commented on #15019
@YowanR would it be possible to have GL do step 1? extensibility can do step 2

[2022-10-13 21:02] YowanR commented on #15019
@sherifnada Concretely, what does Step#1 involve? I'd like to understand how much time it would take so that we can plan and prioritize accordingly

[2022-10-13 21:03] sherifnada commented on #17919
Agreed with your analysis here evan: https://github.com/airbytehq/airbyte/issues/17919#issuecomment-1276822001

It's probably easier to solve this in VCR if possible but if not, I have no issue with replacing VCR with the other lib.

Not sure how we make the call if Ops handles this or extensibility. Off the cuff I'd say this is ConEx but won't say no if Ops wants it!

[2022-10-13 21:10] sherifnada commented on #7577
nice find @bazarnov !

[2022-10-13 21:11] sherifnada commented on #11783
@josix it means that one that you mentioned in `BaseConnector`

[2022-10-13 21:14] sherifnada commented on #15019
@YowanR It would involve:

1. identifying which connectors still use the old spec. Done below.
2. edit them to use the new spec (most likely a manual process)
3. publish the changed connectors
4. frontend merges the change to remove all usages of this logic
5. Delete the field from the Airbyte protocol

Connectors which use the old specification:
[code]

[2022-10-13 21:22] sherifnada commented on #11334
@YowanR the main blocker with shopify isn't removing API key auth in cloud (that's pretty doable), it's the issues mentioned in this link https://github.com/airbytehq/airbyte/issues/11334#issuecomment-1104689324

[2022-10-13 21:23] YowanR commented on #15019
Thanks @sherifnada!
@lazebnyi @YuliiaNahoha Can you take a look at this? We should be able to fit this in our next sprint. Thoughts?

[2022-10-13 21:25] sspaeti commented on #17256
Update:
- [ ] store DuckDB file locally outside of the docker container
- [ ] Unit Tests

It works:
![image](https://user-images.githubusercontent.com/689199/195713653-1809ab21-a898-4d0e-94ec-911e6b6851ac.png)

[2022-10-13 21:27] lmossman opened #17975 "Show descriptions of oneOf field choices in connector setup form"
## Tell us about the problem you're trying to solve
As a result of [this OC issue](https://github.com/airbytehq/oncall/issues/740), it was discovered that for `oneOf` fields in a connector spec, we currently only display the description of the `oneOf` field in the connector form, but don't display descriptions of the actual choices themselves anywhere.

For example, the Replication Method field in

[2022-10-13 21:27] octavia-squidington-iv commented on #17975
cc @airbytehq/frontend

[2022-10-13 21:34] sherifnada commented on #4847
will defer to @supertopher since his team now manages infra related concerns such as this one

[2022-10-13 21:35] sherifnada commented on #4046
cc @YowanR as the person managing connector dev backlog

[2022-10-13 21:41] YowanR commented on #4046
@mickaelandrieu Could you point me to where you saw this connector marked as done, please? AFAIK, this connector has not been tackled yet so it's probably a typo from our side :)

[2022-10-13 21:44] YowanR commented on #11334
Oh I see. That's quite a lot of overhead for us to support this connector then. We have restarted the process but if these are the blockers, then this will require work from a lot of different teams. @sherifnada Do you know how Fivetran or other competitors handle this?

[2022-10-13 21:50] sherifnada commented on #11334
when I asked, Shopify said that these were newer regulations, and that Fivetran will "eventually" have to become compliant with them. I don't quite buy it but we'll see :P

[2022-10-13 22:18] lmossman commented on #17318
@edmundito @krishnaglick FYI I adjusted the labels here - this issue is about the Connection Replication page so I've applied the team/workflow and ui/connection labels

[2022-10-13 22:39] marcosmarxm commented on #17510
*Comment made from Zendesk by Marcos Marx on 2022-10-13 at 22:39:*

<blockquote><div class="zd-comment" dir="auto"><blockquote style="background-color: #f8f8f8; border-left-color: #e9e9e9; border-left-style: solid; border-left-width: 5px; margin: 0 0 10px; padding: 12px 25px 2px 12px">

<img alt="" width="20" height="20" src="https://sea2.discourse-cdn.com/business7/user_avatar/discuss.airbyte.io/

[2022-10-13 22:41] evantahler commented on #17919
@grubberr is investigating:

[2022-10-13 22:58] xiaohansong opened #17980 "Check should be able to recognize 429 error and fail fast"
https://github.com/airbytehq/oncall/issues/759

Currently I observed that during the check phase of a sync job if a source reported 429 error (too many requests) it either sleeps or retries (but never succeeds). Eventually the temporal activity would time out and thus it fails, but reporting temporal issue instead.

I think since this is a data source issue we should let customer know clearly that

[2022-10-13 23:03] YowanR commented on #17919
@lazebnyi @YuliiaNahoha Just FYI that this is getting prioritized

[2022-10-13 23:16] #17407 closed

[2022-10-13 23:26] malikdiarra commented on #17980
@xiaohansong do you have a list of the connection you checked somewhere? I want to see if some connectors are more affected than others.

[2022-10-13 23:31] xiaohansong commented on #17980
Yes - referred from metabase: https://airbyte.metabaseapp.com/question/381-detail-list-of-platform-failure?detail_date_range=past7days&connector_deployment_type=cloud&connector_deployment_type=internal-cloud&connector_deployment_type=cloud-inactive

[2022-10-13 23:58] xiaohansong opened #17983 "Audit database indexes"
Some queries to database use `where` clause to filter on certain columns but these columns are not necessary indexed properly.

For example, https://github.com/airbytehq/airbyte-cloud/blob/master/cloud-config/cloud-config-persistence/src/main/java/io/airbyte/cloud/config/persistence/configs/CloudRepository.java#L120-L122 filter by billing_user_id but billing_user_id is not indexed in CLOUD_WORKSPA

[2022-10-14 01:15] danieldiamond commented on #5417
@davinchia thanks so much for the reply and for that context. Really appreciated.

[2022-10-14 02:01] caiohasouza commented on #17576
Hi @marcosmarxm ,

I got it, i created a PR with this feature (https://github.com/airbytehq/airbyte/pull/17985), could you check please? I already tested locally.

Regards

[2022-10-14 02:30] steelcolosus commented on #15569
Hi I posted this error on slack and they point me to this issue, I don't know if it's related to the timeout but in the end I'm having a

`   raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)`

followed by a lot of rate limit errors, it took almost 10h to do a sync failing at the end with this error

![image](https://u

[2022-10-14 03:03] noviceanalyst commented on #17327
Hi,

I am getting this exact error while trying to connect hubspot to big query for the first time. Specifically, I get errors that look like this for any tables that I try to transfer, whether contacts, campaign, e-mail, etc.

[code]
When we sync with raw json instead of tabular normalization, the records do transfer to big query as json entries in the resultant table. I am new to Airbyte so any

[2022-10-14 05:09] rodireich opened #17987 "IndexOutOfBoundsException in postgres source CDC due to table with column name only different in case"
This closes https://github.com/airbytehq/oncall/issues/647
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: source-postgres 1.0.15
- **Step where error happened**:

## Current Behavior
When a table

[2022-10-14 06:46] igrankova commented on #10285
hey @sh4sh, we are still in progress. We are now applying to the partner program and there's a possibility to have a sandbox account. Hope to have some new next week.

[2022-10-14 06:58] timroes commented on #17318
@josephkmh is this part of the PR you're working on?

[2022-10-14 07:59] josephkmh commented on #17318
@timroes kind of, but currently the error message should be shown anyway after form submission. My PR just adds a quicker validation client-side.

@TBernstein4 could you let me know which invalid expression you were using? I'm not able to reproduce. When I enter an invalid cron I am getting an error message at the bottom of the form:

https://user-images.githubusercontent.com/7550957/195793892-1cb

[2022-10-14 08:09] #14732 closed

[2022-10-14 08:16] matimirandach opened #17988 "Redshift connector error trying to get schema from the source (Since version 0.3.12)"
## Environment
- **Airbyte version**:  0.39.14-alpha
- **OS Version / Instance**: AWS EKS
- **Deployment**: Kubernetes (On Plural)
- **Source Connector and version**: Redshift 0.3.12
- **Step where error happened**: Sync Job

## Current Behavior
Currently, trying to create a new connection from Redshift to Postgres and the creation fails in the sync schema step.

## Expected Behavior
Retrieve all

[2022-10-14 08:46] valleybay opened #17989 "Destination Postgres: connection failing after SSL requirement"
## Environment
- **Airbyte version**:  Airbyte Cloud
- **OS Version / Instance**: N/A
- **Deployment**: N/A
- **Source Connector and version**: Not applicable
- **Destination Connector and version**: 0.3.26
- **Step where error happened**: Testing connection to destination

## Current Behavior
<img width="845" alt="image" src="https://user-images.githubusercontent.com/10939013/195803783-9bae9e97-1

[2022-10-14 10:39] alexander-marquardt opened #17993 "Creation of a Jinja filter that allows hashing of sensitive data before arriving at a destination."
## Tell us about the problem you're trying to solve
For GDPR compliance, it may be necessary to obfuscate personally identifiable information. With the jinja2 template support in the low code connectors, this is relatively straightforward to implement.

I've written a protype running locally running in a virtual environment:

file:  `interpolation/filters.py`:
[code]

And it requires the following

[2022-10-14 10:41] alexander-marquardt commented on #17993
CC:  @sherifnada @girarda @andy

[2022-10-14 13:22] marcosmarxm commented on #15569
The current query executed by Airbyte:
[code]
which doesn't include the items.

[2022-10-14 13:36] marcosmarxm commented on #17968
Thanks @henriblancke I added the issue to team backlog.

[2022-10-14 13:38] #17252 closed

[2022-10-14 13:39] marcosmarxm commented on #17510
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-14 at 13:39:*

<blockquote><div class="zd-comment" dir="auto">Oh, I see I wasn't aware that there was already a discussion happening on GitHub! I see that one of our engineers is looking for more info for you here:<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/pull/14424">https://github.com/airbytehq/airbyte/pull

[2022-10-14 13:41] marcosmarxm commented on #16412
https://github.com/airbytehq/airbyte/pull/17273 solves this issue.

[2022-10-14 13:45] jtv8 opened #17995 "Helm Chart: enable explicit Postgres DATABASE_URL value (e.g. to enable SSL options)"
## Tell us about the problem you're trying to solve
When deploying Airbyte via Helm, it is currently impossible to provide extra arguments to the JDBC driver (e.g. to enable SSL options) - see [Connecting to an External Postgres database](https://docs.airbyte.com/operator-guides/configuring-airbyte-db/#connecting-to-an-external-postgres-database) in the docs.

Currently this environment variable i

[2022-10-14 15:11] edgao commented on #17327
can you post the full log file from the sync? I was looking into this recently and it looked like the source actually failed, which led to some  `_raw` tables not being created (https://github.com/airbytehq/airbyte/issues/17926) - would be great to confirm/deny that theory.

[2022-10-14 15:16] davinchia commented on #17928
No limits in place today. Cost is marginal. Can increase as much as possible.

This will be displayed in the UI, so users with workspace access to that connection can see this. This is stored in logs that are swept after a year. Only Airbyte eng/Technical support has access to these. Agree this is a bigger concern.

* to add on, maybe the invariant we establish with OSS users is the ability to pas

[2022-10-14 15:39] sh4sh commented on #17989
Hey there, are you able to connect to this database by other methods? Can you confirm that you have a `hostssl` entry for the user with `clientcert=verify-ca` authentication option in your pg_hba.conf?

[2022-10-14 15:56] bazarnov commented on #17673
@lluisgassovillarejo any updates for far?

[2022-10-14 16:06] TBernstein4 commented on #17318
@josephkmh  The original user issue was using ```0 9-19 * * *``` but I just gave it a try and received the same error messaging you encountered. I do not know what has changed since I originally posted this but it seems to me it has been fixed/added.

Are we good to close this?

[2022-10-14 16:20] rodireich commented on #17346
Closing this as we have no further information.
Please reopen if there's still an issue.

[2022-10-14 16:20] #17346 closed

[2022-10-14 16:24] #10985 closed

[2022-10-14 16:25] #17341 closed

[2022-10-14 16:25] #15609 closed

[2022-10-14 16:36] marcelopio commented on #17774
Can I help with any more details?

I was trying to think in a solution and what I think is that we should update the database attempt schema to also have the state, and do when the attempt starts, we get the current state from it, and not from the job. That way we have the traceability of what the attempt used as a state.

[2022-10-14 16:56] josephkmh commented on #17318
@TBernstein4 I'm not sure what would have changed since this was opened, but since everything seems to be working fine and we can't reproduce, fine for me to close this issue 👍

[2022-10-14 17:05] marcosmarxm commented on #17955
*Comment made from Zendesk by Sunny on 2022-10-14 at 17:05:*

<blockquote><div class="zd-comment" dir="auto">I have learned that normalization is actually a part of the Airbyte platform and not in the destination connector! I made some assumptions here :) Possibly a platform issue rather than destination connector. More info in here for curious readers: <a rel="noopener noreferrer" href="https://d

[2022-10-14 17:16] YowanR commented on #17890
@grubberr @YuliiaNahoha We need to prioritize this one issue for the next sprint.

[2022-10-14 17:20] marcosmarxm commented on #17955
*Comment made from Zendesk by Sunny on 2022-10-14 at 17:20:*

<blockquote><div class="zd-comment" dir="auto">We're trying to figure out estimates on timeline but need some more context on exactly when this issue began. Could you let me know the answers to these questions?<br><br>1. Do you have normalization enabled? (Just want to triple check this so we don't investigate in the wrong place)<br>2.

[2022-10-14 17:24] noviceanalyst commented on #17327
HI @edgao please find attached the error log.

[huspot_bq_errorlog.txt](https://github.com/airbytehq/airbyte/files/9788714/huspot_bq_errorlog.txt)

[2022-10-14 17:37] philippeboyd commented on #17673
@bazarnov Shopify as a source no longer seem to work (in Incremental) loading from scratch. I just set two of them and both are having the same `Response Code: 502` error as mention by @lluisgassovillarejo

It seems to be syncing with Full Refresh

[2022-10-14 17:38] evantahler commented on #17919
moving over to `requests-cache` seems like a HUGE win!
* ~ 75% memory saving
* ~ 2x faster (21min -> 12min)

So... we should make this change!

[2022-10-14 17:43] lluisgassovillarejo commented on #17673
Hi,
thanks for following up. My connector is still running after 2 days, so no
updates so far.
I will keep you posted.

On Fri, 14 Oct 2022, 19:38 Philippe Boyd, ***@***.***> wrote:

[2022-10-14 17:46] #17318 closed

[2022-10-14 18:07] bazarnov commented on #17673
Could you please, provide the latest logs, in a meanwhile, please switch back to the previous version, as a workaround.

[2022-10-14 18:10] philippeboyd commented on #17673
@bazarnov here are the logs

[default_logs_8147_txt.txt](https://github.com/airbytehq/airbyte/files/9789014/default_logs_8147_txt.txt)

[2022-10-14 18:18] air-rick opened #18006 "Source Google Sheets: slugify column names"
## Tell us about the problem you're trying to solve

Spreadsheets (including Google Sheets) often have non sql compliant column names. Even if columns are technically compliant, they often are cumbersome with spaces and special characters in them.

## Describe the solution you’d like

I'd like to see an option to essentially slugify the column names of the Google Sheet. This can be an option and d

[2022-10-14 18:19] sajarin commented on #17988
@matimirandach does this issue still appear in the latest version of the redshift connector (0.3.50)?

[2022-10-14 18:46] bleonard commented on #17919
very exciting. do we have a good idea of the number of connectors this affects? (I assume a lot)

[2022-10-14 18:46] evantahler commented on #17919
... All of the API connectors that use the CDK?

[2022-10-14 18:47] tealjulia commented on #16013
@edmundito thinking about how to solve this... it seems like it will involve some degree of merging the diff data into this calculation: https://github.com/airbytehq/airbyte/blob/master/airbyte-webapp/src/views/Connection/ConnectionForm/calculateInitialCatalog.ts

I'm wondering if this work is better suited to do alongside integrating the diff with the syncCatalog as part of auto-detect schema cha

[2022-10-14 18:49] YowanR commented on #17919
Both low-code and python connectors are impacted? Can we consider a platform level fix or do we need to fix individual connectors? cc @sherifnada

[2022-10-14 19:28] marcosmarxm commented on #17955
*Comment made from Zendesk by Sunny on 2022-10-14 at 19:28:*

<blockquote><div class="zd-comment" dir="auto">I have reproduced this issue<br>&nbsp;<br>Airbyte v0.40.14<br>Source Postgres v1.0.16<br>Destination Snowflake v0.4.38<br>&nbsp;<br>also:<br>Airbyte v0.40.10<br>Source Postgres 1.0.11<br>Destination Snowflake 0.4.38<br><br>Steps to reproduce:<br><ol dir="auto"><li>Inserted row with null col

[2022-10-14 19:35] colesnodgrass opened #18010 "label tickets in the backlog that have not yet been discussed/groomed"
This is a task that was identified in the 10/13 retro
<img width="555" alt="image" src="https://user-images.githubusercontent.com/143818/195927804-88c9d570-90c1-4478-a6a1-63a2137fafca.png">

Tasks
- [x] add `platform-workflow/requires-grooming` label
- [ ] add github action for assigning label
- [ ] rename `team/workflow` -> `team/platform-workflow`

[2022-10-14 19:38] colesnodgrass opened #18012 "define and implement a consistent way of handling nullable fields"
This is a task that was identified in the 10/13 retro
<img width="561" alt="image" src="https://user-images.githubusercontent.com/143818/195927973-3467ad0a-78a4-437c-963a-b1c51748ab8d.png">

This will be broken up into the following steps:
- [ ] create a proposal and discuss with team
- [ ] implement proposal
- [ ] convince team to switch to kotlin

[2022-10-14 19:45] colesnodgrass opened #18013 "enable local observability testing"
This is a task that was identified in the 10/13 retro:
<img width="558" alt="image" src="https://user-images.githubusercontent.com/143818/195928408-cf6a493e-1702-428b-a385-4ff750dbac29.png">

I ended up ~spending~ wasting a lot of time trying to reproduce and determine why the metric-reporter Micronaut rewrite caused the metrics to break.

There is a single dev environment where metrics work and c

[2022-10-14 20:03] natalyjazzviolin commented on #17963
@bleonard could you assist with this? I know we want to catch these as early as possible for Hacktoberfest :)

[2022-10-14 20:06] cgardens commented on #3341
closed as no longer relevant.

[2022-10-14 20:06] #3341 closed

[2022-10-14 20:07] cgardens commented on #1574
closed as no long relevant.

[2022-10-14 20:07] #1574 closed

[2022-10-14 20:08] cgardens commented on #1602
closed as no longer relevant.

[2022-10-14 20:08] #1602 closed

[2022-10-14 20:08] cgardens commented on #1996
closed as no longer relevant.

[2022-10-14 20:08] #1996 closed

[2022-10-14 20:10] cgardens commented on #2189
@livefire2015 adding custom transformations is being worked on in Q4.

[2022-10-14 20:13] cgardens commented on #3004
@andyjih is this still a prevalent issue? or should we close? i know some work was done on this between the creation of this issue and now.

[2022-10-14 20:14] cgardens commented on #3386
closed as duplicate.

[2022-10-14 20:14] #3386 closed

[2022-10-14 20:15] cgardens commented on #4731
closing as no longer relevant (import / export has been removed).

[2022-10-14 20:15] #4731 closed

[2022-10-14 20:18] cgardens commented on #4157
closed as no longer relevant. we now add information like this to the actor definition.

[2022-10-14 20:18] #4157 closed

[2022-10-14 20:20] cgardens commented on #3821
@supertopher moving this to your backlog, but feel free to close. i'm not sure how relevant it still is.

[2022-10-14 20:22] cgardens commented on #3641
closed as duplicate.

[2022-10-14 20:22] #3641 closed

[2022-10-14 20:23] cgardens commented on #3651
closed as no longer relevant. name transformer is gone.

[2022-10-14 20:23] #3651 closed

[2022-10-14 20:23] cgardens commented on #3778
closed as no longer relevant. this info should move to the actor definition.

[2022-10-14 20:23] #3778 closed

[2022-10-14 20:32] pedroslopez commented on #17919
@YowanR this should be a change to how the CDK handles cached streams, so connectors using caching that would benefit from this would just have to update to the latest CDK version.

I did find some custom caching implementations that we may need to look out for, such as BingAds:

https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-bing-ads/source_bing_ads/cache.

[2022-10-14 21:03] cgardens commented on #4349
@timroes is this something we still want to do? or should we close?

[2022-10-14 21:03] marcosmarxm opened #18016 "Worker process of Airbyte > v0.40.9 fails to start on custom S3 config"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#2668](https://airbyte7538.zendesk.com/agent/tickets/2668)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Sunny

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px" dir="auto">
<li style="padding-bottom: 10px">Is this your fi

[2022-10-14 21:03] marcosmarxm commented on #18016
*Comment made from Zendesk by Marcos Marx on 2022-10-10 at 15:02:*

<blockquote><div class="zd-comment" dir="auto">Hello there! You are receiving this message because none of your fellow community members has stepped in to respond to your topic post. (If you are a community member and you are reading this response, feel free to jump in if you have the answer!) As a result, the Community Assistance

[2022-10-14 21:03] marcosmarxm commented on #18016
*Comment made from Zendesk by Marcos Marx on 2022-10-12 at 14:40:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">+1</p>
<p dir="auto">I’m getting the exact same error with a very similar deployment on AWS EKS, using custom S3 logging. This was working with our previous version of Airbyte, <code style="background-color: #f9f9f9; padding: 2px 5px">v0.38.3-alpha</code>, and started fa

[2022-10-14 21:05] marcosmarxm commented on #18016
*Comment made from Zendesk by Sunny on 2022-10-14 at 21:05:*

<blockquote><div class="zd-comment" dir="auto">Hey there, I previously created an issue requesting better documentation on these config options, please add a thumbs up and comment any other info you'd like to add: <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/17649">https://github.com/airbytehq/airbyte/i

[2022-10-14 21:07] cgardens commented on #3365
closing as no relevant. export does not exist anymore.

[2022-10-14 21:09] cgardens commented on #7526
closed as done.

[2022-10-14 21:09] #7526 closed

[2022-10-14 21:12] cgardens commented on #7359
Closes as won't do. Let's get the basic emails to be good first and then revisit.

[2022-10-14 21:12] #7359 closed

[2022-10-14 21:14] cgardens commented on #6560
For now we are going to insist on strict semvar for connector versions. Everything else is not valid.

[2022-10-14 21:14] #6560 closed

[2022-10-14 21:20] marcosmarxm commented on #18016
*Comment made from Zendesk by Sunny on 2022-10-14 at 21:20:*

<blockquote><div class="zd-comment" dir="auto">Hello, I see that there has been some updates.&nbsp;<br>&nbsp;<br>Please check to make sure you have these envs filled out (example in Helm): <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/blob/master/charts/airbyte/values.yaml#L23">https://github.com/airbytehq/airb

[2022-10-14 21:25] cgardens commented on #5061
closing as no longer relevant with micronaut.

[2022-10-14 21:25] #5061 closed

[2022-10-14 21:28] cgardens commented on #5283
My understanding of this issue is that it is per-stream resiliency. Going to close it as a duplicate. Agreed this is very valuable and something we are considering early next year.

[2022-10-14 21:28] #5283 closed

[2022-10-14 21:28] cgardens commented on #5258
closing due to minimal interest.  will revisit when our API is more mature.

[2022-10-14 21:28] #5258 closed

[2022-10-14 21:29] cgardens commented on #6759
closing as i think this is no longer relevant.

[2022-10-14 21:29] #6759 closed

[2022-10-14 21:31] cgardens commented on #7265
@sherifnada can we close this one. Doesn't seem to be too popular or relevant at this point. We can create a new issue when we decide to support this.

[2022-10-14 21:31] #7265 closed

[2022-10-14 21:34] cgardens commented on #9473
@ChristopheDuong is this still needed because analytics has access to the db?

[2022-10-14 21:59] bleonard commented on #17963
maybe @girarda or @sherifnada can help me out.
My guess is that the `check` command does not use `options` from a single stream. It has to be able to work only of of `config` params.

[2022-10-14 22:33] grishick opened #18019 ""Report connectors dependency" github action should update existing comment instead of adding a new one"
"Report connectors dependency" github action is triggered every time a new commit is pushed to a PR. On active PRs this results in lots of identical comments that pollute the conversation. This becomes especially annoying when a PR affects many connectors, because each automated comment posted by this action is also very long. I suggest that instead of adding a new comment every time, it updates t

[2022-10-14 23:12] #16252 closed

[2022-10-15 00:33] ChristopheDuong commented on #9473
it would still be useful yes for metrics related to oss

on the cloud side, yes we found some workaround for the moment

[2022-10-15 00:38] ChristopheDuong commented on #3365
it is still relevant and not related to the export/import feature of configuration files.

As a workaround for the moment, you can deploy airbyte  OSS via docker, replicate the same setup and extract the generated normalization project following the documentation [here](https://docs.airbyte.com/operator-guides/transformation-and-normalization/transformations-with-dbt)

[2022-10-15 05:44] digambar-t7 commented on #17686
Hey there!!
            I have found few corrections needed in the documentation for Freshdesk.I'd like to proceed & fix them/

[2022-10-15 06:03] brianjlai commented on #17461
The build looks to have been fixed in https://github.com/airbytehq/airbyte/pull/17596 and the new image was published. Checking in cloud, the snapchat-marketing source is running the latest version `0.1.8`. We can close this one out as a duplicate.

[2022-10-15 06:03] #17461 closed

[2022-10-15 06:11] brianjlai commented on #13136
GL made some recent changes to `source-snapchat-marketing` which fixed the tests and latest published version and on cloud should be using per-stream. Going to close out this ticket out as done since all the GA connectors should now be running per-stream.

One note is `zendesk-support` is pinned specifically to `0.2.14` for some reason, but i'll give it a look and if it looks okay i'll unpin it to

[2022-10-15 06:11] #13136 closed

[2022-10-15 06:15] dfagnan opened #18025 "Source Amazon Ads: missing metrics `Sponsored Display`"
## Tell us about the problem you're trying to solve
I noticed that columns seem to be listed explicitly for the Amazon Ads (being new to airbyte I'm unsure if this is common). As a result - key columns needed to correctly calculate ad performance are missing (Example - https://advertising.amazon.com/API/docs/en-us/reporting/v2/metrics#viewAttributedSales14d)

## Describe the solution you’d like
A

[2022-10-15 07:18] josix commented on #17855
Hello @sajarin I'm unsure if changing pytest version would be sufficient, or is this  a python `importlib` bug. I'm still figuring it out. Do you have suggestions about it?

[2022-10-15 08:29] tuliren opened #18026 "Enable integration test for Databricks with Azure storage"
## Summary
- This is a follow-up request for https://github.com/airbytehq/airbyte/pull/15329.
- Currently the integration test for Databricks with Azure storage is disabled. This is because our current testing Databricks cluster is associated with AWS S3 only.
- To test Azure storage, we may need a separate Databricks cluster.
- The disabled integration test is `DatabricksAzureBlobStorageDestinati

[2022-10-15 08:37] #15140 closed

[2022-10-15 12:48] marcosmarxm opened #18028 "Marcos Test"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Step where error happene

[2022-10-15 21:10] #16308 closed

[2022-10-15 21:39] mattyweb commented on #14441
As @jan-benisek says, the problem seems to be in the hashid generation on the _stg table during normalization. I have data partially loaded there and if I query the table without the _hashid column it works fine. Apparently, it needs to concat all columns in a row together as a VARCHAR before hashing and Redshift doesn't like long VARCHARs.

[code]

As it happens, I don't need all my source column

[2022-10-16 08:57] imrehg opened #18035 "`DeclarativeOauth2Authenticator` doesn't support refreshed refresh_token value"
## Environment
- **Airbyte version**: 0.40.14
- **OS Version / Instance**: N/A
- **Deployment**: docker-compose
- **Source Connector and version**: N/A
- **Destination Connector and version**: N/A
- **Step where error happened**: Sync job / Setup new connection

## Current Behavior

I'm [implementing](https://github.com/airbytehq/connector-contest/issues/141) a low-code connector using OAuth 2.0 (

[2022-10-16 15:38] Amruta-Ranade commented on #17687
The document still needs some work. Will provide detailed feedback next week

[2022-10-16 16:51] jeanluciano opened #18038 "Source Smartsheets: add support for metadata data"
## Tell us about the problem you're trying to solve

I want to be able to get back my metadata from my smartsheets connectors. On one of the fields for a smartsheets source I want to be able to write a list of columns I want metadata from.

## Describe the solution you’d like

I want to choose whether I want to include metadata from my smartsheets or not.  If a list of metadata fields is specified

[2022-10-16 21:30] coadan opened #18040 "Kubernetes: sync jobs failing because of invalid orchestrator repl spec"
All of our sync jobs fail in our K8s cluster after upgrading from 0.40.6 -> 0.40.14 with the following error in the orchestrator-repl-job:

`Caused by: io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: https://10.116.0.1/api/v1/namespaces/dev/pods. Message: Pod "orchestrator-repl-job-11356-attempt-0" is invalid: [spec.volumes[1].secret.secretName: Required value,

[2022-10-17 04:53] pipat-flowacc commented on #16412
I am facing the same issue as snikch using the same Airbyte version.
The problem is in row hashing in model generation. It hashes by concatenating all columns together.
If any column is filled by a textarea form, it's very likely to exceed the `VARCHAR(65535)` size limit.

[code]

Instead of using all columns, column selection during creating a new sync will be useful here.
It can avoid reading tr

[2022-10-17 06:54] carlonuccio opened #18042 "[MySQL] Source different schemas with same prefix and same tables"
## Tell us about the problem you're trying to solve
We've more than 1k schemas with same prefix and same tables on a MySQL instance. So now, we need to declare each source airbyte connection for each schema. Example:

| prefix_schema1
| --- table1
| --- table2
| prefix_schema2
| --- table1
| --- table2

## Describe the solution you’d like
It could be useful to have a unique source definition to qu

[2022-10-17 07:03] marcosmarxm commented on #17512
*Comment made from Zendesk by Marcos Marx on 2022-10-17 at 07:03:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thank you <a href="/u/natalyjazzviolin" style="color: #006699; font-weight: bold; text-decoration: none" rel="noreferrer">@natalyjazzviolin</a>. It seems I am still facing the same issue. Will continue on that github thread <img src="https://emoji.discourse-cdn.com/twitt

[2022-10-17 07:42] igrankova commented on #17600
Subscribed to a Technology partner program to request a sandbox account.
[https://www.braze.com/partners/technology-partner](https://www.braze.com/partners/technology-partners)s

[2022-10-17 08:13] jack-fireworkhq opened #18043 "Internal Server Error: Get Spec job failed when trying to update a custom source"
## Environment
- **Airbyte version**:  example is 0.39.23-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**:Kubernetes
- **Source Connector and version**:
- **Destination Connector and version**:
- **Step where error happened**: Update connector

## Current Behavior
![image](https://user-images.githubusercontent.com/80802145/196121596-432612b1-e215-4458-b6f8-2944920189fa.png)
![image](ht

[2022-10-17 08:50] dis-sid commented on #15456
This would be great for all object storage destinations. Hive partitioning is almost standard practice, developers are used to read from object storages that way and BigQuery, Redshift or Apache Spark all use hive partitioning. We can add hive partitioning as an extra step in our data pipeline but having it done right away is more elegant.

[2022-10-17 09:23] #16091 closed

[2022-10-17 09:29] geneyen-chu commented on #15623
do we have any update of this ? it seems the number of metrics is not correct.

[2022-10-17 09:42] martindlarsson commented on #11424
Any news on the Databricks solution? Is there a ticket for this I can follow?

[2022-10-17 10:05] MohamedWasfy commented on #1607
I need to separate raw airbyte date from normalized in two different schemas and then use a DBT model to build another DWH schema querying from normalized table schema.
in simple I want raw data, normalized , DWH model in three different schemas
source and destination are postgres

[2022-10-17 10:52] DoNotPanicUA commented on #17580
### Current state of existing tests coverage :
| Database source | is relational DB? | SAT | DAT |
|---|---|---|---|
| bigquery | :heavy_plus_sign: | :heavy_check_mark: | :heavy_check_mark: |
| clickhouse | :heavy_plus_sign: | :heavy_check_mark: | :x: |
| cockroachdb | :heavy_plus_sign: | :heavy_check_mark: | :heavy_check_mark: |
| db2 | :heavy_plus_sign: | :heavy_check_mark: | :heavy_check_mark:

[2022-10-17 12:03] girarda opened #18046 "[low-code connectors] Substream slicer should not yield stream slices if there are no parent records"
## Current Behavior
Thread for context: https://airbytehq-team.slack.com/archives/C0450PCSDB2/p1665569372781649

The `SubstreamSlicer` tries to process data even if the parent stream does not produce any records. This leads to it trying to process data with an id=None, which is erroneous.

## Expected Behavior
The substream slicer should not yield a stream_slice if there were no parent records
Not

[2022-10-17 12:05] marcosmarxm commented on #17163
*Comment made from Zendesk by Marcos Marx on 2022-10-17 at 12:05:*

<blockquote><div class="zd-comment" dir="auto">Sorry the delay here Alexander, this errors is because there is a string being casted to a wrong data type. Could you search and check what field has this value?&nbsp;<br></div></blockquote>

[2022-10-17 12:06] marcosmarxm commented on #16412
@edgao what do you think about this? Probably an issue to discuss in Normalization too

[2022-10-17 12:18] navi86 commented on #16587
@xpuska513 do you have any update ?

[2022-10-17 12:21] #13056 closed

[2022-10-17 12:21] #17666 closed

[2022-10-17 12:50] marcosmarxm commented on #18035
@girarda and @brianjlai can you take a look?

@imrehg do you need any help to make the contribution?

[2022-10-17 12:54] dizel852 opened #18051 "🪟 🔧 Remove "serviceType" prop from Formik's formValues (<ServiceForm/> refactoring part 2)"
## Tell us about the problem you're trying to solve
In [part 1](https://github.com/airbytehq/airbyte/pull/17597) we moved `<ConnectorServiceTypeControl />` outside the Formik(context and components).
But `serviceType` prop is still part of Formik's formValues.

## Describe the solution you’d like
Remove `serviceType` from Formik's formValues and handle it on upper level

[2022-10-17 12:54] octavia-squidington-iv commented on #18051
cc @airbytehq/frontend

[2022-10-17 13:08] #17113 closed

[2022-10-17 13:08] natalyjazzviolin opened #18052 "Remove `catalog.json` form Low Code generator"
Remove `catalog.json` file form the low code generator.
Per this comment:
https://github.com/airbytehq/airbyte/pull/18047#discussion_r997000151

[2022-10-17 13:27] igrankova commented on #17726
Vetting results:

[2022-10-17 13:29] timroes commented on #4349
Since we have a license check for the webapp. And we currently don't have any further plans for introducing this to the backend code (also the inclusion of backend dependencies is usually way more contained than our npm dependencies) I'll close this for now.

[2022-10-17 13:29] #4349 closed

[2022-10-17 13:55] marcosmarxm commented on #15569
Looks Monday is returning a 500 error. My recommendation is try to execute the query manually using curl/python to make sure it works or debug properly. Currently Monday is an alpha connector and can have this issues. I added the issue to connector backlog but priorities are GA/Beta connectors; someone from the community can try to solve the issue meanwhile.

[code]

[2022-10-17 13:56] igrankova opened #18055 "[EPIC] Source Moengage: built in YAML"
## Tell us about the new connector you’d like to have
**DOCS**
[Moengage API Reference](https://developers.moengage.com/hc/en-us/articles/4404674776724-Overview)

**Sandbox account creds:**
Created a free account, see creds (dev and test API Keys) on the LastPass: **Primary Moengage Dev Account**
Generated the API Key on the Developers dashboard
Enabled a Test mode.
Moengage has a demo account wit

[2022-10-17 13:59] igrankova commented on #17728
Created a free account, see creds (dev and test API Keys) on the LastPass: Primary Moengage Dev Account
Generated the API Key on the Developers dashboard
Enabled a Test mode.
Moengage has a demo account without API access, I requested access to demo data from the sales support and applied a partner program, status: in progress.
No OAuth.

[2022-10-17 13:59] marcosmarxm commented on #17841
Sorry the delay here @navi86 I'll try to reproduce your issue today and return to you.

[2022-10-17 14:32] SarojWasti opened #18056 "Documentation: Fix the Amplitude Doc Issue Link"
### Tell us about the documentation you'd like us to add or update.
The `Create an issue` link in [Amplitude](https://docs.airbyte.com/integrations/sources/amplitude) documentation is redirected to `airbyte/issues` Section instead of `airbyte/issues/new/choose`. I would like to fix that.

### If applicable, add links to the relevant docs that should be updated
- [Amplitude doc: Prerequisites](http

[2022-10-17 14:34] animer3009 opened #18057 "Airbyte CORE: sync iteration unique identifier"
Some source connector streams does not support incremental update.
You have two option in this case:
full refresh - overwrite
full refresh - append
If you do overwrite, you have no history. But if you need to have history, you need to append.
In case of append you have no any unique identifier to detect stream run/sync iteration.
The columns you have in raw data are:
_airbyte_ab_id - is not unique

[2022-10-17 14:37] marcosmarxm commented on #17512
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-17 at 14:37:*

<blockquote><div class="zd-comment" dir="auto">Sorry to hear it's still happening! I'll ask one of the engineers on the databases team for their input and will post in the GitHub thread as well when I get new info!<br></div></blockquote>

[2022-10-17 14:43] matimirandach commented on #17988
Hi @sajarin thanks so much for you reply. The version that you mentioned is the destination connector. I was having troubles using the source connector.

[2022-10-17 14:53] #17844 closed

[2022-10-17 15:10] edmundito opened #18059 "Update header connector pages with editable name component"
## Context
Update the Source and Destination header in create and edit mode to reflect the updated design:

https://www.figma.com/file/8aM4gBoW95whyshI5kwVct/01_06_SOURCES?node-id=1%3A3

## Acceptance Criteria:
Create mode
* New Source heading is centered, orange
* Name is still set from the card

Edit mode
* Name is editable from the heading instead of the card

The editable name component in edi

[2022-10-17 15:10] octavia-squidington-iv commented on #18059
cc @airbytehq/frontend

[2022-10-17 15:23] DoNotPanicUA commented on #17580
### Current coverage of the SAT:
| Test name | Description |
|---|---|
| testIdenticalFullRefreshes | Run full refresh twice and check that results are not empty and equal |
| testEntrypointEnvVar | Check that AIRBYTE_ENTRYPOINT environment variable is set |
| testIncrementalSyncWithState | Only if a source supports incremental sync. Run the first sync and check that result is not empty and that t

[2022-10-17 15:28] dizel852 opened #18061 "Dropdown(conditional selector) moves out of the form"
<img width="1464" alt="Screenshot at Oct 17 16-45-56" src="https://user-images.githubusercontent.com/20929344/196217976-8c7cda99-9755-4042-9110-3b565fc81fef.png">

## Current Behavior
The dropdown (selector) moves out of the form

## Expected Behavior
The dropdown(selector) should be adjusted to the parent's width

## Steps to Reproduce
1. Open the "Create new destination" page
2. Choose the "End-

[2022-10-17 15:28] octavia-squidington-iv commented on #18061
cc @airbytehq/frontend

[2022-10-17 15:42] edmundito commented on #17087
Discussed with @matter-q on standup. Need to follow up with @Amruta-Ranade to create documentation. In the meantime, update and release page without the documentation panel.

[2022-10-17 15:53] alexander-marquardt opened #18062 "Improve docs about how to contribute to the Python CDK"
### Tell us about the documentation you'd like us to add or update.
Recently I was trying to contribute to the Python CDK, but I could not find a way to point to the "base" CDK directory rather than the connector sub-directory where the CDK is copied to.

@pedroslopez stated the following in a slack conversation, which solved my issue:

### If applicable, add links to the relevant docs that should

[2022-10-17 15:54] alexander-marquardt commented on #18062
Related slack discussion: https://airbytehq-team.slack.com/archives/C02U2SSHP9S/p1665750876194099

[2022-10-17 15:56] girarda commented on #18035
Unfortunately, there are no ways to update refresh tokens at the moment. This is something the team is working on this quarter https://github.com/airbytehq/airbyte/issues/3990

[2022-10-17 15:58] csauge opened #18063 "Airbytes does not cast correctly the types of Airtable columns"
## Environment
- **Airbyte version**:  v0.40.14
- **OS Version / Instance**: macOS Monterey v12.6 MacBookAir M1 2020 16 GB
- **Deployment**: Docker
- **Source Connector and version**: Airtable 0.1.2
- **Destination Connector and version**: Postgres 0.3.26
- **Step where error happened**: Deploy

## Current Behavior
When selecting a Airtable stream as a source and Postgres as a destination, any col

[2022-10-17 16:07] alexander-marquardt opened #18064 "E(t)LT -- Connector support for jinja transformations, not only custom lowcode connector definitions"
## Tell us about the problem you're trying to solve
For GDPR compliance, it may be necessary for clients to do small "t" tranformations on their data to obfuscate personally identifiable information so that it is never sent to a destination. Examples would be a social security number or an email address.

I have added support to do this in Jinja templates that are accessed within the lowcode conne

[2022-10-17 16:17] alafanechere opened #18065 "octavia-cli [Telemetry]: High MTU usage on Segment"
## Current Behavior
The telemetry built-in the CLI relies on Segment.
It appears that it's consuming too many Monthly Tracked Users (MTU):
In June 2022 we consumed 18K MTUs on the CLI. Which is closely matching the number of CLI command run.

But in June we had on octavia-cli:
* 42 unique user_id
* 5233 unique anonymous_id
Which should correspond to ~5275 MTUs.

## Expected Behavior
A single MTU i

[2022-10-17 16:28] timroes commented on #17680
@pmossman yes we already have access to the `sourceType` via the `api/v1/source_definitions/list` and `api/v1/source_definitions/list_latest` APIs.

[2022-10-17 17:04] #15980 closed

[2022-10-17 17:04] #15991 closed

[2022-10-17 17:16] misteryeo opened #18068 "[EPIC] Low Code CDK to Beta"
Epic to keep track of issues we will be working on to improve the low code CDK framework and graduate to beta.

[2022-10-17 17:18] evantahler commented on #13809
Possibly closed by https://github.com/airbytehq/airbyte/pull/18032

[2022-10-17 17:28] #17974 closed

[2022-10-17 17:50] grishick commented on #1607
@misteryeo FYI, pretty interesting request

[2022-10-17 17:50] mutt-santiago-stachuk opened #18070 "source-google-ads: 🎉 Add fields to the campaign stream"
## Tell us about the problem you're trying to solve

- There are some missing key metrics, such as
- Records in campaigns lack granularity since it doesn't include the "segment.hour" field.

## Describe the solution you’d like

- Add segments.hour field to increase granularity
- Add key metric fields to the stream such as metrics.ctr, metrics.conversions and metrics.conversions_value

## Describe

[2022-10-17 17:59] evantahler commented on #17342
Ratified! Now on to the check spec https://github.com/airbytehq/airbyte/issues/17343

[2022-10-17 18:00] kristenchen commented on #10030
Hi @sreeram-venkitesh, are you still working on this issue? If not, I'd like to help!

[2022-10-17 18:12] MarcosWendell opened #18071 "[Kubernetes/Azure VM] Temporal deployment failling to connect with External Azure Postgres DB"
## Environment
- **Airbyte version**:  0.40.14
- **Deployment**: Azure VM & Kubernetes
- **Step where error happened**: Deploy

## Current Behavior
I was trying to configure an external Azure Postgres DB to Airbyte using k8s, but temporal deployment somehow does not have access to the database. All .env and .secret variables are set, I also allowed all hosts in the Azure Postgres DB firewall. Airb

[2022-10-17 18:46] xpuska513 commented on #16587
Hi!
You can use `0.40.20` version as it contains all latest updates.
We just moved everything into StatefulSet(DB + Minio) so it'll preserve data just in case.
Also removed bitnami deps(except the `common` since it's just a library chart)

[2022-10-17 18:46] xpuska513 commented on #16587
FYI: @navi86

[2022-10-17 18:52] xpuska513 commented on #1868
Hi, happy to inform you that the release process got updated, so there should be no more issues with publishing and version disappearing from time to time.

[2022-10-17 18:54] sreeram-venkitesh commented on #10030
@kristenchen Feel free to take this up 😄 I thought of doing this but I don't think I'd have the bandwidth for it now

[2022-10-17 18:59] #17566 closed

[2022-10-17 19:45] sh4sh opened #18078 "Source Zendesk Sell: New Sandbox"
We need a Zendesk Sell account for the [Zendesk Sell CRM](https://www.zendesk.com/lp/sales-crm/) service, re: https://github.com/airbytehq/airbyte/pull/17888

It does look like there's a free 14-day trial we can use in the meantime

[2022-10-17 20:00] betocolon23 opened #18079 "Kubernetes (arm64): `kubectl` failed with exit code 126 when creating sources or destinations"
## Environment
- **Airbyte version:**  0.40.14
- **OS Version / Instance:** Ubuntu 20.04 LTS (GNU/Linux 5.15.16-1-rockchip-g359ffc4bc727 aarch64)
- **Deployment**: k8s stable deployment with resource limit
- **Source Connector and version**: airbyte/source-postgres 1.0.16
- **Destination Connector and version**: Postgres 0.3.26
- **Step where error happened**: Setup new connection

## Current Beha

[2022-10-17 20:16] evantahler commented on #17915
This story is a placeholder.  Please create multiple stories as needed per the tech spec.

[2022-10-17 20:35] MarcosWendell commented on #18071
Azure PostgreSQL require a SSL certificate that wasn't available for temporal deployment, now that we have configured it, it works.

[2022-10-17 20:35] #18071 closed

[2022-10-17 20:45] andyjih commented on #14371
Hi @tooptoop4 , we've released a fix and also published a notice in our [community forum here](https://discuss.airbyte.io/t/security-notice-temporal-logs-the-airbyte-database-password-in-plaintext/2931?u=jerri-airbyte).

Thank you again for raising this issue with us!

[2022-10-17 20:45] #14371 closed

[2022-10-17 21:01] #5493 closed

[2022-10-17 21:08] alexander-marquardt commented on #17957
@girarda  - the merged code appears to fix this. I'm not sure what the correct process is. Should I close this issue?

[2022-10-17 21:11] xiaohansong opened #18082 "MySql -> BQ: Closing down debezium engine but snapshot has not finished"
Connection: https://cloud.airbyte.io/workspaces/23c73f12-38f2-41a2-8e02-95adf35c9c59/connections/4fe8bad2-f3df-4eb7-bc81-9c2a9d6e426b/status

Seems the root cause was:

[code]

I have adjusted the memory to 2000MB but still no luck. Logs were too big to upload, please refer to the sync on 10/17 9:31AM. Can you take a look at this? This would unblock us from onboarding a EU customer on multicloud.

[2022-10-17 21:13] xiaohansong commented on #18082
@ryankfu  Assign this to you for now since I saw you are the oncall. @andyjih FYI this is coffeecircle's problematic connection they have seen failure since August.

[2022-10-17 21:18] #16730 closed

[2022-10-17 21:18] #16729 closed

[2022-10-17 21:25] sh4sh commented on #17148
Hey @anamargaridarl @BenoitFayolle , can you confirm that the [new version v1.0.22](https://docs.airbyte.com/integrations/sources/salesforce#changelog) for the salesforce source connector has fixed the issue?

[2022-10-17 21:35] YowanR commented on #14734
@YuliiaNahoha This is another issue that felt through the cracks. Not sure why it was not prioritized. Can you see if we can fit this in the sprint, please?
cc @davydov-d

[2022-10-17 21:49] evantahler opened #18083 "Connectors with Single Use Refresh tokens (`single-connection`) cannot be used in more than one connection"
[code]

Connectors with `connectorRestrictions.includes('single-connection')` cannot be added to more than one connection.
Existing connectors that should not be in more than one connection that are already can stay as-is.

This validation should be done every time a connector's config is updated as well, to inform users that they should remove this connector from multiple connections.

[2022-10-17 21:52] grubberr commented on #17919
https://github.com/airbytehq/airbyte/pull/17990 passed on airbyte review

[2022-10-17 21:53] benmoriceau opened #18085 "Fix 2 column that are swap in the catalog fetch event table"

[2022-10-17 22:23] evantahler commented on #17893
I think I'm neutral to where the "source of truth" is for this data... with the following notes:
1. We *do* need this data to be backed into a single file eventually so that it can be consumed by the webflow site and other places.  If that's the YAMLs directly, or the output of this new command gets baked into a new file like [`source_specs.yaml`](https://github.com/airbytehq/airbyte/blob/master/a

[2022-10-17 22:46] #18057 closed

[2022-10-17 22:56] brianjlai opened #18088 "Low-code SDK: JSON parse error when parsing HTTP response that is not valid json"

[2022-10-17 23:10] edgao commented on #16412
oof. yeah that's a spicy one - probably a thing we should be thinking about though (cc @grishick - example of very wide columns being difficult). Column selection's a thing we want to build for sure, so maybe keep an eye out for updates there ;)

Maybe we should be doing like... `hash(concat(hash(co1), hash(col2), ...))` instead. But that's a breaking change, and we don't have a great way to roll

[2022-10-17 23:24] sw-yx commented on #17893
i think this is gonna be a few dozen lines of web scraping + gpt3 code

![image](https://user-images.githubusercontent.com/6764957/196301750-f495e67a-f396-4856-aaa7-e3240dd6d2d4.png)

[2022-10-18 00:53] sw-yx commented on #17893
yeah lol

![image](https://user-images.githubusercontent.com/6764957/196310141-6e39927f-072d-4455-b7d5-a99647ac3bee.png)

![image](https://user-images.githubusercontent.com/6764957/196310152-4b8a5bf2-44e9-426f-92b9-8d0409045a55.png)

[2022-10-18 01:47] #17957 closed

[2022-10-18 02:55] harshithmullapudi commented on #18070
Thanks a lot for bringing it up and also for the contribution. Team will look into it

[2022-10-18 04:52] sw-yx commented on #17893
ok @evantahler here's the first 20: https://docs.google.com/spreadsheets/d/1kzjp5rBQm_eczzfqZ58Hs9KVF8E_bp0E0TCNBbgZ6ZU/edit?usp=sharing

some cleanup needed of course. but i could run this for all 160 sources pretty easily

[2022-10-18 05:13] suhomud opened #18093 "Destination BigQuery Denormalized: Default schema format should be string but not null"
## Tell us about the problem you're trying to solve
The JsonSchemaFormat can return null when parsing from jsonSchemaFormat

[code]
## Describe the solution you’d like
`JsonSchemaFormat` should return a string type as default

_Originally posted by @edgao in https://github.com/airbytehq/airbyte/pull/17827#discussion_r995121367_

[2022-10-18 06:04] rodireich commented on #15040
I wonder how we can best utilize heartbeat.
If our record iterator has a poll wait time of x seconds, and a heartbeat rate of h seconds:

-  if we put _h < x_ then the stream will never be able to shutdown. Even if we force a shutdown and solve the issue @edgao [saw](https://github.com/airbytehq/airbyte/issues/15040#issuecomment-1232288799), since the producer will keep sending messages and the qu

[2022-10-18 08:02] ycherniaiev commented on #4653
@YowanR How much users(tenants) are expected to use app? Because the app can be connected to 25 users only.
Certification of the app is quite difficult https://developer.xero.com/documentation/xero-app-store/app-partner-guides/app-partner-steps/

[2022-10-18 08:06] BenoitFayolle commented on #17148
@sh4sh  It will be hard for me to confirm because we made some dummy batch updates to any 15k+ blocks of identical systemmodstamp so we could break out of infinite loops since I didn't know when the issue would be resolved. I can confirm the 1.0.22 connector works because we run it successfully.

[2022-10-18 08:54] igrankova opened #18097 "Source GitHub: create ERD schema"
## Tell us about the problem you're trying to solve

Create the ERD data schema for the GitHub source connector. See more details in this [Doc](https://docs.google.com/document/d/1FRekX1meRUTkm5jm0KwTIl3mgtlILEPF9SB0myJ-sCg/edit).

[2022-10-18 10:01] ycherniaiev opened #18098 "[EPIC] Source Xero: builit in YAML"
## Tell us about the new connector you’d like to have
**DOCS**
[Xero API Reference](https://developer.xero.com/documentation/api/accounting/overview)

**Sandbox account creds:**
LastPass: Xero Primary Public App
UI: https://my.xero.com/!xkcD/Settings/MyAccount (Demo Account(US))

**Vetting**
- [ ] #4653

**MLP**
[Document](https://docs.google.com/document/d/12FQ837Kdt9Tb6U0ALzsHx5ETPqtW2FbqioGvdhB

[2022-10-18 10:13] igrankova opened #18099 "🎉 Source Shopify: upgrade API version to the latest available"
## Tell us about the problem you're trying to solve
One or more of your private apps have made deprecated API calls in the last 30 days. Support for these versions will be removed on January 1, 2023. Please update the apps listed below to API version 2022-04 or later to ensure they continue to function correctly.
**Store: airbyte integration test
App: Airbyte Test**
Breaking changes:
•	`Metafield.

[2022-10-18 10:18] valleybay commented on #17989
Hi @sh4sh! I have tested connecting to this DB with verify-ca using DataGrip, also verified just now.

[2022-10-18 11:28] TanveshT opened #18102 "Documentation - Airbyte CDK Protocol Architecture link not working"
### Tell us about the documentation you'd like us to add or update.

This [link](https://docs.airbyte.com/architecture/airbyte-protocol) has been specified within the README files under the Airbyte CDK and no longer working. It is the link for the Airbyte's protocol architecture.

Readme files for which it was noticed:
1. https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/README.m

[2022-10-18 12:01] dizel852 commented on #17491
The issue is fixed in the scope of #17798

[2022-10-18 12:30] TalhaNaeem101 opened #18104 "Schedule Sync Job pods on Dedicated Node"
Hi, I have applied node affinity and taints & tolerations on the core components of airbyte (scheduler, worker, server, and all) And these pods are being scheduled correctly on the dedicated Node. But the pods of sync jobs are being scheduled dynamically, which depicts node affinity and taints%tolerations are not being applied on the sync job pods. **I want my sync job pods to be scheduled on the

[2022-10-18 13:16] flomelki opened #18106 "Source Postgres: Sync to Bigquery Destination fails due to invalid state"
## Environment
- **Airbyte version**:  0.40.14
- **OS Version / Instance**: Debian GNU/Linux 11 (bullseye)
- **Deployment**: Docker
- **Source Connector and version**: Postgres 1.0.16 in incremental + history mode
- **Destination Connector and version**: BigQuery (normalized) 1.2.4
- **Step where error happened**: Sync job

## Current Behavior
I updated Airbyte from ~0.39 to 0.40.14.
I start encou

[2022-10-18 13:18] alafanechere commented on #17893
My concern is that `source_specs.yaml` or `source_definitions.yaml` are global artifacts updated on the connector release.
If you are working on a new connector, or you want to run SAT according to a targeted release stage you'd need to manually modify these files that are out of the specific scope of a connector.

[2022-10-18 14:20] alafanechere opened #18107 "AdvancedAcceptanceTestsHarness: use a recent version of `source-e2e-tests"
## Tell us about the problem you're trying to solve
`source-e2e-test` connector is used in our Platform E2E acceptance tests.
`AdvancedAcceptanceTestsHarness` [pins the version used of this connector to `0.1.1`](https://github.com/airbytehq/airbyte/blob/9d23d48a014dbea0924a92c07d70b757b578b839/airbyte-test-utils/src/main/java/io/airbyte/test/utils/AirbyteAcceptanceTestHarness.java#L129). When writ

[2022-10-18 14:20] Amruta-Ranade commented on #17749
As discussed on Slack, reassigning the issue due to lack of bandwidth

[2022-10-18 14:37] girarda commented on #11241
@bazarnov we can't enabled shopify for all connectors until this [issue](https://github.com/airbytehq/airbyte/issues/10817) is done.

The code has been refactored. Instead of reverting the PR I initially mentioned, we would now want to remove these [two lines from constants.ts](https://github.com/airbytehq/airbyte/blob/master/airbyte-webapp/src/core/domain/connector/constants.ts#L37-L38)

[2022-10-18 14:38] edmundito commented on #17087
I followed up with @Amruta-Ranade on slack. It looks like we have a doc for this here:

https://docs.airbyte.com/operator-guides/configuring-sync-notifications/#set-up-slack-notifications-on-sync-status
And the video:
https://www.youtube.com/watch?v=NjYm8F-KiFc

@andyjih Can you confirm that these two cover what's intended in the design help?

[2022-10-18 14:43] Amruta-Ranade commented on #17087
Note: The doc doesn't show up on our Docs sidebar nav yet. I need to investigate why and fix the issue. Waiting until we confirm that's the content we need

[2022-10-18 14:48] animer3009 commented on #4025
This issue is from 2021...
Something new happening about this?
Are you going add mew column?
I guess this is very important change.

[2022-10-18 14:50] animer3009 commented on #4025
even just one new column witch will show unique ID for sync iteration will help a lot!

[2022-10-18 15:01] misteryeo opened #18110 "Improve Salesforce Docs"
### Tell us about the documentation you'd like us to add or update.
Our Salesforce documentation makes it difficult to understand how to retrieve Client ID, Client Secret and Refresh Token. It's hidden behind an external link to [this walkthrough ](https://medium.com/@bpmmendis94/obtain-access-refresh-tokens-from-salesforce-rest-api-a324fe4ccd9b) which means when a user tries to CMD + F for keywor

[2022-10-18 15:05] sammychris commented on #17750
Hi @Amruta-Ranade, I would love to work on this.

[2022-10-18 15:43] edgao commented on #17327
interesting - so it sounds like e.g. `Marketing._airbyte_raw_contact_lists` exists and is non-empty? (the sync in your logs produced 0 records, I'm guessing there was a previous sync that did actually process data?)

That's certainly different behavior from what I ran into. Doesn't seem like a dataset ID mismatch either (destination and normalization both referenced the `Marketing` dataset) so pre

[2022-10-18 15:44] Amruta-Ranade commented on #16229
@Bam92 Any updates?

[2022-10-18 15:45] cgardens commented on #10519
@benmoriceau we have `VaultSecretPersistence` implemented already. What is the gap between what we have now and saying this is usable for OSS?

[2022-10-18 15:52] tuanchris opened #18112 "Source Firebase Realtime Database: New Sandbox"
We need a new sandbox for [Firebase Realtime Database](https://firebase.google.com/docs/database/rest/structure-data#how_data_is_structured_its_a_json_tree) to review this [PR](https://github.com/airbytehq/airbyte/pull/18029)

[2022-10-18 16:07] marcosmarxm opened #18113 "Report affected connectors CI fails if no change applies to connector."
Example: [Report affected connectors](https://github.com/airbytehq/airbyte/actions/runs/3270200437/jobs/5388096941#logs)

If a PR is submitted with no changes to connector there is a Github Action it will fail. It is not a good experience to contributors and reviewers.

[2022-10-18 16:15] sophia-wiley opened #18115 "Auto-detecting schema changes documentation"
Airbyte will regularly check for schema changes and users can choose to be notified when there is a change.

[PRD](https://docs.google.com/document/d/1hvwPXnfi0TMK05dnh4Oy-n5WEDCD9msCbUOLxwnp0Uw/edit#heading=h.agrxfsjj7zsy)

Related to this [issue](https://app.zenhub.com/workspaces/platform-workflow-625a01eb010e82001390f49e/issues/airbytehq/airbyte/17520)

[2022-10-18 16:20] benmoriceau commented on #10519
@cgardens A community user submitted the Vault persistence. So it is usable in OSS at the moment. That being say we currently only support a token based authentication and not all the supported auth by Vault.

Also the vault connection lib that we are using is not supported anymore so if we were to invest more on this we should probably implement our own lib since there was no other java lib avail

[2022-10-18 16:22] evantahler commented on #18113
‘’’

remotes/origin/master...origin/patch-1 -- airbyte-integrations/
‘’’

these origins and patches could be in the fork, not the main repo

[2022-10-18 16:22] jeromedoucet opened #18118 "Source Elasticsearch: http line is larger than 4096 bytes error"
## Environment
- **Airbyte version**:  0.40.15
- **OS Version / Instance**: Ubuntu  22.04.1 LTS
- **Deployment**: local Docker
- **Source Connector and version**: source-elasticsearch 0.1.0

- **Step where error happened**: Sync job

## Current Behavior
An `too_long_frame_exception` error is return by elasticsearch when trying to get indexes metadata (io.airbyte.integrations.source.elasticsearch.E

[2022-10-18 16:26] sophia-wiley opened #18119 "Column selection documentation"
Users can columns without resetting.

[2022-10-18 16:30] sophia-wiley opened #18120 "Column selection documentation"
Users can choose what columns/fields within a stream that they want to sync

Related to [3081](https://app.zenhub.com/workspaces/cloud-platform-6259ee50ab53b4001d625d79/issues/airbytehq/airbyte-cloud/3081), [19219](https://app.zenhub.com/workspaces/platform-workflow-625a01eb010e82001390f49e/issues/airbytehq/airbyte/19219), and [20267](https://github.com/airbytehq/airbyte/pull/20267)

Column select

[2022-10-18 17:01] alafanechere commented on #17531
Tech spec ready for review https://docs.google.com/document/d/19hnZslQUbvxuHeFQd9hbzVQmuK4INzDcwiXEA7FwA4U/edit

[2022-10-18 17:12] PragatiVerma18 commented on #15969
Hey @Amruta-Ranade, here's the first [draft](https://docs.google.com/document/d/1pG2dQFNlk9k3SpBcB4MeiKDwR3ASacu5SnSbKhnAfVI/edit?usp=sharing).

[2022-10-18 17:13] pmossman commented on #17983
Refining notes:
- Can use [DataDog APM ](https://app.datadoghq.com/apm/services/postgresql/operations/postgresql.query/resources?env=prod&resources=qson%3A%28data%3A%28visible%3A%21t%2Chits%3A%28selected%3Atotal%29%2Cerrors%3A%28selected%3Atotal%29%2Clatency%3A%28selected%3Ap99%29%2CtopN%3A%215%29%2Cversion%3A%210%29&summary=qson%3A%28data%3A%28visible%3A%21t%2Cerrors%3A%28selected%3Acount%29%2Chi

[2022-10-18 17:27] benmoriceau commented on #17926
Yes should, There is some effort in changing when the state is persisted https://github.com/airbytehq/airbyte/issues/16762. I feel that the 2 stories are related. I'll push both issues in our grooming. (FYI @salima-airbyte @gosusnp )

Do we need the bandaid now. To be honest I have no idea about what the wait time should be and how do we want to configure it (per connection, global...)

[2022-10-18 17:37] bryanpost commented on #1877
Any update on this? Does the S3 connector work if a team is using EMRFS based out of S3? It doesn't appear so, but want to confirm.

[2022-10-18 17:37] girarda commented on #17542
grooming note:
* instead of emitting a log message, can we add a new type of trace message? todo: check with Evan
* the current signature we have doesn't work, but we can extract out the shared logic from read_records and add a new method
* just need a new method in Stream + in the source to emit the trace messages we need and they can delegate to the shared code as needed

[2022-10-18 17:45] marcosmarxm commented on #17163
*Comment made from Zendesk by Marcos Marx on 2022-10-18 at 17:45:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">No worries, the field containing this value is “item-description”:</p>
<p dir="auto"></p><div><a href="https://aws1.discourse-cdn.com/business7/uploads/airbyte/original/2X/7/7067d5c5364080ff48ee010cf1fc873826c96138.png" title="image" rel="noopener nofollow ugc noreferrer

[2022-10-18 17:46] evantahler opened #18122 "`recordsRead` should be a bigger number"
We use `var` to declare a counter of the records read in a sync.  Since `var` types are determined at compile time, it's probably an integer.  Consider this [sync](https://cloud.airbyte.io/workspaces/de736632-e9ed-43ee-be66-bfdb97f1a515/connections/fc7a8fe1-fd13-4662-a304-cddcfb50456f/status), in which the number of records went negative and proceeded to increase again.

[code]

We may be hit the

[2022-10-18 18:03] #17263 closed

[2022-10-18 18:03] #17262 closed

[2022-10-18 18:03] #17261 closed

[2022-10-18 18:03] #17260 closed

[2022-10-18 18:08] edgao commented on #17926
connector pov: bumping the 60 sec wait time to something like 15 minutes globally would feel fine - we probably still have issues in connections with many streams, but the common case will work better. I don't know if having this configurable per-connection (or whatever) is super valuable, since presumably users would be incentivized to just set it arbitrarily high.

No idea if there are negative

[2022-10-18 18:37] #18122 closed

[2022-10-18 18:37] #17971 closed

[2022-10-18 18:56] akashkulk commented on #10004
@ryankfu is this a duplicate that will be resolved by your recent PR? https://github.com/airbytehq/airbyte/pull/18041/

[2022-10-18 19:12] tealjulia commented on #16599
@timroes is this addressed by the auth work you've been doing recently?

[2022-10-18 19:13] marcosmarxm opened #18126 "Low-Code CDK: improve error return to non-existing class"
Trying to use some non-existing class will output something like:
[code]

Would be better the Low-code framework give me the options available to me AND specific to the component I'm trying to create.

Something like:
[code]

[2022-10-18 19:47] bazarnov commented on #11241
I see, so now we're basically blocked by the only https://github.com/airbytehq/airbyte/issues/11334 plus some small issues related to the work of the connector itself, but these are quick fixes.

Thank you for the updates from your side, now it's much cleaner to understand what is going on around Shopify connector certification.

[2022-10-18 19:51] GabrielGLevine opened #18129 "Support True Multicast: Single Source to Multiple Destinations in a Single Connection"
## Tell us about the problem you're trying to solve
Currently, if I need to sync the same data from a source to multiple destinations, I have to define multiple Connections. For example, I might need to sync Salesforce data to BigQuery for analysis and Postgres for application access. I can reuse the Source configuration but each Connection entails a separate request to the Source API for the same

[2022-10-18 19:54] andyjih commented on #17087
Confirming that those links are correct!

[2022-10-18 20:01] gosusnp commented on #17926
Looking into how we currently kill processes, I don't think we have an explicit "if source dies, shutdown the destination".
Instead, I think our policy is if an exception is raised, shutdown the ExectorService which will in turn try to close any Connector within a 60s grace period.

The good news is that with our current code structure, we should be able to have a config that is specific for sourc

[2022-10-18 20:25] timroes commented on #16599
It won't be as far as I could tell when testing it, but we should still be waiting on this to be merged before picking this up.

[2022-10-18 20:27] evantahler opened #18131 "Only send non-config errors to Sentry"
From a Sentry chat - https://airbytehq-team.slack.com/archives/C03VDJ4FMJB/p1666124400443319

[2022-10-18 20:29] sh4sh commented on #18038
Hey @jeanluciano this sounds great! Let us know if you need any assistance with the PR.

[2022-10-18 20:41] sh4sh commented on #17989
@valleybay thanks for checking the db configuration! Can you try pinging the db from the airbyte instance to check whether it is a networking connectivity issue?

[2022-10-18 21:16] delenamalan opened #18135 "Low-code SDK: PageIncrement strategy never stops with custom field_pointer"
## Environment
- **Airbyte version**:  0.1.102
- **OS Version / Instance**: macOS Monterey
- **Deployment**: Docker
- **Source Connector and version**: N/A
- **Destination Connector and version**: N/A
- **Step where error happened**: Sync job

## Current Behavior

I'm working on adding support for [Lokalise](https://developers.lokalise.com/reference/list-all-keys) with the low-code SDK.

I'm using

[2022-10-18 21:19] sh4sh commented on #18104
Hey @TalhaNaeem101 thanks for providing your configs. These envs should allow you to specify tolerations and node affinity selectors, can you let me know if they help?
[code]

[2022-10-18 21:25] sh4sh commented on #18129
@GabrielGLevine thanks for the suggestion, I've added it to the team's backlog

[2022-10-18 21:35] delenamalan opened #18136 "Low-code SDK: CursorPagination removes base path from from url_base"
## Environment
- **Airbyte version**:  0.1.104
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: N/A
- **Destination Connector and version**: N/A
- **Step where error happened**: Sync job

## Current Behavior

When a requester's `url_base` has an additional path, e.g. `https://www.example.com/some/path` instead of just ``https://www.example.com`, then

[2022-10-18 21:35] valleybay commented on #17989
@sh4sh we're actually running on your cloud so I'm not able to ping. I can however say that we've already had the source/destination work before (with sync working perfectly fine over a number of weeks). It stopped working when cloud changed from allowing Postgres ```prefer``` to requiring ```verify-ca```.

[2022-10-18 22:35] pedroslopez opened #18138 "Allow force publishing of docker images for conenctors"

[2022-10-18 22:42] #17424 closed

[2022-10-18 22:42] #16038 closed

[2022-10-18 23:38] sh4sh commented on #17989
Thanks for reporting this and running through some troubleshooting @valleybay! I've tracked down an internal ticket in the team's backlog and have ensured this report is linked to it. If the behaviour changes or you have any other updates please let us know.

[2022-10-18 23:50] delenamalan commented on #18135
Interestingly, when I set the default selector's `field_pointer` to `keys`, then the pagination for the keys stream is successful. However, no records are returned for the languages stream. Am I perhaps setting the custom `field_pointer` value per stream incorrectly?

This is how my updated YAML file looks:

[code]

[2022-10-18 23:54] brianjlai commented on #17939
tagging as low priority, but active PR here: https://github.com/airbytehq/airbyte/pull/18053

[2022-10-18 23:54] #18131 closed

[2022-10-18 23:56] brianjlai commented on #17963
tagging as P2, but also has an in flight PR here: https://github.com/airbytehq/airbyte/pull/18050

[2022-10-19 01:08] marcosmarxm opened #18146 "Snowflake source connector cannot connect with lowercase parameter?"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#2821](https://airbyte7538.zendesk.com/agent/tickets/2821)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Sunny

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px" dir="auto">
<li style="padding-bottom: 10px">Is this your fi

[2022-10-19 01:08] marcosmarxm commented on #18146
*Comment made from Zendesk by Sunny on 2022-10-19 at 01:08:*

<blockquote><div class="zd-comment" dir="auto">Hey, thanks for reporting this. I've created a Github issue for the investigation: <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/18146">https://github.com/airbytehq/airbyte/issues/18146</a><br></div></blockquote>

[2022-10-19 01:16] marcosmarxm commented on #18146
*Comment made from Zendesk by Sunny on 2022-10-19 at 01:16:*

<blockquote><div class="zd-comment" dir="auto">Can you try using <code>&amp;quot;</code> instead of the double quote in your config to see if that translates properly? i.e. <code>&amp;quot;data_syncer&amp;quot;</code><br></div></blockquote>

[2022-10-19 01:23] wallies opened #18148 "Source SFTP: exception in children non-daemon threads"
## Environment
- **Airbyte version**:  OSS 0.40.15
- **OS Version / Instance**: GKE
- **Deployment**: Kubernetes GKE
- **Source Connector and version**: SFTP 0.1.2
- **Step where error happened**: Sync Job

## Current Behavior
*Tell us what happens.*

Get the following error.
[code]

Also the dependency jsch on sourceforge isnt maintained. Should the fork be used instead https://github.com/mwiede/

[2022-10-19 02:17] nataliekwong opened #18149 "Add Segment and Filter instructions for Google Analytics (Universal Analytics)"
### Tell us about the documentation you'd like us to add or update.
We added support for Segments and Filters to the Google Analytics (Universal Analytics) connector (https://github.com/airbytehq/airbyte/pull/16920).

This should be added to our documentation for the connector so that users know it's supported.

### If applicable, add links to the relevant docs that should be updated
https://docs.

[2022-10-19 06:45] TalhaNaeem101 commented on #18104
@sh4sh Can you please help me further like what to provide in these variables? and how will it apply the effect on the sync job pods? I would highly appreciate it. Thanks

[2022-10-19 07:11] alexander-marquardt commented on #17993
Implemented

[2022-10-19 07:11] #17993 closed

[2022-10-19 07:18] davydov-d commented on #14734
I've been working on this issue when it used to be a low priority but then switched to more important tasks and did not complete this one. Attaching a draft PR I've made.

[2022-10-19 07:55] nsphung commented on #9498
Hello for those who are interested, it seems to be already available on Airbyte 0.40.10+ now.

![image](https://user-images.githubusercontent.com/946533/196630584-9e8da359-e991-44ee-ba0b-0f83e52e381f.png)

[2022-10-19 09:01] igrankova opened #18153 "Sandbox Account for Qualtrics source"
## Tell us about the problem you're trying to solve
Request/create a sandbox account for implementing new connector according to the [2022 Q4 Product/Engineering Roadmaps](https://docs.google.com/spreadsheets/d/16m-bMM9oVaCSLT6KkPBtPEnza6W55zkUETcPRnNbAcI/edit?usp=sharing)

[Getting your account](https://www.qualtrics.com/uk/free-account/?rid=ip&prevsite=en&newsite=uk&geo=UA&geomatch=uk&utm_lp=log

[2022-10-19 09:03] igrankova commented on #18153
The API access is available on the paid plan only, I applied for a partnership and will try to ask for a sandbox account.

[2022-10-19 10:09] timroes opened #18155 "Create SASS utility to calculate accessible text color"
We often have the use-case that we have components that render text on a specific background color. We currently need during review check color contrast for those manually to make sure they fulfill accessible requirements, e.g. see https://github.com/airbytehq/airbyte/pull/17479/files#r999221155. We should instead add a SASS utility function `textColorOn`, that will take the background color as a

[2022-10-19 10:10] octavia-squidington-iv commented on #18155
cc @airbytehq/frontend

[2022-10-19 10:26] igrankova opened #18156 "Research Qualtrics source connector"
## Complete the following exercise for Redshift source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-10-19 10:31] josephkmh opened #18157 "Clean up client side routing"
We would like to refactor the routing of the webapp to address the following problems:
- Routes are currently broken up across many files, which makes it difficult to follow which routes exist
- There are some legacy `OldRoutes` that need to be either removed or replaced
- There is inconsistency in naming and location of components used as routes ("views" vs. "pages")
- Cloud routes are completely

[2022-10-19 10:31] octavia-squidington-iv commented on #18157
cc @airbytehq/frontend

[2022-10-19 11:18] Bam92 commented on #16229
@Amruta-Ranade you'll get it later in the end of this week.

[2022-10-19 12:00] georgmoss commented on #4224
We would also need this but as a destination since we think that our databases is supported as sources but not destination.

[2022-10-19 12:21] wallies commented on #9498
Note you need to use old rsa style format due to the library used. It does not seem to work either for me, have raised this https://github.com/airbytehq/airbyte/issues/18148

[2022-10-19 13:00] theRoundGreek commented on #13643
How would i go about implementing this since api v.15 is required for new apps. New to airbyte and don't use python so i'm kinda grasping at straws here. Any help would be greatly appreciated

[2022-10-19 13:21] Amruta-Ranade commented on #16229
Thanks. Please follow the instructions in the Docs Contribution Program follow-up email so we can stick to the check-in schedule.

[2022-10-19 13:22] #17563 closed

[2022-10-19 13:53] dandpz commented on #12720
We have the same error with GET_SALES_AND_TRAFFIC_REPORT, after some tests I found that if I request a short period of time adapting `Start Date` and `End Date` in the source settings I am able to avoid the error.

[2022-10-19 14:17] #14096 closed

[2022-10-19 14:23] Amruta-Ranade commented on #18056
@SarojWasti Feel free to open a PR

[2022-10-19 14:28] sajarin commented on #15547
Hey @jan-benisek, again sorry for the delay with this. I think we can get this issue resolved near the beginning of November.

[2022-10-19 14:37] sh4sh commented on #18104
For sure @TalhaNaeem101 , I've found an example of the format here in our discussion forum: https://discuss.airbyte.io/t/deploy-kubernetes-job-kube-tolerations-with-no-effect/2153

It should look something like this:
[code]

I'm not 100% on this but I think it is just the `nodeSelector` field rather than node affinity proper. If you would prefer to use `nodeSelectorTerms`, you can add it with kust

[2022-10-19 14:59] #18056 closed

[2022-10-19 15:01] edgao opened #18161 "Source Postgres: Check should fail when user does not have permissions"
Seen in https://github.com/airbytehq/oncall/issues/830

user created a connection (i.e. check passed) but got `permission denied for schema heroku_ext` during sync.

Plausibly user reconfigured their DB in between connector setup and sync, but let's maybe take a quick look?

[2022-10-19 15:03] sajarin commented on #18043
Hey @jack-fireworkhq, thanks for the issue. Does the 0.2.0 update include any changes to dependencies or additions of libraries? Another user on our forums reported a [similar issue](https://discuss.airbyte.io/t/internal-server-error-get-spec-job-failed/2508) and the fix was to update the `setup.py` file.

You may also want to try the troubleshooting steps my colleague recommended on the post as w

[2022-10-19 15:04] sajarin commented on #18102
Thanks for the issue @TanveshT, are you willing to make a PR for this?

[2022-10-19 15:17] TanveshT commented on #18102
sure will make the PR using this [link](https://docs.airbyte.com/understanding-airbyte/high-level-view/)

[2022-10-19 15:28] grishick opened #18166 "I would like to be able to run normalization integration tests in a specific schema in Snowflake and BigQuery"
## Tell us about the problem you're trying to solve
I want to have a way to run normalization integration tests against a custom destination schema w/o modifying the tests. I.e. I want normalization integration test to work inside my own BigQuery project and use GREGS_SCHEMA instead of “test_normalization” schema. I see an environment variable that tells normalization integration tests to generate

[2022-10-19 15:31] DoNotPanicUA commented on #17580
Link to [the draft tech spec](https://docs.google.com/document/d/1Cs4oHSn3lQvJbcDTBnq-EFPG7E42OXatOn1uHYteDSY/edit?usp=sharing)

[2022-10-19 15:37] louismorinkar opened #18167 "Facebook Marketing API failing asking for upgrade to v15"
## Environment
- **Airbyte version**:  0.40.3
- **OS Version / Instance**: GCP n2
- **Deployment**: Docker
- **Source Connector and version**: Facebook Marketing 0.2.69
- **Destination Connector and version**:
- **Step where error happened**: Setup new connection

## Current Behavior
The connection tests failed, with an error message "FacebookAPIException: You are calling a deprecated version of t

[2022-10-19 15:52] YowanR commented on #18167
@YuliiaNahoha Can you please take a look at this ASAP? Thanks! 🙏

[2022-10-19 15:56] igrankova commented on #18156
Partially done (implementation of the Qualtrics source connector to Alpha needed)

[2022-10-19 16:02] grubberr commented on #18167
@louismorinkar I don't understand where I can see this error message
`FacebookAPIException: You are calling a deprecated version of the Ads API. Please update to the latest version: v15.0.`
I downloaded both logs: `server-logs.txt`, `scheduler-logs.txt`
I did not see such error message in both log files

[2022-10-19 16:15] louismorinkar commented on #18167
Hi, the message is shown in the UI :
![The connection tests failed](https://user-images.githubusercontent.com/114916425/196747180-9fd11fcd-1ee4-4368-a3db-8f4e58a4979a.png)

[2022-10-19 16:24] thomas-gerber opened #18173 "Source GitHub: workflow stream only captures workflows recently created or updated"
## Environment
- GitHub community source, version 0.3.6

## Current Behavior
The workflow stream only captures workflows created or modified after `start_date`, which could lead to recent workflow_runs belonging to long-ago created workflows to be captured while their corresponding workflow is not.

## Expected Behavior
Capture all Workflows, i.e. make the stream independent of start_date. This en

[2022-10-19 16:31] #17919 closed

[2022-10-19 16:40] navi86 commented on #16587
@xpuska513
this issue was opened because bitnami database was not used anymore and therefore after update airbyte is empty
can you explain, how it was solved in latest chart ?

[2022-10-19 16:55] YowanR commented on #14734
That's fair. Since this is an alpha connector compared to the other higher priority GA connectors that you are working. Thanks for the update! 🙏

[2022-10-19 16:58] #18102 closed

[2022-10-19 17:16] marcosmarxm commented on #17163
*Comment made from Zendesk by Marcos Marx on 2022-10-19 at 17:16:*

<blockquote><div class="zd-comment" dir="auto">Alexander can you try to update the schema of Amazon Seller Partner too and try with Pg destination?<br></div></blockquote>

[2022-10-19 17:19] Amruta-Ranade commented on #15006
Closed in favor of the [new glossary](https://glossary.airbyte.com/).

[2022-10-19 17:19] #15006 closed

[2022-10-19 17:20] navi86 commented on #16587
@xpuska513
I was trying last chela chart with old bitnami Postgresql service and got the following error
[code]
in pod "airbyte-bootloader". How properly upgrade to latest version with old database/external database ?

[2022-10-19 17:21] Amruta-Ranade commented on #14832
Updated doc: https://docs.airbyte.com/integrations/sources/kafka

[2022-10-19 17:21] #14832 closed

[2022-10-19 17:22] Amruta-Ranade commented on #14815
Done! Also, we have monthly release notes now: https://docs.airbyte.com/release_notes/july_2022

[2022-10-19 17:22] #14815 closed

[2022-10-19 17:23] Amruta-Ranade commented on #14307
Hey, @alafanechere which docs need to be updated?

[2022-10-19 17:27] Amruta-Ranade commented on #16231
Related: https://github.com/airbytehq/airbyte/issues/13080

[2022-10-19 17:31] Amruta-Ranade commented on #11410
@benmoriceau Can you help me figure out the documentation requirement here? Which docs need to be updated and what's the content we need to add?

[2022-10-19 17:49] bleonard commented on #10452
Investigate the effect of this timeout on airbyte usage. If it does look like it will impact many users.
Let's look in the opted-in open source errors as well.

here are some options
1. set to zero in jdbc (forever?)
2. set to some high number
3. add a config parameter
4. allow generic JBDC options like proposed https://github.com/airbytehq/airbyte/issues/9501

[2022-10-19 17:50] rodireich commented on #10452
from [docs](https://www.postgresql.org/docs/current/runtime-config-client.html):
[code]

[2022-10-19 17:50] grubberr commented on #18167
@louismorinkar can you please put here a  log of failed "check" command
You need to press [Set up source] and get logs from UI

[2022-10-19 17:53] sherifnada commented on #5094
@snipebin this is not currently prioritized

[2022-10-19 17:54] bleonard commented on #17756
Investigate if this is error in their setup. If so and we can reliably catch it, then:

1. return instructions for user
2. stack trace as a config_error
3. See if there is something to add to `check` - it has to be fast.

[2022-10-19 17:55] sw-yx commented on #17893
btw i just realized there are a LOT of connectors not included in source definitions.yaml

https://docs.airbyte.com/integrations/

is this on purpose? known?

[2022-10-19 18:29] josephkmh opened #18176 "CatalogSection validation triggers when an unrelated row is edited"
Currently when any stream in the catalog is edited, validation for all streams is displayed. This means that touching a stream might display errors in an unrelated stream, which is bad UX.

Probably we are missing a check whether the stream with an error has been `touched`, which would allow us to only display the error if `touched = true`

Note: `master` currently has disabled validation, which h

[2022-10-19 18:29] octavia-squidington-iv commented on #18176
cc @airbytehq/frontend

[2022-10-19 18:51] marcosmarxm commented on #12888
*Comment made from Zendesk by Marcos Marx on 2022-10-19 at 18:51:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thanks! I’ll try updating first, I’ll report back with the results.</p>

 [<a href="https://discuss.airbyte.io/t/mssql-cdc-sync-fails-to-convert-numeric-values-to-double/2901/3" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-10-19 18:56] natalyjazzviolin opened #18178 "Helm chart update triggers connector update"
## Environment
- **Airbyte version**:  0.40.6
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**:
- **Source Connector and version**: source-mssql:0.4.20
- **Step where error happened**: Updating helm chart

## Current Behavior
Every time the user does a new helm release, for instance upping the helm chart version from one version to another

[2022-10-19 18:59] marcosmarxm commented on #12888
*Comment made from Zendesk by Nataly Merezhuk on 2022-10-19 at 18:59:*

<blockquote><div class="zd-comment" dir="auto">Great, looking forward to it!<br></div></blockquote>

[2022-10-19 19:09] abaerptc commented on #8167
Any update on this? I need this as well, and it may block my use of Airbyte completely.

I see a PUBLIC_URL variable in airbyte-webapp/public/index.html, but it looks like this is a build-time variable, and not something we can set at deploy time. Is that correct?

Is there any way to accomplish this base url configuration?

[2022-10-19 19:13] sajarin commented on #18071
Thanks for the issue and happy to hear that it works now! Feel free to raise more issues as you encounter them.

[2022-10-19 19:55] #17062 closed

[2022-10-19 20:11] marcosmarxm commented on #17163
*Comment made from Zendesk by Marcos Marx on 2022-10-19 at 20:11:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Yes refreshing the schema seemed to solve the latest problem (the error in “_airbyte_data”).<br>
But with either source or destination structure the truncated error stays.</p>

 [<a href="https://discuss.airbyte.io/t/invalid-input-syntax-for-type-normalization-asp-postgr

[2022-10-19 20:22] grishick commented on #1877
S3 connectors (both source and destination) work with any S3 compatible endpoints. AFAIK, we have tested them with min.io

[2022-10-19 20:36] robgleason opened #18183 "Add "npm install" and "npm ci" to airbyte-webapp README.md"
### Tell us about the documentation you'd like us to add or update.

I would like to make a change in the airbyte-webapp README.md, I would like to add "npm install" and "npm ci".
When I originally tried to start the web-app, I had issues creating the environment/ running React and got the error "Cannot find module 'orval'". These npm commands allowed me to get the webapp to start working.

### If

[2022-10-19 20:59] edmundito opened #18186 "Create new dropdowns components for new connection new streams table"
Create a new dropdown style to be used in the new connection streams table
<img width="540" alt="Screen Shot 2022-10-20 at 15 07 22" src="https://user-images.githubusercontent.com/168664/197036256-bda4fc64-5913-4799-9926-f3fdbe502f33.png">

Figma:
https://www.figma.com/file/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?node-id=2060%3A47239

There are 3 types in the design:

* Default
* Info
* Input

Pl

[2022-10-19 21:00] octavia-squidington-iv commented on #18186
cc @airbytehq/frontend

[2022-10-19 21:00] Terieyenike commented on #16228
Hey @Amruta-Ranade, here is the first [draft](https://docs.google.com/document/d/1YzG6CI3KVy5hQbtVxUjUB0M7sa7Dk6u8/edit?usp=sharing&ouid=114557752341261267567&rtpof=true&sd=true).

[2022-10-19 21:00] edmundito opened #18187 "[Epic] Connection streams table redesign"
[code]

[2022-10-19 21:04] edmundito opened #18188 "Bulk Edit Panel for new connection streams table"
Update Bulk Edit Panel to match the design in Figma:

![Screen Shot 2022-10-19 at 17.02.57.png](https://images.zenhubusercontent.com/55f362704f7a08fbb7f4d9d8/4200d2c0-3456-42b2-bfcc-e396a464758d)

https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?page-id=857%3A24319&node-id=865%3A53840&viewport=124%2C-519%2C0.25&scaling=min-zoom&starting-point-node-id=865%3A52984

When the Bulk

[2022-10-19 21:04] octavia-squidington-iv commented on #18188
cc @airbytehq/frontend

[2022-10-19 21:12] brianjlai commented on #16054
all GA connectors are migrated in OSS and have been released to cloud

[2022-10-19 21:12] #16054 closed

[2022-10-19 21:27] rodireich commented on #15040
Assumption: if a customer is seeing these timeouts during their cdc reads it suggests that their publication is way too broad compared to the set of tables that are actually synced by Airbyte and **they should narrow down the synced publication**.
That is to say - a configuration problem.

if this assumption holds then we can utilize heartbeats as followed:
1. With existing polling timeout of _p_

[2022-10-19 23:15] grishick opened #18194 "Base normalization always runs test_ephemeral.py integration test for postgres even if a different target is specified"
This code causes test_epehemral to always be ran for Postgres even when `NORMALIZATION_TEST_TARGET` environment variable is set for a different destination. This is pretty annoying, because it slows down developer iterations.
[code]

[2022-10-19 23:17] edgao commented on #17639
from jimmy:

[14:11](https://airbytehq-team.slack.com/archives/D03P2BM40MP/p1666127517345249)
Most if it lives: https://github.com/airbytehq/airbyte/tree/master/airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol
What to look at:
about the migrations itself: [https://github.com/airbytehq/airbyte/blob/master/airbyte-commons-protocol/src/main[…]byte/commons/protocol/migrations/Airbyte

[2022-10-19 23:28] edgao opened #18195 "Destination GCS: Support buckets using customer-managed encryption key"
As seen in https://github.com/airbytehq/oncall/issues/790#issuecomment-1284600852

GCS buckets are all encrypted at rest. If users set this to use a customer-managed key (rather than the default Google-managed key) then this causes errors (`Could not connect to the Gcs bucket with the provided configuration. Invalid base 16 character: 'J'`, where the `J` changes randomly every time you run `check`

[2022-10-20 00:18] brianjlai opened #18200 "airbyte-cdk should adhere to semantic versioning and API source connectors should use the latest minor version"
## Tell us about the problem you're trying to solve
With the latest version bump of the CDK from `0.1.x` to `0.2.x` , a number of API source connectors that use the `airbyte-cdk` library will not receive the latest changes because they fetch the latest patch version as such: `~=0.1.56`. Based on a quick search through the `airbyte-integrations` directory, we have 26 connectors using this version n

[2022-10-20 00:36] grishick opened #18202 "Normalization integration tests do not delete schemas that they create"
Normalization integration tests create target schemas at destinations and never delete them. This behavior pollutes our DW accounts (Redshift, Snowflake, BigQuery) with over a thousand random schemas (integration_test_***). In case of Redshift, this causes the following problem:
[code]

[2022-10-20 02:58] farlandliu opened #18211 "Source MSSQL - How to enable TLSV1?"
## Environment
- **Airbyte version**:  0.40.9
- **OS Version / Instance**: example macOS, Ubuntu 20.04
- **Deployment**:  Docker
- **Source Connector and version**: mssql 0.4.22
- **Destination Connector and version**:  clickhouse 0.1.12
- **Step where error happened**: add new connection from mssql t0 clickhouse

## Current Behavior
mssql-v0.4.20 can't connect to old ms sqlserver due to TLSV1 whe

[2022-10-20 03:27] harshithmullapudi opened #18212 "Low-code SDK: stream_slicer is throwing unconverted data remains error"
## Current Behavior
`python main.py read --config secrets/config.json --catalog integration_tests/configured_catalog.json` is throwing unconverted data remains

## Expected Behavior
To run the sync

## Logs
[error_log (1).txt](https://github.com/airbytehq/airbyte/files/9825960/error_log.1.txt)
https://airbytehq-team.slack.com/archives/C021JANJ6TY/p1665483585137039

[2022-10-20 04:55] davrax commented on #18211
@farlandliu - add this to the JDBC extra params in the source UI:
`enabledTLSProtocols=TLSv1.0`

Works for me for MSSQL Connector 0.4.20, but something broke it when I tested the newer 0.4.22. You could manually override your MSSQL connector version back to 0.4.20 and try it then as a short term workaround.

[2022-10-20 04:57] liyin-compass commented on #14028
Hi there, will there be an ongoing fix here or it is intentionally written as a struct?
The background is we are building a mysql to s3 sync, then build a Hive table based on the output of this parquet file, we want to have datetime column in Hive metastore but it does not work with the struct.

[2022-10-20 05:01] liyinqiu commented on #14028
Hi there, will there be an ongoing fix here or it is intentionally written as a struct?
The background is we are building mysql to s3 sync, then build a Hive table based on the output of this parquet file, we want to have datetime column type in Hive metastore but it does not work with this struct in parquet file.
From this [post](https://discuss.airbyte.io/t/datetime-field-saved-as-dictionary-in-

[2022-10-20 05:09] xorl commented on #5942
Sorry for the late response it did with modification to the service role portion of Airbyte directly. Since the pods launch w/out the service account attached so the annotation does nothing without that.

[2022-10-20 05:50] imrehg commented on #18035
Thanks @girarda, that's very useful!
@marcosmarxm I took a look and would have some ideas how to approach this, but it might not align well with what the team's already doing. So I might look but not necessarily change anything to not duplicate work, unless of course you have specific guidance to still contribute and avoid that.

Also realised that it is likely more of a feature request than a bug

[2022-10-20 06:17] jack-fireworkhq commented on #18043
Hi @sajarin , thanks for the reply. I realized I can build the image locally and run it as your colleague mentioned, so I did and found the problem.
![image](https://user-images.githubusercontent.com/80802145/196864238-0422afae-1e9f-42e6-82b6-b1a910a3c557.png)
It appears that I need to update the airbyte_cdk's version in setup.py to make it work.Besides that I need to change `from airbyte_cdk.sour

[2022-10-20 06:17] #18043 closed

[2022-10-20 06:29] pedroslopez commented on #17616
Did a bit of tweaking on the metabase query, mainly changing the main failure origin to be `contains` instead of `is` and only using attempt count = 3 to represent a final attempt failure. I think metabase is better than sentry because it's more flexible in how we want to group or display the data.

However, I'm not sure how we want to use this as a goal - does it make sense to just track the even

[2022-10-20 07:27] louismorinkar commented on #18167
I don't understand why the logs can't be found in the scheduler / server logs but here are the logs :

[code]

[2022-10-20 07:48] alafanechere opened #18215 "SAT: declare a global `strict_mode` in `acceptance-test-config.yml`"
## Tell us about the problem you're trying to solve
I'd like to make the SAT suite behave according to a `strict_mode` level.
This will be useful to enforce stricter testing on GA connectors.

## Describe the solution you’d like
Add a `strict_mode` string field at the top level of the `acceptance-test-config.yml` file.
Make this field optional, default to null, and values should be an enum of : `[

[2022-10-20 07:48] alafanechere commented on #15407
closing in favor of https://github.com/airbytehq/airbyte/issues/18215

[2022-10-20 07:48] #15407 closed

[2022-10-20 08:20] navi86 opened #18217 "migration failed after upgrade"
## Environment
- **Airbyte version**:  0.40.26
- **OS Version / Instance**: GCP
- **Deployment**: helm/Kubernetes

- **Step where error happened**: Upgrade Airbyte

## Current Behavior
airbyte-bootloader failed to finish due to error:
[code]

## Expected Behavior
airbyte should be upgraded successfully

## Logs
[code]
this new operation type was added recently https://github.com/airbytehq/airbyte/

[2022-10-20 08:55] tooptoop4 commented on #5942
@xorl did u get IRSA working with EKS?

[2022-10-20 09:02] alafanechere opened #18219 "SAT[strict_mode]: validate that all `tests` are enabled"
## Tell us about the problem you're trying to solve
All the tests declared in `acceptance-test-config.yml`, under the `tests` field are optional:
[code]

**I want all these tests not to be optional when `strict_mode = strict`.**

## Describe the solution you’d like
When `strict_mode = strict` I want all the test configuration to be declared, a pydantic.ValidationError should be raised otherwise. I

[2022-10-20 09:15] userbradley opened #18220 "Google Cloud Storage (GCS): Authentication (Workload ID on GKE)"
## Tell us about the problem you're trying to solve

We are in the process of setting up Airbyte to run on GKE.

Looking at the [GCS](https://docs.airbyte.com/integrations/destinations/gcs/) page, it shows the possible authentication options possible.

## Describe the solution you’d like

It would be nice to be able to use the service account the pod is running as, and then use [Workload Identity]

[2022-10-20 09:16] alafanechere opened #18221 "SAT [strict_mode]: no `basic_read.empty_streams`"
## Tell us about the problem you're trying to solve
We want to ensure a read operation is tested on all the streams exposed by a GA connector.
If this is not possible the connector maintainer must document why.

## Describe the solution you’d like
In `basic_read` test SAT should fail if an `empty_stream` without  a `bypass_reason`is filled when `strict_mode == strict`.

[code]

**If a `bypass_reas

[2022-10-20 09:26] #13459 closed

[2022-10-20 09:26] grubberr commented on #18167
@louismorinkar

I suspect that problem can be in Facebook application settings
Can you look on your facebook application settings like:

https://developers.facebook.com/ -> Settings -> Advanced -> Upgrade API version

maybe we will find something interesting here ?

[2022-10-20 09:33] alafanechere opened #18222 "SAT [strict_mode]: `basic_read.expect_records` must be set"
## Tell us about the problem you're trying to solve
`basic_read.expect_record` is currently optionally used to declare a file with a list of records expected to receive on a `read` command. Making it mandatory for GA connectors is required to validate record schema and limit regression on `read`.

## Describe the solution you’d like
SAT must enforce the presence of the `expect_record` field in the

[2022-10-20 10:00] alafanechere opened #18223 "SAT [strict_mode]: `future_state` for all incremental streams"
## Tell us about the problem you're trying to solve
In incremental tests, the `future_state_path` file is used to assess the correct behavior of incremental streams when there is no data to read. No enforcement on the content of this file currently exists. For maximal test coverage, each connector must declare a future state **for each incremental stream** to assert working checkpointing and data

[2022-10-20 10:16] ramonvermeulen commented on #18178
Had this 2 times after upgrading to a newer helm chart version, felt a bit like the change of the MSSQL source version wasn't committed towards the airbyte database yet.

[2022-10-20 10:36] #17491 closed

[2022-10-20 10:42] igrankova opened #18226 "Sandbox Account for Gorgias source"
## Tell us about the problem you're trying to solve
Request/create a sandbox account for implementing new connector according to the [2022 Q4 Product/Engineering Roadmaps](https://docs.google.com/spreadsheets/d/16m-bMM9oVaCSLT6KkPBtPEnza6W55zkUETcPRnNbAcI/edit?usp=sharing)

[Partner Program/Sign up for free](https://www.gorgias.com/partner-program)
[Developers Docs](https://developers.gorgias.com/

[2022-10-20 10:44] igrankova commented on #18226
Created a partner account with the developer app, LastPass name: Gorgias Public Dev App

[2022-10-20 11:32] xpuska513 commented on #16587
I'll work on a solution for migrating data from old one to a new one, I'll let you know once it's ready.
In a meantime you can try pg-migrate or just simply dumping db from old deployment and then restoring it on the new one(using postgres built-in tools)

[2022-10-20 11:42] ingo-m commented on #16412
@edgao `hash(concat(hash(co1), hash(col2), ...))` might be a breaking change, but wouldn't that be acceptable, given that the redshift destination connector is already broken?

We have various data sources (postgres, mysql, redshift) that we have no control over, and had unexpected and unpredictable errors. In some cases, connections that did work at first broke when new data exceeding the charact

[2022-10-20 13:36] andriikorotkov opened #18230 "Update StandardDestinationDefinition.yaml"

[2022-10-20 13:39] jpmmcneill opened #18231 "Make the schema for a Stream configurable"
## Tell us about the problem you're trying to solve
I'd like to change the schema that is requested from some endpoints.

The direct example that I have in mind is with the `facebook-marketing` source, where some streams (for example ad creatives) request a large volume of data. I've seen this mean that facebook returns an error along the lines of 'you're asking for too much data', which could be

[2022-10-20 13:51] andriikorotkov opened #18232 "Get normalization image from the connector definition file"
Get normalization image from the connector definition file and read the information from both the definition file and the spec and add logs if have difference.

[2022-10-20 14:17] edmundito commented on #14174
@tealjulia Can we declare this epic as done? Can you confirm that what is tracked with Zenhub is correct (and less that what's on the description)?

[2022-10-20 14:20] andriikorotkov opened #18235 "Read the information from both the definition file and the spec and add logs if have difference."

[2022-10-20 14:21] andriikorotkov opened #18236 "Switch to read the information only from the definition file (from the actor_definitions)"
NormalizationImage + NormalizationVersion (dbtSupport) will be in the spec files by this point.  This story is to load the DB

[2022-10-20 14:24] andriikorotkov opened #18237 "Get supportsDbt flag from the connector definition file as well"

[2022-10-20 14:24] andriikorotkov opened #18238 "Remove NormalizationRunnerFactory"
Switch to read the information only from the definition file (from the actor_definitions) and Remove **NormalizationRunnerFactory**. Get **supportsDbt** flag from the connector definition file as well. Update `check_images_exist.sh` to get information from **destination_definition.yaml** file instead of **NormalizationRunnerFactory** class

[2022-10-20 14:26] andriikorotkov opened #18239 "Remove supportsDbt and supportsNormalization from DestinationDefinitionSpecificationRead"

[2022-10-20 14:28] andriikorotkov opened #18240 "Fix normalization image existence check"

[2022-10-20 14:37] octavia-squidington-iv commented on #17825
cc @airbytehq/frontend

[2022-10-20 14:39] dizel852 opened #18241 "User don"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Step where error happene

[2022-10-20 14:40] #18241 closed

[2022-10-20 14:50] edmundito opened #18242 "Stream Details Panel in new streams table"
Update the new streams table fields panel to match the functionality and look of the design. Ensure that it works as expected and add testing around the component.

On the table:
* The checkboxes and the Sync column should be excluded because field sync will be added separately.
* The Primary Key and Cursor columns only appear depending on the sync mode that supports those modes.
* The selection f

[2022-10-20 14:50] etsybaev commented on #11356
https://github.com/airbytehq/airbyte/pull/18177

[2022-10-20 14:51] octavia-squidington-iv commented on #18242
cc @airbytehq/frontend

[2022-10-20 14:52] navi86 commented on #18217
@natalyjazzviolin
yes, the issue is application issue that bootloader is not able to upgrade my old database.

[2022-10-20 14:55] edmundito opened #18243 "Update new connection streams table dropdowns"
New look for the sync mode:
![Screen Shot 2022-11-09 at 16 54 28](https://user-images.githubusercontent.com/168664/200949959-b18aa213-eb1f-4b81-9e4d-431312d8381d.png)

When small, should truncate the text:
![Screen Shot 2022-11-09 at 16 54 57](https://user-images.githubusercontent.com/168664/200950048-4bd31872-8da0-4ad2-a761-7ef83feb69a3.png)

"Disabled" mode used for bulk edit mode:
![Screen Shot

[2022-10-20 14:56] octavia-squidington-iv commented on #18243
cc @airbytehq/frontend

[2022-10-20 14:59] ikeadeoyin commented on #16234
Hi @Amruta-Ranade, here is a revised [draft](https://docs.google.com/document/d/1sQUPOzZsvbgHnNL3iGezN65eSviqODIOR2WjehxG3Fw/edit?usp=sharing).

[2022-10-20 15:08] ryankfu commented on #10004
@akashkulk yes, this appears to have been fixed with the recent PR #18041 at least based on the changes from Rodi's [PR](https://github.com/airbytehq/airbyte/pull/15833/files) which changes the retrieval method from `getPublicKeyInfo()` to `keyPairs.iterator().next()`

I will close this ticket as completed and update #18041 to include a description with this comment

[2022-10-20 15:15] evantahler opened #18245 "Frontend E2E Tests are failing due to `airbyte-proxy`"
https://github.com/airbytehq/airbyte/pull/17694#issuecomment-1285710470

[2022-10-20 15:20] andmosourceability commented on #14372
Hi! This was a problem for me as well, so I would like to propose a solution: https://github.com/airbytehq/airbyte/pull/18244 Apologies if I have missed any steps in the contribution process.

[2022-10-20 15:26] grubberr commented on #18167
@louismorinkar @YowanR
it looks like you someway restricted your facebook application to use only API v15.
One option to re-create facebook application with lower API version.
I am not sure we will migrate to API v15 pretty fast.

[2022-10-20 15:29] dizel852 opened #18246 "User won't get "Unsaved changes" modal after moving to another page if testing connector has failed"
## Environment
- **Airbyte version**:  0.40.15
- **OS Version / Instance**: all
- **Deployment**: all
- **Step where error happened**: Source / Create new source / Set up source

## Steps to repro:
1. Go to the "Sources" tab
2. Click the "New source" button
3. Choose "Poke API" in the dropdown
4. Fill in the `Pokemon Name` field with a random string
5. Click the "Set up source" button  - Testing c

[2022-10-20 15:30] octavia-squidington-iv commented on #18246
cc @airbytehq/frontend

[2022-10-20 15:43] grishick commented on #16249
Note from grooming:
Redis cloud does not seem to support TLS and it's unclear how to set it up in Docker

[2022-10-20 15:44] #16250 closed

[2022-10-20 15:48] natalyjazzviolin opened #18249 "🐛 Remove Microsoft Dynamics GP doc: connector does not exist"
### Tell us about the documentation you'd like us to add or update.
The documentation for the [Microsoft Dynamics GP](https://docs.airbyte.com/integrations/sources/microsoft-dynamics-gp/) source connector needs to be removed because the connector does not exist!

[2022-10-20 15:53] edgao commented on #17637
@edgao check if databricks needs to be updated

[2022-10-20 15:56] edgao commented on #17636
@edgao call out jsonschematype class

[2022-10-20 16:06] edgao commented on #17639
@edgao split into upgrade/downgrade migration implementation

[2022-10-20 16:07] andyjih commented on #17795
We'll want to update the IP addresses listed in this page as well: https://github.com/airbytehq/airbyte-cloud/issues/2425

[2022-10-20 16:09] averyyip opened #18253 "Kubernetes: long syncs failing due to Message: Pod "orchestrator-repl-job-140017-attempt-1" is invalid: spec: Forbidden: pod updates may not change fields"
## Environment
- **Airbyte version**:  0.40.4
- **OS Version / Instance**: AWS EC2, Linux
- **Deployment**: AWS EKS, Kubernetes
- **Source Connector and version**: Salesforce 1.0.15
- **Destination Connector and version**: S3 0.1.18
- **Step where error happened**: Sync job

## Current Behavior
We are trying to ETL data for a very large salesforce account (>40gbs). Whenever we try to sync a large

[2022-10-20 16:12] edgao opened #18254 "data types update - implement protocol versioning (downgrades)"
Implement message downgrading. See https://github.com/airbytehq/airbyte/issues/17639 for mappings between new and old types.

[2022-10-20 16:32] girarda commented on #16442
recorded and shared the demo

[2022-10-20 16:32] #16442 closed

[2022-10-20 16:38] Jagrutiti commented on #16231
Hey Amruta,

Here is my [first draft](https://docs.google.com/document/d/19A-jYZPgsh4eG6OEI5neKFk_-XIrHEaa076kUcbtXTQ/).

[2022-10-20 17:22] pmossman commented on #12539
@terencecho can you provide a quick update here?

[2022-10-20 17:26] sherifnada commented on #17917
blocked on code review from Tim who is currently on PTO

[2022-10-20 17:27] sherifnada commented on #17812
blocked on tim review who is PTO

[2022-10-20 17:29] sherifnada opened #18258 "Fix connector builder openAPI spec codegen problems"
## Tell us about the problem you're trying to solve
There are currently multiple issues we run into when trying to generate code from the connector builder openAPI spec in its current form. I will capture these issues below:

### Orval issues

When trying to use [orval](https://github.com/anymaniax/orval) to generate the typescript client code (the same library we use to generate frontend client c

[2022-10-20 17:33] sherifnada commented on #17543
when investigating frameworks, some criteria to keep in mind:
- how well it handles long running requests
- amount of boilerplate
- handling large requests
- (probably other things there as well)

[2022-10-20 17:33] sherifnada opened #18259 "Investigate python server-side frameworks"

[2022-10-20 17:36] #13849 closed

[2022-10-20 17:41] #18245 closed

[2022-10-20 17:45] bryanpost commented on #1877
@grishick I'm sorry, my question was quite vague. My team uses Hive via EMRFS on S3, and I think [this issue re:partitions](https://github.com/airbytehq/airbyte/issues/6981) is more relevant. I need to do more research, but I don't think the existing S3 destination allows for creating the partitions required for Hive to work properly. Would be interested in hearing otherwise, however!

[2022-10-20 17:47] marcosmarxm commented on #18249
Users can sync data to Microsoft Dynnamics GP using a database backend connector.

[2022-10-20 17:47] #18249 closed

[2022-10-20 17:52] sherifnada opened #18260 "CDK: DRY common logic in `entrypoint.py` and `destination.py`"
## Tell us about the problem you're trying to solve
The `Destination` class in the CDK contains its own entrypoint logic. But `Sources` rely on a separate file, `entrypoint.py`. [This PR](https://github.com/airbytehq/airbyte/pull/18214/files) is an example of how this leads to code duplication -- it requires us to duplicate the fix in both files.

## Describe the solution you’d like
Consolidate al

[2022-10-20 17:56] YowanR commented on #3107
For this one, pasting @girarda's initial assessment of the connector: "seems simple except for the asynchronous analytics endpoints, which we can't write in YAML this quarter". I think that we can proceed with this one.
cc @sherifnada in case you want to chime in

[2022-10-20 18:43] Terieyenike commented on #16228
Hey @Amruta-Ranade,
Please check the review for my [docs](https://docs.google.com/document/d/1YzG6CI3KVy5hQbtVxUjUB0M7sa7Dk6u8/edit?usp=sharing&ouid=114557752341261267567&rtpof=true&sd=true).

[2022-10-20 18:51] gosusnp opened #18266 "When deleting a connection, update the status as part of the API"
## What

When we delete a connection, we change the status of the connection as part of the workflow.
It means that we currently do know exactly when we are effectively deleting the connection which also causes issues in our acceptance tests.

## How

In our delete endpoint:
* signal the workflow for deletion as we do today
* update the db to mark the connection as deleted before returning from th

[2022-10-20 18:51] evantahler commented on #17407
Data will get to the data warehouse via https://github.com/airbytehq/airbyte-warehouse/issues/558

[2022-10-20 19:07] gosusnp commented on #17104
Dupl of #18266

[2022-10-20 19:07] #17104 closed

[2022-10-20 19:13] edmundito commented on #18243
@andyjih one tricky part is what happens when you change a source sync mode that is incompatible with the currently selected destination, or vice versa. Can we come up with some rules on how this should work?

[2022-10-20 19:22] edmundito opened #18267 "First E2E test for connection streams table redesign"
Create initial e2e test for new connection table during the connection create state. This is the first pass for supporting the new table in end to end testing

* Test should try to create a connection, set some values in the table, and then delete the table.
* Provide list of items that were not covered in the test so that it can be broken down into different Github issues.

### Tasks
[code]

- [

[2022-10-20 19:23] octavia-squidington-iv commented on #18267
cc @airbytehq/frontend

[2022-10-20 19:29] benmoriceau commented on #18107
Grooming node: Should it be in the scope of connector team or with the support of connector team since platform workflow don't have the knowledge of the format of the configuration needed by this connector.

[2022-10-20 19:48] YowanR commented on #18042
Awesome @carlonuccio! We're excited to review your PR as soon as it's ready :)

[2022-10-20 19:50] pedroslopez commented on #18113
Note:

From the example in the main post and https://github.com/airbytehq/airbyte/pull/18075, it seems like it's due to the PR coming from a fork, rather than because of there being no changes

[2022-10-20 20:02] Amruta-Ranade commented on #16228
Feel free to open a PR and assign it to me for review :)

[2022-10-20 20:03] Amruta-Ranade commented on #15969
Feel free to open a PR and assign it to me for review :)

[2022-10-20 20:03] Amruta-Ranade commented on #16234
Feel free to open a PR and assign it to me for review :)

[2022-10-20 20:06] #18200 closed

[2022-10-20 20:22] #18019 closed

[2022-10-20 20:58] #17522 closed

[2022-10-20 21:27] evantahler commented on #17616
I'll delete my report so we don't get confused

[2022-10-20 21:48] bleonard commented on #18161
Same as the other ones in this area. If this occurs during the sync/discover,
Catch it and...
1. return clearer instructions for user
2. stack trace as a config_error
3. See if there is (fast) something to add to`check` (sounds like it was already there).

[2022-10-20 22:57] #18113 closed

[2022-10-20 23:13] nataliekwong opened #18276 "Add search capability for existing sources"
On the /new-connection page, the user is prompted to select an existing source or create a new one.

When selecting an existing source, the user is unable to search to find the relevant existing source. They should be able to search similar to the connector type selection. Same applies for the destination.

<img width="637" alt="Screen Shot 2022-10-20 at 4 09 59 PM" src="https://user-images.github