[2022-11-18 21:57] sherifnada commented on #19622
cc @brianjlai could be a good first issue

[2022-11-18 22:33] #2833 closed

[2022-11-18 22:36] jhammarstedt commented on #19232
@RealChrisSean Hi, as this was submitted during the hackathon it should qualify for the bounty right?😊

[2022-11-18 23:03] lazebnyi commented on #13491
Closed to https://github.com/airbytehq/airbyte/pull/14496#issuecomment-1317805144

[2022-11-18 23:03] #13491 closed

[2022-11-18 23:06] lazebnyi commented on #18484
@YowanR Can we close this issue?

cc @roman-yermilov-gl

[2022-11-18 23:07] YowanR commented on #18484
Yes, I think we should be good here. Thanks @roman-yermilov-gl and @lazebnyi

[2022-11-18 23:12] lazebnyi commented on #18484
Will be closed after Nov 28 according to this - https://github.com/airbytehq/airbyte/pull/18546#issuecomment-1320390894

[2022-11-18 23:29] #19274 closed

[2022-11-18 23:50] cgardens opened #19628 "Google Sheets Destination returns unhelpful error message when client_id is wrong."
## Tell us about the problem you're trying to solve
* When the provided `client_id` is wrong, the google api throws `Error: invalid_client ... The OAuth client was not found` ([link](https://stackoverflow.com/questions/32205824/401-that-s-an-error-error-invalid-client-the-oauth-client-was-not-found) to SO).
* When this happens it appears that the check method still succeeds.
* When the sync run ai

[2022-11-19 00:08] girarda commented on #19565
done as part of https://github.com/airbytehq/airbyte/pull/19269

[2022-11-19 00:08] #19565 closed

[2022-11-19 00:10] sophia-wiley opened #19629 "OSS control plane and data plane split docs"
Related to this [issue](https://github.com/airbytehq/airbyte-cloud/issues/2764).

[2022-11-19 00:21] cgardens opened #19630 "Cancellation should not be red"
## Tell us about the problem you're trying to solve
![Screen Shot 2022-11-18 at 4 18 12 PM](https://user-images.githubusercontent.com/9092207/202823643-b160d58e-6214-4877-bcbd-c7a4b4f49d52.png)
* When an attempt is cancelled, the UI shows a red X and a failure reason. This implies that the sync is broken in some way. This is misleading.

## Describe the solution you’d like
* When an attempt is can

[2022-11-19 00:42] girarda opened #19632 "lowcode: SimpleRetriever does not log request/response details when raising an error"
## Current Behavior
When a request fails, [the only information about the response exposed by the retriever is the response status](https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py#L322)
example:
[code]

## Expected Behavior
* We should at the very least show the response message and the content of the request sent.

[2022-11-19 00:50] cgardens opened #19633 "Syncs fail because pod status is null"
## Current Behavior
* 17 times a sync has failed because pod status is null
![Screen Shot 2022-11-18 at 4 45 50 PM](https://user-images.githubusercontent.com/9092207/202825327-58baf404-acc2-4ea5-990e-dac027866bc6.png)

## Expected Behavior
* Ideally we would figure out why pod status could be null. That said, because it happens somewhat infrequently, it is likely hard to reproduce. I suspect a pod

[2022-11-19 00:52] octavia-squidington-iv commented on #19630
cc @airbytehq/frontend

[2022-11-19 00:52] timroes commented on #19630
:+1: Yes it is!

[2022-11-19 01:40] gosusnp commented on #19522
@alex-gron, yes this could be for both, however, I am not sure how the OSS part is leveraged today.
For the state messages, I think we should verify the volume due to the size of some state messages, I am thinking about CDC for example. If the main goal to track checkpointing, I believe we could do something by sending hashes instead of the actual state.

@ChristopheDuong, similar concern about th

[2022-11-19 06:12] indyMccarthy commented on #5781
Hello ! Any news on this issue ?
Thanks !

[2022-11-20 09:26] si-te opened #19636 "Helm Chart should be able to specify Minio Image / tag"
## Tell us about the problem you're trying to solve

When using the 0.41.0 helm chart to deploy airbyte, it is not possible to fix the version of the deployed internal minio image, as it is hard-wired to deploy minio/minio:latest. This means there is no reproducability of the deployment, as the minio version might change in between deployments. Furthermore it is not possible to pull from private i

[2022-11-20 17:44] josephkmh opened #19637 "Differentiate between custom and non-custom connectors when updating"
[PR 19221](https://github.com/airbytehq/airbyte/pull/19221) updated the following API methods in the webapp globally:

1. `createSourceDefinition()` => `createCustomSourceDefinition()`
2. `createDestinationDefinition()` => `createCustomDestinationDefinition()`
3. `updateDestinationDefinition()` => `updateCustomDestinationDefinition()`
4. `updateSourceDefinition()` => `updateCustomSourceDefinition(

[2022-11-20 17:45] octavia-squidington-iv commented on #19637
cc @airbytehq/frontend

[2022-11-20 19:09] josephkmh commented on #19637
After some local testing: creating custom connectors on master currently does not work. The connectors are created in the database, but are not returned by the server and consequently not shown in the UI. This is because the webapp is now using the old `createSourceDefinition()` endpoint, and the corresponding row in `actor_definition_workspace_grant` is not created.

[2022-11-20 19:58] mamontesp opened #19638 "Create a connector to access open data SODA API (Socrata now Tyler Technologies)"
## Tell us about the new connector you’d like to have
Connector to use public data exposed through SODA APIs by public governments.

* Which source and which destination?
Source: Endpoints with format https://www.datos.gov.co/resource/ceth-n4bn.json
Destination: Postgres

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the A

[2022-11-20 20:04] mamontesp commented on #19638
I'll be working on this :)

[2022-11-20 20:34] markandrus opened #19639 "POST /v1/connections/sync times out"
## Environment
- **Airbyte version**:  0.40.17
- **OS Version / Instance**: AWS EC2
- **Deployment**: AWS EKS
- **Source Connector and version**: N/A
- **Destination Connector and version**: N/A
- **Step where error happened**: N/A

## Current Behavior
POST-ing to /v1/connections/sync with an unknown connection ID times out after about one minute.

## Expected Behavior
Other APIs, like /v1/connect

[2022-11-21 07:25] am6010 opened #19641 "Source Zendesk Chat: Add conversion and department events streams"
## Tell us about the problem you're trying to solve
Adding to extra streams for the Zendesk Chat  connector:
- [department events](https://developer.zendesk.com/api-reference/live-chat/chat-api/incremental_export/#incremental-department-events-export)
- [conversions](https://developer.zendesk.com/api-reference/live-chat/chat-api/incremental_export/#incremental-conversions-expor)

Both of them are

[2022-11-21 07:44] tfoldi opened #19642 "nginx: [emerg] host not found in upstream "$CONNECTOR_BUILDER_API_HOST""
## Environment
- **Airbyte version**: Chart airbyte-0.41.0
- **OS Version / Instance**: Kubernetes
- **Deployment**: Helm
- **Step where error happened**: Helm install

## Current Behavior

Worker does not start after helm install

[code]

## Expected Behavior

Helm install should work by default

## Logs

[code]

## Steps to Reproduce
1. wget https://raw.githubusercontent.com/airbytehq/airbyte/ma

[2022-11-21 07:57] juweins commented on #19324
@sherifnada I was pretty confused by the latest merge to that specific class default_api.py. However, I found some time last weekend to get near a possible solution.
Hopefully I am able to propose my solution around 10 AM GMT-8.

[2022-11-21 08:34] toandm commented on #6323
Please update this, so important. If you can do one for AWS that will be really helpful too.

[2022-11-21 08:51] prashy123 opened #19643 "AWS Postgres RDS with encryption (KMS)"
Hey team,

I am not able to connect my postgres RDS (AWS) which is encrypted using KMS. I found a discussion over forum regarding same.

https://discuss.airbyte.io/t/failed-to-connect-to-rds-postgres-db-when-using-storage-encryption/1712/2

Can you let me know if this has been done ?

[2022-11-21 08:58] igrankova commented on #5781
@YowanR, we have some requests to this new connector here, is it in our roadmap?

[2022-11-21 09:18] naxels commented on #19555
Update:

I looked at the code, and think I've found the issue:
https://github.com/airbytehq/airbyte/blob/f53bbb3c24d9546aed8f0526708b6cddb30ff842/airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java#L161

`connection.getMetaData().getCatalogs()`

Doesn't work for Oracle as described here:
https://stackoverflow.com/questions/43109125/

[2022-11-21 09:22] tfoldi commented on #7211
We have the same issue as @jfouchard - I can confirm it is still exists in Helm v0.41. A worker pod restart helps

[2022-11-21 09:25] igrankova opened #19644 "Obtain public developer application for the Genesys source connector"
Public developer app
[Docs](https://developer.genesys.cloud/authorization/platform-auth/)

[EPIC] Oauth developer applications https://github.com/airbytehq/airbyte/issues/6070

[2022-11-21 11:12] igrankova opened #19647 "Obtain public developer application for the Twitter source connector"
Public developer app
[Docs](https://developer.twitter.com/en/docs/authentication/oauth-2-0/authorization-code)

[EPIC] Oauth developer applications https://github.com/airbytehq/airbyte/issues/6070

[2022-11-21 11:30] ycherniaiev opened #19648 "Source Marketo: new stream Opportunity"
## Tell us about the problem you're trying to solve
endpoint: /rest/v1/opportunities.json
permission: read_only_opportunity

## Describe the solution you’d like
Research pros and consfor implementing this stream

[2022-11-21 11:47] ycherniaiev opened #19649 "Source Marketo: new stream Folders"
## Tell us about the problem you're trying to solve
Endpoint: /rest/asset/v1/folders.json
Permiision: read-only asset

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-11-21 11:51] ycherniaiev opened #19650 "Source Marketo: new stream Froms"
## Tell us about the problem you're trying to solve
Endpoint: /rest/asset/v1/forms.json
Permission: read-only asset

## Describe the solution you’d like
Researchpros and cons for implenting this stream

[2022-11-21 11:57] ycherniaiev opened #19651 "Source Marketo: new stream Emails"
## Tell us about the problem you're trying to solve
Endpoint: /rest/asset/v1/emails.json
Permission: read-write asset

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-11-21 12:21] ycherniaiev opened #19652 "[EPIC] Source Twillio: create issues to cover MLP enhancements"
## Tell us about the problem you're trying to solve
Following our market research and analysis, we've identified the streams and enhancements that would help make our connectors more competitive as detailed [here](https://docs.google.com/document/d/1nuuavXvYVd4xtIMOBt_txCvX6-Zdj97F-ne_51LgJNM/edit)

## Describe the solution you’d like
Check the box when the stream is supported by Airbyte. Note: If

[2022-11-21 12:34] marcelopio commented on #19612
Kinda duplicated of #18399, no?

[2022-11-21 12:50] juweins commented on #19324
I struggle testing my implementation with the provided unit-tests. I am not able to run the test script due to unresolved module imports. How may I enable this?

`/usr/bin/python3 /home/wenzork/airbyte-contribution/airbyte-19324/airbyte-
connector-builder-server/connector_builder/impl/default_api.py
Traceback (most recent call last):
  File "/home/wenzork/airbyte-contribution/airbyte-19324/airbyte

[2022-11-21 13:55] ycherniaiev opened #19654 "Source Twillio: new stream Conversations"
## Tell us about the problem you're trying to solve
With Twilio’s [Conversations API](https://www.twilio.com/docs/conversations), you can build virtual spaces ("conversations") for customers to communicate across multiple channels.

Instead of building separate solutions for online chat versus SMS engagement, you now have one API to create customer engagement across all of them.

## Describe the s

[2022-11-21 13:56] igrankova opened #19655 "Source Monday: create developer account to increase rate limits"
## Tell us about the problem you're trying to solve
Create special dev account with higher Rate Limits and fill it with test data.

[2022-11-21 14:01] natalyjazzviolin opened #19656 "Sandbox Account for Teradata Vantage Destination"
## Tell us about the problem you're trying to solve
Request/create a sandbox account for implementing/testing new connector [Teradata Vantage Destination](https://github.com/airbytehq/airbyte/pull/19420)

[2022-11-21 14:09] igrankova commented on #19655
LastPass name: Monday Developer Account (with higher Rate Limits)

[2022-11-21 14:18] edmundito commented on #17941
@andyjih This is for the standard table component we use in other pages:
https://63053d1047904393cf8d8faa-juyiyqrszv.chromatic.com/?path=/story/ui-table--primary

[2022-11-21 14:23] edmundito commented on #19630
cc @Upmitt

[2022-11-21 14:24] juweins commented on #19393
@Amruta-Ranade Let me handle this! Just to make sure: You want sections like this to simply reference the mentioned link?

https://docs.airbyte.com/integrations/sources/alloydb#prerequisites

[2022-11-21 14:30] klsoper commented on #19211
Just wanted to check, this issue could be causing this error?

`State code: 08004; Message: The server does not support SSL."` for postgres source setup

[2022-11-21 14:34] DoNotPanicUA opened #19657 "The local platform build fails after PR #19269"
## Current Behavior
If you run a local platform build of a clean project, it fails with the error:
![image](https://user-images.githubusercontent.com/30464745/203080982-702d8618-8ef4-4267-be6f-504d3863f323.png)

## Workaround
You can revert the commit till it's not fixed.
![image](https://user-images.githubusercontent.com/30464745/203081288-1f276603-a1ac-4fb4-b729-ccf4bbc3f3a1.png)

[2022-11-21 14:36] DoNotPanicUA commented on #19657
#19269
Hi @girarda @lmossman
Please help with the issue.

[2022-11-21 14:40] natalyjazzviolin commented on #18059
@andyjih I am not, just unassigned myself!

[2022-11-21 14:43] #19566 closed

[2022-11-21 14:54] #19585 closed

[2022-11-21 15:08] natalyjazzviolin commented on #19233
@edmundito , Sherif assigned this one to me as part of the low-code framework effort.
I have a few questions before I dive in, could you clarify these? I used an API key field as an example as it looks like it has the same functionality as a password field.

Cancel/Done buttons:

Does this look like the correct approach?

<img width="391" alt="Screen Shot 2022-11-21 at 9 59 53 AM" src="https://use

[2022-11-21 15:15] darynaishchenko commented on #17506
today's status of connector build health:
https://airbytehq.slack.com/archives/C02TYE9QL9M/p1669043511794779?thread_ts=1669036599.704309&cid=C02TYE9QL9M

[2022-11-21 15:22] girarda opened #19658 "[EPIC] Lowcode to GA"
Placeholder epic to track issues to resolve as part of promoting the framework to GA

### UX improvements
- [x] https://github.com/airbytehq/airbyte/issues/19334
- [ ] https://github.com/airbytehq/airbyte/issues/18435
- [x] https://github.com/airbytehq/airbyte/issues/18052
- [ ] Split between url_base and path is confusing
- [ ] https://github.com/airbytehq/airbyte/issues/16554
- [ ] https://githu

[2022-11-21 15:33] edmundito commented on #17825
Discussed with the team at FE sync. This covers only the diff support on the table but may need more issues to support the rest of the changes. We will need to figure out the timeline of when this will be released (with and without auto-detect schema changes)

[2022-11-21 15:34] YowanR commented on #12491
This is exciting! Thanks for sharing, @patygold! We'll have the team look at this once we have the bandwidth

[2022-11-21 15:59] timroes opened #19659 "Remove `displaySetupWizard` from workspace"
Since https://github.com/airbytehq/airbyte/pull/19539/files we removed the onboarding page from the webapp. We could now remove `displaySetupWizard` which was used to track if the onboarding page should still be shown, from the backend and APIs as well, or at least deprecate it.

There are still some places this type appears in the FE, which can all safely be removed with the removal from the API.

[2022-11-21 16:07] #19643 closed

[2022-11-21 16:15] lennyxc commented on #18784
Wanted to provide another example use-case. I think this will help unlock a lot of graphql queries that use variables for pagination for instance.

{"query": "graphql query here", "variables": { "limit": injected by pagination page size, "offset": injected by pagination page token}}

https://airbytehq.slack.com/archives/C027KKE4BCZ/p1668992596593719

[2022-11-21 16:16] Shishir-rmv commented on #18025
I would like to work on this.

[2022-11-21 16:20] natalyjazzviolin commented on #19638
@mamontesp looking forward to your PR! :)

[2022-11-21 16:23] natalyjazzviolin commented on #19584
Hey @bmikaili , please use our standard issue report template (repasted it for you below), as currently this issue does not have enough information to debug further. I am closing this issue until additional details are provided.

## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**:

[2022-11-21 16:23] #19584 closed

[2022-11-21 16:24] natalyjazzviolin commented on #19582
Hi @IzioDev , which zendesk connector does this refer to? We have 5 different ones currently.

[2022-11-21 16:34] natalyjazzviolin commented on #19532
Hi @bmikaili , could you please use our issue template to provide more details? I will reopen this issue once the details are provided. Thanks!

## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if

[2022-11-21 16:37] natalyjazzviolin commented on #19509
Hi @bmikaili , as per the previous issues: please use the template to provide all the necessary details. Closing this until further details are provided.

## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and versi

[2022-11-21 16:42] natalyjazzviolin commented on #18860
Hey @quannh-uet , we have a code freeze in place until next week, then the team would be able to review and merge your PR. Meanwhile, could you run your integration tests locally, make sure everything passes and include the logs in the PR? This will make the review process quicker!

[2022-11-21 17:14] Tejasp2003 opened #19661 "Nav bar or menu bar in mobile device is closing automatically"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Step where error happene

[2022-11-21 17:19] evantahler commented on #16265
@git-phu can you let me know if the AMIs here have been updated with the work last week?

[2022-11-21 17:24] VitaliiMaltsev commented on #19211
@klsoper yes, exactly

[2022-11-21 17:26] alafanechere opened #19662 "Source Asana: dedicated sandbox account"
We need a dedicated sandbox account for testing `source-asana`

[2022-11-21 17:27] girarda opened #19663 "Restrict publish command on GA connectors"
## Tell us about the problem you're trying to solve
Customers expect GA connectors to be reliable so we should be extra careful when updating them.
We should ensure updates to GA connectors are reviewed and approved by the connectors-org.

## Describe the solution you’d like
Restrict community maintainers from running `/publish` on GA connectors

[2022-11-21 17:35] naxels commented on #19555
Update: I've been able to get the table list by manually filling in all schema's (for example AR) I have access too in the Source Schema field. which I find strange because it should find all synonyms as tables under my username (default schema, uppercase).

So I'd still consider this a bug.

[2022-11-21 17:36] Zawar92 opened #19666 "Creative name not available in the creatives report."
## Tell us about the problem you're trying to solve
In the connector [source-linkedin-ads](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-linkedin-ads), While fetching `creative reports` we are unable to fetch `creative name` with `creative id`.

## Describe the solution you’d like
The connector needs to be modified slightly only for creative reports. As th

[2022-11-21 17:44] jdpgrailsdev opened #19667 "Prevent creation of connector with duplicate stream names"
## Tell us about the problem you're trying to solve
https://github.com/airbytehq/oncall/issues/1080 exposed that the platform allows users to save a connection that contains a catalog with duplicate streams present.  While the presence of a duplicate stream in the connector's catalog is most likely due to a bug in a connector, the platform should not prevent this from happening on save, as it lead

[2022-11-21 17:55] git-phu commented on #16265
@evantahler they have not

Last week we tried some experiments with preloading some things into runner AMIs but we did not find significant gains with the things we tested so we didn't change any current build images.

However, on a separate note I recently updated the cloud pipelines to use a newer AMI that has the latest version of docker/docker compose (and has a 100gb disk), so if we are still

[2022-11-21 18:29] evantahler commented on #16265
Ok, great! We'll update to AMI `ami-06fb57d8e7c033959`.  I think we probably should harmonize all of our tools using one AMI if we can - less to manage and worry about.

[2022-11-21 18:32] juweins commented on #19324
@sherifnada I committed my proposal to my repo. Can you maybe have a look on my implementation & make suggestions?
Am I on the right track to solve this issue? Thanks!

[2022-11-21 18:32] timroes commented on #19637
Synced offline about this. Our outcome and action items

* createCustomSource/DestinationDefinition should be used (with workspaceId)
* Once in UI, we want to remove the old (non workspace scoped) create APIs
* updateSource/DestinationDefinition (does not need workspaceId)
  * Cloud will check if the passed connector ID, is actually assigned to a workspace that the user has access to, if not throw

[2022-11-21 18:39] klsoper commented on #19211
thank you!

[2022-11-21 18:47] sherifnada commented on #19324
@juweins the code is on the right track, but the ticket is saying that the OpenAPI generator we use to generate all the code under the `generated/` directory should be the one generating this code, rather than us writing it by hand if that makes sense.
See [the README](https://github.com/airbytehq/airbyte/tree/master/airbyte-connector-builder-server#openapi-generation)  for a description of how to

[2022-11-21 18:49] evantahler commented on #16265
@git-phu how much HDD space does the new image made in https://github.com/airbytehq/airbyte-cloud/pull/3424 have?  It looks like the /test command and /publish command use different images, and perhaps the main difference is hard drive space?

https://github.com/airbytehq/airbyte/blob/894d672364417299323801a6b447206db3424609/.github/actions/start-aws-runner/action.yml#L10-L13

vs

https://github.c

[2022-11-21 18:50] sherifnada commented on #19324
Looking at [this issue](https://github.com/OAI/OpenAPI-Specification/issues/398) in the openAPi generator, it's actually not clear to me if openAPI even natively supports it. My guess is that there might be a code generator flag which tells the generator to use a specific super class when generating python code. But short of something like that, I'm not sure the spec itself can support this.

[2022-11-21 18:53] xiaohansong opened #19669 "Consolidate update/delete custom definitions to regular update/delete definitions"
FE should use the same API when user wants to update or delete their source or destination definition.

This ticket requires to consolidate 4 custom APIs into the original API (FE will use the one without `custom` in it, such as updateSourceDefinition)

Also as part of the effort we should remove the legacy creation path to avoid misuse:

POST /v1/source_definitions/create
POST /v1/destination_def

[2022-11-21 18:55] xiaohansong opened #19670 "Prepare update/delete definition endpoints for custom connectors in Cloud"
In https://github.com/airbytehq/airbyte/issues/19637#issuecomment-1322485100, we captured notes from a discussion about these API endpoints between FE and BE.

In order to achieve this, we'll perform the following steps:
- Remove the custom-specific blocks from config.yaml for update/delete
  - source_definitions/update_custom: https://github.com/airbytehq/airbyte/blob/master/airbyte-api/src/main/

[2022-11-21 18:56] xiaohansong commented on #19637
On backend we need to implement to address these action items:

https://github.com/airbytehq/airbyte/issues/19669
https://github.com/airbytehq/airbyte/issues/19670

[2022-11-21 19:08] nataliekwong opened #19671 "Add OSS-only Connectors to Connector Dropdown in Cloud"
In Cloud, he connector (source / destination) dropdowns only show the connectors that are available in Cloud, even if we support the connector in OSS.

As an example, JIRA returns no results:
![Screen Shot 2022-11-21 at 10 53 14 AM](https://user-images.githubusercontent.com/38087517/203136477-27f75a48-8f5c-45e8-9596-69c344a2dd31.png)

Ideally, we show the connectors that are available in our OSS c

[2022-11-21 19:11] octavia-squidington-iv commented on #19671
cc @airbytehq/frontend

[2022-11-21 19:24] evantahler commented on #11145
This is basically done now that the connectors can be updated without cloud being deployed.  We manage the catalogs as YMLs and JSON on GCS.

[2022-11-21 19:24] #11145 closed

[2022-11-21 19:25] evantahler commented on #18278
Closing in favor of https://github.com/airbytehq/airbyte/issues/16671

[2022-11-21 19:25] #18278 closed

[2022-11-21 19:27] evantahler commented on #19663
@girarda did something bad happen, or is this preventative?   Can you share more about who is in the "connectors org" for this topic?  Does GL cound?

[2022-11-21 19:50] girarda commented on #19663
@evantahler added a link to a (still WIP) [postmortem](https://docs.google.com/document/d/1tT5kkI1lYdpZdJ-BkGEf48mrO9cR8KstaRYaW4jVUcA/edit#)

[2022-11-21 19:56] lmossman commented on #19642
Thanks for opening this issue, we are actively working on a fix for this. I will update here when we have more details.

[2022-11-21 20:18] marcosmarxm commented on #14659
*Comment made from Zendesk by Marcos Marx on 2022-11-21 at 20:18:*

<blockquote><div class="zd-comment" dir="auto">Hello the version of Salesforce connector 1.0.25 solves the issue, can you try it?<br></div></blockquote>

[2022-11-21 20:20] marcosmarxm commented on #15567
@attaxia can you open a new issue to discuss the problem?

[2022-11-21 20:23] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-11-21 at 20:23:*

<blockquote><div class="zd-comment" dir="auto">Sorry the delay here Arash and Quân, I'll need take a deeper look during the week.<br></div></blockquote>

[2022-11-21 20:25] marcosmarxm commented on #17797
@Wolff-Lucas are you using the same source?

[2022-11-21 20:33] marcosmarxm commented on #14253
@BenoitHugonnard can you send me a message in Slack so I can help you submitting a PR?

[2022-11-21 20:35] timroes opened #19674 "Bumpversion blindly updates versions"
We currently use a `bumpversion` script/config to run version updates across the codebase. What `bumpversion` does is though just finding a semver in the given files and set them to the new versions. Several files that we have `bumpversion` running over (https://github.com/airbytehq/airbyte/blob/master/.bumpversion.cfg) are though also containing other semvers than our own, e.g. we run it over the

[2022-11-21 20:40] marcosmarxm commented on #14745
@shmf @fcatanzaro @KacpiW the issue is in database team backlog but doesn't have an estimated time to conclusion.

[2022-11-21 20:48] girarda opened #19676 "Add health check endpoint to connector builder server"
## Tell us about the problem you're trying to solve
Returning 200 should be enough since there are no additional dependencies

[2022-11-21 21:26] sophia-wiley opened #19677 "Docs for connection streams table redesign"
Related to [#18187](https://github.com/airbytehq/airbyte/issues/18187)

Need to update the [Edit stream configuration](https://docs.airbyte.com/cloud/managing-airbyte-cloud#edit-stream-configuration) section of Managing Airbyte Cloud.

[Figma design](https://www.figma.com/proto/liLQhcbpVHiEDW18kiXQe3/01_03_CONNECTIONS?page-id=857%3A24319&node-id=872%3A35119&viewport=124%2C-519%2C0.25&scaling=min-z

[2022-11-21 22:22] sophia-wiley commented on #18519
Available [here](https://docs.airbyte.com/cloud/dbt-cloud-integration)

[2022-11-21 22:22] #18519 closed

[2022-11-21 22:24] git-phu commented on #16265
@evantahler the new image uses 100gb for disk.
I saw some of our older images use less than that, so I can check for the ones you linked

[2022-11-21 22:29] git-phu commented on #16265
@evantahler

[ami-005924fb76f7477ce](https://us-east-2.console.aws.amazon.com/ec2/home?region=us-east-2#ImageDetails:imageId=ami-005924fb76f7477ce)
https://github.com/airbytehq/airbyte/blob/894d672364417299323801a6b447206db3424609/.github/actions/start-aws-runner/action.yml#L10-L13
has 100gb for disk

---

[ami-06cf12549e3d9c522](https://us-east-2.console.aws.amazon.com/ec2/home?region=us-east-2#I

[2022-11-21 22:33] sophia-wiley opened #19681 "Docs for custom transformations in Cloud"
Related to this [issue](https://app.zenhub.com/workspaces/cloud-platform-6259ee50ab53b4001d625d79/issues/airbytehq/airbyte-cloud/3286).

[2022-11-21 23:00] xiaohansong opened #19684 "Custom connector related jobs should run in a different node pool"
For all activities, we want to create a bit to indicate if that's custom connector related; and if so, in KubeProcessFactory.java we should assign a different node selector to run the jobs.

The custom connector bit could also be useful for metrics tracking purpose.

[2022-11-21 23:12] lmossman commented on #19642
We have merged in the [fix](https://github.com/airbytehq/airbyte/pull/19554) for this issue, and I am now working on releasing a new version of Airbyte so that users can pull in the fix. Will update here when that is out

[2022-11-21 23:54] bleonard commented on #15249
@rodireich @subodh1810 What you think the status of this is? If there's something to do, can you add a better description?

[2022-11-21 23:54] bleonard commented on #18573
fyi @subodh1810 - is this a duplicate with another one?

[2022-11-22 00:02] brianjlai commented on #19622
this is a good one. i'll flesh this out and add this to grooming

[2022-11-22 00:11] bleonard commented on #8902
@akashkulk @edgao I'm pretty sure this is on track to be completed as part of the data types work. That right?

[2022-11-22 00:13] bleonard commented on #16838
@akashkulk can you look into this as part of the data types work?

[2022-11-22 00:20] bleonard commented on #10782
My assumption here is that this was caused by updatedAt being `=` to the cursor, but were not in the source database. This PR https://github.com/airbytehq/airbyte/pull/15535 should solve that problem. Let me know if you are still seeing this.

[2022-11-22 00:20] #10782 closed

[2022-11-22 00:21] bleonard commented on #13998
I could imagine us adding a `startCursor` option or something like that.

[2022-11-22 00:28] sophia-wiley opened #19689 "Docs for Hybrid Deployment"
Related to this [issue](https://app.zenhub.com/workspaces/cloud-platform-6259ee50ab53b4001d625d79/issues/airbytehq/airbyte-cloud/3463)

[2022-11-22 00:33] #19689 closed

[2022-11-22 00:36] bleonard commented on #15015
Putting on hold until we hear this more.

[2022-11-22 00:59] bleonard commented on #9028
Note: I assume jsonb can be either Object or Array

[2022-11-22 01:11] akashkulk commented on #8902
That's correct - once all of the messages from the source have been upgraded, this will be a quick change.

[2022-11-22 01:35] YowanR commented on #5859
This should unblock us now. cc @lazebnyi @YuliiaNahoha -- can we see if WooCommerce can be migrated over now?

[2022-11-22 01:46] lmossman commented on #19642
@tfoldi the fix has been released in master. Please upgrade to airbyte v0.40.22 and try again, and feel free to reopen this issue if you run into any more problems. Thanks!

[2022-11-22 01:46] #19642 closed

[2022-11-22 01:47] YowanR commented on #17794
Hey all, FYI that there's some update on the [Metadata part ](https://airtable.com/developers/web/api/changelog?utm_ID=recebVmIxYe5ut93c&utm_source=lifecycle_team&utm_medium=email&utm_campaign=it_ss_api_auth_public_beta&utm_content=email_waitlist-users&utm_extra5=metadata-api-users#anchor-2022-11-15). It's in Beta but might be sufficient to unblock.
cc @lazebnyi can we just see if the changes from

[2022-11-22 01:50] YowanR commented on #19662
We are currently using prod data. Let's start the process to have sandbox account. cc @igrankova @ycherniaiev

[2022-11-22 01:52] YowanR commented on #19590
Are these the enhancement to the low-code CDK? Can you group them under an Epic, please? Thanks!

[2022-11-22 03:57] toandm opened #19695 "Custom connector disappear after adding successfully"
## Environment
- **Airbyte version**:  0.40.22
- **OS Version / Instance**: GCP n2-standard-2
- **Deployment**: Docker

- **Step where error happened**:  Setup new Source custom connector

## Current Behavior
I follow the instructions here to add a new Source custom connector: https://airbytehq.github.io/integrations/custom-connectors#adding-your-connectors-in-the-ui
After adding it, the custom co

[2022-11-22 08:25] Dmusulas commented on #17393
Hello, are there any plans to implement this stream in the future?

[2022-11-22 08:33] brianjlai opened #19698 "[Low-code CDK] Deprecate the JsonSchema component name in favor of JsonSchemaFileLoader"
## Tell us about the problem you're trying to solve
**BREAKING CHANGE**

We had originally named the component that handles loading the JSON schema files located in the `/schemas` directory `JsonSchema`. However, this name makes it a little ambiguous from the DX perspective as to what is actually being done. We have instead opted to rename the component `JsonFileSchemaLoader` for clarity. Under th

[2022-11-22 08:46] igrankova commented on #17393
@YowanR we have a request here.

[2022-11-22 08:51] marcuslind90 commented on #19362
This was unrelated to the Prestashop connector. The issue was that the `PersistentVolumeClaim` of the postgres Kubernetes pod was not large enough to fit some of these larger datasets, instead of raising an error, Airbyte was just frozen for hours.

I would expect it to raise an "No space left on device" error.

[2022-11-22 09:24] GLaDOS9000 opened #19699 "Build fails at task airbyte-webapp:npm_run_build"
## Environment
- macOS Big Sur 11.6.8
- python 3.9.13 (local env with pyenv)
- Gradle version: 7.4
- java version 17.0.5
- node version 16.18.1
- Jq version 1.6
- Docker version 20.10.17

## Current Behavior
Build fails at this step:
- Task :airbyte-webapp:npm_run_build FAILED

Process 'command '/Users/username/Documents/GitHub/airbyte/airbyte-webapp/.gradle/nodejs/node-v16.15.1-darwin-x64/bin/npm

[2022-11-22 09:39] gv-bdeschutter commented on #17952
Same issue here when trying to import a connection on airbyte 0.40.14

[2022-11-22 09:50] BalciunasDominykas commented on #17393
+1, would be useful!

[2022-11-22 10:14] subodh1810 opened #19701 "Use column filter for CDC sources in Debezium"
We should use the [column.include.list](https://debezium.io/documentation/reference/stable/connectors/postgresql.html#postgresql-property-column-include-list) filter for CDC implementation in Debezium so that we only query for the columns that are present in the catalog.

[2022-11-22 10:17] josephkmh commented on #19637
Thanks @xiaohansong - could we also add the removal of the old creation endpoints to https://github.com/airbytehq/airbyte/issues/19669 (or a new issue)?

- `POST /v1/source_definitions/create`
- `POST /v1/destination_definitions/create`

Just want to make sure we get rid of those two endpoints so we don't have another accidental usage of them in the FE again 🙂

[2022-11-22 10:41] Nomad-IC commented on #18016
Yes, logging to S3 doesn't work in new Airbyte 0.40.xx versions up to now

[2022-11-22 10:54] nicoodle opened #19705 "Helm Chart - TEMPORAL_HOST not passed to Cron deployment"
## Environment
- **Airbyte version**: 0.40.22
- **OS Version / Instance**: AWS EC2/EKS
- **Deployment**: Kubernetes
- **Source Connector and version**: N/A
- **Destination Connector and version**: N/A
- **Step where error happened**: Deploy Airbyte using Helm Chart

## Current Behavior
Deployment of Airbyte using the Helm Chart results in a crashing Cron container. The reason is due to the Cron de

[2022-11-22 11:24] igrankova commented on #19656
@natalyjazzviolin hi!
I filled the contact form and asked for a sandbox. I'll let you know if they reply.
There's no possibility to create a free trial account.

[2022-11-22 11:53] DoNotPanicUA opened #19708 "[SAT] [JAVA] Enable DISCOVER and READ SAT for Java sources with global instances"
## Tell us about the problem you're trying to solve
The next step in enabling SAT for the Java sources is enable the discover and read tests.
The sources with hosted test instances can already be covered by SAT when others need the setup of instances.
**List of hosted sources:**
- bigquery
- redshift
- snowflake
- mongodb-v2

[2022-11-22 11:58] DoNotPanicUA opened #19709 "[SAT] [JAVA] Setup test instances for Java sources in the AWS"
## Tell us about the problem you're trying to solve
In order to setup SAT for the Java sources, we need to setup the test instances with the test data.
More details about SAT plans you can find in [the tech spec](https://docs.google.com/document/d/1551FZmMH5y8Nn1m6wy8_O3-yVNpdADBPAcAuZK1sHSU/edit?pli=1#).

**Dataset**
- At least a few records
- More than one stream/table
- Max number of possible d

[2022-11-22 12:19] Nomad-IC commented on #16950
I specified `WORKER_LOGS_STORAGE_TYPE=S3` variable in `.env` file. It solved problem for me.

[2022-11-22 12:31] IzioDev commented on #19582
Hello @natalyjazzviolin, you are totally correct, mistake of mine, I assumed it was implicit, because `source-zendesk-support` is the only one using User Subscription.

The one we are using is this one `source-zendesk-support`

For information:
- source-zendesk-talk does not use user subscription currently (so it should work on sandboxes)
- source_zendesk_chat does not use user subscription
- sour

[2022-11-22 12:46] lazebnyi commented on #5859
So, if we have sandbox. We can start working on migration.

[2022-11-22 14:18] PierreKerschgens commented on #17503
Hey everbody,

I'm facing this issue as well

[code]

The bad thing for me is that the sync job didn't mark as failed even though this error occured. The incremental loads have the same error.

Is there any workaround I can do to get that data?

[2022-11-22 14:29] lazebnyi commented on #18885
Hi @YowanR
@bazarnov start working on it after Asana certification.

[2022-11-22 14:48] haithem-souala commented on #4875
Hey @snikhil24, @mystmaker33
I started working on this one, if you could, your contribution will be much appreciated!
https://github.com/airbytehq/airbyte/pull/19536

[2022-11-22 14:49] krishnaglick opened #19714 "Show toast or notification on source schema refresh without changes"
This ticket was spawned from a [conversation](https://github.com/airbytehq/airbyte/pull/19131#discussion_r1023146447) I had with Edmundo. Currently if you refresh a source schema and there are changes you get the diff modal, but there's nothing to indicate that no changes we found. Adding a small toast, or some other notification seems like a nice quality of life improvement.

[2022-11-22 14:50] octavia-squidington-iv commented on #19714
cc @airbytehq/frontend

[2022-11-22 14:54] nataliekwong commented on #18065
@rileybrook We just received a warning from Segment that we're close to exceeding our monthly threshold again, after doubling it last month. Looking at the different sources, it appears to be correctly calculating MTUs from sources like our website, backend and frontend but the CLI remains high (24k) compared to the actual number of users that are using it.

Could we prioritize looking into this t

[2022-11-22 14:56] Wolff-Lucas commented on #17797
Yes @marcosmarxm , i'm using Zendesk

[2022-11-22 15:02] artusiep commented on #18040
I have the same issue on version 0.40.18 when I set `GOOGLE_APPLICATION_CREDENTIALS=/secrets/gcs-log-creds/gcp.json` in `.secret` file of my kustomize overlays.
I was trying to change in `kustomization.yaml` something:
[code]
to
[code]
but it didn't helped.
I do not fully understand what orchestrator is doing but it seems here are typos: https://github.com/airbytehq/airbyte/blob/a586537adb7eeefd03

[2022-11-22 15:05] juweins commented on #19283
I figured out there was a missing icon attribute and a typo in the relevant files.
(Excuse the mess in that commits, I had to get rid of another issue which I have not yet solved)

[2022-11-22 15:33] darynaishchenko commented on #17506
today's status of connector build health:
https://airbytehq.slack.com/archives/C02TYE9QL9M/p1669131019615529?thread_ts=1669122804.449229&cid=C02TYE9QL9M

[2022-11-22 15:54] tealjulia commented on #19231
closed by #19311

[2022-11-22 15:54] #19231 closed

[2022-11-22 16:01] jdpgrailsdev commented on #19667
We may also want to expand this (or create a separate ticket) to prevent the saving of a configured source with duplicate streams (name and namespace) in the catalog.

[2022-11-22 16:07] TBernstein4 commented on #19667
Loom video of existing process handling this error
https://user-images.githubusercontent.com/104733644/203363384-b2c3e934-34cf-49ed-8ab6-e0cf33198a3a.mp4

[2022-11-22 16:20] supertopher commented on #9847
This is probs done.  Please check if it is and close this task if it is already done

[2022-11-22 16:23] polmonso commented on #2973
Why is this issue closed?

[2022-11-22 16:46] edgao commented on #17636
@akashkulk when you add the infinity/nan and binary data handling, can you also update the postgres docs? (https://docs.airbyte.com/integrations/sources/postgres/#data-type-mapping)

cc @Amruta-Ranade

[2022-11-22 17:06] alafanechere opened #19723 "Run connector acceptance tests in the PR CI to get Github Status Checks"
To enable automatic publishing of connectors to DockerHub from master we first want to make sure acceptance tests are successful before merging.
We can currently run acceptance tests on PR with `/test` command.

We should also run these tests automatically on a PR modifying (a) connector(s) on each new commit.
This could be added to the existing [Connectors Ops CI workflow](https://github.com/airb

[2022-11-22 17:06] #19353 closed

[2022-11-22 17:11] rileybrook commented on #18065
@nataliekwong We can look at this during the week of Dec 5-9. Until then we are heads-down working towards shipping the Cloud API alpha on Dec 5th.

[2022-11-22 17:20] erohmensing opened #19725 "Document extra spec enforcements on top of jsonschema"
Currently, specs are checked against jsonschema in SAT, but jsonschema itself does not cover all of the standards that we want to enforce. We currently enforce a few things that jsonschema maintains as a `SHOULD` instead of a `MUST`. [Link to current enforcements](https://docs.airbyte.com/connector-development/connector-specification-reference#airbyte-modifications-to-jsonschema)

There may be mor

[2022-11-22 17:20] octavia-squidington-iv commented on #19725
cc @airbytehq/frontend

[2022-11-22 17:21] erohmensing commented on #19725
Related Issues/PRs:
https://github.com/airbytehq/airbyte/issues/18741
https://github.com/airbytehq/airbyte/pull/19243

[2022-11-22 17:24] erohmensing commented on #18741
@timroes I'd propose closing this in favor of #19725 where we would define all of the restrictions we want to SAT test. Sound good?

[2022-11-22 17:30] erohmensing commented on #18741
If the goal is to mark any properties that have those regexes as `date` or `date-time` so that they can be used in the datepicker, I still think that can be done pretty easily (perhaps by the GL team that owns the connectors?) but I think at least for the `date` format, the expected string format and associated regex is too generic for one to always expect it to be a date. You could probably convi

[2022-11-22 17:34] #19413 closed

[2022-11-22 17:35] xiaohansong commented on #19637
@josephkmh Just did that!

[2022-11-22 17:46] pmossman commented on #19684
Refining notes:
- Kube process factory controls our node selectors, which is called for every Temporal workflow. We need to pass in a flag that indicates if the source or destination is a custom connector. There are 16 different Temporal job types that will need this flag, so the work here involves updating the 16 different job configs to have a flag for isCustom.

[2022-11-22 17:49] marcosmarxm commented on #17968
This week Airbyte repo merging code is blocked because of holidays.
I'll prioritize the PR next week.

[2022-11-22 17:57] evantahler commented on #17909
cc @davinchia

In our hack day project, we made internal APIs so the worker would persist data mid-sync rather than waiting until the end. https://github.com/airbytehq/airbyte/pull/18630.  Since we
1. really need to persist new configs even if the sync fails
2. don't want to write user secrets to a file
we probably should the internal-API route

[2022-11-22 18:00] bleonard commented on #9028
Quick google search suggests that JSONB is always an object (and not a string or array, etc). Validate that.
In `discover, return the JSON SChema as `object` and not `string`.
Validate that GA destinations handle that as expected. For example, `VARIANT` in Snowflake. @edgao says he thinks it should work.

[2022-11-22 18:03] ambirdsall opened #19726 "Spike: Update cloud FE's LaunchDarkly wrapper to handle arbitrary feature flags"
Right now, all the feature overrides we use are defined as variants of a single catchall feature flag, `featureService.overwrites`. Because LaunchDarkly user targeting (which we use to selectively release new features and for initial releases which can be "rolled back" with no deploy) is mutually exclusive (i.e. each user can only be assigned one single variant), independently toggling different f

[2022-11-22 18:07] pmossman commented on #19670
Refining notes:
- This is an action item coming out of discussion w/ Tim and front-end around making the OSS connector endpoints more sensible.
- Rather than letting a user pass in an arbitrary workspace ID as part of the request, we can authenticate requests in Cloud by using the current workspace from the logged in session. In OSS, the request can just go through without auth because we don't ha

[2022-11-22 18:09] brianjlai commented on #19622
grooming notes:

- add acceptance criteria
- - log message output is updated
- - open api spec updated
- - server emits new method in request object
- - reflected in the UI
- look up if a UI change is required

[2022-11-22 18:10] edgao commented on #9028
jsonb can be any valid json value, including object, array, string, etc:
[code]

de facto, normalization will map a `{type: object}` schema to `jsonb`, so this will work fine for normalized destinations. But I'm less sure this plays nicely with Avro (and by extension, destination-bigquery-denormalized) - it's not obvious what we're supposed to write in this case.

[2022-11-22 18:13] pmossman commented on #19669
Refining notes:
- Before removing any routes, we should check to see if there are other places that call them. For instance, does Octavia CLI call `POST /v1/source_definitions/create` or `POST /v1/destination_definitions/create`? @alafanechere perhaps you know the answer to this?

[2022-11-22 18:14] #19317 closed

[2022-11-22 18:15] brianjlai commented on #15628
make the acceptance criteria one bullet point and keep the context

[2022-11-22 18:18] pmossman commented on #19726
Refining notes:
- Main problem/pain point that this solves is that currently, all dynamic feature flag overrides in the front-end are scoped to a single "feature flag" in terms of LD's data structure. Within a single flag, assignments are mutually exclusive, so there's a ton of hassle around toggling multiple flags that will only get more painful as we add more and more flags.

[2022-11-22 18:30] bleonard commented on #16761
Option A: Show al tables and views (and only allow full refresh if they are not in the publication)
Option B: Show only tables in publication - enable incremental CDC or full refresh (current version)
Option C: Show only tables in publication and only allow incremental (CDC or bust! Maybe future make it's own connector)
Option D: Show everything and nuances in incremental when you can choose CDC o

[2022-11-22 18:31] evantahler commented on #19723
There's some interesting logic to work out about how a common change effects many connectors

We have this in actions already, so we need to think about this.

[2022-11-22 18:31] benmoriceau opened #19728 "Add an hard delete functionality"

[2022-11-22 18:32] bleonard commented on #16761
Let's look at the document and make sure it's clear that CDC sources only affect the tables that are in the publication. If they want other tables, make another Postgres source.

[2022-11-22 18:32] betocolon23 commented on #18079
Had to build a new image for the airbyte worker. The kubectl that the image is using don't work with ARM. This is the Dockerfile:

`ARG JDK_IMAGE=airbyte/airbyte-base-java-image:1.0
FROM ${JDK_IMAGE} AS worker

RUN amazon-linux-extras install -y docker
RUN yum install -y jq tar && yum clean all

RUN curl -LO "https://dl.k8s.io/release/v1.24.7/bin/linux/arm64/kubectl" \
        && chmod +x kubectl

[2022-11-22 18:44] benmoriceau commented on #19728
Currently the GDPR deletion request are processed manually, this is requiring an engineer to manually delete the data of a user and is error prone. More over some of our OSS user might have similar requests and they are not aware of how to process those requests.

The purpose of this ticket is to add hard deletes to connections, actors and workspace. Instead of marking the connection as `deprecate

[2022-11-22 18:45] josephkmh opened #19729 "Add more detail to data residency help text when creating a new connection"
When creating a connector on cloud, we currently display a section on "Data residency" but don't provide much context on what that actually means:

![image](https://user-images.githubusercontent.com/7550957/203395787-c4e6785d-37b8-4a02-882e-cdc40ac2df9b.png)

We should update the help text to better clarify what "Data residency" actually means:

[2022-11-22 18:46] octavia-squidington-iv commented on #19729
cc @airbytehq/frontend

[2022-11-22 18:58] bleonard commented on #18573
Problems
1. WAL building up during long snapshot phase
2. We can't recover with error in middle of snapshot

Debezium incremental snapshots solves both of these by:
1. processing WAL in parallel
2. chunking snapshot for tables by sort ASC primary key.

For debezium, we need a signal table, which means we need write access to it.

Option A: lean into debezium incremental and enable write to the sig

[2022-11-22 19:12] TBernstein4 commented on #6280
@igrankova @sherifnada does the fact that the access token expires in 7 days mean that a user would have to re-authenticate every 7 days if they use OAuth? Did this also remove the option for Cloud users to use just the API key to Authenticate?

[2022-11-22 19:37] #18741 closed

[2022-11-22 20:09] #5581 closed

[2022-11-22 20:36] brianjlai commented on #18946
grooming notes:
- break this into two tickets of renaming the config and deduplicating
- catching and writing the prettier error message

[2022-11-22 21:09] brianjlai opened #19733 "[CDK] Refactor reading JSON inputs for syncs under one shared method"
## Tell us about the problem you're trying to solve
This ticket is a precursor to https://github.com/airbytehq/airbyte/issues/18946 . We currently attempt to read in JSON file inputs during connector syncs like configs, configured catalogs, and state. Before tackling that issue, we should clean up the code related to file reads and improve code reuse. The naming of the `BaseConnector.read_config()

[2022-11-22 21:11] gosusnp commented on #8765
I agree with previous comments, the `uninstall` term feels a bit misleading, instinctively, I expected this to be about deleting the pipedrive connector while this seems to be about revoking tokens.

Looking at the mockup, this `uninstall` is done configured at connection level, however, the way our data model is currently setup, this token is store for a `(workspace, actor definition)`, which mea

[2022-11-22 23:17] brianjlai opened #19735 "[Low Code CDK] the http method of the request should be included for LOG messages emitted during a sync when debug is enabled"
## Tell us about the problem you're trying to solve
In the Connector Builder UI, we are not displaying the HTTP method used by the request. The changes to the builder server will be handled as part of https://github.com/airbytehq/airbyte/issues/19622 along with more context. This issue will be used to track the `airbyte-cdk` changes needed. When logging some field of the PreparedRequest we are not

[2022-11-22 23:47] brianjlai commented on #19520
The following tickets are groomed and ordered by best ones to tackle first which our new backend engineers can tackle. I'll manage distributing the tickets out once they're up and running:

- [cdk] [19733](https://github.com/airbytehq/airbyte/issues/19733) - Good straightforward refactor.
- [cdk] [18946](https://github.com/airbytehq/airbyte/issues/18946) - Good for intro to basics of the CDK and b

[2022-11-22 23:48] #19520 closed

[2022-11-23 00:23] rodireich commented on #16994
[Oncall issue #1068](https://github.com/airbytehq/oncall/issues/1068) is seeing this

[2022-11-23 03:19] bala-ceg commented on #19347
@marcosmarxm i would like to work on this issue

[2022-11-23 03:55] betocolon23 commented on #5091
Any updates on this? 😭

[2022-11-23 06:37] piyushsingariya opened #19739 "Source DynamoDB - Reserved Keyword Issue"
## Environment
- **Source Connector and version**: dynamodb 0.1.0
- **Step where error happened**:  Sync job

## Current Behavior
If DynamoDB tables contains any reserved keyword in dynamo expressions it results in this error while running sync.

## Expected Behavior
This should not happen, field_names should be added in dynamo query as placeholder shown in the solution on [StackOverflow](https://

[2022-11-23 06:39] piyushsingariya commented on #19739
mentioning previous contributors of source-dynamodb @marcosmarxm @itaseskii @suhomud

[2022-11-23 07:59] ycherniaiev commented on #19662
@YowanR We apllied for sandbox
![image](https://user-images.githubusercontent.com/94798230/203496582-7fea195e-ed1c-4ea7-b605-692aedde1fa2.png)

[2022-11-23 09:01] ycherniaiev opened #19740 "Source Twilio: new stream Conversation Participants"
## Tell us about the problem you're trying to solve
GET https://conversations.twilio.com/v1/Conversations/{ConversationSid}/Participants

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-11-23 09:42] mikemlg commented on #16412
Hello I put new image xxx/normalization to the file you mentioned and rebuilt and update docker-compose file to point to new image. However, i still got the error. According to the log, it didn't pull xxx/normalization or airbyte/normalization but airbyte/normalization-redshift

2022-11-23 08:18:32 [32mINFO[m i.a.w.n.DefaultNormalizationRunner(runProcess):134 - Running with normalization version

[2022-11-23 09:51] mikemlg commented on #18822
so when will this issue be resolved. It will happen if you have a source with many tables such salesforce?

[2022-11-23 10:12] ycherniaiev opened #19742 "Source Twilio: new stream Conversation Messages"
## Tell us about the problem you're trying to solve
GET https://conversations.twilio.com/v1/Conversations/{ConversationSid}/Messages

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-11-23 10:49] christo-olivier opened #19743 "Klaviyo Source Connector - Schema validation errors found for stream events"
## Environment
- **Airbyte version**:  0.40.9
- **OS Version / Instance**: debian-11, GCP e2-custom-4-8192
- **Deployment**: Docker
- **Source Connector and version**: Klaviyo 0.1.10
- **Destination Connector and version**: BigQuery 1.2.7
- **Step where error happened**: Sync job

## Current Behavior
When processing the Klaviyo Events entity a message is reported on the `source` saying that a JSON

[2022-11-23 10:50] ycherniaiev opened #19744 "Source Twilio: new stream roles"
## Tell us about the problem you're trying to solve
The Role resource of Programmable Chat represents what a user can do within a Chat Service instance. Roles are scoped to either a [Service](https://www.twilio.com/docs/api/chat/rest/services) or a [Channel](https://www.twilio.com/docs/api/chat/rest/channels).

[Users](https://www.twilio.com/docs/chat/api/users) are assigned a role at the Service

[2022-11-23 11:00] ycherniaiev opened #19745 "Source Twilio: new stream Usage Records"
## Tell us about the problem you're trying to solve
The UsageRecords resource provides a simple API to retrieve actions made by your Twilio account during any time period and by any usage category. This makes it easy to build reporting and analytics tools for your application.

UsageRecords used in combination with [Subaccounts](https://www.twilio.com/docs/iam/api/subaccounts) created for each of

[2022-11-23 11:02] ycherniaiev opened #19746 "Source Twilio: new stream Trunk"
## Tell us about the problem you're trying to solve
The Trunk resource represents a SIP Trunk in your Twilio account. A Trunk can have associated [Credential Lists](https://www.twilio.com/docs/sip-trunking/api/credentiallist-resource), [IP Access Control Lists](https://www.twilio.com/docs/sip-trunking/api/ipaccesscontrollist-resource), [Origination URLs](https://www.twilio.com/docs/sip-trunking/ap

[2022-11-23 11:09] ycherniaiev opened #19747 "Source Twilio: new stream Flow"
## Tell us about the problem you're trying to solve
GET https://studio.twilio.com/v1/Flows

## Describe the solution you’d like
Research pros and cons for implemting this stream

[2022-11-23 11:15] ycherniaiev opened #19748 "Source Twilio: new stream Execution"
## Tell us about the problem you're trying to solve
GET https://studio.twilio.com/v1/Flows/{FlowSid}/Executions

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-11-23 11:30] #16857 closed

[2022-11-23 12:14] michaelsonnle commented on #9196
+1 we have the same error in mysql (1.10.13), airbyte version 0.40.22 with a stored procedure.

`io.debezium.text.ParsingException: DDL statement couldn't be parsed. Please open a Jira issue with the statement 'CREATE DEFINER= mm-lop@%PROCEDURE getPickingOrderData`

@grishick is there any workaround?

[2022-11-23 12:50] naxels opened #19750 "0.40.22 webapp won't start with Docker! after upgrade in .env"
## Environment
- **Airbyte version**:  0.40.22 (update in .env from 0.40.21)
- **OS Version / Instance**: RHEL 7 64bit
- **Deployment**: Docker
- **Step where error happened**: docker compose up

## Current Behavior
The airbyte/webapp container won't start, it keeps saying: restarting with a timer when running `docker ps`
other containers start up normally.
When going to the web interface, there i

[2022-11-23 13:30] igrankova commented on #19484
All needed streams are filled.

[2022-11-23 13:52] zeGzD commented on #19642
The issue is still present on v0.40.22 (encountered when migrating from v0.40.18).

[2022-11-23 13:59] erica-airbyte commented on #19211
@VitaliiMaltsev has the fix been pushed?

[2022-11-23 14:05] artem1205 opened #19752 "Oauth Authenticator expiry date format"
## Tell us about the problem you're trying to solve
DeclarativeOauth2Authenticator expects `expires_in` in seconds (in get_access_token method). New feature makes it possible to specify date format (if not seconds)

## Describe the solution you’d like
add to OAuth authenticator field token_expiry_date_format, e.g.
[code]

[2022-11-23 14:08] artem1205 opened #19753 "Declarative schema loader $ref"
## Tell us about the problem you're trying to solve
Low-code connectors do not resolve schemas with references to another *.json files in shared folder, e.g. {"$ref": "file.json"} now. This PR fixes it.

## Describe the solution you’d like
Add Resolve ref schema

[2022-11-23 14:41] YuliiaNahoha opened #19754 "YAML. Low-code framework: post-migration improvement suggestions"
Issues from a ["Low-Code Feedback -- GL"](https://docs.google.com/spreadsheets/d/1d6MDiCW5PempiZDOdzTJhpAWOBwMnmOqIg8VbmIALnI/edit#gid=1574802991) file

[2022-11-23 15:20] TBernstein4 commented on #6280
Can I get clarification on my first question. Will any user that sets up their Smartsheets Connection via OAuth have to re-authenticate every 7 days?

[2022-11-23 15:29] TBernstein4 commented on #6280
This could be a problem because currently the "re-authenticate" button is broken ([Issue](https://github.com/airbytehq/alpha-beta-issues/issues/565)) for existing connections so the user would have to make a new connector every 7 days.

[2022-11-23 15:34] achaussende opened #19757 "🐛 Source TikTok Marketing - Error while converting `mobile_app_id` column to int in AudienceReports streams"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **Source Connector and version**: TikTok Marketing version 0.1.17
- **Destination Connector and version**: BigQuery 1.1.11
- **Step where error happened**: Sync job

## Current Behavior
When syncing `*_audience_reports` streams, I got an error while converting the `mobile_app_id` column to integer. The value it contains is a string.

[2022-11-23 15:37] darynaishchenko commented on #17506
today's status of connector build health::
https://airbytehq.slack.com/archives/C02TYE9QL9M/p1669216627683849?thread_ts=1669209071.199489&cid=C02TYE9QL9M

[2022-11-23 16:16] brianjlai opened #19759 "[Low-code CDK] Write the manifest component YAML schema"
Low Code Schema Refactor Phase 1

## Tell us about the problem you're trying to solve

We are currently auto generating the low-code component JSON schema based on the dataclass definitions using a helper library called `dataclasses-json`. This has some nice benefits like always being up to date. However, the main drawback is that it couples the internal implementation to the public schema interfa

[2022-11-23 16:29] artem1205 opened #19760 "SubStreamSlicer with one-to-many relationship"
## Tell us about the problem you're trying to solve
"Right now SubStreamSlicer work in one-to-one pattern (one child request per parent record). In source square we may optimise it by reading all parent records, and then iterate by batch (10) of them in child requests.
Example:
parent_records = [{'id': 1}, {'id': 2}, {'id': 3}, {'id': 4}, {'id': 5}, {'id': 6}, {'id': 7}, {'id': 8}, {'id': 9}, {'id

[2022-11-23 16:32] girarda opened #19761 "add endpoint to connector builder to validate and dereference the components of a connector manifest"
## Tell us about the problem you're trying to solve
The FE will have to transform a yaml file into the form. The yaml representation of the manifest can contain references to other components which the FE does not know how to resolve.

Example:
[code]

## Describe the solution you’d like
Add an endpoint on the connector builder server that accepts a manifest and
1. validates the schema of the mani

[2022-11-23 17:01] markandrus opened #19763 "Destination S3: Make `s3_bucket_path` optional"
## Tell us about the problem you're trying to solve
When I create an S3 Destination, I don't want to specify an `s3_bucket_path` because, for my use case, this would introduce an unnecessary intermediate directory. Instead, I want to be able to pass an empty string or omit `s3_bucket_path` entirely and have things "just work".

Airbyte already puts the namespace and stream name in my S3 files' pat

[2022-11-23 17:10] YowanR commented on #19754
We are using this Epic to group all the enhancement that the team has identified so far. When you have a moment, can you help us review the list to make sure that we are working on the right issues? cc @sherifnada @girarda @brianjlai
We are planning to spend more time on this as from early December :)

[2022-11-23 17:11] marcosmarxm commented on #19750
Did you get latest version of `.env` too just update the version?

[2022-11-23 17:12] marcosmarxm commented on #19757
@achaussende I saw you open the PR already, thanks!

[2022-11-23 17:13] grishick opened #19764 "Write the 1st draft of tech spec for Destination checkpointing"
Write up a summary of the destination checkpointing:
* the how come this change is desired
* what the complications of the current iteration has
* the benefits of the changes
* the tradeoffs made

Follow through on this work is to answer any questions generated from the knowledge sharing session and questions within the tech spec document

[Tech Spec](https://docs.google.com/document/d/1A-HNz4EIpg

[2022-11-23 17:17] grishick opened #19765 "Finalize tech spec for destination checkpointing (phase 1)"
[Destination Checkpointing Tech Spec](https://docs.google.com/document/d/1A-HNz4EIpgajClkX-yp9MI6hl9dI3JhbO-k6w7QnyC0/edit#)

The criteria for indication of finalized tech spec is to clarify any *open questions* reviewers have and understand if any of those questions are hard blockers or soft blockers. If they are hard blockers to best make sure to have a rough idea of what alternative paths can b

[2022-11-23 17:27] klsoper commented on #19211
looks like its still being worked on- [not merged yet](https://github.com/airbytehq/airbyte/pull/19551)

[2022-11-23 17:35] timroes opened #19766 "SAT test: No examples for boolean fields"
We should test that no `boolean` field has `examples` attached to it. For boolean fields the sample data is kind of useless, since a boolean can always just be `true` or `false`, so we don't really need to specify them as examples. Currently they will also render in the UI, which feels especially useles to show a user that the state of a switch can be `true`/`false` :)

Unless someone sees a reaso

[2022-11-23 17:41] timroes opened #19767 "Show refresh notification when backend is outdated"
We ever so often see users running into the following problem: they have their Airbyte webapp opened in the browser for very long time. We update the backend during that time. When they now try to navigate and load a JS/CSS chunk they haven't loaded beforehand this chunk no longer exists on the server, and loading the chunk will just fail, which usually just causes weird errors in the UI. We shoul

[2022-11-23 17:41] octavia-squidington-iv commented on #19767
cc @airbytehq/frontend

[2022-11-23 17:45] krishnaglick commented on #19767
This should be done after https://github.com/airbytehq/airbyte/issues/18631 is completed

[2022-11-23 17:59] marcosmarxm opened #19768 "Issue while using Octavia apply [airbyte connections]"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#3938](https://airbyte7538.zendesk.com/agent/tickets/3938)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">Is this

[2022-11-23 18:02] marcosmarxm commented on #19768
*Comment made from Zendesk by Marcos Marx on 2022-11-23 at 18:02:*

<blockquote><div class="zd-comment" dir="auto">Can you downgrade the version for now? I created the issue <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/19768">https://github.com/airbytehq/airbyte/issues/19768</a><br>One possible version is 0.40.14.<br></div></blockquote>

[2022-11-23 18:04] marcosmarxm commented on #19768
Another user reported the issue in Slack: https://airbytehq-team.slack.com/archives/C021JANJ6TY/p1669035484726279

[2022-11-23 18:31] nandubatchu commented on #16634
Hey @yurii-bidiuk were you able to find the root cause of this issue?

[2022-11-23 19:07] marcelopio commented on #19669
octavia do not call it yet, and my implementation was using the custom prefix

https://github.com/airbytehq/airbyte/pull/15058

[2022-11-23 19:18] ecylmz commented on #7379
Hi,

In addition, for the replica set option, there should be an input where we can enter ca-certificate.

Do you have any workaround suggestions until this feature is implemented?

[2022-11-23 20:07] evantahler opened #19772 "Add ability to configure all K8s resources"
Containers:
 * Source
 * Source SOCATx2
 * Destination
 * Destination SOCATx2
 * Orchestrator
 * Orchestrator SOCATx2

Toggles:
 * CPUs
 * RAM
 * Pod Affinity

---

Maybe best not to use the DB for this. if we could use feature flags/ENV/etc that would be better.  Right now, all of these values are spread out all over the place in code (not configs)

Hints are here - https://github.com/airbytehq/a

[2022-11-23 20:23] krishnaglick commented on #19714
This should be done after https://github.com/airbytehq/airbyte/issues/18631

[2022-11-23 22:02] grishick opened #19776 "Snowflake source encodes integers as floats"
(this issue came up in OC and I reproduced it with test data)

I have a table in Snowflake created as follows:

[code]
Attached is the sample data that I inserted into this table

[oc-966.csv](https://github.com/airbytehq/airbyte/files/10079367/oc-966.csv)

when I run a sync from this table to BigQuery, the records in raw table show up as following (in column `_airbyte_data_`):
[code]

values like

[2022-11-23 22:02] cgardens commented on #12030
What version of Airbyte are you running and what error are you seeing?

[2022-11-23 22:32] VitaliiMaltsev commented on #19211
@erica-airbyte @klsoper it wasn't merged due to code freeze, master branch is locked, i can't merged it yet

[2022-11-23 23:09] grishick opened #19777 "Stream `pages` in Notion source has incorrect schema for field `properties`"
Stream `pages` has a field `properties` which is an array of objects. The objects are defined as `oneOf` and describes several types of objects that can appear inside `properties` array. One of these object variations can have 3 fields: `id`, `type`, and `title` defined as following:
[code]

the bug in this schema definition is that the actual data looks like this, where `title` is an array of obj

[2022-11-24 00:32] grishick opened #19779 "MySQL Source hits OOM while snapshotting or reading a large table"
At the time of creating this issue I don't have much details unfortunately. The issue came up through oncall for a customer, who is trying to add a large table to a CDC sync job. The source connector runs out of memory after reading about 500MB or records although the pod has 3GB memory allocation.

I tried using the same source in non-CDC mode and the connector has hit OOM after reading 100MB.

S

[2022-11-24 01:22] YowanR commented on #17099
@YuliiaNahoha @lazebnyi I had tagged you in this one a month ago. Can we take look, please?

[2022-11-24 01:23] lmossman commented on #19295
POC results:
- Generated UI approach
  -  The [connector manifest schema file](https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/airbyte_cdk/sources/declarative/config_component_schema.json) is currently auto-generated from python classes, and has several strange quirks and missing pieces of info that make generating a UI from it infeasible. Specifics listed below:
      - Every

[2022-11-24 05:13] azaveri7 opened #19780 "Source Facebook Marketing: connector when used for ingestion into AWS S3, column cost_per_conversion in `ads_insights` is missing"
## Environment
- **Airbyte version**:  0.32.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: AWS S3
- **Step where error happened**: No error appears. The ingestion from FB(meta) to S3 is succe

[2022-11-24 07:49] marcosmarxm commented on #19768
*Comment made from Zendesk by Marcos Marx on 2022-11-24 at 07:49:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none" rel="noreferrer">@marcosmarxm</a> I’ve tried this, do we need to maintain airbyte version to be same?</p>

 [<a href="https://discuss.airbyte.io/t/issue-while-using-octavia-apply-ai

[2022-11-24 07:51] marcosmarxm commented on #19768
*Comment made from Zendesk by Marcos Marx on 2022-11-24 at 07:51:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">and also when I try to use octavia init with version 0.40.14 I’m getting this issue</p>
<pre style="max-width: 694px; word-wrap: break-word"><code style="background-color: #f9f9f9; display: block; overflow: auto; padding: 2px 5px">Error: Could not reach your Airbyte inst

[2022-11-24 09:08] Nomad-IC commented on #13333
The problem is still reproduced in `v0.40.22`

[2022-11-24 09:09] luistorrealbaCinfo opened #19781 "Teradata dest connector"
Hi, please refer to https://github.com/SatishChGit/airbyte/blob/teradata_java_dest_conn/docs/integrations/destinations/teradata.md

_Originally posted by @SatishChGit in https://github.com/airbytehq/airbyte/issues/19420#issuecomment-1318435111_

[2022-11-24 09:11] luistorrealbaCinfo commented on #19781
Sorry, i'm having a problem. When I enter Airbyte and click on create new destination I don't find Teradata. Can you please help me with this?

[2022-11-24 09:11] #19781 closed

[2022-11-24 09:18] ifun248 commented on #17581
Similarly, on the Airbyte Open Source, I face the similar problem when integrate data from MySQL RDS to S3:ERROR i.a.w.t.s.ReplicationActivityImpl(lambda$replicate$3):160 - Sync ouput exceeds the max temporal message size of 2097152, actual is 2423981.

[2022-11-24 09:28] alepietrobon commented on #12089
just checking, is this what is listed in the roadmap under "schema evolution"? I'm really keen on understanding progress on this work. Thanks!
![image](https://user-images.githubusercontent.com/8207502/203747150-26d41c71-ceb2-41b8-8fc9-177e9adb8ed4.png)

[2022-11-24 09:57] unityanalytics opened #19782 "Source Shopify: inventory_item table is missing data (essential for product cost)"
## Environment
- **Airbyte version**: 0.40.17
- **OS Version / Instance**: example macOS
- **Deployment**: Docker
- **Source Connector and version**: Shopify connector version is 0.1.39
- **Step where error happened**: Sync job

## Current Behavior
The connection runs without error, however there is only a default product shown in the table.
This is missing key data for other added products and su

[2022-11-24 10:59] firehist commented on #18217
Thanks for the feedback.
I could solve my problem by applying manually the migrations based on the  [/V0_40_12_001__AddWebhookOperationColumns.java](https://github.com/airbytehq/airbyte/blob/7009bbeb8200246807b09c2af41526347620a436/airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_40_12_001__AddWebhookOperationColumns.java)
 file and by adding this migration in the flywa

[2022-11-24 11:06] Mykyta-Serbynevskyi opened #19784 "Use gradle in OSS repo correctly to cache artifacts between tests"
At the moment `Docker image build` gradle task is registered in `./build.gradle` in [OSS]( https://github.com/airbytehq/airbyte/blob/master/build.gradle#L244) repo which means that this task now takes part in gradle task caching.
However, OSS project definitely still has some tasks defined that are not really Gradle tasks.

ToDo:
- [ ] It may be worth doing an audit of all `build.gradle` files jus

[2022-11-24 12:30] ASchmidtGit opened #19787 "can't create /etc/nginx/conf.d/default.conf: Read-only file system"
## Environment
- **Airbyte version**:  0.40.22
- **OS Version / Instance**: Ubuntu
- **Deployment**: Docker Swarm - Portainer
- **Step where error happened**: Deploy

## Current Behavior
While deploying the WebApp service does not start and throws the following error:

`
/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will attempt to perform configuration
/docker-entrypoint.sh: Looking

[2022-11-24 13:55] lazebnyi commented on #17099
@artem1205 take a look on this please

[2022-11-24 14:35] toandm opened #19790 "Cannot access Airbyte at localhost:8000"
## Environment
- **Airbyte version**:  0.40.22
- **OS Version / Instance**: GCP n1-standard-2 Debian 10
- **Deployment**: Docker
- **Step where error happened**: Deploy

## Current Behavior
After deploy Airbyte successfully, airbyte/proxy container is up, and I can access Airbyte at localhost:8000. However, after turning off and turning on the VM, airbyte/proxy container is not automatically start

[2022-11-24 14:36] Stochastic-Squirrel commented on #17319
Having this issue as well syncing Postgres --> BigQuery via GCS staging on version 0.40.19

[2022-11-24 14:45] artem1205 commented on #17099
@YowanR, this bug should be solved after [migration to low-code](https://github.com/airbytehq/airbyte/pull/19788)

[2022-11-24 15:14] ycherniaiev commented on #19647
@igrankova I think you nay close. Twitter Public App on LastPass

[2022-11-24 15:20] NahidOulmi commented on #19695
Hi @toandm I have the same issue.
Can you explain a bit more on the `UPDATE actor_definition SET public = true WHERE name = '<connectorname>'; fixes the problem. ` workaround ? When do I need to run it ? Thanks

[2022-11-24 15:24] darynaishchenko commented on #17506
today's status of connector build health:
https://airbytehq.slack.com/archives/C02TYE9QL9M/p1669303414033499?thread_ts=1669295443.115259&cid=C02TYE9QL9M

[2022-11-24 15:33] toandm commented on #19695
@NahidOulmi you need to access the Airbyte DB first to run that query. Updated that part in my description with the instruction link

[2022-11-24 15:34] christo-olivier commented on #19743
Just some additional information. I have also received the following error message

`Schema validation errors found for stream events. Error messages: [$.event_properties.items[0].price is of an incorrect type. Expected it to be integer]`

This happened after syncing roughly 65 million records. No idea what the value was that caused the error as this is not pushed out into the logs.

here is an ex

[2022-11-24 15:34] will-gp opened #19794 "Add support for a greater set of flags in wcmatch.glob (used in S3 Connector)"
## Tell us about the problem you're trying to solve
In our use-case, it would be very helpful if we could use a negation pattern (to exclude certain files) in addition to an inclusion pattern for the "pattern to replicate" field in the S3 connector.

## Describe the solution you’d like
This would require adding support for the negate flag to the list of flags set when calling `wcmatch.globmatch` [

[2022-11-24 15:51] alafanechere commented on #17503
@davydov-d , @PierreKerschgens is expressing a potential regression after this [PR](https://github.com/airbytehq/airbyte/pull/19286). The `AccountHistory` stream might support Bulk API queries. It's contrary to what's been documented by Salesforce [here](https://help.salesforce.com/s/articleView?id=000383508&type=1) in 2020. The situation might have change since then... So we might want to remove

[2022-11-24 16:19] obraginskaya commented on #16698
Hey, we got the same issue with kustomize deployment. Any ideas? Maybe Deployment should be changed to StatefulSet as it was proposed here https://github.com/airbytehq/airbyte/issues/9133#issuecomment-1127667156?

[2022-11-24 16:46] jhajajaas opened #19795 "Low code CDK: SubStreamSlicer doesn't skip empty parent stream"
## Environment
- **Airbyte version**:  "0.40.22"
- **OS Version / Instance**: GKE
- **Deployment**: Kubenetes
- **Source Connector and version**: Zoom 0.1.0
- **Destination Connector and version**: BigQuery (denormalized typed struct) 1.2.7
- **Step where error happened**: Sync Job

## Current Behavior
- Zoom connectors implemented SubStreamslicer which causes the issues when the parent stream ret

[2022-11-24 17:09] YohanGrember commented on #16953
Hello, I'm very interested in this stream, here to help if necessary!

[2022-11-24 17:09] SofiiaZaitseva opened #19796 "Incorrect page title displayed on the Create Connection page"
## Environment
- **OS Version / Instance**: macOS
- **Deployment**: OSS
- **Step where error happened**: Setup new connection

## STR
Go to Destination
Select existing Destination
Click "add source" button
Select existing source
Check page title

## Current Behaviour
Page title - New Source
<img width="1307" alt="Screenshot 2022-11-24 at 19 08 54" src="https://user-images.githubusercontent.com/108

[2022-11-24 17:09] octavia-squidington-iv commented on #19796
cc @airbytehq/frontend

[2022-11-24 17:38] killthekitten commented on #4704
This is related to the documentation request I created earlier https://github.com/airbytehq/airbyte/issues/19082

[2022-11-24 19:39] alafanechere opened #19800 "SAT: perform extra validation on integer fields."
# What
SAT perform schema validation of records against the catalog schema with the `jsonschema` library.
According to `jsonschema` a float value with a zero fractional part is a valid `integer` :

[code]

This relaxed definition is problematic because database destinations are more strict in terms of typing.
This situation prevents us from identifying schema inconsistencies in SAT when a field is

[2022-11-24 19:40] killthekitten opened #19801 "Source Postgres CDC – inconsistent state in the BigQuery destination followed by a full sync"
## Environment
- **Airbyte version**:  0.40.18
- **OS Version / Instance**: Debian 11, GCP e2-standard-4
- **Deployment**: Docker
- **Source Connector and version**: Postgres 1.0.22
- **Destination Connector and version**: BigQuery 1.2.7
- **Step where error happened**: Sync job

## Current Behavior

Our Postgres source is configured for CDC and the destination is using the "Insert" strategy. The

[2022-11-24 19:52] LuliRib commented on #19580
Hi, attached the logs of the inital upload. Therefore, it´s like a full refresh overwrite.
In the keyword_performance_report_daily I get KeywordId and KeywordStatus fields, But I need also the keyword itself. Can you add it to the report?? It´s really importanta, as I can´t show any keywords insights without the word used (the text).

Regarding the msclkid, it´s the equivalent to the google ads gc

[2022-11-25 05:57] MantasEql commented on #17100
same issues here

[2022-11-25 07:44] #19647 closed

[2022-11-25 07:52] igrankova commented on #16953
@YowanR we have a vote for the stream here.

[2022-11-25 08:01] awoehrl opened #19802 "Cannot add custom connectors in 0.40.22"
## Environment
- **Airbyte version**:  0.40.22
- **OS Version / Instance**: Debian 10
- **Deployment**: Docker
- **Source Connector and version**: Custom
- **Destination Connector and version**:
- **Step where error happened**: Setup new Connector

## Current Behavior
I'm trying to add a custom connector, but it fails silently.
I open the "New connector" modal, fill out the fields and hit "Add". A

[2022-11-25 10:40] ecylmz commented on #14987
Hi,

We are also having the same problem. Any progress on this issue?

[2022-11-25 12:23] ASchmidtGit commented on #19787
I added nginx as service in my swarm now im at the same error as here

https://github.com/airbytehq/airbyte/issues/19642

[2022-11-25 12:25] ASchmidtGit commented on #19642
I can confirm this issue still exists when deploying over docker compose in a swarm

[2022-11-25 13:03] ASchmidtGit commented on #19787
I added nginx as serivce in my swarm and now i get this error:

`
/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will attempt to perform configuration
/docker-entrypoint.sh: Looking for shell scripts in /docker-entrypoint.d/
/docker-entrypoint.sh: Launching /docker-entrypoint.d/10-listen-on-ipv6-by-default.sh
10-listen-on-ipv6-by-default.sh: info: Getting the checksum of /etc/nginx/con

[2022-11-25 14:22] darynaishchenko commented on #17506
today's status of connector build health:
https://airbytehq.slack.com/archives/C02TYE9QL9M/p1669386082841349?thread_ts=1669381742.626509&cid=C02TYE9QL9M

[2022-11-25 14:25] igrankova commented on #6181
Created an OAuth app for JIRA: https://airbyteio.atlassian.net/secure/admin/oauth-credentials
Find creds - LastPass name: Jira Cloud integration tests
Docs to change permissions are [here](https://support.atlassian.com/jira-cloud-administration/docs/integrate-with-self-hosted-tools-using-oauth/#Integratingwithself-hostedtoolsusingOAuth-CreateOAuthcredentialsinJiraCloud).

[2022-11-25 15:22] vishalhtg opened #19804 "Connector for AppTweak API"
## Tell us about the new connector you’d like to have
* AppTweak data to different DWH (i.e. Snowflake)
* API Documentation: https://www.apptweak.io/documentation
* Main Website: https://www.apptweak.io/

## Describe the context around this new connector
* Need to fetch data for app ranking, reviews and competitors from Apple store and Google Play store

## Describe the alternative you are conside

[2022-11-25 15:22] NahidOulmi opened #19805 "source-elasticsearch not working for larger datasets"
## Environment
- **Airbyte version**:  0.40.22-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: source-elasticsearch:0.1.0
- **Destination Connector and version**: destination-bigquery:1.1.16
- **Step where error happened**: Sync job

## Current Behavior
As the current source-elasticsearch:0.1.0 connector tries to fit all the documents of

[2022-11-25 15:37] ASchmidtGit commented on #19642
@zeGzD Deleting the container-name properties and renaming server to airbyte-server fixed the issue for me and everything runs

[2022-11-25 16:23] ASchmidtGit commented on #19787
Adding nginx was not the way to go.

If Airbyte needs to be deployed over docker compose as swarm the following needs to be done:

- Remove all instances of "container_name" every service in the compose file
- Rename "Server" to "airbyte-Server" and "db" to "airbyte-db"
- in .env change:
  - DATABASE_HOST from "db" to "airbyte-db"
  - DATABASE_URL from "jdbc:postgresql://db:5432/airbyte" to "jdbc:

[2022-11-25 16:23] #19787 closed

[2022-11-25 17:55] chrisweis opened #19807 "Source Oura: not allowing valid start and end dates"
## Environment
- **Airbyte version**:  0.40.22
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: Oura 0.1.0
- **Destination Connector and version**: Snowflake 0.4.40
- **Step where error happened**: Setup new connection

## Current Behavior
When adding a start or end date, the regex message seems to prevent valid input dates.

## Expected Behavior
The

[2022-11-25 17:58] chrisweis commented on #19807
cc: @marcosmarxm and @isaacharrisholt

[2022-11-25 18:35] artem1205 commented on #10770
Added to GCP

[2022-11-25 18:35] #10770 closed

[2022-11-25 18:41] artem1205 commented on #10029
fixed in PR  #10529

[2022-11-25 18:41] #10029 closed

[2022-11-25 18:54] joenap opened #19808 "Source Harvest: fails on leap-year"
## Environment
- Using Airbyte Cloud on 2022-11-23 - 2022-11-24
- Source-harvest version 0.1.11
- Error during Sync job

## Current Behavior
Failed with HTTP 400 error "Failure Origin: source, Message: Invalid timeframe: must not exceed 1 year" on a leap year when calling https://api.harvestapp.com/v2/reports/expenses/clients?per_page=50&from=20120101&to=20130101.

## Expected Behavior
Should succ

[2022-11-25 19:39] isaacharrisholt commented on #19807
The reason dates are not accepted is that not all of the endpoints accept just a YYYY-MM-DD date, and some (e.g. the heart rate) endpoint, require a datetime. When the connector makes an API request to endpoints that accept such dates, it first format the datetime before making the request.

The alternative would be to have four fields: `start_date`, `start_datetime`, `end_date` and `end_datetime`

[2022-11-25 20:22] chrisweis commented on #19807
@isaacharrisholt, either the UX or the docs need improvement so it's less confusing.  Even after entering a datetime value, it returns cryptic errors.  For example, input of "2022-06-01T00:00:00" (no quotes) results in the error "The connection tests failed. 'Unable to connect to stream heart_rate - Request <PreparedRequest [GET]> failed with response <Response [400]>'".

[2022-11-25 20:31] isaacharrisholt commented on #19807
@chrisweis that seems like a separate issue. Could you provide the connector logs?

Also, try including `Z` at the end of the timestamp. If that solves it, I'll open a PR to have the regex amended.

[2022-11-25 20:39] chrisweis commented on #19807
Attaching logs:
[airbyte_logs.zip](https://github.com/airbytehq/airbyte/files/10095004/airbyte_logs.zip)

Adding Z at the end of the timestamp didn't resolve it.

[2022-11-25 20:48] chrisweis commented on #19807
Also, when trying to empty the start datetime and enddatetime, the connector returns this error:
[code]
<img width="848" alt="image" src="https://user-images.githubusercontent.com/13931731/204054047-d8942ece-0a6e-4dfc-8936-932ba1a3ffa0.png">

[2022-11-25 20:50] isaacharrisholt commented on #19807
Those logs look mostly fine - there's an error in there that relates to the Snowflake destination, but nothing seems to go wrong with this source.

That schema error is definitely an issue, though given that those fields are both optional, I would suggest that's an issue within the Airbyte webapp rather than this source.

[2022-11-25 21:08] talShtark opened #19809 "Railsr (formerly: railsbank) source"
## Tell us about the new connector you’d like to have
We would like to have a source connector for [Railsr](https://www.railsr.com/) REST [API](https://docs.railsr.com/docs/api/5ff00bb1936ca-railsbank-api).

## Describe the context around this new connector
Railsr is a Banking-as-a-service (BaaS) platform.
It enables customers to provide financial services to their clients (Railsr endusers).

With

[2022-11-25 21:32] mamontesp commented on #12030
Thank you for your response. I was using the wrong label in the docker image when adding the new connector. After the correction, it worked as expected 👍🏽

[2022-11-26 11:53] grubberr commented on #17099
@ycherniaiev please look on this issue maybe it will clarify your problem with `access_token`

[2022-11-27 10:57] naxels commented on #19750
You are correct, I didn't git pull, just updated .env
After git pull, it works, thanks!

[2022-11-27 10:57] #19750 closed

[2022-11-27 13:10] haimelo commented on #14732
HI! everyone. I have a need when my python destination throws exception I want postgres emit 1 state after 10000record. But the behavior of postgres is not like that. When my destination error, the job was interrupted and half of the previous data entered my system. When I re-sync, my data is duplicated.

So my question is how to make postgres emit state every 10000 records. I want to persist **cu

[2022-11-27 13:18] haimelo commented on #14732
HI! everyone. I have a need when my python destination throws exception I want postgres emit 1 state after 10000record. But the behavior of postgres is not like that. When my destination error, the job was interrupted and half of the previous data entered my system. When I re-sync, my data is duplicated.

So my question is how to make postgres emit state every 10000 records. I want to persist curs

[2022-11-28 04:21] thodquach commented on #19705
Hello, I wonder do we have a workaround solution for this problem for now?
I met this problem too.

[2022-11-28 06:13] linuxs commented on #19787
Your mentioned docker-compose is actually broken based on my tests, the `airbyte-proxy` service is dependent on `webapp` and `server` which need to be renamed to `airbyte-webapp` and `airbyte-server` respectively.

[2022-11-28 08:16] alafanechere commented on #18594
@ryjabe[ is suggesting](https://github.com/airbytehq/oncall/issues/1085#issuecomment-1325195674) setting `include_missing_columns` as `true` by default in `additional readers option` to make the discovery a bit more stable.

[2022-11-28 10:14] #18963 closed

[2022-11-28 10:17] ycherniaiev commented on #19602
Done: Xero Primary Public App on LastPass.

[2022-11-28 10:41] jj-nilbodee opened #19821 "Destination: BigQuery (denormalized typed struct) data mismatch"
## Environment
- **Airbyte version**:  0.40.22
- **OS Version / Instance**: GKE
- **Deployment**: Kubernetes via Helm
- **Source Connector and version**:  HubSpot 0.2.3
- **Destination Connector and version**: BigQuery (denormalized typed struct) 1.2.7
- **Step where error happened**: Sync Job

## Current Behavior
BigQuery (denormalized typed struct) 1.2.7 produced the wrong data in some fields wh

[2022-11-28 12:07] igrankova commented on #10285
We are passing the partner onboarding steps:
1.        Partner Application
2.        NDA
3.        Questionnaire
the next one should be the sandbox receiving. Waiting for the reply from the partner team.

[2022-11-28 12:21] andresbravog opened #19823 "🐛 Destination BigQuery 1.2.7 with GCS Staging Fails to Reset Data"
## Environment
- **Airbyte version**:  example is 0.40.22
- **OS Version / Instance**: GCP n2.
- **Deployment**: Docker
- **Source Connector and version**:  NA
- **Destination Connector and version**: 1.2.7
- **Step where error happened**: Reset job - Setup new connection

## Current Behavior

When setting up a new connector with BigQuery destination using GCS staging, when trying to create the GC

[2022-11-28 12:34] andresbravog commented on #19823
Tested on previous BigQuery Destination versions `1.1.0` and `0.6.1` and keeps failing, it doesn't seem to be related to the destination version.

[2022-11-28 12:54] andresbravog commented on #19823
OK somehow seems to be related to my credentials being somehow an old HMAC key, closing this ticket but the message is still misleading that refers to S3

[2022-11-28 12:54] #19823 closed

[2022-11-28 14:03] edmundito commented on #19233
@natalyjazzviolin I was unaware that the API key and Password field had different edit modes. both should look the same, and API has the correct approach. From the screenshot above, there should be a gap between the input and the cancel button.

For the Edit button:
1. The secondary is what we want, just like the API key
2. Height: Let's review this with Nico to confirm what is intended.

[2022-11-28 14:16] igrankova commented on #19655
Rate limits increased successfully

[2022-11-28 14:16] #19655 closed

[2022-11-28 14:24] igrankova commented on #19481
All streams are filled except _dependent_phone_numbers_ and _conference_participants_

[2022-11-28 14:24] #19481 closed

[2022-11-28 14:25] marcosmarxm commented on #19809
Thanks @talShtark are you interested in building this connector yourself?

[2022-11-28 14:28] marcosmarxm commented on #19795
Thanks for reporting this @jhajajaas. @girarda are you aware of this?

[2022-11-28 14:31] icychocolate98 opened #19825 "Clickhouse destination creates database instead of writing on DB specified."
## Environment
- **Airbyte version**:  0.40.22
- **OS Version / Instance**: Ubuntu 22.04
- **Deployment**: docker-compose
- **Source Connector and version**: BigQuery (alpha)
- **Destination Connector and version**: Clickhouse (alpha)
- **Step where error happened**: Data syncronization

## Introduction
I have configured Clickhouse (alpha) destination and I filled all UI inputs (included one to sp

[2022-11-28 14:31] #19211 closed

[2022-11-28 14:49] #19825 closed

[2022-11-28 15:20] girarda opened #19827 "low-code: Customize auth header when using OAuth"
## Tell us about the problem you're trying to solve
When using OAuth 2.0, the auth header is hardcoded to `{"Authorization": f"Bearer {self.get_access_token()}"}`
It should be possible to customize it for APIs that do not use Bearer authentication

## Describe the solution you’d like
[code]

Note that this uses a new keyword "access_token" which is scoped to the authenticator and returns the acces

[2022-11-28 16:00] kuang-byte opened #19830 "Make MAX_INTERATION_VALUE configurable"
## Tell us about the problem you're trying to solve

The data sync between worker pods (launched by `airbyte-worker`) and `airbyte-worker` sometimes timeout. Currently, the timeout value setup `MAX_INTERATION_VALUE` is hard-coded to 1 min. We hope this can be configurable to improve the sync job success ratio.

## Describe the solution you’d like
Make MAX_INTERATION_VALUE configurable

## Describe

[2022-11-28 16:02] VitaliiMaltsev commented on #19211
@klsoper merged

[2022-11-28 16:13] darynaishchenko commented on #17506
today's status of connector build health:
https://airbytehq.slack.com/archives/C02TYE9QL9M/p1669651863985569?thread_ts=1669640979.514149&cid=C02TYE9QL9M

[2022-11-28 16:17] natalyjazzviolin commented on #19582
@IzioDev thanks! Just needed to know to label the issue clearly.

[2022-11-28 16:19] natalyjazzviolin commented on #19545
Hi @ramitheeb this looks like something that we should troubleshoot first, as it is not reliably reproducible. Could you please start a thread on the forum or Slack? Closing this issue for now.

[2022-11-28 16:19] #19545 closed

[2022-11-28 16:19] #19430 closed

[2022-11-28 16:20] natalyjazzviolin commented on #19362
@marcuslind90 glad you got this resolved and thanks for the update. Please open a feature request for that error message!

[2022-11-28 16:20] #19362 closed

[2022-11-28 16:20] natalyjazzviolin commented on #19347
@bala-ceg feel free to take it on!

[2022-11-28 16:42] grishick opened #19833 "MySQL Source fails to take initial snapshot of a large table (15GB+)"
Debezium is running into the following error while taking a snapshot of a large table after almost 2 hours of reading records:
[code]

this could be happening due to a combination of configs on the source database server and Debezium connector settings.

[2022-11-28 17:30] alafanechere opened #19836 "Source MySQL: can't override fetchSize for limited sources"
Some managed MySQL sources have a hard limit on the maximum number of rows that can be fetched in a single transaction.
This lead to the following error on PlanetSacle managed instance

[code]

The MySQL connector should try to handle these limits.

[2022-11-28 17:36] #18713 closed

[2022-11-28 17:44] sh4sh commented on #19805
Hey @NahidOulmi, resource issues do sometimes come up - there are environment variables that can be used to tweak JVM memory. Can you check out this doc and see if it helps resolve the error? https://docs.airbyte.com/operator-guides/scaling-airbyte/

[2022-11-28 17:46] sh4sh commented on #17624
Hey @leoalmeidasant have you had any luck with the above config?

[2022-11-28 17:58] Amruta-Ranade commented on #19393
We're working on restructuring the docs -- we'll most likely have a new section to link to. I'll update this issue when we're done :)

[2022-11-28 18:03] sh4sh commented on #19641
This is awesome! Thanks for the PR, our code freeze is over today so we will review it soon!

[2022-11-28 18:05] mdibaiee opened #19838 "Source HubSpot: not pick up archived entities"
## Environment
- **Airbyte version**:  N/A
- **OS Version / Instance**: N/A
- **Deployment**: N/A
- **Source Connector and version**: HubSpot 0.2.3
- **Destination Connector and version**: N/A
- **Step where error happened**: Sync job

## Current Behavior

- HubSpot connector relies on `hs_lastmodifieddate` to recognise changes to entities such as `deals`, however, when an item is archived in HubS

[2022-11-28 18:29] marcosmarxm commented on #19804
Let me know if you need any assistance to build the connector @vishalhtg

[2022-11-28 18:54] edmundito commented on #16397
Replaced by #18631

[2022-11-28 18:54] #16397 closed

[2022-11-28 18:57] sh4sh commented on #19661
Hey @Tejasp2003 I tried this with Chrome on Android and it seems to work ok - what browser/OS are you using? Can you provide a little more information of how to reproduce this bug, and a screenshot if you can?

[2022-11-28 19:05] sh4sh commented on #19699
Hey @GLaDOS9000, this issue has come up before and it was resolved by removing your `airbyte-webapp/node_modules` folder and trying again. Can you run that and let us know if it helps?

[2022-11-28 19:08] sh4sh commented on #19782
Thanks for reporting this, I've added it to the team's backlog for review.

[2022-11-28 19:17] sh4sh commented on #19794
Thanks for the great suggestion, I've added it to the team's backlog! I also edited the title slightly to help with clarity, feel free to re-edit if needed.

[2022-11-28 19:33] timroes commented on #11850
Adding https://rmoff.net/2022/11/08/data-engineering-in-2022-elt-tools/ as a reference. This article lists a lot of nice examples how presenting all those options is confusing initially, and why it would be good to have a "minimal" form presented initially and have the rest being "advanced settings".

[2022-11-28 19:40] marcosmarxm commented on #19808
Hey @joenap strongly recommend to you report this through Intercom Support too! They'll help you and follow up the problem.

@erica-airbyte fyi

[2022-11-28 19:58] sophia-wiley opened #19844 "November release notes"

[2022-11-28 19:59] sophia-wiley commented on #19569
Done

[2022-11-28 19:59] #19569 closed

[2022-11-28 20:03] GLaDOS9000 commented on #19699
Hey @sh4sh, it worked like a charm ! Thank you !

[2022-11-28 20:30] sh4sh commented on #19743
Thanks for reporting this issue. I tried reproducing it with our test data but I am not getting any `Failed to transform` or `Schema validation errors` messages. I can't confirm, but I expect the source connector [events.json](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/events.json) schema probably needs to be updated as th

[2022-11-28 21:13] sh4sh commented on #19807
It does sound like some streams in the connector aren't working, ideally the connector would interpolate `date` from `datetime` user input so that all configured streams are functional. I've assigned this issue to the source connectors team for their review (might change assignment depending on which team will own low-code connector bug fixes)

[2022-11-28 21:22] sh4sh commented on #18516
I am stuck on this, I've assigned it to the team's backlog in hopes they might know what's going on. 🙏🏽 Feel free to ping me if I can help with anything.

[2022-11-28 21:25] ryjabe commented on #19265
Since this was posted we had someone reach out with this being a blocker/problem for them.  I'd say let's dial up the urgency a little bit as a result.   Would love to see an update if there is one.

[2022-11-28 21:40] matter-q commented on #16516
After the conversation with @Amruta-Ranade, we decided to move the task to on hold

_"Advanced mode doesn't have much to show yet, only that it shows the state of the connection in the connections settings. Don't think we need docs for it just yet"_

[2022-11-28 21:41] krishnaglick opened #19849 "Trim Connection List Endpoint"
The connections/list endpoint has some fields that are unnecessary for the frontend. To improve performance we should slim down this endpoint to be closer to _just_ what the frontend needs.

1. Remove `sourceId` and `destinationId` from the response since they are not used for the primary use case of this endpoint, and can be found in the attached source and destination objects.
2. Scope down the

[2022-11-28 21:43] YowanR commented on #19265
Cc @lazebnyi @YuliiaNahoha let's target next sprint as part of our on going GA work.

[2022-11-28 21:46] krishnaglick opened #19850 "web_backend/v1/connections/list should allow filtering by source or destination"
There are several places in the frontend where we do a full connections list call _just_ to filter connections against sources or destinations.

Ideally we can provide a `workspaceId` and a `sourceId` or a `destinationId` to get a list of connections associated with that source or destination.

[2022-11-28 21:52] krishnaglick opened #19852 "Move getEntityTableData logic into the backend"
The frontend has a method called [getEntityTableData](https://github.com/airbytehq/airbyte/blob/a8c72121f8fd50407425250d3a6ddc3756db8b55/airbyte-webapp/src/components/EntityTable/utils.tsx#L17). It takes a set of sources or destinations, connections, and a source or destination definitions (which are a combined list of source or destination definitions along with their respective latest calls and

[2022-11-28 21:57] krishnaglick opened #19853 "Create "Out of date definitions" endpoint"
The frontend currently makes a request to source_definitions, destination_definitions, as well as their "latest" endpoint counterparts solely to determine if any definitions are out of date.

This is done on _every_ initial page load.

By creating an endpoint that handles all that logic on the backend will save us an immense amount of transfered bytes.

Frontend code triggering this lives [here](h

[2022-11-28 23:02] gosusnp opened #19854 "WorkflowState needs a clear source of truth"
## What

We store the state a a sync in two different places:
* jobs db
* WorkflowState in temporal

While most of the time there should be no discrepancies, there can be some corner cases where the job state in the DB is done while the temporal workflow is still running some clean ups.

For example, we triggered a reset, the job can be marked as done while the activity is still doing clearing the

[2022-11-28 23:04] cgardens opened #19855 "Remove feature flags from `ConnectorSpecification`"
## Tell us about the problem you're trying to solve
* `ConnectorSpecification` ([link](https://github.com/airbytehq/airbyte/blob/master/airbyte-protocol/protocol-models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml#L428)) contains multiple platform feature flags. This was a pattern from early on in the protocol that we want to move away from. The protocol should vigorously avoid these

[2022-11-28 23:24] gosusnp commented on #19855
Trying to clarify what you call feature flag here, looking at the attributes, they sound like feature supported by the connector more than "feature flag" that I understand as transitional, thinking AB testing for example.

Unless I missed something, `ActorDefinition` could be confusing for feature support. It is part of the API and whether a connector supports incremental, should be part of the co

[2022-11-28 23:36] malikdiarra commented on #6021
Hi @TrustOkoroego,

we changed the way we store in the process the catalog during the discoverSchema phase, this should limit issues related to discovering large catalog. This was released in [v0.40.12](https://github.com/airbytehq/airbyte/releases/tag/v0.40.12), are you using that version or a more recent one?

[2022-11-28 23:46] cgardens commented on #19855
[protocol docs](https://docs.airbyte.com/understanding-airbyte/airbyte-protocol#goals)

The protocol should focus on attributes that are vital for these docker containers to communicate with each other, not features of the Airbyte platform. There may be a flag in the future that does make sense to put in the `ConnectorSpecification`, but I don't know what it is. In addition, all of the flags we cu

[2022-11-28 23:54] grishick opened #19858 "Snowflake Destination should show an informative error message when it encounters 503 error"
Currently, if Snowflake fails a request with 503 error (rate limit exceeded), the destination connector will fail with a generic failure error. It would be more useful if the error told the user that the connection is hitting rate limits, so that the user can take a corrective action, such as increasing their Snowflake DW size or adjusting the job schedule to avoid running multiple jobs at the sam

[2022-11-28 23:55] cgardens commented on #19854
does that mean normalizing the behavior that you introduced for one endpoint in this PR https://github.com/airbytehq/airbyte/pull/19459? Basically whenever we check for status, look in temporal first? is there any down side to this?

For the second option (db source of truth) what would happen if temporal and db got out of sync? Is the escape hatch that we just kill whatever temporal is doing and

[2022-11-29 00:18] akashkulk commented on #16838
The context here is that this is a refactoring issue. Need to move this into the AbstractClass + make sure all tests are the same

[2022-11-29 00:20] gosusnp commented on #19854
This was the initial option considered when looking at PR #19459. At that time, I decided not to do it because this felt like digging through a lot of corner cases to check if it is actually doing what was expected. The problem here is that we have two state tracking that diverge in a few cases. Looking in temporal first might be an option, the main downside I see is that we still have two states,

[2022-11-29 00:30] grishick commented on #9123
This would also greatly help Airbyte engineers when troubleshooting normalization errors.

[2022-11-29 00:53] edmundito opened #19861 "Don't skip reset when saving and resetting disabled connection"
Allow disabled connections to reset. Just need to remove the check from here:

https://github.com/airbytehq/airbyte/blob/5755dd84b9809b6851a05492f02b771a484c0cb6/airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.tsx#L124

[2022-11-29 00:53] #19242 closed

[2022-11-29 00:54] #17529 closed

[2022-11-29 00:54] #18979 closed

[2022-11-29 00:57] grishick opened #19862 "Snowflake destination CHECK should fail if user has insufficient privileges to operate on target database"
An Oncall [issue](https://github.com/airbytehq/oncall/issues/1109) was open 4 days ago because normalization failed with the following error:
[code]
Snowflake destination connector should be able to catch this during CHECK method, but for some reason it didn't

[2022-11-29 01:12] evantahler commented on #19855
Double checking that this jives with the ActorDefinition work being done here https://github.com/airbytehq/airbyte/pull/19799/files

[2022-11-29 01:17] octavia-squidington-iv commented on #19861
cc @airbytehq/frontend

[2022-11-29 01:22] sherifnada opened #19863 "CDK: use a more advanced CLI framework"
## Tell us about the problem you're trying to solve
We currently use `argparse` in the CDK. But there are better Python CLI libraries which are easier to extend and work with, such as [Click](https://click.palletsprojects.com/en/8.1.x/).

## Describe the solution you’d like
I would like the CDK to use Click to run connectors.

[2022-11-29 01:34] evantahler commented on #19451
I'll be working from the list here: https://github.com/airbytehq/airbyte/pull/19848#issuecomment-1329785174

[2022-11-29 01:55] cgardens commented on #19855
@evantahler yes! good example of us leveraging the `ActorDefinition` for connector-specific behavior that shouldn't belong in the platform nor protocol.

[2022-11-29 05:40] Rahulborserb opened #19866 "Source Postgres: Custom query for schemas"
Hi Team, Once we setup source as postgres and destination as s3 and while creating connection we need to select schemas and tables which needs to write in destination. Problem here is if we select 2 tables then in destination it will create two files for each table. Is there any possibility while creating a connection we write a custom query and merge this two table into one file? If not is there

[2022-11-29 07:53] talShtark commented on #19809
@marcosmarxm
I would be happy to try out developing the integration on my own

[2022-11-29 09:25] YohanGrember commented on #2227
Hello team 👋
I'm also interested in this field filtering for GDPR reasons.

I'd also like to be able to add fields that are not mentioned in the default catalog.
For example, for stripe connectors, our AM unlocked fields that are not mentioned in the catalog.
We are able to ingest these fields through our legacy Python stack but as the Airbyte Stripe catalog is hardcoded, theses fields are not ret

[2022-11-29 09:44] igrankova opened #19870 "Sandbox Account for Oura source"
## Tell us about the problem you're trying to solve
Request/create a sandbox account for implementing/testing new connector [Oura](https://github.com/airbytehq/airbyte/pull/18224)

[2022-11-29 10:11] #17503 closed

[2022-11-29 10:15] alafanechere opened #19872 "SAT: smarter logic of discovered catalog caching"
## Tell us about the problem you're trying to solve
By default SAT caches the discovered catalog of a connector once and reuses the same catalog for all tests.
As some connectors can have dynamic catalogs according to their configuration, and tests can use different configurations, this can lead to wrong test behavior.
We mitigated this problem in #19806 to optionally disable caching.
But we could

[2022-11-29 10:52] #19800 closed

[2022-11-29 13:51] #17910 closed

[2022-11-29 14:09] darynaishchenko commented on #17506
today's status of connector build health:
https://airbytehq.slack.com/archives/C02TYE9QL9M/p1669730828392479?thread_ts=1669727356.236649&cid=C02TYE9QL9M

[2022-11-29 14:16] norbertorok92 commented on #4046
Hi, @YowanR do you have a rough estimation on the timeline of when you guys planning to have a connector for matomo?

[2022-11-29 14:40] edmundito opened #19874 "Connection streams vertical and right margin do not align with other cards"
Seen in master, the top, bottom, and right margin of the streams card is too large and does not align with the rest of the

![Image](https://user-images.githubusercontent.com/168664/204559011-3d98b23d-a571-47ab-860a-51ee213dd45f.png)

This is related to the changes in #18187

[2022-11-29 14:41] octavia-squidington-iv commented on #19874
cc @airbytehq/frontend

[2022-11-29 14:49] krishnaglick opened #19875 "Compress API responses"
Quoting Tim:

This change will save us a lot of transferred network bytes.

[2022-11-29 15:05] alafanechere opened #19876 "Source-twilio: Better sandbox account seeding"
## Tell us about the problem you're trying to solve
`high` test strictness level were declared on `source-twilio` [but multiple streams](https://github.com/airbytehq/airbyte/blob/49149ef02fdf891f9df258eb4516962edc893d42/airbyte-integrations/connectors/source-twilio/acceptance-test-config.yml#L21) can't be tested because of a partially seeded / not frozen sandbox account.

We should seed all the av

[2022-11-29 15:14] #19142 closed

[2022-11-29 15:26] arnaudselva opened #19877 "New Source: Unleash [low-code CDK]"
## Tell us about the new connector you’d like to have
* Which source and which destination?
Source : [Unleash API](https://docs.getunleash.io/reference/api/legacy/unleash)
Destination : AWS Redshift

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
No

## Describe the context around this new connector
* Why do

[2022-11-29 15:40] edmundito opened #19878 "Create test cases for auto-detect schema changes frontend"

[2022-11-29 15:41] octavia-squidington-iv commented on #19878
cc @airbytehq/frontend

[2022-11-29 15:45] edmundito commented on #17941
Work on new react-table v8 was started on #19219

[2022-11-29 15:52] edmundito commented on #19237
There is already a modal that warns the user before deletion but does not list out the connectors that will be impacted by the deletion.

[2022-11-29 16:04] timroes opened #19880 "Replace onChange on DropdownMenu"
The `DropdownMenu` component could be improved with the following change:

`onChange` should not exist, since this is a menu, that does not have a "value". It's currently basically used as a `onClick` on the items. We should either rename this to `onClick` or ideally I think any option passed into `options` should be able to have an `onClick` handler (alternative to a `href`) that will be called o

[2022-11-29 16:04] octavia-squidington-iv commented on #19880
cc @airbytehq/frontend

[2022-11-29 16:22] #16265 closed

[2022-11-29 17:21] bleonard commented on #19836
Do we know if this is queryable?

[2022-11-29 17:37] evantahler commented on #18232
Can you please link the PR that's related to this story?

[2022-11-29 17:42] #19699 closed

[2022-11-29 17:55] grishick commented on #16173
This came up twice now in OC

[2022-11-29 17:56] marcosmarxm commented on #19768
*Comment made from Zendesk by Marcos Marx on 2022-11-29 at 17:56:*

<blockquote><div class="zd-comment" dir="auto">You can update the .env to remove the password and user from basic auth. I don't think Octavia supports the basic auth feature now.<br></div></blockquote>

[2022-11-29 18:04] #19861 closed

[2022-11-29 18:08] pedroslopez commented on #17853
grooming:
- do one connector to make sure it works
- if it's many connectors, rescope this and make a list on connectors that need to be updated, potentially have GL take a look

[2022-11-29 18:18] sh4sh commented on #19877
Very excited to see this connector implemented with the low-code CDK! Let us know how we can help!

[2022-11-29 18:18] girarda commented on #19592
closing as duplicate of https://github.com/airbytehq/airbyte/issues/19632

[2022-11-29 18:18] #19592 closed

[2022-11-29 18:18] pedroslopez commented on #19258
Current ticket is for making postgres work, then make follow up tickets for the remaining local sources so GL can help us out.

[2022-11-29 18:28] pedroslopez commented on #19133
Clearly document which to use depending on what you need to do, since there are different behaviors:
- [1] Is useful when developing SAT since it runs the python directly without going through docker
- [2] is ran on CI and uses docker
- [3] is funcionally equivalent to 2?

We should update the docs to indicate which one should be used depending on the intent.

[2022-11-29 19:29] grishick opened #19890 "Freshdesk source documentation does not list all supported streams"
@lgomezm has added support for more streams in this [PR](https://github.com/airbytehq/airbyte/pull/13332), but the PR did not update the documentation. Currently documentation for Freshdesk source still lists only these sources:

- [Agents](https://developers.freshdesk.com/api/#agents)
- [Companies](https://developers.freshdesk.com/api/#companies)
- [Contacts](https://developers.freshdesk.com/api/

[2022-11-29 19:38] girarda commented on #19735
sample command: `python main.py read --config secrets/config.json --catalog integration_tests/configured_catalog.json --debug`

[2022-11-29 19:39] #19260 closed

[2022-11-29 19:39] #19518 closed

[2022-11-29 19:40] #19261 closed

[2022-11-29 19:40] sherifnada opened #19891 "Prep move(data) talk"

[2022-11-29 19:42] grishick opened #19892 "Handle "bad data" without failing normalization or losing data"

[2022-11-29 19:57] grishick commented on #19892
cc @misteryeo this is a followup to our 1:1 last week.

[2022-11-29 20:21] pedroslopez opened #19894 "Enable SAT for hosted sources - BigQuery"
Enable the SAT for the BigQuery source. See epic description for more context airbytehq/airbyte#19708.

[2022-11-29 20:21] pedroslopez opened #19895 "Enable SAT for hosted sources - Redshift"
Enable the SAT for the Redshift source. See epic description for more context airbytehq/airbyte#19708.

[2022-11-29 20:21] pedroslopez opened #19896 "Enable SAT for hosted sources - Snowflake"
Enable the SAT for the Snowflake source. See epic description for more context airbytehq/airbyte#19708.

[2022-11-29 20:21] pedroslopez opened #19897 "Enable SAT for hosted sources - mongodb-v2"
Enable the SAT for the mongodb-v2 source. See epic description for more context airbytehq/airbyte#19708.

[2022-11-29 20:30] nataliekwong opened #19898 "Add failure reason to Test Failure Segment events"
There are two events related to setup failures:
- Airbyte UI Source Test Failure
- Airbyte UI Destination Test Failure

We see some common errors that users receive, and we'd like to offer specific help around common errors that is more specific to the error they see. This would require passing the error message into the Segment event as an additional attribute.

Examples of places we could addres

[2022-11-29 20:32] pedroslopez opened #19899 "Enable SAT for local Java sources - Postgres"
Enable the SAT for the Postgres source. See epic description for more context https://github.com/airbytehq/airbyte/issues/19258.

Because this is a local source, this story includes:
- Setting up a hosted instance of postgres to use in tests
- Enabling SAT to run for the postgres source

[2022-11-29 20:40] #17659 closed

[2022-11-29 20:41] animer3009 commented on #17659
DONE.

[2022-11-29 20:48] pedroslopez commented on #18232
@andriikorotkov Is this a duplicate of https://github.com/airbytehq/airbyte/issues/18235 ?

[2022-11-29 20:51] edmundito opened #19900 "Update form field labels in connection form to match design"
Update label design to match the latest in Figma:

* Description should be shown in tooltip
* Required fields no longer marked with *

Current:
![image](https://user-images.githubusercontent.com/63751206/204642491-a296ad08-0c96-43ea-b733-fe983457aa5f.png)

Proposed:
![image](https://user-images.githubusercontent.com/168664/204644345-41521c39-191f-4fcd-83e7-373013471402.png)

Figma:
https://www.fig

[2022-11-29 20:51] octavia-squidington-iv commented on #19900
cc @airbytehq/frontend

[2022-11-29 20:54] #18327 closed

[2022-11-29 21:01] brad-nemetski opened #19901 "Source File: reader_options issue when reading csv/excel"
## Environment
- **Airbyte version**:  0.40.18
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**:  File Connector 0.2.28
- **Destination Connector and version**:  snowflake 0.4.38
- **Step where error happened**:  Sync job

## Current Behavior
csv/excel files have timetamp columns that are persisted as string columns to Snowflake. This is even when {"pa

[2022-11-29 21:04] andriikorotkov commented on #18232
@pedroslopez, yes, I added a description to this task, and closed the one you specified.

[2022-11-29 21:04] #18235 closed

[2022-11-29 21:17] pedroslopez commented on #19898
+1!

This probably involves updating the track calls in https://github.com/airbytehq/airbyte/blob/cf28f7a01f55d13c64515e2ea4ee7a9a4300b78b/airbyte-server/src/main/java/io/airbyte/server/scheduler/DefaultSynchronousSchedulerClient.java#L201 with the FailureReason. FailureReasons are already a part of the JobOutputs and we're sending them to Sentry at this spot (take a look at the [reportError metho

[2022-11-29 21:44] andyjih commented on #19630
Ideas here:
- "Failure Origin" makes it read like a failure. How does this message get populated? Is there a way for us to change the wording so it doesn't show "Failure Origin"?
- Separately, if we can use a different color or icon instead of a red X. Maybe we can borrow from Github Action's pattern of a minus or slash with a circle around it:

![Image](https://user-images.githubusercontent.com/6

[2022-11-29 22:00] blarghmatey opened #19902 "destination-s3-glue: Error when finalizing empty source tables synced to destination"
## Environment
- **Airbyte version**:  example is 0.40.22
- **OS Version / Instance**: AWS EC2 running Debian 11
- **Deployment**: Docker-compose
- **Source Connector and version**: BigQuery 0.2.3
- **Destination Connector and version**: S3-Glue 0.1.0
- **Step where error happened**: Sync job

## Current Behavior
The sync errors when closing some of the streams. It appears to be related to trying

[2022-11-29 22:03] blarghmatey commented on #19902
@itaseskii I think this is due to trying to create the Glue table when there are no records/schema from the source stream to use for generating the table definition. I can take a look in the morning if you don't get to it first.

[2022-11-29 22:19] girarda opened #19904 "connector builder server does not return request and response if the API response is not successful"
## Current Behavior
The connector-builder-server does not expose the requests and responses if the read operation failed because a request sent to the API endpoint failed (eg because the request is not properly authenticated).

An error message is displayed in the Connector logs, but it would be useful to also expose the request and response that lead to the failure.

## Expected Behavior
Instead

[2022-11-29 22:32] visnup opened #19905 "Source Stripe: plan.tiers not available by default for Stripe API versions >2020-03-02"
## Environment
- **Airbyte version**: 0.40.22
- **OS Version / Instance**: AWS EC2
- **Deployment**: docker-compose
- **Source Connector and version**: Stripe 0.1.40
- **Destination Connector and version**: Snowflake 0.4.40
- **Step where error happened**: Sync job

## Current Behavior
Previously, we were running against Stripe API version [2020-03-02](https://stripe.com/docs/upgrades#2020-03-02),

[2022-11-29 23:19] itaseskii commented on #19902
Hey @blarghmatey thanks for the heads up. I'm going through the code and most likely this was caused by an inner object in the schema which has no properties with it https://github.com/airbytehq/airbyte/blob/2c5dabc64a6b3fc3ad6be55becdaa4dfc2a326e1/airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/GlueOperations.java#L150. We already chec

[2022-11-29 23:36] itaseskii commented on #19902
I have linked a PR that should fix this issue. hopefully it is fine to provide a **_struct<>_** glue type with empty parameters when we have blank objects in the schema. Please try it out when you can and tell me how it goes.

[2022-11-29 23:38] davydov-d commented on #19597
fixed here https://github.com/airbytehq/airbyte/pull/19712

[2022-11-29 23:41] akashkulk commented on #17756
This is actually handled as a `ConnectionErrorException`
Which is handled at the top-level as a config-error. I think this can be closed - there is no action to take here. This would not create a Sentry crash. In addition, the workspace in question was Liren's test workspace

[2022-11-29 23:43] evantahler commented on #19790
Closed via https://github.com/airbytehq/airbyte/pull/19791

[2022-11-29 23:43] #19790 closed

[2022-11-29 23:45] davydov-d commented on #19069
Done [here](https://github.com/airbytehq/airbyte/pull/19479)

[2022-11-29 23:45] #19069 closed

[2022-11-29 23:46] davydov-d commented on #19071
Done [here](https://github.com/airbytehq/airbyte/pull/19432)

[2022-11-29 23:46] #19071 closed

[2022-11-29 23:47] davydov-d commented on #19071
Done [here](https://github.com/airbytehq/airbyte/pull/19432)

[2022-11-30 00:23] #17756 closed

[2022-11-30 00:25] gosusnp opened #19908 "Improve heartbeat check for connectors"
## What

We determine whether a connector is healthy by check heartbeats from the orchestrator. We have situations where the heartbeat is still happening, yet, we see no progress from the connector. With the current information, it is hard to tell if the connector is still actually healthy, waiting on some rate limit or even crashed.

The goal of this ticket is to investigate what we can put in pl

[2022-11-30 01:11] #19521 closed

[2022-11-30 01:26] gosusnp commented on #19853
Since we are calling this on every page, what are we using this data for? If it is only used for the dot on the settings, I believe we could do something even more specific. We could just have an API that returns if there are connectors to upgrade.
On the backend, we could be more efficient in this case because I don't think we currently store the "latest" for all connectors. Which means we'd have

[2022-11-30 01:29] gosusnp commented on #19850
Is the response the same? If yes, could we have optional filters on `connections/list`?
For example, `connections/list?destination_ids=A&destination_ids=B&destination_ids=C`? (querystring param not necessarily the actual syntax)

[2022-11-30 08:42] ANISHRAM opened #19911 "Redshift source: External schema not discoverable"
Error log:

2022-11-29 08:39:36 INFO i.a.w.t.TemporalAttemptExecution(get):108 - Docker volume job log path: /tmp/workspace/b88f61d3-0dac-450d-be8e-890756668ee2/0/logs.log
2022-11-29 08:39:36 INFO i.a.w.t.TemporalAttemptExecution(get):113 - Executing worker wrapper. Airbyte version: 0.40.15
2022-11-29 08:39:36 INFO i.a.c.i.LineGobbler(voidCall):114 - Checking if airbyte/source-redshift:0.3.15 exis

[2022-11-30 09:16] lephuongbac commented on #14491
same issue when I connect to on-premise gitlab via http request, how can I switch to connect via http instead of https?

[2022-11-30 10:16] #18232 closed

[2022-11-30 10:19] #18236 closed

[2022-11-30 10:23] KrasowskiMichal commented on #18373
Hi @sh4sh ,
Yes we were able to solve this by using "custom report". What was needed were a few extra fields to become visible for a service account used in this integration.
Sorry for a late reply and thank you for your indication how to solve a problem.

Thanks,

[2022-11-30 10:23] #18373 closed

[2022-11-30 10:24] marcosmarxm commented on #19768
*Comment made from Zendesk by Marcos Marx on 2022-11-30 at 10:23:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I’ve updated the version to Octavia 0.40.18</p>
<pre style="max-width: 694px; word-wrap: break-word"><code style="background-color: #f9f9f9; display: block; overflow: auto; padding: 2px 5px">curl -s -o- https://raw.githubusercontent.com/airbytehq/airbyte/v0.40.18/octavia

[2022-11-30 10:26] drgsec1234 commented on #6533
Hi, we have the same issue since this is not something that can be changed by default in BQ to work, I think the solution is to use BigQuery Storage API
Is there any progress on this issue?

[2022-11-30 13:12] LuliRib commented on #19580
Hi, hereby is the list of columns that can be included in the [KeywordPerformanceReportRequest](https://learn.microsoft.com/en-us/advertising/reporting-service/keywordperformancereportrequest?view=bingads-13).
I need the keyword to be added for the keyword_performance_report_daily.
As shown in the image, it´s just to add the keyword column to the list.
![image](https://user-images.githubuserconten

[2022-11-30 13:21] davydov-d commented on #19040
Done [here](https://github.com/airbytehq/airbyte/pull/19496)

[2022-11-30 13:21] #19040 closed

[2022-11-30 14:02] mirasdar commented on #15482
Hi Amruta,
sorry for the gap in communication from my side. I was hospitalized and had
a surgery and was in recovery most of the month.
I did minimal communication to IBM/kyndryl manager about my health
emergency.
I opened my gmail after weeks and missed out your earlier email.
I missed out on communicating with you for the WIP issue opened and left
hanging. I have recovered now and back to work p

[2022-11-30 14:07] Amruta-Ranade commented on #15482
@mirasdar Sorry to hear that!! Hope you're feeling better!
Don't worry about this project. I had to reassign this issue to meet our deadlines, but we can find another opportunity to work together in the future :)

[2022-11-30 14:14] edmundito opened #19920 "Add feature flag for auto-detect schema changes"
Update feature flagging to use launchdarkly and the environment variable (for local testing)

[2022-11-30 14:15] octavia-squidington-iv commented on #19920
cc @airbytehq/frontend

[2022-11-30 14:15] mirasdar commented on #15482
Thank you for your understanding.

On Wed, Nov 30, 2022 at 7:37 PM Amruta Ranade ***@***.***>
wrote:

[2022-11-30 14:27] marcosmarxm commented on #19768
*Comment made from Zendesk by Marcos Marx on 2022-11-30 at 14:27:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Just an FYI for the Airbyte team:<br>
The Readme for Octavia says the Env Variable for --airbyte-username and --airbyte-password is AIRBYTE_URL.</p>
<p dir="auto">They should be updated to show AIRBYTE_USERNAME and AIRBYTE_PASSWORD.</p>

 [<a href="https://discuss.airbyt

[2022-11-30 14:38] darynaishchenko commented on #17506
today's status of connector build health:
https://airbytehq.slack.com/archives/C02TYE9QL9M/p1669818463245669?thread_ts=1669813883.412189&cid=C02TYE9QL9M

[2022-11-30 15:11] oleg-savko commented on #18822
Have the same problem, trying to increase property in the following way but it not help:

[code]

Any news about when or how it can be resolved?

[2022-11-30 16:16] marcosmarxm commented on #6942
I'm closing this because of inactivity. Please open a new issue using the template given.

[2022-11-30 16:18] marcosmarxm commented on #3491
There are instructions to deploy on Windows https://docs.airbyte.com/deploying-airbyte/local-deployment#deploy-on-windows
There are some limitation but it is possible.

[2022-11-30 16:18] #3491 closed

[2022-11-30 16:23] marcosmarxm commented on #3216
closing due inactivity; @MC1-RicardoLeka please open a new issue using the template given if continue the problem.

[2022-11-30 16:23] #3216 closed

[2022-11-30 16:28] marcosmarxm commented on #4049
Today Airbyte uses the proxy container. Closing because it doesn't reflect the project status.

[2022-11-30 16:28] #4049 closed

[2022-11-30 16:32] marcosmarxm commented on #6839
I'm closing due inactivity. @monai please test with latest version of Airbyte and Postgres connctor and if the issue persists open a new issue.

[2022-11-30 16:32] marcosmarxm commented on #17890
*Comment made from Zendesk by Nataly Merezhuk on 2022-11-30 at 16:32:*

<blockquote><div class="zd-comment" dir="auto">Closed due to no response from requester.<br></div></blockquote>

[2022-11-30 16:33] marcosmarxm commented on #7067
@xpuska513 this is still an issue?

[2022-11-30 16:33] marcosmarxm commented on #7067
Solved by https://github.com/airbytehq/airbyte/pull/10923

[2022-11-30 16:33] #7067 closed

[2022-11-30 16:33] marcosmarxm commented on #17100
*Comment made from Zendesk by Sajarin on 2022-11-30 at 16:33:*

<blockquote><div class="zd-comment" dir="auto">Hey @ismaelheelio,&nbsp;<br>&nbsp;<br>I believe this is still a pending issue. Follow the thread on Github for now&nbsp;<br></div></blockquote>

[2022-11-30 16:33] blarghmatey commented on #19902
Thanks for the quick work! I'm doing some digging to see if that is a valid signature as well as investigating what the data actually looks like.

[2022-11-30 16:34] jhajajaas commented on #19795
@marcosmarxm @girarda is it possible if you guys can prioritise this? I'm being blocked by this. Wish I could submit the PR but I couldn't

[2022-11-30 16:42] #14849 closed

[2022-11-30 16:43] #14478 closed

[2022-11-30 16:43] sajarin commented on #18106
@shmf, this is from the discussion in our community slack:

[2022-11-30 16:49] Aggiekev opened #19927 "Source Hubspot: All Forms Aren't Syncing"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: Seen on macOS and GKE (Autopilot)
- **Deployment**: Both Docker and Kubernetes
- **Source Connector and version**: Hubspot 0.2.3
- **Destination Connector and version**: BigQuery 1.2.8
- **Step where error happened**: Sync job

## Current Behavior
When syncing the forms for a Hubspot Instance that has more

[2022-11-30 16:52] klsoper commented on #19211
![Screen Capture error](https://user-images.githubusercontent.com/100706692/204858862-f1a9b1e2-43ce-408b-b140-eb47b6ec6901.png)
Hey @VitaliiMaltsev I have a customer still seeing this- is it the same issue? Do they need to do anything on their end to get this successful or is it a seperate issue I need to create?

[2022-11-30 16:58] krishnaglick commented on #19853
![Screenshot 2022-11-30 at 11 55 10 AM](https://user-images.githubusercontent.com/4967694/204859770-dde3f7ec-3a36-4be3-bbf7-d68a5bfc55e2.png)
This dot is the only place it's used. However you think it's best, the only real piece of data the FE needs is if any definitions are out of date.

[2022-11-30 16:59] marcosmarxm commented on #7825
You can create backoff policies to stop sending requests. Today isn't possible to control the number of request per minute the Airbyte CDK makes.

[2022-11-30 16:59] #7825 closed

[2022-11-30 17:00] marcosmarxm commented on #8022
Closing the issue @ojasviharsola feel free to submit a PR with the documentation.

[2022-11-30 17:00] #8022 closed

[2022-11-30 17:03] Aggiekev opened #19928 "Source Hubspot: Allow Incremental Sync for Form Submissions"
## Tell us about the problem you're trying to solve
The current Hubspot source only allows Full Sync for Form Submissions. However, with large Hubspot instances, this means we're pulling tens of millions of submissions every single time the data is synced.

## Describe the solution you’d like
I would like to be able to incremental sync.

## Describe the alternative you’ve considered or used
The cu

[2022-11-30 17:12] octavia-squidington-iv commented on #19802
cc @airbytehq/frontend

[2022-11-30 17:16] sajarin commented on #19475
@mertkayhan thanks for the issue, are you still experiencing this issue with 0.40.22?

[2022-11-30 17:16] krishnaglick commented on #19850
Clarified the ticket, we'll add filtering by source or destination id to the connections list endpoint.

[2022-11-30 17:18] grishick commented on #18594
I think the fundamental problem is that we are treating an inherently schema-less source as if it has schema. I would suggest that we create separate connectors for different table formats for tables that can be stored as files on S3 (Hive and Iceberg). For files w/o a table we might need a different approach that assumes that schema is not enforced.

[2022-11-30 17:19] sajarin commented on #19426
@Xingyuan-Chen, we'd be happy to review the PR once you are able to submit it :)

[2022-11-30 17:20] marcosmarxm commented on #8348
Solved by https://github.com/airbytehq/airbyte/pull/13098

[2022-11-30 17:20] #8348 closed

[2022-11-30 17:23] evantahler commented on #17617
Some notes on `unavailable_reason`:
* The ideal message is something like "Airbyte cannot access the stream 'foo'.  This is most likely due to insufficient permissions on the API Key use.  Please visit {connector doc} URL to learn more".
* Can we build this default message programmatically (getting the connector name, stream name, and doc URL)?
* Do we want to require a custom message for every st

[2022-11-30 17:25] krishnaglick commented on #19849
We should try to do https://github.com/airbytehq/airbyte/issues/19875 before this.

[2022-11-30 17:25] marcosmarxm commented on #8134
I tested in latest version (0.40.22) and it is working.
![image](https://user-images.githubusercontent.com/5154322/204866198-20b4cd91-22c3-43d9-926a-3ad3b5d6820e.png)

[2022-11-30 17:25] #8134 closed

[2022-11-30 17:27] evantahler commented on #17853
Check out https://github.com/airbytehq/oncall/issues/973 - The Facebook Marketing source is particularly bad right now with access permission failures.  Perhaps this is one of the first connectors we upgrade

cc @YowanR

[2022-11-30 17:27] PhilipCorr opened #19932 "Shopify Source: migrating to api version 2022-10 is potentially a breaking change"
## Tell us about the problem you're trying to solve
The latest release of shopify’s API (2022-10) requires that the shopify app you are using meets certain requirements as explained [here](https://shopify.dev/apps/store/data-protection/protected-customer-data#request-access-to-protected-customer-data).

If your app doesn't meet these requirements, you will see an error such as:
[code]

As per the

[2022-11-30 17:28] krishnaglick commented on #19849
After a conversation with Jimmy, the connectionConfiguration should be removed from the source and destination objects.

[2022-11-30 17:29] PhilipCorr commented on #19932
Hi @bazarnov, just bringing this to your attention as it is related to your PR as linked above in the description. I'm curious what your thoughts are on it?

[2022-11-30 17:29] marcosmarxm opened #19933 "RDS MYSQL Source Connector Non Json Response Error when establishing connection"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#3526](https://airbyte7538.zendesk.com/agent/tickets/3526)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Nataly Merezhuk

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto">

[<a href="https://discuss.airbyte.io/t/rds-mysql-source-connector-non-json-response-error-when-estab

[2022-11-30 17:29] marcosmarxm commented on #19933
*Comment made from Zendesk by Marcos Marx on 2022-11-09 at 17:15:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Here is the full log and of airbyte is .40.18</p>
<pre style="max-width: 694px; word-wrap: break-word"><code style="background-color: #f9f9f9; display: block; overflow: auto; padding: 2px 5px">2022-11-08 16:10:51 INFO i.a.w.p.DockerProcessFactory(create):163 - Preparing

[2022-11-30 17:29] marcosmarxm commented on #19933
*Comment made from Zendesk by Marcos Marx on 2022-11-09 at 17:22:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hmm I am also not sure about the Rekey but will ask the team. Will that cause any issues if do use it?</p>

 [<a href="https://discuss.airbyte.io/t/rds-mysql-source-connector-non-json-response-error-when-establishing-connection/3143/4" rel="noreferrer">Discourse post</a>

[2022-11-30 17:29] marcosmarxm commented on #19933
*Comment made from Zendesk by Nataly Merezhuk on 2022-11-09 at 18:34:*

<blockquote><div class="zd-comment" dir="auto">It seems like it could, please let me know when you find out!<br></div></blockquote>

[2022-11-30 17:29] marcosmarxm commented on #19933
*Comment made from Zendesk by Marcos Marx on 2022-11-21 at 22:00:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hey <a href="/u/natalyjazzviolin" style="color: #006699; font-weight: bold; text-decoration: none" rel="noreferrer">@natalyjazzviolin</a> ,<br>
apologies for the late response but it seems we do rekey.<br>
This is the response I got from the team → OpenSSH runs with the

[2022-11-30 17:31] marcosmarxm commented on #19933
*Comment made from Zendesk by Nataly Merezhuk on 2022-11-30 at 17:31:*

<blockquote><div class="zd-comment" dir="auto">Hey! This looks like a bug, so I've escalated it to GitHub and triaged it:<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/19933">https://github.com/airbytehq/airbyte/issues/19933</a><br><br>Please feel free to follow up there and include any more

[2022-11-30 17:36] sajarin commented on #19355
@mutt-santiago-stachuk thanks for the issue, we'd be happy to review your PR!

[2022-11-30 17:37] marcosmarxm commented on #8377
I tested using latest version of Airbyte (0.40.22) and was able to change start date from Zendesk Support connector.

[2022-11-30 17:37] #8377 closed

[2022-11-30 17:39] marcosmarxm commented on #8488
Latest version has arm64 for Mongodb
![image](https://user-images.githubusercontent.com/5154322/204869079-01245615-9666-461e-af80-b2f562ab3c8c.png)

[2022-11-30 17:39] #8488 closed

[2022-11-30 17:43] sajarin commented on #18991
Hey @gfrts, it's been a bit difficult to reproduce. Not sure what is wrong with the specific streams so it will require some time to investigate. No promises!

[2022-11-30 17:44] marcosmarxm commented on #8651
@PVMer I'm closing this because isn't a good idea to add legacy streams. Feel free to request missing streams from current Sendgrid version.

[2022-11-30 17:44] #8651 closed

[2022-11-30 17:45] marcosmarxm commented on #8805
Closing due inactivity. @gajus please test last version of Helm deployment.

[2022-11-30 17:45] #8805 closed

[2022-11-30 17:49] marcosmarxm commented on #8817
@bruno-nirello I'm closing due inactivity, please test latest version of Typeform and if the issue continue please open a new issue.

[2022-11-30 17:49] #8817 closed

[2022-11-30 17:49] marcosmarxm commented on #9010
Closing due inactivity. @nord-ine please test latest version of helm deployment.

[2022-11-30 17:49] #9010 closed

[2022-11-30 17:50] #9075 closed

[2022-11-30 17:51] marcosmarxm commented on #8696
Closing due inactivity please open a new issue if it cotinues.

[2022-11-30 17:51] #8696 closed

[2022-11-30 17:51] #19451 closed

[2022-11-30 17:52] #8674 closed

[2022-11-30 17:52] pmossman commented on #11144
Ongoing work towards Custom Connectors is now captured in a new epic: https://github.com/airbytehq/airbyte-cloud/issues/3079

[2022-11-30 17:53] pmossman commented on #9652
Ongoing work towards custom connectors is now captured in a new epic: https://github.com/airbytehq/airbyte-cloud/issues/3079

[2022-11-30 17:54] #9161 closed

[2022-11-30 17:55] marcosmarxm commented on #9253
@RealChrisSean fyi

[2022-11-30 18:00] marcosmarxm commented on #9267
Duplicate of https://github.com/airbytehq/airbyte/issues/4035

[2022-11-30 18:00] #9267 closed

[2022-11-30 18:03] marcosmarxm commented on #9375
Closing due inactivity.

[2022-11-30 18:03] #9375 closed

[2022-11-30 18:06] marcosmarxm commented on #9512
@KennethanCeyer closing due inactivity, please test latest version of Helm deployment.

[2022-11-30 18:06] #9512 closed

[2022-11-30 18:08] girarda commented on #19500
grooming notes:
* we only want to limit the number of records so we don't need to modify the CDK

[2022-11-30 18:09] girarda opened #19937 "Expose an field on the UI which allows specifying a limit on the pages retrieved"

[2022-11-30 18:10] marcosmarxm commented on #9620
@isu182 @priithaamer please test latest version #9636 tried to solve the issue.

[2022-11-30 18:10] #9620 closed

[2022-11-30 18:11] marcosmarxm commented on #9683
Closed because lack of information. @answerMA please reopen if the issue continue and fill the template correctly.

[2022-11-30 18:11] #9683 closed

[2022-11-30 18:13] marcosmarxm commented on #9692
This page was removed.

[2022-11-30 18:13] #9692 closed

[2022-11-30 18:14] #9775 closed

[2022-11-30 18:15] marcosmarxm commented on #9810
Closing due inactivity, feel free to open a new issue @zamaniramin549 if the issue persists.

[2022-11-30 18:15] #9810 closed

[2022-11-30 18:16] marcosmarxm commented on #9811
Close due missing information.

[2022-11-30 18:16] #9811 closed

[2022-11-30 18:17] marcosmarxm commented on #9865
Closed due inactivty. @nthbooth-feedr please open a new issue if the issue persists.

[2022-11-30 18:17] #9865 closed

[2022-11-30 18:17] anp2 commented on #19911
Hi Any resolution for this issue?.. I got the same issue

[2022-11-30 18:19] marcosmarxm commented on #9883
@nwayne94 I'm closing in favor of https://github.com/airbytehq/airbyte/pull/13658 please open a new issue if the issue persists.

[2022-11-30 18:19] #9883 closed

[2022-11-30 18:23] marcosmarxm commented on #10176
Closing due lack of information. @rnncredit please open a new issue if error persists.

[2022-11-30 18:23] #10176 closed

[2022-11-30 18:26] marcosmarxm commented on #10207
@da-firebolt the connectors stills use version v52, do you have any issue with that?

[2022-11-30 18:27] ajboni opened #19938 "Internal Server Error: Duplicate key (attempted merging values...)"
## Environment
- **Airbyte version**:  0.40.22
- **OS Version / Instance**: RHEL
- **Deployment**:  Docker
- **Source Connector and version**: Files 0.2.31
- **Destination Connector and version**: Postgres 0.3.26
- **Step where error happened**: Bug appeared after creating a connection

## Current Behavior
I made a new connection and now im locked in the UI. cannot reach source, destination or con

[2022-11-30 18:27] gosusnp commented on #19853
Provide an endpoint that returns if there is connectors that could be updated.

[2022-11-30 18:28] marcosmarxm commented on #10179
@TSkrebe can you test with latest vesion of both connectors? I'm closing due inactivity. Please open a new issue if the problem persist.

[2022-11-30 18:28] #10179 closed

[2022-11-30 18:30] gosusnp commented on #19852
Check feasibility and improvement on the backend beforehand to make sure we are tackling the right problem

[2022-11-30 18:37] girarda commented on #19795
@jhajajaas what version of the CDK are you using? I would recommend upgrading to at least `0.4.1` because this should be fixed by https://github.com/airbytehq/airbyte/pull/18529

[2022-11-30 18:39] marcosmarxm commented on #10336
@GKTheOne I'm closing in favor of new Helm chart deployment method. Please open a new one if the issue persists.

[2022-11-30 18:39] #10336 closed

[2022-11-30 18:40] bleonard commented on #19701
Slack [thread](https://airbytehq-team.slack.com/archives/C046V1Z2YJH/p1669078989934329) about this.

Let's pipe the list from the protocol to debezium. Verify the behavior in CDC or for example, if a column changes that is not in the list, we don't output it (and vice versa).
If might be worth checking what happens with a column name with a `.` because the docs say they are regular expressions.
If

[2022-11-30 18:42] misteryeo commented on #18711
@davydov-d added a few comments in the checklist

[2022-11-30 18:42] marcosmarxm commented on #10378
@febarbosa182 did you check latest Helm deployment?

[2022-11-30 18:43] bleonard commented on #19801
@subodh1810 can you look into this?

[2022-11-30 18:46] marcosmarxm commented on #10521
Closed because scheduler container is deprecated.

[2022-11-30 18:46] #10521 closed

[2022-11-30 18:52] olvgrolle commented on #3212
@bazarnov Baz - I have a question regarding closing this source request.
An Oracle Netsuite Analytics connector is very different than a netsuite Rest API connector.
Netsuite Analytics allows you to pull any data persisted in the Netsuite schema, while the REST API connector only allows to interrogate objects exposed by the rest API.

A netsuite analytics connector is basically 'just' a jdbc conne

[2022-11-30 18:54] bleonard commented on #18765
Non CDC: Let's investigate to see if this is valuable at all (StateDecoratingIterator). If so, can it be rate limited (mod 20)?
Introduced [recently](https://github.com/airbytehq/airbyte/pull/15535). Why? If we can't figure it out, take it out.

[2022-11-30 18:55] girarda opened #19940 "lowcode: spec file used by acceptance tests should be in integration_tests directory"
## Tell us about the problem you're trying to solve
Now that the spec can be specified in the connector manifest, the spec file is only used by SATs to assert the spec matches what it is expected to be.

## Describe the solution you’d like
We should move and rename the spec file to emphasize the fact that it is only used by the SATs.

## Acceptance tests
- [ ] Generator creates the spec file in `<

[2022-11-30 18:56] pmossman commented on #19670
This issue captures the contents of this other issue: https://github.com/airbytehq/airbyte/issues/19669

[2022-11-30 18:57] pmossman commented on #19669
Closing this as a duplicate in favor of https://github.com/airbytehq/airbyte/issues/19670

[2022-11-30 18:57] #19669 closed

[2022-11-30 18:58] #16356 closed

[2022-11-30 19:07] davrax commented on #19768
Nevermind, solved by removing these params from the connection/configuration.yaml:

-schema_change
-notify_schema_changes
-non_breaking_changes_preference
-geography

If only Octavia hadn't imported them on connection import earlier today!

[2022-11-30 19:07] marcosmarxm commented on #10589
Closing due inactivity. @rcheatham-q please open a new issue if the error persists.

[2022-11-30 19:07] #10589 closed

[2022-11-30 19:08] marcosmarxm commented on #10611
Close because of lack of information of what connector version and platform version.

[2022-11-30 19:08] #10611 closed

[2022-11-30 19:08] marcosmarxm commented on #10616
Close due inactivity.

[2022-11-30 19:08] #10616 closed

[2022-11-30 19:11] jhajajaas commented on #19795
Thanks for pointing that @girarda. I've opened a PR for that.

[2022-11-30 19:13] marcosmarxm commented on #10792
Solved by https://github.com/airbytehq/airbyte/pull/10853

[2022-11-30 19:13] #10792 closed

[2022-11-30 19:14] blarghmatey commented on #19902
So I found a specific table that is causing the errors. A representative entry pulled from the data loaded to S3 is:

[2022-11-30 19:17] blarghmatey commented on #19902
Here's the sync summary for the failed table creation:
[code]

[2022-11-30 19:18] marcosmarxm commented on #11055
Closed by https://github.com/airbytehq/airbyte/pull/18393

[2022-11-30 19:18] #11055 closed

[2022-11-30 19:20] blarghmatey commented on #19902
In the UI Airbyte shows the source schema having a type of `Object` for the nested field in the BigQuery source.

[2022-11-30 19:23] sh4sh commented on #18079
Hey @betocolon23 thanks for sharing this fix. From what I can tell, airbyte-worker pulls the kubectl binary for the architecture the image is built on:

https://github.com/airbytehq/airbyte/blob/4c0ffb6c4036179e1e8961608273f4c191cde55e/airbyte-workers/Dockerfile#L9-L10

Would that explain why you're seeing this behaviour? I'll try some testing on my end too.

[2022-11-30 19:27] marcosmarxm commented on #11257
@qops1981 I'm closing due inactivity and corresponds to an old version of Airbyte. Please open a new issue if the problem persists.

[2022-11-30 19:27] #11257 closed

[2022-11-30 19:28] marcosmarxm commented on #11273
I'm closing due inactivity, @ralphiech if the issue persists please open a new issue and provide a code example of your connector. This issue doesn't appears in others sources connectors build by Airbyte.

[2022-11-30 19:28] #11273 closed

[2022-11-30 19:30] marcosmarxm commented on #11323
@kodeine I'm closing due inactivity. Please test latest version of Helm deployment and if the issue persist please open a new issue.

[2022-11-30 19:30] #11323 closed

[2022-11-30 19:43] marcosmarxm commented on #11619
@webtekindo I'm closing due inactivity. Please open a new issue if the problem persits.

[2022-11-30 19:43] #11619 closed

[2022-11-30 19:47] marcosmarxm commented on #11753
@ufou can you test latest Helm deployment? I'm closing due inactivity.

[2022-11-30 19:47] #11753 closed

[2022-11-30 19:53] marcosmarxm commented on #11826
Hello @GreeshmaGirish I didn't find any meaningful error in your logs, can you test with latest version of Airbyte. I'm closing the issue, please open a new one if the issue persits.

[2022-11-30 19:53] #11826 closed

[2022-11-30 19:54] marcosmarxm commented on #11832
@leoalmeidasant Can you test latest version of Airbyte? I'm closing because problem related to older version of Airbyte. Feel free to open a new issue if the problem persists so we can help you.

[2022-11-30 19:54] #11832 closed

[2022-11-30 19:57] marcosmarxm commented on #11855
Closing due inactivity. Please open a new ticket if the problem persits.

[2022-11-30 19:57] #11855 closed

[2022-11-30 19:59] marcosmarxm commented on #11875
I'm closing the issue because the error shared here doesn't correspond to the root cause. Please when you create an issue upload the complete log file instead of only posting a single line. Also sorry the delay to any feedback about the issue.

[2022-11-30 19:59] #11875 closed

[2022-11-30 20:00] marcosmarxm commented on #11914
Sorry the long delay here. I added the issue to connector backlog.

[2022-11-30 20:02] marcosmarxm commented on #11923
I'm closing due inactivity and didn't see other people complaining about this. @mdibaiee can you test latest version of the connector and see if the problem persist? Please open a new issue if does.

[2022-11-30 20:02] #11923 closed

[2022-11-30 20:04] marcosmarxm commented on #11933
I added the issue to team backlog @Tolsto

[2022-11-30 20:05] marcosmarxm commented on #11984
Hello @sooand I'm closing due inactivity. Please test latest version of Airbyte platform and connectors. If the issue persist please open a new issue.

[2022-11-30 20:05] #11984 closed

[2022-11-30 20:07] #13271 closed

[2022-11-30 20:09] marcosmarxm commented on #12168
Closed by https://github.com/airbytehq/airbyte/pull/12171

[2022-11-30 20:09] #12168 closed

[2022-11-30 20:14] marcosmarxm commented on #12367
Sorry the delay in this issue @luke-oa I added it to team backlog. But today using Kubernetes deployment you must sometimes discover what is the resource need to work with your connector pods.

[2022-11-30 20:15] supertopher commented on #17866
@davinchia I don't think I understand the upsides to this change.  On some level I understand having a layer of basic auth.  More context on what we want to get out of this would help me prioritize ProdEng's effort here

[2022-11-30 20:16] marcosmarxm commented on #12464
closing this because import configuration is a deprecated feature.

[2022-11-30 20:16] #12464 closed

[2022-11-30 20:18] marcosmarxm commented on #12476
Closing because lack of information of connector and platform version. @pilayar76 please test with latest version of Airbyte and open a new issue if the problem persit.

[2022-11-30 20:18] #12476 closed

[2022-11-30 20:19] marcosmarxm commented on #12506
Close due inactivity. @ayyoubmaulana please try latest version and if the issue persit please open a new issue.

[2022-11-30 20:19] #12506 closed

[2022-11-30 20:20] marcosmarxm commented on #12517
I added the issue to connector team backlog @joaquin-orono

[2022-11-30 20:20] #12542 closed

[2022-11-30 20:24] #12573 closed

[2022-11-30 20:27] marcosmarxm commented on #12597
@hbd I'm closing due inactivity, could you try to use latest version of FB Marketing connector? If the problem continue please open a new issue.

[2022-11-30 20:27] #12597 closed

[2022-11-30 20:29] marcosmarxm commented on #12729
@hailv82 I'm closing due inactivity. Please open a new Github issue if this persist. Also use the template given informing the platform version and what steps you have made.

[2022-11-30 20:29] #12729 closed

[2022-11-30 20:30] marcosmarxm commented on #12749
@leoalmeidasant I'm closing because this issue is about an old version of Airbyte. Please open a new issue if this persist in latest version.

[2022-11-30 20:30] #12749 closed

[2022-11-30 20:31] marcosmarxm commented on #12825
Solved by #12828

[2022-11-30 20:31] #12825 closed

[2022-11-30 20:32] marcosmarxm commented on #12845
It will depends on how many connections and about your source data size. It isn't something we can give to you and you must explore based on your use case.

[2022-11-30 20:32] #12845 closed

[2022-11-30 20:34] marcosmarxm commented on #12870
This is not possible today @GouthamJM

[2022-11-30 20:38] mijonmustard commented on #18822
I note airbyte-webapp has a 100M client_max_body_size so I suspect this is being restricted by the default 1MB limit in airbyte-proxy? My request is 1.45MB.

[2022-11-30 20:39] marcosmarxm commented on #13015
I'm closing this due inactivity. Please open a new one if the problem repeats.

[2022-11-30 20:39] #13015 closed

[2022-11-30 20:41] marcosmarxm commented on #13076
Closing because MeiliSearch now uses Python backend #18036

[2022-11-30 20:41] #13076 closed

[2022-11-30 20:46] marcosmarxm commented on #13365
Closed due inactivity.

[2022-11-30 20:46] #13365 closed

[2022-11-30 20:46] marcosmarxm commented on #13376
Closing due inactivity.

[2022-11-30 20:46] #13376 closed

[2022-11-30 20:52] marcosmarxm commented on #13898
Closing this because Helm chart is using a new deployment method. Please open a new issue if the problem persist.

[2022-11-30 20:52] #13898 closed

[2022-11-30 20:53] #13946 closed

[2022-11-30 20:57] marcosmarxm commented on #14381
I'm closing because missing connector version and doesn't have complete log file. @rohitkhatri please open a new issue and use template and upload complete log file.

[2022-11-30 20:57] #14381 closed

[2022-11-30 21:08] marcosmarxm commented on #14463
Closed bc new Helm deployment.

[2022-11-30 21:08] #14463 closed

[2022-11-30 21:10] marcosmarxm commented on #14487
Closed by @14488

[2022-11-30 21:10] #14487 closed

[2022-11-30 21:17] marcosmarxm commented on #14827
Please reset and drop your old tables and execute a new sync. I'm closing this due inactivity. Please open a new issue if the problem persist.

[2022-11-30 21:17] #14827 closed

[2022-11-30 21:19] marcosmarxm commented on #14889
@emily-flambe closing this because uses an old version of FB Marketing connector. Please open a new issue if the problem persist.

[2022-11-30 21:19] #14889 closed

[2022-11-30 21:20] marcosmarxm commented on #14912
Closing because this isn't a single request. Please open individual issues to each source.

[2022-11-30 21:20] #14912 closed

[2022-11-30 21:22] marcosmarxm commented on #14987
Not yet @ecylmz please if you can give more information about how reproduce the issue it will help a lot.

[2022-11-30 21:23] marcosmarxm commented on #15002
Logs rotation was readded in latest version of Airbyte (0.40+) please upgrade your instance.

[2022-11-30 21:23] #15002 closed

[2022-11-30 21:24] marcosmarxm commented on #15022
This look was created as a feature but must be a bug. I'm closing because of lack of information.

[2022-11-30 21:24] #15022 closed

[2022-11-30 21:24] #15032 closed

[2022-11-30 21:24] gosusnp commented on #19855
I agree, we should be mindful of not trying to put everything there. `supportNormalization` and `supportDBT` should not have been there, but I think this is becoming clearer because the requirements there are shifting.

There are some functionality that impacts how the platform communicates with the connectors, thinking of State type or OAuth for example. Some form of descriptions could help the p

[2022-11-30 21:26] evantahler commented on #17866
I can chime in!

We want to provide OSS Airbyte users with a layer of auth by default.  Yes, we tell folks they are responsible for securing their server, but folks will always [forget](https://airbyte.com/blog/improving-security-for-open-source-airbyte-users), and so we've adopted a ["secure by default"](https://docs.google.com/document/d/1oETYBlih3CIP9l89Ht56elXAPMc74MrTJnQT1bxOv0A/edit#heading=

[2022-11-30 21:27] marcosmarxm commented on #15195
Closed by #15207

[2022-11-30 21:27] #15195 closed

[2022-11-30 21:28] edgao opened #19945 "Normalization should handle special characters in field names"
seen in https://github.com/airbytehq/oncall/issues/1131

certain special characters (unclear which ones) cause us to generate sql with syntax errors:
[code]

investigate to figure out what characters cause this behavior, and fix it.

[2022-11-30 21:29] marcosmarxm commented on #15254
Closed due inactivity.

[2022-11-30 21:29] #15254 closed

[2022-11-30 21:30] VitaliiMaltsev commented on #19211
@klsoper it is expected behaviour because he used ssl mode require. In this case Postgres server reject all non-ssl connection
Option 1
User should choose one of _disable, allow, prefer_ ssl modes and setup SSH tunnel for secure connection
Option 2
User should enable SSL on Postgres Server

[2022-11-30 21:30] marcosmarxm commented on #15400
Closed because of lack of destination version info. Current status of spec.json of Clickhouse support normalization

[2022-11-30 21:30] #15400 closed

[2022-11-30 21:33] marcosmarxm commented on #15505
Closed due inactivity.

[2022-11-30 21:33] #15505 closed

[2022-11-30 21:34] #15634 closed

[2022-11-30 21:38] marcosmarxm commented on #15640
Closed by https://github.com/airbytehq/airbyte/pull/15827

[2022-11-30 21:38] #15640 closed

[2022-11-30 21:38] marcosmarxm commented on #15641
Closed due inactivity.

[2022-11-30 21:38] #15641 closed

[2022-11-30 21:39] #15661 closed

[2022-11-30 21:40] marcosmarxm commented on #15682
I'm using Airbyte 0.40+ and can see logos. Closing because isn't possible to reproduce.
![image](https://user-images.githubusercontent.com/5154322/204913928-7e2367dc-78ec-4c75-a573-216c74c13383.png)

[2022-11-30 21:40] #15682 closed

[2022-11-30 21:46] #15927 closed

[2022-11-30 21:50] mijonmustard opened #19947 "Source Salesforce: "QUERY_TIMEOUT" on Task Object Import"
## Environment
- **Airbyte version**:  0.40.23
- **OS Version / Instance**: Ubuntu 22.04 on GCP
- **Deployment**: Docker
- **Source Connector and version**: Salesforce 1.0.27
- **Destination Connector and version**: Snowflake 0.4.40
- **Step where error happened**: Sync job

## Current Behavior
[code]

## Expected Behavior
Should import be able to handle large object imports.

## Logs
[73656505_0d

[2022-11-30 21:51] marcosmarxm commented on #16147
Closed by #16334

[2022-11-30 21:51] #16147 closed

[2022-11-30 21:54] davinchia commented on #17866
Thanks Evan!

@supertopher the simplest way to explain this is to try and run Airbyte Docker locally. You've noticed a password page. We want to enable the same flow in Airbyte Kubernetes.

In addition to this, @benmoriceau is hoping to also leverage the Airbyte Proxy container to blue/green deploy controller changes as we convert the server over to micronaut. He's blocked by the lack of this in K

[2022-11-30 21:54] supertopher opened #19948 "Fix flaky acceptance test"
![imagine consistency](https://media4.giphy.com/media/LrLtEDxfBiM4KDSSYl/giphy.gif?cid=ecf05e47k3ehwi85lrxiu2s85c5cax9errn6hymklkrwliwk&rid=giphy.gif&ct=g)

# In the course of identifying flaky tests for helm acceptance we found a flaky test that looks like it belongs to this engineering team

We believe this test is failing due to the way the test itself is implemented.  We have commented out the

[2022-11-30 21:55] marcosmarxm commented on #16413
Closed by #16131

[2022-11-30 21:55] #16413 closed

[2022-11-30 21:55] marcosmarxm commented on #16535
Closed by https://github.com/airbytehq/airbyte/pull/16131

[2022-11-30 21:55] #16535 closed

[2022-11-30 21:57] marcosmarxm commented on #16586
@xpuska513 this is solved?

[2022-11-30 21:58] marcosmarxm commented on #16587
@xpuska513 this is solved?

[2022-11-30 22:00] supertopher commented on #19948
tagging the most obvious people based on blame @pmossman @mfsiega-airbyte

[2022-11-30 22:03] supertopher commented on #19948
[very detailed slack thread](https://airbytehq-team.slack.com/archives/C046KQF5GBT/p1669658558828929).  TLDR probs a race condition when the VM is deleted

[2022-11-30 22:06] marcosmarxm commented on #16971
@LarsHanegraaf today there is a limit of the message size Airbyte can handle to discovery step. My suggestion is to create a specific user with limited permission to ingest fewer tables.

[2022-11-30 22:08] marcosmarxm commented on #17003
@sajarin for what source this happens?

[2022-11-30 22:12] sajarin commented on #17003
@marcosmarxm looks like this is a custom connector for konnectivecrm (based on the logs)

[2022-11-30 22:44] evantahler opened #19951 "Store metrics about how many source and destination config updates there were in the sync"

[2022-11-30 22:53] edgao opened #19952 "Source Postgres: Don't misparse "infinity" timestamps"
Seen in https://github.com/airbytehq/oncall/issues/1124

Postgres supports certain special values for dates and times - https://www.postgresql.org/docs/current/datatype-datetime.html#DATATYPE-DATETIME-SPECIAL-VALUES

Of these, `infinity` and `-infinity` pose a special challenge, because they're actually persisted into the db (the other values get converted to normal timestamps). `source-postgres`

[2022-11-30 23:15] cgardens commented on #19855
@gosusnp maybe the distinction we need to make is between _platform_ features and _protocol_ features. If we come up with a feature of the protocol that we want to feature flag, then potentially the spec may be a place to put it. But for features of the Airbyte _platform_ those should not be in the protocol. Does that seem fair / clear?

[2022-11-30 23:36] pedroslopez commented on #17617
I think the above sounds good for the default availability strategy of trying to sync and catching statuses (403s). For those that do have specific scopes that need to be granted and that we have the ability of checking such scopes, it may be more helpful to explicitly call out that you need XYZ scope or the _Gold Premium Plus+™_ plan level to access this stream

[2022-11-30 23:48] ryankfu commented on #19764
Follow up here, tech spec has been reviewed by various members of the Airbyte organization. There are still some open questions the are not *hard* blockers but will be areas that should be addressed

Notable questions include:
* What impact will this have on _FULL_REFRESH_ mode since this change is no longer the _all or none_ case where destinations will only commit when the full read has been com

[2022-11-30 23:48] #19764 closed

[2022-11-30 23:50] sivankumar86 opened #19954 "Ability to remove connections"
I have configured custom connector (your source connectors)  and I want to remove it however, there is no option to remove.