[2022-04-20 20:18] octavia-squidington-iii commented on #12204
cc @airbytehq/frontend

[2022-04-20 20:18] #11888 closed

[2022-04-20 20:20] edmundito commented on #12138
I broke down what we've discussed so far into issues and added each one to the description of this epic. They are categorized into bugs and enhancements. Bugs are things that the devs can tackle with little to no design input, but enhancements are things that will need a design pass first.

[2022-04-20 20:29] aharelick opened #12205 "Docs Formatting"
This connector doc does not follow our new standard format.

[2022-04-20 20:30] aharelick opened #12206 "Getting Started Guide"

[2022-04-20 20:37] aharelick opened #12207 "Pagination"

[2022-04-20 20:37] aharelick opened #12208 "Docs Formatting"
This connector doc does not follow our new standard format.

[2022-04-20 20:51] aharelick opened #12209 "Source Mixpanel: Incremental Sync"
Not currently implemented for the Engage, Annotations, Cohorts and Cohort Members streams.

Incremental Sync:
- Engage -> Needs investigation if 'created' property is present by default, if it is custom property stream will require user-defined cursor. *might require dynamic schema creation for custom user defined properties
- Annotations -> Date field present but connector note says 'annotation d

[2022-04-20 20:51] aharelick opened #12210 "Test Coverage"
[Unit Test Files](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-mixpanel/unit_tests) - Some testing, but more is likely required.

[2022-04-20 20:52] aharelick opened #12211 "Docs Formatting"
This connector doc does not follow our new standard format.

[2022-04-20 20:52] aharelick opened #12212 "Getting Started Guide"
Very stubbed currently.

[2022-04-20 20:55] pmossman commented on #11673
@supertopher does this issue require any work? @timroes it looks like you're the permanent OC for https://airbyte.pagerduty.com/schedules#P65VJEK, I imagine we can simply escalate an issue to that schedule if we need frontend visibility?

[2022-04-20 21:04] cgardens commented on #11673
I think we were having fantasies about the following:
page comes in and has options: 1) resolve 2) acknowledge 3) escalate _4) escalate to frontend_

If indeed this is pie in the sky, I think just some way to redirect to the frontend rotation that is documented is a reasonable second best.

[2022-04-20 21:04] aharelick opened #12213 "Docs Formatting"
This connector doc does not follow our new standard format.

[2022-04-20 21:04] aharelick opened #12214 "Getting Started Guide"
Essentially stubbed.

[2022-04-20 21:14] timroes commented on #11673
@pmossman Yeah, tough life, isn't it :wink: As soon as the rest of the team is a bit more onboarded we plan to add more FE people to that rotation.

In discussion with Peter and Topher yesterday, my suggested "escalation policy" (for now, until we have better timezone coverage with the rest of the team) would be:

* Is this clearly a FE issue?
  * no: try to involve either platform team OC first t

[2022-04-20 21:15] aharelick opened #12216 "Incremental Sync"

[2022-04-20 21:15] aharelick opened #12217 "Pagination"

[2022-04-20 21:15] aharelick opened #12218 "Docs Formatting"
This connector doc does not follow our new standard format.

[2022-04-20 21:22] aharelick opened #12219 "Full Stream Coverage"
Need Webhooks, Workspaces, Images, Themes implemented.

Going through the [reference](https://developer.typeform.com/get-started/) API documentation it seems that the connector is missing the following streams:

- Webhooks -> [https://api.typeform.com/forms/{form_id}/webhooks](https://api.typeform.com/forms/%7Bform_id%7D/webhooks)
- Workspaces -> https://api.typeform.com/workspaces
- Images -> htt

[2022-04-20 21:22] aharelick opened #12220 "Test Coverage"
[Unit Test Files](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-typeform/unit_tests) - Coverage seems to be limited, needs more triage.

[2022-04-20 21:23] aharelick opened #12221 "Docs Formatting"

[2022-04-20 21:23] aharelick opened #12222 "Getting Started Guide"
Needs description of steps in Airbyte UI.

[2022-04-20 21:33] aharelick opened #12223 "Docs Formatting"
This connector doc does not follow our new standard format.

[2022-04-20 21:34] aharelick opened #12224 "Getting Started Guide"
Currently a stub.

[2022-04-20 21:41] aharelick opened #12225 "Test Coverage"
[Unit Test Files](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-pipedrive/unit_tests) - No unit tests.

[2022-04-20 21:41] aharelick opened #12226 "Docs Formatting"
This connector doc does not follow our new standard format.

[2022-04-20 21:41] aharelick opened #12227 "Getting Started Guide"
Needs description of steps in Airbyte UI.

[2022-04-20 22:38] NayaBeauty1 commented on #11791
do this work

[2022-04-20 22:45] marcosmarxm commented on #11832
@leoalmeidasant Airbyte will only save states if the data was successfully saved in destinations, the checkpoint feature works for a few source apis but not for databases yet. So, the state will only be updated if the sync has success.

[2022-04-20 23:33] andyjih commented on #11885
Some use cases after taking with Erica:
- Search for a workspace by email or workspace id, and then going to their workspace in Cloud
- Search for a workspace by email or workspace id, and then extending their trial
- Search for a workspace by email or workspace id, and then disable/delete that workspace.

[2022-04-20 23:57] mhbw commented on #11334
just want to say I love this tool, and as a Shopify client, love seeing this is in progress! Thanks all.

[2022-04-21 00:03] #11707 closed

[2022-04-21 00:03] sherifnada commented on #11810
done and recording uploaded to gdrive

[2022-04-21 00:03] #11810 closed

[2022-04-21 00:14] andyjih commented on #11885
Other general technical support [needs here](https://docs.google.com/document/d/1r0MdGtO6yzDwrC40U55IKPKQ96RMaiXgcZX4AyvVmI8/edit), but I extracted most of the relevant ones that I think can be addressed with something like Retool.

[2022-04-21 00:32] #11631 closed

[2022-04-21 02:09] danieldiamond commented on #11899
@bazarnov just FYI there's still something going on with the main incremental stream.
I'm seeing the `ticket_metric` stream freeze on incremental sync.
`User` and `Ticket` stream work fine but I assume its because its using the updated class. But all the other incremental streams `SourceZendeskSupportStream` seem to hang

[2022-04-21 02:59] #11891 closed

[2022-04-21 03:08] leo-pragi commented on #5165
Any updates on `insert_segments_date_expr` toggle off? We are also running into same issue.

[2022-04-21 03:14] nataliekwong commented on #4409
We can close this. My understanding is that we should just always expect there to be a level of duplication with emails and IDs.  However, this doesn't actually have to do with Amplitude in the end, so moving away from Amplitude is independent to closing this.

As an aside, Amplitude still has some value to us by being able to pivot very quickly by any attributes in a no-code way, so you don't hav

[2022-04-21 04:14] sherifnada commented on #11334
update: our app is still in review.

the main blockers right now are:
1. Shopify is requiring that we process any payments customers make to us to use the shopify connector through their billing API. e.g the customer puts their credit card in shopify, and when they want to use it in Airbyte, we call their API, and shopify pay us out based on the customer’s.
2. shopify is requiring that we do oauth

[2022-04-21 06:11] grubberr commented on #8916
we need to implement it

[2022-04-21 07:28] alafanechere opened #12232 "source-twilio: add data for empty streams"
We do not have test data for the following streams in our Twilio test account:
* message_media
* conferences

We disabled basic read tests on these streams to make the test pass in https://github.com/airbytehq/airbyte/pull/12183

[2022-04-21 07:28] dudidayan1 commented on #12094
Happened to me also with Google Search Console -> Clickhouse

[2022-04-21 07:46] shubhransh-locale opened #12233 "Not able to create source / destination in docker + mac silicon chip"
## Environment
- **Airbyte version**:  0.36.1-alpha
- **OS Version / Instance**: mac 12.3.1 (Silicon chip)
- **Deployment**: Docker
- **Source Connector and version**:  PokeAPI
- **Destination Connector and version**: LocalCSV
- **Severity**: High
- **Step where error happened**: Deploy

## Current Behavior
*Tell us what happens.*
I am trying airbyte for first time in my local machine with docker,

[2022-04-21 08:02] #9225 closed

[2022-04-21 08:42] shubhransh-locale commented on #2017
I am trying to create simple source and destination
Sources: Mysql, Pokimon API
Destination: Local CSV
always getting following error
`i.a.c.i.LineGobbler(voidCall):82 - WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested`

Is there a way to fix this?

[2022-04-21 09:56] Phlair commented on #12191
I think [connectors as config ](https://github.com/airbytehq/airbyte/issues/11582) also solves this, but implementing this functionality and migrating connectors is going to take time so it may be worth attacking this in another way simultaneously.

[2022-04-21 10:32] darian-heede commented on #8627
Hi, is there any news regarding this issue?

[2022-04-21 11:16] bazarnov opened #12237 "[EPIC] Source Google Search Console to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to checklist (need to be created and attached):

- MLP improvements:

- All outstanding bug reports blocking Beta:

- Label connector as Beta in cloud:
   - [ ] label `Google Search Console` as beta in the UI

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist d

[2022-04-21 11:20] bazarnov opened #12238 "[EPIC] Source Bing Ads to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to checklist (need to be created and attached):

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ] https://github.com/airbytehq/airbyte/issues/9972
   - [ ] https://github.com/airbytehq/airbyte/issues/6294

- Label connector as Beta in cloud:
   - [ ] label `Bing Ads` as beta i

[2022-04-21 11:22] nauxliu commented on #12103
Did more tests today, full sync works, only incremental syncs will fail.
There are some suspicious logs, the total number of rows was incorrect for these failed syncs, see the logs below, we actually have 5321860 records but Airbyte says we have 4159420 in total.

[code]

[2022-04-21 11:23] bazarnov opened #12239 "[EPIC] Source Mixpanel to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to checklist (need to be created and attached):

- MLP improvements:
   - [ ] Document any stream or feature not supported by Airbyte but supported by Fivetran or Stitch

- All outstanding bug reports blocking Beta:
   - [ ] https://github.com/airbytehq/airbyte/issues/11251
   - [ ] https://github.com/

[2022-04-21 11:26] bazarnov opened #12240 "[EPIC] Source Amplitude to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist](https://docs.google.com/spreadsheets/d/1fPZaImKjj-cPpwF9qpwYD4noPmH9IHKhmDzCiUbkugE/edit#gid=1288588270):

- MLP improvements:
   - [x] #12432

- All outstanding bug reports blocking Beta:
   - [x] https://github.com/airbytehq/airbyte/issues/10220
   - [x] https://github.com/airbytehq/ai

[2022-04-21 11:36] davinchia opened #12241 "Shift our build runners to a separate AWS environment."
## Tell us about the problem you're trying to solve
Today our build runners live in the same environment as the connector testing infrastructure. This makes it tough to do cost tracking. The solution is to shift our build infrastructure into its own AWS environment so usage is clearly separated.

We could shift the testing infrastructure into its own environment. However that's likely to be a bigg

[2022-04-21 11:37] davinchia commented on #12241
fyi @sherifnada the ternary dashboards today aren't entirely accurate since there is no good sustinable way or differentiating between which costs are what.

fyi @supertopher @git-phu

[2022-04-21 11:56] #11347 closed

[2022-04-21 12:33] tirth7777777 commented on #11934
Fixed by #12134

[2022-04-21 12:33] #11934 closed

[2022-04-21 12:44] sreeram-venkitesh commented on #10030
@alafanechere Do you think this could be a good first issue to dip my toes into connector development? I have experience using Airbyte for a couple of months now and have only made a documentation contribution before. Please guide me on this :)

[2022-04-21 13:25] BenjaminGK opened #12243 "Source Freshservice: incorrect schema data type used"
## Environment
- **Airbyte version**:  Master-branch
- **Source Connector and version**:  Freshservice
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
*Tell us what happens.*
The current schema data type used for Freshservice is incorrect due to incorrect documentation from Freshservice which means that it is not possible to sync data due to incorrect columns be

[2022-04-21 15:12] edmundito opened #12247 "In cloud sign in, there is no feedback when resetting password for non-existing user"
## Environment
- **Airbyte version**:  Cloud

## Current Behavior
When resetting a password for an email that does not exist, no error is shown to the user.

![Screen Shot 2022-04-21 at 11 01 38](https://user-images.githubusercontent.com/168664/164488764-cefed227-697e-4073-8efe-58fd2b8dc212.png)

## Expected Behavior
At the very least, it should notify the user that an account with the email was n

[2022-04-21 15:46] nataliekwong commented on #9625
I prefer the latter, to only choose it if a cursor is defined.

As an aside, I also had thought from our conversation we would realistically never hit this scenario given we expect all connectors to have full refresh | overwrite, so this was just a fail safe?

[2022-04-21 15:47] erica-airbyte commented on #3723
@supertopher it does not look like this was an oncall issue but it is related to one. I think we can close the oncall issue and reopen if more users have confusion with the green check mark when syncs are running.

[2022-04-21 15:50] #11886 closed

[2022-04-21 16:18] sherifnada commented on #12032
Completed here https://docs.google.com/document/d/114u2TAKSd-cPf53vH02gukw_rtwp3OVXp5Ov3gzXByU/edit?usp=drivesdk

[2022-04-21 16:18] #12032 closed

[2022-04-21 16:24] timroes commented on #9625
Yes that's still true, it should in practise not really happen.

[2022-04-21 16:33] evantahler commented on #12029
Finish spec to use AirbyteLogMessage and AirbyteDisplayMessage to create final sync statuses

[2022-04-21 16:36] evantahler opened #12248 "Write spec to use `main_failure_reason` to assign failure to appropriate connector in dashboards"
This POC will then be used by the analytics team to update dashboard

Deliverable:

Doc with some SQL that attribute failure to different connectors. Requires figuring out how to count each sync attempt once.

[2022-04-21 16:48] sherifnada opened #12249 "Update CDK intro tutorial to avoid having to use paid features"
* how to avoid paid features
* note that they need to signup
* update auth instructions

[2022-04-21 17:03] git-phu commented on #11137
Example of the cloud workflow triggered by a dispatch event from oss https://github.com/airbytehq/airbyte-cloud/actions/runs/2203154361

[2022-04-21 17:04] #11882 closed

[2022-04-21 17:11] #11137 closed

[2022-04-21 17:22] sherifnada commented on #12029
spec WIP: https://docs.google.com/document/d/1ctrj3Yh_GjtQ93aND-WH3ocqGxsmxyC3jfiarrF6NY0/edit?usp=drivesdk

[2022-04-21 17:46] nataliekwong commented on #12034
Hey @edmundito, we reviewed this issue in an onboarding review today and discussed a slight change to the implementation.  Rather than implementing a text labvel, it's preferred to use a checkbox, like this: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/WEB-APP?node-id=33635%3A177068

cc @Upmitt @misteryeo

[2022-04-21 17:46] tealjulia opened #12250 "Improve user experience when deleting a connection"
## Tell us about the problem you're trying to solve
After a user clicks "Delete" in the confirmation modal to delete a connection, there isn't any visual confirmation that something has happened.  The button enters a loading state, but once it is done with loading the modal and button stick around, and the button is clickable, unless a user clicks "Cancel" or navigates to a different page.

If I n

[2022-04-21 17:47] octavia-squidington-iii commented on #12250
cc @airbytehq/frontend

[2022-04-21 17:48] tealjulia commented on #10601
I've created a new issue related to this around poor user experience when deleting the connection as well.
Seems worth addressing quite soon, but outside the scope of what @timroes outlined above.

https://github.com/airbytehq/airbyte/issues/12250

[2022-04-21 17:59] pmossman opened #12251 "Write OC Runbook"

[2022-04-21 18:29] azhard commented on #8830
Any updates here? This is a huge blocker for my team right now as the main reason we're moving to CDC replication is to capture deletions.

[2022-04-21 18:42] grishick commented on #8039
This epic is superseded by https://github.com/airbytehq/airbyte/issues/10591

[2022-04-21 18:42] #8039 closed

[2022-04-21 20:25] grishick opened #12255 "Support Key Pair authentication for Snowflake destination"
## Tell us about the problem you're trying to solve
Currently for our snowflake destination we only support authentication via username and password but snowflake supports other forms of authentication as well.
Ref : https://docs.snowflake.com/en/user-guide/authentication.html

## Describe the solution you’d like
A user should be able to use key pair authentication for Snowflake destination connec

[2022-04-21 20:30] grishick opened #12256 "Support OAuth for Snowflake destination"
## Tell us about the problem you're trying to solve
Currently for our snowflake destination we only support authentication via username and password but snowflake supports other forms of authentication as well.

## Describe the solution you’d like
User should be able to use OAuth to authentication Airbyte Snowflake destination connector to Snowflake

## Describe the alternative you’ve considered o

[2022-04-21 20:31] andyjih commented on #10495
I put together a [whimsical](https://whimsical.com/Dp6nnCM97pse499UZuDJ5u) flowchart here to capture what I think we're discussing. That said, I made a few assumptions about I think might be happening server-side and in firebase, so please provide comments/corrections!

[2022-04-21 21:04] sherifnada commented on #12241
as a follow on to this ticket, we should make sure to update our onboarding instructions to point people to the right envs.

[2022-04-21 21:08] sherifnada commented on #10842
agreed w tim, the proposed icon 🚫 makes it seem like something is wrong

[2022-04-21 21:12] noahkawasaki-airbyte opened #12257 "JDBC Sources should be able to handle fetch schema with tables that have many columns 240+"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-04-21 21:15] #9325 closed

[2022-04-21 21:49] sherifnada commented on #12138
I would also throw these issues in the hat:

https://github.com/airbytehq/airbyte/issues/8060
https://github.com/airbytehq/airbyte/issues/10874

[2022-04-21 21:56] grishick opened #12262 "Plug-N-Play with popular DBT packages"
## Tell us about the problem you're trying to solve
Making sure connectors supported in Airbyte are compatible and easy to run with contributions from DBT community: https://hub.getdbt.com/

## Describe the solution you’d like
As an Operator/Analytics Engineer/Data Scientist/Data Analyst, I would like to easily install (popular) community built packages on top of airbyte streams without having to

[2022-04-21 21:58] sherifnada commented on #3681
circling back to advocate for the importance of this issue:

right now I’m very averse to exposing things like [this](https://github.com/airbytehq/airbyte/pull/12171/files) because for 99% of users they’re not relevant and will just cause confusion/a worse impression of the polish of the product. But there is objective value in exposing this kind of configuration, even as an intermediate state bef

[2022-04-21 22:06] timroes commented on #9748
Fixed via #12235

[2022-04-21 22:06] #9748 closed

[2022-04-21 22:28] andyjih opened #12263 "Increase memory thresholds for 4 connector types"

[2022-04-21 22:31] #9901 closed

[2022-04-21 23:27] terencecho commented on #10929
Going to leave this issue open until the feature flag is turned on in cloud

[2022-04-22 07:01] davinchia commented on #10495
@timroes my general understanding of this is we want to slim down what the FE is responsible when doing auth. Is that accurate?

[2022-04-22 07:04] timroes commented on #10495
@davinchia that is correct. I believe we want less of the auth logic in the FE than we currently have. That said it's working atm and I don't see any real blockers with the given implementation. I'd treat this more like a tech-debt that would be nice to fix rather than something we need to address urgently.

[2022-04-22 07:14] davinchia commented on #10495
@timroes agreed. was just confirming my understanding. thanks for following up.

[2022-04-22 07:59] nthbooth-feedr opened #12265 "All Syncs with redshift destination 0.3.32 fail rollback to version 0.3.28 resolves the issue"
## Environment
- Is this your first time deploying Airbyte?: No
- OS Version / Instance: Amazon Linux
- Memory / Disk: you can use something like 8Gb / 60 Tb
- Deployment:  Docker
- Airbyte Version: 0.36.2-alpha
- Source name/version:
Google sheets: 0.2.12
Hubspot: 0.1.53
Stripe: 0.1.31 etc.....
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
syncs all fail

[2022-04-22 08:15] ChristopheDuong opened #12266 "Source Github: add incremental support to workflow streams"
## Tell us about the problem you're trying to solve
add incremental support to workflow streams

## Describe the solution you’d like
This cloud connection for internal usage: https://cloud.airbyte.io/workspaces/bed3b473-1518-4461-a37f-730ea3d3a848/connections/a6bfadb7-182a-4766-81fd-1bc70597e594/replication
1. Should work
2. Be able to setup incremental sync modes for those streams

## Related Con

[2022-04-22 08:19] ChristopheDuong commented on #12173
It's very related but it would be nice to add more incremental options to other streams too, not just repository, see https://github.com/airbytehq/airbyte/issues/12266

(should we create issue for each streams to be incremental?)

[2022-04-22 08:21] ChristopheDuong commented on #10938
@sherifnada @misteryeo , should this issue https://github.com/airbytehq/airbyte/issues/12013 be included in this epic too?

[2022-04-22 08:28] davydov-d commented on #10938
@misteryeo Sure, but it's merged already.. I was not aware you review PRs as well
[https://github.com/airbytehq/airbyte/pull/12150/files](https://www.google.com/url?q=https://github.com/airbytehq/airbyte/pull/12150/files&sa=D&source=editors&ust=1650486312938491&usg=AOvVaw2QjoEvDzSb7LF9mts-DrKL)

[2022-04-22 09:19] Upmitt commented on #10842
Agreed with tim and sherif - What about this kind of icon suggestion ?
<img width="656" alt="Screenshot 2022-04-22 at 11 16 53" src="https://user-images.githubusercontent.com/29780098/164676560-50668b82-5277-49b5-9a5f-3afea43ebc61.png">

[2022-04-22 12:27] #11031 closed

[2022-04-22 13:04] #11975 closed

[2022-04-22 13:10] mdibaiee opened #12269 "Source-HubSpot: `value` field in contact_lists/filters is dynamically typed, but spec says it's string"
## Environment
- **Airbyte version**:  N/A
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**: 0.1.53
- **Destination Connector and version**: N/A
- **Severity**: High
- **Step where error happened**: N/A

## Current Behavior
- In source-hubspot, the Airbyte specification for contact_lists/filters/value is a nullable string

https://github.com/airbytehq/

[2022-04-22 13:56] #12034 closed

[2022-04-22 14:04] alafanechere opened #12270 "🐛 octavia-cli: connections re-created on apply"
## Environment

## Current Behavior
When a user generates a connection configuration and edits fields such as `namespace_definition` or `namespace_format` the connection is created but subsequent `octavia apply` recreates the same connection again leading to multiple connections getting created for a single config.

## Expected Behavior
The original connection should be updated on configuration ch

[2022-04-22 14:08] alafanechere opened #12272 "octavia-cli: improve doc to explain versionning and upgrade procedure"
* Explain that the octavia-cli version must match the airbyte version.
* Explain how to upgrade octavia-cli

[2022-04-22 14:11] alafanechere opened #12273 "octavia-cli: check that octavia version is the same as the targeted Airbyte instance"
Users should use the same version of octavia-cli and Airbyte to make sure the API client used by octavia matches the Airbyte API.
We need to expose the current Airbyte version in the workspace endpoint on the API and ensure that current Airbyte version matches the current Octavia version.

[2022-04-22 14:12] kyle-cheung commented on #11973
0.1.12 does not run successfully now.
[logs-7023.txt](https://github.com/airbytehq/airbyte/files/8541665/logs-7023.txt)

[2022-04-22 14:14] #12115 closed

[2022-04-22 14:26] lgomezm commented on #11456
I've claimed this issue.

[2022-04-22 14:45] jscottpolevault commented on #8348
@octavia-squidington-iii - We're almost done with the first version of this LinkedIn Pages source connector, but having a bit of trouble with the authentication piece. Could I request some guidance? I believe the LinkedIn Ads connector has the remaining pieces we need since it uses the same API, but our connector is written in Javascript instead of Python. What are my options for getting some help

[2022-04-22 15:35] davydov-d commented on #10392
@bigdatawonders sorry for the long delay, I'm back on this again now.
The screenshots you have made are not actually attached, could you try again?

I've tried to reproduce the issue for a couple of times but failed. So I have some more questions to clarify:
- Do you apply any filters or segmentation on the UI?
- How do you get the aggregated value in the stream? From what I see, the connector doe

[2022-04-22 15:41] Phlair opened #12276 "🤖 /publish command: auto bumping version for multiple connectors in same PR fails"
## Tell us about the problem you're trying to solve
If you /publish multiple connectors at the same in the same PR, the auto-bump will likely fail on any after the first because the git HEAD isn't up-to-date with the newly auto pushed changes from the first publish.

See example here: https://github.com/airbytehq/airbyte/pull/12274

## Describe the solution you’d like
Add a fetch + pull before we

[2022-04-22 15:49] sadornounnoba opened #12277 "unsupported startup parameter: search_path"
## Environment

Airbyte version: 0.35.65-alpha
OS Version / Instance: Debian 10 buster
Deployment: Docker compose
Source Connector and version: Postgres 0.4.10
Destination Connector and version: N/A
Severity: High
Step where error happened: Setting up source

## Current Behavior

If I set up a Postgres source without specifying a schema everything works fine, however
when a schema is specified in

[2022-04-22 16:03] davydov-d commented on #12013
@ChristopheDuong just to clarify - would it be enough to extend the schemas and records with a new field within this issue? Or should we go further and make a compound cursor field? Or a compound primary key? or both?

[2022-04-22 16:12] evantahler commented on #10330
@sherifnada I'd like to close this epic and sub-issues in favor of the [AirbyteDisplayMessage proposal](https://docs.google.com/document/d/1ctrj3Yh_GjtQ93aND-WH3ocqGxsmxyC3jfiarrF6NY0/edit#)

[2022-04-22 16:32] misteryeo commented on #10938
[https://github.com/airbytehq/airbyte/pull/12150/files](https://www.google.com/url?q=https://github.com/airbytehq/airbyte/pull/12150/files&sa=D&source=editors&ust=1650486312938491&usg=AOvVaw2QjoEvDzSb7LF9mts-DrKL)

@davydov-d  Oh I only asked because we were discussing the 'Window in days' field and whether 'data chunk' should be used. On that field specifically, I'm still unclear what exactly 'Wi

[2022-04-22 16:45] ChristopheDuong commented on #12013
- Extend the schemas and records with a new field would be nice to improve the `Full Refresh - Append` sync mode but is not sufficient.
- Make a compound cursor field would be ideal to improve the `Incremental - X` sync modes

[2022-04-22 16:52] davydov-d commented on #10938
No, `stream slice` is our internal technical term. As a rule, under the hood the connector makes a series of requests to a resource, each of which retrieves a batch/chunk/slice of data during the sync. The `window in days` defines a date range filter for every request. For example, when start_date = 2020-01-01 and window_in_days=30, request filters will look like
2020-01-01..2020-01-30
2020-01-31.

[2022-04-22 17:11] git-phu commented on #11819
also this https://github.com/airbytehq/airbyte/runs/6120377383?check_suite_focus=true#step:14:95

[2022-04-22 17:37] misteryeo commented on #10938
And to confirm @davydov-d - there's no external documentation referencing this field? This is an Airbyte created field?

[2022-04-22 17:51] bleonard commented on #11279
Example bug I saw: https://github.com/airbytehq/airbyte/issues/9775

[2022-04-22 18:02] davydov-d commented on #10938
well, we can reference this one https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/DateRange
window_in_days is a number of days between startDate and endDate

[2022-04-22 18:06] alafanechere opened #12278 "New sandbox account: Hubplanner"
We need a sandbox account to test this contribution https://github.com/airbytehq/airbyte/pull/12145 for [Hubplanner](https://hubplanner.com/)

[2022-04-22 18:17] grishick commented on #11345
Thank you for the idea! It sounds reasonable. Please tag me in the PR when you submit it.

[2022-04-22 18:40] sherifnada commented on #2474
@alafanechere should this be closed since we have released the Octavia CLI?

[2022-04-22 18:42] itaseskii commented on #12210
I'll claim this issue

[2022-04-22 18:43] itaseskii commented on #12209
I'll claim this issue

[2022-04-22 18:44] itaseskii commented on #12220
I'll claim this issue

[2022-04-22 18:44] itaseskii commented on #12219
I'll claim this issue

[2022-04-22 18:45] itaseskii commented on #12225
I'll claim this issue

[2022-04-22 18:46] itaseskii commented on #9433
I'll claim this issue

[2022-04-22 18:51] evantahler opened #12281 "Before every sync, the worker container runs the check method for both the Source and Destination."

[2022-04-22 18:59] evantahler opened #12282 "Syncs which have a `failureType=config_error` failure should not be retried"
If we know the user credentials are not going to work because the CHECK method has failed, there is no need to retry.

[2022-04-22 19:04] evantahler opened #12283 "Update Metabase reports to report new `failureType=config_error` column in connection reports - `percentage_config_error`"
Now that we are reporting `failureType=config_error` explicitly (https://github.com/airbytehq/airbyte/issues/12281), we can report on this information.  It would be nice to learn if a certain connector is having a high percentage of configuration errors.  This metric should not be used to effect GA or Beta status, but is useful:
* To know if a Source or Destination is having an outage
* To know if

[2022-04-22 19:04] evantahler opened #12284 "Update Metabase reports to exclude `failureType=config_error` failures from failure reports"
Connectors should not be noted as failing (for GA & Beta purposes) if their syncs were prevented by `failureType=config_error`.  This story is to add a new dashboard which is inline with https://docs.google.com/document/d/1yqnGKyqftA3nmzHrz970Qv8_vSL7ro8CUGIS99oIMxY/edit#heading=h.agrxfsjj7zsy

[2022-04-22 19:08] evantahler commented on #12284
cc @bleonard

[2022-04-22 19:11] itaseskii commented on #9410
I'll claim this issue

[2022-04-22 19:12] evantahler opened #12285 "Create workspace-wide setting to toggle if pre-sync checks run and prevent syncs"
After #12281 we will be running the CHECK (both Source and Destination) command before every sync.  We could add an option to disable this.

[2022-04-22 19:12] itaseskii commented on #11008
I have claimed the **_429 Status Code is not handled_** issue

[2022-04-22 19:43] #12220 closed

[2022-04-22 19:46] #12210 closed

[2022-04-22 20:36] kempspo commented on #11154
Just got to retest now, with a completely new deploy of airbyte seems like the previous errors are now gone

[2022-04-22 20:39] omri-shaiko commented on #8830
We are also experiencing this issue with MySQL CDC source to Snowflake for deduped history.
Airbyte version is: 0.36.2-alpha

[2022-04-22 20:49] tovbinm commented on #9426
Is there an ETA on this?

[2022-04-22 20:49] tovbinm commented on #2017
Is there an ETA on this?

[2022-04-22 21:29] andyjih opened #12287 "Adjust auto-disable connection logic to only warn a user once if they meet both warning criteria"
If a connection has >=50 consecutive failures in 6 days, and then on the 7th day the connection fails again, the user will get two warning emails. Let's ensure that the user only gets one warning.

[2022-04-22 22:33] tuliren commented on #11322
More examples can be found in [this slack thread](https://airbytehq-team.slack.com/archives/C02TL38U5L7/p1650666613696049).

[2022-04-22 22:41] tuliren commented on #11872
@wallies, a new version of the S3 destination connector, `0.3.3`, has been published. This new version lets you turn off compression for CSV or JSONL files. Please use this new version, instead of rolling back to `0.2.12`.

[2022-04-22 22:41] #11872 closed

[2022-04-22 22:59] sherifnada commented on #10148
@alexandr-shegeda shouldn't this issue be closed? if i understand correctly the destination has been labelled as GA

[2022-04-22 23:40] krishagel commented on #12265
I can confirm that I had the same problem. Rolling back resolved the issue for now.

[2022-04-22 23:52] sherifnada commented on #12276
@Phlair can you add this to the backlog grooming agenda?

[2022-04-22 23:57] sherifnada commented on #10330
@evantahler do you mean [phase 0 of this proposal? ](https://www.notion.so/Connector-Quality-Observability-Defogging-Connector-Metrics-5ab942fe90af48dc8b533814b03e00ba) my understanding is that this particular epic's scope is:
1. run check before sync jobs. If it fails emit an event to segment (simplifying the flow here)
2. if check fails, analytics should not consider that a failure of the connec

[2022-04-23 07:37] grubberr commented on #12173
@ChristopheDuong thanks for this issue, I have assigned to myself.
 I will implement incremental for all rest streams where it possible in one PR

[2022-04-23 08:14] nshigit opened #12295 "normalization failed"
## Environment
- **Airbyte version**:  0.35.65-alpha
- **OS Version / Instance**: CentOS7
- **Deployment**: Docker
- **Source Connector and version**:  airbyte/source-mysql          0.5.6
- **Destination Connector and version**: airbyte/destination-mysql     0.1.18
                                                                 airbyte/normalization-mysql   0.1.74
- **Severity**: Critical
- **Ste

[2022-04-23 10:18] nshigit commented on #12295
2022-04-23 09:11:23 ^[[32mINFO^[[m i.a.w.DefaultNormalizationWorker(run):46 - Running normalization.
2022-04-23 09:11:23 ^[[32mINFO^[[m i.a.w.n.DefaultNormalizationRunner(runProcess):122 - Running with normalization version: airbyte/normalization-mysql:0.1.74
2022-04-23 09:11:23 ^[[32mINFO^[[m i.a.c.i.LineGobbler(voidCall):82 - Checking if airbyte/normalization-mysql:0.1.74 exists...
2022-04-23 09

[2022-04-23 11:21] tirth7777777 opened #12296 "Option to change polling time in spec when consuming records for Source Kafka"
When consuming records for source Kafka, consumer polling time is fixed at 100ms. I need to increase the polling time so i need a option to change polling time using spec.

[2022-04-23 11:21] tirth7777777 commented on #12296
I have fix ready for this. Should i create a pull request?

[2022-04-23 12:59] mcfuhrt opened #12297 "Add limit for JDBC based source connectors"
## Tell us about the problem you're trying to solve
Sometimes the amount of data to be synchronised is so large that the initial sync can take several hours. Sometimes during a long sync, the database may shut down or become unavailable during replication times.

If models are to be created with dbt, it is necessary that a sync has already been successfully completed so that the data schema is kno

[2022-04-23 13:35] etsybaev commented on #12256
I believe that we've implemented it in this pr
https://github.com/airbytehq/airbyte/pull/11093

[2022-04-25 05:29] harshithmullapudi commented on #12123
Hey @igrankova any update on this?

[2022-04-25 06:22] harshithmullapudi commented on #8348
Hey @jscottpolevault excited to see the connector. Also, my guess is you are working over this using the connector using faros-ai there is a list of connectors they have built [here](https://github.com/faros-ai/airbyte-connectors) which you can check.

Also if you face any issue you can push the code to some github repo and share over our discourse with the issue so that team can respond over it.

[2022-04-25 07:50] nthbooth-feedr commented on #12265
airbyte cloud uses version: 0.3.28 of the redshift adapter which is why I choose to use it as the fall back as an FYI

[2022-04-25 09:12] e-capi commented on #6326
Any updates on this issue?

[2022-04-25 09:53] rorymalcolm commented on #8013
Don't think this issue is fixed, still seeing the same behaviour on `0.1.13`!

[2022-04-25 10:25] ChristopheDuong commented on #7011
It's not really normalization's job to clean up the `_airbyte_tmp` tables that are "internal" tables from destination connectors. But sure, you can do that.

[2022-04-25 10:48] rorymalcolm commented on #8013
Is policy to open a new issue or to reopen this one? @misteryeo

[2022-04-25 12:29] tfbecker commented on #6326
I asked on slack -> they told me to look at this [thread](https://discuss.airbyte.io/t/ga4-support-without-universal-access-property-from-airbyte/621/2)
bottom line is: no priority - will probably release this when it is more time pressing = closer to july 2023

[2022-04-25 12:34] kmclaugh commented on #6326
Here's the new [GA4](https://developers.google.com/analytics/devguides/reporting/data/v1) reporting API. Note that it's a completely different API from the Universal Analytics reporting API used by this airbyte connector. As such, we'll need different connector.

In the meantime though, GA4 has a built-in Big Query export that you can use to get it's data into a data warehouse.

[2022-04-25 13:52] Phlair opened #12307 "CDK: Update template to use declarative metadata for setup.py"
## Tell us about the problem you're trying to solve
Having the python connectors' setup.py as code rather than declarative metadata makes bulk and/or automating changes difficult.

Right now there isn't a direct use-case so this is fairly low priority, but I'm creating the issue now as this could help with the maintenance problem (e.g. if we need to apply sweeping changes to multiple connectors' s

[2022-04-25 14:12] alafanechere commented on #12278
I created the integration-test account (check Lastpass).
We have a 60 day trial.
Please fill our account with data according to the streams created in the #12145

[2022-04-25 14:14] alafanechere opened #12308 "New sandbox account: Enquire labs"
New connector PR: https://github.com/airbytehq/airbyte/pull/12264
Source service: https://enquirelabs.com/

Could you please create a sandbox account for EnquireLabs API?

[2022-04-25 14:15] alafanechere opened #12309 "New sandbox account: Junip.co"
New connector PR: https://github.com/airbytehq/airbyte/pull/12267
Source service: https://junip.co/

Could you please create a sandbox account for Junip API?

[2022-04-25 14:20] #12093 closed

[2022-04-25 14:57] timroes commented on #11434
Blocked by #10644

[2022-04-25 14:58] #9491 closed

[2022-04-25 14:58] #9709 closed

[2022-04-25 14:58] #12107 closed

[2022-04-25 15:02] timroes opened #12310 "Integrate LaunchDarkly into UI"

[2022-04-25 15:12] #10720 closed

[2022-04-25 15:28] girarda commented on #11959
The feature matrix was filled out for all connectors: https://docs.google.com/spreadsheets/d/1HP-nA5_EDFu3zRXKv5zyHJMrDWP0puO9S93kwcVYwo8/edit#gid=1987722328&fvid=188263753

This should be enough to select the features we need and start working on a DSL proposal

[2022-04-25 15:30] #11995 closed

[2022-04-25 15:30] #11996 closed

[2022-04-25 15:30] #11998 closed

[2022-04-25 15:31] #11999 closed

[2022-04-25 15:33] jdpgrailsdev commented on #11129
Related work:

* https://github.com/airbytehq/airbyte/issues/11134
* https://github.com/airbytehq/airbyte/issues/11133
* https://github.com/airbytehq/airbyte/issues/12017
* https://github.com/airbytehq/airbyte/issues/12016

[2022-04-25 15:33] #11134 closed

[2022-04-25 15:34] #11133 closed

[2022-04-25 15:42] #11154 closed

[2022-04-25 15:48] evantahler commented on #10330
Ah! Then I propose we close this epic and sub-stories in favor of these https://github.com/airbytehq/airbyte/issues/12119

[2022-04-25 15:58] sherifnada commented on #10330
Makes sense! Closing this

[2022-04-25 15:59] #9971 closed

[2022-04-25 16:00] #9970 closed

[2022-04-25 16:00] #9969 closed

[2022-04-25 16:00] evantahler commented on #9970
Updated within https://github.com/airbytehq/airbyte/issues/12119

[2022-04-25 16:13] timroes opened #12311 "Don't go back to the previous workspace when logging in with a different user"
We currently try to bring the user back after login to where they cam from. This leads to the weird scenario, if a user will log out and sign in (or register) with a different user, that doesn't have permission to the same workspace, they'll just see an error message because they can't access that workspace. Despite us needing to improve that error message (tracked via https://github.com/airbytehq

[2022-04-25 16:13] octavia-squidington-iii commented on #12311
cc @airbytehq/frontend

[2022-04-25 16:39] ufou opened #12312 "helm chart: JOB_KUBE_TOLERATIONS bad formatting"
## Environment
- **Airbyte version**: 0.36.1-alpha
- **OS Version / Instance**: k8s 1.20
- **Deployment**: Kubernetes deploy env
- **Source Connector and version**: n/a
- **Destination Connector and version**: n/a
- **Severity**: Low
- **Step where error happened**: Deploy

## Current Behavior
If kube job tolerations are set via values the helm chart, the deployed ENV var for `JOB_KUBE_TOLERATIONS

[2022-04-25 17:36] Alfred-Mountfield opened #12316 "Source Github: add `timeline` stream"
## Tell us about the problem you're trying to solve
The Github connector has support for the [Github Issue Events API](https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types) but it doesn't seem to support data ingested from the [Github Issue Timeline Events API](https://docs.github.com/en/rest/issues/timeline). This means, for example, that `reviewed` events are missin

[2022-04-25 18:29] austinhale opened #12318 "Hubspot Connector 0.1.53 uses incorrect ticket_pipeline date type"
## Environment
- **Airbyte version**:  example is 0.36.2-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Hubspot 0.1.53
- **Destination Connector and version**: Postgres
- **Severity**: High
- **Step where error happened**: Setup new connection (first sync)

## Current Behavior
When setting up a new Hubspot source connection, the sync fails i

[2022-04-25 18:34] #10797 closed

[2022-04-25 19:28] erica-airbyte opened #12321 "GA tag hover description is not showing description"
## Environment
- **Airbyte version**:  Cloud Version: 0.36.3-alpha-0430dde
- **Deployment**: cloud
- **Severity**: Low
- **Step where error happened**: when hovering over connector description in the connector Status page

## Current Behavior
When hovering over the "info icon" for a GA connector it does not give the correct description.

## Logs
<img width="528" alt="Screen Shot 2022-04-25 at 1 28

[2022-04-25 19:28] octavia-squidington-iii commented on #12321
cc @airbytehq/frontend

[2022-04-25 19:34] marcosmarxm commented on #12312
@ufou can you update here https://github.com/airbytehq/airbyte/pull/12236 to remove this code from there?

[2022-04-25 20:01] itaseskii commented on #8387
@heinhofman Can you please verify if this issue has been fixed for you? I'm unable to reproduce it and the above comment has reported that the issue should be fixed with 0.35.11-alpha.

[2022-04-25 20:01] evantahler commented on #12161
Some notes since this story was initially written:

* A few extra fields have been added to the `AirbyteDisplayMessage` spec to better enable reporting and error correlation: `internal_message`, `stack_trace`, `failure_type`, and `log_timestamp`.
* As noted above, use this additional information to fill out the sync attempt's failure reasons.

[2022-04-25 20:10] evantahler opened #12322 "[EPIC] All CDK Connectors emit `AirbyteTraceMessage` when something goes wrong"
Using `AirbyteTraceMessage` will set `failure_reason` metadata automagically.  This replaces the current failure behavior of logging and throwing when something goes wrong.  This story is to update the CDK as naively as possible such that any crash produces a log message in the right format before existing.  e.g. this would be wrapping the calls to `read()` and `write()` in a try/catch.

Relevant

[2022-04-25 20:12] itaseskii commented on #7900
I'll claim this issue.

[2022-04-25 20:13] itaseskii commented on #10942
I have claimed the issue for adding better error response messages to file size errors

[2022-04-25 20:18] timroes commented on #10825
Duplicate of https://github.com/airbytehq/airbyte/issues/12091

(Closing this despite being older, since the other is already asigned and in the sprint.)

[2022-04-25 20:18] #10825 closed

[2022-04-25 20:41] evantahler commented on #12161
https://github.com/airbytehq/airbyte/issues/12322 is the epic we can use to track the work to add `AirbyteDisplayMessage` to the CDK and connectors.  This replaces the current behavior of logging and throwring when something goes wrong.

[2022-04-25 20:53] sadornounnoba commented on #12277
Any help?

[2022-04-25 21:04] misteryeo opened #12324 "Documentation link not rendering for alpha/beta connectors in-app"
connector.docsLink is shown instead of the URL to our connector docs. Applies to all connectors I can see in Airbyte Cloud.

![Airbyte New Source 2022-04-25 at 2 02 03 PM](https://user-images.githubusercontent.com/16851149/165174628-5febad74-b7fd-4152-93d5-23e602488b7e.jpg)

[2022-04-25 21:04] octavia-squidington-iii commented on #12324
cc @airbytehq/frontend

[2022-04-25 21:25] evantahler commented on #12285
Closing this issue.  As CHECKs are fast (~15s or shorter), we don't want to add more confusion for our users by introducing a new (workspace-wide) setting.

If checks become even slower, we can revisit this choice.

[2022-04-25 21:25] #12285 closed

[2022-04-25 21:25] timroes commented on #12324
This broke with https://github.com/airbytehq/airbyte/pull/12252. Related to https://github.com/airbytehq/airbyte/issues/12321

[2022-04-25 21:50] Amruta-Ranade opened #12327 "Documentation: Signing up for Cloud no longer requires email verification"
Reference: https://github.com/airbytehq/airbyte/pull/12235

[2022-04-25 21:52] timroes opened #12328 "Default connectors name no longer set"
Some recent change broke [this code](https://github.com/airbytehq/airbyte/blob/master/airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx#L76-L88) from working. When switching connectors when creating a new source/destination the name of the connector should by default be the name of the selected service. We're still running through this method, but it seems to no longer set the name (I

[2022-04-25 21:52] octavia-squidington-iii commented on #12328
cc @airbytehq/frontend

[2022-04-25 22:33] evantahler commented on #10328
I propose this epic (and child stories) be closed as well
* In the new metrics poposals by @bleonard, we do not need to know if a connection has been disabled or not.
* Incident management is already it's own epic
* Other work roughly captured by https://github.com/airbytehq/airbyte/issues/12118 and https://github.com/airbytehq/airbyte/issues/12119

[2022-04-25 22:53] bleonard opened #12329 "Test issue"

[2022-04-25 22:54] #12329 closed

[2022-04-25 23:30] cgardens opened #12330 "Add connector test that validates that the spec uses "valid" JSONSchema"
## Problem
For the `spec` of a connector, we allow the usage of a _subset_ of the functionality that JSONSchema provides. When a `spec` uses a disabled JSONSchema feature it results in perplexing errors.

# Proposed Solution
* We should have a way to validate that a JSONSchema object only uses the features we allow.
* We would it as one of the standard tests for each connectors so that before publ

[2022-04-25 23:49] sherifnada commented on #12330
@cgardens is the allowed subset of json schema described anywhere? I tried documenting as much as i know [here](https://docs.airbyte.io/connector-development/connector-specification-reference) over time but I'm not sure if there are other limitations/features.

[2022-04-25 23:52] sherifnada commented on #10281
@bazarnov I've unassigned this issue from you pending completion of https://github.com/airbytehq/airbyte/issues/11334

[2022-04-25 23:53] sherifnada commented on #11334
@misteryeo assigning this to you for now to take the lead on making inroads with Shopify -- happy to help where I can here

[2022-04-26 00:01] marcosmarxm opened #12331 "Mechanism to block update of destination connector when there is a Airbyte version dependency"
## Tell us about the problem you're trying to solve
Today Airbyte version links to normalization version which is causing some dependency of connectors versions.

Snowflake
<img width="797" alt="image" src="https://user-images.githubusercontent.com/5154322/165193202-9518aeba-ec73-41b8-b2c7-dcc89cb92d01.png">

Redshift
https://github.com/airbytehq/airbyte/pulls?q=is%3Apr+redshift+super+is%3Aclosed+

[2022-04-26 00:07] sherifnada commented on #10328
@evantahler can you link to the new metrics proposals? i don't believe I've seen them

[2022-04-26 00:12] bleonard commented on #10328
Near term roadmap of [this](https://docs.google.com/document/d/1EahGAgEjrkujcasHJDpApP7dqMjEbU9ve0RoU1RE8ls/edit#heading=h.warglsyveguo) document.

[2022-04-26 00:24] kirankumardesireddy opened #12332 "Regarding read table from "cdc" schema using mssql connector"
**UseCase:**
We want to implement CDC/SCD2 using airbyte in mssql using incremental append.

We have cdc table in mssql, which we are not able to read using airbyte mssql connector, we debugged the source code and found "cdc" schema is excluded. Could you please include "cdc" schema in mssql connector.

Also, we have forked the code to local and tried to read the one of the "cdc" schema tables, ho

[2022-04-26 00:38] cgardens commented on #12330
So far the subset I have in mind is:
* don't use `not`
* `type` MUST be set. for pure JSONSchema there are reasons why you might want to leave it unset, but for our use case, doing that is just a headache. See the long conversation Benoit and I had in the linked issue.
* the `oneOf`s stuff that is mentioned in the [docs you linked](https://docs.airbyte.com/connector-development/connector-specifica

[2022-04-26 00:47] misteryeo commented on #10938
@davydov-d but the field itself, is describing sampling - correct? https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py#L25

So what the field is doing, is determining how big of a sample size of data a user would want to sync each time based on a range of days from the start_date. The larger this day range

[2022-04-26 01:45] alovew opened #12333 "Fix Hubspot schema and add date-time format test in SAT"
I was testing a new JSON schema validation feature using the JsonSchemaValidator to validate that each record from a source conforms to the schema in the ConfiguredAirbyteCatalog. When I tested Hubspot, I saw a record schema validation for every record because several Hubspot streams include schemas with date-time fields like this:
[code]
but the records themselves have datetimes that look like th

[2022-04-26 02:26] misteryeo commented on #8013
It's been some time since this previous bug was filed and resolved, let's open a new bug following the template and populate with any details that is relevant to the issue you're facing. Thanks!

[2022-04-26 02:47] nshigit commented on #12295
docker run --rm --init -i -w /data/11/2/normalize --log-driver none --network host -v airbyte_workspace:/data -v /tmp/airbyte_local:/local -e WORKER_ENVIRONMENT=DOCKER -e AIRBYTE_ROLE= -e AIRBYTE_VERSION=0.35.65-alpha airbyte/normalization-mysql:0.1.74 run --integration-type mysql --config destination_config.json --catalog destination_catalog.json
Running: transform-config --config destination_con

[2022-04-26 03:35] lgomezm commented on #11456
I've submitted this PR to address this issue: https://github.com/airbytehq/airbyte/pull/12334

[2022-04-26 04:40] #12295 closed

[2022-04-26 04:41] nshigit commented on #12295
worker process can't access destination database with 127.0.0.1 as host address.

[2022-04-26 04:52] nshigit opened #12336 "Duplicate record accumulated in _airbyte_raw_<table_name> for sync failed retry"
## Environment
- **Airbyte version**:  0.35.65-alpha
- **OS Version / Instance**: centos
- **Deployment**: docker
- **Source Connector and version**: airbyte/source-mysql  0.5.6
- **Destination Connector and version**: airbyte/destination-mysql     0.1.18
- **Severity**:  High
- **Step where error happened**: Sync job

## Current Behavior
Each error retry adds duplicate records to the target table

[2022-04-26 06:29] sherifnada commented on #12013
@davydov-d to echo chris' point, when `isDataGolden=false` we need to keep resyncing this data until the `isDataGolden` flag is true.

The reason relates to the definition of that flag. From the google docs:

If the value is false for a report, this means the result of the report will be updated in the future, and we should therefore resync this date period.

[2022-04-26 06:39] sherifnada commented on #5365
@lazebnyi

Some questions about the cuckoo filter approach:
1. What is the expected false-positive rate? and what is the impact on syncs/performance? what size would the state object become?
2. how does this compare to something like keeping a cursor field value + the names of all files in the last 3 days? (presumably 3 days is a safe enough period) we could compress this list of files if that hel

[2022-04-26 07:04] szecsip commented on #11316
@alafanechere I started to implement this feature.

[2022-04-26 07:05] igrankova commented on #12123
Hi, @harshithmullapudi

[2022-04-26 07:16] chetangehlot opened #12338 "How can we enable Airbyte metrics on prometheus"
As I see your README but it is not sufficient documentation for deploying on my kubernetes.

Ref : - https://github.com/airbytehq/airbyte/tree/master/airbyte-metrics

[2022-04-26 07:34] alafanechere commented on #11316
Hi @szecsip, glad to hear that! Thank you for considering contributing and let me know when you need a review.

[2022-04-26 08:14] yoav-getloam commented on #11276
I'm experiencing the same, were you able to resolve this issue?

[2022-04-26 08:23] acolyer commented on #3520
Upvote, this is a major pain for us too.

[2022-04-26 08:24] bazarnov commented on #10281
Ok, feel free to assign it back, once it's finished.

[2022-04-26 08:58] ChristopheDuong commented on #11345
Another approach could be to add a sync id associated with all records written in the same batch.

This sync id could then be used to join to some other metadata table with more information such as the connector version that was used to produce it but also the catalog/configuration too, etc

This idea would become related to schema changes, so @grishick, you might want to check with @andyjih that

[2022-04-26 09:15] Ohcui opened #12340 "Airbyte API: `WebBackendConnectionCreate` in OpenAPI config requires a property which is not listed in properties"
## Environment
- **Airbyte version**:  0.36.3-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: Docker
- **Source Connector and version**: any
- **Destination Connector and version**: any
- **Severity**: Medium
- **Step where error happened**: Check `components.schemas.WebBackendConnectionCreate` section in `src/main/openapi/config.yaml` file

## Current Behavior
In WebBackendConnect

[2022-04-26 09:17] Ohcui commented on #12340
I want to work on this.

[2022-04-26 10:06] dizel852 opened #12342 "End-to-End Testing (Mock API) source has a wrong config"
During creation a connection - `End-to-End Testing (Mock API) => Local CSV`.
I notice that `ConfiguredAirbyteStream` (`config` object) has props like:
[code]
And `AirbyteStream`(`stream` object) has:
[code]
The `config` contradicts the documentation: https://docs.airbyte.com/understanding-airbyte/catalog/#airbytestream
Already discusses this issue with @timroes and @sherifnada, they confirmed it s

[2022-04-26 10:46] igrankova commented on #12309
Hi, @alafanechere
I've signed up for free test account, the **LastPass creds name:** Junip.co
The connected shopify store they asked is Airbyte. I also have installed the Junip app in the store.
I've asked about the sandbox by email to support and let you know when it's done. For now if you can use this free account, I hope it could be an option to start working.

[2022-04-26 10:53] igrankova commented on #10344
@misteryeo Hi, Andy, we still have one missed spelling. See the comment above: https://github.com/airbytehq/airbyte/issues/10344#issuecomment-1094808629

[2022-04-26 10:55] davydov-d commented on #10938
well, yes but no :)
According to the [doc](https://developers.google.com/analytics/devguides/reporting/core/v4/basics#sampling), sampling level is defined by the `samplingLevel` parameter, which we do not expose in the input config(should we?), so the `DEFAULT` level is used meaning speed and accuracy of the response are balanced. The response speed depends on both accuracy and the date range. So,

[2022-04-26 11:09] igrankova commented on #12308
Hi, @alafanechere
The LastPass creds name: enquirelabs.com
App creds: https://app.enquirelabs.com/shopify/account

[2022-04-26 12:00] timroes commented on #12342
@sherifnada I'd be curious around your thoughts: This seem to be a potential easy fix by just changing the end-to-end testing source, but given that this scenario is kind of "unreasonable" to end up in, I wonder if we should protect against it (i.e. validate) on a platform level, that a response like this will never be send, and e.g. the stream would be dropped instead?

[2022-04-26 12:13] lazebnyi commented on #5365
@sherifnada Thanks for the questions.

I think the error rate will be near 0.000001. I think we can use this one realisation https://github.com/huydhn/cuckoo-filter.
To sync performance shouldn't be affected. Size = capacity * bucket size * fingerprint.

For the cuckoo filter search is O(1) for list O(n), so I think for performance better use the cuckoo filter.

[2022-04-26 12:28] Upmitt commented on #10344
@igrankova @misteryeo Updated on Webflow

[2022-04-26 12:40] igrankova commented on #10344
@misteryeo good! thank you. I'm closing this issue.
we still have two more issues to implement in the EPIC #10264

[2022-04-26 12:40] alafanechere commented on #9758
Hi @feliche93, do you still have this problem? Could you please try to recreate a connection with the S3 source in its latest version?

[2022-04-26 12:40] #10344 closed

[2022-04-26 13:02] igrankova commented on #12309
@alafanechere, I received an answer from the support that we can use this free plan permanently and we have a fool access to the API. If you need any additional functionality, please let me know, I can request it.

[2022-04-26 13:21] Phlair opened #12347 "Destination S3: Remove configurable part size"
## Tell us about the problem you're trying to solve
As discussed oncall [here](airbytehq/alpha-beta-issues#68), we feel that the option to allow customers to set the part size in S3 destination is no longer relevant because of the [buffering changes introduced](https://github.com/airbytehq/airbyte/pull/11294) by @ChristopheDuong. We feel that we should remove that option so that people don't end u

[2022-04-26 14:10] krishnaglick opened #12348 "Make Translation strings typed"
Typing translations was something previously discussed, but I feel it's worth bringing up as a priority due to [recently](https://github.com/airbytehq/airbyte/pull/12326) causing a bug.

I've previously done this for a different library and it looks like it can be done similarly for [formatjs](https://formatjs.io/docs/react-intl/#typing-message-ids-and-locale)

Create a `@formatjs.d.ts` file under

[2022-04-26 14:11] octavia-squidington-iii commented on #12348
cc @airbytehq/frontend

[2022-04-26 14:23] noahkawasaki-airbyte opened #12349 "Databases and Data warehouses Benchmark: Write Tech Spec"
Placeholder for completing and reviewing databases and datawarehouses tech spec https://docs.google.com/document/d/1GauTW709Zq2Udu00u3rExvu4vxUssd5t6Epf7flbbHU/edit#

[2022-04-26 14:24] noahkawasaki-airbyte opened #12350 "Databases and Datawarehouses Benchmarking: Choose benchmark datasets"
Choose benchmark datasets of various sizes of data (10GB, 50GB, 100GB, 1TB) to use as our sizing buckets

[2022-04-26 14:27] #11668 closed

[2022-04-26 14:30] noahkawasaki-airbyte opened #12351 "Databases and Data warehouses Benchmark: Output results into Metabase"
We'd like to somehow output the results of periodically running jobs into analytics. Maybe by adding Github Actions Jobs data into a stream into the BigQuery analytics location, or scraping the Airbyte API from the benchmark airbyte workspace

[2022-04-26 14:34] #12321 closed

[2022-04-26 14:34] #12324 closed

[2022-04-26 14:36] noahkawasaki-airbyte opened #12352 "Databases and Data warehouses Benchmark: Create all database sources in workspace with benchmark datasets"
Create Airbyte sources for all desired database sources with the chosen benchmark datasets loaded.

Entails:
1) Have database created in cloud somewhere
2) Load benchmark datasets in databases
3) Create source in Airbyte workspace

[2022-04-26 14:37] noahkawasaki-airbyte opened #12353 "Databases and Data warehouses Benchmark: Create data warehouse destinations"
Create the Airbyte destinations for the chosen data warehouses: Snowflake, BigQuery, Redshift (Databricks?)

[2022-04-26 14:41] noahkawasaki-airbyte opened #12355 "Databases and Data warehouses Benchmark: Create connections for Full Refresh Overwrite"
Create the actual connections between sources/destinations for each benchmark dataset using full refresh. Use the octavia CLI to manage these connections in code. Say we have 3 benchmark datasets: small, medium, large. And two database sources: postgres and mysql. Two datawarehouses: snowflake and redshift.

We want these connections created

postgres - small - full refresh
postgres - medium - ful

[2022-04-26 14:50] noahkawasaki-airbyte opened #12357 "Databases and Data warehouses Benchmark: Create connections for Incremental Append"
Create the actual connections between sources/destinations for each benchmark dataset using incremental append syncing. Use the octavia CLI to manage these connections in code. Say we have 3 benchmark datasets: small, medium, large. And two database sources: postgres and mysql. Two data warehouses: snowflake and redshift.

We want these connections created

postgres - small - incremental append
po

[2022-04-26 14:52] jdpgrailsdev opened #12358 "Database Connection Object Utilities"
## Tell us about the problem you're trying to solve

The existing code is heavily configuration driven and does not expose the actual connection or data source objects that would be created and managed by the framework.  Because of this, it is currently not easy to use these objects in a framework while taking advantage of the configuration, object lifecycle management and dependency injection fea

[2022-04-26 14:55] jdpgrailsdev opened #12359 "Refactor Database Connection Objects"
## Tell us about the problem you're trying to solve

The existing code is heavily configuration driven and does not expose the actual connection or data source objects that would be created and managed by the framework.  Because of this, it is currently not easy to use these objects in a framework while taking advantage of the configuration, object lifecycle management and dependency injection fea

[2022-04-26 15:04] jdpgrailsdev opened #12360 "Refactor Database Migration Objects"
## Tell us about the problem you're trying to solve

The existing code is heavily configuration driven and does not expose the actual connection or data source objects that would be created and managed by the framework.  Because of this, it is currently not easy to use these objects in a framework while taking advantage of the configuration, object lifecycle management and dependency injection fea

[2022-04-26 15:08] jdpgrailsdev opened #12361 "Refactor jOOQ Source Generation"
## Tell us about the problem you're trying to solve

The existing code is heavily configuration driven and does not expose the actual connection or data source objects that would be created and managed by the framework.  Because of this, it is currently not easy to use these objects in a framework while taking advantage of the configuration, object lifecycle management and dependency injection fea

[2022-04-26 15:47] benmoriceau opened #12362 "Add temporal activities to fetch the reset to perform and update the reset persistence"
We have added a persistence layer in order to store the running reset operation and the pending reset operation

## What

We need to create the following temporal activities:
- get list of streams for a given connectionId
- remove list of streams for a given connectionId
- add list of streams for a given connectionId

[2022-04-26 15:49] benmoriceau opened #12363 "[Epic] Per stream state"
- https://github.com/airbytehq/airbyte/issues/12365
- https://github.com/airbytehq/airbyte/issues/12362
- https://github.com/airbytehq/airbyte/issues/12366

[2022-04-26 16:01] dizel852 opened #12364 "Postgres - Unable to create a connection between Source and Destination(with the exact same values like in Source)"
## Environment
- **Airbyte version**:  production
- **OS Version / Instance**: macOS
- **Deployment**: production
- **Source Connector and version**: Postgres 0.1.7
- **Destination Connector and version**: Postgres 0.1.3
- **Severity**: Low
- **Step where error happened**: Setup new connection

## Current Behavior
Unable to fetch schema during setting up the connection if my Source is exact the sa

[2022-04-26 16:06] benmoriceau opened #12365 "Update the reset signal to pass stream informations"
When submitting a reset, we need to pass the reseted stream information.

## What

This issue is about updating the signal method in order to accept a list of stream as a signal input.
This list need to be then added to the temporal state following what has been done in https://github.com/airbytehq/airbyte/issues/12362

This ticket should come first since it will help testing the other issue.

Ano

[2022-04-26 16:14] benmoriceau opened #12366 "Add the streams being reset in the job config"
This ticket is about adding the stream being reset in the job configuration. This is not about using it during the run.

## What

In the job config we need to add the stream information about what is being reset. This is about modify the job config generation activity in order to have the information of the stream being reset are.

There need to be some estimation about how much extra space this w

[2022-04-26 16:21] lukeolson13 opened #12367 "Kubernetes: large sync fails but successfully loads data after failed retry (with different error)"
Is this your first time deploying Airbyte?: No
Deployment: Kubernetes
Airbyte Version: 0.36.1
Source name/version: MSSQL 0.3.19
Destination name/version: Snowflake 0.4.24
Step: sync

## Current Behavior
One of our largest syncs (and occasionally some of our smaller syncs) keep failing in the same manner:
 1. First, it gets all the way through extract, and then fails with a very generic `java.util.

[2022-04-26 16:59] nataliekwong commented on #12110
A few questions from users I have seen:
- Where do I go to purchase? (the credits page via the icon in left sidebar)
- How do I get an invoice for my payment? (currently not possible, coming soon)
- How do I get a receipt? (It's automatically emailed after payment)
- How do I know how many credits I need? (recommend reaching out to Sales)
- What is the minimum? (100 credits or $250)
- How do I cha

[2022-04-26 17:03] evantahler commented on #12118
The final goal of this story is to end up with logic in our datawarehouse similar to [this sheet](https://docs.google.com/spreadsheets/d/1gvLXo4xYXoxaKTyvFeSoWcPR_cMkV14TXglJOttW1gk/edit#gid=0)

[2022-04-26 17:21] pmossman opened #12369 "Stripe Payment Improvements"
- PRD for holistic requirements (future facing)

[2022-04-26 17:42] andyjih opened #12370 "Send an email to users when their credit balance is low"
When a workspace's credit is low, send an email to them letting them know with a link to add more credits on the site.

Threshold of credits: 20

One consideration that Chris Duong mentioned is that Customer.io has data-driven segments and messaging, so if we pass the credit value to customer.io on a regular basis, then someone on the gtm/product side could configure the message in customer.io. ht

[2022-04-26 17:59] alexandr-shegeda commented on #2655
@grishick the connector was already published, I'm going to update the documentation in kafka.md and close this issue

[2022-04-26 18:14] misteryeo commented on #10938
Gotcha, let's update the description to - does that resonate with you @davydov-d:

Data request window (Optional) - The amount of data batched by the number of days. The bigger the value, the bigger the batch size and the lower the API requests made.

[2022-04-26 18:17] #11947 closed

[2022-04-26 18:40] benmoriceau commented on #12366
Estimate size now.

[2022-04-26 18:47] Amruta-Ranade opened #12371 "Documentation: Make sure all Cloud features are documented"
Reference: https://docs.google.com/document/d/1fVJf1opjpTAqt5NodGC9AW_4sVzmH6prbdLFfC0ujZc/edit

[2022-04-26 19:18] jdpgrailsdev commented on #12358
More details:

* [Code that currently creates the datasource](https://github.com/airbytehq/airbyte/blob/master/airbyte-db/lib/src/main/java/io/airbyte/db/Databases.java#L213)
* [Code that currently creates a DSLContext object](https://github.com/airbytehq/airbyte/blob/91fd73443a70f32bbca3b59b242e65b431db6d6f/airbyte-db/lib/src/main/java/io/airbyte/db/Database.java#L27)
* [Code that currently creat

[2022-04-26 19:47] marcosmarxm opened #12372 "Source Salesforce: UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 8379: unexpected end of data"
Is this your first time deploying Airbyte?: No
OS Version: debian-10
Memory / Disk: 16GB
Deployment: Docker
Airbyte Version: 0.36.1-alpha
Source name/version: Salesforce 1.0.3
Destination name/version: BigQuery 1.1.1
Step: Salesforce fails to sync
Description:
After running a Salesforce incremental sync for two weeks, everything worked fine until yesterday when I encountered the same error in prod

[2022-04-26 19:48] marcosmarxm commented on #12372
Solution proposed is downgrade connector version to 1.0.2

[2022-04-26 20:26] jdpgrailsdev opened #12375 "[EPIC] Database Initialization Refactor"
## Tell us about the problem you're trying to solve

* The goal of this project is to prepare the existing database access logic to be easily adapted for use in a dependency injection framework.  For more information, view the [OSS Database Initialization Refactor tech spec](https://docs.google.com/document/d/1e194USkxBvR0_EqPB-Qf4R9expfFluYksauiEzVcFDQ/edit?usp=sharing)

## Dependencies
* https:/

[2022-04-26 20:35] jdpgrailsdev opened #12377 "Create Database Initialization Listener Interface"
## Tell us about the problem you're trying to solve

The existing code couples database access with connection initialization.  The system wants to gate service startup on database creation and migration.  Separating these two concerns will make it easier to adapt the code to an application framework.

## Describe the solution you’d like

The solution to this coupling is to replace the per-databas

[2022-04-26 20:38] jdpgrailsdev opened #12378 "Use Database Initialization Event Listener"
## Tell us about the problem you're trying to solve

The existing code couples database access with connection initialization.  The system wants to gate service startup on database creation and migration.  Separating these two concerns will make it easier to adapt the code to an application framework.

## Describe the solution you’d like

Utilize the separate database initialization framework crea

[2022-04-26 20:45] jdpgrailsdev opened #12379 "Refactor Database Seed Loading Logic"
## Tell us about the problem you're trying to solve

The existing code couples database access with connection initialization.  The system wants to gate service startup on database creation and migration.  Separating these two concerns will make it easier to adapt the code to an application framework.

## Describe the solution you’d like

The existing [YamlSeedConfigPersistence](https://github.com

[2022-04-26 20:51] tuliren commented on #12108
I really like the candidate image idea.

I have one comment. Based on timeline 1-3:

The candidate image can be built and pushed multiple times in a PR. Does the automatic image building and publishing happen for every commit in the PR? This can be quite wasteful in terms of github action quota and resource I think.

----

I can think of two alternative proposals:
- Keep everything fully automated

[2022-04-26 21:26] sherifnada commented on #10148
@grishick to advise here -- my understanding is oauth shouldn't be part of GA but data types might be

[2022-04-26 22:02] benmoriceau opened #12381 "Estimate the size of the storing additional stream name in the job config"
In order to make sure that we can add an extra list of stream name, we need to make sure that temporal blob won't exceed the temporal maximum blob size.

We are currently storing it in the JobConfig, we need to check that an additional entry won't make the size to reach the limit for the biggest job config.

[2022-04-26 22:05] grishick commented on #7011
This cleanup tasks seems to me like something that should be orchestrated by the platform, because this cleanup task can be invoked in a couple of scenarios:

- destination connector failed and normalization was not run
- normalization started but failed
- normalization succeeded, but for some reason failed to delete the *_tmp tables

my suggestion is that we add a destination::cleanup task to the

[2022-04-26 22:15] sherifnada commented on #3520
@acolyer and all --  good news! this is actively in progress and slated for Q2 2022!

[2022-04-26 23:07] austinhale commented on #12333
@alovew I ran into a [related issue](https://github.com/airbytehq/airbyte/issues/12318) yesterday with our Hubspot connector; however, at least on the `ticket_pipelines` table that's throwing the error, the date format in Hubspot is in ISO 8601 e.g. `2021-10-14T19:39:27.105Z` & the current airbyte schema file has the field as `integer`, hence the error.

Which table are you seeing the value withou

[2022-04-26 23:43] michel-tricot commented on #7011
Is there a world where the destination tmp naming is a bit smarter and the next time the destination runs it looks at left over artifacts and delete what wasn't deleted in the previous run?

[2022-04-26 23:48] markmacumber opened #12383 "Update the MongoDB source connector to support CDC via the Replica Set Oplog"
Hi - sorry if this is not the correct place to raise this feature request, but I have been working on integrating MongoDB into a target Snowflake environment only to find that deleted are not supported in Incremental Sync mode - full refresh is simply too large and inefficient.

MongoDB has the capapbility of CDC support via the Replica Set Oplog and it would be very useful to include MongoDB in t

[2022-04-26 23:57] #9433 closed

[2022-04-26 23:59] octavia-squidington-iii commented on #12159
cc @airbytehq/frontend

[2022-04-27 00:07] andyjih commented on #12035
Moving to private repo

[2022-04-27 00:07] #12035 closed

[2022-04-27 00:08] evantahler commented on #12322
This story is naïve by design in this first pass so what we can have filled-out failureReasons to work with.  Future stories will work within each connector to produce better and more meaningful failure reasons.

[2022-04-27 00:09] octavia-squidington-iii commented on #11838
cc @airbytehq/frontend

[2022-04-27 00:09] octavia-squidington-iii commented on #11774
cc @airbytehq/frontend

[2022-04-27 00:18] #9814 closed

[2022-04-27 00:35] #12287 closed

[2022-04-27 00:36] terencecho commented on #12287
@andyjih this isn't deployed on cloud yet, we can figure that timing out later this week.

[2022-04-27 00:48] tuliren commented on #3212
Databricks told us today that they would like to have a Netsuite source connector. They may build one themselves if they decide to use Airbyte for data integration.

[2022-04-27 01:24] sherifnada commented on #3520
@acolyer  and all - good news! This is happening this quarter. Actively being worked on at the moment.

[2022-04-27 06:12] grubberr opened #12384 "Normalization: rename *.sql -> *.sql.j2 to avoid be changed by SQL code formatter"
## Current Behavior
Current behavior of code formatter formats this template file:

https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/base-normalization/integration_tests/resources/redshift_normalization_migration/test_pokemon_super.sql

like this:

[code]
## Expected Behavior
This file has to be:

[code]

The most important thing is `REF` -> `ref`

https://docs.getdbt.co

[2022-04-27 06:33] davydov-d commented on #10938
sounds good https://github.com/airbytehq/airbyte/pull/12385

[2022-04-27 07:44] igrankova commented on #12123
@harshithmullapudi today I received a call time, waiting for the invitation.

[2022-04-27 08:07] dingobar opened #12386 "Helm: Server workspace volume persistence should be optional"
## Tell us about the problem you're trying to solve
In general, Kubernetes (k8s) still handles persistent storage poorly, and many implementations disable PVs and PVCs entirely. Kubernetes really excels at running stateless container workloads. Statefulness in Kubernetes is convoluted at best and most environments prefer offloading this to a managed database provider if possible. In my opinion, th

[2022-04-27 08:25] harshithmullapudi commented on #12123
Thanks for update @igrankova

[2022-04-27 10:06] alafanechere commented on #12277
Hi @sadornounnoba , I'm not able to reproduce this problem.
I did the following:
* created a schema in my database + table that I filled with test data
* set up a source with the schema filter set to my new schema
* Run a sync
I have no error and my data is properly replicated.

Which Postgres version are you running? I tested with 14.2

[2022-04-27 10:16] annalvova05 opened #12389 "🎉 Source Amazon Seller Partner: Implement OAuth2.0"
Implement OAuth2.0 for connector

[2022-04-27 10:17] #12389 closed

[2022-04-27 10:17] annalvova05 commented on #12389
Duplicate https://github.com/airbytehq/airbyte/issues/11963

[2022-04-27 13:14] krishnaglick commented on #10874
Quoting Tim here, doing this in the frontend shouldn't be too difficult.

[2022-04-27 13:26] thenaturalist commented on #8808
Hi @alafanechere I can confirm that this is working as expected on `0.36.3-alpha`

[2022-04-27 13:30] jdpgrailsdev opened #12392 "Annotate Dependency Services Utilized by airbyte-bootloader"
## Tell us about the problem you're trying to solve

The  project makes use of the constructor pattern and manually managed lifecycles to create and use objects.  In order to make the code more dependency injection ready and to reduce the amount of work required to convert the services within the project to an application framework, the existing code base should be prepared for use in a dependency

[2022-04-27 13:35] jdpgrailsdev opened #12393 "Annotate Dependency Services Utilized By airbyte-container-orchestrator"
## Tell us about the problem you're trying to solve

The  project makes use of the constructor pattern and manually managed lifecycles to create and use objects.  In order to make the code more dependency injection ready and to reduce the amount of work required to convert the services within the project to an application framework, the existing code base should be prepared for use in a dependency

[2022-04-27 13:37] jdpgrailsdev opened #12394 "Annotate Dependency Services Utilized By airbyte-metrics-reporter"
## Tell us about the problem you're trying to solve

The  project makes use of the constructor pattern and manually managed lifecycles to create and use objects.  In order to make the code more dependency injection ready and to reduce the amount of work required to convert the services within the project to an application framework, the existing code base should be prepared for use in a dependency

[2022-04-27 13:38] jdpgrailsdev opened #12395 "Annotate Dependency Services Utilized by airbyte-server"
## Tell us about the problem you're trying to solve

The  project makes use of the constructor pattern and manually managed lifecycles to create and use objects.  In order to make the code more dependency injection ready and to reduce the amount of work required to convert the services within the project to an application framework, the existing code base should be prepared for use in a dependency

[2022-04-27 13:39] jdpgrailsdev opened #12396 "Annotate Dependency Services Utilized by airbyte-workers"
## Tell us about the problem you're trying to solve

The  project makes use of the constructor pattern and manually managed lifecycles to create and use objects.  In order to make the code more dependency injection ready and to reduce the amount of work required to convert the services within the project to an application framework, the existing code base should be prepared for use in a dependency

[2022-04-27 13:47] ufou commented on #12162
We have the issue too, if I can help to debug, please let me know

[2022-04-27 14:16] wjwatkinson opened #12399 "Changing Replication Frequency disables Normalization"
## Environment
- **Airbyte version**:  example is 0.35.45-alpha
- **OS Version / Instance**: GCP n1-standard-2
- **Deployment**: Docker
- **Source Connector and version**: Kyriba
- **Destination Connector and version**: BigQuery 1.1.1
- **Severity**: Medium
- **Step where error happened**: Sync job settings

## Current Behavior
When "Normalized tabular data" is enabled and the replication frequenc

[2022-04-27 14:17] noahkawasaki-airbyte commented on #12108
I was thinking since it still will be triggered by a manual `/publish` call, this shouldn't be an issue. Wont automatically build images on every push event (though we could look into that, fully automated would be nice). This shouldn't increase the build frequency at all actually, its just changing the tagging strategy for the most part.

Technically that would result in us building the same imag

[2022-04-27 14:18] noahkawasaki-airbyte commented on #11719
Hey Ari, this project is super early and hasnt really even started yet lol! The idea is we're trying to replicate customer like volumes of data and have internal syncs running to make sure airbyte can handle them.

Definitely a good idea for a blog in the future when its built out though

[2022-04-27 14:31] #11883 closed

[2022-04-27 14:51] julianopiovezan commented on #5099
I had to disable the default normalization and implemented a custom transformation using dbt.

[2022-04-27 14:53] #10542 closed

[2022-04-27 15:32] sherifnada commented on #12013
@ThaliaBarrera do you know how long the `isDataGolden` flag takes to flip to true? For example, if it takes at most 2 days, then it would be a lot simpler to just sync data from the past 2 days. Othewise we'd need to keep track of the exact date chunks for which `isDataGolden` has been false which is a more complicated implemenetation

[2022-04-27 16:09] davydov-d commented on #12013
I've already started implementing the second option and want to add it's gonna be *much* more complicated solution since python CDK does not support compound cursor fields, only nested -  that's challenging

At the same time it looks like syncing data for 2 previous days does not require manipulations with the cursor field

[2022-04-27 16:31] ChristopheDuong commented on #7011
That's still a lot better than accumulating 600 unused tables from 6 months ago :)

[2022-04-27 16:33] michel-tricot commented on #7011
Also it doesn't mean we shouldn't do our best to clean up on exit (cancel...)

[2022-04-27 16:34] #4003 closed

[2022-04-27 16:40] kyle-cheung commented on #3520
@sherifnada this is awesome! Will this feature allow us to reset only a single table? Say if the schema changed for only 1 table. Will there also be anything along the lines of auto schema change detection

[2022-04-27 16:49] grishick opened #12406 "Publish new versions of JDBC-based source connectors"
Exit criteria: new versions of all connectors that use JDBC are published in docker hub, versions bumped in seed docs, release notes are updated.

## Publish New Versions
- [x] ~Clickhouse~
    - Clickhouse does not support fetch size configuration. So no new version is needed.
    - See https://github.com/airbytehq/airbyte/blob/v0.36.5-alpha/airbyte-integrations/connectors/source-clickhouse/src/m

[2022-04-27 16:53] grishick opened #12407 "Research why deleted_at field is not getting updated for deleted records"
The goal is to understand what is causing https://github.com/airbytehq/airbyte/issues/8830. The expectation for this ticket is to create an exit criteria for [8830](https://github.com/airbytehq/airbyte/issues/8830)

[2022-04-27 17:09] Inventrohyder commented on #2017
For me AirByte builds on an M1 and I don’t get any errors

however it doesn’t connect to any source or destination successfully

[2022-04-27 17:10] sherifnada commented on #12013
@davydov-d I think 2 days is probably the right lookback window. These [docs shared by Thalia](https://support.google.com/analytics/answer/1070983?hl=en#DataProcessingLatency&zippy=%2Cin-this-article) indicate data processing time is 24-48hours. So we should probably go for the following solution:

1. always sync data from 2 days ago
2. include isDataGolden flag in output
3. write a section in the

[2022-04-27 17:45] andyjih opened #12408 "[EPIC] Connection Change Isolation"
PRD: https://docs.google.com/document/d/144N5o3HVAuZuuI4f9Ox25QiOKcgm4Ap6nv9ymAExtDQ/edit#

[2022-04-27 17:49] benmoriceau commented on #12024
@benmoriceau Next sprint: API focus and sync with Tim.

[2022-04-27 18:08] kyle-cheung opened #12410 "BambooHR Not Successfully Syncing"
**Is this your first time deploying Airbyte:** No
**OS Version / Instance:** EC2 t2.large
**Memory / Disk:** 16Gb
**Deployment:** Docker
**Airbyte Version:** 0.35.56-alpha
**Source name/version:** BambooHR 0.2.0
**Destination name/version:** Snowflake 0.4.24
**Step:** Sync fails
**Description:** My BambooHR connector simply does not sync. I originally used 0.1.0 and it synced successfully but it w

[2022-04-27 18:17] girarda opened #12412 "Source Facebook Marketing: Slice large streams"
## Tell us about the problem you're trying to solve
The FB marketing source fails to sync very large, which is preventing customers from syncing all of their data.

As a workaround for https://github.com/airbytehq/oncall/issues/176, TS is manually updating the start and end time to pull data in 2 months intervals.

## Describe the solution you’d like
The FB integration should overwrite the `stream

[2022-04-27 18:21] evantahler commented on #12248
I think https://github.com/airbytehq/airbyte/issues/12118 + https://docs.google.com/spreadsheets/d/1gvLXo4xYXoxaKTyvFeSoWcPR_cMkV14TXglJOttW1gk/edit#gid=0 closes out this story

[2022-04-27 18:21] #12248 closed

[2022-04-27 18:21] davinchia commented on #9241
This is solved by upgrading docker to > 4.6.1.

[2022-04-27 18:21] #9241 closed

[2022-04-27 18:23] evantahler commented on #12029
[status] This is close, with the [doc](https://docs.google.com/document/d/1ctrj3Yh_GjtQ93aND-WH3ocqGxsmxyC3jfiarrF6NY0) and [diagram](https://whimsical.com/airbyte-connector-metrics-and-error-reporting-R825xrLbwKoti2BYEqupJG) being the main inputs to https://github.com/airbytehq/airbyte/issues/12118.  There are few more discussions to sort out about the changes to the airbyte spec

[2022-04-27 18:35] nataliekwong commented on #10644
Loom video of the latest design (approved by Andy Jih) https://www.loom.com/share/594f82c0f689419fb29004c6ab0a8fd8
Link to Figma: https://www.figma.com/proto/etaOkOsnXMoKwbfhCD71kw/WEB-APP?page-id=33609%3A177017&node-id=33609%3A177159&viewport=305%2C48%2C0.12&scaling=min-zoom&starting-point-node-id=33609%3A177159

[2022-04-27 18:54] misteryeo commented on #10579
@alexandr-shegeda Reviewed checklist.

[2022-04-27 18:57] #11775 closed

[2022-04-27 19:07] misteryeo commented on #11289
Reviewed checklist @sashaNeshcheret

[2022-04-27 19:08] krishnaglick opened #12414 "Remove Lodash"
Most cases where one can use lodash, it's overkill. It's a large library and oftentimes it's quite easy to replicate what a utility does in a few lines of javascript.
We have about 14 places where we use lodash and I'm proposing we replace them, and remove the library.

I know we're not scrambling to save every megabyte but I don't think this would be too big a lift.

[2022-04-27 19:09] octavia-squidington-iii commented on #12414
cc @airbytehq/frontend

[2022-04-27 19:17] itaseskii commented on #9972
I'll claim this issue.

[2022-04-27 19:26] #7867 closed

[2022-04-27 19:28] z3z1ma commented on #12162
I built my own DataSource Extractor -> GCS adapter and interface, docker-ified it, and put it in production successfully in the time no one has replied to me. With **much** less code, **much** faster (airbyte is slow like literally 7 hours 28 minutes for a sync from salesforce that my code does in 15 minutes?? with a fraction of the memory usage using async lazy generators... less than 80 lines of

[2022-04-27 19:39] marcosmarxm commented on #12383
Close as duplicate of https://github.com/airbytehq/airbyte/issues/2881 @markmacumber please post your comment in that issue.

[2022-04-27 19:40] marcosmarxm commented on #12338
Today is only possible to export to DataDog, @davinchia can you confirm it?

[2022-04-27 19:42] marcosmarxm commented on #12336
This is the high-level table or a nested table? Check the issue: https://github.com/airbytehq/airbyte/issues/9465

[2022-04-27 19:48] bruno-nirello commented on #12162
same issue here, i got stuck with no errors on logs, i tried the forum but no clues from airbyte team.

[2022-04-27 19:53] marcosmarxm commented on #12297
Closing as duplicate of https://github.com/airbytehq/airbyte/issues/4314

[2022-04-27 19:53] #12297 closed

[2022-04-27 19:56] misteryeo commented on #11029
@midavadim not sure why this epic is closed, but I've reviewed the checklist and left comments.

[2022-04-27 20:02] marcosmarxm commented on #1860
This is not a duplicate of https://github.com/airbytehq/airbyte/issues/2474?

[2022-04-27 20:03] edmundito commented on #12204
Related: #10874

[2022-04-27 20:07] marcosmarxm commented on #1473
This can be closed @timroes ?

[2022-04-27 20:14] marcosmarxm commented on #6895
Closing because is working now

[2022-04-27 20:14] #6895 closed

[2022-04-27 20:16] marcosmarxm commented on #6983
Close as duplicate of #2170

[2022-04-27 20:16] #6983 closed

[2022-04-27 20:17] alovew commented on #12333
@austinhale I'm seeing it in the deals table

[2022-04-27 20:23] marcosmarxm commented on #7317
@ksoenandar could you try latest version of Hubspot connector the association to company was added to the ticket stream.

[2022-04-27 20:28] marcosmarxm commented on #7554
@martinibach did you test the latest version of Hubspot connector?

[2022-04-27 20:30] marcosmarxm commented on #7593
See issue #2017 closing because is related to Mac M1 deploy and not the connector itself.

[2022-04-27 20:30] #7593 closed

[2022-04-27 20:32] marcosmarxm commented on #7922
Added in https://github.com/airbytehq/airbyte/pull/7787

[2022-04-27 20:32] #7922 closed

[2022-04-27 21:21] tuliren commented on #4314
This issue is addressed in https://github.com/airbytehq/airbyte/pull/12400, which use a dynamic batch size for based on how large the average row is in each table. We cannot set one batch size for each connector, because each table may require a different size.

[2022-04-27 21:50] girarda opened #12419 "Write no-code connector config for strava"

[2022-04-27 21:51] pmossman opened #12420 "Retool/Appsmith Tech Spec"

[2022-04-27 21:54] dsnam opened #12421 "Source Klaviyo: getting events for specific metrics"
## Tell us about the problem you're trying to solve
The Klaviyo Events stream hits an endpoint that returns events for all metrics, which can be quite large (we have one sync that was just shy of 100GB on its initial run with a start date of 2021.01.01).

## Describe the solution you’d like
I want to be able to only pull events for specific metrics. See https://developers.klaviyo.com/en/reference/

[2022-04-27 21:56] girarda opened #12422 "Write no-code connector config for greenhouse"

[2022-04-27 22:05] rcheatham-q commented on #10589
It appears this was fixed in this PR: https://github.com/airbytehq/airbyte/pull/10759. I will test this as soon as I can

[2022-04-27 22:26] grishick commented on #12108
@noahkawasaki-airbyte FYI, I filed an issue for similar context a month ago: https://github.com/airbytehq/airbyte/issues/11492 and @evantahler created an Epic for similar issues: https://github.com/airbytehq/airbyte/issues/11937

[2022-04-27 22:36] evantahler commented on #12108
Feel free to close https://github.com/airbytehq/airbyte/issues/11937 in favor of yours!

[2022-04-27 22:48] grishick commented on #10148
@alexandr-shegeda per @misteryeo 's comment above, we can release BQ destination to GA w/o OAuth

[2022-04-27 22:51] marcosmarxm commented on #12265
@nthbooth-feedr can you share the complete log of the failed sync. The Redshift had a change you need Airbyte minimum version 0.36.2-alpha

[2022-04-27 22:53] marcosmarxm commented on #12399
What version of Airbyte are you using?

[2022-04-27 23:08] marcosmarxm commented on #12162
@z3z1ma can you share the complete logs because the error you post? Also can you check the destination setting page maybe an update cause backward compability and you need to update some configs.

[2022-04-28 00:27] evantahler commented on #12161
Noting a [spec update](https://docs.google.com/document/d/1ctrj3Yh_GjtQ93aND-WH3ocqGxsmxyC3jfiarrF6NY0/edit#) - it's `AirbyteTraceMessage` now!

[2022-04-28 03:31] lgomezm commented on #1387
Some of these can't be mapped to streams:
* **Field Service Management:** Instead of being an HTTP resource, it's more like a configuration that can be enabled in the Freshdesk account. I could not find any endpoint providing any data regarding Field Service Management. See https://developers.freshdesk.com/api/#field-service-management.
* **Omnichannel Activities:** It's section in the API referen

[2022-04-28 03:31] lgomezm commented on #1387
BTW, I'm claiming this issue 🙂

[2022-04-28 06:36] #8916 closed

[2022-04-28 07:16] sumitm-iiit commented on #8220
This issue should be fixed now with the fix for  https://github.com/airbytehq/airbyte/issues/11934.
Can we close this ticket ?

cc: @thanhlmm - tagging you if you were waiting for the fix for this issue.

[2022-04-28 07:20] #8220 closed

[2022-04-28 07:47] dingobar commented on #12386
Update on this: I've found that the connections do not work when missing the volume. Could anyone shed some light on why? It fails trying to fetch the schema of the data (tested with S3 to S3). Are there some logs I can find somewhere?

[2022-04-28 08:12] YasmineBrut commented on #9827
I'm also having the same issue

[2022-04-28 08:39] davinchia commented on #12338
Yes. This is not yet possible today. We are exploring adding an Open Telemetry interface to make this possible. This is slated for this quarter and will be done in a few weeks.

[2022-04-28 09:12] alafanechere commented on #12410
From the logs I think the root cause is there:
`KeyError: "The requested stream employee was not found in the source. Available streams: dict_keys(['employees_directory_stream', 'custom_reports_stream'])"`

The `employee` stream is not in the configured catalog. This is probably because this stream was renamed/removed in version `0.2.0` (https://github.com/airbytehq/airbyte/pull/11326). According

[2022-04-28 09:31] alafanechere commented on #8830
@ameyabhope you mentioned on [Discourse](https://github.com/airbytehq/airbyte/issues/8830) that you'd want to work on this fix. Could you please sync with @edgao to make sure your work does not overlap? Thanks!

[2022-04-28 10:10] davinchia commented on #9486
this is probably a test issue. I am closing this.

[2022-04-28 10:10] #9486 closed

[2022-04-28 10:11] davinchia commented on #9180
@subodh1810 is this regarding the JOOQ generation not generating correct enums?

[2022-04-28 10:13] davinchia commented on #12278
@alafanechere is this a source/destination and will it be java/python?

[2022-04-28 10:18] davinchia commented on #7996
@lmossman is this still relevant?

[2022-04-28 10:19] davinchia commented on #7810
@alafanechere I don't really think this is really applicable today since the kube pod process creation is explicitly checking for these and the default is sufficient. Are users running into this today?

[2022-04-28 11:40] alafanechere commented on #7810
I think I opened this issue according to a user request. I think they needed the probes to be set to comply with a global cluster policy they have.

[2022-04-28 11:40] alafanechere commented on #12278
It's a python source

[2022-04-28 11:57] #7900 closed

[2022-04-28 11:57] #10220 closed

[2022-04-28 12:17] bazarnov opened #12432 ":tada: Source Amplitude: Increase `unit_test` coverage up to 90%"

[2022-04-28 12:34] EinavDanielDX commented on #12030
I get the same results on Kubernetes deployment:
![image](https://user-images.githubusercontent.com/97506919/165752069-8d63c2b4-fabf-4d15-96f1-99a275e79d3d.png)

The errors shows too quickly, indicates it did not actually downloaded the connector.
And this is the log from the airbyte-server pod:
[code]

running the spec command locally finishes successfully with valid JSON object
docker run --rm a

[2022-04-28 12:43] chetangehlot commented on #12338
Thanks @davinchia and @marcosmarxm .

[2022-04-28 12:55] DoNotPanicUA opened #12434 ":bug: RedShift Destination : Integration tests use only non-s3 credentials"
## Environment
- **Destination Connector and version**: RedShift Destination v.0.3.32
## Current Behavior
Currently, we have three integration tests for the RedShift destination:
- Copy
- Insert
- S3StagingInsert

We use one test credential for all tests and this credential doesn't contain S3 creds.
As result, we run all tests as a non-staging test.

## Expected Behavior
We need to replace current

[2022-04-28 12:55] #12016 closed

[2022-04-28 12:57] kelvingakuo commented on #9827
I was able to create the connection. Turned out I need almost admin access level.

However, I'm now running into the "printing access_token error". Seems to be a bug with the connector, no way to solve it

[2022-04-28 13:00] aantn commented on #12030
Try using an image that doesn't contain the character `_`

[2022-04-28 13:38] EinavDanielDX commented on #12030
I get the same error with `airbyte/destination-clickhouse:0.1.4`

![image](https://user-images.githubusercontent.com/97506919/165765098-5aae7cb5-cf90-4407-9ba9-b91bbbc22cd9.png)

[2022-04-28 14:06] alafanechere commented on #10030
Yes sure @sreeram-venkitesh! Feel free to check our documentation [here](https://docs.airbyte.com/connector-development/tutorials/cdk-tutorial-python-http/getting-started). We are available on our[ Connector Development](https://discuss.airbyte.io/c/connector-development/16) forum if you need assistance.

[2022-04-28 14:25] #4409 closed

[2022-04-28 14:38] wjwatkinson commented on #12399
0.35.45-alpha

Sorry I updated that line in the template, but forgot to remove the helper text at the beginning, so it wasn't clear.

[2022-04-28 14:40] dingobar commented on #12386
Hi! I don't know if I was just too tired this morning, but when trying to re-create the error and make a screenshot, it started working.

So I've successfully deployed the helm chart with my changes from the PR, and used airbyte to copy a csv file from one S3 bucket to another without issues.

This tells me that the PVC may indeed be unnecessary after all?

[2022-04-28 14:58] terekete opened #12437 "kubernetes - connectors to use workload identity federation credentials"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard?
I am unsure if this is possible today or not. Looking to understand if Airbyte can use a service account that has workload ident. fed. applied to it. This would be useful I think from the context of Kubernetes and avoiding the usage of service account keys.

## Describe the solution you’d like
Be abl

[2022-04-28 14:59] etsybaev opened #12438 "Source-TestAllSchemaTypes connector implementation"
Review all supported by DBT data types and create a dummy source connector that will throw dummy data of all supported types.
This would be used for MLP documentation creating and testing.
Ex. a separate stream for each data type with some mocked data of that type

[2022-04-28 15:44] sherifnada commented on #7996
I believe it is done already

[2022-04-28 15:44] #7996 closed

[2022-04-28 16:00] #12318 closed

[2022-04-28 16:01] marcosmarxm commented on #12318
@austinhale can you update to version 0.1.53?

[2022-04-28 16:06] johnlafleur commented on #10644
Just a question here: as this is pretty innovative in terms of user experience, would it be worth it to have a quick usability testing? we could ask in the Slack community or if we have calls with OSS users.

[2022-04-28 16:18] malikdiarra opened #12440 "Create a tech spec for monitoring improvement."

[2022-04-28 16:19] evantahler commented on #12119
Proof of concept work is being done in https://github.com/airbytehq/airbyte/pull/12423

[2022-04-28 16:21] #12025 closed

[2022-04-28 16:23] git-phu commented on #11621
New updates:
Did some more testing in `dev-2`.
`dev-2` environment changes:
- [preserved logs for source pods](https://github.com/airbytehq/airbyte/compare/peter/tee?expand=1) using [tee](https://linux.die.net/man/1/tee)
- created new node pool (using `e2-standard-4` nodes) for supporting greater load during testing

Tests using the postgres source connector:
- Using the current version of the pos

[2022-04-28 16:24] #11993 closed

[2022-04-28 16:30] davinchia opened #12441 "Make Partner Health Server health check more efficient."
See https://github.com/airbytehq/airbyte-cloud/pull/1559

[2022-04-28 16:31] #12441 closed

[2022-04-28 16:36] davydov-d commented on #10392
@bigdatawonders could you please comment my question above?

cc @misteryeo

[2022-04-28 16:50] #12029 closed

[2022-04-28 16:52] #12207 closed

[2022-04-28 16:53] aharelick commented on #12207
This issue was part of the Maintainer program, but we're removing the Google Search Console from that program so this issue is closed.

[2022-04-28 16:53] aharelick commented on #12208
This issue was part of the Maintainer program, but we're removing the Google Search Console from that program so this issue is closed.

[2022-04-28 16:53] #12208 closed

[2022-04-28 16:55] aharelick commented on #12216
This issue was part of the Maintainer program, but we're removing Bing Ads from that program so this issue is closed.

[2022-04-28 16:55] #12216 closed

[2022-04-28 16:56] aharelick commented on #12217
This issue was part of the Maintainer program, but we're removing Bing Ads from that program so this issue is closed.

[2022-04-28 16:56] #12217 closed

[2022-04-28 16:56] aharelick commented on #12218
This issue was part of the Maintainer program, but we're removing Bing Ads from that program so this issue is closed.

[2022-04-28 16:56] #12218 closed

[2022-04-28 16:57] aharelick commented on #12211
This issue was part of the Maintainer program, but we're removing Mixpanel from that program so this issue is closed.

[2022-04-28 16:57] #12211 closed

[2022-04-28 16:57] aharelick commented on #12212
This issue was part of the Maintainer program, but we're removing Mixpanel from that program so this issue is closed.

[2022-04-28 16:57] #12212 closed

[2022-04-28 16:58] tealjulia opened #12443 "Unsaved Changes modal appearing in error on Custom Transformation form"
## Current Behavior
After submitting the form to create a transformation, I am alerted there are unsaved changes if I navigate to another page, even if all changes have been submitted already.

https://user-images.githubusercontent.com/63751206/165804599-d60a0b75-93c7-41ab-baa2-7ad8c3f36d9b.mov

## Expected Behavior
There should not have been any unsaved changes and I should have been able to navi

[2022-04-28 16:59] austinhale commented on #12333
@alovew odd -- are you seeing that same thing if you direct pull from their API? I just double checked two instances I have access to and I'm only able to get ISO 8601 results, which matches what their current API docs show in terms of the response object for deals (screenshot below). Is the Hubspot instance you're pulling the dates from older? I know they did some API date standardization back in

[2022-04-28 17:03] #12205 closed

[2022-04-28 17:03] aharelick commented on #12206
This issue was part of the Maintainer program, but we're removing Mixpanel from that program so this issue is closed.

[2022-04-28 17:03] #12206 closed

[2022-04-28 17:22] pmossman opened #12444 "Presentation for Databricks"

[2022-04-28 17:23] sherifnada commented on #12322
note for implementer: we need to first publish the protocol / java/ python generated files to unblock this ticket. It's a small part of #12161

[2022-04-28 17:42] lmossman commented on #7996
Actually I don't think we ever did this - AFAIK when a connector definition is changed, that change still needs to be manually applied to the seed resource files through a gradle command (unless someone made a change to automate this that I am unaware of?). This ticket was about automating that process.
@sherifnada do you have a sense of if this is still causing any headaches for the connectors te

[2022-04-28 17:51] aharelick commented on #9972
This issue will be handled by an internal team, I'm removing it from the Maintainer program.

[2022-04-28 17:56] tealjulia commented on #10644
Thank you! Is there also a Figma and/or Loom for the Connection setup workflow? That is another one that has a less straightforward implementation (because a user may be creating a new Source/Destination or using an existing one within that same page)

[2022-04-28 18:12] davinchia commented on #6389
Hi, are people still experiencing this?

[2022-04-28 18:15] davinchia commented on #11209
@supertopher I think we chatted about this and determined it was too expensive at the higher tiers as it cost 4x more per user.

[2022-04-28 18:20] #10842 closed

[2022-04-28 18:21] #10353 closed

[2022-04-28 18:22] davinchia commented on #7566
We've discussed this several times and decided that this is something that will slow down dev speed enough that we don't want to enact this yet. I'm closing this or now.

[2022-04-28 18:22] #7566 closed

[2022-04-28 18:26] davinchia commented on #7191
This has been done with.

[2022-04-28 18:26] #7191 closed

[2022-04-28 18:32] davinchia commented on #6881
This has been fixed.

[2022-04-28 18:32] #6881 closed

[2022-04-28 18:33] davinchia commented on #6829
@terencecho might be interesting to consider based on our convo.

[2022-04-28 18:34] davinchia commented on #6560
@Zax337 I've put this in the backlog. The team will be looking at this appropriately.

[2022-04-28 18:34] davinchia commented on #6555
@marcosmarxm bump.

[2022-04-28 18:40] noahkawasaki-airbyte commented on #11937
I'm going to experiment on tackling number 3 and 5 here: https://github.com/airbytehq/airbyte/pull/12405 FYI!

Just want to make sure in case anyone else was also working on the same issues

[2022-04-28 18:41] nataliekwong commented on #9937
Solved, you can close this.

[2022-04-28 18:50] tuliren commented on #10750
I think this is fixed? I remember recently the SonarQube report did get updated after I fixed some of the reported issues.

[2022-04-28 19:24] sherifnada commented on #7996
@lmossman I believe we now do this as part of the work done in https://github.com/airbytehq/airbyte/pull/11712

[2022-04-28 19:39] nataliekwong opened #12447 "Change "Upgrade" link"
Currently, the "Upgrade" button link (in the left-hand sidebar) points to docs.airbyte.io/upgrading-airbyte, which is a dead link.
The correct link is: https://docs.airbyte.com/operator-guides/upgrading-airbyte/

The destination URL should be changed.

If possible, the original URL should redirect as well to the new URL, so that old versions of Airbyte navigate to the correct page.

[2022-04-28 19:39] octavia-squidington-iii commented on #12447
cc @airbytehq/frontend

[2022-04-28 19:39] brunomarram commented on #8084
I am having the same trouble at 0.36.4-alpha

[2022-04-28 19:56] faacsousa commented on #11853
I had the same issue when using normalization from typeform to mysql.
After some digging I traced the issue to the dbt.adapters.mysql not being found correctly on the airbyte/normalization-mysql
Switching the destination to postgre solved the issue for me.

As I'm still experimenting with airbyte this solution was sufficient for me.

Hoping this helps investigating

[2022-04-28 20:54] grishick opened #12449 "Create a checklist document for Postgres Source GA certification"
Checklist folder for connector releases: [Connector releases](https://drive.google.com/drive/folders/1qOzblo8xiBJc8AiK4AyuDTC1Ilt-GFzu)

[2022-04-28 20:54] grishick opened #12450 "Identify issues that need to be fixed for Postgres Source GA certification"
- [x] Add issues as blockers to [Postgres Source to GA epic](https://github.com/airbytehq/airbyte/issues/11791)
- [ ] Add issues to the [spreadsheet](https://docs.google.com/spreadsheets/d/1pKYyD25pEli7MgaLDg3mk6td4raJq7sqgZ6DAbLgExI/edit#gid=1288588270)

[2022-04-28 20:57] grishick opened #12451 "Create/Revise MLP document for Postgres Source GA certification"
[MLP folder](https://drive.google.com/drive/folders/1gF08xGXrpUsNwga4_1XemTHellTlhj5N)

[2022-04-28 21:25] sherifnada commented on #10938
@davydov-d yes please consider the checklist done

[2022-04-28 21:29] sherifnada commented on #11759
@davydov-d please consider the checklist approved, we're ready to move forward here

[2022-04-28 21:32] sherifnada commented on #11758
@davydov-d like [discussed in slack](https://airbytehq-team.slack.com/archives/C02U9R3AF37/p1651125026188399) message, I've crossed off the two documentation related issues from this epic. They will be handled by Airbyte

[2022-04-28 21:47] grishick opened #12455 "[Epic] Source postgres to Beta"
The main purpose of this issue is to track release progress for the connector.
Acceptance criteria

- [x] Create a [checklist](https://docs.google.com/spreadsheets/d/1pKYyD25pEli7MgaLDg3mk6td4raJq7sqgZ6DAbLgExI/edit#gid=1288588270) document that should be placed on the [Google Drive](https://drive.google.com/drive/folders/1qOzblo8xiBJc8AiK4AyuDTC1Ilt-GFzu)
- [x]  Checklist filled up by engineering

[2022-04-28 22:10] edgao opened #12457 "Empty config objects inside oneOfs cannot be saved"
When I create a destination-snowflake connector using the `AWS S3 Staging` mode, then refresh the page and try to switch to the `[Recommended] Internal Staging` option, the `Save changes and retest` button remains grayed out:
![Screen Shot 2022-04-28 at 3 07 25 PM](https://user-images.githubusercontent.com/5741425/165855685-fd53ce31-3dfb-4f2d-8ab4-71a2ce5b8efc.png)

The spec, for reference (this i

[2022-04-28 22:10] octavia-squidington-iii commented on #12457
cc @airbytehq/frontend

[2022-04-28 22:14] #12450 closed

[2022-04-28 22:15] grishick commented on #12449
Checklist [link](https://docs.google.com/spreadsheets/d/1pKYyD25pEli7MgaLDg3mk6td4raJq7sqgZ6DAbLgExI/edit#gid=1288588270)

[2022-04-28 22:15] #12449 closed

[2022-04-28 23:13] edgao opened #12459 "Fix DATs blind spot: connection check"
https://github.com/airbytehq/airbyte/pull/9407 and https://github.com/airbytehq/airbyte/pull/9610 introduced a bug that destination-redshift's `check` operation always failed. Investigate why this did not fail our DATs, then fix DATs to catch that case.

The latest master-branch commit affected by those commits is https://github.com/airbytehq/airbyte/commit/6ef2f80eba24675e03a290e6acc368cf64e4c0e8

[2022-04-28 23:16] edgao opened #12460 "Investigate normalization test / DATs blind spot: Redshift SUPER type"
https://github.com/airbytehq/airbyte/pull/9407 and https://github.com/airbytehq/airbyte/pull/9610 introduced a bug that normalization-redshift would fail with `function json_extract_path_text(super, "unknown", boolean) does not exist`:
[code]

Figure out which tests were supposed to catch this (`base-normalization` integrationTest or `destination-redshift` integrationTest), figure out why they _di

[2022-04-28 23:46] noahkawasaki-airbyte commented on #12108
This is actually just a sub task of that epic :) thanks for filing that^ Ill contribute

[2022-04-29 05:36] #4314 closed

[2022-04-29 07:17] sergiomanueljimenez opened #12463 "Error fetching schema from MongoDB Atlas"
## Environment
- **Airbyte version**:  0.34.0-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: airbyte/source-mongodb-v2:0.1.13
- **Destination Connector and version**: airbyte/destination-redshift:0.3.28
- **Severity**: High
- **Step where error happened**: Setup new connection

## Current Behavior
Our MongoDB has 50GB generated with a total

[2022-04-29 07:36] lassebenni opened #12464 "Import configuration throwing "$.catalog: null""
## Environment
- **Airbyte version**: 0.36.5-alpha
- **OS Version / Instance**: Ubuntu 20.04, GCP e2-standard-4
- **Deployment**:  Docker
- **Source Connector and version**: S3 0.1.10
- **Destination Connector and version**: BigQuery 1.1.1
- **Severity**: Low
- **Step where error happened**: Import Configuration

## Current Behavior
In the UI when clicking the "Export configuration" button, downlo

[2022-04-29 07:47] abhilash-m96 opened #12465 "Custom Transformation: sync fails when `dbt_profile` name other than 'normalize'"
## Environment
- **Airbyte version**:  0.36.3-alpha
- **OS Version / Instance**: Ubuntu 20
- **Deployment**: Docker
- **Source Connector and version**: MongoDB/0.1.13
- **Destination Connector and version**: Postgres/0.3.18
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
The custom DBT transformation fails whenever the profile name is something other than 'norma

[2022-04-29 07:54] alafanechere commented on #12386
According to docs and comments in code, it indeed should be unnecessary for the latest versions but for backward compatibility, it's still required. Your optional approach with it being enabled by default looks good to me. But I'd like a confirmation from @davinchia that my assumptions are correct.

[2022-04-29 07:56] davinchia commented on #10750
Closing for now. Please reopen if this shows up again.

[2022-04-29 07:56] #10750 closed

[2022-04-29 08:05] #9937 closed

[2022-04-29 08:12] darian-heede opened #12466 "Add `end_date` configuration in source connectors"
## Tell us about the problem you're trying to solve
For multiple source connectors we're working with the spec allows for the configuration of a `start_date`, i.e. a date from which the data should be fetched from the API. Unfortunately, there initially never is an `end_date` configuration that can be set, i.e. the date up to which the data is supposed to be fetched. Although most APIs allow for s

[2022-04-29 08:44] davydov-d opened #12467 "Source acceptance tests: allow a connector to sync data whose date is less than the supplied cursor field"
## Tell us about the problem you're trying to solve

some connectors intentionally sync the data older than the one stored in the state:
 - [Google Ads](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml#L31)
 - [Google Analytics](https://github.com/airbytehq/airbyte/pull/12426)

This happens in many cases where data can be

[2022-04-29 08:50] sherifnada commented on #9758
@lazebnyi can you confirm you were able to reproduce this issue? George's [review indicates he wasn't able to](https://github.com/airbytehq/airbyte/pull/12105#pullrequestreview-953189464)

[2022-04-29 08:55] rhaegar2803 commented on #6305
I will claim this issue.

[2022-04-29 08:56] itaseskii commented on #6305
I will claim this issue.

[2022-04-29 09:33] lazebnyi commented on #9758
@sherifnada Few days ago we discussed with George about that issue. And unfortunately I couldn't reproduce on real data and only with mocking some data I can get those issue. And as we discussed with @Phlair we can close issue and PR. What you think about that?

[2022-04-29 09:42] Phlair commented on #5365
The idea to use a cuckoo filter is to do precisely this while being more efficient with storage.

^ imo this sounds like a sensible approach. We should avoid introducing the complexity of a cuckoo filter unless we really have to and we might find out by doing the simpler approach first that there are other bottlenecks way before we hit state storage limitations.

[2022-04-29 11:30] lazebnyi commented on #11027
Successfully certified to Beta - https://docs.google.com/spreadsheets/d/1lRtAi5NXLs4_0unkPfVfx-xy3_924JlK3lbNaZodvC8

[2022-04-29 11:30] #11027 closed

[2022-04-29 12:19] #9758 closed

[2022-04-29 13:27] pedroslopez opened #12471 "Update the Java CDK to emit `AirbyteTraceMessage`"
Full context in parent issue https://github.com/airbytehq/airbyte/issues/12322
Java connectors should emit `AirbyteTraceMessage` with error information when something goes wrong.

### Scope / acceptance criteria:
- [x] Implement java utility for AirbyteTraceMessage
- [x] Implement a naive exception catch across java connectors so we can log the new AirbyteTraceMessage
  - [x] We should propagate a

[2022-04-29 13:27] pedroslopez opened #12472 "Update the Python CDK to emit `AirbyteTraceMessage`"
Full context in parent issue https://github.com/airbytehq/airbyte/issues/12322

The python cdk should emit `AirbyteTraceMessage` with error information when something goes wrong.

[2022-04-29 13:27] pedroslopez opened #12473 "SAT Testing confirms that a crash produces at least one `AirbyteTraceMessage`"
Full context in parent issue https://github.com/airbytehq/airbyte/issues/12322

The SAT should verify that an `AirbyteTraceMessage` is emitted when something goes wrong.

This may be done by using the `invalid_config.json` that most connectors have and running a sync with it.

[2022-04-29 13:47] noahkawasaki-airbyte commented on #12108
Initial PR to have workflows created in GHA: https://github.com/airbytehq/airbyte/pull/12405

[2022-04-29 14:51] #12247 closed

[2022-04-29 14:56] Phlair commented on #12108
@noahkawasaki-airbyte this is really great thinking, massive +1 to this.

I can see how this helps us avoid user error / visibility issues and avoid the problem statements 1 & 3.

I'm unsure how this solves problem statement 2 though, since the publish is retagging the docker image that was built in the PR. e.g.

- Two PRs changing source-postgres and running the new build workflow
- If I understa

[2022-04-29 15:04] #12276 closed

[2022-04-29 15:17] #11931 closed

[2022-04-29 15:39] pilayar76 opened #12476 "Complete data is not pulled for Gitlab Source"
I am trying to use Gitlab Source Connector and load PostgreSQL database.

Start Date of the application to pull is given from 2001 but I see some 20% data only.

Is there any settings to be enabled to sync complete data?

[2022-04-29 16:02] noahkawasaki-airbyte commented on #12108
Yeah, I've been rethinking the retag strategy vs building from new. But either way, if the scenario you said ever happened, in my mind the outcome would be:

PR 1 `source-postgres:0.3.19-candidate-12004` merges
PR 2 `source-postgres:0.3.19-candidate-12018` should actually get a merge conflict and not be able to merge until it is rebased/merged with master and updated (Need to test this theory)

So

[2022-04-29 17:42] #11784 closed

[2022-04-29 18:04] andyjih commented on #12092
Designs: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/?node-id=33740%3A181245

[2022-04-29 21:26] nataliekwong opened #12483 "Allow users to create new connection regardless of credit balance"
Followup to #11775 - Update the button logic to allow cloud users to create new connections even if the workspace ran out of credits. This wasn't possible before until #12717 was merged.

### Context

When creating a new connection, the button is sometimes greyed out and not clickable. It seems to be an issue when a source or destination has been set up. (example workspace: https://cloud.airbyte.i

[2022-04-29 21:26] octavia-squidington-iii commented on #12483
cc @airbytehq/frontend

[2022-04-29 21:30] girarda opened #12484 "Source Hubspot: 403 error on sync"
[A common problem users have](https://github.com/airbytehq/alpha-beta-issues/issues/41) with the Hubspot connector is they haven't authorized the required scopes.

While this is a configuration issue, not a system error, this is happening frequently enough that we should improve the flow.

## Possible solutions
1. The check method could try reading data from all the streams to ensure the right per

[2022-04-29 23:15] pilayar76 commented on #12476
Just found that pipelines, merge_requests are only loaded with latest 100 records. Is there a way to extract the complete set please?

[2022-04-29 23:49] robby-rob opened #12486 "Source Google Ads Sync option to skip inactive accounts rather than failing sync for all accounts"
## Tell us about the problem you're trying to solve

When using the Customer ID(s) feature in Google Ads source, an account may go inactive if it has not been used after some time. This causes the sync to fail for all accounts until the inactive account id is removed from the source configuration.

## Describe the solution you’d like

Preferred solutions, as notifications about an account expirati

[2022-04-30 00:57] girarda commented on #11459
Implementation steps:
1. pick a source that supports incrementals and overloads `stream_slices`, and pull the config from lastpass to a `secret` directory.
2. run the acceptance test from the source's root directory to confirm they work as expected:
    * `docker build . -t airbyte/source-<connector>:dev && python3 -m pytest integration_tests -p integration_tests.acceptance`
    * you can temporar

[2022-04-30 02:33] sherifnada opened #12488 "Source Bing Ads: redirect_url is not needed"
## Current Behavior
The redirect_url parameter requested by the connector is not needed. You'll notice that the connector only uses the method `request_oauth_tokens_by_refresh_tokens` which does not require the use of redirect_url. Therefore it's not required for the parameter to be included in spec.json and should be removed.

## Expected Behavior
remove the parameter from spec.json in a backward

[2022-04-30 02:40] sherifnada opened #12489 "Source BingAds: expose hourly/daily/weekly/monthly reports in discovery by default instead of in the connector's configuration settings"
## Tell us about the problem you're trying to solve
the Bing Ads connector is capable of syncing report streams which are aggregated by either an hourly, daily, weekly, or monthly time interval.

Today, the way that a user can replicate these streams is that they first must turn on the following toggles in the connector's configuration page:
![Screen Shot 2022-04-29 at 7 38 01 PM](https://user-ima

[2022-04-30 03:41] sherifnada opened #12490 "Source Bing Ads: remove the user_id parameter from spec.json"
## Current Behavior
The user_id parameter is not needed given that we can use the [`getuser` endpoint](https://docs.microsoft.com/en-us/advertising/customer-management-service/getuser?view=bingads-13) to get it on behalf of the user which performed the oauth process

## Expected Behavior
call [getuser](https://docs.microsoft.com/en-us/advertising/customer-management-service/getuser?view=bingads-13

[2022-04-30 05:10] sherifnada opened #12491 "🐛 Airtable source: remove base & tables from spec.json, and use the API to list available bases & tables, using bases as the namespaces for streams"
## Tell us about the problem you're trying to solve
Airtable bases are equivalent to database schemas. We should use them as such.

## Describe the solution you’d like
1. Remove the base & tables parameters from spec.json (we'll need to figure out how to handle backwards compatibility here, this is a tricky one)
2. Instead, list the bases inside the connector (when running `discover`) by calling t

[2022-04-30 05:20] sherifnada opened #12492 "Python CDK: create a way to indicate a stream's namespace"
## Tell us about the problem you're trying to solve
The Python CDK does not expose an ergonomic way of declaring a stream's namespace.

For example, a class which extends `Stream` can declare the property `primary_key` which declares that stream's primary key in the catalog output by that connector. I would similarly like a way to declare the namespace for a stream e.g here is an example of declar

[2022-04-30 07:48] distributhor opened #12494 "ArangoDB Source Connector"
## Tell us about the new connector you’d like to have
* I'd like to request an ArangoDB (NoSQL Graph DB) source connector. Currently an ArangoDB destination is not required for our specific use-case, but perhaps in the future it might be useful. I've already begun with the implementation of a connector (in Java) on a forked repo. If we have successfully taken it to production, and there is further

[2022-04-30 10:37] HenkvanDyk commented on #11827
@ProdigyMaster do you have more than 50 users in your pipedrive instance?
Ive spoken to Pipedrive about a paging issue with their `recents` API , specifically when puling `items=user`.
They've responded to me confirming that their paging does not work on `item=user` specifically.

The current Pipedrive connector uses a limit of 50 and will run infinitely if you have more than 50 users.
To work aro

[2022-04-30 10:50] ProdigyMaster commented on #11827
@HenkvanDyk No, there are only 10 users in my pipedrive

[2022-04-30 11:38] #11724 closed

[2022-04-30 11:40] AM-I-Human commented on #11724
I see the changes now, I think this issue is resolved

[2022-04-30 18:40] sherifnada opened #12497 "Source Smartsheets: remove the start_datetime option or hide it"
## Tell us about the problem you're trying to solve
This option is used when pulling data from the spreadsheet to filter out rows which were modified before this data. This seems like an easy footgun for the user to screw up setting up the connector.  The most common user workflow is probably going to be: first, replicate _all_ data in the spreadsheet, then over time replicate only the data which

[2022-04-30 19:28] sherifnada opened #12498 "Source tiktok: expose hourly/daily/lifetime reports in discovery by default instead of in the connector's configuration settings"
## Tell us about the problem you're trying to solve
the Tiktok connector is capable of syncing report streams which are aggregated by either an hourly, daily, or lifetime time interval.

Today, the way that a user can replicate these streams is that they first must choose which granularity they want on the connector's configuration page:
![Screen Shot 2022-04-30 at 12 17 43 PM](https://user-images

[2022-04-30 20:33] sherifnada opened #12499 "Source tiktok ads: Consolidate the `Oauth2.0` and `Production Access Token` auth types"
## Current Behavior
Both auth methods seem to exhibit the exact same behavior. So we should remove one of them

## Expected Behavior
remove the `Production Access Token` auth method and update the docs accordingly

[2022-05-01 08:35] EinavDanielDX commented on #12030
what airbyte version and chart version are you using?

[2022-05-01 09:15] davydov-d commented on #11759
Successfully certified to Beta: https://docs.google.com/spreadsheets/d/1y66T9JVc1fBj0DqzIH-XsNnnvCOsgmq1Hd_jLJ2L_98/edit#gid=1288588270

[2022-05-01 09:15] #11759 closed

[2022-05-01 11:38] andrewm4894 commented on #4239
We have a use case for Orbit <-> BigQuery at Netdata Cloud. I'd be happy to help test or help in some way.

[2022-05-01 11:40] andrewm4894 commented on #3384
We have a use case for Gainsight <-> BigQuery at Netdata Cloud. I'd be happy to help test or help in some way.

(p.s. have started using the Hubspot connector and its like magic! :) )

[2022-05-01 14:15] lgomezm commented on #10395
I am able to successfully sync child blocks if I share the child page with the integration:
<img width="916" alt="Screen Shot 2022-05-01 at 9 11 15 AM" src="https://user-images.githubusercontent.com/781929/166149701-29218632-7b2e-4a2b-aa0c-73519f50738e.png">

Then, you just have to setup a connection that syncs blocks. I am using Notion source connection, version 0.1.3:
<img width="974" alt="Scree

[2022-05-01 19:28] tuliren opened #12504 "Read Azure SQL database from read-only replica"
## Tell us about the problem you're trying to solve
- When reading from Azure SQL database, it can be more desirable to read from the read-only replica.

## Describe the solution you’d like
- Add an option in the Azure SQL source to read from the read-only replica.
- When this option is selected, add `ApplicationIntent=ReadOnly` in the SQL connection string.

## Describe the alternative you’ve con

[2022-05-02 04:39] ayyoubmaulana opened #12506 "Error in Database Intercom Contacts SCD"
## Environment
- **Airbyte version**:  0.36.4-alpha
- **Deployment**: Local
- **Source Connector and version**: Intercom 0.1.17
- **Severity**: High
- **Step where error happened**: Sync Job

## Current Behavior
Error when models contacts_scd.sql intercom

## Expected Behavior
Success when union all

## Logs
[logs-539.txt](https://github.com/airbytehq/airbyte/files/8600802/logs-539.txt)

[2022-05-02 07:08] #11836 closed

[2022-05-02 07:59] ramonvermeulen opened #12508 "Add a "name" field to a connection"
## Tell us about the problem you're trying to solve
When making a connection, I want to be able to give a connection a name. For instance, I am having multiple connections with the same source to the same destination, but with different settings. It would be nice if I can give a connection a name, so it is in one eye blink clear in the connection overview page what kind of connections I have.

##

[2022-05-02 08:34] jbowlen commented on #4314
Does someone see speed improvements?
I see the higher/adjusted fetch size in the logs but the sync time is actually the same.

Mssql -> snowflake
160Gb, 91 Mio rows
Old: 8h 48m
New: 8h 46m

5.46Gb, 1.45 Mio rows
Old: 0h 30m
New: 0h 33m

[2022-05-02 09:03] marieamelie94 commented on #12265
Hi, also encountering this issue (with airbyte 0.36.4-alpha), rolling back from Redshift destination connector 0.3.32 to version 0.3.28 helps with certain sources ( like google ads 0.1.36 ) but not all of them ( like postgres 0.4.12 ) so we are forced to switch redshift versions to make all our syncs work.

[2022-05-02 09:05] Phlair commented on #12108
@noahkawasaki-airbyte
Aha yes ofc, merge conflicts should block any of the problems I was thinking about. I think we can only guarantee merge conflicts on the files that get auto-updated rather than manually changed so as long as that is happening always _before_ PR is merged (kind of like publish now) then we should be good.

[2022-05-02 09:18] Phlair opened #12509 "DAT: Add test case for new field(s) appearing in data"
## Tell us about the problem you're trying to solve
Right now, most destinations can handle new fields coming from the source that weren't previously specified. Exactly how they handle this is currently unenforced (e.g. field doesn't appear in output, field in pre-normalized JSON). Some destinations may fail on this behaviour but it is currently unclear if any would.

See [this slack thread](https

[2022-05-02 09:52] LauraC91 commented on #1981
@Rachel-Norris I'm at the exactly the same step, have you solved with the design document

[2022-05-02 13:03] EinavDanielDX commented on #12030
@aantn
Trying another public repo did the trick, had to make sure to use format such as "repo/image:tag" and not "repo/subpath/image:tag"

[2022-05-02 13:46] #12202 closed

[2022-05-02 14:24] marcosmarxm opened #12510 "CDK Acceptance Test not working with nested cursor"
From Discourse discussion: https://discuss.airbyte.io/t/acceptance-test-is-failing-on-a-schema-with-a-nested-cursor/788/6

Is it possible to create a connector using nested cursor but acceptance test fails to validate them.

[2022-05-02 14:32] edmundito opened #12511 "[Epic] Introduce frontend experimentation"
Introduce the ability to run experiments in the Frontend.

One of the first consumers for this feature is the cloud sign-up page. The goal is to enable the growth team to run different iterations of the page without having to include the dev team.

 - [ ] https://github.com/airbytehq/airbyte/issues/12310
 - [ ] Introduce experimentation into the Sign Up/Registration page (Issue TODO)

[2022-05-02 14:32] octavia-squidington-iii commented on #12511
cc @airbytehq/frontend

[2022-05-02 14:46] Maxsabran commented on #2322
+2 it is becoming critical the more connector we use and update

[2022-05-02 14:50] edmundito commented on #9754
Part of maintenance to keep our deps up to date. Any critical updates can go into specific issues.

[2022-05-02 14:50] #9754 closed

[2022-05-02 14:53] auyer commented on #12057
It still happens with Postgres Source connector version `0.4.12` and Aribyte version `v0.36.4-alpha`

[2022-05-02 15:01] edmundito commented on #10735
Discussed with frontend team. The solution is to display a message that you don't have access to this resource + CTA to return to the home page. Any more enhancements should be tracked as a separate issue.

[2022-05-02 15:06] edmundito commented on #4407
@harshithmullapudi If you're interested in working on this issue, please follow up with @timroes about working with the frontend team.

[2022-05-02 15:27] alafanechere commented on #12386
Hey @dingobar I had a chat with @davinchia . According to his recommendation, you can totally discard the PVC and its usage in the charts. It's not been used since our last September version so the backward compatibility guarantee is not needed anymore.

[2022-05-02 15:40] alafanechere commented on #2322
Hey @Maxsabran I know it's not ideal but you can schedule a `cron` job with `docker system prune` to perform schedule this periodic cleanup.

[2022-05-02 16:37] #11029 closed

[2022-05-02 16:41] nataliekwong opened #12512 "Enable 'New Destination' page from existing Source"
We merged a change to the new source, destination, and connection pages (https://github.com/airbytehq/airbyte/issues/11775)

When creating a new destination from an existing source, the old page still exists. (example URL: https://cloud.airbyte.io/workspaces/00fc1fef-9b4c-415a-8e45-013a30b0cf8e/source/3d5f2cb0-5af1-4dee-a90e-ec1f9182474f)

![Screen Shot 2022-05-02 at 12 41 23 PM](https://user-imag

[2022-05-02 16:41] octavia-squidington-iii commented on #12512
cc @airbytehq/frontend

[2022-05-02 16:43] austinhale commented on #12318
Updated and the sync is now successful! Thanks @marcosmarxm 🙏

[2022-05-02 16:46] supertopher opened #12514 "[Bug Fix/New Feature] Don't fail silently for large schemas"
## Problem Statement
If you send anything (but mostly a schema) via temporal, this request is sent under the hood using GRPC.
GRPC by default maxed out at 4MB

## Expected work to be done
Sending a schema via setting up a new connection with a schema in excess of 4MB does not fail silently

## Potential Approaches
Increase the GRPC message length for the specific channel temporal is using
[example

[2022-05-02 17:11] nataliekwong commented on #12483
Rather than remove the button, I would prefer to leave the button greyed out, but give the user an explanation of why (eg. on hover show a message, like: "Adding new destinations requires a positive credit balance".

But it seems what is really happening here is that users are blocked from creating connections.

It isn't intuitive to me as a user why I can create new sources or destinations, but n

[2022-05-02 17:42] #12406 closed

[2022-05-02 17:42] joaquin-orono opened #12517 "Source MSSQL: fail when the databaseName has "-" character into the name"
## Environment
- **Airbyte version**:  0.35.59-alpha
- **OS Version / Instance**:  Ubuntu 18.04 on GCP
- **Deployment**: Docker
- **Source Connector and version**: MSSQL 0.3.22
- **Severity**: Critical
- **Step where error happened**: I want to use MSSQL Connector with CDC and the name of the database contain the character "-" the connection fail with the message:
Incorrect syntax near '-'
After t

[2022-05-02 17:42] hpias commented on #7749
One should only ever split the source load to multiple connections to have different sync schedules for different streams, never because of parallelism.
This should probably be a setting that is connection based, or even schedule based. Workers, Sources and destinations shouldnt care about it. Strictly orchestration/scheduler implementaion reaponsibility. Eg split configured streams in number of c

[2022-05-02 17:44] nataliekwong opened #12518 "Improve usability of setting up webhook notifications"
We provide the following helptext for a user to set up their notifications via webhook.

![Screen Shot 2022-05-02 at 1 34 43 PM](https://user-images.githubusercontent.com/38087517/166296329-dd2dcb96-8c01-4e7b-9ef6-da62dccf73c6.png)

For a user that is unfamiliar with webhooks (e.g. non-engineers), this can be a daunting task because it is not as simple as just turning on a feature with a click, de

[2022-05-02 17:53] andyjih commented on #10858
Designs here: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/WEB-APP?node-id=34120%3A189267

Option 3 is my preference.

[2022-05-02 17:55] sadornounnoba commented on #12277
I am running postgresql 12.2

I already set search_path=public

`psqluser=> show search_path;
   search_path
-----------------
 "$user", public
`

[2022-05-02 18:18] evantahler opened #12519 "Use `AirbyteTraceMessage` to populate FailureReasons"

[2022-05-02 18:20] #4569 closed

[2022-05-02 18:23] grishick commented on #11322
The fix should probably use the new AirbyteTraceMessage that is being added to the protocol: https://github.com/airbytehq/airbyte/pull/12458

[2022-05-02 19:11] #11715 closed

[2022-05-02 20:28] nataliekwong opened #12524 "Setup Guide redirect to docsurl.com"
Clicking on the link "Setup Guide" opens a new window to docsurl.com

It should open the docs page relevant to the connector.

![Screen Shot 2022-05-02 at 4 27 35 PM](https://user-images.githubusercontent.com/38087517/166322262-6b55955b-3455-41a2-bddc-591d6fc47e87.png)

[2022-05-02 20:28] nataliekwong commented on #12524
cc @Amruta-Ranade

[2022-05-02 20:28] octavia-squidington-iii commented on #12524
cc @airbytehq/frontend

[2022-05-02 20:54] edmundito opened #12527 "Update segment properties for source and destination to be consistent"
## Tell us about the problem you're trying to solve
Currently, when sending an analytics events, the properties are not consistent in the codebase:

1. Some sources use `connector_source_id` and others use `connector_source_definition_id`
2. Some destinations use `connector_destination` and others use `connector_destination_nefinition`

## Describe the solution you’d like
The goal is to match the

[2022-05-02 20:54] octavia-squidington-iii commented on #12527
cc @airbytehq/frontend

[2022-05-02 21:07] timroes commented on #12524
This is likely caused by the connector actually delivering this URL (since it's the example used during generating the skeleton code for a connector) and needs to be fixed by the connector team.

[2022-05-02 21:25] nataliekwong commented on #12524
Thank you for the redirect @timroes . @misteryeo  - heads up I'm relabelling this one.

[2022-05-02 21:40] grishick commented on #11787
@alexandr-shegeda this also looks like a duplicate of https://github.com/airbytehq/airbyte/issues/11790

[2022-05-02 21:47] grishick commented on #10102
@misteryeo @igrankova can this issue be closed? If not, what is the remaining scope of work?

[2022-05-02 21:55] grishick commented on #2948
@cgardens is this still blocked?

[2022-05-02 22:42] octavia-squidington-iii commented on #6389
cc @airbytehq/frontend

[2022-05-02 22:58] #12209 closed

[2022-05-02 23:10] marcosmarxm commented on #12012
I tried to simulate the issue. Version 0.36.6-alpha
Edited first the env variable (`EXPORT_SECRETS_IN_EXPORT`) to true
export and import the file to a new instance.
The server throw and error but I click in continuing using the app and my connections showed in the UI.
[code]

[2022-05-02 23:33] andyjih commented on #12508
Thanks for opening this issue @ramonvermeulen ! It's like you read our minds. We have designs for this and will be implementing something like what you've described soon.

[2022-05-02 23:34] andyjih opened #12529 "As a user, I can name my Connections so I can better identify and distinguish between them"
Designs can be found here: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/WEB-APP

Tied to: https://github.com/airbytehq/airbyte/issues/12508

[2022-05-02 23:38] grishick commented on #8404
The solution should probably include using new AirbyteTraceMessage (https://github.com/airbytehq/airbyte/issues/12322, https://github.com/airbytehq/airbyte/issues/12161, https://github.com/airbytehq/airbyte/issues/12519)

[2022-05-02 23:41] sherifnada commented on #12467
@davydov-d we'll enable this functionality soon -- please don't block certifications on this for now, but create issues for Analytics and Ads, and link them to this issue. Once this functinoality is enabled we should re-enable incremental tests for them

[2022-05-02 23:48] misteryeo commented on #12524
Thanks! This is a database connector so @grishick et al will dig in :)

[2022-05-02 23:53] andyjih opened #12530 "Update loading state of the switch component"
1. Update the switch component to support the loading state
  a. Rename component from `Toggle` to `Switch`
  b. Migrate from styled components to sass
2. Identify areas where the loading state is supported
  a.  **Search in code for the Toggle component and figure out which ones need to have the loading state**
3. Update layout around toggle to include error messages when the request fails

Desig

[2022-05-02 23:55] octavia-squidington-iii commented on #12530
cc @airbytehq/frontend

[2022-05-03 00:11] #10288 closed

[2022-05-03 00:12] sherifnada commented on #10608
fwiw this is not really a problem on python connectors since they use SAT anyways. @grishick moving this to the DBs backlog since it's not a concern for Sources DX

[2022-05-03 00:17] sherifnada commented on #1600
I don't think this is something prioritized any time soon. Closing as won't do. @cgardens feel free to reopen if you think this should be reprioritized.

[2022-05-03 00:17] #1600 closed

[2022-05-03 00:18] sherifnada commented on #5586
fixed in #9243

[2022-05-03 00:18] #5586 closed

[2022-05-03 00:24] #10174 closed

[2022-05-03 00:25] #10424 closed

[2022-05-03 00:25] #10436 closed

[2022-05-03 00:25] #10425 closed

[2022-05-03 00:25] #10427 closed

[2022-05-03 00:25] #10437 closed

[2022-05-03 00:25] #10440 closed

[2022-05-03 00:25] #10428 closed

[2022-05-03 00:25] #10429 closed

[2022-05-03 00:25] #10441 closed

[2022-05-03 00:25] #10442 closed

[2022-05-03 00:25] #10423 closed

[2022-05-03 00:25] #10431 closed

[2022-05-03 00:25] #10432 closed

[2022-05-03 00:25] #10433 closed

[2022-05-03 00:25] #10434 closed

[2022-05-03 00:25] #10435 closed

[2022-05-03 00:26] #10426 closed

[2022-05-03 00:27] sherifnada commented on #1758
@malikdiarra FYI moved this to oss team's backlog

[2022-05-03 00:28] sherifnada commented on #4534
closed in #11497

[2022-05-03 00:28] #4534 closed

[2022-05-03 00:29] sherifnada commented on #5129
#9441 does this, closing

[2022-05-03 00:29] #5129 closed

[2022-05-03 00:30] sherifnada commented on #9660
This is done using the IncrementalMixin class

[2022-05-03 00:30] #9660 closed

[2022-05-03 00:34] sherifnada commented on #11600
handled by the new zenhub automation script

[2022-05-03 00:34] #11600 closed

[2022-05-03 01:01] sherifnada commented on #10960
fixed in the most recent CDK release

[2022-05-03 01:01] #10960 closed

[2022-05-03 01:04] cjwooo commented on #11812
@cgardens What is the timeline for "scheduler going away"?

[2022-05-03 01:06] #9540 closed

[2022-05-03 01:06] #9541 closed

[2022-05-03 01:07] #9539 closed

[2022-05-03 01:07] sherifnada commented on #9318
@lmossman should this be closed?

[2022-05-03 01:08] #8689 closed

[2022-05-03 01:08] sherifnada commented on #10641
@girarda is this source or destination acceptance tests?

[2022-05-03 01:12] sherifnada commented on #10733
related to #12467

[2022-05-03 01:13] #10539 closed

[2022-05-03 01:13] #10287 closed

[2022-05-03 01:14] #10154 closed

[2022-05-03 01:19] girarda commented on #10641
The 2 tests I noticed (testSyncWriteSameTableNameDifferentNamespace and testSyncUsesAirbyteStreamNamespaceIfNotNull) are destination acceptance tests. updated issue

[2022-05-03 03:14] #10059 closed

[2022-05-03 03:16] #10037 closed

[2022-05-03 06:20] tuliren opened #12532 "Investigate the performance bottleneck of source database connectors"
## Tell us about the problem you're trying to solve
- The source database connector syncs data end-to-end at the rate of 1-3K rows per second, or a few MB per second.
- It is way slower than just running the source connector alone.

## Describe the solution you’d like
- Investigate the amount of time spent on each part of the system.
- Figure out the potential max speed end-to-end.
- Locate the bo

[2022-05-03 06:22] tuliren commented on #4314
@jbowlen, thank you for the feedback.

This change is mainly to prevent the out-of-memory issue. Its impact on performance is not consistent. It does improve the runtime for some tables, but has no effect for the others, based on the schema and amount of data.

We will have a more comprehensive analysis of the database connector performance. The issue is [here](https://github.com/airbytehq/airbyte

[2022-05-03 06:32] terencecho commented on #10929
This has been deployed to production as of 5/2/22.

[2022-05-03 06:32] #10929 closed

[2022-05-03 06:41] tuliren commented on #11424
Databricks is going to roll out their internal staging solution within the month. Ideally, we should wait until their solution is ready, and do the two changes together:
- Migrate our S3 staging loading method to use the serialized buffer.
- Add a new loading method to use Databricks' internal staging.

[2022-05-03 06:54] alafanechere commented on #12309
Thank you @igrankova!!!

[2022-05-03 06:55] alafanechere commented on #12308
Thank you @igrankova!!!

[2022-05-03 09:21] #9584 closed

[2022-05-03 10:42] #11835 closed

[2022-05-03 12:46] #12386 closed

[2022-05-03 12:53] alafanechere commented on #12137
Thank you for this suggestion @Imbruced! We did not implement authentication at first because most of our users use port forwarding or IP whitelisting to connect to their Airbyte instance without auth.
We will consider adding this, probably by introducing new environment variables and CLI options.

[2022-05-03 13:06] Phlair commented on #12471
Open Qs:
- Where do we do the naive catch?
  - IntegrationRunner looks like a good contender
  - Depending on the answer to this, it may become necessary to bump and publish connectors to actually implement the naive try/catch. Is that in scope?

[2022-05-03 14:24] #12013 closed

[2022-05-03 15:03] etsybaev commented on #11790
@igrankova could you please take a look at the checklist from unblockers point of view?
Thanks in advance!

[2022-05-03 15:08] #10938 closed

[2022-05-03 15:29] Phlair commented on #12473
Open Q:
- Should we actually be testing for this is SAT if the implementation described [here](https://github.com/airbytehq/airbyte/issues/12471)/[here](https://github.com/airbytehq/airbyte/issues/12472) means that connectors will all be doing this automatically? In other words, this seems like a concern of the cdk implementation rather than the individual connector...
  - If we do want to have th

[2022-05-03 15:48] lmossman commented on #9318
Yes it should, the Orb source connector exists and is being actively used by Airbyte

[2022-05-03 15:48] #9318 closed

[2022-05-03 15:51] pedroslopez opened #12537 "CDK: Connectors can define a method to get error message"
## Tell us about the problem you're trying to solve
After #12472, connectors using the CDK will generically emit `AirbyteTraceMessage`s when encountering unhandled exceptions. These `AirbyteTraceMessage`s contain a generic, uninformative `message` that is displayed to the user.

The goal is to give developers an easier way to provide a better user-friendly messages based on raised exceptions.

##

[2022-05-03 15:54] Phlair opened #12538 "JDBC source/dest: Add AirbyteTraceMessage errors to abstract jdbc connectors"
## Tell us about the problem you're trying to solve
Dependent on https://github.com/airbytehq/airbyte/issues/12471
Probably makes sense to be under this Epic: https://github.com/airbytehq/airbyte/issues/11322

After [adding AirbyteTraceMessage generically](https://github.com/airbytehq/airbyte/issues/12471), the actual user friendly display message will not be specific at all.

Since we have abstra

[2022-05-03 16:27] sherifnada commented on #3486
we're moving away from using pydantic where possible as it makes it harder to allow non-engineers to edit specs

[2022-05-03 16:27] #3486 closed

[2022-05-03 16:27] #3307 closed

[2022-05-03 16:28] sherifnada commented on #7048
moving away from pydantic in favor of JSON to allow non-engineers to contribute to specs

[2022-05-03 16:28] #7048 closed

[2022-05-03 16:29] sherifnada commented on #2762
backoff v2.0 has been released, this is no longer blocked

[2022-05-03 16:29] sherifnada commented on #6843
@midavadim is this still an issue?

[2022-05-03 16:30] #2771 closed

[2022-05-03 16:48] pmossman opened #12539 "Get first simple acceptance test running in Cloud"
Goal is to establish the infra to run Cloud acceptance tests. A non-goal is having comprehensive tests for Cloud.

Explore if easy to use OSS tests first. Look at the OSS airbyte-tests module, [AcceptanceTests.java](https://github.com/airbytehq/airbyte/blob/master/airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java). Potentially introducing a new dependency in bu

[2022-05-03 16:49] misteryeo commented on #4407
We'll be revising the designs and updating here in the next few days.

[2022-05-03 16:52] grishick commented on #12057
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/12057?planning-poker) with ZenHub @tuliren @edgao @noahkawasaki-airbyte

[2022-05-03 16:59] grishick commented on #8981
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/8981?planning-poker) with ZenHub @noahkawasaki-airbyte

[2022-05-03 17:14] sherifnada commented on #11459
Notes from backlog grooming: we should also expose a flag which allows the tests to do the comparison without regard to ordering

[2022-05-03 17:17] grishick commented on #4253
Looking at https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java base class this appears to be addressed already in this [PR #4580](https://github.com/airbytehq/airbyte/pull/4580)

[2022-05-03 17:17] #4253 closed

[2022-05-03 17:19] grishick commented on #9552
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/9552?planning-poker) with ZenHub @tuliren @edgao

[2022-05-03 17:20] grishick commented on #9552
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/9552?planning-poker) with ZenHub @noahkawasaki-airbyte

[2022-05-03 17:21] girarda commented on #11459
notes from backlog grooming: this ticket is only scoped to verifying GA connectors

[2022-05-03 17:21] sherifnada commented on #11459
we should also make this turned on by default in all new connectors

[2022-05-03 17:27] grishick commented on #10649
Ideally, the fix will be more generic than just addressing a single database, if that's possible. At the minimum, the fix should address current bug in Postgres source.

[2022-05-03 17:38] sherifnada commented on #12412
Scope of what thsi change should be:
1. test with one day increments and see what happens to runtime.
2. If the slowdown isn't massive then just ship that change

[2022-05-03 17:43] misteryeo commented on #9410
@bazarnov FYI, @itaseskii will be working on closing this out so we don't have to address it.

[2022-05-03 17:50] grubberr opened #12540 "🎉 Source Amazon Ads: improve docs for beta"
## Expected Behavior
Improve documentation for Beta

[2022-05-03 17:52] Phlair commented on #12473
notes from backlog grooming:
- add this as a default test, opt-out possible for cases where cdk not being used.
  - document how to opt-out
- clarify stance on AirbyteTraceMessage in protocol
  - strict requirement? Highly recommend? Optional?
- create issue for DAT

[2022-05-03 18:11] Phlair commented on #12538
backlog grooming:
- speak to DW connectors team to pass this issue over

[2022-05-03 18:12] aantn opened #12542 "Error syncing posthog to bigquery"
See error below:

[code]

[2022-05-03 18:16] Phlair commented on #11322
@grishick I'm currently working [on this](https://github.com/airbytehq/airbyte/issues/12471) to create AirbyteTraceMessage functionality for Java connectors, after which it can be used to create the improved errors as per this issue.

Had an idea for some incremental value here by doing this: https://github.com/airbytehq/airbyte/issues/12538
We looked at it in backlog grooming and think that ticke

[2022-05-03 20:02] dsnam opened #12549 "source shopify: possible rate limit issue"
## Environment
- **Airbyte version**:  0.35.11-alpha
- **OS Version / Instance**: aws ec2 ubuntu 20.04
- **Deployment**: docker
- **Source Connector and version**: seen on shopify 1.26 and 1.36
- **Destination Connector and version**: redshift 3.23
- **Severity**: High
- **Step where error happened**: sync

## Current Behavior
source connector outputs the error from [this situation described in th

[2022-05-03 20:40] edmundito opened #12551 "Update replication settings layout to match design"
Followup to #10797

There's an update to the replication settings layout and the app should be reflected to match. You can see a screenshot between the current state and the desired state in the Figma:

https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/WEB-APP?node-id=33588%3A168733

1. Remove the setup connection header
2. Widen the gap between sections
3. Make "Activate streams you want to sync"

[2022-05-03 20:40] octavia-squidington-iii commented on #12551
cc @airbytehq/frontend

[2022-05-03 20:44] edmundito commented on #12512
This also needs to be done from the destination side as well: When a new source to an existing destination without sources.

Figma:
https://www.figma.com/proto/etaOkOsnXMoKwbfhCD71kw/WEB-APP?page-id=34219%3A195976&node-id=34219%3A198326&viewport=305%2C48%2C0.12&scaling=min-zoom&starting-point-node-id=34219%3A198326

[2022-05-03 20:45] #10129 closed

[2022-05-03 20:51] edmundito commented on #12172
While working on #10735, which at least provides an error when the user gets a 401, I tried to understand why the sidebar was not showing, and currently, it's a bit tricky. The error boundary components live outside of the bar, so if something errors badly, everything disappears.

What I recommend doing first is listing out understanding of what can be done and listing out which areas are the most

[2022-05-03 21:23] #10601 closed

[2022-05-04 00:46] tuliren commented on #10608
The direct dependencies on the github repositories have been removed in https://github.com/airbytehq/airbyte/pull/12531.

[2022-05-04 01:19] marcosmarxm commented on #10850
Duplicated of https://github.com/airbytehq/airbyte/issues/2984

[2022-05-04 01:19] #10850 closed

[2022-05-04 01:48] #5754 closed

[2022-05-04 02:01] acvelozo commented on #12532
Hi, I don't know Java and am not fully aware of how the connector works, so I don't know if the following comment really makes sense. My apologies if it doesn't. After seeing the following code snippet from the **DefaultReplicationWorker.java** it seems that the connector reads one record at a time from the source:

![image](https://user-images.githubusercontent.com/16723411/166613412-4c361bbd-540

[2022-05-04 02:23] #12372 closed

[2022-05-04 04:53] nataliekwong opened #12557 "Fix wording on "New source" page"
## Current Behavior
The text on the page reads "Sources Sources are where..."
![Screen Shot 2022-05-04 at 12 50 22 AM](https://user-images.githubusercontent.com/38087517/166624639-2b70443f-ddd6-4449-a5e5-a231ae3430b7.png)

## Expected Behavior
The text should read "Sources are where..."

It should look like the Figma here: https://www.figma.com/proto/etaOkOsnXMoKwbfhCD71kw/WEB-APP?page-id=26178%3A

[2022-05-04 04:53] octavia-squidington-iii commented on #12557
cc @airbytehq/frontend

[2022-05-04 05:07] nataliekwong opened #12558 "Errors persist on source/destination setup when a new source/destination is selected"
## Current Behavior
When a user attempts to authenticate a source but fails the authentication attempt, an error message is displayed with the error message. If the user then selects a new source, the old error message persists at the bottom of the dialog. This is confusing to the user as the error message now shows up for the new source.

If the user then attempts to configure the new source, but

[2022-05-04 05:41] kssanthosh opened #12559 "helm chart nil pointer evaluating interface {}.postgresql"
## Environment
- **Airbyte version**:  0.36.7-alpha
- **OS Version / Instance**:  Ubuntu 18.04
- **Deployment**:  Kubernetes version  1.19.7 deploy with Helm
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 10.13.9)
- **Severity**:  High
- **Step where error happened**: Deploy

## Current Behavior

[2022-05-04 06:06] bsecouet opened #12560 "IBM Sybase conector"
## Tell us about the new connector you’d like to have
* Which source and which destination?
sybase to bigquery with CDC if possible

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
no

## Describe the context around this new connector
to synchrnose with bigquery for datawarehousing

* Why do you need this inte

[2022-05-04 07:19] #12249 closed

[2022-05-04 07:44] tuliren commented on #11661
Cannot reproduce without more information such as the database schema. Also the reported Postgres source version `0.4.4` did not include the latest optimization to adjust the fetch size. So it is known that if any table has large rows, it can fail due to OOME.

The recommendations are:
1. Upgrade to the latest Postgres source (`0.4.12`).
2. Use the default S3 part size.
  - Leave the part size par

[2022-05-04 07:44] #11661 closed

[2022-05-04 07:55] timroes commented on #10858
This is unfortunately not generic enough as a design for us to work in auto generated UIs. I'll leave some comments in the Figma, so we can reiterate over this.

[2022-05-04 08:10] tuliren commented on #12532
@acvelozo, thank you for looking into this.

The data is read in chunks from the database. The `fetchSize` is controlling the number of rows to read for each batch.

The code snippet above is processing the data in a later stage. Even though multiple rows of data can be retrieved from database at once, they still need to be handled one by one internally, at least according to our current design. I

[2022-05-04 08:14] #12557 closed

[2022-05-04 09:23] TeOdodin opened #12563 "Source Facebook Pages: field `nativeoffers` has been removed from the page endpoint"
## Environment
- **Source Connector and version**: 0.1.5 but still present in 0.1.6 ([metrics.py](https://github.com/airbytehq/airbyte/blob/a4e533e25e84ad0effa8010f65ab38e46fcfb480/airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/metrics.py#L253))
- **Destination Connector and version**: Postgres 0.3.13
- **Severity**: Low (because easy to fix in local), High (because pr

[2022-05-04 09:31] timroes commented on #12558
@edmundito I remember this came up in a previous sync, but I wasn't able to find a duplicate issue for this. Are we already tracking this via another issue?

[2022-05-04 09:40] dingobar commented on #11772
Currently blocked by this! Would be awesome to be able to run it as non-root (openshift requires it).

[2022-05-04 09:56] xavierosee commented on #8875
Hello,

Just thought I'd add a little bit since I'm experiencing the exact same issue (see [logs-672.txt](https://github.com/airbytehq/airbyte/files/8619250/logs-672.txt) ).

if that can help:
- I did try switching `Auto Offset Reset` from `latest` to `earliest`
- our Kafka cluster versions are `1.1.1` and `2.5.1`
- `inter.broker.protocol.version` and `log.message.format.version` are both `0.10.2`

[2022-05-04 10:12] #12432 closed

[2022-05-04 10:23] dingobar commented on #11772
@alafanechere I see there's a history here. I could potentially contribute to making this happen, but would like some feedback from the core team first. Is this a good community issue? I see that the previous attempt failed because of some failing acceptance tests, how do we make sure that doesn't happen again?

[2022-05-04 11:28] sashaNeshcheret commented on #11289
@misteryeo could you check list of Outstanding Bugs in 'Nice to have' section to verify that no one is not blocking going s3 to GA?

[2022-05-04 11:58] Phlair opened #12567 "DAT Testing confirms that a crash produces at least one AirbyteTraceMessage"
Full context in parent issue https://github.com/airbytehq/airbyte/issues/12322

The DAT should verify that an `AirbyteTraceMessage` is emitted when something goes wrong.

[2022-05-04 14:04] #12349 closed

[2022-05-04 14:14] briveira commented on #11128
Still seeing "non-json response" fails when adding a local GITLAB source with hundreds of projects in 0.36.7-alpha (after HOURS trying to add the new gitlab source)

[2022-05-04 14:47] etsybaev commented on #11790
Hi @andyjih . Could you please review this as part of  "Move checklist to the product team for review" section?
Thanks!

[2022-05-04 15:02] misteryeo commented on #12256
Don't we already support this @grishick https://share.getcloudapp.com/wbuz446J?

[2022-05-04 15:09] kyle-cheung commented on #12410
@alafanechere this worked!

[2022-05-04 15:49] misteryeo commented on #11289
LGTM @sashaNeshcheret!

[2022-05-04 15:50] grishick commented on #11787
This is a duplicate of https://github.com/airbytehq/airbyte/issues/11786

[2022-05-04 15:50] #11787 closed

[2022-05-04 16:30] MuslimBeibytuly opened #12573 "Amplitude source crashes"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-05-04 16:30] MuslimBeibytuly commented on #12573
[logs-2.txt](https://github.com/airbytehq/airbyte/files/8622262/logs-2.txt)

[2022-05-04 16:47] nataliekwong opened #12574 "Fix text overlay for sync modes in connection settings"
## Current Behavior
When a user reaches the connection settings (within the onboarding flow), and the sync mode is "Incremental | Deduped + History", the text of the sync mode does not fit in the width of the select box, causing text to run over itself.

Fullstory session: https://fsty.io/v/pXNCembg (using Chrome)

![Screen Shot 2022-05-04 at 12 45 55 PM](https://user-images.githubusercontent.com/

[2022-05-04 16:47] octavia-squidington-iii commented on #12574
cc @airbytehq/frontend

[2022-05-04 16:52] evantahler opened #12575 "When a connector is being checked, the form should not be editable"
Page: `/workspaces/${workspace_id}/destination/${destination_id}/settings`

When a connector is being CHECKED, and the progress bar is displayed in the UI, the form-fields should no longer be editable.  As it stands now, if a change for the form is made mid-CHECK, it is not clear which values have been validated and persisted.

<img width="925" alt="Screen Shot 2022-05-04 at 9 50 32 AM" src="https

[2022-05-04 16:53] octavia-squidington-iii commented on #12575
cc @airbytehq/frontend

[2022-05-04 16:56] pmossman opened #12577 "Review Billing Updates PRD and create implementation issues"

[2022-05-04 18:03] grishick commented on #12256
Duplicate of https://github.com/airbytehq/airbyte/issues/10033

[2022-05-04 18:03] #12256 closed

[2022-05-04 18:27] misteryeo commented on #12057
**Issue was linked to Harvestr Discovery:**  [Improve DB/DW data mappings](https://app.harvestr.io/components/0/list/wOUds4X9B)

[2022-05-04 18:27] misteryeo commented on #11090
**Issue was linked to Harvestr Discovery:**  [Improve DB/DW data mappings](https://app.harvestr.io/components/0/list/wOUds4X9B)

[2022-05-04 18:28] misteryeo commented on #9447
**Issue was linked to Harvestr Discovery:**  [Improve DB/DW data mappings](https://app.harvestr.io/components/0/list/wOUds4X9B)

[2022-05-04 18:28] misteryeo commented on #2855
**Issue was linked to Harvestr Discovery:**  [Improve DB/DW data mappings](https://app.harvestr.io/components/0/list/wOUds4X9B)

[2022-05-04 19:29] DoNotPanicUA opened #12582 ":bug: Destination Clickhouse : Normalization doesn't work in the acceptance tests."
## Current Behavior
The acceptance tests don't check any cases with normalization due to some problems with port sharing inside the container.
All tests with normalization are disabled. Also, we run DAT tests without normalization due to the false value in the `supportsNormalization` method.

![Screenshot from 2022-05-04 22-26-36](https://user-images.githubusercontent.com/30464745/166811009-735b75

[2022-05-04 19:59] tuliren opened #12584 "The publish command no longer works for private docker repository"
## Current Behavior
- In https://github.com/airbytehq/airbyte/pull/11654, a tag check was introduced to the publish command.
- However, the URL does not work for private connector like `destination-databricks.

## Expected Behavior
- The publish command should work for private connectors as well.

## Logs
https://github.com/airbytehq/airbyte/runs/6294841743?check_suite_focus=true
[code]

## Potent

[2022-05-04 20:28] edgao commented on #10009
Done in https://github.com/airbytehq/airbyte/pull/12452, also added to destination-snowflake

[2022-05-04 20:28] #10009 closed

[2022-05-04 20:28] edgao commented on #10008
@grishick fyi I noticed that https://github.com/airbytehq/airbyte/issues/10009 captures the work that I finished last sprint, so closing that one and leaving this issue open

[2022-05-04 21:03] philippeboyd commented on #11291
any update on this [alafanechere](https://github.com/alafanechere)?

[2022-05-04 21:40] evantahler opened #12587 "Investigate ways to prompt OSS workspaces to upgrade to newer versions of the platform"
Aside from constantly fixing bugs and making the user experience better, we've got new features released (CLI, New Scheduler, etc) and new/better ways to collect data that helps us improve the Airbyte product.  OSS workspaces who aren't upgrading don't get any of the new hotness.  How can we nudge them to upgrade?  How can we make the upgrade process easy?

Data to explore this - https://airbyte.m

[2022-05-04 23:24] sherifnada commented on #12003
@davydov-d should this be closed?

[2022-05-05 00:00] #12587 closed

[2022-05-05 00:10] misteryeo commented on #4407
@harshithmullapudi here's the revised designs that includes the cron expresssion: https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/WEB-APP-(all)?node-id=33740%3A179711

cc: @timroes to QA and make sure there's no further conflicts here.

[2022-05-05 00:13] misteryeo commented on #11790
Reviewed the checklist - everything LGTM except the blocking issues which we haven't yet completed yet since we've deprioritized them.

cc: @grishick

[2022-05-05 00:44] tuliren commented on #12347
Yes. Add `additionalProperties: true` to the spec file should be sufficient.

[2022-05-05 01:18] marcosmarxm opened #12591 "🐛 Source Zendesk Support/Chat: got stuck after 100k records"
Is this your first time deploying Airbyte: No
OS Version / Instance: Ubuntu 20.04
Memory / Disk: 8Gb / 100 GB ssd
Deployment: Docker
Airbyte Version: 0.35.61-alpha
Source name/version: airbyte/source-zendesk-chat:0.1.6 (latest)
Destination name/version: airbyte/destination-bigquery: 1.0.5 (latest)
Step: normal sync.
Description: everytime the process starts to sync it freezes after some hours, the

[2022-05-05 01:36] sivankumar86 opened #12592 "MSSQL CDC feature to capture only changes from now"
## Tell us about the problem you're trying to solve
  We have many big tables and wants to implement CDC (SCD2) but, do not want to take snapshot  and only capture the changes from the time airbyte start.

## Describe the solution you’d like
1. Have a option to disable initial snapshot whilst setting up connections

## Describe the alternative you’ve considered or used
   Create a CDC table on mss

[2022-05-05 04:20] pipat-flowacc commented on #9031
I have a similar use case too. I plan to use Dremio as a central Data Lakehouse, but my team still needs RedShift for analytics.
Having a Dremio source connector would mediate the transition from Data Warehouse in RedShift to Data Lakehouse in Dremio.

[2022-05-05 06:01] harshithmullapudi opened #12594 "Frontend: Download button for logs in UI is not working"
See: https://discuss.airbyte.io/t/json-schema-validation-failed-redshift-snowflake/848/1

Validate if it can be reproduced and fix.

[2022-05-05 06:01] octavia-squidington-iii commented on #12594
cc @airbytehq/frontend

[2022-05-05 06:06] alexandertsukanov commented on #12265
@marieamelie94 could you share your logs, please?
I was able to make successful sync between Redshift destination connector 0.3.32 and Postgres [14.2](https://hub.docker.com/layers/postgres/library/postgres/14.2/images/sha256-625df66e2b092d2a5be485d52f80d6edf41cb02f7315a29c980a877519d14e4e?context=explore)

[2022-05-05 06:39] hbd opened #12597 "Facebook Marketing JSON to AVRO conversion fails for field video_play_actions"
## Environment
- **Airbyte version**:  example is 0.36.2-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker Compose, single instance
- **Source Connector and version**: Facebook Marketing @ 0.2.45
- **Destination Connector and version**: S3 @ 0.3.4
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
Facebook Marketing sync jobs are resulting in an e

[2022-05-05 06:52] hbd commented on #12597
I don't see any changes to [the field](https://developers.facebook.com/docs/marketing-api/reference/ads-insights/) in the API docs. Could this be related to a [potential bug](https://github.com/allegro/json-avro-converter/issues/59) with Allegro?

[2022-05-05 07:12] Gunnnn commented on #6089
It is vital to the Product! This feature is everyday need when loading data.

[2022-05-05 07:34] YohanGrember commented on #1919
Hello team, this is one of the first pages I encounter when I Google "airbyte improve an existing connector"
Does such a documentation exist now?

I'd like to add a few streams to the Stripe Source connector. 😃

[2022-05-05 08:15] davinchia commented on #12444
draft presentation: https://docs.google.com/presentation/d/1US8rxy6SPybjPjZ-UEmI0fwZ3vzlWLLdB7-bkRW32yg/edit?usp=sharing

[2022-05-05 08:18] marieamelie94 commented on #12265
Hello, our issue is that google ads 0.1.36 source does not work with redshift 0.3.32 destination (but fine with redshift 0.3.28), but our postgres source 0.4.12 does not work with redshift 0.3.28 (but fine with redshift 0.3.32) so we have to switch between redshift versions now to make both work.
Here are the logs
[logs-gads-redshift.txt](https://github.com/airbytehq/airbyte/files/8629638/logs-gad

[2022-05-05 08:37] eskarimov commented on #10194
I've just been checking this issue, seems it's working already allowing to choose datasets located in other than US regions.

[Here](https://github.com/airbytehq/airbyte/blob/35005541f94014ce93688f75d0093648961e46d7/airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java#L107-L108) it retrieves a list of project tables, if specific

[2022-05-05 09:08] davydov-d commented on #12003
yes, thanks for noticing

[2022-05-05 09:08] #12003 closed

[2022-05-05 09:10] timroes commented on #9625
Reopening this (once more), since the change got reverted.

[2022-05-05 09:14] igrankova commented on #12123
Hi, @harshithmullapudi
I've asked the support team about Freshcaller sandbox. The thing is that we already have airbyte-team.myfreshworks.com account and it supports the Contact Center which is the Freshcaller.

The answer is below:
_This is a CRM bundled with the Contact Center, so there is no separate seeder URL to reach out to the Freshdesk Contact Center page.
You can handle everything within

[2022-05-05 09:44] tigitz commented on #3064
Just to bring awareness to this issue, my company had to switch to stitchdata.com to extract these https://www.stitchdata.com/docs/integrations/saas/jira#changelogs

It's mandatory to retrieve these changelogs if we want to compute the time between different ticket status (from ToDo to Done for example) and the history of story points modifications.

[2022-05-05 09:55] yurii-bidiuk commented on #11090
I made some research to verify mapping Airbyte type to destination-bigquery type. The result of this research is quite different from the table above:
1. The Airbyte OBJECT type is mapped as STRING on the BigQuery side.
2. All date-time fields are mapped as TIMESTAMP.

Airbyte type | BigQuery type
-- | --
DATE | DATE
STRING (BASE64) | STRING   
NUMBER | FLOAT   
OBJECT | STRING   
STRING | STRING

[2022-05-05 09:56] #8586 closed

[2022-05-05 10:00] igrankova commented on #12123
@harshithmullapudi,
you can find the creds and API key in the LastPass: Freshcaller
It's a trial account for 20 days for now, but I'm still trying to get a sandbox.

[2022-05-05 10:13] mohrman commented on #5105
Hi @Phlair!
I've started working on this one and got a [draft PR here](https://github.com/airbytehq/airbyte/pull/12602)

Could use some guidance on the acceptance tests :)

[2022-05-05 10:29] oustynova commented on #10719
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/10719?planning-poker) with ZenHub @pcsoni89

[2022-05-05 12:41] vladimir-remar opened #12605 "Source Mixpanel: miss 'end_date' field in specs."
In `source.py` the `end_date` is getting from config map, but is not included in the `spec.json`, I dont know if is intended or not.
https://github.com/airbytehq/airbyte/blob/fced083be5f9a15eb1f5643eb4e725ce0b109dc3/airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py#L893

spec.json content
[code]
By adding this  it will let to users sync data between time intervals instead a

[2022-05-05 12:53] alafanechere opened #12606 "🐛 JDBC source connectors: integer are converted to float on destination"
## Environment

- **Source Connector and version**: All database JDBC connector

## Current Behavior
JDBC connectors are typing `integer` as `number` in the source catalog. `number` are casted to `float` / `decimal` type on destination.

## Expected Behavior
`integer` in source database schemas should be defined as `integer` in the catalog schema that is generated by the source connector and not `

[2022-05-05 12:58] dizel852 opened #12607 "Almost all TODOs in "airbyte-webapp" are not tracked - create an issue for each TODOs in order to track it's status"
## Tell us about the problem you're trying to solve
We have almost 30 TODOs in "airbyte-webapp".
They are not tracked - no link to issue.

## Describe the solution you’d like
1. Go through all of the TODOs and create appropriate Issues. And link them.
2. If TODO is already not relevant - remove it
3. If we want to add new TODO we must provide a link to the issue

## Describe the alternative you’ve

[2022-05-05 12:58] alafanechere commented on #5129
@edgao I opened this [issue](https://github.com/airbytehq/airbyte/issues/12606) as a followup to my previous comment. Let me know if its a duplicate, or if a broader one exists.

[2022-05-05 13:11] etsybaev commented on #11790
Moved to "ON HOLD" since it was deprioritized

[2022-05-05 15:07] davinchia opened #12615 "Better specify a single Gradle repository url."
## Tell us about the problem you're trying to solve
Instead of copying repository urls in various Gradle settings like we do today, we want to consolidate these to avoid duplication and make updates easier.

This issue is to discuss and figure out next steps.

## Describe the solution you’d like
1) Env var?
2) Gradle distribution? https://docs.gradle.org/current/userguide/organizing_gradle_project

[2022-05-05 15:27] andyjih opened #12616 "Investigate root cause of JSONSchema validation errors (oAuth?)"
We currently show a debug log message saying that their JSON Schema Validation failed:

https://github.com/airbytehq/airbyte/blob/b9d8f760e3cc421b2195ea837aebf4eccb2bf845/airbyte-json-validation/src/main/java/io/airbyte/validation/json/JsonSchemaValidator.java#L56

[code]

This message is confusing to users because if a sync fails, they think this validation error is the cause of the failure.

We

[2022-05-05 15:56] krishnaglick opened #12617 "PoC: Headless UI Menu"
See if the menus in [Headless UI](https://headlessui.dev/) can replace the menus in the side bar.

[2022-05-05 15:56] octavia-squidington-iii commented on #12617
cc @airbytehq/frontend

[2022-05-05 16:11] sherifnada opened #12618 "Filter build report slack message only to beta/GA connectors"
## Tell us about the problem you're trying to solve
We post a slack message to the slack channel #connector-health every day indicating the build status of connectors. Many of these are red. But this is tolerable for now as they are alpha connectors. We want to start with a green base (GA/Beta) then gradually address any build failures as we certify connectors.

## Describe the solution you’d like

[2022-05-05 16:15] sherifnada commented on #10328
@evantahler I'd like to keep this issue if only as an aggregator of all these other EPICs. It's useful to have a single entry point which encompasses all the things which, when done, constitutes a defogged style of life

[2022-05-05 16:33] #12419 closed

[2022-05-05 16:33] #12422 closed

[2022-05-05 16:38] noahkawasaki-airbyte commented on #12108
Now that I've actually worked on this I've learned that the publishing aspect of this is a little more complicated than I thought, the build tag and test stuff is straightforward though. Would like some thoughts on some ideas for **Workflow 2: publish-connector** AKA the step that handles the building and pushing of a connector based on the pre-req that a PR has been merged.

Option 1: Use a post-

[2022-05-05 17:02] oustynova commented on #10147
Close this one as far as we have separate Epics for each of the connectors

[2022-05-05 17:02] #10147 closed

[2022-05-05 17:08] sherifnada commented on #12284
@evantahler to update the ticket description to reflect current plan

[2022-05-05 17:10] sherifnada commented on #12284
next step for someone taking on this ticket is:
1. talk to brian leonard / evan to understand exactly the goals we want to achieve with this
2. do it!

[2022-05-05 17:15] pmossman commented on #12577
Main output of this: Build a better understanding of what scope we actually want to commit to, and then define issues/stories that fit the scope. Should try to actively push back against unnecessary scope creep as this will impact the quarter roadmap.

Should also get an understanding of how much Front-end work is necessary to achieve desired scope

[2022-05-05 18:43] exalate-issue-sync[bot] opened #12621 "Snowflake Destination User Failure"
- Is this your first time deploying Airbyte?: No
- OS Version / Instance: Linux
- Memory / Disk: 64Gb
- Deployment: Docker
- Airbyte Version: v0.36.4-alpha
- Source name/version: N/A
- Destination name/version: 0.4.24
- Step: Sync & Connection
- Description: At random intervals, the snowflake destination starts failing for all our different connectors. The error message is `Could not connect with

[2022-05-05 19:51] edmundito opened #12623 "[EPIC] Update documentation side panel design and behavior"
The goal of this Epic is to apply design and functional changes to the side panel in onboarding, sources and destination.

Figma:
https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/WEB-APP-(all)?node-id=33609%3A177017

- #10644
- #12731

[2022-05-05 19:52] octavia-squidington-iii commented on #12623
cc @airbytehq/frontend

[2022-05-05 20:21] girarda opened #12627 "Generate expected records"
## Tell us about the problem you're trying to solve
The SAT `basic_read` test can reconcile records retrieved from the source with a list of pre-generated expected_records.
While it is possible that the pre-generated expected records are malformed or incomplete, this is a much  stronger assertion than verifying the streams have at least one record.
Adding this regression assert will increase our c

[2022-05-05 20:26] evantahler opened #12628 "Display both `internalMessage` and `externalMessage` when viewing a `FailureReason`"
When viewing a failed sync in the list view, we currently display the `externalReason` for the failure from [`FailureReasons`](https://github.com/airbytehq/airbyte/blob/master/airbyte-config/models/src/main/resources/types/FailureReason.yaml).  This message is "Human readable failure description for presentation in the UI to non-technical users.".  However, it may be useful for a user to also see

[2022-05-05 20:29] evantahler commented on #12281
For now, CHECK errors will populate a simple "source sync failed" externalMessage for the FailureReason, and the stack trace will go to the internalMessage.  Story created (https://github.com/airbytehq/airbyte/issues/12628) to ask the frontend team to think about displaying both messages in some way.

[2022-05-05 20:43] krishnaglick commented on #12172
I did a little investigation around this. I agree w/ Edmundo, due to the level in which we get certain resources it fails out the entire app. I think we could take some baby steps to move things like figuring out which workspace you're in lower in the render tree to get around it. But there's likely several places that we'll find this issue in.

[2022-05-05 20:50] evantahler commented on #12284
This story is also blocked by https://github.com/airbytehq/airbyte-warehouse/issues/92

[2022-05-05 20:51] #6164 closed

[2022-05-05 21:07] girarda opened #12630 "Implement connectors as config parsing layer with basic preprocessing to avoid duplication"
## Tell us about the problem you're trying to solve
Define a low-code connector as a YAML file.

## Describe the solution you'd like
This could be done either by
1. Writing a generator that parses a YAML file and produces a python class.
 This PR shows an example of what the resulting python code would look like https://github.com/airbytehq/airbyte/pull/12855/files#diff-5b8bb05631d1c4696a82988e2fc

[2022-05-05 21:14] #9924 closed

[2022-05-05 22:06] #10067 closed

[2022-05-05 22:45] #10077 closed

[2022-05-05 22:48] #10092 closed

[2022-05-05 22:51] #10083 closed

[2022-05-05 22:52] #11186 closed

[2022-05-05 22:55] grishick commented on #11090
@yurii-bidiuk I don't think it is OK that some types are mapped differently to BigQuery and BigQuery denormalized. Since there are several type gaps that may require different amount of work, let's consider this issue a "research" and as such, the acceptance criteria for this ticket would be opening GitHub issues for type mappings that need to be added or corrected.
So please open issues for mappi

[2022-05-05 23:07] exalate-issue-sync[bot] opened #12633 "Incremental Sync for basic Python source connector"
I am trying to create a custom Source Connector with Python. I am not using HTTP API. I am using basic Python Source connector. I am having hard time understanding how to deal with incremental syncs. I have defined two sync modes, added a cursor field. But I think I am missing state stuff. It is unclear from the documentation how to deal with it. I have multiple data streams, that I loop through i

[2022-05-05 23:07] exalate-issue-sync[bot] opened #12634 "Salesforce Bulk Stream: Full Refresh | Overwrite"
- Is this your first time deploying Airbyte?: Yes
- OS Version / Instance: Windows
- Memory / Disk: you can use something like 4Gb / 100 Gb
- Deployment: Docker
- Airbyte Version: 0.36.2
- Source name/version: Salesforce
- Destination name/version: Postgres
- Step: During Sync
- Description: I setup the OpportunityContactRole and OpportunityLineItem objects to be pulled for full refresh and overwr

[2022-05-05 23:07] exalate-issue-sync[bot] opened #12635 "Failure to discover streams from Postgres source"
- Is this your first time deploying Airbyte?: No
- OS Version / Instance: AWS linux 2?
- Memory / Disk: m5n.xlarge
- Deployment: Kubernetes
- Airbyte Version: 0.36.9-alpha & 0.35.49
- Source name/version: Postgres 0.4.12 (also tried 0.4.10)
- Destination name/version: Snowflake 0.4.25
- Step: Connection setup. Sync
- Description: The Postgres source after 0.4.10 is no longer finding tables in my s

[2022-05-05 23:18] andyjih opened #12636 "Tech Scoping for Connection Change Isolation PRD"
[Connection Change Isolation PRD](https://docs.google.com/document/d/144N5o3HVAuZuuI4f9Ox25QiOKcgm4Ap6nv9ymAExtDQ/edit#)

The output of this issue is to have github issues attached to this [epic](https://app.zenhub.com/workspace/o/airbytehq/airbyte/issues/6912) that engineering can start.

Also work with the frontend team to help on the UI portions.

[2022-05-05 23:19] misteryeo commented on #6326
Hi everyone, sorry for the radio silence here. Our team is going to dig in to see how we can fix this and will keep this thread updated!

[2022-05-05 23:26] #12284 closed

[2022-05-05 23:27] #12283 closed

[2022-05-05 23:27] evantahler commented on #12284
Closed in favor of https://github.com/airbytehq/airbyte-warehouse/issues/83

[2022-05-05 23:29] #9678 closed

[2022-05-05 23:31] #9681 closed

[2022-05-05 23:32] #9677 closed

[2022-05-05 23:32] #9685 closed

[2022-05-05 23:33] #10079 closed

[2022-05-05 23:33] #10035 closed

[2022-05-05 23:36] misteryeo commented on #6021
Resurfacing this @malikdiarra @andyjih can you take a look at this issue and ensure we have next steps to drive clarify for users?

[2022-05-05 23:42] evantahler commented on #12283
Closed in favor of https://github.com/airbytehq/airbyte-warehouse/issues/83

[2022-05-05 23:43] evantahler commented on #12119
Analytics stories removed from this epic - Moved to https://github.com/airbytehq/airbyte-warehouse/issues/83

[2022-05-05 23:47] misteryeo commented on #3731
We're going to put this on hold for now until we have time to figure out an automated way of achieving this output.

[2022-05-05 23:59] edgao commented on #11090
I think timestamp_without_timezone should be datetime, which is bigquery's "time without timestamp" type. Otherwise LGTM.

I'm a bit confused about objects turning into strings in destination-bigquery - shouldn't normalization be unnesting those into their own tables?

[2022-05-06 03:30] misteryeo opened #12641 "[EPIC] Source Amplitude to Beta"

[2022-05-06 03:31] misteryeo opened #12642 "[EPIC] Source Tiktok Marketing to Beta"

[2022-05-06 03:31] misteryeo opened #12643 "[EPIC] Source Airtable to Beta"

[2022-05-06 03:31] #12643 closed

[2022-05-06 07:17] tuliren opened #12644 "Exception when reading data from RDS Postgres replica"
## Current Behavior
- When reading RDS Postgres from a replica, a customer has run into this exception:
[code]
- Users may need to configure the replica differently before they can sync data with Airbyte.
- See section "Parameter settings at Read Replica" in https://aws.amazon.com/blogs/database/best-practices-for-amazon-rds-postgresql-replication/.
- Original issue: https://github.com/airbytehq/a

[2022-05-06 07:27] davinchia opened #12645 "Explore whether synchronous UI operations should return logs."
## Tell us about the problem you're trying to solve
Today synchronous operations e.g. discover schema, check connection, do not return logs. In addition to this, there isn't a direct link between the UI operation and the job process, as we do not have any job metadata to set this link. The current system generates a random UUID. The only way to retrieve this UUID is to look at the processes and in

[2022-05-06 08:08] harshithmullapudi commented on #12635
@marcosmarxm I tried replicating it and it worked for me 😢 looks like there is something more we have to dig into

[2022-05-06 08:19] exalate-issue-sync[bot] opened #12647 "Cant Fetch postgredb views in schema discovery"
- Is this your first time deploying Airbyte?: No
- OS Version / Instance: Ubuntu 20.04 LTS
- Memory / Disk: 64gb / 200gb
- Deployment: docker-compose
- Airbyte Version: 0.36.2-alpha
- Source name/version: postgredb version 0.4.10
- Destination name/version: bigquery version 1.1.1
- Step: The issue is happening when I set destination to bigquery
- Description: I can’t fetch postgredb views table in

[2022-05-06 08:23] alexandertsukanov commented on #12265
It will be fixed in the scope of https://github.com/airbytehq/airbyte/pull/12601. Thanks.

[2022-05-06 08:24] exalate-issue-sync[bot] opened #12648 "Postgres destination JDBC URL config"
-

Is this your first time deploying Airbyte?: No (nearly my first)

-

OS Version / Instance: Docker compose on MacOS (amd64)

-

Memory / Disk: you can use something like 4Gb / 1 Tb

-

Deployment: Docker (Compose)

-

Airbyte Version: 0.36.8-alpha

-

Source name/version: Postgres/0.4.12

-

Destination name/version: Postgres/0.3.19

-

Step:
Sync fails during the normalization phase with `SSL

[2022-05-06 08:40] yurii-bidiuk commented on #11090
@edgao you're right. Normalization creates its own tables for objects in destination-bigquery

[2022-05-06 09:13] davydov-d opened #12650 "Source Google Ads: improve unit and integration tests"
Goal:
 - unit test coverage at least 90%
 - mock unit tests so they do not use real network connections
 - all integration tests pass

 Note: some of the SATs are disabled due to current constraints, so custom integration tests are implemented instead. The [issue](https://github.com/airbytehq/airbyte/issues/12665) describes the problem and the solution. After it is implemented, SATs can be enabled

[2022-05-06 09:13] davydov-d commented on #12650
#11758

[2022-05-06 09:31] yurii-bidiuk opened #12652 "Destination BigQuery denormalized: add support for timestamp with/without timezone"
According to comments from #11090, now all date-time formats are mapped as DATETIME type in BigQuery.
Implement different date-time mapping based on `"airbyte_type"` property(schema below):

- Fields with `"airbyte_type": "timestamp_with_timezone"`  should be mapped as TIMESTAMP
- Fields with `"airbyte_type": "timestamp_without_timezone"` should be mapped as DATETIME

[code]

[2022-05-06 09:33] alafanechere opened #12653 "octavia-cli: `--help` on subcommands raises `Attribute error`"
## Environment
- **Airbyte version**: 0.36.6
- **Severity**: Medium

## Current Behavior
When running help on subcommand the following error is raised:
[code]
[code]

## Expected Behavior
No error should be raised.

**This problem is related to the command name parsing used in the telemetry**

[2022-05-06 09:38] davinchia opened #12654 "Make it more obvious if users attempt to configure a connection with duplicate stream names in the same namespace."
## Tell us about the problem you're trying to solve
One configuration error case is having duplicate streams within the same namespace. An example of this is if a user has two tables with the same name in different schemas. e.g. an account table in schemaA and an account table in schemaB, and the user configures these two tables to go into the same schema.

This does not make sense and the job wil

[2022-05-06 09:45] yurii-bidiuk opened #12655 "Destination BigQuery: map "airbyte_type": "big_integer" to INT64"
According to #11090 and this [comment](https://github.com/airbytehq/airbyte/issues/11090#issuecomment-1119113122) all fields with `"airbyte_type": "big_integer"` should be mapped as INT64 in destination BigQuery denormalized

[2022-05-06 09:50] yurii-bidiuk opened #12657 "Destination BigQuery denormalized: map "airbyte_type": "big_number" to BIGNUMERIC"
According to #11090 and this [comment](https://github.com/airbytehq/airbyte/issues/11090#issuecomment-1119113122) all fields with `"airbyte_type": "big_number"` should be mapped as BIGNUMERIC in destination BigQuery denormalized

[2022-05-06 09:50] yurii-bidiuk opened #12658 "Destination BigQuery: map "airbyte_type": "big_number" to BIGNUMERIC"
Due to new updates in the building of JSON schema, a new property `"airbyte_type"` was added to the field description.
One of the possible values for `"airbyte_type"` is `"big_number"`. Now `"airbyte_type"` is ignored and all `"big_number"` fields are mapped as `"STRING"` in destination BigQuery.
According to #11090 and this [comment](https://github.com/airbytehq/airbyte/issues/11090#issuecomment-

[2022-05-06 09:53] bazarnov commented on #12240
The Source Amplitude is now in Beta, this Epic is closed.

[2022-05-06 09:53] #12240 closed

[2022-05-06 09:59] yurii-bidiuk opened #12660 "Destination BigQuery: timestamps without timezone should be mapped to DATETIME"
Due to new updates in the building of JSON schema, a new property `"airbyte_type"` was added to the field description.
One of the possible values for `"airbyte_type"` is `"timestamp_without_timezone"`. Now `"airbyte_type"` is ignored and all `"timestamp_without_timezone"` fields with `"format":"date-time"` are mapped as `TIMESTAMP` in destination BigQuery.

According to #11090 and this [comment](h

[2022-05-06 10:03] yurii-bidiuk commented on #11090
@grishick @edgao thank you for your feedback.
I created follow-up tickets:
#12652 Destination BigQuery denormalized: add support for timestamp with/without timezone
#12655 Destination BigQuery: map "airbyte_type": "big_integer" to INT64
#12656 Destination BigQuery denormalized: map "airbyte_type": "big_integer" to INT64
#12657 Destination BigQuery denormalized: map "airbyte_type": "big_number" to

[2022-05-06 10:34] nshigit opened #12661 "normalization failed in mysql destination"
## Environment
- **Airbyte version**:  0.35.65-alpha
- **OS Version / Instance**: centos7
- **Deployment**: Docker
- **Source Connector and version**: airbyte/source-mysql          0.5.6
- **Destination Connector and version**: airbyte/destination-mysql     0.1.18
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
MySQL->MySQL sync operation failed in the dbt t

[2022-05-06 10:51] davydov-d opened #12662 "Source Google Analytics: enable incremental source acceptance test cases"
Since GA source performs a 2-days look back search during the sync, incremental SAT case is not supported, therefore [commented out](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-google-analytics-v4/acceptance-test-config.yml#L23).
The goal is to enable the test case after #12467 is implemented.

[2022-05-06 12:19] davydov-d opened #12665 "Source acceptance tests: allow parametrize SATs with dynamic values via fixtures"
## Goal
Introduce the mechanism to parametrize SATs with the dynamic values, e.g. content of the `config.json`, `expected_records.txt` files, or `cursor_paths` value

## Motivation
Static parameters are not always enough to make SATs work. For example, Google Ads Source limits the age of the requested data to 90 days, so sooner or later tests will become outdated and will not pass. To make them wo

[2022-05-06 12:25] exalate-issue-sync[bot] opened #12666 "A Better Tittle: New Topic to Test"
This becomes more difcult than I thoug

 [Discourse post]