[2022-01-05 22:13] marcosmarxm opened #9322 "Source Marketo: keyError in data slices"
- Is this your first time deploying Airbyte: Yes
- OS Version / Instance: Ubuntu 20.04/ e2-standard-4 (GCP)
- Memory / Disk: 16Gb / 500GB SSD
- Deployment: Docker
- Airbyte Version: 0.32.8-alpha
- Source name/version: Marketo/0.1.1
- Destination name/version: Snowflake

## Current Behavior
I’m trying to sync data from marketo using the incremental append mode. I get the “completed successfully” fr

[2022-01-05 23:04] tuliren opened #9323 "Investigate source database benchmark size"
This is the benchmark data size from cloud benchmarks:

| Database | Tables | Columns per Table | Records per Table | Total Records | Size |
| --- | --- | --- | --- | --- | --- |
| MySQL | 25 | 8 | 50K | 1.25 MM | 20.54 GB |
| MySQL | 1000 | 8 | 10K | 10 MM | 7.51 GB |
| SQL Server | 25 | 8 | 50K | 1.25 MM | 9.53 GB |
| SQL Server|  1000  | 8| 10K | 10 MM | 6.09 GB |

It seems strange that:
1. The

[2022-01-05 23:14] tuliren opened #9324 "Unify source database benchmarks"
Currently there are many benchmark database:

- test100tables240coumns100recordsDb (this one can be removed)
- test1000tables240columns200recordsDb
- test5000tables240columns200recordsDb
- testInterim15tableswith50000recordsDb
- testRegular25tables50000recordsDb
- testSmall1000tableswith10000recordsDb

We want to:
1. Remove the ones that we no longer need, and only keep these:
    - test1000tables

[2022-01-05 23:32] tuliren opened #9325 "Investigate source database benchmark sync failures"
The benchmark syncs run in [this workspace](https://cloud.airbyte.io/workspaces/a3554b53-fcc3-4236-8b83-d0e367489b21/connections). They're meant to run regularly so that we can track performance over time, but have been failing for a while. We should figure out why they're failing and then fix them.

Potentially related issue: https://github.com/airbytehq/airbyte/issues/8284

[2022-01-05 23:48] sherifnada opened #9326 "Document learnings from FB ticket"
## Tell us about the problem you're trying to solve
Once https://github.com/airbytehq/airbyte/pull/8385 is done, we should extensively document our learnings from working with the Facebook API and why we ended up making any choices we have so far. We've learned a lot from this experiment so we should document this knowledge so the entire team can benefit from it and reduce bus factor.

[2022-01-06 03:34] misteryeo commented on #8773
@alafanechere @mihir-kanzariya following up here to see if the advanced access token being enabled fixes this issue or it still persists?

[2022-01-06 03:47] misteryeo commented on #8027
Adding this comment for visibility - PR is ready to be merged but pending #8385

[2022-01-06 03:55] tuliren opened #9328 "Experiment with Sentry performance monitoring for BigQuery destination"
## Acceptance criteria
1. Introduce Sentry SDK to warehouse destination connector
    - Let's start with BigQuery destination.
    - It can either be a pure [Java SDK](https://docs.sentry.io/platforms/java/), or [Log4j SDK](https://docs.sentry.io/platforms/java/guides/log4j2/).
    - Compare the two different ways to install Sentry (or any other approach if there is more), and determine which way

[2022-01-06 04:12] misteryeo commented on #7740
Updating the issue to reflect that the PR is blocked on @mlavoie-sm360 until further notice.

[2022-01-06 04:20] misteryeo commented on #7224
@ChristopheDuong @sherifnada reminder to respond to @zestyping

[2022-01-06 04:24] misteryeo commented on #7032
@marcosmarxm It doesn't look like this ticket description has been filled out - can you fill in the respective details please?

[2022-01-06 05:04] misteryeo commented on #6089
Removing tags as this is not a Facebook Marketing specific issue.

[2022-01-06 06:04] danavatavu commented on #9093
Is this your first time deploying Airbyte: no
OS Version / Instance: AWS EKS
Deployment: Kubernetes
Airbyte Version: 0.35.3-alpha
Source: Snowflake
Destination: Snowflake
Description:  Sync jobs succeed but errors are appearing in logs:
ERROR i.a.c.i.LineGobbler(voidCall):82 - SLF4J: Class path contains multiple SLF4J bindings.
ERROR i.a.c.i.LineGobbler(voidCall):82 - SLF4J: Found binding in [jar:

[2022-01-06 07:39] BEIIKS opened #9332 "DBT without git repository"
I work in a private network, without Git.
In order to use dbt you have to provide a link to git repo, so I thought of ways to get around this:
clone the project -> archive into zip file -> serve the file with nginx and than use the nginx server as custom git repo

Opinions?

[2022-01-06 09:02] coadan opened #9334 "Encountered an exception while reading stream SourceHubspot"
## Environment
- **Airbyte version**:  example is 0.35.3-alpha
- **OS Version / Instance**:  GCP Kubernetes Autopilot instances
- **Deployment**: Kubernetes
- **Source Connector and version**: HubSpot - Latest
- **Destination Connector and version**:  Postgres - Latest
- **Severity**: Low
- **Step where error happened**:  Sync job

## Current Behavior
The sync job is set to failed because it seems

[2022-01-06 09:05] Zirochkaa commented on #9273
Hi @tredencegithub, I investigated this issue, and I can't reproduce it. I checked all 4 streams. I checked how they work with `since` parameter (when you set up the connector) and how they work with the state, in each case each stream was working fine all data was synced without any gaps.
Could you please upgrade delighted source to version `0.1.2` and try again?
Looking forward to your feedback.

[2022-01-06 09:11] ChristopheDuong commented on #7224
You can follow this series of tutorials that shows how to do this:
- Extracting final "native" SQL queries: https://docs.airbyte.com/operator-guides/transformation-and-normalization/transformations-with-sql
- Extracting dbt SQL models: https://docs.airbyte.com/operator-guides/transformation-and-normalization/transformations-with-dbt

[2022-01-06 09:18] ChristopheDuong commented on #7224
To answer your questions, it's because:

From: https://stackoverflow.com/a/48177344

So, our approach so far is to "append" in the destination connector and get normalization (or the user) to do the de-duplication afterward. Of course, we need to supply the proper partition_by/order_by keys for that to happen properly.

It doesn't mean that the destination bigquery connector would not try to "upse

[2022-01-06 09:27] mickael-dadoun commented on #6558
i have the same error actually :
git clone => Filename too long for sql files

[2022-01-06 09:40] bazarnov commented on #9319
More info about: https://github.com/airbytehq/airbyte-cloud/wiki/Adding-an-Oauth-connector

[2022-01-06 09:50] thisisile commented on #9093
I am getting the same error.

[2022-01-06 10:16] Jamakase commented on #9257
It looks like some unexpected response was returned from backend.

@cgardens could you please attach a response from the backend as it will ease figuring out what exactly is wrong.

[2022-01-06 13:00] lizdeika commented on #7011
Hi,
We have **128** of such leftover failed sync tables in 1 (one) schema. We have more than one schema.

[2022-01-06 13:12] segv commented on #7011
We've had a few failed syncs from a farily big db; currenty looking at 600+ tmp tables. this makes refreshing the schema in datagrip/dbeaver painfully slow.

[2022-01-06 13:20] alexandr-shegeda opened #9337 "Research possibility of adding URL param serverTimezone to all JDBC related DBs"
## Tell us about the problem you're trying to solve
Source/Destination connectors know nothing about the DB timezone, so there is might be a risk of corrupting timestamps.

## Describe the solution you’d like
We are going to add serverTimezone URL param to the connection of the Source/Destination. So we need to make sure that this approach is applicable for all JDBC-like DBs.

[2022-01-06 13:50] harshithmullapudi commented on #9287
Hey @alafanechere I understand this problem but isn't it like we have to import in the same version and then upgrade so that it does automatic migration?

[2022-01-06 14:01] harshithmullapudi commented on #9332
Hey @BEIIKS just food for thought. It would be better if you can use success hook which we provide in settings and then you can run your custom DBT in DBT cloud or something ?

Does the above way not possible or did I get it wrong ?

[2022-01-06 14:02] harshithmullapudi commented on #9334
Hey @coadan looks like there is some issue with scope which I found in the logs
`Stream `product` cannot be procced. This app hasn't been granted all required scopes to make this call. Read more about required scopes here: https://developers.hubspot.com/scopes.`

[2022-01-06 14:10] ChristopheDuong commented on #9332
If you are able to write a bash script to download your zip file, I'm guessing this improvement described here could serve this purpose? https://github.com/airbytehq/airbyte/issues/5590

[2022-01-06 14:19] coadan commented on #9334
Yes, but this should not set the sync job in a failed state, the others just provide a warning? I tried skipping sync of the quotes  object and it started working again so it might be an issue there when it comes to handling the missing oauth scope.

[2022-01-06 14:22] BEIIKS commented on #9332
@harshithmullapudi cant find anything about "success hook", is this relative to airbyte or git?

[2022-01-06 15:04] karinakuz commented on #8476
Sandbox with data is created, credentials are added to Last Pass with the name 'Hello Baton', tested api for the streams:
- activity_list https://airbyte-integration-test.hellobaton.com/api/activity/?api_key=7HhThgSq.fm2ToWJakp2yp26uaWrklApYadz5LsAF
- activity_read https://airbyte-integration-test.hellobaton.com/api/activity/348852/?api_key=7HhThgSq.fm2ToWJakp2yp26uaWrklApYadz5LsAF
- companies_lis

[2022-01-06 15:29] alafanechere opened #9339 "🐛 Source Intercom: `company_segment` raises 404 error while calling n+1 `companies` stream."
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**:  Intercom 0.1.12
- **Destination Connector and version**: Postgres 0.3.13
- **Severity**:Medium
- **Step where error happened**: Sync job

## Current

[2022-01-06 15:40] misteryeo commented on #6021
Amazing, can we close this issue now @roypeter?

cc: @marcosmarxm

[2022-01-06 15:58] #8444 closed

[2022-01-06 15:58] #8446 closed

[2022-01-06 16:09] vitaliizazmic commented on #8963
I've checked logs and found out that syncing was interrupted by fail of syncing Board issues stream. Board issues are received for each Board by ID, Connector accordingly firstly gets Boards. And syncing of Boards failed with error "403 Client Error: Forbidden for url".
According to [documentation](https://developer.atlassian.com/cloud/jira/software/rest/api-group-other-operations/#api-agile-1-0-b

[2022-01-06 16:16] alafanechere commented on #9267
Hi @reubano, if you want more details about this project feel free to have a look at this [deck](https://docs.google.com/presentation/d/10RjkCzBiVhCivnjSh63icYI7wG6S0N0ZIErEIsmXTqM/edit?usp=sharing).

[2022-01-06 16:19] vitaliizazmic commented on #8963
Hello @MatheusFreitas25, could you please check conditions bellow

1. You have valid license.
2. You have permissions and your user has been setup to be able to view the boards you are looking to return as well as the projects those boards belong to.
3. Login with your user and open this [link](https://kovi.atlassian.net/rest/agile/1.0/board?projectKeyOrId=10014) in browser and check if status cod

[2022-01-06 16:29] misteryeo commented on #7525
@qops1981 can you confirm that following @marcosmarxm's guidance above you've managed to resolve this issue so we can close this?

[2022-01-06 16:30] alafanechere commented on #9287
@harshithmullapudi the problem is just that this error is not sent back to the user in the front-end making it "silent" and the users are unaware of what actions they could take to fix this.

[2022-01-06 17:15] qops1981 commented on #7525
OMG, Yes, I am so sorry. Yes, this was super helpful and resolved out problem. Thank You!

[2022-01-06 17:15] #7525 closed

[2022-01-06 17:18] alafanechere opened #9342 "🐛 temporal-sql-tool: does not connect to postgres with SSL"
## Environment
OS Version / Instance: Ubuntu 20.04.3 LTS
Memory / Disk: 4Gb
Deployment: Docker
Airbyte Version: 0.34.1-alpha
Severity: high
Step: Starting Airbyte using docker-compose up

## Current Behavior
[code]

## Steps to Reproduce
1. Create an external PG database that enforces SSL connection
2. Start Airbyte (with custom `DATABASE_*` env var)

[2022-01-06 17:19] alafanechere commented on #9342
@benmoriceau do you confirm this issue is legit?

[2022-01-06 17:49] #9215 closed

[2022-01-06 17:52] benmoriceau commented on #9342
It is, the docker compose file need to be modified. Some users ran into this already: https://airbytehq.slack.com/archives/C01MFR03D5W/p1638396594247700?thread_ts=1638376353.222600&cid=C01MFR03D5W The linked example is with cassandra, however the fix should be similar for postgres.

[2022-01-06 18:49] #8789 closed

[2022-01-06 19:23] harshithmullapudi commented on #4933
@igrankova any update here ? cc: @karinakuz is there anything we can do ?

[2022-01-06 19:26] misteryeo commented on #8424
@harshithmullapudi since we merged [#8521 ](https://github.com/airbytehq/airbyte/pull/8521), can you confirm and close this issue which I believe should now be implemented?

[2022-01-06 21:48] sherifnada opened #9345 "Deprecate bigquery denormalized and make it an option in destination bigquery"
## Tell us about the problem you're trying to solve
The two destinations are separate today because one works with normalization and the other doesn't.

Ideally they should be the same destination with the ability to output denormalized bigquery structs toggled via a boolean flag in the connector's configuration. However, today it is not possible to express in the connector's spec that a connector

[2022-01-06 21:59] prudhvi85 opened #9346 "🐛 Destination Snowflake: Source container not shutting down after error"
## Environment
- **Airbyte version**:  0.29.22-alpha
- **OS Version / Instance**: Ubuntu 20.04/ec2 16gb ram and 4cores
- **Deployment**: Docker
- **Severity**:  Critical
- **Step where error happened**: Sync job

## Current Behavior
We are using Airbyte to sync data from various sources to various destinations. One of our destinations is snowflake. we had a trial version of snowflake and it got ex

[2022-01-06 22:26] tuliren commented on #9044
@etsybaev, I have created a new service account: `gcs-destination-connector-test@dataline-integration-testing.iam.gserviceaccount.com`, and a new role: `GCS Destination User` which has the following permissions:

[code]

The new service account is only associated with this new role under the `dataline-integration-testing` project.

A new HMAC key is generated for this service account. I have updat

[2022-01-06 22:50] #9265 closed

[2022-01-06 22:56] tuliren commented on #9044
A second service (`gcs-destination-failure-test@dataline-integration-testing.iam.gserviceaccount.com`) is created associated with a role (`GCS Destination User Without Multipart Permission`) without the multipart permission.

Its key is uploaded to LastPass under the entry `destination gcs creds (no multipart permission)`. You can use that config to test the check method.

[2022-01-07 00:49] #8255 closed

[2022-01-07 00:55] flotenva commented on #9264
I've noticed that my issue with normalization of the line_items_properties model may be related to this other previously reported bug:
https://github.com/airbytehq/airbyte/issues/6592

[2022-01-07 01:02] misteryeo commented on #6225
@VasylLazebnyk can you make sure to re-assign this ticket to an engineer so that it can be reviewed and closed?

[2022-01-07 02:32] reubano commented on #9267
Thanks @alafanechere! Where should i put my comments/suggestions?

[2022-01-07 02:39] #9259 closed

[2022-01-07 03:59] kirstenhipolito commented on #9339
Some additional details: checking the tables on Postgres, there's data written in the `_airbyte_raw_*` tables, such as `_airbyte_raw_contacts` and `_airbyte_raw_companies`, and it looks like the number of rows is correct. But there are 0 rows in the normalized tables, e.g. `Contacts` and `Companies`, even though the logs say that normalization was completed.

[2022-01-07 04:22] #9298 closed

[2022-01-07 05:16] #8948 closed

[2022-01-07 05:42] octavia-squidington-iii opened #9349 "🐛 Source Facebook pages: access_token key error"
Is this your first time deploying Airbyte: No

OS Version / Instance: Ubuntu 20.4
Memory / Disk: 64 / 960

Deployment: Docker
Airbyte Version: 0.35

Source name/version: Facebook Pages / 0.1.6

Destination name/version: Snowflake / 0.4.0

Description: Getting failed sync, although the tables for raw and normalization are being created/populated in Snowflake.

**See attached log**

[logs-10-2.txt](

[2022-01-07 07:53] sherifnada opened #9350 "Spec for differentiating errors needing user intervention from connector/platform bugs in reporting"
## Tell us about the problem you're trying to solve
In order to reliably measure connector quality, we need to know when a connector fails because of a bad configuration/something requiring user intervention (e.g: expired oauth token) vs. failing due to a bug or some other reason. the former category could artificially inflate failure rates, so we want a way to exclude it from tracking.

If the pe

[2022-01-07 08:16] sherifnada opened #9351 "Create a well defined charset for namespaces and test them in DAT"
## Tell us about the problem you're trying to solve
issues like https://github.com/airbytehq/airbyte/issues/7435 happen because we don't have clear rules for what characters should be allowed in a namespace. In addition, destinations don't have clear guidance around how to handle namespaces which contain special characters e.g: a custom namespace with a `-` or a space could cause a destination to

[2022-01-07 08:35] sherifnada opened #9352 "[EPIC] Improve Snowflake destination to satisfy General Availability criteria"
## Tell us about the problem you're trying to solve
GA criteria [described here](https://docs.google.com/document/d/1q9ncTSja4pZFJYEEs_AQ6NKOJOrMzcWq7KSyHCx4lPw/edit#heading=h.apstagek5t8o) require that a connector achieve a good degree of reliability. This epic is a placeholder for any work required to improve the Snowflake destination such that it achieves GA status. Some things to keep in mind:

[2022-01-07 08:38] sherifnada commented on #9328
@tuliren Could we actually switch this to be focused on destinations? With the recent timeline change to getting snowflake in GA, it would be very helpful to do this experiment for snowflake so we can start collecting metrics about it asap.

[2022-01-07 09:21] sherifnada opened #9354 "Allow a connector to set a "default sync cadence""
## Tell us about the problem you're trying to solve
Some source connectors have optimal settings for how often their syncs should run. For example:

* Salesforce should run approximately once a day as its rate limit is computed daily i.e: if you consume the rate limit within 30 minutes, you need to wait 23.5 hours before the next sync will succeed
* DB connectors using CDC should run as much as po

[2022-01-07 09:32] ameyabapat-bsft commented on #2170
+1. It is critical need for all scheduling related business use cases. Eagerly waiting for it.

[2022-01-07 09:34] ameyabapat-bsft commented on #2170
+1. It is a critical need for schedulers business use cases. Eagerly waiting for it.

[2022-01-07 10:39] ChristopheDuong commented on #9345
With current UI, dedup sync mode is not currently possible with denormalized bigquery destinations either (handled by normalization process)

But the normalization could be improved and would technically be able to handle denormalized outputs from bigquery-denormalized and plug the dedup logic after it. If we implement this separation, we could more easily merge both destination-bigquery and desti

[2022-01-07 13:33] TSkrebe commented on #9233
Tested with a new version and it works 🎉

_Call-heartbeat-server_ memory usage was steadily increasing in the first two minutes and reached 28.6 MiB. After that it remained flat.

[2022-01-07 13:33] #9233 closed

[2022-01-07 13:47] alafanechere commented on #9346
I consider this error critical because the "zombie" containers are preventing new job runs. @prudhvi85 are you using the latest Destination Snowflake connector version (`0.3.23` as of today)? If not, please upgrade and let us know if the problem persists.

[2022-01-07 13:49] alafanechere commented on #9346
Could you also be more specific about which containers are not exited: source, destination, or both?

[2022-01-07 14:08] alafanechere commented on #9349
The error arises during the call to `SourceFacebookPages.streams`, generating a page access token (by calling `generate_page_access_token`).
The response from Graph API does not have an `access_token`, hence the `KeyError`. Better error handling in `generate_page_access_token` could help understand the response payload and display a more meaningful error.

[2022-01-07 14:24] alafanechere commented on #9267
Feedback is welcomed as comments on the deck.

[2022-01-07 14:33] alafanechere commented on #8875
Hi @percywfu7 could you please attach the full sync logs? It looks like you have a `JsonSchemaValidator` error, which means that some input data does not match the inferred schema. Could you check if the incoming message has the schema that was defined during the connection setup + makes sure the topic only has JSON data?

[2022-01-07 15:57] percywfu7 commented on #8875
Hi @alafanechere this is the sync log
[logs-58-0.txt](https://github.com/airbytehq/airbyte/files/7829872/logs-58-0.txt)

[2022-01-07 17:17] #7728 closed

[2022-01-07 17:43] prudhvi85 commented on #9346
@alafanechere  Source connecters get stuck.

[2022-01-07 17:52] noahkawasakigoogle opened #9358 "Create an airbyte-shell environment with nix-shell for development"
## Tell us about the problem you're trying to solve
Different people developing on Airbyte with different local environments

## Describe the solution you’d like
Create an airbyte [`nix-shell`](https://nixos.org/manual/nix/unstable/command-ref/nix-shell.html) that would load all dependencies and tools/packages for you (docker, python, java, jq, etc). You would cd into airbytes github repo, and aut

[2022-01-07 17:59] marcosmarxm commented on #9358
This is a great idea @noahkawasakigoogle !

[2022-01-07 21:35] tuliren commented on #9328
I have updated this issue to start with BigQuery, instead of databases.

[2022-01-07 21:38] tuliren commented on #9328
@alexandr-shegeda, @oustynova, can this issue be prioritized soon? We just realized that it is more important than we previously thought. If this project cannot be prioritized any time soon (like next week), I can work on it.

[2022-01-07 22:01] #6743 closed

[2022-01-08 01:55] #8496 closed

[2022-01-08 21:35] prudhvi85 commented on #9346
@alafanechere  I have updated snowflake connector to 0.3.23 and the problem still persists

[2022-01-09 06:36] RevRebel opened #9364 "Access to airbyte/integration-base-java resource"
When running

 "docker build . -t airbyte/destination-XXXXX:dev" (XXXXX removed actual name for logging the error)

cli message ....

Sending build context to Docker daemon  50.56MB
Step 1/11 : FROM airbyte/integration-base-java:dev AS build
pull access denied for airbyte/integration-base-java, repository does not exist or may require 'docker login': denied: requested access to the resource is den

[2022-01-09 07:39] BEIIKS commented on #9332
@ChristopheDuong your issue is relative to the dbt command, i need somehow to get over the git repo

[2022-01-09 07:40] BEIIKS commented on #9332
your issue is relative to the dbt command, i need somehow to get over the git repo

[2022-01-09 08:06] BEIIKS opened #9365 "Many sources to one destination in a single connection"
## Tell us about the problem you're trying to solve
We have a very big (and little old) project, therefore there are few types of db (oracle, mongo and postgres). for new service we want to use airbyte and dbt for get data from mongo and oracle tables into one postgres schema.

## Describe the solution you’d like
I would like to have the options to make a connection with few soruces/destination an

[2022-01-09 08:56] BEIIKS commented on #2170
you can make an API request to airbyte for a manual sync?

[2022-01-09 10:42] tuliren commented on #5564
Cannot reproduce this issue. The Json to Avro schema converter has multiple updates, and much more test coverage since this issue was opened. Also the schema is added as a test case in #9363, and there is no problem processing this schema.

[2022-01-09 10:42] #5564 closed

[2022-01-09 16:13] fl0wm0ti0n opened #9366 "🐛 Can't git clone on Windows: Filename too long"
it isnt possible to clone the repo on windows 10...

The Path where i  am cloning it is "C:\flowGit\sonstiges" so quite short... but the paths in the repo are massive long...

## Environment
- **Airbyte version**: git clone last
- **OS Version / Instance**: Windows 10
- **Severity**: High
- **Step where error happened**: git clone

## Current Behavior
Error when cloning -> see logs

## Expected Be

[2022-01-09 19:11] tuliren commented on #9252
The root cause is that the `pending_shared` field is an arry of unknown types:

[code]

I will update the Json to Avro schema converter to default the array element type to `string`.

The better way to fix it is to update the `items` with the correct `type`. However, Slack API doc does not specify what type is array should be:

https://api.slack.com/methods/conversations.list
[code]

[2022-01-10 03:51] tchandrap opened #9372 "CDC MongoDB"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data? This helps us understand the use case.
*

[2022-01-10 07:08] ravikottu opened #9374 "New Source: Azure Blob Storage"
## Tell us about the new connector you’d like to have
* Source as Azure Blob as similar as we have a source connector for S3 Bucket

## Describe the context around this new connector
* Need this connector as similar as we have a source connector for S3 Bucket. Most of our projects are with Azure and we should be able to move b/w Azure and S3

## Describe the alternative you are considering or usin

[2022-01-10 08:02] naveenpatnana opened #9375 "Parallelly triggered jobs are moving into pending state after certain limit"
## Environment
- **Airbyte version**:  0.35.4-alpha
- **OS Version / Instance**:  Ubuntu 20.04.3 LTS/ EC2
- **Deployment**:  Docker
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
*We have triggered 50 jobs parallely(to stress test our server) with the below configuration in .env file:
### APPLICATIONS ###
# Scheduler #
# Relevant to scaling.
SUBMITTER_NUM_T

[2022-01-10 08:52] MahmoudElhalwany opened #9377 "cannot connect with any source on mac m1 chip"
## Environment
- **Airbyte version**:  0.35.4-alpha
- **OS Version / Instance**: macOS arm64
- **Deployment**: docker
- **Severity**: Critical
- **Step where error happened**: Setup new connection

## Current Behavior
Test Connection workflow failed Java IO Exception

## Expected Behavior
Test Connection Success

## Logs

<details>
<summary>LOG</summary>

[code]

</details>

## Steps to Reproduce

[2022-01-10 09:03] ChristopheDuong commented on #9332
yes, the original goal is to let users tune multiple dbt commands as they wish. But this would be done via a bash script input in the UI. So in the bash script, you are free to run other commands other than dbt to get over the git repo. It doesn't have to be only dbt commands.

[2022-01-10 09:07] BEIIKS commented on #9332
Sure, but the git repo url field is a require one, so anyway in the proccess airbyte would try to clone something.

I need to figure out how to give airbyte the project without repostiroy

[2022-01-10 09:14] alexchouraki opened #9378 "New Source: Zendesk Sell Connector"
I'd like to be able to connect to Zendesk Sell, and send the data to Snowflake. The latest version of the API would be fine.

This integration would be useful to integrate to my data warehouse, because it will allow me to link the CRM information from Zendesk Sell to my product and backoffice data, in order to tackle CSM / Sales analytics use cases, such as "letting an account manager know when th

[2022-01-10 10:06] VitaliiMaltsev opened #9379 "OnCall # 87"
https://github.com/airbytehq/oncall/issues/87

[2022-01-10 11:14] pgdeepak91 commented on #2017
I'm also facing the same issue as @longfellowone said. when i try to connect to any db source or destination in macbook M1 air.

	at io.airbyte.workers.DefaultCheckConnectionWorker.run(DefaultCheckConnectionWorker.java:27) ~[io.airbyte-airbyte-workers-0.35.4-alpha.jar:?]
	at io.airbyte.workers.temporal.TemporalAttemptExecution.lambda$getWorkerThread$2(TemporalAttemptExecution.java:174) ~[io.airbyt

[2022-01-10 11:14] pgdeepak91 commented on #2017
Caused by: java.io.IOException: error=0, Failed to exec spawn helper: pid: 130, exit value: 1
	at java.lang.ProcessImpl.forkAndExec(Native Method) ~[?:?]
	at java.lang.ProcessImpl.<init>(ProcessImpl.java:314) ~[?:?]
	at java.lang.ProcessImpl.start(ProcessImpl.java:244) ~[?:?]
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1110) ~[?:?]
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:

[2022-01-10 11:42] pgdeepak91 commented on #9377
@h7kanna @tuliren @jrhizor +1 following

[2022-01-10 12:24] karinakuz commented on #8986
I sent letter about sandbox account to lbovolenta@flexport.com, ben.widdowson@flexport.com (contacts from contributors) and  teamece@flexport.com  on 5 January but still no answer

[2022-01-10 12:30] #6005 closed

[2022-01-10 12:43] tredencegithub commented on #9273
@Zirochkaa The data looks good on the table after connector upgrade.

[2022-01-10 12:54] alafanechere commented on #9375
@benmoriceau is this a scheduling issue and behavior you are aware of?

[2022-01-10 13:27] karinakuz commented on #7276
Create an issue with login to Pardot account with Salesforce credentials

Case #41889254
Your case has been submitted!
We'll send you an email with all the details.
https://help.salesforce.com/s/cases

[2022-01-10 13:46] karinakuz commented on #4933
@harshithmullapudi @marcosmarxm to use Salesforce Marketing Cloud Partner program is required (@igrankova mentioned this in the comments above). The Case #41868893 "Sign up for Partner Developer Edition" is submitted on 5 January and we are waiting Salesforce Support expert will get back to us. For now this issue still has status "New".

[2022-01-10 14:58] grubberr opened #9383 "🎉 Source Hubspot: `engagements` stream, remove auto-generated `properties`"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-01-10 15:17] alafanechere opened #9384 "🐛 Source Shopify: 403 error on sync (PriceRules stream)"
## Environment
- **Airbyte version**: 0.35.4-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Shopify 0.1.27
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Medium
- **Step where error happened**: Sync job

## Current Behavior
The user in this

[2022-01-10 15:27] alexchouraki commented on #6326
Same thing for us, I'll be following this ticket!

[2022-01-10 15:35] h7kanna commented on #2017
The above problem is caused by Worker Java process not being able to run docker command. (Currently worker depends on docker CLI to create containers)

It is similar to https://stackoverflow.com/questions/61301818/java-failed-to-exec-spawn-helper-error-since-moving-to-java-14-on-linux

Try setting JAVA_OPTS: "-Djdk.lang.Process.launchMechanism=vfork" for the work and see if that works.

[2022-01-10 15:45] noahkawasakigoogle commented on #2865
I gave this a shot here: https://github.com/airbytehq/airbyte/pull/9368/files

Was not as straight forward as I initially thought it would be, requires a bit of a hack to invert the behavior but _also_ add the ability to target a specific connector Gradle project without also including all the other connectors.

[2022-01-10 16:58] VitaliiMaltsev opened #9389 "Destination Snowflake: add test to avoid duplicated staging data"
Add test for https://github.com/airbytehq/airbyte/pull/9141

[2022-01-10 16:58] jrhizor commented on #9377
Currently we don't build and publish any connectors for M1. Some of the simple ones happen to work (like JSON destination, PokeAPI source).

The platform itself has some difficulties with M1. See https://github.com/airbytehq/airbyte/issues/2017 for more details. The platform is pretty stable when built for M1, and we'll start publishing images for the platform in a couple months or sooner.

I'm no

[2022-01-10 17:09] nick-unit21 opened #9391 "SSH tunnel support for Redshift source"
## Tell us about the problem you're trying to solve

Rather than connecting to the DB directly (requiring it to be open to the internet), we would like to use ssh tunneling for redshift (much like postgres

![image](https://user-images.githubusercontent.com/58953244/148807793-e501bf90-0ff8-4333-9fed-93eb147c06a1.png)

[2022-01-10 18:49] jovezhong opened #9394 "Latest dbt clickhouse adapter for normalization"
## Tell us about the problem you're trying to solve

Currently a forked version of dbt clickhouse adapter is used , instead of the original one from https://github.com/silentsokolov/dbt-clickhouse/

https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/base-normalization/clickhouse.Dockerfile#L26

According to the comment, there was some bugs (such as https://github.com/silen

[2022-01-10 19:08] alafanechere commented on #9364
Hi @RevRebel you need to build the image with `gradlew`:
`./gradlew :airbyte-integrations:connectors:destination-XXXX:airbyteDocker`

[2022-01-10 19:14] alafanechere commented on #9365
Hi @BEIIKS, I'm not sure to really understand your need. You can declare one Postgres destination and reuse it to setup up a connection with your sources.
Do you mean you'd like to set up a single connection with multiple tables (from different sources) to a single destination? Meaning that during the connection setup phase you'll see streams from different sources?

[2022-01-10 19:16] alafanechere commented on #9366
Hi @fl0wm0ti0n, do you have the same problem cloning from a WSL context?

[2022-01-10 19:22] #9377 closed

[2022-01-10 19:26] #8832 closed

[2022-01-10 20:00] #9044 closed

[2022-01-10 20:26] #8477 closed

[2022-01-10 20:46] marcosmarxm commented on #6021
@misteryeo we should at least write a doc or explain here how increate the timeout in k8s for people need this.

[2022-01-10 20:48] marcosmarxm commented on #8060
@jrhizor I was able to update the value, but not to remove the field value.

[2022-01-10 20:50] marcosmarxm commented on #7032
The field was already in the stream, I'll close it.

[2022-01-10 20:50] #7032 closed

[2022-01-10 20:51] marcosmarxm commented on #2170
Yes, it's possible.

[2022-01-10 21:25] marcosmarxm opened #9398 "Source Klavyio adds info about `flow_id` inside event column"
### Tell us about the documentation you'd like us to add or update.
This is an important data that Klavyio doesn't have a API endpoint yet and user need to generate reports.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2022-01-10 22:58] davelindley commented on #2124
+1 - if credentials are needed to unblock/reproduce I can provide a dev environment to the respective devs.

[2022-01-10 23:21] tuliren commented on #9377
First class M1 support is not our major focus for this quarter. So we cannot guarantee anything. However, we will do some exploration in this area. The stretch goal is to 1) find out what needs to be done; and 2) enable a few connectors to be built and run on M1.

[2022-01-10 23:53] wallies opened #9400 "InMoment/Wootric"
## Tell us about the new connector you’d like to have
* Which source and which destination?
InMoment/Wootric https://inmoment.com/
Copy or migrate the tap https://github.com/singer-io/tap-wootric

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data? This helps us understand the use case.
Pull survey data into data warehous

[2022-01-11 02:20] marcosmarxm opened #9403 "CI Sandbox for Chartmogul"
## Tell us about the problem you're trying to solve
Need Integration Test Creds to test Community Contribution https://github.com/airbytehq/airbyte/pull/9381

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative

[2022-01-11 04:23] sherifnada opened #9404 "Source Stripe: improve performance"
## Tell us about the problem you're trying to solve
Stripe's API rate limit is 100 requests/second, and each page of data can retrieve 100 records. This means that in theory we should be able to pull data very quickly (up to 10k records per second, assuming an HTTP request takes 1 second to return).

A user reported that their Stripe connector was taking much longer than their in-house handwritten

[2022-01-11 05:37] BEIIKS commented on #9365
Yes, so in the dbt process I can use the data from 2 different sources instead of at least 3 pipelines

[2022-01-11 05:55] nataliekwong commented on #8114
Here is a Loom I recorded of a test: https://www.loom.com/share/d4e6392d6d3649408186965e51e2bfbe

- First click: Set up Connection on the connection settings
- Second click: Sync Now
- Third click: Sync Now

Only after the third click does the status / running bar show up.

[2022-01-11 06:53] igrankova commented on #7629
The App is Public.

[2022-01-11 07:07] #9273 closed

[2022-01-11 07:09] jrhizor opened #9406 "platform Java dependency upgrades (as of Jan 2022)"
[code]

Generated with https://github.com/ben-manes/gradle-versions-plugin

I think most of these should be pretty trivial to upgrade. JOOQ is the only known exception at this time.

[2022-01-11 07:11] jrhizor commented on #9406
@tuliren fyi. We can do something similar with frontend.

I am a bit curious how we'll want to manage these upgrades across connectors + backend, especially if we run into situations where there's conflicts with a connector-specific library.

[2022-01-11 07:31] alafanechere commented on #9346
Thanks for the details @prudhvi85, could you please attach an entire sync log file that you can download from the UI? The screenshot you attached contains an error from the destination, not from the source.

[2022-01-11 08:51] prudhvi85 commented on #9346
@alafanechere I am 100% sure I logged into the source MySQL container to get those logs. I am not sure why I see this in the source.

Logs from the UI :

"2022-01-06 16:40:06 INFO () WorkerRun(call):62 - Executing worker wrapper. Airbyte version: 0.29.22-alpha"

Only we can see the above line in UI when this issue happens.

[2022-01-11 08:54] rajeshkppt commented on #9406
how many connectors are java based, which is supported by Airbyte
We could look at them before migrating other libraries

[2022-01-11 08:55] rajeshkppt commented on #9406
I would propose **not** to migrate log4j to its alpha version 2.0.0-alpha5, rest seems fine to me

[2022-01-11 09:36] #7722 closed

[2022-01-11 10:15] davinchia commented on #9406
@jrhizor is this coming from anywhere, or good to have?

[2022-01-11 10:18] davinchia commented on #6986
@jrhizor is this done?

[2022-01-11 10:23] stefanocascavilla commented on #8876
Hello @yevhenii-ldv, I tried out the 0.3.0 connector's version and was able to set up the connector correctly. Thank you!

[2022-01-11 10:28] davinchia commented on #2099
@djKooks I'm going to close this for now

[2022-01-11 10:28] #2099 closed

[2022-01-11 10:32] davinchia commented on #4225
Since then:
1) we have various Cloud Env clusters.
2) we now have a Github workflow to build and push images.

Going to close this.

[2022-01-11 10:32] #4225 closed

[2022-01-11 10:34] davinchia commented on #4300
@benmoriceau I know you did some good work. what if left here?

[2022-01-11 10:37] davinchia commented on #3951
we now have a timeout limit of 90 mins on the builds.

[2022-01-11 10:37] #3951 closed

[2022-01-11 12:24] karinakuz commented on #9403
Account with the data is created, credentials are added to the LastPass with the name "Chartmogul", api is tested for the streams:

Get Data Sources https://api.chartmogul.com/v1/data_sources
Get Customers https://api.chartmogul.com/v1/customers
Get Plans https://api.chartmogul.com/v1/plans
Get Invoices https://api.chartmogul.com/v1/import/customers/cus_e6e6b1e6-72d4-11ec-ac99-47c8cf90d52c/invoice

[2022-01-11 13:58] #9211 closed

[2022-01-11 14:28] octavia-squidington-iii opened #9410 ":bug: Source Mixpanel: 429 status code is not handled"
*Is this your first time deploying Airbyte*: No
*OS Version / Instance*:  EC2 t2.medium
*Deployment*: Docker
*Airbyte Version*: 0.35.2-alpha
*Source name/version*: Mixpanel 0.1.9
*Destination name/version*: AWS Redshift
*Description*: Hi everyone, I am setting up a connection from Mixpanel to Redshift. The data appears to be loaded into Redshift properly, but one error is logged all the time when

[2022-01-11 14:36] alexandertsukanov opened #9411 "[PYTHON NORMALIZATION] Destination Redshift: Make possible to process SUPER Data Type during normalization"
## Tell us about the problem you're trying to solve
In scope of https://github.com/airbytehq/airbyte/issues/5050 was requested to add support of Redshift SUPER type. In scope of PR https://github.com/airbytehq/airbyte/pull/9407 was added support for **SUPER** data type on Java side.

## Describe the solution you’d like
In scope of this ticket the support of **SUPER** Datatype for **Normalization**

[2022-01-11 14:39] alexandertsukanov commented on #9411
You can play with my DB created in Integration Test Redshift instance. `otsukanov_test.source_schema`

[2022-01-11 14:39] #6544 closed

[2022-01-11 14:40] #7897 closed

[2022-01-11 14:53] alafanechere commented on #9346
@prudhvi85 could you please upgrade Airbyte to the latest version, retry and send the full sync attempt log?

[2022-01-11 14:53] #8876 closed

[2022-01-11 15:12] #9198 closed

[2022-01-11 15:15] LaRiffle commented on #3280
Hey! 👋
Any update on this side?

[2022-01-11 15:28] MatheusFreitas25 commented on #8963
Thanks, i'll check it today

[2022-01-11 16:41] jrhizor commented on #9406
@davinchia : Liren was talking about scheduling regular dependency upgrades at the dev meeting yesterday. I just wanted to check how difficult it was to generate a list of potential upgrades.

@rajeshkppt : agreed on not upgrading to any non-stable version. Most of the database/warehouse/cloud storage destinations are written in Java (BQ/Redshift/Snowflake/Postgres/Mysql/MSSQL/Clickhouse/S3/GCS/et

[2022-01-11 16:47] #6986 closed

[2022-01-11 16:57] jrhizor commented on #3280
@LaRiffle There have been some frontend redirection changes that should make this easier. We haven't prioritized this ticket yet (and probably won't get to it for a while longer). If you (or someone else who's interested) wants to work on contributing this feature we could point you in the right direction.

[2022-01-11 17:14] jrhizor commented on #2017
Just to update on the state of this whole issue:
- The platform can be built locally to work completely, passing all tests on M1.
- We still need to:
   1. Publish and test M1-compatible platform images
   2. Along the way, add something to the platform to indicate which connectors are supported. Maybe we'll only show M1-compatible connectors if you run Airbyte on M1 by default. We're not set on a

[2022-01-11 17:33] jrhizor opened #9416 "remove unused pilot instances"
Unused pilot instances are running into a Terraform bug when getting removed. We'll need someone with TF experience to fix at some point.

@cgardens fyi

[2022-01-11 17:46] jrhizor commented on #8060
@sherifnada is it safe to assume that we never have empty strings (or if there are then we can send a null)?

[2022-01-11 17:48] LaRiffle commented on #3280
Thanks a lot for the update!

[2022-01-11 17:52] misteryeo opened #9417 "Variable Input Fields UI Component Buggy"
## Current Behavior
1. When adding a new item to the variable input fields component, it creates a non-descriptive ascending numerical list.
2. If a user goes in to edit any item within a created list of fields and clicks 'Cancel' instead of 'Save' - all previously created fields disappear and the 'Add' button freezes.

## Expected Behavior
1. Each new item added should expose the value that's bee

[2022-01-11 18:16] Zirochkaa commented on #8906
@tredencegithub I have few questions:
1. How many records do you have for each stream?
2. What is your initial config? If it's ok with you could you please send it to me in slack because I can't reproduce this issue with our config? I just run delighted source again with our account where each streams have 200+, 200+, 300+ and 100+ records and all of them were read. I then run incremental sync and

[2022-01-11 18:27] prudhvi85 commented on #9346
@alafanechere  I think this issue is fixed in the latest version. After the error, all the containers related to that job are killed.

[2022-01-11 18:27] #9346 closed

[2022-01-11 18:28] marcosmarxm commented on #9322
Maybe we can add a handle to validate if the call to `export` was succeeded.
![image](https://user-images.githubusercontent.com/5154322/149000447-98e1739a-11a8-4b00-9639-d270231ad864.png)

[2022-01-11 18:29] lmossman opened #9418 "Block launching of jobs when credit balance is zero or less, after grace period"
## Tell us about the problem you're trying to solve
After integrating with our billing vendor (Orb), we want to block the launching of jobs for a customer if their credit balance is zero or less, after a grace period of 2 weeks. In other words, if the user's credit balance hits 0, we give them 2 weeks to get a positive balance before we start blocking their jobs from launching.

## Describe the so

[2022-01-11 20:19] marcosmarxm opened #9419 "Source Slack: failed in normalization field is not timestamp format"
## Environment
- **Airbyte version**:  0.35.4-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Slack 0.1.13
- **Destination Connector and version**: Bigquery 0.3.9
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Curr

[2022-01-11 23:13] sherifnada opened #9423 "Connector check should not succeed if snowflake cannot access external S3 staging"
## Environment
Cloud or OSS: OSS
Version: 0.30.21-alpha
Source Id/Name/Version: S3 0.1.5
Destination Id/Name/Version: Snowflake 0.3.16
Step Issue Happened: Syncing data from S3 to Snowflake

## Current Behavior
User ran a sync to snowflake with incorrect permissions configured. The destination failed with 403. however, they should not be able to configure a destination which will 403 on a sync.

#

[2022-01-11 23:28] sherifnada commented on #5837
Additional instance of this happening in https://github.com/airbytehq/oncall/issues/90:
[logs-31085-0 (2).txt](https://github.com/airbytehq/airbyte/files/7850460/logs-31085-0.2.txt)

[2022-01-11 23:36] sherifnada opened #9425 "Automatically create GH Release and tagged commit when publishing a new Airbyte version"
## Tell us about the problem you're trying to solve
When releasing a new version of Airbyte ([example](https://github.com/airbytehq/airbyte/pull/9421)) one must manually create a release. Failure/forgetting to create a release and a tag can cause confusion and in some case errors downstream (Airbyte Cloud build looks for tagged versions to fetch some resources, so if we didn't create a tagged comm

[2022-01-12 01:33] tuliren opened #9426 "Integrate ARM connector image building and publishing in CI"
## Description
- To run Airbyte on M1 / ARM machines, we need to build and publish ARM images.
- The platform side of the work is tracked in https://github.com/airbytehq/airbyte/issues/7930.
- This issue tracks that on the connector side.

## Acceptance Criteria
- Figure out how to build and publish ARM connector images locally.
- Update the `publish` command to build and publish both `amd64` and

[2022-01-12 01:40] tuliren commented on #9426
I have assigned this issue to GL Java team, since the connector we choose here is `BigQuery` destination, which is a Java connector. Feel free to hand over to a different team if that makes more sense.

[2022-01-12 01:50] misteryeo commented on #8773
Closing this issue since there's no response from @mihir-kanzariya - feel let us know if we need to re-open this.

[2022-01-12 02:26] sherifnada commented on #8060
@jrhizor I can't think of a case where a required field would be an empty string, so that seems safe to me. Also asking the team on Slack in case anyone has feedback.

[2022-01-12 02:59] octavia-squidington-iii opened #9427 "UI is broken for long texts"
some minor UI issue for the snowflake destination: the default option is truncated without a hover tooltip

 https://airbytehq.slack.com/archives/C019WJFR1JT/p1641947043051700?thread_ts=1641947043.051700&cid=C019WJFR1JT

[2022-01-12 03:51] tuliren commented on #9377
Github issue to explore the building and publishing of one M1 connector in CI: https://github.com/airbytehq/airbyte/issues/9426

[2022-01-12 05:04] vingov opened #9428 "Add a page about what telemetry data airbyte collects to bring more transparency and visibility to users"
### Tell us about the documentation you'd like us to add or update.
First, thanks so much for organizing the Series B discussion it was super useful, I've attended your Series B discussion session, where I learned that airbyte collects telemetry data to know that it has 16K deployments, I remember seeing the consent screen when we install/deploy airbyte for the first time, like this one:

<img wid

[2022-01-12 05:08] tredencegithub commented on #8906
@Zirochkaa Unfortunately that is account specific information and am not authorized to share it. Do we have an alternative way?

[2022-01-12 05:31] cgardens opened #9429 "Troubleshoot Report"
## Tell us about the problem you're trying to solve
As a user, I want to be able to download all of the troubleshooting information that the support team needs in order to help debug my problems. There are two cases that I want help debugging:
1. "general" platform error. Something went wrong while running airbyte (e.g. server error, scheduler error, some page is not loading, etc)
2. job error (e.

[2022-01-12 05:34] cgardens commented on #9429
@harshithmullapudi - can you define an execution plan for this task using this [issue](https://github.com/airbytehq/airbyte/issues/8463) as an example?

[2022-01-12 07:12] #9252 closed

[2022-01-12 07:28] ishanjoshi02 commented on #8763
I was thinking a simple text box where the user provides a mongo find() query?
@sherifnada

[2022-01-12 07:46] tuliren commented on #9406
Thanks. Since most connectors have their own docker images, I think the only modules that may require some coordination are those `base-` ones in `airbyte-integrations`, which is managable.

[2022-01-12 09:16] alexnikitchuk opened #9431 "Source MongoDB to S3 Failed to convert JSON to Avro"
## Environment
- **Airbyte version**:  0.35.2-alpha
- **OS Version / Instance**: macOS
- **Deployment**: Docker
- **Source Connector and version**:  airbyte/source-mongodb-v2  0.1.10

- **Destination Connector and version**:  airbyte/destination-s3 0.2.3
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
File in destination S3 appears but it is empty, sync fail

[2022-01-12 10:12] ycherniaiev commented on #4648
@marcosmarxm @Sandbox is done.LastPass: Datascope sandbox. API docs: https://dscope.github.io/docs/

[2022-01-12 10:33] leiii opened #9432 "Google Sheets Incremental Sync"
Hi, we would like to use Airbyte to sync data from Google Sheets, where our daily data collection/operation runs on. However, according to the doc (https://docs.airbyte.com/integrations/sources/google-sheets), currently, Airbyte cannot do incremental sync from Google Sheets. Also from the doc, it said this feature will come soon. We would like to know the roadmap of this feature.

[2022-01-12 11:29] Zirochkaa commented on #8906
@tredencegithub could you please run `full_refresh` sync and `incremental` sync few times and send logs from all runs here? We need logs for investigation.
Also, could you please provide following info:
1. How many records does your delighted account contain by each stream?

[2022-01-12 13:32] johnlafleur commented on #8114
I thought the sync would be automatically triggered once the connection is set up. Maybe the specs were a bit confusing.
But this is what I think the specs should be. @jrhizor who should we involve to fix this issue?

[2022-01-12 13:35] johnlafleur commented on #9428
I think this is a very valid request indeed!
Actually, the [spreadsheet](https://docs.google.com/spreadsheets/d/1qQPMBdz86yMBiyXpjw91D3HoP6hN7yIPRmLrF7xWOgA/edit#gid=1567609168) is still up to date. But we need to make it more easily accessible to the community.

@avaidyanatha I'm wondering if we could have a read-only version of this and link it in the docs?

[2022-01-12 14:00] ProdigyMaster opened #9433 "Source Pipedrive: Custom Fields"
## Tell us about the problem you're trying to solve
In Pipedrive there is an option to add custom fields to the organization. In my case: Sales Person working in Pipedrive CRM creates a custom field for user attribution source and sets it to google/organic.  I would like to have values from Pipedrive's custom fields in my data warehouse and track changes on them.

Custom Files are very important i

[2022-01-12 14:00] bmatticus commented on #5980
@vholmer the PR has been merged and 0.1.1 version of the destination is now available. I think it should fix your issue

[2022-01-12 14:00] erikbaan opened #9434 "custom JDBC parameter for serverTimezone"
## Tell us about the problem you're trying to solve
While trying to add a MySQL destination using the web interface, the following error occurs:

[code]

But adding those JDBC parameters is currently not supported.
Thus adding the destination is impossible.

## Describe the solution you’d like
Adding a custom JDBC driver param to provide another value for `serverTimezone` in the web interface coul

[2022-01-12 14:12] sashaNeshcheret commented on #6661
@sherifnada After discussion with team we have several concerns about moving allowed symbols for identifiers into specs, should it be hidden from user on ui, do we want to keep validation and replacing forbidden symbols on server side or we will do it only on UI? Just want to double check it. And if we move on this way, connector team should do following:
	- investigate all databases to identify a

[2022-01-12 14:28] #9308 closed

[2022-01-12 14:47] sherifnada commented on #6661
@sashaNeshcheret that makes sense.  Wdyt about restrict the charset to alphanumeric+underscore, basically the two bullet points I made in my previous post above?

[2022-01-12 15:18] raphaelauv commented on #837
look like you can use the GCP secret manager to store the secret -> SECRET_PERSISTENCE_TYPE

[2022-01-12 15:48] octavia-squidington-iii opened #9436 ":bug: Source Jira: 400 client error bad request for url"
_Is this your first time deploying Airbyte_: Yes
_OS Version / Instance_: Windows
_Memory / Disk_: 16Gb / 500Gb SSD
_Deployment_: Docker
_Airbyte Version_: 0.35.5-alpha
_Source name/version_: Jira 0.2.18
_Destination name/version_: Snowflake 0.3.21
_Step_: On sync
_Description_: When I try to sync the Jira `issues` table into Snowflake I get `400 Client Error: Bad Request for url:`. I've attached

[2022-01-12 16:25] ChristopheDuong commented on #8624
Dashboard is here https://airbyte.metabaseapp.com/dashboard/1-connector-metrics?connector_definition_id=b117307c-14b6-41aa-9422-947e34922962&aggregation_type=day

[2022-01-12 16:27] ChristopheDuong commented on #8638
Project started at https://github.com/airbytehq/airbyte-warehouse/

[2022-01-12 16:32] sherifnada opened #9438 "Google Ads Customer ID Link is Broken"
## Environment
- **Source Id/Name/Version**: Google Ads

In the Google Ads Source connection settings page the "doc" link for the Customer ID is broken and goes to a "page not found".

<img width="1165" alt="Screen_Shot_2022-01-11_at_11_08_12_AM" src="https://user-images.githubusercontent.com/93952107/148997873-9d0d4575-c32f-4f4e-a9f5-87f8fb042248.png">

[2022-01-12 16:49] #8498 closed

[2022-01-12 17:03] #9389 closed

[2022-01-12 17:34] sherifnada commented on #9104
@augan-rymkhan @VasylLazebnyk apologies for the confusion -- this should be a platform issue

[2022-01-12 17:47] #7956 closed

[2022-01-12 17:58] tuliren commented on #9104
This has been delegated to GL. It is already tracked here: https://github.com/airbytehq/airbyte/issues/9328

[2022-01-12 18:03] #8638 closed

[2022-01-12 18:05] #8624 closed

[2022-01-12 18:12] tuliren opened #9440 "[EPIC] Data warehouse destination benchmarks"
## Summary
This epic covers all issues to create benchmarks to measure the performance of GA data warehouse destinations, including BigQuery and Snowflake.

See the project summary in [this](https://docs.google.com/document/d/1aRweozefbeMZ1iGhvsXW945D4Aq26izdrRNxZReBhuQ/edit#) Google doc.

## TODOs
- [x] [P0][2022-01-19] #9532
- One-sided benchmarks
  - [ ] [P2][2022-01-28] #9535
  - [ ] [P2][TBD]

[2022-01-12 18:20] sherifnada commented on #9352
next steps:

- [ ] catalogue all open issues, determine which ones need to happen for GA
- [ ] sync up w liren about the benchmark work and whether it overlaps for snowflake GA
- [ ] other items to figure out what is needed to get Snowflake into GA
- [ ]

[2022-01-12 18:21] sherifnada commented on #8862
goals for this week:
- wrap up design
- create project plan

[2022-01-12 18:43] edgao opened #9441 "[EPIC] Define type system for messages"
We currently have an implicit type system, which is partially realized in various different connectors. This system should be codified, and then all connectors should be brought into compliance with it.

As part of this effort, we are introducing new types for large numbers (essentially bigint and bigdecimal). Destinations need to be updated to handle these, followed by sources marking them approp

[2022-01-12 18:44] edgao opened #9442 "Add documentation explaining our type system"
Once the [doc](https://docs.google.com/document/d/1S_nFEm9Xg_3EJNp85XCaabYiDG46rLOmuX3w091DfxA/edit#) is approved, add a page under the "Understanding Airbyte" folder to make it official. It should explain the types that Airbyte understands, and how that maps to/from JSON Schemas.

[2022-01-12 18:46] edgao opened #9443 "Write DAT(s) that test different type combinations"
Depends on https://github.com/airbytehq/airbyte/issues/9442

Write a new DestinationAcceptanceTest method to check that the destination has support for all of the types that can be passed in an AirbyteRecordMessage. The test should verify that for each type, the destination either handles that type (i.e. can accept+read back records containing those types) or falls back to string-typing.

String-t

[2022-01-12 18:47] edgao opened #9444 "Run the new DAT(s) against all destinations and find destinations that are not compliant"
Depends on https://github.com/airbytehq/airbyte/issues/9443

After the tests are written, run them against all our destinations.

For destinations which are failing because they don't support the optionally-supported types (large numbers and unions), add them in a comment on this issue.

For destinations which don't support one or more of the mandatory types, create an issue to fix them. Add that

[2022-01-12 18:47] edgao opened #9445 "Determine which destinations should be updated to handle large numbers specially, which ones can handle large numbers already, and which ones cannot handle large numbers at all"

[2022-01-12 18:47] edgao opened #9446 "Update default destination behavior to reject streams containing large numbers"

[2022-01-12 18:47] edgao opened #9447 "Determine which database sources can produce the optionally-supported types"
This is an investigative ticket to determine which database sources are capable of producing large numbers or unions.

For sources which can produce large numbers, create a new issue to update that source so that it declares affected fields using `{"type": "string", "airbyte_type": "big_integer"}` (or `big_number`). Offhand, I would expect many of the JDBC sources to be affected. For example, [Pos

[2022-01-12 18:57] edgao commented on #9445
actually, rolling this into https://github.com/airbytehq/airbyte/issues/9444.

[2022-01-12 18:57] #9445 closed

[2022-01-12 19:09] marcosmarxm opened #9449 "Document the structure of the project"
### Tell us about the documentation you'd like us to add or update.
Describe what folder/module is and where it's used.
So people can understand easily the project when enter the company or contributing as an open-source member.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2022-01-12 19:13] lazebnyi commented on #8841
Action for adding new issue merged ([PR](https://github.com/airbytehq/oncall/pull/101)). Old issue from oncall repo, GL Python and GL Java linked to new Connectors Roadmap by team and statuses.

[2022-01-12 19:13] #8841 closed

[2022-01-12 23:08] tuliren commented on #9423
@sherifnada, I don't think this is a problem. We are already returning `FAILED` when the persistence check throws any exception:

https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyDestination.java#L48-L55

[2022-01-12 23:11] jrhizor commented on #8411
We should try to:
* match the Gitbook format
* filter out description/Gitbook metadata
* filter out html comments

[2022-01-12 23:17] awang opened #9459 "🐛 Source Monday: fails to parse backoff response"
## Environment
- **Airbyte version**:  0.33.2-alpha
- **OS Version / Instance**: Ubuntu 20.04 (2 vCPU ARM)
- **Deployment**: Docker compose
- **Source Connector and version**: Monday
- **Destination Connector and version**: Postgres
- **Severity**: Very Low / Low / Medium / High / Critical
- **Step where error happened**: Sync job

## Current Behavior
I’m getting a Normalization Failed error.  If

[2022-01-12 23:18] awang commented on #9459
[Basic normalization disabled logs-279-0.txt](https://github.com/airbytehq/airbyte/files/7858554/logs-279-0.txt)

[2022-01-12 23:19] awang commented on #9459
[With Normalization enabled ](https://slack-files.com/T01AB4DDR2N-F02TALZ9C23-8144973f80)

[2022-01-13 00:47] edgao opened #9460 "Write SATs to verify that unsupported data types are not generated"
We don't want sources to generate streams that contain these types:
* `not` (e.g. `{"not": {"type": "string"}}`)
* `allOf` (e.g. `{"allOf": [{"type": "string", "maxLength": 5}, {"type": "string", "minLength": 1}]}`)

Write SAT(s) that run the discovery command and then check that the streams don't contain any of these types.

Run the new SAT(s) against all sources; for any sources which are not co

[2022-01-13 01:08] misteryeo opened #9462 "Polish Connection Settings UI Text"
## Tell us about the problem you're trying to solve
Text in the Connection Settings UI are incorrectly positioned, padded or spaced. More clearly seen in the attached screenshot.

## Describe the solution you’d like
Padding, positioning and space for field descriptions should be consistent. The Namespace Configuration description and the Table Prefix description should be consistent. The new line

[2022-01-13 01:48] tuliren opened #9463 "Github action cannot launch"
When running an action, there is the following "log" before failing:

When the page is refreshed, the logs are gone, and the exception is `This check failed`.

Example: https://github.com/airbytehq/airbyte/runs/4795864285?check_suite_focus=true
Slack thread: https://airbytehq.slack.com/archives/C02LM2R4R6E/p1642022690028500

[2022-01-13 02:09] marcosmarxm opened #9464 "Increase the batch size of number of records printed in logs"
Today Airbyte logs every 1000 records this can create really huge logs when users try to pull large tables (100M)
If someone try to read 100M records will hit the maximum number of rows allow from our log system too.
https://github.com/airbytehq/airbyte/blob/9b1ed03fe482f5154f6c1843b1be76de87f3605d/airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java#L250-L252

[2022-01-13 02:10] marcosmarxm commented on #5327
From [Slack Discussion (Isaac)](https://airbytehq.slack.com/archives/C01MFR03D5W/p1641961731252400?thread_ts=1641522910.052200&cid=C01MFR03D5W) suggestion:

[2022-01-13 02:48] marcosmarxm opened #9465 "Destination MSSQL duplicate array records when using incremental append"
Is this your first time deploying Airbyte: No
OS Version / Instance: Ubuntu 20.04 (2 vCPU ARM)
Memory / Disk: 8GB / 40GB
Deployment: Docker compose
Airbyte Version: 0.35.4-alpha
Source name/version: Custom connector
Destination name/version: MSSQL 0.1.13
Step: Sending nesting array data for normalization from custom connector to MSSQL using incremental append duplicate data on nesting on each sync

[2022-01-13 05:33] tredencegithub commented on #8906
@Zirochkaa Here is the sync logs: 1 full refresh and 4 subsequent syncs. I dont have access to the UI. The marketing team handles the same. I can try getting that information.

[logs-9470-0.txt](https://github.com/airbytehq/airbyte/files/7860155/logs-9470-0.txt)
[logs-9469-0.txt](https://github.com/airbytehq/airbyte/files/7860156/logs-9469-0.txt)
[logs-9468-0.txt](https://github.com/airbytehq/airb

[2022-01-13 08:02] pjleiwa6g opened #9467 "Snowflake destination: set query_tag in the UI"
## Tell us about the problem you're trying to solve
I would like to know which queries were run by Airbyte in Snowflake. This can be used to determine costs and solve issues.

## Describe the solution you’d like
In Snowflake a session parameter called 'query_tag' can be set. At this moment a fixed value for 'query_tag' is set when use the basic normalization option. The value then is: 'query_tag=n

[2022-01-13 08:25] #9379 closed

[2022-01-13 09:00] naveenpatnana commented on #9375
@alafanechere @benmoriceau
Do we have any update on top of this?

[2022-01-13 09:17] joepbuhre commented on #3583
I also would really love a user management feature. Because this is primarily for businesses it would be even better if there was an oath2 provider such as Google & Azure. But possible a JWT implementation is also nice to have.

[2022-01-13 09:25] raphaelauv opened #9468 "UnknownHostException for other docker container name"
## Environment
- **Airbyte version**: 0.35.4-alpha
- **OS Version / Instance**: Linux  5.11.0-46-generic 20.04.1-Ubuntu
- **Docker version** : 20.10.12
- **Docker-compose version** : 1.29.1 build c34c88b2
- **Deployment**: local with docker-compose
- **Destination Connector and version**:  S3 - > 0.2.3
- **Severity**: High
- **Step where error happened**: creation of a S3 destination connector to

[2022-01-13 09:28] AM-I-Human opened #9469 "🐛 Source Snowflake: Expiring token on Snowflake connector"
## Environment
- **Airbyte version**:  0.33.9-alpha
- **OS Version / Instance**: Doker on swarm (don't know on which machine is but are all linux based)
- **Deployment**: Custom Doker Swarm
- **Source Connector and version**: Snowflake 0.1.2
- **Destination Connector and version**: Mongodb 0.1.0
- **Severity**: Very Low / Low / Medium / High / Critical: High
- **Step where error happened**:  Sync

[2022-01-13 10:44] RogerDataNL commented on #9467
Being able to use query tags to dissect for which connector / customer / source we are running airbyte for is important for us too!

[2022-01-13 10:51] smartpierre commented on #9118
Hi again, we managed to go through this issue by setting the replica identity manually to `FULL` on tables that were causing issues. It's quite annoying since we don't have a way to anticipate thoses errors, here's our method to fix :

- Setup a PostgreSQL source with CDC using wal2json (we're on AWS RDS)
- Do the first sync on your connection (let Airbyte set the replica identity to default)
- Do

[2022-01-13 11:47] schlattk commented on #4933
Hey let me know if I can be of assistance in setting up this test account. We have some people at the Salesforce that might be able to help.

[2022-01-13 12:24] joshuataylor opened #9471 "S3 Parquet destination converts integers to 4.800000000000000e+01"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: Ubuntu
- **Deployment**: Docker
- **Source Connector and version**:  airbyte/source-postgres | 0.4.1
- **Destination Connector and version**:  airbyte/destination-s3 | 0.2.3
- **Severity**: Very Low / Low / Medium / High / Critical
- **Step where error happened**: Sync

## Current Behavior
When exporting from Postgres

[2022-01-13 12:26] VitaliiMaltsev commented on #7944
@tuliren created design doc https://docs.google.com/document/d/1MxVLBuN2xDye0IPKsCsp4L5HLU6JosnWRxp3kEekpgw/edit. Please review

[2022-01-13 12:34] #9471 closed

[2022-01-13 12:43] agrass commented on #9465
Hi, thanks por creating the issue @marcosmarxm. I would like to help with this, any idea where I can start checking? It's normal that re-run normalization when no new data it's fetch? Thanks

[2022-01-13 12:51] fabform commented on #9432
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-13 12:55] fabform commented on #3936
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-13 12:59] fabform commented on #8929
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-13 13:01] fabform commented on #4650
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-13 13:20] ChristopheDuong commented on #9465
Nested streams are not de-duplicated, see https://github.com/airbytehq/airbyte/blob/ecfc9e1cc586c7d7725e3c92ed178a5ea14ff7bf/airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py#L142

[2022-01-13 13:28] ChristopheDuong opened #9473 "Analytics tracking of disabled/deleted connections"
## Tell us about the problem you're trying to solve
It would be helpful to track when connections are removed/disabled

## Describe the solution you’d like
Send an event when disabling a connection

[2022-01-13 13:31] ChristopheDuong opened #9474 "Automate/orchestrate analytics refresh"
## Tell us about the problem you're trying to solve
Related to https://github.com/airbytehq/airbyte-warehouse/issues/5 and https://github.com/airbytehq/airbyte-warehouse/issues/6

## Describe the solution you’d like
Analytics pipelines and dashboards should be scheduled to be refreshed automatically
write a spec doc that described the expected deliverables in order to leverage the infra team's hel

[2022-01-13 13:31] raphaelauv commented on #6981
That feature is mandatory for real big data use cases

[2022-01-13 13:33] agrass commented on #9465
Thanks for the response @ChristopheDuong, I'm working with incremental append and It make sense what you comment because there’s not a cursor/primary key that I'm agree, but the problem it's more related that it's duplicating data on every run with no data. This generate thousands of rows on each sync every 5 minutes and re-run the normalization every sync that is not that efficient. This it's an

[2022-01-13 13:37] MahmoudElhalwany opened #9475 "Fetching schema from ClickHouse source"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: Linux
- **Deployment**: Docker
- **Source Connector and version**: ClickHouse 0.1.7
- **Destination Connector and version**: ClickHouse 0.1.2
- **Severity**: Medium
- **Step where error happened**: Setup new connection

## Current Behavior
*it takes too long when I choose clickhouse as a source  and after long time it

[2022-01-13 13:41] #8752 closed

[2022-01-13 13:47] ChristopheDuong opened #9476 "Setup alerting on connector to reach General Availability criteria"
## Tell us about the problem you're trying to solve
Following up on #8624, there should be some monitoring to notify and take a look at certain connector issues.
To implement such a feature, we could also predict some naive Connector Metrics trends in the next days/weeks if data continues to look alike.

A reporting/schedule hook can then be installed to take actions depending on such prediction o

[2022-01-13 14:24] #1435 closed

[2022-01-13 14:26] ChristopheDuong opened #9477 "Create a chart-view on currently activated-failing cloud connections"
## Tell us about the problem you're trying to solve
Monitoring cloud connection status

## Describe the solution you’d like
A global view of all cloud connections that are currently running/failing would be helpful

[2022-01-13 14:41] ChristopheDuong opened #9479 "[EPIC] Connector Analytics follow ups"
## Tell us about the problem you're trying to solve
Following-up on https://github.com/airbytehq/airbyte/issues/8624

- [x] Exclude internal airbyte accounts from analytics
- [x] Allow filtering based on values in the config e.g: exclude all Bigquery destinations which use `INSERT`
  - [x] #9618
- [ ] Exclude connectors failing due to user error https://github.com/airbytehq/airbyte/issues/9350
- [

[2022-01-13 14:48] jrhizor commented on #9468
The launched sync jobs use the host network by default. You can change that by specifying `DOCKER_NETWORK` in your `.env` file.

So you can either change the Docker network to access only containers running within the airbyte network or you can run your minio container on the host network so you can access both it and any other container that you may want to run on the host networking.

[2022-01-13 14:48] #9468 closed

[2022-01-13 14:49] #9383 closed

[2022-01-13 15:16] alafanechere opened #9482 "Source MongoDB: only discover collections on which user has reading permissions"
## Tell us about the problem you're trying to solve
For Postgres or MySQL we only list tables on which the user has reading permission.
We should do the same for MongoDB.
It would offer a workaround for users that do not want to scan all the collections for schema discoveries (https://github.com/airbytehq/airbyte/issues/2781).

[2022-01-13 15:18] alafanechere commented on #2781
A workaround could be to suggest our user to create a mongo user dedicated to Airbyte, and only discover collections on which the mongo user has reading privilege.

[2022-01-13 15:27] raphaelauv commented on #9468
Thank you for your help, it work.

Some details for the future

so I add to the .env file this line

[code]

because I add to the docker-compose.yam file of airbyte , these lines :

[code]

[2022-01-13 16:48] cgardens commented on #3247
to do:
* migrate old values to use new columns? this should be a pretty easy query
* UI work - to create FE issue

[2022-01-13 16:50] #8358 closed

[2022-01-13 16:59] #8452 closed

[2022-01-13 16:59] #8453 closed

[2022-01-13 16:59] jrhizor commented on #8543
Won't fix. Looks like current behavior.

[2022-01-13 16:59] #8543 closed

[2022-01-13 17:01] cgardens commented on #8454
From our Q4 OKRs

[2022-01-13 17:01] jrhizor commented on #7478
mostly done, need to merge some additional ones

[2022-01-13 17:07] augan-rymkhan commented on #9136
I wrote to Salesforce Support about incorrect `totalSize` field in native pagination on 5 January. But they did not response yet.

![image](https://user-images.githubusercontent.com/93112548/149376019-8d3160a7-9cb8-4280-b648-f3c37445bfdb.png)

[2022-01-13 17:13] alafanechere opened #9484 "🐛 Destination MySQL: database argument missing at connection time"
## Environment
- **Airbyte version**:  0.35.4-alpha
- **OS Version / Instance**: Windows 10 Pro
- **Deployment**: Docker
- **Destination Connector and version**: Mysql 0.1.15
- **Severity**: Critical
- **Step where error happened**: Sync job

## Current Behavior
During normalization DBT can't connect to the targetted database because of `_mysql_connector.MySQLInterfaceError: No database selected`

[2022-01-13 17:20] alafanechere commented on #9484
This error was fixed on the `dbt-mysql` adapter in this [PR](https://github.com/dbeatty10/dbt-mysql/pull/57).
Our normalization `mysql.Dockerfile` installs the adapter through pip but the latest fixes on the adapter are not released on Pypi since February 2021.
We can try installing the branch directly from GitHub to get the most recent fixes:
`RUN pip install git+https://github.com/dbeatty10/dbt-

[2022-01-13 18:45] alafanechere commented on #9475
@MahmoudElhalwany would you share you server logs  after you run the schema discovery (downloadable from the settings page in UI)

[2022-01-13 18:55] alafanechere commented on #9459
Hi @awang could you please share your source and destination catalogs?
[code]

[2022-01-13 19:00] alafanechere commented on #9432
Hi @leiii , I close this issue as this a duplicate of this one https://github.com/airbytehq/airbyte/issues/3936

[2022-01-13 19:00] #9432 closed

[2022-01-13 19:04] alafanechere commented on #9482
Solved by https://github.com/airbytehq/airbyte/pull/9238

[2022-01-13 19:04] #9482 closed

[2022-01-13 19:32] cgardens opened #9486 "test oss"

[2022-01-13 19:32] cgardens commented on #9486
@lmossman help in oss

[2022-01-13 20:45] nhuray commented on #9109
@cgardens I would be also interested to deploy Airbyte on our Kubernetes cluster using Helm. What can we do to help to move forward ?

[2022-01-13 20:48] lakemos opened #9490 "test issue"
test

[2022-01-13 20:51] lakemos commented on #9490
@lmossman test comment

[2022-01-13 21:07] sherifnada commented on #9136
@augan-rymkhan I don't understand the tradeoff here - are you saying the PR does not fix the issue and that we need SF to respond? or that the PR fixes the issue but is a bad way of fixing it? From my POV I care the most about fixing the bug with the REST stream however it can be done.

[2022-01-13 22:31] marcosmarxm opened #9491 "Source Tiktok: wrong type in campaign schema"
## Environment
- **Airbyte version**:  0.32.2-alpha
- **OS Version / Instance**: Not informed.
- **Deployment**: Not informed.
- **Source Connector and version**: Tiktok 0.1.1
- **Destination Connector and version**:  Bigquery 0.3.7
- **Severity**: Very Low / **Low** / Medium / High / Critical
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Ai

[2022-01-13 23:12] pushchris commented on #9404
Would love to see the performance of this connector improved. Our Stripe connection is taking 9+ hours to run to pull < 320k records. For comparison, on other ELT's the same sync takes <10min. Not exactly sure why there is such a disparity.

[2022-01-13 23:15] jrhizor opened #9493 "create easy workflow for publishing webapp to a dev cluster"
Right now to test out a frontend-only change on cloud you have to either do a full release process or you need to build a version of OSS locally, update the cloud webapp to use it, build the cloud webapp, push the webapp to the repo, and then deploy.

Ideally there would be a way to just deploy this from a branch on master.

This is a specific use case for the more general "easier releases" proble

[2022-01-14 00:17] misteryeo commented on #8625
@TSkrebe we'd like to look into this further but suspect #8643 may have fixed it. Is this issue still persisting for you?

[2022-01-14 00:22] noahkawasakigoogle commented on #9467
I'd actually suggest broadening this issue to be "Snowflake destination: Allow additional JDBC parameters" so users can input _any_ additional JDBC parameters.

This would mean anything from [Snowflake's JDBC Driver Parameters](https://docs.snowflake.com/en/user-guide/jdbc-parameters.html) _and_  [Snowflake Parameter](https://docs.snowflake.com/en/sql-reference/parameters.html) can work, which giv

[2022-01-14 00:27] noahkawasakigoogle commented on #8785
This is another issue that could be solved by this: https://github.com/airbytehq/airbyte/issues/9467

I think the title should be something like "Support Additional Parameters input for JDBC based Sources/Destinations". A lot of customer deployments will need to set additional params to connect to their databases successfully and it would be infeasible for Airbyte to have to add custom UI inputs f

[2022-01-14 00:31] marcosmarxm commented on #4648
@ycherniaiev I'm not able to access Datascope with creds in LastPass. can you check this?

[2022-01-14 00:32] tesla-avant commented on #5327
Would using a different java driver (line 73) work to correct the backslash string issue?
https://github.com/airbytehq/airbyte/blob/8ddfd90c9cc04b02cf11a7d4399672760f35bf4e/airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java

Say jtds like this?
-> https://stackoverflow.com/questions/37766908/using-jdbc-when-server-name-contains-a-backsl

[2022-01-14 01:17] #1546 closed

[2022-01-14 01:21] edgao opened #9495 "Decide which destinations we want to support the optional types (large numbers / unions)"
Depends on https://github.com/airbytehq/airbyte/issues/9444 to find the list of destinations.

for destinations which don't support large numbers / unions:
* decide whether they need to support them right now
* if yes: create an issue to add support
* if no: create an issue to reject those types + add to the connector doc that they reject those types

[2022-01-14 02:52] misteryeo commented on #3330
Staging uploads make this issue obsolete and we haven't seen this come up in a while. Closing for now but if anyone sees this crop up again, feel free to reopen.

[2022-01-14 02:52] #3330 closed

[2022-01-14 02:54] misteryeo commented on #9021
Let's do a deep dive to surface what the requirements would be for the platform to be able to support OAuth here.

[2022-01-14 03:19] edgao opened #9497 "Connector builds should use the bmuschko docker plugin"
As noted in https://github.com/airbytehq/airbyte/pull/9362#issuecomment-1008430048, the platform modules use this plugin (rather than our homebrew airbyteDocker task). It provides the same/superior caching behavior, and is far less fragile.

[2022-01-14 03:27] maharshi-zluri commented on #2781
@alafanechere I absolutely agree. It would save us a lot of time in the future and make having connection processes much smoother.

[2022-01-14 03:32] ayyoubmaulana commented on #7962
I will try to syncronize again using newer version of Airbyte

[2022-01-14 03:53] augan-rymkhan commented on #9136
@sherifnada [PR](https://github.com/airbytehq/airbyte/pull/9151) fixes this issue proper way [recommended](https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_query.htm) by the SF docs, only I wanted to be sure that we can rely on native pagination on Salesforce side.
I can move this to Code Review stage and merge if you're ok.

[2022-01-14 04:29] #8576 closed

[2022-01-14 06:08] user-bb-1 opened #9498 "Source file: SSH key authentication via SFTP"
## Tell us about the problem you're trying to solve
I just deployed Airbyte and tested a CSV file transfer (from a HTTPS to local storage) and it works nicely. I'm now trying to use CSV File as a Source using SFTP, from a web server hosted on SiteGround. I'm able to connect to SiteGround via SFTP using FileZilla client, https://www.siteground.com/kb/how_to_establish_sftp_connection_to_hosting_with

[2022-01-14 06:37] augan-rymkhan commented on #8690
1. In REST API stream 403 status code (Rate Limit) is not backed off, because [should_retry](https://github.com/airbytehq/airbyte/blob/master/airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py#L236) returns False.
**Solution**: The exception HTTPError (403) will be handled [here](https://github.com/airbytehq/airbyte/pull/9499/files#diff-0572edeedd561901f8110c0f88b48efde87d1ed91247c0eb189c

[2022-01-14 07:30] augan-rymkhan opened #9500 "CDK: typing errors"
## Environment
- **Airbyte version**:
- **OS Version / Instance**: *
- **Deployment**: *
- **Source Connector and version**: CDK
- **Severity**: Low
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Behavior
When running `mypy airbyte_cdk` gives 46 typing errors.
![image](https://user-images.githubusercontent.com/93112548/149

[2022-01-14 07:33] tuliren opened #9501 "[EPIC] Support additional parameters input for JDBC sources & destinations"
## Tell us about the problem you're trying to solve
- JDBC support appending additional parameters in the URL. This enables users to customize their connection.
- Some of our JDBC connectors support this feature, but some do not.

## Describe the solution you’d like
- Support this feature in all JDBC based connectors

## Describe the alternative you’ve considered or used
N/A

## TODOs

- [ ] Suppo

[2022-01-14 07:53] MahmoudElhalwany commented on #9475
<img width="660" alt="screen_shot_2022-01-13_at_5 07 47_pm" src="https://user-images.githubusercontent.com/36505505/149471119-b7d5dea5-28cc-4259-90b3-33639660487b.png">

it stuck on this page, No errors appear. also in docker-compose logs it just a post request.

[2022-01-14 07:58] tuliren commented on #8785
Unfortunately our team does not have enough bandwidth to work on this. It is in the backlog, but has not been prioritized yet. Currently it's hard to provide an ETA.

[2022-01-14 07:59] tuliren commented on #8785
Good point. I created an epic issue for aggregation: https://github.com/airbytehq/airbyte/issues/9501

[2022-01-14 09:00] daleksic opened #9502 "Upgrading Airbyte to new version fails"
## Environment
- **Airbyte version**:  0.32.0-alpha-patch-1
- **OS Version / Instance**: Debian 10
- **Deployment**: Docker
- **Severity**: Low
- **Step where error happened**: Upgrade Airbyte

## Current Behavior
*After trying to upgrade Aibyte from 0.29.21-alpha to v0.32.0-alpha-patch-1 and latest, Airbyte won't start. The empty screen is shown on web page.*

## Expected Behavior
*Airbyte should

[2022-01-14 09:16] igrankova opened #9505 "SurveyMonkey source: scopes change"
## Tell us about the problem you're trying to solve
We need to remove the scopes we do not use from the SurveyMonkey connector. This is the requirement from the support team to make our App Public.

[2022-01-14 09:24] shrodingers commented on #6042
Just wanted to post here to follow the thread, and to know if i could help on this matter since i would really be interested on deduped and dbt transformations with databricks

[2022-01-14 11:06] VitaliiMaltsev opened #9509 "Source Bing Ads: Check failed"
During set up Bing Ads Source on UI check step failed with logs

**The connection tests failed.**
`Internal Server Error: SQL [insert into "public"."actor" ("id", "workspace_id", "actor_definition_id", "name", "configuration", "actor_type", "tombstone", "created_at", "updated_at") values (cast(? as uuid), cast(? as uuid), cast(? as uuid), ?, cast(? as jsonb), ?::"public"."actor_type", ?, cast(? as

[2022-01-14 11:09] bazarnov commented on #9509
This should be the issue with `setup.py` main requirements block.
We should update the main dependency of: `bingads>=13.0.10` instead of `bingads==13.0.10`

[2022-01-14 12:08] #9509 closed

[2022-01-14 12:26] TSkrebe commented on #8625
haven't noticed these issues with the latest version.

[2022-01-14 12:26] #8625 closed

[2022-01-14 12:50] KennethanCeyer opened #9512 "🐛 Helm: bootloader timeout (never completed issue)"
## Background

If user run the repo's `charts/airbyte` helm chart, bootloader runs through `pre-install, pre-upgrade` hook, but bootloader  waits for PostgreSQL connection and does not run, leading to a timeout issue after 600 seconds.

## Issue

![image](https://user-images.githubusercontent.com/7090315/149519965-c708699b-8c29-4a18-8320-27e4ae81fe35.png)

To summarize in single sentence, We can n

[2022-01-14 14:00] sashaNeshcheret commented on #6661
@sherifnada sorry for delay, it looks good. We will implement adding allowed symbols for identifiers to postgres destination connector in scope of this issue. Additionally we will wait for implementing UI part before pushing our changes.

[2022-01-14 14:42] davinchia commented on #9463
This is fixed with #9466

[2022-01-14 14:42] #9463 closed

[2022-01-14 14:50] davinchia commented on #9493
Staging = the staging GKE cluster or any GKE cluster?

[2022-01-14 15:08] agrass commented on #9465
It's there a way where I can check here on this line if the process it's sync and without any new records to avoid re-run the normalization?? that make sense?  @ChristopheDuong https://github.com/airbytehq/airbyte/blob/2115f7ace470cef80bf72476f410a2f18e49abcd/airbyte-workers/src/main/java/io/airbyte/workers/DefaultNormalizationWorker.java#L47

[2022-01-14 15:36] noahkawasakigoogle commented on #9501
🎉

[2022-01-14 15:38] JAXPARROW opened #9517 "Http Rest API data sources"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

## Describe the context around this new connector
* Why do you need this integration? How does your team intend to use the data? This helps us understand the use case.
*

[2022-01-14 15:42] alafanechere commented on #9459
The error is probably on the Monday connector side, an API response seems to not contain JSON and the connector fails while trying to deserialize json.

[2022-01-14 16:05] htrueman commented on #8825
Reopened as user reported the issue again. Going to update the normalizator to explicitly remove duplicates.

[2022-01-14 16:17] alafanechere opened #9519 "CI sandbox for PersistIq"
We received a contribution https://github.com/airbytehq/airbyte/pull/9515 for a new [PersistIq](https://www.persistiq.com/v2) source connector. Can we create a sandbox account on this service?

[2022-01-14 16:19] sherifnada commented on #8825
this is potentially related to the fact that normalization shortens the name. Could there be anything leading to two instances of the shortened name being created?

[2022-01-14 17:01] agrass commented on #9465
thanks for the response @ChristopheDuong, sorry I didn't understand well, probably I'm missing some context.  it's there an example case where it's needed to re-run normalization with no new records found? Not considering when you reset your data.

[2022-01-14 17:06] karinakuz commented on #9519
Sandbox (14-days free trial) with data is ready, all credentials are added to the LastPass, api for the main streams are tested in Postman:
- Users https://api.persistiq.com/v1/users
- Leads https://api.persistiq.com/v1/leads
- Leads Statuses https://api.persistiq.com/v1/lead_statuses
- Leads Fields https://api.persistiq.com/v1/lead_fields
- Campaigns https://api.persistiq.com/v1/campaigns
- Event

[2022-01-14 17:20] jrhizor commented on #9493
Oops, renamed to "a dev cluster". Any GKE cluster really.

[2022-01-14 18:35] marcosmarxm commented on #9502
@daleksic the upgrade process can take some time. In logs I don't see any error.

[2022-01-14 19:47] marcosmarxm opened #9522 "Destination Clickhouse: enable `supportDBT` in spec.json"
## Tell us about the problem you're trying to solve
This was disabled because tests weren't passing. We need to correct tests and re-enable this feature.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative sol

[2022-01-14 21:58] tuliren commented on #2781
@Deninc, by the way, Oracle connector does support schema specification since version `0.3.3`.

[2022-01-14 22:24] edgao opened #9523 "Add EdDSA support to SSH tunnel"
* [ ] Update https://github.com/airbytehq/airbyte/pull/9494 with a better test (i.e. rather than just checking that the class exists, try to parse an EdDSA key)
* Publish affected connectors:
  * Destinations:
    * [ ] clickhouse
    * [ ] mariadb
    * [ ] mssql
    * [ ] mysql
    * [ ] oracle
    * [ ] postgres
  * Sources:
    * [ ] clickhouse
    * [ ] mssql
    * [ ] oracle
    * [ ] postgr

[2022-01-14 22:27] edgao commented on #9523
@sherifnada can you add this onto the GL backlog? I didn't create separate issues because most of them would just be "write changelog + run `/publish`", but lmk if that would be preferable.

[2022-01-14 23:08] tuliren commented on #6042
@shrodingers, thanks for your comment. We probably won't have bandwidth to implement the incremental dedup mode for Databricks this quarter. So feel free to try it if you are interested.

As mentioned in the description, I think the `MERGE` command may be useful in the implementation. But we have not thoroughly looked into it yet.

[2022-01-15 00:26] lmossman opened #9524 "Updates to workspace names are not reflected in the workspace name display"
## Environment
- prod cloud

## Current Behavior
On Cloud, when I go to Settings > Workspace Settings > General Settings and I update the name of the workspace, it correctly updates the name of the CloudWorkspace in the prod cloud db. However, this does _not_ update the name of the workspace in the top-left corner. Here is a screenshot that shows this:
<img width="594" alt="Screen Shot 2022-01-14

[2022-01-15 00:36] tuliren commented on #9443
Should this be a warning instead? Users may be fine with having some improperly formatted data.

[2022-01-15 00:39] tuliren commented on #9495
I think we probably want to put it in the connector doc instead of README? Usually the README is for developers, not users.

[2022-01-15 01:08] jdclarke5 commented on #2796
Thumbs up to this.

Adding a docker registry via the UI and then specifying that registry at the "Add Connector" time would be a good flow IMO.

[2022-01-15 01:26] tuliren opened #9525 "Support schema selection for Redshift source connector"
## Tell us about the problem you're trying to solve
Allow users to specify which schemas to sync when setting up a Redshift connection.

## Describe the solution you’d like
Similar to Postgres or Oracle source, add a `schemas` field in `spec.json`.

## Describe the alternative you’ve considered or used
N/A

## Additional context
- This is part of this epic https://github.com/airbytehq/airbyte/issu

[2022-01-15 14:09] alvaroqueiroz commented on #5942
this issue can be closed, [9399](https://github.com/airbytehq/airbyte/pull/9399) was merged

[2022-01-15 21:31] casperbiering commented on #5942
Unfortunately #9399 doesn't implement support for [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) which is the official way to assume an role in EKS.

What I've seen in other software projects, is that they implement [DefaultAWSCredentialsProviderChain](https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/DefaultAWSCredentialsProvide

[2022-01-16 04:23] pushchris opened #9530 "🐛 Source AppStore: connect Connector Stops Working After First Day"
## Environment
- **Airbyte version**:  35.4
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: 0.2.6
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
The connector stops fetching values once the original start date falls outside of the 365 day mark from the current date. This makes the connector semi-useless since mo

[2022-01-16 14:43] prconstruct commented on #7587
@sherifnada: I see many updates happening for Destination S3. It would be really helpful if the empty file generation is fixed.

[2022-01-16 15:39] noahkawasakigoogle commented on #7566
I'm curious about this issue existing, it seems like it could be a pretty big problem. Especially when Airbyte scales engineering up and more and more PRs are merging each week.

Do Airbyte pull requests not build jobs/tests using the merge candidate commit but instead build literally the branch itself?

If thats true, there's a way to change this behavior to run builds against the current master

[2022-01-16 18:41] tuliren opened #9532 "Create a mock source connector"
## Description
- This is part of #9440.
- Create a source connector that can generate mock data based on the input Json schema.
- This source will be used to generate data for destination benchmarks.

## Acceptance criteria
- Users can specify multiple streams, each with its own Json schema.
- The connector can generate arbitrary data based on the Json schema.
- Users can specify the total number

[2022-01-16 18:42] tuliren opened #9533 "Integrate Sentry to Snowflake destination"
## Description
- After https://github.com/airbytehq/airbyte/issues/9328 is completed, do the same integration for Snowflake and other Java destination connectors.

## Acceptance criteria
- All Snowflake exceptions should be sent to Sentry.

## ETA
- One week after #9328 is done.

[2022-01-16 18:43] tuliren opened #9534 "Create destination warehouse benchmark account and connections on cloud"
## Description
- Create a dedicated workspace.
- Create benchmark connections for Snowflake and BigQuery.

## Timeline
- ETA: Jan 21st.

[2022-01-16 18:43] tuliren opened #9535 "Create local benchmark runs for data warehouse destinations"
## Description
Similar to the performance test for the source database connectors, we want to be able to run the destination container locally and separately from the Airbyte end-to-end pipeline.

## Acceptance criteria
- Have a fixed dataset (or use the mock API source) to be consumed by the destination connector.
- Be able to solely run the destination connector container locally.
- Have clear d

[2022-01-16 18:43] tuliren opened #9536 "Add a `performanceTest` command on CI for data warehouse destinations."

[2022-01-16 18:51] tuliren commented on #9328
@alexandertsukanov, any update or ETA of this issue?

[2022-01-17 01:48] tuliren opened #9538 "[EPIC] API source benchmarks"
## Summary

This epic covers all issues to create benchmarks to measure the correctness and performance of GA API sources, including the following APIs:
- Salesforce
- Google Ads
- Hubspot
- Shopify
- Github
- Stripe
- Intercom

## TODOs
- [ ] https://github.com/airbytehq/airbyte/issues/9104
- [ ] Create API source benchmark account and connections on cloud
- [ ] Create local benchmark runs for AP

[2022-01-17 01:48] tuliren opened #9539 "Create API source benchmark account and connections on cloud"

[2022-01-17 01:48] tuliren opened #9540 "Create local benchmark runs for API sources"

[2022-01-17 01:48] tuliren opened #9541 "Add a `performanceTest` command on CI for API sources"

[2022-01-17 04:50] willem-h opened #9542 "🐛 Source Youtube Analytics: Sync fails because data types in "channel_basic_a2" schema don't match YouTube Analytics source"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**:  macOS 11.6.2
- **Deployment**: Docker
- **Source Connector and version**:  YouTube Analytics 0.1.0
- **Destination Connector and version**:  Postgres 0.3.13
- **Severity**:  Medium
- **Step where error happened**: Sync job

## Current Behavior
When running a sync using the "channel_basic_a2" schema the job fails beca

[2022-01-17 06:59] igrankova commented on #6198
The App is Public.

[2022-01-17 06:59] #6198 closed

[2022-01-17 07:17] igrankova opened #9543 "Obtain public developer application for the Kustomer source connector"
## Tell us about the problem you're trying to solve
Obtain a public developer application for the Kustomer connector like specified in #6070

[2022-01-17 07:33] Jamakase commented on #9417
@misteryeo Thanks for your report. There is indeed an issue with cancel button.

However `When adding a new item to the variable input fields component, it creates a non-descriptive ascending numerical list.` is done this way by design.

The problem is that in case there is no name field, we are not sure what value to actually display for such object, so we display an index.

@jrhizor if we are go

[2022-01-17 08:27] Jamakase commented on #9417
Added a fix for `Clicking cancel when editing one of the filter criteria causes a failure.` case. If we are going to change behavior for naming - let's open a separate issue.

[2022-01-17 08:32] Jamakase opened #9545 "Variable Input Fields UI should validate subform via schema in spec"
## Current Behavior
Variable Input Fields component doesn't check that input form is valid and will just ignore changes

## Expected Behavior
1. It is not possible to press `Done` when form is invalid
2. Error is displayed, when some value is invalid

[2022-01-17 10:04] thomas-vl commented on #3990
@sherifnada can you provide an ETA for this to become available? This is a serious blocker for a while now.

[2022-01-17 10:20] #6273 closed

[2022-01-17 10:34] MahmoudElhalwany opened #9548 "🐛 Destination Clickhouse (normalization): `check_for_schema_changes` is undefined"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: linux
- **Deployment**: Docker
- **Source Connector and version**: Mysql(0.5.1)
- **Destination Connector and version**: ClickHouse(0.1.2)
- **Severity**: High
- **Step where error happened**:  Sync job

## Current Behavior
syncing in first time done successfully but in the second time there is error

## Logs

<detail

[2022-01-17 12:42] ycherniaiev opened #9549 "Instagram Source Connector: change API scope to Advanced Access"
## Tell us about the problem you're trying to solve
API scopes for INstagram source conector is fo paramount importance since bigger API scope allow to do more API requests. And this of course to the benefit of the potential clients

## Describe the solution you’d like
We need to request increasing APi scopes from Facebook App Review Team

[2022-01-17 12:57] ycherniaiev commented on #9549
@sherifnada We managed to increase instagram_basic sope to Advanced Access. Othe scopes are not necessary for Airbyte streams.

[2022-01-17 13:34] lazebnyi commented on #7286
Fixed in https://github.com/airbytehq/airbyte/pull/8483

[2022-01-17 13:34] #7286 closed

[2022-01-17 13:39] Zirochkaa commented on #8906
@tredencegithub thanks for your logs. I investigated them and I also investigated sync logs for our delighted account and I can tell that there is no issue about row limit which you mentioned [here](https://github.com/airbytehq/airbyte/issues/8906#issuecomment-1009884559). The Delighted API supports `since` or `updated_since` parameters and they require Unix timestamp in order to restrict response

[2022-01-17 13:43] Zirochkaa opened #9551 "🐛 Source Delighted: row limit still exists"
Subtask for #8906.

## Current Behavior
Link to message with details is [here](https://github.com/airbytehq/airbyte/issues/8906#issuecomment-1009884559).
The Delighted API supports `since` or `updated_since` parameters and they require Unix timestamp in order to restrict responses to those `updated on or after this time`. So, for example, if we send `since=1641289583` this means that records which

[2022-01-17 14:12] eliziario commented on #9169
I could not reproduce the error. From the logs attached here, it looks like an issue with the destination, but the information in the logs is not enough to determine the exact nature of the error.

I would need at least the destination catalog to proceed.

[2022-01-17 14:16] alafanechere opened #9552 "🐛 Source Postgres: Duplicate key error when two tables from different pg schemas have the same name."
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: Ubuntu
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: Postgres 0.4.2
- **Severity**: Critical
- **Step where error happened**: Update latest source schema

## Current Behavior
When a database **with multiple schemas** has two tables with the same name in a

[2022-01-17 14:23] alafanechere commented on #9552
@tuliren could you please confirm this issue is legit? Maybe it's already a known problem.
If it is I think it's not Postgres-specific, but global to namespaced sources.

[2022-01-17 14:56] AM-I-Human opened #9553 "Sudden kill of the current job"
## Environment
- **Airbyte version**:  0.33.9-alpha
- **OS Version / Instance**: On docker swarm, maybe on a linux machine
- **Deployment**: Docker
- **Source Connector and version**: Snowflake 1.4
- **Destination Connector and version**: Mongo 0.1.3
- **Severity**: Normal
- **Step where error happened**:  Sync job

## Current Behavior
After a sync from a Snowflake Database to a MongoDB database.

[2022-01-17 15:33] novotl commented on #9512
👍 Experiencing the same issue, you described the deadlock correctly. IMO the correct solution is to change `pre-install` to `post-install` here https://github.com/airbytehq/airbyte/blob/cb6d9abcab0a14a881d002a60f4337e305b8dd45/charts/airbyte/templates/bootloader/pod.yaml#L9

[2022-01-17 15:46] edgao commented on #9443
there's a longish [comment thread](https://docs.google.com/document/d/1S_nFEm9Xg_3EJNp85XCaabYiDG46rLOmuX3w091DfxA/edit?disco=AAAATKqVv7I) about this :/ I think they're both valid, but generally I lean towards telling the user that something will break before doing the sync, rather than the user waiting for the sync to finish and then discovering that it didn't work.

Though I guess we don't curre

[2022-01-17 16:17] #9505 closed

[2022-01-17 17:18] Krish-bhardwaj commented on #9449
Hi @marcosmarxm i am new to open source contribution looking for some beginner friendly issues if u can assign and guide me how to go about this issue i can try to solve this issue

Thanks in advance

[2022-01-17 17:29] alafanechere commented on #9512
Yes you're right @novotl, feel free to open a PR for this.

[2022-01-17 17:38] alafanechere commented on #9512
We thought about adding the same hooks to the Postgresql database deployment. Feel free to check out this branch and check if the error persists: https://github.com/airbytehq/airbyte/pull/9556

[2022-01-17 17:52] alafanechere commented on #9548
The error happens during DBT models compilation:
[code]

[2022-01-17 17:58] vishvam430 opened #9557 "Support Windows authentication in MS SQL Server"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Trying to login to SQL server through Windows Authentication since our org doesn't allow database authentication for security reasons
## Describe the solution you’d like
A clear and concise description of wha

[2022-01-17 17:58] alafanechere commented on #9553
Hi @AM-I-Human could you please share the entire sync attempts log as an attached file?
Even if there's a failure do you consider the replication as complete?

[2022-01-17 18:13] tuliren commented on #9552
Yes, it's a legit issue. But I don't think it is known.

In most places referring the stream names, we use `AirbyteStreamNameNamespacePair` instead of just a `String`. So I think we just need to update the key of the offending map to this class.

[2022-01-17 19:07] vitaliizazmic commented on #6509
Data type mismatch in state was fixed in the PR #8699. Also incremental test was uncommented and implemented  supporting of increment sync.

[2022-01-17 23:46] blake-enyart commented on #3206
@marcosmarxm I'm also struggling quite a bit with the lack of this functionality and just adding tables to the system. Currently, I have 6 different connections just to try and avoid resetting the configurations. I would gladly contribute to this if I could be pointed to where these changes need to happen.

[2022-01-18 00:01] marcosmarxm commented on #9100
This was solved by #9072

[2022-01-18 00:01] #9100 closed

[2022-01-18 00:04] marcosmarxm opened #9560 "Destination Clickhouse: normalization failed due `_ab_cdc_deleted_at` isn't nullable"
## Environment
- **Airbyte version**:  Not informed
- **OS Version / Instance**:
- **Deployment**:
- **Source Connector and version**:  Source with CDC enabled
- **Destination Connector and version**:  Clickhouse with Normalization
- **Severity**: Very Low / Low / **Medium** / High / Critical
- **Step where error happened**: Deploy / **Sync job** / Setup new connection / Update connector / Upgrade

[2022-01-18 01:32] lihan opened #9561 "Postgres source: Support UUID primary key and multiple timestamps as cursor fields"
## Tell us about the problem you're trying to solve
Trying to do ELT with our postgres database.

Our tables in general use **UUID** as the primary key.

And has 2-3 timestamps (**created_at**, **updated_at** and **deleted_at**)

These fields are necessary to be considered when fetching incremental changes and should be configurable as cursor fields.

[2022-01-18 02:24] WarayutPeem opened #9562 "Backup All job for airbyte"
## Tell us about the problem you're trying to solve
1. I would like to know how to backup all job in airbyte.
2. I want duplicate job airbyte (Production to Local)

## Describe the solution you’d like
I have 2 jobs
I want to backup 2 job (All)
![image](https://user-images.githubusercontent.com/93768994/149859321-22dd3eee-1aee-46ee-a4cf-77f12cdd9c5b.png)

[2022-01-18 07:11] #6282 closed

[2022-01-18 08:04] AM-I-Human commented on #9553
I can't retrieve it because airbyte hangs while showing the logs.
I can see them using potrainer, but I cannot download them.
<details>
<summary>Last 500 lines</summary>
[code]
</details>

[2022-01-18 08:20] harshithmullapudi commented on #9562
Hey @WarayutPeem you can export the config from settings -> configuration and that will have all the info

[2022-01-18 08:22] harshithmullapudi commented on #9561
Hey @lihan can you give more details on this? Are you not seeing these columns in the destination

[2022-01-18 08:23] WarayutPeem commented on #9562
Hey @harshithmullapudi, I export gz file from production server.

[2022-01-18 08:25] AM-I-Human opened #9563 "Support heavy log file on the webapp (add pagination for logs)"
## Tell us about the problem you're trying to solve
I'm trying to debug a long sync job, and I need to see the error. The problem is that if the log is huge, there will be a lot of time spent on downloading the full log.

## Describe the solution you’d like
The worked api support paginations starting from the tail of the log. It will enable you to have an hidden pagination that is called by scroll

[2022-01-18 08:27] WarayutPeem commented on #9562
@harshithmullapudi, Later I imported the gz file into the machine, the result is nothing and have 2 jobs in local

[2022-01-18 08:30] WarayutPeem commented on #9562
@harshithmullapudi, Example Production, have 120+ job
![image](https://user-images.githubusercontent.com/93768994/149899244-da6f2bd8-d208-42d7-a111-574969722bf3.png)

Example GZ File Export
![image](https://user-images.githubusercontent.com/93768994/149899352-11e286b7-067a-43ec-880a-d4ff244270f7.png)

Example Import GZ File in Local
![image](https://user-images.githubusercontent.com/93768994/14989

[2022-01-18 08:32] AM-I-Human commented on #9553
I downloaded the log, it is 300 mb, I can't upload it.

[2022-01-18 09:03] octavia-squidington-iii opened #9564 "Source Oracle DB: normalisation is failing"
Hi Team,
Is this your first time deploying Airbyte: Yes
OS Version / Instance:  Windows 10 Pro
Memory / Disk: 16Gb
Deployment: Docker
Airbyte Version: 0.35.4-alpha
Source name/version: Oracle DB
Destination name/version: Mysql DB
Step: Normalization fails
Description: I am trying to sync a table from Oracle DB to Mysql DB.
			  Choosen basic normalization and it fails to sync.

			 Without normali

[2022-01-18 09:12] AM-I-Human commented on #9553
The job seems complete.
I found that the data on snowflake (the source), contained the double of the records (the load loaded the same file twice).
So in my views that needed to be transferred, there was 2 identical row for each row.
I don't think that this caused the issue but the problem happen only with this data that had this issue.

[2022-01-18 09:16] octavia-squidington-iii opened #9565 "Destination Clickhouse: normalisation failing with clickhouse_driver.errors.ServerException: Code: 47"
Hello ,I am getting this above error while normalisation in clickhouse.
airbyte version :0.35.4-alpha

 https://airbytehq.slack.com/archives/C01MFR03D5W/p1641889397181300?thread_ts=1641889397.181300&cid=C01MFR03D5W

[2022-01-18 10:05] sheshan-doye-konvergeai opened #9566 "To know size/number of records in source before download starts."
## Tell us about the problem you're trying to solve
Want to show progress bar for download or estimated time of download.

## Describe the solution you’d like
If we get number of records that source has for provided configuration before download starts, will help.

## Describe the alternative you’ve considered or used
getting it after download completed.
## Additional context
We can show this as p

[2022-01-18 10:38] rfortmann-ewolff opened #9568 "[EPIC] Update schemas in source connector source-pinterest"
## Summary
- [ ] Update existing schemas

## TODOs
- [ ] Review following PR : https://github.com/airbytehq/airbyte/pull/9537

[2022-01-18 10:50] VitaliiMaltsev opened #9569 "Destination PostgreSQL Database Connection Error on normalization step using SSH_KEY_AUTH"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker
- **Source Connector and version**: github:0.2.10
- **Destination Connector and version**: postgres:0.3.13
- **Severity**: Very Low / Low / Medium / **High** / Critical
- **Step where error happened**: Deploy / **Sync job** / Setup new connection / Update connector / Upgrade Airby

[2022-01-18 10:52] lihan commented on #9561
@harshithmullapudi As far as I understand, in order to get incremental load working, it relies on the [user defined cursor field](https://docs.airbyte.com/understanding-airbyte/connections/incremental-append#user-defined-cursor). It will not work in my case, as depending on the nature of update. It uses different field to reflect the change.

Eg..
* When a record is created, `created_at` is popula

[2022-01-18 11:25] timroes commented on #9296
In terms of how to expose that in the API, I think we have two options:

* Allow a user to "duplicate"/"clone" an existing connector, which would simply clone it (without its connections).
* Allow a user when creating a new connector to "load config from another".

I have the feeling the first might be an easier mental model for the users and easier discoverable?

[2022-01-18 11:51] octavia-squidington-iii opened #9572 "Source Intercom: conversion_parts is not fetched by the source"
*Is this your first time deploying Airbyte*: No
*OS Version / Instance*: debian-10-buster, GCP e2-standard-2
*Deployment*: Docker
*Airbyte Version*: _0.32.0-alpha_
*Source/version*: Intercom 0.1.12
*Destination name/version*: BigQuery 0.5.1

I have two issues with Intercom:
• Tables on “Incremental append/deduped” Sync mode appear as empty in Bigquery but tables on Full refresh Overwrite have data

[2022-01-18 11:55] keu commented on #7994
This ticket needs to be reproduced first:
- create connection Hubspot + MySQL
- do sync
- if there are no errors check the schema of destination tables

my guess LONGTEXT won't help since *TEXT and BLOB columns are stored separately. The cause could be related to actual number of columns (the fix might require denormalization of streams/tables)

[2022-01-18 11:58] alexandertsukanov commented on #9328
@tuliren Hi Liren!
I created the ticket to get the access for the cloud to test how logging works at the cloud https://github.com/airbytehq/airbyte-cloud/issues/830.
Also, I consider to use Log4j SDK for logging as I think it will allow us to make logging more flexible. In local dev environment I was successful with that.
Regarding https://docs.sentry.io/platforms/java/performance/instrumentation/

[2022-01-18 12:02] keu commented on #9264
this ticket will also close #6592 (no need to reproduce)
Plan of attack:
- run SAT and verify that schema is correct
- check that columns from the logs (with errors) contain data, add data if necessary
- reproduce issue by creating hubspot + postgres connection

[2022-01-18 12:21] alexandrethm commented on #5111
Hi! Are they any plans on when to do this? I will need the [File source](https://docs.airbyte.com/integrations/sources/file) for multiple sources, and it would be really helpful to have pattern matching and incremental sync. Happy to contribute if you'd like

[2022-01-18 12:41] #1192 closed

[2022-01-18 13:18] AM-I-Human commented on #9553
[logs-82-0.txt](https://github.com/airbytehq/airbyte/files/7889266/logs-82-0.txt)
One log of a single table upload that is killed after competition.
This table have not the problem that I sad before. So that is not the issue, as expected.

[2022-01-18 13:52] htrueman commented on #8825
You're right. I made a research on this issue. Figured that the issue is indeed fixed.
Previously we had `campaigns_recipients__gment_opts_conditions` table duplicated. But for now it's fixed, all duplications are resolved. Going to contact the end user to tell him to try again. Perhaps to reinstall the connector.

[2022-01-18 14:41] ycherniaiev commented on #7706
@bazarnov Transactions Endpoint is now availbale. Please run this command:
[code]

[2022-01-18 14:42] #9136 closed

[2022-01-18 14:49] alafanechere commented on #9517
Hi @JAXPARROW we encourage user with this needs to build their own connector with our CDK. We had an HTTP rest connector but we found that there are lots of cases in which using a general connector leads to poor user experience, as there are countless edge cases for different API structures, different authentication policies, and varied approaches to rate-limiting. We believe that enabling users t

[2022-01-18 14:49] #9517 closed

[2022-01-18 15:12] yevhenii-ldv commented on #9264
@keu I moved according to your plan, and the following came out:
- [ ] run SAT and verify that schema is correct  - SAT tests pass perfectly and without errors. The scheme is correct both for the main values of this stream and for additional properties.
- [ ] check that columns from the logs (with errors) contain data, add data if necessary - Values for this stream existed before, and today I adde

[2022-01-18 15:12] bazarnov commented on #7706
We should also test the OAuth flow using basic Postman requests, based on this update, @cheyura could you assist with this?

[2022-01-18 15:49] sherifnada commented on #9264
it seems the `line_items_properties` there is a field which is a date/time type, but is not actually readable as this type because the value is too big? `1743465600000`

[2022-01-18 15:55] ycherniaiev commented on #7706
@bazarnov Sure

[2022-01-18 16:15] lazebnyi commented on #8337
@sherifnada Successfully tested on dev environment. [PR](https://github.com/airbytehq/airbyte-cloud/pull/794) for deployment.

[2022-01-18 16:46] sashaNeshcheret commented on #5301
@marcosmarxm please take a look at #6005 PR, in scope of it we decreased level of permissions from database to schema to allowing users sync to snowflake with schema ownership level. Is it enough, or you mean something else?

[2022-01-18 16:48] cgardens commented on #9429
Discussion with @harshithmullapudi on how important.

Focus on troubleshooting for jobs (includes check connection, sync, etc) for now. This is where most support issues are stuck.

MVP
* ab version
* source (with version)
* destination (with version)
* deployment
* job logs

Follow up
* source configuration info (without secrets)
* destination configuration info (without secrets)
* connection con

[2022-01-18 18:06] sean-mckeever commented on #9572
Chiming in as I have a very similar issue. Most of my intercom data has been able to sync as expected. However, the conversations_parts data is not loading correctly.

The total airbyte sync of our Intercom data took 19 hours. However, 13+ of those hours were spent on the conversation_parts stream. At the end of this time, only 142 total records were created in the resulting conversation_parts tab

[2022-01-18 18:16] alafanechere opened #9578 "Display in the UI basic normalization capabilities and limitations"
The USE team often receives questions about basic normalization capabilities.
Users also often have needs not covered by basic normalization (renaming columns, custom partitioning/typing).
I feel our [online documentation](https://docs.airbyte.com/operator-guides/transformation-and-normalization) contains enough information to help the users, but they are not all making the effort to read it.

It'

[2022-01-18 18:17] noahkawasakigoogle commented on #9501
Another benefit to this I'm realizing, for a number of JDBC based connectors, there are "StrictEncrypted" versions of those connectors which basically re-use the entire connector but manipulate the SSL JDBC parameter. By allowing any params to be added in, theoretically the base connector could have any SSL behavior desired and some duplicate connectors could be deleted.

[2022-01-18 18:28] sean-mckeever commented on #9572
I am still newer to this (so please correct me if I am off here), but it appears the Intercom API changed, which might be causing the issue.
Previously, it appears that when requesting all 'conversation' objects, they would each include an array of conversation_parts. Now however, the conversation_part array is only included when requesting a single conversation (and is not included when requestin

[2022-01-18 18:40] ChristopheDuong commented on #9477
The dashboard is now fed with data from the postgres replication of the airbyte-cloud configapi:
https://airbyte.metabaseapp.com/question/19-data-freshness-details-by-table

So for metrics related to cloud, there'll have a different refresh sync frequency than the oss part coming from segment

[2022-01-18 19:34] #6509 closed

[2022-01-18 19:59] #7846 closed

[2022-01-18 20:48] surajrubik commented on #7067
I had this from starting,
and to resolve this I created a file to create a secret named "airbyte-externaldb", with the content:

[code]
Values of values.yaml will remain the same, the password will fetch from the values.yaml file.

[2022-01-18 22:56] marcosmarxm opened #9584 "Add container name for source/destination container launched by Airbyte worker"
## Tell us about the problem you're trying to solve
Today the worker launch containers using the command:
[code]

we can add the tag `--name <docker-container-name>_<4-lenght-hash>`
With the name would be very easy to identify the container I need to inspect.

One example where this can be useful:
![image](https://user-images.githubusercontent.com/5154322/150031946-c90908cb-bb55-4cbb-b427-bf188bdb

[2022-01-18 23:05] lmossman commented on #9125
I opened up this issue without realizing one already existed for this problem: https://github.com/airbytehq/airbyte/issues/9524

[2022-01-18 23:10] lmossman commented on #9524
Duplicate of https://github.com/airbytehq/airbyte/issues/9125

[2022-01-18 23:11] #5902 closed

[2022-01-18 23:22] tuliren opened #9586 "Support large number of streams in blob storage destinations"
## Tell us about the problem you're trying to solve
- Currently we use one `StreamTransferManager` per stream to upload data to S3 and GCS.
- By default, each `StreamTransferManager` requires [31 MB](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/S3StreamTransferManagerHelper.java#L19) of mem

[2022-01-18 23:27] mcfearsome commented on #3561
Curious if there is any news here? Would really like to get `airbyte` into my org and this would be the ideal way for me.

[2022-01-19 00:06] marcosmarxm opened #9587 "Create env variable DEBUGGING=true to allow verbose debugging"
## Tell us about the problem you're trying to solve
This variable can be used during a deployed instance to print more verbose response from connectors, databases or the platform.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise descript

[2022-01-19 02:49] sherifnada commented on #9443
@edgao This looks good! my only comment is that the test cases seem overly focused on happy paths e.g:

for string why don't we test UTFs, emojis, a bunch of weird character patterns etc.

similarly for numeric, a negative number, null, positive number, `42.0`, etc...

[2022-01-19 05:10] vingov opened #9588 "New Destination: Apache Hudi"
## Tell us about the new connector you’d like to have
* Which source and which destination?
* Java destination for writing Apache Hudi dataset, an open file format that supports ACID transactions.

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?
* Any Hudi Latest version >= 0.10.0

## Describe the context arou

[2022-01-19 05:20] tuliren opened #9589 "Accelerate the check operation for JDBC connectors"
## Tell us about the problem you're trying to solve
Currently, the JDBC database connector retrieves the entire metadata of the database in the check command. This can be very slow when the database is huge.

- Source: https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java#L88
- Destinat

[2022-01-19 05:20] tuliren commented on #9589
@davinchia, FYI.

[2022-01-19 06:42] willem-h commented on #9542
I've got the fix working locally but my integration acceptance tests are failing due to a YouTube key refresh that is failing. I believe this is because I set up the YouTube API key in Google's API console wrong. This is taking too much time so I need to move on and I'm looking at different solutions, outside Airbyte, as YouTube isn't the only platform we need access too and this is taking more ti

[2022-01-19 09:30] joelluijmes opened #9590 "🐛 Mongo to BigQuery: Long (Int64) is serialized as float-like (scientific) number"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: Google Kubernetes
- **Deployment**: Kubernetes
- **Source Connector and version**: Mongo V2 0.1.11
- **Destination Connector and version**: BigQuery 0.6.3
- **Severity**: High
- **Step where error happened**: Sync job

## Current Behavior
In our Mongo source, we have large numeric data (i.e., of type long). For instan

[2022-01-19 09:35] joelluijmes commented on #9590
Triage:

Airbyte did recognize the mongo schema as number (see screenshot). Upon looking at the [source](https://github.com/airbytehq/airbyte/blob/f3798edba6b817662bbabf04fac78af68a389e57/airbyte-db/lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java#L57), `INT32, INT64, DOUBLE and DECIMAL` are all treated as JSON number. So that seems fine.

<img width="1449" alt="image" src="https://user-ima

[2022-01-19 09:51] tuliren commented on #9328
Cool.

You can start with instrumenting the `IntegrationRunner#run` method and see what it gives us.

What do you mean by DSL?

Oh, right. My bad. Is it too late to switch to Snowflake destination? If not, the `SnowflakeInsertDestination` and `SnowflakeInternalStagingDestination` would be a good candidate. It's a JDBC destination. If it is too much trouble to switch, you can ignore this bullet poi

[2022-01-19 10:15] tuliren commented on #9525
The doc is a bit confusing. In the [second link](https://docs.aws.amazon.com/redshift/latest/mgmt/jdbc20-build-connection-url.html), it does mention `schema` in the URL:

Currently we specify the database name after the port. Maybe that parameter can be the schema as well, according to this doc. Can you try something like `jdbc:redshift://[Host]:[Port]/[Schema];DBNAME=[Database]`?

Also, I found t

[2022-01-19 10:23] #8419 closed

[2022-01-19 10:24] novotl commented on #1971
Possible duplicate of https://github.com/airbytehq/airbyte/issues/837

[2022-01-19 10:33] novotl commented on #837
Hi, any updates / estimates on this?

We would like to run Airbyte OSS on Kubernetes, but unencrypted secrets is a big security hazard for us. Environment variables or HashiCorp Vault would suit us the best.

[2022-01-19 10:46] Ariyo05 commented on #2337
1. Why is all my datatime column change to string on the destination table? Can you look into this.
2. Can you guys enable source column to be mapped manually or automatically to the destination column without changing the data type on the destination table.
3. How to handle updated column.

[2022-01-19 10:46] ashligel commented on #6230
I am also experiencing this in my Postgres setup -- I have to manually insert data so that the oldest lsn updates.

[2022-01-19 10:57] bazarnov commented on #7848
Closed due to: https://github.com/airbytehq/airbyte/pull/8234#issuecomment-1016248376

[2022-01-19 10:57] #7848 closed

[2022-01-19 10:57] bazarnov commented on #8027
Closed due to: https://github.com/airbytehq/airbyte/pull/8234#issuecomment-1016248376

[2022-01-19 10:57] #8027 closed

[2022-01-19 11:05] alexandertsukanov commented on #9328
@tuliren
`What do you mean by DSL?`
- Sorry my bad. I mean **DSN**, here we go https://docs.sentry.io/platforms/java/configuration/
From my point of view, we should use some Airbyte application at Sentry to consume logs from Airbyte connectors. Correct me if I am wrong. (At least, in Cloud env) Off course, for basic skeleton I can use my own https://sentry.io/organizations/test-company-g4/, but it

[2022-01-19 11:06] bazarnov commented on #9319
https://github.com/airbytehq/airbyte-cloud/pull/794

[2022-01-19 11:11] tuliren opened #9593 "Fetch facebook marketing source in small batches"
## Tell us about the problem you're trying to solve
- Some of the streams in the Facebook Marketing source requires async processing on Facebook's end. Their processes are not very reliable, resulting in transient failures on our end.
- Currently we always try to retrieve all data within the specified date range with one API call, which means 1) it can take Facebook a long time to process the data

[2022-01-19 11:12] alexandertsukanov commented on #9328
I believe we can should use Performance Metrics, at least in  IntegrationRunner#run, as its provide us useful info about about Duration Breakdown here is an example:

![image](https://user-images.githubusercontent.com/17796771/150118694-e809ac7b-7aca-4bc4-823c-ba06e9c0b276.png)

You can give me your email I can provide you an access to my test-application, after you can see which info we have in P

[2022-01-19 11:16] #8926 closed

[2022-01-19 11:24] igrankova opened #9594 "Investigate Java ERD generation tools"
## Tell us about the problem you're trying to solve
Find a good JAVA tool to generate ERD schema for the source connector documentation. Estimate implementation time and complexity.

**[EPIC] Make the schema output by a source easier to discover and understand** #3731

[2022-01-19 11:27] igrankova opened #9595 "Investigate Python ERD generation tools"
## Tell us about the problem you're trying to solve
Find a good Python tool to generate ERD schema for the source connector documentation. Estimate implementation time and complexity.

**[EPIC] Make the schema output by a source easier to discover and understand** #3731

[2022-01-19 11:33] htrueman commented on #8825
@sherifnada so the new issue appeared. See logs [logs-854-0.txt](https://github.com/airbytehq/airbyte/files/7896684/logs-854-0.txt). Seems to be the same as https://github.com/airbytehq/airbyte/issues/5870 (still not resolved). So it should be `airbyte-workers` issue.

[2022-01-19 11:45] tuliren commented on #9328
You can use yours for now. We will figure out these variables to inject into the cloud later.

Cool. It would be very helpful if you can add the integration for Snowflake as well.

Secrets should already be removed from the logs. There may be some edge cases. We can look into this later.

This looks nice. Thanks. I will DM you my email.

[2022-01-19 11:49] tuliren commented on #9532
## Sprint summary

- Due to on call, this is delayed by at least one day. It's not code complete yet.
- New time estimation:
  - Code complete: Jan 19th
  - Publish to OSS: Jan 20th
  - Publish to Cloud: Jan 21st

[2022-01-19 11:50] tuliren commented on #9104
## Sprint Summary
- Made solid progress on integrating Sentry with Java destination.
- MVP should be ready by the end of this week.

[2022-01-19 12:11] #8927 closed

[2022-01-19 12:23] marcosmarxm commented on #9449
Hello @Krish-bhardwaj you can search for issues with label `good-first-issue` read the issue, try to understand what is needed and I can help you after.

[2022-01-19 13:09] #6246 closed

[2022-01-19 13:19] bazarnov commented on #8337
@sherifnada you can check and test the Instagram OAuth Flow using this `dev-1` resource: https://dev-1-cloud.airbyte.io/
Currently it's deployed from this PR: https://github.com/airbytehq/airbyte-cloud/pull/794

[2022-01-19 13:26] #9339 closed

[2022-01-19 13:34] noahkawasakigoogle opened #9598 "Standardize JDBC Connector Testing: Add JDBC string and property static tests"
## Tell us about the problem you're trying to solve
No JDBC property/string tests for all JDBC connectors

## Describe the solution you’d like
Just add tests that pass in a `JsonNode config` with some values and check that the correct properties and JDBC string is generated.

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or featu

[2022-01-19 13:44] timroes opened #9599 "Allow CI on PRs from member/contributor forks"
Currently when creating a PR from a fork it won't run CI and just do the following checks:

![screenshot-20220119-143909](https://user-images.githubusercontent.com/877229/150141833-d1220c66-df35-437f-83eb-185238d783a1.png)

I think we could improve this and rather check on the author of the PR than the repo that it was created from. I'd suggest we allow all PRs from members (and potentially Collab

[2022-01-19 13:49] timroes opened #9600 "Fail checks on PRs that didn't run CI"
Currently when you open a PR from a fork it won't run CI. But the PR will still be marked as all checks passed, since CI never ran:

![screenshot-20220119-143909](https://user-images.githubusercontent.com/877229/150142701-ec9b96a3-f6f1-4639-9e66-78a681ec7b41.png)

I think it would be benefitial if we'd have a check (or any of the CI steps) actually failing and marking a check as failed if a PR did

[2022-01-19 14:01] noahkawasakigoogle opened #9601 "Standardize Connector Testing: Framework to determine what tests should exist based on `spec.json` and the Connector Grade"
## Tell us about the problem you're trying to solve
Non-standard testing across connectors/languages based on the features a connector implements. Currently as far as I can tell, connectors test requirements are defined with this logic:

Ideally, it would be like this:

## Describe the solution you’d like
Airbyte uses a connectors `spec.json` file to understand how to interact with a connector. Th

[2022-01-19 14:02] #8476 closed

[2022-01-19 14:07] noahkawasakigoogle commented on #9601
This could also check against the `acceptance-test-config.yml` file

[2022-01-19 14:09] noahkawasakigoogle commented on #9600
whoa.. are Airbyte PRs able to merge without passing all checks?

[2022-01-19 14:51] subodh1810 opened #9602 "Snowflake : Investigate removing Insert/GCS/S3 load methods"
We have support for Snowflake Internal staging loading method. We should investigate if we can remove the following load methods
 - [x] Insert
 - [ ] S3 Staging
 - [ ] GCS staging

 We should also keep in mind how would this change affect existing connectors and write a migration if required. Try to make  this change backward compatible

[2022-01-19 14:58] subodh1810 opened #9603 "Snowflake : Support for Airbyte cloud to work with Snowflake network policies"
In snowflake warehouse a customer can create a network policy to only allow specific IPs to connect to a snowflake instance. If a customer has this setup, Airbyte cloud  should be able to work with this setup.

1. We can expose a set of our cloud IPs so that customer knows which IPs to whitelist
1. ?

Ref : https://docs.snowflake.com/en/user-guide/network-policies.html#

┆Issue is synchronized wit

[2022-01-19 14:59] alafanechere opened #9604 "🐛 Source MongoDB: DBRefs are not handled"
## Environment
- **Airbyte version**:  0.35.2-alpha
- **Source Connector and version**: airbyte/source-mongodb-v2:0.1.11
- **Severity**: High
- **Step where error happened**:  Sync job

## Current Behavior
This issue was created following [this](https://airbytehq-team.slack.com/archives/C01MFR03D5W/p1642600734249300) slack discussion.
Link between mongo document can be expressed in Mongo with [Dat

[2022-01-19 15:10] satyadeepk commented on #8830
We are seeing this issue with Postgres CDC Source as well. So it might not be specific to MySQL as such.

[2022-01-19 15:14] #3098 closed

[2022-01-19 15:16] noahkawasakigoogle opened #9606 "Add "connector_grade" property in spec.json, to support programmatically setting requirements for connector's based on their grade"
## Tell us about the problem you're trying to solve
A way to require more extensive testing, docs, etc on a per connector basis depending on the Connector Grade something is defined as.

## Describe the solution you’d like
Add `"connector_grade: "certified"` into the Airbyte `spec.json` file as a required property for each connector. This would enable a certain level of baseline quality for each c

[2022-01-19 15:26] andriikorotkov commented on #9324
@tuliren, I have renamed all databases in the format you specified in this problem. For postgres - I moved each schema to separate databases. it speeds up performance tests.
![2022-01-19_15-12](https://user-images.githubusercontent.com/88329385/150161417-76dbf519-0293-4ce3-896f-07a887325f47.png)

![2022-01-19_15-15](https://user-images.githubusercontent.com/88329385/150161438-9097c93a-9674-4ff0-98

[2022-01-19 15:31] subodh1810 opened #9607 "Snowflake : Audit snowflake destination setup UX"
As part of this issue we should try to setup a snowflake destination connector in cloud using just our docs https://docs.airbyte.com/integrations/destinations/snowflake#setup-the-snowflake-destination-in-airbyte and see if the contents of our doc is accurate and how easy is it to setup the connector. We should also try to do it with a non-engineer with no prior context of snowflake destination

[2022-01-19 15:53] ChristopheDuong commented on #9477
Re-opening because separate views should be also useable outside of the connector dashboards
(not merged with segment data)

[2022-01-19 17:05] andriikorotkov commented on #6063
Hello, @dsdorazio and @sherifnada. I would like to share with you my vision of this task. Now, I have opened a pull request, in which S3 and GCS can be used as staging. The data of each synchronization is saved in a separate file on the staging, and in Azure Blob Storage there is always one blob with the airbyte stream  name with actual data. Is this solution right for you?

[2022-01-19 17:21] tuliren commented on #6003
Although we originally planned to work on database CDC this quarter, our priorities have changed, and unfortunately we won't have the bandwidth to work on CDC this quarter any more. We recommend anyone watching this issue to use the non CDC mode for incremental sync for now.

[2022-01-19 17:45] antixar opened #9612 "🎉 Detect changes of CDK and SAT folders for SonarQube"
Now the SQ workflow is detecting all changes for connectors into the folder `./airbyte-integrations/connectors` only. But we need to detect and all other Python packages/components too.
All details of the current implementation are [here](https://github.com/airbytehq/airbyte/pull/8362)

[2022-01-19 17:47] antixar opened #9613 "🐛 SonarQube doesn't measure Java code coverage"
Now the SQ workflow doesn't measure Java code coverage. We need to fix it
All details of the current implementation are [here](https://github.com/airbytehq/airbyte/pull/8362)

[2022-01-19 17:48] subodh1810 opened #9614 "Snowflake : Benchmark snowflake destination in cloud and identify potential issues"
After Liren finishes up with his benchmark work to create mock source, use it to benchmark snowflake destination in cloud

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202102171868563/1202126632370994) by [Unito](https://www.unito.io)

[2022-01-19 17:52] subodh1810 opened #9615 "Snowflake Metababse metrics"
Audit snowflake metabase metrics, understand and identify issues which might pose a threat in GA release

[2022-01-19 17:53] sherifnada opened #9616 "Postmortem Salesforce P0"
## Tell us about the problem you're trying to solve
Placeholder for writing up and shraing a postmortem for the P0 issue which happened last week

[2022-01-19 17:54] subodh1810 commented on #9352
Next step issues :
 - [ ] https://github.com/airbytehq/airbyte/issues/9602
 - [ ] https://github.com/airbytehq/airbyte/issues/9607
 - [ ] https://github.com/airbytehq/airbyte/issues/9615
 - [ ] https://github.com/airbytehq/airbyte/issues/9614
 - [ ] https://github.com/airbytehq/airbyte/issues/9603 - If this is not too much work then only included

[2022-01-19 17:55] edgao commented on #9586
could this be as simple as just closing the previous StreamTransferManager whenever we open a new one? (e.g. [here](https://github.com/airbytehq/airbyte/blob/1832c69c269e1c9f15c3eb36f7a1bd59a861ab73/airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java#L98-L113))

It looks like we only keep the writer open in case we wan

[2022-01-19 17:55] #9477 closed

[2022-01-19 17:56] subodh1810 opened #9617 "Tech spec for staging in all cloud destinations"
Write a tech spec for issue https://github.com/airbytehq/airbyte/issues/7555

[2022-01-19 18:01] ChristopheDuong commented on #9474
After talking with Davin, we'll try to sign up with some managed orchestrator solution as MVP

[2022-01-19 18:04] tuliren commented on #9586
Yes, totally possible. We just need to make sure we are always emitting streams sequentially on the source side. However, theoretically, it is possible to have multiple streams emitting messages are the same time.

[2022-01-19 18:07] ChristopheDuong opened #9618 "Analytics should track value of const fields in connector configurations"
Follow up to https://github.com/airbytehq/airbyte/issues/9479

we currently track that there is a const property set in the connector configuration in segment data but we don't know which value was selected.

So for example, we would know that a destination connector was configured with a loading method but we wouldn't be able to know if it was "standard insert" or "internal staging" loading metho

[2022-01-19 18:28] sherifnada commented on #8862
tech spec was created, epic here: https://github.com/airbytehq/airbyte/issues/9441

[2022-01-19 18:28] #8862 closed

[2022-01-19 19:59] alvaroqueiroz commented on #5942
@casperbiering i was able to use the s3 destination connector on eks using instanceprofile of the nodes

[2022-01-19 20:53] #7243 closed

[2022-01-19 20:55] isu182 opened #9620 "Airbyte server container uses too much memory"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: GCP e2-standard-4
- **Deployment**: Docker
- **Source Connector and version**: MySQL 0.5.1
- **Destination Connector and version**: BigQuery 0.6.5
- **Severity**: High

## Current Behavior
When I start up the docker containers everything is fine. The **airbyte/server** container is using only 2.2% of the VM-s memory,

[2022-01-19 21:04] casperbiering commented on #5942
@alvaroqueiroz true, but by using the instanceprofile you give all containers/pods/software running on that node access, which does not follow the Principle of Least Privilege. By using IRSA you only give access to a specific pod making it the more secure solution.

[2022-01-19 21:51] chris-leigh-dignifi commented on #6884
`-- sample table
CREATE TABLE activity_roles
(
    id          INT AUTO_INCREMENT
        PRIMARY KEY,
    role_id     INT      NULL,
    activity_id INT      NULL,
    created_at  DATETIME NOT NULL,
    updated_at  DATETIME NOT NULL
);

CREATE INDEX index_activity_roles_on_activity_id
    ON activity_roles (activity_id);

CREATE INDEX index_activity_roles_on_role_id
    ON activity_roles (role_id

[2022-01-19 21:53] christopher-leigh commented on #6884
[code]

[2022-01-19 21:55] edgao commented on #9443
added some entries to the base type/value table with odd values (this won't cost much performance).

For nulls specifically, added some options to the properties/additionalProperties lists. This will generate a few more test cases, so keeping them a bit limited.

[2022-01-19 22:18] sashaNeshcheret commented on #2491
@sherifnada please take a look for [scoping doc](https://docs.google.com/document/d/1miU4frcz3p1zMtWo0qlRpW2Jojgukr89SGZVnDo6Xz0/edit)

[2022-01-19 22:52] htrueman commented on #7994
Succeeded to reproduce the bug [logs.txt](https://github.com/airbytehq/airbyte/files/7901015/logs-39-0.txt).
Going to try to change the field type. If this won't help, then going to denormalize the table.

[2022-01-19 23:00] jihwan0211 opened #9622 "Question about airbyte data processing performance"
Hello, I have a question after using the airbite. The data connector environment was tested in a 32 cpu and 128 gb memory environment. Data with a table size of 750mb and a record of 6.6 million was converted into csv in s3, and it took about 10 minutes. I tried modifying the number of threads and workers in the .env file, but there was no significant difference. I ask if it takes this long in ter

[2022-01-19 23:18] marcosmarxm commented on #6884
@DoNotPanicUA could you try to reproduce the error again and solve this issue?

[2022-01-20 00:55] jd-sanders opened #9624 "🐛 Source Sendgrid doesn't display option to upgrade to current version"
## Environment
- **Airbyte version**:  0.33.2-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Sendgrid 0.2.7
- **Severity**: Low
- **Step where error happened**: Update connector

## Current Behavior
The latest version of the Sendgrid connector is 0.2.7. (image attached).  The 0.2.7 commector supports a stream that the previous version did no

[2022-01-20 01:04] noahkawasakigoogle commented on #9467
Working on this here: https://github.com/airbytehq/airbyte/pull/9623/files

First time I've done something with connectors for Airbyte so it might take a bit to make sure im doing everything needed

[2022-01-20 01:11] sherifnada opened #9625 "Choose optimal sync modes by default on UI"
## Tell us about the problem you're trying to solve
Today a user needs to configure every sync mode by hand on the UI. If there is more than a handful of streams, this is a very arduous process.

## Describe the solution you’d like
Most of the time we know the best sync mode to use is. In accordance with ux best practices, the UI should automatically choose these sync modes so the user doesn't hav

[2022-01-20 01:12] sherifnada commented on #9625
cc @misteryeo

@jrhizor is this something that would make sense to put on the roadmap for GA? it's a high value low hanging fruit for usability.

[2022-01-20 01:38] tuliren commented on #6063
Let's move our discussion from https://github.com/airbytehq/airbyte/pull/9336 to here.

I don't think this is the right solution. The purpose of the Azure blob storage destination is to store objects directly on Azure. Adding the S3 or GCS as staging area unnecessarily copy the data first to S3 or GCS, and then to Azure.

----

What's the current filename outputted by Azure destination? It seems t

[2022-01-20 02:28] mitchealex1 commented on #4653
Hey team, I'd love to help contribute to this! I've started messing around with developing the source to familiarise myself with it all.

[2022-01-20 02:47] benmoriceau opened #9627 "Make the Scheduler V2 acceptance test not flaky"
The end to end test that runs on the new scheduler are flaky because of the asynchronous nature of temporal. The test have been remove from the build tasks in order to avoid disturbance for other devs (it passed in https://github.com/airbytehq/airbyte/pull/9487). We need to re-activate them and make sure that the test are waiting for the temporal workflow to start.

[2022-01-20 02:57] benmoriceau commented on #9627
This need to revert https://github.com/airbytehq/airbyte/pull/9628/files

[2022-01-20 03:33] marcosmarxm opened #9629 "Source Slack to BigQuery: AirbyteMessageTracker(handleDestinationEmittedState) state hash collision"
## Environment
- **Airbyte version**:  0.35.5-alpha
- **OS Version / Instance**: MacOS
- **Deployment**: Docker
- **Source Connector and version**: Slack dev
- **Destination Connector and version**: Bigquery 0.6.2
- **Severity**: Very Low / Low / Medium / High / Critical
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Behav

[2022-01-20 03:56] tuliren opened #9631 "Investigate GCS destination integration test failure"
The integration test passed locally, but failed on CI ([attempt](https://github.com/airbytehq/airbyte/actions/runs/1721221730/attempts/1)).

[2022-01-20 04:19] misteryeo opened #9632 "Add Engagements endpoint to Hubspot API"
See linked from Harvestr

[2022-01-20 04:19] misteryeo commented on #9632
**Issue was linked to Harvestr Discovery:**  [Source: Hubspot](https://app.harvestr.io/components/0/list/84ferjH7F)

[2022-01-20 04:27] nataliekwong commented on #9632
Working on it - test

[2022-01-20 04:50] mukulg-df opened #9633 "Snowflake active warehouse not selected"
## Environment
- **Airbyte version**:  0.35.2-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Mailchimp 0.2.10
- **Destination Connector and version**: Snowflake 0.3.24
- **Severity**: Vritical
- **Step where error happened**: Sync job

## Current Behavior
Initial sync failed with 3 retries.

## Expected Behavior
Sync should succeed
## Logs
[

[2022-01-20 07:32] prudhvi85 commented on #5541
In many applications, developers don't maintain proper timestamps which can be used as a cursor. we might need to write where query to get the delta. We are in need of this kind of feature as well.

[2022-01-20 08:18] andriikorotkov commented on #6063
@tuliren, The current filename outputted by Azure destination - it is stream name. Also, all blobs are stored in one container, which is specified by the user when creating the destination.

[code]
Are you suggesting changing this to -
[code]
Or is the next option better?
[code]

[2022-01-20 08:27] tuliren commented on #6063
Got it. I think keeping the same pattern as S3 should be good:

[code]

[2022-01-20 08:50] andriikorotkov commented on #6063
Not quite sure which format to use.
Should I create a new container for each stream, or write all blobs to one custom container named like ```stream_name/2021_01_01_1609541171643_0```? Unfortunately, folders cannot be created in Azure.

[2022-01-20 08:54] octavia-squidington-iii opened #9636 "Server is having memory leak"
*Is this your first time deploying Airbyte:* No
*Deployment:* GCP (Compute Enginge)
*Airbyte Version:* 0.35.5-alpha
*Memory / Disk:* 16GB / 50GB
*Source name/version:* mysql latest
*Destination name/version:* bigquery latest
*Description:*
airbyte/server container is leaking memory, when I load the UI.
So when I start the docker containers and I check with "docker stats", I don't see anything stra

[2022-01-20 08:56] timroes commented on #9636
Duplicate of https://github.com/airbytehq/airbyte/issues/9620

[2022-01-20 08:56] #9636 closed

[2022-01-20 09:04] harshithmullapudi commented on #9622
Hey since it is a question can you post the same over our slack channel (#getting-started or #troubleshooting) based on the need. Also we have docs on configuring Airbyte https://docs.airbyte.com/operator-guides/configuring-airbyte I hope this helps

[2022-01-20 09:04] #9622 closed

[2022-01-20 09:19] timroes opened #9637 "Click on settings icon in connection list brings you to default page"
Currently (present on master) when clicking the Settings icon in the connection row it will bring you to the default page. If you click the row besides that icon it will correctly bring you to the connection page.

![Peek 2022-01-20 10-15](https://user-images.githubusercontent.com/877229/150309668-e6af7c5c-b0c3-4bbf-9a65-43a33d77db52.gif)

This is something a lot of users (~10%) are running into.

[2022-01-20 09:22] ChristopheDuong opened #9638 "Include proper metadata in data sent to Sentry"
## Tell us about the feature you’d like to have
As a follow-up to https://github.com/airbytehq/airbyte/issues/9104, we need to make sure we send the proper metadata along with stack traces/debug info to Sentry.

This should include `connection_id/job_id/attempt_id`

As a result, if we are to use a `source-sentry` connector to retrieve data back to our data warehouse, we need to make sure these met

[2022-01-20 09:30] VasylLazebnyk commented on #9059
This ticket is closed, contributor confirms this issue is not actual after Yevhen's comment in [Slack conversation](https://airbytehq.slack.com/archives/C01MFR03D5W/p1640118333173600)

[2022-01-20 09:30] #9059 closed

[2022-01-20 11:00] VitaliiMaltsev commented on #7934
can not reproduce this issue with latest version of BigQuery Denormalized connector. Did not receive any response from contributor is it persists at the moment.
I believe we can close this one and reopen this ticket if we would have similar errors, cause [this](https://github.com/airbytehq/airbyte/issues/7938) feature merged into master.
@marcosmarxm WDYT?

[2022-01-20 11:02] etsybaev commented on #9525
Hi @tuliren. Thanks, I will take a look.
We already use this "schema", but this is actually is a DB name. That's was a bit confusing :)
![Selection_401](https://user-images.githubusercontent.com/4688354/150326138-c08900b3-4a30-49d1-aada-e446f097567d.png)

[2022-01-20 11:44] jlitola commented on #3365
Is there any workaround on how to accomplish this right now? Wasn't successful in trying to get data out from the normalization pod.

[2022-01-20 11:56] grubberr opened #9640 "🎉 Source HubSpot: Add more fields for `email_events` stream"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / L

[2022-01-20 12:36] danieldiamond commented on #6003
Appreciate the limited resources and existing priorities but suggesting to defer to non-CDC mode for large tables isn't a great alternative. Particularly if users already had existing internal batch migration jobs. Part of Airbyte's draw is ["commoditising DB replication by open-sourcing CDC"](https://www.businesswire.com/news/home/20210630005217/en/Airbyte-Commoditizes-Database-Replication-by-Ope

[2022-01-20 13:12] #8932 closed

[2022-01-20 14:11] alafanechere commented on #9433
It looks like there might be a workaround using custom transformation as mentioned in this related issue: https://github.com/airbytehq/airbyte/issues/6918

[2022-01-20 15:06] sherifnada commented on #8633
@bazarnov do you need something from me to update the version available in airbyte-cloud to get the oauth application approved from shopify?

[2022-01-20 15:17] bazarnov commented on #8633
For now we're good to go without you involved in this.
These steps should be performed:
- [ ] Release the Shopify to dev-could, so the Shopify team could test the OAuth Flow, as they want (it's required to get the public app, without the public app, the customers will not get it through)
- [ ] After successful test (fingers crossed), we submitting the "draft" app to obtain the "public" status.
- [

[2022-01-20 15:28] keu commented on #8282
I have tested improved connector on short and long intervals (up to 1 year)
The new code shows 10+ times improvement in speed. In terms of reliability new code succeed in reading all intervals and recovering from falls due to new state logic (state per slice)

There are minor defects that need to be fixed still:
- logic that cleans up slices states doesn't work because the cursor value used as sta

[2022-01-20 15:50] sergiworkwize commented on #6918
How did you find the ab1 file for the deals stream? I get this following the transformation tutorial:

![Screenshot 2022-01-20 164916](https://user-images.githubusercontent.com/97533688/150373043-9ba0050a-33c2-4f8b-ab3c-93fb42f45f9e.png)

So I only see the part based on the deals_ab3 file

[2022-01-20 15:54] cgardens opened #9645 "Paginate Job History"
## Tell us about the problem you're trying to solve
When getting a list of jobs for a connection we should paginate the returned jobs. This method gets called frequently and should be relatively straight forward to paginate.

### Acceptance Criteria
- Determine what our API convention should be for pagination (this is the convention we will likely use everywhere).
- Implement it for job history en

[2022-01-20 15:57] davinchia commented on #9303
https://docs.google.com/spreadsheets/d/1SxMMQZxzq7eJWMdpG9wTX0flT74VpIT7V_TwcPrkUrM/edit?usp=sharing

[2022-01-20 15:57] cgardens opened #9646 "[EPIC] Refactor Secrets Handling"
## Tell us about the problem you're trying to solve
We should audit our handling of secrets anywhere they are present in code. The goal is identify everywhere in the codebase where secrets are access and that our handling meets our desired security posture. This project is focused on de-risking areas where it would be easy for a developer to make a mistake about secrets.

## Describe the solution

[2022-01-20 15:57] cgardens commented on #9646
relates to: https://github.com/airbytehq/airbyte/issues/7391

[2022-01-20 16:02] sherifnada commented on #8633
@bazarnov thanks for the context! Just FYI make sure not to merge the full connector to Cloud master branch or it will become available in prod before it's ready :) so you should deploy from a branch to allow the shopify team to review

[2022-01-20 16:12] awang commented on #8702
I'm having the same issue as well, source and destination catalog attached.  Thanks!

[destination_catalog.json.gz](https://github.com/airbytehq/airbyte/files/7906766/destination_catalog.json.gz)
[source_catalog.json.gz](https://github.com/airbytehq/airbyte/files/7906767/source_catalog.json.gz)

[2022-01-20 16:30] cgardens opened #9650 "Evaluate Options for fixing flakiness in K8s acceptance tests"
## Tell us about the problem you're trying to solve
Remove K8s integration test flakiness

## Backlog Grooming Notes
- EC2 runners necessary for resource-intensive builds
- AMI cloning makes iteration very slow for debugging this
- Perhaps should be using an actual GKE cluster for testing

- Option: debug AWS runners, AMI reproducibility
- Option: set up a GKE cluster for running acceptance tests

[2022-01-20 16:34] cgardens opened #9651 "Improve deploy process of an OSS branch to Cloud dev"
## Tell us about the problem you're trying to solve
As an Airbyter, I want to be able to deploy a branch I'm working on in the OSS project to a dev env.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

### Acceptance Criteria
- I should be able to deploy an 'unreleased'/mixed OSS build to Cloud dev without jum

[2022-01-20 16:34] jrhizor commented on #4470
We should add the ability to disable this using an environment variable flag and we should communicate that users mirroring connector images will need to switch off this auto-update feature here.

[2022-01-20 16:37] cgardens opened #9652 "[EPIC] Scope connection definitions by workspace"
## Tell us about the problem you're trying to solve
We want to allow different workspaces to do a few different things:
1. Use _different_ versions of the _same_ connector definitions. (e.g. workspace 1 uses postgres 0.11.1 and workspace 2 uses 0.12.0)
2. Use _different_ connectors entirely (e.g. workspace 1 has access to custom connector A and workspace 2 doesn't OR workspace 1 has access to alph

[2022-01-20 16:47] jrhizor opened #9653 "public engineering handbook improvements"
I'll write more about this separately.

[2022-01-20 16:51] benmoriceau opened #9655 "Release the new scheduler on OSS"
## Tell us about the problem you're trying to solve
Table for the feature flag in order to avoid scaling down app when running a migration

[2022-01-20 17:09] ChristopheDuong commented on #9617
Please note that today we have a class `OAuthConfigSupplier` that is injecting OAuth instance wide parameters into connector config at the last minute by the scheduler before passing the final configuration to a worker starting a sync/check_connection/discover operation.

The instance-wide parameters for OAuth are meant to be kept secrets and not shared with end-users, which is why they are not pe

[2022-01-20 17:57] alexchouraki commented on #6884
Hello,
I'm having the same error.
Using the 0.4.9b version of the MySQL connector doesn't solve the issue, I'm still getting the exact same error even though Debezium was upgraded.

Please find the logs attached:
`2022-01-20 17:00:42 source > 2022-01-20 17:00:42 ERROR i.d.r.TableSchemaBuilder(lambda$createValueGenerator$5):269 - {dbz.connectorContext=snapshot, dbz.connectorName=prestashopprod, dbz

[2022-01-20 17:58] cgardens opened #9656 "Alerting for the Demo"
## Tell us about the problem you're trying to solve
Often we learn about issues about our demo instance from users or anecdotal evidence from other employees. The demo is a lot of user's and customer's first interactions with Airbyte, so if it is broken, that's a big deal. We should be notified when there are problems programatically.

1. Identify the common issues that we have seen.
2. Set up mon

[2022-01-20 18:23] marcosmarxm opened #9658 "Transfer USE analytics to dbt-airbyte"
## Tell us about the problem you're trying to solve
The USE Dashboard was building with views from bigquery.
To become more reliable we need to transfer those views to dbt.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of

[2022-01-20 18:45] misteryeo commented on #2491
@sashaNeshcheret added a comment and proposal in the doc.

[2022-01-20 19:01] sherifnada opened #9659 "[EPIC] OC Debugging tool: replay syncs"
## Tell us about the problem you're trying to solve
https://github.com/airbytehq/airbyte-cloud/issues/855

* [x] https://github.com/airbytehq/airbyte/issues/10247
* [x] https://github.com/airbytehq/airbyte/issues/10248
* [ ] https://github.com/airbytehq/airbyte/issues/10249

[2022-01-20 19:12] sherifnada opened #9660 "Python CDK: Allow advancing state object without having to inspect records"
## Tell us about the problem you're trying to solve
In the CDK `AbstractSource` class, state logic is updated only based on records output by the connector. In other words, the state pointer can only advance as far as the largest date in all records returned from the API.

For example, if the API returns 10 records from dates Jan 1 to Jan 5, then returns no records when queried for dates Jan 5-Dec

[2022-01-20 19:24] sherifnada opened #9661 "placeholder for cloud 856"
https://github.com/airbytehq/airbyte-cloud/issues/856

[2022-01-20 19:41] #9417 closed

[2022-01-20 19:47] sherifnada opened #9663 "When syncs fail, normalization shouldn't run for full refresh streams"
## Current Behavior
If a sync fails, it doesn’t make sense to normalize a full refresh stream which failed during the sync. It incurs cost needlessly on the destination, especially because that stream will just get re-normalized anyways in the sync attempt. Plus, since the whole sync job failed, the user probably won't trust the output in the destination until the whole sync succeeds.

But current

[2022-01-20 20:21] #8820 closed

[2022-01-20 20:49] jdclarke5 commented on #3090
Thumbs up on this. Let me give a use case I have come across for further motivation/context.

The deleted step is a difficult question for me: should it be the source's job to send through information that a row is deleted? Or the destination's job to compare the current state to the state the source sends? The latter probably makes most sense but it _requires_ that the destination see all primary

[2022-01-20 22:37] cgardens commented on #9128
@subodh1810 I think because we tombstone configurations this should actually not be a problem. The issue in the dev environment is that some records had been deleted manually (something we don't do in prod). I'm going to close it, but let me know if you think I'm missing a case.

[2022-01-20 22:37] #9128 closed

[2022-01-20 22:49] jagannathsrs commented on #9167
Is this being worked on or can I contribute? We have a requirement for this stream and would like to sync this asap.

[2022-01-20 23:22] nick-unit21 opened #9668 "Incremental - Append Sync mode requires documentation on transaction edge cases"
### Tell us about the documentation you'd like us to add or update.
It can be as pedantic as a typo or as titanic as an entire tutorial request.

Incremental - Append . For typical SQL DBs it seems to reduce down to `SELECT * from table where cursor_column >= cursor_last_ran;` . I’ve previously built implementations with postgres similar to this, and one issue I’ve encountered with this that if th

[2022-01-20 23:32] noahkawasakigoogle commented on #6985
When you say "input" are you asking about a place to upload cert/key files through the UI? Or are you talking about JDBC parameters?

[2022-01-20 23:33] potatozerg commented on #6985
@noahkawasakigoogle I'm talking about a place to upload/input cert/key files. Sorry for the confusion.

[2022-01-20 23:38] noahkawasakigoogle commented on #6985
No worries was just wondering. Im not sure if someones working on this though.

This depends on how you deploy Airbyte, but theoretically you could place the needed files somewhere on an airbyte server, probably with some docker-compose/k8s volume mounts, and then use the [MySQL JDBC parameters](https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-connp-props-security.html) to specify those lo

[2022-01-20 23:41] potatozerg commented on #6985
@noahkawasakigoogle We will need users to enter them, so we can't do that. But thanks for the advice!

[2022-01-21 00:49] misteryeo opened #9670 "Settings Gear redirects to wrong page"
## Environment
- **Airbyte version**:  Reported by an OSS user but also tried it in Cloud
- **Severity**: High
- **Step where error happened**: Deploy / Sync job / Setup new connection / Update connector / Upgrade Airbyte

## Current Behavior
Clicking on the settings gear icon on the connections page brings me to my workspaces page.

## Expected Behavior
Clicking on the settings gear icon should b

[2022-01-21 01:53] cgardens opened #9672 "Do not run normalization if no records are committed or pending records from a previous partial sync"
## Tell us about the problem you're trying to solve
Now that we have access to the number of records actually [committed to the destination](https://github.com/airbytehq/airbyte/issues/3247), we can be smarter about when run normalization. Our logic so far has been always run normalization, because even if replication failed, we should normalize whatever data that we can. This is wasteful if there

[2022-01-21 01:58] cgardens opened #9673 "Disable a sync if it is failing repeatedly"
## Tell us about the problem you're trying to solve
There is a point at which, if a sync is not going to succeed it should stop trying until a human intervenes. In an ideal world, the job would be able to say the failure state it was in and whether the failure was possibly fixed by a retry. While we will start exposing this metadata that will allow us to quarantine some jobs quickly, there will st

[2022-01-21 02:05] answerMA opened #9674 "can't delete connections through UI"
## Environment
- **Airbyte version**:  example is 0.35.5-alpha
- **OS Version / Instance**: Centos7
- **Deployment**:  Docker
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Low
- **Step where error happened**: Sync job

## Current Behavior
as I clicked "delete this connecti

[2022-01-21 02:05] cgardens commented on #9652
@pmossman I updated this issue to be a bit less vague. lmk if you have other questions.

[2022-01-21 02:06] cgardens commented on #9674
@answerMA thanks for reaching out. if you refresh the page does it go away. i think there's a known caching issue in the UI.

[2022-01-21 07:06] tq-tien commented on #9672
I got the same issue. We are using "full refresh | overwrite" sync mode, and every time Airbyte cannot connect to source database, normalization still run, clear all table data. Hope this change will occur asap.

[2022-01-21 07:16] igrankova opened #9675 "[EPIC] GA & Beta Connector Research"
## Tell us about the problem you're trying to solve
As we bring Airbyte Cloud to general availability, we want to ensure any connector made available to customers in the beta and generally available states is as feature-complete as possible. However, we recognize that it’s not always feasible to have 100% feature or data stream coverage, nor is it important to do so as certain features or data str

[2022-01-21 07:36] igrankova opened #9676 "Research Facebook Marketing source connector"
## Complete the following exercise for Facebook Marketing source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Aut

[2022-01-21 07:49] igrankova opened #9677 "Research Google Ads source connector"
## Complete the following exercise for Google Ads source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticat

[2022-01-21 07:53] igrankova opened #9678 "Research Hubspot source connector"
## Complete the following exercise for Hubspot source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-01-21 07:58] igrankova opened #9679 "Research Salesforce source connector"
## Complete the following exercise for Salesforce source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticat

[2022-01-21 08:01] igrankova opened #9680 "Research Shopify source connector"
## Complete the following exercise for Shopify source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-01-21 08:03] igrankova opened #9681 "Research Github source connector"
## Complete the following exercise for Github source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-01-21 08:13] VasylLazebnyk commented on #8963
Closing this issue until the @MatheusFreitas25 will get back with his feedback.
Matheus - if the issue still appears - feel free to reopen the ticket.

[2022-01-21 08:13] #8963 closed

[2022-01-21 08:17] #9674 closed

[2022-01-21 08:18] timroes commented on #9670
Duplicate of https://github.com/airbytehq/airbyte/issues/9637

[2022-01-21 08:18] #9670 closed

[2022-01-21 08:28] #6178 closed

[2022-01-21 08:29] #5769 closed

[2022-01-21 08:29] #6110 closed

[2022-01-21 08:40] answerMA opened #9683 "Source Kafka: Basic normalisation is not working"
## Environment
- **Airbyte version**:  example is 0.35.5-alpha
- **OS Version / Instance**: centos7
- **Deployment**:  Docker
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Severity**: Very Low / Low / Medium / High / Critical
- **Step where error happened**: Deploy / Sync job / Setup

[2022-01-21 09:05] #8409 closed

[2022-01-21 09:15] timroes commented on #9125
Duplicate of #9524

[2022-01-21 09:15] #9125 closed

[2022-01-21 09:22] igrankova opened #9684 "Research Stripe source connector"
## Complete the following exercise for Stripe source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentication

[2022-01-21 09:24] igrankova opened #9685 "Research Intercom source connector"
## Complete the following exercise for Intercom source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-01-21 09:30] igrankova opened #9687 "Research Google Sheets source connector"
## Complete the following exercise for Google Sheets source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenti

[2022-01-21 09:36] igrankova opened #9688 "Research Postgres source connector"
## Complete the following exercise for Postgres source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authenticatio

[2022-01-21 09:47] #9474 closed

[2022-01-21 09:48] ChristopheDuong commented on #9602
Related issue even if the options were to disappear: https://github.com/airbytehq/airbyte/issues/9618

[2022-01-21 10:37] VasylLazebnyk opened #9690 "[EPIC] GA & Beta Connector Research"

[2022-01-21 11:13] #9690 closed

[2022-01-21 12:00] makalaaneesh opened #9692 "Documentation bug: Both onboarding videos point to the same video"
### Tell us about the documentation you'd like us to add or update.
Hi! In the onboarding section on the airbyte webapp, both the video buttons point to the same video (demo of salesforce->snowflake integration).

![image](https://user-images.githubusercontent.com/6829754/150523582-3335fbea-f1e3-411c-9064-5b128e6e2b33.png)

[2022-01-21 12:16] rnagy90 opened #9693 "Support for docker run's "--add-host" argument"
It would be nice, to add additional host for the containers started by the `airbyte-worker`.
Because you are not able to "hack" this argument in the `DOCKER_NETWORK` environment variable after the network name, it's a little tricky to reach applications running on the host machine.
The most common suggestion is to add the well known "magic" domain to the container's **/etc/hosts** file like this:

[2022-01-21 13:07] bazarnov commented on #8633
@sherifnada I'm stuck on the testing, waiting for new Release of OSS, current one `v0.35.6-aplha` does not include the latest commits, such as this: https://github.com/airbytehq/airbyte/pull/9691, without it I cannot go forward.
My question here, can we somehow modify the existing pre-release of `0.35.6-aplha` package to include https://github.com/airbytehq/airbyte/pull/9691 ? Or we should wait un

[2022-01-21 13:58] ChristopheDuong commented on #6732
This exception comes from the destination-bigquery:
[code]

The official docs from Google BigQuery says:

    Unquoted identifiers must begin with a letter or an underscore character. Subsequent characters can be letters, numbers, or underscores
    These are invalid identifiers:
    5Customers

https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical

That's why it was implemented to

[2022-01-21 14:59] ycherniaiev commented on #9680
Please see research here https://docs.google.com/document/d/1oUCKelveKttE3ZK5lqtuYtS1Yooc0yM_94DYm8I6Sn8/edit

[2022-01-21 15:21] sashaNeshcheret commented on #2491
@misteryeo agree with you proposition, i updated our solution, please, confirm it.

[2022-01-21 16:14] keu opened #9697 "CDK: Fix dependency binding in CDK and connectors"
## Tell us about the problem you're trying to solve
The problem:
CDK is used in multiple connectors and often conflicts with the concrete versions of 3rd party packages.
Currently, to solve this we relax version requirements in the connector's `setup.py`. But this lead to a bigger problem - the version of the connector is not bonded to specific dependencies and two builds of the same version could

[2022-01-21 16:24] israel-caylent opened #9698 "Source PostgreSQL to S3 - Failed to convert JSON to Avro"
## Environment
- **Airbyte version**:  0.35.0-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: airbyte/source-postgres 0.4.2
- **Destination Connector and version**: airbyte/destination-s3 0.2.5
- **Severity**: High
- **Step where error happened**: Upgrade Airbyte / Run Connection

## Current Behavior
After upgrading the version of Airbyte fro

[2022-01-21 17:33] #9640 closed

[2022-01-21 19:48] marcosmarxm opened #9702 "Source Chargebee: add new streams `coupon`, `event` and `transaction`"
## Tell us about the problem you're trying to solve
Add streams not supported to Chargebee connector.

## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to see

## Describe the alternative you’ve considered or used
A clear and concise description of any alternative solutions or features you've considered or are using to

[2022-01-21 20:26] ycherniaiev commented on #4648
@marcosmarxm resolved

[2022-01-21 20:51] TMFRook commented on #4034
Is this still actually in progress? FWIW I observed the communication between Airflow and my Postgres db is encrypted.

[2022-01-21 20:56] TMFRook commented on #4320
Does this mean that these fields in the MySQL connector setup page don't actually do anything?

![image](https://user-images.githubusercontent.com/68116003/150598938-503170a8-91ec-4ff2-9b16-f2eeca114b82.png)

[2022-01-21 20:57] TMFRook commented on #4034
Just to be clear, SSL is implemented for Postgres, right? Just that these options can't be used.

[2022-01-21 21:01] #7098 closed

[2022-01-21 21:59] sean-mckeever commented on #1936
To make sure duplicative work doesn't happen, I am biting off a very small chunk of this. My plan is to add one new stream (for now) called List Members, which is mentioned in the original request. I need this specific stream for a use case at my company.

It's my first attempt at doing any airbyte development so fingers crossed I can actually make it happen!

[2022-01-21 23:24] jrhizor commented on #9629
@pmossman Would it make sense to use `Hashing.murmur3_128()` and `hashCode.asLong()` instead of `hashCode.hashCode()` to just decrease the chance of collision?

[2022-01-21 23:29] marcosmarxm opened #9709 "Source Tiktok: data type error for `mobile_app_id` field in ads_reports_metrics and ad_groups_reports_metrics"
## Environment
- OS Version / Instance: Ubuntu 20.04
- Machine type: e2-standard-8 ( 8 CPU )
- Memory / Disk: 16Gb / 100 GB ssd
- Deployment: Docker
- Airbyte Version: 0.35.1-alpha
- Source name/version: airbyte/source-tiktok-marketing:0.1.3
- Destination name/version: airbyte/destination-bigquery:0.6.5

## Current Behavior
Two tables from tiktok_ads are getting invalid field type, those are: ads_

[2022-01-22 00:28] pmossman commented on #9629
@jrhizor I'm currently generating state hashcodes like so:

[code]

I just checked the logs that Marcos attached and see that the destination emitted two state messages with duplicate data:
[code]

If a destination emits duplicate state like this, we can't reliably compute committed record counts, right?

[2022-01-22 00:38] lmossman opened #9710 "Push Orb requests to Datadog and add alerting for exceptions"
## Tell us about the problem you're trying to solve
See tech spec for context on the billing vendor project: https://docs.google.com/document/d/1WLr7Leaj5Iyy5bBEjr1TGhNL8HhSB_evbM_psEwKyAI/edit#heading=h.fa72b39y2m99

As Orb is a fairly new product, we have taken steps to protect ourselves from any downtime in the Orb API, e.g. [caching responses](https://github.com/airbytehq/airbyte-cloud/pull/87

[2022-01-22 04:24] sherifnada commented on #4320
nope just means this issue is a duplicate :) closing

[2022-01-22 04:24] #4320 closed

[2022-01-22 07:31] jrhizor opened #9711 "add connector release stage labels"
We need to display alpha and beta labels for connectors so that users can understand the expected quality of a given connector.

In progress: [Mockups](https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=30018%3A144700)

[2022-01-22 07:41] jrhizor commented on #9711
@misteryeo Can we select a version of the mockup by Monday or Tuesday?

@sherifnada, a few questions:
1. Will we expose the alpha and beta labels for connectors on both OSS and Cloud? I assume yes, just wanted to confirm.
2. How will connectors specify release stage versions? I looked through the [release stages doc](https://docs.google.com/document/d/1mhjhskjIkACLp9jsMmOly_mN1FkpxW7-8FPb2J-J3vQ/e

[2022-01-22 08:00] jrhizor opened #9712 "require acknowledgement of terms when using alpha or beta connectors"
We need to add in-app acknowledge of terms prior to using alpha or beta connectors. If I understand correctly, all connectors will show in the drop down, but clicking on one of the alpha/beta connectors will trigger some sort of display which requires confirming some terms.

[2022-01-22 08:02] jrhizor commented on #9712
@misteryeo
1. Can you confirm that this issue covers both "Alpha Connector Access" and "Alpha Beta In-app Terms" from [your spreadsheet](https://docs.google.com/spreadsheets/d/12KARzawjbPrLYsQMDIYrwWqtVhMtgFazw45aPrgGxbI/edit#gid=0)?
2. When will we have a mockup for this?

[2022-01-22 15:32] EDjur commented on #4233
Hi @jrhizor !

I just deployed in GKE and noticed that a lot of operations are a lot slower than on my laptop just using docker-compose.

As you say, it looks like a lot of the time is wasted on PodInitializing state (due to some checks?).

Do you know if there is any progress on this?

[2022-01-22 16:51] aadityasinha-dotcom commented on #8710
Can I work on this issue?

[2022-01-22 21:09] cgardens opened #9714 "Stop billing cron from reporting to segment on dev and staging"
cloud issue: https://github.com/airbytehq/airbyte-cloud/issues/880

[2022-01-22 21:48] noahkawasakigoogle commented on #9711
I filed this recently because I noticed the same issue https://github.com/airbytehq/airbyte/issues/9606

Adding this would help make a lot of grade-based automations possible, both in the product but also for quality assurance purposes based on the connector's "stage".

[2022-01-22 23:30] cgardens opened #9715 "Auto-disable failing connections"
## Tell us about the problem you're trying to solve
If a connection is failing, Airbyte should automatically stop retrying at some point to avoid wasting resources. We will start with the following rule: Disable a sync if it has 14 days of straight failures OR 100 failures in a row, whichever comes first. The goal with the rule is handle syncs with a long period.

So a constant failing 5 minute sy

[2022-01-23 04:18] keu opened #9717 "SAT: refactor `JsonSchemaHelper.validate_variant_paths`"
## Tell us about the problem you're trying to solve
Current implementation inject test asserts outside of the test into the service layer.
When we write a test we should follow simple rules:
1. put all asserts inside the test functions
2. never put business logic outside the test (i.e. into service/util layer)
3. make the test as simple as possible, avoid duplication with simple preprocessing util

[2022-01-23 05:45] keu opened #9718 "SAT: Introduce new way to compare records based on PK"
## Tell us about the problem you're trying to solve
Incremental and full refresh tests currently assume that records remain unchanged in streams during the test. This is **false** in many cases and is **not** what we should test. Instead, SAT should use PKs and compare records only based on PKs when it is possible.

## Describe the solution you’d like
At least full refresh test should compare reco

[2022-01-23 16:01] keu opened #9722 "CDK: Deprecate `AirbyteLogger` class and update method signatures"
## Tell us about the problem you're trying to solve
CDK should standard logger system explicitly.

## Describe the solution you’d like
instead passing logger in methods use logger instace from module scope.
[code]

[2022-01-23 16:09] keu opened #9723 "CDK: Add support for streams with state attribute (state v2)"
## Tell us about the problem you're trying to solve
Facebook Marketing is a good example of why the state should be an explicit attribute of the stream.
An incremental stream is a cursor slicing through the remote data, **it is wrong to assume that the state (cursor position) depends only on the latest record that we read**. Therefore we should use explicit state get and set constructions (the ver

[2022-01-23 16:18] sajid-r commented on #8752
Thanks for the fix @VitaliiMaltsev , this was a blocker for us.
But, discovery fails eventually, with user(s) that have all permissions to a collection and `listCollections` permission for the DB. Does it require any additional DB permissions?

Error:

[2022-01-23 18:08] #8271 closed

[2022-01-23 19:12] misteryeo commented on #2491
@sashaNeshcheret LGTM!

[2022-01-23 21:24] #9257 closed

[2022-01-24 04:11] sitepodmatt commented on #9118
We're also seeing this. NOT NULL fields, it works for a few hours (varies after each reset), then we get error. I'll try smartpierre's suggestion

[2022-01-24 04:14] tuliren commented on #6063
@andriikorotkov, was a previous comment deleted? Although folders are not supported in Azure, the object path can have `/` in it so that it looks like a traditional path.

[2022-01-24 04:45] tuliren commented on #9532
Survey of existing mock Json object generation libraries:
https://docs.google.com/document/d/1_j7-AJ5R0Z-cpABQeuaKTd7IAkgwAvRzbZCbzpL3AyI/edit?usp=sharing

Only one library turned out to be usable. But fortunately it worked.

[2022-01-24 04:54] hitk6 opened #9726 "Please Provide scram-sha-512 authentication support for kafka."
I am using airbyte to send data to kafka cluster but in airbyte there is no option of scram-sha-512 authentication with SASL_SSL.
Currently, airbyte only supports scram-sha-216 authentication with SASL_SSL.

[2022-01-24 05:09] #9532 closed

[2022-01-24 05:37] harshithmullapudi opened #9727 "Destination Firestore: we don't have a documentaion on it"
### Tell us about the documentation you'd like us to add or update.
https://docs.airbyte.com/integrations/destinations/google-firestore this link is empty.

[2022-01-24 06:09] jrhizor commented on #4233
@davinchia has actually been investigating this in depth the last couple weeks. We expect to get most check operations to something more comparable with the docker-compose versions in the next week or two (probably with just a few seconds of additional overhead).

[2022-01-24 07:30] jrhizor opened #9728 "remove default settings for namespace mapping"
Remove the default settings for namespace mappings for connection settings, so the user needs to deliberately pick one and know where the data is output.

[2022-01-24 07:35] jrhizor opened #9729 "connection configuration redesign"
Placeholder for WIP project to improve the ease of use of our connection configuration pages.

[2022-01-24 07:37] jrhizor opened #9730 "remove red "needs update" dots next to connectors on cloud"
Cloud users don't need to actively upgrade their connector versions, so the settings UI should not show the indicators that the connectors need updating in Cloud.

[2022-01-24 07:39] jrhizor opened #9731 "fix "sources are tools..." copy during onboarding"
The onboarding flow has incorrect copy at various steps referencing sources instead of destinations. Every onboarding step says "Sources are tools" underneath.

[2022-01-24 07:42] jrhizor commented on #7985
Specifically, the goal on Cloud should be for the onboarding workflow for a new workspace to appear as quickly as possible. Are there any low-hanging fruit for speeding this up?

[2022-01-24 07:46] jrhizor opened #9732 "cancel check connection"
A common pattern in cloud is that someone tries to set up a connector and starts the check. Then all of a sudden they notice that they entered in a value incorrectly and want to fix it. However, it's too late! They're stuck in a several second operation to check the connection. Ideally we could allow them to cancel this check and go back to editing the form immediately.

@Jamakase please let me kn

[2022-01-24 07:50] pjleiwa6g commented on #9467
@noahkawasakigoogle I see you added an option to enter additional jdbc parameters. Very nice. In my original story I was looking to set the query_tag. In the Snowflake documentation I don't see query_tag as one of the jdbc params [https://docs.snowflake.com/en/user-guide/jdbc-parameters.html](url) . Did you tested it for this specific setting?

[2022-01-24 07:53] jrhizor opened #9733 "set "Every 24 hours" as the default sync frequency"
It's very common for new users to set up the connection settings and fail when they don't enter in a sync frequency. It's kind of difficult to figure out what field isn't correct.

[2022-01-24 07:53] jrhizor commented on #9733
@misteryeo I know in the spreadsheet thread you originally mentioned defaulting this to manual, but I believe it would make more sense to default this to every 24hr since 1) it will start the users first sync right away automatically 2) reading "every 24 hours" instantly makes a user think of schedules vs "manual" and 3) it encourages a user to get the value of regular updates. Please let me know

[2022-01-24 07:55] jrhizor opened #9734 "temporarily hide role selection in cloud"
Users can only give admin rights to any user in the account, and do not see value in seeing the "Role" selection on user creation.

This is temporary since eventually we will offer other roles for the user.

[2022-01-24 07:58] jrhizor opened #9735 "adjustable column widths for source stream names"
It's very difficult for users to understand stream names (for example in the Facebook source) due to long stream names and prefixes that obfuscate the differences.

Ideally the user could stretch the prefix section out, or we could make sure that the whole stream names are shown at all times.

Blocked on design for this.

[2022-01-24 07:58] jrhizor commented on #9735
@Jamakase is this something easy to do or should we get mockups for this?

[2022-01-24 07:59] jrhizor commented on #9735
Actually this is a duplicate of https://github.com/airbytehq/airbyte/issues/8106

[2022-01-24 07:59] #9735 closed

[2022-01-24 08:01] jrhizor opened #9736 "standalone connector catalog in the UI"
Representing our connectors in-app in a visual way that makes improves discoverability and increases real estate to include more information about each given connector. Mock ups [here](https://www.figma.com/file/etaOkOsnXMoKwbfhCD71kw/Web-app?node-id=29958%3A127349).

[2022-01-24 08:02] jrhizor commented on #9736
@sherifnada we will need a way to share the information necessary for a catalog from connectors (most likely with something similar to how we load the docs in the UI).

[2022-01-24 08:05] jrhizor opened #9737 "allow adding names for connections in the UI"
Ability to add names to Connections to differentiate them, especially if the source-destination pair is identical except for the selected tables or the sync time.

The backend allows configuring names for syncs, and we should also allow configuring this in the UI + showing it on the connections view as a column.

[2022-01-24 08:10] jrhizor opened #9738 "preserve unselected streams in the configured catalog"
We should retain all of the streams in the source catalog instead of only keeping the selected streams. Currently, it isn't easy for someone updating a connection to just select some streams they didn't select before. They have to go through the full discovery process again just to toggle some streams when the fact that those streams existed was already known in the past.

[2022-01-24 08:10] jrhizor commented on #9738
@cgardens fyi.

This may be a good quick win or a good second project for a new hire.

[2022-01-24 08:12] EDjur commented on #4233
Oh that's excellent news! Thank you both!

[2022-01-24 08:14] jrhizor opened #9739 "improve credit usage display"
1. There's an error on the y-axis for the UI (overlapping labels / incorrect spacing)
2. Show how many credits have been purchased.
3. Tell the user how many credits they've used on a specific date.

From @nataliekwong:
[code]

From @erica-airbyte:
[code]

[2022-01-24 08:17] jrhizor opened #9740 "move connector settings onto main source/destination pages"
Everyone is always confused looking at source/destination pages because they look very similar to all of the other pages. You don't actually know anything about your connector except the name and what it's connected to, when 90% of the time people just want what's hidden on the settings page.

[2022-01-24 08:19] jrhizor opened #9741 "put the cloud webapp behind a CDN"

[2022-01-24 08:19] jrhizor commented on #9741
@davinchia Who should I have @Jamakase talk to on the infra side to make sure this gets out?

[2022-01-24 08:41] timroes commented on #9599
Looked into this. This is unfortunately not that easy at the moment. The `pull_request` trigger which allows outside PRs to need approval from a collaborator (someone with write access to the repo), does even after approval when running not inject `secrets` into the actions, which are required to properly run everything. The `pull_request_target` trigger, does inject secrets, and we could still fi

[2022-01-24 09:24] VitaliiMaltsev commented on #8752
@sajid-r if you want fetch authorized collections only user should not have _listCollections_ permission for the DB. For this user need to have **find** permissions at the collection level.

For example
`db.createRole(
   {
     role: "readrole",
     privileges: [
       { resource: { db: "customDB", collection: "test1" }, actions: [ "find" ] },
       { resource: { db: "customDB", collection: "t

[2022-01-24 11:18] timroes opened #9747 "Use logged in user information to identify in Fullstory"
We should use the [`identify` API](https://developer.fullstory.com/identify) in Fullstory to pass on information about the actual signed in user, similar to what we do with [segment](https://github.com/airbytehq/airbyte/blob/master/airbyte-webapp/src/core/analytics/AnalyticsService.ts#L27). We should ideally pass in most of the information we have on the [`user`](https://github.com/airbytehq/airby

[2022-01-24 12:52] bazarnov commented on #9217
blocked by #8791

[2022-01-24 13:18] bazarnov commented on #8633
@sherifnada

There is an error with Airbyte-Cloud deploy on `v0.35.7-alpha` release.

The error while `connection_check` is happening (both: OAuth2.0 and API Key) on Airbyte Cloud (dev-1 currently https://dev-1-cloud.airbyte.io/ instance is active, try it).
Check the image attached bellow. Traceback is also available. It happens for all source & destination connectors. Need advice.
### OSS Version

[2022-01-24 13:25] timroes opened #9748 "Handle opening email verification link on different device/browser"
Currently you need to open the email verification link you get sent, on the same device and browser that you started the registration. If you try opening it on another device/browser it will be stuck in an infinite loading state without any error message:

![](https://user-images.githubusercontent.com/877229/150790503-bbb18223-0e7b-4052-8e98-3bb617e31519.png)

I think we should handle that better: