[2022-09-06 20:08] tealjulia commented on #16092
That makes sense!  In this particular context I was thinking about Sources that have a source-defined primary key/cursor field, not when a user changes it in the UI.

[2022-09-06 20:13] ryankfu opened #16377 "Propagate SQL Error Messages to UI"
## Tell us about the problem you're trying to solve
Currently there's not great visibility when a connection fails due to user error. Allow a better way to propagate the `Exception`s that can occur to the UI for better debugging

## Describe the solution you’d like
Create a new error message factory that bubbles any errors that occur when connecting to the database

## Describe the alternative you

[2022-09-06 21:00] tealjulia commented on #16368
I think we need to map out when we should be reading from `config` (what the user has defined and saved to the db) versus `stream`.  I don't _think_ it's all one or the other.

I propose we move this work after #15603 (the service refactor), but I don't think there's harm in doing it in tandem with #15606 (the form refactor) as they shouldn't affect each other.

[2022-09-06 21:06] tealjulia opened #16379 "Don't allow users to sync a disabled connection"
There are currently multiple places in the UI that users can trigger a sync on a disabled connection.  They should not be allowed to.

![Screen Shot 2022-09-06 at 5.01.39 PM.png](https://images.zenhubusercontent.com/6269740067dc6b70dd128801/b798d804-fceb-41dc-a50d-0ac795bbffb7
)

- There should not be a "launch" button (or it should be disabled) on the `/connections` screen for a disabled connecti

[2022-09-06 21:06] octavia-squidington-iii commented on #16379
cc @airbytehq/frontend

[2022-09-06 21:08] tealjulia opened #16380 "Users can trigger a sync on a disabled connection"
Currently, users can trigger a sync (both a regular sync and a reset) on a disabled connection.

#16379 is tracking the removal of this option from the UI, but the Platform should not allow it either (presumably users could still trigger it via the API).

[2022-09-06 21:12] tealjulia commented on #16380
Up for discussion: Should `refresh source schema` be allowable on a disabled connection?

We currently run a `reset` sync on changed streams after a `refresh`... if we still allow `refresh source schema` on an `inactive` connection, we could end up in a weird state.  I'm wondering if platform know it should run a `reset` if that refreshed connection is re-activated and then saved later?

[2022-09-06 21:43] #15145 closed

[2022-09-06 21:45] brianjlai opened #16381 "[low-code cdk] Cannot generate JSON schema for fields with nested data structures"
To generate the language schema for the declarative framework, we use a third party library called [dataclasses-jsonschema](https://github.com/s-knibbs/dataclasses-jsonschema). This originally worked fine for version `2.15.1`, but in the latest version `2.15.2` released on 9/1/22, we started seeing CI test failures related to schema validation.

[2022-09-06 21:46] girarda opened #16382 "SAT: Assert presence of airbyte_secret fields in spec"
## Tell us about the problem you're trying to solve
Connector specs often (almost always) include fields which contain sensitive information such as passwords and API tokens.
These fields can be marked as secrets by setting the `airbyte_secret` property to true. ([See example](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml#L24

[2022-09-06 21:51] marcosmarxm commented on #16367
*Comment made from Zendesk by Marcos Marx on 2022-09-06 at 21:32:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I will follow up on Github then, thanks <a href="/u/sajarin" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@sajarin</a>!</p>

 [<a href="https://discuss.airbyte.io/t/source-zendesk-support-negative-ids-integers-for-zendesk-support-con

[2022-09-06 22:02] #16187 closed

[2022-09-06 22:08] girarda opened #16383 "Documentation: Mention that spec fields with sensitive information must be marked as `airbyte_secret` in connector building tutorials"
## Tell us about the problem you're trying to solve
Connector specs often (almost always) include fields which contain sensitive information such as passwords and API tokens.
These fields can be marked as secrets by setting the `airbyte_secret` property to true. ([See example](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml#L24

[2022-09-06 22:29] evantahler commented on #16380
From @benmoriceau

[2022-09-06 22:36] #12864 closed

[2022-09-06 23:14] evantahler commented on #16380
I re-wrote the title to make the desired outcome clearer

[2022-09-06 23:49] girarda opened #16386 "Verify connector spec fields with sensitive information are marked as secrets as part of certification process"
## Tell us about the problem you're trying to solve
We should verify that that fields with sensitive information are marked as `airbyte_secret` in the spec as part of the certification process to ensure we don't accidentally leak secrets.

## Describe the solution you’d like
We should add a step to the alpha certification process to ensure none of our connectors accidentally leak secrets.

[2022-09-07 00:09] YowanR commented on #16386
@igrankova @ycherniaiev Can you handle this, please? This needs to be in the criteria in both the alpha checklist and the beta checklist.
@lazebnyi @YuliiaNahoha Can you also make sure that we handle this as part of the GA certification effort coming up?

[2022-09-07 01:25] grishick commented on #8890
@DoNotPanicUA @davinchia @evantahler I think this is a perfect use case for a perf test that should be run periodically to catch regressions. I think the right approach here would be to:

1. Save a data set in S3/GCP as a db dump that can be loaded into MySQL
2. create a GH action that spins up a MySQL DB, loads the dataset into it, runs the E2E tool, saves the results in GCS or S3 and emails them

[2022-09-07 01:37] grishick commented on #16301
Based on this doc, all access to S3 on AWS is with TLS: https://docs.aws.amazon.com/AmazonS3/latest/userguide/network-isolation.html

[2022-09-07 01:43] grishick commented on #13311
@DoNotPanicUA could you please list the Python destinations with Java integration tests in this issue?

[2022-09-07 01:51] grishick commented on #13912
@subodh1810 builds should be OK now

[2022-09-07 01:58] duytp opened #16388 "Source MSSQL: Ability to sync addition properties in CDC tables - $seqval columns"
## Tell us about the problem you're trying to solve
I try to replicate the MSSQL to S3.
The de-duplicate processing will be done in S3 layers.

In some cases, there are some records that have the same LSN number with different operations.
In MSSQL CDC tables, there is a column that show the sequences of the transaction. It's: __$seqval

But this column is excluded from the sync process from MSSQL

[2022-09-07 05:02] nauxliu commented on #15509
I'm surprised that The Stripe Connector is in the GA stage without the support for syncing modified objects.

[2022-09-07 06:41] DoNotPanicUA commented on #8890
@grishick
small input from my side.
We are currently developing a docker version of the E2E tool and the integration with GH actions. So, right now, we can focus on the dataset preparation, etc.
Then we can easily configure a GH action with the latest version.

[2022-09-07 07:04] raismartup commented on #16269
Hello again.
Thanks for your reply.

Correct , Airbyte already has Google Analytics API support available but it is focused on acquisition data, not multichannel funnels.
**https://developers.google.com/analytics/devguides/reporting/core/v4/quickstart/service-java**
**https://ga-dev-tools.web.app/dimensions-metrics-explorer/**

usually you can recognise the dimensions and metrics returned by this

[2022-09-07 07:07] igrankova commented on #7646
Reopend by the request from Saj Dider to reactivate sandbox account (expired trial period)

[2022-09-07 08:07] mrhallak commented on #11595
@sherifnada We are currently facing this issue with company_segments taking at least 12 hours

[2022-09-07 08:41] #16174 closed

[2022-09-07 09:47] alafanechere commented on #16341
@marcelopio @JackTheMico , if the root cause is indeed an unreachable source the following issue should help provide a better error message: https://github.com/airbytehq/airbyte/issues/12697

[2022-09-07 10:37] alexandr-shegeda commented on #16219
@grishick @timroes published and merged the fix

[2022-09-07 10:37] #16219 closed

[2022-09-07 11:02] sashaNeshcheret commented on #15146
I was only able to reproduce this issue just when making sync with normalization, without normalization - select permissions on table remain after full refresh and override syncs.
@grishick as far as root cause of issue is on normalization side, should i proceed with it, or better move it on airbyte or python team?

[2022-09-07 11:10] inondavidw commented on #12532
We lately integrated airbyte to our DC and we have the **same** issue, what is the status of this topic? can we help somehow?

[2022-09-07 11:32] marcosmarxm commented on #8473
*Comment made from Zendesk by Marcos Marx on 2022-09-07 at 11:31:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">our work around is to export raw json and then flatten it and extract what we want in Snowflake</p>

 [<a href="https://discuss.airbyte.io/t/normalization-error-and-final-table-not-created-with-jira-to-redshift/2290/7" rel="noreferrer">Discourse post</a>]</div></blockquo

[2022-09-07 11:49] etsybaev commented on #10724
Linking doesn't work, so adding link to PR as a comment
https://github.com/airbytehq/airbyte/pull/16394

[2022-09-07 12:23] bazarnov commented on #15806
Done in https://github.com/airbytehq/airbyte/pull/15741

[2022-09-07 12:23] #15806 closed

[2022-09-07 12:26] #14293 closed

[2022-09-07 12:27] #15530 closed

[2022-09-07 12:38] arsenlosenko opened #16395 "Source Pinterest: unit tests for Java OAuth flow"
Unit tests for the Java implementation of OAuth flow are required, currently the implementation of tests is done in scope of PR linked below:
https://github.com/airbytehq/airbyte/pull/16393

[2022-09-07 13:01] marcelopio commented on #16341
Hmm, I think it is a different issue. Here we already have a connection and we are importing. I don't think we should run a check. I think we should trust that everything was good to begin with, as the user went through the process on the UI.

And the problem is that we try to parse the response from `/v1/sources/discover_schema` without checking if the job was successful. That job could fail for

[2022-09-07 13:13] grubberr commented on #15540
I have deploied version `airbyte/source-google-ads:0.1.45` on cloud
this version improves validation and allows
[code]
to be empty string
but because validation happens on java side too
for current connections it can still fail
we need to re-setup connection

[2022-09-07 13:35] edmundito opened #16396 "Group connector form fields by cards"
Update the connector form to group certain form fields into cards.

![image.png](https://images.zenhubusercontent.com/55f362704f7a08fbb7f4d9d8/b5bf0a76-c52b-4376-884b-5fa423e1e176)

This change requires a change on how the connectors are configured in order for the frontend to understand how to group the fields together.

Design: https://www.figma.com/file/mFVUWYYjDm5zz6FFx8hTP6/FORMS-FIELDS

[2022-09-07 13:35] octavia-squidington-iii commented on #16396
cc @airbytehq/frontend

[2022-09-07 13:37] edmundito commented on #6448
@matter-q I tried looking into this issue but one of the challenging things is when dropdowns are inside elements that are set to `overflow: auto`. For example, the dropdowns in the connection streams table because the streams table has a max height set.

Maybe some of these issues could be resolved with #15653

[2022-09-07 13:42] edmundito opened #16397 "Update design of SingletonCard component, rename to `Toast`"
The `SingletonCard` is the component that is used to show the notification at the bottom of the screen but it needs a design refresh. Once the design is ready, this component should be updated. This component is also commonly known in other design systems as `Toast`, so it should be renamed.

## TODO
- [ ] Design

[2022-09-07 13:42] octavia-squidington-iii commented on #16397
cc @airbytehq/frontend

[2022-09-07 13:46] matter-q commented on #6448
@edmundito Thanks for the information. I have some thoughts to resolve this issue

[2022-09-07 13:50] jscottpolevault commented on #15986
Is this something the Airbyte team is planning to fix? Or do I need to get in there?

[2022-09-07 15:42] supertopher commented on #12514
@grishick can we close yours?  I think we are pretty close to actually starting this work.  We have already done some work to at least fail quickly

[2022-09-07 15:50] #10724 closed

[2022-09-07 15:56] davydov-d commented on #4842
https://github.com/airbytehq/airbyte/pull/16400
could not link the PR in a proper input field

[2022-09-07 16:04] tuliren commented on #16265
@davinchia, FYI.

[2022-09-07 16:28] #12812 closed

[2022-09-07 17:15] marcosmarxm commented on #8473
*Comment made from Zendesk by Nataly Merezhuk on 2022-09-07 at 17:15:*

<blockquote><div class="zd-comment" dir="auto">Thanks for bringing that work around to our attention, @ndavies-om1!<br></div></blockquote>

[2022-09-07 17:23] grishick commented on #15157
The first step here is to create an E2E test scenario with Postgres Source and any GA destination (e.g., pick one GA destination) with a source data set that has various arrays. The goal of the test is to confirm if (and which) source arrays will break syncs with Postgres Source.

[2022-09-07 17:26] natalyjazzviolin commented on #16269
@raismartup thank you so much for the write up and sorry I missed that detail!

[2022-09-07 17:36] lmossman commented on #15448
During grooming, we discussed adding some placeholder text here when the source is using a source-defined cursor to track incremental state but doesn't have any cursor fields listed.

For example, here is a snippet of the get connection response for a stream in a CDC source:
[code]
In this case, `sourceDefinedCursor` is `true`, but `defaultCursorField` is an empty array, which means the source is

[2022-09-07 17:51] grishick commented on #14770
Notes from grooming: until normalization runs, the data is not useful for the customer. For destinations, checkpointing will not improve "time to value" for customers, but will improve durability (some data written in case of a crash). However, there is still incremental value in flushing data based on time or volume before the end of the sync - this will help long running jobs that fail before lo

[2022-09-07 17:58] grishick commented on #14770
Converted this to Epic:
@grishick TODO: create individual tickets for destinations

[2022-09-07 18:21] nauxliu opened #16402 "Source Mailgun: Missing documentation"
The document for Mailgun is not showing, https://docs.airbyte.com/integrations/sources/mailgun

[2022-09-07 18:40] krishnaglick commented on #16218
Is the goal to branch off of master and make these changes ourselves so CI runs?

[2022-09-07 18:52] evantahler opened #16405 "Do not try to stop a connector if it already crashed"

[2022-09-07 19:08] akashkmr27089 commented on #16358
Hi @sajarin, can i take up this task.

[2022-09-07 19:23] ypc-faros opened #16406 "Upgrade json-schema-validator"
At the time of writing, Airbyte is using version [1.0.42](https://github.com/airbytehq/airbyte/blob/master/airbyte-json-validation/build.gradle#L6) which is 2+ years old.

I currently have a spec which contains a pretty large `oneOf` (~30 subschemas) and I'm being affected by [this bug](https://github.com/networknt/json-schema-validator/pull/361) in the json-schema-validator library.

[2022-09-07 20:02] davinchia commented on #16265
Thanks Liren!

[2022-09-07 20:08] rengler-noodle opened #16408 "Source Iterable: API key type no longer valid"
## Environment
- **Airbyte version**: 0.38.2-alpha
- **Deployment**: Docker
- **Source Connector and version**: source-iterable 0.1.17
- **Step where error happened**: sync job

## Current Behavior
Iterable no longer has an api key type called "standard". [See their docs](https://support.iterable.com/hc/en-us/articles/360043464871-API-Keys-). The only types they offer now are:

- Read-only
- Serve

[2022-09-07 20:12] natalyjazzviolin commented on #16402
@nauxliu thank you for bringing this to our attention! It looks like the doc for the Mailgun connector has not been written yet.

[2022-09-07 21:06] davinchia commented on #8890
@grishick Approach sounds sane to me.

Some thoughts:
1) instead of emailing we can do slack.
2) we can eventually reuse this dump for more than just mysql.

Sounds like we should wait for the E2E testing tool to be ready as per @DoNotPanicUA's comment to leverage that work.

[2022-09-07 21:29] midavadim commented on #14446
Problem description: custom query is converted to the one which can be fixed for incremental sync.

Source modify custom query by adding:
1. 'segments.date' columns
2. additional WHERE conditions: "segments.date BETWEEN '{start_date}' AND '{end_date}"

Example from customer:

CUSTOM QUERY:
SELECT geo_target_constant.country_code, geo_target_constant.id FROM geo_target_constant

FINAL QUERY (after

[2022-09-07 21:29] snikch opened #16412 "Destination Redshift: CONCAT() result too long for type varchar(65535)"
## Environment
- **Airbyte version**:   0.39.14-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Kubernetes (Plural)
- **Source Connector and version** [airbyte/source-freshdesk](https://docs.airbyte.io/integrations/sources/freshdesk) 0.3.3
- **Destination Connector and version**: airbyte/destination-redshift 0.3.49
- **Step where error happened**: Deploy / Sync job / Setup new connect

[2022-09-07 21:30] RyanMcCarthy852 opened #16413 "imagePullSecret nindent error?"
## Environment
- **Airbyte version**:  0.40.3
- **Airbyte charts version**: 0.45.1
- **OS Version / Instance**: Windows 10
- **Deployment**: OpenShift
- **Step where error happened**: Deploy

## Current Behavior
Fails to deploy with the following in values.yaml:
[code]
due to yaml parsing error I think stemming from [webapp deployment.yaml](https://github.com/airbytehq/airbyte/blob/master/charts/a

[2022-09-07 21:50] grishick commented on #8890
@DoNotPanicUA that's great.

@davinchia I agree that Slack is better.

Yes, I think we should let the GL team make the E2E tool into a docker container, create a GH action, figure out how to spin up a external resources, such as a source or a destination database instance, figure out how to load test datasets and then we can have repeatable runs for data sets of various sizes and complexities.

[2022-09-07 21:52] davinchia commented on #8890
Great! Very excited!

@supertopher @git-phu @cpdeethree are around for any infra/tooling requests!

[2022-09-07 22:47] #15977 closed

[2022-09-07 23:01] YowanR commented on #14607
Are we tackling this in this sprint? @midavadim @lazebnyi

[2022-09-07 23:01] YowanR commented on #13417
Low-pri -- moving to Icebox for now

[2022-09-07 23:05] YowanR commented on #8387
@heinhofman Any updates on this one? If not, we should move to close this.

[2022-09-07 23:09] blake-enyart commented on #7749
@cgardens are there any updates on progress on this issue? Is this coming in tandem with the per-stream sync update or afterwards?

[2022-09-07 23:18] evantahler opened #16417 "Not all Source messages should be sent to the Destination"
Consider this code within the Replication Worker:

https://github.com/airbytehq/airbyte/blob/d8567310297eb685fe0b81d4721393af82cfb851/airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java#L334-L343

I /think/ this means that all messages the worker receives from the source are then passed on to the destination.  However, only RECORD and STATE messages should be sen

[2022-09-07 23:57] #10438 closed

[2022-09-08 00:09] grishick opened #16419 "client_secret field is not marked as airbyte_secret in Source Looker"
Source Looker spec:

[code]

`client_secret` should be marked as `airbyte_secret`

[2022-09-08 00:13] grishick opened #16420 "password field is not marked as secret in RabbitMQ Destination"
Current spec.json :
[code]

`password` should be `airbyte_secret`

[2022-09-08 00:19] grishick opened #16421 "Elastic Search destination should not allow "none" auth method in Airbyte Cloud"
It is currently possible to set up ES destination with authentication method = "none". This should not be allowed in Airbyte Cloud as it exposes publicly exploitable ES installations.

[2022-09-08 01:09] sherifnada commented on #16419
cc @YowanR

[2022-09-08 01:14] evantahler commented on #14770
Let me know if you want to talk more about why `time` was chosen to be the checkpointing threshold - [the PRD has the reasoning](https://docs.google.com/document/d/1n9grVSwCmRPiQc6JD53z4mBX9VwY_WXuR3daU5kNVlY/edit?pli=1#heading=h.agrxfsjj7zsy).  Regardless of if the user can "use" the data because it's normalized or not, checkpointing is all about not needing to spend the *time* re-syncing data we

[2022-09-08 02:45] JackTheMico commented on #16341
I tried `/v1/sources/discover_schema` on the Github source and here's the response:
[code]
It failed due to some misconfiguration of the source.
But for octavia-cli, I think it shouldn't break the whole `import all` procedure because of users misconfiguration on sources or destinations.
So yeah, I'd say it's necessary to check if `/v1/sources/discover_schema` was successed or not before try to par

[2022-09-08 04:50] terencecho opened #16424 "Create DataPlane table"
Create a DataPlane table

DataPlane

- Id  (int)
- Name (string) // description: name of the cluster, ideally includes provider and region in the name, like `gcp-us-west-2-uuid`
- ServiceProvider (enum) // data_type: service_provider_type from this [issue](https://app.zenhub.com/workspaces/cloud-platform-6259ee50ab53b4001d625d79/issues/airbytehq/airbyte-cloud/2096)
- Geography (enum) // data_type:

[2022-09-08 04:57] terencecho opened #16425 "Create a simple routing service and logic"
The current routing service create from phase 1 essentially reads a list of connection IDs from a config to figure out which task queue to send jobs to.

This ticket is to create a service that will do the routing in a smarter fashion.

### Routing logic
The routing service's input will be a connection ID. From there, we query the database to get the connection's preferred region and provider. If

[2022-09-08 05:00] terencecho opened #16426 "Add dataplane init endpoints to routing service"
To safeguard against data planes connecting to the wrong task queue when spinning up, we will require them to ping the routing service to ask for which task queue they should connect to. Task Queue names will be standardized to `<provider>-<region>`. When pinging the routing service for a task queue name, we can provide the data plane’s provider and region as params.

the endpoint should be someth

[2022-09-08 06:56] heinhofman commented on #8387
Hi @YowanR it works as inteded. THNX

[2022-09-08 06:56] #8387 closed

[2022-09-08 11:20] koconder commented on #15059
Part of PR #15827 the code base can later be easily extended to allow for Protocol Buffers

[2022-09-08 13:42] natalyjazzviolin commented on #16408
Hi @rengler-noodle! Nice catch, thanks for bringing this to our attention. It looks like the `standard` API key is now the `Server Side/ Server Side` key. I was just able to run a successful sync with a newly created one. Have you tried that type? If not, could you try this and see if the sync works?

![image](https://user-images.githubusercontent.com/65251165/189137008-d2071c36-75be-4edd-823b-5a5

[2022-09-08 13:55] cjullian commented on #6305
This is definitely a major feature. I agree with @Jonas56kdigital when he says it would increase the usefulness of Airbyte 10x...
@itaseskii Is it in development yet?
Thanks

[2022-09-08 14:06] tealjulia opened #16435 "🎨 Sticky table headers"
When pairing with Nico last week, he asked that we do sticky table headers (IE: when you scroll, you always have the headers visible).  Tried a few things and it looks like it may take some work or creativity to nail this across browsers and with the border-radius we have on the headers.

[2022-09-08 14:06] octavia-squidington-iii commented on #16435
cc @airbytehq/frontend

[2022-09-08 14:08] tealjulia commented on #16435
@Upmitt this ended up being a bit bigger than the changes we usually pair on, so I've split it into its own issue to get into our backlog.

[2022-09-08 14:17] sajarin commented on #14779
@bigdatawonders we have the integration account now, I'll circle back today and get it merged.

[2022-09-08 14:39] KRLY05 opened #16437 "Upgrading Airbyte - issue with temporal: Expected version: 1.6 cannot be greater than Actual version: 1.4"
## Environment
- **Airbyte version**:  0.40.3
- **OS Version / Instance**: -
- **Deployment**: k8s with Helm chart
- **Step where error happened**: Deploy / Upgrade Airbyte

## Current Behavior
airbyte-temporal pod crashes during airbyte upgrade with following error:
[code]

## Expected Behavior
airbyte upgrades successfully

## Logs
logs from helm:
[code]
logs from temporal pd:
[code]

## Steps t

[2022-09-08 14:51] marcosmarxm commented on #16406
Thanks @ypc-faros I added the request to team backlog.

[2022-09-08 15:03] krishnaglick opened #16439 "Styled Components -> SCSS Modules for react-select components"
I intended to switch to scss modules from styled components in this [issue](https://github.com/airbytehq/airbyte/issues/16023) and this [PR](https://github.com/airbytehq/airbyte/pull/16027) however it ended up being more complicated than the react-select upgrade.

We should change over the `DropDown.tsx` component, as well as the react-select [component wrappers](https://github.com/airbytehq/airby

[2022-09-08 15:03] octavia-squidington-iii commented on #16439
cc @airbytehq/frontend

[2022-09-08 15:04] krishnaglick commented on #16023
Removing styled components from this blew the upgrade well out of scope. See #16439 for that work.

[2022-09-08 15:05] bazarnov opened #16440 "🎉 Source Zendesk Chat: update `releaseStage` to GA"

[2022-09-08 15:09] cgardens opened #16441 "Document strategies for securing OSS Airbyte with a password via proxy"
### Tell us about the documentation you'd like us to add or update.
While the application is not user aware, there are some simple things a user can do to secure Airbyte via password. Right now we do not document that clearly, but we should.

[2022-09-08 15:16] girarda opened #16442 "Snowflake native app PoC"
## What

We want to investigate the feasibility of creating a Snowflake Native App to sync API connectors to Snowflake using their infrastructure.

Link to design doc: https://docs.google.com/document/d/1cEBW2DpIEGGDNVx0--IWo_0DMgdNyi0zqcti06UrGQY/edit?usp=sharing

Steps:
- [x] Hello world stored procedure that can load hardcoded data into a warehouse table
- [x] Use faker source to produce data w

[2022-09-08 15:17] grishick commented on #15146
FYI @edgao the problem is that normalization drops tables during full refresh and an unintended consequence/side effect of this behavior is that users, who may have had permissions specific to the tables created by Airbyte are affected

[2022-09-08 15:20] girarda commented on #16057
End of sprint update: I did not have time to look into this issue.

[2022-09-08 15:31] etsybaev commented on #10717
PR https://github.com/airbytehq/airbyte/pull/16444

[2022-09-08 15:41] evantahler commented on #16441
Some guides from the community can be found here https://docs.airbyte.com/operator-guides/securing-airbyte/#access-control

[2022-09-08 15:50] edmundito commented on #14247
@misteryeo Followed up on this with @andyjih and @Upmitt.

Looking at the PRD we can cover the improvements to the individual fields (#12204), but still need to discuss how to group them (how to name the groups, what is collapsible, what is considered advanced.) This will require changes to the connector spec files.

One idea is to define the spec for an individual connector, such as postgres, and

[2022-09-08 16:11] marcosmarxm commented on #15831
Probably this is a limitation between the destination because if the connection works with Snowflake destination.

[2022-09-08 16:15] marcosmarxm commented on #16412
The issue is related to Destination Redshift. I added the issue to connector backlog.

[2022-09-08 16:36] grubberr commented on #16386
@YowanR @igrankova @ycherniaiev
about checklist extension

do we need to add 2 separate row (Category/Criterion) for this problems:

1. HTTPS - checking
2. SPEC "airbyte_secret": "true" - checking

or it's sufficient to add one row (Category/Criterion) for both (1) or (2) problems

[2022-09-08 16:43] grubberr commented on #15571
@animer3009
We tries to improve quality of this connector
for last month it was greatly improved but still not fully.

I want to double check with you
all this problems still actual for you?

I am especially curious about this problem **Asins reports not available to Vendors** what stream you synced to receive  this problem?

[2022-09-08 16:47] #16012 closed

[2022-09-08 17:24] YowanR commented on #16386
We should have 2 separate ros added.
@igrankova @ycherniaiev Can you look into this?

[2022-09-08 17:49] walkabout21 opened #16456 "update oracle destination gui to include service name & SID"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard? A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
My oracle DB uses service instead of SID so Oracle connector doesn't work
## Describe the solution you’d like
A clear and concise description of what you want to see happen, or the change you would like to se

[2022-09-08 18:11] sherifnada opened #16459 "Source Okta: Don't mark domain as a secret"
## Current Behavior
Okta connector labels the `domain` as a secret
<img width="682" alt="Screen Shot 2022-09-08 at 11 09 31 AM" src="https://user-images.githubusercontent.com/6246757/189194986-fcc45525-5aab-428f-be94-4bcd5c8e7f05.png">

## Expected Behavior
It should not be labelled as a secret.

However, I'm not sure this is a safe operation to do. We need to confirm with the Platform Workflow te

[2022-09-08 18:14] marcosmarxm opened #16460 "Incremental | Append mode is not working correctly for zendesk Sunshine> redshift connection"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#2141](https://airbyte7538.zendesk.com/agent/tickets/2141)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Connection: Zendesk Sunshine &gt; Redshift<br>
Stream selected for replication: Object Recor

[2022-09-08 18:15] marcosmarxm commented on #16460
*Comment made from Zendesk by Marcos Marx on 2022-09-08 at 18:15:*

<blockquote><div class="zd-comment" dir="auto">Hello Mahak thanks for reporting this. I was able to reproduce the issue.<br>&nbsp;<br><span style="opacity: 1;"><img src="https://airbyte7538.zendesk.com/attachments/token/7QUKrzCsvw86EBDVwf5unHUZ4/?name=image.png"></span><br>&nbsp;<br>&nbsp;<br>Using Incremental Append I found a dup

[2022-09-08 18:16] marcosmarxm commented on #16460
I was able to reproduce issue using integration account credentials.

[2022-09-08 18:24] sajarin commented on #16358
@akashkmr27089 by all means please! We'll help review the PR.

[2022-09-08 18:42] edmundito opened #16469 "[Dup] Move connector create/save button outside of the card"
In the source or destination create pages, the submit button is placed inside the card:

![image.png](https://images.zenhubusercontent.com/55f362704f7a08fbb7f4d9d8/789bc71f-a810-48a4-b817-5e370b0c98c9)

The change proposed is to move the button outside of the card to match the current design:
![image.png](https://images.zenhubusercontent.com/55f362704f7a08fbb7f4d9d8/c4152e83-648c-4368-bbfc-f28279c

[2022-09-08 18:42] octavia-squidington-iii commented on #16469
cc @airbytehq/frontend

[2022-09-08 18:46] #14846 closed

[2022-09-08 18:55] marcosmarxm commented on #9557
Zendesk ticket #[2174](https://airbyte7538.zendesk.com/agent/tickets/2174) has been linked to this issue.

[2022-09-08 19:01] bdashrad opened #16470 "Helm chart incorrectly renders extraContainers"
## Environment
- **Airbyte version**:  0.40.3
- **Chart Version**: 0.45.1
- **OS Version / Instance**: helm 3.9.4, macOS 12.3.1
- **Deployment**: kubernetes/helm
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Step where error happened**: Deploy

## Current Behavior
[code]

### incorrec

[2022-09-08 19:13] natalyjazzviolin commented on #16470
Hey @bdashrad thanks for opening this issue. Glad you're willing to submit a PR and looking forward to it!

[2022-09-08 19:20] grubberr commented on #15571
@animer3009
it's very strange
that you got that error
because Asins reports not generated for to profile types "vendor"

https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/display_report.py#L186

[2022-09-08 19:47] KPhans commented on #11230
Was this resolved? I think I am having the same error

[2022-09-08 21:41] edgao opened #16489 "Source Recharge: use TypeTransformer for int conversion"
https://github.com/airbytehq/airbyte/pull/16045 added a hack in source-recharge to coerce some floating-point numbers to int. As Pedro noted (https://github.com/airbytehq/airbyte/pull/16045#pullrequestreview-1087700925), the CDK provides functionality to do that conversion in a more reliable way.

[2022-09-08 22:02] #11109 closed

[2022-09-08 22:02] #13634 closed

[2022-09-08 22:02] #14058 closed

[2022-09-08 22:02] #14668 closed

[2022-09-08 22:02] #15363 closed

[2022-09-08 22:26] jhajajaas commented on #15772
Went through good first issue label and look like we can close this one?

[2022-09-08 23:14] rileybrook opened #16506 "[Cloud Onboarding UI] Enlarge source list"
<img width="809" alt="CleanShot 2022-09-08 at 16 12 32@2x" src="https://user-images.githubusercontent.com/7691812/189241582-a9ddd8d4-df92-4f32-9db5-da7f804ab49d.png">

**Suggestion:**
This dropdown could be longer (there is vertical space on the page) and could also be “embedded” into the page rather than a small dropdown window (saving initial click to trigger dropdown) (GH issue)

[2022-09-08 23:18] rileybrook opened #16507 "[Cloud Onboarding UI] Update font colour for Authentication confirmation copy"
<img width="1476" alt="189242057-57faf827-87ff-4f1c-b792-ba83b35f4368" src="https://user-images.githubusercontent.com/7691812/189245569-30b6ba58-f691-43d2-9c81-6d1f38379acd.png">

**Suggestion:**
“Authentication succeeded!” (#67DAE1) could have its font color updated to the Airbyte purple (#615EFF)

[2022-09-08 23:21] rileybrook opened #16508 "[Cloud Onboarding UI] Vertically align stream setting columns"
<img width="1355" alt="CleanShot 2022-09-08 at 09 18 09@2x" src="https://user-images.githubusercontent.com/7691812/189242295-a0f02e16-1624-4690-9081-b6cc930306c7.png">

![CleanShot 2022-09-08 at 09 19 34@2x](https://user-images.githubusercontent.com/7691812/189242408-0486d709-0395-4573-bd8f-8d5d1c63bc9e.png)

**Suggestion:**
Column titles could be aligned vertically with each other also...not sure

[2022-09-08 23:26] rileybrook opened #16509 "[Cloud Onboarding UI] Share Popular Use Cases earlier in onboarding"
<img width="996" alt="CleanShot 2022-09-08 at 16 24 11@2x" src="https://user-images.githubusercontent.com/7691812/189242662-0f924fc3-adfd-4fac-9082-545a3b9434ab.png">

Idea: Share popular use cases at the start of onboarding as well (step 0 or step 1). **Why:** Folks may not know guides exist for a popular use-case they may have been trying to configure on their own during their first time through

[2022-09-08 23:27] YowanR commented on #13676
@isaacharrisholt Is it the exact same issue as before? @lazebnyi Can you assign someone to take a look, please?

[2022-09-08 23:27] rileybrook opened #16510 "[Cloud Onboarding UI] Make Connection Activity Log more obvious to find"
![CleanShot 2022-09-08 at 09 28 54@2x](https://user-images.githubusercontent.com/7691812/189242966-39253a92-fc31-4c9e-a1a0-4853797e35c0.png)

If I want to see the activity log, I have to know to click this gray arrow.

**Suggestion:** Maybe some text is warranted here (ex: “View activity” or something similar) (GH Issue)

[2022-09-08 23:31] rileybrook opened #16511 "[Cloud Onboarding UI] Ensure tab placement consistent across all Cloud UI views"
![CleanShot 2022-09-08 at 09 49 44@2x](https://user-images.githubusercontent.com/7691812/189243151-a3b11324-4eca-41e9-b9cd-674ff4d56c0d.png)

![CleanShot 2022-09-08 at 09 33 29@2x](https://user-images.githubusercontent.com/7691812/189243161-54ef39c1-f087-4394-83dc-ec19af71f7d3.png)

UI nitpick: Tabs at top of screen for Sources & Destination details view, but not at top of screen within Connection

[2022-09-08 23:35] rileybrook opened #16512 "[Frontend] Tables should be full width on all pages"
Example of Vertically Aligned (good)
![CleanShot 2022-09-08 at 10 12 05@2x](https://user-images.githubusercontent.com/7691812/189243530-122aade1-294b-48cf-b493-b9a9920c5b6a.png)

Example of Not Vertically Aligned (bad)
![CleanShot 2022-09-08 at 10 15 47@2x](https://user-images.githubusercontent.com/7691812/189243577-acdaaadf-6cfd-4bfc-ac94-ed4be3a7357f.png)

UI nitpick: There are UI components ver

[2022-09-08 23:38] robgleason commented on #7816
Hello, I was looking for sources to work on, and I gave this one a shot. The PR I made is #16473

[2022-09-08 23:43] rileybrook opened #16514 "[Cloud Onboarding UI] Update status icon alignment & color"
![CleanShot 2022-09-08 at 16 38 32@2x](https://user-images.githubusercontent.com/7691812/189244035-6571ec98-1580-4b81-b7a5-7dd219f9a9b0.png)

UI nitpick: `Status` checkmark not vertically aligned with “Status” header.

Suggestion: Align vertically with column title & could change the icon colour to the “Airbyte purple” (#615EFF)

[2022-09-08 23:45] rileybrook opened #16515 "[Cloud Email Notifications]"
![CleanShot 2022-09-08 at 10 20 04@2x](https://user-images.githubusercontent.com/7691812/189244387-6453d7e1-f469-47eb-80d1-5007f25f03e7.png)

Since security updates are recommended, they could be enabled by default, with option to turn off

**Suggestion:** Enable / turn on Security updates by default, with option to turn off.

[2022-09-08 23:51] rileybrook opened #16516 "[Settings] Enhance information details for "Advanced Mode""
![CleanShot 2022-09-08 at 10 23 22@2x](https://user-images.githubusercontent.com/7691812/189244591-70044ef6-6ea7-442d-be89-d94e0c6c4b38.png)

Tooltip for "Advanced Mode" reads: "...certain views will display additional technical information" - which could leave a user wondering: “_okay…but what kind of additional technical information?_”

**Suggestion**: Could be an opportunity to insert a “Learn

[2022-09-09 00:02] YowanR commented on #16459
@evantahler Could you help us here? Is it safe to revert a field from secret? (I'm hoping you are the right person to ask this question). For context, we're pushing this connector to GA by end of Quarter so I'd like to resolve this issue asap.

[2022-09-09 00:23] evantahler commented on #16459
In the future, @salima-airbyte is the person to tag!  But... I don't personally know the answer, so we'll need to ask the team to look into this.  I also imagine there might be complications on cloud, moving things from the secret store to the regular config database...

[2022-09-09 00:30] evantahler commented on #3990
@RickRen7575 this isn't yet prioritized... we will comment here when it is!

[2022-09-09 01:16] YowanR opened #16518 "Add check to prevent users from using http url with Okta"
Tell us about the problem you're trying to solve
Currently, it is possible to use unsecured URL (http) in the Okta config.

Describe the solution you’d like
We should fail the CHECK if a user enters a non-https URL for Okta.

[2022-09-09 01:16] YowanR opened #16519 "Add check to prevent users from using http url with Metabase"
Tell us about the problem you're trying to solve
Currently, it is possible to use unsecured URL (http) in the Metabase config.

Describe the solution you’d like
We should fail the CHECK if a user enters a non-https URL for Metabase.

[2022-09-09 01:16] YowanR opened #16520 "Add check to prevent users from using http url with Prestashop"
Tell us about the problem you're trying to solve
Currently, it is possible to use unsecured URL (http) in the Prestashop config.

Describe the solution you’d like
We should fail the CHECK if a user enters a non-https URL for Prestashop.

[2022-09-09 01:16] YowanR opened #16521 "Add check to prevent users from using http url with Tplcentral"
Tell us about the problem you're trying to solve
Currently, it is possible to use unsecured URL (http) in the Tplcentral config.

Describe the solution you’d like
We should fail the CHECK if a user enters a non-https URL for Tplcentral.

[2022-09-09 01:17] YowanR commented on #16518
@lazebnyi This needs to be prioritized.

[2022-09-09 01:17] YowanR commented on #16520
@lazebnyi This needs to be prioritized.

[2022-09-09 01:17] YowanR commented on #16521
@lazebnyi @YuliiaNahoha This needs to be prioritized.

[2022-09-09 01:21] #15978 closed

[2022-09-09 01:56] alex-gron opened #16522 "Normalization should support additionalProperties: true"
## Tell us about the problem you're trying to solve
Today, the JSON Schema (catalog) discovered by connectors may have a field `additionalProperties: true`. This allows the connector to pull additional fields from an API into the `raw_` tables in the destination.
However, if the additional properties are not specified in the schema json files, then the additional properties do not get normalized a

[2022-09-09 03:47] ivanarturosantivanezvela commented on #16376
Thanks!!! It worked

[2022-09-09 05:34] #16241 closed

[2022-09-09 06:57] awoehrl opened #16524 "Source Paypal: TypeError("__init__() missing 2 required positional arguments: 'client_id' and 'client_secret'")"
## Environment
- **Airbyte version**:  0.40.3
- **OS Version / Instance**: Ubuntu
- **Deployment**: Docker
- **Source Connector and version**: Paypal Transactions 0.1.9
- **Destination Connector and version**: ---
- **Step where error happened**: Setup Source

## Current Behavior
When trying to setup the source, I get an error. Both arguments are set correctly in the UI though

`TypeError("__init_

[2022-09-09 08:23] skt7 opened #16526 "Destination Postgres: Full referesh sync fails raising normalization error"
## Environment
- **Airbyte version**:  0.39.36-alpha
- **OS Version / Instance**: Ubuntu 18.04 (AWS EC2)
- **Deployment**: Docker
- **Source Connector and version**: Oracle - 0.3.17
- **Destination Connector and version**: PostgreSQL - 0.3.20
- **Step where error happened**: Sync job

## Current Behavior
"Full refresh" sync is leading to a normalization error. Find here the reference where the err

[2022-09-09 09:19] KRLY05 commented on #16437
droping/renaming  temporal  & temporal_visibility databases solves this upgrade issue

[2022-09-09 09:42] yurii-bidiuk commented on #5183
I tried to reproduce this issue with a different configuration, but it's not reproducible for me. I close this ticket.

[2022-09-09 09:42] #5183 closed

[2022-09-09 10:54] #16420 closed

[2022-09-09 10:58] #13533 closed

[2022-09-09 10:58] VitaliiMaltsev commented on #13533
this issue is not persists anymore. Closing

[2022-09-09 11:22] #15725 closed

[2022-09-09 11:30] DoNotPanicUA opened #16529 "BigQuery Denormalized : integration tests for #14023"
## Tell us about the problem you're trying to solve
PR #14023 added the new logic for processing arrays. We don't cover any array by a record to avoid the BQ limitation of an array of arrays.
But such critical change can affect existing users and their connectors with at least one array. To address this issue, we added backward compatibility logic to the destination. We compare the calculated dest

[2022-09-09 11:37] #10717 closed

[2022-09-09 11:48] #16395 closed

[2022-09-09 12:07] RobertoBonnet commented on #16162
Hello. It is occurring because the connector does not stop making requests. Your data is synced on the first sync. Airbyte detects that it doesn't need to process any more records, but the connector continues to paging the data in the api. In practice, every sync all data is processed from the api, even if you only need some of it to keep up to date. I don't know if I explained it well. I solved t

[2022-09-09 12:19] igrankova commented on #16386
@YowanR Checklists are updated
CC @ycherniaiev, @grubberr

[2022-09-09 13:31] #14320 closed

[2022-09-09 14:09] natalyjazzviolin commented on #16162
Thank you for your input, @RobertoBonnet!

[2022-09-09 14:28] #16124 closed

[2022-09-09 14:36] michael-baraboo-cnr opened #16535 "airbyte-oss/airbyte chart 0.45.0 suddenly missing"
## Environment
- **Airbyte version**:  0.40.2
- **OS Version / Instance**: AWS EC2
- **Deployment**: Kubernetes
- **Step where error happened**: Deploy

## Current Behavior
When we attempt to install with chart version 0.45.0, we get an error indicating it cannot be found.
After checking the index.yaml for the chart, it appears it's no longer present.
[code]

## Expected Behavior
Successful instal

[2022-09-09 15:24] midavadim commented on #15170
@lazebnyi @marcosmarxm

I was not able to find any tutorials on how to add new custom field in BambooHR.
I tried to create new employees with custom 'bla' field via API, but I was not able to extract it back neither via reports API nor get_employee API.

So, we probably need to ask our client for more information:
1. if possible, please provide us with steps how you added new custom field to Bambo

[2022-09-09 15:44] lautaromundi commented on #16147
Hi!
I have the same issue. Is related to: https://github.com/airbytehq/airbyte/pull/16334/files.
@machariamuguku do you find the cause?

[2022-09-09 15:46] walkabout21 commented on #16456
Oracle source gui includes option to pick service vs sid but it is not included for oracle destination

![image](https://user-images.githubusercontent.com/11464007/189389875-2c2286bb-c983-4cf1-b6a7-712fcbfbda36.png)

[2022-09-09 16:08] #16341 closed

[2022-09-09 16:22] sajarin commented on #16133
Thanks @igrankova! This free account is just what we needed to close out the PR.

[2022-09-09 16:22] #16133 closed

[2022-09-09 16:26] sajarin commented on #14779
@bigdatawonders thanks for the wait, the PR has been merged! This connector should be working with new API keys from APILayer now. Closing this but willing to address any new concerns in new issues. Thanks @jonathanneo for the PR!

[2022-09-09 16:26] #14779 closed

[2022-09-09 16:36] #16417 closed

[2022-09-09 16:45] wirelessrpm commented on #16182
I think I have a fix for this written on a fork I made of the project. I'm probably looking right at it, but are there instructions on how you'd like me to make the PR for it?

[2022-09-09 17:00] YowanR commented on #16520
This one got reprioritized. Let's tackle it in Q4 instead.

[2022-09-09 17:21] wirelessrpm commented on #16182
I've written a fix for this on my fork, but not sure where to aim it when submitting the PR.

[2022-09-09 17:22] #7198 closed

[2022-09-09 17:54] sherifnada commented on #8060
@timroes @edmundito did the frontend team have a level of effort on this already? trying to do some guesstimates for Q4 prios

[2022-09-09 18:28] benmoriceau opened #16550 "Update the diff calculation with a custom collect"

[2022-09-09 18:35] benmoriceau commented on #16550
Due to some error in some schema which have a format which is not supported by the jsonSchema traversal lib we are using, some oneOf/allOf/anyOf won't be detected as a special schema entry and will generated duplicated paths in https://github.com/airbytehq/airbyte/blob/master/airbyte-protocol/protocol-models/src/main/java/io/airbyte/protocol/models/CatalogHelpers.java#L337 which is causing an OC i

[2022-09-09 18:45] ryjabe opened #16552 "Update JDBC driver for Snowflake source"
## Current Behavior
Per this [build](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/destination-snowflake/build.gradle), Airbyte is currently using version 3.13.9 of the JDBC drive for Snowflake.  That driver is almost a year old and should be updated to the latest version 3.13.22, as of the creation of this ticket.   We should consider updating our driver as well

[2022-09-09 18:58] walkabout21 commented on #16456
I believe this is actually a bug, and not a new feature request after reviewing the source functionality and the connector code

[2022-09-09 19:14] sherifnada opened #16553 "Low-code CDK: Odd behavior when a stream's `path` starts with `/`"
## Current Behavior
This issue tries to describe two problems: one with the developer experience and one with the functionality of the CDK.

I specify a stream whose base_url is `https://api.congress.gov/v3` and whose path is `/bills`.

when running the command, it resulted in some failures in both `check` and `read`. `--debug` mode revealed that we were actually making the HTTP request to `https:

[2022-09-09 19:18] sherifnada opened #16554 "Low-code CDK: Suggestions about the debugging experience"
## Current Behavior
This issue tries to describe two problems: one with the developer experience and one with the functionality of the CDK.

I specify a stream whose base_url is `https://api.congress.gov/v3` and whose path is `/bills`.

I run `check`, it results in this failure:

[code]

I run it with `--debug`, the CDK fails with a still unhelpful message:
[code]
I ran `read`, this was the output

[2022-09-09 19:31] isaacharrisholt commented on #13676
Yep, same as before @YowanR

[2022-09-09 20:03] benmoriceau opened #16557 "Temporal refactoring"
The goal of this refactoring is to properly split the temporal state logic and the replication logic.

For that we need to remove all the reference to the worflowState in the lambda function in the cancellation scope.

We also need to extract the different steps in methods with a meaningful name.

[2022-09-09 20:22] Hvuj opened #16558 "Oauth2.0 Client Credentials method"
### Tell us about the documentation you'd like us to add or update.
Please add complete documentation for authentication methods available and their types and how to use them and what is required to make custom authentication if airbytes classes are being used in some way i.e. mixing airbytes classes with some custom logic.

### If applicable, add links to the relevant docs that should be updated

[2022-09-09 20:50] sherifnada opened #16559 "Low-code CDK: Confusing YAML validation error message"
## Tell us about the problem you're trying to solve
I ran a command with the following YAML:
[code]

and the output was:
[code]

This is a confusing error message because I don't know which block of YAML is expected to have

## Describe the solution you’d like
I would to see the block of YAML where this input is expected e.g:

[code]

## Describe the alternative you’ve considered or used
trial and

[2022-09-09 21:25] sherifnada commented on #16559
turns out the issue is that I wasn't passing `page_size`, a required param, to `OffsetIncrement` pagination strategy.

[2022-09-09 21:43] brianjlai opened #16562 "[low code cdk] Remove `page_size` from the LimitPaginator definition"
We currently allow for `page_size` to be defined in the connector YAML for both the LimitPaginator component and the OffsetIncrement and PageIncrement pagination strategy components. This leads to a bit of confusion on where the correct place to define the field should be in the YAML config.

Because pagination strategy defines the configuration to which pagination is conducted, `page_size` more n

[2022-09-09 23:33] octavia-squidington-iii commented on #16506
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16507
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16510
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16508
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16509
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16511
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16512
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16514
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16515
cc @airbytehq/frontend

[2022-09-09 23:33] octavia-squidington-iii commented on #16516
cc @airbytehq/frontend

[2022-09-10 05:26] timroes commented on #16507
This color is at the moment our success color. Cc @Upmitt in case you want to do a change to our color palette, but will close this issue as an individual place to update, and of you want to change the color palette please feel free to open a more general issue for a color palette update.

[2022-09-10 05:26] #16507 closed

[2022-09-10 05:29] timroes commented on #16514
Regarding the colors see my comment in https://github.com/airbytehq/airbyte/issues/16507#issuecomment-1242636012

We should though just make the column header left aligned as any other header in that table.

Just a small wording note (since I noticed that in some other issues as well), the alignment you're meaning here is horizontal alignment not vertical.

[2022-09-10 05:31] timroes commented on #16515
@Patsy-Airbyte are we allowed to enable security updates by default? Or will they require consent to opt in the same as product updates?

[2022-09-10 05:34] timroes commented on #16511
@Upmitt I'll close this for now as not planned. Please feel free to reopen with some Figmas if we would like to do a redesign of those pages.

[2022-09-10 05:34] #16511 closed

[2022-09-10 05:35] timroes commented on #16508
We're doing at the moment a full redesign of that connection page. Going to close this in favor of the overall redesign of that page.

[2022-09-10 05:35] #16508 closed

[2022-09-10 14:49] grubberr commented on #8060
@sherifnada @edgao
This is a real problem for a lot of connectors which has optional date parameter(s):
`source-facebook-marketing`, `source-google-ads`, `source-mixpanel`, etc

For example we are struggling on this oncall https://github.com/airbytehq/oncall/issues/503 which still does not work

My proposal:

if we have such non-required field
[code]

and customer entered empty string `""`
UI has

[2022-09-10 15:08] pjatx commented on #13075
This is also causing my data loads into Postgres to fail...

[code]

[code]

[2022-09-10 19:38] sherifnada commented on #13075
@pjatx could you share the full log of the sync?

[2022-09-10 19:38] sherifnada commented on #13075
is this from amplitude to postgres?

[2022-09-10 20:01] pjatx commented on #13075
@sherifnada no it's not, I found the issue I think. The field in question was sometimes returning "None" so decided to just make it a plain 'ole string - sorry for the noise!

[2022-09-10 22:19] timroes commented on #8060
@lshrinivas that should be rather low level of effort. The largest part of effort would be testing that this change doesn't break anything else.

[2022-09-11 16:15] zhangyangyu commented on #10891
@troyyyang We've contributed the TiDB destination connection already!

[2022-09-11 16:16] zhangyangyu commented on #10891
@marcosmarxm Any hints on how to get TiDB logo in this page? https://airbyte.com/connectors?connector-categories=databases

[2022-09-11 19:17] davinchia commented on #13686
@gfeldman can we close this?

[2022-09-11 23:48] toandm opened #16574 "Source MySQL: java.sql.SQLException: YEAR"
## Environment
- **Airbyte version**: 0.40.0-alpha
- **OS Version / Instance**: debian-11-bullseye-v20220719, GCP n1-standard-4
- **Deployment**: Docker env
- **Source Connector and version**: airbyte/source-mysql:0.6.12
- **Destination Connector and version**: airbyte/destination-bigquery:1.1.14
- **Step where error happened**: Sync job

## Current Behavior
I use MySQL connector to connect to cus

[2022-09-12 01:25] amrael commented on #15950
@marcosmarxm
I tried downgrading it to v1.0.2 and v1.0.6.
- 1.0.6
  - Failed with an error "UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 5653-5654: unexpected end of data"
- 1.0.2
  - Succeeded

The result proves that this part, https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py#L296-L297 is causing th

[2022-09-12 01:57] yousefhosny1 opened #16576 "Files generated by Airbyte in S3 are not accessible using S3fs"
## Environment
- **Airbyte version**:  0.40.2
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Any source
- **Destination Connector and version**: S3 0.3.15
- **Step where error happened**:  Sync job

## Current Behavior
When I create an Airbyte connection that extracts data from any source and loads it to S3 bucket (destination), I am unable to acc

[2022-09-12 05:30] YowanR commented on #16521
This has been deprioritized and will be moved to Q4 instead.

[2022-09-12 05:30] YowanR commented on #16519
This has been deprioritized and will be moved to Q4 instead.

[2022-09-12 08:19] AntonAiven opened #16577 "Destination Clickhouse: should not require `CREATE` database permissions"
I'm setting up an Airbyte destination to Clickhouse, but I'm unable to do so because the airbyte user I have doesn't have permissions to create databases. I'm unsure why the user needs access to create databases when the database is asked for when creating the connection (assumption being that the database already exists)

I had a look at the code and it seems like in here Airbyte attempts to crea

[2022-09-12 09:05] #15664 closed

[2022-09-12 09:07] #10722 closed

[2022-09-12 09:20] olivermeyer opened #16582 "Incremental dedupe + history mode fails when cursor field is SUPER"
## Environment
- **Airbyte version**:  0.39.36-alpha
- **OS Version / Instance**: Debian
- **Deployment**: Kubernetes
- **Source Connector and version**: Salesforce (0.2.5)
- **Destination Connector and version**: Redshift (0.3.46)
- **Step where error happened**: Sync job

## Current Behavior
We recently upgraded Airbyte to 0.39.36 and had a few issues after some fields were converted to SUPER. M

[2022-09-12 10:21] #4842 closed

[2022-09-12 10:36] timroes commented on #8136
Closing in favor of https://github.com/airbytehq/airbyte/issues/12129

[2022-09-12 10:36] #8136 closed

[2022-09-12 10:45] milesarmstrong opened #16586 "Helm Chart: duplicated minio resources"
## Environment
- **Airbyte version**:  [0.40.4](https://github.com/airbytehq/airbyte/releases/tag/v0.40.4)
- **Helm Version**: [0.42.0](https://github.com/airbytehq/helm-charts/blob/main/airbyte-0.42.0.tgz)
- **Deployment**: Kubernetes (with Helm chart via ArgoCD)

## Current Behavior
Since https://github.com/airbytehq/airbyte/pull/16131, there is a new [set of minio resources](https://github.com/

[2022-09-12 10:46] milesarmstrong commented on #16535
I think this was caused by https://github.com/airbytehq/airbyte/pull/16131

[2022-09-12 11:14] milesarmstrong opened #16587 "Helm Chart: duplicated postgres resources"
## Environment
- **Airbyte version**:  [0.40.4](https://github.com/airbytehq/airbyte/releases/tag/v0.40.4)
- **Helm Version**: [0.42.0](https://github.com/airbytehq/helm-charts/blob/main/airbyte-0.42.0.tgz)
- **Deployment**: Kubernetes (with Helm chart via ArgoCD)

## Current Behavior
Since https://github.com/airbytehq/airbyte/pull/16131, there is a new [set of postgres resources](https://github.c

[2022-09-12 12:33] mozarik opened #16589 "Completed Pod not getting cleaned after failed sync or success"
## Environment
- **Airbyte version**:  0.40.4
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Kubernetes kube/overlays/stable
- **Step where error happened**: Sync Data -> Complete or Error happened when sync

## Current Behavior
Is the pod not getting cleaned after it use ?

[code]

## Expected Behavior
This is what I asked. is this expected behaviour ?

## Logs

## Steps to Reproduce

[2022-09-12 12:58] igrankova commented on #16386
Adding one more criterion: Check that the connector is on the latest CDK/SAT

[2022-09-12 13:21] jplanckeel commented on #14122
Hello, I wanted to know if you had any news on the subject?

thanks you ;)

[2022-09-12 13:53] edmundito commented on #16509
cc @nataliekwong

[2022-09-12 13:58] edmundito commented on #16507
Forwarded this to @Upmitt in Asana to see if there's some improvement to this.

[2022-09-12 14:19] #16489 closed

[2022-09-12 14:28] sh4sh commented on #16437
Closing as workaround was found. Thanks for reporting this.

[2022-09-12 14:28] #16437 closed

[2022-09-12 14:29] igrankova commented on #16386
@YowanR what about the Destinations? Should we update the checklists for them?
cc @ycherniaiev

[2022-09-12 14:29] rcheatham-q commented on #16587
If there is a way to upvote this, I would. #16131 should never have been merged, it also wrecked my deployment - fortunately it was a staging deployment, but it sounds like people are suffering data loss as a result of that bad merge.

[2022-09-12 15:31] ajboni opened #16595 "Worker `docker run` command ignores proxy env variables (http_proxy, https_proxy, no_proxy)"
## Environment
- **Airbyte version**:  example is 0.40.4
- **OS Version / Instance**: rhel 6
- **Deployment**:  Docker
- **Source Connector and version**: posthog:0.1.17

My host is behind a proxy, so every docker container gets these variables injected. This works ok for airbyte containers but when a new container is spawned insede the worker ct , it won't inject those variable failing for servic

[2022-09-12 15:33] jscottpolevault commented on #15986
I do not want to fix this issue, ha. I'm sorry but it would take me too long to figure out how. I don't understand why it's not working.

[2022-09-12 15:37] mirasdar commented on #15482
@Amruta-Ranade  Updated the doc as per review comments please find the link below
https://docs.google.com/document/d/1KtZNsiFtwHPq2mJFwDOnb1iYEDl3OsdH/edit#heading=h.gjdgxs

[2022-09-12 15:52] grishick opened #16596 "Source Microsoft SQL to GA"

[2022-09-12 16:37] tealjulia opened #16599 "Service Form should not say "Re-Authenticate" for new connectors"
I'd already Oauthed in to Google to create a google sheets source.  I went to create another one and it said "re-authenticate" so I assumed it would re-use the auth token.

Connection test failed.

![Screen Shot 2022-09-12 at 12.35.47 PM.png](https://images.zenhubusercontent.com/6269740067dc6b70dd128801/d3bbc5a0-20e1-44d1-979b-6faa08fc5030
)

1. this should not say "re-authenticate" for a new sour

[2022-09-12 16:37] octavia-squidington-iii commented on #16599
cc @airbytehq/frontend

[2022-09-12 16:46] krishnaglick commented on #16599
[Relevant PR](https://github.com/airbytehq/airbyte/pull/15615)
Looks like we may need to dig in further to see what's happening in this fail-case.

[2022-09-12 16:51] sophia-wiley commented on #16180
Available [here](https://docs.airbyte.com/release_notes/august_2022).

[2022-09-12 16:52] sophia-wiley opened #16601 "Edit Bing Ads source connector doc"
Related to this [16755](https://github.com/airbytehq/airbyte/pull/16755) and [16787](https://github.com/airbytehq/airbyte/pull/16787).

[2022-09-12 17:30] #15465 closed

[2022-09-12 17:42] marcosmarxm commented on #14122
@davinchia could you give your opinion on this issue?

[2022-09-12 17:46] marcosmarxm commented on #16456
This is a feature request, source and destination code are different. I added the request to connector team backlog.

[2022-09-12 17:47] marcosmarxm commented on #15950
@alexander-marquardt do you mind giving your opinion for this issue in Salesforce?

[2022-09-12 17:49] MinuraPunchihewa opened #16602 "Firebird Connector"
## Tell us about the new connector you’d like to have
I have been working on a project that is currently running a [Firebird](https://firebirdsql.org/) database on our backend. We want to able to ingest data from a variety of data sources into our database including other databases like MySQL and Postgres.

## Describe the context around this new connector
We are currently in the process of evalua

[2022-09-12 17:50] marcosmarxm commented on #16182
@wirelessrpm please read Airbyte's docs about contributing to the project: https://docs.airbyte.com/contributing-to-airbyte/

[2022-09-12 17:51] alovew opened #16603 "Normalize NormalizationSummary data in new table"
Create a new table in the jobs db called normalization_summaries for storing normalization summaries. Currently this data is stored in nested json in the output column of the attempts table. We should continue to store this data in that JSON blob as well.

The schema of the new table should be:
attempt_id (bigint)
start_time (datetime)
end_time (datetime)
failures (jsonb)
created_at (datetime)
upd

[2022-09-12 18:35] girarda opened #16606 "Low-code: Document connector state machine"
### Tell us about the documentation you'd like us to add or update.
We should document the state machine of a connector's lifecycle.
This should include
- [ ] A state machine diagram of the flow
- [ ] Explanation of the difference between the stream slicers

[2022-09-12 19:29] grubberr commented on #15571
No response from customer
I cannot reproduce all this problems in current version of connector `source-amazon-ads:0.1.20`
I am closing this issue
Can be re-opened in future if customer provide some proofs in the future.

[2022-09-12 19:29] #15571 closed

[2022-09-12 20:42] alex-gron opened #16611 "Allow date variable in namespace (fka Additional Sync mode to snapshot data)"
## Tell us about the problem you're trying to solve
When running a sync in `Incremental - deduped history` sync mode, data loads are stored as Type 2 SCDs in `*_scd` tables with `_airbyte_start_at` and `_airbyte_end_at` date columns.
Storing data in this way saves on storage space, but it puts more burden on users to query data correctly to see what the data looked like on a particular day in SQL.

[2022-09-12 21:33] sh4sh commented on #16589
There's a service called [pod-sweeper](https://github.com/airbytehq/airbyte/blob/v0.40.4/kube/resources/pod-sweeper.yaml) that should clean up these pods after 2 hours., so hopefully by now they are gone. There is explanation on why that limit was chosen here: https://github.com/airbytehq/airbyte/pull/4737#issuecomment-880262670

If you want to adjust how long succeeded pods take to clean up, you

[2022-09-12 21:37] tealjulia commented on #10573
updated description to include node-forge 1.3.1

[2022-09-12 21:39] grishick opened #16613 "Create a strict-encrypt version of AlloyDB Source connector"
We need a strict encrypt version of AlloyDB source connector, which wraps AlloyDB (or source-postgres-strict-encrypt) similar to how source-postgres-strict-encryp wraps source-postgres connector to enforce encryption in transit.

Also, source-alloydb as well as source-alloydb-strict-encrypt should be marked GA and versions should be bumped to 1.0.0

[2022-09-12 21:55] grishick commented on #14932
@dhk this should be fixed now. Have you tried Postgres Source connector version 1.0.0 or greater?

[2022-09-12 22:28] YowanR commented on #16386
I'll defer to @misteryeo here. Should the destination checklists be updated as well?

[2022-09-12 22:35] grishick commented on #9196
PMed Diana on Slack

[2022-09-12 22:36] #6552 closed

[2022-09-12 22:37] #12779 closed

[2022-09-12 22:50] grishick opened #16615 "BigQuery Destination should meet Partner Attribution requirements"
To enable the reporting, partners should update Google Cloud Storage and BigQuery API calls with the User Agent string. See the document linked below for specifics:

https://docs.google.com/document/d/1RyV6xAB96HY6uZgxHnHZdviiosKfe-nBpqS2KFeDPqM/edit?resourcekey=0-v5vzXikM_GhqnCTRdi1QJQ

[2022-09-12 22:51] grishick opened #16616 "BigQuery Destination Denormalized should meet Partner Attribution requirements"
To enable the reporting, partners should update Google Cloud Storage and BigQuery API calls with the User Agent string. See the document linked below for specifics:

https://docs.google.com/document/d/1RyV6xAB96HY6uZgxHnHZdviiosKfe-nBpqS2KFeDPqM/edit?resourcekey=0-v5vzXikM_GhqnCTRdi1QJQ

[2022-09-12 22:52] grishick opened #16617 "BigQuery Source should comply with Google's partner attribution requirements"
To enable the reporting, partners should update Google Cloud Storage and BigQuery API calls with the User Agent string. See the document linked below for specifics:

https://docs.google.com/document/d/1RyV6xAB96HY6uZgxHnHZdviiosKfe-nBpqS2KFeDPqM/edit?resourcekey=0-v5vzXikM_GhqnCTRdi1QJQ

[2022-09-12 22:57] grishick commented on #9441
@edgao for your reference, Google's partner team did thoroughly tested how Airbyte maps data types to Big Query destination and documented their findings: https://docs.google.com/document/d/1FhztzHIVLoR4ieQ-g44Yi3xlgvuyGPIhkTYz1bzuNvI/edit#heading=h.jy8kca9nu99q

[2022-09-12 23:08] #16377 closed

[2022-09-12 23:31] grishick opened #16620 "BigQuery destination cannot load data from JSON source"

[2022-09-12 23:35] grishick opened #16621 "Parquet to BigQuery - 0 records in target table"

[2022-09-12 23:41] grishick opened #16622 "Airbyte does not recognize and migrate the Stored Procedures in BigQuery"

[2022-09-12 23:45] grishick opened #16623 "Provide visual indication whether a stream is a table or a view"

[2022-09-12 23:47] grishick commented on #16623
@salima-airbyte @evantahler this seems like a candidate for a small protocol change.

@timroes if/when this feature is prioritized it will likely have a UI part

[2022-09-12 23:49] grishick commented on #11693
This was also found by Google partner team when testing BigQuery source and destination: https://docs.google.com/document/d/1FhztzHIVLoR4ieQ-g44Yi3xlgvuyGPIhkTYz1bzuNvI/edit#heading=h.ivdr0i4h3opr

[2022-09-12 23:53] #10100 closed

[2022-09-12 23:53] #11461 closed

[2022-09-12 23:59] grishick opened #16624 "Use bulk insert/update DMLs in BigQuery destination"

[2022-09-13 00:09] evantahler commented on #16623
This might be related to https://github.com/airbytehq/airbyte/pull/16487 (cc @sherifnada and @pedroslopez).

Maybe rather than having an `available_for_syncing` and  `unavailability_reason` on a stream, we have a `type (string)`, `type_reason (string)`, and `available (boolean)`

[code]

[2022-09-13 00:20] #15979 closed

[2022-09-13 01:47] plenti-jacob-roe opened #16625 "SQL Server CDC - Add Sequence order and Operation to airbyte metadata"
## Tell us about the problem you're trying to solve
We are trying to sync our SQL Server data using airbyte and then recreate both the history of the table as well as the current state of the table. In order to achieve this we require the sequence order of the cdc as currently we can get one lsn for multiple rows with no way of determining the order the changes occurred and have to rely on insert

[2022-09-13 03:11] akashkmr27089 commented on #16358
Hi @sajarin, do you have any api key which i can use to test my features? I have refered airbyte api documentation, google analytics connector and Lever hiring api documentation to raising this PR

[2022-09-13 05:23] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 05:22:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thanks, Marcos,<br>
I updated it to v0.40.5 now. Do I need to do something or does it automatically clean up the storage when needed?</p>

 [<a href="https://discuss.airbyte.io/t/quickly-run-out-of-storage/2417/6" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-09-13 05:32] YowanR opened #16627 "Source Google Sheets: Handle shorter URL for Google sheet URL"
It seems that there are shorter URL for google sheet that the connector does not handle today. See [this issue](https://github.com/airbytehq/oncall/issues/520) for more details. Ideally, we should handle shorter URLs as well.

[2022-09-13 05:33] YowanR commented on #16627
@YuliiaNahoha @grubberr We should fit this into our next sprint.

[2022-09-13 06:20] altern8tif commented on #4653
@YowanR let me take a stab at it... I also noticed that there is a Singer tap for Xero.  Would that be a good starting point?

[2022-09-13 06:36] #13912 closed

[2022-09-13 07:42] grubberr commented on #15405
@lfrodrigues

The problem was in the stream: `cohort_members`.
This stream provided a record field that was inconsistent with the schema and such inconsistency just killed the source connector.

In this PR https://github.com/airbytehq/airbyte/pull/16544 I have fixed part of the problem and the connector will not be killed in such cases anymore.
The 2-nd part of the problem is this inconsistency it

[2022-09-13 08:29] subodh1810 commented on #13946
Hey everyone, we have made multiple changes to the way timestamp values are handled in postgres connector in the last month. Can you try the sync with the latest version of postgres source.

Also for future reference, if you experience the same or different error, can you pleas share the schema of the table in the postgres database and the value for which the sync fails so that its easier for us t

[2022-09-13 08:33] subodh1810 commented on #9938
I dont think this is a bug, this is expected behaviour, we handle binary data by converting it to base64 encoded string.

[2022-09-13 08:37] subodh1810 commented on #6573
@grishick this is same as https://github.com/airbytehq/alpha-beta-issues/issues/183

[2022-09-13 09:56] igrankova commented on #16386
@YowanR
Finished adding "Check that the connector is on the latest CDK/SAT" criterion to the source checklists. Waiting for the decision about the Destinations.
cc @ycherniaiev

[2022-09-13 10:19] #16470 closed

[2022-09-13 11:05] olivermeyer commented on #1868
That's good news. Do you have an update on when we can expect stable charts? I've been trying to upgrade our charts and the latest few versions are very unstable. If a stable chart is coming soon I'll hold off on the upgrade.

[2022-09-13 11:52] yurii-bidiuk opened #16634 "Destination AwsDatalake: broken integration tests"
## Current Behavior
`testSync` and `testSyncWithLargeRecordBatch` from `AwsDatalakeDestinationAcceptanceTest` are broken with message:
[code]
**_Note:_** these tests ryn sync without normalization.

Link to job:
https://github.com/airbytehq/airbyte/actions/runs/3044600783/jobs/4905199531

## Expected Behavior
*Tell us what should happen.*

## Logs

## Steps to Reproduce
1. Run AwsDatalakeDestinati

[2022-09-13 12:14] tim-werner commented on #15202
Is there any solution yet? I have the same issue. It is working for me now because I have set the airbyte-bootloader job to skip in argocd after the first deployment but this should not be a permanent solution.

[2022-09-13 13:07] tealjulia commented on #16218
Skipped 1/added to the Storybook Issue linked at the top.  All others done ✅

[2022-09-13 13:07] #16218 closed

[2022-09-13 13:11] tealjulia commented on #15606
TODO: Replication View has a warning modal before a user refreshes their source schema that they will lose unsaved changes.  Create Connection should have this too.

[2022-09-13 13:21] matter-q commented on #6448
We need to wait until the task related to updating React Select will be resolved. It could fix the current issue.

[2022-09-13 13:26] andriikorotkov opened #16637 "E2E Testing Tool: Configure custom connection"
Configure custom connection

[2022-09-13 13:45] #16023 closed

[2022-09-13 13:54] igrankova commented on #15217
@YowanR can you please clarify this task for me?

[2022-09-13 13:56] tealjulia opened #16638 "Transformation View should clean up github repo URLs"
It looks like trailing whitespace and ending with a forward slash will both make airbyte fail to find a transformation repo.

We should either validate or clean for this.

[2022-09-13 13:56] octavia-squidington-iii commented on #16638
cc @airbytehq/frontend

[2022-09-13 14:03] pedroslopez opened #16639 "[EPIC] Skip stream syncing when stream is unavailable"
Moving towards https://github.com/airbytehq/airbyte/issues/14906 and the stream availability proposal outlined in [this doc](https://docs.google.com/document/d/1PA170k3YkLSe2aqvldPZwAxQJ8troulj_7wmNtdArdM/edit#), we need a way for connectors to declare whether a stream is available or not. Currently, connectors are doing this on their own and the behavior is not standardized, so this is about addi

[2022-09-13 14:24] pedroslopez opened #16640 "RecordSchemaValidator: log actual type"
When debugging schema validation issues, it can be useful to know what type we actually got. We should include this information when logging.

We are performing the validation and building up the message here:

https://github.com/airbytehq/airbyte/blob/555efd53604b89e24d746080a546033e00c15329/airbyte-workers/src/main/java/io/airbyte/workers/RecordSchemaValidator.java#L40-L73

[2022-09-13 14:47] davinchia commented on #1868
@olivermeyer

We are running into some issues making the helm charts part of the PR build tests. Once we do that we can 'call' this stable. I would expect this to be done in the next week or so.

@xpuska513 is working on this.

CC @supertopher @git-phu

[2022-09-13 14:54] #15935 closed

[2022-09-13 15:03] ball-hayden opened #16641 "🐛 Source GitHub: KeyError: 'pull_request_updated_at'"
## Environment
- **Airbyte version**: 0.40.0-alpha
- **OS Version / Instance**: Official Docker Image
- **Deployment**: Kubernetes
- **Source Connector and version**: GitHub (0.2.46)
- **Destination Connector and version**: BigQuery (1.2.0)
- **Step where error happened**: Sync job

## Current Behavior

Normalisation fails:

[code]

## Expected Behavior

Sync should complete successfully

## Logs

[2022-09-13 15:34] Timopheym commented on #5781
Hey dear @mcfuhrt would you be please able to update on your status on a connector? We are also have a need for it, and probably would manage the situation with the custom script but it would be much preferable to have it and a part of our Airbyte configuration!
Thanks!

[2022-09-13 15:34] transistormuncher commented on #5781
Hi everyone, we would also be interested in this connector. What is needed to get it implemented in the next airbyte version?
Thanks for the great work!

[2022-09-13 15:37] bdashrad commented on #16413
Looks like this was fixed by #16131

[2022-09-13 15:39] sajarin commented on #16358
Hi @akashkmr27089, we don't have any api keys that we can share especially since this PR introduces basic auth and we only have credentials for oauth at the moment. To test locally, you'll have to follow the instructions on the Lever developer documentation to create your own api keys/credentials for testing.

More info here if you haven't already found it: https://hire.lever.co/developer/document

[2022-09-13 15:41] shaoye commented on #16413
thx, it's not released yet

[2022-09-13 15:45] krishnaglick opened #16645 "Improve Jest Test Coverage"
The output of `npm run test:coverage` is too large for this ticket. I'll list some areas worth targeting for additional coverage below:

- `airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/AuthButton.tsx` | Couldn't hurt to expand coverage a little
- `airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/useOauthFlowAdapter.tsx` | Worth getting some solid c

[2022-09-13 15:45] sajarin commented on #16574
@toandm it seems like you made an issue similar to this one a few weeks ago: #16159. Is this the same error?

Did you recently upgrade the MySQL connector and have you tried using an older version?

[2022-09-13 15:46] octavia-squidington-iii commented on #16645
cc @airbytehq/frontend

[2022-09-13 15:51] grishick commented on #6573
Closing as duplicate of https://github.com/airbytehq/alpha-beta-issues/issues/183

[2022-09-13 16:16] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 16:16:*

<blockquote><div class="zd-comment" dir="auto">Airbyte version 0.45.5 reimplemented the feature, you can change the default value changing the variable <code>TEMPORAL_HISTORY_RETENTION_IN_DAYS</code><br></div></blockquote>

[2022-09-13 16:17] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 16:17:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Airbyte version 0.45.5 reimplemented the feature, you can change the default value changing the variable <code style="background-color: #f9f9f9; padding: 2px 5px;">TEMPORAL_HISTORY_RETENTION_IN_DAYS</code></p>

 [<a href="https://discuss.airbyte.io/t/unsure-how-to-set-wo

[2022-09-13 16:22] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 16:22:*

<blockquote><div class="zd-comment" dir="auto">You can&nbsp;<br></div></blockquote>

[2022-09-13 16:35] terencecho opened #16648 "Modify workspace API endpoints to be PATCH-style (in preparation for setting Geography)"
Assumes a migration was already ran to add a geography column to the workspace.

Modify the /workspace/update handler to take in an optional field for setting a Geography that will be used as a default for all connections within that workspace.

Modify the /workspace/create handler to persist 'Auto' value for the preferred Geography. This sets us up for future improvements where we might be able t

[2022-09-13 16:44] roisinbolt opened #16649 "Source BigCommerce: Add Channel and Store Stream"
## Tell us about the new connector you’d like to have
* Which source and which destination?

This will include the `channels` and `store` endpoint for the existing `bigcommerce` source

* Do you need a specific version of the underlying data source e.g: you specifically need support for an older version of the API or DB?

The `store` endpoint is only support by `v2` of the BigCommerce API

## Desc

[2022-09-13 16:59] grishick opened #16650 "Connector dependency task failed on DBT update PR"

[2022-09-13 17:19] ameyabhope commented on #14932
@grishick Tried to resync with
- Airbyte version: 0.40.3
- Source Connector and version: Postgres 1.0.7

After the initial sync (post-reset), new rows were replicated for a few cycles. After which intermittently it started syncing all the rows instead of just the new rows.

Here's the log of the last successful run -
[logs-558829.txt](https://github.com/airbytehq/airbyte/files/9559303/logs-558829.

[2022-09-13 17:27] grishick opened #16651 "Update JDBC driver for Snowflake destination"
## Current Behavior
Per this [build](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/destination-snowflake/build.gradle), Airbyte is currently using version 3.13.9 of the JDBC drive for Snowflake.  That driver is almost a year old and should be updated to the latest version 3.13.22, as of the creation of this ticket.   We should consider updating our driver as well

[2022-09-13 17:27] sajarin commented on #16595
Thanks @ajboni for this issue. If you were to draft a PR, what would your proposed solution look like?

[2022-09-13 17:27] girarda commented on #16442
grooming notes:
* how can consumer input their config?
* do we want to support normalization?
  * not as a first step
*  what is the specific artifact that should be produced?
  * a native app that can be installed by a snowflake user

[2022-09-13 17:35] marcosmarxm opened #16652 "Airbyte Server/Worker: gradual increase in memory usage"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1949](https://airbyte7538.zendesk.com/agent/tickets/1949)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">Is this

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-08-15 at 22:31:*

<blockquote><div class="zd-comment" dir="auto">Did you create more connectors &amp; connections or keep the same as the begining?<br></div></blockquote>

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-08-16 at 07:15:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a>  we have the same number of connectors and connections. The memory usage went by 300mb since the time I asked the question. So it’s now almost 4.3

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-08-16 at 20:13:*

<blockquote><div class="zd-comment" dir="auto">Do you mind sharing the output of <code>docker stats</code> ?<br></div></blockquote>

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-08-17 at 07:01:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"></p><div><a href="https://aws1.discourse-cdn.com/business7/uploads/airbyte/original/2X/9/9bda805392ec343c02bab0762a99def058a7d25a.png" title="image" rel="noopener nofollow ugc noreferrer" style="color: #006699; font-weight: bold; text-decoration: none;"><img src="https:/

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-08-22 at 07:00:*

<blockquote><div class="zd-comment" dir="auto">Sorry the delay here Prudhvi, did the memory increase again or become steady now?<br></div></blockquote>

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-08-23 at 08:17:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">It is increasing. Current screenshot</p>
<p dir="auto"></p><div><a href="https://aws1.discourse-cdn.com/business7/uploads/airbyte/original/2X/1/1f512e86734a01f0c48fa9fa8b44118fb5f748e7.png" title="image" rel="noopener nofollow ugc noreferrer" style="color: #006699; font-

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-08-23 at 21:43:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Seems potentially related to <a href="https://discuss.airbyte.io/t/resource-leak-in-airbyte-worker/2309" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">Resource leak in airbyte-worker</a></p>

 [<a href="https://discuss.airbyte.io/t/gr

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-08-25 at 02:58:*

<blockquote><div class="zd-comment" dir="auto">Pudhvi and Adam I request the engineer team to check for what is the expected resources needed and if maybe a bug exists.<br></div></blockquote>

[2022-09-13 17:35] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 09:58:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a>   just wanted to check if there are any updates on this.</p>
<p dir="auto">And here is current resource usage. It keeps on increasing:</p>
<p dir=

[2022-09-13 17:36] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 17:36:*

<blockquote><div class="zd-comment" dir="auto">The team is investigating a possible issue with memory leaky in the logging system. Until a solution is merged the workaround is to restart airbyte-server and airbyte-worker containers. I created the issue to track the issue: <a rel="noopener noreferrer" href="https://github.com/airby

[2022-09-13 17:37] marcosmarxm commented on #16652
Zendesk ticket #[2223](https://airbyte7538.zendesk.com/agent/tickets/2223) has been linked to this issue.

[2022-09-13 17:39] alafanechere commented on #16128
grooming notes:
* Use a generic sentry client to report platform-related errors
* Instantiation logic can remain the same between existing client and the new one, reporting method will be different
* grouping logic: connector name / version / stream
* does the catalog needs to be considered as a sensitive data set (ask Patsy)

[2022-09-13 17:44] grishick opened #16653 "Document how to set up secure connections in MySQL Source docs"
Users are not aware of how we enforce encryption in transit, so we should add an explanation of how we do that and which modes are allowed w/ and w/o SSH tunneling

[2022-09-13 17:46] grishick opened #16654 "Document how to set up a secure connection in MySQL Destination docs"
Users are not aware of how we enforce encryption in transit, so we should add an explanation of how we do that and which modes are allowed w/ and w/o SSH tunneling

[2022-09-13 17:50] DustyShap commented on #16535
Seeing this as well, what was your fix?

[2022-09-13 18:01] gsmith-schlesinger commented on #6573
@grishick So since this is closed, and there's a duplicate ticket on a board not accessible to the public.

- Is the issue being addressed in the other repo?
- How should this public repository address this, if any?
- Currently as it is today CDC doesn't work for MySQL in our organization(in a few cases, not all). Is the solution for us to fork the repo and run our own image, by modifying the debe

[2022-09-13 18:02] pedroslopez commented on #16639
* for sources that dont have an endpoint to determine permissions, at the stream-level availability method we can just do the first read() - it's ok for now that this will happen again when we actually start reading the stream since we can cache the request later
* could we do a default implementation that calls read on the connector and catches 403

* set status codes that determine whether it's

[2022-09-13 18:18] etsybaev commented on #15755
Source-mysql works fine with all of those DBs.
The only issue I had - is a connection to the newly created Azure DB.  But suddenly simple DB reboot did the trick.
![MySQL_AmazonAurora_testConnection.png](https://images.zenhubusercontent.com/627269f99b780c901a3d24e2/a108780b-c24c-4d62-8796-0fc2df5ecb5a)

![MySQL_AmazonAurora_testSync.png](https://images.zenhubusercontent.com/627269f99b780c901a3d24e

[2022-09-13 18:19] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 17:37:*

<blockquote><div class="zd-comment" dir="auto">Hello Arash, the team is investigating a possible issue with memory leaky in the logging system. Until a solution is merged the workaround is to restart airbyte-server and airbyte-worker containers. I created the issue to track the problem: <a rel="noopener noreferrer" href="https://g

[2022-09-13 18:32] resford opened #16658 "Twilio > S3 failing, and twilio refresh source schema not finishing"
## Environment
OS Version / Instance: amazon-linux-2
Memory / Disk: you can use something like 8GB memory / 200GB disk
Deployment: docker
Airbyte Version: 0.40.3
Source name/version: twilio 0.1.8
Destination name/version: S3 0.3.15
Step: The issue is happening during sync
Description: I just updated to airbyte v 0.40.3 and Twilio started failing. I am seeing the following errors.
2022-09-02 18:26:

[2022-09-13 18:39] krishnaglick opened #16660 "Add Job Item to Storybook"
When reviewing the [error log PR](https://github.com/airbytehq/airbyte/pull/16644/files) I realized it would be helpful to have these in Storybook for quick referencing.

[Job Item Code](https://github.com/airbytehq/airbyte/blob/b754465c6ec11dd5150f38c284b935a57837bdc4/airbyte-webapp/src/components/JobItem/JobItem.tsx)

[2022-09-13 18:39] octavia-squidington-iii commented on #16660
cc @airbytehq/frontend

[2022-09-13 18:44] michael-baraboo-cnr commented on #16535
@DustyShap I manually patched the changes I needed onto my deployment, and haven't needed any changes to airbyte since.
I'll likely clone and host my own chart with the repo reverted prior to https://github.com/airbytehq/airbyte/pull/16131 if it's still not working when I need to get around to it next.

I attempted using the 0.42.0 version that was pushed on 2022-09-09 in a test environment when I

[2022-09-13 19:19] #15790 closed

[2022-09-13 19:20] marcosmarxm commented on #14673
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 19:20:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Did you use an incremental sync?</p>

 [<a href="https://discuss.airbyte.io/t/missing-mailchimp-email-activity-data/1830/10" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-09-13 19:21] marcosmarxm commented on #14673
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 19:21:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I’m not sure why you need to debug more. If you look at the linked code it shows that you’re treating it like the data is sorted but the API is not sorted. You’re also paginating in multiple ways at the same time.</p>

 [<a href="https://discuss.airbyte.io/t/missing-mail

[2022-09-13 19:30] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 19:30:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hello Marcos,<br>
I restarted these containers, but the awful slowness still exists. I cannot even switch between pages. Are you sure this is the workaround?</p>

 [<a href="https://discuss.airbyte.io/t/long-loading-time/2536/6" rel="noreferrer">Discourse post</a>]</div>

[2022-09-13 19:45] ajboni commented on #16595
Hey @sajarin I actually found a nice workaround using `JOB_DEFAULT_ENV_` prefix in `docker_compose.yaml`
[code]
these are appended in the docker run command automatically [here](https://github.com/airbytehq/airbyte/blob/master/airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java#L138)

I think this is undocumented.

[2022-09-13 19:53] grishick commented on #6573
@gsmith-schlesinger yes, the duplicate ticket is https://github.com/airbytehq/alpha-beta-issues/issues/183 (see @subodh1810's comment above)

[2022-09-13 19:54] grishick commented on #6573
My apologies, I didn't realize alpha-beta was a closed repo. I'll reorganize these tickets to keep the public one open

[2022-09-13 19:57] #15755 closed

[2022-09-13 20:16] rodireich opened #16664 "Improve user experience for cloud strict encrypt connector when configuring unsecured connection"
## Tell us about the problem you're trying to solve
The strict encrypt postgres and mysql connectors correctly fail configuration check if the connection is effectively not guaranteed to be always encrypted (e.g with No Tunnel and with ssl set to "preferred").
Currently an error saying "Unsecured connection not allowed" is shown.

Improve user experience to reduce support calls from cloud customer

[2022-09-13 20:28] davinchia opened #16665 "Investigate if it's possible for Orchestrator to fail before updating the remote store."
## Tell us about the problem you're trying to solve
From discussions started on https://github.com/airbytehq/airbyte/pull/16575#discussion_r968636109 for background.

Today the orchestrator reports its state to a remote store. This state is used to determine a job's state. For this to be correct, the system needs to guarantee that the orchestrator writes its state regardless of all outcomes. This

[2022-09-13 20:29] #16154 closed

[2022-09-13 20:55] zkid18 commented on #4653
@altern8tif, you can use my code sample. I haven't run it for a year or so;  connecting to Xero was not an easy catch.

[code]

[2022-09-13 21:00] misteryeo commented on #8773
Sorry for the delay here folks - @YowanR can you take a look at this with the team?

[2022-09-13 21:01] sajarin commented on #16535
Thanks @michael-baraboo-cnr for the sharing the workaround. The infra team is aware of the issue and will be working on fix this week. Please stay tuned!

[2022-09-13 21:05] grishick opened #16666 "Document how to set up secure connections in Postgres Source docs"
Users are not aware of how we enforce encryption in transit, so we should add an explanation of how we do that and which modes are allowed w/ and w/o SSH tunneling

[2022-09-13 21:05] grishick commented on #13946
Moving to "blocked" until we get some more information here

[2022-09-13 21:08] grishick commented on #9938
@bleonard  @misteryeo any thoughts on @subodh1810 's comment above?

[2022-09-13 21:17] grishick commented on #9938
Moving to "blocked" until we decide if we should change this behavior

[2022-09-13 21:21] grishick opened #16668 "Investigate DbtDatabaseSQLCompilationError exceptions in Snowflake"
Several connections started throwing `DbtDatabaseSQLCompilationError` in Snowflake exceptions and this looks like a pattern. The common thread between these errors is `cannot change column X from type A to B`. Here are examples:
[code]

[code]

[code]

[code]

Related support tickets: [587](https://github.com/airbytehq/oncall/issues/587), [581](https://github.com/airbytehq/oncall/issues/581), [580

[2022-09-13 21:32] grishick opened #16669 "Investigate "column name is ambiguous" normalization errors"

[2022-09-13 21:33] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 21:33:*

<blockquote><div class="zd-comment" dir="auto">Yep, it should work. How is the frequency of your connections? 5min?<br></div></blockquote>

[2022-09-13 21:33] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-09-13 at 21:33:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Comment made from GitHub by marcosmarxm on 2022-09-13 at 21:33:</p>
<p dir="auto"><em>Comment made from Zendesk by Marcos Marx on 2022-09-13 at 21:33:</em></p>
<p dir="auto">&lt;blockquote&gt;&lt;div class="zd-comment" dir="auto"&gt;Yep, it should work. How is the freque

[2022-09-13 21:48] #15974 closed

[2022-09-13 21:51] evantahler opened #16671 "[Epic] Decouple Normalization from platform version"
Rather than hard-code the normalization version in the platform, the version of normalization that each destination wants to use should be stored as metadata in within `destination_definititions.yaml`.   This information would then propagate into 2 new columns on the `actor_definitions` table, `normalization_repository` and `normalization_docker_tag`.

[Tech Spec](https://docs.google.com/document/

[2022-09-13 21:52] YowanR commented on #8773
@davydov-d @lazebnyi Adding this to our backlog for prioritization.
Cc @YuliiaNahoha

[2022-09-13 22:05] grishick opened #16672 "Document how to set up a secure connection in Postgres Destination docs #16654"
Users are not aware of how we enforce encryption in transit, so we should add an explanation of how we do that and which modes are allowed w/ and w/o SSH tunneling

[2022-09-13 22:13] grishick commented on #16666
Question for grooming: does it make sense (would it get us to a better result faster) if someone on the DBs & DWs team pairs up with @Amruta-Ranade to add documentation on setting up secure connections in Airbyte Cloud for

- [Postgres Source](https://github.com/airbytehq/airbyte/issues/16666) (this ticket)
- [Postgres Destination](https://github.com/airbytehq/airbyte/issues/16672)
- [MySQL Source

[2022-09-13 22:17] grishick opened #16674 "Add a note about setting GTID_MODE in Postgres Source for CDC"
### Tell us about the documentation you'd like us to add or update.
Some customers are running into the error documented in [this issue](https://github.com/airbytehq/alpha-beta-issues/issues/158). The error is caused by incompatible setting of GTID_MODE in their source database. It might make sense to add a note to the  documentation of our Postgres Source connector, in CDC section that explains t

[2022-09-13 22:32] #9855 closed

[2022-09-13 22:32] #7391 closed

[2022-09-13 22:36] evantahler opened #16676 "[EPIC] Spec Mutations + Remove Strict Encrypt connector variants"
[Thought Doc](https://docs.google.com/document/d/1t6msniiEgllqmeJtvWXZXBvtEetxFO8S2zJOBiBqTtQ/edit#heading=h.bwbngacsomsf)

[2022-09-13 22:37] grishick commented on #14932
@ameyabhope this is why it is syncing from scratch:
[code]
I suspect that your Postgres DB is purging WAL in between Airbyte jobs (perhaps to prevent filling up the disk). Could you try running airbyte sync jobs more often and extend the auto-cancellation timeout?

[2022-09-13 22:40] evantahler commented on #14499
Closing this issue for now - please re-open if you are still having trouble.

[2022-09-13 22:40] #14499 closed

[2022-09-13 22:40] #11463 closed

[2022-09-13 22:41] #9416 closed

[2022-09-13 22:42] #9195 closed

[2022-09-13 22:45] #7539 closed

[2022-09-13 22:45] grishick commented on #14770
Related OC issue: [585](https://github.com/airbytehq/oncall/issues/585)

[2022-09-13 23:04] edgao opened #16677 "Fill out protocol change proposal for data types project"
step 1 of the protocol change process - blank template copy here https://docs.google.com/document/d/1dZOEbCkW2uDHdvIEdQeGL8gigSwGSKCGX5bESFicE9I/edit

[2022-09-13 23:05] edgao opened #16678 "Data types protocol proposal - async + first synchronous review"

[2022-09-13 23:06] edgao opened #16679 "Data types protocol proposal - second async + synchronous review"
Finish https://github.com/airbytehq/airbyte/pull/17486:
* [x] Receive approvals
* [ ] Update documentation
* [ ] Finalize regexes/etc

[2022-09-13 23:07] edgao opened #16680 "Data types protocol proposal - implement change"

[2022-09-13 23:13] alovew opened #16681 "Log warnings instead of raising errors in StateDeltaTracker and StateMetricsTracker"
The StateDeltaTracker is raising StateDeltaTrackerExceptions and the StateMetricsTracker is raising StateMetricsTrackerOomExceptions and StateMetricsTrackerNoStateMatchExceptions. The AirbyteMessageTracker is catching these exceptions and logging a warning, but these exceptions still show up in the logs, which could be confusing to users.

We should remove these exceptions and refactor the code so

[2022-09-13 23:19] salima-airbyte commented on #16652
@salima-airbyte figure out which Q4 work item this belongs to and assign appropriately

[2022-09-13 23:25] salima-airbyte commented on #16582
Connector team is appropriately tagged. Removing _team/oss_

[2022-09-13 23:33] #16372 closed

[2022-09-13 23:34] salima-airbyte commented on #16372
Apparently we have logs reasonably formatted

[2022-09-13 23:54] evantahler commented on #10598
Closing because I think the docs have the answer.  Please re-open this if you need more help!

[2022-09-13 23:54] #10598 closed

[2022-09-13 23:55] evantahler commented on #16372
An example of a stacktrace with `\n` and `\t` being formatted properly can be seen here https://github.com/airbytehq/airbyte/pull/15668#issuecomment-1245180159

[2022-09-13 23:59] evantahler commented on #7794
Closing this for now, in the future we'll have an epic to ret-think our logging in general.  Step 1 is for all the connectors to emit structured logs (e.g. https://github.com/airbytehq/airbyte/pull/15668) and then we can work on filtering them in display by source/destination/platform and severity.

cc @salima-airbyte

[2022-09-13 23:59] #7794 closed

[2022-09-13 23:59] evantahler commented on #8041
Closing, as I think this is done.

[2022-09-13 23:59] #8041 closed

[2022-09-14 00:00] #8301 closed

[2022-09-14 00:00] toandm commented on #16574
Hi @sajarin , yes that's the same issue. I closed it because I thought the issue was not because of invalid date. However, upon further testing, I realize that the root cause is indeed because of invalid date, though only some forms of invalid date cause this error, as I mentioned in my post above.

[2022-09-14 00:00] #8397 closed

[2022-09-14 00:00] evantahler commented on #8440
We use temporal cloud now!

[2022-09-14 00:00] #8440 closed

[2022-09-14 00:01] evantahler commented on #8443
This is part of the multi-cloud effort!
cc @davinchia

[2022-09-14 00:01] #8443 closed

[2022-09-14 00:02] evantahler commented on #8619
Closing because we haven't seen this in a while... we can re-open if that's not the case

[2022-09-14 00:02] #8619 closed

[2022-09-14 00:02] evantahler commented on #8730
cc @supertopher I think this can be closed?

[2022-09-14 00:03] evantahler commented on #8322
Closing because we have sync failure notifications, and will be making those more robust in the future

[2022-09-14 00:03] #8322 closed

[2022-09-14 00:03] evantahler commented on #8393
cc @jdpgrailsdev
I think the Micronaut config files solve this nicely!

[2022-09-14 00:03] #8393 closed

[2022-09-14 00:04] #9231 closed

[2022-09-14 00:04] #9239 closed

[2022-09-14 00:04] #9587 closed

[2022-09-14 00:05] evantahler commented on #9566
cc @sherifnada this would be helpful to display a sync progress bar... can you close this story and link to that proposed feature?

[2022-09-14 00:06] evantahler commented on #9600
cc @supertopher I think this kind of thing belongs with your new team

[2022-09-14 00:06] evantahler commented on #9464
Closing... this is fine for now. the Logs are already big 🤷‍♀️

[2022-09-14 00:07] #9464 closed

[2022-09-14 00:08] evantahler commented on #10313
@andyjih  can you link this up to the cron-syntax work?

[2022-09-14 00:09] evantahler commented on #10416
This is done!

[2022-09-14 00:09] #10416 closed

[2022-09-14 00:24] andyjih commented on #10313
We're about to release cron-based scheduling as a feature! That will be coming in the next couple weeks.

I believe that should cover the use case you described, but if not, do please comment in this other issue: https://github.com/airbytehq/airbyte/issues/2170

[2022-09-14 00:24] #10313 closed

[2022-09-14 00:24] toandm commented on #16574
I just re-ran the job with the latest MySQL connector version 0.6.12, but same error.

[2022-09-14 03:58] akashkmr27089 commented on #16358
Hi @sajarin I have already checked the documentation and have not found anything contributing to how to get Api token. Everything requires us to create Lever account for which i need organization email address.
Since i couldn't create, i cannot procced with the steps mentioned in the api documentation.

[2022-09-14 04:19] brianjlai opened #16687 "[per-stream state] Migrate GA connectors that implement custom read()"
Most API source connectors should be able to start emitting per stream state by just updating to the latest version of the CDK once the changes are released on a version.

However, for any connectors that override the existing `abstract_source.read()` method, we explicitly continue to send them state in the legacy object format so that we don't break compatibility when it pulls the latest version

[2022-09-14 06:39] oreopot commented on #14259
I can work on this.

[2022-09-14 07:08] igrankova commented on #16170
Hi, @sajarin,
Is there anything I can do more or we can close this issue?

[2022-09-14 07:10] sajarin commented on #16170
Hey @igrankova,

Sorry for the delay in response. We can close it for now and I'll reopen if there's any further issues or concerns. Thanks for your help with this, I really appreciate it!

[2022-09-14 07:10] #16170 closed

[2022-09-14 07:11] igrankova commented on #16170
@sajarin
I was glad to help! Have a nice day:)

[2022-09-14 07:20] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-09-14 at 07:20:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thanks, will give that a try!</p>
<p dir="auto">Just for reference, as I wasn’t sure reading your comment, I see that <a href="https://github.com/airbytehq/airbyte/blob/d8567310297eb685fe0b81d4721393af82cfb851/airbyte-config/config-models/src/main/java/io/airbyte/config/

[2022-09-14 07:36] rainers24 commented on #12720
Experiencing the same behaviour with another Brand Analytics report, but all the other reports for example Orders works fine.

  File "/usr/local/lib/python3.9/site-packages/airbyte_cdk/sources/abstract_source.py", line 277, in _read_full_refresh
    for record in records:
  File "/airbyte/integration_code/source_amazon_seller_partner/streams.py", line 339, in read_records
    report_id = self._cr

[2022-09-14 07:36] ojbkxiongdei opened #16689 "[EPIC] Add new type / update <type-name> in source connector <connector-name>"
info:
airbyte 0.40.6
source myqsl connector 0.6.11
destinations bigquery

comment：
In airbyte 0.40.0-alpha, there is incremental under source mysql connector 0.6.1. Why was incremental canceled in later connector versions? Any plans to bring incremental sync mode back?
![airbyte](https://user-images.githubusercontent.com/55149555/190091097-027706f7-2127-4c14-933c-ffb2cf495641.png)

[2022-09-14 07:49] VitaliiMaltsev commented on #16421
@grishick i have two proposals on how to implement this task:
**Proposal A**
Remove "none" auth method from existing connector destination-elasticsearch and publish into the cloud
_Pros and cons:_
+ Easy to implement
+ No need to create separate connector
- We always need to enable auth security in elasticsearch setup even for local development
- Potential backward compatibility issue for existing

[2022-09-14 08:17] mfsiega-airbyte commented on #11432
Note: consider if there's any code duplication to be cleaned up (e.g., https://github.com/airbytehq/airbyte/pull/16690).

[2022-09-14 08:35] milesarmstrong commented on #16587
**Update**: our existing database wasn't wiped, airbyte was just switched to use the new, empty, `airbyte-db` Deployment. When we rolled back to an older helm chart which used the `airbyte-postgresql` StatefulSet the data was still there.

I do however think that the `airbyte-db` Deployment was being wiped on every deployment, as we'd see the welcome screen that asks for email and analytics every

[2022-09-14 08:50] ayyoubmaulana opened #16691 "Source MySQL: DefaultAirbyteStreamFactory - Validation failed"
## Environment
- **Airbyte version**:  0.36.4-alpha
- **OS Version / Instance**: CentOS
- **Deployment**: Docker
- **Source Connector and version**: MySQL connector version : 0.6.8
- **Step where error happened**: Sync job

## Current Behavior
I got this error while sync data from MySQL to BigQuery, the anomaly happen just in one dataset

## Logs
[logs-32509.txt](https://github.com/airbytehq/airby

[2022-09-14 09:48] timroes opened #16692 "Upgrade to React 18"
Upgrade to React 18 and all libraries that required updating as well.

[2022-09-14 09:48] octavia-squidington-iii commented on #16692
cc @airbytehq/frontend

[2022-09-14 09:57] obraginskaya opened #16693 "Source cockroachdb throws OOM on a table with 8 million rows"
## Environment
- **Airbyte version**:  0.40.4
- **OS Version / Instance**: AWS EC2
- **Deployment**: Kubernetes
- **Source Connector and version**: cockroachdb 0.1.18
- **Destination Connector and version**: s3 0.3.14
- **Step where error happened**: Sync job

## Current Behavior

I am trying to sync data from Cockroachdb to S3. My table in Cockroachdb is around 8 million rows. Other tables which

[2022-09-14 10:34] igrankova commented on #12123
@YowanR I noticed that the Freshcaller account (**LastPass: Primary Freshcaller account**) is expired and there's no option to receive a sandbox. So I'm leaving the pricing here, if we need to reactivate it in the future.
![image](https://user-images.githubusercontent.com/87977540/190131672-343435f8-35c9-4aea-968d-17448f580339.png)

[2022-09-14 10:37] igrankova commented on #16386
Updated

[2022-09-14 10:37] ycherniaiev commented on #15217
@misteryeo This issue from unblockers prospective has two dimensions: API key( it rarely has permissions issues, but sometimes like in Stripe, admin can configure keys of different lists of permissions for different users - maybe user should be notified about this).Second: oauth that itself has two parts: app's(here like in Facebook or Instagram we should request access to certain streams separate

[2022-09-14 10:44] #13034 closed

[2022-09-14 11:32] marcosmarxm commented on #9464
@evantahler the idea was to increase from 1000 to 10k or 100k :p so large syncs won't blow the max log lines.

[2022-09-14 11:33] marcosmarxm commented on #16652
@salima-airbyte please talk to @davinchia about it

[2022-09-14 13:01] alex-magno opened #16696 "Helm chart using wrong server image repository"
## Environment
- **Airbyte version**:  example is 0.22.0-alpha
- **OS Version / Instance**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Deployment**: example are Docker or Kubernetes deploy env
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)
- **Destination Connector and version**: (if applicable example Postgres 0.3.3)
- **Step where error happene

[2022-09-14 13:17] ZBryantOM1 commented on #14339
A slight adjustment to my previous comment; After reviewing the source code in streams.py for the jira connector, it seems that fixing pagination for Users and Streams would require different approaches.

While neither class blocks contain references to the next_page_token variable, The Users API doesn't include the paging metadata in the response, and instead might need to be handled differently,

[2022-09-14 13:35] ball-hayden opened #16698 "airbyte-volume-configs PVC declared as ReadWriteOnce, but is used in multiple pods"
## Environment
- **Airbyte version**:  0.40.6
- **OS Version / Instance**: Official Docker
- **Deployment**: Kubernetes
- **Step where error happened**: Deploy

## Current Behavior

`airbyte-cron` deployment pods fail to start, because `airbyte-volume-configs` is already mounted by `airbyte-server` pod

## Expected Behavior

A `ReadWriteOnce` PVC should not be used by multiple pods.

## Logs

[cod

[2022-09-14 13:36] jdpgrailsdev opened #16699 "[EPIC] Micronaut Conversion Technical Debt"
## Tell us about the problem you're trying to solve
Pay down technical debt made evident by the conversion of services to use the [Micronaut application framework](https://micronaut.io/).

[2022-09-14 13:37] jdpgrailsdev opened #16700 "Use Micronaut Environment to control ProcessFactory conditional bean selection"
## Tell us about the problem you're trying to solve

There are too many environment variables in place to control the configuration of services.  This leads to potential issues with misconfiguration due to untested combinations of configuration options and due to lack of documentation for said configuration.

## Describe the solution you’d like

Leverage [Micronaut environments](https://docs.micro

[2022-09-14 13:37] edmundito opened #16701 "Update error state in stream reset job"
Currently, the reset stream job uses the existing error state as the rest of the jobs, but it does not show which streams were reset and that the job itself was a reset job. This is because the design for this was missing at the time of the implementation. The goal is to apply the updated design and show the streams that may be reset.

Followup to #13324 based on [this comment](https://github.com/

[2022-09-14 13:37] octavia-squidington-iii commented on #16701
cc @airbytehq/frontend

[2022-09-14 14:03] WalonDreamer opened #16703 "Repliacte from oralce to elasticsearch ,i got an error."
## Environment
- **latest**:  example is 0.22.0-alpha
- **centos**: example macOS, Windows 7/10, Ubuntu 18.04, GCP n2. , AWS EC2
- **Docker**: example are Docker or Kubernetes deploy env
- **oralce 11g*: (if applicable example Salesforce 0.2.3)
- **elasticsearch 7.10.2**: (if applicable example Postgres 0.3.3)
- ** Sync job**: Deploy / Sync job / Setup new connection / Update connector / Upgrade A

[2022-09-14 14:08] jdpgrailsdev opened #16705 "Convert AirbyteConfigValidator to Micronaut annotated singleton"

[2022-09-14 14:15] jdpgrailsdev opened #16707 "Convert AirbyteVersion to Micronaut annotated singleton"

[2022-09-14 14:17] jdpgrailsdev opened #16708 "Convert ConfigPersistence to Micronaut annotated singleton"

[2022-09-14 14:18] jdpgrailsdev opened #16709 "Convert ConfigRepository to Micronaut annotated singleton"

[2022-09-14 14:18] jdpgrailsdev opened #16710 "Convert Database to Micronaut annotated singleton"

[2022-09-14 14:21] jdpgrailsdev opened #16711 "Convert DatabaseMigrationCheck to Micronaut annotated singleton"

[2022-09-14 14:23] jdpgrailsdev opened #16712 "Convert DefaultJobCreator to Micronaut annotated singleton"

[2022-09-14 14:24] jdpgrailsdev opened #16713 "Convert DefaultSyncJobFactory to Micronaut annotated singleton"

[2022-09-14 14:25] jdpgrailsdev opened #16714 "Convert FeatureFlags to Micronaut annotated singleton"

[2022-09-14 14:25] jdpgrailsdev opened #16715 "Convert JobErrorReporter to Micronaut annotated singleton"

[2022-09-14 14:26] jdpgrailsdev opened #16716 "Convert JobNotifier to Micronaut annotated singleton"

[2022-09-14 14:27] jdpgrailsdev opened #16717 "Convert JobTracker to Micronaut annotated singleton"

[2022-09-14 14:28] jdpgrailsdev opened #16718 "Convert JobsDatabaseAvailabilityCheck to Micronaut annotated singleton"

[2022-09-14 14:28] jdpgrailsdev opened #16719 "Convert JsonSecretsProcessor to Micronaut annotated singleton"

[2022-09-14 14:29] jdpgrailsdev opened #16720 "Convert MetricClient to Micronaut annotated singleton"

[2022-09-14 14:30] jdpgrailsdev opened #16721 "Convert MetricClientRegistry to Micronaut annotated singleton"

[2022-09-14 14:31] jdpgrailsdev opened #16722 "Convert StatePersistence to Micronaut annotated singleton"

[2022-09-14 14:31] jdpgrailsdev opened #16723 "Convert StreamResetPersistence to Micronaut annotated singleton"

[2022-09-14 14:32] jdpgrailsdev opened #16724 "Convert TemporalWorkerRunFactory to Micronaut annotated singleton"

[2022-09-14 14:40] jdpgrailsdev opened #16726 "Convert WorkerFactory to Micronaut annotated singleton"

[2022-09-14 14:41] jdpgrailsdev opened #16728 "Convert WorkflowServiceStubs to Micronaut annotated singleton"

[2022-09-14 14:42] jdpgrailsdev opened #16729 "Break dependency between airbyte-server and airbyte-workers"
## Tell us about the problem you're trying to solve

The `airbyte-server` service module depends on source code stored in the `airbyte-workers` service module.  The result of this is that all of `airbyte-workers` transitive dependencies are polluting `airbyte-server`'s classpath.  As we convert [Micronaut](https://micronaut.io), this also means that any and all Micronaut annotated classes in `airb

[2022-09-14 14:46] jdpgrailsdev opened #16730 "Move generated JSON schema source from airbyte-workers to shared module"
## Tell us about the problem you're trying to solve

Remove dependency on `airbyte-workers` from other services to avoid classpath pollution and auto discovery of [Micronaut](https://micronaut.io) annotated classes not destined to be instantiated in the other service.

## Describe the solution you’d like

Move the generation of JSON Schema POJO's from `airbyte-workers` to a shared module that can

[2022-09-14 14:51] jdpgrailsdev opened #16731 "Break dependency between airbyte-workers and airbyte-container-orchestrator"
## Tell us about the problem you're trying to solve

The `airbyte-container-orchestrator` service module depends on source code stored in the `airbyte-workers` service module.  The result of this is that all of `airbyte-workers` transitive dependencies are polluting `airbyte-container-orchestrator`'s classpath.  As we convert [Micronaut](https://micronaut.io), this also means that any and all Micr

[2022-09-14 14:52] jdpgrailsdev opened #16732 "Remove direct database access from airbyte-workers"
## Tell us about the problem you're trying to solve

Reduce the configuration and dependencies required to run the `airbyte-workers` service by removing direct access to the database(s).  Currently, the direct database access not only means that additional configuration is required to set up the database connection(s), but it also impacts the running of `airbyte-workers` in the different modes for

[2022-09-14 14:56] edgao commented on #16669
I think this happens the user wanted to chain syncs together (i.e run sync from source A -> postgres, then postgres -> destination B). Then the source tables have airbyte-specific column names. This causes us to both create a new column (e.g. instead of `datetime_tz` [here](https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/bases/base-normalization/integration_tests/normalizatio

[2022-09-14 14:56] alafanechere opened #16733 "Source File: `discover` on JSON files output a corrupted catalog."
## Environment

- **Source Connector and version**: source-file `0.2.21`

## Current Behavior
`discover` on JSON file output a corrupted catalog: the root type of a stream schema is an `array` but should be an `object`. It is causing downstream Normalization failures

[code]
## Expected Behavior
[code]
## Logs

## Steps to Reproduce
1. Setup a file source, use a JSON file
2. Setup a connection to

[2022-09-14 14:57] edgao commented on #16669
would be good to repro this locally though. this is just from me glancing at the logs + codebase.

[2022-09-14 15:06] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-09-14 at 15:05:*

<blockquote><div class="zd-comment" dir="auto">You're correct.<br></div></blockquote>

[2022-09-14 15:06] edgao commented on #16668
Apparently snowflake doesn't support ALTER TABLE statements that change column data types to different types - https://docs.snowflake.com/en/sql-reference/sql/alter-table-column.html

The workaround is apparently to do an `add column`, `update <table> set <new_column> = <old_column>`, `drop column`, `rename column <new_column> <old_column>`. But that would probably be best-suited to happen in dbt-

[2022-09-14 15:10] tuliren opened #16734 "Snowflake dbt can handle at most 10K objects"
Source: https://github.com/airbytehq/oncall/issues/576

Error:

[code]

From Edward:

[2022-09-14 15:35] sh4sh opened #16735 "Add ArtifactHub and other official helm chart sources to docs"
### Tell us about the documentation you'd like us to add or update.
Currently there are at least a couple ways to pull our Helm charts, it would be great to add these to the docs so that we can distinguish repos managed by Airbyte vs the community

So far I am aware of these helm chart sources that are managed by Airbyte:
- https://airbytehq.github.io/helm-charts (Currently in our docs)
- https://

[2022-09-14 15:37] supertopher commented on #16669
Several related tickets in the oncall repo TSC has context if you can't find them

[2022-09-14 15:39] alexchouraki opened #16736 "Snowflake Source : Failed to fetch schema. Please try again"
Welcome to Airbyte!

## Environment
- **Airbyte version**:  example is 0.40.4
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Snowflake 0.1.20
- **Destination Connector and version**: Google Sheets 0.1.1
- **Step where error happened**: Setup new connection

## Current Behavior
When trying to create the connection, in the step where Airbyte is fetc

[2022-09-14 15:39] grishick commented on #16668
Why would DBT need to alter table given that we don't support changing field types in schema evolution yet?

[2022-09-14 15:41] sajarin commented on #16693
@obraginskaya, thanks for the issue. How much memory does roughly one row of your table take up?

Have you considered doubling the amount of RAM allocated for this sync?

[2022-09-14 15:42] SofiiaZaitseva opened #16737 "Add auto tests for checking Destination in sync catalog table"
Can be implemented when https://github.com/airbytehq/airbyte/pull/16643 issue will be completed

[2022-09-14 15:45] sajarin opened #16738 "Document how to use proxy env variables with docker"
### Tell us about the documentation you'd like us to add or update.

Many users use proxies behind Airbyte and run into issues of configuration when running with Docker. It would be great to include some information on docker_compose.yaml and on how to configure it.

For context: #16595

### If applicable, add links to the relevant docs that should be updated
https://docs.airbyte.com/operator-guid

[2022-09-14 15:46] sajarin commented on #16595
@ajboni just made an issue on updating our documentation to reflect this workaround. Feel free to leave your comments there or suggestions on what you'd ideally want to see documented.

[2022-09-14 15:48] edgao commented on #16668
if you refresh schema but don't reset destination tables, then normalization will attempt to propagate column type changes to the destination (e.g. if the column was previously `timestamp` and becomes `string`, then dbt will detect that and automatically run an alter table).

[2022-09-14 15:50] subodh1810 commented on #15471
This is still in progress, would take 2-3 more days

[2022-09-14 15:58] grishick commented on #16421
@VitaliiMaltsev we have only 1 Airbyte Cloud workspace with ES destination, so let's go with proposal B which follows the same pattern as all other connectors

[2022-09-14 16:13] ameyabhope commented on #14932
@grishick The DB isn't purging WALs in between jobs - earlier when the new rows stopped syncing the WAL size kept increasing, since nothing was consuming it. So no purging would be happening now.

Checking the source db, only a few rows were added between the runs so it shouldn't take longer than 45 mins to sync.
Our sync jobs run every 15 mins.

[2022-09-14 16:20] sajarin commented on #16574
This has been reported before for MySQL: https://bugs.mysql.com/bug.php?id=94872. Looks like MySQL does support invalid dates whereas MariaDB does.

Have you looked into the ALLOW_INVALID_DATES mode for MySQL?

https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html#sqlmode_allow_invalid_dates

[2022-09-14 16:21] grishick commented on #12350
useful info: https://www.elastic.co/blog/seven-tips-for-better-elasticsearch-benchmarks

[2022-09-14 16:23] tuliren commented on #12532
Relevant articles from Alex:
- https://www.elastic.co/blog/seven-tips-for-better-elasticsearch-benchmarks
- https://blog.cloudera.com/benchmarking-nifi-performance-and-scalability

[2022-09-14 16:24] sajarin commented on #16358
I'll try to see if we can get credentials on our end created for basic auth but it will be a bit difficult for us to help with your PR if you're unable to run the tests locally yourself. But given that you're not adding any new streams, we just have to verify that our tests pass. I'll keep you posted @akashkmr27089

[2022-09-14 16:30] edgao commented on #16151
followup work in https://github.com/airbytehq/airbyte/issues/16677

[2022-09-14 16:30] #16151 closed

[2022-09-14 16:38] matt-ripple commented on #13207
@tuliren It's no longer possible to sync views with a connection that uses CDC replication. This is causing us issues. The only way around this would be to create two sources for each of our postgres databases (We have 10+).

[2022-09-14 16:41] grishick commented on #16668
For now, we will prioritize dropping SCD tables that will allow customers to have a workaround. Once we are working on schema evolution, we will address the ALTER TABLE case

[2022-09-14 16:43] grishick commented on #5417
Related support tickets that need this feature for a feasible workaround: https://github.com/airbytehq/oncall/issues/587, https://github.com/airbytehq/oncall/issues/581, https://github.com/airbytehq/oncall/issues/580, https://github.com/airbytehq/oncall/issues/574

[2022-09-14 16:47] mfsiega-airbyte opened #16740 "DBT Cloud: support passing and persisting dbt cloud auth token"

[2022-09-14 16:51] jdpgrailsdev opened #16741 "Convert AirbyteMessageTracker to Micronaut annotated singleton"

[2022-09-14 16:52] grishick commented on #5417
Notes from grooming:
we can add callbacks to models in DBT. In this case we could add a callback that drops the table if it is empty.

[2022-09-14 16:54] grishick commented on #5417
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/5417?planning-poker) with Zenhub @edgao @rodireich @ryankfu @subodh1810 @tuliren @akashkulk

[2022-09-14 16:55] jdpgrailsdev commented on #14223
@evantahler I'm not sure how the two are related.  It feels like this is something we would want to implement as an additional check/step in the process to ensure that review has happened.

[2022-09-14 17:01] #16242 closed

[2022-09-14 17:04] grishick commented on #16669
Possible solution: use fully qualified column names in the entire SQL script generated by DBT.

[2022-09-14 17:05] grishick commented on #16669
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/16669?planning-poker) with Zenhub @akashkulk @ryankfu @edgao @tuliren @subodh1810

[2022-09-14 17:11] grishick commented on #16552
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/16552?planning-poker) with Zenhub @akashkulk @edgao @ryankfu @subodh1810 @tuliren

[2022-09-14 17:16] lluisgassovillarejo opened #16742 "Source Redshift: 0.3.14 doesn't allow incremental update"
## Environment
- **Airbyte version**:  cloud version to open source
- **OS Version / Instance**: Cloud to Debian in GCP
- **Deployment**: Cloud to GCP version
- **Source Connector and version**: 0.3.14
- **Destination Connector and version**: Not applicable
- **Step where error happened**: Setup new connection

## Current Behavior
We are moving from Airbyte cloud to an open-source version. **When

[2022-09-14 17:22] grishick commented on #16278
Mongo URL has `ssl` and `tls` options and we need to check that these parameters are not overwritten in -strict-encrypt version of MongoDB source

[2022-09-14 17:22] grishick commented on #16278
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/16278?planning-poker) with Zenhub @akashkulk @edgao @ryankfu @subodh1810 @tuliren

[2022-09-14 17:22] sophia-wiley opened #16744 "OAuth info for Airbyte Cloud"
Added info about current limitations of OAuth for Airbyte Cloud to [Set up your Airbyte Cloud account](https://docs.airbyte.com/cloud/getting-started-with-airbyte-cloud#set-up-your-airbyte-cloud-account)

Related to this [issue](https://github.com/airbytehq/airbyte/pull/17070)

[2022-09-14 17:23] mfsiega-airbyte commented on #16740
The latest implementation plan looks like:
- For the API, we'll introduce a dedicated API instead of making this part of the workspace update.
- The API should call the `listAccounts` in the dbt cloud API with the given auth token/url to validate that they work.
- For the secrets, we should re-use the mechanism used by Connectors for storing their various auth secrets. More details TBD.

[2022-09-14 17:23] tuliren commented on #16278
Should also update documentation.

[2022-09-14 17:30] tuliren commented on #16278
From Subodh, the tls parameter is ignored for ATLAS and REPLICA SET. Need to make sure we don't override it.

[2022-09-14 17:37] #16369 closed

[2022-09-14 17:54] plorenzatto commented on #8773
We had some progress by splitting the source in multiple ones each with campaigns from a different region. We suppose that this worked because of the lower number of concurrent requests which may be an issue when fetching a large number of records to fill a large lookup window.
If that's the case I would suggest adding a way to control fetching concurrency or at least adding some indications on ho

[2022-09-14 18:01] grishick commented on #5417
@rodireich might you be able to look into this in the current sprint?

[2022-09-14 18:16] salima-airbyte commented on #16035
Discuss with team impact of Micronaut for best place to configuration

[2022-09-14 18:22] salima-airbyte commented on #16178
Possible UI change, discuss w/ FE team (soon)

[2022-09-14 18:24] salima-airbyte commented on #15669
To discuss w Platform FE team

[2022-09-14 18:26] rodireich commented on #5417
definitely. Assigned it to myself to take a look

[2022-09-14 18:27] davinchia commented on #15669
@timroes @salima-airbyte  if I understand correctly, this is already in-flight #16157 by @pmossman

[2022-09-14 18:29] pmossman commented on #15669
Correct, it's almost ready to go, just nailing down an acceptance test that is failing around partial stream resets under the new patch behavior. I can post here when the PATCH update is live. I'm also working with @krishnaglick on testing the front-end against the changes today

[2022-09-14 18:34] timroes commented on #15669
Just for clarification. Those comments are likely all related to the blocking issue #13698 not this individual one? This one (removing the syncCatalog from the list API) can be addressed after #16157 is merged and we switched over to the new API.

[2022-09-14 18:35] salima-airbyte commented on #16380
Need to make BE defensive to not allow syncs for disabled connections.

[2022-09-14 18:36] pmossman commented on #15669
Ah yes @timroes that's right, my last comment and Davin's last comment refer to the PATCH update connection issue (https://github.com/airbytehq/airbyte/issues/13698)

[2022-09-14 18:46] andyjih commented on #2170
https://github.com/airbytehq/airbyte/pull/16375

[2022-09-14 18:46] salima-airbyte commented on #14972
@benmoriceau will this ticket scope change based on the work you're doing on Worker Scheduler?

[2022-09-14 18:48] gosusnp commented on #16380
@tealjulia, I think you bring up a valid question here.
I'd say that part of the problem is that we have endpoints doing too many things. I'd suggest discuss this as part of https://github.com/airbytehq/airbyte/issues/14646 which should involve rescoping some APIs.
I know we mentioned the need of this discussion, I could not find a more specific ticket if it already exists.

[2022-09-14 18:49] salima-airbyte commented on #16113
Remove validation upon deletion

[2022-09-14 19:08] evantahler commented on #9464
Is there limit to the number of log lines?  We have lots more debugging and JSON printing of sync metrics we've added recently...

[2022-09-14 19:35] #16550 closed

[2022-09-14 20:02] #16336 closed

[2022-09-14 20:21] YowanR opened #16750 "Source Instagram: Ensure that sandbox account has every media_type and media_product_type available for testing."
**What**
Make sure our Instagram sandbox account has every media_type and media_product_type available for testing and also double-check metrics validity against all media_type and media_product_type. We know that we were missing Reel media test data in the past.

**Why**
This would help us better debug issues such as the one we encountered [here](https://github.com/airbytehq/oncall/issues/552).

[2022-09-14 20:21] YowanR commented on #16750
@igrankova @ycherniaiev Could you take a look at this and make sure that we are covered here?
cc @alafanechere as FYI

[2022-09-14 20:50] marcosmarxm commented on #9464
100k if I not wrong.

[2022-09-14 20:58] evantahler commented on #9464
Maybe @supertopher can you confirm that there's a limit to how big our log files can be?

[2022-09-14 21:31] mfsiega-airbyte commented on #16740
Re-thinking whether this should be a dedicated API. Particularly:
- If it's part of the `update` API it should also be part of the `create` API
- If it's part of the `create` API, we need to either validate in the `create` API or have some separate `validate` API
- At this point, it seems simpler and more consistent to simply validate; it's a bit less RESTful but not a real problem in practical te

[2022-09-14 21:46] Amruta-Ranade commented on #16666
On it!

[2022-09-14 22:30] #16603 closed

[2022-09-14 22:31] YowanR commented on #15217
Thanks @igrankova and @ycherniaiev. I agree with what @ycherniaiev said. As for the error message, I also agree that this should be left to the devs. For now, just making sure that we have the issues created and have some way to know which connectors are impacted by different permission for different streams should be enough. As we go deeper into getting per-stream up and running, we can then actu

[2022-09-14 22:34] misteryeo commented on #9938
Let's leave this for now until we get more signal on this.

[2022-09-14 22:41] #16406 closed

[2022-09-14 22:54] davinchia opened #16757 "Document how Airbyte handles database secrets."
### Tell us about the documentation you'd like us to add or update.
As contributor or Airbyte employee, I want to understand:
- [x] how Airbyte masks secrets, either in the database or in a secret store a.k.a GSM.
- [x] how I would implement adding a new secret to be used by the platform (since this is automatically done for connectors)

### If applicable, add links to the relevant docs that shoul

[2022-09-14 22:56] davinchia commented on #16757
fyi @benmoriceau @git-phu @mfsiega-airbyte from our conversation.

[2022-09-14 22:58] davinchia commented on #16757
Dependant on https://github.com/airbytehq/airbyte-cloud/issues/2690.

[2022-09-14 23:16] gosusnp opened #16760 "Add an acceptance test to ensure the airbyte-cron runs"
## What

We currently do not verify that `airbyte-cron` is able to start, as a result CI has failed to catch bad dependencies that prevented the cron to start.

## How

Have an acceptance test that checks that `airbyte-cron` starts successfully

[2022-09-14 23:22] tuliren opened #16761 "Update documentation to describe CDC vs non-CDC table source approach"
## Tell us about the problem you're trying to solve
- Previously the Postgres connector supported reading tables through CDC and views in one sync.
- However, this feature was removed when we were working on CDC optimization.
  - I could not remember if doing pure CDC in one sync was beneficial. So this could be a regression.
- We should consider add this feature back and not compromise the CDC at

[2022-09-14 23:24] girarda commented on #16442
end of sprint update:
* [procedure can call pokeapi](https://github.com/airbytehq/airbyte/blob/alex/snowflake_poc/airbyte-integrations/snowflake/snowpark.ipynb)
* [script to upload a connector module so it can be used within snowflake](https://github.com/airbytehq/airbyte/blob/alex/snowflake_poc/tools/bin/upload_connector_to_snowflake.py)
* still waiting on access to the api authentication feature

[2022-09-14 23:29] edgao commented on #14770
summarizing some [slack discussion](https://airbytehq-team.slack.com/archives/C03C4AVJWG4/p1663192739940639):

There's maybe a technically feasible implementation in platform (where it detects a lack of checkpointing and forces the destination to commit). This has some advantages (possibly-reduced implementation cost, more consistent behavior across connectors), but also some severe disadvantages:

[2022-09-14 23:53] evantahler commented on #12532
When we do performance measurements on this topic, we need to be sure to isolate the connectors from the platform, as it might be the platform itself that's introducing the slowdown.

For example, @acvelozo was looking at the part of the platform that does message passing from the source to the destination - that part probably isn't slow, but getting all the messages prepared to do that logic migh

[2022-09-14 23:54] gosusnp opened #16762 "Start persisting the states from the ReplicationActivity instead of persisting them in a subsequent activity."
## What

Start persisting the states from the ReplicationActivity instead of persisting them in a subsequent activity.

We currently persist states in a subsequent activity, it has a couple of downside.
* In case of a non-deterministic error from temporal, if this happens during a sync, it means that we would not persist the state of what has been committed so far by the destination. This should n

[2022-09-14 23:58] gosusnp opened #16763 "Document Intro to Temporal"
## What

We rely heavily on temporal, however we lack material to explain key points of temporal.

### How

Add a section in our documentation that highlights key aspects of temporal for understanding how we use it.
It should mostly be about highlights and links towards temporal documentation.

Some current existing notes: https://docs.google.com/document/d/1L-A5kZmYgB6PBY1Gz3Z3bYmStIZVIVIt0CT451a

[2022-09-15 00:01] brianjlai opened #16764 "[per-stream state] move HashableStreamDescriptor out of the state manager"
We currently have an internal class `HashableStreamDescriptor` that is used as a key to facilitate getting/setting per-stream state from within the Connector State Manager. This could have uses outside of just the state manager so we should promote it out of the class, either into `abstract_source.py`, a utility class, or its own file.

[2022-09-15 00:14] lmossman opened #16765 "Removing the first item from a connector field array causes form to be submitted"
## Current Behavior
When the first item is removed from a field array that contains multiple items in a connector form, the form is submitted. It is unclear why this happens.

See this screen recording for a demonstration. The field array in this example is the `Schemas` field on the Postgres source form. Watch what happens when the `public` value is removed:

https://user-images.githubusercontent

[2022-09-15 00:14] octavia-squidington-iii commented on #16765
cc @airbytehq/frontend

[2022-09-15 00:20] grishick opened #16767 "Snowflake Destination should use Connection String Identifier Best Practices"

[2022-09-15 00:25] misteryeo commented on #16386
Sorry I missed this, yes this should be applied to both source and destination checklists. And since there was still an open question, we shouldn't have closed this issue. cc: @YowanR

[2022-09-15 00:39] gosusnp commented on #15218
Depending on how we handle workflow versioning once we have this change ready, we may want to consider https://github.com/airbytehq/airbyte/issues/16762

[2022-09-15 00:43] grishick commented on #14932
@ameyabhope one more question - is Airbyte reading from a leader or a follower replica?

[2022-09-15 00:44] gosusnp commented on #16762
@pmossman, @davinchia, any thoughts/concerns about this? (In general and with multi-cloud in mind)

[2022-09-15 00:47] pmossman commented on #16762
I don't think there are any particular multi-cloud concerns, as long as we persist state by calling the API then Data Plane workers can do that during replication without issue. It seems like persisting state on Airbyte's side as soon as we know the state was persisted on the destination is a good idea in general so I'm in favor

[2022-09-15 00:53] ameyabhope commented on #14932
@ameyabhope It's reading from the main (leader) instance of the Postgres DB.

[2022-09-15 01:03] toandm commented on #16574
Hi @sajarin , thank you for the reply.

I tested it out with a MySQL instance on AWS. It does allow inserting invalid dates with zero for year.
![image](https://user-images.githubusercontent.com/95567342/190288888-f131ddf0-6609-46f3-8855-07416d964b8c.png)

Yes, I have read about this. This one is the server side mode for the MySQL/MariaDB database instance. I'm sure that this mode is set on my cli

[2022-09-15 07:05] igrankova commented on #16386
@misteryeo, sorry, Andy, you're right. I missed the question with the destinations. Updating just now.

[2022-09-15 07:35] harshithmullapudi commented on #13061
@edmundito this is done right?

[2022-09-15 08:12] etsybaev commented on #16650
https://github.com/airbytehq/airbyte/pull/16339

[2022-09-15 08:42] yurii-bidiuk commented on #13311
Hi @grishick
I found that there is only one phyton destination that uses DAT, it's `destiantion-aws-datalake`

[2022-09-15 10:17] suhomud commented on #8890
@DoNotPanicUA @grishick, I think I'll open a sub tickets for a part which is related to the testing tool.

Regarding the issue itself I'm on it. Found that if I use local Mysql DB with a table  size 16GB the sync passed successfully. So the issue happen  only with Amazon RDS instance. My assumption is that something to do with RDS configs. Investigating it...

[2022-09-15 11:20] #14557 closed

[2022-09-15 11:21] gargatuma opened #16771 "Support: HashiCorp Vault AppRole Auth Method"
## Tell us about the problem you're trying to solve
Recently, Airbyte added HashiCorp Vault as an external secrets storage option. But currently, it supports only token based auth.

## Describe the solution you’d like
Add AppRole as Auth Method for HashiCorp Vault.

[2022-09-15 11:58] davydov-d opened #16773 "Source S3: sync fails when file misses a new line at its end"
STR:
1. Setup an S3 -> any destination connection
2. S3 source should  point to a CSV file missing a new line pin the end
3. Run sync

AR:
  Fail
[code]

ER:
  successful sync

[2022-09-15 12:00] ycherniaiev commented on #16750
@YowanR @igrankova  So, there are three media types: IMAGE, VIDEO and CAROUSEL_ALBUM. now - they are all present for instagram(airbytehq) . Regarding media_product_types - in waht sream is this field? I cannot check what is already present from: AD, FEED, STORY or REELS.

[2022-09-15 12:07] animer3009 commented on #15571
Hi @grubberr ,
Sorry for the late response.
Hard to answer your question, cuz after this ticket we got multiple connector updates.
About 10-15 days ago we were still experiencing this issue.
After I changed data architecture. I made source connectors for "report streams" and excluded vendor profiles using Profile IDs filter.
So with this action I technically avoid this issue. So I am not sure if i

[2022-09-15 12:11] grubberr commented on #15571
@animer3009
For us are important logs with this problem
if you would be able to provide fresh logs with this problem
it would be good :)

[2022-09-15 12:26] obraginskaya commented on #16693
@sajarin, so my table is 3.5 Gb. I read this https://docs.airbyte.com/operator-guides/scaling-airbyte#memory
3.5 Gb / 8.300.000 = 0.4212Kbs in average. 10000 * 0.4212 = 4.212Mbs of RAM if I calculated it correctly.

JOB_MAIN_CONTAINER_CPU_REQUEST=500m
JOB_MAIN_CONTAINER_CPU_LIMIT=2
JOB_MAIN_CONTAINER_MEMORY_REQUEST=500Mi
JOB_MAIN_CONTAINER_MEMORY_LIMIT=5Gi

This is my env settings. Now I'm confuse

[2022-09-15 12:48] obraginskaya commented on #16693
I found in a log my pod requirements
`KubeProcessFactory(create):100 - Attempting to start pod = source-cockroachdb-check-30268-0-vnrvn for airbyte/source-cockroachdb:0.1.18 with resources io.airbyte.config.ResourceRequirements@122d65a9[cpuRequest=500m,cpuLimit=2,memoryRequest=500Mi,memoryLimit=5Gi]'`

[2022-09-15 12:56] igrankova commented on #16386
@misteryeo, The destinations checklists are updated as well. Our Java team checked the criteria and I added the statuses to the checklists.
cc @YowanR

[2022-09-15 12:59] #12396 closed

[2022-09-15 13:07] obraginskaya commented on #16693
I found from log that my real requirements are the connection requirements
cpu_request: "50m"
 cpu_limit: "2"
 memory_request: "1Gi"
 memory_limit: "8Gi"

[2022-09-15 13:20] yurii-bidiuk commented on #16613
Hi @grishick
AlloyDB is a cloud service and all connections should always use SSL. There is no reason to have non-SSL connections because there will be rejected by AlloyDB service.
We decided to not create a strict-encrypt version for AlloyDb connector, but to change source-alloyDb to make it use an SSL connection. We just need to wrap `PostgresSourceStrictEncrypt` instead of `PostgresSource` insi

[2022-09-15 13:20] grubberr commented on #15405
I am closing this
This PR https://github.com/airbytehq/airbyte/pull/16544 has to help with crashing

[2022-09-15 13:20] #15405 closed

[2022-09-15 13:43] natalyjazzviolin commented on #16742
Hi @lluisgassovillarejo , it looks like incremental updates are supported in the Redshift destination connector:
https://docs.airbyte.com/integrations/destinations/redshift/#supported-sync-modes

And the latest version is 0.3.49, released on September 1 2022. Could you update to the latest version and try the incremental sync once more? I will close this issue while we discuss this some more, as t

[2022-09-15 13:50] obraginskaya commented on #16693
I tried to increase resources, still Java OOM:
  resourceRequirements:
    cpu_request: "50m"
    cpu_limit: "2"
    memory_request: "8Gi"
    memory_limit: "16Gi"

[2022-09-15 14:21] obraginskaya commented on #16693
And tried allowed maximum for our instance type c5a.2xlarge - also OOM

cpu_request: 2
    # cpu_limit: "2" # No limit
    memory_request: "14Gi"
    memory_limit: "14Gi"

[2022-09-15 14:31] #16071 closed

[2022-09-15 15:11] #11322 closed

[2022-09-15 15:13] grishick commented on #8890
Makes sense. There is also networking and RDS-special configs involved.

[2022-09-15 15:23] jdpgrailsdev commented on #12396
Remaining work categorized as sub tasks in #16699

[2022-09-15 15:26] grishick commented on #16613
The keyword here is "should". AlloyDB is deployed inside a VPC and in order to connect to it from outside the VPC, admins will have to configure a proxy (see docs [here](https://cloud.google.com/alloydb/docs/connect-external)). Admins will be able to configure the proxy with or without SSL and in fact, when testing our Postgres connector with AlloyDB we have confirmed that we were able to connect

[2022-09-15 15:30] #16244 closed

[2022-09-15 15:43] timroes commented on #16515
Patsy and I talked offline. As long as we only use this flag for sending out security notices, we can have this on by default. I'll reassign this issue to the Platform Workflow team, since we don't have that switch anywhere during signup or initialization, so we should just make sure this is set to `true` whenever we create a new workspace.

[2022-09-15 15:44] tealjulia commented on #15669
@timroes would this contradict the work proposed in #16368 ?

[2022-09-15 16:02] colesnodgrass commented on #15522
[first PR is here](https://github.com/airbytehq/airbyte/pull/16758)

[2022-09-15 16:13] YowanR commented on #16386
Thanks @igrankova. This looks good to me and since there are no more open questions here, you can close it now :)

[2022-09-15 16:17] brianjlai opened #16777 "Auto generate the config_component_schema.json"
We currently display a JSON schema representation of the declarative language components in: https://github.com/airbytehq/airbyte/tree/master/airbyte-cdk/python/airbyte_cdk/sources/declarative . We currently have a function in `YamlDeclarativeSource.generate_schema()` that generates a JSON string representation of the schema.

However, this is currently generated and published manually so it could

[2022-09-15 16:21] YowanR commented on #14293
@sherifnada Could you take a look at this? Would we ever consider doing the work to support OAuth for Sentry? If so we can create an issue to track it.

[2022-09-15 16:29] tealjulia commented on #16368
Re-assigning to KC as this fits within the scope of his latest PR that is addressing submit behavior.

[2022-09-15 16:34] tealjulia commented on #14096
@krishnaglick this seems like it might be reasonable to fold into when we address the "refresh source schema" logic?  I don't want to introduce scope creep, but seems like it could be small to implement.

[2022-09-15 16:39] sajarin commented on #16693
Thanks for the additional info/tests. Is this an incremental sync or a full refresh? And how many records are synced before it throws OOM?

[2022-09-15 16:44] sajarin commented on #16574
I found this when looking up information about invalid dates on the MySQL reference page: https://dev.mysql.com/doc/refman/5.6/en/using-date.html#:~:text=MySQL%20permits%20you%20to%20store%20a%20%E2%80%9Czero%E2%80%9D%20value%20of%20',0000%2D00%2D00'%20.

It seems like 0000-00-00 is a valid date but 0000-12-30 is not. 0000-00-00 is reserved for "dummy" data. This may just be a limitation with the

[2022-09-15 17:14] mfsiega-airbyte commented on #16648
https://github.com/airbytehq/airbyte/pull/16739 to make workspaces update patch-style.

[2022-09-15 19:20] mackro-rocky opened #16780 "Change Data Capture from Postgres -> Snowflake failing"
## Environment
- **Airbyte version**:  0.40.3
- **OS Version / Instance**: Amazon Linux 2 / AWS EC2
- **Deployment**: docker
- **Source Connector and version**: postgres 1.0.5
- **Destination Connector and version**: snowflake 0.4.34

## Current Behavior
Running all queries in Snowflake:
[code]

## Expected Behavior
Should get a row with null in the non SCD version of the TABLE, but I do not. Post

[2022-09-15 19:55] #16055 closed

[2022-09-15 22:14] #6448 closed

[2022-09-15 22:44] sophia-wiley opened #16788 "OSS Cron Docs"
Related to [2170](https://github.com/airbytehq/airbyte/issues/2170).

[2022-09-15 22:56] sophia-wiley commented on #16601
Document available [here](https://docs.airbyte.com/integrations/sources/bing-ads).

[2022-09-15 22:57] #16601 closed

[2022-09-15 23:39] animer3009 commented on #15571
@grubberr I just tested and working good for now.
I am going test different stuff and keep you updated.

[2022-09-16 00:34] toandm commented on #16574
Yeah, I just think that since MySQL supports both of these invalid forms, it makes sense for the connector to respect it and still output the values as normal. My guess is that the JDBC connector is hard-coded to accept all zero date, but does not handle the case where year is '0000'.
Please somehow handle this, some important tables of my client has these invalid values and they are causing a lot

[2022-09-16 00:52] marcosmarxm commented on #14407
*Comment made from Zendesk by Marcos Marx on 2022-09-16 at 00:52:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I don’t understand this issue, this is already implemented because on GCE or GKE, BigQuery connector will accept the default credential for the environment, just do not pass the json at all when creating the destination.</p>
<p dir="auto">Is this not working?</p>

 [<a h

[2022-09-16 03:42] #16057 closed

[2022-09-16 05:37] carlos-verdes commented on #15391
Is there any code we can review/help for this?

I can see there is already an announcement for this connector:
https://airbyte.com/connectors/vertica

[2022-09-16 06:30] #16386 closed

[2022-09-16 06:36] igrankova commented on #7646
@sajarin,
Found all previous emailing with Karina and tried to contact the person she contacted with. But he is not available anymore. I sent the last email where they provide us the free account as a sandbox to the support operator and hope it could help us to speed up the reactivation.

[2022-09-16 07:11] mozarik commented on #16763
kinda need this also

[2022-09-16 07:48] as42sl opened #16800 "Ingress in Helm chart broken"
Activating the ingress breaks the helm chart:

`{"level":"error","ts":"2022-09-15T12:52:48.137Z","msg":"reconciliation failed: Helm upgrade failed: template: airbyte/charts/webapp/templates/ingress.yaml:53:33: executing \"airbyte/charts/webapp/templates/ingress.yaml\" at <.Release.Name>: nil pointer evaluating interface {}.Name","name":"airbyte","namespace":"data-warehouse-airbyte","reconciler kin

[2022-09-16 09:29] ycherniaiev opened #16801 "[EPIC] Source Asana: create issues to cover MLP enhancements"
## Tell us about the problem you're trying to solve
For ceratin connectors our competitors implemented more than we did. We should investigate the pros and cons of implementing these feutures in Airbyte.

## Describe the solution you’d like
Fivetran implemented 4 sreams that we did not: Attachment, Organization Export, Portolio, Portfolio Memebership:

- [x] [Attachment](https://docs.google.com/do

[2022-09-16 09:37] ycherniaiev opened #16802 "Source Asana: new stream Attachment"
## Tell us about the problem you're trying to solve
An attachment object represents any file attached to a task in Asana, whether it’s an uploaded file or one associated via a third-party service such as Dropbox or Google Drive.

## Describe the solution you’d like
Research pros and cons for implemting this stream.
Depending on your role within Asana you may see not all attachements:
![image](http

[2022-09-16 09:41] ycherniaiev opened #16803 "Source Asana: new stream Organization Export"
## Tell us about the problem you're trying to solve
 Details of a previously-requested Organization export.

## Describe the solution you’d like
Research pros and cons for implementing this stream.

[2022-09-16 09:49] ycherniaiev opened #16804 "Source Asana: new stream Portfolios"
## Tell us about the problem you're trying to solve
A portfolio gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [status update](https://developers.asana.com/docs/asana-statuses). Portfolios have some restrictions on size. Each portfolio has a max of

[2022-09-16 09:51] ycherniaiev opened #16805 "Source Asana: new stream Portfolio Memberships"
## Tell us about the problem you're trying to solve
Returns a list of portfolio memberships in compact representation. You must specify portfolio, portfolio and user, or workspace and user.

## Describe the solution you’d like
Research pros and cons for implemting this stream.
Depending on your role within Asana you may have no access to this stream
![image](https://user-images.githubusercontent.c

[2022-09-16 10:20] igrankova commented on #7646
@sajarin ,
The account is reactivated! If you need something else here, let me know:)

[2022-09-16 10:25] #13311 closed

[2022-09-16 10:59] igrankova commented on #16170
For the information:
![image](https://user-images.githubusercontent.com/87977540/190624446-8b236b7e-106d-4a7d-ba2d-21401afee3c3.png)

[2022-09-16 11:17] etsybaev commented on #2759
Performed some investigation:

From what I see now - the main reason is the time required for test-container start.
For example, it takes 1-2 seconds for the Postgres test-container to become up and running, meanwhile, it takes 40+ seconds for Oracle DB.
So there is nothing we can do there,

Here are some test run comparisons.
Legend:
o - oracle run
p - postgres run
First digit - time required to

[2022-09-16 11:18] #2759 closed

[2022-09-16 11:45] yurii-bidiuk commented on #16615
From my understanding, in the scope of this ticket we need to:
- add an optional field to spec.json (e.g `partner_string`)
- if `partner_string` is present in the config, add the header `"user-agent" `to BigQuery service builder and GCS Storage builder:
[code]
[code]

[2022-09-16 12:18] suhomud commented on #8890
Some new inputs from my side. I was able to pass sync with RDS MySql and S3 by changing PreparedStatement fetch size:
`preparedStatement.setFetchSize(Integer.MIN_VALUE);`
This allows to pass replication but it means that we are fetching one row at a time which is affects the time of sync significantly. Finding from [Mysql Docs](https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-imp

[2022-09-16 12:37] DustyShap commented on #16800
I am also seeing this error, thanks for opening the issue.  Do you have a current workaround for latest charts?

[2022-09-16 13:11] nauxliu opened #16808 "Source Intercom: takes 30 hours to sync 200K records"
## Environment

- **Airbyte version**:  0.40.6
- **OS Version / Instance**: EKS 1.23
- **Deployment**: Kubernetes
- **Source Connector and version**: Intercom 0.1.26
- **Destination Connector and version**: Snowflake 0.4.36
- **Step where error happened**: Sync job

## Current Behavior

It took 30 hours to sync 200K records. the time was spent mostly on the conversation object, per my research, th

[2022-09-16 13:36] animer3009 commented on #15571
@grubberr
I noticed one issue.
We have FE profiles but Amazon ads 0.1.20 is not returning any data (including profiles).
NA and EU looks good.
Can you look at that?

[2022-09-16 14:09] natalyjazzviolin commented on #16808
Hi @nauxliu , you're deploying on Kubernetes, is that correct? Could you please include that information in your initial post as per the template we provide?

[2022-09-16 14:25] #15791 closed

[2022-09-16 15:30] KishinNextCompara commented on #12844
I have the same problem, any update?

[2022-09-16 15:57] #13160 closed

[2022-09-16 16:12] etsybaev commented on #16650
Hi @grishick .
Is there any way to reproduce it locally?
Thanks

[2022-09-16 16:13] marcosmarxm commented on #14407
*Comment made from Zendesk by Marcos Marx on 2022-09-16 at 16:13:*

<blockquote><div class="zd-comment" dir="auto">Latest version of the connector it's possible default credentials:<br>Service Account Key JSON - The contents of the JSON service account key. Check out the <a rel="noopener noreferrer" href="https://docs.airbyte.com/integrations/destinations/bigquery#service-account-key"><u>docs</u><

[2022-09-16 16:53] mackro-rocky commented on #16780
I’m starting to track down the problem more.

Note: the source has multiple replication slots which are NOT shared between airbyte connections, we do share a single publication though.

Notice Row 1 is emitted AFTER row 2, yet CDC is BEFORE row 2 - this results in the final table being out of sync with source.

[code]
Here is what a “good” record looks like.
[code]

[2022-09-16 16:53] gosusnp opened #16814 "Create Airbyte Protocol v1"
## What

Create the v1 of Airbyte Protocol.

## How

* Update documentation
* Clone `v0/airbyte_protocol.yaml` into `v1/airbyte_protocol.yaml`
* Make sure `airbyte_protocol.yaml` is a symlink to `v1/airbyte_protocol.yaml`

[2022-09-16 17:10] #15295 closed

[2022-09-16 17:54] misteryeo commented on #9296
What happened to this PR @harshithmullapudi @timroes?

Just saw some customer feedback asking for this and actually thought we released this already.

[2022-09-16 18:02] donald-kortx opened #16815 "Kubernetes with Helm Server Error"
## Environment
- **Airbyte version**:  Chart Version: 0.40.6, App Version: 0.40.6
- **OS Version / Instance**: AWS EKS
- **Deployment**: Kubernetes (EKS) using Helm
- **Step where error happened**: Deploy

## Current Behavior
I followed the directions on https://docs.airbyte.com/deploying-airbyte/on-kubernetes-via-helm/#install-helm

After running `helm install airbyte-helm airbyte/airbyte`

I rec

[2022-09-16 19:00] marcosmarxm commented on #14407
*Comment made from Zendesk by Marcos Marx on 2022-09-16 at 19:00:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a> <a href="https://github.com/airbytehq/airbyte/blob/cb3312a6b5295269621f60720e1b4c8c5af7db05/airbyte-integrations/connectors/source-bigquery/src/ma

[2022-09-16 19:18] mackro-rocky commented on #16780
Source table example:
[code]

Notice we have two publications on the table, I'm reading from airbyte_publication2 though.

[2022-09-16 19:59] marcosmarxm commented on #14407
*Comment made from Zendesk by Marcos Marx on 2022-09-16 at 19:59:*

<blockquote><div class="zd-comment" dir="auto">Look this is only available for bigquery as destination: <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/blob/cb3312a6b5295269621f60720e1b4c8c5af7db05/airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json">https://github.com/airbyteh

[2022-09-16 20:07] #16079 closed

[2022-09-16 20:12] #16074 closed

[2022-09-16 20:28] grishick commented on #16650
I don't think so, please talk to @suhomud who authored the initial version of the GitHub action

[2022-09-16 20:36] grishick commented on #8890
@tuliren @suhomud my understanding is that fetch size is set dynamically based on the estimation of an average row size. So, what I wonder is"

- Why doesn't dynamic fetch size work in this scenario and how can we make it work?
- How large is a single row and what is the distribution of row sizes in this table?
- How the behavior of this scenario changes when we increase memory allocation for the

[2022-09-16 20:50] ryankfu opened #16833 "Fail `check` when user has incorrect permission to target Snowflake warehouse"
## Tell us about the problem you're trying to solve
Follows along with [oncall issue](https://github.com/airbytehq/oncall/issues/443) where user is getting an error message of
[code]

## Describe the solution you’d like
Fail the `check` method when invalid permissions to a target Snowflake warehouse is accessed

## Describe the alternative you’ve considered or used
Add documentation informing user

[2022-09-16 21:44] grishick opened #16836 "mask sensitive information in all log output before logs are written to S3"
## Problem
Currently log messages that are coming from Airbyte code and from 3rd party code may contain sensitive information (access tokens, encryption keys, passwords, account numbers). We need to make sure this information does not get exposed.

## Proposed Solution
Before saving logs to object storage and before showing them in UI, platform should remove (or mask) from logs all items that matc

[2022-09-16 22:05] grishick commented on #16615
For `company_name` - let's use Airbyte, e.g. `(GPN:Airbyte)`

For `Product_name` - is it possible to use the name and version of the connector that is using the code? I know there is a lot of code sharing between destination connectors, so I am not sure if there is a way for the code to know at runtime or at compile time which connector it is - could you try and figure this out?

[2022-09-16 22:10] philippeboyd opened #16837 "[Source IBM Db2] - Add SSH tunnel connectivity"
## Tell us about the problem you're trying to solve
Unable to connect to a DB2 instance behind a private network.

## Describe the solution you’d like
Same MSSQL, and MySQL , add the option to connect to a DB2 instance using an SSH tunnel

[2022-09-16 22:11] tuliren opened #16838 "`JdbcSourceOperations` method `setJsonField` misses a branch for `TIMESTAMP_WITH_TIMEZONE`"
## Current Behavior
- Currently `TIMESTAMP_WITH_TIMEZONE` is not handled by `JdbcSourceOperations#setJsonField`. This time falls under the default branch, and the output is not the same as what we want (e.g. it does not have microsecond precision).
- This issue is discovered in https://github.com/airbytehq/airbyte/issues/16552 and https://github.com/airbytehq/airbyte/pull/16766.
  - When the Snowf

[2022-09-16 22:14] philippeboyd commented on #16837
I've seen the following in the the Docs:

Not sure I fully understand that note, isn't it an SSH port forwarding after all? Why would SSH change the visible name of the target?

[2022-09-16 23:35] pedroslopez opened #16840 "Show connector FailureReason when setting up a connection"
## Tell us about the problem you're trying to solve

When the user is setting up their source, if the connector fails when calling `discover`, the error will not be shown to the user. This means that they can't debug the problem.

This is what the user sees right now:

<img width="1101" alt="image" src="https://user-images.githubusercontent.com/4368928/190830411-5379a89b-c691-485a-a29b-7deb0f5520f

[2022-09-16 23:38] YowanR commented on #6186
Hi @igrankova @ycherniaiev Could you check the application for an update? I couldn't log in on my side.

[2022-09-16 23:48] YowanR commented on #16627
@YuliiaNahoha  @lazebnyi  This issue might blow-up so let's be proactive about fixing it.

[2022-09-17 00:30] animer3009 opened #16841 "Destination BigQuery (denormalized typed struct): long integer values issue"
## Environment
- **Airbyte version**:  0.40.10
- **OS Version / Instance**:  Ubuntu 22.04, GCP
- **Deployment**: Docker
- **Source Connector and version**: Amazon Ads 0.1.22
- **Destination Connector and version**: BigQuery (denormalized typed struct) 1.2.4
- **Step where error happened**: BigQuery (denormalized typed struct) Destination connector store data

## Current Behavior
It is damaging lon

[2022-09-17 13:37] mackro-rocky commented on #16780
Here's another example from the same runs.

[code]
Notice UUID of `30ef7f82-e4a0-4365-8dbb-415e449ced2e` has `_AB_CDC_UPDATED_AT` in order with `_AIRBYTE_EMITTED_AT`, while `70cc9a67-11f3-4fea-824d-8361db470646` and `dbb38b96-4fc7-4538-aa5d-306eadc38e8e` have `_AB_CDC_UPDATED_AT` > second row for the same record.

[2022-09-17 13:50] mackro-rocky commented on #16780
I changed the replication slot and publication slot to be 1 to 1, this appears to have solved the issue.

[2022-09-17 13:50] #16780 closed

[2022-09-18 01:57] LieAlbertTriAdrian commented on #2224
Interested in hearing the answers for this as well! Have you found a work around? @varunbpatil

[2022-09-18 04:55] marcosmarxm commented on #16652
*Comment made from Zendesk by Marcos Marx on 2022-09-18 at 04:55:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">The frequence is 1 hour.</p>

 [<a href="https://discuss.airbyte.io/t/long-loading-time/2536/8" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-09-18 12:21] Nmaxime opened #16848 "Sandbox Account for Airship"
Need a sandbox account for PR https://github.com/airbytehq/airbyte/pull/16573

https://www.airship.com/

[2022-09-18 12:22] Nmaxime commented on #16848
@sajarin , I don't have the rights to set the expected labels, as you did [here](https://github.com/airbytehq/airbyte/issues/16171).

[2022-09-18 13:11] mackro-rocky opened #16849 "JSON not being copied on incremental sync"
## Environment
- **Airbyte version**:  0.40.6
- **OS Version / Instance**: Amazon Linux 2 / AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Postgres 1.0.7
- **Destination Connector and version**: Snowflake 0.4.35
- **Step where error happened**: After initial sync

## Current Behavior
We have a column which contains json data, but of type text in postgres. We're using wal2json

[2022-09-19 05:05] suhomud commented on #8890
@grishick
I made a local db with a table with **one million** records and size is **14344 MB** so each record is near **14 kB**. I put the same resource quota as we have in Airbyte prod env:
[code]
local sync failed. It looks like fetch size has been ignored and select query trying to fetch all in memory.
There are two things which I will test:

- `stmt.setFetchSize(Integer.MIN_VALUE)` it disables

[2022-09-19 05:48] harshithmullapudi commented on #15391
Hey I don't think we have any PR's regarding this source yet.

[2022-09-19 07:14] igrankova commented on #6186
@YowanR, hi!
It's a bit tricky to login :)
First I log into the account: https://dev-01177082.okta.com/
![image](https://user-images.githubusercontent.com/87977540/190966042-96f77ec0-4938-4bfd-978f-16979e4ca40c.png)
Then - to the OIN, selecting our account: https://oinmanager.okta.com/
![image](https://user-images.githubusercontent.com/87977540/190966259-395a89a4-59a8-4fd4-8195-cc0496a1df20.png)
T

[2022-09-19 07:26] ycherniaiev opened #16852 "Source Square: new stream Cash Drawers"
## Tell us about the problem you're trying to solve
Cash drawer shifts track cash transactions so that the total money in the cash drawers can be reconciled for a specific period of time (a cash drawer shift), for a particular device, in a particular location.

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-09-19 07:29] ycherniaiev opened #16853 "Source Square: new stream Location"
## Tell us about the problem you're trying to solve
Provides details about all of the seller's [locations](https://developer.squareup.com/docs/locations-api), including those with an inactive status.

## Describe the solution you’d like
Research pros and cons for implementing this stream.
For this stream MERCHANT_PROFILE_READ scope is obligatory

[2022-09-19 07:40] nauxliu commented on #16808
@natalyjazzviolin Yes, It was running on Kubernetes. I have updated the issue information per your reqeust.

[2022-09-19 07:55] ycherniaiev opened #16854 "Source Square: new stream Loyalty"
## Tell us about the problem you're trying to solve
A Square loyalty program maintains a ledger of events that occur during the lifetime of a buyer's loyalty account. Each change in the point balance (for example, points earned, points redeemed, and points expired) is recorded in the ledger. Using this endpoint, you can search the ledger for events.

## Describe the solution you’d like
Research pr

[2022-09-19 07:59] ycherniaiev opened #16855 "Source Square: new stream Inventory"
## Tell us about the problem you're trying to solve
Retrieves the current calculated stock count for a given [CatalogObject](https://developer.squareup.com/reference/square/objects/CatalogObject) at a given set of [Location](https://developer.squareup.com/reference/square/objects/Location)s.

Responses are paginated and unsorted. For more sophisticated queries, use a batch endpoint.

## Describe t

[2022-09-19 08:01] ycherniaiev opened #16856 "Source Square: new stream Bank Accounts"
## Tell us about the problem you're trying to solve
Returns a list of [BankAccount](https://developer.squareup.com/reference/square/objects/BankAccount) objects linked to a Square account.

## Describe the solution you’d like
Research pros and cons for implemeting this stream.
For this stream BANK_ACCOUNTS_READ scope is obligatory

[2022-09-19 08:06] igrankova commented on #15217
[Templates: Source [Source Name] enhancements according to MLP](https://docs.google.com/document/d/1x_gIDLQq9GAJoxEGKAVjWkMAwdB9NIlhEb6hBWUur9g/edit?usp=sharing)

[2022-09-19 08:26] igrankova opened #16857 "Create enhancements issues that would help make our connectors more competitive as detailed in MLP"
## Tell us about the problem you're trying to solve
For the list of connectors below create epics and issues that cover enhancements from this [DOC](https://docs.google.com/document/d/1x_gIDLQq9GAJoxEGKAVjWkMAwdB9NIlhEb6hBWUur9g/edit?usp=sharing)

- [x] [Zendesk Support](https://docs.google.com/document/d/179CgrB6Mc6TCad8BoAoYLkEt7BsVdW9boIdvauTg6OQ/edit#), #16858
- [x] [Tiktok Marketing](https://

[2022-09-19 08:28] igrankova commented on #15217
See the task for epics/issue creating [here](https://github.com/airbytehq/airbyte/issues/16857)

[2022-09-19 08:28] #15217 closed

[2022-09-19 08:43] alexchouraki commented on #10399
Seems to be working properly, thank you!

[2022-09-19 08:43] #10399 closed

[2022-09-19 08:48] igrankova opened #16858 "[EPIC] Source Zendesk Support: create issues to cover MLP enhancements"
## Tell us about the problem you're trying to solve
Following our market research and analysis, we've identified the streams and enhancements that would help make our connectors more competitive as detailed [here](https://docs.google.com/document/d/179CgrB6Mc6TCad8BoAoYLkEt7BsVdW9boIdvauTg6OQ/edit#)

## Describe the solution you’d like
Check the box when the stream is supported by Airbyte. Note: I

[2022-09-19 08:55] igrankova opened #16859 "Source Zendesk Support: new stream Articles"
## Tell us about the problem you're trying to solve
[Articles](https://developer.zendesk.com/api-reference/help_center/help-center-api/articles/#content) are content items such as help topics or tech notes contained in [sections](https://developer.zendesk.com/api-reference/help_center/help-center-api/sections/).

[Allowed for:](https://developer.zendesk.com/api-reference/help_center/help-center-ap

[2022-09-19 09:03] hellmund opened #16860 "🐛 Source MySQL: `java.lang.IllegalArgumentException` check connection after update from 0.6.8 to 0.6.9+"
## Environment
- **Airbyte version**: 0.40.7 and 0.40.6 (upgraded from 0.40.4)
- **OS Version / Instance**: Amazon Linux 2 AMI, EC2 t3a.large
- **Deployment**: Docker
- **Source Connector and version**: MySQL 0.6.13 and 0.6.11 (upgraded from 0.6.8)
- **Destination Connector and version**: N/A
- **Step where error happened**: Sync job and also when testing existing connection

## Current Behavior
A

[2022-09-19 09:03] sajarin commented on #16800
Thanks @as42sl for the issue. Are you willing to submit a PR? If not, someone from our team will try to resolve this issue when they're able to. Thanks.

[2022-09-19 09:17] shrodingers commented on #14932
@grishick @ameyabhope, I have the exact same issue with syncs triggered from scratch, and I noticed that was tied with this message on the prev sync (causing the lsn not to be correctly stored on the state of connection, thus triggering a full refresh on next sync)

[code]
Except there was some update that shall be persisted to the state since lsn cursor has been moved. This happens for me on two

[2022-09-19 10:45] igrankova opened #16864 "Obtain public developer application for the Wrike source connector"
## Tell us about the problem you're trying to solve
[Docs](https://developers.wrike.com/oauth-20-authorization/)

[2022-09-19 10:46] ycherniaiev opened #16865 "[EPIC] Source Braintree: create issues to cover MLP enhancements"
## Tell us about the problem you're trying to solve
Following our market research and analysis, we've identified the streams and enhancements that would help make our connectors more competitive as detailed [here](https://docs.google.com/document/d/1uxSslRm_cHWla2FJZ2NBSJ_hhKKJBMBxd9KzPLLxLrU/edit#heading=h.22fd5raysmm3)

## Describe the solution you’d like
Check the box when the stream is support

[2022-09-19 10:51] ycherniaiev opened #16866 "Source Braintree: new stream Transaction Line Itam"
## Tell us about the problem you're trying to solve
Returns a collection of [Transaction Line Item](https://developer.paypal.com/braintree/docs/reference/response/transaction-line-item) objects.

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-09-19 10:55] ycherniaiev opened #16867 "Source Braintree: new stream Credit Card"
## Tell us about the problem you're trying to solve
Retirns [Credit Card Objects](https://developer.paypal.com/braintree/docs/reference/response/credit-card)

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-09-19 10:57] igrankova opened #16868 "Source Zendesk Support: new stream Audit Logs"
## Tell us about the problem you're trying to solve
[Audit Logs](https://developer.zendesk.com/api-reference/ticketing/account-configuration/audit_logs/#content) show various changes in a Zendesk account since the account was created. Records of these changes are saved indefinitely and you can view the entire change history.

[Allowed for:](https://developer.zendesk.com/api-reference/help_center/h

[2022-09-19 11:01] carlos-verdes commented on #15391
Do you know why it's on the main page then?

[2022-09-19 11:03] igrankova opened #16869 "Source Zendesk Support: new stream Brands"
## Tell us about the problem you're trying to solve
[Brands](https://developer.zendesk.com/api-reference/ticketing/account-configuration/brands/) are your customer-facing identities. They might represent multiple products or services, or they might literally be multiple brands owned and represented by your company.
The default brand is the one that tickets get assigned to if the ticket is generate

[2022-09-19 11:10] igrankova opened #16870 "Source Zendesk Support: new stream Custom Agent Roles"
## Tell us about the problem you're trying to solve
[Custom Agent Roles](https://developer.zendesk.com/api-reference/ticketing/account-configuration/custom_roles/). Zendesk Support accounts on the Enterprise plan or above can provide more granular access to their agents by defining custom agent roles.

**Availability: Accounts on the Enterprise plan or above**

[Allowed for:](https://developer.zen

[2022-09-19 11:17] igrankova opened #16871 "Source Zendesk Support: new stream Organization Fields"
## Tell us about the problem you're trying to solve
You can use this API to add fields to the Organization page in the Zendesk user interface. Basic text fields, date fields, as well as customizable drop-down and number fields are available. The fields correspond to the [Organization Fields](https://developer.zendesk.com/api-reference/ticketing/organizations/organization_fields/) that admins can a

[2022-09-19 11:27] ycherniaiev opened #16872 "Source Braintree: new stream Credit Card Verification"
## Tell us about the problem you're trying to solve
Returns list of [Credit Card Verification Objects](https://developer.paypal.com/braintree/docs/reference/response/credit-card-verification)

## Describe the solution you’d like
 Research pros and cons for implementing this stream.

[2022-09-19 11:38] ycherniaiev opened #16873 "Source Braintree: new stream Merchant Account"
## Tell us about the problem you're trying to solve
Returns list of [Merchant Account Objects](https://developer.paypal.com/braintree/docs/reference/response/merchant-account)

## Describe the solution you’d like
 Research pros and cons for implementingthis stream.

[2022-09-19 11:45] #16696 closed

[2022-09-19 11:52] ycherniaiev opened #16874 "[EPIC] Source Recurly: create issues to cover MLP enhancements"
## Tell us about the problem you're trying to solve
Following our market research and analysis, we've identified the streams and enhancements that would help make our connectors more competitive as detailed [here](https://docs.google.com/document/d/1uxSslRm_cHWla2FJZ2NBSJ_hhKKJBMBxd9KzPLLxLrU/edit#heading=h.22fd5raysmm3)

## Describe the solution you’d like
Check the box when the stream is support

[2022-09-19 11:57] ycherniaiev opened #16875 "Source Recurly: new stream Account Acqusition Info"
## Tell us about the problem you're trying to solve
Acquisition Data
You can capture the following information about a customer account in Recurly:
- Cost to Acquire a Customer - Total cost of marketing activities to acquire the customer.
- CAC Currency - Currency, 3-letter ISO code.
- Acquisition Channel - The method by which the customer was acquired.
- Acquisition Sub-Channel - A free-form fiel

[2022-09-19 12:47] infina-calvin opened #16877 "Source MongoDB: failed to fetch schema"
## Environment
- **Airbyte version**:  example is 0.40.6-alpha
- **OS Version / Instance**:  Ubuntu 22.04.1 LTS
- **Deployment**:   Docker
- **Source Connector and version**: MongoDB 0.1.17
- **Destination Connector and version**:  Google Bigquery  1.2.1
- **Step where error happened**: Set up new connection, refresh source schema for existing connection

## Current Behavior
When refreshing existi

[2022-09-19 13:00] davydov-d commented on #16773
The problem here is CSV files without a new line at its end are failing a sync. We should either
 - look up a new line during a connection `check`
 - filter out files/streams when performing `discover` command and log a warning (preferable option imho, but we do not show logs in UI during discovery stage)
 - add a new line on the fly when reading

[2022-09-19 13:14] #13061 closed

[2022-09-19 13:21] #10726 closed

[2022-09-19 13:34] suhomud commented on #8890
@grishick @tuliren ,
Let me summarise what I found.

 **MySQL JDBC driver does not respect fetch size ⛔️**

This part is ignored by mysql driver:
`preparedStatement.setFetchSize(FetchSizeConstants.INITIAL_SAMPLE_SIZE);`
 https://github.com/airbytehq/airbyte/blob/master/airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/streaming/AdaptiveStreamingQueryConfig.java#L36
Mysql connector trying to fetch

[2022-09-19 14:06] andriikorotkov opened #16879 "E2E Testing Tool: Run Airbyte docker container for testing tool for github action"
Run Airbyte docker container for testing tool for github action

[2022-09-19 14:09] ycherniaiev opened #16880 "[EPIC] Source Chargebee: create issues to cover MLP enhancements"
## Tell us about the problem you're trying to solve
Following our market research and analysis, we've identified the streams and enhancements that would help make our connectors more competitive as detailed [here](https://docs.google.com/document/d/1yRDI1VItRqDfNKMQukqv0kr4Gx6cgh4Oh_Xh5LnxNo4/edit)

## Describe the solution you’d like
Check the box when the stream is supported by Airbyte. Note: If

[2022-09-19 14:29] igrankova opened #16881 "Source Zendesk Support: new stream Organization Memberships"
## Tell us about the problem you're trying to solve
A membership links a user to an organization. Organizations can have many users. Users can be in many organizations if the account supports multiple organizations. You can use the API to list users in an organization, and reassign [Organization Memberships](https://developer.zendesk.com/api-reference/ticketing/organizations/organization_membershi

[2022-09-19 14:34] igrankova opened #16882 "Source Zendesk Support: new stream Post Comments"
## Tell us about the problem you're trying to solve
[Post Comments](https://developer.zendesk.com/api-reference/help_center/help-center-api/post_comments/). Users can participate in community discussions by adding comments to [community posts](https://developer.zendesk.com/api-reference/help_center/help-center-api/posts/) in the help center. The user must have a Zendesk account and their requests

[2022-09-19 14:37] igrankova opened #16883 "Source Zendesk Support: new stream Posts"
## Tell us about the problem you're trying to solve
A post represents content that a user shares with the community. [Posts](https://developer.zendesk.com/api-reference/help_center/help-center-api/posts/).

[Allowed for:](https://developer.zendesk.com/api-reference/help_center/help-center-api/posts/#allowed-for)
- Agents
- End users
- Anonymous users

## Describe the solution you’d like
Research p

[2022-09-19 14:48] ycherniaiev opened #16884 "Source Chargebee: new stream Payment Source"
## Tell us about the problem you're trying to solve
Represents the payment source for the customer. Specific types of payment source (Card, Direct Debit, Paypal Express Checkout, etc.) is defined as sub-resource in the response object. You can find the list of supported payment sources and the expected input parameters [here](https://apidocs.chargebee.com/docs/api/payment_parameters). See [Payment

[2022-09-19 14:51] ycherniaiev opened #16885 "Source Chargebee: new stream Transaction"
## Tell us about the problem you're trying to solve
This resource represents the [transaction](https://www.chargebee.com/docs/transactions.html) event that has happened in your account.

## Describe the solution you’d like
Research pros and cons for implementing this stream

[2022-09-19 14:52] igrankova opened #16886 "Source Zendesk Support: new stream Schedules"
## Tell us about the problem you're trying to solve
You can set a [Schedule](https://developer.zendesk.com/api-reference/ticketing/ticket-management/schedules/) in Zendesk to acknowledge your support team's availability and give customers a better sense of when they can expect a personal response to their support requests.
You can use this API to create multiple schedules with different business h

[2022-09-19 14:56] igrankova opened #16887 "Source Zendesk Support: new stream Skill-based Routing"
## Tell us about the problem you're trying to solve
You can use the [skill-based routing](https://developer.zendesk.com/api-reference/ticketing/ticket-management/skill_based_routing/) API to list skill types and skills, as well as list and set skills for tickets and agents.

**Skill-based routing is only available on the Enterprise plan and above.**

[Allowed for:](https://developer.zendesk.com/ap

[2022-09-19 15:00] igrankova opened #16888 "Source Zendesk Support: new stream Ticket Skips"
## Tell us about the problem you're trying to solve
A [Ticket Skip](https://developer.zendesk.com/api-reference/ticketing/tickets/ticket_skips/) is a record of when an agent skips over a ticket without responding to the end user. Skips are typically recorded while a play-only agent is in Guided mode.

[Allowed for:](https://developer.zendesk.com/api-reference/ticketing/tickets/ticket_skips/#allowe

[2022-09-19 15:06] igrankova opened #16889 "Source Zendesk Support: new stream Topics"
## Tell us about the problem you're trying to solve
A [Topic](https://developer.zendesk.com/api-reference/help_center/help-center-api/topics/) represents a collection of community posts on a subject.

[Allowed for:](https://developer.zendesk.com/api-reference/help_center/help-center-api/topics/#allowed-for)
- Agents
- End users
- Anonymous users

## Describe the solution you’d like
Research pros a

[2022-09-19 15:07] #15603 closed

[2022-09-19 15:08] #16613 closed

[2022-09-19 15:24] obraginskaya commented on #16693
It's a full refresh. I couldn't find how to get amount a rows. It failed before it created a final file

[2022-09-19 15:37] Zawar92 opened #16892 "Source RKI (Robert Koch-Institut): Add streams for states."
## Tell us about the problem you're trying to solve
In the connector [source-rki-covid](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-rki-covid) we want to add streams for the states that include `history data`, `incidence rate`, `cases`, `deaths`, `hospitalization`

## Describe the solution you’d like
Adding the **streams**, that would cover all these **m

[2022-09-19 15:38] marcosmarxm commented on #15567
*Comment made from Zendesk by Marcos Marx on 2022-09-19 at 15:38:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hello Marcos,</p>
<p dir="auto">This is our <code style="background-color: #f9f9f9; padding: 2px 5px;">.env</code> file containing <code style="background-color: #f9f9f9; padding: 2px 5px;">TEMPORAL_HISTORY_RETENTION_IN_DAYS=1</code> at the end.<br>
I ran <code style="ba

[2022-09-19 15:42] jyates-om1 opened #16893 "Airbyte 0.40.7 worker is failing on startup with an exception, while the same environment worked fine for 0.40.3"
## Environment
- **Airbyte version**:  0.43.7-alpha
- **OS Version / Instance**: AWS EC2 / amazon linux
- **Deployment**: Docker on static EC2 instance
- **Step where error happened**: Worker start-up, any UI page that uses the worker

## Current Behavior
Worker is stuck in a crash-loop on start-up

## Expected Behavior
Worker behaves normally

## Logs
We can't share full logs due to company polic

[2022-09-19 15:44] jyates-om1 commented on #16893
Another community member experienced a similar error here: https://discuss.airbyte.io/t/airtbyte-in-a-crashloop-on-fresh-helm-install/2635/5

[2022-09-19 15:49] etsybaev commented on #16650
NOTES:
Basically the issue occurs for only PR from forked repos as "git diff" doesn't work for such cases.

API that may help to solve the issue, but it's not that straight-forward.
https://docs.github.com/en/rest/commits/commits#compare-two-commits
EX. GET https://api.github.com/repos/airbytehq/airbyte/compare/master...etsybaev:etsybaev-test-fork-branch?per_page=1&page=2

But there is some issue

[2022-09-19 16:04] obraginskaya commented on #16693
We did an additional test and changed instance type to m5a.4xlarge, then run the job with a new requirements:
  resourceRequirements:
    cpu_request: 8
    cpu_limit: "12"
    memory_request: "60Gi"
    memory_limit: "60Gi"

The sync worked successfully with last record in the log: 2022-09-19 16:00:44 INFO i.a.w.g.DefaultReplicationWorker(lambda$getReplicationRunnable$6):339 - Records read: 83970

[2022-09-19 16:29] alafanechere opened #16894 "SAT: consolidate incremental testing"
## Tell us about the problem you're trying to solve
`test_two_sequential_reads`  and `test_read_sequential_slices ` both check the same thing but `test_read_sequential_slices `adds an extra level of validation by checking that intra sync slicing works as expected in term of state management

## Describe the solution you’d like
* Consolidate these two tests in a single one.
* Make it more readable

[2022-09-19 16:36] #13277 closed

[2022-09-19 16:58] edmundito commented on #16516
@Amruta-Ranade For us to add this, we'd need to create a new page in the docs to explain what advanced mode is. Could you help us with this?

[2022-09-19 16:58] DoNotPanicUA commented on #8890
Please note that `preparedStatement.setFetchSize(Integer.MIN_VALUE)` will affect the source perfomance.

[2022-09-19 17:08] suhomud commented on #8890
@DoNotPanicUA I'm not sure about previous metrics The one which I found is [this](https://docs.google.com/spreadsheets/d/1GFOuvT1US0Vs8wZTGfy5XhaymM7oOwEe9GOxoFTi5Hs/edit#gid=512144022).
In my case the sync took near 2 hours for 14GB table with 8 columns.
 One finding from Stack Overflow:
 `setFetchSize(Integer.MIN_VALUE) is not as bad as the docs might imply. It actually just disables client-side

[2022-09-19 17:46] DoNotPanicUA commented on #8890
If we stop using caching somewhere, it will work less efficiently. The question is how dramatic it will be.
To figure out, we need to compare two runs with the different FetchSize. May I ask you to run them as you already did it before?

[2022-09-19 18:54] suhomud commented on #8890
I run it first without any connectors limitation so it was docker limitation in my case 8 GB for each connectors. Also the DB was local which CPU much better then on RDS. I noticed that when I use default fetch size (10) it stress CPU much because of `?useCursorFetch=true`. Let me try to find the connector resources which will be enough for the sync and next step will be changing RDS resources to

[2022-09-19 20:11] felcastro commented on #14028
Any updates? Currently trying to sync data from MySQL to S3 Parquet, and Timestamp fields are being converted to struct type.
`{"member0": "2020-02-04T17:01:27.000+0000", "member1": null}`

[2022-09-19 21:02] lgomezm commented on #14024
This could be related: I found out that other connections fail with a similar error for headers:
[logs-370562.txt](https://github.com/airbytehq/airbyte/files/9602350/logs-370562.txt)

[2022-09-19 21:58] kyle-cheung commented on #16893
This happened to me, make sure you update your `docker-compose` and `env` file to match that of the airbyte repo. That fixed it for me

[2022-09-19 22:01] kyle-cheung opened #16905 "Cannot Cancel a Running Sync When You Disable a Connection"
## Environment
Is this your first time deploying Airbyte: No
OS Version / Instance: EC2 t2.large
Memory / Disk: 16Gb
Deployment: Docker
Airbyte Version: 0.40.7

## Current Behavior
We want to reset a connection  and we just upgraded to 0.40.7. If you cancel a running sync it will start to auto-resync. So our first thought was to disable the connection. But once you disable the connection the cance

[2022-09-20 03:38] cloorc opened #16908 "Airbyte worker failing with multiple possible bean candidates found"
## Environment
- **Airbyte version**:  0.40.7
- **OS Version / Instance**: Kubernetes 1.20.2(image `airbyte/airbyte:0.40.7`)
- **Deployment**: Kubernetes
- **Source Connector and version**: (if applicable example Salesforce 0.2.3)  not available yet
- **Destination Connector and version**: (if applicable example Postgres 0.3.3) not available yet
- **Step where error happened**: Deploy

## Current

[2022-09-20 04:29] harshithmullapudi commented on #15391
I think it says coming up.

[2022-09-20 05:14] carlos-verdes commented on #15391
My point is if you know who published the announcement and if we can contact them for collaboration, we started similar effort and it has no sense to not work together :)

[2022-09-20 07:37] #7646 closed

[2022-09-20 07:39] lluisgassovillarejo commented on #16742
HI @natalyjazzviolin,

Can you please check the previous request? As mentioned, we are not referring to the redshift destination but the **Redshift source**.
We should re-open this thread since this is still a problem in the Open Source version.
Thanks!

[2022-09-20 07:56] suhomud commented on #8890
### Benchmark

1. PreparedStatement FetchSize Integer.MIN_VALUE Local MySql DB instance

**Database**: Local MySql DB instance
**Connectors**: Mysql Source -> S3 Destination 700MB memory limit
**Table**: 12 - 14 GB, 1 000 000 records
**PreparedStatement FetchSize**: Integer.MIN_VALUE
**Result**: 32m
<img width="624" alt="Screenshot 2022-09-20 at 14 45 30" src="https://user-images.githubusercontent

[2022-09-20 08:19] igrankova commented on #15837
@harshithmullapudi,
please find a free account creds on the LastPass: Primary Wrike Dev Account
Waiting for your feedback to close this issue.

[2022-09-20 08:40] DoNotPanicUA commented on #8890
@suhomud, thank you for such a stunning report 👍
It looks like the cache stores the result in data locally to send in chunks. When you run source locally (near Airbyte), we get a boost because network traffic is minimal, and we skip storing data into cache files.
So, we can use `FetchSize Integer.MIN_VALUE` safely if we consider that user sources are not far from their Airbyte instances.

[2022-09-20 08:43] lluisgassovillarejo commented on #16742
I just realized the title of the ticket was **Destination**. I updated it to make it clear the issue is with the **Source**

[2022-09-20 09:06] igrankova commented on #16864
Created an app, the OAuth flow passed successfully.
LastPass name: Primary Wrike Dev Account
[Docs](https://developers.wrike.com/overview/)

[2022-09-20 09:07] igrankova commented on #16864
To Submit a public app follow: https://developers.wrike.com/
First we should implement OAuth.

[2022-09-20 09:30] igrankova opened #16910 "Source Zendesk Support: new stream Votes"
## Tell us about the problem you're trying to solve
[Votes](https://developer.zendesk.com/api-reference/help_center/help-center-api/votes/) represents positive and negative opinions of users about [articles](https://developer.zendesk.com/api-reference/help_center/help-center-api/articles), [article comments](https://developer.zendesk.com/api-reference/help_center/help-center-api/article_comments),

[2022-09-20 09:38] ball-hayden opened #16911 "Facebook Ads: You are calling a deprecated version of the Ads API v15"
## Environment
- **Airbyte version**:  0.40.6
- **OS Version / Instance**: Official Docker
- **Deployment**: Kubernetes
- **Source Connector and version**: Facebook Marketing (0.2.63)
- **Destination Connector and version**: BigQuery
- **Step where error happened**: Setup new connection

## Current Behavior

[code]

## Expected Behavior

Successful Setup

## Logs

N/A

## Steps to Reproduce
1. Cre

[2022-09-20 09:54] ycherniaiev opened #16912 "Source Chargebee: new stream Gift"
## Tell us about the problem you're trying to solve
Gift represents a subscription of a customer(recipient) to a 'gift plan' which has been gifted by another customer(gifter). It may also have addons and coupons. Gift will be created only on immediate successful payment collection from the gifter's payment method.

Gift is initially created in 'scheduled' state. The gift can be scheduled to be not

[2022-09-20 09:58] ycherniaiev opened #16913 "Source Chargebee: new stream Quote"
## Tell us about the problem you're trying to solve
A quote is an estimate of the invoice with the charges likely to occur when customers buy an item. A quote can be converted to a regular invoice once the customer accepts it.

The line items of a quote are grouped by charge events and are available as a separate [resource](https://apidocs.chargebee.com/docs/api/quote_line_groups). This resource c

[2022-09-20 10:11] krisjan-oldekamp commented on #6305
@itaseskii is this still in development? Otherwise I can help?

[2022-09-20 12:31] ycherniaiev opened #16916 "Source Chargebee: new stream Credit Note"
## Tell us about the problem you're trying to solve
A [Credit Note](https://www.chargebee.com/docs/credit-notes.html) is a document that specifies the money owed by a business to its customer. The seller usually issues a Credit Note for the same or lower amount than the invoice, and then repays the money to the customer or set it off against other 'due' invoices.

## Describe the solution you’d li