[2022-07-27 18:08] girarda commented on #15021
@grubberr in your example, shouldn't the new type be array instead of string?

[2022-07-27 19:22] #14072 closed

[2022-07-27 19:34] #14852 closed

[2022-07-27 20:02] grubberr commented on #15021
@girarda
I think yes `["null", "string", "array"]` -> `["null", "array"]` - has to be OK on snowflake, but I need to check.

`["null", "string", "array"]` - VARIANT
`["null", "array"]` - VARIANT
`["null", "string"]` - VARCHAR

But on BigQuery it can fail because as I remember bigquery keeps ARRAY in some specific type (again I need to check).

I just wanted to highlight that future types simplifyi

[2022-07-27 21:16] edgao opened #15086 "Destination MySQL - support SSL certificates"
Splitting out the destination from https://github.com/airbytehq/airbyte/issues/6985. Update destination-mysql (and base-normalization's mysql logic) to accept SSL certificates.

sample PR for postgres (still in-progress) https://github.com/airbytehq/airbyte/pull/14743

[2022-07-27 21:17] edgao commented on #6985
renamed this issue to be specific to just source-mysql; created https://github.com/airbytehq/airbyte/issues/15086 for the destination side

[2022-07-27 21:54] #14674 closed

[2022-07-27 22:15] girarda opened #15088 "Rename google analytics connectors so they're in line with documentation"
## Current Behavior
The naming for google analytics connectors is not in line with the documentation.
In the docs, `Google Analytics (Universal Analytics)` refers to `airbyte/source-google-analytics-v4` and `Google Analytics (v4)` refers to `airbyte/source-google-analytics-data-api`.

## Expected Behavior
Google Analytics V4 should refer to the same connector whether we're looking at the codebase

[2022-07-27 22:44] YowanR opened #15090 "Source Twilio : Ensure that Checkpoint/Resume Features work correctly"
## Tell us about the problem

Based on the feedback in this [issue](https://app.zenhub.com/workspaces/python-connectors-6262f8b593bb82001df56c65/issues/airbytehq/airbyte/10845), it seems that the connector is either not creating checkpoints appropriately or is not able to resume from its last checkpoint. This properly explains why this customer had to restart to restart a 20+ hours job. We should

[2022-07-27 22:48] YowanR commented on #10845
I've created an [issue](https://app.zenhub.com/workspaces/python-connectors-6262f8b593bb82001df56c65/issues/airbytehq/airbyte/10845) to test our checkpoint/resume feature and ensure that they are working correctly. In theory, even if we hit the backoff loop, the connector should be able to resume from where it left and not force the user to restart their long-running sync.
cc @sherifnada

[2022-07-27 22:55] YowanR commented on #14149
It looks like this item has already been estimated. If the estimate holds, we can move it forward to backlog (Scope).

[2022-07-28 00:26] evantahler commented on #14732
We will probably need to also sort by the cursor column for this solution.  There's added db load.

[2022-07-28 00:29] sophia-wiley opened #15092 "Add short section about deleting users"
Add short section about deleting users to this [document](https://docs.airbyte.com/cloud/managing-airbyte-cloud/#add-users-to-your-workspace).

Most difficult part for users is probably actually finding where to delete the users (access management in settings).

[2022-07-28 00:54] adam-bloom commented on #12821
Agreed with @fmmoret - we have some sources that take 16+ hours to do an initial sync. Those syncs won’t even succeed via the mechanism we use for incremental syncs due to a REST API issue (separate issue open for that), so that’d be all sorts of fun to recover from. The more I noodle in this in the back of my head, the more the flush only on startup option makes sense.

[2022-07-28 01:03] #15052 closed

[2022-07-28 01:07] evantahler opened #15093 "Add per-stream document to public docs"

[2022-07-28 01:11] evantahler opened #15094 "GET API endpoints should not have side-effects"

[2022-07-28 01:11] evantahler commented on #15094
@gosusnp can you please fill this issue out?  We discussed this in our latest retro

[2022-07-28 01:13] evantahler opened #15095 "Move "Temporal at Airbyte" to public docs"

[2022-07-28 01:14] evantahler opened #15096 "Generated Object Variables should be distinct across the stack"

[2022-07-28 01:17] evantahler commented on #15096
@jdpgrailsdev can you add some examples?  This is a tech-debt item from our latest retro.

[2022-07-28 01:19] #10991 closed

[2022-07-28 01:21] evantahler commented on #3990
I happen to know that Hubspot has rather short-lived oAuth refresh tokens.  Is what we do within that connector generalizable?

[2022-07-28 01:22] #12815 closed

[2022-07-28 01:24] #13848 closed

[2022-07-28 01:32] evantahler commented on #12654
I believe with per-stream state we now more strongly enforce unique names/consider schemas/namespaces

[2022-07-28 01:32] #12654 closed

[2022-07-28 01:35] evantahler commented on #12146
For now, we aren't going to prioritize this.

[2022-07-28 01:35] #12146 closed

[2022-07-28 01:38] #9872 closed

[2022-07-28 01:38] evantahler commented on #9839
@lmossman can we close this now that we've moved on to the new scheduler?

[2022-07-28 01:39] #9655 closed

[2022-07-28 01:39] evantahler commented on #9673
@andyjih We are doing this in cloud... did this features also get to OSS?

[2022-07-28 01:40] evantahler commented on #9653
un-actionable - closing

[2022-07-28 01:42] evantahler commented on #11986
We are not going to prioritize this for the moment - this would make our docker deployment rather complex.  I think that it is safe to assume that an OSS user choosing to upgrade Airbyte is doing so manually, and therefore aware of the downtime implications.  Also, our upgrade process is rather quick - just git pull, run docker-compose, and download some new images.

[2022-07-28 01:42] #11986 closed

[2022-07-28 01:42] #11146 closed

[2022-07-28 01:42] evantahler commented on #11146
Closing in favor of the new epic https://github.com/airbytehq/airbyte/issues/14282

[2022-07-28 01:43] evantahler commented on #9876
Closing due to lack or response

[2022-07-28 01:43] #9876 closed

[2022-07-28 01:44] evantahler commented on #9904
Closing due to lack of response

[2022-07-28 01:44] #9904 closed

[2022-07-28 01:44] #10361 closed

[2022-07-28 01:45] evantahler commented on #10106
Seems like this is solved!

[2022-07-28 01:45] #10106 closed

[2022-07-28 01:47] #10124 closed

[2022-07-28 03:52] xwin1989 commented on #7414
hi @sherifnada ,
I also have same problem with this issue. this is my report payload
Report {
    marketplaceIds: [ATVPDKIKX0DER, A2ZV50J4W1RKNI, AHRY1CZE9ZY4H]
    reportId: 135441019201
    reportType: GET_AMAZON_FULFILLED_SHIPMENTS_DATA_GENERAL
    dataStartTime: 2022-05-29T03:41:24Z
    dataEndTime: 2022-06-28T03:41:24Z
    reportScheduleId: null
    createdTime: 2022-07-28T03:41:33Z
    proce

[2022-07-28 07:28] #12862 closed

[2022-07-28 07:41] davydov-d commented on #14048
Successfully certified to Beta: https://docs.google.com/spreadsheets/d/1guymBpuiIJz0d3wLo70I0ASOYTJhalchLO_AtBul_9k/edit#gid=1288588270

[2022-07-28 07:41] #14048 closed

[2022-07-28 09:10] isaacharrisholt opened #15097 "BigQuery SCD tables don't reset"
## Environment
- **Airbyte version**: 0.39.37-alpha
- **OS Version / Instance**: AWS EC2 (Linux AMI)
- **Deployment**: Docker
- **Destination Connector and version**: BigQuery 1.1.11
- **Step where error happened**: Reset

## Current Behavior
When running a reset against our BigQuery tables, the `_scd` tables used for the 'Incremental deduped + history' mode aren't cleared. This means that, when t

[2022-07-28 09:12] KacpiW commented on #14745
Sure, I think this is an issue that is similar to mine and seems to be resolved. So updating debezium, sounds like a possible solution.

https://stackoverflow.com/questions/64372783/no-viable-alternative-at-input-create-table
https://issues.redhat.com/browse/DBZ-2671

This one might be helpful also: https://issues.redhat.com/browse/DBZ-3333

[2022-07-28 10:23] Hon-badger commented on #14339
Hi @harshithmullapudi, are there any updates ?

[2022-07-28 10:24] #8143 closed

[2022-07-28 10:32] ameyabapat-bsft opened #15100 "POST `/v1/jobs/get` responding with `Null` failureSummary even in case of Failed jobs."
## Environment
- **Airbyte version**:  0.38.4-alpha
- **OS Version / Instance**:  macOS, Ubuntu 18.04, AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: source-snowflake:0.1.12
- **Destination Connector and version**: destination-csv:0.2.9 or destination-s3:0.3.5
- **Step where error happened**:  Sync job

## Current Behavior
Get Job api does not contain failureSummary even for

[2022-07-28 10:38] dadalongvs opened #15101 "New Source: Pulsar"
* Which source and which destination?
 Pulsar

[2022-07-28 10:51] ameyabapat-bsft commented on #15100
@grishick @misteryeo Please check.

[2022-07-28 14:18] akulgoel96 commented on #15038
@sajarin I have raised a PR here: https://github.com/airbytehq/airbyte/pull/15107. Please help reviewing it

[2022-07-28 15:14] #14916 closed

[2022-07-28 15:38] timroes opened #15108 "Don't change validationSchema based on input"
Currently our code does change the `validationSchema` of the ServiceForm based on some values, e.g. if the user selects another oneOf value with a sub object the whole validationSchema will change to reflect that.

I think we should try to generate the `validationSchema` once for the connectors spec and not change it based on the form values. Yup supports [`when`](https://github.com/jquense/yup#sc

[2022-07-28 15:38] octavia-squidington-iii commented on #15108
cc @airbytehq/frontend

[2022-07-28 15:40] #12255 closed

[2022-07-28 15:48] #14928 closed

[2022-07-28 15:59] wesen commented on #13758
What is the best way to try this out? I rebased on master and ran the stack with `docker-compose up`, which then fetches `airbyte/destination-postgres:0.3.21` which ultimately fails with the usual ```
2022-07-28 15:55:40 normalization > Running: ssh -f -N -M -o StrictHostKeyChecking=no -S {control socket} -i {key file} -l ubuntu -L 50001:XXXX.com:5432 control.thetreecenter.com
2022-07-28 15:56:22

[2022-07-28 22:34] girarda opened #15134 "Survey monkey developer app is disabled"
## Current Behavior
The developer app (named OAuth) on survey monkey is disabled and cannot be enabled because we're not on the PREMIER plan.

## Expected Behavior
This isn't critical because the production app supports multiple redirect_url, allowing us to test the integration from the dev instances, but it would be better to totally separate the dev and prod environment.

[2022-07-28 22:35] girarda commented on #15134
@YowanR FYI

[2022-07-28 23:11] marcosmarxm commented on #14965
*Comment made from Zendesk by Marcos Marx on 2022-07-28 at 22:51:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Here is the PR: <a href="https://github.com/airbytehq/airbyte/issues/8697" rel="noopener nofollow ugc noreferrer" style="color: #006699; font-weight: bold; text-decoration: none;">Kustomer source connector: investigate "user_agent" deprecation · Issue #8697 · airbytehq/a

[2022-07-29 07:41] mmoole commented on #14493
with a newer version of Airbyte and the connector this error regarding MSSQL seems to be no more reproducible 👍🏼

[2022-07-29 10:05] igrankova opened #15136 "Research SurveyMonkey source connector"
## Complete the following exercise for SurveyMonkey source connector:

1. What do people use this service for?
2. What are the common use cases for pulling data from this connector?
3. What is the exhaustive list of features and data streams could this connector support?
This should at least include:
  - Output schema: How will tables/entities/etc.. map to Airbyte streams and fields?
  - Authentic

[2022-07-29 10:34] #15136 closed

[2022-07-29 10:57] SofiiaZaitseva opened #15137 "Connections lack a "being deleted" state (Unknown error occurred after deletion single connection and back to the Onboarding page)"
## Environment
- **OS Version / Instance**: macOS
- **Deployment**: Cloud
- **Step where error happened**: Onboarding

## Steps to Reproduce
1. Create the first connection from the onboarding page
2. Go to Connection settings
3. Delete existing connection
4. Go back to Onboarding

## Current Behavior
Unknown error occurred
![image](https://user-images.githubusercontent.com/108751383/181741728-3041

[2022-07-29 10:57] octavia-squidington-iii commented on #15137
cc @airbytehq/frontend

[2022-07-29 11:16] #6588 closed

[2022-07-29 13:20] davydov-d commented on #7814
hey @YowanR I have just checked: no progress unfortunately. I've made a request to the `/authorize` endpoint, then to the `/token` according to the [docs](https://developer.typeform.com/get-started/applications/). The latter one responded with an error @lazebnyi had reported earlier:
```{"code":"bad_request","description":"Bad Request: bad request: {\"code\":\"FORBIDDEN\",\"description\":\"Forbidd

[2022-07-29 13:36] #14952 closed

[2022-07-29 14:18] abaerptc opened #15140 "🎉 Destination Databricks: Support Azure storage"
## Tell us about the problem you're trying to solve
I'd like to use the Databricks destination with Azure storage.

## Describe the solution you’d like
I'd like the option to specify an Azure storage location as an alternative to S3 storage.

## Describe the alternative you’ve considered or used
None.

## Additional context
None.

## Are you willing to submit a PR?
Yes.

[2022-07-29 14:19] abaerptc commented on #15140
I have a prototype written already and I will open a PR shortly for review.

[2022-07-29 14:41] AlexisCharrier opened #15141 "Source Intercom: Add custom_attributs in conversation schema"
### Tell us about the problem you're trying to solve
I'd like to retrieve custom_attributes from intercom conversations while using intercom source.

### Describe the solution you’d like
Add custom_attributes in intercon conversation schema.

### Describe the alternative you’ve considered or used
None.

### Additional context
None.

### Are you willing to submit a PR?
Yes.

[2022-07-29 17:15] fortisoftware commented on #10830
Hi thank you,
Sorry for the delay.

[2022-07-29 19:36] timroes commented on #14726
Marking it mandatory has been addressed via https://github.com/airbytehq/airbyte/pull/14946

I'll leave this open to track filling in a default value.

[2022-07-29 19:42] timroes commented on #13782
To add some thoughts: The frontend should ideally not render a spec differently based on Cloud or OSS. If we need different parameter in Cloud, the spec returned should be differently on Cloud via OSS. That could happen via different connectors or some special mechanism that the connector knows about which environment it runs in. I just believe the spec returned should be ready for consumption by

[2022-07-29 19:45] timroes commented on #11100
Blocked on https://github.com/airbytehq/airbyte/issues/14340

[2022-07-29 19:54] timroes commented on #12250
This has been addressed nowadays and deleting a connection will navigate away from it.

[2022-07-29 19:54] #12250 closed

[2022-07-29 19:57] timroes opened #15145 "Add toggle for advanced mode for connection state"
Since we see users regularily stumble across that, we should add a "Advanced Mode" in the setting that when turned on will give access to more advanced features, that are hidden by default. We should make the Connection state one of those features.

Ideally that setting would be on the user object in the database, but we could for now also make it a localstorage setting instead, for the ease of th

[2022-07-29 19:57] octavia-squidington-iii commented on #15145
cc @airbytehq/frontend

[2022-07-30 01:35] sw-yx commented on #10930
@yuhuishi-convect took a brief look - its very cool! destination more important than source, so i am glad you went with the hard part first.

the main thing we will need is time for someone from @marcosmarxm's team to properly review as engineering but i do think this will be a big step for us to create personal data warehouses and offer airbyte for smaller usecases

[2022-07-30 06:26] lfrodrigues opened #15146 "🐛 Destination Postgres: removes granted permissions when using "Full Refresh | Overwrite""
## Environment
- **Airbyte version**:  0.39.41-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Docker o
- **Source Connector and version**: Postgres 0.4.38
- **Destination Connector and version**: Postgres 0.3.21
- **Step where error happened**:  Sync job

## Current Behavior
I have a database with that which I'm syncing data into. An external service connects there with a login

[2022-07-30 11:47] programmeddeath1 opened #15147 "S3 extract data by date."
## Tell us about the problem you're trying to solve
I am trying to import data from an S3 datasource, which contains daily generated files from an OLTP database
## Describe the solution you’d like
I wanted to know if it would be possible to make airbyte sync only the new data from the s3 source (i.e. the file with yesterday's date)

## Describe the alternative you’ve considered or used
I am moving

[2022-07-31 19:33] longfellowone commented on #13076
Also receiving this error when setting up on airbyte cloud

[2022-08-01 04:20] harshithmullapudi commented on #14339
Hey yeah I was able to reproduce this with our integration account

[2022-08-01 04:24] harshithmullapudi commented on #14788
Hey @lukearran can you confirm if removing the media stream the sync is successful?

[2022-08-01 05:39] NipunaPrashan opened #15149 "[Helm][Airbyte-temporal] Fix yaml formatting error with extra environment variables"
## Environment
- **Airbyte version**: 0.39.39-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Kubernetes deploy env
- **Step where error happened**: Deploy

## Current Behavior
YAML parse error on temporal/templates/deployment.yaml when extra env is defined.

## Expected Behavior
There is an issue with indentation.

## Logs
`Error: YAML parse error on temporal/templates/deploymen

[2022-08-01 06:27] yash-ghelani-dsw opened #15150 "mssql connector gives normalisation error"
Hi, I was trying to push data from mssql to postgres using airbyte. initail full refresh works perfectly well. But in the incremental dedup mode, it was shows "normalisation failed error". The Data was around 50K rows. Later I tried with less amount of Data 1000 rows it was working perfectly well. Can anyone help whats the problem?

[2022-08-01 08:41] mkhokh-33 commented on #11322
yes, will merge last updates form master

[2022-08-01 09:35] DoNotPanicUA opened #15152 "[EPIC] E2E testing tool"
## Tell us about the problem you're trying to solve
Our main goal is to implement an E2E testing tool that should test Airbyte connections via CI. This testing tool will test different connector versions close to the user experience. Such E2E testing will help us to detect possible integration issues before a version release.
Potential issues:

- Performance degradation (Benchmark)
- Critical chan

[2022-08-01 09:39] sashaNeshcheret opened #15153 "Fill base information regarding normalization from java side."
We created shared [file](https://docs.google.com/document/d/1QnvmMYXPVYS8r-fg7bTo_z6FpDftIAZ5Lh94FZsNrGc/edit#heading=h.9qmlc7ggz9iu) for gathering general information about normalization.
Need to specify common information about how to work with normalization module.

[2022-08-01 09:49] YuliiaNahoha opened #15154 "Issue: Access Request"
# Middle python developer [GL]
## Anna
## Lvova
## anna.lvova@globallogic.com
## annalvova05

# Operations

- [ ] Remove from GitHub
- [ ] Remove from Airbyte Cloud Admin
- [ ] Remove GCP Dev Env Access
- [ ] Remove Dev VPN Access (Tailscale)

[2022-08-01 10:37] #15149 closed

[2022-08-01 11:07] igrankova commented on #14921
The access to the API specifications and the credentials for testing against Kyriba sandbox are saved in the LastPass: kyriba.com
Quick “Getting started with postman” guide available over here: https://developer.kyriba.com/site/documentation/quickstart/index.gsp
Samples available over here: https://developer.kyriba.com/site/documentation/sample-tutorials/introduction/index.gsp"

[2022-08-01 11:54] sashaNeshcheret opened #15157 "JDBC sources: verify handling of arrays data types"
In [issue](https://github.com/airbytehq/oncall/issues/351) was raised that postgres source has incorrect schema for array data types. Need to verify jdbc sources if  other sources support Array data types and handle array data types.

[2022-08-01 12:23] marcosmarxm commented on #9123
This also would help users on Kubernetes where volumes are ephemeral.

[2022-08-01 12:31] marcosmarxm commented on #9465
Zendesk ticket #[1758](https://airbyte7538.zendesk.com/agent/tickets/1758) has been linked to this issue.

[2022-08-01 12:32] marcosmarxm commented on #9465
*Comment made from Zendesk by Marcos Marx on 2022-08-01 at 12:32:*

<blockquote><div class="zd-comment" dir="auto">Hello Jaafar, look your issue is similar to <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/9465">https://github.com/airbytehq/airbyte/issues/9465</a><br>Currently you need to dedup nested records by yourself probably exporting the normalization project

[2022-08-01 12:33] marcosmarxm commented on #15150
Please share the complete logs and use the template given to use when creating the issue.

[2022-08-01 12:33] #15150 closed

[2022-08-01 12:38] marcosmarxm commented on #14745
@KacpiW do you mind upgrading MySQL connector to latest version? The latest version is using the updated version of Debezium, check here https://github.com/airbytehq/airbyte/commit/83b0f81982b338ba939f9bca516be5fd8e5d80dc

[2022-08-01 12:40] marcosmarxm opened #15158 "Should all Source connectors respect the `at-least-once delivery guarantee`?"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1752](https://airbyte7538.zendesk.com/agent/tickets/1752)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">According to the doc of <a href="https://docs.airbyte.com/understanding-airbyte/connections/

[2022-08-01 12:44] marcosmarxm commented on #15158
*Comment made from Zendesk by Marcos Marx on 2022-08-01 at 12:44:*

<blockquote><div class="zd-comment" dir="auto">Good question Philippe! I raised this question as an issue in Github <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15158">https://github.com/airbytehq/airbyte/issues/15158</a> if this is identified as bug by our team.&nbsp;<br>&nbsp;<br></div></blockqu

[2022-08-01 13:01] marcosmarxm commented on #8806
Not yet @yusufollaek

[2022-08-01 13:07] marcosmarxm commented on #8806
Zendesk ticket #[1748](https://airbyte7538.zendesk.com/agent/tickets/1748) has been linked to this issue.

[2022-08-01 13:19] marcosmarxm commented on #15097
Duplicate of https://github.com/airbytehq/airbyte/issues/5417

[2022-08-01 13:19] #15097 closed

[2022-08-01 13:19] marcosmarxm commented on #5417
Zendesk ticket #[1527](https://airbyte7538.zendesk.com/agent/tickets/1527) has been linked to this issue.

[2022-08-01 13:58] jdpgrailsdev commented on #15096
@evantahler Non-exhaustive list:

* [API generated server code](https://github.com/airbytehq/airbyte/blob/master/airbyte-api/build.gradle#L10)
* [API generated client code](https://github.com/airbytehq/airbyte/blob/master/airbyte-api/build.gradle#L53)
* [Generated jOOQ objects for Configs Database](https://github.com/airbytehq/airbyte/blob/master/airbyte-db/jooq/build.gradle#L32)
* [Generated jOOQ

[2022-08-01 14:37] #14450 closed

[2022-08-01 14:39] #12551 closed

[2022-08-01 14:48] #5103 closed

[2022-08-01 15:04] igrankova commented on #14921
Reopened to publish the App on a Marketplace. Finding out the details.

[2022-08-01 15:05] edmundito commented on #14990
@andyjih do you still have the gif showing what's going on? It looks like it did not upload to the issue.

[2022-08-01 15:22] YowanR commented on #13884
Reviewed it -- LGTM!

[2022-08-01 15:29] marcosmarxm opened #15161 "🐛 Source MySQL: java.sql.SQLException: DAY_OF_MONTH"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1724](https://airbyte7538.zendesk.com/agent/tickets/1724)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Nataly Merezhuk

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">Is

[2022-08-01 15:29] marcosmarxm commented on #15161
*Comment made from Zendesk by Marcos Marx on 2022-07-27 at 08:41:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I did additional tests by creating a view from the original table without date related fields (strings) and sync was successful, there seems to be an issue with one of the date columns regarding to the data maybe.</p>
<p dir="auto">Not sure how and what to find.</p>

 [<

[2022-08-01 15:29] marcosmarxm commented on #15161
*Comment made from Zendesk by Nataly Merezhuk on 2022-07-27 at 13:19:*

<blockquote><div class="zd-comment" dir="auto">Hello and welcome to the Airbyte community, @antonapua! It looks like you may be passing the wrong format in date related fields. Could you try using an instance of <code>LocalDate</code> instead of a string?<br></div></blockquote>

[2022-08-01 15:29] marcosmarxm commented on #15161
*Comment made from Zendesk by Marcos Marx on 2022-07-28 at 04:20:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi <a href="/u/natalyjazzviolin" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@natalyjazzviolin</a>,</p>
<p dir="auto">I am not sure what LocalDate you’re referring to, is that Java? I don’t have access to change the existing mysql t

[2022-08-01 15:29] marcosmarxm commented on #15161
*Comment made from Zendesk by Marcos Marx on 2022-07-28 at 07:38:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Issue seems to be related to <a href="https://github.com/airbytehq/airbyte/issues/3931" rel="noopener nofollow ugc noreferrer" style="color: #006699; font-weight: bold; text-decoration: none;">Source MySQL: Connector fails if source contains "tricky" date values · Issue

[2022-08-01 15:29] marcosmarxm commented on #15161
*Comment made from Zendesk by Marcos Marx on 2022-07-28 at 08:33:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">applied zerodatetimebehavior=Converttonull still having the same issue<br>
<a href="https://discuss.airbyte.io/uploads/short-url/gzi9ttrI8kqMnn885GvS1JjOi5v.txt" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">logs-99.txt</a> (2.6 MB)</

[2022-08-01 15:29] marcosmarxm commented on #15161
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-01 at 15:29:*

<blockquote><div class="zd-comment" dir="auto">From the latest logs it looks like the problem is now in DAY_OF_MONTH. I found another related issue that's been resolved:<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/5070">https://github.com/airbytehq/airbyte/issues/5070</a><br><br>I think th

[2022-08-01 15:32] marcosmarxm commented on #15161
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-01 at 15:32:*

<blockquote><div class="zd-comment" dir="auto">Please feel free to add any details here:<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15161">https://github.com/airbytehq/airbyte/issues/15161</a><br></div></blockquote>

[2022-08-01 15:56] grishick commented on #2011
@kimerinn what bugs and limitations have you found in current MySQL connector that apply to MariaDB?

[2022-08-01 16:10] ananbas opened #15163 "BigQuery sink cannot handle Postgres source with timestamp bigger than year 9999"
## Environment
- **Airbyte version**:  0.39.37
- **OS Version / Instance**: Ubuntu GKE
- **Deployment**: Kubernetes
- **Source Connector and version**: Postgres 0.4.38
- **Destination Connector and version**: BigQuery 1.1.11
- **Step where error happened**:  Sync job

## Current Behavior
in Postgres, timestamp has huge min/max bound: [https://www.postgresql.org/docs/current/datatype-datetime.html]

[2022-08-01 16:18] andyjih commented on #14990
![2022-07-24_15-43-04 (1)](https://user-images.githubusercontent.com/633226/182195418-e46c340c-b68a-422f-af3f-5dd8bba2a548.gif)

[2022-08-01 16:24] marcosmarxm commented on #8806
*Comment made from Zendesk by Marcos Marx on 2022-08-01 at 16:24:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hello, that would be great if there is a workaround - how to get it to work with the workaround?</p>
<p dir="auto">As described, I set it to ‘Full refresh | Overwrite’, but this leads to failure after initial sync.<br>
Indeed, that is what I want in this case - the table

[2022-08-01 16:34] marcosmarxm commented on #13589
Zendesk ticket #[1743](https://airbyte7538.zendesk.com/agent/tickets/1743) has been linked to this issue.

[2022-08-01 16:37] natalyjazzviolin commented on #13946
@ameyabhope @garygcd thank you for all the information - if you have any more, please go ahead and post it. This has been triaged to the databases team, so they should be able to put this on their roadmap!

[2022-08-01 16:41] natalyjazzviolin commented on #14827
@drgsec1234, you're absolutely right! I've triaged this to the connectors team, thanks for your patience!

[2022-08-01 16:45] natalyjazzviolin commented on #15013
Hello @rolldeep, could you please include your Airbyte and connector versions? This will help me debug this better. Thanks!

[2022-08-01 16:55] gosusnp commented on #15094
@evantahler, I created [#14646](https://github.com/airbytehq/airbyte/issues/14646) as a result of a previous retro. I grouped them at a time because they may involve reworking some front-end workflows that we may want to bundle to ease the iterations on front-end. What do you think?

[2022-08-01 17:06] natalyjazzviolin commented on #15022
@prashantgolash could you please specify which connectors and versions you are using so I can triage this to the correct team?

[2022-08-01 17:15] natalyjazzviolin commented on #15059
@Svatopluk-Chalupa thanks for opening up this feature request and giving clarifying information!

[2022-08-01 17:17] natalyjazzviolin commented on #15140
@abaerptc thanks for opening this issue, looking forward to your PR!

[2022-08-01 17:31] marcosmarxm commented on #15163
Thanks for reporting this @ananbas I added the issue to team backlog.

[2022-08-01 17:34] IoannP commented on #5408
Hello! Is there some news on this issue?

[2022-08-01 17:36] marcosmarxm commented on #8806
*Comment made from Zendesk by Marcos Marx on 2022-08-01 at 17:36:*

<blockquote><div class="zd-comment" dir="auto">Oh I thought the full refresh worked.&nbsp;<br>There are two ways to follow here: disable normalization OR run the first time, export normalization and edit to start working with MSSQL.<br></div></blockquote>

[2022-08-01 17:56] subodh1810 opened #15167 "Support SSL for CDC in database source connectors"
We are adding SSL support for our database connectors (https://github.com/airbytehq/airbyte/pull/13840, https://github.com/airbytehq/airbyte/pull/15044) but this is not going to work for CDC. We need to configure it for debezium as well.
We need to set modes in debezium to allow it to use ssl
Ref : https://debezium.io/documentation/reference/stable/connectors/postgresql.html#postgresql-property-da

[2022-08-01 18:03] #13773 closed

[2022-08-01 18:04] timroes opened #15168 "Align markdown parser with docusaurus"
We currently use a standard markdown parser for the docs sidepanel in the UI, while the doc system renders using Docusaurus. This leads to Docusaurus supporting some syntax that will then not render in the UI properly. We should try to build support for this syntax in the UI, by manually parsing (regex) this syntax.

List of unsupported syntax:

- ``:: caution`` blocks

[2022-08-01 18:04] octavia-squidington-iii commented on #15168
cc @airbytehq/frontend

[2022-08-01 18:19] marcosmarxm commented on #5417
*Comment made from Zendesk by Marcos Marx on 2022-08-01 at 17:37:*

<blockquote><div class="zd-comment" dir="auto">Isaac, the first issue is <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/5417">https://github.com/airbytehq/airbyte/issues/5417</a>. I raised the issue to cnnector team.<br></div></blockquote>

[2022-08-01 18:25] marcosmarxm commented on #9784
Zendesk ticket #[1737](https://airbyte7538.zendesk.com/agent/tickets/1737) has been linked to this issue.

[2022-08-01 18:25] marcosmarxm commented on #9784
*Comment made from Zendesk by Sajarin on 2022-08-01 at 18:25:*

<blockquote><div class="zd-comment" dir="auto">Hi @ayyoub, this looks to be a known issue with the MySQL source connector when trying to sync with millions of records with high variance in record size: <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/9784">https://github.com/airbytehq/airbyte/issues/9784<

[2022-08-01 18:28] evantahler commented on #15094
👍 I'll close this issue and use yours

[2022-08-01 18:29] #15094 closed

[2022-08-01 18:55] #9738 closed

[2022-08-01 18:57] evantahler commented on #3373
Closing, as we will soon have a team working on our API in general

[2022-08-01 18:57] #3373 closed

[2022-08-01 18:59] marcosmarxm commented on #8806
*Comment made from Zendesk by Marcos Marx on 2022-08-01 at 18:59:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">many thanks, I will have a look at that!</p>

 [<a href="https://discuss.airbyte.io/t/destination-mssql-doesnt-work-with-incremental-sync-mode/2045/6" rel="noreferrer">Discourse post</a>]</div></blockquote>

[2022-08-01 19:06] #547 closed

[2022-08-01 19:09] evantahler commented on #828
Closing in favor of the new epic https://github.com/airbytehq/airbyte/issues/14282

[2022-08-01 19:09] #828 closed

[2022-08-01 19:09] evantahler commented on #14282
There's some good context in this original issue https://github.com/airbytehq/airbyte/issues/828

[2022-08-01 19:10] subodh1810 commented on #12821
@fmmoret @adam-bloom
Regarding flushing the offset at the beginning has its own set of problems. Firstly debezium currently doesnt provide any mechanism to configure custom behaviour for flushing the offset. Secondly if we dont flush offsets soon enough, WAL logs would start building up and eventually would start impacting the entire database itself with issues related to disk space and all.

@ada

[2022-08-01 19:11] #1515 closed

[2022-08-01 19:18] adam-bloom commented on #12821
@subodh1810 we have ~20+ postgres sources. A handful of those take 8+ hours for the initial syncs, some up to 16 hours. #14311 affects the REST API for very long running jobs, so we have to handle these initial syncs manually and not via a REST API trigger.

[2022-08-01 19:27] marcosmarxm opened #15169 "Errors when running Redshift to Redis connection"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1432](https://airbyte7538.zendesk.com/agent/tickets/1432)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">
<p dir

[2022-08-01 19:27] marcosmarxm commented on #15169
*Comment made from Zendesk by Sajarin on 2022-07-06 at 15:47:*

<blockquote><div class="zd-comment" dir="auto">Hi @<a rel="noopener noreferrer" href="https://discuss.airbyte.io/u/israel.mendes"><strong>israel.mendes</strong></a><strong> </strong>welcome to the community and thanks for your post. Based on the logs, this seems to be an issue with the Redis destination. Could you describe how you con

[2022-08-01 19:27] marcosmarxm commented on #15169
*Comment made from Zendesk by Marcos Marx on 2022-07-06 at 21:13:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hey <a href="/u/sajarin" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@sajarin</a></p>
<p dir="auto">About your questions:</p>
<ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">
<stron

[2022-08-01 19:28] marcosmarxm commented on #15169
*Comment made from Zendesk by Marcos Marx on 2022-08-01 at 19:28:*

<blockquote><div class="zd-comment" dir="auto">Sorry the long delay Israel, I created one issue in Github <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15169">https://github.com/airbytehq/airbyte/issues/15169</a> looks the destination is not closing the ingestion step. Any update I'll return to you

[2022-08-01 19:31] marcosmarxm opened #15170 "BambooHR Custom Fields Delivered As NULL"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1613](https://airbyte7538.zendesk.com/agent/tickets/1613)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><h2 dir="auto">
<a href="#this-is-a-repost-of-httpsdiscussairbyteiotbamboohr-custom-fields-not-pulling1580

[2022-08-01 19:31] marcosmarxm commented on #15170
*Comment made from Zendesk by Marcos Marx on 2022-07-19 at 15:59:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi <a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a> this is how BambooHR shows it on the front end<br>
</p><div><a href="https://aws1.discourse-cdn.com/business7/uploads/airbyte/original/2X/e/e6b

[2022-08-01 19:31] marcosmarxm commented on #15170
*Comment made from Zendesk by Marcos Marx on 2022-07-28 at 16:12:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/marcosmarxm" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@marcosmarxm</a> any updates on this?</p>

 [<a href="https://discuss.airbyte.io/t/bamboohr-custom-fields-delivered-as-null/1895/4" rel="noreferrer">Discourse post

[2022-08-01 19:32] marcosmarxm commented on #15170
*Comment made from Zendesk by Marcos Marx on 2022-08-01 at 19:31:*

<blockquote><div class="zd-comment" dir="auto">Unfortunately no, Airbyte integration test account is not working. I escalated the issue to Github <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15170">https://github.com/airbytehq/airbyte/issues/15170</a> any updated I'll return to you.<br></div></blo

[2022-08-01 19:43] edgao opened #15172 "[EPIC] JDBC destination integration tests failing"
These tests are failing due to a timestamp parsing error when verifying the output of normalization. See e.g. [this](https://github.com/airbytehq/airbyte/actions/runs/2747759189) test run, with errors like this:
[code]

This started happening after https://github.com/airbytehq/airbyte/pull/13591. Previously, we were receiving timestamps like `"2022-11-22T01:23:45"` (note the `T` between the date a

[2022-08-01 19:51] animer3009 opened #15173 "SSL support for Mariadb columnstore destination connector"
Hi guys,
Can I ask to add ssl support for for Mariadb columnstore destination connector?

We are using SkySQL cloud Mariadb columnstore cloud database and they do not support connection without ssl.

[2022-08-01 20:44] evantahler commented on #1000
Closing in favor of the epic https://github.com/airbytehq/airbyte/issues/14278

[2022-08-01 20:44] evantahler commented on #14278
There's some info in the original feature request https://github.com/airbytehq/airbyte/issues/1000

[2022-08-01 20:44] #1000 closed

[2022-08-01 21:00] YowanR commented on #6186
Hi @igrankova, just checking in on this issue. Any updates? I've added you on a test account so we can try testing internally before sharing with Okta.

[2022-08-01 21:05] evantahler commented on #14681
Sharing that our developer community needs to update from LEGACY to PER-STREAM/GLOBAL state is going to be delayed until we have protocol versioning support available.

[2022-08-01 21:14] edgao commented on #12057
should be fixed as of https://github.com/airbytehq/airbyte/pull/14362 - could you give it a try?

[2022-08-01 21:14] #12057 closed

[2022-08-01 21:22] misteryeo commented on #4004
Thanks @ycherniaiev - marking this as blocked until we can establish that partnership. Thanks!

[2022-08-01 21:28] evantahler commented on #2476
Closing this for now, as we have this information from our load balancer for Airbyte Cloud users

[2022-08-01 21:28] #2476 closed

[2022-08-01 21:29] #3142 closed

[2022-08-01 21:31] evantahler commented on #3146
Adding the `area/octavia` label.  Now that we have a CLI, that is probably where these commands belong

[2022-08-01 21:33] evantahler commented on #4564
Is this still an issue?

[2022-08-01 22:03] evantahler commented on #9267
Re-tagging this to `area/ocatvia-cli`.  For now, the path forward for using environment variables to set up a connector would be to allow for variables in Octavia's config files, and then apply those changes.  Due to the way we run Airbyte (e.g. lots of docker containers), there's not a per-connection way to pass environment variables easily to a container.

[2022-08-01 22:05] evantahler commented on #9365
@BEIIKS can you confirm if this is still an issue?  I think you are trying to use Airbyte to move data from one source to multiple destinations.  If that's the case, you will need to normalize/run dbt on each destination separately.

[2022-08-01 22:07] evantahler commented on #9887
Closing because we are working to have temporal jobs self-heal via https://github.com/airbytehq/airbyte/issues/14277
As far as the UX is concerned, we also want to stop retrying jobs that fail too often and notify the user in some way.

[2022-08-01 22:07] #9887 closed

[2022-08-01 22:14] evantahler commented on #13684
Will be closed by https://github.com/airbytehq/airbyte/pull/14623

[2022-08-01 22:17] evantahler commented on #13807
There's a nuance here:
1. we want to continue to run normalization after every successful sync, even if we got no data
2. we won't want to run normalization if the sync really did fail.

[2022-08-01 22:20] evantahler commented on #14036
@lmossman can this again be closed?

[2022-08-01 22:20] grishick commented on #4564
Yes, unless someone explicitly fixed it recently. I haven't seen any related changes or tests.

[2022-08-01 22:21] #14333 closed

[2022-08-01 22:21] evantahler commented on #14333
It's fixed, so closing!

[2022-08-01 22:25] evantahler commented on #14448
+1 for using the (already unique) connector IDs for all API requests, and the storage mechanism for the octavia cli.  We talked about this topic a little bit here https://github.com/airbytehq/airbyte/issues/13203 as well

[2022-08-01 22:27] evantahler commented on #14529
@jdpgrailsdev I think we may have fixed this recently?

[2022-08-01 22:32] octavia-squidington-iii commented on #14548
cc @airbytehq/frontend

[2022-08-01 22:34] evantahler commented on #14580
@m-ronchi is this a pull request you might be able to submit yourself?

[2022-08-01 22:35] evantahler commented on #14601
Should be closed by https://github.com/airbytehq/airbyte/issues/14277.  I'm closing this issue in favor of the epic https://github.com/airbytehq/airbyte/issues/14277

[2022-08-01 22:35] #14601 closed

[2022-08-01 22:45] evantahler commented on #15043
Re-tagging for `team/infra`

[2022-08-01 22:49] evantahler commented on #4975
Is this issue still reproducible?

[2022-08-01 22:49] evantahler commented on #4867
I think the Octavia CLI solves this! Closing.

[2022-08-01 22:49] #4867 closed

[2022-08-01 22:51] YowanR commented on #3107
FYI that we should instead use API v11 or above instead of v10 when we tackle this one. https://twittercommunity.com/t/ads-api-version-11/168814?utm_campaign=ADS_PU_GBL_EN_V10_InitialNotice_Sunset+Notification_220721&utm_medium=email&utm_source=Eloqua&ref=

[2022-08-01 22:53] evantahler commented on #2082
While not backing up the /whole/ database, the Octavia CLI does back up your connections at least so you can recover rather quickly and get syncing again.

[2022-08-01 22:53] #2082 closed

[2022-08-01 23:03] evantahler commented on #9672
Closing https://github.com/airbytehq/airbyte/issues/13807 in favor of this story, and updating the title to reflect the edge case

[2022-08-01 23:04] evantahler commented on #13312
Is this still happening?

[2022-08-01 23:05] davinchia commented on #14448
all octavia issues route to me so I'm doing a drive by and saying +1 for using IDs isn't of names.

[2022-08-01 23:07] davinchia commented on #4975
@evantahler this is no longer an ARM issue, and I think this generally happens either if 1) there aren't enough resources 2) something on the job execution path has a bug. I would close this for now as this error message is a red herring with too many root causes to be useful as a single issue.

[2022-08-01 23:08] grishick commented on #15100
as far as I understand POST /v1/jobs/get is a request to OSS platform API (@evantahler am I understanding this correctly?)

[2022-08-01 23:08] davinchia commented on #4975
I'm closing this for now.

[2022-08-01 23:08] #4975 closed

[2022-08-01 23:12] #14963 closed

[2022-08-01 23:21] evantahler commented on #15100
Would you be able to upgrade to a newer version of the Airbyte platform?  Since 0.38.4-alpha (mid-May) we've been spending time making our error messages better, and we do now show the stack trace (and more!) in those error summaries.

<img width="1594" alt="Screen Shot 2022-08-01 at 4 20 49 PM" src="https://user-images.githubusercontent.com/303226/182261226-39211fe5-f3bc-440a-aacd-8f695ceab51b.pn

[2022-08-01 23:30] evantahler commented on #3943
This is a duplicate of https://github.com/airbytehq/airbyte/issues/4564.  I'm closing this issue in favor of https://github.com/airbytehq/airbyte/issues/4564

[2022-08-01 23:30] #3943 closed

[2022-08-01 23:30] evantahler commented on #4564
There's some good additional information (Temporal message size for one) in https://github.com/airbytehq/airbyte/issues/3943, which has been closed as a duplicate

[2022-08-02 00:11] evantahler commented on #7189
Is this issue still occuring?

[2022-08-02 00:14] tuanchris opened #15182 "Source Hubspot: parse nested schemas"
## Tell us about the problem you're trying to solve
- Currently, some main tables such as `deals`, `contacts`, and `companies` don't parse columns retuned from the API, but have them nested inside a property column.

## Describe the solution you’d like
- Parse these properties into columns for all tables

## Describe the alternative you’ve considered or used
- Writing custom dbt code to parse thes

[2022-08-02 00:15] evantahler commented on #3945
I'm going to close this issue for now, as we've made some updates!
* STATE messages now can be per-stream or global
* Streams can have namespaces!
* The worker does record how many records of each type have been emitted, and stores that information as a summary of the sync
* the new AirbyteTraceMessage allows for additional metadata to be emitted from sources.  Today that's error message decoratio

[2022-08-02 00:15] #3945 closed

[2022-08-02 00:16] #4311 closed

[2022-08-02 00:17] evantahler commented on #4319
Closing this issue now that we have the Octavia CLI

[2022-08-02 00:17] #4319 closed

[2022-08-02 00:18] #4812 closed

[2022-08-02 00:18] #4992 closed

[2022-08-02 00:20] #5468 closed

[2022-08-02 00:22] evantahler commented on #5571
Duplicate of https://github.com/airbytehq/airbyte/issues/13664

[2022-08-02 00:22] #5571 closed

[2022-08-02 00:23] evantahler commented on #13664
cc @davinchia, from https://github.com/airbytehq/airbyte/issues/5571

[2022-08-02 01:27] girarda opened #15184 "Reference doc source files should automatically be generated for new cdk packages"
## Current Behavior
Reference docs for the cdk isn't automatically generated for new packages.
This has to be done by running
`python3 generate_rst_schema.py -o _source/api ../../python/airbyte_cdk -f -t _source/templates` from `airbyte-cdk/python/reference_docs`.

## Expected Behavior
* We should generate the rst files from a github workflow. either when merging to master or when publishing the c

[2022-08-02 01:58] marcosmarxm commented on #9784
*Comment made from Zendesk by Marcos Marx on 2022-08-02 at 01:58:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/sajarin" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@sajarin</a> so this issue still not solved ? because for different table that has 1 millions it runs properly, maybe this is an anomaly</p>

 [<a href="https://discus

[2022-08-02 03:13] sivankumar86 commented on #14824
@grishick Could you take a look on pull request and merge it if it looks good ? it is minor change

[2022-08-02 03:57] davinchia commented on #11431
@timroes how will the api to return the supported timezones be used?

[2022-08-02 04:21] danieldiamond commented on #7198
yeah surprising this still has not been resolved. Would probably opt to remove rather than users having access to broken feature.

[2022-08-02 06:39] ameyabapat-bsft commented on #15100
@evantahler That's a good thing !! I would definitely try newer version. Could you provide a stable version without any breaking changes in v1 apis? I refer to https://airbyte-public-api-docs.s3.us-east-2.amazonaws.com/rapidoc-api-docs.html for api doc.
We use following endpoints in our workflows:
[code]

[2022-08-02 06:51] andriikorotkov commented on #15172
@edgao this issue affects not only Postgres destination but also all JDBC destinations. You can test this by running acceptance tests, for example, on the mysql destination. We will get the same error. Maybe this information will help you.

[2022-08-02 07:20] igrankova commented on #6186
Hi, @YowanR
Yesterday we created a ticket to resolve a problem with sync Okta to Google Sheets: https://github.com/airbytehq/oncall/issues/380
The failure of the sync will be resolved by the PR: https://github.com/airbytehq/airbyte/pull/15179
But the other part with the Resync button is still under the discussion.

Okta support unblocked our Listing Form and I've updated everything we missed durin

[2022-08-02 08:25] smrrazavian opened #15192 "Destination MySQL: normalization issue cann't create separate tables for JSON values"
## Tell us about the problem you're trying to solve
In your [documentation](https://docs.airbyte.com/understanding-airbyte/basic-normalization/), you've mentioned that Airbyte will create separate tables from nested JSON arrays in MySQL but in action, it stores JSON values in a column with JSON type.

![image](https://user-images.githubusercontent.com/62871170/182328039-ec186015-33c3-46a0-8053-a09

[2022-08-02 08:25] igrankova commented on #15134
Hi, @YowanR and @girarda,
According to the information from the SurveyMonkey docs, to utilize the private application we have to have the PREMIER plan (75 USD user / month).
[Private App](https://developer.surveymonkey.com/build-a-private-app/)
[Pricing](https://www.surveymonkey.com/pricing/teams/?ut_source=account_verification&ut_source2=verify_device)

The Terms of Use restricts creating multipl

[2022-08-02 08:34] smrrazavian commented on #15192
## Additional info:
In action, It creates a table like this:
![image](https://user-images.githubusercontent.com/62871170/182330346-7a3f96ef-2adc-4526-b80d-2f0fc1b625be.png)

[2022-08-02 08:42] keu commented on #4564
@evantahler you could also add support for `$ref` and optimize the payload

[2022-08-02 09:12] mfsiega-airbyte commented on #11431
Some brainstorming:

I was imagining that the frontend would call the API and populate a dropdown/some form component with the available choices.

From the Connection API perspective - I think we're tied to a tzdata version (see https://www.iana.org/time-zones) since this is already packaged with Java (https://www.oracle.com/java/technologies/tzdata-versions.html) and Quartz scheduler depends on i

[2022-08-02 10:25] haithem-souala opened #15195 "Cannot setup a new S3 Destination"
## Environment
- **Airbyte version**:  0.39.41-alpha
- **OS Version / Instance**: [debian-10-buster-v20210916]
- **Deployment**: Docker (GCE)
- **Source Connector and version**: N/A
- **Destination Connector and version**: S3 (0.3.11)
- **Step where error happened**: Setup  new connection

## Current Behavior
Connection check fail, when setting up a new S3 Destination.

## Expected Behavior
The de

[2022-08-02 10:56] timroes commented on #11431
@mfsiega-airbyte that sums it up pretty much what we'll need in the FE. We'll have a selectbox for the timezones and need to know which ones are available, since different libraries have support for different timezones, we should not just ask our data library in JS to dump us a list of timezones, but fetch it from the backend API, so that you can ensure you're only giving us timezones that will al

[2022-08-02 11:18] harshithmullapudi commented on #14943
@irynakruk can you help here

[2022-08-02 11:45] ksazon opened #15198 "Worker chart error - toYaml in lowercase"
`toyaml` instead of `toYaml` causes chart installation to fail

https://github.com/airbytehq/airbyte/blob/09d690149882ca586e5abc815b072ff56d7a32b1/charts/airbyte-worker/templates/deployment.yaml#L375

[2022-08-02 11:48] ksazon commented on #15198
Addressed in https://github.com/airbytehq/airbyte/pull/15197

[2022-08-02 11:52] mfsiega-airbyte commented on #11431
Notes from offline chat with @timroes:
- We will initially filter out the `Etc/` timezones in the backend
- We probably do want to add a server API to return the list of supported timezones to avoid tz db inconsistencies
- Make sure we populate both old and new schemas in the read operation a la https://github.com/airbytehq/airbyte/pull/15039

[2022-08-02 11:57] #14408 closed

[2022-08-02 12:02] etsybaev commented on #13583
Performed some investigation.
So basically it was an issue and it's OK that we saw it in stderr. The reason is that we have conflicts in logger imports.
Should be fixed as part of this PR from @DoNotPanicUA
https://github.com/airbytehq/airbyte/pull/14801

[2022-08-02 12:39] RickRen7575 commented on #3990
@evantahler I would love to know more about this!

[2022-08-02 12:55] igrankova commented on #15003
@YowanR
Did you have a chance to generate creds for this [issue?](https://airbytehq.slack.com/archives/C02U9R3AF37/p1658966726580559?thread_ts=1658820905.484339&cid=C02U9R3AF37)
@roman-yermilov-gl is finishing the development and the next step is to implement the OAuth integration using these creds.
Thank you.

[2022-08-02 13:04] etsybaev commented on #14493
Based on provided example (see link below) I see that we have 2 columns with the same name "Jahr;Jahr;"
https://opendata.dwd.de/climate_environment/CDC/regional_averages_DE/annual/sunshine_duration/regional_averages_sd_year.txt

The issue may be similar to https://github.com/airbytehq/airbyte/issues/5171
https://github.com/airbytehq/airbyte/issues/5171

[2022-08-02 13:38] alafanechere commented on #14938
@grishick I think this was done here for source connectors, let me know if my list of beta connectors is not up to date: https://github.com/airbytehq/airbyte/pull/14924

[2022-08-02 13:39] alafanechere commented on #14937
@grishick I think this was done here for source connectors, let me know if my list of GA connectors is not up to date: https://github.com/airbytehq/airbyte/pull/14924

[2022-08-02 13:48] bazarnov commented on #6186
https://github.com/airbytehq/airbyte/pull/15179 is closed now.

[2022-08-02 13:50] YuliiaNahoha commented on #15154
@tkorenko any updates? Thanks!

[2022-08-02 13:55] Jari608 opened #15202 "Airbyte Bootloader: restarts indefinitely when deployed in Argo-CD"
## Environment
- **Airbyte version**: 0.39.41-alpha
- **OS Version / Instance**: K8s
- **Deployment**: Deploy with Kustomization in Argo CD
- **Step where error happened**: Deploy
## Current Behavior
After Deploying in Argo CD the Airbyte-bootloader keeps restarting indefinitely. The Airbyte instance works fine.

## Expected Behavior
The Airbyte-bootloader runs a single time, terminating after suc

[2022-08-02 14:06] haithem-souala commented on #11871
Any updates, this is actually is blocking us from using Airbyte.

[2022-08-02 14:07] haithem-souala commented on #15195
Maybe is linked to #11871

[2022-08-02 14:16] timroes commented on #14847
As part of this I'd suggest we could also cleanup the button component for two things:

* Merge LoadingButton into Button and just have it a property of the component.
* Give a simple property option to add an icon onto the button (currently e.g,. we just use `+` as a character in the string instead of an icon).

[2022-08-02 14:23] #13857 closed

[2022-08-02 14:27] marcosmarxm commented on #7198
*Comment made from Zendesk by Marcos Marx on 2022-08-02 at 14:27:*

<blockquote><div class="zd-comment" dir="auto">Any updates on <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/pull/14876">https://github.com/airbytehq/airbyte/pull/14876</a> I'll return to you. You can use RSA keys and it will work but not with OPENSSH keys<br></div></blockquote>

[2022-08-02 14:28] marcosmarxm commented on #15182
Let me know if you need any assistaance here @tuanchris probably is only a lack of mapping those fields.

[2022-08-02 14:31] jdpgrailsdev commented on #14529
@evantahler This does sound familiar, but I can't recall anything specifically related to this issue.  It might be something that @alovew or @gosusnp addressed recently.

[2022-08-02 14:38] haithem-souala commented on #15195
I tested the connection using AWS CLI, and it's worked.

[2022-08-02 15:17] davinchia commented on #11431
My thought is it would be easier to bundle the asset for now. Both OSS and Cloud are deployed as a whole so version inconsistencies is low risk, and I don't really see us updating this list often (though I might be wrong). I'm usually fair game for stuff except when it comes to adding new api routes, since they are usually hard to remove/modify. We would also add more traffic as part of creating a

[2022-08-02 16:11] girarda opened #15208 "Amplitude: IndexError when reading ActiveUsers stream"
## Current Behavior
The Amplitude connectors is sometimes throwing an index out of bound error when zipping the time series in the ActiveUsers stream.
https://sentry.io/organizations/airbytehq/issues/3418815568

According to the docs at https://www.docs.developers.amplitude.com/analytics/apis/dashboard-rest-api/#response_1 , the length of xValues and the length of an element of the series array sh

[2022-08-02 16:29] yzislin commented on #14529
Yes, this issue has been fixed as of 0.39.41.

Thank you

[2022-08-02 16:37] #14529 closed

[2022-08-02 16:47] natalyjazzviolin commented on #15173
@animer3009 do you have any ideas for a solution or an alternative you're currently using/have considered using? I've edited the initial comment with our standard template - please feel free to fill it out some more if you've got more details/ideas!

[2022-08-02 16:47] tagnev opened #15210 "Postgres to Snowflake sync failed for 10M rows table"
Hi,

I am trying to sync the data from POSTGRES to SNOWFLAKE of 10M rows table. But after pulled 600k rows got stuck on below error,
2022-08-02 03:54:44 INFO i.a.w.g.DefaultReplicationWorker(lambda$getReplicationRunnable$6):325 - Records read: 698000 (6 GB)
2022-08-02 03:54:45 destination > 2022-08-02 03:54:45 INFO i.a.i.d.r.SerializedBufferingStrategy(flushWriter):93 - Flushing buffer of stream M

[2022-08-02 17:10] sherifnada commented on #15056
grooming notes:
- how to make sure this doesn't break existing connectors?
  - unit tests should validate this thing works correctly
  - SATs for GA connectors should give sanity checks that it won't break existing connectors
- perf considerations? seems negligeble esp given bottleneck in rest API is not IO
- we should verify the type transformer also correctly transforms `format` fields like date

[2022-08-02 17:18] jagannathsrs commented on #7740
Team, any update on this?

[2022-08-02 17:25] alafanechere commented on #15057
grooming note:
* use semver to decide if breaking changes are allowed
* access connector status from SAT to bypass strict test for alpha (decide on what to do for custom connectors)

[2022-08-02 17:34] alafanechere commented on #8057
grooming note:
* check if state key changed
* running a sync with the previous state seems the most robust approach (solution 1)

[2022-08-02 17:39] subodh1810 opened #15214 "postgres cdc lsn commit on source side should happen after loading data into the destination"
In postgres CDC, Debezium commits LSN on the source database to allow postgres to clean up WAL logs. In our current implementation, we continue to commit the LSN as we process records from WAL logs. This is nice since it makes sure that WAL logs are not building up in the source database and causing disk issues. But in case we fail to load the processed records successfully in destination, since w

[2022-08-02 17:41] evantahler opened #15215 "Common state message handling for non-JDBC connectors"

[2022-08-02 17:43] subodh1810 commented on #12821
@fmmoret I see your point. While I still feel that there are scenarios where flushing LSN after the load in the destination can cause trouble (imagine a database with huge WAL logs, it will only be cleared once the data is loaded in the destination and if the destination takes a lot of time, and assuming it would succeed, the WAL logs won't be cleared until its finished and a new sync starts. This

[2022-08-02 17:46] subodh1810 commented on #12821
@fmmoret also if you are ware of a relevant debezium doc which contains info on how to build custom LSN commit behaviour in postgres, can you please share. I was looking at the [doc](https://debezium.io/documentation/reference/stable/connectors/postgresql.html) and didnt find anything obvious in there

[2022-08-02 17:48] pedroslopez commented on #14907
grooming notes:
- after fixing current issues, enforce type hints via mypy option
- should we do this for all python projects
- cdk might be a good start to enable and check the issues that comes up, and then we can add this to all the other python modules
- also do it for SAT
- could we show a warning on connectors that are failing and give it a time frame to comply

- opt in flag for airbytePyth

[2022-08-02 17:59] jdpgrailsdev commented on #15215
This ticket is in reaction to the root cause discovered while investigating:  https://github.com/airbytehq/oncall/issues/382

[2022-08-02 18:14] misteryeo opened #15217 "Streams Permissions Research"
[We](url) recently introduced an additional step in our connector certification process which ensures that we're aware of the granular permissions required for a specific stream supported by a connector.

Please retroactively include this information in the research docs for the connectors we are certifying this quarter and our existing GA connectors:

- [x] [Zendesk Support](https://docs.google.c

[2022-08-02 18:15] #14789 closed

[2022-08-02 18:22] evantahler opened #15218 "Create a self-healing scheduler services (x2)"
Relies on Micronaut

* Clean up jobs table with TTL (https://github.com/airbytehq/airbyte/issues/11869)
* Restart temporal workflows that got stuck/stopped (https://github.com/airbytehq/airbyte/issues/14043)

There will likely be 2 services for each above links.  Keeping separate services per job means that a failure is isolated and the other services can continue to run.   There might be a "talks

[2022-08-02 18:27] evantahler commented on #14371
Grooming Notes:

* Update the version of Temporal that we use in OSS to the newest version.

[2022-08-02 18:34] lazebnyi opened #15219 "Source Harvest: increase unit test coverage at least 90%"
## Tell us about the problem you're trying to solve
Need to improve unit test coverage at least 90%

[2022-08-02 18:41] philippeboyd commented on #9501
I've encountered a couple of commits in the code potentially related to this feature since mid-July: 5edf3fed7189fe13531468fad64998787e50ef49 and 063b01f51c0bf3b5702156c8aee407ec5396016d; both made by @ryankfu

Wondering if this ever made it to the connectors?

When I try to set the JDBC param `queryTimeout=0` to disable query timeout, I still get a MSSQL query timeout after 10 minutes which seems

[2022-08-02 18:46] rolldeep commented on #15013
Hi @natalyjazzviolin ,
Airbyte viersion: 0.39.38-alpha;
BigQuery connector destination: 1.1.11
S3 source: 0.1.17

[2022-08-02 18:54] DoNotPanicUA commented on #15152
@alexandr-shegeda
Please review

[2022-08-02 19:05] evantahler commented on #15100
Hi @ameyabapat-bsft! At the moment, we don't offer long-term support for our APIs, and we do regularly change them as we work on new features.  However, you can see a list of what's changed in our changelogs.  In the future, Airbyte Cloud will make available an API that's more stable.   That said, the new features in the platform are probably worth the upgrade!

[2022-08-02 19:38] alexandr-shegeda commented on #15152
@DoNotPanicUA all looks good, the only suggestion is to move `Stage 8. Test data population` closer to 1-2 stages

[2022-08-02 20:05] DoNotPanicUA commented on #15152
This step means filling test data using config files. The tool will generate data on the fly.
Before automatization and local run, we will prepare test data manually and reuse it.
I will rephrase a bit to make it more clear.

[2022-08-02 20:07] evantahler commented on #15215
This is the potential list of destinations with issues https://docs.google.com/document/d/1eoZcTUlaB-14UJzI1PDKncUTmyi0KzDyNwC7M2eKEQY/edit

[2022-08-02 20:10] DoNotPanicUA commented on #14325
@sherifnada @grishick @bleonard
I've prepared the epic with an implementation proposal. Please provide your feedback.
https://github.com/airbytehq/airbyte/issues/15152

[2022-08-02 20:27] tim-sauchuk commented on #10140
I'm also finding that deleted rows are not being deleted in the destination when I run incremental + dedup from Postgres -> Postgres. I've also pulled the latest version of Airbyte. Any troubleshooting ideas?

[2022-08-02 21:09] edgao commented on #10140
@tim-sauchuk can you submit a bug report (https://github.com/airbytehq/airbyte/issues/new?assignees=&labels=type%2Fbug%2C+needs-triage&template=bug-report.md&title=) ? The template will ask for some troubleshooting information which would help us narrow down what's happening.

[2022-08-02 21:39] dizel852 commented on #15137
After some time of debugging, I've found the root cause.
Good news - it's actually not a UI issue 😅

The problem is in the synced state of the connection(s).
After deleting the connection, it's still observable via some endpoints, for example:
We deleted the connection via `POST /api/v1/connections/delete` but after a few seconds we still can get it in a list by sending the `POST /api/v1/web_backe

[2022-08-02 21:42] evantahler opened #15224 "[EPIC] Update all destinations to ensure they handle per-stream state correctly"
Slack Channel: `#missing-state-emission`
Doc: https://docs.google.com/document/d/1eoZcTUlaB-14UJzI1PDKncUTmyi0KzDyNwC7M2eKEQY/edit
Working Spreadsheet: https://docs.google.com/spreadsheets/d/11HIKZZBZzMlaBtD8PnAJnzsnd4nVZYcu54gxTZ0gxoY/edit#gid=0

[2022-08-02 21:58] edgao commented on #14196
@bazarnov could you clarify what you're looking for? This issue is specifically for removing the `additionalProperties: false` from all connectors' `spec.json`, not about adding `additionalProperties: true` anywhere (since by default a schema allows additional properties)

[2022-08-02 22:22] bazarnov commented on #14196
Thanks for the question, at present, the value of this setting is obvious, no need to dive into a subject.

For all other future and current validation implementations based on checks of specific properties in schemas or input specifications, it would be nice to have the logging message where the issue occurred and what was expected (if applicable to the case).

Giving the general messages like in

[2022-08-02 22:57] edgao commented on #15172
finally confirmed that https://github.com/airbytehq/airbyte/pull/13591 is the cause (was able to check out the previous commit and run tests successfully).

Need to determine if this is a problem in normalization or just a problem with how the tests try to parse the timestamps.

[2022-08-02 23:27] edgao commented on #15172
updated description with more information about what's happening.

@grishick I think we should prioritize this somewhat highly, since it's blocking `/publish` on all JDBC destinations, but at least it shouldn't be breaking anything in production.

[2022-08-03 00:00] misteryeo commented on #13349
Hi @drrest, following up here:

1. Did you manage to validate the viability of using the sandbox?
2. We've had some additional conversations with customers of Netsuite to understand which method of pulling data is preferred, which streams of data are desired and what configuration options they would like to see - you can read more and listen to recordings [here](https://docs.google.com/document/d/

[2022-08-03 00:06] antonapua commented on #15161
Identified issue where date value had 00 as day. wish this was ignored or converted to null.

[2022-08-03 00:37] dhk commented on #14932
What's the next step with this ?

[2022-08-03 02:20] marcosmarxm commented on #14576
*Comment made from Zendesk by Marcos Marx on 2022-08-03 at 02:20:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi folks, any update on this issue? We’re running into the same problem where our destination is S3 which is causing this error.</p>

 [<a href="https://discuss.airbyte.io/t/deploying-on-kubernetes-configuring-custom-s3-logs/1616/9" rel="noreferrer">Discourse post</a>]</

[2022-08-03 07:02] drrest commented on #13349
Hi @misteryeo
1) I was tried to check sandbox variant. It was a some time ago. Last time it is not worked as well
2) Can you please give me access to these files, because i haven't.

[2022-08-03 07:25] etsybaev commented on #15172
Hi @edgao.
Could you please clarify what is an expected format from Airbyte's business point of view?  Just trying to understand what part of code should be changed - tests or business logic.
Thanks

[2022-08-03 07:59] timroes commented on #15137
@evantahler @benmoriceau Could the OSS team have a look at that? It seems those the `/web_backend/connections/list` API and the ` /v1/web_backend/workspace/state` are still seeing a deleted connection for some time and only after some time no longer returning it. This is causing some issues in the frontend.

[2022-08-03 08:29] subodh1810 commented on #12821
Thanks @fmmoret we will look into how we can flush the LSN

[2022-08-03 08:29] subodh1810 commented on #15214
Ref : https://github.com/airbytehq/airbyte/issues/12821#issuecomment-1203168242

[2022-08-03 08:50] programmeddeath1 commented on #13692
@alafanechere  Hi I am facing an issue of data space getting used up over multiple failed attempts. Can you tell me where airbyte stores this intermediate state object or the intermediate records. I have not been able to see the data even on the airbyte db. I removed the dockers for airbyte, but still am not able to reclaim almost more than 60gb of local data space.

[2022-08-03 09:54] DoNotPanicUA commented on #14956
@sherifnada, @grishick
Yesterday we figured out that our OSS version works a bit differently with connector versions than our Cloud version. If we can control versions for each Airbyte instance locally, inside Cloud, we upgrade all customers at once.
It makes my proposals not very relevant because we should consider the current support and future communication processes.

So, I have a complex prop

[2022-08-03 09:55] HALLOWe3n opened #15230 "Source File: support oauth"
## Tell us about the problem you're trying to solve
With the release of Airbyte Cloud, we need to start supporting Oauth for this connector, since it's the recommended way of authenticating users into a SaaS application.

If this connector doesn't support oauth already (i.e: doesn't accept a client_id and client_secret) then we need to update its spec to accept those parameters. There are two ways

[2022-08-03 10:43] mfsiega-airbyte commented on #11431
I'm inclined to agree with https://github.com/airbytehq/airbyte/issues/11431#issuecomment-1202800212 that it's worth at least trying this without adding a new API (this sort of thing seems reasonably-well supported nowadays, whereas it wasn't in the past). If the frontend work gets underway and it's clear that it's a non-starter we can always revisit.

WDYT?

[2022-08-03 11:12] igrankova commented on #6186
Hi, @YowanR,
I've tested the connection on the cloud, everything works properly. I'm and ready to submit the form for review and publication of our Okta app. The last thing I need is to set up the test creds for the Okta support team. Can you help with this?
Maybe we can add creds or somehow activate the test profile I've prepared:
LastPass name **Okta App listing account**
User: isvtest@okta.com

[2022-08-03 11:22] etsybaev commented on #14493
It seems to work now. I assume that previously it failed as we had 2 fields with the same name and different types. But please be aware that there is some minor name transforming that will be done to make names a little bit different.

![Selection_407.png](https://images.zenhubusercontent.com/627269f99b780c901a3d24e2/569f6b91-5b7c-494d-80cb-348c08e5a01e)
![Selection_408.png](https://images.zenhubu

[2022-08-03 11:22] #14493 closed

[2022-08-03 11:34] timroes commented on #11431
I am not sure I fully understand what you mean by "bundling the asset" here? You'd add something into the CI that would generate a JSON file with all available time zones that will then be bundled with the FE code? It sounds for me harder to maintain as a special CI thing, than just adding a new API for it?

[2022-08-03 11:40] yash-ghelani-dsw opened #15232 "MSSQL Connector json validator failed error"
I am trying to connect to mssql and transfer data to postgres through airbyte. I have enable cdc with DB and table level as well. Have enable sanpshot isolation also DB. Still it gives following error:

2022-08-03 11:30:14 INFO i.a.v.j.JsonSchemaValidator(test):71 - JSON schema validation failed.
errors: $.data_to_sync: is not defined in the schema and the schema does not allow additional properti

[2022-08-03 11:54] #15064 closed

[2022-08-03 11:54] donatas-jocas commented on #15064
Looks like fixed by https://github.com/airbytehq/airbyte/pull/15087

[2022-08-03 12:36] devhmars commented on #8875
I'm experiencing a similar issue, although I am using the kafka connector to pull data from an azure event hub. I want to push the data to bigQuery can anyone advice on a workaround or how to resolve said issue?

[2022-08-03 12:42] marcosmarxm commented on #15232
Close issue because is not following the template. Please use the template given to you to open a new Github issue.

[2022-08-03 12:42] #15232 closed

[2022-08-03 13:29] yash-ghelani-dsw opened #15234 "JSON schema validation failed mssql error"
2022-08-03 13:24:43 INFO i.a.v.j.JsonSchemaValidator(test):71 - JSON schema validation failed.
errors: $.data_to_sync: is not defined in the schema and the schema does not allow additional properties, $.snapshot_isolation: is not defined in the schema and the schema does not allow additional properties, $.replication_type: must be a constant value STANDARD, $.replication_type: does not have a valu

[2022-08-03 14:08] marcosmarxm commented on #15234
Close issue because is not following the template. Please use the template given to you to open a new Github issue.

[2022-08-03 14:08] #15234 closed

[2022-08-03 14:11] yash-ghelani-dsw opened #15235 "unable to connect source with host as localhost"
I have been trying to use airbyte locally without internet, but the airbyte could not able to connect the host when i try to add it as a localhost. is it designed such a way that when we add host as localhost it looks inside the container. or any is it some configuration required at my end?

[2022-08-03 14:24] etsybaev opened #15236 "Destination-postgres: fix java-based normalization tests for datetime"

[2022-08-03 14:46] natalyjazzviolin commented on #15013
Thanks! I think the problem might be in your CSV configuration, could you provide a sample of what your CSV looks like?

Some problems that might be happening are using the wrong delimiter, or some rows only having 1 quote and others not. Could you try setting the `double quote` toggle to False?

[2022-08-03 14:56] natalyjazzviolin commented on #15210
Hey @tagnev, thanks for opening this issue.

How long had the sync been running? With such a large number of rows it could have timed out. If that's the case, there's an environmental variable you can change:
https://github.com/airbytehq/airbyte/blob/9a07136f2b7e78fd611a3ec12c8ec6db78dc4dd1/.env#L73-L77

Could you please attach your full logs? I don't see the root cause of the issue in the ones at

[2022-08-03 15:16] gcareri commented on #10871
Hi everyone,
Is there a documentation how to use custom fields on Jira?
Thanks

[2022-08-03 15:22] josephfinlayson commented on #9810
I also have this issue!

More complete logs:

[code]

[2022-08-03 15:32] yash-ghelani-dsw commented on #15234
@marcosmarxm please route me to issue template format, will reopen with the format specified.

[2022-08-03 15:38] edgao commented on #14590
implemented in https://github.com/airbytehq/airbyte/pull/15187/ - will be published as part of https://github.com/airbytehq/airbyte/pull/14534

[2022-08-03 15:40] #11348 closed

[2022-08-03 15:44] grishick commented on #15172
agreed. Do you know if the fix will be in normalization or in shared jdbc destination code or in each jdbc destination separately?

[2022-08-03 15:46] tim-sauchuk opened #15241 "Postgres -> Postgres connection is not capturing deletes"
## Environment
- **Airbyte version**: 0.39.41-alpha
- **OS Version / Instance**: macOS Monterey Version 12.1
- **Deployment**: Docker Desktop 4.11.0
- **Source Connector and version**: Postgres 0.4.38
- **Destination Connector and version**: Postgres 0.3.21
- **Step where error happened**: Sync job

## Current Behavior
After the initial sync, I deleted a row from a table in the source. However, af

[2022-08-03 15:49] edgao commented on #15172
I think it'll be in the shared jdbc destination test code, and _potentially_ each jdbc destination's test implementation. Either the Basic or Advanced `TestDataComparator` might be the right place to start.

The `* TestDataComparator` classes that I mentioned in the description seem to exist in several (but not all) JDBC destinations, and they might need additional work to fix.

[2022-08-03 15:51] marcosmarxm opened #15242 "🐛 Source Shopify: unavailable balance transactions causes 404 error"
## Current Behavior
When using the Shopify source with a store in a country that does not support balance transactions, the whole sync fails.

## Expected Behavior
The absence of balance transactions should not break the sync.

This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1778](https://airbyte7538.zendesk.com/agent/tickets/1778)
**Priority:** normal
**Group:** Community Assist

[2022-08-03 15:51] marcosmarxm commented on #15242
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-02 at 16:35:*

<blockquote><div class="zd-comment" dir="auto">Hi @thongseng188,<br><br>I found a related post with someone using the same Shopify connector version and getting the same error:<br><a rel="noopener noreferrer" href="https://discuss.airbyte.io/t/failed-to-pull-data-from-shopify/1549">https://discuss.airbyte.io/t/failed-to-pull-d

[2022-08-03 15:51] marcosmarxm commented on #15242
*Comment made from Zendesk by Marcos Marx on 2022-08-03 at 06:27:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto"><a href="/u/natalyjazzviolin" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">@natalyjazzviolin</a> hello, I found out the problem already. The source connector always stops at <code style="background-color: #f9f9f9; padding: 2px 5px;">

[2022-08-03 15:51] marcosmarxm commented on #15242
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-03 at 15:51:*

<blockquote><div class="zd-comment" dir="auto">Thanks for the clarification! I'll escalate this to GitHub as this seems to be an oversight regarding using the Shopify connector in countries that do not support balance transactions!<br></div></blockquote>

[2022-08-03 16:03] tagnev commented on #15210
Actually its not getting timeout. Its more related to file size issue i guess. PFB the complete logs,

[logs-14.txt](https://github.com/airbytehq/airbyte/files/9253190/logs-14.txt)

[2022-08-03 16:09] girarda opened #15243 "Facebook Marketing: Automatically update start_date if it earlier than 37 months in the past"
## Tell us about the problem you're trying to solve
The FB Marketing API only allows us to fetch data for the last 37 months. We currently fail the sync if the start date is too early.

## Describe the solution you’d like
Instead of failing the sync if the start date is too early, we set the start_date to the first valid date (`pendulum.now() - DATA_RETENTION_PERIOD`).

## Describe the alternative

[2022-08-03 16:21] hellmund commented on #14186
@marcosmarxm Same here, please note that the validation error not only occurs with the `subscription_stream`, but also when only trying to load transactions. Here is an example of trying unsuccessfully to synchronize just the `transactions_stream`:

[code]

[logs-14_only_transaction_stream.txt](https://github.com/airbytehq/airbyte/files/9253248/logs-14_only_transaction_stream.txt)

As noted in the

[2022-08-03 16:23] subodh1810 commented on #15241
@tim-sauchuk you have configured the connector in non-cdc mode
[code]
If you want deletes to be captured, setup the connector in CDC mode by selecting the replication method as Logical replication
<img width="711" alt="Screenshot 2022-08-03 at 9 52 55 PM" src="https://user-images.githubusercontent.com/28527634/182659646-5610c8b6-8ddc-4862-99fe-ddaee99e6afd.png">

[2022-08-03 16:36] #9093 closed

[2022-08-03 16:36] #11778 closed

[2022-08-03 16:36] marcosmarxm commented on #9784
*Comment made from Zendesk by Sajarin on 2022-08-03 at 16:17:*

<blockquote><div class="zd-comment" dir="auto">@ayyoub, I don't believe there's a solution yet, it's a bit difficult to reproduce since it only seems to happen with large syncs and many rows. Sometimes it works for some tables but not for others. Could you share some more information about the resources you've allocated for your airby

[2022-08-03 16:37] #11419 closed

[2022-08-03 16:38] etsybaev opened #15245 "Destination-mysql: fix java-based normalization tests for datetime"

[2022-08-03 16:38] etsybaev opened #15246 "Destination-mssql: fix java-based normalization tests for datetime"

[2022-08-03 16:38] etsybaev opened #15247 "Destination-redshift: fix java-based normalization tests for datetime"

[2022-08-03 16:41] tuliren commented on #14890
Conclusion: keep waiting when the state is completely empty or if there is per-stream state for a specific table.

[2022-08-03 16:46] subodh1810 opened #15248 "Upgrade MSSQL debezium version to 1.9.6"
Required for beta (heading is obvious)

[2022-08-03 16:49] subodh1810 commented on #12821
@fmmoret I was going through the `OffsetCommitPolicy` in debezium and it determines when should debezium write the offset (it's own state) in the state file. It doesn't configure the behaviour on when debezium would commit the lsn on source database.
`The policy that defines when the offsets should be committed to offset storage.`

[2022-08-03 16:49] grishick commented on #14890
Next step: file an implementation issue for waiting for empty state

[2022-08-03 16:50] tuliren opened #15249 "MySQL CDC: keep waiting when the state is completely empty or missing for any table"
This is a follow-up of https://github.com/airbytehq/airbyte/issues/14890.

[2022-08-03 16:51] tuliren commented on #14890
New issue: https://github.com/airbytehq/airbyte/issues/15249

[2022-08-03 16:51] #14890 closed

[2022-08-03 16:51] evantahler commented on #13583
Awesome! Are there other DB connectors we should publish to get this fix in?

[2022-08-03 16:52] YowanR commented on #14060
LGTM!
I suggest that code changes and docs should be separated into different PRs in the future.
Thanks!

[2022-08-03 17:01] grishick commented on #15248
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/15248?planning-poker) with ZenHub @edgao @ryankfu @subodh1810 @tuliren @rodireich

[2022-08-03 17:03] grishick commented on #15248
@subodh1810 please add a description of how you test the connector to make sure that upgrade is working.

[2022-08-03 17:11] grishick commented on #15248
Keeping the optimistic estimate at 13 points.

[2022-08-03 17:18] midavadim commented on #7045
I was not able to reproduce this problem with the latest version of source-file.

I tried to sync json/jsonl from local file and from http source.
I also tried to sync exactly the same data sample mentioned in issue description:
{"index": 248, "join_date": "2020-03-15", "first_name": "Jia Yu ", "last_name": "Zeng", "address": "Blk 368A Jalan Zemlak Hill SINGAPORE 257066", "gender": "FEMALE", "jae_

[2022-08-03 17:18] #7045 closed

[2022-08-03 17:20] marcosmarxm commented on #15195
I asked the connector team to review your contribution, thanks @haithem-souala for proposing the solution.

[2022-08-03 17:21] marcosmarxm commented on #14186
The issue is in the connector team backlog but Braintree is an alpha connector so I don't have a specific ETA for the resolution.

[2022-08-03 17:22] marcosmarxm commented on #15235
Please check https://docs.airbyte.com/troubleshooting/new-connection#connection-refused-errors-when-connecting-to-a-local-db
Also open questions about Airbyte at https://discuss.airbyte.io/

[2022-08-03 17:22] #15235 closed

[2022-08-03 17:24] tuliren opened #15250 "Merge strict-encrypt connectors with normal ones in airbyte cloud"
This is the final step for https://github.com/airbytehq/airbyte/issues/8634.

[2022-08-03 17:26] grishick commented on #15214
Next step: POC and file implementation issues based on POC results.

[2022-08-03 17:29] grishick opened #15251 "Produce and record a tech talk/presentation on CDC"

[2022-08-03 17:30] grishick opened #15252 "Produce and record a tech talk/presentation on Normalization"

[2022-08-03 17:36] marcosmarxm commented on #14576
*Comment made from Zendesk by Marcos Marx on 2022-08-03 at 17:16:*

<blockquote><div class="zd-comment" dir="auto"><blockquote><p dir="auto">Hi folks, any update on this issue? We’re running into the same problem where our destination is S3 which is causing this error.</p></blockquote>Did you check the latest update in Kuberentes deployment documenqation?<br>&nbsp;<br></div></blockquote>

[2022-08-03 17:45] #9131 closed

[2022-08-03 17:45] #14060 closed

[2022-08-03 18:00] subhranil05 opened #15254 "Helm Chart: external minio with S3 object storage"
Hi Team,

I'm trying to implement external minio with S3 object storage and also with external postgres in airbyte helm charts but minio internal minio is getting deployed everytime ignoring the 'enable: false' option and temporal pod is not coming up searching for the external postgres but I checked all parameters releted to external postgres is ok.

Please guide me on this. thanks much on advanc

[2022-08-03 18:04] #8291 closed

[2022-08-03 18:08] marcosmarxm opened #15255 "Documentation Building a Python Source Step 11"
### Tell us about the documentation you'd like us to add or update.
Review text considering a user with custom connector that won't be published in official list.

### If applicable, add links to the relevant docs that should be updated
- [Link to relevant docs page](https://docs.airbyte.io)

[2022-08-03 18:18] timroes commented on #15137
I think I'd prefer keeping the booleans for ease of use.

On Wed, Aug 3, 2022, 17:42 Evan Tahler ***@***.***> wrote:

[2022-08-03 18:27] davinchia commented on #11431
Yes. The file can be manually updated for now to keep things simple. Something along the lines of placing this list in a folder so react includes the file as an asset when it's compiled (maybe the 'src' folder?), and parsing it on the FE. We can make automatically generating this file as a separate task.

Work-wise it's roughly equal, and maybe just slightly simpler. The main thing here is there i

[2022-08-03 18:31] #15038 closed

[2022-08-03 18:39] #12026 closed

[2022-08-03 18:39] #13608 closed

[2022-08-03 18:39] #14590 closed

[2022-08-03 18:40] edgao opened #15259 "Improve date/time handling in source-postgres"
splitting out an issue to track the postgres-specific stuff from https://github.com/airbytehq/airbyte/issues/14628

[2022-08-03 18:41] #15259 closed

[2022-08-03 18:41] edgao commented on #15259
completed in https://github.com/airbytehq/airbyte/pull/14534

[2022-08-03 18:42] edgao commented on #14628
source-postgres is completed in https://github.com/airbytehq/airbyte/issues/15259; there's still work remaining for other DB sources.

[2022-08-03 18:43] edgao commented on #14628
@grishick how do I remove this issue from the postgres epic?

[2022-08-03 18:51] sophia-wiley opened #15262 "Revisit Airbyte Limits Docs"
According to [Airbyte Cloud Limits](https://docs.airbyte.com/cloud/managing-airbyte-cloud#understand-airbyte-cloud-limits), the shortest sync schedule is 60 min.

![Screen Shot 2022-08-02 at 2.53.35 PM.png](https://images.zenhubusercontent.com/629120add2afa160248b2d7e/a0cb7037-b40d-41e8-9d5f-95423ce1e909)

But in Cloud, it looks like the shortest sync schedule is now 5 min (unless sync schedule an

[2022-08-03 18:54] evantahler commented on #9502
It looks like this issue is closed!  Please open a new issue if you are still having problems with migrations.

[2022-08-03 18:54] #9502 closed

[2022-08-03 18:56] YowanR commented on #15134
Based on this info, this would actually cost us (3*75*12) = $2700 annually. I missed the "per user" part earlier. Seems pricey. Will defer to @misteryeo here for guidance.

@igrankova I'll get back to you about separating dev/prod. I believe that we just use different creds for each respective environment but need to confirm the specifcs with @sherifnada

[2022-08-03 19:07] brianjlai opened #15263 "[low-code cdk] Move YAML config debug messages to only print when `--debug` flag is on."
While implementing debug messages, I originally didn't think we had control over printing messages since YAML parsing occurred prior to knowing the value of the `--debug` flag. This is not great DX since it means during setup and particularly in the tutorial, developers will get some debug messages at the start which is confusing.

I think there should be a way to move the YAML debug statement in

[2022-08-03 19:08] emeagenciadigital opened #15264 "Source Pipedrive: missing relations of custom fields with entities"
## Tell us about the problem you're trying to solve
What are you trying to do, and why is it hard?

Pipedrive extract already has custom fields of entities like persona, deals, organizations and activities but there is no way on a normalized table (bigquery) to see or join a “person” with “person fields”

## Describe the solution you’d like

Option1. Add the custom fields on the main entity table.

[2022-08-03 19:38] #7132 closed

[2022-08-03 19:38] #13684 closed

[2022-08-03 19:50] #14934 closed

[2022-08-03 19:51] #14717 closed

[2022-08-03 19:59] marcosmarxm commented on #15234
Here: https://github.com/airbytehq/airbyte/issues/new?assignees=&labels=type%2Fbug%2C+needs-triage&template=bug-report.md&title=

[2022-08-03 20:18] tuliren opened #15265 "Allow users to turn off SSL on cloud"
## Tell us about the problem you're trying to solve
The strict encrypt connectors implicitly enforce SSL connection. These connectors are used in cloud. The purpose of this behavior is to ensure all traffic is encrypted when the data is transmitted through the open internet.

However, this configuration has a few downsides:
- When SSH tunneling is enabled, the data is double encrypted. It is unnec

[2022-08-03 20:29] edgao opened #15266 "Add incremental CDC datatype test"
As discovered in https://github.com/airbytehq/airbyte/pull/15187, debezium actually behaves differently in snapshot and incremental modes. We now have unified datatype tests for mysql and postgres (e.g. `AbstractPostgresSourceDatatypeTest`), but they only verify the snapshot behavior; incremental behavior must be verified via manual testing. We should add incremental mode tests, either by writing

[2022-08-03 20:29] edgao commented on #15266
putting directly into unestimated backlog b/c I think this is a pretty important test coverage gap.

[2022-08-03 20:31] #14025 closed

[2022-08-03 20:38] evantahler commented on #12958
@jdpgrailsdev can you please confirm that this is a prereq for the Micronaut work?

[2022-08-03 20:44] evantahler commented on #15215
@grishick we had this in the Platform Workflow backlog, but we went with unit tests in every connector instead.  You may want to look into this.   The main point of the acceptance test was to test a destination in multiple configurations.

[2022-08-03 20:46] drgsec1234 commented on #14827
@natalyjazzviolin thank you, looking forward to the solution

[2022-08-03 20:50] evantahler commented on #14043
This story is pending Micronaut scheduler for the "automatic" part

[2022-08-03 20:52] grishick commented on #15265
one way to do this is to allow selecting "allow" or "prefer" SSL modes, but ideally that would be possible only if SSH tunnel is enabled

[2022-08-03 20:56] #13329 closed

[2022-08-03 21:17] terencecho commented on #8508
as a note for whoever picked this up, we should also look into if we're okay sweeping the `minRecordsPerHourThroughput` from https://github.com/airbytehq/airbyte-cloud/blob/f791d0de6641526f5a96fead4f3611219afad506/cloud-config/cloud-config-persistence/src/main/java/io/airbyte/cloud/config/persistence/billing/SourceBillingType.java#L42

[2022-08-03 21:20] YowanR commented on #6186
Hi @igrankova, I see that you've made a test connection in the Okta Partner Account that I shared with you. I checked and the connection works as expected. Can you confirm that you had credits to use on the accounts where you created the test connection? I can simply add isvtest@okta.com](mailto:isvtest@okta.com) to the account and they should be able to use it. Since you went through the flow onc

[2022-08-03 21:37] edgao commented on #13583
destinations gcs and s3 didn't publish successfully in https://github.com/airbytehq/airbyte/pull/14801 and destination-databricks maybe also needs to be published; reopening. @DoNotPanicUA it might make sense to just try and get those published in a followup PR, what do you think?

(I merged the PR early to unblock some exciting postgres publishes, but otherwise have no context on this issue :P )

[2022-08-03 21:45] grishick commented on #14628
done (clicked on the cogwheel next to Epics in the side bar on the right and unchecked the checkbox next to postgres epic)

[2022-08-03 22:05] grishick commented on #7641
@jefersonmsantos we have made many improvements to MySQL source connector in the year since this issue was filed. Is it still happening?

[2022-08-03 22:15] #12821 closed

[2022-08-03 22:20] evantahler commented on #15202
The airbyte-bootloader is supposed to exit after setting things up.  Can you confirm that it isn't configured to restart after a successful exit?

[2022-08-03 22:22] evantahler commented on #14851
@benmoriceau how do you feel about closing this story, since we are doing https://github.com/airbytehq/airbyte/issues/15224?

[2022-08-03 22:35] dizel852 opened #15272 "🪟 🐛 "Sign Up" button is disabled after after checking the security checkbox, but become active after clicking on button"
## Environment
- **Airbyte version**:  master

## Current Behavior
After filling in the sign-up form, the "Sign Up" remains disabled. But after clicking on it - becomes active.

<img width="485" alt="Screenshot at Aug 03 17-46-53" src="https://user-images.githubusercontent.com/20929344/182723644-3919c28d-15f9-4706-84ab-4fe0f1832a2a.png">

## Expected Behavior
After filling in the sign-up form, the

[2022-08-03 22:35] octavia-squidington-iii commented on #15272
cc @airbytehq/frontend

[2022-08-03 22:48] YowanR commented on #7814
@davydov-d is there any other workarounds or are we blocked here?
Cc @misteryeo

[2022-08-03 22:49] sophia-wiley opened #15275 "Update trial info in docs"
Pricing and free trial have been updated. Edit the [Getting Started with Airbyte Cloud](https://docs.airbyte.com/cloud/getting-started-with-airbyte-cloud) doc to reflect that.

Related to this [ticket](https://github.com/airbytehq/airbyte/pull/15277).

[2022-08-03 22:54] dizel852 commented on #15137
Agree - also prefer to keep the booleans, since there is no need for a counter, at least for now 🤷🏻‍♂️

[2022-08-03 22:58] sophia-wiley commented on #12692
Document available [here](https://docs.airbyte.com/cloud/managing-airbyte-cloud#view-the-sync-log-summary).

[2022-08-03 22:58] #12692 closed

[2022-08-03 23:03] gabrielalmeida commented on #15002
Same behavior.
Airbyte 0.39.41-alpha.
Just 1 single connection with two connectors.
Postgres to BigQuery, 5min interval sync, no custom transformations.

Is it safe to manually clean it in the meanwhile?

[2022-08-03 23:05] misteryeo commented on #13349
Closing the loop here - access has been granted. @drrest let me know how things go after you've reviewed - would love to see recommendations on a path forward for us to build this out!

[2022-08-03 23:06] misteryeo commented on #15134
@YowanR let's check in with Tata to see if there's any sort of partnership aspect we could leverage here as it seems strange that we need to be billed for three users when we won't be using this as a production account. Thanks!

[2022-08-03 23:52] evantahler commented on #15137
I did some research on this, and this is a bigger issue than I had initially thought:
* In the database, we only have 3 statuses for a connection: `active`, `inactive`, `depreciated`
* The way a connection is deleted is though a temporal activity, by ending the connectionManager for that connection... whose last step is changing the status column for the connection to `depreciated`
* Because there

[2022-08-03 23:54] jefersonmsantos commented on #7641
@grishick , sorry, stopped using airbyte due to this and other errors. I do not know if it would be solved.

[2022-08-04 00:07] sivankumar86 commented on #4932
Any update on this feature

[2022-08-04 00:41] grishick commented on #14628
@subodh1810
This is still affecting MySQL and Snowflake sources (related [OC issue](https://github.com/airbytehq/oncall/issues/383)). Ideally this can be fixed at a shared class level that will fix this for all JDBC sources. However, if you determine that this approach is not feasible, please scope this issue to MySQL and open a followup issue for Snowflake source.

[2022-08-04 01:26] edgao commented on #14628
for reference: I was able to repro the issue with source-snowflake; see https://github.com/airbytehq/oncall/issues/383#issuecomment-1204588122 - it looks like timestamp and date columns are both incorrectly treated as timestamptz

[2022-08-04 01:33] sherifnada commented on #15208
This happened again (see Sentry for affected cloud workspaces). It appears to be a problem from Amplitude's side because the next sync succeeded.

[2022-08-04 01:34] sherifnada commented on #15208
cc @YowanR for prioritization

[2022-08-04 05:57] yash-ghelani-dsw opened #15284 "MSSQL Connector json validator failed error"
Environment
Airbyte version: 0.39.36-alpha
OS Version / Instance: Ubuntu 18.04 (AWS EC2)
Deployment: Docker
Source Connector and version: mssql (0.4.8)
Destination Connector and version: Postgres (0.3.8)
Step where error happened: Sync job
Tell us what happens.
I am trying to connect to mssql and transfer data to postgres through airbyte. I have enable cdc with DB and table level as well. Have ena

[2022-08-04 06:21] DoNotPanicUA opened #15285 ":bug: Destination S3 : fix and publish"
The destination was modified but failed to publish in PR #14801.
The publishing failed due to an inconsistent state in the master version.

It should be fixed and published.

[2022-08-04 06:21] DoNotPanicUA opened #15286 ":bug: Destination GCS : fix and publish"
The destination was modified but failed to publish in PR #14801.
The publishing failed due to an inconsistent state in the master version.

It should be fixed and published.

[2022-08-04 06:50] igrankova commented on #6186
Hi, @YowanR,
Yes, thank you, I've tested the connection on the account you gave and it works good. Sorry, I didn't understand that this account was created especially for Okta:) It would be great if you add their email to this account, as I remember they wanted to have that email as a test cred.
The instructions how to test our connection I've added to the App Integration form, Additional Instruct

[2022-08-04 07:00] davydov-d commented on #7814
@YowanR I'm afraid we are blocked here. The default lifetime of an access token is 1 week, this means user would have to reauthenticate every week since we can not get a refresh token. I see no workarounds here

[2022-08-04 08:24] IzioDev commented on #9553
We have a similar behavior.

Source: **Salesforce**
Destination: **MongoDB** (DocDB AWS cluster)
Logs:
[logs-71.txt](https://github.com/airbytehq/airbyte/files/9257923/logs-71.txt)

First, line 2246:
[code]

2nd l. 3427:
[code]

Is cancellation due to the 1st. error log?

[2022-08-04 09:36] #15236 closed

[2022-08-04 09:42] alafanechere opened #15290 "[EPIC] Preventing backwards incompatible changes in source connectors - Syntactic validation in SAT (a.k.a Phase 0)"
[RFC on notion.
](https://www.notion.so/Preventing-Backwards-Incompatible-Changes-in-Connectors-e05dafd0f1a349dd819b569a8a4564a7)
The goal of phase 0 is to introduce assertions in the Source/Destination Acceptance Tests that compare the JSON Schemas from the previous version of the connector to the current schemas and check whether backward-incompatible changes have been introduced.

## Spec valid

[2022-08-04 09:56] arsenlosenko commented on #13088
@Mikhail-Dem sorry for such a late response, I have checked how sync of the connector executes right now, and checked if the error about `INVALIDENTITY` is handled at the moment (currently it is caught, and is logged appropriately). In order to debug this issue further, can you please share the part of your `spec.yaml` file which contains settings for `streams_criteria` value? It might be related

[2022-08-04 10:00] alafanechere commented on #14097
I'm closing this as the RFC was written [here](https://www.notion.so/Preventing-Backwards-Incompatible-Changes-in-Connectors-e05dafd0f1a349dd819b569a8a4564a7) and I created an [EPIC](https://github.com/airbytehq/airbyte/issues/15290) for the first phase of the project.

[2022-08-04 10:00] #14097 closed

[2022-08-04 10:11] #15272 closed

[2022-08-04 10:18] yurii-bidiuk commented on #659
@cgardens @jdpgrailsdev @evantahler
Thank you guys for a detailed explanation.

**Acceptance criteria** for this ticket would be:
- In the `java-base` module implement a custom logger to log all connectors logs as valid JSON at the line-level;
- JSON structure for such logs should have the next view:
`{ "type": "LOG", "log": { "level":"info","message":"some message here" }`;
- Ideally, we don't ne

[2022-08-04 11:08] grishick commented on #13912
This started happening again two days ago for another customer

[2022-08-04 11:14] grishick commented on #13912
[code]

[2022-08-04 11:23] grishick commented on #13912
Related alpha-beta issue: https://github.com/airbytehq/alpha-beta-issues/issues/164

[2022-08-04 11:54] marcosmarxm commented on #11348
*Comment made from Zendesk by Marcos Marx on 2022-08-04 at 11:54:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thanks, but that didnt work. Even just compiling doesnt.</p>
<p dir="auto">Can anyone point me to where i can find the documentation on getting up and compiling?</p>
<p dir="auto">I Installed java 17, node 16, npm, python 3.9, docker, docker-compose and jq.<br>
git clone

[2022-08-04 12:07] yash-ghelani-dsw commented on #14997
Hi @harshithmullapudi

To add to what @skt7 has mentioned, we were successfully able to close point b) and c) i.e. once the required docker images are downloaded connector runs seamlessly even when internet is put off.

We are testing for a) by setting up local git repo, we are "fatal: dumb http transport does not support shallow capabilities" issue. Seems it occurs when "git clone --depth 5 --sin

[2022-08-04 12:28] #12457 closed

[2022-08-04 12:30] danieldiamond opened #15295 "Survey Monkey 0.1.9 Error: 404 Client Error: Not Found for url"
## Environment
- **Airbyte version**:  0.39.37-alpha
- **OS Version / Instance**: AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Survey Monkey 0.1.9
- **Destination Connector and version**: 0.4.34
- **Severity**: High
- **Step where error happened**: Sync

## Current Behavior
Sync files

## Expected Behavior
Sync should succeed

## Logs
[logs-35422 (1).txt](https://github.com

[2022-08-04 12:52] marcosmarxm commented on #15284
Please share the complete log file.

[2022-08-04 13:11] natalyjazzviolin commented on #15254
Hello @subhranil05, could you please edit your comment with the template below? This will give me enough details to better help you and triage this. Thanks!

## Environment
- **Airbyte version**:
- **OS Version / Instance**:
- **Deployment**:
- **Source Connector and version**:
- **Destination Connector and version**:
- **Severity**:
- **Step where error happened**:

## Current Behavior

## Expect

[2022-08-04 14:14] creativedutchmen commented on #6339
Even though the changeling mentions the fix, it's not actually fixed.

```com.microsoft.sqlserver.jdbc.SQLServerException: USE statement is not supported to switch between databases. Use a new connection to connect to a different database.```

[2022-08-04 14:26] bazarnov opened #15298 "🎉 Source Freshdesk: Update `releaseStage` to `beta`"

[2022-08-04 14:26] bazarnov opened #15299 "Update Public Documentation based on standard teamplate"

[2022-08-04 14:26] bazarnov opened #15300 "🎉 Source Freshdesk: Update Public Documentation based on standard template"

[2022-08-04 14:28] edgao commented on #15172
looks like destination-postgres was fixed here https://github.com/airbytehq/airbyte/pull/15289. I would expect other destinations to look pretty similar.

[2022-08-04 14:36] alexandr-shegeda opened #15301 "[Epic] Handle per-stream state in non-jdbc related destinations"

[2022-08-04 14:37] alexandr-shegeda opened #15302 "Destination Azure Blob Storage: Handle per-stream state"

[2022-08-04 14:37] alexandr-shegeda opened #15303 "Destination Cassandra: Handle per-stream state"

[2022-08-04 14:38] alexandr-shegeda opened #15304 "Destination DynamoDB: Handle per-stream state"

[2022-08-04 14:38] alexandr-shegeda opened #15305 "Destination Keen: Handle per-stream state"

[2022-08-04 14:38] alexandr-shegeda opened #15306 "Destination Kinesis: Handle per-stream state"

[2022-08-04 14:38] alexandr-shegeda opened #15307 "Destination Kafka: Handle per-stream state"

[2022-08-04 14:39] alexandr-shegeda opened #15308 "Destination PubSub: Handle per-stream state"

[2022-08-04 14:39] alexandr-shegeda opened #15309 "Destination Pulsar: Handle per-stream state"

[2022-08-04 14:39] alexandr-shegeda opened #15310 "Destination Scylla: Handle per-stream state"

[2022-08-04 14:39] alexandr-shegeda opened #15311 "Destination Rockset: Handle per-stream state"

[2022-08-04 14:41] #15303 closed

[2022-08-04 14:44] #15307 closed

[2022-08-04 14:46] #11951 closed

[2022-08-04 14:46] girarda commented on #14516
end of sprint update:
- first draft is up
next:
- update as per comments
- maintaining code samples is tedious. I'd like to write unit tests and link to those from the tutorial so there's always an easy way to access the tested samples

[2022-08-04 14:49] girarda commented on #11950
end of sprint update
- sendgrid config is https://github.com/airbytehq/airbyte/pull/15257
next steps:
- https://github.com/airbytehq/airbyte/pull/15067
- https://github.com/airbytehq/airbyte/pull/15283
- reset paginator state between stream slices
- [fix datetime stream slicer's parse date bug](https://github.com/airbytehq/airbyte/pull/15282/files#diff-3a6ff2f6eca71b4e166b1c8c852becb143ad4e079f530

[2022-08-04 15:39] edmundito commented on #14278
Current status:
- PRD Ready
- Backend work is expected to start in Late August/Early September
- Frontend work may be at risk for EOQ delivery

[2022-08-04 15:54] PabloPardoGarcia opened #15315 "Temporal not able to connect to postgres"
## Environment
- **Airbyte version**:  0.39.41-alpha
- **OS Version / Instance**: EKS
- **Deployment**: Kubernetes (helm chart from https://airbytehq.github.io/helm-charts/ version 0.34.0)

## Current Behavior
When deploying Airbyte, the temporal deployment is stuck with this error:

[code]

The worker and server deployments fail as well since they are not able to connect to temporal.

Digging mor

[2022-08-04 16:02] #14851 closed

[2022-08-04 16:02] #14681 closed

[2022-08-04 16:02] #14941 closed

[2022-08-04 16:03] #13100 closed

[2022-08-04 16:03] grishick commented on #2011
@kimerinn

- are there any changes that we need to make to MySQL connector to make it work with MariaDB in JDBC mode?
- are there any changes that we need to make to MySQL connector to make it work with MariaDB in CDC mode?

[2022-08-04 16:03] #14636 closed

[2022-08-04 16:17] evantahler commented on #15218
Note from sprint planning for @jdpgrailsdev: As the temporal work wants a scheduler, this is likely the first Micronaut story to prioritize

[2022-08-04 16:47] YowanR commented on #6186
Thanks @igrankova ! I've sent an invite to Okta (isvtest@okta.com). Please let me know if there's anything else I can do to help here :D

[2022-08-04 16:56] zbrak commented on #13590
Hey @harshithmullapudi thought I'd hop in here because I hit the exact same error on my destination setup today.

In my case it was because the service account tied to the HMAC key did not have sufficient permissions to perform the load.
Once I added the service account as the 'Storage Admin' role this cleared.

[2022-08-04 17:02] marcosmarxm opened #15319 "BigQuery source array not normalized correctly in Snowflake destination"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1656](https://airbyte7538.zendesk.com/agent/tickets/1656)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Nataly Merezhuk

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">Is

[2022-08-04 17:02] marcosmarxm commented on #15319
*Comment made from Zendesk by Nataly Merezhuk on 2022-07-20 at 15:01:*

<blockquote><div class="zd-comment" dir="auto">Hello and welcome to the community, @bnam! Could you please try updating the Airbyte version to the latest one as a first step?<br></div></blockquote>

[2022-08-04 17:02] marcosmarxm commented on #15319
*Comment made from Zendesk by Marcos Marx on 2022-07-21 at 19:39:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I just got the same result on 0.39.37-alpha with BigQuery source upgraded to 0.1.9 and Snowflake destination to 0.4.33.</p>

 [<a href="https://discuss.airbyte.io/t/bigquery-source-array-not-normalized-correctly-in-snowflake-destination/1948/3" rel="noreferrer">Discourse

[2022-08-04 17:02] marcosmarxm commented on #15319
*Comment made from Zendesk by Nataly Merezhuk on 2022-07-23 at 01:08:*

<blockquote><div class="zd-comment" dir="auto">Could you provide the full logs you're getting? And are you using SSO authentication in Snowflake by any chance?<br></div></blockquote>

[2022-08-04 17:02] marcosmarxm commented on #15319
*Comment made from Zendesk by Marcos Marx on 2022-08-02 at 20:13:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">No SSO auth.</p>
<p dir="auto">The log file is attached.<br>
<a href="https://discuss.airbyte.io/uploads/short-url/iP6X7jiXNXWMmHFEyWnsST7Wufz.txt" style="color: #006699; font-weight: bold; text-decoration: none;" rel="noreferrer">failed_normalization.txt</a> (341.6 KB)<

[2022-08-04 17:02] marcosmarxm commented on #15319
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-03 at 19:03:*

<blockquote><div class="zd-comment" dir="auto">Could you please go into Connections -&gt; Replication to check if the field is being recognized as an array by Airbyte? I want to make sure it's being ingested correctly. Below is a screenshot of where you'll find this -&nbsp;<br></div></blockquote>

[2022-08-04 17:02] marcosmarxm commented on #15319
*Comment made from Zendesk by Marcos Marx on 2022-08-04 at 14:28:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">In Airbyte, it shows the column as a Number. Since this is a view, I also checked the underlying table - same datatype.</p>
<p dir="auto">In DataGrip, which I’m using to query BigQuery, in both the view and in the table it shows the datatype as ARRAY </p>
<p dir="auto">J

[2022-08-04 17:11] edmundito opened #15320 "[webapp] Connection sync log link does not land on log component"
## Environment
- **Airbyte version**:  v0.39.41-alpha
- **Step where error happened**: Connection Status Page

## Current Behavior
When opening the connection log link, the page does not scroll down to the log nor expands it

## Expected Behavior
When opening the connection log link, the page scrolls down to the log and expands it

## Steps to Reproduce
1. Open the airbyte webapp
2. Navigate to a

[2022-08-04 17:12] octavia-squidington-iii commented on #15320
cc @airbytehq/frontend

[2022-08-04 17:14] marcosmarxm commented on #15319
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-04 at 17:14:*

<blockquote><div class="zd-comment" dir="auto">I reproduced your issue locally, this is a bug that's happening with the BigQuery source. I've escalated this to Github here:<br><a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15319">https://github.com/airbytehq/airbyte/issues/15319</a><br><br>Feel

[2022-08-04 17:17] edmundito opened #15321 "[webapp] Cancelled sync job shows `NaN Bytes`"
## Environment
- **Airbyte version**:  v0.39.41-alpha
- **Step where error happened**: Connection status page

## Current Behavior
Showing `NaN Bytes` in UI after sync job is canceled.

![image](https://user-images.githubusercontent.com/168664/182910991-49c3ee2f-0176-4964-98bb-aec945e219f2.png)

## Expected Behavior
Should either show 0 Bytes or no Bytes information since the job was canceled (con

[2022-08-04 17:18] brianjlai opened #15322 "[low code connectors] validate the json schema generated from declarative components"
After generating the json schema from the refactor to dataclasses, we should now validate the components created by the factory to ensure they adhere to the schema using validate.

[2022-08-04 17:21] #14310 closed

[2022-08-04 17:30] #10858 closed

[2022-08-04 17:51] igrankova commented on #14921
@YowanR, for this issue we have creds for the developer app and can implement OAuth and make tests. We do not have an access to UI, but if we implement this connector and make demo for Kyriba team, we could apply to their Marketplace.

[2022-08-04 18:26] grishick commented on #15152
Tagging @bleonard, @sherifnada and @davinchia for review

[2022-08-04 18:38] grishick commented on #14628
@edgao @subodh1810 should this be renamed to MySQL scope only now that Postgres is fixed separately?

[2022-08-04 18:41] #14824 closed

[2022-08-04 18:47] timroes commented on #14989
Duplicate of https://github.com/airbytehq/airbyte/issues/14844

[2022-08-04 18:47] #14989 closed

[2022-08-04 18:48] Phlair opened #15325 "CDK: Add instrumentation to allow a connector to encrypt chosen columns with a provided key"
## Tell us about the problem you're trying to solve
We don't currently support encrypting values from sources (at least not an any sort of abstraction level, I can't speak for every connector)

## Describe the solution you’d like

For a specific connector:
- a field in the spec for `columns to encrypt`
- another field `encryption key`
- use an encryption library ([like this](https://pypi.org/proje

[2022-08-04 18:59] marcosmarxm commented on #8875
@devhmars did you follow @Svatopluk-Chalupa recommendations?

[2022-08-04 19:01] marcosmarxm commented on #15002
Yes, that folder only keeps logs.

[2022-08-04 19:17] mkhokh-33 opened #15328 "Oracle source still discover ints and longs as JsonSchemaType.NUMBER after introduced changes for the issue #12606"
## Description
After PR https://github.com/airbytehq/airbyte/pull/14362 which introduced changes related to discovering and handling ints and longs the problem was detected for Oracle source

in  OracleJdbcSourceAcceptanceTest field  **Field.of(COL_ID, JsonSchemaType.NUMBER)** is still handled as NUMBER but should be JsonSchemaType.INTEGER

## Steps to Reproduce
run  OracleJdbcSourceAcceptanceTest

[2022-08-04 19:43] edmundito commented on #14989
Not necessarily a duplicate. The fix for #14844 also fixes this.

[2022-08-04 19:53] edgao commented on #14628
I think the scope of this ticket is any db/dw source, so it covers everything except postgres (e.g. the snowflake thing I mentioned above)

[2022-08-04 20:06] marcosmarxm commented on #11348
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-04 at 20:06:*

<blockquote><div class="zd-comment" dir="auto">Sorry to hear that compiling isn't working! Are you following these docs?<br><a rel="noopener noreferrer" href="https://docs.airbyte.com/contributing-to-airbyte/developing-locally/">https://docs.airbyte.com/contributing-to-airbyte/developing-locally/</a><br><br>Are you getting any

[2022-08-04 20:14] grishick commented on #6339
What is the version of MS SQL Source connector that you are using?

[2022-08-04 20:18] natalyjazzviolin commented on #13386
@marcosmarxm following up on the previous comment: could you please link to the duplicate issue you mentioned?

[2022-08-04 20:24] midavadim commented on #13933
I was not able to reproduce this error.

I have tried different ways to sync to excel files: empty and with data
source: localfile, sftp
destination: json, postgres

@harshithmullapudi I suppose the problem is somewhere in excel file itself.
Question1: is it possible to provide us with an example of such excel file?
Question2: do you see this error if choose another destination, like local json?

[2022-08-04 20:25] natalyjazzviolin commented on #14536
@saxenashivang following up on the previous comment - were you able to give more resources to the temporal pod?

[2022-08-04 20:29] grishick commented on #659
I don't think we have to get rid of SLA4J. A more flexible approach could be to implement our own Logger and LoggerFactory that will be the default and allow OSS users to configure their own LoggerFactory and adapter in case they want to log into ELK stack or somewhere else. Some more info here: https://www.slf4j.org/faq.html#slf4j_compatible

[2022-08-04 20:33] timroes commented on #14990
@dizel852 Ideally you should check the behavior with https://github.com/airbytehq/airbyte/pull/15332 merged. I don't believe if will fix it (not tested though yet), but it changes a bit how data is passed into this form, which might have an affect on the specific fix you want to do, to reset the form.

[2022-08-04 20:54] pmossman opened #15333 "Front-End: Replace deprecated AttemptRead field access with updated fields"
This issue was supposed to be a follow-up from https://github.com/airbytehq/airbyte/issues/3247, but I never actually created it, my bad!

Basically, we updated how we store sync stats on the `AttemptRead` in https://github.com/airbytehq/airbyte/pull/9583, but we didn't remove the existing `recordsSynced` and `bytesSynced` because we wanted to give the front-end a chance to update code to use the

[2022-08-04 20:54] octavia-squidington-iii commented on #15333
cc @airbytehq/frontend

[2022-08-04 20:55] YowanR commented on #7814
Thanks @davydov-d ! To make sure I understand, is this similar to this github issue [here](https://github.com/airbytehq/airbyte/issues/3990)?

[2022-08-04 21:00] YowanR commented on #14921
@igrankova what do you mean by "We don't have access to UI"? Could you explain, please?

[2022-08-04 21:43] YowanR commented on #7754
@igrankova @ycherniaiev I wanted to check and see if there are any known issues around this connector with respect to getting a dev account/oauth? I know we haven't started the dev work yet but ideally everything else is ready to go :)

[2022-08-04 22:40] grishick commented on #8904
Sources have been fixed. Converting this to destination-specific issue. Next step: create issues for each destination, which is capable of supporting millisecond precision

[2022-08-04 23:28] #15275 closed

[2022-08-04 23:29] sophia-wiley opened #15337 "Per-stream state"

[2022-08-04 23:29] sophia-wiley opened #15338 "Change stream configuration in Cloud"
Create documentation on how to edit stream configuration in Cloud. Per-stream state added a new dialog for users, which is included in this documentation.

Related issues.
[13971](https://github.com/airbytehq/airbyte/issues/13971#issuecomment-1221578033) (close when finished)
[15910](https://github.com/airbytehq/airbyte/pull/15910) (close when finished)
[9025](https://github.com/airbytehq/airbyte/

[2022-08-04 23:31] ryankfu commented on #14498
Issue has been resolved in this PR https://github.com/airbytehq/airbyte/pull/15226

[2022-08-04 23:31] #14498 closed

[2022-08-04 23:43] tuliren commented on #14732
The chosen solution can lead to lots of duplications. Imagine a connection that runs every 5 minutes, if the source database has no updates, the destination will get 12x duplicated records for the cursor value per hour.

There are a few ways to reduce the amount of duplications.

- Track the number of rows synced together with the cursor value. So the state becomes `{ users: { count: 3, cursor: "2

[2022-08-04 23:53] davidfromtandym opened #15339 "Source S3: errors when using JSON data"
## Environment
Airbyte Version: 0.39.41-alpha
Source: S3 (0.1.18)
Destination: Redshift (0.3.47)
Instance: AWS EC2
Deployment: Docker
Step where error happened: Sync job

## Current Behavior
Attempting to use a JSON file in the s3-source results in connector errors. I have two JSON objects in my source data, both of which have nested data within them. I've attempted a) letting the connector infer

[2022-08-05 00:10] marcosmarxm commented on #11348
*Comment made from Zendesk by Marcos Marx on 2022-08-04 at 23:50:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi</p>
<p dir="auto">I was using the instructions on that link. What i found was it was failing at different points, and those errors never really helped. What i did which improved things was increase the memory for the VM i am using to compile, and that resolved and has

[2022-08-05 00:19] sivankumar86 commented on #14481
@grishick Thank you for taking a look. I have submitted a pull request.

[2022-08-05 00:44] grishick commented on #4695
@subodh1810 AFAIK, this is already done for MySQL. If so, please close as done. Otherwise, please estimate with the team.

[2022-08-05 00:45] grishick commented on #4695
This is already done for MySQL, so removing from MySQL Epic and renaming for Oracle

[2022-08-05 00:50] grishick commented on #13781
per-stream state has been implemented and it should be possible to add this feature now to MySQL Source following what we did for Postgres Source

[2022-08-05 00:54] grishick commented on #10909
@tuliren looks like you have already done this for Postgres and now it should be possible to do this for MySQL and other JDBC database sources. If the implementation will require source-specific changes, then please file separate issues for each source.

[2022-08-05 00:56] grishick commented on #14628
If the implementation will require connector-specific change, please file separate issues for each connector, so that we can prioritize accordingly.

[2022-08-05 00:56] grishick commented on #10399
Seems related to https://github.com/airbytehq/airbyte/issues/14628

[2022-08-05 01:11] tuliren commented on #14732
Actually solution 2 is very hard to implement with our current code structure. Right now, we chain together a series of iterators ahead of time. Each iterator is created based on one concrete SQL query. To implement solution 2, we need to keep firing queries inside the iterator until it reaches an offset with no data. If we go with this solution, it will be significantly more complicated than a fe

[2022-08-05 04:29] sherifnada commented on #15295
cc @YowanR

[2022-08-05 04:43] davinchia commented on #15137
Driveby - I agree #1 seems to be the best solution here given my understanding of the system.

[2022-08-05 05:01] tim-sauchuk commented on #15241
That makes sense. Would we need to start tracking WALs in our source Postgres DB in order for CDC to capture deletes?

[2022-08-05 06:24] #14593 closed

[2022-08-05 06:36] creativedutchmen commented on #6339
I'm using the latest version, 0.4.13 - it failed on 0.4.12 and 0.4.8 as well. Which is to be expected, as the fix mentioned above was reverted as soon as it was merged.

[2022-08-05 06:37] igrankova commented on #14921
@YowanR they don't give the free UI account, the API access only. They provide paid sandbox for clients but we can already build the integration with the creds they gave us, and later we can talk about publishing on a Marketplace when the integration is done.

[2022-08-05 06:54] ycherniaiev commented on #7754
@YowanR it is public but not advanced I mean the number of api calls is limited.Once it is on cloud it will be easier to request advanced oauth

[2022-08-05 07:04] #14870 closed

[2022-08-05 07:04] #15030 closed

[2022-08-05 07:18] yash-ghelani-dsw commented on #15284
have attached below:
[logs-71.txt](https://github.com/airbytehq/airbyte/files/9266305/logs-71.txt)

[2022-08-05 07:53] shogomuranushi commented on #11128
You may be stuck in an Ingress or load balancer timeout. This may solve the problem.

### AWS
https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#connection-idle-timeout

### GKE
https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features?hl=ja#timeout

[2022-08-05 08:01] marcosmarxm commented on #11348
*Comment made from Zendesk by Marcos Marx on 2022-08-05 at 08:01:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Hi, I upgraded node to 16.16.0 as i saw something in a log showing the version might of been lowere than required.</p>
<p dir="auto">When i do a SUB_BUILD=PLATFORM ./gradlew build --info i see at the end this error:</p>
<pre style="max-width: 694px; word-wrap: break-word

[2022-08-05 08:05] subhranil05 commented on #15254
hey ,I have tested airbyte by setting external postgres and minio , logs are successfully sent to external minio buckets for S3 and GCP, but wondering why azure blob option not given , can you help me please?

[2022-08-05 08:24] #15306 closed

[2022-08-05 08:38] yuxh opened #15352 "Destination ClickHouse: out of memory with Incremental - Deduped History model"
## Environment
- **Airbyte version**:   0.39.41-alpha
- **OS Version / Instance**: centos
- **Deployment**: Docker
- **Source Connector and version**: mongodb
- **Destination Connector and version**:clickhouse
- **Step where error happened**: Incremental - Deduped History  Sync job

## Current Behavior
*Tell us what happens.*
"DB::Exception: Memory limit (for query) exceeded: .." , details in the

[2022-08-05 08:39] #15309 closed

[2022-08-05 08:53] dizel852 commented on #14990
Hm, yeah, you're right, that makes sense.
Ok, will wait for merge

[2022-08-05 08:55] DoNotPanicUA opened #15353 "🐛 Destination Databricks : fix and publish"
The destination was modified but failed to publish in PR https://github.com/airbytehq/airbyte/pull/14801.
The publishing failed due to an inconsistent state in the master version.

It should be fixed and published.

[2022-08-05 09:08] IzioDev commented on #11595
We disabled incremental for the `contacts` stream, swapped from `/contacts/search` (POST) to `/contacts` (GET) and this solves the request throttle.

[2022-08-05 09:14] bazarnov commented on #11595
How many records do you have for contacts stream?

[2022-08-05 09:25] #15304 closed

[2022-08-05 09:45] IzioDev commented on #11595
More than 9Gb according to logs

[2022-08-05 10:00] timroes commented on #11431
@davinchia JSON files inside `src` we can simply import and use, so that should be the place (we can still figure out the specific folder). So if the BE either manually updates or automatically generate that file, this would be fine. If we automatic generate it, we must make sure it's running as part of `npm start`/`npm run build`, since the FE team doesn't use gradle to run the project. I am happ

[2022-08-05 10:06] timroes commented on #15320
The problem for this is in https://github.com/airbytehq/airbyte/blob/master/airbyte-webapp/src/components/JobItem/JobItem.tsx#L56 (and likely one more file with similar code). There is a missmatch in types, since some IDs are `string` and some `number` and we always get a `string` from the URLs, but try to `===` match that with a numeric ID (the TS types are not showing that right now, the `getJob

[2022-08-05 11:27] davydov-d commented on #7814
@YowanR great finding, I was sure we do support persisting new refresh_tokens.
Now, to be clear we are blocked by two things here:
 - TypeForm API deffect
 - #3990

[2022-08-05 11:40] #15308 closed

[2022-08-05 12:03] DoNotPanicUA opened #15363 "Destination BigQuery Denormalized : workaround for #14023"
## Tell us about the problem you're trying to solve
Right now, we cannot release a version without backward compatibility. Such change can affect existing cloud users and their production connections.
To improve our current version handling for such cases, we [designed improvements](https://github.com/airbytehq/airbyte/issues/14956) for the Airbyte. But they are blocked till new metadata handling

[2022-08-05 12:07] #14440 closed

[2022-08-05 12:14] #15245 closed

[2022-08-05 12:16] #12092 closed

[2022-08-05 12:25] dizel852 opened #15364 "🪟 💡 Tracking the test coverage"
## Tell us about the problem you're trying to solve
As developers, we all know we need to cover our code with tests(ideally).
But even after covering our code with tests, we can't be 100% sure that all statements/functions/lines taking part in code execution are covered.
Also, during reviewing the PRs, it's really confusing to see 20+ changed files, and none of the tests updated.

## Describe the

[2022-08-05 12:25] octavia-squidington-iii commented on #15364
cc @airbytehq/frontend

[2022-08-05 13:51] marcosmarxm commented on #11348
*Comment made from Zendesk by Nataly Merezhuk on 2022-08-05 at 13:51:*

<blockquote><div class="zd-comment" dir="auto">Re: increasing VM memory - this is a common issue, I'm glad you were able to figure it out!<br><br>And re:airbyte-webapp:npm_run_build FAILED - I can't find any related issues or fixes, while I look into that - could you try a fresh install of Airbyte? We typically run <code>npm</

[2022-08-05 14:10] natalyjazzviolin commented on #15254
@subhranil05 just to confirm - your issue is now resolved?

[2022-08-05 14:21] #15285 closed

[2022-08-05 14:21] #15286 closed

[2022-08-05 14:21] #15353 closed

[2022-08-05 14:22] natalyjazzviolin commented on #15339
Hey @davidfromtandym! Are you using the line-delimited json format in your source data? That's the only format currently supported as per the [docs](https://docs.airbyte.com/integrations/sources/s3/#jsonl).

[2022-08-05 14:23] DoNotPanicUA commented on #13583
S3, GCS, and Databricks successfully published with the fix.

[2022-08-05 14:23] #13583 closed

[2022-08-05 15:04] natalyjazzviolin commented on #15339
Could you give me an example of what one of the json files might look like?

[2022-08-05 15:33] grishick commented on #15152
I like the approach. Please file Github issues for the first stage and include @davinchia and me as reviewers when creating PRs.

[2022-08-05 15:47] edgao commented on #14732
I'm still not sure how sorting helps here - what happens if there are three records, all with updated_at set to `2022-08-05`, we run a sync on Aug 5, and while we're running that sync, a new record is inserted? Is there any guarantee that on a subsequent sync, that new record will be sorted after the older records?

(also, what if in between the first and second syncs, one of the records gets upda

[2022-08-05 15:59] evantahler commented on #15152
Some suggestions:
* Use the Octavia CLI!  We have a CLI tool for setting up sources, destinations, and syncs.  It might be helpful.  This repo (https://github.com/airbytehq/airflow-summit-airbyte-2022) has some examples of automating the octavia CLI within Github Actions CI.
* For setting up sample data, maybe `source-faker` can help - This source produces N "user", "purchase", and "product" recor

[2022-08-05 16:08] davidfromtandym commented on #15339
Sure! Here is an example of our data structure:

[code]

[2022-08-05 16:21] tkorenko commented on #15154
wrong repo.

[2022-08-05 16:21] #15154 closed

[2022-08-05 16:23] #14726 closed

[2022-08-05 16:23] #14844 closed

[2022-08-05 16:27] evantahler commented on #15100
Closing, as our APIs now include failureSummary data

[2022-08-05 16:27] #15100 closed

[2022-08-05 16:43] evantahler commented on #14732
Clarification question: The hash-based approach is to prevent the source from sending duplicate data it's already sent, correct?  However, we have a the ability in the normalizer to de-dupe data already.  Could we split this problem into 2 phases:
1. (re-)send data from the latest cursor value and let the normalizer sort it out
2. be smarter in the source about not re-sending data

Asked another w

[2022-08-05 16:43] bleonard commented on #14732
When I first saw airbyte, I actually thought the `airbyte_id` was a hash of the values and that's how it knew it already had that one when it got a duplicate from the `>=` (solution 1 approach). In general, is there a way to use `>=` and then discard results already in the destination?

[2022-08-05 16:46] tealjulia opened #15371 "Add Refresh Source Schema Button back to Create page"
Following up on a Slack discussion here: https://airbytehq-team.slack.com/archives/C02U2SSHP9S/p1659716923213649?thread_ts=1659699405.736889&cid=C02U2SSHP9S

## Current problem:
Currently, if a user creates a source, creates a connection, then adds a new table to their source and goes to create another connection, the old source schema is shown (ie: the new table is not there).  There is no way fr

[2022-08-05 16:46] YowanR commented on #14050
LGTM -- thank you!

[2022-08-05 16:46] octavia-squidington-iii commented on #15371
cc @airbytehq/frontend

[2022-08-05 18:11] #13863 closed

[2022-08-05 18:29] marcosmarxm commented on #15284
Here is the correct error:
[code]
Please check the message and your database if it's working properly.

[2022-08-05 18:46] #15298 closed

[2022-08-05 18:46] #15300 closed

[2022-08-05 19:05] si-te opened #15373 "Helm Chart not working with FluxCD"
## Environment
- **Airbyte version**:  0.39.41-alpha
- **OS Version / Instance**: Ubuntu on Azure Kubernetes Service
- **Deployment**: Helm Deployment on AKS with FluxCD
- **Source Connector and version**:
- **Destination Connector and version**:
- **Step where error happened**: Deploy

## Current Behavior
When deploying the Helm Chart via FluxCD, the following error appears:

Helm install failed:

[2022-08-05 19:21] natalyjazzviolin commented on #15339
Thanks! I'm working on reproducing this, but have also triaged it to the connectors team.

[2022-08-05 19:41] tuliren commented on #14732
Me too. We should totally leverage this ID to do more. But at this point, it is not trivial to change this behavior.

The de-dup mode does that. However, for people using the non-dedup incremental mode, this is not possible / there is no cheap solution.

[2022-08-05 19:49] tuliren commented on #14732
Yes.

Yes. 1) is already taken care of by the normalization, if the user chooses the de-dup mode. The solutions discussed here are mainly concerned with 2).

At least once.

Yes, OOME can be a real problem. The implementation should only keep a constant number of things in memory. I think we can tolerate false positive, i.e. data is duplicated with a small probability.

[2022-08-05 20:05] YowanR commented on #13880
LGTM -- thanks!

[2022-08-05 20:14] gosusnp commented on #14723
Feels like it’s going in the right direction, this part is a blackbox and it hides details that impact billing and usability differently, we should be clearer about it.

About the change itself, I am thinking of couple of things:
* The visualization feels hard to me. I never really read those, I find it too tiring to read rows of volumes, I’d rather see a graph of the data synced over time at the

[2022-08-05 20:58] bazarnov opened #15377 "🎉 Source Freshdesk: fix spec for backward compatibility"

[2022-08-05 21:27] grishick commented on #11815
I think the first iteration of this solution shouldn't trigger tests for downstream dependencies, but should make a comment on the PR listing the downstream dependencies. E.g.:

[2022-08-05 21:48] edgao opened #15381 "Source MySQL should correctly map temporal types to JsonSchema"
Currently, source-mysql maps dates, datetimes, and timestamps to string. These should be mapped to date, timestamp_without_timezone, and timestamp_with_timezone respectively.

We should probably do https://github.com/airbytehq/airbyte/issues/14628 first.

See e.g. https://github.com/airbytehq/airbyte/blob/master/airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/sou

[2022-08-05 21:55] edgao commented on #15381
this issue is a superset of https://github.com/airbytehq/airbyte/issues/3865 (which only mentions DATETIME handling).

[2022-08-06 00:59] #11791 closed

[2022-08-06 04:35] tuliren commented on #14732
Agree that sorting won't help. The only sort column we can rely on is the cursor column. Other columns may not be indexed at all.

[2022-08-06 04:35] tuliren commented on #14732
@sherifnada, maybe it's time for `HyperMinHash`?

[2022-08-06 07:19] bigdatawonders commented on #14779
Hey @sajarin, any updates on this connector?

[2022-08-06 07:29] edlouth commented on #15315
I would propose changing this to:

[code]

although maybe people would be expecting this to take host from `externalDatabase.host`?

[2022-08-06 09:32] grubberr commented on #5537
In this PR https://github.com/airbytehq/airbyte/pull/15269 I have fixed 1-st problem related to `os.seek`

About 2-nd problem it looks like something wrong with zip unpacking `test.xlsx` file
Can you provide that file for us for testing ?

[2022-08-06 10:14] #15377 closed

[2022-08-06 10:15] #14050 closed

[2022-08-06 13:12] rolldeep commented on #15013
Hi @natalyjazzviolin , thanks for your help. The problem was resolved. There was something wrong the the my s3 file.

[2022-08-06 13:12] #15013 closed

[2022-08-06 15:01] zaclittleberry commented on #15168
Looks like docusaurus uses MDX v1 as its rendering engine, which is specifically where the :::caution,note,tip,info syntax comes from: https://github.com/facebook/docusaurus/blob/main/website/docs/guides/markdown-features/markdown-features-react.mdx

I have confirmed that your current docusaurus version is using `@mdx-js/react@1.6.22`. (Published Dec 2020, but even the docusaurus 2.0rc is using MD

[2022-08-07 04:58] cgalliva opened #15386 "🐛 Source Shopify: syncing nested streams (DiscountCodes and PriceRules) fails"
## Environment
- **Airbyte version**:  0.39.41-alpha
- **OS Version / Instance**:  AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: source-shopify - 0.1.37
- **Destination Connector and version**: destination-s3 - 0.3.12
- **Step where error happened**: Sync job

## Current Behavior
When syncing the DiscountCodes and its parent stream PriceRules the sync job will fail if the `u

[2022-08-07 08:53] etsybaev commented on #15172
For now, I see 4 jdbc connectors affected by this Python change. Created sub-task for them. For now added fixed individually to unblock others and deliver fixed ASAP. When it comes to the last one I will check if it's possible to move out something to the parent module
https://github.com/airbytehq/airbyte/issues/15247
https://github.com/airbytehq/airbyte/issues/15246
https://github.com/airbytehq/a

[2022-08-07 13:48] emeagenciadigital commented on #9433
Still, there's no way to relate a person to it's custom fields .

[2022-08-07 13:51] emeagenciadigital commented on #15264
Also adding the custom fields on the same person table will work. This should also apply for deals, organizations and leads entities.

[2022-08-07 14:29] grubberr commented on #2119
@sherifnada
Right now through `reader_options` you can pass a tons of options to `pd.read_csv`, `pd.read_json`, `pd.read_pickle`, `...` functions. Do we need to define all this options in connector spec?

[2022-08-07 14:41] axaysagathiya opened #15389 "Link to contribution guide is not working"
### Tell us about the documentation you'd like us to add or update.
Link to contribution guide is not working,

### If applicable, add links to the relevant docs that should be updated
- [https://github.com/airbytehq/airbyte#contributing](https://github.com/airbytehq/airbyte#contributing)

[2022-08-07 17:36] rmuthu opened #15391 "Source-vertica and destination-iceberg connector"
## Tell us about the new connector you’d like to have
* Source-vertica and destination-iceberg connector

[2022-08-07 18:02] dsnam opened #15393 "failing connection_manager workflows for connections that do not exist"
## Environment
- **Airbyte version**:  39.18-alpha
- **OS Version / Instance**: ubuntu 20.04 on ec2
- **Deployment**: docker

## Current Behavior
Our airbyte instance has a large number of open `connection_manager_` workflows whose ids do not correspond to existing active connections. I suspect all of them correspond to connections that have been deleted. Both airbyte-worker and airbyte-temporal a

[2022-08-08 04:32] harshithmullapudi commented on #15391
Hey, could you explain more detail on this issue? Is this about new source vertica?

[2022-08-08 05:11] #15263 closed

[2022-08-08 07:10] davydov-d opened #15398 "Source Acceptance Tests: require all possible kinds of authentication"
Regarding the [issue](https://github.com/airbytehq/oncall/issues/379), here is the suggested solution to prevent the problem on the stage of testing. Since an error occurred only for those connections that used an incremental sync and OAuth, steps are as follows:
 - When running acceptance tests, analyze the connector's config.json/yaml, namely the authentication options available
 - When analyzin

[2022-08-08 07:31] lucienfregosibodyguard commented on #13442
Hi @marcosmarxm
Any update on this feature ?

I'm still looking for a workaround, currently I have to load partitionated tables in full refresh and they are huge ..

[2022-08-08 07:33] #15246 closed

[2022-08-08 07:33] #15247 closed

[2022-08-08 07:40] #15172 closed

[2022-08-08 08:21] IzioDev commented on #15352
Potentially related issue : #9553

[2022-08-08 08:52] Jari608 commented on #15202
The airbyte-bootloader is not configured to restart after a successful exit. The manifest of the airbyte-bootloader pod (shortly visible in Argo CD before the pod restarts again) contains the following setting:

` restartPolicy: Never`

[2022-08-08 09:46] yuxh opened #15400 "no 'custom transformation' in normalization page"
## Environment
- **Airbyte version**:   0.39.42-alpha
- **OS Version / Instance**: centos
- **Deployment**:  Docker
- **Source Connector and version**: mongodb
- **Destination Connector and version**: clickhouse
- **Step where error happened**: Setup new connection

## Current Behavior
can not find 'custom transformation' in normalization page or other place.
## Expected Behavior

## Logs

<img wi

[2022-08-08 10:00] #10375 closed

[2022-08-08 10:06] muutech commented on #5537
@grubberr thanks.

It could be any test.xlsx but find attached the one I used, I think compression is made on the http transfer.

I tested uploading it to:  https://transfer.sh/

[test.xlsx](https://github.com/airbytehq/airbyte/files/9280856/test.xlsx)

Thanks!

[2022-08-08 10:57] etsybaev commented on #14144
Already fixed
![Selection_416.png](https://images.zenhubusercontent.com/627269f99b780c901a3d24e2/6088c122-b570-4d5b-b655-1e21906067a5)

[2022-08-08 10:57] #14144 closed

[2022-08-08 11:07] ingo-m commented on #15315
@edlouth thanks. I already tried this (not sure about the `default` value, yours probably makes more sense):
[code]
I took helm chart version `0.34.0`, applied the above change, in combination with airbyte version `0.39.42-alpha`. This seems to work in the sense that now the PostgreSQL database becomes available to airbyte, but now the `airbyte-server-...` pod goes into a CrashLoopBackOff. I notic

[2022-08-08 11:37] #11980 closed

[2022-08-08 11:58] #15243 closed

[2022-08-08 12:05] gopiather opened #15403 "GCS Destination partition buckets based on different query result from Clickhouse"
Hi,

Source - Clickhouse
Destination - GCS

I have a table in Clickhouse where I want to store the subsets of the table's data to different path of a bucket in GCS,
Now I can see that all the data in that table is passing to single bucket,

But Is this possible for GCS destination?

[2022-08-08 12:10] #15311 closed

[2022-08-08 12:24] #15219 closed

[2022-08-08 13:28] ingo-m commented on #15315
A similar (the same?) problem was reported with airbyte version 0.30.21 https://github.com/airbytehq/airbyte/issues/7226

[2022-08-08 13:41] sOfekS commented on #14491
I'm also experiencing this issue, was there any progress made on this?

[2022-08-08 14:06] jdpgrailsdev commented on #12958
@evantahler This is not necessarily needed for Micronaut.  It was some cleanup work that was discovered as doing the pre-requisite work.  However, I believe that @gosusnp ran into some issues attempting to do this work, so it may not be something that we move forward with.

[2022-08-08 14:42] sOfekS commented on #7502
Second this, we also have an on-prem Jira and really want this feature

[2022-08-08 14:53] harshithmullapudi commented on #14997
Hey yeah this looks to me like issue on the local git I can try looking at it this EOW

[2022-08-08 14:54] #15389 closed

[2022-08-08 16:19] lfrodrigues opened #15405 "Source Mixpanel: Fails during import"
## Environment
- **Airbyte version**:  0.39.42-alpha
- **OS Version / Instance**: Ubuntu 18.04, AWS EC2
- **Deployment**: Docker
- **Source Connector and version**: Mixpanel 0.1.18
- **Destination Connector and version**: Postgres 1.0.0
- **Step where error happened**: Sync job

## Current Behavior
Mixpanel sync job fails with the following error:

[code]

## Expected Behavior
It should not crash

[2022-08-08 16:22] timroes opened #15406 "[Flaky Test] Connection main actions > update connection"
* https://dashboard.cypress.io/projects/916nvw/runs/7496/test-results/e64c3568-79e6-4be3-9f6b-f9251cebf448

[2022-08-08 16:24] octavia-squidington-iii commented on #15406
cc @airbytehq/frontend

[2022-08-08 16:31] ameyabapat-bsft commented on #15100
@evantahler yes, I tested with recent version and it contains the correct failureSummary. Thanks

[2022-08-08 16:46] YowanR commented on #14605
@YuliiaNahoha @lazebnyi This issue is impacting our customers but should be a relatively quick fix. I'll add it to our next sprint. Can you make sure it gets prioritized and tackle upfront, please?

[2022-08-08 16:48] tealjulia commented on #13096
spec: https://docs.google.com/document/d/1ej4iUk_ccd62hLgRXShe7PwJQ_y3YFybDjj-zdyA_SE/edit#

[2022-08-08 16:50] #15373 closed

[2022-08-08 17:00] alafanechere opened #15407 "SAT: retrieve connector release stage in a fixture"
## Tell us about the problem you're trying to solve
It could be useful to access the status of a connector in SAT.
Potential use cases:
* Run tests conditionnaly according to the current connector status: e.g disabling backward compatibility tests for alpha connectors
* Enforcing specific tests for GA / Beta connectors (a bit the same as above)

## Describe the solution you’d like
Make the current

[2022-08-08 17:01] marcosmarxm commented on #9433
It's missing a field @emeagenciadigital ?

[2022-08-08 17:02] alafanechere commented on #15057
Created https://github.com/airbytehq/airbyte/issues/15407

[2022-08-08 17:06] alafanechere opened #15408 "SAT: follow semver for backward compatibility tests"
## Tell us about the problem you're trying to solve
We could decide to disable backward compatibility conditionally following [semantic versioning](https://semver.org/).

## Describe the solution you’d like
Bypass `test_backward_compatibility`if the version of a connector defined in the `Dockerfile` is a major change.

## Additional context
Closely related to https://github.com/airbytehq/airbyte/i

[2022-08-08 17:10] alafanechere commented on #15057
Created https://github.com/airbytehq/airbyte/issues/15408

[2022-08-08 17:32] ajatau opened #15410 "Source MySQL: Incremental append | Deduped + history not working"
## Environment
- **Airbyte version**:  0.39.42-alpha
- **OS Version / Instance**: Ubuntu
- **Deployment**: Docker on EC2
- **Source Connector and version**: MySQL 0.6.1
- **Destination Connector and version**: BigQuery 1.1.14
- **Step where error happened**: During Sync when replication is set to Incremental Deduped+history

## Current Behavior
Every hour new sync pulls all the data from source. C

[2022-08-08 17:54] ajatau commented on #15410
All the cursor fields are set to NULL, I think that might be the issue.

Any way I could solve this?
<img width="1007" alt="Screenshot 2022-08-08 at 18 53 09" src="https://user-images.githubusercontent.com/9402003/183482049-954a7a5d-abfe-4772-b3ff-93585176db58.png">

[2022-08-08 18:11] marcosmarxm commented on #15410
What is the version of our MySQL database? Could you downgrade the Source connector to version 0.5.0 and try again?

[2022-08-08 18:20] ajatau commented on #15410
@marcosmarxm its MySQL version 8.0.23
I downgraded and still faced the same issue.
The connection state says this :
`{
  "cdc": false,
  "streams": [
    {
      "stream_name": "accounts",
      "cursor_field": [],
      "stream_namespace": "data_production"
    },
    {
      "stream_name": "performances",
      "cursor_field": [],
      "stream_namespace": "moni_production"`

Not sure why it has

[2022-08-08 18:36] pavneet9 opened #15415 "Source Amazon Seller Partner: `shipments` reports cannot be generated"
Environment
- Airbyte version:  0.40.0-alpha
- OS Version / Instance: AWS EC2
- Deployment: Docker
- Source Connector and version: amazon-seller-partner 0.24.0
- Step where error happened: Sync job

Current Behaviour
GET_AMAZON_FULFILLED_SHIPMENTS_DATA_GENERAL, When i am trying to get data for this end point, the source times out before the report is generated. hence I get an error where the repor

[2022-08-08 18:45] marcosmarxm commented on #15386
Thanks for reporting this @cgalliva I added this to connector team backlog. Is it possible to use full refresh method for now?

[2022-08-08 18:45] timroes commented on #15371
Requires some more clarification with @andyjih about whether we want to show "Catalog changes" dialog here.

[2022-08-08 18:47] marcosmarxm commented on #15403
Hello @gopiather general questions about Airbyte is better addressed in Airbyte forums: https://discuss.airbyte.io/

I don't quite understand what are you trying to achieve? Send information from your Destination (path of GCS bucket) to your Source?

[2022-08-08 18:49] emeagenciadigital commented on #9433
On normalization to bug query it’s missing a way to see the custom fields related to 1 record .

there’s no way to relate a “person” or “deal” or “organization” to its custom fields .

For example I have a custom field on person called “genre” there’s currently no way of me swing the genre of my contacts .

[2022-08-08 18:51] ajatau commented on #15410
@marcosmarxm is there a way I can change the cursor field manually and the cdc?

[2022-08-08 18:54] tealjulia opened #15417 "Add Storybook and Testing for Catalog Diff Modal"
In https://github.com/airbytehq/airbyte/issues/13329 we added the Catalog Diff Modal.

This component should be added to Storybook and should also be tested more comprehensively.

[2022-08-08 18:55] octavia-squidington-iii commented on #15417
cc @airbytehq/frontend

[2022-08-08 18:56] andyjih commented on #15371
It sounds like perhaps the Source's schema is being cached. Ideally, when setting up a new Connection with an existing Source, the Source's schema should be re-retrieved.

[2022-08-08 18:56] gopiather commented on #15403
@marcosmarxm Thanks for your response,

So the usecase is, my destination is GCS and source is Clickhouse.

I have a table called `user_details` (it has timestamp,user_id,user_transaction_data) in clickhouse, I setup the GCS as destination and it is able to push to a bucket,
But I want to store the data in GCS as
/<bucket_name>/<timestamp_today_date>/user_id_1
/<bucket_name>/<timestamp_today_date>

[2022-08-08 19:04] gosusnp commented on #15137
@evantahler, I am currently looking at a similar change for Versioning.

My take between options 1 and 2 is that option 2 was probably less error prone.
By adding a new column, any consumer of `status=active` need to filter out the `pendingDelete=true` rows.
One alternative might be to update both, set status to inactive and pendingDelete to true to preserve behavior of the query for active connec

[2022-08-08 19:07] sajarin commented on #15415
@pavneet9 would it be possible to post the full sync logs as a txt file?

[2022-08-08 19:08] #14654 closed

[2022-08-08 19:09] cgalliva commented on #15386
I'll try it now but full refresh will attempt to get all of the data from the start of the configured date each time it syncs right?
If it does it might not be feasible since our store in total has ~100,000 price rules and >1,000,000 discount codes.

[2022-08-08 19:11] sajarin commented on #15400
Hey @yush, what version connectors are you using for mongodb and clickhouse?

[2022-08-08 19:19] marcosmarxm commented on #15403
You want to partition based on a column field in Clickhouse. This is not possible today.

[2022-08-08 19:20] marcosmarxm commented on #15403
I added the feature request to team backlog.

[2022-08-08 20:15] lmossman commented on #14036
@evantahler I don't think so, because as I commented above we reverted the change that closed this issue, and I don't think anything else has been done here

[2022-08-08 20:18] lmossman commented on #9839
@evantahler this is orthogonal to using the new scheduler. This issue is talking about making a change to run the source and destination containers _inside_ the container orchestrator pod, rather than launching three separate pods to perform a sync. This could have some reliability and performance benefits as mentioned above

[2022-08-08 20:41] misteryeo commented on #15403
**Issue was linked to Harvestr Discovery:**  [New Source : Clickhouse](https://app.harvestr.io/components/0/list/W4i_phoRZ)

[2022-08-08 20:48] pavneet9 commented on #15415
Here are the text logs
[logs-11.txt](https://github.com/airbytehq/airbyte/files/9284961/logs-11.txt)

[2022-08-08 21:32] girarda commented on #11058
To give a sense of urgency to this ticket: cloning the repo now takes more than one minute, which is not a good first step for first-time connector developers.

[2022-08-08 21:43] natalyjazzviolin commented on #15393
Thank you for bringing this to our attention, @dsnam. I've triaged this to the OSS team, but am also wondering - coudl you try upgrading to the latest version of Airbyte and see if that changes anything?

[2022-08-08 21:49] grubberr commented on #5537
@muutech
about 2-nd problem related to **transfer.sh** and `test.xlsx` yes problem really exists
I did some research and found why this happened it's again our `os.seek` problem but a little bit different, let me describe:

1. `pd.read_excel` is random access read, it do a lot of `read`, `seek` calls.
2. All this `seek` and after `read` calls under the hood are separate HTTP requests with differen

[2022-08-08 22:40] dsnam commented on #15393
I already manually `tctl workflow terminate`'d all of the workflows I suspected were broken due to the state our prod server was in. It's back to normal after that. I can certainly update and see if we end up in this situation again naturally, but if it is related to deleted connections like I guessed it may take a while before we'd be able to know whether or not it still happens. I may be able to

[2022-08-09 00:56] gosusnp opened #15423 "Pass a hash of the State instead of the state to the destinations"
### Context

We currently pass the Source State to the destination.

This has a couple downside, the Source State is supposed to be internal state tracking for the Source. The source is passing this to the platform so the platform can persist this state and pass it back to the source upon subsequent syncs.

We pass it to the destination so the destination can acknowledge that all the records relat

[2022-08-09 03:18] tuliren opened #15427 "Postgres intermediate state may lead to data loss for incremental sync"
## Environment
- **Source Connector and version**: Postgres source version `0.4.41`
- **Step where error happened**: Incremental sync

## Current Behavior
- Intermediate state message emission was introduced to Postgres source in version `0.4.41`. But the implementation has a flaw that can lead to data loss.
- In this implementation, incremental syncs will sort the table with the cursor field, and

[2022-08-09 03:47] yuxh commented on #15400
I just git pull from master without any modification

[2022-08-09 04:19] ryankfu commented on #14457
Document covering the per-stream changes [here](https://docs.google.com/document/d/10WEizoD1thH-XV4dkTiwaso5bgevNdFyu3esB6JyRBU/edit?pli=1#heading=h.jogsgmmv6tjy) with overview of the complications, what is per-stream and protocol changes necessary to get per-stream operational

[2022-08-09 04:19] #14457 closed

[2022-08-09 05:05] sujiplr commented on #1877
+1 more hive/hdfs target

[2022-08-09 05:53] marcosmarxm commented on #14576
*Comment made from Zendesk by Marcos Marx on 2022-08-09 at 05:53:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Thanks Marco. Is there a specific place you’re pointing to in the Kubernetes deployment documentation. I’ve been reviewing that page once a week and haven’t seen any changes regarding “configuring custom s3 log location”.</p>
<p dir="auto">Unless you’re referring to the

[2022-08-09 06:32] suhomud commented on #14896
Seems like issue was resolved.
Checked on the latest master
https://github.com/airbytehq/airbyte/pull/15431

[2022-08-09 06:32] #14896 closed

[2022-08-09 06:50] grubberr commented on #5537
https://github.com/RaRe-Technologies/smart_open/issues/712

[2022-08-09 06:59] NipunaPrashan opened #15432 "[Helm][Temporal] Remove hard coded value for DB host"
## Environment
- **Airbyte version**: 0.39.39-alpha
- **OS Version / Instance**: Ubuntu 18.04
- **Deployment**: Kubernetes deploy env
- **Step where error happened**: Deploy

## Current Behavior
Temporal always takes the default value for DB host.

## Expected Behavior
Temporal does not pick the DB host value defined in the values.yaml

## Steps to Reproduce
1. enable external database configurati

[2022-08-09 07:54] #14895 closed

[2022-08-09 08:16] alafanechere commented on #8057
## What can make a `STATE` not backward compatible:
If the developer changed the cursor field or the logic to update the cursor value this can break the post-upgrade sync in the following manner:
1. The current connector version loads a state generated with the previous connector version
2. The new cursor field is not present in the previous connector state
3. Past data, potentially already synced

[2022-08-09 08:35] ajatau opened #15437 "Source MySQL: Edit connection state or set cursor field rather than source defined"
## Tell us about the problem you're trying to solve

I setup cdc on MySQL and when loading data to BigQuery with incremental (deduped + history) it sets it as false in the connection state. So my connection syncs the full table everytime
<img width="435" alt="Screenshot 2022-08-08 at 21 43 17" src="https://user-images.githubusercontent.com/9402003/183603268-cd0b22c6-7586-4ad3-afaa-65790e0316be.png

[2022-08-09 08:43] alafanechere opened #15439 "SAT: test `STATE` backward compatibility (syntactic checks)"
## Tell us about the problem you're trying to solve
When upgrading a connector, one of the most important things is to ensure that your sync progress will not be reset.
This new connector version should still be able to read any previously created STATE file.

## What can make a `STATE` not backward compatible:
If the developer changes the cursor field or the logic to update the cursor value, this

[2022-08-09 08:46] alafanechere opened #15440 "SAT: test STATE backward compatibility (semantic checks)"
## Tell us about the problem you're trying to solve
When upgrading a connector, one of the most important things is to ensure that your sync progress will not be reset.
This new connector version should still be able to read any previously created STATE file.

## What can make a `STATE` not backward compatible:
If the developer changes the cursor field or the logic to update the cursor value, this

[2022-08-09 08:46] alafanechere commented on #8057
closing in favor of:
* https://github.com/airbytehq/airbyte/issues/15439
* https://github.com/airbytehq/airbyte/issues/15440

[2022-08-09 08:46] #8057 closed

[2022-08-09 09:44] alafanechere opened #15441 "SAT: compute unit test coverage"
## Tell us about the problem you're trying to solve
(Not to be confused with https://github.com/airbytehq/airbyte/issues/7948)
When iterating on SAT I want to measure the coverage of unit tests I wrote to test the behavior of new SAT tests.

## Describe the solution you’d like
* Install `pytest-cov` on `source-acceptance-test`
* Add the `--cov` options by default to get coverage when running `pyth

[2022-08-09 09:44] alafanechere commented on #3686
Opened https://github.com/airbytehq/airbyte/issues/15441 for SAT

[2022-08-09 10:09] naveenpatnana opened #15442 "Unusual RAM usage by airbyte server"
## Environment
- **Airbyte version**:  0.35.15-alpha
- **OS Version / Instance**: Ubuntu 20.04.3 LTS
- **Deployment**: Docker

- **Step where error happened**: Deploy
- **Memory / Disk: 64 GB RAM

Airbyte-server is currently using 48 GB RAM on a 64 GB server. It starts with 2 GB of ram and gradually the usage is increasing. This is causing a serious problems as it is not leaving enough resources f

[2022-08-09 10:50] naveenpatnana commented on #15442
Hi @harshithmullapudi  it would super helpful if you can help in resolving this.

[2022-08-09 10:51] #14899 closed

[2022-08-09 11:20] rmuthu commented on #15391
Yes. source connector for vertica

On Mon, Aug 8, 2022 at 10:03 AM Harshith Mullapudi ***@***.***>
wrote:

--
*Rathika M*

[2022-08-09 11:59] lluisgassovillarejo commented on #8633
Hi! We want to connect to Shopify data, and I see there haven't been many updates for a while on this ticket. Is there a rough estimate of when this will become available in the Clou version?
Thanks!

[2022-08-09 13:07] marcosmarxm commented on #15386
Ow, @cgalliva maybe create an individual connection for these 2 streams and sync only one time a day as a workaround.

[2022-08-09 13:10] marcosmarxm commented on #15432
Thanks for the contribution @NipunaPrashan

[2022-08-09 13:14] davydov-d opened #15445 "Source TypeForm: fix SATs"
All tests should be enabled, otherwise a custom integration test should be implemented as a replacement for each disabled SAT

[2022-08-09 13:21] marcosmarxm opened #15447 "Bad Info in Connection State `cdc: false` when CDC is true"
## Environment
- **Airbyte version**:  0.39.41-alpha
- **OS Version / Instance**: MacOS
- **Deployment**: Docker
- **Source Connector and version**: Postgres 0.4.42
- **Destination Connector and version**: Postgres 0.3.21
- **Step where error happened**: Sync job

## Current Behavior
I'm using a very basic CDC local database to test and I saw that the connection state is saving the wrong informati

[2022-08-09 13:28] marcosmarxm opened #15448 "Display cursor field when using CDC"
Display some indication that there's a cursor for source-defined cursors instead of nothing. It can be as simple as a text that reads "Source-defined".

See [this comment below](https://github.com/airbytehq/airbyte/issues/15448#issuecomment-1239687687) on details of how we can identify a source-defined cursor.

How to setup a source with a source-defined cursor:
https://docs.airbyte.com/integratio

[2022-08-09 13:45] evantahler commented on #15423
Some additional notes:

* This would require keeping track of a mapping of the "real" state data and the hashes within the worker.  We don't need to store this hash-to-blob data for the whole sync, and can delete all earlier mappings for the stream/global once the destination has echoed back a later state message
* The Airbyte Protocol ([here](https://docs.airbyte.com/understanding-airbyte/airbyte

[2022-08-09 13:51] marcosmarxm commented on #15448
Zendesk ticket #[1849](https://airbyte7538.zendesk.com/agent/tickets/1849) has been linked to this issue.

[2022-08-09 13:51] marcosmarxm commented on #15448
*Comment made from Zendesk by Marcos Marx on 2022-08-09 at 13:51:*

<blockquote><div class="zd-comment" dir="auto">I created the issue in Github to implement this feature <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15448">https://github.com/airbytehq/airbyte/issues/15448</a><br></div></blockquote>

[2022-08-09 13:52] creativedutchmen commented on #6339
@grishick is there a version I can switch to that works?

[2022-08-09 13:58] StuartMiddleton opened #15449 "Source Trello: connector inconsistent run"
## Environment
- **Airbyte version**:  0.39.42-alpha
- **OS Version / Instance**: Linux (ubuntu 20.04)
- **Deployment**: Docker
- **Source Connector and version**: Trello 0.1.6
- **Destination Connector and version**: Snowflake 0.4.34
- **Step where error happened**: Sync job

## Current Behavior
Inconsistent behaviour with each run. May succeed or fail with no obvious reason.

## Expected Behavio

[2022-08-09 14:05] marcosmarxm opened #15450 "MySQL CDC: Not pulling data incrementally."
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1850](https://airbyte7538.zendesk.com/agent/tickets/1850)
**Priority:** normal
**Group:** Community Assistance Engineer
**Assignee:** Marcos Marx

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto"><ul style="margin: 0 0 0 10px; padding: 0 0 0 20px;" dir="auto">
<li style="padding-bottom: 10px;">Is this

[2022-08-09 14:05] marcosmarxm commented on #15450
*Comment made from Zendesk by Marcos Marx on 2022-08-08 at 19:29:*

<blockquote><div class="zd-comment" dir="auto">Please share one log example so it's possible to understand what is causing that, if it's missing a cursor etc.<br></div></blockquote>

[2022-08-09 14:05] marcosmarxm commented on #15450
*Comment made from Zendesk by Marcos Marx on 2022-08-08 at 20:36:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">here’s a link to the log</p>
<p dir="auto"><a href="https://github.com/airbytehq/airbyte/files/9283813/logs-32.txt" rel="noopener nofollow ugc noreferrer" style="color: #006699; font-weight: bold; text-decoration: none;">https://github.com/airbytehq/airbyte/files/9283813

[2022-08-09 14:05] marcosmarxm commented on #15450
*Comment made from Zendesk by Marcos Marx on 2022-08-08 at 20:51:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">I think it is missing a cursor because it shows null in the logs.<br>
CDC is set on the source<br>
</p><div><a href="https://aws1.discourse-cdn.com/business7/uploads/airbyte/original/2X/7/743e85049df74a26495ce013172df7be125d34fa.jpeg" title="183482049-954a7a5d-abfe-4772-

[2022-08-09 14:05] marcosmarxm commented on #15450
*Comment made from Zendesk by Marcos Marx on 2022-08-09 at 14:05:*

<blockquote><div class="zd-comment" dir="auto">I escalated the issue to Github to Airbyte team investigate the issue: <a rel="noopener noreferrer" href="https://github.com/airbytehq/airbyte/issues/15450">https://github.com/airbytehq/airbyte/issues/15450</a><br></div></blockquote>

[2022-08-09 14:24] mmoole commented on #8806
after reading this in the log:
[code]
and this issue: https://github.com/dbt-msft/dbt-sqlserver/issues/206
I deleted and re-created the database, but this time with all letters in lower case for database name, and schema name.
And voilà: now it's also working the second and more time to run a sync (Full refresh|Overwrite) 👍🤩

So the issue seems to be that normalization to lowercase letters is hand

[2022-08-09 14:32] dizel852 commented on #14990
Just checked on master - it seems like it works as should.

If we carefully look at @andyjih 's gif, we will notice that the "Save changes" action is not fully completed - we didn't get a response from the backend, and the "Save changes" button is in a loading state(grey out and spinner).  Applying changes process takes some time. And only after this process is completed, our replication settings

[2022-08-09 14:46] animer3009 commented on #15173
@natalyjazzviolin
Nope, we just asking for SSL support for Mariadb CS destination connector

[2022-08-09 14:50] Phlair commented on #15447
<img width="966" alt="Screenshot 2022-08-09 at 15 50 01" src="https://user-images.githubusercontent.com/27702686/183680669-d97cbabc-b6c6-4eb9-a3d9-d3772234a8e1.png">

Copying Subodh's answer from oncall issue. @marcosmarxm think we can close this (or maybe alter the issue to fix the bad info?)

[2022-08-09 15:00] zbrak opened #15456 "Destination GCs: add hive partitioning in paths"
## Tell us about the problem you're trying to solve
**Edit: the GCS connector 'Bucket Path' setup has similar (but incomplete) functionality to the S3 connector but is undocumented. Critically the S3 connector includes an option to terminate the path with a `/` - overriding existing ${namespace} and ${stream} values in the path. This screenshot shows the error thrown when trying to perform the sam

[2022-08-09 15:22] evantahler opened #15457 "Connectors expose their Airbyte Protocol version via an addition to SPEC"
Connectors expose their Airbyte Protocol version (not a range) via an addition to SPEC

related to #15940

[2022-08-09 15:23] evantahler opened #15458 "The Airbyte Platform is aware of the range of Airbyte Protocol versions it supports"

[2022-08-09 15:23] evantahler opened #15460 "Platform discovers the Airbyte Protocol version of a connector, if a connector doesn’t expose an Airbyte Protocol Version, the platform will assume it supports v0.2.0"

[2022-08-09 15:23] evantahler opened #15461 "Platform can support multiple versions of the protocol, allowing new connectors to be released progressively (rather than all-at-once)"

[2022-08-09 15:24] evantahler opened #15462 "Prevent upgrade of a connector if its protocol version is out of range"
## What

When updating to a new version of a connector, the platform will fail the update if the connector is using a version of the protocol that is ahead of the platform and notify the user at the same time

## How

* Check the protocol version we read from the Connector SPEC. If it is out of range, fail with an explicit message

[2022-08-09 15:24] evantahler opened #15463 "After a platform upgrade, the platform will disable the connections that are using a version of the Airbyte Protocol that is outside of the supported range"
After a platform upgrade, the platform will disable the connections that are using a version of the Airbyte Protocol that is outside of the supported range
* The UI should show the connections that have been disabled because of an incompatible version differently.
* Those connections cannot be reenabled until the version issues have been resolved

[2022-08-09 15:24] evantahler opened #15464 "The Airbyte platform can translate messages between its current version of the protocol back to the previous major version (and vice-versa)"

[2022-08-09 15:25] evantahler opened #15465 "Airbyte Users can see a changelog for the Airbyte Protocol (docs page)"
[PRD Link](https://docs.google.com/document/d/1RMCSZKt9GT_RMR0hI4jjb7WBcppkzTTQ87hPqSqzwT8/edit#heading=h.5bzrm83il6zx)

As the Airbyte Protocol gains multiple versions, we will need to document what the change are, and what effect those changes have on users and developers.  Do we keep links to the documentation of older version?

(excerpt from the PRD) The versions we predict we will have for th

[2022-08-09 15:25] natalyjazzviolin commented on #15173
Got it! I've triaged this to the appropriate team, so they should take it over from here!

[2022-08-09 15:31] tuliren opened #15466 "Do not log all field values in `AvroConversionException`"
Currently the error message in `tech.allegro.schema.json2avro.converter.AvroConversionException` shows all the offending field values. This is an explicit choice because without the full values, it was hard to debug many of the type conversion issues. However, the message may contain production data from the users, and most of the type conversion bugs have been squashed.

We can log fewer amount o

[2022-08-09 15:32] natalyjazzviolin commented on #15393
Got it, thank you for the in-depth reply!

[2022-08-09 15:48] girarda opened #15467 "[low-code connectors] Protect top-level namespace in yaml file"
## Tell us about the problem you're trying to solve
Developers can define reusable objects at the top level of the yaml file, which will make it harder to extend the protocol in a backward-compatible way.

## Describe the solution you’d like
We should move top-level definitions from the top-level namespace to a clearly defined structure.

Proposal:
Add a top-level field `definitions` similar what

[2022-08-09 15:55] sajarin commented on #15449
@StuartMiddleton would it be possible to be more specific? What do you mean by inconsistent runs? What differences have you noticed between different sync attempts?

[2022-08-09 16:34] StuartMiddleton commented on #15449
@sajarin not a lot really. Here's the sequence of events:
* The connection was working, I changed the output tables, and then it didn't.
* I returned the output tables back to what they were and it failed again.
* I created a new connection with the same details. It failed twice and then ran successfully on the third attempt (i.e. 2nd retry).

I can provide the logs of the successful attempt vs. t

[2022-08-09 17:09] tuliren commented on #15381
Solution: copy what Postgres temporal processing logic to MySQL, and DRY the code if necessary.

[2022-08-09 17:11] tuliren commented on #15381
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/15381?planning-poker) with ZenHub @ryankfu @edgao @subodh1810 @rodireich

[2022-08-09 17:12] zbrak commented on #15456
Have updated issue with new details presented to me:

**Edit: the GCS connector 'Bucket Path' setup has similar (but incomplete) functionality to the S3 connector but is undocumented. Critically the S3 connector includes an option to terminate the path with a / - overriding existing {stream} values in the path. This screenshot shows the error thrown when trying to perform the same functionality in

[2022-08-09 17:17] andyjih commented on #14990
Do you happen to know what the backend is doing before sending a response?

[2022-08-09 17:25] tuliren commented on #15381
This issue is already covered in https://github.com/airbytehq/airbyte/issues/14628

[2022-08-09 17:25] alafanechere commented on #15439
grooming note:
* Keep check 1 only
* changing state keys might not be an obvious breaking change, but for safety we could make the test fail if they change
* runtime duration issue: check what's already existing (two_sequential_read, read_sequential_slices)
* use cassette to cache existing requests?
* Check 1 is quite straightforward
* Check 2 has moving parts
* Use sample-state.json
* Cache state

[2022-08-09 17:27] dizel852 commented on #14990
No, to be honest  🤷🏻‍♂️

[2022-08-09 17:33] tuliren commented on #8210
This is probably an outdated issue. We already have data type tests ensuring that the binary columns are outputted in base64 string.

Also this data type doc suggests to use the raw binary encoding from the source side:
https://docs.google.com/document/d/1FupBVPMlDTU2QnEOxN42BKvdWk-Yha8604MnU5EmDRQ/edit#heading=h.5y0jyqxpv6l

[2022-08-09 17:33] #8210 closed

[2022-08-09 17:36] tuliren commented on #8904
@alexandr-shegeda, is GL working on the destination changes as well?

[2022-08-09 17:39] tuliren commented on #14042
@VitaliiMaltsev, are you still working on this issue?

[2022-08-09 17:42] tuliren commented on #13912
There are already two PRs related to this issue:
https://github.com/airbytehq/airbyte/pull/14356
https://github.com/airbytehq/airbyte/pull/15317

[2022-08-09 17:47] alafanechere commented on #15440
grooming note:
* Could provide better guarantees compared to #15439
* Do not allow easy bypass of semantic check
* Assess if syntactic validation is often bypassed while semantic tests are passing -> this means the syntactic validation is too restrictive
* Check how syntactic validation behaves in the wild before semantic implementation

[2022-08-09 17:49] tuliren commented on #4695
The common library is already upgraded to Debezium 1.9.2. The prerequisite work is done for Oracle.

[2022-08-09 17:49] #4695 closed

[2022-08-09 17:51] tuliren commented on #13781
This issue depends on https://github.com/airbytehq/airbyte/issues/15248.

[2022-08-09 17:51] tuliren commented on #15248
This issue blocks https://github.com/airbytehq/airbyte/issues/13781.

[2022-08-09 17:54] tuliren commented on #13781
TODOs:
- Non CDC: emit per-stream state
- CDC: emit per-stream state

[2022-08-09 17:57] girarda commented on #15467
grooming notes:
* it might be enough at first to only tell people not to define components at the top level
* the top level namespace will 3 fields ["streams", "check", "definitions"]
* we could hack the schema validation to ensure there are no custom top-level fields
* @girarda create a ticket to ensure this gets incorporated into the json schema

[2022-08-09 18:01] tuliren commented on #13781
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Database-and-Warehouse-Connectors-6258a559d235e00013bec81c/issues/airbytehq/airbyte/13781?planning-poker) with ZenHub @ryankfu @subodh1810 @edgao @rodireich

[2022-08-09 18:11] nataliekwong commented on #10637
I ran into this today when setting up a new connection with a custom namespace. Instead of showing me the custom namespace I noted in the settings, it showed me <destination schema>.

![Screen Shot 2022-08-09 at 8 08 57 PM](https://user-images.githubusercontent.com/38087517/183728534-b6dc8e10-239c-4eac-89d2-403cd5d191e2.png)

Is it worth splitting this out into its own issue?

[2022-08-09 18:16] UsmanAli99 commented on #15182
For the developer test HubSpot account **deals** stream is unavailable.

[2022-08-09 18:22] suman9730 opened #15470 "Helm deployment error: "can't get a valid version for repositories" on AWS EKS"
## Environment
- **Airbyte version**:  0.39.41-alpha
- **OS Version / Instance**: Windows 10
- **Deployment**: helm deployment on AWS EKS
- **Source Connector and version**: N/A
- **Destination Connector and version**: N/A
- **Step where error happened**: Deploy

## Current Behavior
I am trying helm deployment of AirByte on AWS EKS cluster using following commands.
$ helm repo add bitnami https://

[2022-08-09 18:23] tuliren opened #15471 "Store database catalog for Debezium"
## Summary
- To enable per-stream state for CDC for MySQL and MSSQL, we need to store the database catalog.
  - This was not required for Postgres CDC.
- This blocks https://github.com/airbytehq/airbyte/issues/13781.

[2022-08-09 18:28] #13186 closed

[2022-08-09 18:33] alovew opened #15472 "Track number_of_streams in connector_jobs segment tracking"
In order to gather data about connector checkpointability, we are gathering metrics about connector state message performance. One piece of data we need in order to calculate this performance is number_of_streams for a particular connection job.

We have Segment tracking for job attempt data tracked in `JobTracker.java`.  The `trackSync` method is called to track data about each sync attempt. numb

[2022-08-09 18:36] alovew opened #15473 "Track count_state_messages_from_source and count_state_messages_from_destination"
In order to gather data about connector checkpointability, we are gathering metrics about connector state message performance. One goal is to learn how many state messages are emitted from both the source and destination connectors, so two new data points should be tracked: count_state_messages_from_source and count_state_messages_from_destination.

These should be calculated in the `AirbyteMessag

[2022-08-09 18:38] alovew opened #15474 "Track max_time_before_receiving_state_message and mean_time_before_receiving_state_message"
In order to gather data about connector checkpointability, we are gathering metrics about connector state message performance. One goal is to learn how long it takes to receive state messages from the source connector, so two new data points should be tracked: max_time_before_receiving_state_message and mean_time_before_receiving_state_message

These should be calculated in the AirbyteMessageTrack

[2022-08-09 18:40] alovew opened #15475 "Track max_time_between_state_message_and_commit and mean_time_between_state_message_and_commit"
In order to gather data about connector checkpointability, we are gathering metrics about connector state message performance. One goal is to learn how long it takes for destinations to commit data that they receive from the source, so two new data points should be tracked: max_time_between_state_message_and_commit and mean_time_between_state_message_and_commit.

These should be calculated in the

[2022-08-09 18:44] yash-ghelani-dsw opened #15476 "Mysql source connector stops abruptly after reading 2-3 lakh rows"
Environment
Airbyte version: 0.39.36-alpha
OS Version / Instance: AWS EC2(Ubuntu 18.04)
Deployment: Docker
Source Connector and version: mysql (0.6.0)
Destination Connector and version: Postgres(0.3.21)
Step where error happened: Sync job
Current Behavior: it shows error in the middle of sync job (after reading 2-3 lakh rows)
I am trying to trans
[logs-36.txt](https://github.com/airbytehq/airbyte/

[2022-08-09 18:49] marcosmarxm commented on #8806
*Comment made from Zendesk by Marcos Marx on 2022-08-09 at 18:49:*

<blockquote><div class="zd-comment" dir="auto">@mmoole can you check the comment below:<br><blockquote><p dir="auto">I deleted and re-created the database, but this time with all letters in lower case for database name, and schema name.<br>And voilà: now it's also working the second and more time to run a sync (Full refresh|Overwr

[2022-08-09 18:58] #15445 closed

[2022-08-09 19:12] marcosmarxm commented on #15182
@UsmanAli99 where did you saw that?

[2022-08-09 19:14] marcosmarxm commented on #15476
@yash-ghelani-dsw the log you shared doesn't contain any error. Could you check if you share the correct file?

[2022-08-09 19:18] krishnaglick commented on #13230
I'd love it if CI ran our `npm run lint` since I've just included stylelint in that command.

[2022-08-09 19:19] yash-ghelani-dsw commented on #15476
It shows error after 4,82,000 data read:
Schema validation errors found for stream testmain_data. Error messages: [$._ab_cdc_deleted_at is of an incorrect type. Expected it to be string]
2022-08-09 18:14:25 [32mINFO[m

[2022-08-09 19:35] natalyjazzviolin commented on #14441
@danielmay-whoop no ETA yet, but the connector team is aware of the issue!

[2022-08-09 19:40] andyjih commented on #14990
What's interesting is if I refresh the page, the newly saved configuration is there, so it suggests to me that the configuration is saved even if the backend has given a response yet. Is that correct?

[2022-08-09 19:49] lazebnyi opened #15479 "Source Zendesk Chat: support oauth"
## Tell us about the problem you're trying to solve
With the release of Airbyte Cloud, we need to start supporting Oauth for this connector, since it's the recommended way of authenticating users into a SaaS application.

If this connector doesn't support oauth already (i.e: doesn't accept a client_id and client_secret) then we need to update its spec to accept those parameters. There are two ways

[2022-08-09 19:58] lazebnyi opened #15480 "[EPIC] Source Chargebee to Beta"
## The main purpose of this issue is to track release progress for the connector.

### According to [checklist]():

- MLP improvements:

- All outstanding bug reports blocking Beta:
   - [ ]

<details><summary><strong>Acceptance criteria </strong></summary>

- [x] Create a checklist document that should rbe placed on the [Google Drive](https://drive.google.com/drive/folders/1qOzblo8xiBJc8AiK4AyuDT

[2022-08-09 19:59] andyjih commented on #9673
@evantahler It did not, no.

[2022-08-09 20:19] Amruta-Ranade commented on #14309
Fixed in https://github.com/airbytehq/airbyte/pull/15392

[2022-08-09 20:19] #14309 closed

[2022-08-09 20:21] marcosmarxm commented on #15476
This is only a warning. Please post the complete file for debugging.

[2022-08-09 20:26] xpuska513 commented on #15470
Hi, for using new Helm charts, please refer to [this](https://docs.airbyte.com/deploying-airbyte/on-kubernetes-via-helm#adding-helm-repository) doc

[2022-08-09 20:27] xpuska513 commented on #15470
You don't need to clone the oss repo anymore for that, also the reason it didn't found any charts in repo is because we set version values to "placeholder" so it won't interfere with our CI release workflow

[2022-08-09 20:27] Amruta-Ranade opened #15482 "Documentation: Rewrite the Airbyte OSS Quickstart"
**Note:** If you'd like to work on this issue, please read the [Docs Contributor guide](https://docs.airbyte.com/contributing-to-airbyte/updating-documentation) and comment on the issue to confirm it is still up for grabs.

The current [Airbyte OSS Quickstart](https://docs.airbyte.com/category/airbyte-open-source-quickstart) isn't user-centric since it spans several pages that requires multiple cl

[2022-08-09 20:36] Amruta-Ranade opened #15483 "Documentation: Change all instances of Airbyte OSS to Airbyte Open Source"
**Note:** If you'd like to work on this issue, please read the [Docs Contributor guide](https://docs.airbyte.com/contributing-to-airbyte/updating-documentation) and comment on the issue to confirm it is still up for grabs.

**To-Do:** Change all instances of Airbyte OSS to Airbyte Open Source across all Docs

[2022-08-09 20:37] sherifnada commented on #2119
@grubberr I don't think so? Up to @YowanR or @misteryeo what the UX here should be. Maybe we should just keep the UX as-is.

[2022-08-09 20:52] suman9730 commented on #15470
Ran following commands for default installation, but no luck:
$ helm repo add airbyte https://airbytehq.github.io/helm-charts
$ helm repo update
$ helm install --namespace "ns-0026-idl"  --debug  --wait  --timeout "600s" test-airbyte airbyte/airbyte
install.go:178: [debug] Original chart version: ""
install.go:195: [debug] CHART PATH: C:\Users\ssss\AppData\Local\Temp\1\helm\repository\airbyte-0.34

[2022-08-09 21:07] #14595 closed

[2022-08-09 21:22] nehanawar025 commented on #15483
Hello . Please assign this to me. I am new to open source .That is why I am willing to start with typos or documentation.

[2022-08-09 21:40] Amruta-Ranade commented on #15483
Done! Let me know if you need help :)

[2022-08-09 21:55] nehanawar025 commented on #15483
I am confused about  if I have to check all the folders or only the 'docs' folder of airbyte .
Please help.

[2022-08-09 21:56] YowanR commented on #10901
I will take a stab at this and will update once I have updated instructions

[2022-08-09 21:58] Amruta-Ranade commented on #15483
Just the docs folder

[2022-08-09 22:05] Skar019 commented on #15483
Please I want to contribute to an open source project for the first time, can you assign me

[2022-08-09 22:11] #15320 closed

[2022-08-09 22:29] girarda opened #15487 "parsing config based connector definition should fail more aggressively on unknown keywords"
## Tell us about the problem you're trying to solve
Unknown keywords passed to a component are currently silently ignored. Failing loudly will make it easier for us to catch and correct drift between the schema and the connector implementation. This will ensure we detect out of date connectors.

Note that this is in contrast with how we want to handle unknown keywords in connection configs.

## De

[2022-08-09 22:33] dizel852 commented on #14990
Yes, that's right. I guess under the hood of "Save changes" we involve multiple steps, like:
1. Update selected streams list
2. Reset schema
3. Run sync job
4. Other possible steps...

So when all steps are passed finally, we get the response that the "save changes" operation is completely finished.
I'm pretty sure it was made intentionally since we guarantee that the "save changes" operation is c

[2022-08-09 22:33] #15441 closed

[2022-08-09 22:52] nehanawar025 commented on #15483
I have made all the changes. Please consider reviewing. Thank you for assigning this to me.

[2022-08-09 22:54] rodireich commented on #6985
UI for source-mysql ssl information:
1. Disabled mode:
<img width="1096" alt="Screen Shot 2022-08-09 at 3 48 20 PM" src="https://user-images.githubusercontent.com/867491/183775281-c8e6c81c-34ff-4dab-91b5-52546fca3fc4.png">
2. Preferred
<img width="1024" alt="Screen Shot 2022-08-09 at 3 40 03 PM" src="https://user-images.githubusercontent.com/867491/183775334-430b43e7-dc0d-4366-a37e-5055c5205e02.pn

[2022-08-09 23:05] nehanawar025 commented on #15483
I am sorry as it was my first time . I thought I have to make every Airbyte OSS to Airbyte Open Source in docs folder.

[2022-08-09 23:13] andyjih commented on #15371
I think for now, showing the Catalog changes is ok. I'm going on the assumption that users who are setting up multiple connections with the same Source will understand that the schema is tied to the source and not the Connection.

[2022-08-09 23:20] julienfouilhe commented on #3323
@igrankova I'm sorry to comment on a closed issue, but it's been closed as completed but I can't find the firestore source in Airbyte's list, is that normal?
I'd be happy to contribute a Firestore source but I wanted to ensure it's not already done. Thanks!

[2022-08-09 23:30] andyjih commented on #14990
I think showing an additional loading indicator seems correct to me. @timroes do you have opinions here?

For a future github issue, I think we'll want a way to communicate with users that the configuration was saved, but background jobs are still happening.

[2022-08-10 02:04] yagehu opened #15498 "`airbyte/normalization` arm64 image bad exec format"
## Environment
- **Airbyte version**:  0.39.42-alpha
- **OS Version / Instance**: AWS EKS-managed node group with AL2_ARM_64 image.
- **Deployment**: Deployed EKS cluster with ARM64 node group
- **Source Connector and version**: Official GitHub source connector
- **Destination Connector and version**: Official alpha PostgreSQL destination connector
- **Step where error happened**: Sync with basic

[2022-08-10 03:10] yagehu commented on #15498
I think this is where the image gets built and pushed: https://github.com/airbytehq/airbyte/blob/e8146e5ec24b87222252aa1b5cd146b23a706c7e/tools/integrations/manage.sh#L266.

It seems like `airbyte/normalization` is built differently than other images with `--set "*.platform=$build_arch"`. This might be the reason.

[2022-08-10 03:28] tuliren commented on #14732
TODOs for storing the number of records that has the cursor value:
- [ ] Merge state fix https://github.com/airbytehq/airbyte/pull/15496
- [ ] Change `additionalProperties` to `true` for `DbStreamState`
- [ ] Publish all JDBC connectors with the above change as a fallback version
  - If the state change has any bug, users can downgrade to this version
- [ ] Update `StateDecoratingIterator` to emit

[2022-08-10 05:03] xpuska513 commented on #15470
Can you describe the bootloader pod?
And kubectl logs too

[2022-08-10 06:23] sherifnada opened #15500 "Google Sheets destination fails when writing a cell value larger than 5000 characters long"
## Environment
- **Source Connector and version**: Github
- **Destination Connector and version**: Google Sheets 0.1.1

## Current Behavior
The destination fails when writing a cell value containing more than 50k characters

## Expected Behavior
I would expect the destination to truncate any values which are about to be larger than 50k characters.

Alternatively I'll take column selection in the p

[2022-08-10 07:03] igrankova commented on #3323
hi, @julienfouilhe, as I see, we have a destination Firestore, but no source.
@YowanR we have a new contribution offered. can you help with the steps what to do, because I'm not in this process.

[2022-08-10 07:17] #12509 closed

[2022-08-10 07:18] yurii-bidiuk commented on #12509
`testSyncNotFailsWithNewFields()` is passed for all destination except `destination-aws-datalake`. It fails on CI when we verify that number of written messages is the same as was intended. But on the local env this test is passed

[2022-08-10 08:02] Santhin commented on #13081
My solution was to use fleet Workload Identity

These links gave me glimpse to create a little PoC with a working workload identity
https://cloud.google.com/anthos/fleet-management/docs/use-workload-identity
https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity
https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/blob/31eb25ddfe20a8d38fd67e44bff9d5f16b6a503b/cloud-pu

[2022-08-10 08:22] VitaliiMaltsev commented on #14042
@tuliren no. I can not reproduce it with latest source-postgres and destination-snowflake

[2022-08-10 09:17] muutech commented on #2119
I have to agree that currently is not possible or I did not find how to pass some parameters requiring lists, dict, callable etc, for instance: parse_dates, https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

[2022-08-10 10:25] igrankova commented on #6189
App Publication blocked by Uninstallation flow implementation - [EPIC](https://github.com/airbytehq/airbyte/issues/8750)

[2022-08-10 10:26] jlcases opened #15505 "Error setting up a github connection"
## Environment

- **Airbyte version**: 0.39.41.alpha
- **OS Version / Instance**: instance in Google Cloud [debian-10-buster-v20220719]
- **Deployment**: Docker in Google Cloud
- **Source Connector and version**: Github 0.2.42
- **Destination Connector and version**: 0.2.9. Google Cloud storage
- **Step where error happened**: Set up new connection

Error:
Failed to fetch schema. Please try again

[2022-08-10 10:50] yash-ghelani-dsw commented on #15476
This was the error shown on airbyte:
Failure origin: Something went wrong during replication

[logs-37.txt](https://github.com/airbytehq/airbyte/files/9297666/logs-37.txt)

[2022-08-10 10:55] #10350 closed

[2022-08-10 11:01] yurii-bidiuk commented on #659
We need to implement our custom logger described [here](https://github.com/airbytehq/airbyte/issues/659#issuecomment-1205054681) based on SLF4J API. It will be a logger adapter like [Reload4jLoggerAdapter](https://www.slf4j.org/apidocs//src-html/org/slf4j/reload4j/Reload4jLoggerAdapter.html) or [JDK14LoggerAdapter](https://github.com/qos-ch/slf4j/blob/master/slf4j-jdk14/src/main/java/org/slf4j/jul

[2022-08-10 11:40] vijaybridgeme opened #15507 "Source Facebook Marketing: add `leads` stream"
## Tell us about the problem you're trying to solve
https://developers.facebook.com/docs/marketing-api/guides/lead-ads/retrieving

This is facebook leads data. It shows in Facebook Ads page like this:

See attached image.

It is not clear if Airbyte downloads this data. It is probably not part of AdsInsight. Can you please confirm oneway or another and enable syncing that data.

- Is this your fir

[2022-08-10 11:56] arsenlosenko opened #15508 "Source File: Improve unit test coverage to 90%"
Currently unit test coverage is around 59%:

[code]
In order to get this connector certified, the coverage should be at least 90%

[2022-08-10 12:28] ilkkapeltola opened #15509 "Source Stripe: sync modified objects, not only created"
## Tell us about the problem you're trying to solve
I want to ensure all of my Stripe data is cloned, up-to-date, in my data warehouse.
But Stripe API doesn't allow records to be filtered based on the date they were modified.
The current Stripe connector allows you to choose N days to always refresh, but we have data that gets updated e.g. 180 days after creation (and more). If I would use 180 in

[2022-08-10 12:57] #8130 closed

[2022-08-10 13:00] marcosmarxm commented on #15476
@yash-ghelani-dsw this is the reason of failure and it's not super clear. How much memory/disk you have in your EC2 instance?
[code]

[2022-08-10 13:10] suman9730 commented on #15470
**$ kubectl describe pod test-airbyte-airbyte-bootloader -n ns-0026-idl**
Name:                 test-airbyte-airbyte-bootloader
Namespace:            ns-0026-idl
Priority:             2000001000
Priority Class Name:  system-node-critical
Node:                 fargate-ip-10-2-5-222.ec2.internal/10.2.5.222
Start Time:           Tue, 09 Aug 2022 15:41:49 -0500
Labels:               app.airbyte.io/ful

[2022-08-10 13:26] davydov-d commented on #8817
moving to On hold since OAuth implementation is blocked and so is certification

[2022-08-10 13:27] davydov-d commented on #13877
certification is blocked since oauth implementation is blocked

[2022-08-10 13:41] marcosmarxm commented on #15447
I updated to bad info, I prefer to check and correct that in the future

[2022-08-10 13:44] marcosmarxm commented on #15410
@ajatau no it's not possible.

[2022-08-10 13:59] davidfromtandym commented on #15339
Hi @natalyjazzviolin .. just curious if you'd been able to reproduce the issue. I can provide more details if it's helpful.